{
  "smithy": "2.0",
  "metadata": {
    "service": "firebaseapphosting",
    "version": "v1beta",
    "title": "Firebase App Hosting API",
    "baseUrl": "https://firebaseapphosting.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebaseapphosting_v1beta#ManagedResource": {
      "type": "structure",
      "members": {
        "runService": {
          "target": "com.gcp.firebaseapphosting_v1beta#RunService",
          "traits": {
            "smithy.api#documentation": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An external resource managed by App Hosting on the project."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#RolloutPolicy": {
      "type": "structure",
      "members": {
        "codebaseBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen."
          }
        },
        "ignoredPaths": {
          "target": "com.gcp.firebaseapphosting_v1beta#PathList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```"
          }
        },
        "requiredPaths": {
          "target": "com.gcp.firebaseapphosting_v1beta#PathList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy."
          }
        },
        "disabledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy for how automatic builds and rollouts are triggered and rolled out."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#PathList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Path"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.firebaseapphosting_v1beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Operation"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListBackendsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the next page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "backends": {
          "target": "com.gcp.firebaseapphosting_v1beta#BackendList",
          "traits": {
            "smithy.api#documentation": "The list of backends"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to list backends"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BackendList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Backend"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ContainerSource": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A URI representing a container for the backend to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#TrafficSet": {
      "type": "structure",
      "members": {
        "splits": {
          "target": "com.gcp.firebaseapphosting_v1beta#TrafficSplitList",
          "traits": {
            "smithy.api#documentation": "Required. The list of traffic splits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of traffic splits that together represent where traffic is being routed."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#TrafficSplitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#TrafficSplit"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.firebaseapphosting_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.firebaseapphosting_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.firebaseapphosting_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Rollout": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.firebaseapphosting_v1beta#RolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the rollout."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that the Rollout currently has an LRO."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the rollout was deleted."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the rollout was created."
          }
        },
        "annotations": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
          }
        },
        "error": {
          "target": "com.gcp.firebaseapphosting_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name. 63 character limit."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the rollout was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that can be used to organize and categorize objects."
          }
        },
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single rollout of a build for a backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#RolloutStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "PENDING_BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_BUILD"
          }
        },
        "PROGRESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRESSING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Config": {
      "type": "structure",
      "members": {
        "effectiveEnv": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`"
          }
        },
        "runConfig": {
          "target": "com.gcp.firebaseapphosting_v1beta#RunConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
          }
        },
        "env": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configuration of the backend for this build."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariable"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BackendRuntime": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value of the runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime is a string that represents the runtime that is used to build the backend. Users can specify one of the following runtimes: nodejs20, nodejs22, nodejs24, nodejs. Runtime \"nodejs\" means that nodejs version will be determined at build time. If not specified or specified with a value that is not in the list above, the default runtime `nodejs` will be used and Automatic Base Image Updates will be disabled."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.firebaseapphosting_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Location"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadata": {
      "type": "structure",
      "members": {
        "certState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataCertStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete."
          }
        },
        "ownershipState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataOwnershipStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete."
          }
        },
        "hostState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataHostStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete."
          }
        },
        "issues": {
          "target": "com.gcp.firebaseapphosting_v1beta#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate."
          }
        },
        "liveMigrationSteps": {
          "target": "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime."
          }
        },
        "quickSetupUpdates": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsUpdatesList",
          "traits": {
            "smithy.api#documentation": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional metadata for operations on custom domains."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataCertStateEnum": {
      "type": "enum",
      "members": {
        "CERT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE_UNSPECIFIED"
          }
        },
        "CERT_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PREPARING"
          }
        },
        "CERT_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_VALIDATING"
          }
        },
        "CERT_PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROPAGATING"
          }
        },
        "CERT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ACTIVE"
          }
        },
        "CERT_EXPIRING_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRING_SOON"
          }
        },
        "CERT_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRED"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataOwnershipStateEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE_UNSPECIFIED"
          }
        },
        "OWNERSHIP_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISSING"
          }
        },
        "OWNERSHIP_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNREACHABLE"
          }
        },
        "OWNERSHIP_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISMATCH"
          }
        },
        "OWNERSHIP_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_CONFLICT"
          }
        },
        "OWNERSHIP_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PENDING"
          }
        },
        "OWNERSHIP_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadataHostStateEnum": {
      "type": "enum",
      "members": {
        "HOST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE_UNSPECIFIED"
          }
        },
        "HOST_UNHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNHOSTED"
          }
        },
        "HOST_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNREACHABLE"
          }
        },
        "HOST_NON_FAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_NON_FAH"
          }
        },
        "HOST_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CONFLICT"
          }
        },
        "HOST_WRONG_SHARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_WRONG_SHARD"
          }
        },
        "HOST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Status"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#LiveMigrationStep"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsUpdatesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#DnsUpdates"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#SupportedRuntime": {
      "type": "structure",
      "members": {
        "decommissionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this runtime will be decommissioned. After this date, the runtime can no longer be used for new builds."
          }
        },
        "automaticBaseImageUpdatesSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if Automatic Base Image Updates (ABIU) is supported for this runtime."
          }
        },
        "deprecateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this runtime will effectively be deprecated. After this date, the runtime is still usable but may not receive new features or updates."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the supported runtime. Format: projects/{project}/locations/{location}/supportedRuntimes/{runtime_id}"
          }
        },
        "runtimeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the runtime, e.g., \"nodejs22\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single FAH supported runtime. Although instances of this resource are parented by a project and location, the set of available runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Domain": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`."
          }
        },
        "annotations": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations as key value pairs."
          }
        },
        "serve": {
          "target": "com.gcp.firebaseapphosting_v1beta#ServingBehavior",
          "traits": {
            "smithy.api#documentation": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which a soft-deleted domain will be purged, rendering in permanently deleted."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the domain was last updated."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "customDomainStatus": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type."
          }
        },
        "type": {
          "target": "com.gcp.firebaseapphosting_v1beta#DomainTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the domain."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the domain is disabled. Defaults to false."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the domain was deleted."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the domain was created."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain name that is associated with a backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DomainTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CodebaseSource": {
      "type": "structure",
      "members": {
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the change was made."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch in the codebase to build from, using the latest commit."
          }
        },
        "commit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit in the codebase to build from."
          }
        },
        "commitMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The message of a codebase change."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full SHA-1 hash of a Git commit, if available."
          }
        },
        "author": {
          "target": "com.gcp.firebaseapphosting_v1beta#UserMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. The author contained in the metadata of a version control change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A codebase source, representing the state of the codebase that the build will be created at."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Build": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.firebaseapphosting_v1beta#BuildSource",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The source for the build."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The environment name of the backend when this build was created."
          }
        },
        "config": {
          "target": "com.gcp.firebaseapphosting_v1beta#Config",
          "traits": {
            "smithy.api#documentation": "Optional. Additional configuration of the service."
          }
        },
        "state": {
          "target": "com.gcp.firebaseapphosting_v1beta#BuildStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the build."
          }
        },
        "buildLogsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location of the [Cloud Build logs](https://cloud.google.com/build/docs/view-build-results) for the build process."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the build was deleted."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the build was created."
          }
        },
        "errorSource": {
          "target": "com.gcp.firebaseapphosting_v1beta#BuildErrorSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use `errors` instead. The source of the error for the build, if in a `FAILED` state."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the build. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name. 63 character limit."
          }
        },
        "annotations": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
          }
        },
        "error": {
          "target": "com.gcp.firebaseapphosting_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use `errors` instead. A status and (human readable) error message for the build, if in a `FAILED` state."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the build was last updated."
          }
        },
        "errors": {
          "target": "com.gcp.firebaseapphosting_v1beta#Firebaseapphosting_ErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of all errors that occurred during an App Hosting build."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that can be used to organize and categorize objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BuildStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "BUILT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILT"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BuildErrorSourceEnum": {
      "type": "enum",
      "members": {
        "ERROR_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_SOURCE_UNSPECIFIED"
          }
        },
        "CLOUD_BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_BUILD"
          }
        },
        "CLOUD_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RUN"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Firebaseapphosting_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Firebaseapphosting_Error"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Traffic": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the backend was created."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list."
          }
        },
        "target": {
          "target": "com.gcp.firebaseapphosting_v1beta#TrafficSet",
          "traits": {
            "smithy.api#documentation": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that can be used to organize and categorize objects."
          }
        },
        "rolloutPolicy": {
          "target": "com.gcp.firebaseapphosting_v1beta#RolloutPolicy",
          "traits": {
            "smithy.api#documentation": "A rollout policy specifies how new builds and automatic deployments are created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the backend was last updated."
          }
        },
        "current": {
          "target": "com.gcp.firebaseapphosting_v1beta#TrafficSet",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
          }
        },
        "annotations": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls traffic configuration for the backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BuildSource": {
      "type": "structure",
      "members": {
        "codebase": {
          "target": "com.gcp.firebaseapphosting_v1beta#CodebaseSource",
          "traits": {
            "smithy.api#documentation": "A codebase source."
          }
        },
        "archive": {
          "target": "com.gcp.firebaseapphosting_v1beta#ArchiveSource",
          "traits": {
            "smithy.api#documentation": "An archive source."
          }
        },
        "locallyBuilt": {
          "target": "com.gcp.firebaseapphosting_v1beta#LocallyBuiltSource",
          "traits": {
            "smithy.api#documentation": "A source that was pre-built locally."
          }
        },
        "container": {
          "target": "com.gcp.firebaseapphosting_v1beta#ContainerSource",
          "traits": {
            "smithy.api#documentation": "An Artifact Registry container image source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source for the build."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordSet": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain name the record set pertains to."
          }
        },
        "records": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. Records on the domain."
          }
        },
        "checkError": {
          "target": "com.gcp.firebaseapphosting_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. An error App Hosting services encountered when querying your domain's DNS records. Note: App Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of DNS records relevant to the setup and maintenance of a custom domain in App Hosting."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#DnsRecord"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.firebaseapphosting_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#DocumentMap"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ArchiveSource": {
      "type": "structure",
      "members": {
        "userStorageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy."
          }
        },
        "author": {
          "target": "com.gcp.firebaseapphosting_v1beta#SourceUserMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional message that describes the uploaded version of the source code."
          }
        },
        "rootDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file."
          }
        },
        "externalSignedUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed URL to an archive in a storage bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URI of an storage archive or a signed URL to use as the build source."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Backend": {
      "type": "structure",
      "members": {
        "runtime": {
          "target": "com.gcp.firebaseapphosting_v1beta#BackendRuntime",
          "traits": {
            "smithy.api#documentation": "Optional. The runtime that the backend will be built on. A default base_image will be chosen for a given runtime."
          }
        },
        "overrideEnv": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Override environment variables for this Backend."
          }
        },
        "codebase": {
          "target": "com.gcp.firebaseapphosting_v1beta#Codebase",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "requestLogsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the backend was created."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the backend was deleted."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The primary URI to communicate with the backend."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that can be used to organize and categorize objects."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions."
          }
        },
        "automaticBaseImageUpdatesDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. automatic_base_image_updates_disabled acts as a way for users to opt out of ABIU."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the backend was last updated."
          }
        },
        "servingLocality": {
          "target": "com.gcp.firebaseapphosting_v1beta#BackendServingLocalityEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS)."
          }
        },
        "managedResources": {
          "target": "com.gcp.firebaseapphosting_v1beta#ManagedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of the resources managed by this backend."
          }
        },
        "annotations": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name. 63 character limit."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `environment` instead."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backend is the primary resource of App Hosting."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BackendServingLocalityEnum": {
      "type": "enum",
      "members": {
        "SERVING_LOCALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_LOCALITY_UNSPECIFIED"
          }
        },
        "REGIONAL_STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_STRICT"
          }
        },
        "GLOBAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL_ACCESS"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ManagedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#ManagedResource"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListBuildsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the next page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "builds": {
          "target": "com.gcp.firebaseapphosting_v1beta#BuildList",
          "traits": {
            "smithy.api#documentation": "The list of builds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to list builds."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#BuildList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Build"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#RunConfig": {
      "type": "structure",
      "members": {
        "memoryMib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs"
          }
        },
        "concurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000."
          }
        },
        "maxInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits."
          }
        },
        "cpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB"
          }
        },
        "minInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecord": {
      "type": "structure",
      "members": {
        "requiredAction": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordRequiredActionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set."
          }
        },
        "type": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The record's type, which determines what data the record contains."
          }
        },
        "relevantState": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordRelevantStateItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`."
          }
        },
        "rdata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files)."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordRequiredActionEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordRelevantStateItemEnum": {
      "type": "enum",
      "members": {
        "CUSTOM_DOMAIN_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DOMAIN_STATE_UNSPECIFIED"
          }
        },
        "HOST_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE"
          }
        },
        "OWNERSHIP_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE"
          }
        },
        "CERT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordRelevantStateItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordRelevantStateItemEnum"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Codebase": {
      "type": "structure",
      "members": {
        "rootDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connection to an external source repository to watch for event-driven updates to the backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsUpdates": {
      "type": "structure",
      "members": {
        "desired": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordSetList",
          "traits": {
            "smithy.api#documentation": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain."
          }
        },
        "checkTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time App Hosting checked your custom domain's DNS records."
          }
        },
        "discovered": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordSetList",
          "traits": {
            "smithy.api#documentation": "Output only. The set of DNS records App Hosting discovered when inspecting a domain."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The domain name the DNS updates pertain to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DnsRecordSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#DnsRecordSet"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DomainOperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "customDomainOperationMetadata": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata for operations on custom domains."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation on domains."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LocallyBuiltSource": {
      "type": "structure",
      "members": {
        "userStorageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI to an archive in Cloud Storage. The object must be a gzipped archive file (.tar.gz) containing source to deploy."
          }
        },
        "runCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The command to run to start the app. If provided, it will override apphosting's default run commands. See [`Override build and run scripts`](https://firebase.google.com/docs/app-hosting/configure#override-scripts)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional message that describes the uploaded version of the source code."
          }
        },
        "runConfig": {
          "target": "com.gcp.firebaseapphosting_v1beta#RunConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
          }
        },
        "env": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Supplied runtime environment variables for a specific build. Provided at Build creation time and immutable afterwards."
          }
        },
        "rootDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the built source of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URI of an storage archive to use as the build source."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#UserMetadata": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The 'email' field in a Git user's git.config, if available."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The 'name' field in a Git user's git.config. Required by Git."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Locations that could not be reached."
          }
        },
        "domains": {
          "target": "com.gcp.firebaseapphosting_v1beta#DomainList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of domains."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token identifying the next page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to list domains."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#DomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Domain"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListSupportedRuntimesResponse": {
      "type": "structure",
      "members": {
        "supportedRuntimes": {
          "target": "com.gcp.firebaseapphosting_v1beta#SupportedRuntimeList",
          "traits": {
            "smithy.api#documentation": "The list of supported runtimes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a list of supported runtimes."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#SupportedRuntimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#SupportedRuntime"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#SourceUserMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Not used. Metadata for the user who started the build."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ServingBehavior": {
      "type": "structure",
      "members": {
        "redirect": {
          "target": "com.gcp.firebaseapphosting_v1beta#Redirect",
          "traits": {
            "smithy.api#documentation": "Optional. Redirect behavior for a domain, if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether App Hosting will serve content on the domain."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#RunService": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#TrafficSplit": {
      "type": "structure",
      "members": {
        "build": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The build that traffic is being routed to."
          }
        },
        "percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The traffic allocation for the backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainStatus": {
      "type": "structure",
      "members": {
        "certState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusCertStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Tracks SSL certificate status for the domain."
          }
        },
        "requiredDnsUpdates": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsUpdatesList",
          "traits": {
            "smithy.api#documentation": "Output only. Lists the records that must added or removed to a custom domain's DNS in order to finish setup and start serving content. Field is present during onboarding. Also present after onboarding if one or more of the above states is not *_ACTIVE, indicating the domain's DNS records are in a bad state."
          }
        },
        "ownershipState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusOwnershipStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Tracks whether the backend is permitted to serve content on the domain, based off the domain's DNS records."
          }
        },
        "hostState": {
          "target": "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusHostStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Tracks whether a custom domain is detected as appropriately directing traffic to App Hosting."
          }
        },
        "issues": {
          "target": "com.gcp.firebaseapphosting_v1beta#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of issues with domain configuration. Allows users to self-correct problems with DNS records."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a custom domain's linkage to a backend."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusCertStateEnum": {
      "type": "enum",
      "members": {
        "CERT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE_UNSPECIFIED"
          }
        },
        "CERT_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PREPARING"
          }
        },
        "CERT_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_VALIDATING"
          }
        },
        "CERT_PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_PROPAGATING"
          }
        },
        "CERT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_ACTIVE"
          }
        },
        "CERT_EXPIRING_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRING_SOON"
          }
        },
        "CERT_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_EXPIRED"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusOwnershipStateEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE_UNSPECIFIED"
          }
        },
        "OWNERSHIP_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISSING"
          }
        },
        "OWNERSHIP_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNREACHABLE"
          }
        },
        "OWNERSHIP_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_MISMATCH"
          }
        },
        "OWNERSHIP_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_CONFLICT"
          }
        },
        "OWNERSHIP_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_PENDING"
          }
        },
        "OWNERSHIP_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#CustomDomainStatusHostStateEnum": {
      "type": "enum",
      "members": {
        "HOST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE_UNSPECIFIED"
          }
        },
        "HOST_UNHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNHOSTED"
          }
        },
        "HOST_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_UNREACHABLE"
          }
        },
        "HOST_NON_FAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_NON_FAH"
          }
        },
        "HOST_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_CONFLICT"
          }
        },
        "HOST_WRONG_SHARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_WRONG_SHARD"
          }
        },
        "HOST_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_ACTIVE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LiveMigrationStep": {
      "type": "structure",
      "members": {
        "stepState": {
          "target": "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepStepStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it."
          }
        },
        "issues": {
          "target": "com.gcp.firebaseapphosting_v1beta#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Issues that prevent the current step from completing."
          }
        },
        "dnsUpdates": {
          "target": "com.gcp.firebaseapphosting_v1beta#DnsUpdatesList",
          "traits": {
            "smithy.api#documentation": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting."
          }
        },
        "relevantDomainStates": {
          "target": "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepRelevantDomainStatesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepStepStateEnum": {
      "type": "enum",
      "members": {
        "STEP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEP_STATE_UNSPECIFIED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPLETE"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepRelevantDomainStatesItemEnum": {
      "type": "enum",
      "members": {
        "CUSTOM_DOMAIN_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_DOMAIN_STATE_UNSPECIFIED"
          }
        },
        "HOST_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_STATE"
          }
        },
        "OWNERSHIP_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_STATE"
          }
        },
        "CERT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_STATE"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepRelevantDomainStatesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#LiveMigrationStepRelevantDomainStatesItemEnum"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Redirect": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies redirect behavior for a domain."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#EnvironmentVariable": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableOriginEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The high-level origin category of the environment variable."
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret."
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\"."
          }
        },
        "availability": {
          "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableAvailabilityItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration."
          }
        },
        "originFileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment variables for this build."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableOriginEnum": {
      "type": "enum",
      "members": {
        "ORIGIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGIN_UNSPECIFIED"
          }
        },
        "BACKEND_OVERRIDES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKEND_OVERRIDES"
          }
        },
        "BUILD_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_CONFIG"
          }
        },
        "APPHOSTING_YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPHOSTING_YAML"
          }
        },
        "FIREBASE_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREBASE_SYSTEM"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableAvailabilityItemEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_UNSPECIFIED"
          }
        },
        "BUILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD"
          }
        },
        "RUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNTIME"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableAvailabilityItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#EnvironmentVariableAvailabilityItemEnum"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#ListRolloutsResponse": {
      "type": "structure",
      "members": {
        "rollouts": {
          "target": "com.gcp.firebaseapphosting_v1beta#RolloutList",
          "traits": {
            "smithy.api#documentation": "The list of rollouts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the next page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebaseapphosting_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to list rollouts."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#RolloutList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseapphosting_v1beta#Rollout"
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Path": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.firebaseapphosting_v1beta#PathTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of pattern to match against."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The pattern to match against."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file path pattern to match against."
      }
    },
    "com.gcp.firebaseapphosting_v1beta#PathTypeEnum": {
      "type": "enum",
      "members": {
        "PATTERN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATTERN_TYPE_UNSPECIFIED"
          }
        },
        "RE2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE2"
          }
        },
        "GLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOB"
          }
        },
        "PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFIX"
          }
        }
      }
    },
    "com.gcp.firebaseapphosting_v1beta#Firebaseapphosting_Error": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.firebaseapphosting_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state."
          }
        },
        "cloudResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource link"
          }
        },
        "errorSource": {
          "target": "com.gcp.firebaseapphosting_v1beta#Firebaseapphosting_ErrorErrorSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The source of the error for the build, if in a `FAILED` state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container for the rpc status and source for any errors found during the build process."
      }
    },
[...]
