{
  "smithy": "2.0",
  "metadata": {
    "service": "firebaseml",
    "version": "v2beta",
    "title": "Firebase ML API",
    "baseUrl": "https://firebaseml.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResult": {
      "type": "structure",
      "members": {
        "topCandidates": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultTopCandidatesList",
          "traits": {
            "smithy.api#documentation": "A list of the top candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps."
          }
        },
        "chosenCandidates": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultCandidateList",
          "traits": {
            "smithy.api#documentation": "A list of the chosen candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps. Note that the chosen candidate might not be in `top_candidates`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The log probabilities of the tokens generated by the model. This is useful for understanding the model's confidence in its predictions and for debugging. For example, you can use log probabilities to identify when the model is making a less confident prediction or to explore alternative responses that the model considered. A low log probability can also indicate that the model is \"hallucinating\" or generating factually incorrect information."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultTopCandidatesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultTopCandidates"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultCandidateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1LogprobsResultCandidate"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FileData": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the file. Used to provide a label or filename to distinguish files. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server side tools (`code_execution`, `google_search`, and `url_context`) are enabled."
          }
        },
        "fileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the file in Google Cloud Storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URI-based data. A FileData message contains a URI pointing to data of a specific media type. It is used to represent images, audio, and video stored in Google Cloud Storage."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigHybridSearch": {
      "type": "structure",
      "members": {
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Alpha value controls the weight between dense and sparse vector search results. The range is [0, 1], while 0 means sparse vector search only and 1 means dense vector search only. The default value is 0.5 which balances sparse and dense vector search equally."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for Hybrid Search."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfig": {
      "type": "structure",
      "members": {
        "googleServiceAccountConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig",
          "traits": {
            "smithy.api#documentation": "Config for Google Service Account auth."
          }
        },
        "oauthConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigOauthConfig",
          "traits": {
            "smithy.api#documentation": "Config for user oauth."
          }
        },
        "oidcConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigOidcConfig",
          "traits": {
            "smithy.api#documentation": "Config for user OIDC auth."
          }
        },
        "authType": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigAuthTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of auth scheme."
          }
        },
        "apiKeyConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig",
          "traits": {
            "smithy.api#documentation": "Config for API key auth."
          }
        },
        "httpBasicAuthConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig",
          "traits": {
            "smithy.api#documentation": "Config for HTTP Basic auth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auth configuration to run the extension."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigAuthTypeEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "NO_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AUTH"
          }
        },
        "API_KEY_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_AUTH"
          }
        },
        "HTTP_BASIC_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_BASIC_AUTH"
          }
        },
        "GOOGLE_SERVICE_ACCOUNT_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SERVICE_ACCOUNT_AUTH"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH"
          }
        },
        "OIDC_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIDC_AUTH"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker": {
      "type": "structure",
      "members": {
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The model name used for ranking. See [Supported models](https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/inference#supported-models)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for LlmRanker."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerateContentRequest": {
      "type": "structure",
      "members": {
        "cachedContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the cached content used as context to serve the prediction. Note: only used in explicit caching, where users can have control over caching (e.g. what content to cache) and enjoy guaranteed cost savings. Format: `projects/{project}/locations/{location}/cachedContents/{cachedContent}`"
          }
        },
        "modelArmorConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ModelArmorConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for prompt and response sanitization using the Model Armor service. If supplied, safety_settings must not be supplied."
          }
        },
        "tools": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model."
          }
        },
        "systemInstruction": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Content",
          "traits": {
            "smithy.api#documentation": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph."
          }
        },
        "labels": {
          "target": "com.gcp.firebaseml_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. It is used for billing and reporting only. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
          }
        },
        "contents": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ContentList",
          "traits": {
            "smithy.api#documentation": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request."
          }
        },
        "safetySettings": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingList",
          "traits": {
            "smithy.api#documentation": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates."
          }
        },
        "generationConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Generation config."
          }
        },
        "toolConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Tool config. This config is shared for all tools provided in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for [PredictionService.GenerateContent]."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Tool"
      }
    },
    "com.gcp.firebaseml_v2beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Content"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySetting"
      }
    },
    "com.gcp.firebaseml_v2beta#ModelOperationMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`"
          }
        },
        "basicOperationStatus": {
          "target": "com.gcp.firebaseml_v2beta#ModelOperationMetadataBasicOperationStatusEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "This is returned in the longrunning operations for create/update."
      }
    },
    "com.gcp.firebaseml_v2beta#ModelOperationMetadataBasicOperationStatusEnum": {
      "type": "enum",
      "members": {
        "BASIC_OPERATION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_OPERATION_STATUS_UNSPECIFIED"
          }
        },
        "BASIC_OPERATION_STATUS_UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_OPERATION_STATUS_UPLOADING"
          }
        },
        "BASIC_OPERATION_STATUS_VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_OPERATION_STATUS_VERIFYING"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ModalityTokenCount": {
      "type": "structure",
      "members": {
        "tokenCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of tokens counted for this modality."
          }
        },
        "modality": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ModalityTokenCountModalityEnum",
          "traits": {
            "smithy.api#documentation": "The modality that this token count applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a breakdown of token usage by modality. This message is used in CountTokensResponse and GenerateContentResponse.UsageMetadata to provide a detailed view of how many tokens are used by each modality (e.g., text, image, video) in a request. This is particularly useful for multimodal models, allowing you to track and manage token consumption for billing and quota purposes."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ModalityTokenCountModalityEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        },
        "DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Segment": {
      "type": "structure",
      "members": {
        "partIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The index of the `Part` object that this segment belongs to. This is useful for associating the segment with a specific part of the content."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The text of the segment."
          }
        },
        "endIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The end index of the segment in the `Part`, measured in bytes. This marks the end of the segment and is exclusive, meaning the segment includes content up to, but not including, the byte at this index."
          }
        },
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The start index of the segment in the `Part`, measured in bytes. This marks the beginning of the segment and is inclusive, meaning the byte at this index is the first byte of the segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A segment of the content."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRating": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The harm category of this rating."
          }
        },
        "probabilityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The probability score of harm for this category."
          }
        },
        "overwrittenThreshold": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingOverwrittenThresholdEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The overwritten threshold for the safety category of Gemini 2.0 image out. If minors are detected in the output image, the threshold of each safety category will be overwritten if user sets a lower threshold."
          }
        },
        "probability": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingProbabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The probability of harm for this category."
          }
        },
        "blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the content was blocked because of this rating."
          }
        },
        "severity": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The severity of harm for this category."
          }
        },
        "severityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The severity score of harm for this category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A safety rating for a piece of content. The safety rating contains the harm category and the harm probability level."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingCategoryEnum": {
      "type": "enum",
      "members": {
        "HARM_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_UNSPECIFIED"
          }
        },
        "HARM_CATEGORY_HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HATE_SPEECH"
          }
        },
        "HARM_CATEGORY_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HARASSMENT"
          }
        },
        "HARM_CATEGORY_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          }
        },
        "HARM_CATEGORY_CIVIC_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_CIVIC_INTEGRITY"
          }
        },
        "HARM_CATEGORY_IMAGE_HATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_HATE"
          }
        },
        "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_IMAGE_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_HARASSMENT"
          }
        },
        "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT"
          }
        },
        "HARM_CATEGORY_JAILBREAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_JAILBREAK"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingOverwrittenThresholdEnum": {
      "type": "enum",
      "members": {
        "HARM_BLOCK_THRESHOLD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_BLOCK_THRESHOLD_UNSPECIFIED"
          }
        },
        "BLOCK_LOW_AND_ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_LOW_AND_ABOVE"
          }
        },
        "BLOCK_MEDIUM_AND_ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_MEDIUM_AND_ABOVE"
          }
        },
        "BLOCK_ONLY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_ONLY_HIGH"
          }
        },
        "BLOCK_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_NONE"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingProbabilityEnum": {
      "type": "enum",
      "members": {
        "HARM_PROBABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_PROBABILITY_UNSPECIFIED"
          }
        },
        "NEGLIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGLIGIBLE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetyRatingSeverityEnum": {
      "type": "enum",
      "members": {
        "HARM_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_UNSPECIFIED"
          }
        },
        "HARM_SEVERITY_NEGLIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_NEGLIGIBLE"
          }
        },
        "HARM_SEVERITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_LOW"
          }
        },
        "HARM_SEVERITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_MEDIUM"
          }
        },
        "HARM_SEVERITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_SEVERITY_HIGH"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account that the extension execution service runs as. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified service account. - If not specified, the Vertex AI Extension Service Agent will be used to execute the Extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for Google Service Account Authentication."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RetrievalConfig": {
      "type": "structure",
      "members": {
        "latLng": {
          "target": "com.gcp.firebaseml_v2beta#LatLng",
          "traits": {
            "smithy.api#documentation": "The location of the user."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retrieval config."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ModelArmorConfig": {
      "type": "structure",
      "members": {
        "promptTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
          }
        },
        "responseTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfigManualRoutingMode": {
      "type": "structure",
      "members": {
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the model to use. Only public LLM models are accepted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for manual routing. When manual routing is specified, the model will be selected based on the model name provided."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SpeakerVoiceConfig": {
      "type": "structure",
      "members": {
        "speaker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt."
          }
        },
        "voiceConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1VoiceConfig",
          "traits": {
            "smithy.api#documentation": "Required. The configuration for the voice of this speaker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single speaker in a multi-speaker setup."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking": {
      "type": "structure",
      "members": {
        "rankService": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService",
          "traits": {
            "smithy.api#documentation": "Optional. Config for Rank Service."
          }
        },
        "llmRanker": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingLlmRanker",
          "traits": {
            "smithy.api#documentation": "Optional. Config for LlmRanker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for ranking and reranking."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GoogleSearchRetrieval": {
      "type": "structure",
      "members": {
        "dynamicRetrievalConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1DynamicRetrievalConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the dynamic retrieval configuration for the given source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tool to retrieve public web data for grounding, powered by Google."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingMetadata": {
      "type": "structure",
      "members": {
        "sourceFlaggingUris": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUriList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A list of URIs that can be used to flag a place or review for inappropriate content. This field is populated only when the grounding source is Google Maps."
          }
        },
        "imageSearchQueries": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The image search queries that were used to generate the content. This field is populated only when the grounding source is Google Search with the Image Search search_type enabled."
          }
        },
        "groundingSupports": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingSupportList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of grounding supports that connect the generated content to the grounding chunks. This field is populated when the grounding source is Google Search or Vertex AI Search."
          }
        },
        "webSearchQueries": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The web search queries that were used to generate the content. This field is populated only when the grounding source is Google Search."
          }
        },
        "googleMapsWidgetContextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Deprecated: The Google Maps contextual widget behavior in Grounding with Google Maps is being deprecated; this field is planned for removal and will no longer be populated once removed. A token that can be used to render a Google Maps widget with the contextual data. This field is populated only when the grounding source is Google Maps."
          }
        },
        "retrievalQueries": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The queries that were executed by the retrieval tools. This field is populated only when the grounding source is a retrieval tool, such as Vertex AI Search."
          }
        },
        "retrievalMetadata": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RetrievalMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Metadata related to the retrieval grounding source."
          }
        },
        "searchEntryPoint": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SearchEntryPoint",
          "traits": {
            "smithy.api#documentation": "Optional. A web search entry point that can be used to display search results. This field is populated only when the grounding source is Google Search."
          }
        },
        "groundingChunks": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingChunkList",
          "traits": {
            "smithy.api#documentation": "A list of supporting references retrieved from the grounding source. This field is populated when the grounding source is Google Search, Vertex AI Search, or Google Maps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the sources that support the content of a response. When grounding is enabled, the model returns citations for claims in the response. This object contains the retrieved sources."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUriList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri"
      }
    },
    "com.gcp.firebaseml_v2beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingSupportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingSupport"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingChunk"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagChunkPageSpan": {
      "type": "structure",
      "members": {
        "lastPage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page where chunk ends in the document. Inclusive. 1-indexed."
          }
        },
        "firstPage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page where chunk starts in the document. Inclusive. 1-indexed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents where the chunk starts and ends in the document."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig": {
      "type": "structure",
      "members": {
        "credentialSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the base64 encoded credentials. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for HTTP Basic Authentication."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1UrlMetadata": {
      "type": "structure",
      "members": {
        "retrievedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL retrieved by the tool."
          }
        },
        "urlRetrievalStatus": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1UrlMetadataUrlRetrievalStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the URL retrieval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a single URL retrieval."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1UrlMetadataUrlRetrievalStatusEnum": {
      "type": "enum",
      "members": {
        "URL_RETRIEVAL_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_RETRIEVAL_STATUS_UNSPECIFIED"
          }
        },
        "URL_RETRIEVAL_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_RETRIEVAL_STATUS_SUCCESS"
          }
        },
        "URL_RETRIEVAL_STATUS_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_RETRIEVAL_STATUS_ERROR"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#Firebaseml_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Blob": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the blob. Used to provide a label or filename to distinguish blobs. This field is only returned in `PromptMessage` for prompt management. It is used in the Gemini calls only when server-side tools (`code_execution`, `google_search`, and `url_context`) are enabled."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The raw bytes of the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A content blob. A Blob contains data of a specific media type. It is used to represent images, audio, and video."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1DynamicRetrievalConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1DynamicRetrievalConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode of the predictor to be used in dynamic retrieval."
          }
        },
        "dynamicThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The threshold to be used in dynamic retrieval. If not set, a system default value is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the options to customize dynamic retrieval."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1DynamicRetrievalConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "MODE_DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_DYNAMIC"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1PrebuiltVoiceConfig": {
      "type": "structure",
      "members": {
        "voiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the prebuilt voice to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a prebuilt voice."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagChunk": {
      "type": "structure",
      "members": {
        "chunkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the chunk."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the chunk."
          }
        },
        "pageSpan": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagChunkPageSpan",
          "traits": {
            "smithy.api#documentation": "If populated, represents where the chunk starts and ends in the document."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the file that the chunk belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Tool": {
      "type": "structure",
      "members": {
        "retrieval": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Retrieval",
          "traits": {
            "smithy.api#documentation": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation."
          }
        },
        "enterpriseWebSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1EnterpriseWebSearch",
          "traits": {
            "smithy.api#documentation": "Optional. Tool to support searching public web data, powered by Vertex AI Search and Sec4 compliance."
          }
        },
        "codeExecution": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolCodeExecution",
          "traits": {
            "smithy.api#documentation": "Optional. CodeExecution tool type. Enables the model to execute code as part of generation."
          }
        },
        "urlContext": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1UrlContext",
          "traits": {
            "smithy.api#documentation": "Optional. Tool to support URL context retrieval."
          }
        },
        "exaAiSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolExaAiSearch",
          "traits": {
            "smithy.api#documentation": "Optional. Uses Exa.ai to search for information to answer user queries. The search results will be grounded on Exa.ai and presented to the model for response generation"
          }
        },
        "functionDeclarations": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclarationList",
          "traits": {
            "smithy.api#documentation": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 512 function declarations can be provided."
          }
        },
        "googleMaps": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GoogleMaps",
          "traits": {
            "smithy.api#documentation": "Optional. GoogleMaps tool type. Tool to support Google Maps in Model."
          }
        },
        "googleSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolGoogleSearch",
          "traits": {
            "smithy.api#documentation": "Optional. GoogleSearch tool type. Tool to support Google Search in Model. Powered by Google."
          }
        },
        "parallelAiSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolParallelAiSearch",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, Vertex AI will use Parallel.ai to search for information to answer user queries. The search results will be grounded on Parallel.ai and presented to the model for response generation"
          }
        },
        "computerUse": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolComputerUse",
          "traits": {
            "smithy.api#documentation": "Optional. Tool to support the model interacting directly with the computer. If enabled, it automatically populates computer-use specific Function Declarations."
          }
        },
        "googleSearchRetrieval": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GoogleSearchRetrieval",
          "traits": {
            "smithy.api#documentation": "Optional. Specialized retrieval tool that is powered by Google Search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval)."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclarationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclaration"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AudioResponseFormat": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AudioResponseFormatMimeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The MIME type of the audio output."
          }
        },
        "delivery": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AudioResponseFormatDeliveryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Delivery mode for the generated content."
          }
        },
        "bitRate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Bit rate in bits per second (bps). Only applicable for compressed formats (MP3, Opus)."
          }
        },
        "sampleRate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Sample rate for the generated audio in Hertz."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for audio-specific output formatting."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AudioResponseFormatMimeTypeEnum": {
      "type": "enum",
      "members": {
        "MIME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_TYPE_UNSPECIFIED"
          }
        },
        "AUDIO_MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_MP3"
          }
        },
        "AUDIO_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_OGG_OPUS"
          }
        },
        "AUDIO_L16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_L16"
          }
        },
        "AUDIO_WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_WAV"
          }
        },
        "AUDIO_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ALAW"
          }
        },
        "AUDIO_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_MULAW"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AudioResponseFormatDeliveryEnum": {
      "type": "enum",
      "members": {
        "DELIVERY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERY_UNSPECIFIED"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INLINE"
          }
        },
        "URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URI"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExecutableCode": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExecutableCodeLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Required. Programming language of the `code`."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The code to be executed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Code generated by the model that is meant to be executed, and the result returned to the model. Generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding CodeExecutionResult will also be generated."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExecutableCodeLanguageEnum": {
      "type": "enum",
      "members": {
        "LANGUAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE_UNSPECIFIED"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter": {
      "type": "structure",
      "members": {
        "vectorDistanceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Only returns contexts with vector distance smaller than the threshold."
          }
        },
        "metadataFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String for metadata filtering."
          }
        },
        "vectorSimilarityThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Only returns contexts with vector similarity larger than the threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for filters."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclaration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots, colons and dashes, with a maximum length of 128."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function."
          }
        },
        "parameters": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Schema",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1"
          }
        },
        "parametersJsonSchema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the parameters to the function in JSON Schema format. The schema must describe an object where the properties are the parameters to the function. For example: ``` { \"type\": \"object\", \"properties\": { \"name\": { \"type\": \"string\" }, \"age\": { \"type\": \"integer\" } }, \"additionalProperties\": false, \"required\": [\"name\", \"age\"], \"propertyOrdering\": [\"name\", \"age\"] } ``` This field is mutually exclusive with `parameters`."
          }
        },
        "responseJsonSchema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the output from this function in JSON Schema format. The value specified by the schema is the response value of the function. This field is mutually exclusive with `response`."
          }
        },
        "behavior": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclarationBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the function Behavior. If not specified, the system keeps the current function call behavior. This field is currently only supported by the BidiGenerateContent method."
          }
        },
        "response": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Schema",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name, description, parameters and response type. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionDeclarationBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKING"
          }
        },
        "NON_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_BLOCKING"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CodeExecutionResult": {
      "type": "structure",
      "members": {
        "outcome": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CodeExecutionResultOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Outcome of the code execution."
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of executing the ExecutableCode. Generated only when the `CodeExecution` tool is used."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CodeExecutionResultOutcomeEnum": {
      "type": "enum",
      "members": {
        "OUTCOME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_UNSPECIFIED"
          }
        },
        "OUTCOME_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_OK"
          }
        },
        "OUTCOME_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_FAILED"
          }
        },
        "OUTCOME_DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_DEADLINE_EXCEEDED"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1MultiSpeakerVoiceConfig": {
      "type": "structure",
      "members": {
        "speakerVoiceConfigs": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SpeakerVoiceConfigList",
          "traits": {
            "smithy.api#documentation": "Required. A list of configurations for the voices of the speakers. Exactly two speaker voice configurations must be provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a multi-speaker text-to-speech request."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SpeakerVoiceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SpeakerVoiceConfig"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1VertexAISearchDataStoreSpec": {
      "type": "structure",
      "members": {
        "dataStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name of DataStore, such as Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define data stores within engine to filter on in a search call and configurations for those data stores. For more information, see https://cloud.google.com/generative-ai-app-builder/docs/reference/rpc/google.cloud.discoveryengine.v1#datastorespec"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ApiAuth": {
      "type": "structure",
      "members": {
        "apiKeyConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ApiAuthApiKeyConfig",
          "traits": {
            "smithy.api#documentation": "The API secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolExaAiSearch": {
      "type": "structure",
      "members": {
        "customConfigs": {
          "target": "com.gcp.firebaseml_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. This field can be used to pass any parameter from the Exa.ai Search API."
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The API key for ExaAiSearch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExaAiSearch tool type. A tool that uses the Exa.ai search engine for grounding."
      }
    },
    "com.gcp.firebaseml_v2beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1VertexRagStoreRagResource": {
      "type": "structure",
      "members": {
        "ragCorpus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`"
          }
        },
        "ragFileIds": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of the Rag resource."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Part": {
      "type": "structure",
      "members": {
        "fileData": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FileData",
          "traits": {
            "smithy.api#documentation": "Optional. The URI-based data of the part. This can be used to include files from Google Cloud Storage."
          }
        },
        "mediaResolution": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1PartMediaResolution",
          "traits": {
            "smithy.api#documentation": "per part media resolution. Media resolution for the input media."
          }
        },
        "thoughtSignature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An opaque signature for the thought so it can be reused in subsequent requests."
          }
        },
        "videoMetadata": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1VideoMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data."
          }
        },
        "functionResponse": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionResponse",
          "traits": {
            "smithy.api#documentation": "Optional. The result of a function call. This is used to provide the model with the result of a function call that it predicted."
          }
        },
        "executableCode": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExecutableCode",
          "traits": {
            "smithy.api#documentation": "Optional. Code generated by the model that is intended to be executed."
          }
        },
        "codeExecutionResult": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CodeExecutionResult",
          "traits": {
            "smithy.api#documentation": "Optional. The result of executing the ExecutableCode."
          }
        },
        "thought": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the `part` represents the model's thought process or reasoning."
          }
        },
        "functionCall": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionCall",
          "traits": {
            "smithy.api#documentation": "Optional. A predicted function call returned from the model. This contains the name of the function to call and the arguments to pass to the function."
          }
        },
        "inlineData": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Blob",
          "traits": {
            "smithy.api#documentation": "Optional. The inline data content of the part. This can be used to include images, audio, or video in a request."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The text content of the part. When sent from the VSCode Gemini Code Assist extension, references to @mentioned items will be converted to markdown boldface text. For example `@my-repo` will be converted to and sent as `**my-repo**` by the IDE agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A datatype containing media that is part of a multi-part Content message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. For media types that are not text, `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if `inline_data` or `file_data` field is filled with raw bytes."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CitationMetadata": {
      "type": "structure",
      "members": {
        "citations": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CitationList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of citations for the content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of citations that apply to a piece of generated content."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1CitationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Citation"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet": {
      "type": "structure",
      "members": {
        "reviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the review that is being referenced."
          }
        },
        "googleMapsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to show the review on Google Maps."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the review."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A review snippet that is used to generate the answer."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1VideoMetadata": {
      "type": "structure",
      "members": {
        "fps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The frame rate of the video sent to the model. If not specified, the default value is 1.0. The valid range is (0.0, 24.0]."
          }
        },
        "startOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The start offset of the video."
          }
        },
        "endOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end offset of the video."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides metadata for a video, including the start and end offsets for clipping and the frame rate."
      }
    },
    "com.gcp.firebaseml_v2beta#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfig": {
      "type": "structure",
      "members": {
        "topK": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of contexts to retrieve."
          }
        },
        "hybridSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigHybridSearch",
          "traits": {
            "smithy.api#documentation": "Optional. Config for Hybrid Search."
          }
        },
        "ranking": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRanking",
          "traits": {
            "smithy.api#documentation": "Optional. Config for ranking and reranking."
          }
        },
        "filter": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Config for filters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the context retrieval config."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The search parameters to use for SIMPLE_SEARCH spec."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Image search for grounding and related configurations."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RagRetrievalConfigRankingRankService": {
      "type": "structure",
      "members": {
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The model name of the rank service. Format: `semantic-ranker-512@latest`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for Rank Service."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1TextResponseFormat": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1TextResponseFormatMimeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The IANA standard MIME type of the response."
          }
        },
        "schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for text-specific output formatting."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1TextResponseFormatMimeTypeEnum": {
      "type": "enum",
      "members": {
        "MIME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIME_TYPE_UNSPECIFIED"
          }
        },
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_JSON"
          }
        },
        "TEXT_PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_PLAIN"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GroundingMetadataSourceFlaggingUri": {
      "type": "structure",
      "members": {
        "flagContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to flag the content."
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the place or review."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URI that can be used to flag a place or review for inappropriate content. This is populated only when the grounding source is Google Maps."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApi": {
      "type": "structure",
      "members": {
        "elasticSearchParams": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApiElasticSearchParams",
          "traits": {
            "smithy.api#documentation": "Parameters for the elastic search API."
          }
        },
        "apiSpec": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApiApiSpecEnum",
          "traits": {
            "smithy.api#documentation": "The API spec that the external API implements."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint of the external API. The system will call the API at this endpoint to retrieve the data for grounding. Example: https://acme.com:443/search"
          }
        },
        "apiAuth": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ApiAuth",
          "traits": {
            "smithy.api#documentation": "The authentication config to access the API. Deprecated. Please use auth_config instead."
          }
        },
        "simpleSearchParams": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApiSimpleSearchParams",
          "traits": {
            "smithy.api#documentation": "Parameters for the simple search API."
          }
        },
        "authConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1AuthConfig",
          "traits": {
            "smithy.api#documentation": "The authentication config to access the API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retrieve from data source powered by external API for grounding. The external API is not owned by Google, but need to follow the pre-defined API spec."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ExternalApiApiSpecEnum": {
      "type": "enum",
      "members": {
        "API_SPEC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_SPEC_UNSPECIFIED"
          }
        },
        "SIMPLE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_SEARCH"
          }
        },
        "ELASTIC_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELASTIC_SEARCH"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfig": {
      "type": "structure",
      "members": {
        "mediaResolution": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigMediaResolutionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The token resolution at which input media content is sampled. This is used to control the trade-off between the quality of the response and the number of tokens used to represent the media. A higher resolution allows the model to perceive more detail, which can lead to a more nuanced response, but it will also use more tokens. This does not affect the image dimensions sent to the model."
          }
        },
        "topK": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the top-k sampling threshold. The model considers only the top k most probable tokens for the next token. This can be useful for generating more coherent and less random text. For example, a `top_k` of 40 means the model will choose the next word from the 40 most likely words."
          }
        },
        "presencePenalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Penalizes tokens that have already appeared in the generated text. A positive value encourages the model to generate more diverse and less repetitive text. Valid values can range from [-2.0, 2.0]."
          }
        },
        "routingConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigRoutingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Routing configuration."
          }
        },
        "modelConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigModelConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config for model selection."
          }
        },
        "temperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the randomness of the output. A higher temperature results in more creative and diverse responses, while a lower temperature makes the output more predictable and focused. The valid range is (0.0, 2.0]."
          }
        },
        "topP": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the nucleus sampling threshold. The model considers only the smallest set of tokens whose cumulative probability is at least `top_p`. This helps generate more diverse and less repetitive responses. For example, a `top_p` of 0.9 means the model considers tokens until the cumulative probability of the tokens to select from reaches 0.9. It's recommended to adjust either temperature or `top_p`, but not both."
          }
        },
        "candidateCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of candidate responses to generate. A higher `candidate_count` can provide more options to choose from, but it also consumes more resources. This can be useful for generating a variety of responses and selecting the best one."
          }
        },
        "maxOutputTokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of tokens to generate in the response. A token is approximately four characters. The default value varies by model. This parameter can be used to control the length of the generated text and prevent overly long responses."
          }
        },
        "seed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. A seed for the random number generator. By setting a seed, you can make the model's output mostly deterministic. For a given prompt and parameters (like temperature, top_p, etc.), the model will produce the same response every time. However, it's not a guaranteed absolute deterministic behavior. This is different from parameters like `temperature`, which control the *level* of randomness. `seed` ensures that the \"random\" choices the model makes are the same on every run, making it essential for testing and ensuring reproducible results."
          }
        },
        "responseFormat": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ResponseFormatList",
          "traits": {
            "smithy.api#documentation": "Optional. New response format field for the model to configure output formatting and delivery."
          }
        },
        "frequencyPenalty": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Penalizes tokens based on their frequency in the generated text. A positive value helps to reduce the repetition of words and phrases. Valid values can range from [-2.0, 2.0]."
          }
        },
        "responseModalities": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigResponseModalitiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The modalities of the response. The model will generate a response that includes all the specified modalities. For example, if this is set to `[TEXT, IMAGE]`, the response will include both text and an image."
          }
        },
        "responseLogprobs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the log probabilities of the output tokens are returned. Log probabilities are the logarithm of the probability of a token appearing in the output. A higher log probability means the token is more likely to be generated. This can be useful for analyzing the model's confidence in its own output and for debugging."
          }
        },
        "stopSequences": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of character sequences that will stop the model from generating further tokens. If a stop sequence is generated, the output will end at that point. This is useful for controlling the length and structure of the output. For example, you can use [\"\\n\", \"###\"] to stop generation at a new line or a specific marker."
          }
        },
        "speechConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SpeechConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The speech generation config."
          }
        },
        "imageConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ImageConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config for image generation features. Deprecated: Use `response_format.image` instead."
          }
        },
        "responseMimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IANA standard MIME type of the response. The model will generate output that conforms to this MIME type. Supported values include 'text/plain' (default) and 'application/json'. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. Deprecated: Use `response_format` instead."
          }
        },
        "responseJsonSchema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional. When this field is set, response_schema must be omitted and response_mime_type must be set to `application/json`. Deprecated: Use `response_format` instead."
          }
        },
        "responseSchema": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1Schema",
          "traits": {
            "smithy.api#documentation": "Optional. Lets you to specify a schema for the model's response, ensuring that the output conforms to a particular structure. This is useful for generating structured data such as JSON. The schema is a subset of the [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema) object. When this field is set, you must also set the `response_mime_type` to `application/json`. Deprecated: Use `response_format` instead."
          }
        },
        "thinkingConfig": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigThinkingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for thinking features. An error will be returned if this field is set for models that don't support thinking."
          }
        },
        "enableAffectiveDialog": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly. For example, if the model detects that the user is frustrated, it may provide a more empathetic response."
          }
        },
        "audioTimestamp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If enabled, audio timestamps will be included in the request to the model. This can be useful for synchronizing audio with other modalities in the response."
          }
        },
        "logprobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of top log probabilities to return for each token. This can be used to see which other tokens were considered likely candidates for a given position. A higher value will return more options, but it will also increase the size of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for content generation. This message contains all the parameters that control how the model generates content. It allows you to influence the randomness, length, and structure of the output."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigMediaResolutionEnum": {
      "type": "enum",
      "members": {
        "MEDIA_RESOLUTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_RESOLUTION_UNSPECIFIED"
          }
        },
        "MEDIA_RESOLUTION_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_RESOLUTION_LOW"
          }
        },
        "MEDIA_RESOLUTION_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_RESOLUTION_MEDIUM"
          }
        },
        "MEDIA_RESOLUTION_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_RESOLUTION_HIGH"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ResponseFormatList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ResponseFormat"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigResponseModalitiesItemEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigResponseModalitiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1GenerationConfigResponseModalitiesItemEnum"
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1RetrievalMetadata": {
      "type": "structure",
      "members": {
        "googleSearchDynamicRetrievalScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. A score indicating how likely it is that a Google Search query could help answer the prompt. The score is in the range of `[0, 1]`. A score of 1 means the model is confident that a search will be helpful, and 0 means it is not. This score is populated only when Google Search grounding and dynamic retrieval are enabled. The score is used to determine whether to trigger a search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the retrieval grounding source. This is part of the `GroundingMetadata` returned when grounding is enabled."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1FunctionResponseFileData": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled."
          }
        },
        "fileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URI based data for function response."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolGoogleSearchSearchTypes": {
      "type": "structure",
      "members": {
        "imageSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolGoogleSearchImageSearch",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this field enables image search. Image bytes are returned."
          }
        },
        "webSearch": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolGoogleSearchWebSearch",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this field enables web search. Only text results are returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Different types of search that can be enabled on the GoogleSearch tool."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolComputerUse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolComputerUseEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Required. The environment being operated."
          }
        },
        "enablePromptInjectionDetection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables the prompt injection detection check on computer-use request."
          }
        },
        "excludedPredefinedFunctions": {
          "target": "com.gcp.firebaseml_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. By default, [predefined functions](https://cloud.google.com/vertex-ai/generative-ai/docs/computer-use#supported-actions) are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tool to support computer use."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1ToolComputerUseEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_BROWSER"
          }
        },
        "ENVIRONMENT_MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_MOBILE"
          }
        },
        "ENVIRONMENT_DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_DESKTOP"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySetting": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Required. The harm category to be blocked."
          }
        },
        "threshold": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingThresholdEnum",
          "traits": {
            "smithy.api#documentation": "Required. The threshold for blocking content. If the harm probability exceeds this threshold, the content will be blocked."
          }
        },
        "method": {
          "target": "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The method for blocking content. If not specified, the default behavior is to use the probability score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A safety setting that affects the safety-blocking behavior. A SafetySetting consists of a harm category and a threshold for that category."
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingCategoryEnum": {
      "type": "enum",
      "members": {
        "HARM_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_UNSPECIFIED"
          }
        },
        "HARM_CATEGORY_HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HATE_SPEECH"
          }
        },
        "HARM_CATEGORY_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_HARASSMENT"
          }
        },
        "HARM_CATEGORY_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          }
        },
        "HARM_CATEGORY_CIVIC_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_CIVIC_INTEGRITY"
          }
        },
        "HARM_CATEGORY_IMAGE_HATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_HATE"
          }
        },
        "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_DANGEROUS_CONTENT"
          }
        },
        "HARM_CATEGORY_IMAGE_HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_HARASSMENT"
          }
        },
        "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_IMAGE_SEXUALLY_EXPLICIT"
          }
        },
        "HARM_CATEGORY_JAILBREAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARM_CATEGORY_JAILBREAK"
          }
        }
      }
    },
    "com.gcp.firebaseml_v2beta#GoogleCloudAiplatformV1beta1SafetySettingThresholdEnum": {
      "type": "enum",
      "members": {
        "HARM_BLOCK_THRESHOLD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
