{
  "smithy": "2.0",
  "metadata": {
    "service": "firebasedataconnect",
    "version": "v1beta",
    "title": "Firebase SQL Connect API",
    "baseUrl": "https://firebasedataconnect.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebasedataconnect_v1beta#Source": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.gcp.firebasedataconnect_v1beta#FileList",
          "traits": {
            "smithy.api#documentation": "Required. The files that comprise the source set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to represent a set of source files."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#FileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#File"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateSchemaResponse": {
      "type": "structure",
      "members": {
        "part": {
          "target": "com.gcp.firebasedataconnect_v1beta#Part",
          "traits": {
            "smithy.api#documentation": "The content from the current conversational turn."
          }
        },
        "status": {
          "target": "com.gcp.firebasedataconnect_v1beta#GenerationStatus",
          "traits": {
            "smithy.api#documentation": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for streaming generate schema requests"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The GraphQL query document source."
          }
        },
        "variables": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Values for GraphQL variables provided in this request."
          }
        },
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the GraphQL operation name. Required only if `query` contains multiple operations. See https://graphql.org/learn/queries/#operation-name."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlRequestExtensions",
          "traits": {
            "smithy.api#documentation": "Optional. Additional GraphQL request information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GraphQL request to Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#post"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListConnectorsResponse": {
      "type": "structure",
      "members": {
        "connectors": {
          "target": "com.gcp.firebasedataconnect_v1beta#ConnectorList",
          "traits": {
            "smithy.api#documentation": "The list of Connectors."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Connectors. By default, `connectors.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Connector"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensions": {
      "type": "structure",
      "members": {
        "warningLevel": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensionsWarningLevelEnum",
          "traits": {
            "smithy.api#documentation": "Warning level describes the severity and required action to suppress this warning when Firebase CLI run into it."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source file name where the error occurred. Included only for `UpdateSchema` and `UpdateConnector`, it corresponds to `File.path` of the provided `Source`."
          }
        },
        "code": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensionsCodeEnum",
          "traits": {
            "smithy.api#documentation": "Maps to canonical gRPC codes. If not specified, it represents `Code.INTERNAL`."
          }
        },
        "debugDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "More detailed error message to assist debugging. It contains application business logic that are inappropriate to leak publicly. In the emulator, SQL Connect API always includes it to assist local development and debugging. In the backend, ConnectorService always hides it. GraphqlService without impersonation always include it. GraphqlService with impersonation includes it only if explicitly opted-in with `include_debug_details` in `GraphqlRequestExtensions`."
          }
        },
        "workarounds": {
          "target": "com.gcp.firebasedataconnect_v1beta#WorkaroundList",
          "traits": {
            "smithy.api#documentation": "Workarounds provide suggestions to address the compile errors or warnings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GraphqlErrorExtensions contains additional information of `GraphqlError`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensionsWarningLevelEnum": {
      "type": "enum",
      "members": {
        "WARNING_LEVEL_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_LEVEL_UNKNOWN"
          }
        },
        "LOG_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_ONLY"
          }
        },
        "INTERACTIVE_ACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERACTIVE_ACK"
          }
        },
        "REQUIRE_ACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRE_ACK"
          }
        },
        "REQUIRE_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRE_FORCE"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensionsCodeEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "INVALID_ARGUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ARGUMENT"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALREADY_EXISTS"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHENTICATED"
          }
        },
        "RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXHAUSTED"
          }
        },
        "FAILED_PRECONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PRECONDITION"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "OUT_OF_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_RANGE"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "DATA_LOSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LOSS"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#WorkaroundList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Workaround"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Impersonation": {
      "type": "structure",
      "members": {
        "authClaims": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Evaluate the auth policy with a customized JWT auth token. Should follow the Firebase Auth token format. https://firebase.google.com/docs/rules/rules-and-auth For example: a verified user may have auth_claims of {\"sub\": , \"email_verified\": true}"
          }
        },
        "unauthenticated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Evaluate the auth policy as an unauthenticated request. Can only be set to true."
          }
        },
        "includeDebugDetails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, include debug details in GraphQL error extensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Impersonation configures the Firebase Auth context to impersonate."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Service": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mutable human-readable name. 63 character limit."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp."
          }
        },
        "labels": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "annotations": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Stores small amounts of arbitrary data."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that if true, indicates that the system is working update the service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firebase SQL Connect service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Datasource": {
      "type": "structure",
      "members": {
        "postgresql": {
          "target": "com.gcp.firebasedataconnect_v1beta#PostgreSql",
          "traits": {
            "smithy.api#documentation": "PostgreSQL configurations."
          }
        },
        "httpGraphql": {
          "target": "com.gcp.firebasedataconnect_v1beta#HttpGraphql",
          "traits": {
            "smithy.api#documentation": "HTTP GraphQL server webhook configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data source that backs Firebase SQL Connect services."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CloudSqlInstance": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the CloudSQL instance, in the format: ``` projects/{project}/locations/{location}/instances/{instance} ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for CloudSQL instance configuration."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteMutationResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The result of executing the requested operation."
          }
        },
        "errors": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorList",
          "traits": {
            "smithy.api#documentation": "Errors of this response."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponseExtensions",
          "traits": {
            "smithy.api#documentation": "Additional response information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ExecuteMutation response from Firebase SQL Connect."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#GraphqlError"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Connector": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```"
          }
        },
        "source": {
          "target": "com.gcp.firebasedataconnect_v1beta#Source",
          "traits": {
            "smithy.api#documentation": "Required. The source files that comprise the connector."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that if true, indicates that the system is working to compile and deploy the connector."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "annotations": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Stores small amounts of arbitrary data."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp."
          }
        },
        "labels": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mutable human-readable name. 63 character limit."
          }
        },
        "clientCache": {
          "target": "com.gcp.firebasedataconnect_v1beta#ClientCache",
          "traits": {
            "smithy.api#documentation": "Optional. The client cache settings of the connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector consists of a set of operations, i.e. queries and mutations."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ImpersonateRequest": {
      "type": "structure",
      "members": {
        "variables": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Values for GraphQL variables provided in this request."
          }
        },
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlRequestExtensions",
          "traits": {
            "smithy.api#documentation": "Optional. Additional GraphQL request information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Impersonate request to Firebase SQL Connect."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlResponseExtensions": {
      "type": "structure",
      "members": {
        "dataConnect": {
          "target": "com.gcp.firebasedataconnect_v1beta#DataConnectPropertiesList",
          "traits": {
            "smithy.api#documentation": "SQL Connect specific GraphQL extension, a list of paths and properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GraphqlResponseExtensions contains additional information of `GraphqlResponse` or `ExecuteQueryResponse`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DataConnectPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#DataConnectProperties"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateSchemaRequest": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The natural language description of the data model to generate. Example: \"A blog system with Users, Posts, and Comments. Users can have multiple posts.\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GenerateSchema."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateQueryResponse": {
      "type": "structure",
      "members": {
        "part": {
          "target": "com.gcp.firebasedataconnect_v1beta#Part",
          "traits": {
            "smithy.api#documentation": "Required. The content from the current conversational turn."
          }
        },
        "status": {
          "target": "com.gcp.firebasedataconnect_v1beta#GenerationStatus",
          "traits": {
            "smithy.api#documentation": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for streaming generate query requests"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteMutationRequest": {
      "type": "structure",
      "members": {
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name."
          }
        },
        "variables": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Values for GraphQL variables provided in this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ExecuteMutation request to Firebase SQL Connect."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.firebasedataconnect_v1beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Operation"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CodeChunk": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the language if we expand support beyond GraphQL (e.g., SQL or JSON) The standard is BCP-47 language code."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The code content string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chunk of code."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#HttpGraphql": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The endpoint of the HTTP GraphQL server."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Timeout duration for the HTTP request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for HTTP GraphQL server webhook."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListSchemasResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "schemas": {
          "target": "com.gcp.firebasedataconnect_v1beta#Firebasedataconnect_SchemaList",
          "traits": {
            "smithy.api#documentation": "The list of Schemas."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Schemas. By default, `schemas.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Firebasedataconnect_SchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Firebasedataconnect_Schema"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlRequestExtensions": {
      "type": "structure",
      "members": {
        "impersonate": {
          "target": "com.gcp.firebasedataconnect_v1beta#Impersonation",
          "traits": {
            "smithy.api#documentation": "Optional. If set, impersonate a request with given Firebase Auth context and evaluate the auth policies on the operation. If omitted, bypass any defined auth policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GraphqlRequestExtensions contains additional information of `GraphqlRequest`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#File": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file name including folder path, if applicable. The path should be relative to a local workspace (e.g. dataconnect/(schema|connector)/*.gql) and not an absolute path (e.g. /absolute/path/(schema|connector)/*.gql)."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The file's textual content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Individual files."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation. Note: This message is auto-generated by CCFE. CCFE's storage, called Resource Metadata Store (RMS), holds metadata about long-running operations (i.e. OperationMetadata) and resources (i.e. ResourceMetadata). OperationMetadata documents the status of the operation. See [CCFE documentation for sidechannel data](https://g3doc.corp.google.com/cloud/control2/g3doc/dev/codelab_extras/sidechannel.md?cl=head#sidechannel-data) and yaqs/4289526912465764352."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#TextChunk": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The text content string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chunk of conversational text."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#SourceLocation": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column number starting at 1."
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line number starting at 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SourceLocation references a location in a GraphQL source."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerationStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.firebasedataconnect_v1beta#GenerationStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of generation."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A message providing more details about the state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the progress of the server side generation request."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerationStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ANALYZING_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYZING_CODE"
          }
        },
        "GENERATING_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATING_CODE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteQueryResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorList",
          "traits": {
            "smithy.api#documentation": "Errors of this response."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponseExtensions",
          "traits": {
            "smithy.api#documentation": "Additional response information."
          }
        },
        "data": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The result of executing the requested operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ExecuteQuery response from Firebase SQL Connect."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteQueryRequest": {
      "type": "structure",
      "members": {
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name."
          }
        },
        "variables": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Values for GraphQL variables provided in this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ExecuteQuery request to Firebase SQL Connect."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed error message. The message should help developer understand the underlying problem without leaking internal data."
          }
        },
        "path": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentList",
          "traits": {
            "smithy.api#documentation": "The result field which could not be populated due to error. Clients can use path to identify whether a null result is intentional or caused by a runtime error. It should be a list of string or index from the root of GraphQL query document."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorExtensions",
          "traits": {
            "smithy.api#documentation": "Additional error information."
          }
        },
        "locations": {
          "target": "com.gcp.firebasedataconnect_v1beta#SourceLocationList",
          "traits": {
            "smithy.api#documentation": "The source locations where the error occurred. Locations should help developers and toolings identify the source of error quickly. Included in admin endpoints (`ExecuteGraphql`, `ExecuteGraphqlRead`, `IntrospectGraphql`, `ImpersonateQuery`, `ImpersonateMutation`, `UpdateSchema` and `UpdateConnector`) to reference the provided GraphQL GQL document. Omitted in `ExecuteMutation` and `ExecuteQuery` since the caller shouldn't have access access the underlying GQL source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GraphqlError conforms to the GraphQL error spec. https://spec.graphql.org/draft/#sec-Errors Firebase SQL Connect API surfaces `GraphqlError` in various APIs: - Upon compile error, `UpdateSchema` and `UpdateConnector` return Code.Invalid_Argument with a list of `GraphqlError` in error details. - Upon query compile error, `ExecuteGraphql`, `ExecuteGraphqlRead` and `IntrospectGraphql` return Code.OK with a list of `GraphqlError` in response body. - Upon query execution error, `ExecuteGraphql`, `ExecuteGraphqlRead`, `ExecuteMutation`, `ExecuteQuery`, `IntrospectGraphql`, `ImpersonateQuery` and `ImpersonateMutation` all return Code.OK with a list of `GraphqlError` in response body."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#SourceLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#SourceLocation"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ClientCache": {
      "type": "structure",
      "members": {
        "strictValidationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A field that, if true, enables stricter validation on the connector source code to make sure the operation response shapes are suitable for client-side caching. This can include additional errors and warnings. For example, using the same alias for different fields is disallowed, as it may cause conflicts or confusion with normalized caching. (This field is off by default for compatibility, but enabling it is highly recommended to catch common caching pitfalls.)"
          }
        },
        "entityIdIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A field that, if true, means that responses served by this connector will include entityIds in GraphQL response extensions. This helps the client SDK cache responses in an improved way, known as \"normalized caching\", if caching is enabled on the client. Each entityId is a stable key based on primary key values. Therefore, this field should only be set to true if the primary keys of accessed tables do not contain sensitive information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client caching settings of a connector."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateQueryRequest": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The natural language description of the desired query. Example: \"Find all users who signed up in the last 7 days.\""
          }
        },
        "schemas": {
          "target": "com.gcp.firebasedataconnect_v1beta#Firebasedataconnect_SchemaList",
          "traits": {
            "smithy.api#documentation": "Optional. The user's locally defined FDC Schema(s). If not defined, the backend will fetch the user's deployed schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GenerateQuery."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Firebasedataconnect_Schema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\"."
          }
        },
        "source": {
          "target": "com.gcp.firebasedataconnect_v1beta#Source",
          "traits": {
            "smithy.api#documentation": "Required. The source files that comprise the application schema."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. A field that if true, indicates that the system is working to compile and deploy the schema."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System-assigned, unique identifier."
          }
        },
        "annotations": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Stores small amounts of arbitrary data."
          }
        },
        "datasources": {
          "target": "com.gcp.firebasedataconnect_v1beta#DatasourceList",
          "traits": {
            "smithy.api#documentation": "Required. The data sources linked in the schema."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp."
          }
        },
        "labels": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Mutable human-readable name. 63 character limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The application schema of a Firebase SQL Connect service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DatasourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Datasource"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GraphqlResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlErrorList",
          "traits": {
            "smithy.api#documentation": "Errors of this response. If the data entry in the response is not present, the errors entry must be present. It conforms to https://spec.graphql.org/draft/#sec-Errors ."
          }
        },
        "extensions": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponseExtensions",
          "traits": {
            "smithy.api#documentation": "Additional response information. It conforms to https://spec.graphql.org/draft/#sec-Extensions ."
          }
        },
        "data": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The result of the execution of the requested operation. If an error was raised before execution begins, the data entry should not be present in the result. (a request error: https://spec.graphql.org/draft/#sec-Errors.Request-Errors) If an error was raised during the execution that prevented a valid response, the data entry in the response should be null. (a field error: https://spec.graphql.org/draft/#sec-Errors.Error-Result-Format)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GraphQL response from Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. Note: Firebase SQL Connect always responds with `Content-Type: application/json`. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#body"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "services": {
          "target": "com.gcp.firebasedataconnect_v1beta#ServiceList",
          "traits": {
            "smithy.api#documentation": "The list of Services."
          }
        },
        "unreachable": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Services."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Service"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#PostgreSql": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the PostgreSQL database."
          }
        },
        "schemaValidation": {
          "target": "com.gcp.firebasedataconnect_v1beta#PostgreSqlSchemaValidationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configure how much PostgreSQL schema validation to perform against the live database before deploying the FDC schema."
          }
        },
        "schemaMigration": {
          "target": "com.gcp.firebasedataconnect_v1beta#PostgreSqlSchemaMigrationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configure how to perform automatic PostgreSQL schema migration before deploying the FDC schema. This is an additive-only operation."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-configured PostgreSQL schema. Defaults to \"public\" if not specified."
          }
        },
        "cloudSql": {
          "target": "com.gcp.firebasedataconnect_v1beta#CloudSqlInstance",
          "traits": {
            "smithy.api#documentation": "Cloud SQL configurations."
          }
        },
        "unlinked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "No Postgres data source is linked. If set, don't allow `database` and `schema_validation` to be configured."
          }
        },
        "ephemeral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Ephemeral is true if this SQL Connect service is served from temporary in-memory emulation of Postgres. While Cloud SQL is being provisioned, the SQL Connect service provides the ephemeral service to help developers get started. Once the Cloud SQL is provisioned, SQL Connect service will transfer its data on a best-effort basis to the Cloud SQL instance. WARNING: Ephemeral data sources will expire after 24 hour. The data will be lost if they aren't transferred to the Cloud SQL instance. WARNING: When `ephemeral=true`, mutations to the database are not guaranteed to be durably persisted, even if an OK status code is returned. All or parts of the data may be lost or reverted to earlier versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for PostgreSQL data source."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#PostgreSqlSchemaValidationEnum": {
      "type": "enum",
      "members": {
        "SQL_SCHEMA_VALIDATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SCHEMA_VALIDATION_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRICT"
          }
        },
        "COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBLE"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#PostgreSqlSchemaMigrationEnum": {
      "type": "enum",
      "members": {
        "SQL_SCHEMA_MIGRATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SCHEMA_MIGRATION_UNSPECIFIED"
          }
        },
        "MIGRATE_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATE_COMPATIBLE"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Part": {
      "type": "structure",
      "members": {
        "textChunk": {
          "target": "com.gcp.firebasedataconnect_v1beta#TextChunk",
          "traits": {
            "smithy.api#documentation": "Optional. A chunk of text."
          }
        },
        "codeChunk": {
          "target": "com.gcp.firebasedataconnect_v1beta#CodeChunk",
          "traits": {
            "smithy.api#documentation": "Optional. A chunk of code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a chunk of content."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DataConnectProperties": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentList",
          "traits": {
            "smithy.api#documentation": "The path under response.data where the rest of the fields apply. Each element may be a string (field name) or number (array index). The root of response.data is denoted by the empty list `[]`."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A single Entity ID. Set if the path points to a single entity."
          }
        },
        "entityIds": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Entity IDs. Set if the path points to an array of entities. An ID is present for each element of the array at the corresponding index."
          }
        },
        "maxAge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-suggested duration before data under path is considered stale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Connect specific properties for a path under response.data."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.firebasedataconnect_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebasedataconnect_v1beta#Location"
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.firebasedataconnect_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.firebasedataconnect_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Workaround": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why would this workaround address the error and warning."
          }
        },
        "replace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested code snippet to fix the error and warning."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this workaround."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workaround provides suggestions to address errors and warnings."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.firebasedataconnect_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Location"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.firebasedataconnect_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CreateProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the service, which will become the final component of the service's resource name.",
            "smithy.api#httpQuery": "serviceId"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validate the request and preview the Service, but do not actually create it.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Value of parent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#CreateProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#CreateProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+parent}/services"
        },
        "smithy.api#documentation": "Creates a new Service in a given project and location."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateQueryProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service in which to generate the query. Format: projects/{project}/locations/{location}/services/{service}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#GenerateQueryRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateQueryProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#GenerateQueryProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#GenerateQueryResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:generateQuery"
        },
        "smithy.api#documentation": "Generates a GraphQL query based on a natural language prompt and the provided schema context. This is a stateless method; the schema is provided per request to support local development states. Streams results with real-time status and output chunks."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#IntrospectGraphqlProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#IntrospectGraphqlProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#IntrospectGraphqlProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:introspectGraphql"
        },
        "smithy.api#documentation": "Execute introspection query against the Firebase SQL Connect's generated GraphQL schema. GraphQL introspection query provides metadata such as what tables the schema have, what queries and mutations can be performed on the schema, and so on. Read more at https://graphql.org/learn/introspection. IntrospectGraphql can read schema metadata but cannot read rows from Cloud SQL instance, which can be done via ExecuteGraphqlRead."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateSchemaProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service in which to generate the schema. Format: projects/{project}/locations/{location}/services/{service}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#GenerateSchemaRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GenerateSchemaProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#GenerateSchemaProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#GenerateSchemaResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:generateSchema"
        },
        "smithy.api#documentation": "Generates GraphQL schema based on a natural language prompt or data description. This allows users to scaffold new types and tables quickly. Streams results with real-time status and output chunks."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListServices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListServices` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Value of parent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/services"
        },
        "smithy.api#documentation": "Lists Services in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag of the Service. If this is provided, it must match the server's etag.",
            "smithy.api#httpQuery": "etag"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service to delete, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true and the Service is not found, the request will succeed but no action will be taken on the server.",
            "smithy.api#httpQuery": "allowMissing"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validate the request and preview the Service, but do not actually delete it.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any child resources (i.e. Schema, SchemaRevisions, Connectors, and ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Service has no child resources.",
            "smithy.api#httpQuery": "force"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlReadProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlReadProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlReadProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:executeGraphqlRead"
        },
        "smithy.api#documentation": "Execute any GraphQL query against the Firebase SQL Connect's generated GraphQL schema. Grants full read to the connected data sources. `ExecuteGraphqlRead` is identical to `ExecuteGraphql` except it only accepts read-only query."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#PatchProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true and the Service is not found, a new Service will be created. In this case, `update_mask` is ignored.",
            "smithy.api#httpQuery": "allowMissing"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validate the request and preview the Service, but do not actually update it.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#PatchProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#PatchProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single Service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#GetProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#Service"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Service."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebasedataconnect_v1beta#GraphqlRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebasedataconnect_v1beta#ExecuteGraphqlProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.firebasedataconnect_v1beta#GraphqlResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebasedataconnect_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebasedataconnect_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:executeGraphql"
        },
        "smithy.api#documentation": "Execute any GraphQL query or mutation against the Firebase SQL Connect's generated GraphQL schema. Grants full read and write access to the connected data sources. Note: Use introspection query to explore the generated GraphQL schema."
      }
    },
    "com.gcp.firebasedataconnect_v1beta#DeleteProjectsLocationsServicesSchemasRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag of the Schema. If this is provided, it must match the server's etag.",
            "smithy.api#httpQuery": "etag"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any child resources (i.e. SchemaRevisions) will also be deleted.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the schema to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ```",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true and the Schema is not found, the request will succeed but no action will be taken on the server.",
[...]
