{
  "smithy": "2.0",
  "metadata": {
    "service": "firestore",
    "version": "v1beta1",
    "title": "Cloud Firestore API",
    "baseUrl": "https://firestore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firestore_v1beta1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.firestore_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.firestore_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.firestore_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "type": "structure",
      "members": {
        "documentProgress": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "Progress of the existing operation, measured in number of documents."
          }
        },
        "operationType": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexOperationMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of index operation."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "index": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
          }
        },
        "cancelled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexOperationMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATING_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_INDEX"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned in the google.longrunning.Operation response field."
      }
    },
    "com.gcp.firestore_v1beta1#UnaryFilter": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.gcp.firestore_v1beta1#UnaryFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The unary operator to apply."
          }
        },
        "field": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to which to apply the operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter with a single operand."
      }
    },
    "com.gcp.firestore_v1beta1#UnaryFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "IS_NAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NAN"
          }
        },
        "IS_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NULL"
          }
        },
        "IS_NOT_NAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NOT_NAN"
          }
        },
        "IS_NOT_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS_NOT_NULL"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#Order": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to order by."
          }
        },
        "direction": {
          "target": "com.gcp.firestore_v1beta1#OrderDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The direction to order by. Defaults to `ASCENDING`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An order on a field."
      }
    },
    "com.gcp.firestore_v1beta1#OrderDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#ReadWrite": {
      "type": "structure",
      "members": {
        "retryTransaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional transaction to retry."
          }
        },
        "concurrencyMode": {
          "target": "com.gcp.firestore_v1beta1#ReadWriteConcurrencyModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a transaction that can be used to read and write documents."
      }
    },
    "com.gcp.firestore_v1beta1#ReadWriteConcurrencyModeEnum": {
      "type": "enum",
      "members": {
        "CONCURRENCY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENCY_MODE_UNSPECIFIED"
          }
        },
        "OPTIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMISTIC"
          }
        },
        "PESSIMISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PESSIMISTIC"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#StructuredQuery": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.gcp.firestore_v1beta1#CollectionSelectorList",
          "traits": {
            "smithy.api#documentation": "The collections to query."
          }
        },
        "startAt": {
          "target": "com.gcp.firestore_v1beta1#Cursor",
          "traits": {
            "smithy.api#documentation": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b > 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b > 2 AND __name__ > /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b > 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
          }
        },
        "where": {
          "target": "com.gcp.firestore_v1beta1#Filter",
          "traits": {
            "smithy.api#documentation": "The filter to apply."
          }
        },
        "endAt": {
          "target": "com.gcp.firestore_v1beta1#Cursor",
          "traits": {
            "smithy.api#documentation": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified."
          }
        },
        "findNearest": {
          "target": "com.gcp.firestore_v1beta1#FindNearest",
          "traits": {
            "smithy.api#documentation": "Optional. A potential nearest neighbors search. Applies after all other filters and ordering. Finds the closest vector embeddings to the given query vector."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified."
          }
        },
        "select": {
          "target": "com.gcp.firestore_v1beta1#Projection",
          "traits": {
            "smithy.api#documentation": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned."
          }
        },
        "orderBy": {
          "target": "com.gcp.firestore_v1beta1#OrderList",
          "traits": {
            "smithy.api#documentation": "The order to apply to the query results. Callers can provide a full ordering, a partial ordering, or no ordering at all. While Firestore will always respect the provided order, the behavior for queries without a full ordering is different per database edition: In Standard edition, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a > 1` becomes `WHERE a > 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ > ... AND a > 1` becomes `WHERE __name__ > ... AND a > 1 ORDER BY a ASC, __name__ ASC` In Enterprise edition, Firestore does not guarantee a stable ordering. Instead it will pick the most efficient ordering based on the indexes available at the time of query execution. This will result in a different ordering for queries that are otherwise identical. To ensure a stable ordering, always include a unique field in the `order_by` clause, such as `__name__`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firestore query. The query stages are executed in the following order: 1. from 2. where 3. select 4. order_by + start_at + end_at 5. offset 6. limit 7. find_nearest"
      }
    },
    "com.gcp.firestore_v1beta1#CollectionSelectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#CollectionSelector"
      }
    },
    "com.gcp.firestore_v1beta1#OrderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Order"
      }
    },
    "com.gcp.firestore_v1beta1#ExistenceFilter": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The target ID to which this filter applies."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target."
          }
        },
        "unchangedNames": {
          "target": "com.gcp.firestore_v1beta1#BloomFilter",
          "traits": {
            "smithy.api#documentation": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A digest of all the documents that match a given target."
      }
    },
    "com.gcp.firestore_v1beta1#ListCollectionIdsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token. Must be a value from ListCollectionIdsResponse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.ListCollectionIds."
      }
    },
    "com.gcp.firestore_v1beta1#ListDocumentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages."
          }
        },
        "documents": {
          "target": "com.gcp.firestore_v1beta1#DocumentList",
          "traits": {
            "smithy.api#documentation": "The Documents found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.ListDocuments."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Document"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "type": "structure",
      "members": {
        "inputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Which collection ids to import. Unspecified means all collections included in the import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for FirestoreAdmin.ImportDocuments."
      }
    },
    "com.gcp.firestore_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the restore was started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the restore finished, unset for ongoing restores."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1RestoreDatabaseMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The operation state of the restore."
          }
        },
        "progressPercentage": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "How far along the restore is as an estimated percentage of remaining time."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the database being restored to."
          }
        },
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup restoring from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the long-running operation from the RestoreDatabase request."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1RestoreDatabaseMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#PartitionQueryRequest": {
      "type": "structure",
      "members": {
        "partitionCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available."
          }
        },
        "structuredQuery": {
          "target": "com.gcp.firestore_v1beta1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.PartitionQuery."
      }
    },
    "com.gcp.firestore_v1beta1#RunAggregationQueryResponse": {
      "type": "structure",
      "members": {
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction."
          }
        },
        "result": {
          "target": "com.gcp.firestore_v1beta1#AggregationResult",
          "traits": {
            "smithy.api#documentation": "A single aggregation result. Not present when reporting partial progress."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run."
          }
        },
        "explainMetrics": {
          "target": "com.gcp.firestore_v1beta1#ExplainMetrics",
          "traits": {
            "smithy.api#documentation": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.RunAggregationQuery."
      }
    },
    "com.gcp.firestore_v1beta1#ExecutePipelineRequest": {
      "type": "structure",
      "members": {
        "newTransaction": {
          "target": "com.gcp.firestore_v1beta1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction."
          }
        },
        "autoCommitTransaction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Automatically commits the transaction after the pipeline has been executed. Only permitted in combination with `transaction` or `new_transaction`."
          }
        },
        "structuredPipeline": {
          "target": "com.gcp.firestore_v1beta1#StructuredPipeline",
          "traits": {
            "smithy.api#documentation": "A pipelined operation."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.ExecutePipeline."
      }
    },
    "com.gcp.firestore_v1beta1#TargetChange": {
      "type": "structure",
      "members": {
        "targetIds": {
          "target": "com.gcp.firestore_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
          }
        },
        "resumeToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing."
          }
        },
        "targetChangeType": {
          "target": "com.gcp.firestore_v1beta1#TargetChangeTargetChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of change that occurred."
          }
        },
        "cause": {
          "target": "com.gcp.firestore_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error that resulted in this change, if applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targets being watched have changed."
      }
    },
    "com.gcp.firestore_v1beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.firestore_v1beta1#TargetChangeTargetChangeTypeEnum": {
      "type": "enum",
      "members": {
        "NO_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CHANGE"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        },
        "CURRENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENT"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#CommitRequest": {
      "type": "structure",
      "members": {
        "writes": {
          "target": "com.gcp.firestore_v1beta1#WriteList",
          "traits": {
            "smithy.api#documentation": "The writes to apply. Always executed atomically and in order."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, applies all writes in this transaction, and commits it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.Commit."
      }
    },
    "com.gcp.firestore_v1beta1#WriteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Write"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ExportDocumentsMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the export operation."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Which collection ids are being exported."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that work began on the operation."
          }
        },
        "progressDocuments": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of documents processed."
          }
        },
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the entities are being exported to."
          }
        },
        "progressBytes": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1Progress",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of bytes processed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for ExportDocuments operations."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ExportDocumentsMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#CollectionSelector": {
      "type": "structure",
      "members": {
        "collectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The collection ID. When set, selects only collections with this ID."
          }
        },
        "allDescendants": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A selection of a collection, such as `messages as m1`."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentChange": {
      "type": "structure",
      "members": {
        "targetIds": {
          "target": "com.gcp.firestore_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs of targets that match this document."
          }
        },
        "document": {
          "target": "com.gcp.firestore_v1beta1#Document",
          "traits": {
            "smithy.api#documentation": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
          }
        },
        "removedTargetIds": {
          "target": "com.gcp.firestore_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs for targets that no longer match this document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected."
      }
    },
    "com.gcp.firestore_v1beta1#Pipeline": {
      "type": "structure",
      "members": {
        "stages": {
          "target": "com.gcp.firestore_v1beta1#StageList",
          "traits": {
            "smithy.api#documentation": "Required. Ordered list of stages to evaluate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firestore query represented as an ordered list of operations / stages."
      }
    },
    "com.gcp.firestore_v1beta1#StageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Stage"
      }
    },
    "com.gcp.firestore_v1beta1#StructuredPipeline": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "com.gcp.firestore_v1beta1#Pipeline",
          "traits": {
            "smithy.api#documentation": "Required. The pipeline query to execute."
          }
        },
        "options": {
          "target": "com.gcp.firestore_v1beta1#ValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional query-level arguments. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper."
      }
    },
    "com.gcp.firestore_v1beta1#ValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.firestore_v1beta1#Value"
      }
    },
    "com.gcp.firestore_v1beta1#WriteRequest": {
      "type": "structure",
      "members": {
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
          }
        },
        "streamToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream."
          }
        },
        "labels": {
          "target": "com.gcp.firestore_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels associated with this write request."
          }
        },
        "writes": {
          "target": "com.gcp.firestore_v1beta1#WriteList",
          "traits": {
            "smithy.api#documentation": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request."
      }
    },
    "com.gcp.firestore_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.firestore_v1beta1#RunQueryResponse": {
      "type": "structure",
      "members": {
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response."
          }
        },
        "document": {
          "target": "com.gcp.firestore_v1beta1#Document",
          "traits": {
            "smithy.api#documentation": "A query result, not set when reporting partial progress."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run."
          }
        },
        "skippedResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results that have been skipped due to an offset between the last response and the current response."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If present, Firestore has completely finished the request and no more documents will be returned."
          }
        },
        "explainMetrics": {
          "target": "com.gcp.firestore_v1beta1#ExplainMetrics",
          "traits": {
            "smithy.api#documentation": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.RunQuery."
      }
    },
    "com.gcp.firestore_v1beta1#Projection": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.firestore_v1beta1#FieldReferenceList",
          "traits": {
            "smithy.api#documentation": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The projection of document's fields to return."
      }
    },
    "com.gcp.firestore_v1beta1#FieldReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#FieldReference"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1Progress": {
      "type": "structure",
      "members": {
        "estimatedWork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work estimated."
          }
        },
        "completedWork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of work completed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation started."
          }
        },
        "progressDocuments": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in documents, of this operation."
          }
        },
        "namespaceIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Which namespace IDs are being deleted."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation completed. Will be unset if operation still in progress."
          }
        },
        "operationState": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadataOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the operation."
          }
        },
        "collectionIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs of the collection groups that are being deleted."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp that corresponds to the version of the database that is being read to get the list of documents to delete. This time can also be used as the timestamp of PITR in case of disaster recovery (subject to PITR window limit)."
          }
        },
        "progressBytes": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1Progress",
          "traits": {
            "smithy.api#documentation": "The progress, in bytes, of this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for google.longrunning.Operation results from FirestoreAdmin.BulkDeleteDocuments."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1BulkDeleteDocumentsMetadataOperationStateEnum": {
      "type": "enum",
      "members": {
        "OPERATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "FINALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZING"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#DocumentMask": {
      "type": "structure",
      "members": {
        "fieldPaths": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
      }
    },
    "com.gcp.firestore_v1beta1#ListenResponse": {
      "type": "structure",
      "members": {
        "documentRemove": {
          "target": "com.gcp.firestore_v1beta1#DocumentRemove",
          "traits": {
            "smithy.api#documentation": "A Document has been removed from a target (because it is no longer relevant to that target)."
          }
        },
        "filter": {
          "target": "com.gcp.firestore_v1beta1#ExistenceFilter",
          "traits": {
            "smithy.api#documentation": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown."
          }
        },
        "targetChange": {
          "target": "com.gcp.firestore_v1beta1#TargetChange",
          "traits": {
            "smithy.api#documentation": "Targets have changed."
          }
        },
        "documentChange": {
          "target": "com.gcp.firestore_v1beta1#DocumentChange",
          "traits": {
            "smithy.api#documentation": "A Document has changed."
          }
        },
        "documentDelete": {
          "target": "com.gcp.firestore_v1beta1#DocumentDelete",
          "traits": {
            "smithy.api#documentation": "A Document has been deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.Listen."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentDelete": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Document that was deleted."
          }
        },
        "removedTargetIds": {
          "target": "com.gcp.firestore_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs for targets that previously matched this entity."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected."
      }
    },
    "com.gcp.firestore_v1beta1#ListCollectionIdsResponse": {
      "type": "structure",
      "members": {
        "collectionIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The collection ids."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that may be used to continue the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from Firestore.ListCollectionIds."
      }
    },
    "com.gcp.firestore_v1beta1#BeginTransactionRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.firestore_v1beta1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "The options for the transaction. Defaults to a read-write transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.BeginTransaction."
      }
    },
    "com.gcp.firestore_v1beta1#ExplainMetrics": {
      "type": "structure",
      "members": {
        "executionStats": {
          "target": "com.gcp.firestore_v1beta1#ExecutionStats",
          "traits": {
            "smithy.api#documentation": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true."
          }
        },
        "planSummary": {
          "target": "com.gcp.firestore_v1beta1#PlanSummary",
          "traits": {
            "smithy.api#documentation": "Planning phase information for the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explain metrics for the query."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentTransform": {
      "type": "structure",
      "members": {
        "fieldTransforms": {
          "target": "com.gcp.firestore_v1beta1#FieldTransformList",
          "traits": {
            "smithy.api#documentation": "The list of transformations to apply to the fields of the document, in order. This must not be empty."
          }
        },
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the document to transform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation of a document."
      }
    },
    "com.gcp.firestore_v1beta1#FieldTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#FieldTransform"
      }
    },
    "com.gcp.firestore_v1beta1#Write": {
      "type": "structure",
      "members": {
        "transform": {
          "target": "com.gcp.firestore_v1beta1#DocumentTransform",
          "traits": {
            "smithy.api#documentation": "Applies a transformation to a document."
          }
        },
        "delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
          }
        },
        "updateMask": {
          "target": "com.gcp.firestore_v1beta1#DocumentMask",
          "traits": {
            "smithy.api#documentation": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
          }
        },
        "updateTransforms": {
          "target": "com.gcp.firestore_v1beta1#FieldTransformList",
          "traits": {
            "smithy.api#documentation": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order."
          }
        },
        "update": {
          "target": "com.gcp.firestore_v1beta1#Document",
          "traits": {
            "smithy.api#documentation": "A document to write."
          }
        },
        "currentDocument": {
          "target": "com.gcp.firestore_v1beta1#Precondition",
          "traits": {
            "smithy.api#documentation": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A write on a document."
      }
    },
    "com.gcp.firestore_v1beta1#Avg": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double."
      }
    },
    "com.gcp.firestore_v1beta1#Cursor": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.firestore_v1beta1#ValueList",
          "traits": {
            "smithy.api#documentation": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
          }
        },
        "before": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the position is just before or just after the given values, relative to the sort order defined by the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A position in a query result set."
      }
    },
    "com.gcp.firestore_v1beta1#ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Value"
      }
    },
    "com.gcp.firestore_v1beta1#ListenRequest": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.firestore_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels associated with this target change."
          }
        },
        "addTarget": {
          "target": "com.gcp.firestore_v1beta1#Target",
          "traits": {
            "smithy.api#documentation": "A target to add to this stream."
          }
        },
        "removeTarget": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of a target to remove from this stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for Firestore.Listen"
      }
    },
    "com.gcp.firestore_v1beta1#AggregationResult": {
      "type": "structure",
      "members": {
        "aggregateFields": {
          "target": "com.gcp.firestore_v1beta1#ValueMap",
          "traits": {
            "smithy.api#documentation": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result."
      }
    },
    "com.gcp.firestore_v1beta1#Target": {
      "type": "structure",
      "members": {
        "expectedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of documents that last matched the query at the resume token or read time. This value is only relevant when a `resume_type` is provided. This value being present and greater than zero signals that the client wants `ExistenceFilter.unchanged_names` to be included in the response."
          }
        },
        "query": {
          "target": "com.gcp.firestore_v1beta1#QueryTarget",
          "traits": {
            "smithy.api#documentation": "A target specified by a query."
          }
        },
        "documents": {
          "target": "com.gcp.firestore_v1beta1#DocumentsTarget",
          "traits": {
            "smithy.api#documentation": "A target specified by a set of document names."
          }
        },
        "resumeToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time."
          }
        },
        "targetId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The target ID that identifies the target on the stream. Must be a positive number and non-zero. If `target_id` is 0 (or unspecified), the server will assign an ID for this target and return that in a `TargetChange::ADD` event. Once a target with `target_id=0` is added, all subsequent targets must also have `target_id=0`. If an `AddTarget` request with `target_id != 0` is sent to the server after a target with `target_id=0` is added, the server will immediately send a response with a `TargetChange::Remove` event. Note that if the client sends multiple `AddTarget` requests without an ID, the order of IDs returned in `TargetChange.target_ids` are undefined. Therefore, clients should provide a target ID instead of relying on the server to assign one. If `target_id` is non-zero, there must not be an existing active target on this stream with the same ID."
          }
        },
        "once": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the target should be removed once it is current and consistent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specification of a set of documents to listen to."
      }
    },
    "com.gcp.firestore_v1beta1#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.firestore_v1beta1#BatchGetDocumentsRequest": {
      "type": "structure",
      "members": {
        "mask": {
          "target": "com.gcp.firestore_v1beta1#DocumentMask",
          "traits": {
            "smithy.api#documentation": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response."
          }
        },
        "newTransaction": {
          "target": "com.gcp.firestore_v1beta1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
          }
        },
        "documents": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents in a transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.BatchGetDocuments."
      }
    },
    "com.gcp.firestore_v1beta1#FieldFilter": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to filter by."
          }
        },
        "value": {
          "target": "com.gcp.firestore_v1beta1#Value",
          "traits": {
            "smithy.api#documentation": "The value to compare to."
          }
        },
        "op": {
          "target": "com.gcp.firestore_v1beta1#FieldFilterOpEnum",
          "traits": {
            "smithy.api#documentation": "The operator to filter by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter on a specific field."
      }
    },
    "com.gcp.firestore_v1beta1#FieldFilterOpEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_UNSPECIFIED"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_EQUAL"
          }
        },
        "ARRAY_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY_CONTAINS"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "ARRAY_CONTAINS_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY_CONTAINS_ANY"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#RunAggregationQueryRequest": {
      "type": "structure",
      "members": {
        "newTransaction": {
          "target": "com.gcp.firestore_v1beta1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream."
          }
        },
        "structuredAggregationQuery": {
          "target": "com.gcp.firestore_v1beta1#StructuredAggregationQuery",
          "traits": {
            "smithy.api#documentation": "An aggregation query."
          }
        },
        "explainOptions": {
          "target": "com.gcp.firestore_v1beta1#ExplainOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.RunAggregationQuery."
      }
    },
    "com.gcp.firestore_v1beta1#RollbackRequest": {
      "type": "structure",
      "members": {
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The transaction to roll back."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.Rollback."
      }
    },
    "com.gcp.firestore_v1beta1#WriteResult": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
          }
        },
        "transformResults": {
          "target": "com.gcp.firestore_v1beta1#ValueList",
          "traits": {
            "smithy.api#documentation": "The results of applying each DocumentTransform.FieldTransform, in the same order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of applying a write."
      }
    },
    "com.gcp.firestore_v1beta1#RunQueryRequest": {
      "type": "structure",
      "members": {
        "structuredQuery": {
          "target": "com.gcp.firestore_v1beta1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "A structured query."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        },
        "transaction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
          }
        },
        "newTransaction": {
          "target": "com.gcp.firestore_v1beta1#TransactionOptions",
          "traits": {
            "smithy.api#documentation": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
          }
        },
        "explainOptions": {
          "target": "com.gcp.firestore_v1beta1#ExplainOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for Firestore.RunQuery."
      }
    },
    "com.gcp.firestore_v1beta1#ReadOnly": {
      "type": "structure",
      "members": {
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a transaction that can only be used to read documents."
      }
    },
    "com.gcp.firestore_v1beta1#Precondition": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A precondition on a document, used for conditional operations."
      }
    },
    "com.gcp.firestore_v1beta1#StructuredAggregationQuery": {
      "type": "structure",
      "members": {
        "structuredQuery": {
          "target": "com.gcp.firestore_v1beta1#StructuredQuery",
          "traits": {
            "smithy.api#documentation": "Nested structured query."
          }
        },
        "aggregations": {
          "target": "com.gcp.firestore_v1beta1#AggregationList",
          "traits": {
            "smithy.api#documentation": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Firestore query for running an aggregation over a StructuredQuery."
      }
    },
    "com.gcp.firestore_v1beta1#AggregationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#Aggregation"
      }
    },
    "com.gcp.firestore_v1beta1#Aggregation": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.gcp.firestore_v1beta1#Count",
          "traits": {
            "smithy.api#documentation": "Count aggregator."
          }
        },
        "sum": {
          "target": "com.gcp.firestore_v1beta1#Sum",
          "traits": {
            "smithy.api#documentation": "Sum aggregator."
          }
        },
        "avg": {
          "target": "com.gcp.firestore_v1beta1#Avg",
          "traits": {
            "smithy.api#documentation": "Average aggregator."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an aggregation that produces a single result."
      }
    },
    "com.gcp.firestore_v1beta1#FieldTransform": {
      "type": "structure",
      "members": {
        "appendMissingElements": {
          "target": "com.gcp.firestore_v1beta1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value."
          }
        },
        "setToServerValue": {
          "target": "com.gcp.firestore_v1beta1#FieldTransformSetToServerValueEnum",
          "traits": {
            "smithy.api#documentation": "Sets the field to the given server value."
          }
        },
        "increment": {
          "target": "com.gcp.firestore_v1beta1#Value",
          "traits": {
            "smithy.api#documentation": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer."
          }
        },
        "removeAllFromArray": {
          "target": "com.gcp.firestore_v1beta1#ArrayValue",
          "traits": {
            "smithy.api#documentation": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value."
          }
        },
        "maximum": {
          "target": "com.gcp.firestore_v1beta1#Value",
          "traits": {
            "smithy.api#documentation": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
          }
        },
        "fieldPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the field. See Document.fields for the field path syntax reference."
          }
        },
        "minimum": {
          "target": "com.gcp.firestore_v1beta1#Value",
          "traits": {
            "smithy.api#documentation": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A transformation of a field of the document."
      }
    },
    "com.gcp.firestore_v1beta1#FieldTransformSetToServerValueEnum": {
      "type": "enum",
      "members": {
        "SERVER_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_VALUE_UNSPECIFIED"
          }
        },
        "REQUEST_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TIME"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexField": {
      "type": "structure",
      "members": {
        "fieldPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path."
          }
        },
        "mode": {
          "target": "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexFieldModeEnum",
          "traits": {
            "smithy.api#documentation": "The field's mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A field of an index."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1IndexFieldModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        },
        "ARRAY_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY_CONTAINS"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#DocumentRemove": {
      "type": "structure",
      "members": {
        "document": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Document that has gone out of view."
          }
        },
        "removedTargetIds": {
          "target": "com.gcp.firestore_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "A set of target IDs for targets that previously matched this document."
          }
        },
        "readTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected."
      }
    },
    "com.gcp.firestore_v1beta1#FindNearest": {
      "type": "structure",
      "members": {
        "distanceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`"
          }
        },
        "queryVector": {
          "target": "com.gcp.firestore_v1beta1#Value",
          "traits": {
            "smithy.api#documentation": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions."
          }
        },
        "distanceResultField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000."
          }
        },
        "vectorField": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned."
          }
        },
        "distanceMeasure": {
          "target": "com.gcp.firestore_v1beta1#FindNearestDistanceMeasureEnum",
          "traits": {
            "smithy.api#documentation": "Required. The distance measure to use, required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries."
      }
    },
    "com.gcp.firestore_v1beta1#FindNearestDistanceMeasureEnum": {
      "type": "enum",
      "members": {
        "DISTANCE_MEASURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTANCE_MEASURE_UNSPECIFIED"
          }
        },
        "EUCLIDEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUCLIDEAN"
          }
        },
        "COSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COSINE"
          }
        },
        "DOT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOT_PRODUCT"
          }
        }
      }
    },
    "com.gcp.firestore_v1beta1#Sum": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.firestore_v1beta1#FieldReference",
          "traits": {
            "smithy.api#documentation": "The field to aggregate on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sum of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns 0. * Returns a 64-bit integer if all aggregated numbers are integers and the sum result does not overflow. Otherwise, the result is returned as a double. Note that even if all the aggregated values are integers, the result is returned as a double if it cannot fit within a 64-bit signed integer. When this occurs, the returned value will lose precision. * When underflow occurs, floating-point aggregation is non-deterministic. This means that running the same query repeatedly without any changes to the underlying values could produce slightly different results each time. In those cases, values should be stored as integers over floating-point numbers."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1Progress": {
      "type": "structure",
      "members": {
        "workCompleted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`."
          }
        },
        "workEstimated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Measures the progress of a particular metric."
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1PitrSnapshot": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the database that this was a snapshot of. Format: `projects/{project}/databases/{database}`."
          }
        },
        "databaseUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Public UUID of the database the snapshot was associated with."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Snapshot time of the database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A consistent snapshot of a database at a specific point in time. A PITR (Point-in-time recovery) snapshot with previous versions of a database's data is available for every minute up to the associated database's data retention period. If the PITR feature is enabled, the retention period is 7 days; otherwise, it is one hour."
      }
    },
    "com.gcp.firestore_v1beta1#TransactionOptions": {
      "type": "structure",
      "members": {
        "readOnly": {
          "target": "com.gcp.firestore_v1beta1#ReadOnly",
          "traits": {
            "smithy.api#documentation": "The transaction can only be used for read operations."
          }
        },
        "readWrite": {
          "target": "com.gcp.firestore_v1beta1#ReadWrite",
          "traits": {
            "smithy.api#documentation": "The transaction can be used for both read and write operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for creating a new transaction."
      }
    },
    "com.gcp.firestore_v1beta1#ExecutionStats": {
      "type": "structure",
      "members": {
        "executionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total time to execute the query in the backend."
          }
        },
        "readOperations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total billable read operations."
          }
        },
        "debugStats": {
          "target": "com.gcp.firestore_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }"
          }
        },
        "resultsReturned": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of results returned, including documents, projections, aggregation results, keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution statistics for the query."
      }
    },
    "com.gcp.firestore_v1beta1#WriteResponse": {
      "type": "structure",
      "members": {
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the stream. Only set on the first message, when a new stream was created."
          }
        },
        "streamToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
          }
        },
        "writeResults": {
          "target": "com.gcp.firestore_v1beta1#WriteResultList",
          "traits": {
            "smithy.api#documentation": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for Firestore.Write."
      }
    },
    "com.gcp.firestore_v1beta1#WriteResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#WriteResult"
      }
    },
    "com.gcp.firestore_v1beta1#Firestore_Function": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the function to evaluate. **Requires:** * must be in snake case (lower case with underscore separator)."
          }
        },
        "args": {
          "target": "com.gcp.firestore_v1beta1#ValueList",
          "traits": {
            "smithy.api#documentation": "Optional. Ordered list of arguments the given function expects."
          }
        },
        "options": {
          "target": "com.gcp.firestore_v1beta1#ValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional named arguments that certain functions may support."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an unevaluated scalar expression. For example, the expression `like(user_name, \"%alice%\")` is represented as: ``` name: \"like\" args { field_reference: \"user_name\" } args { string_value: \"%alice%\" } ```"
      }
    },
    "com.gcp.firestore_v1beta1#PlanSummary": {
      "type": "structure",
      "members": {
        "indexesUsed": {
          "target": "com.gcp.firestore_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planning phase information for the query."
      }
    },
    "com.gcp.firestore_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firestore_v1beta1#DocumentMap"
      }
    },
    "com.gcp.firestore_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firestore_v1beta1#GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "type": "structure",
      "members": {
        "collectionIds": {
          "target": "com.gcp.firestore_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Which collection ids to export. Unspecified means all collections."
          }
        },
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for FirestoreAdmin.ExportDocuments."
      }
    },
    "com.gcp.firestore_v1beta1#Document": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
[...]
