{
  "smithy": "2.0",
  "metadata": {
    "service": "firebaseappcheck",
    "version": "v1beta",
    "title": "Firebase App Check API",
    "baseUrl": "https://firebaseappcheck.googleapis.com/"
  },
  "shapes": {
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetRecaptchaEnterpriseConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigList",
          "traits": {
            "smithy.api#documentation": "RecaptchaEnterpriseConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetRecaptchaEnterpriseConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity": {
      "type": "structure",
      "members": {
        "allowUnrecognizedVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether your running app is allowed to have the `UNRECOGNIZED_VERSION` [app recognition verdict](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field). Note that the app recognition verdict `PLAY_RECOGNIZED` is a strong, comprehensive integrity signal that takes into account various other signals, including conditional and optional device integrity responses that you have opted into. If your app is published off-Play, this field should be set to `true` to allow instances of your app installed from off-Play sources to function. If set to `false`, only `PLAY_RECOGNIZED` verdicts are allowed, and both `UNRECOGNIZED_VERSION` and `UNEVALUATED` will be rejected. If set to `true`, any app recognition verdict is allowed. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfig": {
      "type": "structure",
      "members": {
        "appIntegrity": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAppIntegrity",
          "traits": {
            "smithy.api#documentation": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```"
          }
        },
        "accountDetails": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails",
          "traits": {
            "smithy.api#documentation": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "deviceIntegrity": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity",
          "traits": {
            "smithy.api#documentation": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPublicJwkSet": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPublicJwkList",
          "traits": {
            "smithy.api#documentation": "The set of public keys. See [section 5.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently active set of public keys that can be used to verify App Check tokens. This object is a JWK set as specified by [section 5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-5). For security, the response **must not** be cached for longer than six hours."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPublicJwkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPublicJwk"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest": {
      "type": "structure",
      "members": {
        "debugToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A debug token secret. This string must match a debug token secret previously created using CreateDebugToken."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeDebugToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeSafetyNetTokenRequest": {
      "type": "structure",
      "members": {
        "safetyNetToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [SafetyNet attestation response](https://developer.android.com/training/safetynet/attestation#request-attestation-step) issued to your app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeSafetyNetToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppAttestConfig": {
      "type": "structure",
      "members": {
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from App Attest artifacts will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's App Attest configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeAppAttestAttestation and ExchangeAppAttestAssertion, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetRecaptchaV3ConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaV3ConfigList",
          "traits": {
            "smithy.api#documentation": "RecaptchaV3Configs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetRecaptchaV3Configs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaV3ConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaV3Config"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetPlayIntegrityConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigList",
          "traits": {
            "smithy.api#documentation": "PlayIntegrityConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetPlayIntegrityConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the GeneratePlayIntegrityChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest": {
      "type": "structure",
      "members": {
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "artifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The artifact returned by a previous call to ExchangeAppAttestAttestation."
          }
        },
        "assertion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The CBOR-encoded assertion returned by the client-side App Attest API."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeAppAttestAssertion method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAttestationTokenResponse": {
      "type": "structure",
      "members": {
        "attestationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and Firebase project. This token is used to access Firebase services protected by App Check."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates an *App Check token*, which are used to access Firebase services protected by App Check."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis": {
      "type": "structure",
      "members": {
        "minValidScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaV3Config": {
      "type": "structure",
      "members": {
        "siteSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
          }
        },
        "siteSecretSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
          }
        },
        "minValidScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "resourcePolicies": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicyList",
          "traits": {
            "smithy.api#documentation": "ResourcePolicy objects after the updates have been applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicy"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaListResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "resourcePolicies": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicyList",
          "traits": {
            "smithy.api#documentation": "The ResourcePolicy objects retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetSafetyNetConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaSafetyNetConfigList",
          "traits": {
            "smithy.api#documentation": "SafetyNetConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetSafetyNetConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaSafetyNetConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaSafetyNetConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest": {
      "type": "structure",
      "members": {
        "playIntegrityToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify) issued to your app."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangePlayIntegrityToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest": {
      "type": "structure",
      "members": {
        "recaptchaToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeRecaptchaToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationRequest": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key ID generated by App Attest for the client app."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "attestationStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The App Attest statement returned by the client-side App Attest API. This is a base64url encoded CBOR object in the JSON response."
          }
        },
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one-time challenge returned by an immediately prior call to GenerateAppAttestChallenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeAppAttestAttestation method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse": {
      "type": "structure",
      "members": {
        "alreadyConsumed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this token was already consumed. If this is the first time this method has seen the given App Check token, this field will be omitted from the response. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response containing this field, regardless whether the token was already consumed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the VerifyAppCheckToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaSafetyNetConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from SafetyNet tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's SafetyNet configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangeSafetyNetToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by SafetyNet; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicy": {
      "type": "structure",
      "members": {
        "targetResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        },
        "enforcementMode": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicyEnforcementModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The App Check enforcement mode for this resource. This will override the EnforcementMode setting on the parent service."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this resource policy configuration object was most recently updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicyEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaResourcePolicy",
          "traits": {
            "smithy.api#documentation": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchUpdateResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A comma-separated list of names of fields in the ResourcePolicy objects to update. Example: `enforcement_mode`. If this field is present, the `update_mask` field in the UpdateResourcePolicyRequest messages must all match this field, or the entire batch fails and no updates will be committed."
          }
        },
        "requests": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request messages specifying the ResourcePolicy objects to update. A maximum of 100 objects can be updated in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the BatchUpdateResourcePolicies method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateResourcePolicyRequest"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetAppAttestConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppAttestConfigList",
          "traits": {
            "smithy.api#documentation": "AppAttestConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetAppAttestConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppAttestConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppAttestConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDebugToken": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this debug token was most recently updated."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human readable display name used to identify this debug token."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Immutable. The secret token itself. Must be provided during creation, and must be a UUID4, case insensitive. This field is immutable once set, and cannot be provided during an UpdateDebugToken request. You can, however, delete this debug token using DeleteDebugToken to revoke it. For security reasons, this field will never be populated in any response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A *debug token* is a secret used during the development or integration testing of an app. It essentially allows the development or integration testing to bypass app attestation while still allowing App Check to enforce protection on supported production Firebase services."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchUpdateServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceList",
          "traits": {
            "smithy.api#documentation": "Service objects after the updates have been applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaService"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest": {
      "type": "structure",
      "members": {
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "recaptchaEnterpriseToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reCAPTCHA token as returned by the [reCAPTCHA Enterprise JavaScript API](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeRecaptchaEnterpriseToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceList",
          "traits": {
            "smithy.api#documentation": "The Services retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListServices to find the next group of Services. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigAccountDetails": {
      "type": "structure",
      "members": {
        "requireLicensed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the caller must have received the [`LICENSED` verdict](https://developer.android.com/google/play/integrity/verdicts#account-details-field). For additional details about scenarios where your users will receive this `LICENSED` label, see [the default responses table](https://developer.android.com/google/play/integrity/setup#default). If set to `true`, apps without the `LICENSED` app licensing verdict will be rejected. If set to `false`, any app licensing verdict is allowed. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest": {
      "type": "structure",
      "members": {
        "appCheckToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The App Check token to verify. App Check tokens exchanged from the SafetyNet provider are not supported; an HTTP 400 error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the VerifyAppCheckToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaConfig": {
      "type": "structure",
      "members": {
        "siteSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
          }
        },
        "siteSecretSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "minValidScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A one-time use challenge for the client to pass to the App Attest API."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GenerateAppAttestChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchUpdateServicesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed."
          }
        },
        "requests": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateServiceRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateServiceRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateServiceRequest"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaService": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this service configuration object was most recently updated."
          }
        },
        "enforcementMode": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceEnforcementModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The App Check enforcement mode for this service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS)"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232."
          }
        },
        "replayProtection": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceReplayProtectionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The replay protection enforcement mode for this service. Note that this field cannot be set to a level higher than the overall App Check enforcement mode. For example, if the overall App Check enforcement mode is set to `UNENFORCED`, this field cannot be set to `ENFORCED`. In order to enforce replay protection, you must first enforce App Check. An HTTP 400 error will be returned in this case. By default, this field is set to `OFF`. Setting this field to `UNENFORCED` or `ENFORCED` is considered opting into replay protection. Once opted in, requests to your protected services may experience higher latency. To opt out of replay protection after opting in, set this field to `OFF`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enforcement configuration for a Firebase service supported by App Check."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaServiceReplayProtectionEnum": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "UNENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENFORCED"
          }
        },
        "ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCED"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetDeviceCheckConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDeviceCheckConfigList",
          "traits": {
            "smithy.api#documentation": "DeviceCheckConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetDeviceCheckConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDeviceCheckConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDeviceCheckConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the GenerateAppAttestChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrity": {
      "type": "structure",
      "members": {
        "minDeviceRecognitionLevel": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrityMinDeviceRecognitionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPlayIntegrityConfigDeviceIntegrityMinDeviceRecognitionLevelEnum": {
      "type": "enum",
      "members": {
        "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED"
          }
        },
        "NO_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_INTEGRITY"
          }
        },
        "MEETS_BASIC_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_BASIC_INTEGRITY"
          }
        },
        "MEETS_DEVICE_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_DEVICE_INTEGRITY"
          }
        },
        "MEETS_STRONG_INTEGRITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_STRONG_INTEGRITY"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```"
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA Enterprise tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "riskAnalysis": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaEnterpriseConfigRiskAnalysis",
          "traits": {
            "smithy.api#documentation": "Specifies risk tolerance and requirements for your application. These settings correspond to requirements on the [**`riskAnalysis`**](https://cloud.google.com/recaptcha/docs/interpret-assessment-website#interpret_assessment) tuple in the assessment obtained from reCAPTCHA Enterprise. The default values for these settings work for most apps, and are recommended."
          }
        },
        "siteKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The score-based site key [created in reCAPTCHA Enterprise](https://cloud.google.com/recaptcha-enterprise/docs/create-key#creating_a_site_key) used to [invoke reCAPTCHA and generate the reCAPTCHA tokens](https://cloud.google.com/recaptcha-enterprise/docs/instrument-web-pages) for your application. Important: This is *not* the `site_secret` (as it is in reCAPTCHA v3), but rather your score-based reCAPTCHA Enterprise site key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's reCAPTCHA Enterprise configuration object. This configuration is used by ExchangeRecaptchaEnterpriseToken to validate reCAPTCHA tokens issued to apps by reCAPTCHA Enterprise. It also controls certain properties of the returned `AppCheckToken`, such as its ttl."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this token is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        },
        "attestationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The App Check token. App Check tokens are signed [JWTs](https://tools.ietf.org/html/rfc7519) containing claims that identify the attested app and GCP project. This token is used to access Google services protected by App Check. These tokens can also be [verified by your own custom backends](https://firebase.google.com/docs/app-check/custom-resource-backend) using the Firebase Admin SDK or third-party libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates an *App Check token*, which are used to access backend services protected by App Check."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest": {
      "type": "structure",
      "members": {
        "recaptchaV3Token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3)."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeRecaptchaV3Token method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest": {
      "type": "structure",
      "members": {
        "deviceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `device_token` as returned by Apple's client-side [DeviceCheck API](https://developer.apple.com/documentation/devicecheck/dcdevice). This is the base64 encoded `Data` (Swift) or `NSData` (ObjC) object."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeDeviceCheckToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaBatchGetRecaptchaConfigsResponse": {
      "type": "structure",
      "members": {
        "configs": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaConfigList",
          "traits": {
            "smithy.api#documentation": "RecaptchaConfigs retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the BatchGetRecaptchaConfigs method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaRecaptchaConfig"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeAppAttestAttestationResponse": {
      "type": "structure",
      "members": {
        "artifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An artifact that can be used in future calls to ExchangeAppAttestAssertion."
          }
        },
        "attestationToken": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAttestationTokenResponse",
          "traits": {
            "smithy.api#documentation": "Encapsulates an App Check token."
          }
        },
        "appCheckToken": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken",
          "traits": {
            "smithy.api#documentation": "Encapsulates an App Check token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ExchangeAppAttestAttestation method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaUpdateServiceRequest": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaService",
          "traits": {
            "smithy.api#documentation": "Required. The Service to update. The Service's `name` field is used to identify the Service to be updated, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `identitytoolkit.googleapis.com` (Firebase Authentication with Identity Platform) * `oauth2.googleapis.com` (Google Identity for iOS) For Firebase Authentication to work with App Check, you must first upgrade to [Firebase Authentication with Identity Platform](https://firebase.google.com/docs/auth#identity-platform)."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the UpdateService method as well as an individual update message for the BatchUpdateServices method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaPublicJwk": {
      "type": "structure",
      "members": {
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 6.3.1.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.1)."
          }
        },
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 6.3.1.2 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1.2)."
          }
        },
        "kty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.1 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.1)."
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.2 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.2)."
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4)."
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "See [section 4.5 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.5)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JWK as specified by [section 4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4) and [section 6.3.1 of RFC 7518](https://tools.ietf.org/html/rfc7518#section-6.3.1)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest": {
      "type": "structure",
      "members": {
        "jti": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When `limited_use` is set to `true`, this field specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. *Limited use* App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. An error is returned if this field is specified without setting `limited_use` to `true`. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty and `limited_use` is set to `true`, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks. When `limited_use` is set to `false`, neither the presence nor the contents of the `jti` claim in the returned App Check token is specified. To ensure that the returned App Check token is eligible for limited use functionality, set `limited_use` to `true`."
          }
        },
        "limitedUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
          }
        },
        "customToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A custom token signed using your project's Admin SDK service account credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ExchangeCustomToken method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDeviceCheckConfig": {
      "type": "structure",
      "members": {
        "privateKeySet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
          }
        },
        "tokenTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps/patch)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaListDebugTokensResponse": {
      "type": "structure",
      "members": {
        "debugTokens": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDebugTokenList",
          "traits": {
            "smithy.api#documentation": "The DebugTokens retrieved."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListDebugTokens method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDebugTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaDebugToken"
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GeneratePlayIntegrityChallenge method."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#VerifyAppCheckTokenProjectsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the project for which the token was minted, in the format: ``` projects/{project_number} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.firebaseappcheck_v1beta#VerifyAppCheckTokenProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#VerifyAppCheckTokenProjectsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaVerifyAppCheckTokenResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+project}:verifyAppCheckToken"
        },
        "smithy.api#documentation": "Verifies the given App Check token and returns token usage signals that callers may act upon. This method currently only supports App Check tokens exchanged from the following attestation providers: * Play Integrity API * App Attest * DeviceCheck (`DCDevice` tokens) * reCAPTCHA Enterprise * reCAPTCHA v3 * Custom providers App Check tokens exchanged from debug secrets are also supported. Calling this method on an otherwise valid App Check token with an unsupported provider will cause an HTTP 400 error to be returned. Returns whether this token was already consumed before this call. If this is the first time this method has seen the given App Check token, the field `already_consumed` in the response will be absent. The given token will then be marked as `already_consumed` (set to `true`) for all future invocations of this method for that token. Note that if the given App Check token is invalid, an HTTP 403 error is returned instead of a response object, regardless whether the token was already consumed. Currently, when evaluating whether an App Check token was already consumed, only calls to this exact method are counted. Use of the App Check token elsewhere will not mark the token as being already consumed. The caller must have the [`firebaseappcheck.appCheckTokens.verify`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission to call this method. This permission is part of the [Firebase App Check Token Verifier role](https://firebase.google.com/docs/projects/iam/roles-predefined-product#app-check)."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeSafetyNetTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeSafetyNetTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeSafetyNetTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeSafetyNetTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeSafetyNetToken"
        },
        "smithy.api#documentation": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangePlayIntegrityTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangePlayIntegrityTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangePlayIntegrityTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangePlayIntegrityTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangePlayIntegrityToken"
        },
        "smithy.api#documentation": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeDeviceCheckTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeDeviceCheckTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeDeviceCheckTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeDeviceCheckTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeDeviceCheckToken"
        },
        "smithy.api#documentation": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeRecaptchaToken"
        },
        "smithy.api#documentation": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeDebugTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeDebugTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeDebugTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeDebugTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeDebugToken"
        },
        "smithy.api#documentation": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeAppAttestAssertionProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeAppAttestAssertionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeAppAttestAssertionProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeAppAttestAssertionProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeAppAttestAssertion"
        },
        "smithy.api#documentation": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaEnterpriseTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaEnterpriseTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaEnterpriseTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaEnterpriseTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeRecaptchaEnterpriseToken"
        },
        "smithy.api#documentation": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an App Check token AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GenerateAppAttestChallengeProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard. Alternatively, if this method is being called for an OAuth client protected by App Check, this field can also be in the format: ``` oauthClients/{oauth_client_id} ``` You can view the OAuth client ID for your OAuth clients in the Google Cloud console. Note that only iOS OAuth clients are supported at this time, and they must be linked to corresponding iOS Firebase apps. Please see [the documentation](https://developers.google.com/identity/sign-in/ios/appcheck/get-started#project-setup) for more information.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GenerateAppAttestChallengeProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#GenerateAppAttestChallengeProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGenerateAppAttestChallengeResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:generateAppAttestChallenge"
        },
        "smithy.api#documentation": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaV3TokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeRecaptchaV3TokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaV3TokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeRecaptchaV3TokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeRecaptchaV3Token"
        },
        "smithy.api#documentation": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GeneratePlayIntegrityChallengeProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#GeneratePlayIntegrityChallengeProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#GeneratePlayIntegrityChallengeProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaGeneratePlayIntegrityChallengeResponse"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:generatePlayIntegrityChallenge"
        },
        "smithy.api#documentation": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeCustomTokenProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaExchangeCustomTokenRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeCustomTokenProjectsApps": {
      "type": "operation",
      "input": {
        "target": "com.gcp.firebaseappcheck_v1beta#ExchangeCustomTokenProjectsAppsRequest"
      },
      "output": {
        "target": "com.gcp.firebaseappcheck_v1beta#GoogleFirebaseAppcheckV1betaAppCheckToken"
      },
      "errors": [
        {
          "target": "com.gcp.firebaseappcheck_v1beta#NotFound"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.firebaseappcheck_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+app}:exchangeCustomToken"
        },
        "smithy.api#documentation": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken."
      }
    },
    "com.gcp.firebaseappcheck_v1beta#ExchangeAppAttestAttestationProjectsAppsRequest": {
      "type": "structure",
      "members": {
        "app": {
          "target": "smithy.api#String",
          "traits": {
[...]
