{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v2beta",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v2beta#ConfigManagementPolicyControllerVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The build version of Gatekeeper Policy Controller is using."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerVersion": {
      "type": "structure",
      "members": {
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version for Hierarchy Controller extension."
          }
        },
        "hnc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version for open source HNC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version for Hierarchy Controller."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementConfigSyncVersion": {
      "type": "structure",
      "members": {
        "importer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed importer pod."
          }
        },
        "otelCollector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed otel-collector pod"
          }
        },
        "resourceGroupControllerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed resource-group-controller-manager pod"
          }
        },
        "syncer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed syncer pod."
          }
        },
        "gitSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed git-sync pod."
          }
        },
        "monitor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed monitor pod."
          }
        },
        "rootReconciler": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler container in root-reconciler pod."
          }
        },
        "admissionWebhook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed admission-webhook pod."
          }
        },
        "reconcilerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler-manager pod."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific versioning information pertaining to ConfigSync's Pods."
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeMembershipGKEUpgradeState": {
      "type": "structure",
      "members": {
        "upgrade": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeGKEUpgrade",
          "traits": {
            "smithy.api#documentation": "Which upgrade to track the state."
          }
        },
        "status": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeUpgradeStatus",
          "traits": {
            "smithy.api#documentation": "Status of the upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipGKEUpgradeState is a GKEUpgrade and its state per-membership."
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceIdentityServiceOptions": {
      "type": "structure",
      "members": {
        "sessionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Determines the lifespan of STS tokens issued by Anthos Identity Service."
          }
        },
        "diagnosticInterface": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceDiagnosticInterface",
          "traits": {
            "smithy.api#documentation": "Configuration options for the AIS diagnostic interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds non-protocol-related configuration options."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGitConfig": {
      "type": "structure",
      "members": {
        "syncBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The branch of the repository to sync from. Default: master."
          }
        },
        "policyDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
          }
        },
        "syncRev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Git revision (tag or hash) to check out. Default HEAD."
          }
        },
        "httpsProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
          }
        },
        "secretType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
          }
        },
        "syncWaitSecs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period in seconds between consecutive syncs. Default: 15."
          }
        },
        "syncRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the Git repository to use as the source of truth."
          }
        },
        "gcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Git repo configuration for a single cluster."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshControlPlaneManagement": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshControlPlaneManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "LifecycleState of control plane management."
          }
        },
        "implementation": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshControlPlaneManagementImplementationEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Implementation of managed control plane."
          }
        },
        "details": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshStatusDetailsList",
          "traits": {
            "smithy.api#documentation": "Explanation of state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of control plane management."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshControlPlaneManagementStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "FAILED_PRECONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PRECONDITION"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "STALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALLED"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshControlPlaneManagementImplementationEnum": {
      "type": "enum",
      "members": {
        "IMPLEMENTATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPLEMENTATION_UNSPECIFIED"
          }
        },
        "ISTIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISTIOD"
          }
        },
        "TRAFFIC_DIRECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_DIRECTOR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshStatusDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#ServiceMeshStatusDetails"
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerResourceRequirements": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerResourceList",
          "traits": {
            "smithy.api#documentation": "Limits describes the maximum amount of compute resources allowed for use by the running container."
          }
        },
        "requests": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerResourceList",
          "traits": {
            "smithy.api#documentation": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceRequirements describes the compute resource requirements."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshAnalysisMessageBase": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshType",
          "traits": {
            "smithy.api#documentation": "Represents the specific type of a message."
          }
        },
        "level": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshAnalysisMessageBaseLevelEnum",
          "traits": {
            "smithy.api#documentation": "Represents how severe a message is."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnalysisMessageBase describes some common information that is needed for all messages."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshAnalysisMessageBaseLevelEnum": {
      "type": "enum",
      "members": {
        "LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#AppDevExperienceState": {
      "type": "structure",
      "members": {
        "networkingInstallSucceeded": {
          "target": "com.gcp.gkehub_v2beta#AppDevExperienceStatus",
          "traits": {
            "smithy.api#documentation": "Status of subcomponent that detects configured Service Mesh resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for App Dev Exp Feature."
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceAzureADConfig": {
      "type": "structure",
      "members": {
        "kubectlRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redirect URL that kubectl uses for authorization."
          }
        },
        "userClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Claim in the AzureAD ID Token that holds the user details."
          }
        },
        "groupFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Format of the AzureAD groups that the client wants for auth."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
          }
        },
        "encryptedClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Encrypted AzureAD client secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the AzureAD Auth flow."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshDataPlaneManagement": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshDataPlaneManagementStateEnum",
          "traits": {
            "smithy.api#documentation": "Lifecycle status of data plane management."
          }
        },
        "details": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshStatusDetailsList",
          "traits": {
            "smithy.api#documentation": "Explanation of the status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of data plane management. Only reported per-member."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshDataPlaneManagementStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "FAILED_PRECONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PRECONDITION"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "STALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STALLED"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementState": {
      "type": "structure",
      "members": {
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Kubernetes API server version of the cluster."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name."
          }
        },
        "operatorState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementOperatorState",
          "traits": {
            "smithy.api#documentation": "Output only. Current install status of ACM's Operator."
          }
        },
        "configSyncState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementConfigSyncState",
          "traits": {
            "smithy.api#documentation": "Output only. Current sync status."
          }
        },
        "policyControllerState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementPolicyControllerState",
          "traits": {
            "smithy.api#documentation": "Output only. PolicyController status."
          }
        },
        "membershipSpec": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state."
          }
        },
        "hierarchyControllerState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerState",
          "traits": {
            "smithy.api#documentation": "Output only. Hierarchy Controller status."
          }
        },
        "binauthzState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementBinauthzState",
          "traits": {
            "smithy.api#documentation": "Output only. Binauthz status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Config Management**: State for a single cluster."
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeGKEUpgrade": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the upgrade, e.g., \"k8s_control_plane\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the upgrade, e.g., \"1.22.1-gke.100\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerToleration": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint key (not necessarily unique)."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint operator."
          }
        },
        "effect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint effect."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Toleration of a node taint."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerPolicyContentSpec": {
      "type": "structure",
      "members": {
        "bundles": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerBundleInstallSpecMap",
          "traits": {
            "smithy.api#documentation": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
          }
        },
        "templateLibrary": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerTemplateLibraryConfig",
          "traits": {
            "smithy.api#documentation": "Configures the installation of the Template Library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyContentSpec defines the user's desired content configuration on the cluster."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerBundleInstallSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v2beta#PolicyControllerBundleInstallSpec"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGroupVersionKind": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Version"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Group"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Kind"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kubernetes object's GVK."
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeState": {
      "type": "structure",
      "members": {
        "ignored": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeIgnoredMembership",
          "traits": {
            "smithy.api#documentation": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel."
          }
        },
        "upgrades": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeMembershipGKEUpgradeStateList",
          "traits": {
            "smithy.api#documentation": "Actual upgrade state against desired."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-membership state for this feature."
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeMembershipGKEUpgradeStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#ClusterUpgradeMembershipGKEUpgradeState"
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceLdapConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceServiceAccountConfig",
          "traits": {
            "smithy.api#documentation": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
          }
        },
        "server": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceServerConfig",
          "traits": {
            "smithy.api#documentation": "Required. Server settings for the external LDAP server."
          }
        },
        "user": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceUserConfig",
          "traits": {
            "smithy.api#documentation": "Required. Defines where users exist in the LDAP directory."
          }
        },
        "group": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceGroupConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Contains the properties for locating and authenticating groups in the directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the LDAP Auth flow."
      }
    },
    "com.gcp.gkehub_v2beta#WorkloadIdentityState": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, this field will be erased after code is changed to use the new field."
          }
        },
        "identityProviderStateDetails": {
          "target": "com.gcp.gkehub_v2beta#WorkloadIdentityIdentityProviderStateDetailMap",
          "traits": {
            "smithy.api#documentation": "The state of the Identity Providers corresponding to the membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature."
      }
    },
    "com.gcp.gkehub_v2beta#WorkloadIdentityIdentityProviderStateDetailMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v2beta#WorkloadIdentityIdentityProviderStateDetail"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementConfigSync": {
      "type": "structure",
      "members": {
        "git": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementGitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Git repo configuration for the cluster."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
          }
        },
        "stopSyncing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
          }
        },
        "metricsGcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
          }
        },
        "preventDrift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
          }
        },
        "oci": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementOciConfig",
          "traits": {
            "smithy.api#documentation": "Optional. OCI repo configuration for the cluster."
          }
        },
        "deploymentOverrides": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementDeploymentOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead."
          }
        },
        "sourceFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Config Sync"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementDeploymentOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#ConfigManagementDeploymentOverride"
      }
    },
    "com.gcp.gkehub_v2beta#AppDevExperienceStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v2beta#AppDevExperienceStatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Code specifies AppDevExperienceFeature's subcomponent ready state."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description is populated if Code is Failed, explaining why it has failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status specifies state for the subcomponent."
      }
    },
    "com.gcp.gkehub_v2beta#AppDevExperienceStatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ListMembershipFeaturesResponse": {
      "type": "structure",
      "members": {
        "membershipFeatures": {
          "target": "com.gcp.gkehub_v2beta#MembershipFeatureList",
          "traits": {
            "smithy.api#documentation": "The list of matching MembershipFeatures."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListMembershipFeatures` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GkeHubFeature.ListMembershipFeatures` method."
      }
    },
    "com.gcp.gkehub_v2beta#MembershipFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#MembershipFeature"
      }
    },
    "com.gcp.gkehub_v2beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementSpec": {
      "type": "structure",
      "members": {
        "policyController": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementPolicyController",
          "traits": {
            "smithy.api#documentation": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead."
          }
        },
        "hierarchyController": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead."
          }
        },
        "configSync": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementConfigSync",
          "traits": {
            "smithy.api#documentation": "Optional. Config Sync configuration for the cluster."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
          }
        },
        "binauthz": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementBinauthzConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set."
          }
        },
        "management": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementSpecManagementEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementSpecManagementEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "MANAGEMENT_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_AUTOMATIC"
          }
        },
        "MANAGEMENT_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MANUAL"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementDeploymentOverride": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementContainerOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. The containers of the deployment resource to be overridden."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the deployment resource to be overridden."
          }
        },
        "deploymentNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The namespace of the deployment resource to be overridden."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a deployment override."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementContainerOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#ConfigManagementContainerOverride"
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceState": {
      "type": "structure",
      "members": {
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the failure."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state on this member"
          }
        },
        "memberConfig": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceSpec",
          "traits": {
            "smithy.api#documentation": "Last reconciled membership configuration"
          }
        },
        "installedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**IdentityService**: State for a single membership, analyzed and reported by feature controller."
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceStateStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerPolicyContentState": {
      "type": "structure",
      "members": {
        "bundleStates": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterStateMap",
          "traits": {
            "smithy.api#documentation": "The state of the any bundles included in the chosen version of the manifest"
          }
        },
        "referentialSyncConfigState": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterState",
          "traits": {
            "smithy.api#documentation": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
          }
        },
        "templateLibraryState": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterState",
          "traits": {
            "smithy.api#documentation": "The state of the template library"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the policy controller policy content"
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerOnClusterStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterState"
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeUpgradeStatus": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for this status."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last timestamp the status was updated."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeUpgradeStatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Status code of the upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UpgradeStatus provides status information for each upgrade."
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeUpgradeStatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOAKING"
          }
        },
        "FORCED_SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORCED_SOAKING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#FeatureSpec": {
      "type": "structure",
      "members": {
        "servicemesh": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshSpec",
          "traits": {
            "smithy.api#documentation": "ServiceMesh Feature Spec."
          }
        },
        "origin": {
          "target": "com.gcp.gkehub_v2beta#Origin",
          "traits": {
            "smithy.api#documentation": "Whether this per-Feature spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Feature config (updated to USER implicitly) or setting to FLEET explicitly."
          }
        },
        "workloadcertificate": {
          "target": "com.gcp.gkehub_v2beta#WorkloadCertificateSpec",
          "traits": {
            "smithy.api#documentation": "Workloadcertificate-specific FeatureSpec."
          }
        },
        "cloudbuild": {
          "target": "com.gcp.gkehub_v2beta#CloudBuildSpec",
          "traits": {
            "smithy.api#documentation": "Cloudbuild-specific FeatureSpec."
          }
        },
        "configmanagement": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementSpec",
          "traits": {
            "smithy.api#documentation": "Config Management FeatureSpec."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v2beta#RBACRoleBindingActuationSpec",
          "traits": {
            "smithy.api#documentation": "Rbacrolebindingactuation-specific FeatureSpec."
          }
        },
        "policycontroller": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerSpec",
          "traits": {
            "smithy.api#documentation": "Policycontroller-specific FeatureSpec."
          }
        },
        "identityservice": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceSpec",
          "traits": {
            "smithy.api#documentation": "IdentityService FeatureSpec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FeatureSpec contains user input per-feature spec information."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshType": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type"
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshCondition": {
      "type": "structure",
      "members": {
        "documentationLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Links contains actionable information."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short summary about the issue."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshConditionCodeEnum",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the condition which describes the condition recognizable to the user."
          }
        },
        "severity": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshConditionSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity level of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Condition being reported."
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshConditionCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "MESH_IAM_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESH_IAM_PERMISSION_DENIED"
          }
        },
        "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED"
          }
        },
        "CNI_CONFIG_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_CONFIG_UNSUPPORTED"
          }
        },
        "GKE_SANDBOX_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_SANDBOX_UNSUPPORTED"
          }
        },
        "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED"
          }
        },
        "CNI_INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_INSTALLATION_FAILED"
          }
        },
        "CNI_POD_UNSCHEDULABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_POD_UNSCHEDULABLE"
          }
        },
        "CLUSTER_HAS_ZERO_NODES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_HAS_ZERO_NODES"
          }
        },
        "CANONICAL_SERVICE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANONICAL_SERVICE_ERROR"
          }
        },
        "UNSUPPORTED_MULTIPLE_CONTROL_PLANES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_MULTIPLE_CONTROL_PLANES"
          }
        },
        "VPCSC_GA_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPCSC_GA_SUPPORTED"
          }
        },
        "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT"
          }
        },
        "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE"
          }
        },
        "CONFIG_APPLY_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_APPLY_INTERNAL_ERROR"
          }
        },
        "CONFIG_VALIDATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_VALIDATION_ERROR"
          }
        },
        "CONFIG_VALIDATION_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_VALIDATION_WARNING"
          }
        },
        "QUOTA_EXCEEDED_BACKEND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_BACKEND_SERVICES"
          }
        },
        "QUOTA_EXCEEDED_HEALTH_CHECKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HEALTH_CHECKS"
          }
        },
        "QUOTA_EXCEEDED_HTTP_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HTTP_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TCP_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TCP_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TLS_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TLS_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TRAFFIC_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TRAFFIC_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_ENDPOINT_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_ENDPOINT_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_GATEWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_GATEWAYS"
          }
        },
        "QUOTA_EXCEEDED_MESHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_MESHES"
          }
        },
        "QUOTA_EXCEEDED_SERVER_TLS_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_SERVER_TLS_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_SERVICE_LB_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_SERVICE_LB_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_HTTP_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HTTP_FILTERS"
          }
        },
        "QUOTA_EXCEEDED_TCP_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TCP_FILTERS"
          }
        },
        "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS"
          }
        },
        "CONFIG_APPLY_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_APPLY_BLOCKED"
          }
        },
        "LEGACY_MC_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY_MC_SECRETS"
          }
        },
        "WORKLOAD_IDENTITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_IDENTITY_REQUIRED"
          }
        },
        "NON_STANDARD_BINARY_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_STANDARD_BINARY_USAGE"
          }
        },
        "UNSUPPORTED_GATEWAY_CLASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_GATEWAY_CLASS"
          }
        },
        "MANAGED_CNI_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_CNI_NOT_ENABLED"
          }
        },
        "MISSING_CONTROL_PLANE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_CONTROL_PLANE_CONFIG"
          }
        },
        "SHARED_VPC_MISSING_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_VPC_MISSING_PERMISSIONS"
          }
        },
        "REQUIRED_ORG_POLICY_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_ORG_POLICY_DISABLED"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_CONFIG"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE"
          }
        },
        "MODERNIZATION_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_SCHEDULED"
          }
        },
        "MODERNIZATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_IN_PROGRESS"
          }
        },
        "MODERNIZATION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_COMPLETED"
          }
        },
        "MODERNIZATION_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ABORTED"
          }
        },
        "MODERNIZATION_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_PREPARING"
          }
        },
        "MODERNIZATION_STALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_STALLED"
          }
        },
        "MODERNIZATION_PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_PREPARED"
          }
        },
        "MODERNIZATION_MIGRATING_WORKLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MIGRATING_WORKLOADS"
          }
        },
        "MODERNIZATION_ROLLING_BACK_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ROLLING_BACK_CLUSTER"
          }
        },
        "MODERNIZATION_WILL_BE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_WILL_BE_SCHEDULED"
          }
        },
        "MODERNIZATION_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MANUAL"
          }
        },
        "MODERNIZATION_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ELIGIBLE"
          }
        },
        "MODERNIZATION_MODERNIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MODERNIZING"
          }
        },
        "MODERNIZATION_MODERNIZED_SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MODERNIZED_SOAKING"
          }
        },
        "MODERNIZATION_FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_FINALIZED"
          }
        },
        "MODERNIZATION_ROLLING_BACK_FLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ROLLING_BACK_FLEET"
          }
        },
        "MODERNIZATION_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_COMPATIBLE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ServiceMeshConditionSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerState": {
      "type": "structure",
      "members": {
        "componentStates": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterStateMap",
          "traits": {
            "smithy.api#documentation": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\""
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerStateStateEnum",
          "traits": {
            "smithy.api#documentation": "The overall Policy Controller lifecycle state observed by the Hub Feature controller."
          }
        },
        "policyContentState": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerPolicyContentState",
          "traits": {
            "smithy.api#documentation": "The overall content state observed by the Hub Feature controller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Policy Controller**: State for a single cluster."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerStateStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DECOMMISSIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMMISSIONING"
          }
        },
        "CLUSTER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ERROR"
          }
        },
        "HUB_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUB_ERROR"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerHubConfig": {
      "type": "structure",
      "members": {
        "constraintViolationLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
          }
        },
        "logDeniesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Logs all denies and dry run failures."
          }
        },
        "mutationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the ability to mutate resources using Policy Controller."
          }
        },
        "exemptableNamespaces": {
          "target": "com.gcp.gkehub_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
          }
        },
        "referentialRulesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
          }
        },
        "monitoring": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Monitoring specifies the configuration of monitoring."
          }
        },
        "installSpec": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerHubConfigInstallSpecEnum",
          "traits": {
            "smithy.api#documentation": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
          }
        },
        "deploymentConfigs": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfigMap",
          "traits": {
            "smithy.api#documentation": "Map of deployment configs to deployments (“admission”, “audit”, “mutation”)."
          }
        },
        "auditIntervalSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
          }
        },
        "policyContent": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerPolicyContentSpec",
          "traits": {
            "smithy.api#documentation": "Specifies the desired policy content on the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Policy Controller"
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerHubConfigInstallSpecEnum": {
      "type": "enum",
      "members": {
        "INSTALL_SPEC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_UNSPECIFIED"
          }
        },
        "INSTALL_SPEC_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_NOT_INSTALLED"
          }
        },
        "INSTALL_SPEC_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_ENABLED"
          }
        },
        "INSTALL_SPEC_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_SUSPENDED"
          }
        },
        "INSTALL_SPEC_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_DETACHED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfig"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentState": {
      "type": "structure",
      "members": {
        "gatekeeperControllerManagerState": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-controller-manager pod."
          }
        },
        "gatekeeperAudit": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-audit deployment."
          }
        },
        "gatekeeperMutation": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum",
          "traits": {
            "smithy.api#documentation": "Status of the pod serving the mutation webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of Policy Controller installation."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.gkehub_v2beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.gkehub_v2beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#Location"
      }
    },
    "com.gcp.gkehub_v2beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.gkehub_v2beta#ClusterUpgradeIgnoredMembership": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason why the membership is ignored."
          }
        },
        "ignoredTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the membership was first set to ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
      }
    },
    "com.gcp.gkehub_v2beta#RBACRoleBindingActuationState": {
      "type": "structure",
      "members": {
        "rbacrolebindingStates": {
          "target": "com.gcp.gkehub_v2beta#RBACRoleBindingActuationRBACRoleBindingStateMap",
          "traits": {
            "smithy.api#documentation": "Output only. The state of RBACRoleBindings using custom roles that exist on the cluster, keyed by RBACRoleBinding resource name with format: projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**RBAC RoleBinding Actuation**: A membership-specific Feature state for the RBACRoleBindingActuation fleet feature."
      }
    },
    "com.gcp.gkehub_v2beta#RBACRoleBindingActuationRBACRoleBindingStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v2beta#RBACRoleBindingActuationRBACRoleBindingState"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementSyncState": {
      "type": "structure",
      "members": {
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp type of when ACM last successfully synced the repo."
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementSyncErrorList",
          "traits": {
            "smithy.api#documentation": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the repo."
          }
        },
        "lastSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo. The time format is specified in https://golang.org/pkg/time/#Time.String"
          }
        },
        "importToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the importer."
          }
        },
        "syncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the syncer."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementSyncStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Sync status code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State indicating an ACM's progress syncing configurations to a cluster."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementSyncErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#ConfigManagementSyncError"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementSyncStateCodeEnum": {
      "type": "enum",
      "members": {
        "SYNC_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_CODE_UNSPECIFIED"
          }
        },
        "SYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONFIGURED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementOciConfig": {
      "type": "structure",
      "members": {
        "secretType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive."
          }
        },
        "syncWaitSecs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period in seconds between consecutive syncs. Default: 15."
          }
        },
        "syncRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
          }
        },
        "gcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
          }
        },
        "policyDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OCI repo configuration for a single cluster."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementBinauthzVersion": {
      "type": "structure",
      "members": {
        "webhookVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the binauthz webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of binauthz."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerOnClusterState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerOnClusterStateStateEnum",
          "traits": {
            "smithy.api#documentation": "The lifecycle state of this component."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Surface potential errors or information logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OnClusterState represents the state of a sub-component of Policy Controller."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerOnClusterStateStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DECOMMISSIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMMISSIONING"
          }
        },
        "CLUSTER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ERROR"
          }
        },
        "HUB_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUB_ERROR"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfig": {
      "type": "structure",
      "members": {
        "podAntiAffinity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pod anti-affinity enablement. Deprecated: use `pod_affinity` instead."
          }
        },
        "podAffinity": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfigPodAffinityEnum",
          "traits": {
            "smithy.api#documentation": "Pod affinity configuration."
          }
        },
        "podTolerations": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerTolerationList",
          "traits": {
            "smithy.api#documentation": "Pod tolerations of node taints."
          }
        },
        "replicaCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pod replica count."
          }
        },
        "containerResources": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerResourceRequirements",
          "traits": {
            "smithy.api#documentation": "Container resource requirements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment-specific configuration."
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerPolicyControllerDeploymentConfigPodAffinityEnum": {
      "type": "enum",
      "members": {
        "AFFINITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFINITY_UNSPECIFIED"
          }
        },
        "NO_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AFFINITY"
          }
        },
        "ANTI_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTI_AFFINITY"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerTolerationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#PolicyControllerToleration"
      }
    },
    "com.gcp.gkehub_v2beta#FeatureState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v2beta#State",
          "traits": {
            "smithy.api#documentation": "The high-level state of this MembershipFeature."
          }
        },
        "metering": {
          "target": "com.gcp.gkehub_v2beta#MeteringState",
          "traits": {
            "smithy.api#documentation": "Metering state"
          }
        },
        "workloadidentity": {
          "target": "com.gcp.gkehub_v2beta#WorkloadIdentityState",
          "traits": {
            "smithy.api#documentation": "Workload Identity state"
          }
        },
        "policycontroller": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerState",
          "traits": {
            "smithy.api#documentation": "Policy Controller state"
          }
        },
        "appdevexperience": {
          "target": "com.gcp.gkehub_v2beta#AppDevExperienceState",
          "traits": {
            "smithy.api#documentation": "Appdevexperience specific state."
          }
        },
        "configmanagement": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementState",
          "traits": {
            "smithy.api#documentation": "Config Management state"
          }
        },
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v2beta#ClusterUpgradeState",
          "traits": {
            "smithy.api#documentation": "Cluster upgrade state."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v2beta#RBACRoleBindingActuationState",
          "traits": {
            "smithy.api#documentation": "RBAC Role Binding Actuation state"
          }
        },
        "identityservice": {
          "target": "com.gcp.gkehub_v2beta#IdentityServiceState",
          "traits": {
            "smithy.api#documentation": "Identity service state"
          }
        },
        "servicemesh": {
          "target": "com.gcp.gkehub_v2beta#ServiceMeshState",
          "traits": {
            "smithy.api#documentation": "Service mesh state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FeatureState contains high-level state information and per-feature state information for this MembershipFeature."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerDeploymentState": {
      "type": "structure",
      "members": {
        "extension": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)."
          }
        },
        "hnc": {
          "target": "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerDeploymentStateHncEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment state for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementHierarchyControllerDeploymentStateHncEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfig": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfigBackendsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfigBackendsItemEnum": {
      "type": "enum",
      "members": {
        "MONITORING_BACKEND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_BACKEND_UNSPECIFIED"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "CLOUD_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_MONITORING"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfigBackendsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v2beta#PolicyControllerMonitoringConfigBackendsItemEnum"
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceGroupConfig": {
      "type": "structure",
      "members": {
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for group entries."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\"."
          }
        },
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the properties for locating and authenticating groups in the directory."
      }
    },
    "com.gcp.gkehub_v2beta#ConfigManagementInstallError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of ACM."
      }
    },
    "com.gcp.gkehub_v2beta#WorkloadCertificateSpec": {
      "type": "structure",
      "members": {
        "certificateManagement": {
          "target": "com.gcp.gkehub_v2beta#WorkloadCertificateSpecCertificateManagementEnum",
          "traits": {
            "smithy.api#documentation": "CertificateManagement specifies workload certificate management."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadCertificate**: The membership-specific input for WorkloadCertificate feature."
      }
    },
    "com.gcp.gkehub_v2beta#WorkloadCertificateSpecCertificateManagementEnum": {
      "type": "enum",
      "members": {
        "CERTIFICATE_MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_MANAGEMENT_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceSamlConfig": {
      "type": "structure",
      "members": {
        "identityProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The entity ID of the SAML IdP."
          }
        },
        "identityProviderCertificates": {
          "target": "com.gcp.gkehub_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of IdP certificates to validate the SAML response against."
          }
        },
        "userPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Prefix to prepend to user name."
          }
        },
        "identityProviderSsoUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI where the SAML IdP exposes the SSO service."
          }
        },
        "attributeMapping": {
          "target": "com.gcp.gkehub_v2beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\"."
          }
        },
        "userAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
          }
        },
        "groupsAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`)."
          }
        },
        "groupPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Prefix to prepend to group name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the SAML Auth flow."
      }
    },
    "com.gcp.gkehub_v2beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceUserConfig": {
      "type": "structure",
      "members": {
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
          }
        },
        "loginAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for user entries."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines where users exist in the LDAP directory."
      }
    },
    "com.gcp.gkehub_v2beta#IdentityServiceOidcConfig": {
[...]
