{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v1beta",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v1beta#ListScopeRBACRoleBindingsResponse": {
      "type": "structure",
      "members": {
        "rbacrolebindings": {
          "target": "com.gcp.gkehub_v1beta#RBACRoleBindingList",
          "traits": {
            "smithy.api#documentation": "The list of Scope RBACRoleBindings."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListScopeRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Scope RBACRoleBindings."
      }
    },
    "com.gcp.gkehub_v1beta#RBACRoleBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#RBACRoleBinding"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementBinauthzVersion": {
      "type": "structure",
      "members": {
        "webhookVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the binauthz webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The version of binauthz."
      }
    },
    "com.gcp.gkehub_v1beta#DefaultClusterConfig": {
      "type": "structure",
      "members": {
        "securityPostureConfig": {
          "target": "com.gcp.gkehub_v1beta#SecurityPostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enable/Disable Security Posture features for the cluster."
          }
        },
        "binaryAuthorizationConfig": {
          "target": "com.gcp.gkehub_v1beta#BinaryAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enable/Disable binary authorization features for the cluster."
          }
        },
        "compliancePostureConfig": {
          "target": "com.gcp.gkehub_v1beta#CompliancePostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster. Note that on UpdateFleet, only full replacement of this field is allowed. Users are not allowed for partial updates through field mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DefaultClusterConfig describes the default cluster configurations to be applied to all clusters born-in-fleet."
      }
    },
    "com.gcp.gkehub_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.gkehub_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.gkehub_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Location"
      }
    },
    "com.gcp.gkehub_v1beta#AppDevExperienceFeatureState": {
      "type": "structure",
      "members": {
        "networkingInstallSucceeded": {
          "target": "com.gcp.gkehub_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "Status of subcomponent that detects configured Service Mesh resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for App Dev Exp Feature."
      }
    },
    "com.gcp.gkehub_v1beta#ServiceMeshStatusDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A machine-readable code that further describes a broad status."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured and human-readable details for a status."
      }
    },
    "com.gcp.gkehub_v1beta#IdentityServiceOidcConfig": {
      "type": "structure",
      "members": {
        "kubectlRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
          }
        },
        "scopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of identifiers."
          }
        },
        "extraParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of key-value pairs."
          }
        },
        "groupsClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds group information."
          }
        },
        "userClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds username."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for OIDC client application."
          }
        },
        "userPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to user name."
          }
        },
        "enableAccessToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable access token."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
          }
        },
        "groupPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to group name."
          }
        },
        "certificateAuthorityData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM-encoded CA for OIDC provider."
          }
        },
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
          }
        },
        "encryptedClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Encrypted OIDC Client secret"
          }
        },
        "deployCloudConsoleProxy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for OIDC Auth flow."
      }
    },
    "com.gcp.gkehub_v1beta#ScopeFeatureSpec": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "ScopeFeatureSpec contains feature specs for a fleet scope."
      }
    },
    "com.gcp.gkehub_v1beta#Namespace": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was last updated."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta#NamespaceLifecycleState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the namespace resource."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this Namespace."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was created."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Scope associated with the namespace"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was deleted."
          }
        },
        "namespaceLabels": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace represents a namespace across the Fleet"
      }
    },
    "com.gcp.gkehub_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1beta#IdentityServiceServiceAccountConfig": {
      "type": "structure",
      "members": {
        "simpleBindCredentials": {
          "target": "com.gcp.gkehub_v1beta#IdentityServiceSimpleBindCredentials",
          "traits": {
            "smithy.api#documentation": "Credentials for basic auth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeState": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Number of GKE clusters in each status code."
          }
        },
        "upgrade": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgrade",
          "traits": {
            "smithy.api#documentation": "Which upgrade to track the state."
          }
        },
        "status": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeUpgradeStatus",
          "traits": {
            "smithy.api#documentation": "Status of the upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level."
      }
    },
    "com.gcp.gkehub_v1beta#CancelRolloutRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for cancelling a rollout."
      }
    },
    "com.gcp.gkehub_v1beta#ComplianceStandard": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the compliance standard."
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementHierarchyControllerVersion": {
      "type": "structure",
      "members": {
        "hnc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version for open source HNC"
          }
        },
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version for Hierarchy Controller extension"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1beta#WorkloadIdentityFeatureSpec": {
      "type": "structure",
      "members": {
        "scopeTenancyPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadIdentity**: Global feature specification."
      }
    },
    "com.gcp.gkehub_v1beta#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.gkehub_v1beta#IdentityServiceSimpleBindCredentials": {
      "type": "structure",
      "members": {
        "encryptedPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The encrypted password of the service account object/user."
          }
        },
        "dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The distinguished name(DN) of the service account object/user."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the service account object/user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The structure holds the LDAP simple binding credential."
      }
    },
    "com.gcp.gkehub_v1beta#CommonFleetDefaultMemberConfigSpec": {
      "type": "structure",
      "members": {
        "mesh": {
          "target": "com.gcp.gkehub_v1beta#ServiceMeshMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Anthos Service Mesh-specific spec"
          }
        },
        "identityservice": {
          "target": "com.gcp.gkehub_v1beta#IdentityServiceMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Identity Service-specific spec."
          }
        },
        "configmanagement": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Config Management-specific spec."
          }
        },
        "policycontroller": {
          "target": "com.gcp.gkehub_v1beta#PolicyControllerMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Policy Controller spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet"
      }
    },
    "com.gcp.gkehub_v1beta#MultiCloudCluster": {
      "type": "structure",
      "members": {
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists."
          }
        },
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeMembershipState": {
      "type": "structure",
      "members": {
        "ignored": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeIgnoredMembership",
          "traits": {
            "smithy.api#documentation": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel."
          }
        },
        "upgrades": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeMembershipGKEUpgradeStateList",
          "traits": {
            "smithy.api#documentation": "Actual upgrade state against desired."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-membership state for this feature."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeMembershipGKEUpgradeStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ClusterUpgradeMembershipGKEUpgradeState"
      }
    },
    "com.gcp.gkehub_v1beta#FleetObservabilityFleetObservabilityLoggingState": {
      "type": "structure",
      "members": {
        "defaultLog": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityFleetObservabilityBaseFeatureState",
          "traits": {
            "smithy.api#documentation": "The base feature state of fleet default log."
          }
        },
        "scopeLog": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityFleetObservabilityBaseFeatureState",
          "traits": {
            "smithy.api#documentation": "The base feature state of fleet scope log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature state for logging feature."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementInstallError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of ACM"
      }
    },
    "com.gcp.gkehub_v1beta#RolloutStage": {
      "type": "structure",
      "members": {
        "stageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The stage number to which this status applies."
          }
        },
        "fleetProjects": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The fleet projects from the sequence that was used to create this stage. Expected format: projects/{project_number}"
          }
        },
        "clusterSelector": {
          "target": "com.gcp.gkehub_v1beta#ClusterSelector",
          "traits": {
            "smithy.api#documentation": "Output only. The selector from the sequence that was used to create this stage. Example CEL expression: resource.labels.canary == 'true'"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time at which the stage ended."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta#RolloutStageStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the stage."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time at which the stage started."
          }
        },
        "soakDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Duration to soak after this stage before starting the next stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stage represents a single stage in the Rollout."
      }
    },
    "com.gcp.gkehub_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1beta#RolloutStageStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOAKING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerMembershipSpec": {
      "type": "structure",
      "members": {
        "policyControllerHubConfig": {
          "target": "com.gcp.gkehub_v1beta#PolicyControllerHubConfig",
          "traits": {
            "smithy.api#documentation": "Policy Controller configuration for the cluster."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Policy Controller installed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
      }
    },
    "com.gcp.gkehub_v1beta#KubernetesMetadata": {
      "type": "structure",
      "members": {
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. vCPU count as reported by Kubernetes nodes resources."
          }
        },
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kubernetes API server version string as reported by `/version`."
          }
        },
        "nodeProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Node count as reported by Kubernetes nodes resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterSelector": {
      "type": "structure",
      "members": {
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector for clusters."
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerMonitoringConfig": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.gcp.gkehub_v1beta#PolicyControllerMonitoringConfigBackendsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerMonitoringConfigBackendsItemEnum": {
      "type": "enum",
      "members": {
        "MONITORING_BACKEND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_BACKEND_UNSPECIFIED"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "CLOUD_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_MONITORING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerMonitoringConfigBackendsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#PolicyControllerMonitoringConfigBackendsItemEnum"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementHierarchyControllerConfig": {
      "type": "structure",
      "members": {
        "enablePodTreeLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pod tree labels are enabled in this cluster."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Hierarchy Controller is enabled in this cluster."
          }
        },
        "enableHierarchicalResourceQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether hierarchical resource quota is enabled in this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1beta#FleetLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1beta#FleetLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FleetLifecycleState describes the state of a Fleet resource."
      }
    },
    "com.gcp.gkehub_v1beta#FleetLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ListMembershipRBACRoleBindingsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        },
        "rbacrolebindings": {
          "target": "com.gcp.gkehub_v1beta#RBACRoleBindingList",
          "traits": {
            "smithy.api#documentation": "The list of Membership RBACRoleBindings."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Membership RBACRoleBindings."
      }
    },
    "com.gcp.gkehub_v1beta#EdgeCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EdgeCluster contains information specific to Google Edge Clusters."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeFeatureState": {
      "type": "structure",
      "members": {
        "upgradeState": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeStateList",
          "traits": {
            "smithy.api#documentation": "Upgrade state. It will eventually replace `state`."
          }
        },
        "conditions": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeFeatureConditionList",
          "traits": {
            "smithy.api#documentation": "Current conditions of the feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope."
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeState"
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeFeatureConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeFeatureCondition"
      }
    },
    "com.gcp.gkehub_v1beta#FleetObservabilityLoggingConfig": {
      "type": "structure",
      "members": {
        "defaultConfig": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityRoutingConfig",
          "traits": {
            "smithy.api#documentation": "Specified if applying the default routing config to logs not specified in other configs."
          }
        },
        "fleetScopeLogsConfig": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityRoutingConfig",
          "traits": {
            "smithy.api#documentation": "Specified if applying the routing config to all logs for all fleet scopes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoggingConfig defines the configuration for different types of logs."
      }
    },
    "com.gcp.gkehub_v1beta#ListBoundMembershipsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListBoundMemberships` method. The value of an empty string means that there are no more resources to return."
          }
        },
        "memberships": {
          "target": "com.gcp.gkehub_v1beta#MembershipList",
          "traits": {
            "smithy.api#documentation": "The list of Memberships bound to the given Scope."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Memberships bound to a Scope."
      }
    },
    "com.gcp.gkehub_v1beta#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Membership"
      }
    },
    "com.gcp.gkehub_v1beta#PauseRolloutRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for pausing a rollout."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentState": {
      "type": "structure",
      "members": {
        "gatekeeperControllerManagerState": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-controller-manager pod."
          }
        },
        "gatekeeperAudit": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-audit deployment."
          }
        },
        "gatekeeperMutation": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum",
          "traits": {
            "smithy.api#documentation": "Status of the pod serving the mutation webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of Policy Controller installation."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#IdentityServiceUserConfig": {
      "type": "structure",
      "members": {
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for user entries."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
          }
        },
        "loginAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines where users exist in the LDAP directory."
      }
    },
    "com.gcp.gkehub_v1beta#Scope": {
      "type": "structure",
      "members": {
        "namespaceLabels": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Scope-level cluster namespace labels. For the member clusters bound to the Scope, these labels are applied to each namespace under the Scope. Scope-level labels take precedence over Namespace-level labels (`namespace_labels` in the Fleet Namespace resource) if they share a key. Keys and values must be Kubernetes-conformant."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this Scope."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the scope was created."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the scope was deleted."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the scope was last updated."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta#ScopeLifecycleState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the scope resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope represents a Scope in a Fleet."
      }
    },
    "com.gcp.gkehub_v1beta#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.gkehub_v1beta#WorkloadIdentityMembershipState": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated, this field will be erased after code is changed to use the new field."
          }
        },
        "identityProviderStateDetails": {
          "target": "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetailMap",
          "traits": {
            "smithy.api#documentation": "The state of the Identity Providers corresponding to the membership."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature."
      }
    },
    "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetailMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetail"
      }
    },
    "com.gcp.gkehub_v1beta#MultiClusterIngressFeatureSpec": {
      "type": "structure",
      "members": {
        "configMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
          }
        },
        "billing": {
          "target": "com.gcp.gkehub_v1beta#MultiClusterIngressFeatureSpecBillingEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field will be ignored and should not be set. Customer's billing structure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature."
      }
    },
    "com.gcp.gkehub_v1beta#MultiClusterIngressFeatureSpecBillingEnum": {
      "type": "enum",
      "members": {
        "BILLING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_UNSPECIFIED"
          }
        },
        "PAY_AS_YOU_GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAY_AS_YOU_GO"
          }
        },
        "ANTHOS_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTHOS_LICENSE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ClusterUpgradeGKEUpgradeFeatureCondition": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the condition, one of True, False, Unknown."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason why the feature is in this status."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the condition, for example, \"ready\"."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last timestamp the condition was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeFeatureCondition describes the condition of the feature for GKE clusters at a certain point of time."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncState": {
      "type": "structure",
      "members": {
        "syncState": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementSyncState",
          "traits": {
            "smithy.api#documentation": "Output only. The state of ConfigSync's process to sync configs to a cluster"
          }
        },
        "deploymentState": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncDeploymentState",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the deployment of ConfigSync, including the version of the various Pods deployed"
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of CS This field summarizes the other fields in this message."
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors pertaining to the installation of Config Sync."
          }
        },
        "rootsyncCrd": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateRootsyncCrdEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the RootSync CRD"
          }
        },
        "crCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of RootSync and RepoSync CRs in the cluster."
          }
        },
        "clusterLevelStopSyncingState": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateClusterLevelStopSyncingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether syncing resources to the cluster is stopped at the cluster level."
          }
        },
        "version": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncVersion",
          "traits": {
            "smithy.api#documentation": "Output only. The version of ConfigSync deployed"
          }
        },
        "reposyncCrd": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateReposyncCrdEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Reposync CRD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State information for ConfigSync"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONFIG_SYNC_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_NOT_INSTALLED"
          }
        },
        "CONFIG_SYNC_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_INSTALLED"
          }
        },
        "CONFIG_SYNC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_ERROR"
          }
        },
        "CONFIG_SYNC_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_SYNC_PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncError"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateRootsyncCrdEnum": {
      "type": "enum",
      "members": {
        "CRD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRD_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateClusterLevelStopSyncingStateEnum": {
      "type": "enum",
      "members": {
        "STOP_SYNCING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_SYNCING_STATE_UNSPECIFIED"
          }
        },
        "NOT_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STOPPED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncStateReposyncCrdEnum": {
      "type": "enum",
      "members": {
        "CRD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRD_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#CommonFeatureSpec": {
      "type": "structure",
      "members": {
        "workloadidentity": {
          "target": "com.gcp.gkehub_v1beta#WorkloadIdentityFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Workload Identity feature spec."
          }
        },
        "mesh": {
          "target": "com.gcp.gkehub_v1beta#ServiceMeshFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Servicemesh feature spec."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v1beta#RBACRoleBindingActuationFeatureSpec",
          "traits": {
            "smithy.api#documentation": "RBAC Role Binding Actuation feature spec"
          }
        },
        "dataplanev2": {
          "target": "com.gcp.gkehub_v1beta#DataplaneV2FeatureSpec",
          "traits": {
            "smithy.api#documentation": "DataplaneV2 feature spec."
          }
        },
        "fleetobservability": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityFeatureSpec",
          "traits": {
            "smithy.api#documentation": "FleetObservability feature spec."
          }
        },
        "multiclusteringress": {
          "target": "com.gcp.gkehub_v1beta#MultiClusterIngressFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Multicluster Ingress-specific spec."
          }
        },
        "appdevexperience": {
          "target": "com.gcp.gkehub_v1beta#AppDevExperienceFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Appdevexperience specific spec."
          }
        },
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v1beta#ClusterUpgradeFleetSpec",
          "traits": {
            "smithy.api#documentation": "ClusterUpgrade (fleet-based) feature spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CommonFeatureSpec contains Fleet-wide configuration information"
      }
    },
    "com.gcp.gkehub_v1beta#Origin": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1beta#OriginTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type specifies which type of origin is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Origin defines where this MembershipFeatureSpec originated from."
      }
    },
    "com.gcp.gkehub_v1beta#OriginTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "FLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET"
          }
        },
        "FLEET_OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_OUT_OF_SYNC"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConnectAgentResource": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YAML manifest of the resource."
          }
        },
        "type": {
          "target": "com.gcp.gkehub_v1beta#TypeMeta",
          "traits": {
            "smithy.api#documentation": "Kubernetes type of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment."
      }
    },
    "com.gcp.gkehub_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1beta#StatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Code specifies AppDevExperienceFeature's subcomponent ready state."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description is populated if Code is Failed, explaining why it has failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status specifies state for the subcomponent."
      }
    },
    "com.gcp.gkehub_v1beta#StatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.gkehub_v1beta#RolloutSequence": {
      "type": "structure",
      "members": {
        "autoUpgradeConfig": {
          "target": "com.gcp.gkehub_v1beta#AutoUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for automatic upgrades. If this message is `unset`, the system applies default behavior."
          }
        },
        "targetControlPlaneVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The target control plane version of the Rollout Sequence."
          }
        },
        "lastQualifiedNodeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last qualified node version."
          }
        },
        "lastQualifiedControlPlaneVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last qualified control plane version."
          }
        },
        "stages": {
          "target": "com.gcp.gkehub_v1beta#StageList",
          "traits": {
            "smithy.api#documentation": "Required. Ordered list of stages that constitutes this Rollout."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all Rollout Sequence resources. If a Rollout Sequence resource is deleted and another resource with the same name is created, it gets a different uid."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at the Rollout Sequence was deleted."
          }
        },
        "effectiveAutoUpgradeConfig": {
          "target": "com.gcp.gkehub_v1beta#AutoUpgradeConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The resolved auto-upgrade options which are in effect."
          }
        },
        "operationalState": {
          "target": "com.gcp.gkehub_v1beta#OperationalState",
          "traits": {
            "smithy.api#documentation": "Output only. Operational state of the Rollout Sequence."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the rollout sequence in the format of: projects/{PROJECT_ID}/locations/global/rolloutSequences/{NAME}"
          }
        },
        "targetNodeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The target node version of the Rollout Sequence."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. etag of the Rollout Sequence Ex. abc1234"
          }
        },
        "ignoredClustersSelector": {
          "target": "com.gcp.gkehub_v1beta#ClusterSelector",
          "traits": {
            "smithy.api#documentation": "Optional. Selector for clusters to exclude from the Rollout Sequence."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which the Rollout Sequence was last updated."
          }
        },
        "computedReleaseChannel": {
          "target": "com.gcp.gkehub_v1beta#RolloutSequenceComputedReleaseChannelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The computed release channel used for the Rollout Sequence."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human readable display name of the Rollout Sequence."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this Rollout Sequence."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp at which the Rollout Sequence was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RolloutSequence defines the desired order of upgrades. Next ID: 20"
      }
    },
    "com.gcp.gkehub_v1beta#StageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Stage"
      }
    },
    "com.gcp.gkehub_v1beta#RolloutSequenceComputedReleaseChannelEnum": {
      "type": "enum",
      "members": {
        "GKE_RELEASE_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_RELEASE_CHANNEL_UNSPECIFIED"
          }
        },
        "RAPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAPID"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "STABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STABLE"
          }
        },
        "EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTENDED"
          }
        },
        "NO_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CHANNEL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#RolloutTarget": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The operation resource name performing the mutation."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta#RolloutTargetStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The high-level, machine-readable status of this Rollout for the target."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A human-readable description of the current status."
          }
        },
        "nodePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The resource link of the NodePool resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}/nodePools/{node_pool_name}`."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The resource link of the Cluster resource upgraded in this Rollout. It is formatted as: `//{api_service}/projects/{project_number}/locations/{location}/clusters/{cluster_name}`. ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the status of targets (clusters or node pools) involved in the Rollout."
      }
    },
    "com.gcp.gkehub_v1beta#RolloutTargetStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.gkehub_v1beta#RBACRoleBindingActuationFeatureState": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state."
      }
    },
    "com.gcp.gkehub_v1beta#ListScopesResponse": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.gkehub_v1beta#ScopeList",
          "traits": {
            "smithy.api#documentation": "The list of Scopes"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Scopes."
      }
    },
    "com.gcp.gkehub_v1beta#ScopeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Scope"
      }
    },
    "com.gcp.gkehub_v1beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.gkehub_v1beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.gkehub_v1beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Operation"
      }
    },
    "com.gcp.gkehub_v1beta#ScopeLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1beta#ScopeLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the scope resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ScopeLifecycleState describes the state of a Scope resource."
      }
    },
    "com.gcp.gkehub_v1beta#ScopeLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#AppDevExperienceFeatureSpec": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Spec for App Dev Experience Feature."
      }
    },
    "com.gcp.gkehub_v1beta#Stage": {
      "type": "structure",
      "members": {
        "fleetProjects": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of Fleet projects to select the clusters from. Expected format: projects/{project}"
          }
        },
        "clusterSelector": {
          "target": "com.gcp.gkehub_v1beta#ClusterSelector",
          "traits": {
            "smithy.api#documentation": "Optional. Filter members of fleets (above) to a subset of clusters. If not specified, all clusters in the fleets are selected."
          }
        },
        "soakDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Soak time after upgrading all the clusters in the stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rollout stage."
      }
    },
    "com.gcp.gkehub_v1beta#IdentityServiceGoogleConfig": {
      "type": "structure",
      "members": {
        "disable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable automatic configuration of Google Plugin on supported platforms."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Google Plugin Auth flow."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementDeploymentOverride": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementContainerOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. The containers of the deployment resource to be overridden."
          }
        },
        "deploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the deployment resource to be overridden."
          }
        },
        "deploymentNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The namespace of the deployment resource to be overridden."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a deployment override."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementContainerOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ConfigManagementContainerOverride"
      }
    },
    "com.gcp.gkehub_v1beta#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.gkehub_v1beta#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.gkehub_v1beta#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerResourceList": {
      "type": "structure",
      "members": {
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory requirement expressed in Kubernetes resource units."
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU requirement expressed in Kubernetes resource units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceList contains container resource requirements."
      }
    },
    "com.gcp.gkehub_v1beta#FleetObservabilityFeatureState": {
      "type": "structure",
      "members": {
        "monitoring": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityFleetObservabilityMonitoringState",
          "traits": {
            "smithy.api#documentation": "The feature state of fleet monitoring."
          }
        },
        "logging": {
          "target": "com.gcp.gkehub_v1beta#FleetObservabilityFleetObservabilityLoggingState",
          "traits": {
            "smithy.api#documentation": "The feature state of default logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state."
      }
    },
    "com.gcp.gkehub_v1beta#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.gkehub_v1beta#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementConfigSyncVersion": {
      "type": "structure",
      "members": {
        "rootReconciler": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler container in root-reconciler pod"
          }
        },
        "syncer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed syncer pod"
          }
        },
        "resourceGroupControllerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed resource-group-controller-manager pod"
          }
        },
        "reconcilerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler-manager pod"
          }
        },
        "gitSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed git-sync pod"
          }
        },
        "admissionWebhook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed admission-webhook pod"
          }
        },
        "importer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed importer pod"
          }
        },
        "monitor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed monitor pod"
          }
        },
        "otelCollector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed otel-collector pod"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific versioning information pertaining to ConfigSync's Pods"
      }
    },
    "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetailCodeEnum",
          "traits": {
            "smithy.api#documentation": "The state of the Identity Provider."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current state or returned error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IdentityProviderStateDetail represents the state of an Identity Provider."
      }
    },
    "com.gcp.gkehub_v1beta#WorkloadIdentityIdentityProviderStateDetailCodeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_PROVIDER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_UNSPECIFIED"
          }
        },
        "IDENTITY_PROVIDER_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_OK"
          }
        },
        "IDENTITY_PROVIDER_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementPolicyControllerMonitoring": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementPolicyControllerMonitoringBackendsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementPolicyControllerMonitoringBackendsItemEnum": {
      "type": "enum",
      "members": {
        "MONITORING_BACKEND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONITORING_BACKEND_UNSPECIFIED"
          }
        },
        "PROMETHEUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMETHEUS"
          }
        },
        "CLOUD_MONITORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_MONITORING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementPolicyControllerMonitoringBackendsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ConfigManagementPolicyControllerMonitoringBackendsItemEnum"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementSyncError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ACM defined error code"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the error"
          }
        },
        "errorResources": {
          "target": "com.gcp.gkehub_v1beta#ConfigManagementErrorResourceList",
          "traits": {
            "smithy.api#documentation": "A list of config(s) associated with the error, if any"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ACM created error representing a problem syncing configurations"
      }
    },
    "com.gcp.gkehub_v1beta#ConfigManagementErrorResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#ConfigManagementErrorResource"
      }
    },
    "com.gcp.gkehub_v1beta#ListFeaturesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.gkehub_v1beta#FeatureList",
          "traits": {
            "smithy.api#documentation": "The list of matching Features"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GkeHub.ListFeatures` method."
      }
    },
    "com.gcp.gkehub_v1beta#FeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta#Feature"
      }
    },
    "com.gcp.gkehub_v1beta#PolicyControllerBundleInstallSpec": {
      "type": "structure",
      "members": {
        "exemptedNamespaces": {
          "target": "com.gcp.gkehub_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of namespaces to be exempted from the bundle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BundleInstallSpec is the specification configuration for a single managed bundle."
      }
    },
    "com.gcp.gkehub_v1beta#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.gkehub_v1beta#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.gkehub_v1beta#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
[...]
