{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v1alpha",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v1alpha#ClusterUpgradeUpgradeStatus": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for this status."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeUpgradeStatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Status code of the upgrade."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last timestamp the status was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UpgradeStatus provides status information for each upgrade."
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeUpgradeStatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INELIGIBLE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOAKING"
          }
        },
        "FORCED_SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORCED_SOAKING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#Namespace": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was deleted."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Scope associated with the namespace"
          }
        },
        "namespaceLabels": {
          "target": "com.gcp.gkehub_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1alpha#NamespaceLifecycleState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the namespace resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the namespace was created."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this Namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace represents a namespace across the Fleet"
      }
    },
    "com.gcp.gkehub_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1alpha#FleetObservabilityRoutingConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.gkehub_v1alpha#FleetObservabilityRoutingConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "mode configures the logs routing mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RoutingConfig configures the behaviour of fleet logging feature."
      }
    },
    "com.gcp.gkehub_v1alpha#FleetObservabilityRoutingConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGroupVersionKind": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Group"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Kind"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kubernetes object's GVK"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeUpgradeStatus",
          "traits": {
            "smithy.api#documentation": "Status of the upgrade."
          }
        },
        "upgrade": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgrade",
          "traits": {
            "smithy.api#documentation": "Which upgrade to track the state."
          }
        },
        "stats": {
          "target": "com.gcp.gkehub_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Number of GKE clusters in each status code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level."
      }
    },
    "com.gcp.gkehub_v1alpha#DataplaneV2FeatureSpec": {
      "type": "structure",
      "members": {
        "enableEncryption": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable dataplane-v2 based encryption for multiple clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Dataplane V2**: Spec"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeFleetSpec": {
      "type": "structure",
      "members": {
        "gkeUpgradeOverrides": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeOverrideList",
          "traits": {
            "smithy.api#documentation": "Allow users to override some properties of each GKE upgrade."
          }
        },
        "upgradeEngine": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeFleetSpecUpgradeEngineEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The effective upgrade engine for the fleet."
          }
        },
        "upstreamFleets": {
          "target": "com.gcp.gkehub_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "This fleet consumes upgrades that have COMPLETE status code in the upstream fleets. See UpgradeStatus.Code for code definitions. The fleet name should be either fleet project number or id. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream fleet."
          }
        },
        "postConditions": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradePostConditions",
          "traits": {
            "smithy.api#documentation": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**ClusterUpgrade**: The configuration for the fleet-level ClusterUpgrade feature."
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeOverride"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeFleetSpecUpgradeEngineEnum": {
      "type": "enum",
      "members": {
        "UPGRADE_ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_ENGINE_UNSPECIFIED"
          }
        },
        "SEQUENCING_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEQUENCING_V1"
          }
        },
        "SEQUENCING_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEQUENCING_V2"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshCondition": {
      "type": "structure",
      "members": {
        "documentationLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Links contains actionable information."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short summary about the issue."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshConditionCodeEnum",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the condition which describes the condition recognizable to the user."
          }
        },
        "severity": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshConditionSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity level of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Condition being reported."
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshConditionCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "MESH_IAM_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESH_IAM_PERMISSION_DENIED"
          }
        },
        "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED"
          }
        },
        "CNI_CONFIG_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_CONFIG_UNSUPPORTED"
          }
        },
        "GKE_SANDBOX_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_SANDBOX_UNSUPPORTED"
          }
        },
        "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED"
          }
        },
        "CNI_INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_INSTALLATION_FAILED"
          }
        },
        "CNI_POD_UNSCHEDULABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNI_POD_UNSCHEDULABLE"
          }
        },
        "CLUSTER_HAS_ZERO_NODES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_HAS_ZERO_NODES"
          }
        },
        "CANONICAL_SERVICE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANONICAL_SERVICE_ERROR"
          }
        },
        "UNSUPPORTED_MULTIPLE_CONTROL_PLANES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_MULTIPLE_CONTROL_PLANES"
          }
        },
        "VPCSC_GA_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPCSC_GA_SUPPORTED"
          }
        },
        "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT"
          }
        },
        "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE"
          }
        },
        "CONFIG_APPLY_INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_APPLY_INTERNAL_ERROR"
          }
        },
        "CONFIG_VALIDATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_VALIDATION_ERROR"
          }
        },
        "CONFIG_VALIDATION_WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_VALIDATION_WARNING"
          }
        },
        "QUOTA_EXCEEDED_BACKEND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_BACKEND_SERVICES"
          }
        },
        "QUOTA_EXCEEDED_HEALTH_CHECKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HEALTH_CHECKS"
          }
        },
        "QUOTA_EXCEEDED_HTTP_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HTTP_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TCP_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TCP_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TLS_ROUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TLS_ROUTES"
          }
        },
        "QUOTA_EXCEEDED_TRAFFIC_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TRAFFIC_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_ENDPOINT_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_ENDPOINT_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_GATEWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_GATEWAYS"
          }
        },
        "QUOTA_EXCEEDED_MESHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_MESHES"
          }
        },
        "QUOTA_EXCEEDED_SERVER_TLS_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_SERVER_TLS_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_SERVICE_LB_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_SERVICE_LB_POLICIES"
          }
        },
        "QUOTA_EXCEEDED_HTTP_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_HTTP_FILTERS"
          }
        },
        "QUOTA_EXCEEDED_TCP_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_TCP_FILTERS"
          }
        },
        "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS"
          }
        },
        "CONFIG_APPLY_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_APPLY_BLOCKED"
          }
        },
        "LEGACY_MC_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY_MC_SECRETS"
          }
        },
        "WORKLOAD_IDENTITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_IDENTITY_REQUIRED"
          }
        },
        "NON_STANDARD_BINARY_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_STANDARD_BINARY_USAGE"
          }
        },
        "UNSUPPORTED_GATEWAY_CLASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_GATEWAY_CLASS"
          }
        },
        "MANAGED_CNI_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_CNI_NOT_ENABLED"
          }
        },
        "MISSING_CONTROL_PLANE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_CONTROL_PLANE_CONFIG"
          }
        },
        "SHARED_VPC_MISSING_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_VPC_MISSING_PERMISSIONS"
          }
        },
        "REQUIRED_ORG_POLICY_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_ORG_POLICY_DISABLED"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_CONFIG"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE"
          }
        },
        "MODERNIZATION_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_SCHEDULED"
          }
        },
        "MODERNIZATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_IN_PROGRESS"
          }
        },
        "MODERNIZATION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_COMPLETED"
          }
        },
        "MODERNIZATION_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ABORTED"
          }
        },
        "MODERNIZATION_PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_PREPARING"
          }
        },
        "MODERNIZATION_STALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_STALLED"
          }
        },
        "MODERNIZATION_PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_PREPARED"
          }
        },
        "MODERNIZATION_MIGRATING_WORKLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MIGRATING_WORKLOADS"
          }
        },
        "MODERNIZATION_ROLLING_BACK_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ROLLING_BACK_CLUSTER"
          }
        },
        "MODERNIZATION_WILL_BE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_WILL_BE_SCHEDULED"
          }
        },
        "MODERNIZATION_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MANUAL"
          }
        },
        "MODERNIZATION_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ELIGIBLE"
          }
        },
        "MODERNIZATION_MODERNIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MODERNIZING"
          }
        },
        "MODERNIZATION_MODERNIZED_SOAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_MODERNIZED_SOAKING"
          }
        },
        "MODERNIZATION_FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_FINALIZED"
          }
        },
        "MODERNIZATION_ROLLING_BACK_FLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_ROLLING_BACK_FLEET"
          }
        },
        "MODERNIZATION_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_COMPATIBLE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE"
          }
        },
        "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshConditionSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementContainerOverride": {
      "type": "structure",
      "members": {
        "memoryRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        },
        "cpuLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        },
        "cpuRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the container."
          }
        },
        "memoryLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a container override."
      }
    },
    "com.gcp.gkehub_v1alpha#MembershipBindingLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1alpha#MembershipBindingLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the MembershipBinding resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipBindingLifecycleState describes the state of a Binding resource."
      }
    },
    "com.gcp.gkehub_v1alpha#MembershipBindingLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterSelector": {
      "type": "structure",
      "members": {
        "labelSelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector for clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.gkehub_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.gkehub_v1alpha#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.gkehub_v1alpha#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#GenerateExclusivityManifestResponse": {
      "type": "structure",
      "members": {
        "crdManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YAML manifest of the membership CRD to apply if a newer version of the CRD is available. Empty if no update needs to be applied."
          }
        },
        "crManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YAML manifest of the membership CR to apply if a new version of the CR is available. Empty if no update needs to be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the exclusivity artifacts manifests for the client to apply."
      }
    },
    "com.gcp.gkehub_v1alpha#WorkloadIdentityIdentityProviderStateDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1alpha#WorkloadIdentityIdentityProviderStateDetailCodeEnum",
          "traits": {
            "smithy.api#documentation": "The state of the Identity Provider."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current state or returned error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IdentityProviderStateDetail represents the state of an Identity Provider."
      }
    },
    "com.gcp.gkehub_v1alpha#WorkloadIdentityIdentityProviderStateDetailCodeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_PROVIDER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_UNSPECIFIED"
          }
        },
        "IDENTITY_PROVIDER_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_OK"
          }
        },
        "IDENTITY_PROVIDER_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#FleetObservabilityMembershipSpec": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "**FleetObservability**: The membership-specific input for FleetObservability feature."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceSimpleBindCredentials": {
      "type": "structure",
      "members": {
        "encryptedPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The encrypted password of the service account object/user."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the service account object/user."
          }
        },
        "dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The distinguished name(DN) of the service account object/user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The structure holds the LDAP simple binding credential."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementMembershipSpec": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
          }
        },
        "binauthz": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementBinauthzConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Binauthz configuration will be ignored and should not be set."
          }
        },
        "configSync": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementConfigSync",
          "traits": {
            "smithy.api#documentation": "Optional. Config Sync configuration for the cluster."
          }
        },
        "policyController": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementPolicyController",
          "traits": {
            "smithy.api#documentation": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead."
          }
        },
        "hierarchyController": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead."
          }
        },
        "management": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementMembershipSpecManagementEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementMembershipSpecManagementEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "MANAGEMENT_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_AUTOMATIC"
          }
        },
        "MANAGEMENT_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MANUAL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#VersionUpgrade": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1alpha#VersionUpgradeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of version upgrade specifies which component should be upgraded."
          }
        },
        "desiredVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Desired version of the component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for version upgrade of clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#VersionUpgradeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_CONTROL_PLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CONTROL_PLANE"
          }
        },
        "TYPE_NODE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_NODE_POOL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ListScopesResponse": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.gkehub_v1alpha#ScopeList",
          "traits": {
            "smithy.api#documentation": "The list of Scopes"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Scopes."
      }
    },
    "com.gcp.gkehub_v1alpha#ScopeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#Scope"
      }
    },
    "com.gcp.gkehub_v1alpha#GkeCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
          }
        },
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GkeCluster contains information specific to GKE clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentState": {
      "type": "structure",
      "members": {
        "hnc": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentStateHncEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)"
          }
        },
        "extension": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment state for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentStateHncEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#GenerateConnectManifestResponse": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "com.gcp.gkehub_v1alpha#ConnectAgentResourceList",
          "traits": {
            "smithy.api#documentation": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent."
      }
    },
    "com.gcp.gkehub_v1alpha#ConnectAgentResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ConnectAgentResource"
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceUserConfig": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for user entries."
          }
        },
        "loginAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
          }
        },
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines where users exist in the LDAP directory."
      }
    },
    "com.gcp.gkehub_v1alpha#WorkloadIdentityNamespaceStateDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1alpha#WorkloadIdentityNamespaceStateDetailCodeEnum",
          "traits": {
            "smithy.api#documentation": "The state of the IAM namespace."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current state or returned error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NamespaceStateDetail represents the state of a IAM namespace."
      }
    },
    "com.gcp.gkehub_v1alpha#WorkloadIdentityNamespaceStateDetailCodeEnum": {
      "type": "enum",
      "members": {
        "NAMESPACE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_UNSPECIFIED"
          }
        },
        "NAMESPACE_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_OK"
          }
        },
        "NAMESPACE_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ValidateExclusivityResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.gkehub_v1alpha#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The validation result. * `OK` means that exclusivity is validated, assuming the manifest produced by GenerateExclusivityManifest is successfully applied. * `ALREADY_EXISTS` means that the Membership CRD is already owned by another Hub. See `status.message` for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of exclusivity artifacts validation result status."
      }
    },
    "com.gcp.gkehub_v1alpha#MembershipEndpoint": {
      "type": "structure",
      "members": {
        "edgeCluster": {
          "target": "com.gcp.gkehub_v1alpha#EdgeCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a Google Edge cluster."
          }
        },
        "googleManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the lifecycle of this membership is managed by a google cluster platform service."
          }
        },
        "kubernetesMetadata": {
          "target": "com.gcp.gkehub_v1alpha#KubernetesMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Useful Kubernetes-specific metadata."
          }
        },
        "kubernetesResource": {
          "target": "com.gcp.gkehub_v1alpha#KubernetesResource",
          "traits": {
            "smithy.api#documentation": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features."
          }
        },
        "gkeCluster": {
          "target": "com.gcp.gkehub_v1alpha#GkeCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE on Google Cloud cluster."
          }
        },
        "multiCloudCluster": {
          "target": "com.gcp.gkehub_v1alpha#MultiCloudCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE Multi-Cloud cluster."
          }
        },
        "applianceCluster": {
          "target": "com.gcp.gkehub_v1alpha#ApplianceCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GDC Edge Appliance cluster."
          }
        },
        "onPremCluster": {
          "target": "com.gcp.gkehub_v1alpha#OnPremCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceServerConfig": {
      "type": "structure",
      "members": {
        "certificateAuthorityData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contains a Base64 encoded, PEM formatted certificate authority certificate for the LDAP server. This must be provided for the \"ldaps\" and \"startTLS\" connections."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Defines the hostname or IP of the LDAP server. Port is optional and will default to 389, if unspecified. For example, \"ldap.server.example\" or \"10.10.10.10:389\"."
          }
        },
        "connectionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the connection type to communicate with the LDAP server. If `starttls` or `ldaps` is specified, the certificate_authority_data should not be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server settings for the external LDAP server."
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessageBase": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshType",
          "traits": {
            "smithy.api#documentation": "Represents the specific type of a message."
          }
        },
        "level": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessageBaseLevelEnum",
          "traits": {
            "smithy.api#documentation": "Represents how severe a message is."
          }
        },
        "documentationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AnalysisMessageBase describes some common information that is needed for all messages."
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessageBaseLevelEnum": {
      "type": "enum",
      "members": {
        "LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ApplianceCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGitConfig": {
      "type": "structure",
      "members": {
        "syncRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the Git repository to use as the source of truth."
          }
        },
        "httpsProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
          }
        },
        "syncRev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Git revision (tag or hash) to check out. Default HEAD."
          }
        },
        "secretType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
          }
        },
        "syncBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The branch of the repository to sync from. Default: master."
          }
        },
        "gcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
          }
        },
        "policyDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
          }
        },
        "syncWaitSecs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period in seconds between consecutive syncs. Default: 15."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Git repo configuration for a single cluster."
      }
    },
    "com.gcp.gkehub_v1alpha#PolicyControllerToleration": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint value."
          }
        },
        "effect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint effect."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint key (not necessarily unique)."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Matches a taint operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Toleration of a node taint."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceGroupConfig": {
      "type": "structure",
      "members": {
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\"."
          }
        },
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for group entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the properties for locating and authenticating groups in the directory."
      }
    },
    "com.gcp.gkehub_v1alpha#ScopeFeatureState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v1alpha#FeatureState",
          "traits": {
            "smithy.api#documentation": "Output only. The \"running state\" of the Feature in this Scope."
          }
        },
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeScopeState",
          "traits": {
            "smithy.api#documentation": "State for the ClusterUpgrade feature at the scope level"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ScopeFeatureState contains Scope-wide Feature status information."
      }
    },
    "com.gcp.gkehub_v1alpha#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.gkehub_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.gkehub_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.gkehub_v1alpha#ComplianceStandard": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the compliance standard."
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.gkehub_v1alpha#FleetLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1alpha#FleetLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FleetLifecycleState describes the state of a Fleet resource."
      }
    },
    "com.gcp.gkehub_v1alpha#FleetLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#RolloutMembershipState": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.gcp.gkehub_v1alpha#RolloutTargetList",
          "traits": {
            "smithy.api#documentation": "Output only. The targets of the rollout - clusters or node pools that are being upgraded. All targets belongs to the same cluster, identified by the membership name (key of membership_states map)."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time this status and any related Rollout-specific details for the membership were updated."
          }
        },
        "stageAssignment": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The stage assignment of this cluster in this rollout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about single cluster (GKE Hub membership) that's part of this Rollout."
      }
    },
    "com.gcp.gkehub_v1alpha#RolloutTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#RolloutTarget"
      }
    },
    "com.gcp.gkehub_v1alpha#MembershipFeatureSpec": {
      "type": "structure",
      "members": {
        "policycontroller": {
          "target": "com.gcp.gkehub_v1alpha#PolicyControllerMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Policy Controller spec."
          }
        },
        "workloadcertificate": {
          "target": "com.gcp.gkehub_v1alpha#MembershipSpec",
          "traits": {
            "smithy.api#documentation": "Workload Certificate spec."
          }
        },
        "origin": {
          "target": "com.gcp.gkehub_v1alpha#Origin",
          "traits": {
            "smithy.api#documentation": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly."
          }
        },
        "configmanagement": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Config Management-specific spec."
          }
        },
        "cloudbuild": {
          "target": "com.gcp.gkehub_v1alpha#CloudBuildMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Cloud Build-specific spec"
          }
        },
        "mesh": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Anthos Service Mesh-specific spec"
          }
        },
        "namespaceactuation": {
          "target": "com.gcp.gkehub_v1alpha#NamespaceActuationMembershipSpec",
          "traits": {
            "smithy.api#documentation": "FNS Actuation membership spec"
          }
        },
        "identityservice": {
          "target": "com.gcp.gkehub_v1alpha#IdentityServiceMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Identity Service-specific spec."
          }
        },
        "fleetobservability": {
          "target": "com.gcp.gkehub_v1alpha#FleetObservabilityMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Fleet observability membership spec"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipFeatureSpec contains configuration information for a single Membership."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceMembershipSpec": {
      "type": "structure",
      "members": {
        "authMethods": {
          "target": "com.gcp.gkehub_v1alpha#IdentityServiceAuthMethodList",
          "traits": {
            "smithy.api#documentation": "A member may support multiple auth methods."
          }
        },
        "identityServiceOptions": {
          "target": "com.gcp.gkehub_v1alpha#IdentityServiceIdentityServiceOptions",
          "traits": {
            "smithy.api#documentation": "Optional. non-protocol-related configuration options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Identity Service**: Configuration for a single Membership."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceAuthMethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#IdentityServiceAuthMethod"
      }
    },
    "com.gcp.gkehub_v1alpha#PolicyControllerTemplateLibraryConfig": {
      "type": "structure",
      "members": {
        "installation": {
          "target": "com.gcp.gkehub_v1alpha#PolicyControllerTemplateLibraryConfigInstallationEnum",
          "traits": {
            "smithy.api#documentation": "Configures the manner in which the template library is installed on the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config specifying which default library templates to install."
      }
    },
    "com.gcp.gkehub_v1alpha#PolicyControllerTemplateLibraryConfigInstallationEnum": {
      "type": "enum",
      "members": {
        "INSTALLATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#CommonFeatureState": {
      "type": "structure",
      "members": {
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeFleetState",
          "traits": {
            "smithy.api#documentation": "ClusterUpgrade fleet-level state."
          }
        },
        "namespaceactuation": {
          "target": "com.gcp.gkehub_v1alpha#NamespaceActuationFeatureState",
          "traits": {
            "smithy.api#documentation": "Namespace Actuation feature state."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v1alpha#RBACRoleBindingActuationFeatureState",
          "traits": {
            "smithy.api#documentation": "RBAC Role Binding Actuation feature state"
          }
        },
        "workloadidentity": {
          "target": "com.gcp.gkehub_v1alpha#WorkloadIdentityFeatureState",
          "traits": {
            "smithy.api#documentation": "WorkloadIdentity fleet-level state."
          }
        },
        "appdevexperience": {
          "target": "com.gcp.gkehub_v1alpha#AppDevExperienceFeatureState",
          "traits": {
            "smithy.api#documentation": "Appdevexperience specific state."
          }
        },
        "fleetobservability": {
          "target": "com.gcp.gkehub_v1alpha#FleetObservabilityFeatureState",
          "traits": {
            "smithy.api#documentation": "FleetObservability feature state."
          }
        },
        "servicemesh": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshFeatureState",
          "traits": {
            "smithy.api#documentation": "Service Mesh-specific state."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1alpha#FeatureState",
          "traits": {
            "smithy.api#documentation": "Output only. The \"running state\" of the Feature in this Fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CommonFeatureState contains Fleet-wide Feature status information."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentState": {
      "type": "structure",
      "members": {
        "gatekeeperControllerManagerState": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-controller-manager pod."
          }
        },
        "gatekeeperAudit": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum",
          "traits": {
            "smithy.api#documentation": "Status of gatekeeper-audit deployment."
          }
        },
        "gatekeeperMutation": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum",
          "traits": {
            "smithy.api#documentation": "Status of the pod serving the mutation webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of Policy Controller installation."
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperControllerManagerStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperAuditEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementGatekeeperDeploymentStateGatekeeperMutationEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerDeploymentState",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller"
          }
        },
        "version": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementHierarchyControllerVersion",
          "traits": {
            "smithy.api#documentation": "The version for Hierarchy Controller"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementSyncState": {
      "type": "structure",
      "members": {
        "importToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the importer."
          }
        },
        "lastSyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp type of when ACM last successfully synced the repo"
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementSyncStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Sync status code"
          }
        },
        "errors": {
          "target": "com.gcp.gkehub_v1alpha#ConfigManagementSyncErrorList",
          "traits": {
            "smithy.api#documentation": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
          }
        },
        "sourceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the repo."
          }
        },
        "syncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token indicating the state of the syncer."
          }
        },
        "lastSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State indicating an ACM's progress syncing configurations to a cluster"
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementSyncStateCodeEnum": {
      "type": "enum",
      "members": {
        "SYNC_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_CODE_UNSPECIFIED"
          }
        },
        "SYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONFIGURED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED"
          }
        },
        "UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNREACHABLE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ConfigManagementSyncErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ConfigManagementSyncError"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeIgnoredMembership": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason why the membership is ignored."
          }
        },
        "ignoredTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the membership was first set to ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceOidcConfig": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of identifiers."
          }
        },
        "certificateAuthorityData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM-encoded CA for OIDC provider."
          }
        },
        "groupsClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds group information."
          }
        },
        "userClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Claim in OIDC ID token that holds username."
          }
        },
        "encryptedClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Encrypted OIDC Client secret"
          }
        },
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
          }
        },
        "kubectlRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
          }
        },
        "deployCloudConsoleProxy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
          }
        },
        "groupPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to group name."
          }
        },
        "extraParams": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-separated list of key-value pairs."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for OIDC client application."
          }
        },
        "enableAccessToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable access token."
          }
        },
        "userPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix to prepend to user name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for OIDC Auth flow."
      }
    },
    "com.gcp.gkehub_v1alpha#BinaryAuthorizationConfig": {
      "type": "structure",
      "members": {
        "evaluationMode": {
          "target": "com.gcp.gkehub_v1alpha#BinaryAuthorizationConfigEvaluationModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Mode of operation for binauthz policy evaluation."
          }
        },
        "policyBindings": {
          "target": "com.gcp.gkehub_v1alpha#PolicyBindingList",
          "traits": {
            "smithy.api#documentation": "Optional. Binauthz policies that apply to this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BinaryAuthorizationConfig defines the fleet level configuration of binary authorization feature."
      }
    },
    "com.gcp.gkehub_v1alpha#BinaryAuthorizationConfigEvaluationModeEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "POLICY_BINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_BINDINGS"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#PolicyBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#PolicyBinding"
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceMembershipState": {
      "type": "structure",
      "members": {
        "memberConfig": {
          "target": "com.gcp.gkehub_v1alpha#IdentityServiceMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Last reconciled membership configuration"
          }
        },
        "installedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the failure."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1alpha#IdentityServiceMembershipStateStateEnum",
          "traits": {
            "smithy.api#documentation": "Deployment state on this member"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Identity Service**: State for a single Membership."
      }
    },
    "com.gcp.gkehub_v1alpha#IdentityServiceMembershipStateStateEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshMembershipState": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. List of conditions reported for this membership."
          }
        },
        "analysisMessages": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessageList",
          "traits": {
            "smithy.api#documentation": "Output only. Results of running Service Mesh analyzers."
          }
        },
        "configApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
          }
        },
        "dataPlaneManagement": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshDataPlaneManagement",
          "traits": {
            "smithy.api#documentation": "Output only. Status of data plane management."
          }
        },
        "controlPlaneManagement": {
          "target": "com.gcp.gkehub_v1alpha#ServiceMeshControlPlaneManagement",
          "traits": {
            "smithy.api#documentation": "Output only. Status of control plane management"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ServiceMeshCondition"
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ServiceMeshAnalysisMessage"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeFeatureState": {
      "type": "structure",
      "members": {
        "upgradeState": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeStateList",
          "traits": {
            "smithy.api#documentation": "Upgrade state. It will eventually replace `state`."
          }
        },
        "conditions": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeFeatureConditionList",
          "traits": {
            "smithy.api#documentation": "Current conditions of the feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope."
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeState"
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeFeatureConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeFeatureCondition"
      }
    },
    "com.gcp.gkehub_v1alpha#ConnectAgentResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1alpha#TypeMeta",
          "traits": {
            "smithy.api#documentation": "Kubernetes type of the resource."
          }
        },
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YAML manifest of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment."
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeScopeState": {
      "type": "structure",
      "members": {
        "gkeState": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeGKEUpgradeFeatureState",
          "traits": {
            "smithy.api#documentation": "Feature state for GKE clusters."
          }
        },
        "downstreamScopes": {
          "target": "com.gcp.gkehub_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "This scopes whose upstream_scopes contain the current scope. The scope name should be in the form: `projects/{p}/locations/gloobal/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project."
          }
        },
        "ignored": {
          "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeIgnoredMembershipMap",
          "traits": {
            "smithy.api#documentation": "A list of memberships ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel. The membership resource is in the format: `projects/{p}/locations/{l}/membership/{m}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**ClusterUpgrade**: The state for the scope-level ClusterUpgrade feature."
      }
    },
    "com.gcp.gkehub_v1alpha#ClusterUpgradeIgnoredMembershipMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1alpha#ClusterUpgradeIgnoredMembership"
      }
    },
    "com.gcp.gkehub_v1alpha#KubernetesMetadata": {
      "type": "structure",
      "members": {
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. vCPU count as reported by Kubernetes nodes resources."
          }
        },
        "nodeProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Node count as reported by Kubernetes nodes resources."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers."
          }
        },
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kubernetes API server version string as reported by `/version`."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#CancelRolloutRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for cancelling a rollout."
      }
    },
    "com.gcp.gkehub_v1alpha#PauseRolloutRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for pausing a rollout."
      }
    },
    "com.gcp.gkehub_v1alpha#EdgeCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EdgeCluster contains information specific to Google Edge Clusters."
      }
    },
    "com.gcp.gkehub_v1alpha#MultiClusterIngressFeatureSpec": {
      "type": "structure",
      "members": {
        "billing": {
          "target": "com.gcp.gkehub_v1alpha#MultiClusterIngressFeatureSpecBillingEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field will be ignored and should not be set. Customer's billing structure."
          }
        },
        "configMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature."
      }
    },
    "com.gcp.gkehub_v1alpha#MultiClusterIngressFeatureSpecBillingEnum": {
      "type": "enum",
      "members": {
        "BILLING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_UNSPECIFIED"
          }
        },
        "PAY_AS_YOU_GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAY_AS_YOU_GO"
          }
        },
        "ANTHOS_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTHOS_LICENSE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#CloudBuildMembershipSpec": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the cloud build software on the cluster."
          }
        },
        "securityPolicy": {
          "target": "com.gcp.gkehub_v1alpha#CloudBuildMembershipSpecSecurityPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Whether it is allowed to run the privileged builds on the cluster or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Cloud Build**: Configurations for each Cloud Build enabled cluster."
      }
    },
    "com.gcp.gkehub_v1alpha#CloudBuildMembershipSpecSecurityPolicyEnum": {
      "type": "enum",
      "members": {
        "SECURITY_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_POLICY_UNSPECIFIED"
          }
        },
        "NON_PRIVILEGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_PRIVILEGED"
          }
        },
        "PRIVILEGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1alpha#ServiceMeshType": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)"
          }
        }
      },
      "traits": {
[...]
