{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v1",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v1#IdentityServiceAzureADConfig": {
      "type": "structure",
      "members": {
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
          }
        },
        "encryptedClientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Encrypted AzureAD client secret."
          }
        },
        "groupFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Format of the AzureAD groups that the client wants for auth."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
          }
        },
        "kubectlRedirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redirect URL that kubectl uses for authorization."
          }
        },
        "userClaim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Claim in the AzureAD ID Token that holds the user details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the AzureAD Auth flow."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementGroupVersionKind": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Kind"
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Group"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes Version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Kubernetes object's GVK"
      }
    },
    "com.gcp.gkehub_v1#TypeMeta": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the resource (e.g. Deployment)."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion of the resource (e.g. v1)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementConfigSyncVersion": {
      "type": "structure",
      "members": {
        "admissionWebhook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed admission-webhook pod"
          }
        },
        "gitSync": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed git-sync pod"
          }
        },
        "importer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed importer pod"
          }
        },
        "rootReconciler": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler container in root-reconciler pod"
          }
        },
        "resourceGroupControllerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed resource-group-controller-manager pod"
          }
        },
        "syncer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed syncer pod"
          }
        },
        "reconcilerManager": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed reconciler-manager pod"
          }
        },
        "otelCollector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed otel-collector pod"
          }
        },
        "monitor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the deployed monitor pod"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific versioning information pertaining to ConfigSync's Pods"
      }
    },
    "com.gcp.gkehub_v1#CommonFeatureSpec": {
      "type": "structure",
      "members": {
        "appdevexperience": {
          "target": "com.gcp.gkehub_v1#AppDevExperienceFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Appdevexperience specific spec."
          }
        },
        "dataplanev2": {
          "target": "com.gcp.gkehub_v1#DataplaneV2FeatureSpec",
          "traits": {
            "smithy.api#documentation": "DataplaneV2 feature spec."
          }
        },
        "workloadidentity": {
          "target": "com.gcp.gkehub_v1#WorkloadIdentityFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Workload Identity feature spec."
          }
        },
        "mesh": {
          "target": "com.gcp.gkehub_v1#ServiceMeshFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Servicemesh feature spec."
          }
        },
        "fleetobservability": {
          "target": "com.gcp.gkehub_v1#FleetObservabilityFeatureSpec",
          "traits": {
            "smithy.api#documentation": "FleetObservability feature spec."
          }
        },
        "clusterupgrade": {
          "target": "com.gcp.gkehub_v1#ClusterUpgradeFleetSpec",
          "traits": {
            "smithy.api#documentation": "ClusterUpgrade (fleet-based) feature spec."
          }
        },
        "rbacrolebindingactuation": {
          "target": "com.gcp.gkehub_v1#RBACRoleBindingActuationFeatureSpec",
          "traits": {
            "smithy.api#documentation": "RBAC Role Binding Actuation feature spec"
          }
        },
        "multiclusteringress": {
          "target": "com.gcp.gkehub_v1#MultiClusterIngressFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Multicluster Ingress-specific spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CommonFeatureSpec contains Fleet-wide configuration information"
      }
    },
    "com.gcp.gkehub_v1#FleetLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1#FleetLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FleetLifecycleState describes the state of a Fleet resource."
      }
    },
    "com.gcp.gkehub_v1#FleetLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#BinaryAuthorizationConfig": {
      "type": "structure",
      "members": {
        "evaluationMode": {
          "target": "com.gcp.gkehub_v1#BinaryAuthorizationConfigEvaluationModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Mode of operation for binauthz policy evaluation."
          }
        },
        "policyBindings": {
          "target": "com.gcp.gkehub_v1#PolicyBindingList",
          "traits": {
            "smithy.api#documentation": "Optional. Binauthz policies that apply to this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BinaryAuthorizationConfig defines the fleet level configuration of binary authorization feature."
      }
    },
    "com.gcp.gkehub_v1#BinaryAuthorizationConfigEvaluationModeEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "POLICY_BINDINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_BINDINGS"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#PolicyBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#PolicyBinding"
      }
    },
    "com.gcp.gkehub_v1#KubernetesMetadata": {
      "type": "structure",
      "members": {
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. vCPU count as reported by Kubernetes nodes resources."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers."
          }
        },
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kubernetes API server version string as reported by `/version`."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Node count as reported by Kubernetes nodes resources."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
          }
        },
        "nodeProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE on Google Cloud), the node_count will be zero and the node_provider_id will be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
      }
    },
    "com.gcp.gkehub_v1#ClusterUpgradeGKEUpgradeFeatureCondition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the condition, for example, \"ready\"."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the condition, one of True, False, Unknown."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last timestamp the condition was updated."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason why the feature is in this status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GKEUpgradeFeatureCondition describes the condition of the feature for GKE clusters at a certain point of time."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentState": {
      "type": "structure",
      "members": {
        "hnc": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentStateHncEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)"
          }
        },
        "extension": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment state for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentStateHncEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentStateExtensionEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STATE_UNSPECIFIED"
          }
        },
        "NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INSTALLED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementContainerOverride": {
      "type": "structure",
      "members": {
        "cpuRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu request of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        },
        "memoryLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory limit of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the container."
          }
        },
        "cpuLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The cpu limit of the container. Use the following CPU resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu."
          }
        },
        "memoryRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The memory request of the container. Use the following memory resource units: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a container override."
      }
    },
    "com.gcp.gkehub_v1#FeatureState": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this status and any related Feature-specific details were updated."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v1#FeatureStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "The high-level, machine-readable status of this Feature."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of the current status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context."
      }
    },
    "com.gcp.gkehub_v1#FeatureStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ListBoundMembershipsResponse": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.gkehub_v1#MembershipList",
          "traits": {
            "smithy.api#documentation": "The list of Memberships bound to the given Scope."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListBoundMemberships` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Memberships bound to a Scope."
      }
    },
    "com.gcp.gkehub_v1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#Membership"
      }
    },
    "com.gcp.gkehub_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1#ListScopeNamespacesResponse": {
      "type": "structure",
      "members": {
        "scopeNamespaces": {
          "target": "com.gcp.gkehub_v1#NamespaceList",
          "traits": {
            "smithy.api#documentation": "The list of fleet namespaces"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of fleet namespaces."
      }
    },
    "com.gcp.gkehub_v1#NamespaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#Namespace"
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityFeatureSpec": {
      "type": "structure",
      "members": {
        "scopeTenancyPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool to be used for Workload Identity. This pool in trust-domain mode is used with Fleet Tenancy, so that sameness can be enforced. ex: projects/example/locations/global/workloadidentitypools/custompool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadIdentity**: Global feature specification."
      }
    },
    "com.gcp.gkehub_v1#DefaultClusterConfig": {
      "type": "structure",
      "members": {
        "securityPostureConfig": {
          "target": "com.gcp.gkehub_v1#SecurityPostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enable/Disable Security Posture features for the cluster."
          }
        },
        "binaryAuthorizationConfig": {
          "target": "com.gcp.gkehub_v1#BinaryAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Enable/Disable binary authorization features for the cluster."
          }
        },
        "compliancePostureConfig": {
          "target": "com.gcp.gkehub_v1#CompliancePostureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster. Note that on UpdateFleet, only full replacement of this field is allowed. Users are not allowed for partial updates through field mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DefaultClusterConfig describes the default cluster configurations to be applied to all clusters born-in-fleet."
      }
    },
    "com.gcp.gkehub_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.gkehub_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.gkehub_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#Origin": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1#OriginTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type specifies which type of origin is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Origin defines where this MembershipFeatureSpec originated from."
      }
    },
    "com.gcp.gkehub_v1#OriginTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "FLEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET"
          }
        },
        "FLEET_OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_OUT_OF_SYNC"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementMembershipState": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name."
          }
        },
        "operatorState": {
          "target": "com.gcp.gkehub_v1#ConfigManagementOperatorState",
          "traits": {
            "smithy.api#documentation": "Output only. Current install status of ACM's Operator"
          }
        },
        "policyControllerState": {
          "target": "com.gcp.gkehub_v1#ConfigManagementPolicyControllerState",
          "traits": {
            "smithy.api#documentation": "Output only. PolicyController status"
          }
        },
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Kubernetes API server version of the cluster."
          }
        },
        "membershipSpec": {
          "target": "com.gcp.gkehub_v1#ConfigManagementMembershipSpec",
          "traits": {
            "smithy.api#documentation": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
          }
        },
        "configSyncState": {
          "target": "com.gcp.gkehub_v1#ConfigManagementConfigSyncState",
          "traits": {
            "smithy.api#documentation": "Output only. Current sync status"
          }
        },
        "hierarchyControllerState": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerState",
          "traits": {
            "smithy.api#documentation": "Output only. Hierarchy Controller status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Config Management**: State for a single cluster."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementInstallError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of ACM"
      }
    },
    "com.gcp.gkehub_v1#AutoUpgradeConfig": {
      "type": "structure",
      "members": {
        "rolloutCreationScope": {
          "target": "com.gcp.gkehub_v1#RolloutCreationScope",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the scope of automation for the creation of rollouts. Represents the types of rollouts (version upgrades) the sequence should initiate automatically. If this field is `unset`, it defaults to all types. If this field is `set` but the internal `upgrade_types` list is `empty`, most automatic rollouts are disabled for this sequence. Exceptions are rollouts enforcing our security policies (e.g. such as end-of-support and outdated control plane patch enforcements). These policy enforcements cannot be disabled."
          }
        },
        "enforcedRollouts": {
          "target": "com.gcp.gkehub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Mandatory Safety Policies (Always active) which cannot be disabled. The key is the policy ID (e.g., \"ENFORCED_CONTROL_PLANE_PATCH\") and the value is a human-readable description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for automatic upgrades."
      }
    },
    "com.gcp.gkehub_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.gkehub_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementConfigSync": {
      "type": "structure",
      "members": {
        "git": {
          "target": "com.gcp.gkehub_v1#ConfigManagementGitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Git repo configuration for the cluster."
          }
        },
        "oci": {
          "target": "com.gcp.gkehub_v1#ConfigManagementOciConfig",
          "traits": {
            "smithy.api#documentation": "Optional. OCI repo configuration for the cluster"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
          }
        },
        "metricsGcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
          }
        },
        "stopSyncing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
          }
        },
        "deploymentOverrides": {
          "target": "com.gcp.gkehub_v1#ConfigManagementDeploymentOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead."
          }
        },
        "sourceFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
          }
        },
        "preventDrift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Config Sync"
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementDeploymentOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#ConfigManagementDeploymentOverride"
      }
    },
    "com.gcp.gkehub_v1#FleetObservabilityFeatureSpec": {
      "type": "structure",
      "members": {
        "loggingConfig": {
          "target": "com.gcp.gkehub_v1#FleetObservabilityLoggingConfig",
          "traits": {
            "smithy.api#documentation": "Specified if fleet logging feature is enabled for the entire fleet. If UNSPECIFIED, fleet logging feature is disabled for the entire fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Fleet Observability**: The Hub-wide input for the FleetObservability feature."
      }
    },
    "com.gcp.gkehub_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1#StatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Code specifies AppDevExperienceFeature's subcomponent ready state."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description is populated if Code is Failed, explaining why it has failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status specifies state for the subcomponent."
      }
    },
    "com.gcp.gkehub_v1#StatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerState": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerVersion",
          "traits": {
            "smithy.api#documentation": "The version for Hierarchy Controller"
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerDeploymentState",
          "traits": {
            "smithy.api#documentation": "The deployment state for Hierarchy Controller"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State for Hierarchy Controller"
      }
    },
    "com.gcp.gkehub_v1#VersionUpgrade": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.gkehub_v1#VersionUpgradeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of version upgrade specifies which component should be upgraded."
          }
        },
        "desiredVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Desired version of the component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for version upgrade of clusters."
      }
    },
    "com.gcp.gkehub_v1#VersionUpgradeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_CONTROL_PLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CONTROL_PLANE"
          }
        },
        "TYPE_NODE_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_NODE_POOL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ScopeFeatureSpec": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "ScopeFeatureSpec contains feature specs for a fleet scope."
      }
    },
    "com.gcp.gkehub_v1#ForceCompleteRolloutStageRequest": {
      "type": "structure",
      "members": {
        "stageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The stage number to force-complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for force-completing a rollout stage."
      }
    },
    "com.gcp.gkehub_v1#IdentityServiceUserConfig": {
      "type": "structure",
      "members": {
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for user entries."
          }
        },
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attribute to use as the user's identity after they are authenticated. This is distinct from the loginAttribute field to allow users to login with a username, but then have their actual identifier be an email address or full Distinguished Name (DN). For example, setting loginAttribute to \"sAMAccountName\" and identifierAttribute to \"userPrincipalName\" would allow a user to login as \"bsmith\", but actual RBAC policies for the user would be written as \"bsmith@example.com\". Using \"userPrincipalName\" is recommended since this will be unique for each user. This defaults to \"userPrincipalName\"."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter to apply when searching for the user. This can be used to further restrict the user accounts which are allowed to login. This defaults to \"(objectClass=User)\"."
          }
        },
        "loginAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the attribute which matches against the input username. This is used to find the user in the LDAP database e.g. \"(=)\" and is combined with the optional filter field. This defaults to \"userPrincipalName\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines where users exist in the LDAP directory."
      }
    },
    "com.gcp.gkehub_v1#SecurityPostureConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.gkehub_v1#SecurityPostureConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Sets which mode to use for Security Posture features."
          }
        },
        "vulnerabilityMode": {
          "target": "com.gcp.gkehub_v1#SecurityPostureConfigVulnerabilityModeEnum",
          "traits": {
            "smithy.api#documentation": "Sets which mode to use for vulnerability scanning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPostureConfig defines the flags needed to enable/disable features for the Security Posture API."
      }
    },
    "com.gcp.gkehub_v1#SecurityPostureConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#SecurityPostureConfigVulnerabilityModeEnum": {
      "type": "enum",
      "members": {
        "VULNERABILITY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_MODE_UNSPECIFIED"
          }
        },
        "VULNERABILITY_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_DISABLED"
          }
        },
        "VULNERABILITY_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_BASIC"
          }
        },
        "VULNERABILITY_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.gkehub_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.gkehub_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.gkehub_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#DocumentMap"
      }
    },
    "com.gcp.gkehub_v1#RBACRoleBinding": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the rbacrolebinding was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the rbacrolebinding `projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}` or `projects/{project}/locations/{location}/memberships/{membership}/rbacrolebindings/{rbacrolebinding}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all rbacrolebinding resources. If a rbacrolebinding resource is deleted and another resource with the same name is created, it gets a different uid."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1#RBACRoleBindingLifecycleState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the rbacrolebinding resource."
          }
        },
        "role": {
          "target": "com.gcp.gkehub_v1#Role",
          "traits": {
            "smithy.api#documentation": "Required. Role to bind to the principal"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "user is the name of the user as seen by the kubernetes cluster, example \"alice\" or \"alice@domain.tld\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the rbacrolebinding was created."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the rbacrolebinding was deleted."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "group is the group, as seen by the kubernetes cluster."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this RBACRolebinding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RBACRoleBinding represents a rbacrolebinding across the Fleet"
      }
    },
    "com.gcp.gkehub_v1#ListFeaturesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return."
          }
        },
        "resources": {
          "target": "com.gcp.gkehub_v1#FeatureList",
          "traits": {
            "smithy.api#documentation": "The list of matching Features"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GkeHub.ListFeatures` method."
      }
    },
    "com.gcp.gkehub_v1#FeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#Feature"
      }
    },
    "com.gcp.gkehub_v1#FleetObservabilityRoutingConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.gkehub_v1#FleetObservabilityRoutingConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "mode configures the logs routing mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RoutingConfig configures the behaviour of fleet logging feature."
      }
    },
    "com.gcp.gkehub_v1#FleetObservabilityRoutingConfigModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerMembershipSpec": {
      "type": "structure",
      "members": {
        "policyControllerHubConfig": {
          "target": "com.gcp.gkehub_v1#PolicyControllerHubConfig",
          "traits": {
            "smithy.api#documentation": "Policy Controller configuration for the cluster."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Policy Controller installed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementConfigSyncError": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the user facing error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors pertaining to the installation of Config Sync"
      }
    },
    "com.gcp.gkehub_v1#ListScopeRBACRoleBindingsResponse": {
      "type": "structure",
      "members": {
        "rbacrolebindings": {
          "target": "com.gcp.gkehub_v1#RBACRoleBindingList",
          "traits": {
            "smithy.api#documentation": "The list of Scope RBACRoleBindings."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListScopeRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Scope RBACRoleBindings."
      }
    },
    "com.gcp.gkehub_v1#RBACRoleBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#RBACRoleBinding"
      }
    },
    "com.gcp.gkehub_v1#NamespaceLifecycleState": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.gkehub_v1#NamespaceLifecycleStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Namespace resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NamespaceLifecycleState describes the state of a Namespace resource."
      }
    },
    "com.gcp.gkehub_v1#NamespaceLifecycleStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementErrorResource": {
      "type": "structure",
      "members": {
        "resourceNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace of the resource that is causing an error"
          }
        },
        "sourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path in the git repo of the erroneous config"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata name of the resource that is causing an error"
          }
        },
        "resourceGvk": {
          "target": "com.gcp.gkehub_v1#ConfigManagementGroupVersionKind",
          "traits": {
            "smithy.api#documentation": "Group/version/kind of the resource that is causing an error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model for a config file in the git repo with an associated Sync error"
      }
    },
    "com.gcp.gkehub_v1#Role": {
      "type": "structure",
      "members": {
        "predefinedRole": {
          "target": "com.gcp.gkehub_v1#RolePredefinedRoleEnum",
          "traits": {
            "smithy.api#documentation": "predefined_role is the Kubernetes default role to use"
          }
        },
        "customRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. custom_role is the name of a custom KubernetesClusterRole to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role is the type for Kubernetes roles"
      }
    },
    "com.gcp.gkehub_v1#RolePredefinedRoleEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDIT"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        },
        "ANTHOS_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANTHOS_SUPPORT"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ApplianceCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters."
      }
    },
    "com.gcp.gkehub_v1#MultiCloudCluster": {
      "type": "structure",
      "members": {
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists."
          }
        },
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters."
      }
    },
    "com.gcp.gkehub_v1#IdentityServiceGroupConfig": {
      "type": "structure",
      "members": {
        "baseDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the subtree in the LDAP directory to search for group entries."
          }
        },
        "idAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The identifying name of each group a user belongs to. For example, if this is set to \"distinguishedName\" then RBACs and other group expectations should be written as full DNs. This defaults to \"distinguishedName\"."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter to be used when searching for groups a user belongs to. This can be used to explicitly match only certain groups in order to reduce the amount of groups returned for each user. This defaults to \"(objectClass=Group)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the properties for locating and authenticating groups in the directory."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementMembershipSpec": {
      "type": "structure",
      "members": {
        "configSync": {
          "target": "com.gcp.gkehub_v1#ConfigManagementConfigSync",
          "traits": {
            "smithy.api#documentation": "Optional. Config Sync configuration for the cluster."
          }
        },
        "management": {
          "target": "com.gcp.gkehub_v1#ConfigManagementMembershipSpecManagementEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: From version 1.21.0, automatic Feature management is unavailable, and Config Sync only supports manual upgrades."
          }
        },
        "policyController": {
          "target": "com.gcp.gkehub_v1#ConfigManagementPolicyController",
          "traits": {
            "smithy.api#documentation": "Optional. Policy Controller configuration for the cluster. Deprecated: Configuring Policy Controller through the configmanagement feature is no longer recommended. Use the policycontroller feature instead."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Version of Config Sync to install. Defaults to the latest supported Config Sync version if the config_sync field is enabled. See supported versions at https://cloud.google.com/kubernetes-engine/config-sync/docs/get-support-config-sync#version_support_policy."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-specified cluster name used by the Config Sync cluster-name-selector annotation or ClusterSelector object, for applying configs to only a subset of clusters. Read more about the cluster-name-selector annotation and ClusterSelector object at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/cluster-scoped-objects#limiting-configs. Only set this field if a name different from the cluster's fleet membership name is used by the Config Sync cluster-name-selector annotation or ClusterSelector."
          }
        },
        "hierarchyController": {
          "target": "com.gcp.gkehub_v1#ConfigManagementHierarchyControllerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Hierarchy Controller configuration for the cluster. Deprecated: Configuring Hierarchy Controller through the configmanagement feature is no longer recommended. Use https://github.com/kubernetes-sigs/hierarchical-namespaces instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementMembershipSpecManagementEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "MANAGEMENT_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_AUTOMATIC"
          }
        },
        "MANAGEMENT_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MANUAL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ListMembershipBindingsResponse": {
      "type": "structure",
      "members": {
        "membershipBindings": {
          "target": "com.gcp.gkehub_v1#MembershipBindingList",
          "traits": {
            "smithy.api#documentation": "The list of membership_bindings"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of MembershipBindings."
      }
    },
    "com.gcp.gkehub_v1#MembershipBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1#MembershipBinding"
      }
    },
    "com.gcp.gkehub_v1#PolicyBinding": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative resource name of the binauthz platform policy to audit. GKE platform policies have the following format: `projects/{project_number}/platforms/gke/policies/{policy_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binauthz policy that applies to this cluster."
      }
    },
    "com.gcp.gkehub_v1#ConfigManagementGitConfig": {
      "type": "structure",
      "members": {
        "syncRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the Git repository to use as the source of truth."
          }
        },
        "httpsProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URL for the HTTPS proxy to be used when communicating with the Git repo. Only specify when secret_type is `cookiefile`, `token`, or `none`."
          }
        },
        "syncWaitSecs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period in seconds between consecutive syncs. Default: 15."
          }
        },
        "syncRev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Git revision (tag or hash) to check out. Default HEAD."
          }
        },
        "secretType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Type of secret configured for access to the Git repo. Must be one of `ssh`, `cookiefile`, `gcenode`, `token`, `gcpserviceaccount`, `githubapp` or `none`. The validation of this is case-sensitive."
          }
        },
        "gcpServiceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`."
          }
        },
        "syncBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The branch of the repository to sync from. Default: master."
          }
        },
        "policyDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Git repo configuration for a single cluster."
      }
    },
    "com.gcp.gkehub_v1#FleetObservabilityFeatureState": {
      "type": "structure",
      "members": {
        "monitoring": {
          "target": "com.gcp.gkehub_v1#FleetObservabilityFleetObservabilityMonitoringState",
          "traits": {
            "smithy.api#documentation": "The feature state of fleet monitoring."
          }
        },
        "logging": {
          "target": "com.gcp.gkehub_v1#FleetObservabilityFleetObservabilityLoggingState",
          "traits": {
            "smithy.api#documentation": "The feature state of default logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state."
      }
    },
    "com.gcp.gkehub_v1#IdentityServiceDiagnosticInterface": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether to enable the diagnostic interface."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Determines the expiration time of the diagnostic interface enablement. When reached, requests to the interface would be automatically rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the AIS diagnostic interface."
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerHubConfig": {
      "type": "structure",
      "members": {
        "policyContent": {
          "target": "com.gcp.gkehub_v1#PolicyControllerPolicyContentSpec",
          "traits": {
            "smithy.api#documentation": "Specifies the desired policy content on the cluster"
          }
        },
        "exemptableNamespaces": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
          }
        },
        "referentialRulesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
          }
        },
        "deploymentConfigs": {
          "target": "com.gcp.gkehub_v1#PolicyControllerPolicyControllerDeploymentConfigMap",
          "traits": {
            "smithy.api#documentation": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation')."
          }
        },
        "monitoring": {
          "target": "com.gcp.gkehub_v1#PolicyControllerMonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Monitoring specifies the configuration of monitoring."
          }
        },
        "constraintViolationLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used."
          }
        },
        "mutationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables the ability to mutate resources using Policy Controller."
          }
        },
        "logDeniesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Logs all denies and dry run failures."
          }
        },
        "installSpec": {
          "target": "com.gcp.gkehub_v1#PolicyControllerHubConfigInstallSpecEnum",
          "traits": {
            "smithy.api#documentation": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
          }
        },
        "auditIntervalSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Policy Controller"
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerPolicyControllerDeploymentConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#PolicyControllerPolicyControllerDeploymentConfig"
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerHubConfigInstallSpecEnum": {
      "type": "enum",
      "members": {
        "INSTALL_SPEC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_UNSPECIFIED"
          }
        },
        "INSTALL_SPEC_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_NOT_INSTALLED"
          }
        },
        "INSTALL_SPEC_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_ENABLED"
          }
        },
        "INSTALL_SPEC_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_SUSPENDED"
          }
        },
        "INSTALL_SPEC_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_SPEC_DETACHED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityFeatureState": {
      "type": "structure",
      "members": {
        "namespaceStates": {
          "target": "com.gcp.gkehub_v1#WorkloadIdentityFeatureStateNamespaceStatesValueEnumMap",
          "traits": {
            "smithy.api#documentation": "Deprecated, this field will be erased after code is changed to use the new field."
          }
        },
        "scopeTenancyWorkloadIdentityPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the scope-tenancy pool for the fleet."
          }
        },
        "namespaceStateDetails": {
          "target": "com.gcp.gkehub_v1#WorkloadIdentityNamespaceStateDetailMap",
          "traits": {
            "smithy.api#documentation": "The state of the IAM namespaces for the fleet."
          }
        },
        "workloadIdentityPoolStateDetails": {
          "target": "com.gcp.gkehub_v1#WorkloadIdentityWorkloadIdentityPoolStateDetailMap",
          "traits": {
            "smithy.api#documentation": "The state of the Workload Identity Pools for the fleet."
          }
        },
        "workloadIdentityPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the svc.id.goog pool for the fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**WorkloadIdentity**: Global feature state."
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityFeatureStateNamespaceStatesValueEnum": {
      "type": "enum",
      "members": {
        "NAMESPACE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_UNSPECIFIED"
          }
        },
        "NAMESPACE_STATE_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_OK"
          }
        },
        "NAMESPACE_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityFeatureStateNamespaceStatesValueEnumMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#WorkloadIdentityFeatureStateNamespaceStatesValueEnum"
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityNamespaceStateDetailMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#WorkloadIdentityNamespaceStateDetail"
      }
    },
    "com.gcp.gkehub_v1#WorkloadIdentityWorkloadIdentityPoolStateDetailMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#WorkloadIdentityWorkloadIdentityPoolStateDetail"
      }
    },
    "com.gcp.gkehub_v1#MultiClusterIngressFeatureSpec": {
      "type": "structure",
      "members": {
        "configMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature."
      }
    },
    "com.gcp.gkehub_v1#Feature": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Feature resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Feature resource was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`."
          }
        },
        "spec": {
          "target": "com.gcp.gkehub_v1#CommonFeatureSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Fleet-wide Feature configuration. If this Feature does not support any Fleet-wide configuration, this field may be unused."
          }
        },
        "membershipSpecs": {
          "target": "com.gcp.gkehub_v1#MembershipFeatureSpecMap",
          "traits": {
            "smithy.api#documentation": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
          }
        },
        "resourceState": {
          "target": "com.gcp.gkehub_v1#FeatureResourceState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the Feature resource itself."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Feature resource was deleted."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1#CommonFeatureState",
          "traits": {
            "smithy.api#documentation": "Output only. The Fleet-wide Feature state."
          }
        },
        "scopeStates": {
          "target": "com.gcp.gkehub_v1#ScopeFeatureStateMap",
          "traits": {
            "smithy.api#documentation": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for this Feature."
          }
        },
        "scopeSpecs": {
          "target": "com.gcp.gkehub_v1#ScopeFeatureSpecMap",
          "traits": {
            "smithy.api#documentation": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
          }
        },
        "membershipStates": {
          "target": "com.gcp.gkehub_v1#MembershipFeatureStateMap",
          "traits": {
            "smithy.api#documentation": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
          }
        },
        "fleetDefaultMemberConfig": {
          "target": "com.gcp.gkehub_v1#CommonFleetDefaultMemberConfigSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Feature configuration applicable to all memberships of the fleet."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of locations that could not be reached while fetching this feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature represents the settings and status of any Fleet Feature."
      }
    },
    "com.gcp.gkehub_v1#MembershipFeatureSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#MembershipFeatureSpec"
      }
    },
    "com.gcp.gkehub_v1#ScopeFeatureStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#ScopeFeatureState"
      }
    },
    "com.gcp.gkehub_v1#ScopeFeatureSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#ScopeFeatureSpec"
      }
    },
    "com.gcp.gkehub_v1#MembershipFeatureStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#MembershipFeatureState"
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerPolicyContentSpec": {
      "type": "structure",
      "members": {
        "bundles": {
          "target": "com.gcp.gkehub_v1#PolicyControllerBundleInstallSpecMap",
          "traits": {
            "smithy.api#documentation": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
          }
        },
        "templateLibrary": {
          "target": "com.gcp.gkehub_v1#PolicyControllerTemplateLibraryConfig",
          "traits": {
            "smithy.api#documentation": "Configures the installation of the Template Library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PolicyContentSpec defines the user's desired content configuration on the cluster."
      }
    },
    "com.gcp.gkehub_v1#PolicyControllerBundleInstallSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.gkehub_v1#PolicyControllerBundleInstallSpec"
      }
    },
    "com.gcp.gkehub_v1#RBACRoleBindingActuationFeatureState": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state."
      }
    },
    "com.gcp.gkehub_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.gkehub_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.gkehub_v1#Membership": {
      "type": "structure",
      "members": {
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was deleted."
          }
        },
        "lastConnectionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
          }
        },
        "clusterTier": {
          "target": "com.gcp.gkehub_v1#MembershipClusterTierEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The tier of the cluster."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1#MembershipState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the Membership resource."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was created."
          }
        },
        "endpoint": {
          "target": "com.gcp.gkehub_v1#MembershipEndpoint",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint information to reach this member."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
          }
        },
        "monitoringConfig": {
          "target": "com.gcp.gkehub_v1#MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The monitoring config information for this membership."
          }
        },
        "membershipType": {
          "target": "com.gcp.gkehub_v1#MembershipMembershipTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the membership."
          }
        },
        "authority": {
          "target": "com.gcp.gkehub_v1#Authority",
          "traits": {
            "smithy.api#documentation": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership contains information about a member cluster."
      }
    },
    "com.gcp.gkehub_v1#MembershipClusterTierEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_TIER_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#MembershipMembershipTypeEnum": {
      "type": "enum",
      "members": {
        "MEMBERSHIP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_TYPE_UNSPECIFIED"
          }
        },
        "LIGHTWEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTWEIGHT"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ServiceMeshMembershipSpec": {
      "type": "structure",
      "members": {
        "controlPlane": {
          "target": "com.gcp.gkehub_v1#ServiceMeshMembershipSpecControlPlaneEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated: use `management` instead Enables automatic control plane management."
          }
        },
        "management": {
          "target": "com.gcp.gkehub_v1#ServiceMeshMembershipSpecManagementEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Enables automatic Service Mesh management."
          }
        },
        "configApi": {
          "target": "com.gcp.gkehub_v1#ServiceMeshMembershipSpecConfigApiEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the API that will be used for configuring the mesh workloads."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
      }
    },
    "com.gcp.gkehub_v1#ServiceMeshMembershipSpecControlPlaneEnum": {
      "type": "enum",
      "members": {
        "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ServiceMeshMembershipSpecManagementEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "MANAGEMENT_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_AUTOMATIC"
          }
        },
        "MANAGEMENT_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MANUAL"
          }
        },
        "MANAGEMENT_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_NOT_INSTALLED"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#ServiceMeshMembershipSpecConfigApiEnum": {
      "type": "enum",
      "members": {
        "CONFIG_API_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_UNSPECIFIED"
          }
        },
        "CONFIG_API_ISTIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_ISTIO"
          }
        },
        "CONFIG_API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_API_GATEWAY"
          }
        }
      }
    },
    "com.gcp.gkehub_v1#GkeCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
          }
        },
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GkeCluster contains information specific to GKE clusters."
      }
    },
    "com.gcp.gkehub_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
