{
  "smithy": "2.0",
  "metadata": {
    "service": "gkehub",
    "version": "v1beta1",
    "title": "GKE Hub API",
    "baseUrl": "https://gkehub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.gkehub_v1beta1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.gkehub_v1beta1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.gkehub_v1beta1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1beta1#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.gkehub_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.gkehub_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.gkehub_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.gkehub_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.gkehub_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateConnectManifestResponse": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "com.gcp.gkehub_v1beta1#ConnectAgentResourceList",
          "traits": {
            "smithy.api#documentation": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent."
      }
    },
    "com.gcp.gkehub_v1beta1#ConnectAgentResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#ConnectAgentResource"
      }
    },
    "com.gcp.gkehub_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.gkehub_v1beta1#OnPremCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE On-Prem cluster. For example: //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/vmwareClusters/my-cluster //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/bareMetalClusters/my-cluster"
          }
        },
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists."
          }
        },
        "clusterType": {
          "target": "com.gcp.gkehub_v1beta1#OnPremClusterClusterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The on prem cluster's type."
          }
        },
        "adminCluster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Whether the cluster is an admin cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OnPremCluster contains information specific to GKE On-Prem clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#OnPremClusterClusterTypeEnum": {
      "type": "enum",
      "members": {
        "CLUSTERTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTERTYPE_UNSPECIFIED"
          }
        },
        "BOOTSTRAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOTSTRAP"
          }
        },
        "HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID"
          }
        },
        "STANDALONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDALONE"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#ResourceOptions": {
      "type": "structure",
      "members": {
        "connectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
          }
        },
        "v1beta1Crd": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions <1.16."
          }
        },
        "k8sVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Major and minor version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`."
          }
        },
        "k8sGitVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Git version of the Kubernetes cluster. This is only used to gate the Connect Agent migration to svc.id.goog on GDC-SO 1.33.100 patch and above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceOptions represent options for Kubernetes resource generation."
      }
    },
    "com.gcp.gkehub_v1beta1#Authority": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length <2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity)."
          }
        },
        "scopeTenancyIdentityProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The identity provider for the scope-tenancy workload identity pool."
          }
        },
        "workloadIdentityPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API."
          }
        },
        "oidcJwks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field."
          }
        },
        "scopeTenancyWorkloadIdentityPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The name of the scope-tenancy workload identity pool. This pool is set in the fleet-level feature."
          }
        },
        "identityProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An identity provider that reflects the `issuer` in the workload identity pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipEndpoint": {
      "type": "structure",
      "members": {
        "applianceCluster": {
          "target": "com.gcp.gkehub_v1beta1#ApplianceCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GDC Edge Appliance cluster."
          }
        },
        "gkeCluster": {
          "target": "com.gcp.gkehub_v1beta1#GkeCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE-on-Google Cloud cluster."
          }
        },
        "kubernetesResource": {
          "target": "com.gcp.gkehub_v1beta1#KubernetesResource",
          "traits": {
            "smithy.api#documentation": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features."
          }
        },
        "multiCloudCluster": {
          "target": "com.gcp.gkehub_v1beta1#MultiCloudCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE Multi-Cloud cluster."
          }
        },
        "kubernetesMetadata": {
          "target": "com.gcp.gkehub_v1beta1#KubernetesMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Useful Kubernetes-specific metadata."
          }
        },
        "onPremCluster": {
          "target": "com.gcp.gkehub_v1beta1#OnPremCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead."
          }
        },
        "edgeCluster": {
          "target": "com.gcp.gkehub_v1beta1#EdgeCluster",
          "traits": {
            "smithy.api#documentation": "Optional. Specific information for a Google Edge cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata."
      }
    },
    "com.gcp.gkehub_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.gkehub_v1beta1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.gkehub_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.gkehub_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.gkehub_v1beta1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.gkehub_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.gkehub_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#DocumentMap"
      }
    },
    "com.gcp.gkehub_v1beta1#KubernetesResource": {
      "type": "structure",
      "members": {
        "resourceOptions": {
          "target": "com.gcp.gkehub_v1beta1#ResourceOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for Kubernetes resource generation."
          }
        },
        "membershipCrManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership."
          }
        },
        "membershipResources": {
          "target": "com.gcp.gkehub_v1beta1#ResourceManifestList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
          }
        },
        "connectResources": {
          "target": "com.gcp.gkehub_v1beta1#ResourceManifestList",
          "traits": {
            "smithy.api#documentation": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster."
      }
    },
    "com.gcp.gkehub_v1beta1#ResourceManifestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#ResourceManifest"
      }
    },
    "com.gcp.gkehub_v1beta1#MonitoringConfig": {
      "type": "structure",
      "members": {
        "kubernetesMetricsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Kubernetes system metrics, if available, are written to this prefix. This defaults to kubernetes.io for GKE, and kubernetes.io/anthos for Anthos eventually. Noted: Anthos MultiCloud will have kubernetes.io prefix today but will migration to be under kubernetes.io/anthos."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cluster name used to report metrics. For Anthos on VMWare/Baremetal/MultiCloud clusters, it would be in format {cluster_type}/{cluster_name}, e.g., \"awsClusters/cluster_1\"."
          }
        },
        "clusterHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. For GKE and Multicloud clusters, this is the UUID of the cluster resource. For VMWare and Baremetal clusters, this is the kube-system UID."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Project used to report Metrics"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location used to report Metrics"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MonitoringConfig informs Fleet-based applications/services/UIs how the metrics for the underlying cluster is reported to cloud monitoring services. It can be set from empty to non-empty, but can't be mutated directly to prevent accidentally breaking the constinousty of metrics."
      }
    },
    "com.gcp.gkehub_v1beta1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.gkehub_v1beta1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.gkehub_v1beta1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#AuditLogConfig"
      }
    },
    "com.gcp.gkehub_v1beta1#Membership": {
      "type": "structure",
      "members": {
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. For GKE clusters, external_id is managed by the Hub API and updates will be ignored. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
          }
        },
        "membershipType": {
          "target": "com.gcp.gkehub_v1beta1#MembershipMembershipTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the membership."
          }
        },
        "state": {
          "target": "com.gcp.gkehub_v1beta1#MembershipState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the Membership resource."
          }
        },
        "infrastructureType": {
          "target": "com.gcp.gkehub_v1beta1#MembershipInfrastructureTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The infrastructure type this Membership is running on."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was last updated."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was deleted."
          }
        },
        "lastConnectionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset."
          }
        },
        "monitoringConfig": {
          "target": "com.gcp.gkehub_v1beta1#MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The monitoring config information for this membership."
          }
        },
        "labels": {
          "target": "com.gcp.gkehub_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Google Cloud labels for this membership. These labels are not leveraged by multi-cluster features, instead, we prefer cluster labels, which can be set on GKE cluster or other cluster types."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters."
          }
        },
        "endpoint": {
          "target": "com.gcp.gkehub_v1beta1#MembershipEndpoint",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint information to reach this member."
          }
        },
        "authority": {
          "target": "com.gcp.gkehub_v1beta1#Authority",
          "traits": {
            "smithy.api#documentation": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Membership was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Membership contains information about a member cluster."
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipMembershipTypeEnum": {
      "type": "enum",
      "members": {
        "MEMBERSHIP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_TYPE_UNSPECIFIED"
          }
        },
        "LIGHTWEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHTWEIGHT"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipInfrastructureTypeEnum": {
      "type": "enum",
      "members": {
        "INFRASTRUCTURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFRASTRUCTURE_TYPE_UNSPECIFIED"
          }
        },
        "ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_PREM"
          }
        },
        "MULTI_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_CLOUD"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipState": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is never set by the Hub Service."
          }
        },
        "code": {
          "target": "com.gcp.gkehub_v1beta1#MembershipStateCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Membership resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is never set by the Hub Service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the Membership resource."
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipStateCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "SERVICE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_UPDATING"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#ListMembershipsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return."
          }
        },
        "resources": {
          "target": "com.gcp.gkehub_v1beta1#MembershipList",
          "traits": {
            "smithy.api#documentation": "The list of matching Memberships."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of locations that could not be reached while fetching this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GkeHubMembershipService.ListMemberships` method."
      }
    },
    "com.gcp.gkehub_v1beta1#MembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#Membership"
      }
    },
    "com.gcp.gkehub_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.gkehub_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.gkehub_v1beta1#ApplianceCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.gkehub_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.gkehub_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#Location"
      }
    },
    "com.gcp.gkehub_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.gkehub_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.gkehub_v1beta1#TypeMeta": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "APIVersion of the resource (e.g. v1)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the resource (e.g. Deployment)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest."
      }
    },
    "com.gcp.gkehub_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.gkehub_v1beta1#EdgeCluster": {
      "type": "structure",
      "members": {
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EdgeCluster contains information specific to Google Edge Clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.gkehub_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.gkehub_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#Operation"
      }
    },
    "com.gcp.gkehub_v1beta1#ConnectAgentResource": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YAML manifest of the resource."
          }
        },
        "type": {
          "target": "com.gcp.gkehub_v1beta1#TypeMeta",
          "traits": {
            "smithy.api#documentation": "Kubernetes type of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment."
      }
    },
    "com.gcp.gkehub_v1beta1#KubernetesMetadata": {
      "type": "structure",
      "members": {
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Node count as reported by Kubernetes nodes resources."
          }
        },
        "kubernetesApiServerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Kubernetes API server version string as reported by '/version'."
          }
        },
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. vCPU count as reported by Kubernetes nodes resources."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers."
          }
        },
        "nodeProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-Google Cloud), the node_count will be zero and the node_provider_id will be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#ValidateExclusivityResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.gkehub_v1beta1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The validation result. * `OK` means that exclusivity is validated, assuming the manifest produced by GenerateExclusivityManifest is successfully applied. * `ALREADY_EXISTS` means that the Membership CRD is already owned by another Hub. See `status.message` for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of exclusivity artifacts validation result status."
      }
    },
    "com.gcp.gkehub_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.gkehub_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.gkehub_v1beta1#MultiCloudCluster": {
      "type": "structure",
      "members": {
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists."
          }
        },
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateExclusivityManifestResponse": {
      "type": "structure",
      "members": {
        "crdManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YAML manifest of the membership CRD to apply if a newer version of the CRD is available. Empty if no update needs to be applied."
          }
        },
        "crManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The YAML manifest of the membership CR to apply if a new version of the CR is available. Empty if no update needs to be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the exclusivity artifacts manifests for the client to apply."
      }
    },
    "com.gcp.gkehub_v1beta1#ResourceManifest": {
      "type": "structure",
      "members": {
        "manifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "YAML manifest of the resource."
          }
        },
        "clusterScoped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the resource provided in the manifest is `cluster_scoped`. If unset, the manifest is assumed to be namespace scoped. This field is used for REST mapping when applying the resource in a cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceManifest represents a single Kubernetes resource to be applied to the cluster."
      }
    },
    "com.gcp.gkehub_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.gkehub_v1beta1#GkeCluster": {
      "type": "structure",
      "members": {
        "clusterMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
          }
        },
        "resourceLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GkeCluster contains information specific to GKE clusters."
      }
    },
    "com.gcp.gkehub_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.gkehub_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.gkehub_v1beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.gkehub_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#Binding"
      }
    },
    "com.gcp.gkehub_v1beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.gkehub_v1beta1#AuditConfig"
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.gkehub_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.gkehub_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, any subresource from this Membership will also be deleted. Otherwise, the request will only work if the Membership has no subresource.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.gkehub_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Removes a Membership. **This is currently only supported for GKE clusters on Google Cloud**. To unregister other clusters, follow the instructions at https://cloud.google.com/anthos/multicluster-management/connect/unregistering-a-cluster."
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateExclusivityManifestProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "crManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The YAML manifest of the membership CR retrieved by `kubectl get memberships membership`. Leave empty if the resource does not exist.",
            "smithy.api#httpQuery": "crManifest"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "crdManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The YAML manifest of the membership CRD retrieved by `kubectl get customresourcedefinitions membership`. Leave empty if the resource does not exist.",
            "smithy.api#httpQuery": "crdManifest"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateExclusivityManifestProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GenerateExclusivityManifestProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#GenerateExclusivityManifestResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}:generateExclusivityManifest"
        },
        "smithy.api#documentation": "GenerateExclusivityManifest generates the manifests to update the exclusivity artifacts in the cluster if needed. Exclusivity artifacts include the Membership custom resource definition (CRD) and the singleton Membership custom resource (CR). Combined with ValidateExclusivity, exclusivity artifacts guarantee that a Kubernetes cluster is only registered to a single GKE Hub. The Membership CRD is versioned, and may require conversion when the GKE Hub API server begins serving a newer version of the CRD and corresponding CR. The response will be the converted CRD and CR if there are any differences between the versions."
      }
    },
    "com.gcp.gkehub_v1beta1#SetIamPolicyProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gkehub_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#SetIamPolicyProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#SetIamPolicyProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateConnectManifestProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "connectAgent.name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Do not set.",
            "smithy.api#httpQuery": "connectAgent.name"
          }
        },
        "isUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, generate the resources for upgrade only. Some resources generated only for installation (e.g. secrets) will be excluded.",
            "smithy.api#httpQuery": "isUpgrade"
          }
        },
        "connectAgent.proxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI of a proxy if connectivity from the agent to gkeconnect.googleapis.com requires the use of a proxy. Format must be in the form `http(s)://{proxy_address}`, depending on the HTTP/HTTPS protocol supported by the proxy. This will direct the connect agent's outbound traffic through a HTTP(S) proxy.",
            "smithy.api#httpQuery": "connectAgent.proxy"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Connect agent version to use. Defaults to the most current version.",
            "smithy.api#httpQuery": "version"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Membership resource name the Agent will associate with, in the format `projects/*/locations/*/memberships/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imagePullSecretContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The image pull secret content for the registry, if not public.",
            "smithy.api#httpQuery": "imagePullSecretContent"
          }
        },
        "connectAgent.namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Namespace for GKE Connect agent resources. Defaults to `gke-connect`. The Connect Agent is authorized automatically when run in the default namespace. Otherwise, explicit authorization must be granted with an additional IAM binding.",
            "smithy.api#httpQuery": "connectAgent.namespace"
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The registry to fetch the connect agent image from. Defaults to gcr.io/gkeconnect.",
            "smithy.api#httpQuery": "registry"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GenerateConnectManifestProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GenerateConnectManifestProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#GenerateConnectManifestResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}:generateConnectManifest"
        },
        "smithy.api#documentation": "Generates the manifest for deployment of the GKE connect agent. **This method is used internally by Google-provided libraries.** Most clients should not need to call this method directly."
      }
    },
    "com.gcp.gkehub_v1beta1#CreateProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "membershipId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client chosen ID for the membership. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
            "smithy.api#httpQuery": "membershipId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent (project and location) where the Memberships will be created. Specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gkehub_v1beta1#Membership",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#CreateProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#CreateProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/memberships"
        },
        "smithy.api#documentation": "Creates a new Membership. **This is currently only supported for GKE clusters on Google Cloud**. To register other clusters, follow the instructions at https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster."
      }
    },
    "com.gcp.gkehub_v1beta1#ValidateExclusivityProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent (project and location) where the Memberships will be created. Specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "intendedMembership": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The intended membership name under the `parent`. This method only does validation in anticipation of a CreateMembership call with the same name.",
            "smithy.api#httpQuery": "intendedMembership"
          }
        },
        "crManifest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The YAML of the membership CR in the cluster. Empty if the membership CR does not exist.",
            "smithy.api#httpQuery": "crManifest"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#ValidateExclusivityProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#ValidateExclusivityProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#ValidateExclusivityResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/memberships:validateExclusivity"
        },
        "smithy.api#documentation": "ValidateExclusivity validates the state of exclusivity in the cluster. The validation does not depend on an existing Hub membership resource."
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Lists Memberships that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Name is `bar` in project `foo-proj` and location `global`: name = \"projects/foo-proj/locations/global/membership/bar\" - Memberships that have a label called `foo`: labels.foo:* - Memberships that have a label called `foo` whose value is `bar`: labels.foo = bar - Memberships in the CREATING state: state = CREATING",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent (project and location) where the Memberships will be listed. Specified in the format `projects/*/locations/*`. `projects/*/locations/-` list memberships in all the regions.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Token returned by previous call to `ListMemberships` which specifies the position in the list from where to continue listing the resources.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#ListProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#ListMembershipsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/memberships"
        },
        "smithy.api#documentation": "Lists Memberships in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetIamPolicyProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetIamPolicyProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GetIamPolicyProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.gkehub_v1beta1#TestIamPermissionsProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.gkehub_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#TestIamPermissionsProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#TestIamPermissionsProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GetProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Membership"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the details of a Membership."
      }
    },
    "com.gcp.gkehub_v1beta1#PatchProjectsLocationsMembershipsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask of fields to update. At least one field path must be specified in this mask.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The membership resource name in the format: `projects/[project_id]/locations/global/memberships/[membership_id]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.gkehub_v1beta1#Membership",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#PatchProjectsLocationsMemberships": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#PatchProjectsLocationsMembershipsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing Membership."
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.gkehub_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.gkehub_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.gkehub_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.gkehub_v1beta1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.gkehub_v1beta1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
[...]
