{
  "smithy": "2.0",
  "metadata": {
    "service": "healthcare",
    "version": "v1beta1",
    "title": "Cloud Healthcare API",
    "baseUrl": "https://healthcare.googleapis.com/"
  },
  "shapes": {
    "com.gcp.healthcare_v1beta1#FhirFieldConfig": {
      "type": "structure",
      "members": {
        "profileType": {
          "target": "com.gcp.healthcare_v1beta1#FhirFieldConfigProfileTypeEnum",
          "traits": {
            "smithy.api#documentation": "Base profile type for handling FHIR fields."
          }
        },
        "options": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DeidentifyOptions",
          "traits": {
            "smithy.api#documentation": "Specifies additional options, overriding the base ProfileType."
          }
        },
        "fieldMetadataList": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DeidentifyFieldMetadataList",
          "traits": {
            "smithy.api#documentation": "Specifies FHIR paths to match and how to transform them. Any field that is not matched by a FieldMetadata `action` is passed through to the output dataset unmodified. All extensions will be processed according to keep_extensions. If a field can be matched by more than one FieldMetadata `action`, the first `action` option is applied. Overrides options and the union field `profile` in FhirFieldConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how to handle the de-identification of a FHIR store."
      }
    },
    "com.gcp.healthcare_v1beta1#FhirFieldConfigProfileTypeEnum": {
      "type": "enum",
      "members": {
        "PROFILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_TYPE_UNSPECIFIED"
          }
        },
        "KEEP_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP_ALL"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "CLEAN_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAN_ALL"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DeidentifyFieldMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DeidentifyFieldMetadata"
      }
    },
    "com.gcp.healthcare_v1beta1#ExportDicomDataResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Returns additional information in regards to a completed DICOM store export."
      }
    },
    "com.gcp.healthcare_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation was created by the API."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which execution workloads were completed. Some tasks will complete after this time such as logging audit logs."
          }
        },
        "apiMethodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API method that initiated the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if cancellation was requested for the operation."
          }
        },
        "logsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to audit and error logs in the log viewer. Error logs are generated only by some operations, listed at [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging). The `end_time` specified in this URL may not match the end time on the metadata because logs are written asynchronously from execution."
          }
        },
        "counter": {
          "target": "com.gcp.healthcare_v1beta1#ProgressCounter"
        }
      },
      "traits": {
        "smithy.api#documentation": "OperationMetadata provides information about the operation execution. Returned in the long-running operation's metadata field."
      }
    },
    "com.gcp.healthcare_v1beta1#RejectConsentRequest": {
      "type": "structure",
      "members": {
        "consentArtifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the Consent artifact that contains documentation of the user's rejection of the draft Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rejects the latest revision of the specified Consent by committing a new revision with `state` updated to `REJECTED`. If the latest revision of the given Consent is in the `REJECTED` state, no new revision is committed."
      }
    },
    "com.gcp.healthcare_v1beta1#ExportResourcesRequest": {
      "type": "structure",
      "members": {
        "bigqueryDestination": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1FhirBigQueryDestination",
          "traits": {
            "smithy.api#documentation": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type. Unlike when setting `BigQueryDestination` for `StreamConfig`, `ExportResources` does not create BigQuery views."
          }
        },
        "_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) are exported."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1FhirGcsDestination",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource."
          }
        },
        "_since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If provided, only resources updated after this time are exported. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to export resources."
      }
    },
    "com.gcp.healthcare_v1beta1#ImportDicomDataResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Returns additional information in regards to a completed DICOM store import."
      }
    },
    "com.gcp.healthcare_v1beta1#CleanDescriptorsOption": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This option is based on the DICOM Standard's [Clean Descriptors Option](https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/sect_E.3.5.html), and the `CleanText` `Action` is applied to all the specified fields. When cleaning text, the process attempts to transform phrases matching any of the tags marked for removal (action codes D, Z, X, and U) in the [Basic Profile](https://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html). These contextual phrases are replaced with the token \"[CTX]\". This option uses an additional infoType during inspection."
      }
    },
    "com.gcp.healthcare_v1beta1#RedactConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\""
      }
    },
    "com.gcp.healthcare_v1beta1#TextSpan": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original text contained in this span."
          }
        },
        "beginOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unicode codepoint index of the beginning of this span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span of text in the provided document."
      }
    },
    "com.gcp.healthcare_v1beta1#TagFilterList": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: https://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example, \"PatientID\", \"00100010\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of tags to be filtered."
      }
    },
    "com.gcp.healthcare_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomBigQueryDestination": {
      "type": "structure",
      "members": {
        "tableUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigQuery URI to a table, up to 2000 characters long, in the format `bq://projectId.bqDatasetId.tableId`"
          }
        },
        "changeDataCaptureConfig": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomChangeDataCaptureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this field will enable BigQuery's Change Data Capture (CDC) on the destination tables with JSON schema. Set this field if you want to only keep the latest version of each instance. Updates and deletes to an existing' instance will overwrite the corresponding row. See https://cloud.google.com/bigquery/docs/change-data-capture for details. Note that this field is only supported with the SchemaJSON option. The SchemaFlattened option is not compatible with CDC."
          }
        },
        "schemaJson": {
          "target": "com.gcp.healthcare_v1beta1#SchemaJSON",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this field will store all the DICOM tags as a JSON type in a single column."
          }
        },
        "includeSourceStore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the source store name will be included as a column in the BigQuery schema."
          }
        },
        "writeDisposition": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomBigQueryDestinationWriteDispositionEnum",
          "traits": {
            "smithy.api#documentation": "Determines whether the existing table in the destination is to be overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE."
          }
        },
        "schemaFlattened": {
          "target": "com.gcp.healthcare_v1beta1#SchemaFlattened",
          "traits": {
            "smithy.api#documentation": "Optional. Setting this field will use flattened DICOM instances schema for the BigQuery table. The flattened schema will have one column for each DICOM tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The BigQuery table where the server writes output."
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomBigQueryDestinationWriteDispositionEnum": {
      "type": "enum",
      "members": {
        "WRITE_DISPOSITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_DISPOSITION_UNSPECIFIED"
          }
        },
        "WRITE_EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_EMPTY"
          }
        },
        "WRITE_TRUNCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_TRUNCATE"
          }
        },
        "WRITE_APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITE_APPEND"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#ListDicomStoresResponse": {
      "type": "structure",
      "members": {
        "dicomStores": {
          "target": "com.gcp.healthcare_v1beta1#DicomStoreList",
          "traits": {
            "smithy.api#documentation": "The returned DICOM stores. Won't be more DICOM stores than the value of page_size in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lists the DICOM stores in the given dataset."
      }
    },
    "com.gcp.healthcare_v1beta1#DicomStoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#DicomStore"
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1FhirGcsSource": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the configuration for importing data from Cloud Storage."
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DeidentifyDeidentifyDicomStoreSummary": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains a summary of the DeidentifyDicomStore operation."
      }
    },
    "com.gcp.healthcare_v1beta1#Attribute": {
      "type": "structure",
      "members": {
        "attributeDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the name of an attribute defined in the consent store."
          }
        },
        "values": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An attribute value for a Consent or User data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values."
      }
    },
    "com.gcp.healthcare_v1beta1#AccessDeterminationLogConfig": {
      "type": "structure",
      "members": {
        "logLevel": {
          "target": "com.gcp.healthcare_v1beta1#AccessDeterminationLogConfigLogLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the amount of detail to include as part of the audit logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures consent audit log config for FHIR create, read, update, and delete (CRUD) operations. Cloud audit log for healthcare API must be [enabled](https://cloud.google.com/logging/docs/audit/configure-data-access#config-console-enable). The consent-related logs are included as part of `protoPayload.metadata`."
      }
    },
    "com.gcp.healthcare_v1beta1#AccessDeterminationLogConfigLogLevelEnum": {
      "type": "enum",
      "members": {
        "LOG_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_LEVEL_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "VERBOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERBOSE"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#DeidentifyDicomStoreRequest": {
      "type": "structure",
      "members": {
        "destinationStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the DICOM store to write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`. * The destination dataset and DICOM store must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The caller must have the healthcare.dicomStores.dicomWebWrite permission to write to the destination DICOM store."
          }
        },
        "config": {
          "target": "com.gcp.healthcare_v1beta1#DeidentifyConfig",
          "traits": {
            "smithy.api#documentation": "Deidentify configuration. Only one of `config` and `gcs_config_uri` can be specified."
          }
        },
        "filterConfig": {
          "target": "com.gcp.healthcare_v1beta1#DicomFilterConfig",
          "traits": {
            "smithy.api#documentation": "Filter configuration."
          }
        },
        "gcsConfigUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage location to read the JSON cloud.healthcare.deidentify.DeidentifyConfig from, overriding the default config. Must be of the form `gs://{bucket_id}/path/to/object`. The Cloud Storage location must grant the Cloud IAM role `roles/storage.objectViewer` to the project's Cloud Healthcare Service Agent service account. Only one of `config` and `gcs_config_uri` can be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new DICOM store with sensitive information de-identified."
      }
    },
    "com.gcp.healthcare_v1beta1#ConfigureSearchRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `validate_only` is set to true, the method will compile all the search parameters without actually setting the search config for the store and triggering the reindex."
          }
        },
        "canonicalUrls": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The canonical URLs of the search parameters that are intended to be used for the FHIR store. See https://www.hl7.org/fhir/references.html#canonical for explanation on FHIR canonical urls"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to configure the search parameters for the specified FHIR store."
      }
    },
    "com.gcp.healthcare_v1beta1#DicomFilterConfig": {
      "type": "structure",
      "members": {
        "resourcePathsGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the filter configuration for DICOM resources."
      }
    },
    "com.gcp.healthcare_v1beta1#DateShiftField": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Shift the date by a randomized number of days. See [date shifting](https://cloud.google.com/dlp/docs/concepts-date-shifting) for more information. Supported [types](https://www.hl7.org/fhir/datatypes.html): Date, DateTime."
      }
    },
    "com.gcp.healthcare_v1beta1#Entity": {
      "type": "structure",
      "members": {
        "vocabularyCodes": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Vocabulary codes are first-class fields and differentiated from the concept unique identifier (entity_id). vocabulary_codes contains the representation of this concept in particular vocabularies, such as ICD-10, SNOMED-CT and RxNORM. These are prefixed by the name of the vocabulary, followed by the unique code within that vocabulary. For example, \"RXNORM/A10334543\"."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "entity_id is a first class field entity_id uniquely identifies this concept and its meta-vocabulary. For example, \"UMLS/C0000970\"."
          }
        },
        "preferredTerm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "preferred_term is the preferred term for this concept. For example, \"Acetaminophen\". For ad hoc entities formed by normalization, this is the most popular unnormalized string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The candidate entities that an entity mention could link to."
      }
    },
    "com.gcp.healthcare_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.healthcare_v1beta1#FhirOutput": {
      "type": "structure",
      "members": {
        "fhirStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the output FHIR store, which must already exist. You must grant the healthcare.fhirResources.update permission on the destination store to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/healthcare/docs/how-tos/permissions-healthcare-api-gcp-products#the_cloud_healthcare_service_agent). The destination store must set enableUpdateCreate to true. The destination store must use FHIR version R4. Writing these resources will consume FHIR operations quota from the project containing the source data. De-identify operation metadata is only generated for DICOM de-identification operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the FHIR store to write the output to."
      }
    },
    "com.gcp.healthcare_v1beta1#Result": {
      "type": "structure",
      "members": {
        "dataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the evaluated resource."
          }
        },
        "consented": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the resource is consented for the given use."
          }
        },
        "consentDetails": {
          "target": "com.gcp.healthcare_v1beta1#ConsentEvaluationMap",
          "traits": {
            "smithy.api#documentation": "The resource names of all evaluated Consents mapped to their evaluation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The consent evaluation result for a single `data_id`."
      }
    },
    "com.gcp.healthcare_v1beta1#ConsentEvaluationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.healthcare_v1beta1#ConsentEvaluation"
      }
    },
    "com.gcp.healthcare_v1beta1#CheckDataAccessRequest": {
      "type": "structure",
      "members": {
        "requestAttributes": {
          "target": "com.gcp.healthcare_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The values of request attributes associated with this access request."
          }
        },
        "consentList": {
          "target": "com.gcp.healthcare_v1beta1#ConsentList",
          "traits": {
            "smithy.api#documentation": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the evaluated User data mapping, must exist in the current `consent_store`, and have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If no selection is specified, the access request is evaluated against all `ACTIVE` unexpired Consents with the same `user_id` as the evaluated User data mapping."
          }
        },
        "responseView": {
          "target": "com.gcp.healthcare_v1beta1#CheckDataAccessRequestResponseViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The view for CheckDataAccessResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`."
          }
        },
        "dataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier of the resource to check access for. This identifier must correspond to a User data mapping in the given consent store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Checks if a particular data_id of a User data mapping in the given consent store is consented for a given use."
      }
    },
    "com.gcp.healthcare_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.healthcare_v1beta1#CheckDataAccessRequestResponseViewEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequest": {
      "type": "structure",
      "members": {
        "documentContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "document_content is a document to be annotated."
          }
        },
        "licensedVocabularies": {
          "target": "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestLicensedVocabulariesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of licensed vocabularies to use in the request, in addition to the default unlicensed vocabularies."
          }
        },
        "alternativeOutputFormat": {
          "target": "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestAlternativeOutputFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Alternative output format to be generated based on the results of analysis."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to analyze healthcare entities in a document."
      }
    },
    "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestLicensedVocabulariesItemEnum": {
      "type": "enum",
      "members": {
        "LICENSED_VOCABULARY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSED_VOCABULARY_UNSPECIFIED"
          }
        },
        "ICD10CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICD10CM"
          }
        },
        "SNOMEDCT_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNOMEDCT_US"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestLicensedVocabulariesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestLicensedVocabulariesItemEnum"
      }
    },
    "com.gcp.healthcare_v1beta1#AnalyzeEntitiesRequestAlternativeOutputFormatEnum": {
      "type": "enum",
      "members": {
        "ALTERNATIVE_OUTPUT_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALTERNATIVE_OUTPUT_FORMAT_UNSPECIFIED"
          }
        },
        "FHIR_BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FHIR_BUNDLE"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#ParserConfig": {
      "type": "structure",
      "members": {
        "allowNullHeader": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether messages with no header are allowed."
          }
        },
        "version": {
          "target": "com.gcp.healthcare_v1beta1#ParserConfigVersionEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Determines the version of both the default parser to be used when `schema` is not given, as well as the schematized parser used when `schema` is specified. This field is immutable after HL7v2 store creation."
          }
        },
        "segmentTerminator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as segment terminator, matching the HL7 version 2 specification."
          }
        },
        "schema": {
          "target": "com.gcp.healthcare_v1beta1#SchemaPackage",
          "traits": {
            "smithy.api#documentation": "Schemas used to parse messages in this store, if schematized parsing is desired."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for the parser. It determines how the server parses the messages."
      }
    },
    "com.gcp.healthcare_v1beta1#ParserConfigVersionEnum": {
      "type": "enum",
      "members": {
        "PARSER_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARSER_VERSION_UNSPECIFIED"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2"
          }
        },
        "V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V3"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#SearchParameter": {
      "type": "structure",
      "members": {
        "canonicalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical url of the search parameter resource."
          }
        },
        "parameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The versioned name of the search parameter resource. The format is projects/{project-id}/locations/{location}/datasets/{dataset-id}/fhirStores/{fhirStore-id}/fhir/SearchParameter/{resource-id}/_history/{version-id} For fhir stores with disable_resource_versioning=true, the format is projects/{project-id}/locations/{location}/datasets/{dataset-id}/fhirStores/{fhirStore-id}/fhir/SearchParameter/{resource-id}/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the versioned name and the URL for one SearchParameter."
      }
    },
    "com.gcp.healthcare_v1beta1#ListUserDataMappingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "userDataMappings": {
          "target": "com.gcp.healthcare_v1beta1#UserDataMappingList",
          "traits": {
            "smithy.api#documentation": "The returned User data mappings. The maximum number of User data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest."
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#UserDataMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#UserDataMapping"
      }
    },
    "com.gcp.healthcare_v1beta1#ApplyAdminConsentsErrorDetail": {
      "type": "structure",
      "members": {
        "existingOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currently in progress non-validate-only ApplyAdminConsents operation ID if exist."
          }
        },
        "consentErrors": {
          "target": "com.gcp.healthcare_v1beta1#ConsentErrorsList",
          "traits": {
            "smithy.api#documentation": "The list of Consent resources that are unsupported or cannot be applied and the error associated with each of them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the error details of the unsupported admin Consent resources for when the ApplyAdminConsents method fails to apply one or more Consent resources."
      }
    },
    "com.gcp.healthcare_v1beta1#ConsentErrorsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#ConsentErrors"
      }
    },
    "com.gcp.healthcare_v1beta1#KmsWrappedCryptoKey": {
      "type": "structure",
      "members": {
        "wrappedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The wrapped data crypto key."
          }
        },
        "cryptoKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the KMS CryptoKey to use for unwrapping. For example, `projects/{project_id}/locations/{location_id}/keyRings/{keyring}/cryptoKeys/{key}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128-, 192-, or 256-bit key. The key must grant the Cloud IAM permission `cloudkms.cryptoKeyVersions.useToDecrypt` to the project's Cloud Healthcare Service Agent service account. For more information, see [Creating a wrapped key] (https://cloud.google.com/dlp/docs/create-wrapped-key)."
      }
    },
    "com.gcp.healthcare_v1beta1#SetBlobStorageSettingsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Returns additional info in regards to a completed set blob storage settings API."
      }
    },
    "com.gcp.healthcare_v1beta1#ArchiveUserDataMappingRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Archives the specified User data mapping."
      }
    },
    "com.gcp.healthcare_v1beta1#Hl7TypesConfig": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.healthcare_v1beta1#VersionSourceList",
          "traits": {
            "smithy.api#documentation": "The version selectors that this config applies to. A message must match ALL version sources to apply."
          }
        },
        "type": {
          "target": "com.gcp.healthcare_v1beta1#TypeList",
          "traits": {
            "smithy.api#documentation": "The HL7v2 type definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Root config for HL7v2 datatype definitions for a specific HL7v2 version."
      }
    },
    "com.gcp.healthcare_v1beta1#VersionSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#VersionSource"
      }
    },
    "com.gcp.healthcare_v1beta1#TypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Type"
      }
    },
    "com.gcp.healthcare_v1beta1#ValidationConfig": {
      "type": "structure",
      "members": {
        "enableFhirpathProfileValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable FHIRPath validation for incoming resource types that have profiles configured for them in the `enabled_implementation_guides` list. Set this to true to enable checking incoming resources for conformance against FHIRPath requirements defined in the configured profiles."
          }
        },
        "enabledImplementationGuides": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of ImplementationGuide URLs in this FHIR store that are used to configure the profiles to use for validation. For example, to use the US Core profiles for validation, set `enabled_implementation_guides` to `[\"http://hl7.org/fhir/us/core/ImplementationGuide/ig\"]`. If `enabled_implementation_guides` is empty or omitted, then incoming resources are only required to conform to the base FHIR profiles. Otherwise, a resource must conform to at least one profile listed in the `global` property of one of the enabled ImplementationGuides. The Cloud Healthcare API does not currently enforce all of the rules in a StructureDefinition. The following rules are supported: - min/max - minValue/maxValue - maxLength - type - fixed[x] - pattern[x] on simple types - slicing, when using \"value\" as the discriminator type - FHIRPath constraints (only when `enable_fhirpath_profile_validation` is true) When a URL cannot be resolved (for example, in a type assertion), the server does not return an error."
          }
        },
        "disableRequiredFieldValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to disable required fields validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against required fields requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced."
          }
        },
        "disableFhirpathValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to disable FHIRPath validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against FHIRPath requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced."
          }
        },
        "disableProfileValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to disable profile validation for this FHIR store. The default value is false. Set this to true to disable checking incoming resources for conformance against StructureDefinitions in this FHIR store."
          }
        },
        "disableReferenceTypeValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to disable reference type validation for incoming resources. The default value is false. Set this to true to disable checking incoming resources for conformance against reference type requirement defined in the FHIR specification. This property only affects resource types that do not have profiles configured for them, any rules in enabled implementation guides will still be enforced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the configuration for FHIR profiles and validation."
      }
    },
    "com.gcp.healthcare_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.healthcare_v1beta1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.healthcare_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.healthcare_v1beta1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#AuditConfig"
      }
    },
    "com.gcp.healthcare_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Binding"
      }
    },
    "com.gcp.healthcare_v1beta1#DeidentifiedStoreDestination": {
      "type": "structure",
      "members": {
        "store": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of a Cloud Healthcare FHIR store, for example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
          }
        },
        "config": {
          "target": "com.gcp.healthcare_v1beta1#DeidentifyConfig",
          "traits": {
            "smithy.api#documentation": "The configuration to use when de-identifying resources that are added to this store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains configuration for streaming de-identified FHIR export."
      }
    },
    "com.gcp.healthcare_v1beta1#EntityMention": {
      "type": "structure",
      "members": {
        "mentionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "mention_id uniquely identifies each entity mention in a single response."
          }
        },
        "linkedEntities": {
          "target": "com.gcp.healthcare_v1beta1#LinkedEntityList",
          "traits": {
            "smithy.api#documentation": "linked_entities are candidate ontological concepts that this entity mention may refer to. They are sorted by decreasing confidence."
          }
        },
        "temporalAssessment": {
          "target": "com.gcp.healthcare_v1beta1#Feature",
          "traits": {
            "smithy.api#documentation": "How this entity mention relates to the subject temporally. Its value is one of: CURRENT, CLINICAL_HISTORY, FAMILY_HISTORY, UPCOMING, ALLERGY"
          }
        },
        "subject": {
          "target": "com.gcp.healthcare_v1beta1#Feature",
          "traits": {
            "smithy.api#documentation": "The subject this entity mention relates to. Its value is one of: PATIENT, FAMILY_MEMBER, OTHER"
          }
        },
        "text": {
          "target": "com.gcp.healthcare_v1beta1#TextSpan",
          "traits": {
            "smithy.api#documentation": "text is the location of the entity mention in the document."
          }
        },
        "certaintyAssessment": {
          "target": "com.gcp.healthcare_v1beta1#Feature",
          "traits": {
            "smithy.api#documentation": "The certainty assessment of the entity mention. Its value is one of: LIKELY, SOMEWHAT_LIKELY, UNCERTAIN, SOMEWHAT_UNLIKELY, UNLIKELY, CONDITIONAL"
          }
        },
        "additionalInfo": {
          "target": "com.gcp.healthcare_v1beta1#FeatureList",
          "traits": {
            "smithy.api#documentation": "Additional information about the entity mention. For example, for an entity mention of type `DATE` this can be its more specific date types from the following list: `ADMISSION_DATE`, `CONSULTATION_DATE`, `DISCHARGE_DATE`, `SERVICE_DATE`, `VISIT_DATE`, `DIAGNOSIS_DATE`, `MED_STARTED_DATE`, `MED_ENDED_DATE`, `NOTE_DATE`, `PROCEDURE_DATE`, `RADIATION_STARTED_DATE`, `RADIATION_ENDED_DATE`, `STAGE_DATE`"
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The model's confidence in this entity mention annotation. A number between 0 and 1."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The semantic type of the entity: UNKNOWN_ENTITY_TYPE, ALONE, ANATOMICAL_STRUCTURE, ASSISTED_LIVING, BF_RESULT, BM_RESULT, BM_UNIT, BM_VALUE, BODY_FUNCTION, BODY_MEASUREMENT, COMPLIANT, DOESNOT_FOLLOWUP, FAMILY, FOLLOWSUP, LABORATORY_DATA, LAB_RESULT, LAB_UNIT, LAB_VALUE, MEDICAL_DEVICE, MEDICINE, MED_DOSE, MED_DURATION, MED_FORM, MED_FREQUENCY, MED_ROUTE, MED_STATUS, MED_STRENGTH, MED_TOTALDOSE, MED_UNIT, NON_COMPLIANT, OTHER_LIVINGSTATUS, PROBLEM, PROCEDURE, PROCEDURE_RESULT, PROC_METHOD, REASON_FOR_NONCOMPLIANCE, SEVERITY, SUBSTANCE_ABUSE, UNCLEAR_FOLLOWUP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entity mention in the document."
      }
    },
    "com.gcp.healthcare_v1beta1#LinkedEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#LinkedEntity"
      }
    },
    "com.gcp.healthcare_v1beta1#FeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Feature"
      }
    },
    "com.gcp.healthcare_v1beta1#ConsentConfig": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.healthcare_v1beta1#ConsentConfigVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies which consent enforcement version is being used for this FHIR store. This field can only be set once by either CreateFhirStore or UpdateFhirStore. After that, you must call ApplyConsents to change the version."
          }
        },
        "consentHeaderHandling": {
          "target": "com.gcp.healthcare_v1beta1#ConsentHeaderHandling",
          "traits": {
            "smithy.api#documentation": "Optional. Different options to configure the behaviour of the server when handling the `X-Consent-Scope` header."
          }
        },
        "accessEnforced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The default value is false. If set to true, when accessing FHIR resources, the consent headers will be verified against consents given by patients. See the ConsentEnforcementVersion for the supported consent headers."
          }
        },
        "accessDeterminationLogConfig": {
          "target": "com.gcp.healthcare_v1beta1#AccessDeterminationLogConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies how the server logs the consent-aware requests. If not specified, the `AccessDeterminationLogConfig.LogLevel.MINIMUM` option is used."
          }
        },
        "enforcedAdminConsents": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The versioned names of the enforced admin Consent resource(s), in the format `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}/_history/{version_id}`. For FHIR stores with `disable_resource_versioning=true`, the format is `projects/{project_id}/locations/{location}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Consent/{resource_id}`. This field can only be updated using ApplyAdminConsents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures whether to enforce consent for the FHIR store and which consent enforcement version is being used."
      }
    },
    "com.gcp.healthcare_v1beta1#ConsentConfigVersionEnum": {
      "type": "enum",
      "members": {
        "CONSENT_ENFORCEMENT_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSENT_ENFORCEMENT_VERSION_UNSPECIFIED"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#DeidentifyConfig": {
      "type": "structure",
      "members": {
        "fhirFieldConfig": {
          "target": "com.gcp.healthcare_v1beta1#FhirFieldConfig",
          "traits": {
            "smithy.api#documentation": "Configures de-id of application/FHIR content."
          }
        },
        "text": {
          "target": "com.gcp.healthcare_v1beta1#TextConfig",
          "traits": {
            "smithy.api#documentation": "Configures de-identification of text wherever it is found in the source_dataset."
          }
        },
        "image": {
          "target": "com.gcp.healthcare_v1beta1#ImageConfig",
          "traits": {
            "smithy.api#documentation": "Configures the de-identification of image pixels in the source_dataset. Deprecated. Use `dicom_tag_config.options.clean_image` instead."
          }
        },
        "fhir": {
          "target": "com.gcp.healthcare_v1beta1#FhirConfig",
          "traits": {
            "smithy.api#documentation": "Configures de-id of application/FHIR content. Deprecated. Use `fhir_field_config` instead."
          }
        },
        "dicom": {
          "target": "com.gcp.healthcare_v1beta1#DicomConfig",
          "traits": {
            "smithy.api#documentation": "Configures de-id of application/DICOM content. Deprecated. Use `dicom_tag_config` instead."
          }
        },
        "useRegionalDataProcessing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Ensures in-flight data remains in the region of origin during de-identification. The default value is false. Using this option results in a significant reduction of throughput, and is not compatible with `LOCATION` or `ORGANIZATION_NAME` infoTypes. If the deprecated DicomConfig or FhirConfig are used, then `LOCATION` must be excluded within TextConfig, and must also be excluded within ImageConfig if image redaction is required."
          }
        },
        "dicomTagConfig": {
          "target": "com.gcp.healthcare_v1beta1#DicomTagConfig",
          "traits": {
            "smithy.api#documentation": "Configures de-id of application/DICOM content."
          }
        },
        "operationMetadata": {
          "target": "com.gcp.healthcare_v1beta1#DeidentifyOperationMetadata",
          "traits": {
            "smithy.api#documentation": "Details about the work the de-identify operation performed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures de-id options specific to different types of content. Each submessage customizes the handling of an https://tools.ietf.org/html/rfc6838 media type or subtype. Configs are applied in a nested manner at runtime."
      }
    },
    "com.gcp.healthcare_v1beta1#LinkedEntity": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "entity_id is a concept unique identifier. These are prefixed by a string that identifies the entity coding system, followed by the unique identifier within that system. For example, \"UMLS/C0000970\". This also supports ad hoc entities, which are formed by normalizing entity mention content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EntityMentions can be linked to multiple entities using a LinkedEntity message lets us add other fields, e.g. confidence."
      }
    },
    "com.gcp.healthcare_v1beta1#DicomTagConfig": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.gcp.healthcare_v1beta1#ActionList",
          "traits": {
            "smithy.api#documentation": "Specifies custom tag selections and `Actions` to apply to them. Overrides `options` and `profile`. Conflicting `Actions` are applied in the order given."
          }
        },
        "profileType": {
          "target": "com.gcp.healthcare_v1beta1#DicomTagConfigProfileTypeEnum",
          "traits": {
            "smithy.api#documentation": "Base profile type for handling DICOM tags."
          }
        },
        "options": {
          "target": "com.gcp.healthcare_v1beta1#Options",
          "traits": {
            "smithy.api#documentation": "Specifies additional options to apply, overriding the base `profile`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the parameters needed for the de-identification of DICOM stores."
      }
    },
    "com.gcp.healthcare_v1beta1#ActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Action"
      }
    },
    "com.gcp.healthcare_v1beta1#DicomTagConfigProfileTypeEnum": {
      "type": "enum",
      "members": {
        "PROFILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_TYPE_UNSPECIFIED"
          }
        },
        "MINIMAL_KEEP_LIST_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL_KEEP_LIST_PROFILE"
          }
        },
        "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE"
          }
        },
        "KEEP_ALL_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP_ALL_PROFILE"
          }
        },
        "DEIDENTIFY_TAG_CONTENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEIDENTIFY_TAG_CONTENTS"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#KeepTag": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Keep tag unchanged."
      }
    },
    "com.gcp.healthcare_v1beta1#StructuredStorageInfo": {
      "type": "structure",
      "members": {
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size in bytes of data stored in structured storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StructuredStorageInfo contains details about the data stored in Structured Storage for the referenced resource."
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomStreamConfig": {
      "type": "structure",
      "members": {
        "bigqueryDestination": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
          "traits": {
            "smithy.api#documentation": "Results are appended to this table. The server creates a new table in the given BigQuery dataset if the specified table does not exist. To enable the Cloud Healthcare API to write to your BigQuery table, you must give the Cloud Healthcare API service account the bigquery.dataEditor role. The service account is: `service-{PROJECT_NUMBER}@gcp-sa-healthcare.iam.gserviceaccount.com`. The PROJECT_NUMBER identifies the project that the DICOM store resides in. To get the project number, go to the Cloud Console Dashboard. It is recommended to not have a custom schema in the destination table which could conflict with the schema created by the Cloud Healthcare API. Instance deletions are not applied to the destination table. The destination's table schema will be automatically updated in case a new instance's data is incompatible with the current schema. The schema should not be updated manually as this can cause incompatibilies that cannot be resolved automatically. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any instance that generates more than 1 MB of BigQuery data will not be streamed. If an instance cannot be streamed to BigQuery, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging))."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StreamConfig specifies configuration for a streaming DICOM export."
      }
    },
    "com.gcp.healthcare_v1beta1#SchemaSegment": {
      "type": "structure",
      "members": {
        "minOccurs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of times this segment can be present in this group."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Segment type. For example, \"PID\"."
          }
        },
        "maxOccurs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HL7v2 Segment."
      }
    },
    "com.gcp.healthcare_v1beta1#ApplyConsentsResponse": {
      "type": "structure",
      "members": {
        "consentApplyFailure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If `validate_only = false` in ApplyConsentsRequest, this counter is the number of Consent resources that were failed to apply. Otherwise, it is the number of Consent resources that are not supported or invalid."
          }
        },
        "consentApplySuccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If `validate_only = false` in ApplyConsentsRequest, this counter is the number of Consent resources that were successfully applied. Otherwise, it is the number of Consent resources that are supported."
          }
        },
        "affectedResources": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of resources (including the Consent resources) that may have consensual access change."
          }
        },
        "failedResources": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of resources (including the Consent resources) that ApplyConsents failed to re-index."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when all Consent resources in scope were processed and all affected resources were reindexed successfully. This structure is included in the response when the operation finishes successfully."
      }
    },
    "com.gcp.healthcare_v1beta1#ContextualDeidConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Fields that don't match a KeepField or CleanTextField `action` in the BASIC profile are collected into a contextual phrase list. For fields that match a CleanTextField `action` in FieldMetadata or ProfileType, the process attempts to transform phrases matching these contextual entries. These contextual phrases are replaced with the token \"[CTX]\". This feature uses an additional InfoType during inspection."
      }
    },
    "com.gcp.healthcare_v1beta1#ExportDicomDataRequest": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomGcsDestination",
          "traits": {
            "smithy.api#documentation": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location."
          }
        },
        "filterConfig": {
          "target": "com.gcp.healthcare_v1beta1#DicomFilterConfig",
          "traits": {
            "smithy.api#documentation": "Specifies the filter configuration."
          }
        },
        "bigqueryDestination": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
          "traits": {
            "smithy.api#documentation": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted."
      }
    },
    "com.gcp.healthcare_v1beta1#FhirStoreMetric": {
      "type": "structure",
      "members": {
        "versionedStorageSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total amount of versioned storage used by versioned FHIR resources of this resource type in the store."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The FHIR resource type this metric applies to."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of FHIR resources in the store of this resource type."
          }
        },
        "structuredStorageSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total amount of structured storage used by FHIR resources of this resource type in the store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Count of resources and total storage size by type for a given FHIR store."
      }
    },
    "com.gcp.healthcare_v1beta1#RemoveField": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Remove field."
      }
    },
    "com.gcp.healthcare_v1beta1#GcsDestination": {
      "type": "structure",
      "members": {
        "contentStructure": {
          "target": "com.gcp.healthcare_v1beta1#GcsDestinationContentStructureEnum",
          "traits": {
            "smithy.api#documentation": "The format of the exported HL7v2 message files."
          }
        },
        "messageView": {
          "target": "com.gcp.healthcare_v1beta1#GcsDestinationMessageViewEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the parts of the Message resource to include in the export. If not specified, FULL is used."
          }
        },
        "uriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of an existing Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location."
      }
    },
    "com.gcp.healthcare_v1beta1#GcsDestinationContentStructureEnum": {
      "type": "enum",
      "members": {
        "CONTENT_STRUCTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_STRUCTURE_UNSPECIFIED"
          }
        },
        "MESSAGE_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_JSON"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#GcsDestinationMessageViewEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_VIEW_UNSPECIFIED"
          }
        },
        "RAW_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW_ONLY"
          }
        },
        "PARSED_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARSED_ONLY"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "SCHEMATIZED_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMATIZED_ONLY"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#UserDataMapping": {
      "type": "structure",
      "members": {
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this mapping is archived."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the User data mapping, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/userDataMappings/{user_data_mapping_id}`."
          }
        },
        "archiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the time when this mapping was archived."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User's UUID provided by the client."
          }
        },
        "dataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the mapped resource."
          }
        },
        "resourceAttributes": {
          "target": "com.gcp.healthcare_v1beta1#AttributeList",
          "traits": {
            "smithy.api#documentation": "Attributes of the resource. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps a resource to the associated user and Attributes."
      }
    },
    "com.gcp.healthcare_v1beta1#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Attribute"
      }
    },
    "com.gcp.healthcare_v1beta1#Hl7V2NotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It is guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restricts notifications sent for messages matching a filter. If this is empty, all messages are matched. The following syntax is available: * A string field value can be written as text inside quotation marks, for example `\"query text\"`. The only valid relational operation for text fields is equality (`=`), where text is searched within the field, rather than having the field be equal to the text. For example, `\"Comment = great\"` returns messages with `great` in the comment field. * A number field value can be written as an integer, a decimal, or an exponential. The valid relational operators for number fields are the equality operator (`=`), along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * A date field value must be written in `yyyy-mm-dd` form. Fields with date and time use the RFC3339 time format. Leading zeros are required for one-digit months and days. The valid relational operators for date fields are the equality operator (`=`) , along with the less than/greater than operators (`<`, `<=`, `>`, `>=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * Multiple field query expressions can be combined in one query by adding `AND` or `OR` operators between the expressions. If a boolean operator appears within a quoted string, it is not treated as special, it's just another part of the character string to be matched. You can prepend the `NOT` operator to an expression to negate it. Fields/functions available for filtering are: * `message_type`, from the MSH-9.1 field. For example, `NOT message_type = \"ADT\"`. * `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in the dataset's time_zone, from the MSH-7 segment. For example, `send_date < \"2017-01-02\"`. * `send_time`, the timestamp when the message was sent, using the RFC3339 time format for comparisons, from the MSH-7 segment. For example, `send_time < \"2017-01-02T00:00:00-05:00\"`. * `create_time`, the timestamp when the message was created in the HL7v2 store. Use the RFC3339 time format for comparisons. For example, `create_time < \"2017-01-02T00:00:00-05:00\"`. * `send_facility`, the care center that the message came from, from the MSH-4 segment. For example, `send_facility = \"ABC\"`. * `PatientId(value, type)`, which matches if the message lists a patient having an ID of the given value and type in the PID-2, PID-3, or PID-4 segments. For example, `PatientId(\"123456\", \"MRN\")`. * `labels.x`, a string value of the label with key `x` as set using the Message.labels map. For example, `labels.\"priority\"=\"high\"`. The operator `:*` can be used to assert the existence of a label. For example, `labels.\"priority\":*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where and whether to send notifications upon changes to a data store."
      }
    },
    "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1ConsentGcsDestination": {
      "type": "structure",
      "members": {
        "uriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for a Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket and directory referenced in `uri_prefix`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Cloud Storage location for export."
      }
    },
    "com.gcp.healthcare_v1beta1#ConsentArtifact": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User's UUID provided by the client."
          }
        },
        "consentContentScreenshots": {
          "target": "com.gcp.healthcare_v1beta1#ImageList",
          "traits": {
            "smithy.api#documentation": "Optional. Screenshots, PDFs, or other binary information documenting the user's consent."
          }
        },
        "witnessSignature": {
          "target": "com.gcp.healthcare_v1beta1#Signature",
          "traits": {
            "smithy.api#documentation": "Optional. A signature from a witness."
          }
        },
        "metadata": {
          "target": "com.gcp.healthcare_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata associated with the Consent artifact. For example, the consent locale or user agent version."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the Consent artifact, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. Cannot be changed after creation."
          }
        },
        "userSignature": {
          "target": "com.gcp.healthcare_v1beta1#Signature",
          "traits": {
            "smithy.api#documentation": "Optional. User's signature."
          }
        },
        "guardianSignature": {
          "target": "com.gcp.healthcare_v1beta1#Signature",
          "traits": {
            "smithy.api#documentation": "Optional. A signature from a guardian."
          }
        },
        "consentContentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An string indicating the version of the consent information shown to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Documentation of a user's consent."
      }
    },
    "com.gcp.healthcare_v1beta1#ImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#Image"
      }
    },
    "com.gcp.healthcare_v1beta1#ReplaceWithInfoTypeConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the info_type. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting."
      }
    },
    "com.gcp.healthcare_v1beta1#RollbackFhirResourcesResponse": {
      "type": "structure",
      "members": {
        "fhirStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the FHIR store to rollback, in the format of \"projects/{project_id}/locations/{location_id}/datasets/{dataset_id} /fhirStores/{fhir_store_id}\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Final response of rollback FHIR resources request."
      }
    },
    "com.gcp.healthcare_v1beta1#CharacterMaskField": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Replace field value with masking character. Supported [types](https://www.hl7.org/fhir/datatypes.html): Code, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml."
      }
    },
    "com.gcp.healthcare_v1beta1#ApplyConsentsRequest": {
      "type": "structure",
      "members": {
        "patientScope": {
          "target": "com.gcp.healthcare_v1beta1#PatientScope",
          "traits": {
            "smithy.api#documentation": "Optional. Scope down to a list of patients."
          }
        },
        "timeRange": {
          "target": "com.gcp.healthcare_v1beta1#TimeRange",
          "traits": {
            "smithy.api#documentation": "Optional. Scope down to patients whose most recent consent changes are in the time range. Can only be used with a versioning store (i.e. when disable_resource_versioning is set to false)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the method only validates Consent resources to make sure they are supported. When the operation completes, ApplyConsentsResponse is returned where `consent_apply_success` and `consent_apply_failure` indicate supported and unsupported (or invalid) Consent resources, respectively. Otherwise, the method propagates the aggregate consensual information to the patient's resources. Upon success, `affected_resources` in the ApplyConsentsResponse indicates the number of resources that may have consensual access changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to apply the Consent resources for the specified FHIR store."
      }
    },
    "com.gcp.healthcare_v1beta1#Message": {
      "type": "structure",
      "members": {
        "sendFacility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hospital that this message came from. MSH-4."
          }
        },
        "patientIds": {
          "target": "com.gcp.healthcare_v1beta1#PatientIdList",
          "traits": {
            "smithy.api#documentation": "All patient IDs listed in the PID-2, PID-3, and PID-4 segments of this message."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Raw message bytes."
          }
        },
        "messageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message type for this message. MSH-9.1."
          }
        },
        "schematizedData": {
          "target": "com.gcp.healthcare_v1beta1#SchematizedData",
          "traits": {
            "smithy.api#documentation": "The parsed version of the raw message data schematized according to this store's schemas and type definitions."
          }
        },
        "sendTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the sending application sent this message. MSH-7."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the Message, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/hl7V2Stores/{hl7_v2_store_id}/messages/{message_id}`. Assigned by the server."
          }
        },
        "parsedData": {
          "target": "com.gcp.healthcare_v1beta1#ParsedData",
          "traits": {
            "smithy.api#documentation": "Output only. The parsed version of the raw message data."
          }
        },
        "labels": {
          "target": "com.gcp.healthcare_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The datetime when the message was created. Set by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A complete HL7v2 message. See [Introduction to HL7 Standards] (https://www.hl7.org/implement/standards/index.cfm?ref=common) for details on the standard."
      }
    },
    "com.gcp.healthcare_v1beta1#PatientIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#PatientId"
      }
    },
    "com.gcp.healthcare_v1beta1#DicomStoreMetrics": {
      "type": "structure",
      "members": {
        "blobStorageSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total blob storage bytes for all instances in the store."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the DICOM store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`."
          }
        },
        "seriesCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of series in the store."
          }
        },
        "structuredStorageSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total structured storage bytes for all instances in the store."
          }
        },
        "studyCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of studies in the store."
          }
        },
        "instanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances in the store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DicomStoreMetrics contains metrics describing a DICOM store."
      }
    },
    "com.gcp.healthcare_v1beta1#IngestMessageRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.healthcare_v1beta1#Message",
          "traits": {
            "smithy.api#documentation": "Required. HL7v2 message to ingest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ingests a message into the specified HL7v2 store."
      }
    },
    "com.gcp.healthcare_v1beta1#RollbackHl7V2MessagesRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When enabled, changes will be reverted without explicit confirmation."
          }
        },
        "rollbackTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Times point to rollback to."
          }
        },
        "resultGcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Bucket to deposit result"
          }
        },
        "filteringFields": {
          "target": "com.gcp.healthcare_v1beta1#RollbackHL7MessagesFilteringFields",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for filtering."
          }
        },
        "changeType": {
          "target": "com.gcp.healthcare_v1beta1#RollbackHl7V2MessagesRequestChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. CREATE/UPDATE/DELETE/ALL for reverting all txns of a certain type."
          }
        },
        "inputGcsObject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud storage object containing list of {resourceId} lines, identifying resources to be reverted"
          }
        },
        "excludeRollbacks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether to exclude earlier rollbacks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Point in time recovery rollback request."
      }
    },
    "com.gcp.healthcare_v1beta1#RollbackHl7V2MessagesRequestChangeTypeEnum": {
      "type": "enum",
      "members": {
        "CHANGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_TYPE_UNSPECIFIED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#TimeRange": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The earliest consent change time, in format YYYY-MM-DDThh:mm:ss.sss+zz:zz If not specified, the system uses the FHIR store creation time."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The latest consent change time, in format YYYY-MM-DDThh:mm:ss.sss+zz:zz If not specified, the system uses the time when ApplyConsents was called."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply consents given by patients whose most recent consent changes are in the time range. Note that after identifying these patients, the server applies all Consent resources given by those patients, not just the Consent resources within the timestamp in the range."
      }
    },
    "com.gcp.healthcare_v1beta1#BulkExportGcsDestination": {
      "type": "structure",
      "members": {
        "uriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI for a Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for exporting to Cloud Storage using the bulk export API."
      }
    },
    "com.gcp.healthcare_v1beta1#Field": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the field. For example, \"PID-1\" or just \"1\"."
          }
        },
        "minOccurs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of times this field must be present/repeated."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HL7v2 table this field refers to. For example, PID-15 (Patient's Primary Language) usually refers to table \"0296\"."
          }
        },
        "maxOccurs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of times this field can be repeated. 0 or -1 means unbounded."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this field. A Type with this name must be defined in an Hl7TypesConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A (sub) field of a type."
      }
    },
    "com.gcp.healthcare_v1beta1#QueryAccessibleDataResponse": {
      "type": "structure",
      "members": {
        "gcsUris": {
          "target": "com.gcp.healthcare_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of files, each of which contains a list of data_id(s) that are consented for a specified use in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for successful QueryAccessibleData operations. This structure is included in the response upon operation completion."
      }
    },
    "com.gcp.healthcare_v1beta1#ListAttributeDefinitionsResponse": {
      "type": "structure",
      "members": {
        "attributeDefinitions": {
          "target": "com.gcp.healthcare_v1beta1#AttributeDefinitionList",
          "traits": {
            "smithy.api#documentation": "The returned Attribute definitions. The maximum number of attributes returned is determined by the value of page_size in the ListAttributeDefinitionsRequest."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      }
    },
    "com.gcp.healthcare_v1beta1#AttributeDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.healthcare_v1beta1#AttributeDefinition"
      }
    },
    "com.gcp.healthcare_v1beta1#ImportDicomDataRequest": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.healthcare_v1beta1#GoogleCloudHealthcareV1beta1DicomGcsSource",
          "traits": {
[...]
