{
  "smithy": "2.0",
  "metadata": {
    "service": "iam",
    "version": "v1",
    "title": "Identity and Access Management (IAM) API",
    "baseUrl": "https://iam.googleapis.com/"
  },
  "shapes": {
    "com.gcp.iam_v1#PermissionDelta": {
      "type": "structure",
      "members": {
        "addedPermissions": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Added permissions."
          }
        },
        "removedPermissions": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Removed permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role."
      }
    },
    "com.gcp.iam_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.iam_v1#ListWorkloadIdentityPoolProvidersResponse": {
      "type": "structure",
      "members": {
        "workloadIdentityPoolProviders": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolProviderList",
          "traits": {
            "smithy.api#documentation": "A list of providers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkloadIdentityPoolProviders."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#WorkloadIdentityPoolProvider"
      }
    },
    "com.gcp.iam_v1#Permission": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of what this Permission is used for."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this Permission."
          }
        },
        "onlyInPredefinedRoles": {
          "target": "smithy.api#Boolean"
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of this Permission."
          }
        },
        "primaryPermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission."
          }
        },
        "stage": {
          "target": "com.gcp.iam_v1#PermissionStageEnum",
          "traits": {
            "smithy.api#documentation": "The current launch stage of the permission."
          }
        },
        "apiDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The service API associated with the permission is not enabled."
          }
        },
        "customRolesSupportLevel": {
          "target": "com.gcp.iam_v1#PermissionCustomRolesSupportLevelEnum",
          "traits": {
            "smithy.api#documentation": "The current custom role support level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A permission which can be included by a role."
      }
    },
    "com.gcp.iam_v1#PermissionStageEnum": {
      "type": "enum",
      "members": {
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.iam_v1#PermissionCustomRolesSupportLevelEnum": {
      "type": "enum",
      "members": {
        "SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPORTED"
          }
        },
        "TESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TESTING"
          }
        },
        "NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SUPPORTED"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for long-running WorkloadIdentityPool operations."
      }
    },
    "com.gcp.iam_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.iam_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.iam_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.iam_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#AuditLogConfig"
      }
    },
    "com.gcp.iam_v1#AddAttestationRuleRequest": {
      "type": "structure",
      "members": {
        "attestationRule": {
          "target": "com.gcp.iam_v1#AttestationRule",
          "traits": {
            "smithy.api#documentation": "Required. The attestation rule to be added."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AddAttestationRule."
      }
    },
    "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue": {
      "type": "structure",
      "members": {
        "plainText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The plain text of the client secret value. For security reasons, this field is only used for input and will never be populated in any response."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A thumbprint to represent the current client secret value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of the value of the client secret."
      }
    },
    "com.gcp.iam_v1#SignBlobRequest": {
      "type": "structure",
      "members": {
        "bytesToSign": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The bytes to sign."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob request."
      }
    },
    "com.gcp.iam_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.iam_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue",
          "traits": {
            "smithy.api#documentation": "The value of the client secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a client secret configured for the OIDC provider."
      }
    },
    "com.gcp.iam_v1#ListWorkloadIdentityPoolManagedIdentitiesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "workloadIdentityPoolManagedIdentities": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentityList",
          "traits": {
            "smithy.api#documentation": "A list of managed identities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkloadIdentityPoolManagedIdentities."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentity"
      }
    },
    "com.gcp.iam_v1#SignBlobResponse": {
      "type": "structure",
      "members": {
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the blob."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed blob."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob response."
      }
    },
    "com.gcp.iam_v1#ListOauthClientsResponse": {
      "type": "structure",
      "members": {
        "oauthClients": {
          "target": "com.gcp.iam_v1#OauthClientList",
          "traits": {
            "smithy.api#documentation": "A list of OauthClients."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListOauthClients."
      }
    },
    "com.gcp.iam_v1#OauthClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#OauthClient"
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProvider": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A display name for the provider. Cannot exceed 32 characters."
          }
        },
        "aws": {
          "target": "com.gcp.iam_v1#Aws",
          "traits": {
            "smithy.api#documentation": "An Amazon Web Services identity provider."
          }
        },
        "oidc": {
          "target": "com.gcp.iam_v1#Oidc",
          "traits": {
            "smithy.api#documentation": "An OpenId Connect 1.0 identity provider."
          }
        },
        "attributeCondition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [A Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential are accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```"
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the provider is disabled. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access."
          }
        },
        "attributeMapping": {
          "target": "com.gcp.iam_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Maps attributes from authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. Cannot exceed 127 bytes. * `google.groups`: Groups the external identity belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where `{custom_attribute}` is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workload to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8KB. For AWS providers, if no attribute mapping is defined, the following default mapping applies: ``` { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \"assertion.arn.contains('assumed-role')\" \" ? assertion.arn.extract('{account_arn}assumed-role/')\" \" + 'assumed-role/'\" \" + assertion.arn.extract('assumed-role/{role_name}/')\" \" : assertion.arn\", } ``` If any custom attribute mappings are defined, they must include a mapping to the `google.subject` attribute. For OIDC providers, you must supply a custom mapping, which must include the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```"
          }
        },
        "saml": {
          "target": "com.gcp.iam_v1#Saml",
          "traits": {
            "smithy.api#documentation": "An SAML 2.0 identity provider."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description for the provider. Cannot exceed 256 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the provider."
          }
        },
        "x509": {
          "target": "com.gcp.iam_v1#X509",
          "traits": {
            "smithy.api#documentation": "An X.509-type identity provider."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the workload identity pool provider will be permanently purged and cannot be recovered."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolProviderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration for an external identity provider."
      }
    },
    "com.gcp.iam_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProviderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#UndeleteServiceAccountRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The service account undelete request."
      }
    },
    "com.gcp.iam_v1#ListWorkforcePoolProvidersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "workforcePoolProviders": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderList",
          "traits": {
            "smithy.api#documentation": "A list of providers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkforcePoolProviders."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#WorkforcePoolProvider"
      }
    },
    "com.gcp.iam_v1#UndeleteWorkforcePoolProviderRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UndeleteWorkforcePoolProvider."
      }
    },
    "com.gcp.iam_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.iam_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.iam_v1#DisableServiceAccountRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The service account disable request."
      }
    },
    "com.gcp.iam_v1#LintResult": {
      "type": "structure",
      "members": {
        "validationUnitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\"."
          }
        },
        "debugMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable debug message associated with the issue."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition."
          }
        },
        "level": {
          "target": "com.gcp.iam_v1#LintResultLevelEnum",
          "traits": {
            "smithy.api#documentation": "The validation unit level."
          }
        },
        "severity": {
          "target": "com.gcp.iam_v1#LintResultSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The validation unit severity."
          }
        },
        "locationOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured response of a single validation unit."
      }
    },
    "com.gcp.iam_v1#LintResultLevelEnum": {
      "type": "enum",
      "members": {
        "LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL_UNSPECIFIED"
          }
        },
        "CONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONDITION"
          }
        }
      }
    },
    "com.gcp.iam_v1#LintResultSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTICE"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.iam_v1#ServiceConfig": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Domain name of the service. Example: console.cloud.google"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a service."
      }
    },
    "com.gcp.iam_v1#DisableServiceAccountKeyRequest": {
      "type": "structure",
      "members": {
        "serviceAccountKeyDisableReason": {
          "target": "com.gcp.iam_v1#DisableServiceAccountKeyRequestServiceAccountKeyDisableReasonEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the reason this key is being disabled. If unspecified, the default value of SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED will be used."
          }
        },
        "extendedStatusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Usable by internal google services only. An extended_status_message can be used to include additional information about the key, such as its private key data being exposed on a public repository like GitHub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service account key disable request."
      }
    },
    "com.gcp.iam_v1#DisableServiceAccountKeyRequestServiceAccountKeyDisableReasonEnum": {
      "type": "enum",
      "members": {
        "SERVICE_ACCOUNT_KEY_DISABLE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_DISABLE_REASON_UNSPECIFIED"
          }
        },
        "SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED"
          }
        },
        "SERVICE_ACCOUNT_KEY_DISABLE_REASON_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_DISABLE_REASON_EXPOSED"
          }
        },
        "SERVICE_ACCOUNT_KEY_DISABLE_REASON_COMPROMISE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_DISABLE_REASON_COMPROMISE_DETECTED"
          }
        }
      }
    },
    "com.gcp.iam_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.iam_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.iam_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.iam_v1#SignJwtRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT request."
      }
    },
    "com.gcp.iam_v1#QueryGrantableRolesRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.gcp.iam_v1#QueryGrantableRolesRequestViewEnum"
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 2,000."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional pagination token returned in an earlier QueryGrantableRolesResponse."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The grantable role query request."
      }
    },
    "com.gcp.iam_v1#QueryGrantableRolesRequestViewEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.iam_v1#UndeleteWorkforcePoolSubjectRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UndeleteWorkforcePoolSubject."
      }
    },
    "com.gcp.iam_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.iam_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.iam_v1#OauthClientCredential": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the OauthClientCredential is disabled. You cannot use a disabled OauthClientCredential."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated OAuth client secret. The client secret must be stored securely. If the client secret is leaked, you must delete and re-create the client credential. To learn more, see [OAuth client and credential security risks and mitigations](https://cloud.google.com/iam/docs/workforce-oauth-app#security)"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-specified display name of the OauthClientCredential. Cannot exceed 32 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of the OauthClientCredential. Format: `projects/{project}/locations/{location}/oauthClients/{oauth_client}/credentials/{credential}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an OauthClientCredential. Used to authenticate an OauthClient while accessing Google Cloud resources on behalf of a user by using OAuth 2.0 Protocol."
      }
    },
    "com.gcp.iam_v1#TrustStore": {
      "type": "structure",
      "members": {
        "trustAnchors": {
          "target": "com.gcp.iam_v1#TrustAnchorList",
          "traits": {
            "smithy.api#documentation": "Required. List of trust anchors to be used while performing validation against a given TrustStore. The incoming end entity's certificate must be in the trust chain of one of the trust anchors here."
          }
        },
        "intermediateCas": {
          "target": "com.gcp.iam_v1#IntermediateCAList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of intermediate CA certificates used for building the trust chain to the trust anchor. Important: Intermediate CAs are only supported for X.509 federation."
          }
        },
        "trustDefaultSharedCa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to True, the trust bundle will include the private ca managed identity regional root public certificates. Important: `trust_default_shared_ca` is only supported for managed identity trust domain resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trust store that contains trust anchors and optional intermediate CAs used in PKI to build a trust chain(trust hierarchy) and verify a client's identity."
      }
    },
    "com.gcp.iam_v1#TrustAnchorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#TrustAnchor"
      }
    },
    "com.gcp.iam_v1#IntermediateCAList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#IntermediateCA"
      }
    },
    "com.gcp.iam_v1#UndeleteWorkloadIdentityPoolProviderKeyRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UndeleteWorkloadIdentityPoolProviderKey."
      }
    },
    "com.gcp.iam_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.iam_v1#ServiceAccount": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-specified, human-readable description of the service account. The maximum length is 256 UTF-8 bytes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the service account. Use one of the following formats: * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS}` * `projects/{PROJECT_ID}/serviceAccounts/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects/-/serviceAccounts/{EMAIL_ADDRESS}` * `projects/-/serviceAccounts/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to access the service account `projects/-/serviceAccounts/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email address of the service account."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Do not use."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-specified, human-readable name for the service account. The maximum length is 100 UTF-8 bytes."
          }
        },
        "oauth2ClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The OAuth 2.0 client ID for the service account."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the service account is disabled."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the project that owns the service account."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique, stable numeric ID for the service account. Each service account retains its unique ID even if you delete the service account. For example, if you delete a service account, then create a new service account with the same name, the new service account has a different unique ID than the deleted service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An IAM service account. A service account is an account for an application or a virtual machine (VM) instance, not a person. You can use a service account to call Google APIs. To learn more, read the [overview of service accounts](https://cloud.google.com/iam/help/service-accounts/overview). When you create a service account, you specify the project ID that owns the service account, as well as a name that must be unique within the project. IAM uses these values to create an email address that identifies the service account. //"
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProvider": {
      "type": "structure",
      "members": {
        "extraAttributesOauth2Client": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the configuration for the OAuth 2.0 client that is used to get the additional user attributes in a separate backchannel call to the identity provider. This should be used when users can't get the required claims in authentication credentials. Currently, the OAuth 2.0 protocol is the only supported authorization method for this backchannel call."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`"
          }
        },
        "detailedAuditLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, populates additional debug information in Cloud Audit Logs for this provider. Logged attribute mappings and values can be found in `sts.googleapis.com` data access logs. Default value is false."
          }
        },
        "oidc": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderOidc",
          "traits": {
            "smithy.api#documentation": "An OpenID Connect 1.0 identity provider configuration."
          }
        },
        "scimUsage": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderScimUsageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Gemini Enterprise only. Specifies whether the workforce identity pool provider uses SCIM-managed groups instead of the `google.groups` attribute mapping for authorization checks. The `scim_usage` and `extended_attributes_oauth2_client` fields are mutually exclusive. A request that enables both fields on the same workforce identity pool provider will produce an error."
          }
        },
        "attributeCondition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A [Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. `google.profile_photo`, `google.display_name` and `google.posix_username` are not supported. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credentials will be accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```"
          }
        },
        "extendedAttributesOauth2Client": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for OAuth 2.0 client used to get the extended group memberships for user identities. Only the `AZURE_AD_GROUPS_ID` attribute type is supported. Extended groups supports a subset of Google Cloud services. When the user accesses these services, extended group memberships override the mapped `google.groups` attribute. Extended group memberships cannot be used in attribute mapping or attribute condition expressions. To keep extended group memberships up to date, extended groups are retrieved when the user signs in and at regular intervals during the user's active session. Each user identity in the workforce identity pool must map to a unique Microsoft Entra ID user."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the provider. Cannot exceed 256 characters."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the provider."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the workforce identity pool provider will be permanently purged and cannot be recovered."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A display name for the provider. Cannot exceed 32 characters."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disables the workforce pool provider. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access."
          }
        },
        "attributeMapping": {
          "target": "com.gcp.iam_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Maps attributes from the authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.groups`: Groups the authenticating user belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. * `google.display_name`: The name of the authenticated user. This is an optional field and the mapped display name cannot exceed 100 bytes. If not set, `google.subject` will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.profile_photo`: The URL that specifies the authenticated user's thumbnail photo. This is an optional field. When set, the image will be visible as the user's profile picture. If not set, a generic user icon will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.posix_username`: The Linux username used by OS Login. This is an optional field and the mapped POSIX username cannot exceed 32 characters. The key must match the regex `^a-zA-Z0-9._{0,31}$`. This attribute cannot be referenced in IAM bindings. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where {custom_attribute} is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters `[a-z0-9_]`. You can reference these attributes in IAM policies to define fine-grained access for a workforce pool to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/locations/global/workforcePools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 16 KB. For OIDC providers, you must supply a custom mapping that includes the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```"
          }
        },
        "saml": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderSaml",
          "traits": {
            "smithy.api#documentation": "A SAML identity provider configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration for an external identity provider."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderScimUsageEnum": {
      "type": "enum",
      "members": {
        "SCIM_USAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIM_USAGE_UNSPECIFIED"
          }
        },
        "ENABLED_FOR_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED_FOR_GROUPS"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#LintPolicyResponse": {
      "type": "structure",
      "members": {
        "lintResults": {
          "target": "com.gcp.iam_v1#LintResultList",
          "traits": {
            "smithy.api#documentation": "List of lint results sorted by `severity` in descending order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a lint operation. An empty response indicates the operation was able to fully execute and no lint issue was found."
      }
    },
    "com.gcp.iam_v1#LintResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#LintResult"
      }
    },
    "com.gcp.iam_v1#WorkforcePool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the pool. Format: `locations/{location}/workforcePools/{workforce_pool_id}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the pool. Cannot exceed 256 characters."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkforcePoolStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the pool."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the workforce pool will be permanently purged and cannot be recovered."
          }
        },
        "sessionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Duration that the Google Cloud access tokens, console sign-in sessions, and `gcloud` sign-in sessions from this pool are valid. Must be greater than 15 minutes (900s) and less than 12 hours (43200s). If `session_duration` is not configured, minted credentials have a default duration of one hour (3600s). For SAML providers, the lifetime of the token is the minimum of the `session_duration` and the `SessionNotOnOrAfter` claim in the SAML assertion."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A display name for the pool. Cannot exceed 32 characters."
          }
        },
        "accessRestrictions": {
          "target": "com.gcp.iam_v1#AccessRestrictions",
          "traits": {
            "smithy.api#documentation": "Optional. Configure access restrictions on the workforce pool users. This is an optional field. If specified web sign-in can be restricted to given set of services or programmatic sign-in can be disabled for pool users."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disables the workforce pool. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the parent. Format: `organizations/{org-id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a collection of external workforces. Provides namespaces for federated users that can be referenced in IAM policies."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#CreateRoleRequest": {
      "type": "structure",
      "members": {
        "roleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters."
          }
        },
        "role": {
          "target": "com.gcp.iam_v1#Role",
          "traits": {
            "smithy.api#documentation": "The Role resource to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to create a new role."
      }
    },
    "com.gcp.iam_v1#ExtendedStatus": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.gcp.iam_v1#ExtendedStatusKeyEnum",
          "traits": {
            "smithy.api#documentation": "The key for this extended status."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for the extended status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extended status can store additional metadata. For example, for keys disabled due to their private key data being expoesed we may include a message with more information about the exposure."
      }
    },
    "com.gcp.iam_v1#ExtendedStatusKeyEnum": {
      "type": "enum",
      "members": {
        "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_UNSPECIFIED"
          }
        },
        "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_EXPOSED"
          }
        },
        "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_COMPROMISE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT_KEY_EXTENDED_STATUS_KEY_COMPROMISE_DETECTED"
          }
        }
      }
    },
    "com.gcp.iam_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.iam_v1#ListServiceAccountKeysResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.gcp.iam_v1#ServiceAccountKeyList",
          "traits": {
            "smithy.api#documentation": "The public keys for the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service account keys list response."
      }
    },
    "com.gcp.iam_v1#ServiceAccountKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#ServiceAccountKey"
      }
    },
    "com.gcp.iam_v1#ReconciliationOperationMetadata": {
      "type": "structure",
      "members": {
        "deleteResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use exclusive_action instead."
          }
        },
        "exclusiveAction": {
          "target": "com.gcp.iam_v1#ReconciliationOperationMetadataExclusiveActionEnum",
          "traits": {
            "smithy.api#documentation": "Excluisive action returned by the CLH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata returned by the CLH during resource state reconciliation."
      }
    },
    "com.gcp.iam_v1#ReconciliationOperationMetadataExclusiveActionEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_REPAIR_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_REPAIR_ACTION"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the key. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}/keys/{key_id}`"
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time after which the key will be permanently deleted and cannot be recovered. Note that the key may get purged before this time if the total limit of keys per provider is exceeded."
          }
        },
        "keyData": {
          "target": "com.gcp.iam_v1#KeyData",
          "traits": {
            "smithy.api#documentation": "Immutable. Public half of the asymmetric key."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderKeyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the key."
          }
        },
        "use": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderKeyUseEnum",
          "traits": {
            "smithy.api#documentation": "Required. The purpose of the key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a public key configuration for a Workforce Pool Provider. The key can be configured in your identity provider to encrypt SAML assertions. Google holds the corresponding private key, which it uses to decrypt encrypted tokens."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderKeyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderKeyUseEnum": {
      "type": "enum",
      "members": {
        "KEY_USE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_USE_UNSPECIFIED"
          }
        },
        "ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderScimTenant": {
      "type": "structure",
      "members": {
        "baseUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Gemini Enterprise only. Represents the base URI as defined in [RFC 7644, Section 1.3](https://datatracker.ietf.org/doc/html/rfc7644#section-1.3). Clients must use this as the root address for managing resources under the tenant. Format: https://iamscim.googleapis.com/{version}/{tenant_id}/"
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderScimTenantStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Gemini Enterprise only. The state of the tenant."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Gemini Enterprise only. The timestamp that represents the time when the SCIM tenant is purged."
          }
        },
        "serviceAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service Agent created by SCIM Tenant API. SCIM tokens created under this tenant will be attached to this service agent."
          }
        },
        "claimMapping": {
          "target": "com.gcp.iam_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Gemini Enterprise only. Maps SCIM attributes to Google attributes. This mapping is used to associate the attributes synced via SCIM with the Google Cloud attributes used in IAM policies for Workforce Identity Federation. SCIM-managed user and group attributes are mapped to `google.subject` and `google.group` respectively. Each key must be a string specifying the Google Cloud IAM attribute to map to. The supported keys are as follows: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.group`: Group the authenticating user belongs to. You can grant group access to resources using an IAM `principalSet` binding; access applies to all members of the group. Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) expression that maps SCIM user or group attribute to the normalized attribute specified by the corresponding map key. Example: To map the SCIM user's `externalId` to `google.subject` and the SCIM group's `externalId` to `google.group`: ``` { \"google.subject\": \"user.externalId\", \"google.group\": \"group.externalId\" } ```"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Gemini Enterprise only. The resource name of the SCIM Tenant. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/ {workforce_pool_provider}/scimTenants/{scim_tenant}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Gemini Enterprise only. The description of the SCIM tenant. Cannot exceed 256 characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Gemini Enterprise only. The display name of the SCIM tenant. Cannot exceed 32 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gemini Enterprise only. Represents a SCIM tenant. Used for provisioning and managing identity data (such as Users and Groups) in cross-domain environments."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderScimTenantStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentity": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentityStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the managed identity."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the managed identity will be permanently purged and cannot be recovered."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the managed identity is disabled. If disabled, credentials may no longer be issued for the identity, however existing credentials will still be accepted until they expire."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the managed identity."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the managed identity. Cannot exceed 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a managed identity for a workload identity pool namespace."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolManagedIdentityStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#ListWorkforcePoolProviderKeysResponse": {
      "type": "structure",
      "members": {
        "workforcePoolProviderKeys": {
          "target": "com.gcp.iam_v1#WorkforcePoolProviderKeyList",
          "traits": {
            "smithy.api#documentation": "A list of WorkforcePoolProviderKeys."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListWorkforcePoolProviderKeys."
      }
    },
    "com.gcp.iam_v1#WorkforcePoolProviderKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.iam_v1#WorkforcePoolProviderKey"
      }
    },
    "com.gcp.iam_v1#PatchServiceAccountRequest": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.gcp.iam_v1#ServiceAccount"
        },
        "updateMask": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The service account patch request. You can patch only the `display_name` and `description` fields. You must use the `update_mask` field to specify which of these fields you want to patch. Only the fields specified in the request are guaranteed to be returned in the response. Other fields may be empty in the response."
      }
    },
    "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client": {
      "type": "structure",
      "members": {
        "queryParameters": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the parameters to control which claims are fetched from an IdP."
          }
        },
        "attributesType": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientAttributesTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Represents the IdP and type of claims that should be fetched."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OAuth 2.0 client ID for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow."
          }
        },
        "clientSecret": {
          "target": "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret",
          "traits": {
            "smithy.api#documentation": "Required. The OAuth 2.0 client secret for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow."
          }
        },
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OIDC identity provider's issuer URI. Must be a valid URI using the `https` scheme. Required to get the OIDC discovery document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the OAuth 2.0 client credential configuration for retrieving additional user attributes that are not present in the initial authentication credentials from the identity provider, for example, groups. See https://datatracker.ietf.org/doc/html/rfc6749#section-4.4 for more details on client credentials grant flow."
      }
    },
    "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientAttributesTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTES_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTES_TYPE_UNSPECIFIED"
          }
        },
        "AZURE_AD_GROUPS_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE_AD_GROUPS_MAIL"
          }
        },
        "AZURE_AD_GROUPS_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE_AD_GROUPS_ID"
          }
        },
        "AZURE_AD_GROUPS_DISPLAY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE_AD_GROUPS_DISPLAY_NAME"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProviderKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the key."
          }
        },
        "keyData": {
          "target": "com.gcp.iam_v1#KeyData",
          "traits": {
            "smithy.api#documentation": "Immutable. Public half of the asymmetric key."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolProviderKeyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the key."
          }
        },
        "use": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolProviderKeyUseEnum",
          "traits": {
            "smithy.api#documentation": "Required. The purpose of the key."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the key will be permanently purged and cannot be recovered. Note that the key may get purged before this timestamp if the total limit of keys per provider is crossed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a public key configuration for your workload identity pool provider. The key can be configured in your identity provider to encrypt the SAML assertions. Google holds the corresponding private key which it uses to decrypt encrypted tokens."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProviderKeyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolProviderKeyUseEnum": {
      "type": "enum",
      "members": {
        "KEY_USE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_USE_UNSPECIFIED"
          }
        },
        "ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.iam_v1#GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter used to request specific records from the IdP. By default, all of the groups that are associated with a user are fetched. For Microsoft Entra ID, you can add `$search` query parameters using [Keyword Query Language] (https://learn.microsoft.com/en-us/sharepoint/dev/general-development/keyword-query-language-kql-syntax-reference). To learn more about `$search` querying in Microsoft Entra ID, see [Use the `$search` query parameter] (https://learn.microsoft.com/en-us/graph/search-query-parameter). Additionally, Workforce Identity Federation automatically adds the following [`$filter` query parameters] (https://learn.microsoft.com/en-us/graph/filter-query-parameter), based on the value of `attributes_type`. Values passed to `filter` are converted to `$search` query parameters. Additional `$filter` query parameters cannot be added using this field. * `AZURE_AD_GROUPS_MAIL`: `mailEnabled` and `securityEnabled` filters are applied. * `AZURE_AD_GROUPS_ID`: `securityEnabled` filter is applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the parameters to control which claims are fetched from an IdP."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPool": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again."
          }
        },
        "inlineCertificateIssuanceConfig": {
          "target": "com.gcp.iam_v1#InlineCertificateIssuanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the Certificate Authority (CA) pool resources and configurations required for issuance and rotation of mTLS workload certificates."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A display name for the pool. Cannot exceed 32 characters."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the pool."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the workload identity pool will be permanently purged and cannot be recovered."
          }
        },
        "inlineTrustConfig": {
          "target": "com.gcp.iam_v1#InlineTrustConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Represents config to add additional trusted trust domains."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the pool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the pool. Cannot exceed 256 characters."
          }
        },
        "mode": {
          "target": "com.gcp.iam_v1#WorkloadIdentityPoolModeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The mode the pool is operating in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a collection of workload identities. You can define IAM policies to grant these identities access to Google Cloud resources."
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.iam_v1#WorkloadIdentityPoolModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "FEDERATION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDERATION_ONLY"
          }
        },
        "TRUST_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUST_DOMAIN"
          }
        },
        "SYSTEM_TRUST_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_TRUST_DOMAIN"
          }
        }
      }
    },
    "com.gcp.iam_v1#KeyData": {
      "type": "structure",
      "members": {
        "notBeforeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Earliest timestamp when this key is valid. Attempts to use this key before this time will fail. Only present if the key data represents a X.509 certificate."
          }
        },
        "notAfterTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Latest timestamp when this key is valid. Attempts to use this key after this time will fail. Only present if the key data represents a X.509 certificate."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The key data. The format of the key is represented by the format field."
          }
        },
        "keySpec": {
          "target": "com.gcp.iam_v1#KeyDataKeySpecEnum",
          "traits": {
            "smithy.api#documentation": "Required. The specifications for the key."
          }
        },
        "format": {
          "target": "com.gcp.iam_v1#KeyDataFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format of the key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a public key data along with its format."
      }
    },
    "com.gcp.iam_v1#KeyDataKeySpecEnum": {
      "type": "enum",
      "members": {
        "KEY_SPEC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_SPEC_UNSPECIFIED"
          }
        },
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "RSA_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_3072"
          }
        },
        "RSA_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_4096"
          }
        }
      }
    },
    "com.gcp.iam_v1#KeyDataFormatEnum": {
      "type": "enum",
      "members": {
        "KEY_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_FORMAT_UNSPECIFIED"
          }
        },
        "RSA_X509_PEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_X509_PEM"
          }
        }
      }
    },
    "com.gcp.iam_v1#RemoveAttestationRuleRequest": {
      "type": "structure",
      "members": {
        "attestationRule": {
          "target": "com.gcp.iam_v1#AttestationRule",
          "traits": {
            "smithy.api#documentation": "Required. The attestation rule to be removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RemoveAttestationRule."
      }
    },
    "com.gcp.iam_v1#Saml": {
      "type": "structure",
      "members": {
        "idpMetadataXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. SAML identity provider (IdP) configuration metadata XML doc. The XML document must comply with the [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The maximum size of an acceptable XML document is 128K characters. The SAML metadata XML document must satisfy the following constraints: * Must contain an IdP Entity ID. * Must contain at least one non-expired signing certificate. * For each signing certificate, the expiration must be: * From no more than 7 days in the future. * To no more than 25 years in the future. * Up to three IdP signing keys are allowed. When updating the provider's metadata XML, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an SAML 2.0 identity provider."
      }
    },
    "com.gcp.iam_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.iam_v1#QueryTestablePermissionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional limit on the number of permissions to include in the response. The default is 100, and the maximum is 1,000."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name to query from the list of testable permissions. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional pagination token returned in an earlier QueryTestablePermissionsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to get permissions which can be tested on a resource."
      }
    },
    "com.gcp.iam_v1#UndeleteServiceAccountResponse": {
      "type": "structure",
      "members": {
        "restoredAccount": {
          "target": "com.gcp.iam_v1#ServiceAccount",
          "traits": {
            "smithy.api#documentation": "Metadata for the restored service account."
          }
        }
      }
    },
    "com.gcp.iam_v1#LintPolicyRequest": {
      "type": "structure",
      "members": {
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the policy this lint request is about. The name follows the Google Cloud format for full resource names. For example, a Google Cloud project with ID `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`. The resource name is not used to read a policy from IAM. Only the data in the request object is linted."
          }
        },
        "condition": {
          "target": "com.gcp.iam_v1#Expr",
          "traits": {
            "smithy.api#documentation": "google.iam.v1.Binding.condition object to be linted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to lint an IAM policy object."
      }
    },
    "com.gcp.iam_v1#OauthClient": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-specified description of the OauthClient. Cannot exceed 256 characters."
          }
        },
        "allowedRedirectUris": {
          "target": "com.gcp.iam_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of redirect uris that is allowed to redirect back when authorization process is completed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of the OauthClient. Format:`projects/{project}/locations/{location}/oauthClients/{oauth_client}`."
          }
        },
        "allowedGrantTypes": {
          "target": "com.gcp.iam_v1#OauthClientAllowedGrantTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of OAuth grant types is allowed for the OauthClient."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which the OauthClient will be permanently purged and cannot be recovered."
          }
        },
        "state": {
          "target": "com.gcp.iam_v1#OauthClientStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the OauthClient."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A user-specified display name of the OauthClient. Cannot exceed 32 characters."
          }
        },
[...]
