{
  "smithy": "2.0",
  "metadata": {
    "service": "identitytoolkit",
    "version": "v2",
    "title": "Identity Toolkit API",
    "baseUrl": "https://identitytoolkit.googleapis.com/"
  },
  "shapes": {
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "type": "structure",
      "members": {
        "x509Certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The x509 certificate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for InitializeIdentityPlatform."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\""
          }
        },
        "type": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The client's platform type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKeyTypeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_UNSPECIFIED"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "type": "structure",
      "members": {
        "oauthIdpConfigs": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfigList",
          "traits": {
            "smithy.api#documentation": "The set of configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListOAuthIdpConfigs"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateProviderEnum",
          "traits": {
            "smithy.api#documentation": "The provider that has reCAPTCHA protection."
          }
        },
        "enforcementState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateEnforcementStateEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA enforcement state for the provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enforcement states for reCAPTCHA protection."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateProviderEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_PROVIDER_UNSPECIFIED"
          }
        },
        "EMAIL_PASSWORD_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_PASSWORD_PROVIDER"
          }
        },
        "PHONE_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_PROVIDER"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateEnforcementStateEnum": {
      "type": "enum",
      "members": {
        "ENFORCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCEMENT_STATE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIT"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
          "traits": {
            "smithy.api#documentation": "Configuration options related to authenticated a user by their phone number."
          }
        },
        "anonymous": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Anonymous",
          "traits": {
            "smithy.api#documentation": "Configuration options related to authenticating an anonymous user."
          }
        },
        "hashConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Hash config information."
          }
        },
        "email": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Email",
          "traits": {
            "smithy.api#documentation": "Configuration options related to authenticating a user by their email address."
          }
        },
        "allowDuplicateEmails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow more than one account to have the same email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration related to local sign in methods."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, ID token is returned from IdP's authorization endpoint."
          }
        },
        "token": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Do not use. The `token` response type is not supported at the moment."
          }
        },
        "code": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, authorization code is returned from IdP's authorization endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Email": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether email auth is enabled for the project or not."
          }
        },
        "passwordRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options related to authenticating a user by their email address."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject of the email"
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email body"
          }
        },
        "customized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the body or subject of the email is customized."
          }
        },
        "senderDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender display name"
          }
        },
        "replyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reply-to address"
          }
        },
        "senderLocalPart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Local part of From address"
          }
        },
        "bodyFormat": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplateBodyFormatEnum",
          "traits": {
            "smithy.api#documentation": "Email body format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplateBodyFormatEnum": {
      "type": "enum",
      "members": {
        "BODY_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_FORMAT_UNSPECIFIED"
          }
        },
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAIN_TEXT"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User's ID token."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
          }
        },
        "mfaEnrollmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MFA enrollment id from a current MFA enrollment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Withdraws MFA."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "type": "structure",
      "members": {
        "emailSendingConfig": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that the tenants will inherit from project level."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID token for the authenticated user."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token for the authenticated user."
          }
        },
        "phoneAuthInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "traits": {
            "smithy.api#documentation": "Extra phone auth info, including android verification proof."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FinalizeMfaSignIn response."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.identitytoolkit_v2#GoogleIamV1GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "type": "structure",
      "members": {
        "client": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
          "traits": {
            "smithy.api#documentation": "Options related to how clients making requests on behalf of a project should be configured."
          }
        },
        "allowPasswordSignup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow email/password user authentication."
          }
        },
        "mfaConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "traits": {
            "smithy.api#documentation": "The tenant-level configuration of MFA options."
          }
        },
        "passwordPolicyConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "traits": {
            "smithy.api#documentation": "The tenant-level password policy config"
          }
        },
        "recaptchaConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "traits": {
            "smithy.api#documentation": "The tenant-level reCAPTCHA config."
          }
        },
        "enableAnonymousUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable anonymous user authentication."
          }
        },
        "testPhoneNumbers": {
          "target": "com.gcp.identitytoolkit_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded)."
          }
        },
        "enableEmailLinkSignin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable email link user authentication."
          }
        },
        "disableAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users."
          }
        },
        "smsRegionConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "traits": {
            "smithy.api#documentation": "Configures which regions are enabled for SMS verification code sending."
          }
        },
        "autodeleteAnonymousUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous users will be auto-deleted after a period of 30 days."
          }
        },
        "inheritance": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Inheritance",
          "traits": {
            "smithy.api#documentation": "Specify the settings that the tenant could inherit."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\""
          }
        },
        "monitoring": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to monitoring project activity."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the tenant."
          }
        },
        "emailPrivacyConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for settings related to email privacy and public visibility."
          }
        },
        "mobileLinksConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android)."
          }
        },
        "hashConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Tenant contains configuration for the tenant in a multi-tenant project."
      }
    },
    "com.gcp.identitytoolkit_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether MultiFactor Authentication has been enabled for this project."
          }
        },
        "enabledProviders": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigEnabledProvidersItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of usable second factors for this project."
          }
        },
        "providerConfigs": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfigList",
          "traits": {
            "smithy.api#documentation": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options related to MultiFactor Authentication for the project."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "MANDATORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANDATORY"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigEnabledProvidersItemEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "PHONE_SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_SMS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigEnabledProvidersItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfigEnabledProvidersItemEnum"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleTypeExpr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
          }
        },
        "mfaEnrollmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MFA enrollment ID from the user's list of current MFA enrollments."
          }
        },
        "phoneVerificationInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
          "traits": {
            "smithy.api#documentation": "Proof of completion of the SMS based MFA challenge."
          }
        },
        "mfaPendingCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Pending credential from first factor sign-in."
          }
        },
        "totpVerificationInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
          "traits": {
            "smithy.api#documentation": "Proof of completion of the TOTP based MFA challenge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Finalizes sign-in by verifying MFA challenge."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "type": "structure",
      "members": {
        "useSmsTollFraudProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider."
          }
        },
        "recaptchaKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers."
          }
        },
        "useSmsBotScore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the rCE bot score for reCAPTCHA phone provider."
          }
        },
        "recaptchaEnforcementState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateList",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for reCAPTCHA"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "type": "structure",
      "members": {
        "phoneAuthInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "traits": {
            "smithy.api#documentation": "Auxiliary auth info specific to phone auth."
          }
        },
        "totpAuthInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
          "traits": {
            "smithy.api#documentation": "Auxiliary auth info specific to TOTP auth."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID token updated to reflect MFA enrollment."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token updated to reflect MFA enrollment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FinalizeMfaEnrollment response."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "type": "structure",
      "members": {
        "disallowedRegions": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The template to use when sending an SMS."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "type": "structure",
      "members": {
        "method": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SendEmailMethodEnum",
          "traits": {
            "smithy.api#documentation": "The method used for sending an email."
          }
        },
        "changeEmailTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for change email"
          }
        },
        "legacyResetPasswordTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Reset password email template for legacy Firebase V1 app."
          }
        },
        "revertSecondFactorAdditionTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for reverting second factor addition emails"
          }
        },
        "callbackUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "action url in email template."
          }
        },
        "smtp": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Smtp",
          "traits": {
            "smithy.api#documentation": "Use a custom SMTP relay"
          }
        },
        "resetPasswordTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for reset password"
          }
        },
        "verifyEmailTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for verify email"
          }
        },
        "dnsInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DnsInfo",
          "traits": {
            "smithy.api#documentation": "Information of custom domain DNS verification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for email sending."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SendEmailMethodEnum": {
      "type": "enum",
      "members": {
        "METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "CUSTOM_SMTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_SMTP"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "type": "structure",
      "members": {
        "allowedRegions": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a policy of only allowing regions by explicitly adding them to an allowlist."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "type": "structure",
      "members": {
        "allowByDefault": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "traits": {
            "smithy.api#documentation": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
          }
        },
        "allowlistOnly": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
          "traits": {
            "smithy.api#documentation": "A policy of only allowing regions by explicitly adding them to an allowlist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "type": "structure",
      "members": {
        "domainVerificationRequestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp of initial request for the current domain verification."
          }
        },
        "pendingCustomDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The custom domain that's to be verified."
          }
        },
        "useCustomDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use custom domain."
          }
        },
        "customDomainState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DnsInfoCustomDomainStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful."
          }
        },
        "customDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The applied verified custom domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DnsInfoCustomDomainStateEnum": {
      "type": "enum",
      "members": {
        "VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for enrollment. Phone number to be enrolled as MFA."
          }
        },
        "iosReceipt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iOS only. Receipt of successful app token validation with APNS."
          }
        },
        "iosSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iOS only. Secret delivered to iOS app via APNS."
          }
        },
        "captchaResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled."
          }
        },
        "clientType": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfoClientTypeEnum",
          "traits": {
            "smithy.api#documentation": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled."
          }
        },
        "recaptchaToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Web only. Recaptcha solution."
          }
        },
        "autoRetrievalInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
          "traits": {
            "smithy.api#documentation": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
          }
        },
        "playIntegrityToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
          }
        },
        "safetyNetToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
          }
        },
        "recaptchaVersion": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfoRecaptchaVersionEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App Verification info for a StartMfa request."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfoClientTypeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_WEB"
          }
        },
        "CLIENT_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_ANDROID"
          }
        },
        "CLIENT_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_IOS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfoRecaptchaVersionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_VERSION_UNSPECIFIED"
          }
        },
        "RECAPTCHA_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "type": "structure",
      "members": {
        "phoneSessionInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
          "traits": {
            "smithy.api#documentation": "Verification info to authorize sending an SMS for phone verification."
          }
        },
        "totpSessionInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
          "traits": {
            "smithy.api#documentation": "Enrollment response info specific to TOTP auth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StartMfaEnrollment response."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP relay host"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP relay password"
          }
        },
        "senderEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender email for the SMTP relay"
          }
        },
        "securityMode": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmtpSecurityModeEnum",
          "traits": {
            "smithy.api#documentation": "SMTP security mode."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SMTP relay port"
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMTP relay username"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for SMTP relay"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmtpSecurityModeEnum": {
      "type": "enum",
      "members": {
        "SECURITY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_MODE_UNSPECIFIED"
          }
        },
        "SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL"
          }
        },
        "START_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_TLS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "type": "structure",
      "members": {
        "totpProviderConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
          "traits": {
            "smithy.api#documentation": "TOTP MFA provider config for this project."
          }
        },
        "state": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Describes the state of the MultiFactor Authentication type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProviderConfig describes the supported MFA providers along with their configurations."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ProviderConfigStateEnum": {
      "type": "enum",
      "members": {
        "MFA_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA_STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "MANDATORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANDATORY"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "structure",
      "members": {
        "disabledUserSignup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
          }
        },
        "disabledUserDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, end users cannot delete their account on the associated project through any of our API methods"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration related to restricting a user's ability to affect their account."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User's ID token."
          }
        },
        "totpEnrollmentInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
          "traits": {
            "smithy.api#documentation": "Sign-in info specific to TOTP auth."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
          }
        },
        "phoneEnrollmentInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "traits": {
            "smithy.api#documentation": "Verification info to authorize sending an SMS for phone verification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sends MFA enrollment verification SMS for a user."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "structure",
      "members": {
        "codeFlowConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
          "traits": {
            "smithy.api#documentation": "Additional config for Apple for code flow."
          }
        },
        "bundleIds": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Bundle ID's usable by this project"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional config for SignInWithApple."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for RevokeToken. Empty for now."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "type": "structure",
      "members": {
        "smsTemplate": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
          "traits": {
            "smithy.api#documentation": "Output only. The template to use when sending an SMS."
          }
        },
        "useDeviceLocale": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the accept_language header for SMS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for SMS sending."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous user auth is enabled for the project or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options related to authenticating an anonymous user."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "type": "structure",
      "members": {
        "containsUppercaseCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain an upper case character."
          }
        },
        "minPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum password length. Range from 6 to 30"
          }
        },
        "containsNonAlphanumericCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a non alpha numeric character."
          }
        },
        "maxPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum password length. No default max length"
          }
        },
        "containsLowercaseCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a lower case character."
          }
        },
        "containsNumericCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom strength options to enforce on user passwords."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "type": "structure",
      "members": {
        "idpId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id the of Idp"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the Idp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard Identity Toolkit-trusted IDPs."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "type": "structure",
      "members": {
        "callbackUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Callback URI where responses from IDP are handled."
          }
        },
        "spCertificates": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpCertificateList",
          "traits": {
            "smithy.api#documentation": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow."
          }
        },
        "spEntityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for all SAML entities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpCertificate"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Config": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to quotas."
          }
        },
        "recaptchaConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "traits": {
            "smithy.api#documentation": "The project-level reCAPTCHA config."
          }
        },
        "notification": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to sending notifications to users."
          }
        },
        "signIn": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SignInConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to local sign in methods."
          }
        },
        "multiTenant": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to multi-tenant functionality."
          }
        },
        "passwordPolicyConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "traits": {
            "smithy.api#documentation": "The project level password policy configuration."
          }
        },
        "blockingFunctions": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to blocking functions."
          }
        },
        "client": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ClientConfig",
          "traits": {
            "smithy.api#documentation": "Options related to how clients making requests on behalf of a project should be configured."
          }
        },
        "subtype": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ConfigSubtypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The subtype of this config."
          }
        },
        "defaultHostingSite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Default Firebase hosting site name"
          }
        },
        "mobileLinksConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for settings related to univeral links (iOS) and app links (Android)."
          }
        },
        "emailPrivacyConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for settings related to email privacy and public visibility."
          }
        },
        "mfa": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\""
          }
        },
        "monitoring": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "traits": {
            "smithy.api#documentation": "Configuration related to monitoring project activity."
          }
        },
        "authorizedDomains": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of domains authorized for OAuth redirects"
          }
        },
        "autodeleteAnonymousUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous users will be auto-deleted after a period of 30 days."
          }
        },
        "smsRegionConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "traits": {
            "smithy.api#documentation": "Configures which regions are enabled for SMS verification code sending."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Identity Toolkit project."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ConfigSubtypeEnum": {
      "type": "enum",
      "members": {
        "SUBTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTYPE_UNSPECIFIED"
          }
        },
        "IDENTITY_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PLATFORM"
          }
        },
        "FIREBASE_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREBASE_AUTH"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Apple Developer Team ID."
          }
        },
        "keyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key ID for the private key."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private key used for signing the client secret JWT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional config for Apple for code flow."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "type": "structure",
      "members": {
        "idpConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpConfig",
          "traits": {
            "smithy.api#documentation": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The config's display name set by developers."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
          }
        },
        "spConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpConfig",
          "traits": {
            "smithy.api#documentation": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if allows the user to sign in with the provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pair of SAML RP-IDP configurations when the project acts as the relying party."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "type": "structure",
      "members": {
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE."
          }
        },
        "tokenType": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RevokeTokenRequestTokenTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the token to be revoked."
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\"."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RevokeToken."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2RevokeTokenRequestTokenTypeEnum": {
      "type": "enum",
      "members": {
        "TOKEN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_TYPE_UNSPECIFIED"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFRESH_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        },
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "type": "structure",
      "members": {
        "verificationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-entered verification code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TOTP verification info for FinalizeMfaSignInRequest."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "type": "structure",
      "members": {
        "inboundSamlConfigs": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2InboundSamlConfigList",
          "traits": {
            "smithy.api#documentation": "The set of configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListInboundSamlConfigs"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2InboundSamlConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "type": "structure",
      "members": {
        "appSignatureHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Android app's signature hash for Google Play Service's SMS Retriever API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information required to auto-retrieve an SMS."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Mfa request info specific to TOTP auth for StartMfa."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "type": "structure",
      "members": {
        "signUpQuotaConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "traits": {
            "smithy.api#documentation": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration related to quotas."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "type": "structure",
      "members": {
        "x509Certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Self-signed public certificate."
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the cert expiration instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logging is enabled for this project or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for logging requests made to this project to Stackdriver Logging"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "type": "structure",
      "members": {
        "defaultSupportedIdps": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpList",
          "traits": {
            "smithy.api#documentation": "The set of configs."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListDefaultSupportedIdps"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "type": "structure",
      "members": {
        "forceUpgradeOnSignin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Users must have a password compliant with the password policy to sign-in."
          }
        },
        "schemaVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. schema version number for the password policy"
          }
        },
        "allowedNonAlphanumericCharacters": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
          }
        },
        "customStrengthOptions": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
          "traits": {
            "smithy.api#documentation": "The custom strength options enforced by the password policy."
          }
        },
        "enforcementState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2PasswordPolicyEnforcementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Which enforcement mode to use for the password policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for password policy."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2PasswordPolicyEnforcementStateEnum": {
      "type": "enum",
      "members": {
        "ENFORCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCEMENT_STATE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "type": "structure",
      "members": {
        "tenants": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2TenantList",
          "traits": {
            "smithy.api#documentation": "A list of tenants under the given agent project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListTenants."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2TenantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2Tenant"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "structure",
      "members": {
        "schemaVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. schema version number for the password policy"
          }
        },
        "customStrengthOptions": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
          "traits": {
            "smithy.api#documentation": "The custom strength options enforced by the password policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The strength attributes for the password policy on the project."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "type": "structure",
      "members": {
        "sessionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that represents the enrollment session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Phone Verification info for a StartMfa response."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "type": "structure",
      "members": {
        "containsUppercaseCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain an upper case character."
          }
        },
        "minPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum password length. Range from 6 to 30"
          }
        },
        "containsNonAlphanumericCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a non alpha numeric character."
          }
        },
        "maxPasswordLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum password length. No default max length"
          }
        },
        "containsLowercaseCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a lower case character."
          }
        },
        "containsNumericCharacter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The password must contain a number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom strength options to enforce on user passwords."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "type": "structure",
      "members": {
        "appleSignInConfig": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
          "traits": {
            "smithy.api#documentation": "Additional config for Apple-based projects."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if allows the user to sign in with the provider."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client secret."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "type": "structure",
      "members": {
        "idpEntityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for all SAML entities."
          }
        },
        "idpCertificates": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpCertificateList",
          "traits": {
            "smithy.api#documentation": "IDP's public keys for verifying signature in the assertions."
          }
        },
        "ssoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to send Authentication request to."
          }
        },
        "signRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if outbounding SAMLRequest should be signed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "type": "structure",
      "members": {
        "startScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms."
          }
        },
        "action": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRuleActionEnum",
          "traits": {
            "smithy.api#documentation": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRuleActionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ACTION_UNSPECIFIED"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corresponds to the 'refill_token_count' field in QuotaServer config"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this quota will take effect"
          }
        },
        "quotaDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How long this quota will be active for"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Temporary quota increase / decrease"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
          "traits": {
            "smithy.api#documentation": "Configuration related to restricting a user's ability to affect their account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options related to how clients making requests on behalf of a tenant should be configured."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Mfa response info specific to TOTP auth for FinalizeMfa."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "type": "structure",
      "members": {
        "recaptchaKeys": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKeyList",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA keys."
          }
        },
        "phoneEnforcementState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfigPhoneEnforcementStateEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA."
          }
        },
        "managedRules": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRuleList",
          "traits": {
            "smithy.api#documentation": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project."
          }
        },
        "tollFraudManagedRules": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRuleList",
          "traits": {
            "smithy.api#documentation": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true."
          }
        },
        "useSmsBotScore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE."
          }
        },
        "useAccountDefender": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`."
          }
        },
        "emailPasswordEnforcementState": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfigEmailPasswordEnforcementStateEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA."
          }
        },
        "useSmsTollFraudProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reCAPTCHA Enterprise integration config."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfigPhoneEnforcementStateEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIT"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaConfigEmailPasswordEnforcementStateEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIT"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.identitytoolkit_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "type": "structure",
      "members": {
        "sessionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that represents the enrollment session."
          }
        },
        "verificationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-entered verification code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mfa request info specific to TOTP auth for FinalizeMfa."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRuleActionEnum",
          "traits": {
            "smithy.api#documentation": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
          }
        },
        "endScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRuleActionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ACTION_UNSPECIFIED"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "type": "structure",
      "members": {
        "phoneResponseInfo": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
          "traits": {
            "smithy.api#documentation": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StartMfaSignIn response."
      }
    },
    "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "com.gcp.identitytoolkit_v2#GoogleCloudIdentitytoolkitAdminV2HashConfigAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Different password hash algorithms used in Identity Toolkit."
          }
        },
        "signerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Signer key in base64."
          }
        },
        "memoryCost": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
