{
  "smithy": "2.0",
  "metadata": {
    "service": "identitytoolkit",
    "version": "v1",
    "title": "Identity Toolkit API",
    "baseUrl": "https://identitytoolkit.googleapis.com/"
  },
  "shapes": {
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "type": "structure",
      "members": {
        "sessionCookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CreateSessionCookie."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "type": "structure",
      "members": {
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
          }
        },
        "targetProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DeleteAccount."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`."
          }
        },
        "localIds": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of user IDs to be deleted."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchDeleteAccounts."
      }
    },
    "com.gcp.identitytoolkit_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "type": "structure",
      "members": {
        "totpInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1TotpInfo",
          "traits": {
            "smithy.api#documentation": "Contains information specific to TOTP MFA."
          }
        },
        "mfaEnrollmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this MFA option."
          }
        },
        "unobfuscatedPhoneInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unobfuscated phone_info."
          }
        },
        "phoneInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this mfa option e.g. \"corp cell phone\"."
          }
        },
        "enrolledAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the account enrolled this second factor."
          }
        },
        "emailInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailInfo",
          "traits": {
            "smithy.api#documentation": "Contains information specific to email MFA."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information on which multi-factor authentication (MFA) providers are enabled for an account."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "type": "structure",
      "members": {
        "oobCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method."
          }
        },
        "newPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET."
          }
        },
        "oldPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ResetPassword."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the item, range is [0, request.size - 1]"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information explaining why an account cannot be uploaded. batch upload."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "type": "structure",
      "members": {
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "mfaInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaFactorList",
          "traits": {
            "smithy.api#documentation": "The multi-factor authentication providers for the user to create."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project."
          }
        },
        "clientType": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpRequestClientTypeEnum",
          "traits": {
            "smithy.api#documentation": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection."
          }
        },
        "instanceId": {
          "target": "smithy.api#String"
        },
        "recaptchaVersion": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpRequestRecaptchaVersionEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The profile photo url of the user to create."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the user to be created."
          }
        },
        "emailVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "targetProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
          }
        },
        "captchaChallenge": {
          "target": "smithy.api#String"
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "captchaResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SignUp."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaFactorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaFactor"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpRequestClientTypeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_WEB"
          }
        },
        "CLIENT_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_ANDROID"
          }
        },
        "CLIENT_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_IOS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpRequestRecaptchaVersionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_VERSION_UNSPECIFIED"
          }
        },
        "RECAPTCHA_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform ID token for the created user. This field is only set for non-admin requests."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the created user. Always present in the response."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The created user's email."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The created user's display name."
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the ID token expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SignUp."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SqlExpression": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query conditions used to filter results."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailInfo": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address that a MFA verification should be sent to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about email MFA."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name of the user."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name of the user."
          }
        },
        "samlResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed SAMLResponse created for the Relying Party."
          }
        },
        "acsEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ACS endpoint which consumes the returned SAMLResponse."
          }
        },
        "relayState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated RelayState."
          }
        },
        "isNewUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the logged in user was created by this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for IssueSamlResponse request."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DeleteAccount."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "type": "structure",
      "members": {
        "recaptchaStoken": {
          "target": "smithy.api#String"
        },
        "recaptchaSiteKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present."
          }
        },
        "producerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The producer project number used to generate PIA tokens"
          }
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetRecaptchaParam."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "type": "structure",
      "members": {
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform refresh token for the authenticated user."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the authenticated user. Always present in the response."
          }
        },
        "playerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the authenticated user."
          }
        },
        "teamPlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
          }
        },
        "gamePlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform ID token for the authenticated user."
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the ID token expires."
          }
        },
        "isNewUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the logged in user was created by this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SignInWithGameCenter"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "structure",
      "members": {
        "receipt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receipt of successful app token validation."
          }
        },
        "suggestedTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suggested time that the client should wait in seconds for delivery of the push notification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for VerifyIosClient."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "type": "structure",
      "members": {
        "revertSecondFactorAdditionTemplate": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project id of the retrieved configuration."
          }
        },
        "idpConfig": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1IdpConfigList",
          "traits": {
            "smithy.api#documentation": "OAuth2 provider config. This field is only returned for authenticated calls from a developer."
          }
        },
        "authorizedDomains": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Authorized domains for widget redirect."
          }
        },
        "legacyResetPasswordTemplate": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer."
          }
        },
        "useEmailSending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use email sending. This field is only returned for authenticated calls from a developer."
          }
        },
        "changeEmailTemplate": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for change email. This field is only returned for authenticated calls from a developer."
          }
        },
        "dynamicLinksDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Firebase Dynamic Links domain used to construct links for redirects to native apps."
          }
        },
        "enableAnonymousUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer."
          }
        },
        "resetPasswordTemplate": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for reset password. This field is only returned for authenticated calls from a developer."
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud API key. This field is only returned for authenticated calls from a developer."
          }
        },
        "allowPasswordUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer."
          }
        },
        "verifyEmailTemplate": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1EmailTemplate",
          "traits": {
            "smithy.api#documentation": "Email template for verify email. This field is only returned for authenticated calls from a developer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetProjectConfig."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1IdpConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1IdpConfig"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "type": "structure",
      "members": {
        "newEmail": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email associated with the out-of-band code that was used."
          }
        },
        "mfaInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "requestType": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ResetPasswordResponseRequestTypeEnum"
        },
        "kind": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ResetPassword."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ResetPasswordResponseRequestTypeEnum": {
      "type": "enum",
      "members": {
        "OOB_REQ_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OOB_REQ_TYPE_UNSPECIFIED"
          }
        },
        "PASSWORD_RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_RESET"
          }
        },
        "OLD_EMAIL_AGREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OLD_EMAIL_AGREE"
          }
        },
        "NEW_EMAIL_ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_EMAIL_ACCEPT"
          }
        },
        "VERIFY_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_EMAIL"
          }
        },
        "RECOVER_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVER_EMAIL"
          }
        },
        "EMAIL_SIGNIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_SIGNIN"
          }
        },
        "VERIFY_AND_CHANGE_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_AND_CHANGE_EMAIL"
          }
        },
        "REVERT_SECOND_FACTOR_ADDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERT_SECOND_FACTOR_ADDITION"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfoList",
          "traits": {
            "smithy.api#documentation": "Detailed error info for accounts that cannot be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message to BatchDeleteAccounts."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "type": "structure",
      "members": {
        "parallelization": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
          }
        },
        "blockSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
          }
        },
        "dkLen": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1."
          }
        },
        "sanityCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
          }
        },
        "signerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512"
          }
        },
        "users": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserInfoList",
          "traits": {
            "smithy.api#documentation": "A list of accounts to upload. `local_id` is required for each user; everything else is optional."
          }
        },
        "allowOverwrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
          }
        },
        "argon2Parameters": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1Argon2Parameters",
          "traits": {
            "smithy.api#documentation": "The parameters for Argon2 hashing algorithm."
          }
        },
        "passwordHashOrder": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UploadAccountRequestPasswordHashOrderEnum"
        },
        "memoryCost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT."
          }
        },
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the account belongs to."
          }
        },
        "rounds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT"
          }
        },
        "hashAlgorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2"
          }
        },
        "saltSeparator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
          }
        },
        "cpuMemCost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UploadAccount."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserInfo"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UploadAccountRequestPasswordHashOrderEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_ORDER"
          }
        },
        "SALT_AND_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALT_AND_PASSWORD"
          }
        },
        "PASSWORD_AND_SALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_AND_SALT"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "type": "structure",
      "members": {
        "oauthExpireIn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The access token expiration time in seconds."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the authenticated user. Always present in the response."
          }
        },
        "mfaInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform refresh token for the authenticated user."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the Identity Platform ID token expires."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform ID token for the authenticated user."
          }
        },
        "oauthAccessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth2 access token."
          }
        },
        "userNotifications": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserNotificationList",
          "traits": {
            "smithy.api#documentation": "Warning notifications for the user."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name stored in the account's attributes."
          }
        },
        "oauthAuthorizationCode": {
          "target": "smithy.api#String"
        },
        "registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the email is for an existing account. Always true."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the authenticated user. Always present in the response."
          }
        },
        "profilePicture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's profile picture stored in the account's attributes."
          }
        },
        "mfaPendingCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SignInWithPassword."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollment"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserNotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserNotification"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If return_oob_link is false in the request, the email address the verification was sent to."
          }
        },
        "oobLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "oobCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If return_oob_link is true in the request, the OOB code to send."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetOobCode."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaFactor": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this mfa option e.g. \"corp cell phone\"."
          }
        },
        "phoneInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number to receive OTP for MFA."
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "type": "structure",
      "members": {
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "postBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
          }
        },
        "requestUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential."
          }
        },
        "pendingIdToken": {
          "target": "smithy.api#String"
        },
        "returnIdpCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`."
          }
        },
        "pendingToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking."
          }
        },
        "returnSecureToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should always be true."
          }
        },
        "returnRefreshToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to return the OAuth refresh token from the IdP, if available."
          }
        },
        "autoCreate": {
          "target": "smithy.api#Boolean"
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SignInWithIdp."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "type": "structure",
      "members": {
        "validDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A valid Identity Platform ID token."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the Identity Platform tenant the account belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CreateSessionCookie."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "type": "structure",
      "members": {
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`."
          }
        },
        "rawId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID of the account at the third-party Identity Provider specified by `provider_id`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Federated user identifier at an Identity Provider."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "type": "structure",
      "members": {
        "sessionInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SendVerificationCode."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
          }
        },
        "returnSecureToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should always be true."
          }
        },
        "captchaChallenge": {
          "target": "smithy.api#String"
        },
        "idToken": {
          "target": "smithy.api#String"
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
          }
        },
        "clientType": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordRequestClientTypeEnum",
          "traits": {
            "smithy.api#documentation": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled."
          }
        },
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "captchaResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The password the user provides to sign in to the account."
          }
        },
        "pendingIdToken": {
          "target": "smithy.api#String"
        },
        "instanceId": {
          "target": "smithy.api#String"
        },
        "recaptchaVersion": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordRequestRecaptchaVersionEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SignInWithPassword."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordRequestClientTypeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_WEB"
          }
        },
        "CLIENT_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_ANDROID"
          }
        },
        "CLIENT_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_IOS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithPasswordRequestRecaptchaVersionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_VERSION_UNSPECIFIED"
          }
        },
        "RECAPTCHA_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "type": "structure",
      "members": {
        "appToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
          }
        },
        "isSandbox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for VerifyIosClient"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "type": "structure",
      "members": {
        "newEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
          }
        },
        "returnOobLink": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)"
          }
        },
        "challenge": {
          "target": "smithy.api#String"
        },
        "userIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the caller. Required only for PASSWORD_RESET requests."
          }
        },
        "androidInstallApp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
          }
        },
        "dynamicLinkDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
          }
        },
        "androidPackageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed."
          }
        },
        "targetProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "linkDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
          }
        },
        "iOSAppStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed."
          }
        },
        "continueUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code."
          }
        },
        "androidMinimumVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
          }
        },
        "canHandleCodeInApp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
          }
        },
        "requestType": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL"
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the Identity Platform tenant the account belongs to."
          }
        },
        "clientType": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestClientTypeEnum",
          "traits": {
            "smithy.api#documentation": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled."
          }
        },
        "iOSBundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
          }
        },
        "captchaResp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller."
          }
        },
        "recaptchaVersion": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestRecaptchaVersionEnum",
          "traits": {
            "smithy.api#documentation": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for GetOobCode."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestRequestTypeEnum": {
      "type": "enum",
      "members": {
        "OOB_REQ_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OOB_REQ_TYPE_UNSPECIFIED"
          }
        },
        "PASSWORD_RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD_RESET"
          }
        },
        "OLD_EMAIL_AGREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OLD_EMAIL_AGREE"
          }
        },
        "NEW_EMAIL_ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_EMAIL_ACCEPT"
          }
        },
        "VERIFY_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_EMAIL"
          }
        },
        "RECOVER_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVER_EMAIL"
          }
        },
        "EMAIL_SIGNIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_SIGNIN"
          }
        },
        "VERIFY_AND_CHANGE_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_AND_CHANGE_EMAIL"
          }
        },
        "REVERT_SECOND_FACTOR_ADDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERT_SECOND_FACTOR_ADDITION"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestClientTypeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_TYPE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_WEB"
          }
        },
        "CLIENT_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_ANDROID"
          }
        },
        "CLIENT_TYPE_IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_TYPE_IOS"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1GetOobCodeRequestRecaptchaVersionEnum": {
      "type": "enum",
      "members": {
        "RECAPTCHA_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_VERSION_UNSPECIFIED"
          }
        },
        "RECAPTCHA_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECAPTCHA_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "type": "structure",
      "members": {
        "inputEmail": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "originalEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the authenticated Identity Platform user. Always present in the response."
          }
        },
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
          }
        },
        "pendingToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
          }
        },
        "oauthExpireIn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the OAuth access token from the IdP expires."
          }
        },
        "oauthTokenSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name for the user's account at the IdP."
          }
        },
        "oauthIdToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OpenID Connect ID token from the IdP, if available."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
          }
        },
        "mfaPendingCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone for the user's account at the IdP."
          }
        },
        "emailRecycled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user's account at the IdP."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the user's account at the IdP."
          }
        },
        "oauthAuthorizationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
          }
        },
        "oauthRefreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
          }
        },
        "verifiedProvider": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform ID token for the authenticated user."
          }
        },
        "oauthAccessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth access token from the IdP, if available."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the `tenant_id` field in the request."
          }
        },
        "dateOfBirth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of birth for the user's account at the IdP."
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the Identity Platform ID token expires."
          }
        },
        "rawUserInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
          }
        },
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform refresh token for the authenticated user."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language preference for the user's account at the IdP."
          }
        },
        "needConfirmation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled."
          }
        },
        "mfaInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
          }
        },
        "nickName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The nickname for the user's account at the IdP."
          }
        },
        "screenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP."
          }
        },
        "needEmail": {
          "target": "smithy.api#Boolean"
        },
        "isNewUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a new Identity Platform account was created for the authenticated user."
          }
        },
        "federatedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's account ID at the IdP. Always present in the response."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the user's profile picture at the IdP."
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider ID of the IdP that the user is signing in to. Always present in the response."
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name for the user's account at the IdP."
          }
        },
        "emailVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user account's email address is verified."
          }
        },
        "fullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name for the user's account at the IdP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SignInWithIdp."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "type": "structure",
      "members": {
        "gamePlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time when the signature was created by Apple, in milliseconds since the epoch."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to."
          }
        },
        "playerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The verification signature data generated by Apple."
          }
        },
        "publicKeyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center display name."
          }
        },
        "teamPlayerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
          }
        },
        "salt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A random string used to generate the given signature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SignInWithGameCenter"
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "type": "structure",
      "members": {
        "e": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
          }
        },
        "n": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
          }
        },
        "kty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key type."
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signature algorithm."
          }
        },
        "use": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key use."
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique string to identify this key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517)."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address at the Identity Provider."
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Provider."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's phone number at the Identity Provider."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's profile photo URL at the Identity Provider."
          }
        },
        "screenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's screen_name at Twitter or login name at GitHub."
          }
        },
        "federatedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's identifier at the Identity Provider."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name at the Identity Provider."
          }
        },
        "rawId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's raw identifier directly returned from Identity Provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the user as provided by various Identity Providers."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "users": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1UserInfoList",
          "traits": {
            "smithy.api#documentation": "All accounts belonging to the project/tenant limited by max_results in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DownloadAccount."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String"
        },
        "returnSecureToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should always be true."
          }
        },
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SignInWithCustomToken."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "type": "structure",
      "members": {
        "refreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token for the authenticated user."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email the user signed in with. Always present in the response."
          }
        },
        "mfaInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaEnrollmentList",
          "traits": {
            "smithy.api#documentation": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the authenticated user. Always present in the response."
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds until the ID token expires."
          }
        },
        "mfaPendingCredential": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string that functions as proof that the user has successfully passed the first factor check."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "isNewUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the authenticated user was created by this request."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An Identity Platform ID token for the authenticated user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SignInWithEmailLink."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "type": "structure",
      "members": {
        "captchaRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request."
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks."
          }
        },
        "signinMethods": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list."
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider ID from the request, if provided."
          }
        },
        "authUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization URI for the requested provider. Present only when a provider ID is set in the request."
          }
        },
        "allProviders": {
          "target": "com.gcp.identitytoolkit_v1#StringList"
        },
        "registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request."
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "forExistingProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CreateAuthUri."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "type": "structure",
      "members": {
        "appSignatureHash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Android app's signature hash for Google Play Service's SMS Retriever API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information required to auto-retrieve an SMS."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "structure",
      "members": {
        "validSince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
          }
        },
        "delegatedProjectNumber": {
          "target": "smithy.api#String"
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid Identity Platform ID token. Required when attempting to change user-related information."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
          }
        },
        "oobCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
          }
        },
        "lastLoginAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp in milliseconds when the account last logged in."
          }
        },
        "deleteAttribute": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SetAccountInfoRequestDeleteAttributeItemEnumList"
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
          }
        },
        "disableUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in."
          }
        },
        "captchaChallenge": {
          "target": "smithy.api#String"
        },
        "customAttributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "provider": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Identity Providers that the account should be associated with."
          }
        },
        "emailVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters."
          }
        },
        "linkProviderUserInfo": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1ProviderUserInfo",
          "traits": {
            "smithy.api#documentation": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "instanceId": {
          "target": "smithy.api#String"
        },
        "deleteProvider": {
          "target": "com.gcp.identitytoolkit_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Identity Providers to unlink from the user's account."
          }
        },
        "localId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
          }
        },
        "upgradeToFederatedLogin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account should be restricted to only using federated login."
          }
        },
        "captchaResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities."
          }
        },
        "mfa": {
          "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1MfaInfo",
          "traits": {
            "smithy.api#documentation": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number to be updated in the account's attributes."
          }
        },
        "targetProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
          }
        },
        "returnSecureToken": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to return an ID and refresh token. Should always be true."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp in milliseconds when the account was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SetAccountInfo."
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SetAccountInfoRequestDeleteAttributeItemEnum": {
      "type": "enum",
      "members": {
        "USER_ATTRIBUTE_NAME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ATTRIBUTE_NAME_UNSPECIFIED"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL"
          }
        },
        "DISPLAY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_NAME"
          }
        },
        "PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER"
          }
        },
        "PHOTO_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTO_URL"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        },
        "RAW_USER_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW_USER_INFO"
          }
        }
      }
    },
    "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SetAccountInfoRequestDeleteAttributeItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.identitytoolkit_v1#GoogleCloudIdentitytoolkitV1SetAccountInfoRequestDeleteAttributeItemEnum"
      }
[...]
