{
  "smithy": "2.0",
  "metadata": {
    "service": "jobs",
    "version": "v3",
    "title": "Cloud Talent Solution API",
    "baseUrl": "https://jobs.googleapis.com/"
  },
  "shapes": {
    "com.gcp.jobs_v3#SpellingCorrection": {
      "type": "structure",
      "members": {
        "corrected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the query was corrected by the spell checker."
          }
        },
        "correctedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Correction output consisting of the corrected keyword string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Spell check result."
      }
    },
    "com.gcp.jobs_v3#CompensationFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.jobs_v3#CompensationFilterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of filter."
          }
        },
        "range": {
          "target": "com.gcp.jobs_v3#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation range."
          }
        },
        "units": {
          "target": "com.gcp.jobs_v3#CompensationFilterUnitsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Specify desired `base compensation entry's` CompensationInfo.CompensationUnit."
          }
        },
        "includeJobsWithUnspecifiedCompensationRange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, jobs with unspecified compensation range fields are included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Filter on job compensation type and amount."
      }
    },
    "com.gcp.jobs_v3#CompensationFilterTypeEnum": {
      "type": "enum",
      "members": {
        "FILTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_TYPE_UNSPECIFIED"
          }
        },
        "UNIT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_ONLY"
          }
        },
        "UNIT_AND_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_AND_AMOUNT"
          }
        },
        "ANNUALIZED_BASE_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE_AMOUNT"
          }
        },
        "ANNUALIZED_TOTAL_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL_AMOUNT"
          }
        }
      }
    },
    "com.gcp.jobs_v3#CompensationFilterUnitsItemEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_UNIT_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "OTHER_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3#CompensationFilterUnitsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CompensationFilterUnitsItemEnum"
      }
    },
    "com.gcp.jobs_v3#ListJobsResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.jobs_v3#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        },
        "jobs": {
          "target": "com.gcp.jobs_v3#JobList",
          "traits": {
            "smithy.api#documentation": "The Jobs for a given company. The maximum number of items returned is based on the limit field provided in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. List jobs response."
      }
    },
    "com.gcp.jobs_v3#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#Job"
      }
    },
    "com.gcp.jobs_v3#BucketRange": {
      "type": "structure",
      "members": {
        "to": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Ending value of the bucket range."
          }
        },
        "from": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Starting value of the bucket range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents starting and ending value of a range in double."
      }
    },
    "com.gcp.jobs_v3#CompleteQueryResponse": {
      "type": "structure",
      "members": {
        "completionResults": {
          "target": "com.gcp.jobs_v3#CompletionResultList",
          "traits": {
            "smithy.api#documentation": "Results of the matching job/company candidates."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Response of auto-complete query."
      }
    },
    "com.gcp.jobs_v3#CompletionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CompletionResult"
      }
    },
    "com.gcp.jobs_v3#HistogramFacets": {
      "type": "structure",
      "members": {
        "simpleHistogramFacets": {
          "target": "com.gcp.jobs_v3#HistogramFacetsSimpleHistogramFacetsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the simple type of histogram facets, for example, `COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc."
          }
        },
        "compensationHistogramFacets": {
          "target": "com.gcp.jobs_v3#CompensationHistogramRequestList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies compensation field-based histogram requests. Duplicate values of CompensationHistogramRequest.type are not allowed."
          }
        },
        "customAttributeHistogramFacets": {
          "target": "com.gcp.jobs_v3#CustomAttributeHistogramRequestList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the custom attributes histogram requests. Duplicate values of CustomAttributeHistogramRequest.key are not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Histogram facets to be specified in SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v3#HistogramFacetsSimpleHistogramFacetsItemEnum": {
      "type": "enum",
      "members": {
        "SEARCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TYPE_UNSPECIFIED"
          }
        },
        "COMPANY_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_ID"
          }
        },
        "EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPLOYMENT_TYPE"
          }
        },
        "COMPANY_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_SIZE"
          }
        },
        "DATE_PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_PUBLISHED"
          }
        },
        "EDUCATION_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION_LEVEL"
          }
        },
        "EXPERIENCE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIENCE_LEVEL"
          }
        },
        "ADMIN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY"
          }
        },
        "LOCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALE"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        },
        "CITY_COORDINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY_COORDINATE"
          }
        },
        "ADMIN_1_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1_COUNTRY"
          }
        },
        "COMPANY_DISPLAY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_DISPLAY_NAME"
          }
        },
        "BASE_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3#HistogramFacetsSimpleHistogramFacetsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#HistogramFacetsSimpleHistogramFacetsItemEnum"
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CompensationHistogramRequest"
      }
    },
    "com.gcp.jobs_v3#CustomAttributeHistogramRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CustomAttributeHistogramRequest"
      }
    },
    "com.gcp.jobs_v3#ListCompaniesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        },
        "companies": {
          "target": "com.gcp.jobs_v3#CompanyList",
          "traits": {
            "smithy.api#documentation": "Companies for the current client."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. The List companies response object."
      }
    },
    "com.gcp.jobs_v3#CompanyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#Company"
      }
    },
    "com.gcp.jobs_v3#MatchingJob": {
      "type": "structure",
      "members": {
        "jobSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A summary of the job with core information that's displayed on the search results listing page."
          }
        },
        "jobTitleSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.job_title field most closely matching a search query's keywords, if available. The matching query keywords are enclosed in HTML bold tags."
          }
        },
        "searchTextSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.description and similar fields that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags."
          }
        },
        "commuteInfo": {
          "target": "com.gcp.jobs_v3#CommuteInfo",
          "traits": {
            "smithy.api#documentation": "Commute information which is generated based on specified CommuteFilter."
          }
        },
        "job": {
          "target": "com.gcp.jobs_v3#Job",
          "traits": {
            "smithy.api#documentation": "Job resource that matches the specified SearchJobsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Job entry with metadata inside SearchJobsResponse."
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramRequest": {
      "type": "structure",
      "members": {
        "bucketingOption": {
          "target": "com.gcp.jobs_v3#NumericBucketingOption",
          "traits": {
            "smithy.api#documentation": "Required. Numeric histogram options, like buckets, whether include min or max value."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3#CompensationHistogramRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the request, representing which field the histogramming should be performed over. A single request can only specify one histogram of each `CompensationHistogramRequestType`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Compensation based histogram request."
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramRequestTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "ANNUALIZED_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE"
          }
        },
        "ANNUALIZED_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL"
          }
        }
      }
    },
    "com.gcp.jobs_v3#JobEvent": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The job name(s) associated with this event. For example, if this is an impression event, this field contains the identifiers of all jobs shown to the job seeker. If this was a view event, this field contains the identifier of the viewed job."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3#JobEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the event (see JobEventType)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event issued when a job seeker interacts with the application that implements Cloud Talent Solution."
      }
    },
    "com.gcp.jobs_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v3#JobEventTypeEnum": {
      "type": "enum",
      "members": {
        "JOB_EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_EVENT_TYPE_UNSPECIFIED"
          }
        },
        "IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        },
        "VIEW_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_REDIRECT"
          }
        },
        "APPLICATION_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_START"
          }
        },
        "APPLICATION_FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_FINISH"
          }
        },
        "APPLICATION_QUICK_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_QUICK_SUBMISSION"
          }
        },
        "APPLICATION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_REDIRECT"
          }
        },
        "APPLICATION_START_FROM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_START_FROM_SEARCH"
          }
        },
        "APPLICATION_REDIRECT_FROM_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_REDIRECT_FROM_SEARCH"
          }
        },
        "APPLICATION_COMPANY_SUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_COMPANY_SUBMIT"
          }
        },
        "BOOKMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKMARK"
          }
        },
        "NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION"
          }
        },
        "HIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIRED"
          }
        },
        "SENT_CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENT_CV"
          }
        },
        "INTERVIEW_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERVIEW_GRANTED"
          }
        },
        "NOT_INTERESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_INTERESTED"
          }
        }
      }
    },
    "com.gcp.jobs_v3#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.jobs_v3#NumericBucketingResult",
          "traits": {
            "smithy.api#documentation": "Histogram result."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3#CompensationHistogramResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the request, corresponding to CompensationHistogramRequest.type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Compensation based histogram result."
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "ANNUALIZED_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE"
          }
        },
        "ANNUALIZED_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL"
          }
        }
      }
    },
    "com.gcp.jobs_v3#JobDerivedInfo": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.jobs_v3#LocationList",
          "traits": {
            "smithy.api#documentation": "Structured locations of the job, resolved from Job.addresses. locations are exactly matched to Job.addresses in the same order."
          }
        },
        "jobCategories": {
          "target": "com.gcp.jobs_v3#JobDerivedInfoJobCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Job categories derived from Job.title and Job.description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Derived details about the job posting."
      }
    },
    "com.gcp.jobs_v3#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#Location"
      }
    },
    "com.gcp.jobs_v3#JobDerivedInfoJobCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "JOB_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_CATEGORY_UNSPECIFIED"
          }
        },
        "ACCOUNTING_AND_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNTING_AND_FINANCE"
          }
        },
        "ADMINISTRATIVE_AND_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE_AND_OFFICE"
          }
        },
        "ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISING_AND_MARKETING"
          }
        },
        "ANIMAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANIMAL_CARE"
          }
        },
        "ART_FASHION_AND_DESIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ART_FASHION_AND_DESIGN"
          }
        },
        "BUSINESS_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_OPERATIONS"
          }
        },
        "CLEANING_AND_FACILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANING_AND_FACILITIES"
          }
        },
        "COMPUTER_AND_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTER_AND_IT"
          }
        },
        "CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTRUCTION"
          }
        },
        "CUSTOMER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SERVICE"
          }
        },
        "EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION"
          }
        },
        "ENTERTAINMENT_AND_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERTAINMENT_AND_TRAVEL"
          }
        },
        "FARMING_AND_OUTDOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARMING_AND_OUTDOORS"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE"
          }
        },
        "HUMAN_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES"
          }
        },
        "INSTALLATION_MAINTENANCE_AND_REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_MAINTENANCE_AND_REPAIR"
          }
        },
        "LEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGAL"
          }
        },
        "MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT"
          }
        },
        "MANUFACTURING_AND_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUFACTURING_AND_WAREHOUSE"
          }
        },
        "MEDIA_COMMUNICATIONS_AND_WRITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_COMMUNICATIONS_AND_WRITING"
          }
        },
        "OIL_GAS_AND_MINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIL_GAS_AND_MINING"
          }
        },
        "PERSONAL_CARE_AND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_CARE_AND_SERVICES"
          }
        },
        "PROTECTIVE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTIVE_SERVICES"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_ESTATE"
          }
        },
        "RESTAURANT_AND_HOSPITALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTAURANT_AND_HOSPITALITY"
          }
        },
        "SALES_AND_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_AND_RETAIL"
          }
        },
        "SCIENCE_AND_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIENCE_AND_ENGINEERING"
          }
        },
        "SOCIAL_SERVICES_AND_NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SERVICES_AND_NON_PROFIT"
          }
        },
        "SPORTS_FITNESS_AND_RECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPORTS_FITNESS_AND_RECREATION"
          }
        },
        "TRANSPORTATION_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSPORTATION_AND_LOGISTICS"
          }
        }
      }
    },
    "com.gcp.jobs_v3#JobDerivedInfoJobCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#JobDerivedInfoJobCategoriesItemEnum"
      }
    },
    "com.gcp.jobs_v3#JobQuery": {
      "type": "structure",
      "members": {
        "languageCodes": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the locale of jobs to search against, for example, \"en-US\". If a value isn't specified, the search results can contain jobs in any locale. Language codes should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). At most 10 language code filters are allowed."
          }
        },
        "jobCategories": {
          "target": "com.gcp.jobs_v3#JobQueryJobCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The category filter specifies the categories of jobs to search against. See Category for more information. If a value is not specified, jobs from any category are searched against. If multiple values are specified, jobs from any of the specified categories are searched against."
          }
        },
        "companyNames": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the company entities to search against. If a value isn't specified, jobs are searched for against all companies. If multiple values are specified, jobs are searched against the companies specified. The format is \"projects/{project_id}/companies/{company_id}\", for example, \"projects/api-test-project/companies/foo\". At most 20 company filters are allowed."
          }
        },
        "compensationFilter": {
          "target": "com.gcp.jobs_v3#CompensationFilter",
          "traits": {
            "smithy.api#documentation": "Optional. This search filter is applied only to Job.compensation_info. For example, if the filter is specified as \"Hourly job with per-hour compensation > $15\", only jobs meeting these criteria are searched. If a filter isn't defined, all open jobs are searched."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The query string that matches against the job title, description, and location fields. The maximum number of allowed characters is 255."
          }
        },
        "locationFilters": {
          "target": "com.gcp.jobs_v3#LocationFilterList",
          "traits": {
            "smithy.api#documentation": "Optional. The location filter specifies geo-regions containing the jobs to search against. See LocationFilter for more information. If a location value isn't specified, jobs fitting the other search criteria are retrieved regardless of where they're located. If multiple values are specified, jobs are retrieved from any of the specified locations. If different values are specified for the LocationFilter.distance_in_miles parameter, the maximum provided distance is used for all locations. At most 5 location filters are allowed."
          }
        },
        "queryLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of query. For example, \"en-US\". This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate. Language code should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47)."
          }
        },
        "customAttributeFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies a structured syntax to match against the Job.custom_attributes marked as `filterable`. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is a custom field key and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. Supported functions are `LOWER([field_name])` to perform a case insensitive match and `EMPTY([field_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 10000 bytes in length. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10`"
          }
        },
        "commuteFilter": {
          "target": "com.gcp.jobs_v3#CommuteFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Allows filtering jobs by commute time with different travel methods (for example, driving or public transit). Note: This only works with COMMUTE MODE. When specified, [JobQuery.location_filters] is ignored. Currently we don't support sorting by commute time."
          }
        },
        "publishTimeRange": {
          "target": "com.gcp.jobs_v3#TimestampRange",
          "traits": {
            "smithy.api#documentation": "Optional. Jobs published within a range specified by this filter are searched against."
          }
        },
        "companyDisplayNames": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the company Company.display_name of the jobs to search against. The company name must match the value exactly. Alternatively, the value being searched for can be wrapped in different match operators. `SUBSTRING_MATCH([value])` The company name must contain a case insensitive substring match of the value. Using this function may increase latency. Sample Value: `SUBSTRING_MATCH(google)` `MULTI_WORD_TOKEN_MATCH([value])` The value will be treated as a multi word token and the company name must contain a case insensitive match of the value. Using this function may increase latency. Sample Value: `MULTI_WORD_TOKEN_MATCH(google)` If a value isn't specified, jobs within the search results are associated with any company. If multiple values are specified, jobs within the search results may be associated with any of the specified companies. At most 20 company display name filters are allowed."
          }
        },
        "disableSpellCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This flag controls the spell-check feature. If false, the service attempts to correct a misspelled query, for example, \"enginee\" is corrected to \"engineer\". Defaults to false: a spell check is performed."
          }
        },
        "employmentTypes": {
          "target": "com.gcp.jobs_v3#JobQueryEmploymentTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The employment type filter specifies the employment type of jobs to search against, such as EmploymentType.FULL_TIME. If a value is not specified, jobs in the search results includes any employment type. If multiple values are specified, jobs in the search results include any of the specified employment types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. The query required to perform a search query."
      }
    },
    "com.gcp.jobs_v3#JobQueryJobCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "JOB_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_CATEGORY_UNSPECIFIED"
          }
        },
        "ACCOUNTING_AND_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNTING_AND_FINANCE"
          }
        },
        "ADMINISTRATIVE_AND_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE_AND_OFFICE"
          }
        },
        "ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISING_AND_MARKETING"
          }
        },
        "ANIMAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANIMAL_CARE"
          }
        },
        "ART_FASHION_AND_DESIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ART_FASHION_AND_DESIGN"
          }
        },
        "BUSINESS_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_OPERATIONS"
          }
        },
        "CLEANING_AND_FACILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANING_AND_FACILITIES"
          }
        },
        "COMPUTER_AND_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTER_AND_IT"
          }
        },
        "CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTRUCTION"
          }
        },
        "CUSTOMER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SERVICE"
          }
        },
        "EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION"
          }
        },
        "ENTERTAINMENT_AND_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERTAINMENT_AND_TRAVEL"
          }
        },
        "FARMING_AND_OUTDOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARMING_AND_OUTDOORS"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE"
          }
        },
        "HUMAN_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES"
          }
        },
        "INSTALLATION_MAINTENANCE_AND_REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_MAINTENANCE_AND_REPAIR"
          }
        },
        "LEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGAL"
          }
        },
        "MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT"
          }
        },
        "MANUFACTURING_AND_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUFACTURING_AND_WAREHOUSE"
          }
        },
        "MEDIA_COMMUNICATIONS_AND_WRITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_COMMUNICATIONS_AND_WRITING"
          }
        },
        "OIL_GAS_AND_MINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIL_GAS_AND_MINING"
          }
        },
        "PERSONAL_CARE_AND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_CARE_AND_SERVICES"
          }
        },
        "PROTECTIVE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTIVE_SERVICES"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_ESTATE"
          }
        },
        "RESTAURANT_AND_HOSPITALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTAURANT_AND_HOSPITALITY"
          }
        },
        "SALES_AND_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_AND_RETAIL"
          }
        },
        "SCIENCE_AND_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIENCE_AND_ENGINEERING"
          }
        },
        "SOCIAL_SERVICES_AND_NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SERVICES_AND_NON_PROFIT"
          }
        },
        "SPORTS_FITNESS_AND_RECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPORTS_FITNESS_AND_RECREATION"
          }
        },
        "TRANSPORTATION_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSPORTATION_AND_LOGISTICS"
          }
        }
      }
    },
    "com.gcp.jobs_v3#JobQueryJobCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#JobQueryJobCategoriesItemEnum"
      }
    },
    "com.gcp.jobs_v3#LocationFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#LocationFilter"
      }
    },
    "com.gcp.jobs_v3#JobQueryEmploymentTypesItemEnum": {
      "type": "enum",
      "members": {
        "EMPLOYMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPLOYMENT_TYPE_UNSPECIFIED"
          }
        },
        "FULL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_TIME"
          }
        },
        "PART_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PART_TIME"
          }
        },
        "CONTRACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRACTOR"
          }
        },
        "CONTRACT_TO_HIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRACT_TO_HIRE"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY"
          }
        },
        "INTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERN"
          }
        },
        "VOLUNTEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUNTEER"
          }
        },
        "PER_DIEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_DIEM"
          }
        },
        "FLY_IN_FLY_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLY_IN_FLY_OUT"
          }
        },
        "OTHER_EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_EMPLOYMENT_TYPE"
          }
        }
      }
    },
    "com.gcp.jobs_v3#JobQueryEmploymentTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#JobQueryEmploymentTypesItemEnum"
      }
    },
    "com.gcp.jobs_v3#CompensationRange": {
      "type": "structure",
      "members": {
        "maxCompensation": {
          "target": "com.gcp.jobs_v3#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation."
          }
        },
        "minCompensation": {
          "target": "com.gcp.jobs_v3#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compensation range."
      }
    },
    "com.gcp.jobs_v3#CustomAttribute": {
      "type": "structure",
      "members": {
        "longValues": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but exactly one of string_values or long_values must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. Currently at most 1 long_values is supported."
          }
        },
        "filterable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the `filterable` flag is true, the custom field values may be used for custom attribute filters JobQuery.custom_attribute_filter. If false, these values may not be used for custom attribute filters. Default is false."
          }
        },
        "stringValues": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but exactly one of string_values or long_values must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_value`s, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 500B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty string is not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom attribute values that are either filterable or non-filterable."
      }
    },
    "com.gcp.jobs_v3#ApplicationInfo": {
      "type": "structure",
      "members": {
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this field to provide instructions, such as \"Mail your application to ...\", that a candidate can follow to apply for the job. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 3,000."
          }
        },
        "emails": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this field to specify email address(es) to which resumes or applications can be sent. The maximum number of allowed characters for each entry is 255."
          }
        },
        "uris": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this URI field to direct an applicant to a website, for example to link to an online application form. The maximum number of allowed characters for each entry is 2,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application related details of a job posting."
      }
    },
    "com.gcp.jobs_v3#ProcessingOptions": {
      "type": "structure",
      "members": {
        "disableStreetAddressResolution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, the service does not attempt to resolve a more precise address for the job."
          }
        },
        "htmlSanitization": {
          "target": "com.gcp.jobs_v3#ProcessingOptionsHtmlSanitizationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option for job HTML content sanitization. Applied fields are: * description * applicationInfo.instruction * incentives * qualifications * responsibilities HTML tags in these fields may be stripped if sanitiazation is not disabled. Defaults to HtmlSanitization.SIMPLE_FORMATTING_ONLY."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Options for job processing."
      }
    },
    "com.gcp.jobs_v3#ProcessingOptionsHtmlSanitizationEnum": {
      "type": "enum",
      "members": {
        "HTML_SANITIZATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML_SANITIZATION_UNSPECIFIED"
          }
        },
        "HTML_SANITIZATION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML_SANITIZATION_DISABLED"
          }
        },
        "SIMPLE_FORMATTING_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_FORMATTING_ONLY"
          }
        }
      }
    },
    "com.gcp.jobs_v3#PostalAddress": {
      "type": "structure",
      "members": {
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "addressLines": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        },
        "recipients": {
          "target": "com.gcp.jobs_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
      }
    },
    "com.gcp.jobs_v3#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.jobs_v3#CompensationInfo": {
      "type": "structure",
      "members": {
        "annualizedBaseCompensationRange": {
          "target": "com.gcp.jobs_v3#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Output only. Annualized base compensation range. Computed as base compensation entry's CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
          }
        },
        "annualizedTotalCompensationRange": {
          "target": "com.gcp.jobs_v3#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Output only. Annualized total compensation range. Computed as all compensation entries' CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization."
          }
        },
        "entries": {
          "target": "com.gcp.jobs_v3#CompensationEntryList",
          "traits": {
            "smithy.api#documentation": "Optional. Job compensation information. At most one entry can be of type CompensationInfo.CompensationType.BASE, which is referred as ** base compensation entry ** for the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job compensation details."
      }
    },
    "com.gcp.jobs_v3#CompensationEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CompensationEntry"
      }
    },
    "com.gcp.jobs_v3#LocationFilter": {
      "type": "structure",
      "members": {
        "distanceInMiles": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The distance_in_miles is applied when the location being searched for is identified as a city or smaller. When the location being searched for is a state or larger, this field is ignored."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CLDR region code of the country/region. This field may be used in two ways: 1) If telecommute preference is not set, this field is used address ambiguity of the user-input address. For example, \"Liverpool\" may refer to \"Liverpool, NY, US\" or \"Liverpool, UK\". This region code biases the address resolution toward a specific country or territory. If this field is not set, address resolution is biased toward the United States by default. 2) If telecommute preference is set to TELECOMMUTE_ALLOWED, the telecommute location filter will be limited to the region specified in this field. If this field is not set, the telecommute job locations will not be limited. See https://unicode-org.github.io/cldr-staging/charts/latest/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The address name, such as \"Mountain View\" or \"Bay Area\"."
          }
        },
        "latLng": {
          "target": "com.gcp.jobs_v3#LatLng",
          "traits": {
            "smithy.api#documentation": "Optional. The latitude and longitude of the geographic center from which to search. This field's ignored if `address` is provided."
          }
        },
        "telecommutePreference": {
          "target": "com.gcp.jobs_v3#LocationFilterTelecommutePreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Allows the client to return jobs without a set location, specifically, telecommuting jobs (telecommuting is considered by the service as a special location). Job.posting_region indicates if a job permits telecommuting. If this field is set to TelecommutePreference.TELECOMMUTE_ALLOWED, telecommuting jobs are searched, and address and lat_lng are ignored. If not set or set to TelecommutePreference.TELECOMMUTE_EXCLUDED, the telecommute status of the jobs is ignored. Jobs that have PostingRegion.TELECOMMUTE and have additional Job.addresses may still be matched based on other location filters using address or latlng. This filter can be used by itself to search exclusively for telecommuting jobs, or it can be combined with another location filter to search for a combination of job locations, such as \"Mountain View\" or \"telecommuting\" jobs. However, when used in combination with other location filters, telecommuting jobs can be treated as less relevant than other jobs in the search response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Geographic region of the search."
      }
    },
    "com.gcp.jobs_v3#LocationFilterTelecommutePreferenceEnum": {
      "type": "enum",
      "members": {
        "TELECOMMUTE_PREFERENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_PREFERENCE_UNSPECIFIED"
          }
        },
        "TELECOMMUTE_EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_EXCLUDED"
          }
        },
        "TELECOMMUTE_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_ALLOWED"
          }
        },
        "TELECOMMUTE_JOBS_EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELECOMMUTE_JOBS_EXCLUDED"
          }
        }
      }
    },
    "com.gcp.jobs_v3#NumericBucketingResult": {
      "type": "structure",
      "members": {
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Stores the minimum value of the numeric field. Will be populated only if [NumericBucketingOption.requires_min_max] is set to true."
          }
        },
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Stores the maximum value of the numeric field. Is populated only if [NumericBucketingOption.requires_min_max] is set to true."
          }
        },
        "counts": {
          "target": "com.gcp.jobs_v3#BucketizedCountList",
          "traits": {
            "smithy.api#documentation": "Count within each bucket. Its size is the length of NumericBucketingOption.bucket_bounds plus 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Custom numeric bucketing result."
      }
    },
    "com.gcp.jobs_v3#BucketizedCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#BucketizedCount"
      }
    },
    "com.gcp.jobs_v3#CreateClientEventRequest": {
      "type": "structure",
      "members": {
        "clientEvent": {
          "target": "com.gcp.jobs_v3#ClientEvent",
          "traits": {
            "smithy.api#documentation": "Required. Events issued when end user interacts with customer's application that uses Cloud Talent Solution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The report event request."
      }
    },
    "com.gcp.jobs_v3#TimestampRange": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Begin of the period."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a period of time between two timestamps."
      }
    },
    "com.gcp.jobs_v3#BucketizedCount": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.jobs_v3#BucketRange",
          "traits": {
            "smithy.api#documentation": "Bucket range on which histogram was performed for the numeric field, that is, the count represents number of jobs in this range."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of jobs whose numeric field value fall into `range`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents count of jobs within one bucket."
      }
    },
    "com.gcp.jobs_v3#NumericBucketingOption": {
      "type": "structure",
      "members": {
        "bucketBounds": {
          "target": "com.gcp.jobs_v3#DoubleList",
          "traits": {
            "smithy.api#documentation": "Required. Two adjacent values form a histogram bucket. Values should be in ascending order. For example, if [5, 10, 15] are provided, four buckets are created: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20 [buckets_bound is supported."
          }
        },
        "requiresMinMax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the histogram result includes minimum/maximum value of the numeric field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Use this field to specify bucketing option for the histogram search response."
      }
    },
    "com.gcp.jobs_v3#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.jobs_v3#CreateJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.jobs_v3#Job",
          "traits": {
            "smithy.api#documentation": "Required. The Job to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Create job request."
      }
    },
    "com.gcp.jobs_v3#UpdateJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.jobs_v3#Job",
          "traits": {
            "smithy.api#documentation": "Required. The Job to be updated."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but strongly recommended to be provided for the best service experience. If update_mask is provided, only the specified fields in job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Only top level fields of Job are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Update job request."
      }
    },
    "com.gcp.jobs_v3#CompensationEntry": {
      "type": "structure",
      "members": {
        "expectedUnitsPerYear": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
          }
        },
        "amount": {
          "target": "com.gcp.jobs_v3#Money",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation amount."
          }
        },
        "range": {
          "target": "com.gcp.jobs_v3#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation range."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3#CompensationEntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation type. Default is CompensationUnit.COMPENSATION_TYPE_UNSPECIFIED."
          }
        },
        "unit": {
          "target": "com.gcp.jobs_v3#CompensationEntryUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year."
      }
    },
    "com.gcp.jobs_v3#CompensationEntryTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BONUS"
          }
        },
        "SIGNING_BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNING_BONUS"
          }
        },
        "EQUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUITY"
          }
        },
        "PROFIT_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFIT_SHARING"
          }
        },
        "COMMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMISSIONS"
          }
        },
        "TIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIPS"
          }
        },
        "OTHER_COMPENSATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_TYPE"
          }
        }
      }
    },
    "com.gcp.jobs_v3#CompensationEntryUnitEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_UNIT_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "OTHER_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3#DeviceInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A device-specific ID. The ID must be a unique identifier that distinguishes the device from other devices."
          }
        },
        "deviceType": {
          "target": "com.gcp.jobs_v3#DeviceInfoDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device information collected from the job seeker, candidate, or other entity conducting the job search. Providing this information improves the quality of the search results across devices."
      }
    },
    "com.gcp.jobs_v3#DeviceInfoDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB"
          }
        },
        "MOBILE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_WEB"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "BOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOT"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.jobs_v3#CompletionResult": {
      "type": "structure",
      "members": {
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggestion for the query."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3#CompletionResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The completion topic."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the company image for CompletionType.COMPANY_NAME."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Resource that represents completion results."
      }
    },
    "com.gcp.jobs_v3#CompletionResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMPLETION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETION_TYPE_UNSPECIFIED"
          }
        },
        "JOB_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_TITLE"
          }
        },
        "COMPANY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_NAME"
          }
        },
        "COMBINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBINED"
          }
        }
      }
    },
    "com.gcp.jobs_v3#ClientEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier, generated by the client application. This `event_id` is used to establish the relationship between different events (see parent_event_id)."
          }
        },
        "jobEvent": {
          "target": "com.gcp.jobs_v3#JobEvent",
          "traits": {
            "smithy.api#documentation": "A event issued when a job seeker interacts with the application that implements Cloud Talent Solution."
          }
        },
        "extraInfo": {
          "target": "com.gcp.jobs_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extra information about this event. Used for storing information with no matching field in event payload, for example, user application specific context or details. At most 20 keys are supported. The maximum total size of all keys and values is 2 KB."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The timestamp of the event."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique ID generated in the API responses. It can be found in ResponseMetadata.request_id."
          }
        },
        "parentEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The event_id of an event that resulted in the current event. For example, a Job view event usually follows a parent impression event: A job seeker first does a search where a list of jobs appears (impression). The job seeker then selects a result and views the description of a particular job (Job view)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event issued when an end user interacts with the application that implements Cloud Talent Solution. Providing this information improves the quality of search and recommendation for the API clients, enabling the service to perform optimally. The number of events sent must be consistent with other calls, such as job searches, issued to the service by the client."
      }
    },
    "com.gcp.jobs_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v3#SearchJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results."
          }
        },
        "estimatedTotalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An estimation of the number of jobs that match the specified query. This number is not guaranteed to be accurate. For accurate results, see SearchJobsResponse.total_size."
          }
        },
        "spellCorrection": {
          "target": "com.gcp.jobs_v3#SpellingCorrection",
          "traits": {
            "smithy.api#documentation": "The spell checking result, and correction."
          }
        },
        "histogramResults": {
          "target": "com.gcp.jobs_v3#HistogramResults",
          "traits": {
            "smithy.api#documentation": "The histogram results that match specified SearchJobsRequest.histogram_facets."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The precise result count with limit 100,000."
          }
        },
        "broadenedQueryJobsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If query broadening is enabled, we may append additional results from the broadened query. This number indicates how many of the jobs returned in the jobs field are from the broadened query. These results are always at the end of the jobs list. In particular, a value of 0, or if the field isn't set, all the jobs in the jobs list are from the original (without broadening) query. If this field is non-zero, subsequent requests with offset after this result set should contain all broadened results."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "matchingJobs": {
          "target": "com.gcp.jobs_v3#MatchingJobList",
          "traits": {
            "smithy.api#documentation": "The Job entities that match the specified SearchJobsRequest."
          }
        },
        "locationFilters": {
          "target": "com.gcp.jobs_v3#LocationList",
          "traits": {
            "smithy.api#documentation": "The location filters that the service applied to the specified query. If any filters are lat-lng based, the JobLocation.location_type is JobLocation.LocationType#LOCATION_TYPE_UNSPECIFIED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Response for SearchJob method."
      }
    },
    "com.gcp.jobs_v3#MatchingJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#MatchingJob"
      }
    },
    "com.gcp.jobs_v3#TimeOfDay": {
      "type": "structure",
      "members": {
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.jobs_v3#CustomAttributeHistogramResult": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stores the key of custom attribute the histogram is performed on."
          }
        },
        "longValueHistogramResult": {
          "target": "com.gcp.jobs_v3#NumericBucketingResult",
          "traits": {
            "smithy.api#documentation": "Stores bucketed histogram counting result or min/max values for custom attribute long values associated with `key`."
          }
        },
        "stringValueHistogramResult": {
          "target": "com.gcp.jobs_v3#IntegerMap",
          "traits": {
            "smithy.api#documentation": "Stores a map from the values of string custom field associated with `key` to the number of jobs with that value in this histogram result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Custom attribute histogram result."
      }
    },
    "com.gcp.jobs_v3#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.jobs_v3#HistogramResults": {
      "type": "structure",
      "members": {
        "customAttributeHistogramResults": {
          "target": "com.gcp.jobs_v3#CustomAttributeHistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies histogram results for custom attributes that match HistogramFacets.custom_attribute_histogram_facets."
          }
        },
        "simpleHistogramResults": {
          "target": "com.gcp.jobs_v3#HistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies histogram results that matches HistogramFacets.simple_histogram_facets."
          }
        },
        "compensationHistogramResults": {
          "target": "com.gcp.jobs_v3#CompensationHistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies compensation field-based histogram results that match HistogramFacets.compensation_histogram_requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Histogram results that match HistogramFacets specified in SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v3#CustomAttributeHistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CustomAttributeHistogramResult"
      }
    },
    "com.gcp.jobs_v3#HistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#HistogramResult"
      }
    },
    "com.gcp.jobs_v3#CompensationHistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3#CompensationHistogramResult"
      }
    },
    "com.gcp.jobs_v3#SearchJobsRequest": {
      "type": "structure",
      "members": {
        "jobView": {
          "target": "com.gcp.jobs_v3#SearchJobsRequestJobViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The desired job attributes returned for jobs in the search response. Defaults to JobView.SMALL if no value is specified."
          }
        },
        "searchMode": {
          "target": "com.gcp.jobs_v3#SearchJobsRequestSearchModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Mode of a search. Defaults to SearchMode.JOB_SEARCH."
          }
        },
        "diversificationLevel": {
          "target": "com.gcp.jobs_v3#SearchJobsRequestDiversificationLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether highly similar jobs are returned next to each other in the search results. Jobs are identified as highly similar based on their titles, job categories, and locations. Highly similar results are clustered so that only one representative job of the cluster is displayed to the job seeker higher up in the results, with the other jobs being displayed lower down in the results. Defaults to DiversificationLevel.SIMPLE if no value is specified."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An integer that specifies the current offset (that is, starting result location, amongst the jobs deemed by the API as relevant) in search results. This field is only considered if page_token is unset. The maximum allowed value is 5000. Otherwise an error is thrown. For example, 0 means to return results starting from the first matching job, and 10 means to return from the 11th job. This can be used for pagination, (for example, pageSize = 10 and offset = 10 means to return from the second page)."
          }
        },
        "requestMetadata": {
          "target": "com.gcp.jobs_v3#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "Required. The meta information collected about the job searcher, used to improve the search quality of the service. The identifiers (such as `user_id`) are provided by users, and must be unique and consistent."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. A limit on the number of jobs returned in the search results. Increasing this value above the default value of 10 can increase search response time. The value can be between 1 and 100."
          }
        },
        "histogramFacets": {
          "target": "com.gcp.jobs_v3#HistogramFacets",
          "traits": {
            "smithy.api#documentation": "Optional. Histogram requests for jobs matching JobQuery."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The criteria determining how search results are sorted. Default is \"relevance desc\". Supported options are: * `\"relevance desc\"`: By relevance descending, as determined by the API algorithms. Relevance thresholding of query results is only available with this ordering. * `\"posting_publish_time desc\"`: By Job.posting_publish_time descending. * `\"posting_update_time desc\"`: By Job.posting_update_time descending. * `\"title\"`: By Job.title ascending. * `\"title desc\"`: By Job.title descending. * `\"annualized_base_compensation\"`: By job's CompensationInfo.annualized_base_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_base_compensation desc\"`: By job's CompensationInfo.annualized_base_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation\"`: By job's CompensationInfo.annualized_total_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation desc\"`: By job's CompensationInfo.annualized_total_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results."
          }
        },
        "enableBroadening": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether to broaden the search when it produces sparse results. Broadened queries append results to the end of the matching results list. Defaults to false."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The token specifying the current offset within search results. See SearchJobsResponse.next_page_token for an explanation of how to obtain the next set of query results."
          }
        },
        "disableKeywordMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether to disable exact keyword match on Job.job_title, Job.description, Job.company_display_name, Job.locations, Job.qualifications. When disable keyword match is turned off, a keyword match returns jobs that do not match given category filters when there are matching keywords. For example, the query \"program manager,\" a result is returned even if the job posting has the title \"software developer,\" which does not fall into \"program manager\" ontology, but does have \"program manager\" appearing in its description. For queries like \"cloud\" that does not contain title or location specific ontology, jobs with \"cloud\" keyword matches are returned regardless of this flag's value. Please use Company.keyword_searchable_custom_fields or Company.keyword_searchable_custom_attributes if company specific globally matched custom field/attribute string values is needed. Enabling keyword match improves recall of subsequent search requests. Defaults to false."
          }
        },
        "jobQuery": {
          "target": "com.gcp.jobs_v3#JobQuery",
          "traits": {
            "smithy.api#documentation": "Optional. Query used to search against jobs, such as keyword, location filters, etc."
          }
        },
        "requirePreciseResultSize": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. The Request body of the `SearchJobs` call."
      }
    },
    "com.gcp.jobs_v3#SearchJobsRequestJobViewEnum": {
      "type": "enum",
      "members": {
        "JOB_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_UNSPECIFIED"
          }
        },
        "JOB_VIEW_ID_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_ID_ONLY"
          }
        },
        "JOB_VIEW_MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_MINIMAL"
          }
        },
        "JOB_VIEW_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_SMALL"
          }
        },
        "JOB_VIEW_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_VIEW_FULL"
          }
        }
      }
    },
    "com.gcp.jobs_v3#SearchJobsRequestSearchModeEnum": {
      "type": "enum",
      "members": {
        "SEARCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MODE_UNSPECIFIED"
          }
        },
        "JOB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_SEARCH"
          }
        },
        "FEATURED_JOB_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURED_JOB_SEARCH"
          }
        }
      }
    },
    "com.gcp.jobs_v3#SearchJobsRequestDiversificationLevelEnum": {
      "type": "enum",
      "members": {
        "DIVERSIFICATION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVERSIFICATION_LEVEL_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE"
          }
        }
      }
    },
    "com.gcp.jobs_v3#UpdateCompanyRequest": {
      "type": "structure",
      "members": {
        "company": {
          "target": "com.gcp.jobs_v3#Company",
          "traits": {
            "smithy.api#documentation": "Required. The company resource to replace the current resource in the system."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but strongly recommended for the best service experience. If update_mask is provided, only the specified fields in company are updated. Otherwise all the fields are updated. A field mask to specify the company fields to be updated. Only top level fields of Company are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Request for updating a specified company."
      }
    },
    "com.gcp.jobs_v3#CompanyDerivedInfo": {
      "type": "structure",
      "members": {
        "headquartersLocation": {
          "target": "com.gcp.jobs_v3#Location",
          "traits": {
            "smithy.api#documentation": "A structured headquarters location of the company, resolved from Company.hq_location if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derived details about the company."
      }
    },
    "com.gcp.jobs_v3#CommuteInfo": {
      "type": "structure",
      "members": {
        "jobLocation": {
          "target": "com.gcp.jobs_v3#Location",
          "traits": {
            "smithy.api#documentation": "Location used as the destination in the commute calculation."
          }
        },
        "travelDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds required to travel to the job location from the query location. A duration of 0 seconds indicates that the job is not reachable within the requested duration, but was returned as part of an expanded query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Commute details related to this job."
      }
    },
    "com.gcp.jobs_v3#Money": {
      "type": "structure",
      "members": {
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.jobs_v3#Company": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.gcp.jobs_v3#CompanySizeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The employer's company size."
          }
        },
        "eeoText": {
          "target": "smithy.api#String",
          "traits": {
[...]
