{
  "smithy": "2.0",
  "metadata": {
    "service": "jobs",
    "version": "v3p1beta1",
    "title": "Cloud Talent Solution API",
    "baseUrl": "https://jobs.googleapis.com/"
  },
  "shapes": {
    "com.gcp.jobs_v3p1beta1#CommuteInfo": {
      "type": "structure",
      "members": {
        "travelDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds required to travel to the job location from the query location. A duration of 0 seconds indicates that the job is not reachable within the requested duration, but was returned as part of an expanded query."
          }
        },
        "jobLocation": {
          "target": "com.gcp.jobs_v3p1beta1#Location",
          "traits": {
            "smithy.api#documentation": "Location used as the destination in the commute calculation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Commute details related to this job."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationRange": {
      "type": "structure",
      "members": {
        "minCompensation": {
          "target": "com.gcp.jobs_v3p1beta1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation."
          }
        },
        "maxCompensation": {
          "target": "com.gcp.jobs_v3p1beta1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compensation range."
      }
    },
    "com.gcp.jobs_v3p1beta1#BucketizedCount": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of jobs whose numeric field value fall into `range`."
          }
        },
        "range": {
          "target": "com.gcp.jobs_v3p1beta1#BucketRange",
          "traits": {
            "smithy.api#documentation": "Bucket range on which histogram was performed for the numeric field, that is, the count represents number of jobs in this range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents count of jobs within one bucket."
      }
    },
    "com.gcp.jobs_v3p1beta1#LatLng": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramResults": {
      "type": "structure",
      "members": {
        "simpleHistogramResults": {
          "target": "com.gcp.jobs_v3p1beta1#HistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies histogram results that matches HistogramFacets.simple_histogram_facets."
          }
        },
        "customAttributeHistogramResults": {
          "target": "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies histogram results for custom attributes that match HistogramFacets.custom_attribute_histogram_facets."
          }
        },
        "compensationHistogramResults": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramResultList",
          "traits": {
            "smithy.api#documentation": "Specifies compensation field-based histogram results that match HistogramFacets.compensation_histogram_requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Histogram results that match HistogramFacets specified in SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#HistogramResult"
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramResult"
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramResult"
      }
    },
    "com.gcp.jobs_v3p1beta1#CreateCompanyRequest": {
      "type": "structure",
      "members": {
        "company": {
          "target": "com.gcp.jobs_v3p1beta1#Company",
          "traits": {
            "smithy.api#documentation": "Required. The company to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. The Request of the CreateCompany method."
      }
    },
    "com.gcp.jobs_v3p1beta1#Company": {
      "type": "structure",
      "members": {
        "careerSiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI to employer's career site or careers page on the employer's web site, for example, \"https://careers.google.com\"."
          }
        },
        "hiringAgency": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the company, for example, \"Google LLC\"."
          }
        },
        "size": {
          "target": "com.gcp.jobs_v3p1beta1#CompanySizeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The employer's company size."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URI that hosts the employer's company logo."
          }
        },
        "eeoText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500."
          }
        },
        "websiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI representing the company's primary web site or home page, for example, \"https://www.google.com\". The maximum number of allowed characters is 255."
          }
        },
        "keywordSearchableJobCustomAttributes": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated. Please set the searchability of the custom attribute in the Job.custom_attributes going forward. A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword search. Jobs with `string_values` under these specified field keys are returned if any of the values matches the search keyword. Custom field values with parenthesis, brackets and special symbols won't be properly searchable, and those keyword queries need to be surrounded by quotes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required during company update. The resource name for a company. This is generated by the service when a company is created. The format is \"projects/{project_id}/companies/{company_id}\", for example, \"projects/api-test-project/companies/foo\"."
          }
        },
        "derivedInfo": {
          "target": "com.gcp.jobs_v3p1beta1#CompanyDerivedInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Derived details about the company."
          }
        },
        "suspended": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy."
          }
        },
        "headquartersAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in DerivedInfo.headquarters_location."
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Client side company identifier, used to uniquely identify the company. The maximum number of allowed characters is 255."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Company resource represents a company in the service. A company is the entity that owns job postings, that is, the hiring entity responsible for employing applicants for the job position."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompanySizeEnum": {
      "type": "enum",
      "members": {
        "COMPANY_SIZE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_SIZE_UNSPECIFIED"
          }
        },
        "MINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINI"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "SMEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMEDIUM"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "BIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG"
          }
        },
        "BIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGGER"
          }
        },
        "GIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIANT"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v3p1beta1#CreateJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.jobs_v3p1beta1#Job",
          "traits": {
            "smithy.api#documentation": "Required. The Job to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Create job request."
      }
    },
    "com.gcp.jobs_v3p1beta1#TimestampRange": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Begin of the period."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a period of time between two timestamps."
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramQueryResult": {
      "type": "structure",
      "members": {
        "histogram": {
          "target": "com.gcp.jobs_v3p1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map from the values of the facet associated with distinct values to the number of matching entries with corresponding value. The key format is: * (for string histogram) string values stored in the field. * (for named numeric bucket) name specified in `bucket()` function, like for `bucket(0, MAX, \"non-negative\")`, the key will be `non-negative`. * (for anonymous numeric bucket) range formatted as `-`, for example, `0-1000`, `MIN-0`, and `0-MAX`."
          }
        },
        "histogramQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requested histogram expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Histogram result that matches HistogramSpec specified in searches."
      }
    },
    "com.gcp.jobs_v3p1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramQuery": {
      "type": "structure",
      "members": {
        "histogramQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression specifies a histogram request against matching resources (for example, jobs) for searches. Expression syntax is a aggregation function call with histogram facets and other options. Available aggregation function calls are: * `count(string_histogram_facet)`: Count the number of matching entity, for each distinct attribute value. * `count(numeric_histogram_facet, list of buckets)`: Count the number of matching entity within each bucket. A maximum of 200 histogram buckets are supported. Data types: * Histogram facet: facet names with format a-zA-Z+. * String: string like \"any string with backslash escape for quote(\\\").\" * Number: whole number and floating point number like 10, -1 and -0.01. * List: list of elements with comma(,) separator surrounded by square brackets. For example, [1, 2, 3] and [\"one\", \"two\", \"three\"]. Built-in constants: * MIN (minimum number similar to java Double.MIN_VALUE) * MAX (maximum number similar to java Double.MAX_VALUE) Built-in functions: * bucket(start, end[, label]): bucket built-in function creates a bucket with range of start, end). Note that the end is exclusive. For example, bucket(1, MAX, \"positive number\") or bucket(1, 10). Job histogram facets: * company_id: histogram by [Job.distributor_company_id. * company_display_name: histogram by Job.company_display_name. * employment_type: histogram by Job.employment_types. For example, \"FULL_TIME\", \"PART_TIME\". * company_size (DEPRECATED): histogram by CompanySize, for example, \"SMALL\", \"MEDIUM\", \"BIG\". * publish_time_in_day: histogram by the Job.publish_time in days. Must specify list of numeric buckets in spec. * publish_time_in_month: histogram by the Job.publish_time in months. Must specify list of numeric buckets in spec. * publish_time_in_year: histogram by the Job.publish_time in years. Must specify list of numeric buckets in spec. * degree_type: histogram by the Job.degree_type. For example, \"Bachelors\", \"Masters\". * job_level: histogram by the Job.job_level. For example, \"Entry Level\". * country: histogram by the country code of jobs. For example, \"US\", \"FR\". * admin1: histogram by the admin1 code of jobs, which is a global placeholder referring to the state, province, or the particular term a country uses to define the geographic structure below the country level. For example, \"CA\", \"IL\". * city: histogram by a combination of the \"city name, admin1 code\". For example, \"Mountain View, CA\", \"New York, NY\". * admin1_country: histogram by a combination of the \"admin1 code, country\". For example, \"CA, US\", \"IL, US\". * city_coordinate: histogram by the city center's GPS coordinates (latitude and longitude). For example, 37.4038522,-122.0987765. Since the coordinates of a city center can change, customers may need to refresh them periodically. * locale: histogram by the Job.language_code. For example, \"en-US\", \"fr-FR\". * language: histogram by the language subtag of the Job.language_code. For example, \"en\", \"fr\". * category: histogram by the JobCategory. For example, \"COMPUTER_AND_IT\", \"HEALTHCARE\". * base_compensation_unit: histogram by the CompensationUnit of base salary. For example, \"WEEKLY\", \"MONTHLY\". * base_compensation: histogram by the base salary. Must specify list of numeric buckets to group results by. * annualized_base_compensation: histogram by the base annualized salary. Must specify list of numeric buckets to group results by. * annualized_total_compensation: histogram by the total annualized salary. Must specify list of numeric buckets to group results by. * string_custom_attribute: histogram by string Job.custom_attributes. Values can be accessed via square bracket notations like string_custom_attribute[\"key1\"]. * numeric_custom_attribute: histogram by numeric Job.custom_attributes. Values can be accessed via square bracket notations like numeric_custom_attribute[\"key1\"]. Must specify list of numeric buckets to group results by. Example expressions: * count(admin1) * count(base_compensation, [bucket(1000, 10000), bucket(10000, 100000), bucket(100000, MAX)]) * count(string_custom_attribute[\"some-string-custom-attribute\"]) * count(numeric_custom_attribute[\"some-numeric-custom-attribute\"], [bucket(MIN, 0, \"negative\"), bucket(0, MAX, \"non-negative\")])"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input Only. The histogram request."
      }
    },
    "com.gcp.jobs_v3p1beta1#SpellingCorrection": {
      "type": "structure",
      "members": {
        "corrected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the query was corrected by the spell checker."
          }
        },
        "correctedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Correction output consisting of the corrected keyword string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Spell check result."
      }
    },
    "com.gcp.jobs_v3p1beta1#SearchJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token that specifies the starting position of the next page of results. This field is empty if there are no more results."
          }
        },
        "broadenedQueryJobsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If query broadening is enabled, we may append additional results from the broadened query. This number indicates how many of the jobs returned in the jobs field are from the broadened query. These results are always at the end of the jobs list. In particular, a value of 0, or if the field isn't set, all the jobs in the jobs list are from the original (without broadening) query. If this field is non-zero, subsequent requests with offset after this result set should contain all broadened results."
          }
        },
        "locationFilters": {
          "target": "com.gcp.jobs_v3p1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "The location filters that the service applied to the specified query. If any filters are lat-lng based, the JobLocation.location_type is JobLocation.LocationType#LOCATION_TYPE_UNSPECIFIED."
          }
        },
        "histogramResults": {
          "target": "com.gcp.jobs_v3p1beta1#HistogramResults",
          "traits": {
            "smithy.api#documentation": "The histogram results that match specified SearchJobsRequest.histogram_facets."
          }
        },
        "histogramQueryResults": {
          "target": "com.gcp.jobs_v3p1beta1#HistogramQueryResultList",
          "traits": {
            "smithy.api#documentation": "The histogram results that match with specified SearchJobsRequest.histogram_queries."
          }
        },
        "matchingJobs": {
          "target": "com.gcp.jobs_v3p1beta1#MatchingJobList",
          "traits": {
            "smithy.api#documentation": "The Job entities that match the specified SearchJobsRequest."
          }
        },
        "estimatedTotalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An estimation of the number of jobs that match the specified query. This number is not guaranteed to be accurate. For accurate results, see SearchJobsResponse.total_size."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3p1beta1#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The precise result count with limit 100,000."
          }
        },
        "spellCorrection": {
          "target": "com.gcp.jobs_v3p1beta1#SpellingCorrection",
          "traits": {
            "smithy.api#documentation": "The spell checking result, and correction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Response for SearchJob method."
      }
    },
    "com.gcp.jobs_v3p1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#Location"
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#HistogramQueryResult"
      }
    },
    "com.gcp.jobs_v3p1beta1#MatchingJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#MatchingJob"
      }
    },
    "com.gcp.jobs_v3p1beta1#CompletionResult": {
      "type": "structure",
      "members": {
        "suggestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggestion for the query."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the company image for CompletionType.COMPANY_NAME."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3p1beta1#CompletionResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "The completion topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Resource that represents completion results."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompletionResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMPLETION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETION_TYPE_UNSPECIFIED"
          }
        },
        "JOB_TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_TITLE"
          }
        },
        "COMPANY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_NAME"
          }
        },
        "COMBINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBINED"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#ApplicationInfo": {
      "type": "structure",
      "members": {
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this field to provide instructions, such as \"Mail your application to ...\", that a candidate can follow to apply for the job. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 3,000."
          }
        },
        "emails": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this field to specify email address(es) to which resumes or applications can be sent. The maximum number of allowed characters for each entry is 255."
          }
        },
        "uris": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but at least one of uris, emails or instruction must be specified. Use this URI field to direct an applicant to a website, for example to link to an online application form. The maximum number of allowed characters for each entry is 2,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application related details of a job posting."
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramResult": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stores the key of custom attribute the histogram is performed on."
          }
        },
        "stringValueHistogramResult": {
          "target": "com.gcp.jobs_v3p1beta1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "Stores a map from the values of string custom field associated with `key` to the number of jobs with that value in this histogram result."
          }
        },
        "longValueHistogramResult": {
          "target": "com.gcp.jobs_v3p1beta1#NumericBucketingResult",
          "traits": {
            "smithy.api#documentation": "Stores bucketed histogram counting result or min/max values for custom attribute long values associated with `key`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Custom attribute histogram result."
      }
    },
    "com.gcp.jobs_v3p1beta1#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.jobs_v3p1beta1#CreateClientEventRequest": {
      "type": "structure",
      "members": {
        "clientEvent": {
          "target": "com.gcp.jobs_v3p1beta1#ClientEvent",
          "traits": {
            "smithy.api#documentation": "Required. Events issued when end user interacts with customer's application that uses Cloud Talent Solution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The report event request."
      }
    },
    "com.gcp.jobs_v3p1beta1#UpdateJobRequest": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.gcp.jobs_v3p1beta1#Job",
          "traits": {
            "smithy.api#documentation": "Required. The Job to be updated."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but strongly recommended to be provided for the best service experience. If update_mask is provided, only the specified fields in job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Only top level fields of Job are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Update job request."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the request, representing which field the histogramming should be performed over. A single request can only specify one histogram of each `CompensationHistogramRequestType`."
          }
        },
        "bucketingOption": {
          "target": "com.gcp.jobs_v3p1beta1#NumericBucketingOption",
          "traits": {
            "smithy.api#documentation": "Required. Numeric histogram options, like buckets, whether include min or max value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Compensation based histogram request."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramRequestTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "ANNUALIZED_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE"
          }
        },
        "ANNUALIZED_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#JobQuery": {
      "type": "structure",
      "members": {
        "customAttributeFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies a structured syntax to match against the Job.custom_attributes marked as `filterable`. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is a custom field key and the right of the operator is a number or a quoted string. You must escape backslash (\\\\) and quote (\\\") characters. Supported functions are `LOWER([field_name])` to perform a case insensitive match and `EMPTY([field_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, \"((A AND B AND C) OR NOT D) AND E\"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 10000 bytes in length. Sample Query: `(LOWER(driving_license)=\"class \\\"a\\\"\" OR EMPTY(driving_license)) AND driving_years > 10`"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The query string that matches against the job title, description, and location fields. The maximum number of allowed characters is 255."
          }
        },
        "commuteFilter": {
          "target": "com.gcp.jobs_v3p1beta1#CommuteFilter",
          "traits": {
            "smithy.api#documentation": "Optional. Allows filtering jobs by commute time with different travel methods (for example, driving or public transit). Note: This only works with COMMUTE MODE. When specified, [JobQuery.location_filters] is ignored. Currently we don't support sorting by commute time."
          }
        },
        "locationFilters": {
          "target": "com.gcp.jobs_v3p1beta1#LocationFilterList",
          "traits": {
            "smithy.api#documentation": "Optional. The location filter specifies geo-regions containing the jobs to search against. See LocationFilter for more information. If a location value isn't specified, jobs fitting the other search criteria are retrieved regardless of where they're located. If multiple values are specified, jobs are retrieved from any of the specified locations. If different values are specified for the LocationFilter.distance_in_miles parameter, the maximum provided distance is used for all locations. At most 5 location filters are allowed."
          }
        },
        "compensationFilter": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationFilter",
          "traits": {
            "smithy.api#documentation": "Optional. This search filter is applied only to Job.compensation_info. For example, if the filter is specified as \"Hourly job with per-hour compensation > $15\", only jobs meeting these criteria are searched. If a filter isn't defined, all open jobs are searched."
          }
        },
        "companyNames": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the company entities to search against. If a value isn't specified, jobs are searched for against all companies. If multiple values are specified, jobs are searched against the companies specified. The format is \"projects/{project_id}/companies/{company_id}\", for example, \"projects/api-test-project/companies/foo\". At most 20 company filters are allowed."
          }
        },
        "jobCategories": {
          "target": "com.gcp.jobs_v3p1beta1#JobQueryJobCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The category filter specifies the categories of jobs to search against. See Category for more information. If a value is not specified, jobs from any category are searched against. If multiple values are specified, jobs from any of the specified categories are searched against."
          }
        },
        "disableSpellCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This flag controls the spell-check feature. If false, the service attempts to correct a misspelled query, for example, \"enginee\" is corrected to \"engineer\". Defaults to false: a spell check is performed."
          }
        },
        "excludedJobs": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies a list of job names to be excluded during search. At most 400 excluded job names are allowed."
          }
        },
        "companyDisplayNames": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the company Company.display_name of the jobs to search against. The company name must match the value exactly. Alternatively, the value being searched for can be wrapped in different match operators. `SUBSTRING_MATCH([value])` The company name must contain a case insensitive substring match of the value. Using this function may increase latency. Sample Value: `SUBSTRING_MATCH(google)` `MULTI_WORD_TOKEN_MATCH([value])` The value will be treated as a multi word token and the company name must contain a case insensitive match of the value. Using this function may increase latency. Sample Value: `MULTI_WORD_TOKEN_MATCH(google)` If a value isn't specified, jobs within the search results are associated with any company. If multiple values are specified, jobs within the search results may be associated with any of the specified companies. At most 20 company display name filters are allowed."
          }
        },
        "languageCodes": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This filter specifies the locale of jobs to search against, for example, \"en-US\". If a value isn't specified, the search results can contain jobs in any locale. Language codes should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). At most 10 language code filters are allowed."
          }
        },
        "employmentTypes": {
          "target": "com.gcp.jobs_v3p1beta1#JobQueryEmploymentTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The employment type filter specifies the employment type of jobs to search against, such as EmploymentType.FULL_TIME. If a value is not specified, jobs in the search results includes any employment type. If multiple values are specified, jobs in the search results include any of the specified employment types."
          }
        },
        "queryLanguageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of query. For example, \"en-US\". This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate. Language code should be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47)."
          }
        },
        "publishTimeRange": {
          "target": "com.gcp.jobs_v3p1beta1#TimestampRange",
          "traits": {
            "smithy.api#documentation": "Optional. Jobs published within a range specified by this filter are searched against."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. The query required to perform a search query."
      }
    },
    "com.gcp.jobs_v3p1beta1#LocationFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#LocationFilter"
      }
    },
    "com.gcp.jobs_v3p1beta1#JobQueryJobCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "JOB_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_CATEGORY_UNSPECIFIED"
          }
        },
        "ACCOUNTING_AND_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNTING_AND_FINANCE"
          }
        },
        "ADMINISTRATIVE_AND_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATIVE_AND_OFFICE"
          }
        },
        "ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISING_AND_MARKETING"
          }
        },
        "ANIMAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANIMAL_CARE"
          }
        },
        "ART_FASHION_AND_DESIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ART_FASHION_AND_DESIGN"
          }
        },
        "BUSINESS_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_OPERATIONS"
          }
        },
        "CLEANING_AND_FACILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANING_AND_FACILITIES"
          }
        },
        "COMPUTER_AND_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTER_AND_IT"
          }
        },
        "CONSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTRUCTION"
          }
        },
        "CUSTOMER_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SERVICE"
          }
        },
        "EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION"
          }
        },
        "ENTERTAINMENT_AND_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERTAINMENT_AND_TRAVEL"
          }
        },
        "FARMING_AND_OUTDOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARMING_AND_OUTDOORS"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE"
          }
        },
        "HUMAN_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_RESOURCES"
          }
        },
        "INSTALLATION_MAINTENANCE_AND_REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLATION_MAINTENANCE_AND_REPAIR"
          }
        },
        "LEGAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGAL"
          }
        },
        "MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT"
          }
        },
        "MANUFACTURING_AND_WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUFACTURING_AND_WAREHOUSE"
          }
        },
        "MEDIA_COMMUNICATIONS_AND_WRITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_COMMUNICATIONS_AND_WRITING"
          }
        },
        "OIL_GAS_AND_MINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OIL_GAS_AND_MINING"
          }
        },
        "PERSONAL_CARE_AND_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_CARE_AND_SERVICES"
          }
        },
        "PROTECTIVE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTIVE_SERVICES"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_ESTATE"
          }
        },
        "RESTAURANT_AND_HOSPITALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTAURANT_AND_HOSPITALITY"
          }
        },
        "SALES_AND_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALES_AND_RETAIL"
          }
        },
        "SCIENCE_AND_ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIENCE_AND_ENGINEERING"
          }
        },
        "SOCIAL_SERVICES_AND_NON_PROFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_SERVICES_AND_NON_PROFIT"
          }
        },
        "SPORTS_FITNESS_AND_RECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPORTS_FITNESS_AND_RECREATION"
          }
        },
        "TRANSPORTATION_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSPORTATION_AND_LOGISTICS"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#JobQueryJobCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#JobQueryJobCategoriesItemEnum"
      }
    },
    "com.gcp.jobs_v3p1beta1#JobQueryEmploymentTypesItemEnum": {
      "type": "enum",
      "members": {
        "EMPLOYMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPLOYMENT_TYPE_UNSPECIFIED"
          }
        },
        "FULL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_TIME"
          }
        },
        "PART_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PART_TIME"
          }
        },
        "CONTRACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRACTOR"
          }
        },
        "CONTRACT_TO_HIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRACT_TO_HIRE"
          }
        },
        "TEMPORARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY"
          }
        },
        "INTERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERN"
          }
        },
        "VOLUNTEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUNTEER"
          }
        },
        "PER_DIEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_DIEM"
          }
        },
        "FLY_IN_FLY_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLY_IN_FLY_OUT"
          }
        },
        "OTHER_EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_EMPLOYMENT_TYPE"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#JobQueryEmploymentTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#JobQueryEmploymentTypesItemEnum"
      }
    },
    "com.gcp.jobs_v3p1beta1#ListJobsResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.gcp.jobs_v3p1beta1#JobList",
          "traits": {
            "smithy.api#documentation": "The Jobs for a given company. The maximum number of items returned is based on the limit field provided in the request."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3p1beta1#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. List jobs response."
      }
    },
    "com.gcp.jobs_v3p1beta1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#Job"
      }
    },
    "com.gcp.jobs_v3p1beta1#RequestMetadata": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The client-defined scope or source of the service call, which typically is the domain on which the service has been implemented and is currently being run. For example, if the service is being run by client *Foo, Inc.*, on job board www.foo.com and career site www.bar.com, then this field is set to \"foo.com\" for use on the job board, and \"bar.com\" for use on the career site. If this field isn't available for some reason, send \"UNKNOWN\". Any improvements to the model for a particular tenant site rely on this field being set correctly to a domain. The maximum number of allowed characters is 255."
          }
        },
        "deviceInfo": {
          "target": "com.gcp.jobs_v3p1beta1#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. The type of device used by the job seeker at the time of the call to the service."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique user identification string, as determined by the client. To have the strongest positive impact on search quality make sure the client-level is unique. Obfuscate this field for privacy concerns before providing it to the service. If this field is not available for some reason, send \"UNKNOWN\". Note that any improvements to the model for a particular tenant site, rely on this field being set correctly to a unique user_id. The maximum number of allowed characters is 255."
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique session identification string. A session is defined as the duration of an end user's interaction with the service over a certain period. Obfuscate this field for privacy concerns before providing it to the service. If this field is not available for some reason, send \"UNKNOWN\". Note that any improvements to the model for a particular tenant site, rely on this field being set correctly to some unique session_id. The maximum number of allowed characters is 255."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Meta information related to the job searcher or entity conducting the job search. This information is used to improve the performance of the service."
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomRankingInfo": {
      "type": "structure",
      "members": {
        "importanceLevel": {
          "target": "com.gcp.jobs_v3p1beta1#CustomRankingInfoImportanceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Required. Controls over how important the score of CustomRankingInfo.ranking_expression gets applied to job's final ranking position. An error is thrown if not specified."
          }
        },
        "rankingExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Controls over how job documents get ranked on top of existing relevance score (determined by API algorithm). A combination of the ranking expression and relevance score is used to determine job's final ranking position. The syntax for this expression is a subset of Google SQL syntax. Supported operators are: +, -, *, /, where the left and right side of the operator is either a numeric Job.custom_attributes key, integer/double value or an expression that can be evaluated to a number. Parenthesis are supported to adjust calculation precedence. The expression must be < 200 characters in length. The expression is considered invalid for a job if the expression references custom attributes that are not populated on the job or if the expression results in a divide by zero. If an expression is invalid for a job, that job is demoted to the end of the results. Sample ranking expression (year + 25) * 0.25 - (freshness / 0.5)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Custom ranking information for SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomRankingInfoImportanceLevelEnum": {
      "type": "enum",
      "members": {
        "IMPORTANCE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORTANCE_LEVEL_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILD"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "EXTREME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTREME"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationEntry": {
      "type": "structure",
      "members": {
        "range": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationRange",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation range."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationEntryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation type. Default is CompensationUnit.COMPENSATION_TYPE_UNSPECIFIED."
          }
        },
        "amount": {
          "target": "com.gcp.jobs_v3p1beta1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation amount."
          }
        },
        "unit": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationEntryUnitEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED."
          }
        },
        "expectedUnitsPerYear": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationEntryTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BONUS"
          }
        },
        "SIGNING_BONUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNING_BONUS"
          }
        },
        "EQUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUITY"
          }
        },
        "PROFIT_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFIT_SHARING"
          }
        },
        "COMMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMISSIONS"
          }
        },
        "TIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIPS"
          }
        },
        "OTHER_COMPENSATION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_TYPE"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationEntryUnitEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_UNIT_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TIME"
          }
        },
        "OTHER_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#ProcessingOptions": {
      "type": "structure",
      "members": {
        "htmlSanitization": {
          "target": "com.gcp.jobs_v3p1beta1#ProcessingOptionsHtmlSanitizationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Option for job HTML content sanitization. Applied fields are: * description * applicationInfo.instruction * incentives * qualifications * responsibilities HTML tags in these fields may be stripped if sanitiazation is not disabled. Defaults to HtmlSanitization.SIMPLE_FORMATTING_ONLY."
          }
        },
        "disableStreetAddressResolution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, the service does not attempt to resolve a more precise address for the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Options for job processing."
      }
    },
    "com.gcp.jobs_v3p1beta1#ProcessingOptionsHtmlSanitizationEnum": {
      "type": "enum",
      "members": {
        "HTML_SANITIZATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML_SANITIZATION_UNSPECIFIED"
          }
        },
        "HTML_SANITIZATION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML_SANITIZATION_DISABLED"
          }
        },
        "SIMPLE_FORMATTING_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_FORMATTING_ONLY"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#CompanyDerivedInfo": {
      "type": "structure",
      "members": {
        "headquartersLocation": {
          "target": "com.gcp.jobs_v3p1beta1#Location",
          "traits": {
            "smithy.api#documentation": "A structured headquarters location of the company, resolved from Company.hq_location if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derived details about the company."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompleteQueryResponse": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.jobs_v3p1beta1#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        },
        "completionResults": {
          "target": "com.gcp.jobs_v3p1beta1#CompletionResultList",
          "traits": {
            "smithy.api#documentation": "Results of the matching job/company candidates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Response of auto-complete query."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompletionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#CompletionResult"
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.jobs_v3p1beta1#NumericBucketingResult",
          "traits": {
            "smithy.api#documentation": "Histogram result."
          }
        },
        "type": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the request, corresponding to CompensationHistogramRequest.type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Compensation based histogram result."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED"
          }
        },
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE"
          }
        },
        "ANNUALIZED_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_BASE"
          }
        },
        "ANNUALIZED_TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUALIZED_TOTAL"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#CommuteFilter": {
      "type": "structure",
      "members": {
        "startCoordinates": {
          "target": "com.gcp.jobs_v3p1beta1#LatLng",
          "traits": {
            "smithy.api#documentation": "Required. The latitude and longitude of the location from which to calculate the commute time."
          }
        },
        "travelDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The maximum travel time in seconds. The maximum allowed value is `3600s` (one hour). Format is `123s`."
          }
        },
        "roadTraffic": {
          "target": "com.gcp.jobs_v3p1beta1#CommuteFilterRoadTrafficEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the traffic density to use when calculating commute time."
          }
        },
        "commuteMethod": {
          "target": "com.gcp.jobs_v3p1beta1#CommuteFilterCommuteMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. The method of transportation for which to calculate the commute time."
          }
        },
        "allowImpreciseAddresses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, jobs without \"precise\" addresses (street level addresses or GPS coordinates) might also be returned. For city and coarser level addresses, text matching is used. If this field is set to false or is not specified, only jobs that include precise addresses are returned by Commute Search. Note: If `allow_imprecise_addresses` is set to true, Commute Search is not able to calculate accurate commute times to jobs with city level and coarser address information. Jobs with imprecise addresses will return a `travel_duration` time of 0 regardless of distance from the job seeker."
          }
        },
        "departureTime": {
          "target": "com.gcp.jobs_v3p1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. The departure time used to calculate traffic impact, represented as google.type.TimeOfDay in local time zone. Currently traffic model is restricted to hour level resolution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Parameters needed for commute search."
      }
    },
    "com.gcp.jobs_v3p1beta1#CommuteFilterRoadTrafficEnum": {
      "type": "enum",
      "members": {
        "ROAD_TRAFFIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROAD_TRAFFIC_UNSPECIFIED"
          }
        },
        "TRAFFIC_FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_FREE"
          }
        },
        "BUSY_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSY_HOUR"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#CommuteFilterCommuteMethodEnum": {
      "type": "enum",
      "members": {
        "COMMUTE_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMUTE_METHOD_UNSPECIFIED"
          }
        },
        "DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVING"
          }
        },
        "TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT"
          }
        },
        "WALKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WALKING"
          }
        },
        "CYCLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLING"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramFacets": {
      "type": "structure",
      "members": {
        "compensationHistogramFacets": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramRequestList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies compensation field-based histogram requests. Duplicate values of CompensationHistogramRequest.type are not allowed."
          }
        },
        "simpleHistogramFacets": {
          "target": "com.gcp.jobs_v3p1beta1#HistogramFacetsSimpleHistogramFacetsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the simple type of histogram facets, for example, `COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc."
          }
        },
        "customAttributeHistogramFacets": {
          "target": "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramRequestList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the custom attributes histogram requests. Duplicate values of CustomAttributeHistogramRequest.key are not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Histogram facets to be specified in SearchJobsRequest."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompensationHistogramRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#CompensationHistogramRequest"
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramFacetsSimpleHistogramFacetsItemEnum": {
      "type": "enum",
      "members": {
        "SEARCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TYPE_UNSPECIFIED"
          }
        },
        "COMPANY_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_ID"
          }
        },
        "EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPLOYMENT_TYPE"
          }
        },
        "COMPANY_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_SIZE"
          }
        },
        "DATE_PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_PUBLISHED"
          }
        },
        "EDUCATION_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION_LEVEL"
          }
        },
        "EXPERIENCE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIENCE_LEVEL"
          }
        },
        "ADMIN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY"
          }
        },
        "LOCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALE"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        },
        "CITY_COORDINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY_COORDINATE"
          }
        },
        "ADMIN_1_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1_COUNTRY"
          }
        },
        "COMPANY_DISPLAY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_DISPLAY_NAME"
          }
        },
        "BASE_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramFacetsSimpleHistogramFacetsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#HistogramFacetsSimpleHistogramFacetsItemEnum"
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#CustomAttributeHistogramRequest"
      }
    },
    "com.gcp.jobs_v3p1beta1#MatchingJob": {
      "type": "structure",
      "members": {
        "commuteInfo": {
          "target": "com.gcp.jobs_v3p1beta1#CommuteInfo",
          "traits": {
            "smithy.api#documentation": "Commute information which is generated based on specified CommuteFilter."
          }
        },
        "job": {
          "target": "com.gcp.jobs_v3p1beta1#Job",
          "traits": {
            "smithy.api#documentation": "Job resource that matches the specified SearchJobsRequest."
          }
        },
        "jobSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A summary of the job with core information that's displayed on the search results listing page."
          }
        },
        "jobTitleSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.job_title field most closely matching a search query's keywords, if available. The matching query keywords are enclosed in HTML bold tags."
          }
        },
        "searchTextSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains snippets of text from the Job.description and similar fields that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Job entry with metadata inside SearchJobsResponse."
      }
    },
    "com.gcp.jobs_v3p1beta1#NumericBucketingOption": {
      "type": "structure",
      "members": {
        "bucketBounds": {
          "target": "com.gcp.jobs_v3p1beta1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Required. Two adjacent values form a histogram bucket. Values should be in ascending order. For example, if [5, 10, 15] are provided, four buckets are created: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20 [buckets_bound is supported."
          }
        },
        "requiresMinMax": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, the histogram result includes minimum/maximum value of the numeric field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Use this field to specify bucketing option for the histogram search response."
      }
    },
    "com.gcp.jobs_v3p1beta1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.jobs_v3p1beta1#BatchDeleteJobsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string specifies the jobs to be deleted. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` (Required) Sample Query: companyName = \"projects/api-test-project/companies/123\" AND requisitionId = \"req-1\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input only. Batch delete jobs request."
      }
    },
    "com.gcp.jobs_v3p1beta1#DeviceInfo": {
      "type": "structure",
      "members": {
        "deviceType": {
          "target": "com.gcp.jobs_v3p1beta1#DeviceInfoDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the device."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A device-specific ID. The ID must be a unique identifier that distinguishes the device from other devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device information collected from the job seeker, candidate, or other entity conducting the job search. Providing this information improves the quality of the search results across devices."
      }
    },
    "com.gcp.jobs_v3p1beta1#DeviceInfoDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB"
          }
        },
        "MOBILE_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_WEB"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        },
        "BOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOT"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#BucketRange": {
      "type": "structure",
      "members": {
        "to": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Ending value of the bucket range."
          }
        },
        "from": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Starting value of the bucket range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents starting and ending value of a range in double."
      }
    },
    "com.gcp.jobs_v3p1beta1#CustomAttribute": {
      "type": "structure",
      "members": {
        "longValues": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but exactly one of string_values or long_values must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. Currently at most 1 long_values is supported."
          }
        },
        "filterable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the `filterable` flag is true, the custom field values may be used for custom attribute filters JobQuery.custom_attribute_filter. If false, these values may not be used for custom attribute filters. Default is false."
          }
        },
        "stringValues": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but exactly one of string_values or long_values must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_value`s, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 500B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty string is not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom attribute values that are either filterable or non-filterable."
      }
    },
    "com.gcp.jobs_v3p1beta1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.jobs_v3p1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.jobs_v3p1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.jobs_v3p1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#DocumentMap"
      }
    },
    "com.gcp.jobs_v3p1beta1#TimeOfDay": {
      "type": "structure",
      "members": {
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramResult": {
      "type": "structure",
      "members": {
        "searchType": {
          "target": "com.gcp.jobs_v3p1beta1#HistogramResultSearchTypeEnum",
          "traits": {
            "smithy.api#documentation": "The Histogram search filters."
          }
        },
        "values": {
          "target": "com.gcp.jobs_v3p1beta1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map from the values of field to the number of jobs with that value in this search result. Key: search type (filter names, such as the companyName). Values: the count of jobs that match the filter for this search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Result of a histogram call. The response contains the histogram map for the search type specified by HistogramResult.field. The response is a map of each filter value to the corresponding count of jobs for that filter."
      }
    },
    "com.gcp.jobs_v3p1beta1#HistogramResultSearchTypeEnum": {
      "type": "enum",
      "members": {
        "SEARCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_TYPE_UNSPECIFIED"
          }
        },
        "COMPANY_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_ID"
          }
        },
        "EMPLOYMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPLOYMENT_TYPE"
          }
        },
        "COMPANY_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_SIZE"
          }
        },
        "DATE_PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_PUBLISHED"
          }
        },
        "EDUCATION_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDUCATION_LEVEL"
          }
        },
        "EXPERIENCE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIENCE_LEVEL"
          }
        },
        "ADMIN_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY"
          }
        },
        "LOCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALE"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        },
        "CITY_COORDINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY_COORDINATE"
          }
        },
        "ADMIN_1_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_1_COUNTRY"
          }
        },
        "COMPANY_DISPLAY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_DISPLAY_NAME"
          }
        },
        "BASE_COMPENSATION_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_COMPENSATION_UNIT"
          }
        }
      }
    },
    "com.gcp.jobs_v3p1beta1#ListCompaniesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        },
        "companies": {
          "target": "com.gcp.jobs_v3p1beta1#CompanyList",
          "traits": {
            "smithy.api#documentation": "Companies for the current client."
          }
        },
        "metadata": {
          "target": "com.gcp.jobs_v3p1beta1#ResponseMetadata",
          "traits": {
            "smithy.api#documentation": "Additional information for the API invocation, such as the request tracking id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. The List companies response object."
      }
    },
    "com.gcp.jobs_v3p1beta1#CompanyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.jobs_v3p1beta1#Company"
      }
    },
    "com.gcp.jobs_v3p1beta1#ResponseMetadata": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique id associated with this call. This id is logged for tracking purposes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. Additional information returned to client, such as debugging information."
      }
    },
    "com.gcp.jobs_v3p1beta1#Job": {
      "type": "structure",
      "members": {
        "applicationInfo": {
          "target": "com.gcp.jobs_v3p1beta1#ApplicationInfo",
          "traits": {
            "smithy.api#documentation": "Required. At least one field within ApplicationInfo must be specified. Job application information."
          }
        },
        "compensationInfo": {
          "target": "com.gcp.jobs_v3p1beta1#CompensationInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Job compensation information."
          }
        },
        "qualifications": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the qualifications required to perform the job. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000."
          }
        },
        "degreeTypes": {
          "target": "com.gcp.jobs_v3p1beta1#JobDegreeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The desired education degrees for the job, such as Bachelors, Masters."
          }
        },
        "customAttributes": {
          "target": "com.gcp.jobs_v3p1beta1#CustomAttributeMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. The keys of the map are strings up to 64 bytes and must match the pattern: a-zA-Z*. For example, key0LikeThis or KEY_1_LIKE_THIS. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB."
          }
        },
        "postingExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional but strongly recommended for the best service experience. The expiration timestamp of the job. After this timestamp, the job is marked as expired, and it no longer appears in search results. The expired job can't be deleted or listed by the DeleteJob and ListJobs APIs, but it can be retrieved with the GetJob API or updated with the UpdateJob API. An expired job can be updated and opened again by using a future expiration timestamp. Updating an expired job fails if there is another existing open job with same company_name, language_code and requisition_id. The expired jobs are retained in our system for 90 days. However, the overall expired job count cannot exceed 3 times the maximum of open jobs count over the past week, otherwise jobs with earlier expire time are cleaned first. Expired jobs are no longer accessible after they are cleaned out. Invalid timestamps are ignored, and treated as expire time not provided. Timestamp before the instant request is made is considered valid, the job will be treated as expired immediately. If this value is not provided at the time of job creation or is invalid, the job posting expires after 30 days from the job's creation time. For example, if the job was created on 2017/01/01 13:00AM UTC with an unspecified expiration date, the job expires after 2017/01/31 13:00AM UTC. If this value is not provided on job update, it depends on the field masks set by UpdateJobRequest.update_mask. If the field masks include expiry_time, or the masks are empty meaning that every field is updated, the job posting expires after 30 days from the job's last update time. Otherwise the expiration date isn't updated."
          }
        },
        "incentives": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of bonus, commission, and other compensation incentives associated with the job not including salary or pay. The maximum number of allowed characters is 10,000."
          }
        },
        "companyDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the company listing the job."
          }
        },
        "postingCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this job posting was created."
          }
        },
        "visibility": {
          "target": "com.gcp.jobs_v3p1beta1#JobVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. The job is only visible to the owner. The visibility of the job. Defaults to Visibility.ACCOUNT_ONLY if not specified."
          }
        },
        "jobEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end timestamp of the job. Typically this field is used for contracting engagements. Invalid timestamps are ignored."
          }
        },
        "postingUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this job posting was last updated."
          }
        },
        "derivedInfo": {
          "target": "com.gcp.jobs_v3p1beta1#JobDerivedInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Derived details about the job posting."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The language of the posting. This field is distinct from any requirements for fluency that are associated with the job. Language codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }. If this field is unspecified and Job.description is present, detected language code based on Job.description is assigned, otherwise defaults to 'en_US'."
          }
        },
        "employmentTypes": {
          "target": "com.gcp.jobs_v3p1beta1#JobEmploymentTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The employment type(s) of a job, for example, full time or part time."
          }
        },
        "promotionValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. A promotion value of the job, as determined by the client. The value determines the sort order of the jobs returned when searching for jobs using the featured jobs search call, with higher promotional values being returned first and ties being resolved by relevance sort. Only the jobs with a promotionValue >0 are returned in a FEATURED_JOB_SEARCH. Default value is 0, and negative values are treated as 0."
          }
        },
        "postingRegion": {
          "target": "com.gcp.jobs_v3p1beta1#JobPostingRegionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The job PostingRegion (for example, state, country) throughout which the job is available. If this field is set, a LocationFilter in a search query within the job region finds this job posting if an exact location match isn't specified. If this field is set to PostingRegion.NATION or PostingRegion.ADMINISTRATIVE_AREA, setting job Job.addresses to the same location level as this field is strongly recommended."
          }
        },
        "jobStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The start timestamp of the job in UTC time zone. Typically this field is used for contracting engagements. Invalid timestamps are ignored."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The description of the job, which typically includes a multi-paragraph description of the company and related information. Separate fields are provided on the job object for responsibilities, qualifications, and other job characteristics. Use of these separate job fields is recommended. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 100,000."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The title of the job, such as \"Software Engineer\" The maximum number of allowed characters is 500."
          }
        },
        "jobLevel": {
          "target": "com.gcp.jobs_v3p1beta1#JobJobLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The experience level associated with the job, such as \"Entry Level\"."
          }
        },
        "department": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The department or functional area within the company with the open position. The maximum number of allowed characters is 255."
          }
        },
        "requisitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The requisition ID, also referred to as the posting ID, assigned by the client to identify a job. This field is intended to be used by clients for client identification and tracking of postings. A job is not allowed to be created if there is another job with the same [company_name], language_code and requisition_id. The maximum number of allowed characters is 255."
          }
        },
        "addresses": {
          "target": "com.gcp.jobs_v3p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional but strongly recommended for the best service experience. Location(s) where the employer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as multiple jobs with the same company_name, language_code and requisition_id are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. Jobs with multiple addresses must have their addresses with the same LocationType to allow location filtering to work properly. (For example, a Job with addresses \"1600 Amphitheatre Parkway, Mountain View, CA, USA\" and \"London, UK\" may not have location filters applied correctly at search time since the first is a LocationType.STREET_ADDRESS and the second is a LocationType.LOCALITY.) If a job needs to have multiple addresses, it is suggested to split it into multiple jobs with same LocationTypes. The maximum number of allowed characters is 500."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the company listing the job, such as \"projects/api-test-project/companies/foo\"."
          }
        },
        "responsibilities": {
          "target": "smithy.api#String",
          "traits": {
[...]
