{
  "smithy": "2.0",
  "metadata": {
    "service": "language",
    "version": "v1beta2",
    "title": "Cloud Natural Language API",
    "baseUrl": "https://language.googleapis.com/"
  },
  "shapes": {
    "com.gcp.language_v1beta2#XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "structure",
      "members": {
        "numWords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of words over which the word error rate was computed."
          }
        },
        "biasingModelType": {
          "target": "com.gcp.language_v1beta2#XPSSpeechEvaluationMetricsSubModelEvaluationMetricBiasingModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the biasing model."
          }
        },
        "isEnhancedModel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true then it means we have an enhanced version of the biasing models."
          }
        },
        "sentenceAccuracy": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Below fields are used for debugging purposes"
          }
        },
        "wer": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Word error rate (standard error metric used for speech recognition)."
          }
        },
        "numInsertions": {
          "target": "smithy.api#Integer"
        },
        "numSubstitutions": {
          "target": "smithy.api#Integer"
        },
        "numDeletions": {
          "target": "smithy.api#Integer"
        },
        "numUtterances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of utterances used in the wer computation."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSSpeechEvaluationMetricsSubModelEvaluationMetricBiasingModelTypeEnum": {
      "type": "enum",
      "members": {
        "BIASING_MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIASING_MODEL_TYPE_UNSPECIFIED"
          }
        },
        "COMMAND_AND_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SEARCH"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSMetricEntryLabel": {
      "type": "structure",
      "members": {
        "labelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label."
          }
        },
        "labelValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the label."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.language_v1beta2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.language_v1beta2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.language_v1beta2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#DocumentMap"
      }
    },
    "com.gcp.language_v1beta2#XPSSpeechModelSpec": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly."
          }
        },
        "subModelSpecs": {
          "target": "com.gcp.language_v1beta2#XPSSpeechModelSpecSubModelSpecList",
          "traits": {
            "smithy.api#documentation": "Model specs for all submodels contained in this model."
          }
        },
        "language": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.language_v1beta2#XPSSpeechModelSpecSubModelSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSSpeechModelSpecSubModelSpec"
      }
    },
    "com.gcp.language_v1beta2#InfraUsage": {
      "type": "structure",
      "members": {
        "diskMetrics": {
          "target": "com.gcp.language_v1beta2#DiskMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated persistent disk metrics since requested start_time."
          }
        },
        "ramMetrics": {
          "target": "com.gcp.language_v1beta2#RamMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated ram metrics since requested start_time."
          }
        },
        "tpuMetrics": {
          "target": "com.gcp.language_v1beta2#TpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated tpu metrics since requested start_time."
          }
        },
        "gpuMetrics": {
          "target": "com.gcp.language_v1beta2#GpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated gpu metrics since requested start_time."
          }
        },
        "cpuMetrics": {
          "target": "com.gcp.language_v1beta2#CpuMetricList",
          "traits": {
            "smithy.api#documentation": "Aggregated core metrics since requested start_time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LINT: LEGACY_NAMES Infra Usage of billing metrics."
      }
    },
    "com.gcp.language_v1beta2#DiskMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#DiskMetric"
      }
    },
    "com.gcp.language_v1beta2#RamMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#RamMetric"
      }
    },
    "com.gcp.language_v1beta2#TpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#TpuMetric"
      }
    },
    "com.gcp.language_v1beta2#GpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#GpuMetric"
      }
    },
    "com.gcp.language_v1beta2#CpuMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#CpuMetric"
      }
    },
    "com.gcp.language_v1beta2#XPSVisualization": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.language_v1beta2#XPSVisualizationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES."
          }
        },
        "overlayType": {
          "target": "com.gcp.language_v1beta2#XPSVisualizationOverlayTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE."
          }
        },
        "colorMap": {
          "target": "com.gcp.language_v1beta2#XPSVisualizationColorMapEnum",
          "traits": {
            "smithy.api#documentation": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue."
          }
        },
        "clipPercentUpperbound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9."
          }
        },
        "polarity": {
          "target": "com.gcp.language_v1beta2#XPSVisualizationPolarityEnum",
          "traits": {
            "smithy.api#documentation": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE."
          }
        },
        "clipPercentLowerbound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Visualization configurations for image explanation."
      }
    },
    "com.gcp.language_v1beta2#XPSVisualizationTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PIXELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIXELS"
          }
        },
        "OUTLINES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTLINES"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSVisualizationOverlayTypeEnum": {
      "type": "enum",
      "members": {
        "OVERLAY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAY_TYPE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ORIGINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGINAL"
          }
        },
        "GRAYSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYSCALE"
          }
        },
        "MASK_BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASK_BLACK"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSVisualizationColorMapEnum": {
      "type": "enum",
      "members": {
        "COLOR_MAP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLOR_MAP_UNSPECIFIED"
          }
        },
        "PINK_GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PINK_GREEN"
          }
        },
        "VIRIDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRIDIS"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RED"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN"
          }
        },
        "RED_GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RED_GREEN"
          }
        },
        "PINK_WHITE_GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PINK_WHITE_GREEN"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSVisualizationPolarityEnum": {
      "type": "enum",
      "members": {
        "POLARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLARITY_UNSPECIFIED"
          }
        },
        "POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITIVE"
          }
        },
        "NEGATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGATIVE"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTH"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSTablesDatasetMetadata": {
      "type": "structure",
      "members": {
        "mlUseColumnId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id the column to split the table."
          }
        },
        "weightColumnId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the primary table column that should be used as the weight column."
          }
        },
        "targetColumnCorrelations": {
          "target": "com.gcp.language_v1beta2#XPSCorrelationStatsMap",
          "traits": {
            "smithy.api#documentation": "(the column id : its CorrelationStats with target column)."
          }
        },
        "primaryTableSpec": {
          "target": "com.gcp.language_v1beta2#XPSTableSpec",
          "traits": {
            "smithy.api#documentation": "Primary table."
          }
        },
        "targetColumnId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the primary table column that should be used as the training label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a dataset used for AutoML Tables."
      }
    },
    "com.gcp.language_v1beta2#XPSCorrelationStatsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.language_v1beta2#XPSCorrelationStats"
      }
    },
    "com.gcp.language_v1beta2#XPSEvaluationMetricsSet": {
      "type": "structure",
      "members": {
        "fileSpec": {
          "target": "com.gcp.language_v1beta2#XPSFileSpec",
          "traits": {
            "smithy.api#documentation": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages."
          }
        },
        "evaluationMetrics": {
          "target": "com.gcp.language_v1beta2#XPSEvaluationMetricsList",
          "traits": {
            "smithy.api#documentation": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec."
          }
        },
        "numEvaluationMetrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of the evaluation metrics (usually one per label plus overall)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies location of model evaluation metrics."
      }
    },
    "com.gcp.language_v1beta2#XPSEvaluationMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSEvaluationMetrics"
      }
    },
    "com.gcp.language_v1beta2#XPSTranslationEvaluationMetrics": {
      "type": "structure",
      "members": {
        "baseBleuScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "BLEU score for base model."
          }
        },
        "bleuScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "BLEU score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluation metrics for the dataset."
      }
    },
    "com.gcp.language_v1beta2#Document": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned."
          }
        },
        "gcsContentUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
          }
        },
        "boilerplateHandling": {
          "target": "com.gcp.language_v1beta2#DocumentBoilerplateHandlingEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how detected boilerplate(e.g. advertisements, copyright declarations, banners) should be handled for this document. If not specified, boilerplate will be treated the same as content."
          }
        },
        "type": {
          "target": "com.gcp.language_v1beta2#DocumentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the input in string format. Cloud audit logging exempt since it is based on user data."
          }
        },
        "referenceWebUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web URI where the document comes from. This URI is not used for fetching the content, but as a hint for analyzing the document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the input to API methods."
      }
    },
    "com.gcp.language_v1beta2#DocumentBoilerplateHandlingEnum": {
      "type": "enum",
      "members": {
        "BOILERPLATE_HANDLING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOILERPLATE_HANDLING_UNSPECIFIED"
          }
        },
        "SKIP_BOILERPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_BOILERPLATE"
          }
        },
        "KEEP_BOILERPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP_BOILERPLATE"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#DocumentTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PLAIN_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAIN_TEXT"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSFloat64Stats": {
      "type": "structure",
      "members": {
        "standardDeviation": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The standard deviation of the series."
          }
        },
        "commonStats": {
          "target": "com.gcp.language_v1beta2#XPSCommonStats"
        },
        "mean": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean of the series."
          }
        },
        "histogramBuckets": {
          "target": "com.gcp.language_v1beta2#XPSFloat64StatsHistogramBucketList",
          "traits": {
            "smithy.api#documentation": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`."
          }
        },
        "quantiles": {
          "target": "com.gcp.language_v1beta2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data statistics of a series of FLOAT64 values."
      }
    },
    "com.gcp.language_v1beta2#XPSFloat64StatsHistogramBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSFloat64StatsHistogramBucket"
      }
    },
    "com.gcp.language_v1beta2#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.language_v1beta2#XPSTextTrainResponse": {
      "type": "structure",
      "members": {
        "componentModel": {
          "target": "com.gcp.language_v1beta2#XPSTextComponentModelList",
          "traits": {
            "smithy.api#documentation": "Component submodels."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSTextComponentModelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTextComponentModel"
      }
    },
    "com.gcp.language_v1beta2#XPSFileSpec": {
      "type": "structure",
      "members": {
        "directoryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use file_spec."
          }
        },
        "singleFilePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use file_spec."
          }
        },
        "fileSpec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002."
          }
        },
        "fileFormat": {
          "target": "com.gcp.language_v1beta2#XPSFileSpecFileFormatEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage)."
      }
    },
    "com.gcp.language_v1beta2#XPSFileSpecFileFormatEnum": {
      "type": "enum",
      "members": {
        "FILE_FORMAT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_UNKNOWN"
          }
        },
        "FILE_FORMAT_SSTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_SSTABLE"
          }
        },
        "FILE_FORMAT_TRANSLATION_RKV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_TRANSLATION_RKV"
          }
        },
        "FILE_FORMAT_RECORDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_RECORDIO"
          }
        },
        "FILE_FORMAT_RAW_CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_RAW_CSV"
          }
        },
        "FILE_FORMAT_RAW_CAPACITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_RAW_CAPACITOR"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSFloat64StatsHistogramBucket": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of data values that are in the bucket, i.e. are between min and max values."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum value of the bucket, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bucket of a histogram."
      }
    },
    "com.gcp.language_v1beta2#ModerateTextRequest": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.gcp.language_v1beta2#Document",
          "traits": {
            "smithy.api#documentation": "Required. Input document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The document moderation request message."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesClassificationMetrics": {
      "type": "structure",
      "members": {
        "curveMetrics": {
          "target": "com.gcp.language_v1beta2#XPSTablesClassificationMetricsCurveMetricsList",
          "traits": {
            "smithy.api#documentation": "Metrics building a curve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for Tables classification problems."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesClassificationMetricsCurveMetricsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTablesClassificationMetricsCurveMetrics"
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelStructureModelParameters": {
      "type": "structure",
      "members": {
        "hyperparameters": {
          "target": "com.gcp.language_v1beta2#XPSTablesModelStructureModelParametersParameterList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Model hyper-parameters for a model."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelStructureModelParametersParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTablesModelStructureModelParametersParameter"
      }
    },
    "com.gcp.language_v1beta2#XPSBoundingBoxMetricsEntry": {
      "type": "structure",
      "members": {
        "iouThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The intersection-over-union threshold value used to compute this metrics entry."
          }
        },
        "meanAveragePrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean average precision."
          }
        },
        "confidenceMetricsEntries": {
          "target": "com.gcp.language_v1beta2#XPSBoundingBoxMetricsEntryConfidenceMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds."
      }
    },
    "com.gcp.language_v1beta2#XPSBoundingBoxMetricsEntryConfidenceMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
      }
    },
    "com.gcp.language_v1beta2#XPSRegressionMetricsEntry": {
      "type": "structure",
      "members": {
        "trueValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The actual target value for a row in the dataset."
          }
        },
        "predictedValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The observed value for a row in the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pair of actual & observed values for the model being evaluated."
      }
    },
    "com.gcp.language_v1beta2#Token": {
      "type": "structure",
      "members": {
        "dependencyEdge": {
          "target": "com.gcp.language_v1beta2#DependencyEdge",
          "traits": {
            "smithy.api#documentation": "Dependency tree parse for this token."
          }
        },
        "lemma": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Lemma](https://en.wikipedia.org/wiki/Lemma_%28morphology%29) of the token."
          }
        },
        "text": {
          "target": "com.gcp.language_v1beta2#TextSpan",
          "traits": {
            "smithy.api#documentation": "The token text."
          }
        },
        "partOfSpeech": {
          "target": "com.gcp.language_v1beta2#PartOfSpeech",
          "traits": {
            "smithy.api#documentation": "Parts of speech tag for this token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the smallest syntactic building block of the text."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesTrainResponse": {
      "type": "structure",
      "members": {
        "tablesModelColumnInfo": {
          "target": "com.gcp.language_v1beta2#XPSTablesModelColumnInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. Auxiliary information for each of the input_feature_column_specs, with respect to this particular model."
          }
        },
        "predictionSampleRows": {
          "target": "com.gcp.language_v1beta2#XPSRowList",
          "traits": {
            "smithy.api#documentation": "Sample rows from the dataset this model was trained."
          }
        },
        "modelStructure": {
          "target": "com.gcp.language_v1beta2#XPSTablesModelStructure"
        },
        "trainCostMilliNodeHours": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelColumnInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTablesModelColumnInfo"
      }
    },
    "com.gcp.language_v1beta2#XPSRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSRow"
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelColumnInfo": {
      "type": "structure",
      "members": {
        "columnId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the column."
          }
        },
        "featureImportance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it."
      }
    },
    "com.gcp.language_v1beta2#XPSSpeechPreprocessResponse": {
      "type": "structure",
      "members": {
        "cnsTrainDataPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of shards of sstables (training data) of DataUtterance protos."
          }
        },
        "cnsTestDataPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location od shards of sstables (test data) of DataUtterance protos."
          }
        },
        "speechPreprocessStats": {
          "target": "com.gcp.language_v1beta2#XPSSpeechPreprocessStats",
          "traits": {
            "smithy.api#documentation": "Stats associated with the data."
          }
        },
        "prebuiltModelEvaluationMetrics": {
          "target": "com.gcp.language_v1beta2#XPSSpeechEvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSVideoActionMetricsEntry": {
      "type": "structure",
      "members": {
        "precisionWindowLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
          }
        },
        "meanAveragePrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean average precision."
          }
        },
        "confidenceMetricsEntries": {
          "target": "com.gcp.language_v1beta2#XPSVideoActionMetricsEntryConfidenceMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Evaluation metrics entry given a specific precision_window_length."
      }
    },
    "com.gcp.language_v1beta2#XPSVideoActionMetricsEntryConfidenceMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSVideoActionMetricsEntryConfidenceMetricsEntry"
      }
    },
    "com.gcp.language_v1beta2#XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "type": "structure",
      "members": {
        "confidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The confidence threshold value used to compute the metrics."
          }
        },
        "recall": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Recall for the given confidence threshold."
          }
        },
        "precision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Precision for the given confidence threshold."
          }
        },
        "f1Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The harmonic mean of recall and precision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for a single confidence threshold."
      }
    },
    "com.gcp.language_v1beta2#XPSTrainingObjectivePoint": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The objective value when this point was recorded."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this point was recorded."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSConfidenceMetricsEntry": {
      "type": "structure",
      "members": {
        "falseNegativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of ground truth labels that are not matched by a model created label."
          }
        },
        "falsePositiveRateAt1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
          }
        },
        "positionThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold."
          }
        },
        "precision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Precision for the given confidence threshold."
          }
        },
        "f1Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The harmonic mean of recall and precision."
          }
        },
        "truePositiveCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of model created labels that match a ground truth label."
          }
        },
        "trueNegativeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label."
          }
        },
        "confidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metrics are computed with an assumption that the model never return predictions with score lower than this value."
          }
        },
        "recall": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Recall (true positive rate) for the given confidence threshold."
          }
        },
        "recallAt1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
          }
        },
        "falsePositiveRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "False Positive Rate for the given confidence threshold."
          }
        },
        "precisionAt1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
          }
        },
        "f1ScoreAt1": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The harmonic mean of recall_at1 and precision_at1."
          }
        },
        "falsePositiveCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of model created labels that do not match a ground truth label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16."
      }
    },
    "com.gcp.language_v1beta2#AnnotateTextResponse": {
      "type": "structure",
      "members": {
        "documentSentiment": {
          "target": "com.gcp.language_v1beta2#Sentiment",
          "traits": {
            "smithy.api#documentation": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details."
          }
        },
        "sentences": {
          "target": "com.gcp.language_v1beta2#SentenceList",
          "traits": {
            "smithy.api#documentation": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax."
          }
        },
        "tokens": {
          "target": "com.gcp.language_v1beta2#TokenList",
          "traits": {
            "smithy.api#documentation": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax."
          }
        },
        "categories": {
          "target": "com.gcp.language_v1beta2#ClassificationCategoryList",
          "traits": {
            "smithy.api#documentation": "Categories identified in the input document."
          }
        },
        "moderationCategories": {
          "target": "com.gcp.language_v1beta2#ClassificationCategoryList",
          "traits": {
            "smithy.api#documentation": "Harmful and sensitive categories identified in the input document."
          }
        },
        "entities": {
          "target": "com.gcp.language_v1beta2#EntityList",
          "traits": {
            "smithy.api#documentation": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The text annotations response message."
      }
    },
    "com.gcp.language_v1beta2#SentenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#Sentence"
      }
    },
    "com.gcp.language_v1beta2#TokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#Token"
      }
    },
    "com.gcp.language_v1beta2#ClassificationCategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#ClassificationCategory"
      }
    },
    "com.gcp.language_v1beta2#EntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#Entity"
      }
    },
    "com.gcp.language_v1beta2#DiskMetric": {
      "type": "structure",
      "members": {
        "diskType": {
          "target": "com.gcp.language_v1beta2#DiskMetricDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of Disk, e.g. REGIONAL_SSD."
          }
        },
        "gibSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Seconds of physical disk usage, e.g. 3600."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#DiskMetricDiskTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_DISK_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_DISK_TYPE"
          }
        },
        "REGIONAL_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_SSD"
          }
        },
        "REGIONAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_STORAGE"
          }
        },
        "PD_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PD_SSD"
          }
        },
        "PD_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PD_STANDARD"
          }
        },
        "STORAGE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_SNAPSHOT"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#AnalyzeSyntaxRequest": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.gcp.language_v1beta2#Document",
          "traits": {
            "smithy.api#documentation": "Required. Input document."
          }
        },
        "encodingType": {
          "target": "com.gcp.language_v1beta2#AnalyzeSyntaxRequestEncodingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The encoding type used by the API to calculate offsets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The syntax analysis request message."
      }
    },
    "com.gcp.language_v1beta2#AnalyzeSyntaxRequestEncodingTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "UTF8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF8"
          }
        },
        "UTF16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF16"
          }
        },
        "UTF32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF32"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSDockerFormat": {
      "type": "structure",
      "members": {
        "cpuArchitecture": {
          "target": "com.gcp.language_v1beta2#XPSDockerFormatCpuArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Additional cpu information describing the requirements for the to be exported model files."
          }
        },
        "gpuArchitecture": {
          "target": "com.gcp.language_v1beta2#XPSDockerFormatGpuArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Additional gpu information describing the requirements for the to be exported model files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system."
      }
    },
    "com.gcp.language_v1beta2#XPSDockerFormatCpuArchitectureEnum": {
      "type": "enum",
      "members": {
        "CPU_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPU_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "CPU_ARCHITECTURE_X86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPU_ARCHITECTURE_X86_64"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSDockerFormatGpuArchitectureEnum": {
      "type": "enum",
      "members": {
        "GPU_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "GPU_ARCHITECTURE_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GPU_ARCHITECTURE_NVIDIA"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSImageSegmentationTrainResponse": {
      "type": "structure",
      "members": {
        "trainCostNodeSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
          }
        },
        "modelServingSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageModelServingSpec"
        },
        "stopReason": {
          "target": "com.gcp.language_v1beta2#XPSImageSegmentationTrainResponseStopReasonEnum",
          "traits": {
            "smithy.api#documentation": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'."
          }
        },
        "colorMaps": {
          "target": "com.gcp.language_v1beta2#XPSColorMapList",
          "traits": {
            "smithy.api#documentation": "Color map of the model."
          }
        },
        "exportModelSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageExportModelSpec",
          "traits": {
            "smithy.api#documentation": "NOTE: These fields are not used/needed in EAP but will be set later."
          }
        },
        "modelArtifactSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageModelArtifactSpec",
          "traits": {
            "smithy.api#documentation": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSImageSegmentationTrainResponseStopReasonEnum": {
      "type": "enum",
      "members": {
        "TRAIN_STOP_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_UNSPECIFIED"
          }
        },
        "TRAIN_STOP_REASON_BUDGET_REACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_BUDGET_REACHED"
          }
        },
        "TRAIN_STOP_REASON_MODEL_CONVERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_MODEL_CONVERGED"
          }
        },
        "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSColorMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSColorMap"
      }
    },
    "com.gcp.language_v1beta2#AnalyzeEntitiesRequest": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.gcp.language_v1beta2#Document",
          "traits": {
            "smithy.api#documentation": "Required. Input document."
          }
        },
        "encodingType": {
          "target": "com.gcp.language_v1beta2#AnalyzeEntitiesRequestEncodingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The encoding type used by the API to calculate offsets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entity analysis request message."
      }
    },
    "com.gcp.language_v1beta2#AnalyzeEntitiesRequestEncodingTypeEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "UTF8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF8"
          }
        },
        "UTF16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF16"
          }
        },
        "UTF32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTF32"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#ModerateTextResponse": {
      "type": "structure",
      "members": {
        "moderationCategories": {
          "target": "com.gcp.language_v1beta2#ClassificationCategoryList",
          "traits": {
            "smithy.api#documentation": "Harmful and sensitive categories representing the input document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The document moderation response message."
      }
    },
    "com.gcp.language_v1beta2#XPSTuningTrial": {
      "type": "structure",
      "members": {
        "modelStructure": {
          "target": "com.gcp.language_v1beta2#XPSTablesModelStructure",
          "traits": {
            "smithy.api#documentation": "Model parameters for the trial."
          }
        },
        "trainingObjectivePoint": {
          "target": "com.gcp.language_v1beta2#XPSTrainingObjectivePoint",
          "traits": {
            "smithy.api#documentation": "The optimization objective evaluation of the eval split data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users."
      }
    },
    "com.gcp.language_v1beta2#XPSDataStats": {
      "type": "structure",
      "members": {
        "nullValueCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of values that are null."
          }
        },
        "categoryStats": {
          "target": "com.gcp.language_v1beta2#XPSCategoryStats",
          "traits": {
            "smithy.api#documentation": "The statistics for CATEGORY DataType."
          }
        },
        "stringStats": {
          "target": "com.gcp.language_v1beta2#XPSStringStats",
          "traits": {
            "smithy.api#documentation": "The statistics for STRING DataType."
          }
        },
        "validValueCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of values that are valid."
          }
        },
        "timestampStats": {
          "target": "com.gcp.language_v1beta2#XPSTimestampStats",
          "traits": {
            "smithy.api#documentation": "The statistics for TIMESTAMP DataType."
          }
        },
        "arrayStats": {
          "target": "com.gcp.language_v1beta2#XPSArrayStats",
          "traits": {
            "smithy.api#documentation": "The statistics for ARRAY DataType."
          }
        },
        "float64Stats": {
          "target": "com.gcp.language_v1beta2#XPSFloat64Stats",
          "traits": {
            "smithy.api#documentation": "The statistics for FLOAT64 DataType."
          }
        },
        "structStats": {
          "target": "com.gcp.language_v1beta2#XPSStructStats",
          "traits": {
            "smithy.api#documentation": "The statistics for STRUCT DataType."
          }
        },
        "distinctValueCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of distinct values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data statistics of a series of values that share the same DataType."
      }
    },
    "com.gcp.language_v1beta2#Color": {
      "type": "structure",
      "members": {
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.gcp.language_v1beta2#Sentence": {
      "type": "structure",
      "members": {
        "sentiment": {
          "target": "com.gcp.language_v1beta2#Sentiment",
          "traits": {
            "smithy.api#documentation": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence."
          }
        },
        "text": {
          "target": "com.gcp.language_v1beta2#TextSpan",
          "traits": {
            "smithy.api#documentation": "The sentence text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a sentence in the input document."
      }
    },
    "com.gcp.language_v1beta2#XPSTimestampStatsGranularStats": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.gcp.language_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stats split by a defined in context granularity."
      }
    },
    "com.gcp.language_v1beta2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.language_v1beta2#XPSTrackMetricsEntry": {
      "type": "structure",
      "members": {
        "iouThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry."
          }
        },
        "meanBoundingBoxIou": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The mean bounding box iou over all confidence thresholds."
          }
        },
        "meanTrackingAveragePrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The mean average precision over all confidence thresholds."
          }
        },
        "meanMismatchRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The mean mismatch rate over all confidence thresholds."
          }
        },
        "confidenceMetricsEntries": {
          "target": "com.gcp.language_v1beta2#XPSTrackMetricsEntryConfidenceMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6."
      }
    },
    "com.gcp.language_v1beta2#XPSTrackMetricsEntryConfidenceMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTrackMetricsEntryConfidenceMetricsEntry"
      }
    },
    "com.gcp.language_v1beta2#XPSResponseExplanationSpec": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.language_v1beta2#XPSResponseExplanationMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata describing the Model's input and output for explanation."
          }
        },
        "explanationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`"
          }
        },
        "parameters": {
          "target": "com.gcp.language_v1beta2#XPSResponseExplanationParameters",
          "traits": {
            "smithy.api#documentation": "Parameters that configure explaining of the Model's predictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated."
      }
    },
    "com.gcp.language_v1beta2#DependencyEdge": {
      "type": "structure",
      "members": {
        "headTokenIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index."
          }
        },
        "label": {
          "target": "com.gcp.language_v1beta2#DependencyEdgeLabelEnum",
          "traits": {
            "smithy.api#documentation": "The parse label for the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents dependency parse tree information for a token."
      }
    },
    "com.gcp.language_v1beta2#DependencyEdgeLabelEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ABBREV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABBREV"
          }
        },
        "ACOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACOMP"
          }
        },
        "ADVCL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVCL"
          }
        },
        "ADVMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVMOD"
          }
        },
        "AMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMOD"
          }
        },
        "APPOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPOS"
          }
        },
        "ATTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTR"
          }
        },
        "AUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUX"
          }
        },
        "AUXPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUXPASS"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CCOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CCOMP"
          }
        },
        "CONJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONJ"
          }
        },
        "CSUBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSUBJ"
          }
        },
        "CSUBJPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSUBJPASS"
          }
        },
        "DEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEP"
          }
        },
        "DET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DET"
          }
        },
        "DISCOURSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOURSE"
          }
        },
        "DOBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOBJ"
          }
        },
        "EXPL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPL"
          }
        },
        "GOESWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOESWITH"
          }
        },
        "IOBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOBJ"
          }
        },
        "MARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARK"
          }
        },
        "MWE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MWE"
          }
        },
        "MWV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MWV"
          }
        },
        "NEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEG"
          }
        },
        "NN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NN"
          }
        },
        "NPADVMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPADVMOD"
          }
        },
        "NSUBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSUBJ"
          }
        },
        "NSUBJPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NSUBJPASS"
          }
        },
        "NUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUM"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER"
          }
        },
        "P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P"
          }
        },
        "PARATAXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARATAXIS"
          }
        },
        "PARTMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTMOD"
          }
        },
        "PCOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCOMP"
          }
        },
        "POBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POBJ"
          }
        },
        "POSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSS"
          }
        },
        "POSTNEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTNEG"
          }
        },
        "PRECOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRECOMP"
          }
        },
        "PRECONJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRECONJ"
          }
        },
        "PREDET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREDET"
          }
        },
        "PREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREF"
          }
        },
        "PREP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREP"
          }
        },
        "PRONL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRONL"
          }
        },
        "PRT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRT"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "QUANTMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUANTMOD"
          }
        },
        "RCMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RCMOD"
          }
        },
        "RCMODREL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RCMODREL"
          }
        },
        "RDROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDROP"
          }
        },
        "REF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF"
          }
        },
        "REMNANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMNANT"
          }
        },
        "REPARANDUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPARANDUM"
          }
        },
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT"
          }
        },
        "SNUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNUM"
          }
        },
        "SUFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUFF"
          }
        },
        "TMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TMOD"
          }
        },
        "TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC"
          }
        },
        "VMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VMOD"
          }
        },
        "VOCATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOCATIVE"
          }
        },
        "XCOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCOMP"
          }
        },
        "SUFFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUFFIX"
          }
        },
        "TITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TITLE"
          }
        },
        "ADVPHMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVPHMOD"
          }
        },
        "AUXCAUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUXCAUS"
          }
        },
        "AUXVV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUXVV"
          }
        },
        "DTMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMOD"
          }
        },
        "FOREIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOREIGN"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        },
        "NOMC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOMC"
          }
        },
        "NOMCSUBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOMCSUBJ"
          }
        },
        "NOMCSUBJPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOMCSUBJPASS"
          }
        },
        "NUMC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMC"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COP"
          }
        },
        "DISLOCATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISLOCATED"
          }
        },
        "ASP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASP"
          }
        },
        "GMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMOD"
          }
        },
        "GOBJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOBJ"
          }
        },
        "INFMOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFMOD"
          }
        },
        "MES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MES"
          }
        },
        "NCOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NCOMP"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSDataType": {
      "type": "structure",
      "members": {
        "typeCode": {
          "target": "com.gcp.language_v1beta2#XPSDataTypeTypeCodeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The TypeCode for this type."
          }
        },
        "compatibleDataTypes": {
          "target": "com.gcp.language_v1beta2#XPSDataTypeList",
          "traits": {
            "smithy.api#documentation": "The highly compatible data types to this data type."
          }
        },
        "nullable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, this DataType can also be `null`."
          }
        },
        "structType": {
          "target": "com.gcp.language_v1beta2#XPSStructType",
          "traits": {
            "smithy.api#documentation": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields."
          }
        },
        "listElementType": {
          "target": "com.gcp.language_v1beta2#XPSDataType",
          "traits": {
            "smithy.api#documentation": "If type_code == ARRAY, then `list_element_type` is the type of the elements."
          }
        },
        "timeFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicated the type of data that can be stored in a structured data entity (e.g. a table)."
      }
    },
    "com.gcp.language_v1beta2#XPSDataTypeTypeCodeEnum": {
      "type": "enum",
      "members": {
        "TYPE_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CODE_UNSPECIFIED"
          }
        },
        "FLOAT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT64"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARRAY"
          }
        },
        "STRUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCT"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSDataTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSDataType"
      }
    },
    "com.gcp.language_v1beta2#XPSImageClassificationTrainResponse": {
      "type": "structure",
      "members": {
        "trainCostNodeSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual training cost, expressed in node seconds. Populated for models trained in node time."
          }
        },
        "classCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of classes."
          }
        },
        "trainCostInNodeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA."
          }
        },
        "exportModelSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageExportModelSpec",
          "traits": {
            "smithy.api#documentation": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests."
          }
        },
        "modelArtifactSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageModelArtifactSpec",
          "traits": {
            "smithy.api#documentation": "## The fields below are only populated under uCAIP request scope."
          }
        },
        "stopReason": {
          "target": "com.gcp.language_v1beta2#XPSImageClassificationTrainResponseStopReasonEnum",
          "traits": {
            "smithy.api#documentation": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'."
          }
        },
        "modelServingSpec": {
          "target": "com.gcp.language_v1beta2#XPSImageModelServingSpec"
        }
      }
    },
    "com.gcp.language_v1beta2#XPSImageClassificationTrainResponseStopReasonEnum": {
      "type": "enum",
      "members": {
        "TRAIN_STOP_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_UNSPECIFIED"
          }
        },
        "TRAIN_STOP_REASON_BUDGET_REACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_BUDGET_REACHED"
          }
        },
        "TRAIN_STOP_REASON_MODEL_CONVERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_MODEL_CONVERGED"
          }
        },
        "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSTablesRegressionMetrics": {
      "type": "structure",
      "members": {
        "regressionMetricsEntries": {
          "target": "com.gcp.language_v1beta2#XPSRegressionMetricsEntryList",
          "traits": {
            "smithy.api#documentation": "A list of actual versus predicted points for the model being evaluated."
          }
        },
        "meanAbsoluteError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Mean absolute error."
          }
        },
        "meanAbsolutePercentageError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Mean absolute percentage error, only set if all of the target column's values are positive."
          }
        },
        "rSquared": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "R squared."
          }
        },
        "rootMeanSquaredLogError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Root mean squared log error."
          }
        },
        "rootMeanSquaredError": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Root mean squared error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for Tables regression problems."
      }
    },
    "com.gcp.language_v1beta2#XPSRegressionMetricsEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSRegressionMetricsEntry"
      }
    },
    "com.gcp.language_v1beta2#ClassifyTextRequest": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.gcp.language_v1beta2#Document",
          "traits": {
            "smithy.api#documentation": "Required. Input document."
          }
        },
        "classificationModelOptions": {
          "target": "com.gcp.language_v1beta2#ClassificationModelOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Model options to use for classification. Defaults to v1 options if not specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The document classification request message."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelStructure": {
      "type": "structure",
      "members": {
        "modelParameters": {
          "target": "com.gcp.language_v1beta2#XPSTablesModelStructureModelParametersList",
          "traits": {
            "smithy.api#documentation": "A list of models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of Tables model structure."
      }
    },
    "com.gcp.language_v1beta2#XPSTablesModelStructureModelParametersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSTablesModelStructureModelParameters"
      }
    },
    "com.gcp.language_v1beta2#XPSExampleSet": {
      "type": "structure",
      "members": {
        "numInputSources": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of input sources."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the example set."
          }
        },
        "fileSpec": {
          "target": "com.gcp.language_v1beta2#XPSFileSpec",
          "traits": {
            "smithy.api#documentation": "File spec of the examples or input sources."
          }
        },
        "numExamples": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of examples."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of examples or input sources."
      }
    },
    "com.gcp.language_v1beta2#XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "type": "structure",
      "members": {
        "trackingRecall": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Tracking recall."
          }
        },
        "boundingBoxIou": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold)."
          }
        },
        "confidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The confidence threshold value used to compute the metrics."
          }
        },
        "trackingPrecision": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Tracking precision."
          }
        },
        "mismatchRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics for a single confidence threshold. Next tag: 6."
      }
    },
    "com.gcp.language_v1beta2#ClassificationModelOptionsV1Model": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Options for the V1 model."
      }
    },
    "com.gcp.language_v1beta2#XPSImageExportModelSpec": {
      "type": "structure",
      "members": {
        "exportModelOutputConfig": {
          "target": "com.gcp.language_v1beta2#XPSExportModelOutputConfigList",
          "traits": {
            "smithy.api#documentation": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
      }
    },
    "com.gcp.language_v1beta2#XPSExportModelOutputConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.language_v1beta2#XPSExportModelOutputConfig"
      }
    },
    "com.gcp.language_v1beta2#XPSResponseExplanationMetadata": {
      "type": "structure",
      "members": {
        "inputs": {
          "target": "com.gcp.language_v1beta2#XPSResponseExplanationMetadataInputMetadataMap",
          "traits": {
            "smithy.api#documentation": "Metadata of the input."
          }
        },
        "outputs": {
          "target": "com.gcp.language_v1beta2#XPSResponseExplanationMetadataOutputMetadataMap",
          "traits": {
            "smithy.api#documentation": "Metadata of the output."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSResponseExplanationMetadataInputMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.language_v1beta2#XPSResponseExplanationMetadataInputMetadata"
      }
    },
    "com.gcp.language_v1beta2#XPSResponseExplanationMetadataOutputMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.language_v1beta2#XPSResponseExplanationMetadataOutputMetadata"
      }
    },
    "com.gcp.language_v1beta2#XPSIntegratedGradientsAttribution": {
      "type": "structure",
      "members": {
        "stepCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
      }
    },
    "com.gcp.language_v1beta2#EntityMention": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.language_v1beta2#TextSpan",
          "traits": {
            "smithy.api#documentation": "The mention text."
          }
        },
        "type": {
          "target": "com.gcp.language_v1beta2#EntityMentionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the entity mention."
          }
        },
        "sentiment": {
          "target": "com.gcp.language_v1beta2#Sentiment",
          "traits": {
            "smithy.api#documentation": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the sentiment expressed for this mention of the entity in the provided document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported."
      }
    },
    "com.gcp.language_v1beta2#EntityMentionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "PROPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPER"
          }
        },
        "COMMON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSColumnSpecForecastingMetadata": {
      "type": "structure",
      "members": {
        "columnType": {
          "target": "com.gcp.language_v1beta2#XPSColumnSpecForecastingMetadataColumnTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the column for FORECASTING model training purposes."
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSColumnSpecForecastingMetadataColumnTypeEnum": {
      "type": "enum",
      "members": {
        "COLUMN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_TYPE_UNSPECIFIED"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY"
          }
        },
        "KEY_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_METADATA"
          }
        },
        "TIME_SERIES_AVAILABLE_PAST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_AVAILABLE_PAST_ONLY"
          }
        },
        "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          }
        }
      }
    },
    "com.gcp.language_v1beta2#XPSEvaluationMetrics": {
      "type": "structure",
      "members": {
        "tablesClassificationEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSClassificationEvaluationMetrics"
        },
        "videoActionRecognitionEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSVideoActionRecognitionEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSTextExtractionEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead."
          }
        },
        "imageObjectDetectionEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSImageObjectDetectionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "target": "com.gcp.language_v1beta2#XPSTranslationEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of examples used to create this evaluation metrics instance."
          }
        },
        "category": {
[...]
