{
  "smithy": "2.0",
  "metadata": {
    "service": "managedidentities",
    "version": "v1beta1",
    "title": "Managed Service for Microsoft Active Directory API",
    "baseUrl": "https://managedidentities.googleapis.com/"
  },
  "shapes": {
    "com.gcp.managedidentities_v1beta1#DomainJoinMachineResponse": {
      "type": "structure",
      "members": {
        "domainJoinBlob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The response is the offline domain join blob that is returned after running the djoin command. To correctly use the response of the API, please refer to the sample usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DomainJoinMachineResponse is the response message for DomainJoinMachine method"
      }
    },
    "com.gcp.managedidentities_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.managedidentities_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.managedidentities_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.managedidentities_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.managedidentities_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.managedidentities_v1beta1#ValidateTrustRequest": {
      "type": "structure",
      "members": {
        "trust": {
          "target": "com.gcp.managedidentities_v1beta1#Trust",
          "traits": {
            "smithy.api#documentation": "Required. The domain trust to validate trust state for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ValidateTrust"
      }
    },
    "com.gcp.managedidentities_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.managedidentities_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.managedidentities_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.managedidentities_v1beta1#Certificate": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate expire time."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate subject."
          }
        },
        "subjectAlternativeName": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The additional hostnames for the domain."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate thumbprint which uniquely identifies the certificate."
          }
        },
        "issuingCertificate": {
          "target": "com.gcp.managedidentities_v1beta1#Certificate",
          "traits": {
            "smithy.api#documentation": "The issuer of this certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Certificate used to configure LDAPS."
      }
    },
    "com.gcp.managedidentities_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.managedidentities_v1beta1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "backups": {
          "target": "com.gcp.managedidentities_v1beta1#BackupList",
          "traits": {
            "smithy.api#documentation": "A list of Cloud AD backups in the domain."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupsResponse is the response message for ListBackups method."
      }
    },
    "com.gcp.managedidentities_v1beta1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#Backup"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata": {
      "type": "structure",
      "members": {
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the node. This should be equal to SaasInstanceNode.node_id."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "If present, this will override eligibility for the node coming from instance or exclusions for specified SLIs."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the node, if different from instance location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node information for custom per-node SLO implementations. SSA does not support per-node SLO, but producers can populate per-node information in SloMetadata for custom precomputations. SSA Eligibility Exporter will emit per-node metric based on this information."
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudManagedidentitiesV1OpMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.managedidentities_v1beta1#Backup": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the backup."
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current status of this backup, if available."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A short description of the backup."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique name of the Backup in the form of projects/{project_id}/locations/global/domains/{domain_name}/backups/{name}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the backups was created."
          }
        },
        "type": {
          "target": "com.gcp.managedidentities_v1beta1#BackupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether it’s an on-demand backup or scheduled."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Managed Microsoft Identities backup."
      }
    },
    "com.gcp.managedidentities_v1beta1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.managedidentities_v1beta1#BackupTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "SCHEMA_EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_EXTENSION"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#EnableMigrationRequest": {
      "type": "structure",
      "members": {
        "migratingDomains": {
          "target": "com.gcp.managedidentities_v1beta1#OnPremDomainDetailsList",
          "traits": {
            "smithy.api#documentation": "Required. List of the on-prem domains to be migrated."
          }
        },
        "enableDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Period after which the migration would be auto disabled. If unspecified, a default timeout of 48h is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnableMigrationRequest is the request message for EnableMigration method."
      }
    },
    "com.gcp.managedidentities_v1beta1#OnPremDomainDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#OnPremDomainDetails"
      }
    },
    "com.gcp.managedidentities_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.managedidentities_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.managedidentities_v1beta1#ReconfigureTrustRequest": {
      "type": "structure",
      "members": {
        "targetDnsIpAddresses": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The target DNS server IP addresses to resolve the remote domain involved in the trust."
          }
        },
        "targetDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully-qualified target domain name which will be in trust with current domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ReconfigureTrust"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility": {
      "type": "structure",
      "members": {
        "eligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an instance is eligible or ineligible."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-defined reason for the current value of instance eligibility. Usually, this can be directly mapped to the internal state. An empty reason is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloEligibility is a tuple containing eligibility value: true if an instance is eligible for SLO calculation or false if it should be excluded from all SLO-related calculations along with a user-defined reason."
      }
    },
    "com.gcp.managedidentities_v1beta1#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#MaintenancePolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of the policy."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of what this policy is for. Create/Update methods return INVALID_ARGUMENT if the length is greater than 512."
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. MaintenancePolicy name using the form: `projects/{project_id}/locations/{location_id}/maintenancePolicies/{maintenance_policy_id}` where {project_id} refers to a GCP consumer project ID, {location_id} refers to a GCP region/zone, {maintenance_policy_id} must be 1-63 characters long and match the regular expression `[a-z0-9]([-a-z0-9]*[a-z0-9])?`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was updated."
          }
        },
        "updatePolicy": {
          "target": "com.gcp.managedidentities_v1beta1#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Maintenance policy applicable to instance update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies to service maintenance events."
      }
    },
    "com.gcp.managedidentities_v1beta1#MaintenancePolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#DomainJoinMachineRequest": {
      "type": "structure",
      "members": {
        "ouName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. OU name to which the VM needs to be domain joined. If the field is not provided, the VM is joined to the default OU which is created. The default OU for the domain join api is created as GCE Instances under the Cloud OU. Example - OU=GCE Instances,OU=Cloud,DC=ad,DC=test,DC=com If the field is provided, then the custom OU is searched for under GCE Instances OU. Example - if ou_name=test_ou then the VM is domain joined to the following OU: OU=test_ou,OU=GCE Instances,OU=Cloud,DC=ad,DC=test,DC=com if present. If OU is not present under GCE Instances, then error is returned."
          }
        },
        "vmIdToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full instance id token of compute engine VM to verify instance identity. More about this: https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. force if True, forces domain join even if the computer account already exists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DomainJoinMachineRequest is the request message for DomainJoinMachine method"
      }
    },
    "com.gcp.managedidentities_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.managedidentities_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.managedidentities_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#Binding"
      }
    },
    "com.gcp.managedidentities_v1beta1#DailyCycle": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.managedidentities_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the day to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for daily operations."
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility": {
      "type": "structure",
      "members": {
        "eligibilities": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap",
          "traits": {
            "smithy.api#documentation": "An entry in the eligibilities map specifies an eligibility for a particular SLI for the given instance. The SLI key in the name must be a valid SLI name specified in the Eligibility Exporter binary flags otherwise an error will be emitted by Eligibility Exporter and the oncaller will be alerted. If an SLI has been defined in the binary flags but the eligibilities map does not contain it, the corresponding SLI time series will not be emitted by the Eligibility Exporter. This ensures a smooth rollout and compatibility between the data produced by different versions of the Eligibility Exporters. If eligibilities map contains a key for an SLI which has not been declared in the binary flags, there will be an error message emitted in the Eligibility Exporter log and the metric for the SLI in question will not be emitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PerSliSloEligibility is a mapping from an SLI name to eligibility."
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibilityMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloEligibility"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. This can be either a GCP resource or a custom one (e.g. another cloud provider's VM). For GCP compute resources use singular form of the names listed in GCP compute API documentation (https://cloud.google.com/compute/docs/reference/rest/v1/), prefixed with 'compute-', for example: 'compute-instance', 'compute-disk', 'compute-autoscaler'."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL identifying the resource, e.g. \"https://www.googleapis.com/compute/v1/projects/...)\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes provisioned dataplane resources."
      }
    },
    "com.gcp.managedidentities_v1beta1#SqlIntegration": {
      "type": "structure",
      "members": {
        "sqlInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of an integrated sql instance"
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#SqlIntegrationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the sql integration."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time sql integration was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the sql integration in the form of `projects/{project_id}/locations/global/domains/{domain_name}/sqlIntegrations/{sql_integration}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time sql integration was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Sql instance integrated with AD."
      }
    },
    "com.gcp.managedidentities_v1beta1#SqlIntegrationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#Peering": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique name of the peering in this scope including projects and location using the form: `projects/{project_id}/locations/global/peerings/{peering_id}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the instance was created."
          }
        },
        "domainResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full domain resource path for the Managed AD Domain involved in peering. The resource path should be in the form: `projects/{project_id}/locations/global/domains/{domain_name}`"
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current status of this peering, if available."
          }
        },
        "authorizedNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) to which the instance is connected. Caller needs to make sure that CIDR subnets do not overlap between networks, else peering creation will fail."
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#PeeringStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this Peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Managed Microsoft Identities Peering."
      }
    },
    "com.gcp.managedidentities_v1beta1#PeeringStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.managedidentities_v1beta1#UpdatePolicy": {
      "type": "structure",
      "members": {
        "window": {
          "target": "com.gcp.managedidentities_v1beta1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance window that is applied to resources covered by this policy."
          }
        },
        "channel": {
          "target": "com.gcp.managedidentities_v1beta1#UpdatePolicyChannelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Relative scheduling channel applied to resource."
          }
        },
        "denyMaintenancePeriods": {
          "target": "com.gcp.managedidentities_v1beta1#DenyMaintenancePeriodList",
          "traits": {
            "smithy.api#documentation": "Deny Maintenance Period that is applied to resource to indicate when maintenance is forbidden. The protocol supports zero-to-many such periods, but the current SLM Rollout implementation only supports zero-to-one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy applicable to instance updates."
      }
    },
    "com.gcp.managedidentities_v1beta1#UpdatePolicyChannelEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_CHANNEL_UNSPECIFIED"
          }
        },
        "EARLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLIER"
          }
        },
        "LATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATER"
          }
        },
        "WEEK1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK1"
          }
        },
        "WEEK2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK2"
          }
        },
        "WEEK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK5"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#DenyMaintenancePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#DenyMaintenancePeriod"
      }
    },
    "com.gcp.managedidentities_v1beta1#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "dailyCycle": {
          "target": "com.gcp.managedidentities_v1beta1#DailyCycle",
          "traits": {
            "smithy.api#documentation": "Daily cycle."
          }
        },
        "weeklyCycle": {
          "target": "com.gcp.managedidentities_v1beta1#WeeklyCycle",
          "traits": {
            "smithy.api#documentation": "Weekly cycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceWindow definition."
      }
    },
    "com.gcp.managedidentities_v1beta1#CheckMigrationPermissionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "CheckMigrationPermissionRequest is the request message for CheckMigrationPermission method."
      }
    },
    "com.gcp.managedidentities_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.managedidentities_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.managedidentities_v1beta1#DenyMaintenancePeriod": {
      "type": "structure",
      "members": {
        "time": {
          "target": "com.gcp.managedidentities_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time in UTC when the Blackout period starts on start_date and ends on end_date. This can be: * Full time. * All zeros for 00:00:00 UTC"
          }
        },
        "startDate": {
          "target": "com.gcp.managedidentities_v1beta1#Managedidentities_Date",
          "traits": {
            "smithy.api#documentation": "Deny period start date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be the same or after the start."
          }
        },
        "endDate": {
          "target": "com.gcp.managedidentities_v1beta1#Managedidentities_Date",
          "traits": {
            "smithy.api#documentation": "Deny period end date. This can be: * A full date, with non-zero year, month and day values. * A month and day value, with a zero year. Allows recurring deny periods each year. Date matching this period will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DenyMaintenancePeriod definition. Maintenance is forbidden within the deny period. The start_date must be less than the end_date."
      }
    },
    "com.gcp.managedidentities_v1beta1#OnPremDomainDetails": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. FQDN of the on-prem domain being migrated."
          }
        },
        "disableSidFiltering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Option to disable SID filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated."
      }
    },
    "com.gcp.managedidentities_v1beta1#DisableMigrationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "DisableMigrationRequest is the request message for DisableMigration method."
      }
    },
    "com.gcp.managedidentities_v1beta1#CheckMigrationPermissionResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#CheckMigrationPermissionResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of DomainMigration."
          }
        },
        "onpremDomains": {
          "target": "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetailsList",
          "traits": {
            "smithy.api#documentation": "The state of SID filtering of all the domains which has trust established."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CheckMigrationPermissionResponse is the response message for CheckMigrationPermission method."
      }
    },
    "com.gcp.managedidentities_v1beta1#CheckMigrationPermissionResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "NEEDS_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_MAINTENANCE"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetails"
      }
    },
    "com.gcp.managedidentities_v1beta1#ExtendSchemaRequest": {
      "type": "structure",
      "members": {
        "gcsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File stored in Cloud Storage bucket and represented in the form projects/{project_id}/buckets/{bucket_name}/objects/{object_name} File should be in the same project as the domain."
          }
        },
        "fileContents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File uploaded as a byte stream input."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Description for Schema Change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExtendSchemaRequest is the request message for ExtendSchema method."
      }
    },
    "com.gcp.managedidentities_v1beta1#ListSqlIntegrationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "sqlIntegrations": {
          "target": "com.gcp.managedidentities_v1beta1#SqlIntegrationList",
          "traits": {
            "smithy.api#documentation": "A list of SqlIntegrations of a domain."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListSqlIntegrationsResponse is the response message for ListSqlIntegrations method."
      }
    },
    "com.gcp.managedidentities_v1beta1#SqlIntegrationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#SqlIntegration"
      }
    },
    "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FQDN of the on-prem domain being migrated."
          }
        },
        "sidFilteringState": {
          "target": "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetailsSidFilteringStateEnum",
          "traits": {
            "smithy.api#documentation": "Current SID filtering state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OnPremDomainDetails is the message which contains details of on-prem domain which is trusted and needs to be migrated."
      }
    },
    "com.gcp.managedidentities_v1beta1#OnPremDomainSIDDetailsSidFilteringStateEnum": {
      "type": "enum",
      "members": {
        "SID_FILTERING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SID_FILTERING_STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "scheduleDeadlineTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "schedule_deadline_time is the time deadline any schedule start time cannot go beyond, including reschedule. It's normally the initial schedule start time plus maintenance window length (1 day or 1 week). Maintenance cannot be scheduled to start beyond this deadline."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled start time for the maintenance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled end time for the maintenance."
          }
        },
        "rolloutManagementPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rollout management policy this maintenance schedule is associated with. When doing reschedule update request, the reschedule should be against this given policy."
          }
        },
        "canReschedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is deprecated, and will be always set to true since reschedule can happen multiple times now. This field should not be removed until all service producers remove this for their customers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance schedule which is exposed to customer and potentially end user, indicating published upcoming future maintenance schedule"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1Instance": {
      "type": "structure",
      "members": {
        "maintenanceSchedules": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap",
          "traits": {
            "smithy.api#documentation": "The MaintenanceSchedule contains the scheduling information of published maintenance schedule with same key as software_versions."
          }
        },
        "notificationParameters": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap",
          "traits": {
            "smithy.api#documentation": "Optional. notification_parameter are information that service producers may like to include that is not relevant to Rollout. This parameter will only be passed to Gamma and Cloud Logging for notification/logging purpose."
          }
        },
        "maintenanceSettings": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenanceSettings associated with instance."
          }
        },
        "sloMetadata": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. SLO metadata for instance classification in the Standardized dataplane SLO platform. See go/cloud-ssa-standard-slo for feature description."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "provisionedResources": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of data plane resources provisioned for this instance, e.g. compute VMs. See go/get-instance-metadata."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The consumer_project_number associated with this Apigee instance. This field is added specifically to support Apigee integration with SLM Rollout and UMM. It represents the numerical project ID of the GCP project that consumes this Apigee instance. It is used for SLM rollout notifications and UMM integration, enabling proper mapping to customer projects and log delivery for Apigee instances. This field complements consumer_project_id and may be used for specific Apigee scenarios where the numerical ID is required."
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name of the resource. It uses the form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}` Note: This name is passed, stored and logged across the rollout system. So use of consumer project_id or any other consumer PII in the name is strongly discouraged for wipeout (go/wipeout) compliance. See go/elysium/project_ids#storage-guidance for more details."
          }
        },
        "softwareVersions": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Software versions that are used to deploy this instance. This can be mutated by rollout services."
          }
        },
        "consumerDefinedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "consumer_defined_name is the name of the instance set by the service consumers. Generally this is different from the `name` field which reperesents the system-assigned id of the instance which the service consumers do not recognize. This is a required field for tenants onboarding to Maintenance Window notifications (go/slm-rollout-maintenance-policies#prerequisites)."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instance_type of this instance of format: projects/{project_number}/locations/{location_id}/instanceTypes/{instance_type_id}. Instance Type represents a high-level tier or SKU of the service that this instance belong to. When enabled(eg: Maintenance Rollout), Rollout uses 'instance_type' along with 'software_versions' to determine whether instance needs an update or not."
          }
        },
        "producerMetadata": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Custom string attributes used primarily to expose producer-specific information in monitoring dashboards. See go/get-instance-metadata."
          }
        },
        "slmInstanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the SLM instance template. Only populated when updating SLM instances via SSA's Actuation service adaptor. Service producers with custom control plane (e.g. Cloud SQL) doesn't need to populate this field. Instead they should use software_versions."
          }
        },
        "maintenancePolicyNames": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the referenced policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_settings.maintenance_policies is set."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the associated GCP tenant project. See go/get-instance-metadata."
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Each label is a key-value pair, where both the key and the value are arbitrary strings provided by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance represents the interface for SLM services to actuate the state of control plane resources. Example Instance in JSON, where consumer-project-number=123456, producer-project-id=cloud-sql: ```json Instance: { \"name\": \"projects/123456/locations/us-east1/instances/prod-instance\", \"create_time\": { \"seconds\": 1526406431, }, \"labels\": { \"env\": \"prod\", \"foo\": \"bar\" }, \"state\": READY, \"software_versions\": { \"software_update\": \"cloud-sql-09-28-2018\", }, \"maintenance_policy_names\": { \"UpdatePolicy\": \"projects/123456/locations/us-east1/maintenancePolicies/prod-update-policy\", } \"tenant_project_id\": \"cloud-sql-test-tenant\", \"producer_metadata\": { \"cloud-sql-tier\": \"basic\", \"cloud-sql-instance-size\": \"1G\", }, \"provisioned_resources\": [ { \"resource-type\": \"compute-instance\", \"resource-url\": \"https://www.googleapis.com/compute/v1/projects/cloud-sql/zones/us-east1-b/instances/vm-1\", } ], \"maintenance_schedules\": { \"csa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, }, \"ncsa_rollout\": { \"start_time\": { \"seconds\": 1526406431, }, \"end_time\": { \"seconds\": 1535406431, }, } }, \"consumer_defined_name\": \"my-sql-instance1\", } ``` LINT.IfChange"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceScheduleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSchedule"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1ProvisionedResource"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.managedidentities_v1beta1#WeeklyCycle": {
      "type": "structure",
      "members": {
        "schedule": {
          "target": "com.gcp.managedidentities_v1beta1#ScheduleList",
          "traits": {
            "smithy.api#documentation": "User can specify multiple windows in a week. Minimum of 1 window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for weekly operations."
      }
    },
    "com.gcp.managedidentities_v1beta1#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#Schedule"
      }
    },
    "com.gcp.managedidentities_v1beta1#Trust": {
      "type": "structure",
      "members": {
        "trustType": {
          "target": "com.gcp.managedidentities_v1beta1#TrustTrustTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of trust represented by the trust resource."
          }
        },
        "trustDirection": {
          "target": "com.gcp.managedidentities_v1beta1#TrustTrustDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The trust direction, which decides if the current domain is trusted, trusting, or both."
          }
        },
        "targetDnsIpAddresses": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The target DNS server IP addresses which can resolve the remote domain involved in the trust."
          }
        },
        "trustHandshakeSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The trust secret used for the handshake with the target domain. It will not be stored."
          }
        },
        "targetDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified target domain name which will be in trust with the current domain."
          }
        },
        "selectiveAuthentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The trust authentication type, which decides whether the trusted side has forest/domain wide access or selective access to an approved set of resources."
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#TrustStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the trust."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update time."
          }
        },
        "stateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current state of the trust, if available."
          }
        },
        "lastTrustHeartbeatTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last heartbeat time when the trust was known to be connected."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the instance was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a relationship between two domains. This allows a controller in one domain to authenticate a user in another domain."
      }
    },
    "com.gcp.managedidentities_v1beta1#TrustTrustTypeEnum": {
      "type": "enum",
      "members": {
        "TRUST_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUST_TYPE_UNSPECIFIED"
          }
        },
        "FOREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOREST"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#TrustTrustDirectionEnum": {
      "type": "enum",
      "members": {
        "TRUST_DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUST_DIRECTION_UNSPECIFIED"
          }
        },
        "INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND"
          }
        },
        "OUTBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTBOUND"
          }
        },
        "BIDIRECTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDIRECTIONAL"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#TrustStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#ResetAdminPasswordResponse": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A random password. See admin for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ResetAdminPassword"
      }
    },
    "com.gcp.managedidentities_v1beta1#LDAPSSettings": {
      "type": "structure",
      "members": {
        "certificate": {
          "target": "com.gcp.managedidentities_v1beta1#Certificate",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate used to configure LDAPS. Certificates can be chained with a maximum length of 15."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time."
          }
        },
        "certificatePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The password used to encrypt the uploaded pfx certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the LDAPS settings. Uses the form: `projects/{project}/locations/{location}/domains/{domain}`."
          }
        },
        "certificatePfx": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The uploaded PKCS12-formatted certificate to configure LDAPS with. It will enable the domain controllers in this domain to accept LDAPS connections (either LDAP over SSL/TLS or the StartTLS operation). A valid certificate chain must form a valid x.509 certificate chain (or be comprised of a single self-signed certificate. It must be encrypted with either: 1) PBES2 + PBKDF2 + AES256 encryption and SHA256 PRF; or 2) pbeWithSHA1And3-KeyTripleDES-CBC Private key must be included for the leaf / single self-signed certificate. Note: For a fqdn your-example-domain.com, the wildcard fqdn is *.your-example-domain.com. Specifically the leaf certificate must have: - Either a blank subject or a subject with CN matching the wildcard fqdn. - Exactly two SANs - the fqdn and wildcard fqdn. - Encipherment and digital key signature key usages. - Server authentication extended key usage (OID=1.3.6.1.5.5.7.3.1) - Private key must be in one of the following formats: RSA, ECDSA, ED25519. - Private key must have appropriate key length: 2048 for RSA, 256 for ECDSA - Signature algorithm of the leaf certificate cannot be MD2, MD5 or SHA1."
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#LDAPSSettingsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this LDAPS settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LDAPSSettings represents the ldaps settings for domain resource. LDAP is the Lightweight Directory Access Protocol, defined in https://tools.ietf.org/html/rfc4511. The settings object configures LDAP over SSL/TLS, whether it is over port 636 or the StartTLS operation. If LDAPSSettings is being changed, it will be placed into the UPDATING state, which indicates that the resource is being reconciled. At this point, Get will reflect an intermediate state."
      }
    },
    "com.gcp.managedidentities_v1beta1#LDAPSSettingsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#DetachTrustRequest": {
      "type": "structure",
      "members": {
        "trust": {
          "target": "com.gcp.managedidentities_v1beta1#Trust",
          "traits": {
            "smithy.api#documentation": "Required. The domain trust resource to removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DetachTrust"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1MaintenanceSettings": {
      "type": "structure",
      "members": {
        "maintenancePolicies": {
          "target": "com.gcp.managedidentities_v1beta1#MaintenancePolicyMap",
          "traits": {
            "smithy.api#documentation": "Optional. The MaintenancePolicies that have been attached to the instance. The key must be of the type name of the oneof policy name defined in MaintenancePolicy, and the embedded policy must define the same policy type. For details, please refer to go/mr-user-guide. Should not be set if maintenance_policy_names is set. If only the name is needed, then only populate MaintenancePolicy.name."
          }
        },
        "isRollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the update call is triggered from rollback, set the value as true."
          }
        },
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Exclude instance from maintenance. When true, rollout service will not attempt maintenance on the instance. Rollout service will include the instance in reported rollout progress as not attempted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance settings associated with instance. Allows service producers and end users to assign settings that controls maintenance on this instance."
      }
    },
    "com.gcp.managedidentities_v1beta1#MaintenancePolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.managedidentities_v1beta1#MaintenancePolicy"
      }
    },
    "com.gcp.managedidentities_v1beta1#ResetAdminPasswordRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ResetAdminPassword"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudManagedidentitiesV1alpha1OpMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.managedidentities_v1beta1#AttachTrustRequest": {
      "type": "structure",
      "members": {
        "trust": {
          "target": "com.gcp.managedidentities_v1beta1#Trust",
          "traits": {
            "smithy.api#documentation": "Required. The domain trust resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AttachTrust"
      }
    },
    "com.gcp.managedidentities_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudManagedidentitiesV1beta1OpMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NotificationParameter": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of string values. e.g. instance's replica information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains notification related data."
      }
    },
    "com.gcp.managedidentities_v1beta1#Managedidentities_Date": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.managedidentities_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.managedidentities_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.managedidentities_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#Location"
      }
    },
    "com.gcp.managedidentities_v1beta1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.managedidentities_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.managedidentities_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#DocumentMap"
      }
    },
    "com.gcp.managedidentities_v1beta1#Schedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.managedidentities_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Time within the window to start the operations."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Duration of the time window, set by service producer."
          }
        },
        "day": {
          "target": "com.gcp.managedidentities_v1beta1#ScheduleDayEnum",
          "traits": {
            "smithy.api#documentation": "Allows to define schedule that runs specified day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure the schedule."
      }
    },
    "com.gcp.managedidentities_v1beta1#ScheduleDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.managedidentities_v1beta1#RestoreDomainRequest": {
      "type": "structure",
      "members": {
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the backup to be restored"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RestoreDomainRequest is the request received by RestoreDomain rpc"
      }
    },
    "com.gcp.managedidentities_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.managedidentities_v1beta1#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "domains": {
          "target": "com.gcp.managedidentities_v1beta1#DomainList",
          "traits": {
            "smithy.api#documentation": "A list of Managed Identities Service domains in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListDomains"
      }
    },
    "com.gcp.managedidentities_v1beta1#DomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#Domain"
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1SloMetadata": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the SLO tier the Instance belongs to. This name will be expected to match the tiers specified in the service SLO configuration. Field is mandatory and must not be empty."
          }
        },
        "nodes": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. List of nodes. Some producers need to use per-node metadata to calculate SLO. This field allows such producers to publish per-node SLO meta data, which will be consumed by SSA Eligibility Exporter and published in the form of per node metric to Monarch."
          }
        },
        "perSliEligibility": {
          "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1PerSliSloEligibility",
          "traits": {
            "smithy.api#documentation": "Optional. Multiple per-instance SLI eligibilities which apply for individual SLIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SloMetadata contains resources required for proper SLO classification of the instance."
      }
    },
    "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.managedidentities_v1beta1#GoogleCloudSaasacceleratorManagementProvidersV1NodeSloMetadata"
      }
    },
    "com.gcp.managedidentities_v1beta1#Domain": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The fully-qualified domain name of the exposed domain used by clients to connect to the service. Similar to what would be chosen for an Active Directory set up on an internal network."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current status of this domain, if available."
          }
        },
        "locations": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Locations where domain needs to be provisioned. regions e.g. us-west1 or us-east4 Service supports up to 4 locations at once. Each location will use a /26 block."
          }
        },
        "state": {
          "target": "com.gcp.managedidentities_v1beta1#DomainStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this domain."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update time."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the instance was created."
          }
        },
        "auditLogsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for audit logs. True if audit logs are enabled, else false. Default is audit logs disabled."
          }
        },
        "authorizedNetworks": {
          "target": "com.gcp.managedidentities_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The full names of the Google Compute Engine [networks](/compute/docs/networks-and-firewalls#networks) the domain instance is connected to. Networks can be added using UpdateDomain. The domain is only available on networks listed in `authorized_networks`. If CIDR subnets overlap between networks, domain creation will fail."
          }
        },
        "labels": {
          "target": "com.gcp.managedidentities_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels that can contain user-provided metadata."
          }
        },
        "admin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of delegated administrator account used to perform Active Directory operations. If not specified, `setupadmin` will be used."
          }
        },
        "reservedIpRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The CIDR range of internal addresses that are reserved for this domain. Reserved networks must be /24 or larger. Ranges must be unique and non-overlapping with existing subnets in [Domain].[authorized_networks]."
          }
        },
        "trusts": {
          "target": "com.gcp.managedidentities_v1beta1#TrustList",
          "traits": {
            "smithy.api#documentation": "Output only. The current trusts associated with the domain."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique name of the domain using the form: `projects/{project_id}/locations/global/domains/{domain_name}`."
[...]
