{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "inventories_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_inventories_v1#Interval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.merchantapi_inventories_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.merchantapi_inventories_v1#RegionalInventory": {
      "type": "structure",
      "members": {
        "base64EncodedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unpadded base64url encoded name of the `RegionalInventory` resource. Format: `accounts/{account}/products/{product}/regionalInventories/{region}` where the `{product}` segment is the unpadded base64url encoded value of the identifier of the form `content_language~feed_label~offer_id`. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw/regionalInventories/region123` for the decoded product ID `en~US~sku/123` and `region` \"region123\". Can be used directly as input to the API methods that require the product identifier within the regional inventory name to be encoded if it contains special characters, for example [`GetRegionalInventory`](https://developers.google.com/merchant/api/reference/rest/inventories_v1/accounts.products.regionalInventories/get)."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The account that owns the product. This field will be ignored if set by the client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the `RegionalInventory` resource. Format: `accounts/{account}/products/{product}/regionalInventories/{region}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an **unpadded base64url** encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123` for `region` \"region123\", the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the regional inventory would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw/regionalInventories/region123`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats."
          }
        },
        "regionalInventoryAttributes": {
          "target": "com.gcp.merchantapi_inventories_v1#RegionalInventoryAttributes",
          "traits": {
            "smithy.api#documentation": "Optional. A list of regional inventory attributes."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. ID of the region for this `RegionalInventory` resource. See the [Regional availability and pricing](https://support.google.com/merchants/answer/9698880) for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Regional inventory information for the product. Represents specific information like price and availability for a given product in a specific `region`. For a list of all accepted attribute values, see the [regional product inventory data specification](https://support.google.com/merchants/answer/9698880)."
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventory": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The account that owns the product. This field will be ignored if set by the client."
          }
        },
        "base64EncodedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unpadded base64url encoded name of the `LocalInventory` resource. Format: `accounts/{account}/products/{product}/localInventories/{store_code}` where the `{product}` segment is the unpadded base64url encoded value of the identifier of the form `content_language~feed_label~offer_id`. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw/localInventories/store123` for the decoded product ID `en~US~sku/123` and `store_code` \"store123\". Can be used directly as input to the API methods that require the local product identifier within the local inventory name to be encoded if it contains special characters, for example [`GetLocalInventory`](https://developers.google.com/merchant/api/reference/rest/inventories_v1/accounts.products.localInventories/get)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the `LocalInventory` resource. Format: `accounts/{account}/products/{product}/localInventories/{store_code}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123` for `store_code` \"store123\", the `{product}` segment must be the base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the local inventory would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw/localInventories/store123`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Store code (the store ID from your Business Profile) of the physical store the product is sold in. See the [Local product inventory data specification](https://support.google.com/merchants/answer/3061342) for more information."
          }
        },
        "localInventoryAttributes": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributes",
          "traits": {
            "smithy.api#documentation": "Optional. A list of local inventory attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Local inventory information for the product. Represents in-store information for a specific product at the store specified by `storeCode`. For a list of all accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
      }
    },
    "com.gcp.merchantapi_inventories_v1#RegionalInventoryAttributes": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.gcp.merchantapi_inventories_v1#RegionalInventoryAttributesAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. [Availability](https://support.google.com/merchants/answer/14644124) of the product in this region."
          }
        },
        "salePriceEffectiveDate": {
          "target": "com.gcp.merchantapi_inventories_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Optional. The `TimePeriod` of the sale price in this region."
          }
        },
        "loyaltyPrograms": {
          "target": "com.gcp.merchantapi_inventories_v1#InventoryLoyaltyProgramList",
          "traits": {
            "smithy.api#documentation": "Optional. An optional list of loyalty programs containing applicable loyalty member prices for this product in this region. This field is used to show region-specific member prices on Product Listing Ads (PLA). To use this, the loyalty program must be configured in Google Merchant Center, and the merchant must be using the Regional Availability and Pricing (RAAP) feature. The benefits provided must match the merchant's website and be clear to members. This is only applicable for merchants in supported countries. See [Loyalty program](https://support.google.com/merchants/answer/12922446) for details on supported countries and loyalty program configuration. Also see [Regional availability and pricing](https://support.google.com/merchants/answer/14644124) and [How to set up regional member pricing](https://support.google.com/merchants/answer/16388178) for more information."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. Price of the product in this region."
          }
        },
        "salePrice": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. Sale price of the product in this region. Mandatory if `salePriceEffectiveDate` is defined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Regional inventory attributes."
      }
    },
    "com.gcp.merchantapi_inventories_v1#RegionalInventoryAttributesAvailabilityEnum": {
      "type": "enum",
      "members": {
        "REGIONAL_INVENTORY_AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_INVENTORY_AVAILABILITY_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#InventoryLoyaltyProgramList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_inventories_v1#InventoryLoyaltyProgram"
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributes": {
      "type": "structure",
      "members": {
        "availability": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "[Availability](https://support.google.com/merchants/answer/3061342) of the product at this store."
          }
        },
        "pickupMethod": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesPickupMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Supported [pickup method](https://support.google.com/merchants/answer/3061342) for this product. Unless the value is `\"not supported\"`, this field must be submitted together with `pickupSla`."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Quantity of the product available at this store. Must be greater than or equal to zero."
          }
        },
        "salePrice": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. Sale price of the product at this store. Mandatory if `salePriceEffectiveDate` is defined."
          }
        },
        "pickupSla": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesPickupSlaEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Relative time period from the order date for an order for this product, from this store, to be ready for pickup. Must be submitted with `pickupMethod`. See more details [here](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "salePriceEffectiveDate": {
          "target": "com.gcp.merchantapi_inventories_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Optional. The `TimePeriod` of the sale at this store."
          }
        },
        "loyaltyPrograms": {
          "target": "com.gcp.merchantapi_inventories_v1#InventoryLoyaltyProgramList",
          "traits": {
            "smithy.api#documentation": "Optional. An optional list of loyalty programs containing applicable loyalty member prices for this product at this store. This field is used to show store-specific member prices on Local Inventory Ads (LIA). To use this, the loyalty program must be configured in Google Merchant Center. The benefits provided must match the merchant's website and be clear to members. This is only applicable for merchants in supported countries. See [Loyalty program](https://support.google.com/merchants/answer/12922446) for details on supported countries and loyalty program configuration. For local inventory specific details, see the [Local inventory data specification](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "instoreProductLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of the product inside the store. Maximum length is 20 bytes."
          }
        },
        "localShippingLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a label associated with the shipping for the `LocalInventory` resource. Can be used to group local shipping services to this particular inventory item. For accepted field format, see the [Local delivery](https://support.google.com/merchants/answer/14819809#localdelivery)"
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. Price of the product at this store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Local inventory attributes."
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesAvailabilityEnum": {
      "type": "enum",
      "members": {
        "LOCAL_INVENTORY_AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_AVAILABILITY_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "LIMITED_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_AVAILABILITY"
          }
        },
        "ON_DISPLAY_TO_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DISPLAY_TO_ORDER"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesPickupMethodEnum": {
      "type": "enum",
      "members": {
        "PICKUP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_METHOD_UNSPECIFIED"
          }
        },
        "BUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUY"
          }
        },
        "RESERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVE"
          }
        },
        "SHIP_TO_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIP_TO_STORE"
          }
        },
        "NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SUPPORTED"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventoryAttributesPickupSlaEnum": {
      "type": "enum",
      "members": {
        "PICKUP_SLA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_SLA_UNSPECIFIED"
          }
        },
        "SAME_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAME_DAY"
          }
        },
        "NEXT_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_DAY"
          }
        },
        "TWO_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_DAY"
          }
        },
        "THREE_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREE_DAY"
          }
        },
        "FOUR_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOUR_DAY"
          }
        },
        "FIVE_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIVE_DAY"
          }
        },
        "SIX_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIX_DAY"
          }
        },
        "SEVEN_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVEN_DAY"
          }
        },
        "MULTI_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_WEEK"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#Price": {
      "type": "structure",
      "members": {
        "amountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price represented as a number and currency."
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductChange": {
      "type": "structure",
      "members": {
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_inventories_v1#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListRegionalInventoriesResponse": {
      "type": "structure",
      "members": {
        "regionalInventories": {
          "target": "com.gcp.merchantapi_inventories_v1#RegionalInventoryList",
          "traits": {
            "smithy.api#documentation": "The `RegionalInventory` resources for the given product from the specified account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListRegionalInventories` method."
      }
    },
    "com.gcp.merchantapi_inventories_v1#RegionalInventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_inventories_v1#RegionalInventory"
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.gcp.merchantapi_inventories_v1#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        },
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "attribute": {
          "target": "com.gcp.merchantapi_inventories_v1#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        },
        "changes": {
          "target": "com.gcp.merchantapi_inventories_v1#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_inventories_v1#ProductChange"
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListLocalInventoriesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "localInventories": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventoryList",
          "traits": {
            "smithy.api#documentation": "The `LocalInventory` resources for the given product from the specified account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListLocalInventories` method."
      }
    },
    "com.gcp.merchantapi_inventories_v1#LocalInventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_inventories_v1#LocalInventory"
      }
    },
    "com.gcp.merchantapi_inventories_v1#InventoryLoyaltyProgram": {
      "type": "structure",
      "members": {
        "programLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided if there are multiple loyalty programs available for the merchant, so that the system can associate the assets below (for example, price and points) with the correct business. The corresponding program must be linked to the Merchant Center account."
          }
        },
        "cashbackForFutureUse": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "The cashback that can be used for future purchases."
          }
        },
        "loyaltyPoints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of loyalty points earned on a purchase."
          }
        },
        "tierLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the tier within the loyalty program. Must match one of the labels within the program."
          }
        },
        "memberPriceEffectiveInterval": {
          "target": "com.gcp.merchantapi_inventories_v1#Interval",
          "traits": {
            "smithy.api#documentation": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_inventories_v1#Price",
          "traits": {
            "smithy.api#documentation": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price."
          }
        },
        "shippingLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that represents loyalty program."
      }
    },
    "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsLocalInventoriesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account and product where this inventory will be inserted. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_inventories_v1#LocalInventory",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.merchantapi_inventories_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.merchantapi_inventories_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.merchantapi_inventories_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsLocalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsLocalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#LocalInventory"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "inventories/v1/{+parent}/localInventories:insert"
        },
        "smithy.api#documentation": "Inserts a `LocalInventory` resource to a product in your merchant account. Replaces the full `LocalInventory` resource if an entry with the same `storeCode` already exists for the product. It might take up to 30 minutes for the new or updated `LocalInventory` resource to appear in products."
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListAccountsProductsLocalInventoriesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of `LocalInventory` resources for the given product to return. The service returns fewer than this value if the number of inventories for the given product is less that than the `pageSize`. The default value is 25000. The maximum value is 25000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListLocalInventories` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListLocalInventories` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `name` of the parent product to list local inventories for. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListAccountsProductsLocalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#ListAccountsProductsLocalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#ListLocalInventoriesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "inventories/v1/{+parent}/localInventories"
        },
        "smithy.api#documentation": "Lists the `LocalInventory` resources for the given product in your merchant account. The response might contain fewer items than specified by `pageSize`. If `pageToken` was returned in previous request, it can be used to obtain additional results. `LocalInventory` resources are listed per product for a given account.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsLocalInventoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the local inventory for the given product to delete. Format: `accounts/{account}/products/{product}/localInventories/{store_code}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123` for `store_code` \"store123\", the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the local inventory would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw/localInventories/store123`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsLocalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsLocalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "inventories/v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the specified `LocalInventory` from the given product in your merchant account. It might take a up to an hour for the `LocalInventory` to be deleted from the specific product. Once you have received a successful delete response, wait for that period before attempting a delete again."
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListAccountsProductsRegionalInventoriesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of `RegionalInventory` resources for the given product to return. The service returns fewer than this value if the number of inventories for the given product is less that than the `pageSize`. The default value is 25000. The maximum value is 100000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListRegionalInventories` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegionalInventories` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `name` of the parent product to list `RegionalInventory` resources for. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an **unpadded base64url** encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#ListAccountsProductsRegionalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#ListAccountsProductsRegionalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#ListRegionalInventoriesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "inventories/v1/{+parent}/regionalInventories"
        },
        "smithy.api#documentation": "Lists the `RegionalInventory` resources for the given product in your merchant account. The response might contain fewer items than specified by `pageSize`. If `pageToken` was returned in previous request, it can be used to obtain additional results. `RegionalInventory` resources are listed per product for a given account.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsRegionalInventoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the `RegionalInventory` resource to delete. Format: `accounts/{account}/products/{product}/regionalInventories/{region}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an **unpadded base64url** encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123` for `region` \"region123\", the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the regional inventory would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw/regionalInventories/region123`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsRegionalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#DeleteAccountsProductsRegionalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "inventories/v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the specified `RegionalInventory` resource from the given product in your merchant account. It might take up to an hour for the `RegionalInventory` to be deleted from the specific product. Once you have received a successful delete response, wait for that period before attempting a delete again."
      }
    },
    "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsRegionalInventoriesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account and product where this inventory will be inserted. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an **unpadded base64url** encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_inventories_v1#RegionalInventory",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsRegionalInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_inventories_v1#InsertAccountsProductsRegionalInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_inventories_v1#RegionalInventory"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_inventories_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_inventories_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "inventories/v1/{+parent}/regionalInventories:insert"
        },
        "smithy.api#documentation": "Inserts a `RegionalInventory` to a given product in your merchant account. Replaces the full `RegionalInventory` resource if an entry with the same `region` already exists for the product. It might take up to 30 minutes for the new or updated `RegionalInventory` resource to appear in products."
      }
    }
  }
}
