{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "accounts_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_accounts_v1#IdentityAttribute": {
      "type": "structure",
      "members": {
        "identityDeclaration": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttributeIdentityDeclarationEnum",
          "traits": {
            "smithy.api#documentation": "Required. The declaration of identity for this attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All information related to an identity attribute."
      }
    },
    "com.gcp.merchantapi_accounts_v1#IdentityAttributeIdentityDeclarationEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_DECLARATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_DECLARATION_UNSPECIFIED"
          }
        },
        "SELF_IDENTIFIES_AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELF_IDENTIFIES_AS"
          }
        },
        "DOES_NOT_SELF_IDENTIFY_AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_SELF_IDENTIFY_AS"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#BusinessIdentity": {
      "type": "structure",
      "members": {
        "veteranOwned": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "blackOwned": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "smallBusiness": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces."
          }
        },
        "womenOwned": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "promotionsConsent": {
          "target": "com.gcp.merchantapi_accounts_v1#BusinessIdentityPromotionsConsentEnum",
          "traits": {
            "smithy.api#documentation": "Required. Whether the identity attributes may be used for promotions."
          }
        },
        "latinoOwned": {
          "target": "com.gcp.merchantapi_accounts_v1#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247)."
      }
    },
    "com.gcp.merchantapi_accounts_v1#BusinessIdentityPromotionsConsentEnum": {
      "type": "enum",
      "members": {
        "PROMOTIONS_CONSENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_UNSPECIFIED"
          }
        },
        "PROMOTIONS_CONSENT_GIVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_GIVEN"
          }
        },
        "PROMOTIONS_CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#LatLng": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
      }
    },
    "com.gcp.merchantapi_accounts_v1#UriSettings": {
      "type": "structure",
      "members": {
        "checkoutUriTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
          }
        },
        "cartUriTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL settings for cart or checkout URL."
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnDisplayToOrder": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1#OnDisplayToOrderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the URI."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The on display to order (ODO) policy URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC))."
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnDisplayToOrderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#AccountRelationship": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
          }
        },
        "providerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable display name of the provider account."
          }
        },
        "accountIdAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce)."
      }
    },
    "com.gcp.merchantapi_accounts_v1#GetAccountForGcpRegistrationResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the merchant account id that the GCP is registered with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GetAccountForGcpRegistration method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#TermsOfService": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation)."
          }
        },
        "kind": {
          "target": "com.gcp.merchantapi_accounts_v1#TermsOfServiceKindEnum",
          "traits": {
            "smithy.api#documentation": "The Kind this terms of service version applies to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
          }
        },
        "fileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for terms of service file that needs to be displayed to signing users."
          }
        },
        "external": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`."
      }
    },
    "com.gcp.merchantapi_accounts_v1#TermsOfServiceKindEnum": {
      "type": "enum",
      "members": {
        "TERMS_OF_SERVICE_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_OF_SERVICE_KIND_UNSPECIFIED"
          }
        },
        "MERCHANT_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_CENTER"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#ShippingSettings": {
      "type": "structure",
      "members": {
        "warehouses": {
          "target": "com.gcp.merchantapi_accounts_v1#WarehouseList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of warehouses which can be referred to in `services`."
          }
        },
        "services": {
          "target": "com.gcp.merchantapi_accounts_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "Optional. The target account's list of services."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts."
      }
    },
    "com.gcp.merchantapi_accounts_v1#WarehouseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#Warehouse"
      }
    },
    "com.gcp.merchantapi_accounts_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#Service"
      }
    },
    "com.gcp.merchantapi_accounts_v1#RejectAccountServiceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to reject an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AutomaticImprovements": {
      "type": "structure",
      "members": {
        "shippingImprovements": {
          "target": "com.gcp.merchantapi_accounts_v1#AutomaticShippingImprovements",
          "traits": {
            "smithy.api#documentation": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask."
          }
        },
        "itemUpdates": {
          "target": "com.gcp.merchantapi_accounts_v1#AutomaticItemUpdates",
          "traits": {
            "smithy.api#documentation": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask."
          }
        },
        "imageImprovements": {
          "target": "com.gcp.merchantapi_accounts_v1#AutomaticImageImprovements",
          "traits": {
            "smithy.api#documentation": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
      }
    },
    "com.gcp.merchantapi_accounts_v1#CarrierRate": {
      "type": "structure",
      "members": {
        "carrier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`."
          }
        },
        "carrierService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`."
          }
        },
        "originPostalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Shipping origin for this carrier rate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the carrier rate. Must be unique per rate group."
          }
        },
        "flatAdjustment": {
          "target": "com.gcp.merchantapi_accounts_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate."
          }
        },
        "percentageAdjustment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListRegionsResponse": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.merchantapi_accounts_v1#RegionList",
          "traits": {
            "smithy.api#documentation": "The regions from the specified business."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListRegions` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#RegionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#Region"
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListSubAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.gcp.merchantapi_accounts_v1#AccountList",
          "traits": {
            "smithy.api#documentation": "The accounts for which the given parent account is an aggregator."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListSubAccounts` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#Account"
      }
    },
    "com.gcp.merchantapi_accounts_v1#Pickup": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage."
          }
        },
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1#PickupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the pickup serving."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to Pickup."
      }
    },
    "com.gcp.merchantapi_accounts_v1#PickupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#RadiusArea": {
      "type": "structure",
      "members": {
        "latLng": {
          "target": "com.gcp.merchantapi_accounts_v1#LatLng",
          "traits": {
            "smithy.api#documentation": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format."
          }
        },
        "radius": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The radius distance of the area."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
          }
        },
        "radiusUnits": {
          "target": "com.gcp.merchantapi_accounts_v1#RadiusAreaRadiusUnitsEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The unit of the radius."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A radius area that defines the region area."
      }
    },
    "com.gcp.merchantapi_accounts_v1#RadiusAreaRadiusUnitsEnum": {
      "type": "enum",
      "members": {
        "RADIUS_UNITS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RADIUS_UNITS_UNSPECIFIED"
          }
        },
        "MILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILES"
          }
        },
        "KILOMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOMETERS"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#BatchCreateRegionsResponse": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.merchantapi_accounts_v1#RegionList",
          "traits": {
            "smithy.api#documentation": "The created region(s)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `BatchCreateRegions` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#WarehouseCutoffTime": {
      "type": "structure",
      "members": {
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse."
          }
        },
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code."
      }
    },
    "com.gcp.merchantapi_accounts_v1#FindLfpProvidersResponse": {
      "type": "structure",
      "members": {
        "lfpProviders": {
          "target": "com.gcp.merchantapi_accounts_v1#LfpProviderList",
          "traits": {
            "smithy.api#documentation": "The LFP providers from the specified merchant in the specified country."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the FindLfpProviders method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#LfpProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#LfpProvider"
      }
    },
    "com.gcp.merchantapi_accounts_v1#AcceptTermsOfServiceResponse": {
      "type": "structure",
      "members": {
        "termsOfServiceAgreementState": {
          "target": "com.gcp.merchantapi_accounts_v1#TermsOfServiceAgreementState",
          "traits": {
            "smithy.api#documentation": "The agreement state after accepting the ToS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `AcceptTermsOfService` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#UnclaimHomepageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the `UnclaimHomepage` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#RequestInventoryVerificationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the RequestInventoryVerification method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.merchantapi_accounts_v1#OmnichannelSetting": {
      "type": "structure",
      "members": {
        "inStock": {
          "target": "com.gcp.merchantapi_accounts_v1#InStock",
          "traits": {
            "smithy.api#documentation": "Optional. The InStock URI and state for this country."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
          }
        },
        "odo": {
          "target": "com.gcp.merchantapi_accounts_v1#OnDisplayToOrder",
          "traits": {
            "smithy.api#documentation": "Optional. The On Display to Order (ODO) policy URI and state for this country."
          }
        },
        "lfpLink": {
          "target": "com.gcp.merchantapi_accounts_v1#LfpLink",
          "traits": {
            "smithy.api#documentation": "Output only. The established link to a LFP provider."
          }
        },
        "pickup": {
          "target": "com.gcp.merchantapi_accounts_v1#Pickup",
          "traits": {
            "smithy.api#documentation": "Optional. The Pickup URI and state for this country."
          }
        },
        "inventoryVerification": {
          "target": "com.gcp.merchantapi_accounts_v1#InventoryVerification",
          "traits": {
            "smithy.api#documentation": "Optional. The inventory verification contact and state for this country."
          }
        },
        "lsfType": {
          "target": "com.gcp.merchantapi_accounts_v1#OmnichannelSettingLsfTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The Local Store Front type for this country."
          }
        },
        "about": {
          "target": "com.gcp.merchantapi_accounts_v1#About",
          "traits": {
            "smithy.api#documentation": "Optional. The about page URI and state for this country."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the omnichannel settings of a merchant."
      }
    },
    "com.gcp.merchantapi_accounts_v1#OmnichannelSettingLsfTypeEnum": {
      "type": "enum",
      "members": {
        "LSF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LSF_TYPE_UNSPECIFIED"
          }
        },
        "GHLSF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHLSF"
          }
        },
        "MHLSF_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MHLSF_BASIC"
          }
        },
        "MHLSF_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MHLSF_FULL"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListOmnichannelSettingsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "omnichannelSettings": {
          "target": "com.gcp.merchantapi_accounts_v1#OmnichannelSettingList",
          "traits": {
            "smithy.api#documentation": "The omnichannel settings from the specified merchant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListOmnichannelSettings method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#OmnichannelSettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#OmnichannelSetting"
      }
    },
    "com.gcp.merchantapi_accounts_v1#ImageImprovementsAccountLevelSettings": {
      "type": "structure",
      "members": {
        "allowAutomaticImageImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic image improvements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the Automatic Image Improvements."
      }
    },
    "com.gcp.merchantapi_accounts_v1#CreateRegionRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account to create a region for. Format: `accounts/{account}`"
          }
        },
        "region": {
          "target": "com.gcp.merchantapi_accounts_v1#Region",
          "traits": {
            "smithy.api#documentation": "Required. The region to create."
          }
        },
        "regionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier for the region, unique over all regions of the same account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `CreateRegion` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#DeliveryTime": {
      "type": "structure",
      "members": {
        "transitTimeTable": {
          "target": "com.gcp.merchantapi_accounts_v1#TransitTable",
          "traits": {
            "smithy.api#documentation": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both."
          }
        },
        "transitBusinessDayConfig": {
          "target": "com.gcp.merchantapi_accounts_v1#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "minTransitDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both."
          }
        },
        "maxTransitDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`."
          }
        },
        "handlingBusinessDayConfig": {
          "target": "com.gcp.merchantapi_accounts_v1#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "cutoffTime": {
          "target": "com.gcp.merchantapi_accounts_v1#CutoffTime",
          "traits": {
            "smithy.api#documentation": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
          }
        },
        "minHandlingDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
          }
        },
        "warehouseBasedDeliveryTimes": {
          "target": "com.gcp.merchantapi_accounts_v1#WarehouseBasedDeliveryTimeList",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set."
          }
        },
        "maxHandlingDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time spent in various aspects from order to the delivery of the product."
      }
    },
    "com.gcp.merchantapi_accounts_v1#WarehouseBasedDeliveryTimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#WarehouseBasedDeliveryTime"
      }
    },
    "com.gcp.merchantapi_accounts_v1#AutomaticItemUpdates": {
      "type": "structure",
      "members": {
        "effectiveAllowConditionUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
          }
        },
        "accountItemUpdatesSettings": {
          "target": "com.gcp.merchantapi_accounts_v1#ItemUpdatesAccountLevelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
          }
        },
        "effectiveAllowAvailabilityUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
          }
        },
        "effectiveAllowPriceUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
          }
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListGbpAccountsResponse": {
      "type": "structure",
      "members": {
        "gbpAccounts": {
          "target": "com.gcp.merchantapi_accounts_v1#GbpAccountList",
          "traits": {
            "smithy.api#documentation": "The GBP accounts from the specified merchant in the specified country."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListGbpAccounts method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#GbpAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#GbpAccount"
      }
    },
    "com.gcp.merchantapi_accounts_v1#AccountManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`AccountManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AutomaticShippingImprovements": {
      "type": "structure",
      "members": {
        "allowShippingImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic shipping improvements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
      }
    },
    "com.gcp.merchantapi_accounts_v1#EmailPreferences": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
          }
        },
        "newsAndTips": {
          "target": "com.gcp.merchantapi_accounts_v1#EmailPreferencesNewsAndTipsEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Updates on new features, tips and best practices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them."
      }
    },
    "com.gcp.merchantapi_accounts_v1#EmailPreferencesNewsAndTipsEnum": {
      "type": "enum",
      "members": {
        "OPT_IN_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPT_IN_STATE_UNSPECIFIED"
          }
        },
        "OPTED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTED_OUT"
          }
        },
        "OPTED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTED_IN"
          }
        },
        "UNCONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCONFIRMED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#Requirement": {
      "type": "structure",
      "members": {
        "affectedRegionCodes": {
          "target": "com.gcp.merchantapi_accounts_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the requirement."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of a help page describing the requirement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a requirement specified for participation in the program."
      }
    },
    "com.gcp.merchantapi_accounts_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.merchantapi_accounts_v1#Warehouse": {
      "type": "structure",
      "members": {
        "shippingAddress": {
          "target": "com.gcp.merchantapi_accounts_v1#Address",
          "traits": {
            "smithy.api#documentation": "Required. Shipping address of the warehouse."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the warehouse. Must be unique within account."
          }
        },
        "handlingDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item."
          }
        },
        "cutoffTime": {
          "target": "com.gcp.merchantapi_accounts_v1#WarehouseCutoffTime",
          "traits": {
            "smithy.api#documentation": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code."
          }
        },
        "businessDayConfig": {
          "target": "com.gcp.merchantapi_accounts_v1#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "Business days of the warehouse. If not set, will be Monday to Friday by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A fulfillment warehouse, which stores and handles inventory."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Price": {
      "type": "structure",
      "members": {
        "amountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price represented as a number and currency."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ProductChange": {
      "type": "structure",
      "members": {
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_accounts_v1#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#ProductsManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`ProductsManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1#LocalListingManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`LocalListingManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1#PhoneNumber": {
      "type": "structure",
      "members": {
        "e164Number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes"
          }
        },
        "shortCode": {
          "target": "com.gcp.merchantapi_accounts_v1#ShortCode",
          "traits": {
            "smithy.api#documentation": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code"
          }
        },
        "extension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber"
      }
    },
    "com.gcp.merchantapi_accounts_v1#ProposeAccountServiceRequest": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
          }
        },
        "accountService": {
          "target": "com.gcp.merchantapi_accounts_v1#AccountService",
          "traits": {
            "smithy.api#documentation": "Required. The account service to propose."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to propose an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AddUser": {
      "type": "structure",
      "members": {
        "verificationMailSettings": {
          "target": "com.gcp.merchantapi_accounts_v1#VerificationMailSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings related to configuring the verification email that is sent after adding a user."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
          }
        },
        "user": {
          "target": "com.gcp.merchantapi_accounts_v1#User",
          "traits": {
            "smithy.api#documentation": "Optional. Details about the user to be added. At the moment, only access rights may be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instruction for adding a user to the account during creation."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Policy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.merchantapi_accounts_v1#PolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Policy type."
          }
        },
        "days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available policies."
      }
    },
    "com.gcp.merchantapi_accounts_v1#PolicyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NUMBER_OF_DAYS_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER_OF_DAYS_AFTER_DELIVERY"
          }
        },
        "NO_RETURNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RETURNS"
          }
        },
        "LIFETIME_RETURNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFETIME_RETURNS"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#Accepted": {
      "type": "structure",
      "members": {
        "termsOfService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The accepted termsOfService."
          }
        },
        "acceptedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account."
          }
        },
        "validUntil": {
          "target": "com.gcp.merchantapi_accounts_v1#Merchantapi_Date",
          "traits": {
            "smithy.api#documentation": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service)."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListUsersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "users": {
          "target": "com.gcp.merchantapi_accounts_v1#UserList",
          "traits": {
            "smithy.api#documentation": "The users from the specified account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListUsers` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#UserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#User"
      }
    },
    "com.gcp.merchantapi_accounts_v1#ApproveAccountServiceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to approve an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1#PostalCodeArea": {
      "type": "structure",
      "members": {
        "postalCodes": {
          "target": "com.gcp.merchantapi_accounts_v1#PostalCodeRangeList",
          "traits": {
            "smithy.api#documentation": "Required. A range of postal codes."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the postal code group applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible through the account's `ShippingSettings.postalCodeGroups` resource."
      }
    },
    "com.gcp.merchantapi_accounts_v1#PostalCodeRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#PostalCodeRange"
      }
    },
    "com.gcp.merchantapi_accounts_v1#GbpAccount": {
      "type": "structure",
      "members": {
        "listingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of listings under this account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`"
          }
        },
        "gbpAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account."
          }
        },
        "gbpAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the GBP account."
          }
        },
        "type": {
          "target": "com.gcp.merchantapi_accounts_v1#GbpAccountTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the Business Profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to a Google Business Profile (GBP) account."
      }
    },
    "com.gcp.merchantapi_accounts_v1#GbpAccountTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "BUSINESS_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#EnableProgramRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the EnableProgram method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Impact": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies."
          }
        },
        "severity": {
          "target": "com.gcp.merchantapi_accounts_v1#ImpactSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the issue on the destination and region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The impact of the issue on a region."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ImpactSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTION"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#Merchantapi_Date": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.merchantapi_accounts_v1#WarehouseBasedDeliveryTime": {
      "type": "structure",
      "members": {
        "carrierService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list."
          }
        },
        "carrier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)"
          }
        },
        "warehouse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Warehouse name. This should match warehouse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set."
      }
    },
    "com.gcp.merchantapi_accounts_v1#ListAccountServicesResponse": {
      "type": "structure",
      "members": {
        "accountServices": {
          "target": "com.gcp.merchantapi_accounts_v1#AccountServiceList",
          "traits": {
            "smithy.api#documentation": "The account services that match your filter."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response after trying to list account services."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AccountServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#AccountService"
      }
    },
    "com.gcp.merchantapi_accounts_v1#SetAliasForRelationship": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields."
          }
        },
        "accountIdAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set an alias for a relationship between a provider and the account to be created."
      }
    },
    "com.gcp.merchantapi_accounts_v1#CutoffTime": {
      "type": "structure",
      "members": {
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
          }
        },
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Business days cutoff time definition."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Account": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
          }
        },
        "testAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this is a test account."
          }
        },
        "timeZone": {
          "target": "com.gcp.merchantapi_accounts_v1#TimeZone",
          "traits": {
            "smithy.api#documentation": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the account."
          }
        },
        "adultContent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether this account contains adult content."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the account. Format: `accounts/{account}`"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Account` message represents a business's account within Merchant Center. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AutomaticImageImprovements": {
      "type": "structure",
      "members": {
        "accountImageImprovementsSettings": {
          "target": "com.gcp.merchantapi_accounts_v1#ImageImprovementsAccountLevelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Determines how the images should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
          }
        },
        "effectiveAllowAutomaticImageImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)"
      }
    },
    "com.gcp.merchantapi_accounts_v1#UnregisterGcpRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the UnregisterGCP method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicy": {
      "type": "structure",
      "members": {
        "seasonalOverrides": {
          "target": "com.gcp.merchantapi_accounts_v1#SeasonalOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
          }
        },
        "restockingFee": {
          "target": "com.gcp.merchantapi_accounts_v1#RestockingFee",
          "traits": {
            "smithy.api#documentation": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set."
          }
        },
        "returnMethods": {
          "target": "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnMethodsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
          }
        },
        "countries": {
          "target": "com.gcp.merchantapi_accounts_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code."
          }
        },
        "returnPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Return policy ID generated by Google."
          }
        },
        "itemConditions": {
          "target": "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyItemConditionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
          }
        },
        "acceptDefectiveOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies if business only accepts defective products for returns."
          }
        },
        "policy": {
          "target": "com.gcp.merchantapi_accounts_v1#Policy",
          "traits": {
            "smithy.api#documentation": "Optional. The return policy."
          }
        },
        "processRefundDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field specifies the number of days it takes for business to process refunds."
          }
        },
        "acceptExchange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies if business allows customers to exchange products."
          }
        },
        "returnLabelSource": {
          "target": "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnLabelSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The field specifies the return label source."
          }
        },
        "returnShippingFee": {
          "target": "com.gcp.merchantapi_accounts_v1#ReturnShippingFee",
          "traits": {
            "smithy.api#documentation": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
          }
        },
        "returnPolicyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs."
      }
    },
    "com.gcp.merchantapi_accounts_v1#SeasonalOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#SeasonalOverride"
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnMethodsItemEnum": {
      "type": "enum",
      "members": {
        "RETURN_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURN_METHOD_UNSPECIFIED"
          }
        },
        "BY_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY_MAIL"
          }
        },
        "IN_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STORE"
          }
        },
        "AT_A_KIOSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT_A_KIOSK"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnMethodsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnMethodsItemEnum"
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyItemConditionsItemEnum": {
      "type": "enum",
      "members": {
        "ITEM_CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_CONDITION_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyItemConditionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyItemConditionsItemEnum"
      }
    },
    "com.gcp.merchantapi_accounts_v1#OnlineReturnPolicyReturnLabelSourceEnum": {
      "type": "enum",
      "members": {
        "RETURN_LABEL_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURN_LABEL_SOURCE_UNSPECIFIED"
          }
        },
        "DOWNLOAD_AND_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOAD_AND_PRINT"
          }
        },
        "IN_THE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_THE_PACKAGE"
          }
        },
        "CUSTOMER_RESPONSIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_RESPONSIBILITY"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#GeoTargetArea": {
      "type": "structure",
      "members": {
        "geotargetCriteriaIds": {
          "target": "com.gcp.merchantapi_accounts_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of geotargets that defines the region area."
      }
    },
    "com.gcp.merchantapi_accounts_v1#RegisterGcpRequest": {
      "type": "structure",
      "members": {
        "developerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the RegisterGCP method."
      }
    },
    "com.gcp.merchantapi_accounts_v1#LoyaltyProgramTiers": {
      "type": "structure",
      "members": {
        "tierLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subset of a business's loyalty program."
      }
    },
    "com.gcp.merchantapi_accounts_v1#Address": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\")."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Postal code or ZIP (For example \"94043\")."
          }
        },
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs)."
          }
        },
        "streetAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street-level part of the address. For example: `111w 31st Street`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shipping address of the warehouse."
      }
    },
    "com.gcp.merchantapi_accounts_v1#StoreConfig": {
      "type": "structure",
      "members": {
        "storeServiceType": {
          "target": "com.gcp.merchantapi_accounts_v1#StoreConfigStoreServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether all stores, or selected stores, listed by this business provide local delivery."
          }
        },
        "storeCodes": {
          "target": "com.gcp.merchantapi_accounts_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true."
          }
        },
        "serviceRadius": {
          "target": "com.gcp.merchantapi_accounts_v1#Distance",
          "traits": {
            "smithy.api#documentation": "Maximum delivery radius. This is only required for the local delivery shipment type."
          }
        },
        "cutoffConfig": {
          "target": "com.gcp.merchantapi_accounts_v1#CutoffConfig",
          "traits": {
            "smithy.api#documentation": "Configs related to local delivery ends for the day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type."
      }
    },
    "com.gcp.merchantapi_accounts_v1#StoreConfigStoreServiceTypeEnum": {
      "type": "enum",
      "members": {
        "STORE_SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "ALL_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STORES"
          }
        },
        "SELECTED_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTED_STORES"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#AccountAggregation": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`AccountAggregation` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1#About": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1#AboutStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the URI."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The about page URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC))."
      }
    },
    "com.gcp.merchantapi_accounts_v1#AboutStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1#Region": {
      "type": "structure",
      "members": {
        "postalCodeArea": {
          "target": "com.gcp.merchantapi_accounts_v1#PostalCodeArea",
          "traits": {
            "smithy.api#documentation": "Optional. A list of postal codes that defines the region area."
          }
        },
        "shippingEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration."
          }
        },
        "regionalInventoryEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
          }
        },
        "radiusArea": {
          "target": "com.gcp.merchantapi_accounts_v1#RadiusArea",
          "traits": {
            "smithy.api#documentation": "Optional. A radius area that defines the region area."
          }
        },
        "geotargetArea": {
          "target": "com.gcp.merchantapi_accounts_v1#GeoTargetArea",
          "traits": {
            "smithy.api#documentation": "Optional. A list of geotargets that defines the region area."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information."
      }
    },
    "com.gcp.merchantapi_accounts_v1#TermsOfServiceAgreementState": {
      "type": "structure",
      "members": {
        "termsOfServiceKind": {
          "target": "com.gcp.merchantapi_accounts_v1#TermsOfServiceAgreementStateTermsOfServiceKindEnum",
          "traits": {
            "smithy.api#documentation": "Required. Terms of Service kind associated with the particular version."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`."
          }
        },
        "accepted": {
          "target": "com.gcp.merchantapi_accounts_v1#Accepted",
          "traits": {
            "smithy.api#documentation": "Optional. The accepted terms of service of this kind and for the associated region_code"
          }
        },
        "required": {
          "target": "com.gcp.merchantapi_accounts_v1#Required",
          "traits": {
            "smithy.api#documentation": "Optional. The required terms of service"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to."
          }
        }
      },
      "traits": {
[...]
