{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "accounts_v1beta",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_accounts_v1beta#UnclaimHomepageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the `UnclaimHomepage` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#TimeZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LinkLfpProviderRequest": {
      "type": "structure",
      "members": {
        "externalAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The external account ID by which this merchant is known to the LFP provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the LinkLfpProvider method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#GetAccountForGcpRegistrationResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the merchant account id that the GCP is registered with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the GetAccountForGcpRegistration method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Weight": {
      "type": "structure",
      "members": {
        "amountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value."
          }
        },
        "unit": {
          "target": "com.gcp.merchantapi_accounts_v1beta#WeightUnitEnum",
          "traits": {
            "smithy.api#documentation": "Required. The weight unit. Acceptable values are: kg and lb"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The weight represented as the value in string and the unit."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#WeightUnitEnum": {
      "type": "enum",
      "members": {
        "WEIGHT_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHT_UNIT_UNSPECIFIED"
          }
        },
        "POUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POUND"
          }
        },
        "KILOGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOGRAM"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ListUsersResponse": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.gcp.merchantapi_accounts_v1beta#UserList",
          "traits": {
            "smithy.api#documentation": "The users from the specified account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListUsers` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#UserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#User"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#StoreCodeSetWithMov": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Price",
          "traits": {
            "smithy.api#documentation": "The minimum order value for the given stores."
          }
        },
        "storeCodes": {
          "target": "com.gcp.merchantapi_accounts_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of unique store codes or empty for the catch all."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#User": {
      "type": "structure",
      "members": {
        "accessRights": {
          "target": "com.gcp.merchantapi_accounts_v1beta#UserAccessRightsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
          }
        },
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1beta#UserStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#UserAccessRightsItemEnum": {
      "type": "enum",
      "members": {
        "ACCESS_RIGHT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_RIGHT_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PERFORMANCE_REPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_REPORTING"
          }
        },
        "API_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_DEVELOPER"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#UserAccessRightsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#UserAccessRightsItemEnum"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#UserStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFIED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountService": {
      "type": "structure",
      "members": {
        "accountAggregation": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountAggregation",
          "traits": {
            "smithy.api#documentation": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts."
          }
        },
        "comparisonShopping": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ComparisonShopping",
          "traits": {
            "smithy.api#documentation": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
          }
        },
        "mutability": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountServiceMutabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable."
          }
        },
        "localListingManagement": {
          "target": "com.gcp.merchantapi_accounts_v1beta#LocalListingManagement",
          "traits": {
            "smithy.api#documentation": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`"
          }
        },
        "campaignsManagement": {
          "target": "com.gcp.merchantapi_accounts_v1beta#CampaignsManagement",
          "traits": {
            "smithy.api#documentation": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance."
          }
        },
        "externalAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider."
          }
        },
        "accountManagement": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountManagement",
          "traits": {
            "smithy.api#documentation": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information."
          }
        },
        "handshake": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Handshake",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved)."
          }
        },
        "productsManagement": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProductsManagement",
          "traits": {
            "smithy.api#documentation": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms."
          }
        },
        "providerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The human-readable display name of the provider account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountServiceMutabilityEnum": {
      "type": "enum",
      "members": {
        "MUTABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTABILITY_UNSPECIFIED"
          }
        },
        "MUTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTABLE"
          }
        },
        "IMMUTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMMUTABLE"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountAggregation": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`AccountAggregation` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#CustomerService": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI where customer service may be found."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The email address where customer service may be reached."
          }
        },
        "phone": {
          "target": "com.gcp.merchantapi_accounts_v1beta#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "Optional. The phone number where customer service may be called."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer service information."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ListProgramsResponse": {
      "type": "structure",
      "members": {
        "programs": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProgramList",
          "traits": {
            "smithy.api#documentation": "The programs for the given account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListPrograms method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProgramList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#Program"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#VerificationMailSettings": {
      "type": "structure",
      "members": {
        "verificationMailMode": {
          "target": "com.gcp.merchantapi_accounts_v1beta#VerificationMailSettingsVerificationMailModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to the verification email that is sent after adding a user."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#VerificationMailSettingsVerificationMailModeEnum": {
      "type": "enum",
      "members": {
        "VERIFICATION_MAIL_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_MAIL_MODE_UNSPECIFIED"
          }
        },
        "SEND_VERIFICATION_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEND_VERIFICATION_MAIL"
          }
        },
        "SUPPRESS_VERIFICATION_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPRESS_VERIFICATION_MAIL"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#DisableProgramRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the DisableProgram method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#CutoffTime": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
          }
        },
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day."
          }
        },
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Business days cutoff time definition."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LocalCutoffTime": {
      "type": "structure",
      "members": {
        "hour": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hour local delivery orders must be placed by to process the same day."
          }
        },
        "minute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minute local delivery orders must be placed by to process the same day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time that local delivery ends for the day."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductsManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`ProductsManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Requirement": {
      "type": "structure",
      "members": {
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of a help page describing the requirement."
          }
        },
        "affectedRegionCodes": {
          "target": "com.gcp.merchantapi_accounts_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the requirement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a requirement specified for participation in the program."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProposeAccountServiceRequest": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
          }
        },
        "accountService": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountService",
          "traits": {
            "smithy.api#documentation": "Required. The account service to propose."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to propose an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OmnichannelSetting": {
      "type": "structure",
      "members": {
        "lfpLink": {
          "target": "com.gcp.merchantapi_accounts_v1beta#LfpLink",
          "traits": {
            "smithy.api#documentation": "Output only. The established link to a LFP provider."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
          }
        },
        "about": {
          "target": "com.gcp.merchantapi_accounts_v1beta#About",
          "traits": {
            "smithy.api#documentation": "Optional. The about page URI and state for this country."
          }
        },
        "inStock": {
          "target": "com.gcp.merchantapi_accounts_v1beta#InStock",
          "traits": {
            "smithy.api#documentation": "Optional. The InStock URI and state for this country."
          }
        },
        "odo": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnDisplayToOrder",
          "traits": {
            "smithy.api#documentation": "Optional. The On Display to Order (ODO) policy URI and state for this country."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
          }
        },
        "lsfType": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OmnichannelSettingLsfTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The Local Store Front type for this country."
          }
        },
        "pickup": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Pickup",
          "traits": {
            "smithy.api#documentation": "Optional. The Pickup URI and state for this country."
          }
        },
        "inventoryVerification": {
          "target": "com.gcp.merchantapi_accounts_v1beta#InventoryVerification",
          "traits": {
            "smithy.api#documentation": "Optional. The inventory verification contact and state for this country."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the omnichannel settings of a merchant."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OmnichannelSettingLsfTypeEnum": {
      "type": "enum",
      "members": {
        "LSF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LSF_TYPE_UNSPECIFIED"
          }
        },
        "GHLSF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHLSF"
          }
        },
        "MHLSF_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MHLSF_BASIC"
          }
        },
        "MHLSF_FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MHLSF_FULL"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#GeoTargetArea": {
      "type": "structure",
      "members": {
        "geotargetCriteriaIds": {
          "target": "com.gcp.merchantapi_accounts_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of geotargets that defines the region area."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#TransitTimeRow": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.merchantapi_accounts_v1beta#TransitTimeValueList",
          "traits": {
            "smithy.api#documentation": "Required. Transit time range (min-max) in business days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#TransitTimeValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#TransitTimeValue"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LfpProvider": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the LFP provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to a Local Feed Partnership (LFP) provider."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Handshake": {
      "type": "structure",
      "members": {
        "approvalState": {
          "target": "com.gcp.merchantapi_accounts_v1beta#HandshakeApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The approval state of this handshake."
          }
        },
        "actor": {
          "target": "com.gcp.merchantapi_accounts_v1beta#HandshakeActorEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent account to modify the account service's `approval_status`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of establishing of the service. (for example, pending approval, approved, established)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#HandshakeApprovalStateEnum": {
      "type": "enum",
      "members": {
        "APPROVAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVAL_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING"
          }
        },
        "ESTABLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTABLISHED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#HandshakeActorEnum": {
      "type": "enum",
      "members": {
        "ACTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTOR_UNSPECIFIED"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "OTHER_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_PARTY"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#SetAliasForRelationship": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields."
          }
        },
        "accountIdAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set an alias for a relationship between a provider and the account to be created."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#RestockingFee": {
      "type": "structure",
      "members": {
        "microPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged."
          }
        },
        "fixedFee": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Price",
          "traits": {
            "smithy.api#documentation": "Fixed restocking fee."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The restocking fee. This can be a flat fee or a micro percent."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LinkGbpAccountResponse": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Empty",
          "traits": {
            "smithy.api#documentation": "Empty response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the LinkGbpAccount method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AutomaticShippingImprovements": {
      "type": "structure",
      "members": {
        "allowShippingImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic shipping improvements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#CampaignsManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`CampaignManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LinkGbpAccountRequest": {
      "type": "structure",
      "members": {
        "gbpEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address of the Business Profile account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the LinkGbpAccount method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#DeliveryTime": {
      "type": "structure",
      "members": {
        "handlingBusinessDayConfig": {
          "target": "com.gcp.merchantapi_accounts_v1beta#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "cutoffTime": {
          "target": "com.gcp.merchantapi_accounts_v1beta#CutoffTime",
          "traits": {
            "smithy.api#documentation": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
          }
        },
        "maxTransitDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`."
          }
        },
        "minHandlingDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
          }
        },
        "transitBusinessDayConfig": {
          "target": "com.gcp.merchantapi_accounts_v1beta#BusinessDayConfig",
          "traits": {
            "smithy.api#documentation": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "maxHandlingDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
          }
        },
        "minTransitDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both."
          }
        },
        "transitTimeTable": {
          "target": "com.gcp.merchantapi_accounts_v1beta#TransitTable",
          "traits": {
            "smithy.api#documentation": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both."
          }
        },
        "warehouseBasedDeliveryTimes": {
          "target": "com.gcp.merchantapi_accounts_v1beta#WarehouseBasedDeliveryTimeList",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time spent in various aspects from order to the delivery of the product."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#WarehouseBasedDeliveryTimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#WarehouseBasedDeliveryTime"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ImpactedDestination": {
      "type": "structure",
      "members": {
        "reportingContext": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ImpactedDestinationReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "The impacted reporting context."
          }
        },
        "impacts": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ImpactList",
          "traits": {
            "smithy.api#documentation": "The (negative) impact for various regions on the given destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The impact of the issue on a destination."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ImpactedDestinationReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ImpactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#Impact"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Merchantapi_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ListAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountList",
          "traits": {
            "smithy.api#documentation": "The accounts matching the `ListAccountsRequest`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `accounts.list` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#Account"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ListGbpAccountsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "gbpAccounts": {
          "target": "com.gcp.merchantapi_accounts_v1beta#GbpAccountList",
          "traits": {
            "smithy.api#documentation": "The GBP accounts from the specified merchant in the specified country."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListGbpAccounts method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#GbpAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#GbpAccount"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LoyaltyProgram": {
      "type": "structure",
      "members": {
        "programLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers."
          }
        },
        "loyaltyProgramTiers": {
          "target": "com.gcp.merchantapi_accounts_v1beta#LoyaltyProgramTiersList",
          "traits": {
            "smithy.api#documentation": "Optional. Loyalty program tier of this shipping service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LoyaltyProgramTiersList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#LoyaltyProgramTiers"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Region": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the region."
          }
        },
        "radiusArea": {
          "target": "com.gcp.merchantapi_accounts_v1beta#RadiusArea",
          "traits": {
            "smithy.api#documentation": "Optional. A radius area that defines the region area."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
          }
        },
        "geotargetArea": {
          "target": "com.gcp.merchantapi_accounts_v1beta#GeoTargetArea",
          "traits": {
            "smithy.api#documentation": "Optional. A list of geotargets that defines the region area."
          }
        },
        "regionalInventoryEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
          }
        },
        "postalCodeArea": {
          "target": "com.gcp.merchantapi_accounts_v1beta#PostalCodeArea",
          "traits": {
            "smithy.api#documentation": "Optional. A list of postal codes that defines the region area."
          }
        },
        "shippingEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ImageImprovementsAccountLevelSettings": {
      "type": "structure",
      "members": {
        "allowAutomaticImageImprovements": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic image improvements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the Automatic Image Improvements."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AcceptTermsOfServiceResponse": {
      "type": "structure",
      "members": {
        "termsOfServiceAgreementState": {
          "target": "com.gcp.merchantapi_accounts_v1beta#TermsOfServiceAgreementState",
          "traits": {
            "smithy.api#documentation": "The agreement state after accepting the ToS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `AcceptTermsOfService` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#InStock": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
          }
        },
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1beta#InStockStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the in-stock serving."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to InStock."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#InStockStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AddUser": {
      "type": "structure",
      "members": {
        "verificationMailSettings": {
          "target": "com.gcp.merchantapi_accounts_v1beta#VerificationMailSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings related to configuring the verification email that is sent after adding a user."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
          }
        },
        "user": {
          "target": "com.gcp.merchantapi_accounts_v1beta#User",
          "traits": {
            "smithy.api#documentation": "Optional. Details about the user to be added. At the moment, only access rights may be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instruction for adding a user to the account during creation."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ListOnlineReturnPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "onlineReturnPolicies": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyList",
          "traits": {
            "smithy.api#documentation": "The retrieved return policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ListOnlineReturnPolicies` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicy"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#RejectAccountServiceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to reject an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnDisplayToOrder": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The on display to order (ODO) policy URI."
          }
        },
        "state": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnDisplayToOrderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC))."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnDisplayToOrderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Homepage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`"
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI (typically a URL) of the store's homepage."
          }
        },
        "claimed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Policy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.merchantapi_accounts_v1beta#PolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Policy type."
          }
        },
        "days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available policies."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#PolicyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NUMBER_OF_DAYS_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER_OF_DAYS_AFTER_DELIVERY"
          }
        },
        "NO_RETURNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RETURNS"
          }
        },
        "LIFETIME_RETURNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFETIME_RETURNS"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "resourceType": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        },
        "changes": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        },
        "attribute": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#ProductChange"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ItemUpdatesAccountLevelSettings": {
      "type": "structure",
      "members": {
        "allowConditionUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product."
          }
        },
        "allowPriceUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If price updates are enabled, Google always updates the active price with the crawled information."
          }
        },
        "allowAvailabilityUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page."
          }
        },
        "allowStrictAvailabilityUpdates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the Automatic Item Updates."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#BusinessInfo": {
      "type": "structure",
      "members": {
        "phoneVerificationState": {
          "target": "com.gcp.merchantapi_accounts_v1beta#BusinessInfoPhoneVerificationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The phone verification state of the business."
          }
        },
        "koreanBusinessRegistrationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX."
          }
        },
        "phone": {
          "target": "com.gcp.merchantapi_accounts_v1beta#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "Output only. The phone number of the business."
          }
        },
        "address": {
          "target": "com.gcp.merchantapi_accounts_v1beta#PostalAddress",
          "traits": {
            "smithy.api#documentation": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
          }
        },
        "customerService": {
          "target": "com.gcp.merchantapi_accounts_v1beta#CustomerService",
          "traits": {
            "smithy.api#documentation": "Optional. The customer service of the business."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#BusinessInfoPhoneVerificationStateEnum": {
      "type": "enum",
      "members": {
        "PHONE_VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "PHONE_VERIFICATION_STATE_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_VERIFICATION_STATE_VERIFIED"
          }
        },
        "PHONE_VERIFICATION_STATE_UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_VERIFICATION_STATE_UNVERIFIED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#Row": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ValueList",
          "traits": {
            "smithy.api#documentation": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Include a list of cells."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#Value"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AutomaticImprovements": {
      "type": "structure",
      "members": {
        "shippingImprovements": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AutomaticShippingImprovements",
          "traits": {
            "smithy.api#documentation": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask."
          }
        },
        "itemUpdates": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AutomaticItemUpdates",
          "traits": {
            "smithy.api#documentation": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask."
          }
        },
        "imageImprovements": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AutomaticImageImprovements",
          "traits": {
            "smithy.api#documentation": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductChange": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ApproveAccountServiceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to approve an account service."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicy": {
      "type": "structure",
      "members": {
        "returnShippingFee": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ReturnShippingFee",
          "traits": {
            "smithy.api#documentation": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
          }
        },
        "returnLabelSource": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnLabelSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The field specifies the return label source."
          }
        },
        "returnPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Return policy ID generated by Google."
          }
        },
        "policy": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Policy",
          "traits": {
            "smithy.api#documentation": "Optional. The return policy."
          }
        },
        "returnMethods": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnMethodsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
          }
        },
        "processRefundDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field specifies the number of days it takes for business to process refunds."
          }
        },
        "acceptExchange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies if business allows customers to exchange products."
          }
        },
        "acceptDefectiveOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies if business only accepts defective products for returns."
          }
        },
        "itemConditions": {
          "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyItemConditionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
          }
        },
        "seasonalOverrides": {
          "target": "com.gcp.merchantapi_accounts_v1beta#SeasonalOverrideList",
          "traits": {
            "smithy.api#documentation": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals."
          }
        },
        "countries": {
          "target": "com.gcp.merchantapi_accounts_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code."
          }
        },
        "restockingFee": {
          "target": "com.gcp.merchantapi_accounts_v1beta#RestockingFee",
          "traits": {
            "smithy.api#documentation": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set."
          }
        },
        "returnPolicyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnLabelSourceEnum": {
      "type": "enum",
      "members": {
        "RETURN_LABEL_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURN_LABEL_SOURCE_UNSPECIFIED"
          }
        },
        "DOWNLOAD_AND_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOAD_AND_PRINT"
          }
        },
        "IN_THE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_THE_PACKAGE"
          }
        },
        "CUSTOMER_RESPONSIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_RESPONSIBILITY"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnMethodsItemEnum": {
      "type": "enum",
      "members": {
        "RETURN_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURN_METHOD_UNSPECIFIED"
          }
        },
        "BY_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY_MAIL"
          }
        },
        "IN_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STORE"
          }
        },
        "AT_A_KIOSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT_A_KIOSK"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnMethodsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyReturnMethodsItemEnum"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyItemConditionsItemEnum": {
      "type": "enum",
      "members": {
        "ITEM_CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_CONDITION_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyItemConditionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#OnlineReturnPolicyItemConditionsItemEnum"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#SeasonalOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#SeasonalOverride"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#LocalListingManagement": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "`LocalListingManagement` payload."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#CreateAndConfigureAccountRequest": {
      "type": "structure",
      "members": {
        "users": {
          "target": "com.gcp.merchantapi_accounts_v1beta#CreateUserRequestList",
          "traits": {
            "smithy.api#documentation": "Optional. Users to be added to the account. This field is deprecated and will not exist after the API evolves out of beta. Use the `user` field instead."
          }
        },
        "service": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AddAccountServiceList",
          "traits": {
            "smithy.api#documentation": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided."
          }
        },
        "setAlias": {
          "target": "com.gcp.merchantapi_accounts_v1beta#SetAliasForRelationshipList",
          "traits": {
            "smithy.api#documentation": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias."
          }
        },
        "account": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Account",
          "traits": {
            "smithy.api#documentation": "Required. The account to be created."
          }
        },
        "user": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AddUserList",
          "traits": {
            "smithy.api#documentation": "Optional. Users to be added to the account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `CreateAndConfigureAccount` method."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#CreateUserRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#CreateUserRequest"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AddAccountServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#AddAccountService"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#SetAliasForRelationshipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#SetAliasForRelationship"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AddUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#AddUser"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountIssue": {
      "type": "structure",
      "members": {
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Further localized details about the issue."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`."
          }
        },
        "severity": {
          "target": "com.gcp.merchantapi_accounts_v1beta#AccountIssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The overall severity of the issue."
          }
        },
        "impactedDestinations": {
          "target": "com.gcp.merchantapi_accounts_v1beta#ImpactedDestinationList",
          "traits": {
            "smithy.api#documentation": "The impact this issue has on various destinations."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized title of the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#AccountIssueSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTION"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#ImpactedDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_accounts_v1beta#ImpactedDestination"
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#SeasonalOverride": {
      "type": "structure",
      "members": {
        "returnUntilDate": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Merchantapi_Date",
          "traits": {
            "smithy.api#documentation": "Fixed end date until which the product can be returned."
          }
        },
        "returnDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of days (from the delivery date) that the product can be returned."
          }
        },
        "startDate": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Merchantapi_Date",
          "traits": {
            "smithy.api#documentation": "Required. Defines the date range when this seasonal override applies. Both start_date and end_date are inclusive. The dates of the seasonal overrides should not overlap."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of this seasonal override in Merchant Center."
          }
        },
        "endDate": {
          "target": "com.gcp.merchantapi_accounts_v1beta#Merchantapi_Date",
          "traits": {
            "smithy.api#documentation": "Required. seasonal override end date (inclusive)."
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#BusinessIdentity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`"
          }
        },
        "promotionsConsent": {
          "target": "com.gcp.merchantapi_accounts_v1beta#BusinessIdentityPromotionsConsentEnum",
          "traits": {
            "smithy.api#documentation": "Required. Whether the identity attributes may be used for promotions."
          }
        },
        "womenOwned": {
          "target": "com.gcp.merchantapi_accounts_v1beta#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "veteranOwned": {
          "target": "com.gcp.merchantapi_accounts_v1beta#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "latinoOwned": {
          "target": "com.gcp.merchantapi_accounts_v1beta#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "blackOwned": {
          "target": "com.gcp.merchantapi_accounts_v1beta#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
          }
        },
        "smallBusiness": {
          "target": "com.gcp.merchantapi_accounts_v1beta#IdentityAttribute",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247)."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#BusinessIdentityPromotionsConsentEnum": {
      "type": "enum",
      "members": {
        "PROMOTIONS_CONSENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_UNSPECIFIED"
          }
        },
        "PROMOTIONS_CONSENT_GIVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_GIVEN"
          }
        },
        "PROMOTIONS_CONSENT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTIONS_CONSENT_DENIED"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#TermsOfService": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation)."
          }
        },
        "external": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
          }
        },
        "fileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for terms of service file that needs to be displayed to signing users."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
          }
        },
        "kind": {
          "target": "com.gcp.merchantapi_accounts_v1beta#TermsOfServiceKindEnum",
          "traits": {
            "smithy.api#documentation": "The Kind this terms of service version applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`."
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#TermsOfServiceKindEnum": {
      "type": "enum",
      "members": {
        "TERMS_OF_SERVICE_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_OF_SERVICE_KIND_UNSPECIFIED"
          }
        },
        "MERCHANT_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_CENTER"
          }
        }
      }
    },
    "com.gcp.merchantapi_accounts_v1beta#PostalAddress": {
      "type": "structure",
      "members": {
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "recipients": {
          "target": "com.gcp.merchantapi_accounts_v1beta#StringList",
          "traits": {
[...]
