{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "lfp_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_lfp_v1#LfpStoreState": {
      "type": "structure",
      "members": {
        "matchingStateHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hint of why the matching has failed (only set if matching_state is FAILED)."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The identifier of this store."
          }
        },
        "matchingState": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpStoreStateMatchingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The store matching state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a specific merchant's store."
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpStoreStateMatchingStateEnum": {
      "type": "enum",
      "members": {
        "STORE_MATCHING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_UNSPECIFIED"
          }
        },
        "STORE_MATCHING_STATE_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_MATCHED"
          }
        },
        "STORE_MATCHING_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        },
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "changes": {
          "target": "com.gcp.merchantapi_lfp_v1#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "resourceType": {
          "target": "com.gcp.merchantapi_lfp_v1#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        },
        "attribute": {
          "target": "com.gcp.merchantapi_lfp_v1#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_lfp_v1#ProductChange"
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpMerchantState": {
      "type": "structure",
      "members": {
        "linkedGbps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of [GBPs](https://www.google.com/business/) this merchant has access to."
          }
        },
        "countrySettings": {
          "target": "com.gcp.merchantapi_lfp_v1#CountrySettingsList",
          "traits": {
            "smithy.api#documentation": "Country-specific settings for the merchant."
          }
        },
        "inventoryStats": {
          "target": "com.gcp.merchantapi_lfp_v1#InventoryStats",
          "traits": {
            "smithy.api#documentation": "The inventory statistics for the merchant. The field will be absent if the merchant has no inventory submitted through LFP."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the `LfpMerchantState` resource. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`."
          }
        },
        "storeStates": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpStoreStateList",
          "traits": {
            "smithy.api#documentation": "Output only. The state per store from the specified merchant. The field will be absent if the merchant has no stores submitted through LFP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The LFP state of a merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_lfp_v1#CountrySettings"
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpStoreStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpStoreState"
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpStore": {
      "type": "structure",
      "members": {
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A store identifier that is unique for the target merchant."
          }
        },
        "storeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The merchant or store name."
          }
        },
        "gcidCategory": {
          "target": "com.gcp.merchantapi_lfp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. [Google My Business category id](https://support.google.com/business/answer/7249669)."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [Google Place Id](https://developers.google.com/maps/documentation/places/web-service/place-id#id-overview) of the store location."
          }
        },
        "matchingState": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpStoreMatchingStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The state of matching to a Google Business Profile. See matchingStateHint for further details if no match is found."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The name of the `LfpStore` resource. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`"
          }
        },
        "targetAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Merchant Center id of the merchant to submit the store for."
          }
        },
        "storeAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The street address of the store. Example: 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA."
          }
        },
        "websiteUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The website URL for the store or merchant."
          }
        },
        "matchingStateHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The hint of why the matching has failed. This is only set when matchingState=`STORE_MATCHING_STATE_FAILED`. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. - \"`store-match-not-found`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but the `LfpStore` location address does not match with Google Business Profile stores' addresses. Update the `LfpStore` address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The store phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. Example: `+15556767888`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A store for the merchant. This will be used to match to a store under the Google Business Profile of the target merchant. If a matching store can't be found, the inventories or sales submitted with the store code will not be used."
      }
    },
    "com.gcp.merchantapi_lfp_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpStoreMatchingStateEnum": {
      "type": "enum",
      "members": {
        "STORE_MATCHING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_UNSPECIFIED"
          }
        },
        "STORE_MATCHING_STATE_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_MATCHED"
          }
        },
        "STORE_MATCHING_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORE_MATCHING_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#Price": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
          }
        },
        "amountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price represented as a number and currency."
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpInventory": {
      "type": "structure",
      "members": {
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of the merchant's store. Either the store code inserted through `InsertLfpStore` or the store code in the Business Profile."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold."
          }
        },
        "gtin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Global Trade Item Number of the product."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Quantity of the product available at this store. Must be greater than or equal to zero."
          }
        },
        "collectionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time when the inventory is collected. If not set, it will be set to the time when the inventory is submitted."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The two-letter ISO 639-1 language code for the item."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_lfp_v1#Price",
          "traits": {
            "smithy.api#documentation": "Optional. The current price of the product."
          }
        },
        "pickupSla": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The name for the `LfpInventory` resource. Format: `accounts/{account}/lfpInventories/{target_merchant}~{store_code}~{offer}`"
          }
        },
        "targetAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Merchant Center ID of the merchant to submit the inventory for."
          }
        },
        "pickupMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
          }
        },
        "availability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Availability of the product at this store. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Local Inventory for the merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductChange": {
      "type": "structure",
      "members": {
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_lfp_v1#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_lfp_v1#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.merchantapi_lfp_v1#InventoryStats": {
      "type": "structure",
      "members": {
        "submittedInStockEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of submitted in stock entries."
          }
        },
        "unsubmittedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of entries that were built based on provided inventories/sales and couldn't be submitted to Google due to errors like missing product."
          }
        },
        "submittedEntries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of entries (understanding entry as a pair of product and store) that were built based on provided inventories/sales and submitted to Google."
          }
        },
        "submittedProducts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of products from provided inventories/sales that were created from matches to existing online products provided by the merchant or to the Google catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inventory statistics for a merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpSale": {
      "type": "structure",
      "members": {
        "gtin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Global Trade Item Number of the sold product."
          }
        },
        "storeCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in the Business Profile."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_lfp_v1#Price",
          "traits": {
            "smithy.api#documentation": "Required. The unit price of the product."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The name of the `LfpSale` resource. Format: `accounts/{account}/lfpSales/{sale}`"
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative change of the available quantity. Negative for items returned."
          }
        },
        "targetAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Merchant Center ID of the merchant to submit the sale for."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated globally unique ID for the `LfpSale`."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The two-letter ISO 639-1 language code for the item."
          }
        },
        "saleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The timestamp for the sale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sale for the merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#ListLfpStoresResponse": {
      "type": "structure",
      "members": {
        "lfpStores": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpStoreList",
          "traits": {
            "smithy.api#documentation": "The stores from the specified merchant."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListLfpStores method."
      }
    },
    "com.gcp.merchantapi_lfp_v1#LfpStoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpStore"
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettings": {
      "type": "structure",
      "members": {
        "freeLocalListingsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this merchant has enabled free local listings in MC."
          }
        },
        "pickupServingVerificationState": {
          "target": "com.gcp.merchantapi_lfp_v1#CountrySettingsPickupServingVerificationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The verification state of this merchant's pickup serving feature."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country for which these settings are defined."
          }
        },
        "instockServingVerificationState": {
          "target": "com.gcp.merchantapi_lfp_v1#CountrySettingsInstockServingVerificationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The verification state of this merchant's instock serving feature."
          }
        },
        "productPageType": {
          "target": "com.gcp.merchantapi_lfp_v1#CountrySettingsProductPageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The product page type selected by this merchant."
          }
        },
        "inventoryVerificationState": {
          "target": "com.gcp.merchantapi_lfp_v1#CountrySettingsInventoryVerificationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The verification state of this merchant's inventory check."
          }
        },
        "localInventoryAdsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this merchant has enabled local inventory ads in MC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Country-specific settings for the merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettingsPickupServingVerificationStateEnum": {
      "type": "enum",
      "members": {
        "VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "VERIFICATION_STATE_NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_NOT_APPROVED"
          }
        },
        "VERIFICATION_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_IN_PROGRESS"
          }
        },
        "VERIFICATION_STATE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_APPROVED"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettingsInstockServingVerificationStateEnum": {
      "type": "enum",
      "members": {
        "VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "VERIFICATION_STATE_NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_NOT_APPROVED"
          }
        },
        "VERIFICATION_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_IN_PROGRESS"
          }
        },
        "VERIFICATION_STATE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_APPROVED"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettingsProductPageTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_PAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_PAGE_TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HOSTED"
          }
        },
        "MERCHANT_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_HOSTED"
          }
        },
        "MERCHANT_HOSTED_STORE_SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_HOSTED_STORE_SPECIFIC"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#CountrySettingsInventoryVerificationStateEnum": {
      "type": "enum",
      "members": {
        "VERIFICATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_UNSPECIFIED"
          }
        },
        "VERIFICATION_STATE_NOT_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_NOT_APPROVED"
          }
        },
        "VERIFICATION_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_IN_PROGRESS"
          }
        },
        "VERIFICATION_STATE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFICATION_STATE_APPROVED"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpInventoriesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The LFP provider account. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpInventory",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.merchantapi_lfp_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.merchantapi_lfp_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.merchantapi_lfp_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpInventories": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpInventoriesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpInventory"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "lfp/v1/{+parent}/lfpInventories:insert"
        },
        "smithy.api#documentation": "Inserts a `LfpInventory` resource for the given target merchant account. If the resource already exists, it will be replaced. The inventory automatically expires after 30 days."
      }
    },
    "com.gcp.merchantapi_lfp_v1#GetAccountsLfpMerchantStatesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the state to retrieve. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#GetAccountsLfpMerchantStates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#GetAccountsLfpMerchantStatesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpMerchantState"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "lfp/v1/{+name}"
        },
        "smithy.api#documentation": "Gets the LFP state of a merchant"
      }
    },
    "com.gcp.merchantapi_lfp_v1#GetAccountsLfpStoresRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the store to retrieve. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#GetAccountsLfpStores": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#GetAccountsLfpStoresRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpStore"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "lfp/v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves information about a store."
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpStoresRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The LFP provider account Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpStore",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpStores": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpStoresRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpStore"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "lfp/v1/{+parent}/lfpStores:insert"
        },
        "smithy.api#documentation": "Inserts a store for the target merchant. If the store with the same store code already exists, it will be replaced."
      }
    },
    "com.gcp.merchantapi_lfp_v1#ListAccountsLfpStoresRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The LFP partner. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "targetAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Merchant Center id of the merchant to list stores for.",
            "smithy.api#httpQuery": "targetAccount"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListLfpStoresRequest` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListLfpStoresRequest` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of `LfpStore` resources for the given account to return. The service returns fewer than this value if the number of stores for the given account is less than the `pageSize`. The default value is 250. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#ListAccountsLfpStores": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#ListAccountsLfpStoresRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#ListLfpStoresResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "lfp/v1/{+parent}/lfpStores"
        },
        "smithy.api#documentation": "Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#DeleteAccountsLfpStoresRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the store to delete for the target merchant account. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#DeleteAccountsLfpStores": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#DeleteAccountsLfpStoresRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "lfp/v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a store for a target merchant."
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpSalesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The LFP provider account. Format: `accounts/{lfp_partner}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_lfp_v1#LfpSale",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpSales": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_lfp_v1#InsertAccountsLfpSalesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_lfp_v1#LfpSale"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_lfp_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_lfp_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "lfp/v1/{+parent}/lfpSales:insert"
        },
        "smithy.api#documentation": "Inserts a `LfpSale` for the given merchant."
      }
    }
  }
}
