{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "products_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_products_v1#UnitPricingBaseMeasure": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of the denominator."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The denominator of the unit price."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The UnitPricingBaseMeasure of the product."
      }
    },
    "com.gcp.merchantapi_products_v1#Product": {
      "type": "structure",
      "members": {
        "productAttributes": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributes",
          "traits": {
            "smithy.api#documentation": "Output only. A list of strongly-typed product attributes."
          }
        },
        "productStatus": {
          "target": "com.gcp.merchantapi_products_v1#ProductStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
          }
        },
        "versionNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Determines whether the product is [archived](https://support.google.com/merchants/answer/11909930). To archive or restore your product, visit Merchant Center products page. Learn also more about [offer visibility](https://support.google.com/merchants/answer/12488713)."
          }
        },
        "automatedDiscounts": {
          "target": "com.gcp.merchantapi_products_v1#AutomatedDiscounts",
          "traits": {
            "smithy.api#documentation": "Output only. The automated discounts information for the product."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The primary data source of the product."
          }
        },
        "base64EncodedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get)."
          }
        },
        "legacyLocal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/products/local~en~US~sku123`."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)"
          }
        },
        "customAttributes": {
          "target": "com.gcp.merchantapi_products_v1#CustomAttributeList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions."
      }
    },
    "com.gcp.merchantapi_products_v1#CustomAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#CustomAttribute"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributes": {
      "type": "structure",
      "members": {
        "minimumOrderValues": {
          "target": "com.gcp.merchantapi_products_v1#ProductMinimumOrderValueList",
          "traits": {
            "smithy.api#documentation": "The [minimum value](https://support.google.com/merchants/answer/16989009) in the cart before a customer can initiate checkout. Supports multiple minimum order values. Different minimum order values can be specified per country, service and surface. Maximum entries: 100."
          }
        },
        "energyConsumption": {
          "target": "com.gcp.merchantapi_products_v1#EnergyConsumption",
          "traits": {
            "smithy.api#documentation": "The [energy consumption](https://support.google.com/google-ads/answer/14546149) of the vehicle."
          }
        },
        "disclosureDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information."
          }
        },
        "productFee": {
          "target": "com.gcp.merchantapi_products_v1#ProductFeeList",
          "traits": {
            "smithy.api#documentation": "The product fee for the property."
          }
        },
        "pickupMethod": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesPickupMethodEnum",
          "traits": {
            "smithy.api#documentation": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item."
          }
        },
        "sustainabilityIncentives": {
          "target": "com.gcp.merchantapi_products_v1#ProductSustainabilityIncentiveList",
          "traits": {
            "smithy.api#documentation": "The list of sustainability incentive programs."
          }
        },
        "shortTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short title of the item."
          }
        },
        "mpn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/6324482)) of the item."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "Price of the item."
          }
        },
        "carrierShipping": {
          "target": "com.gcp.merchantapi_products_v1#CarrierShippingList",
          "traits": {
            "smithy.api#documentation": "Rules for carrier-based shipping."
          }
        },
        "minEnergyEfficiencyClass": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesMinEnergyEfficiencyClassEnum",
          "traits": {
            "smithy.api#documentation": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU."
          }
        },
        "documentLinks": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Contains a list of PDF [document URLs](https://support.google.com/merchants/answer/17084656) for the product. Examples are training manuals, user guides, assembly instructions, package inserts, etc. Must start with \"http://\" or \"https://\"), ASCII characters only, and RFC 3986 compliant."
          }
        },
        "isBundle": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the item is a business-defined sub-API. A [sub-API] (https://support.google.com/merchants/answer/6324449) is a custom grouping of different products sold by a business for a single price."
          }
        },
        "shoppingAdsExcludedCountries": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of country codes [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in data source settings."
          }
        },
        "propertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the property."
          }
        },
        "displayAdsId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for an item for dynamic remarketing campaigns."
          }
        },
        "numberOfBedrooms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of bedrooms in the property. The value must be greater than or equal to 0 and a multiple of 1.0."
          }
        },
        "trim": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Trim](https://support.google.com/google-ads/answer/14154176) of the vehicle model, such as `S`, `SV`, `SL` and others."
          }
        },
        "customLabel1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Model](https://support.google.com/google-ads/answer/14154511) of the vehicle, such as `LX`, `EX`, and others."
          }
        },
        "shippingLength": {
          "target": "com.gcp.merchantapi_products_v1#ShippingDimension",
          "traits": {
            "smithy.api#documentation": "Length of the item for shipping."
          }
        },
        "gtins": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude of the property. The value must be between -90 (inclusive) and 90 (inclusive), up to 6 decimal places."
          }
        },
        "itemGroupTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the [title of the product group](https://support.google.com/merchants/answer/17085146) to which this variant product belongs. This can be used along with the [item group id](https://support.google.com/merchants/answer/6324507) attribute. It lets you perform better grouping of variant products, and helps identifying common product characteristics more efficiently."
          }
        },
        "numberOfUnits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of units available for a specific floor plan of the property. The value must be greater than 0."
          }
        },
        "loyaltyPoints": {
          "target": "com.gcp.merchantapi_products_v1#LoyaltyPoints",
          "traits": {
            "smithy.api#documentation": "Loyalty points that users receive after purchasing the item. Japan only."
          }
        },
        "ageGroup": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesAgeGroupEnum",
          "traits": {
            "smithy.api#documentation": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item."
          }
        },
        "shippingWidth": {
          "target": "com.gcp.merchantapi_products_v1#ShippingDimension",
          "traits": {
            "smithy.api#documentation": "Width of the item for shipping."
          }
        },
        "emissionsStandard": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesEmissionsStandardEnum",
          "traits": {
            "smithy.api#documentation": "The [emission standard](https://support.google.com/google-ads/answer/14869021) of the vehicle."
          }
        },
        "productTypes": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Categories of the item (formatted as in [product data specification](https://support.google.com/merchants/answer/7052112#product_category))."
          }
        },
        "gender": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesGenderEnum",
          "traits": {
            "smithy.api#documentation": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item."
          }
        },
        "subscriptionCost": {
          "target": "com.gcp.merchantapi_products_v1#SubscriptionCost",
          "traits": {
            "smithy.api#documentation": "Number of periods (weeks, months or years) and amount of payment per period for an item with an associated subscription contract."
          }
        },
        "petPolicy": {
          "target": "com.gcp.merchantapi_products_v1#PetPolicy",
          "traits": {
            "smithy.api#documentation": "The pet policy for the property."
          }
        },
        "mobileLinkTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Link template](https://support.google.com/merchants/answer/13870216) for business hosted local storefront optimized for mobile devices."
          }
        },
        "installment": {
          "target": "com.gcp.merchantapi_products_v1#ProductInstallment",
          "traits": {
            "smithy.api#documentation": "Number and amount of installments to pay for an item."
          }
        },
        "vehicleMandatoryInspectionIncluded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the vehicle is sold with mandatory inspection and maintenance performed before delivery. See the [Vehicle mandatory inspection included](https://support.google.com/google-ads/answer/15956630) for more information.`"
          }
        },
        "freeShippingThreshold": {
          "target": "com.gcp.merchantapi_products_v1#FreeShippingThresholdList",
          "traits": {
            "smithy.api#documentation": "Conditions to be met for a product to have free shipping."
          }
        },
        "includedDestinations": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesIncludedDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. For more information, see [Included destination](https://support.google.com/merchants/answer/7501026). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
          }
        },
        "loyaltyPrograms": {
          "target": "com.gcp.merchantapi_products_v1#LoyaltyProgramList",
          "traits": {
            "smithy.api#documentation": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item."
          }
        },
        "vin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Vehicle Identification Number (VIN)](https://support.google.com/google-ads/answer/14154510) of the vehicle."
          }
        },
        "neighborhood": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The neighborhood (locality) of the property, such as `Wallingford`, `Greenwood`, etc."
          }
        },
        "shippingWeight": {
          "target": "com.gcp.merchantapi_products_v1#ShippingWeight",
          "traits": {
            "smithy.api#documentation": "Weight of the item for shipping."
          }
        },
        "engine": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesEngineEnum",
          "traits": {
            "smithy.api#documentation": "The [engine](https://support.google.com/google-ads/answer/14156068) type of the vehicle."
          }
        },
        "mobileLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the mobile-optimized version of your item's landing page."
          }
        },
        "autoPricingMinPrice": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "A safeguard in the [automated discounts] (https://support.google.com/merchants/answer/10295759) and \"Dynamic Promotions\" (https://support.google.com/merchants/answer/13949249) projects, ensuring that discounts on business offers do not fall below this value, thereby preserving the offer's value and profitability."
          }
        },
        "additionalImageLinks": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional URLs of images of the item."
          }
        },
        "promotionIds": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The unique ID of a promotion."
          }
        },
        "googleProductCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\"."
          }
        },
        "vehiclePriceType": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesVehiclePriceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The [price type](https://support.google.com/google-ads/answer/14592783) of the vehicle."
          }
        },
        "specialtyHousingType": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesSpecialtyHousingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The specialty housing type for the property."
          }
        },
        "warranty": {
          "target": "com.gcp.merchantapi_products_v1#Warranty",
          "traits": {
            "smithy.api#documentation": "The [warranty](https://support.google.com/google-ads/answer/15957626) of the vehicle."
          }
        },
        "displayAddress": {
          "target": "com.gcp.merchantapi_products_v1#DisplayAddress",
          "traits": {
            "smithy.api#documentation": "The display address of the property."
          }
        },
        "relatedProducts": {
          "target": "com.gcp.merchantapi_products_v1#RelatedProductList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies how other [products are related](https://support.google.com/merchants/answer/17085213) to this product."
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL directly linking to your item's page on your online store."
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future."
          }
        },
        "minHandlingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimal product handling time (in business days)."
          }
        },
        "productWidth": {
          "target": "com.gcp.merchantapi_products_v1#ProductDimension",
          "traits": {
            "smithy.api#documentation": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
          }
        },
        "shippingTransitBusinessDays": {
          "target": "com.gcp.merchantapi_products_v1#ShippingBusinessDaysConfigList",
          "traits": {
            "smithy.api#documentation": "The business days during which orders are in transit. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "mileage": {
          "target": "com.gcp.merchantapi_products_v1#Mileage",
          "traits": {
            "smithy.api#documentation": "The number of miles/kms on the vehicle. See the [Mileage](https://support.google.com/google-ads/answer/14156166) for more information."
          }
        },
        "propertyType": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of property."
          }
        },
        "shippingHeight": {
          "target": "com.gcp.merchantapi_products_v1#ShippingDimension",
          "traits": {
            "smithy.api#documentation": "Height of the item for shipping."
          }
        },
        "customLabel2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Custom label 2](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The item's [pattern](https://support.google.com/merchants/answer/6324483). For example, polka dots."
          }
        },
        "productDetails": {
          "target": "com.gcp.merchantapi_products_v1#ProductDetailList",
          "traits": {
            "smithy.api#documentation": "Technical specification or additional product details."
          }
        },
        "adsRedirect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allows advertisers to override the item URL when the product is shown within the context of Product ads."
          }
        },
        "costOfGoodsSold": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "Cost of goods sold. Used for gross profit reporting."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the item."
          }
        },
        "adsGrouping": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
          }
        },
        "co2Emissions": {
          "target": "com.gcp.merchantapi_products_v1#Co2Emissions",
          "traits": {
            "smithy.api#documentation": "The [co2 emission](https://support.google.com/google-ads/answer/14546146) of the vehicle."
          }
        },
        "availabilityDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day a pre-ordered product becomes available for delivery, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
          }
        },
        "maxHandlingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximal product handling time (in business days)."
          }
        },
        "customLabel3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
          }
        },
        "customLabel4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Custom label 4](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
          }
        },
        "energyEfficiencyClass": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesEnergyEfficiencyClassEnum",
          "traits": {
            "smithy.api#documentation": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU."
          }
        },
        "displayAdsSimilarIds": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Advertiser-specified recommendations. For more information, see [Display ads attribute specification](https://support.google.com/merchants/answer/6069387)."
          }
        },
        "displayAdsLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL directly to your item's landing page for dynamic remarketing campaigns."
          }
        },
        "numberOfBathrooms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of bathrooms in the property. The value must be greater than 0 and a multiple of 0.5."
          }
        },
        "adsLabels": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Similar to ads_grouping, but only works on CPC."
          }
        },
        "variantOptions": {
          "target": "com.gcp.merchantapi_products_v1#VariantOptionList",
          "traits": {
            "smithy.api#documentation": "Optional. Contains the [list of all variant-identifying options](https://support.google.com/merchants/answer/17085214) of this product."
          }
        },
        "condition": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesConditionEnum",
          "traits": {
            "smithy.api#documentation": "[Condition](https://support.google.com/merchants/answer/6324469) or state of the item."
          }
        },
        "pickupCost": {
          "target": "com.gcp.merchantapi_products_v1#PickupCost",
          "traits": {
            "smithy.api#documentation": "Optional. The [pickup cost](https://support.google.com/merchants/answer/16988704) for an item when a customer buys it online and picks it up at a store."
          }
        },
        "canonicalLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the canonical version of your item's landing page."
          }
        },
        "shippingHandlingBusinessDays": {
          "target": "com.gcp.merchantapi_products_v1#ShippingBusinessDaysConfigList",
          "traits": {
            "smithy.api#documentation": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
          }
        },
        "multipack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of identical products in a business-defined multipack."
          }
        },
        "adult": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true if the item is targeted towards adults."
          }
        },
        "customLabel0": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Custom label 0](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
          }
        },
        "sizeSystem": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesSizeSystemEnum",
          "traits": {
            "smithy.api#documentation": "System in which the size is specified. Recommended for apparel items. For more information, see [Size system](https://support.google.com/merchants/answer/6324502)."
          }
        },
        "cloudExportAdditionalProperties": {
          "target": "com.gcp.merchantapi_products_v1#CloudExportAdditionalPropertiesList",
          "traits": {
            "smithy.api#documentation": "Extra fields to export to the Cloud Retail program."
          }
        },
        "vehicleMsrp": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "The MSRP (Manufacturer Suggested Retail Price) for the vehicle in its current configuration. See the [Vehicle MSRP](https://support.google.com/google-ads/answer/14154171) for more information."
          }
        },
        "pickupSla": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesPickupSlaEnum",
          "traits": {
            "smithy.api#documentation": "Item store pickup timeline. For more information, see [Pickup SLA](https://support.google.com/merchants/answer/14635400)."
          }
        },
        "bodyStyle": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesBodyStyleEnum",
          "traits": {
            "smithy.api#documentation": "The [body style](https://support.google.com/google-ads/answer/14157085) of the vehicle."
          }
        },
        "dateFirstRegistered": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the vehicle was first registered. Format: `YYYY-MM`. See the [Date first registered](https://support.google.com/google-ads/answer/14546138) for more information."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the item."
          }
        },
        "sizeTypes": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesSizeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided, see [Size type](https://support.google.com/merchants/answer/6324497)."
          }
        },
        "shipping": {
          "target": "com.gcp.merchantapi_products_v1#ShippingList",
          "traits": {
            "smithy.api#documentation": "Shipping rules."
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude of the property. The value must be between -180 (inclusive) and 180 (inclusive), up to 6 decimal places."
          }
        },
        "unitArea": {
          "target": "com.gcp.merchantapi_products_v1#UnitArea",
          "traits": {
            "smithy.api#documentation": "The unit area of the property, such as `1000 sqft`."
          }
        },
        "maximumRetailPrice": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "Maximum retail price (MRP) of the item. Applicable to India only."
          }
        },
        "fuelConsumptionDischargedBattery": {
          "target": "com.gcp.merchantapi_products_v1#FuelConsumption",
          "traits": {
            "smithy.api#documentation": "The fuel consumption of the vehicle when the hybrid battery is discharged. See the [Help Center article](https://support.google.com/google-ads/answer/15162033) for more information."
          }
        },
        "transitTimeLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The transit time label of the product, used to group product in account-level transit time tables."
          }
        },
        "electricRange": {
          "target": "com.gcp.merchantapi_products_v1#Mileage",
          "traits": {
            "smithy.api#documentation": "The [electric range](https://support.google.com/google-ads/answer/15162232) of the vehicle in miles/kms."
          }
        },
        "certifiedPreOwned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the vehicle is OEM [certified pre-owned](https://support.google.com/google-ads/answer/14156475)."
          }
        },
        "structuredDescription": {
          "target": "com.gcp.merchantapi_products_v1#StructuredDescription",
          "traits": {
            "smithy.api#documentation": "Structured description, for algorithmically (AI)-generated descriptions."
          }
        },
        "vehicleExpenses": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "The miscellaneous expenses like insurance and registration fees of the vehicle. See the [Vehicle expenses](https://support.google.com/google-ads/answer/15957154) for more information."
          }
        },
        "year": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Year](https://support.google.com/google-ads/answer/14152816) of the vehicle model."
          }
        },
        "unitPricingMeasure": {
          "target": "com.gcp.merchantapi_products_v1#UnitPricingMeasure",
          "traits": {
            "smithy.api#documentation": "The measure and dimension of an item."
          }
        },
        "productLength": {
          "target": "com.gcp.merchantapi_products_v1#ProductDimension",
          "traits": {
            "smithy.api#documentation": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
          }
        },
        "imageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of an image of the item."
          }
        },
        "handlingCutoffTimes": {
          "target": "com.gcp.merchantapi_products_v1#HandlingCutoffTimeList",
          "traits": {
            "smithy.api#documentation": "The handling cutoff times for shipping."
          }
        },
        "pause": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesPauseEnum",
          "traits": {
            "smithy.api#documentation": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930)."
          }
        },
        "returnPolicyLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The return label of the product, used to group products in account-level return policies. Max. 100 characters. For more information, see [Return policy label](https://support.google.com/merchants/answer/9445425)."
          }
        },
        "productHighlights": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Bullet points describing the most relevant [product highlights](https://support.google.com/merchants/answer/9216100)."
          }
        },
        "externalSellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
          }
        },
        "vehicleAllInPrice": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "The all-in advertised price for a vehicle, which includes costs for the following – any accessories attached to the vehicle, environmental levies, extra warranty, fuel, freight, pre-delivery inspection (PDI), dealer fees for handling licensing, provincial regulatory fees, miscellaneous dealer charges for security etching and nitrogen tire fill, and factory-to-customer or dealer-to-customer discounts or incentives. See the [Vehicle all-in price](https://support.google.com/google-ads/answer/14156981) for more information."
          }
        },
        "utilitiesIncluded": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesUtilitiesIncludedItemEnumList",
          "traits": {
            "smithy.api#documentation": "The utilities included for the property."
          }
        },
        "questionsAndAnswers": {
          "target": "com.gcp.merchantapi_products_v1#QuestionAndAnswerList",
          "traits": {
            "smithy.api#documentation": "Optional. Contains user-, merchant-, and manufacturer-authored [questions and answers](https://support.google.com/merchants/answer/17085211) about the product. Max 30 question and answer pairs. Max 10000 characters total. Each question can have max 1000 characters. Each answer can have max 1000 characters."
          }
        },
        "salePriceEffectiveDate": {
          "target": "com.gcp.merchantapi_products_v1#Interval",
          "traits": {
            "smithy.api#documentation": "Date range during which the item is on sale, see [product data specification](https://support.google.com/merchants/answer/7052112#price_and_availability)."
          }
        },
        "sellOnGoogleQuantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quantity of the product that is available for selling on Google. Supported only for online products."
          }
        },
        "certifications": {
          "target": "com.gcp.merchantapi_products_v1#ProductCertificationList",
          "traits": {
            "smithy.api#documentation": "Product Certifications, for example for energy efficiency labeling of products recorded in the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database. See the [Help Center](https://support.google.com/merchants/answer/13528839) article for more information."
          }
        },
        "productHeight": {
          "target": "com.gcp.merchantapi_products_v1#ProductDimension",
          "traits": {
            "smithy.api#documentation": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
          }
        },
        "shippingLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shipping label of the product, used to group products in account-level shipping rules. Max. 100 characters. For more information, see [Shipping label](https://support.google.com/merchants/answer/6324504)."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Color](https://support.google.com/merchants/answer/6324487) of the item. For example, \"red\"."
          }
        },
        "structuredTitle": {
          "target": "com.gcp.merchantapi_products_v1#StructuredTitle",
          "traits": {
            "smithy.api#documentation": "Structured title, for algorithmically (AI)-generated titles."
          }
        },
        "amenityFeature": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesAmenityFeatureItemEnumList",
          "traits": {
            "smithy.api#documentation": "The amenity features for the property."
          }
        },
        "maxEnergyEfficiencyClass": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesMaxEnergyEfficiencyClassEnum",
          "traits": {
            "smithy.api#documentation": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU."
          }
        },
        "linkTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Link template](https://support.google.com/merchants/answer/13871172) for business hosted local storefront."
          }
        },
        "popularityRank": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the [popularity](https://support.google.com/merchants/answer/17085297) of the product in a merchant's inventory. Using a scale of 0.0 (lowest) to 100.0 (highest)."
          }
        },
        "excludedDestinations": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesExcludedDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center). For more information, see [Excluded destination](https://support.google.com/merchants/answer/6324486). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
          }
        },
        "material": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [material](https://support.google.com/merchants/answer/6324410) of which the item is made. For example, \"Leather\" or \"Cotton\"."
          }
        },
        "salePrice": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "Advertised sale price of the item."
          }
        },
        "availability": {
          "target": "com.gcp.merchantapi_products_v1#ProductAttributesAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "[Availability](https://support.google.com/merchants/answer/6324448) status of the item."
          }
        },
        "itemGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared identifier for all variants of the same product."
          }
        },
        "displayAdsTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of an item for dynamic remarketing campaigns."
          }
        },
        "productWeight": {
          "target": "com.gcp.merchantapi_products_v1#ProductWeight",
          "traits": {
            "smithy.api#documentation": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
          }
        },
        "identifierExists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this value to false when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Defaults to true, if not provided."
          }
        },
        "displayAdsValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Offer margin for dynamic remarketing campaigns. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
          }
        },
        "fuelConsumption": {
          "target": "com.gcp.merchantapi_products_v1#FuelConsumption",
          "traits": {
            "smithy.api#documentation": "The [fuel consumption](https://support.google.com/google-ads/answer/14543580) of the vehicle."
          }
        },
        "unitPricingBaseMeasure": {
          "target": "com.gcp.merchantapi_products_v1#UnitPricingBaseMeasure",
          "traits": {
            "smithy.api#documentation": "The preference of the denominator of the unit price."
          }
        },
        "videoLinks": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of video URLs for the item. Use this attribute to provide more visuals for your product beyond your image attributes. See the [Help Center article](https://support.google.com/merchants/answer/15216925) for more information."
          }
        },
        "virtualModelLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the 3D image of the item. See the [Help Center article](https://support.google.com/merchants/answer/13674896) for more information."
          }
        },
        "lifestyleImageLinks": {
          "target": "com.gcp.merchantapi_products_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the [Help Center article](https://support.google.com/merchants/answer/9103186) for more information."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value, see [Size](https://support.google.com/merchants/answer/6324492)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product attributes."
      }
    },
    "com.gcp.merchantapi_products_v1#ProductMinimumOrderValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductMinimumOrderValue"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductFeeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductFee"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesPickupMethodEnum": {
      "type": "enum",
      "members": {
        "PICKUP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_METHOD_UNSPECIFIED"
          }
        },
        "NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SUPPORTED"
          }
        },
        "BUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUY"
          }
        },
        "RESERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVE"
          }
        },
        "SHIP_TO_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIP_TO_STORE"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductSustainabilityIncentiveList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductSustainabilityIncentive"
      }
    },
    "com.gcp.merchantapi_products_v1#CarrierShippingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#CarrierShipping"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesMinEnergyEfficiencyClassEnum": {
      "type": "enum",
      "members": {
        "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED"
          }
        },
        "APPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPP"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AP"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "B"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        },
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "F"
          }
        },
        "G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesAgeGroupEnum": {
      "type": "enum",
      "members": {
        "AGE_GROUP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_GROUP_UNSPECIFIED"
          }
        },
        "ADULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADULT"
          }
        },
        "KIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIDS"
          }
        },
        "TODDLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TODDLER"
          }
        },
        "INFANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFANT"
          }
        },
        "NEWBORN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWBORN"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesEmissionsStandardEnum": {
      "type": "enum",
      "members": {
        "EMISSIONS_STANDARD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMISSIONS_STANDARD_UNSPECIFIED"
          }
        },
        "ZERO_EMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZERO_EMISSIONS"
          }
        },
        "EURO1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO1"
          }
        },
        "EURO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO2"
          }
        },
        "EURO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO3"
          }
        },
        "EURO4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO4"
          }
        },
        "EURO5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO5"
          }
        },
        "EURO5B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO5B"
          }
        },
        "EURO6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO6"
          }
        },
        "EURO6C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO6C"
          }
        },
        "EURO6D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO6D"
          }
        },
        "EURO6D_TEMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO6D_TEMP"
          }
        },
        "EURO6E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EURO6E"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesGenderEnum": {
      "type": "enum",
      "members": {
        "GENDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER_UNSPECIFIED"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALE"
          }
        },
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEMALE"
          }
        },
        "UNISEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNISEX"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#FreeShippingThresholdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#FreeShippingThreshold"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesIncludedDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "DESTINATION_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "YOUTUBE_SHOPPING_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING_CHECKOUT"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "FREE_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_VEHICLE_LISTINGS"
          }
        },
        "VEHICLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_ADS"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesIncludedDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductAttributesIncludedDestinationsItemEnum"
      }
    },
    "com.gcp.merchantapi_products_v1#LoyaltyProgramList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#LoyaltyProgram"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_TYPE_UNSPECIFIED"
          }
        },
        "GASOLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GASOLINE"
          }
        },
        "DIESEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIESEL"
          }
        },
        "ELECTRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELECTRIC"
          }
        },
        "HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID"
          }
        },
        "PLUG_IN_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUG_IN_HYBRID"
          }
        },
        "NATURAL_GAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATURAL_GAS"
          }
        },
        "LPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LPG"
          }
        },
        "METHANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHANE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesVehiclePriceTypeEnum": {
      "type": "enum",
      "members": {
        "VEHICLE_PRICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_PRICE_TYPE_UNSPECIFIED"
          }
        },
        "ALL_IN_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_IN_PRICE"
          }
        },
        "DRIVE_AWAY_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_AWAY_PRICE"
          }
        },
        "ESTIMATED_DRIVE_AWAY_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESTIMATED_DRIVE_AWAY_PRICE"
          }
        },
        "EXCLUDING_GOVERNMENT_CHARGES_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDING_GOVERNMENT_CHARGES_PRICE"
          }
        },
        "VEHICLE_BASE_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_BASE_PRICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesSpecialtyHousingTypeEnum": {
      "type": "enum",
      "members": {
        "SPECIALTY_HOUSING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPECIALTY_HOUSING_TYPE_UNSPECIFIED"
          }
        },
        "CORPORATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORPORATE"
          }
        },
        "LOW_INCOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW_INCOME"
          }
        },
        "MILITARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILITARY"
          }
        },
        "SENIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENIOR"
          }
        },
        "SHORT_TERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_TERM"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STUDENT"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#RelatedProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#RelatedProduct"
      }
    },
    "com.gcp.merchantapi_products_v1#ShippingBusinessDaysConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ShippingBusinessDaysConfig"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesPropertyTypeEnum": {
      "type": "enum",
      "members": {
        "PROPERTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_UNSPECIFIED"
          }
        },
        "APARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APARTMENT"
          }
        },
        "CONDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONDO"
          }
        },
        "LOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOFT"
          }
        },
        "MULTI_FAMILY_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_FAMILY_HOME"
          }
        },
        "PENTHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENTHOUSE"
          }
        },
        "ROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOM"
          }
        },
        "SINGLE_FAMILY_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_FAMILY_HOME"
          }
        },
        "STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STUDIO"
          }
        },
        "TOWNHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOWNHOUSE"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductDetail"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesEnergyEfficiencyClassEnum": {
      "type": "enum",
      "members": {
        "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED"
          }
        },
        "APPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPP"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AP"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "B"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        },
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "F"
          }
        },
        "G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#VariantOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#VariantOption"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesConditionEnum": {
      "type": "enum",
      "members": {
        "CONDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONDITION_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USED"
          }
        },
        "REFURBISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFURBISHED"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesSizeSystemEnum": {
      "type": "enum",
      "members": {
        "SIZE_SYSTEM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE_SYSTEM_UNSPECIFIED"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "EU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "MEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEX"
          }
        },
        "UK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UK"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#CloudExportAdditionalPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#CloudExportAdditionalProperties"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesPickupSlaEnum": {
      "type": "enum",
      "members": {
        "PICKUP_SLA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKUP_SLA_UNSPECIFIED"
          }
        },
        "SAME_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAME_DAY"
          }
        },
        "NEXT_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_DAY"
          }
        },
        "TWO_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_DAY"
          }
        },
        "THREE_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREE_DAY"
          }
        },
        "FOUR_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOUR_DAY"
          }
        },
        "FIVE_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIVE_DAY"
          }
        },
        "SIX_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIX_DAY"
          }
        },
        "MULTI_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_WEEK"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesBodyStyleEnum": {
      "type": "enum",
      "members": {
        "VEHICLE_BODY_STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_BODY_STYLE_UNSPECIFIED"
          }
        },
        "ATV_SPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATV_SPORT"
          }
        },
        "ATV_TOURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATV_TOURING"
          }
        },
        "ATV_UTILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATV_UTILITY"
          }
        },
        "ATV_YOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATV_YOUTH"
          }
        },
        "CITY_CAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CITY_CAR"
          }
        },
        "CLASS_A_MOTORHOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_A_MOTORHOME"
          }
        },
        "CLASS_B_MOTORHOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_B_MOTORHOME"
          }
        },
        "CLASS_C_MOTORHOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_C_MOTORHOME"
          }
        },
        "COMPACT_SUV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPACT_SUV"
          }
        },
        "CONVERTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERTIBLE"
          }
        },
        "COUPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUPE"
          }
        },
        "CROSSOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSSOVER"
          }
        },
        "FIFTH_WHEEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFTH_WHEEL"
          }
        },
        "FULL_SIZE_VAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_SIZE_VAN"
          }
        },
        "HATCHBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HATCHBACK"
          }
        },
        "LIMOUSINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMOUSINE"
          }
        },
        "MINIVAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIVAN"
          }
        },
        "NOTCHBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTCHBACK"
          }
        },
        "POP_UP_CAMPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POP_UP_CAMPER"
          }
        },
        "SEDAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEDAN"
          }
        },
        "SIDE_BY_SIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIDE_BY_SIDE"
          }
        },
        "STATION_WAGON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATION_WAGON"
          }
        },
        "SUV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUV"
          }
        },
        "TRAVEL_TRAILER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL_TRAILER"
          }
        },
        "TRUCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUCK"
          }
        },
        "TRUCK_CAMPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUCK_CAMPER"
          }
        },
        "UTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTE"
          }
        },
        "UTV_RECREATIONAL_UTILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTV_RECREATIONAL_UTILITY"
          }
        },
        "UTV_SPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTV_SPORT"
          }
        },
        "UTV_UTILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTV_UTILITY"
          }
        },
        "UTV_YOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTV_YOUTH"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesSizeTypesItemEnum": {
      "type": "enum",
      "members": {
        "SIZE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZE_TYPE_UNSPECIFIED"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "PETITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PETITE"
          }
        },
        "MATERNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATERNITY"
          }
        },
        "BIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIG"
          }
        },
        "TALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TALL"
          }
        },
        "PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesSizeTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductAttributesSizeTypesItemEnum"
      }
    },
    "com.gcp.merchantapi_products_v1#ShippingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#Shipping"
      }
    },
    "com.gcp.merchantapi_products_v1#HandlingCutoffTimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#HandlingCutoffTime"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesPauseEnum": {
      "type": "enum",
      "members": {
        "PAUSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSE_UNSPECIFIED"
          }
        },
        "ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADS"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesUtilitiesIncludedItemEnum": {
      "type": "enum",
      "members": {
        "UTILITIES_INCLUDED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTILITIES_INCLUDED_UNSPECIFIED"
          }
        },
        "ELECTRICITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELECTRICITY"
          }
        },
        "GAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAS"
          }
        },
        "INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNET"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRASH"
          }
        },
        "WATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WATER"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesUtilitiesIncludedItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductAttributesUtilitiesIncludedItemEnum"
      }
    },
    "com.gcp.merchantapi_products_v1#QuestionAndAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#QuestionAndAnswer"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductCertificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductCertification"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesAmenityFeatureItemEnum": {
      "type": "enum",
      "members": {
        "AMENITY_FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMENITY_FEATURE_UNSPECIFIED"
          }
        },
        "BALCONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BALCONY"
          }
        },
        "BASEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASEMENT"
          }
        },
        "BASKETBALL_COURT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASKETBALL_COURT"
          }
        },
        "BIKE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIKE_STORAGE"
          }
        },
        "CENTRAL_AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTRAL_AC"
          }
        },
        "DISHWASHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISHWASHER"
          }
        },
        "DOG_PARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOG_PARK"
          }
        },
        "ELEVATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELEVATOR"
          }
        },
        "EV_CHARGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EV_CHARGING"
          }
        },
        "FENCED_LOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FENCED_LOT"
          }
        },
        "FIREPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREPLACE"
          }
        },
        "FITNESS_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FITNESS_CENTER"
          }
        },
        "FORCED_AIR_HEATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORCED_AIR_HEATING"
          }
        },
        "FULLY_FURNISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULLY_FURNISHED"
          }
        },
        "GARAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GARAGE"
          }
        },
        "GATED_COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATED_COMMUNITY"
          }
        },
        "HARDWOOD_FLOORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARDWOOD_FLOORS"
          }
        },
        "HIGH_SPEED_INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_SPEED_INTERNET"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERCOM"
          }
        },
        "IN_UNIT_WASHER_DRYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_UNIT_WASHER_DRYER"
          }
        },
        "KITCHEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KITCHEN"
          }
        },
        "LARGE_CLOSETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE_CLOSETS"
          }
        },
        "MULTISPORT_COURT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTISPORT_COURT"
          }
        },
        "ONSITE_LAUNDRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONSITE_LAUNDRY"
          }
        },
        "OUTDOOR_LOUNGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR_LOUNGE"
          }
        },
        "PARKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARKING"
          }
        },
        "PATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATIO"
          }
        },
        "PICKLEBALL_COURT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICKLEBALL_COURT"
          }
        },
        "POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POOL"
          }
        },
        "REFRIGERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFRIGERATOR"
          }
        },
        "SOCCER_FIELD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCCER_FIELD"
          }
        },
        "TENNIS_COURT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TENNIS_COURT"
          }
        },
        "WALK_IN_CLOSETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WALK_IN_CLOSETS"
          }
        },
        "WHEELCHAIR_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHEELCHAIR_ACCESS"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesAmenityFeatureItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductAttributesAmenityFeatureItemEnum"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesMaxEnergyEfficiencyClassEnum": {
      "type": "enum",
      "members": {
        "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED"
          }
        },
        "APPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPP"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "AP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AP"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "B"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        },
        "E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "E"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "F"
          }
        },
        "G": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesExcludedDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "DESTINATION_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "YOUTUBE_SHOPPING_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING_CHECKOUT"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "FREE_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_VEHICLE_LISTINGS"
          }
        },
        "VEHICLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_ADS"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesExcludedDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#ProductAttributesExcludedDestinationsItemEnum"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductAttributesAvailabilityEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_UNSPECIFIED"
          }
        },
        "IN_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_STOCK"
          }
        },
        "OUT_OF_STOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_STOCK"
          }
        },
        "PREORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREORDER"
          }
        },
        "LIMITED_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_AVAILABILITY"
          }
        },
        "BACKORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKORDER"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ProductWeight": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The weight of the product."
      }
    },
    "com.gcp.merchantapi_products_v1#CustomAttribute": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the attribute. If `value` is not empty, `group_values` must be empty."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute."
          }
        },
        "groupValues": {
          "target": "com.gcp.merchantapi_products_v1#CustomAttributeList",
          "traits": {
            "smithy.api#documentation": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty."
      }
    },
    "com.gcp.merchantapi_products_v1#ListProductsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "products": {
          "target": "com.gcp.merchantapi_products_v1#ProductList",
          "traits": {
            "smithy.api#documentation": "The processed products from the specified account. These are your processed products after applying rules and supplemental data sources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListProducts method."
      }
    },
    "com.gcp.merchantapi_products_v1#ProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_products_v1#Product"
      }
    },
    "com.gcp.merchantapi_products_v1#ProductMinimumOrderValue": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A free-form description of the service class or delivery speed. This should match the service value set for the Shipping attribute. See service."
          }
        },
        "price": {
          "target": "com.gcp.merchantapi_products_v1#Price",
          "traits": {
            "smithy.api#documentation": "Required. The minimum cart or basket value before the checkout is permitted."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship."
          }
        },
        "surface": {
          "target": "com.gcp.merchantapi_products_v1#ProductMinimumOrderValueSurfaceEnum",
          "traits": {
            "smithy.api#documentation": "The surface to which the minimum order value applies. Defaults to `ONLINE_LOCAL` if not configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The minimum order value in the cart before the checkout is permitted."
      }
    },
    "com.gcp.merchantapi_products_v1#ProductMinimumOrderValueSurfaceEnum": {
      "type": "enum",
      "members": {
        "SURFACE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SURFACE_UNSPECIFIED"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL"
          }
        },
        "ONLINE_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE_LOCAL"
          }
        }
      }
    },
    "com.gcp.merchantapi_products_v1#ItemLevelIssue": {
      "type": "structure",
      "members": {
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of a web page to help with resolving this issue."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed issue description in English."
          }
        },
        "resolution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the issue can be resolved by the business."
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_products_v1#ItemLevelIssueReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "The reporting context the issue applies to."
          }
        },
        "attribute": {
          "target": "smithy.api#String",
          "traits": {
[...]
