{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "notifications_v1beta",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_notifications_v1beta#ListNotificationSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "notificationSubscriptions": {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscriptionList",
          "traits": {
            "smithy.api#documentation": "The list of notification subscriptions requested by the merchant."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListNotificationSubscription method."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#NotificationSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription"
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductChange": {
      "type": "structure",
      "members": {
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_notifications_v1beta#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription": {
      "type": "structure",
      "members": {
        "targetAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `name` of the account you want to receive notifications for. Format: `accounts/{account}`"
          }
        },
        "allManagedAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this value is true, the requesting account is notified of the specified event for all managed accounts (can be subaccounts or other linked accounts) including newly added accounts on a daily basis."
          }
        },
        "registeredEvent": {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscriptionRegisteredEventEnum",
          "traits": {
            "smithy.api#documentation": "The event that the merchant wants to be notified about."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `name` of the notification configuration. Generated by the Content API upon creation of a new `NotificationSubscription`. The `account` represents the merchant ID of the merchant that owns the configuration. Format: `accounts/{account}/notificationsubscriptions/{notification_subscription}`"
          }
        },
        "callBackUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to be used to push the notification to the merchant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a notification subscription owned by a Merchant account. See [Decode notifications](/merchant/api/guides/accounts/notifications#decode_notifications) for information on how to decode the notification payload and how to interpret its contents."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#NotificationSubscriptionRegisteredEventEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_EVENT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_STATUS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_STATUS_CHANGE"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.gcp.merchantapi_notifications_v1beta#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "changes": {
          "target": "com.gcp.merchantapi_notifications_v1beta#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        },
        "resourceType": {
          "target": "com.gcp.merchantapi_notifications_v1beta#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_notifications_v1beta#ProductChange"
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ListAccountsNotificationsubscriptionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of notification subscriptions to return in a page. The default value for `page_size` is 100. The maximum value is `200`. Values above `200` will be coerced to `200`.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The merchant account who owns the notification subscriptions. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#ListAccountsNotificationsubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_notifications_v1beta#ListAccountsNotificationsubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_notifications_v1beta#ListNotificationSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "notifications/v1beta/{+parent}/notificationsubscriptions"
        },
        "smithy.api#documentation": "Gets all the notification subscriptions for a merchant.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#CreateAccountsNotificationsubscriptionsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The merchant account that owns the new notification subscription. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#CreateAccountsNotificationsubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_notifications_v1beta#CreateAccountsNotificationsubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "notifications/v1beta/{+parent}/notificationsubscriptions"
        },
        "smithy.api#documentation": "Creates a notification subscription for a business. For standalone or subaccounts accounts, the business can create a subscription for self. For advanced accounts, the business can create a subscription for all managed accounts or for a specific subaccount. See [Decode notifications](/merchant/api/guides/accounts/notifications#decode_notifications) for information on how to decode the notification payload and how to interpret its contents. We will allow the following types of notification subscriptions to exist together (per business as a subscriber per event type): 1. Subscription for all managed accounts + subscription for self. 2. Multiple \"partial\" subscriptions for managed accounts + subscription for self. we will not allow (per business as a subscriber per event type): 1. Multiple self subscriptions. 2. Multiple \"all managed accounts\" subscriptions. 3. \"All managed accounts\" subscription and partial subscriptions at the same time. 4. Multiple partial subscriptions for the same target account."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#GetAccountsNotificationsubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `name` of the notification subscription.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#GetAccountsNotificationsubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_notifications_v1beta#GetAccountsNotificationsubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "notifications/v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets notification subscriptions for an account."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#DeleteAccountsNotificationsubscriptionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the notification subscription to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#DeleteAccountsNotificationsubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_notifications_v1beta#DeleteAccountsNotificationsubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_notifications_v1beta#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "notifications/v1beta/{+name}"
        },
        "smithy.api#documentation": "Deletes a notification subscription for a merchant."
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#PatchAccountsNotificationsubscriptionsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields being updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `name` of the notification configuration. Generated by the Content API upon creation of a new `NotificationSubscription`. The `account` represents the merchant ID of the merchant that owns the configuration. Format: `accounts/{account}/notificationsubscriptions/{notification_subscription}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_notifications_v1beta#PatchAccountsNotificationsubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_notifications_v1beta#PatchAccountsNotificationsubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_notifications_v1beta#NotificationSubscription"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_notifications_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "notifications/v1beta/{+name}"
        },
        "smithy.api#documentation": "Updates an existing notification subscription for a merchant."
      }
    }
  }
}
