{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "datasources_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_datasources_v1#DataSourceReference": {
      "type": "structure",
      "members": {
        "primaryDataSourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the primary data source. Format: `accounts/{account}/dataSources/{datasource}`"
          }
        },
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Self should be used to reference the primary data source itself."
          }
        },
        "supplementalDataSourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the supplemental data source. Format: `accounts/{account}/dataSources/{datasource}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data source reference can be used to manage related data sources within the data source service."
      }
    },
    "com.gcp.merchantapi_datasources_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DefaultRule": {
      "type": "structure",
      "members": {
        "takeFromDataSources": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSourceReferenceList",
          "traits": {
            "smithy.api#documentation": "Required. The list of data sources linked in the [default rule](https://support.google.com/merchants/answer/7450276). This list is ordered by the default rule priority of joining the data. It might include none or multiple references to `self` and supplemental data sources. The list must not be empty. To link the data source to the default rule, you need to add a new reference to this list (in sequential order). To unlink the data source from the default rule, you need to remove the given reference from this list. Changing the order of this list will result in changing the priority of data sources in the default rule. For example, providing the following list: [`1001`, `self`] will take attribute values from supplemental data source `1001`, and fallback to `self` if the attribute is not set in `1001`. Warning: The update (patch) and create call replaces the entire default rule setup. It doesn't work as an addition or append. If `self` is missing from the list of `take_from_data_sources`, the API will ignore attributes from the primary data source itself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default rule management of the data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DataSourceReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_datasources_v1#DataSourceReference"
      }
    },
    "com.gcp.merchantapi_datasources_v1#SupplementalProductDataSource": {
      "type": "structure",
      "members": {
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The two-letter ISO 639-1 language of the items in the data source. `feedLabel` and `contentLanguage` must be either both set or unset. The fields can only be unset for data sources without file input. If set, the data source will only accept products matching this combination. If unset, the data source will accept produts without that restriction."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The feed label that is specified on the data source level. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-). `feedLabel` and `contentLanguage` must be either both set or unset for data sources with product content type. They must be set for data sources with a file input. The fields must be unset for data sources without file input. If set, the data source will only accept products matching this combination. If unset, the data source will accept produts without that restriction."
          }
        },
        "referencingPrimaryDataSources": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSourceReferenceList",
          "traits": {
            "smithy.api#documentation": "Output only. The (unordered and deduplicated) list of all primary data sources linked to this data source in either default or custom rules. Supplemental data source cannot be deleted before all links are removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The [supplemental data source](https://developers.google.com/merchant/api/guides/data-sources/api-sources#link-supplemental-data-source) for local and online products. After creation,you should make sure to link the supplemental product data source into one or more primary product data sources."
      }
    },
    "com.gcp.merchantapi_datasources_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.merchantapi_datasources_v1#MerchantReviewDataSource": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The merchant review data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#Destination": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.gcp.merchantapi_datasources_v1#DestinationDestinationEnum",
          "traits": {
            "smithy.api#documentation": "[Marketing methods](https://support.google.com/merchants/answer/15130232) (also known as destination) selections."
          }
        },
        "state": {
          "target": "com.gcp.merchantapi_datasources_v1#DestinationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Destinations also known as [Marketing methods](https://support.google.com/merchants/answer/15130232) selections."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DestinationDestinationEnum": {
      "type": "enum",
      "members": {
        "DESTINATION_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "YOUTUBE_SHOPPING_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING_CHECKOUT"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "FREE_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_VEHICLE_LISTINGS"
          }
        },
        "VEHICLE_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_ADS"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#DestinationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#LocalInventoryDataSource": {
      "type": "structure",
      "members": {
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The two-letter ISO 639-1 language of the items to which the local inventory is provided."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The feed label of the offers to which the local inventory is provided. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The local inventory data source type is only available for file inputs and can't be used to create API local inventory data sources."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DataSource": {
      "type": "structure",
      "members": {
        "localInventoryDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#LocalInventoryDataSource",
          "traits": {
            "smithy.api#documentation": "The [local inventory](https://support.google.com/merchants/answer/7023001) data source."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The displayed data source name in the Merchant Center UI."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The name of the data source. Format: `accounts/{account}/dataSources/{datasource}`"
          }
        },
        "dataSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The data source id."
          }
        },
        "productReviewDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#ProductReviewDataSource",
          "traits": {
            "smithy.api#documentation": "The [product review](https://support.google.com/merchants/answer/7045996) data source."
          }
        },
        "input": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSourceInputEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Determines the type of input to the data source. Based on the input some settings might not work. Only generic data sources can be created through the API."
          }
        },
        "supplementalProductDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#SupplementalProductDataSource",
          "traits": {
            "smithy.api#documentation": "The [supplemental data source](https://support.google.com/merchants/answer/7439058) for local and online products."
          }
        },
        "fileInput": {
          "target": "com.gcp.merchantapi_datasources_v1#FileInput",
          "traits": {
            "smithy.api#documentation": "Optional. The field is used only when data is managed through a file."
          }
        },
        "merchantReviewDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#MerchantReviewDataSource",
          "traits": {
            "smithy.api#documentation": "The [merchant review](https://support.google.com/merchants/answer/7045996) data source."
          }
        },
        "primaryProductDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#PrimaryProductDataSource",
          "traits": {
            "smithy.api#documentation": "The [primary data source](https://support.google.com/merchants/answer/7439058) for local and online products."
          }
        },
        "regionalInventoryDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#RegionalInventoryDataSource",
          "traits": {
            "smithy.api#documentation": "The [regional inventory](https://support.google.com/merchants/answer/7439058) data source."
          }
        },
        "promotionDataSource": {
          "target": "com.gcp.merchantapi_datasources_v1#PromotionDataSource",
          "traits": {
            "smithy.api#documentation": "The [promotion](https://support.google.com/merchants/answer/2906014) data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The [data source](/merchant/api/guides/data-sources/overview) for the Merchant Center account."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DataSourceInputEnum": {
      "type": "enum",
      "members": {
        "INPUT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_UNSPECIFIED"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE"
          }
        },
        "UI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UI"
          }
        },
        "AUTOFEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOFEED"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#Issue": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The error description, for example, \"Your data source contains items which have too many attributes, or are too big. These items will be dropped\"."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The title of the issue, for example, \"Item too big\"."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The code of the error, for example, \"validation/invalid_value\". Returns \"?\" if the code is unknown."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Link to the documentation explaining the issue in more details, if available."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of occurrences of the error in the file upload."
          }
        },
        "severity": {
          "target": "com.gcp.merchantapi_datasources_v1#IssueSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The severity of the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error occurring in the data source, like \"invalid price\"."
      }
    },
    "com.gcp.merchantapi_datasources_v1#IssueSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#PrimaryProductDataSource": {
      "type": "structure",
      "members": {
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The two-letter ISO 639-1 language of the items in the data source. `feedLabel` and `contentLanguage` must be either both set or unset. The fields can only be unset for data sources without file input. If set, the data source will only accept products matching this combination. If unset, the data source will accept products without that restriction."
          }
        },
        "defaultRule": {
          "target": "com.gcp.merchantapi_datasources_v1#DefaultRule",
          "traits": {
            "smithy.api#documentation": "Optional. Default rule management of the data source. If set, the linked data sources will be replaced. Warning: The update (patch) and create call replaces the entire default rule setup. It doesn't work as an addition or append. If `self` is missing from the list of `take_from_data_sources`, the API will ignore attributes from the primary data source itself."
          }
        },
        "destinations": {
          "target": "com.gcp.merchantapi_datasources_v1#DestinationList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of destinations describing where products of the data source can be shown. When retrieving the data source, the list contains all the destinations that can be used for the data source, including the ones that are disabled for the data source but enabled for the account. Only destinations that are enabled on the account, for example through program participation, can be enabled on the data source. If unset, during creation, the destinations will be inherited based on the account level program participation. If set, during creation or update, the data source will be set only for the specified destinations. Updating this field requires at least one destination."
          }
        },
        "legacyLocal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Determines whether the products of this data source are **only** targeting local destinations. Legacy local products are prefixed with `local~` in the product resource ID. For example, `accounts/123/products/local~en~US~sku123`."
          }
        },
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The feed label that is specified on the data source level. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-). For more information about feed label, see [Create a primary data source for products](https://developers.google.com/merchant/api/guides/data-sources/api-sources#create-primary-data-source). `feedLabel` and `contentLanguage` must be either both set or unset for data sources with product content type. They must be set for data sources with a file input. If set, the data source will only accept products matching this combination. If unset, the data source will accept products without that restriction."
          }
        },
        "countries": {
          "target": "com.gcp.merchantapi_datasources_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The countries where the items may be displayed. Represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The primary data source for local and online products."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_datasources_v1#Destination"
      }
    },
    "com.gcp.merchantapi_datasources_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductChange": {
      "type": "structure",
      "members": {
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_datasources_v1#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductReviewDataSource": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The product review data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchDataSourceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for the FetchDataSource method."
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        },
        "changes": {
          "target": "com.gcp.merchantapi_datasources_v1#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "attribute": {
          "target": "com.gcp.merchantapi_datasources_v1#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        },
        "resourceType": {
          "target": "com.gcp.merchantapi_datasources_v1#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_datasources_v1#ProductChange"
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#RegionalInventoryDataSource": {
      "type": "structure",
      "members": {
        "feedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The feed label of the offers to which the regional inventory is provided. Must be less than or equal to 20 uppercase letters (A-Z), numbers (0-9), and dashes (-)."
          }
        },
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The two-letter ISO 639-1 language of the items to which the regional inventory is provided."
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables or pauses the fetch schedule."
          }
        },
        "timeOfDay": {
          "target": "com.gcp.merchantapi_datasources_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. The hour of the day when the data source file should be fetched. Minutes and seconds are not supported and will be ignored."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Time zone](https://cldr.unicode.org) used for schedule. UTC by default. For example, \"America/Los_Angeles\"."
          }
        },
        "fetchUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL where the data source file can be fetched. Google Merchant Center supports automatic scheduled uploads using the HTTP, HTTPS or SFTP protocols, so the value will need to be a valid link using one of those three protocols. Immutable for Google Sheets files."
          }
        },
        "frequency": {
          "target": "com.gcp.merchantapi_datasources_v1#FetchSettingsFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Required. The frequency describing fetch schedule."
          }
        },
        "dayOfMonth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The day of the month when the data source file should be fetched (1-31). This field can only be set for monthly frequency."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.merchantapi_datasources_v1#FetchSettingsDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The day of the week when the data source file should be fetched. This field can only be set for weekly frequency."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional password for fetch_uri. Used for [submitting data sources through SFTP](https://support.google.com/merchants/answer/13813117)."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional user name for fetch_uri. Used for [submitting data sources through SFTP](https://support.google.com/merchants/answer/13813117)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fetch details to deliver the data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchSettingsFrequencyEnum": {
      "type": "enum",
      "members": {
        "FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_UNSPECIFIED"
          }
        },
        "FREQUENCY_DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_DAILY"
          }
        },
        "FREQUENCY_WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_WEEKLY"
          }
        },
        "FREQUENCY_MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_MONTHLY"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchSettingsDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#FileInput": {
      "type": "structure",
      "members": {
        "fileInputType": {
          "target": "com.gcp.merchantapi_datasources_v1#FileInputFileInputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of file input."
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The file name of the data source. Required for `UPLOAD` file input type."
          }
        },
        "fetchSettings": {
          "target": "com.gcp.merchantapi_datasources_v1#FetchSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Fetch details to deliver the data source. It contains settings for `FETCH` and `GOOGLE_SHEETS` file input types. The required fields vary based on the frequency of fetching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data specific for file data sources. This field is empty for other data source inputs."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FileInputFileInputTypeEnum": {
      "type": "enum",
      "members": {
        "FILE_INPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_INPUT_TYPE_UNSPECIFIED"
          }
        },
        "UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD"
          }
        },
        "FETCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH"
          }
        },
        "GOOGLE_SHEETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SHEETS"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#ListDataSourcesResponse": {
      "type": "structure",
      "members": {
        "dataSources": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSourceList",
          "traits": {
            "smithy.api#documentation": "The data sources from the specified account."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListDataSources method."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DataSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_datasources_v1#DataSource"
      }
    },
    "com.gcp.merchantapi_datasources_v1#PromotionDataSource": {
      "type": "structure",
      "members": {
        "contentLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The two-letter ISO 639-1 language of the items in the data source."
          }
        },
        "targetCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The target country used as part of the unique identifier. Represented as a [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml). Promotions are only available in selected [countries](https://support.google.com/merchants/answer/4588460)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The promotion data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FileUpload": {
      "type": "structure",
      "members": {
        "uploadTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The date at which the file of the data source was uploaded."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the data source file upload. Format: `{datasource.name=accounts/{account}/dataSources/{datasource}/fileUploads/{fileupload}}`"
          }
        },
        "dataSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The data source id."
          }
        },
        "itemsTotal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of items in the data source that were processed."
          }
        },
        "itemsUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of items in the data source that were updated."
          }
        },
        "processingState": {
          "target": "com.gcp.merchantapi_datasources_v1#FileUploadProcessingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The processing state of the data source."
          }
        },
        "itemsCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of items in the data source that were created."
          }
        },
        "issues": {
          "target": "com.gcp.merchantapi_datasources_v1#IssueList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of issues occurring in the data source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The file upload of a specific data source, that is, the result of the retrieval of the data source at a certain timestamp computed asynchronously when the data source processing is finished. Only applicable to file data sources."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FileUploadProcessingStateEnum": {
      "type": "enum",
      "members": {
        "PROCESSING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING_STATE_UNSPECIFIED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#IssueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_datasources_v1#Issue"
      }
    },
    "com.gcp.merchantapi_datasources_v1#ListAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account to list data sources for. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListDataSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataSources` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of data sources to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the maximum number of data sources will be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.merchantapi_datasources_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.merchantapi_datasources_v1#ListAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#ListAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#ListDataSourcesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "datasources/v1/{+parent}/dataSources"
        },
        "smithy.api#documentation": "Lists the configurations for data sources for the given account.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#PatchAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The name of the data source. Format: `accounts/{account}/dataSources/{datasource}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The list of data source fields to be updated. Fields specified in the update mask without a value specified in the body will be deleted from the data source. Providing special \"*\" value for full data source replacement is not supported. For example, If you insert `updateMask=displayName` in the request, it will only update the `displayName` leaving all other fields untouched.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSource",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.merchantapi_datasources_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.merchantapi_datasources_v1#PatchAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#PatchAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#DataSource"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "datasources/v1/{+name}"
        },
        "smithy.api#documentation": "Updates the existing data source configuration. The fields that are set in the update mask but not provided in the resource will be deleted."
      }
    },
    "com.gcp.merchantapi_datasources_v1#GetAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the data source to retrieve. Format: `accounts/{account}/dataSources/{datasource}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#GetAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#GetAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#DataSource"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "datasources/v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves the data source configuration for the given account."
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the data source resource to fetch. Format: `accounts/{account}/dataSources/{datasource}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_datasources_v1#FetchDataSourceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#FetchAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#FetchAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "datasources/v1/{+name}:fetch"
        },
        "smithy.api#documentation": "Performs the data fetch immediately (even outside fetch schedule) on a data source from your Merchant Center Account. If you need to call this method more than once per day, you should use the Products service to update your product data instead. This method only works on data sources with a file input set."
      }
    },
    "com.gcp.merchantapi_datasources_v1#CreateAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The account where this data source will be created. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_datasources_v1#DataSource",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#CreateAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#CreateAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#DataSource"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "datasources/v1/{+parent}/dataSources"
        },
        "smithy.api#documentation": "Creates the new data source configuration for the given account. This method always creates a new data source."
      }
    },
    "com.gcp.merchantapi_datasources_v1#DeleteAccountsDataSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the data source to delete. Format: `accounts/{account}/dataSources/{datasource}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#DeleteAccountsDataSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#DeleteAccountsDataSourcesRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "datasources/v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a data source from your Merchant Center account."
      }
    },
    "com.gcp.merchantapi_datasources_v1#GetAccountsDataSourcesFileUploadsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the data source file upload to retrieve. Format: `accounts/{account}/dataSources/{datasource}/fileUploads/latest`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.merchantapi_datasources_v1#GetAccountsDataSourcesFileUploads": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_datasources_v1#GetAccountsDataSourcesFileUploadsRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_datasources_v1#FileUpload"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_datasources_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_datasources_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "datasources/v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest data source file upload. Only the `latest` alias is accepted for a file upload."
      }
    }
  }
}
