{
  "smithy": "2.0",
  "metadata": {
    "service": "metastore",
    "version": "v1beta",
    "title": "Dataproc Metastore API",
    "baseUrl": "https://metastore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.metastore_v1beta#DataplexConfig": {
      "type": "structure",
      "members": {
        "lakeResources": {
          "target": "com.gcp.metastore_v1beta#LakeMap",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how metastore metadata should be integrated with the Dataplex service."
      }
    },
    "com.gcp.metastore_v1beta#LakeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.metastore_v1beta#Lake"
      }
    },
    "com.gcp.metastore_v1beta#ExportMetadataRequest": {
      "type": "structure",
      "members": {
        "destinationGcsFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
          }
        },
        "databaseDumpType": {
          "target": "com.gcp.metastore_v1beta#ExportMetadataRequestDatabaseDumpTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the database dump. If unspecified, defaults to MYSQL."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.ExportMetadata."
      }
    },
    "com.gcp.metastore_v1beta#ExportMetadataRequestDatabaseDumpTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#Consumer": {
      "type": "structure",
      "members": {
        "endpointUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the endpoint used to access the metastore service."
          }
        },
        "endpointLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information of the customer's network configurations."
      }
    },
    "com.gcp.metastore_v1beta#RestoreServiceRequest": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set."
          }
        },
        "restoreType": {
          "target": "com.gcp.metastore_v1beta#RestoreServiceRequestRestoreTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY."
          }
        },
        "backupLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.RestoreService."
      }
    },
    "com.gcp.metastore_v1beta#RestoreServiceRequestRestoreTypeEnum": {
      "type": "enum",
      "members": {
        "RESTORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "METADATA_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_ONLY"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#HiveMetastoreVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The semantic version of the Hive Metastore software."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specification of a supported version of the Hive Metastore software."
      }
    },
    "com.gcp.metastore_v1beta#ScheduledBackup": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
          }
        },
        "latestBackup": {
          "target": "com.gcp.metastore_v1beta#LatestBackup",
          "traits": {
            "smithy.api#documentation": "Output only. The details of the latest scheduled backup."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC."
          }
        },
        "backupLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it."
          }
        },
        "cronSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
          }
        },
        "nextScheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the next backups execution is scheduled to start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This specifies the configuration of scheduled backup."
      }
    },
    "com.gcp.metastore_v1beta#CloudSQLConnectionConfig": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The network port of the database."
          }
        },
        "instanceConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud SQL database connection name (project_id:region:instance_name)"
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The private IP address of the Cloud SQL instance."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The username that Dataproc Metastore service will use to connect to the database."
          }
        },
        "natSubnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the subnetwork to be used for Private Service Connect. Note that this cannot be a regular subnet and is used only for NAT. (https://cloud.google.com/vpc/docs/about-vpc-hosted-services#psc-subnets) This subnet is used to publish the SOCKS5 proxy service. The subnet size must be at least /29 and it should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}"
          }
        },
        "hiveDatabaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The hive database name."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password for the user that Dataproc Metastore service will be using to connect to the database. This field is not returned on request."
          }
        },
        "proxySubnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative resource name of the subnetwork to deploy the SOCKS5 proxy service in. The subnetwork should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information to establish customer database connection before the cutover phase of migration"
      }
    },
    "com.gcp.metastore_v1beta#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
          }
        },
        "labels": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} "
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: \"us-east1\"."
          }
        },
        "metadata": {
          "target": "com.gcp.metastore_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.metastore_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.metastore_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.metastore_v1beta#Federation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the metastore federation was created."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The globally unique resource identifier of the metastore federation."
          }
        },
        "backendMetastores": {
          "target": "com.gcp.metastore_v1beta#BackendMetastoreMap",
          "traits": {
            "smithy.api#documentation": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number."
          }
        },
        "labels": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels for the metastore federation."
          }
        },
        "tags": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
          }
        },
        "state": {
          "target": "com.gcp.metastore_v1beta#FederationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the federation."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the metastore federation was last updated."
          }
        },
        "endpointUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The federation endpoint."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current state of the metastore federation, if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a federation of multiple backend metastores."
      }
    },
    "com.gcp.metastore_v1beta#BackendMetastoreMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.metastore_v1beta#BackendMetastore"
      }
    },
    "com.gcp.metastore_v1beta#FederationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#LocationMetadata": {
      "type": "structure",
      "members": {
        "supportedHiveMetastoreVersions": {
          "target": "com.gcp.metastore_v1beta#HiveMetastoreVersionList",
          "traits": {
            "smithy.api#documentation": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default."
          }
        },
        "multiRegionMetadata": {
          "target": "com.gcp.metastore_v1beta#MultiRegionMetadata",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region."
          }
        },
        "customRegionMetadata": {
          "target": "com.gcp.metastore_v1beta#CustomRegionMetadataList",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the service in a location."
      }
    },
    "com.gcp.metastore_v1beta#HiveMetastoreVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#HiveMetastoreVersion"
      }
    },
    "com.gcp.metastore_v1beta#CustomRegionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#CustomRegionMetadata"
      }
    },
    "com.gcp.metastore_v1beta#ListFederationsResponse": {
      "type": "structure",
      "members": {
        "federations": {
          "target": "com.gcp.metastore_v1beta#FederationList",
          "traits": {
            "smithy.api#documentation": "The services in the specified location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListFederations"
      }
    },
    "com.gcp.metastore_v1beta#FederationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Federation"
      }
    },
    "com.gcp.metastore_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.metastore_v1beta#ListMigrationExecutionsResponse": {
      "type": "structure",
      "members": {
        "migrationExecutions": {
          "target": "com.gcp.metastore_v1beta#MigrationExecutionList",
          "traits": {
            "smithy.api#documentation": "The migration executions on the specified service."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.ListMigrationExecutions."
      }
    },
    "com.gcp.metastore_v1beta#MigrationExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#MigrationExecution"
      }
    },
    "com.gcp.metastore_v1beta#CdcConfig": {
      "type": "structure",
      "members": {
        "reverseProxySubnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL of the subnetwork resource to create the VM instance hosting the reverse proxy in. More context in https://cloud.google.com/datastream/docs/private-connectivity#reverse-csql-proxy The subnetwork should reside in the network provided in the request that Datastream will peer to and should be in the same region as Datastream, in the following format. projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}"
          }
        },
        "subnetIpRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A /29 CIDR IP range for peering with datastream."
          }
        },
        "rootPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The root path inside the Cloud Storage bucket. The stream event data will be written to this path. The default value is /migration."
          }
        },
        "vpcNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fully qualified name of the Cloud SQL instance's VPC network or the shared VPC network that Datastream will peer to, in the following format: projects/{project_id}/locations/global/networks/{network_id}. More context in https://cloud.google.com/datastream/docs/network-connectivity-options#privateconnectivity"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password for the user that Datastream service should use for the MySQL connection. This field is not returned on request."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The username that the Datastream service should use for the MySQL connection."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The bucket to write the intermediate stream event data in. The bucket name must be without any prefix like \"gs://\". See the bucket naming requirements (https://cloud.google.com/storage/docs/buckets#naming). This field is optional. If not set, the Artifacts Cloud Storage bucket will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore."
      }
    },
    "com.gcp.metastore_v1beta#MultiRegionConfig": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.metastore_v1beta#RootCACertificateList",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service."
          }
        },
        "customRegionConfig": {
          "target": "com.gcp.metastore_v1beta#CustomRegionConfig",
          "traits": {
            "smithy.api#documentation": "Immutable. Deprecated: Use a single region service instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service."
      }
    },
    "com.gcp.metastore_v1beta#RootCACertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#RootCACertificate"
      }
    },
    "com.gcp.metastore_v1beta#AlterTablePropertiesRequest": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } "
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.AlterTableProperties."
      }
    },
    "com.gcp.metastore_v1beta#StatusProto": {
      "type": "structure",
      "members": {
        "messageSet": {
          "target": "com.gcp.metastore_v1beta#MessageSet",
          "traits": {
            "smithy.api#documentation": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
          }
        },
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
          }
        },
        "canonicalCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wire-format for a Status object"
      }
    },
    "com.gcp.metastore_v1beta#MetadataManagementActivity": {
      "type": "structure",
      "members": {
        "metadataExports": {
          "target": "com.gcp.metastore_v1beta#MetadataExportList",
          "traits": {
            "smithy.api#documentation": "Output only. The latest metadata exports of the metastore service."
          }
        },
        "restores": {
          "target": "com.gcp.metastore_v1beta#RestoreList",
          "traits": {
            "smithy.api#documentation": "Output only. The latest restores of the metastore service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata management activities of the metastore service."
      }
    },
    "com.gcp.metastore_v1beta#MetadataExportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#MetadataExport"
      }
    },
    "com.gcp.metastore_v1beta#RestoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Restore"
      }
    },
    "com.gcp.metastore_v1beta#RemoveIamPolicyResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the policy is successfully removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.RemoveIamPolicy."
      }
    },
    "com.gcp.metastore_v1beta#KerberosConfig": {
      "type": "structure",
      "members": {
        "krb5ConfigGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
          }
        },
        "keytab": {
          "target": "com.gcp.metastore_v1beta#Secret",
          "traits": {
            "smithy.api#documentation": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC)."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information for a Kerberos principal."
      }
    },
    "com.gcp.metastore_v1beta#Backup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup finished creating."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was started."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the backup."
          }
        },
        "restoringServices": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Services that are restoring from the backup."
          }
        },
        "state": {
          "target": "com.gcp.metastore_v1beta#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the backup."
          }
        },
        "serviceRevision": {
          "target": "com.gcp.metastore_v1beta#Service",
          "traits": {
            "smithy.api#documentation": "Output only. The revision of the service at the time of backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a backup resource."
      }
    },
    "com.gcp.metastore_v1beta#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORING"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#MigrationExecution": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the migration execution finished."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}"
          }
        },
        "state": {
          "target": "com.gcp.metastore_v1beta#MigrationExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the migration execution."
          }
        },
        "phase": {
          "target": "com.gcp.metastore_v1beta#MigrationExecutionPhaseEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution."
          }
        },
        "cloudSqlMigrationConfig": {
          "target": "com.gcp.metastore_v1beta#CloudSQLMigrationConfig",
          "traits": {
            "smithy.api#documentation": "Deprecated: Migrations to Dataproc Metastore are no longer supported. Use BigLake Metastore migration instead. Configuration information specific to migrating from self-managed hive metastore on Google Cloud using Cloud SQL as the backend database to Dataproc Metastore."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the migration execution was started."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current state of the migration execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a migration execution resource."
      }
    },
    "com.gcp.metastore_v1beta#MigrationExecutionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "AWAITING_USER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING_USER_ACTION"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#MigrationExecutionPhaseEnum": {
      "type": "enum",
      "members": {
        "PHASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHASE_UNSPECIFIED"
          }
        },
        "REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION"
          }
        },
        "CUTOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUTOVER"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#AlterMetadataResourceLocationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.AlterMetadataResourceLocation."
      }
    },
    "com.gcp.metastore_v1beta#MessageSet": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
      }
    },
    "com.gcp.metastore_v1beta#ScalingConfig": {
      "type": "structure",
      "members": {
        "autoscalingConfig": {
          "target": "com.gcp.metastore_v1beta#AutoscalingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The autoscaling configuration."
          }
        },
        "instanceSize": {
          "target": "com.gcp.metastore_v1beta#ScalingConfigInstanceSizeEnum",
          "traits": {
            "smithy.api#documentation": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))"
          }
        },
        "scalingFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the scaling configuration of a metastore service."
      }
    },
    "com.gcp.metastore_v1beta#ScalingConfigInstanceSizeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_SIZE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_SIZE_UNSPECIFIED"
          }
        },
        "EXTRA_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRA_SMALL"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE"
          }
        },
        "EXTRA_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRA_LARGE"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#Restore": {
      "type": "structure",
      "members": {
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
          }
        },
        "backupLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///."
          }
        },
        "state": {
          "target": "com.gcp.metastore_v1beta#RestoreStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the restore."
          }
        },
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the restore ended."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the restore started."
          }
        },
        "type": {
          "target": "com.gcp.metastore_v1beta#RestoreTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of restore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a metadata restore operation."
      }
    },
    "com.gcp.metastore_v1beta#RestoreStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#RestoreTypeEnum": {
      "type": "enum",
      "members": {
        "RESTORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "METADATA_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_ONLY"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#BackendMetastore": {
      "type": "structure",
      "members": {
        "metastoreType": {
          "target": "com.gcp.metastore_v1beta#BackendMetastoreMetastoreTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the backend metastore."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a backend metastore for the federation."
      }
    },
    "com.gcp.metastore_v1beta#BackendMetastoreMetastoreTypeEnum": {
      "type": "enum",
      "members": {
        "METASTORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METASTORE_TYPE_UNSPECIFIED"
          }
        },
        "DATAPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPLEX"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY"
          }
        },
        "DATAPROC_METASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC_METASTORE"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.metastore_v1beta#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.metastore_v1beta#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.metastore_v1beta#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Binding"
      }
    },
    "com.gcp.metastore_v1beta#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#AuditConfig"
      }
    },
    "com.gcp.metastore_v1beta#MultiRegionMetadata": {
      "type": "structure",
      "members": {
        "constituentRegions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The regions constituting the multi-region."
          }
        },
        "continent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continent for this multi-region."
          }
        },
        "witnessRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Spanner witness region for this multi-region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty."
      }
    },
    "com.gcp.metastore_v1beta#QueryMetadataRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.QueryMetadata."
      }
    },
    "com.gcp.metastore_v1beta#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "hourOfDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The hour of day (0-23) when the window starts."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.metastore_v1beta#MaintenanceWindowDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The day of week, when the window starts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service."
      }
    },
    "com.gcp.metastore_v1beta#MaintenanceWindowDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
          }
        },
        "metadata": {
          "target": "com.gcp.metastore_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
          }
        },
        "response": {
          "target": "com.gcp.metastore_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
          }
        },
        "error": {
          "target": "com.gcp.metastore_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.metastore_v1beta#RootCACertificate": {
      "type": "structure",
      "members": {
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use a single region service instead. The root CA certificate in PEM format. The maximum length is 65536 bytes."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use a single region service instead. The certificate expiration time in timestamp format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use a single region service instead. A gRPC client must install all root CA certificates to connect to a multi-regional Dataproc Metastore service and achieve failover."
      }
    },
    "com.gcp.metastore_v1beta#CancelMigrationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.CancelMigration."
      }
    },
    "com.gcp.metastore_v1beta#NetworkConfig": {
      "type": "structure",
      "members": {
        "customRoutesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network."
          }
        },
        "consumers": {
          "target": "com.gcp.metastore_v1beta#ConsumerList",
          "traits": {
            "smithy.api#documentation": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network configuration for the Dataproc Metastore service."
      }
    },
    "com.gcp.metastore_v1beta#ConsumerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Consumer"
      }
    },
    "com.gcp.metastore_v1beta#CustomRegionConfig": {
      "type": "structure",
      "members": {
        "readWriteRegions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of read-write regions where the metastore service runs in. These regions should be part (or subset) of the multi-region."
          }
        },
        "readOnlyRegions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of read-only regions where the metastore service runs in. These regions should be part (or subset) of the multi-region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use a single region service instead. Custom configuration used to specify regions that the metastore service runs in. Currently only supported in the us multi-region."
      }
    },
    "com.gcp.metastore_v1beta#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.metastore_v1beta#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.metastore_v1beta#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#CancelMigrationResponse": {
      "type": "structure",
      "members": {
        "migrationExecution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.CancelMigration."
      }
    },
    "com.gcp.metastore_v1beta#HiveMetastoreConfig": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The Hive metastore schema version."
          }
        },
        "kerberosConfig": {
          "target": "com.gcp.metastore_v1beta#KerberosConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
          }
        },
        "endpointProtocol": {
          "target": "com.gcp.metastore_v1beta#HiveMetastoreConfigEndpointProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT."
          }
        },
        "configOverrides": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig."
          }
        },
        "auxiliaryVersions": {
          "target": "com.gcp.metastore_v1beta#AuxiliaryVersionConfigMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies configuration information specific to running Hive metastore software as the metastore service."
      }
    },
    "com.gcp.metastore_v1beta#HiveMetastoreConfigEndpointProtocolEnum": {
      "type": "enum",
      "members": {
        "ENDPOINT_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_PROTOCOL_UNSPECIFIED"
          }
        },
        "THRIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THRIFT"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#AuxiliaryVersionConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.metastore_v1beta#AuxiliaryVersionConfig"
      }
    },
    "com.gcp.metastore_v1beta#LimitConfig": {
      "type": "structure",
      "members": {
        "maxScalingFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The highest scaling factor that the service should be autoscaled to."
          }
        },
        "minScalingFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The lowest scaling factor that the service should be autoscaled to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the autoscaling limit configuration of a metastore service."
      }
    },
    "com.gcp.metastore_v1beta#AuxiliaryVersionConfig": {
      "type": "structure",
      "members": {
        "networkConfig": {
          "target": "com.gcp.metastore_v1beta#NetworkConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version."
          }
        },
        "configOverrides": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information for the auxiliary service versions."
      }
    },
    "com.gcp.metastore_v1beta#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.metastore_v1beta#ServiceList",
          "traits": {
            "smithy.api#documentation": "The services in the specified location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.ListServices."
      }
    },
    "com.gcp.metastore_v1beta#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Service"
      }
    },
    "com.gcp.metastore_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      }
    },
    "com.gcp.metastore_v1beta#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.metastore_v1beta#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.metastore_v1beta#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
      }
    },
    "com.gcp.metastore_v1beta#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#AuditLogConfig"
      }
    },
    "com.gcp.metastore_v1beta#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.metastore_v1beta#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.metastore_v1beta#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Operation"
      }
    },
    "com.gcp.metastore_v1beta#AutoscalingConfig": {
      "type": "structure",
      "members": {
        "autoscalingFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The scaling factor of a service with autoscaling enabled."
          }
        },
        "limitConfig": {
          "target": "com.gcp.metastore_v1beta#LimitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The LimitConfig of the service."
          }
        },
        "autoscalingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether or not autoscaling is enabled for this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the autoscaling configuration of a metastore service."
      }
    },
    "com.gcp.metastore_v1beta#LatestBackup": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.metastore_v1beta#LatestBackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the backup."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the backup completion."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was started."
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the latest scheduled backup."
      }
    },
    "com.gcp.metastore_v1beta#LatestBackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.metastore_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.metastore_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#DocumentMap"
      }
    },
    "com.gcp.metastore_v1beta#RemoveIamPolicyRequest": {
      "type": "structure",
      "members": {
        "asynchronous": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.RemoveIamPolicy."
      }
    },
    "com.gcp.metastore_v1beta#CompleteMigrationResponse": {
      "type": "structure",
      "members": {
        "migrationExecution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.CompleteMigration."
      }
    },
    "com.gcp.metastore_v1beta#MetadataExport": {
      "type": "structure",
      "members": {
        "databaseDumpType": {
          "target": "com.gcp.metastore_v1beta#MetadataExportDatabaseDumpTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the database dump."
          }
        },
        "state": {
          "target": "com.gcp.metastore_v1beta#MetadataExportStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the export."
          }
        },
        "destinationGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the export ended."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the export started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a metadata export operation."
      }
    },
    "com.gcp.metastore_v1beta#MetadataExportDatabaseDumpTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVRO"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#MetadataExportStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "backups": {
          "target": "com.gcp.metastore_v1beta#BackupList",
          "traits": {
            "smithy.api#documentation": "The backups of the specified service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.ListBackups."
      }
    },
    "com.gcp.metastore_v1beta#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#Backup"
      }
    },
    "com.gcp.metastore_v1beta#ErrorDetails": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.metastore_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details in public error message for DataprocMetastore.QueryMetadata."
      }
    },
    "com.gcp.metastore_v1beta#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for TestIamPermissions method."
      }
    },
    "com.gcp.metastore_v1beta#ListMetadataImportsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "metadataImports": {
          "target": "com.gcp.metastore_v1beta#MetadataImportList",
          "traits": {
            "smithy.api#documentation": "The imports in the specified service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DataprocMetastore.ListMetadataImports."
      }
    },
    "com.gcp.metastore_v1beta#MetadataImportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.metastore_v1beta#MetadataImport"
      }
    },
    "com.gcp.metastore_v1beta#MetadataIntegration": {
      "type": "structure",
      "members": {
        "dataCatalogConfig": {
          "target": "com.gcp.metastore_v1beta#DataCatalogConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The integration config for the Data Catalog service."
          }
        },
        "dataplexConfig": {
          "target": "com.gcp.metastore_v1beta#DataplexConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The integration config for the Dataplex service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how metastore metadata should be integrated with external services."
      }
    },
    "com.gcp.metastore_v1beta#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value."
          }
        },
        "condition": {
          "target": "com.gcp.metastore_v1beta#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates members, or principals, with a role."
      }
    },
    "com.gcp.metastore_v1beta#CustomRegionMetadata": {
      "type": "structure",
      "members": {
        "witnessRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Spanner witness region for this custom region."
          }
        },
        "requiredReadWriteRegions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The read-write regions for this custom region."
          }
        },
        "optionalReadOnlyRegions": {
          "target": "com.gcp.metastore_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The read-only regions for this custom region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty."
      }
    },
    "com.gcp.metastore_v1beta#CloudSQLMigrationConfig": {
      "type": "structure",
      "members": {
        "cloudSqlConnectionConfig": {
          "target": "com.gcp.metastore_v1beta#CloudSQLConnectionConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration information to establish customer database connection before the cutover phase of migration"
          }
        },
        "cdcConfig": {
          "target": "com.gcp.metastore_v1beta#CdcConfig",
          "traits": {
            "smithy.api#documentation": "Required. Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore. Dataproc Metastore switches to using its backend database after the cutover phase of migration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Migrations to Dataproc Metastore are no longer supported. Use BigLake Metastore migration instead. Configuration information for migrating from self-managed hive metastore on Google Cloud using Cloud SQL as the backend database to Dataproc Metastore."
      }
    },
    "com.gcp.metastore_v1beta#TelemetryConfig": {
      "type": "structure",
      "members": {
        "logFormat": {
          "target": "com.gcp.metastore_v1beta#TelemetryConfigLogFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The output format of the Dataproc Metastore service's logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Telemetry Configuration for the Dataproc Metastore service."
      }
    },
    "com.gcp.metastore_v1beta#TelemetryConfigLogFormatEnum": {
      "type": "enum",
      "members": {
        "LOG_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_FORMAT_UNSPECIFIED"
          }
        },
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.gcp.metastore_v1beta#AlterMetadataResourceLocationRequest": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}"
          }
        },
        "locationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new location URI for the metadata resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.AlterMetadataResourceLocation."
      }
    },
    "com.gcp.metastore_v1beta#StartMigrationRequest": {
      "type": "structure",
      "members": {
        "migrationExecution": {
          "target": "com.gcp.metastore_v1beta#MigrationExecution",
          "traits": {
            "smithy.api#documentation": "Required. The configuration details for the migration."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for DataprocMetastore.StartMigration."
      }
    },
    "com.gcp.metastore_v1beta#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
[...]
