{
  "smithy": "2.0",
  "metadata": {
    "service": "migrationcenter",
    "version": "v1alpha1",
    "title": "Migration Center API",
    "baseUrl": "https://migrationcenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.migrationcenter_v1alpha1#AggregationResultFrequency": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a frequency distribution aggregation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SoleTenantNodeType": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Sole Tenant node type."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentDetails": {
      "type": "structure",
      "members": {
        "manualUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A manual unique ID set by the user."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database deployment edition."
          }
        },
        "awsRds": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsRds",
          "traits": {
            "smithy.api#documentation": "Optional. Details of an AWS RDS instance."
          }
        },
        "aggregatedStats": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentDetailsAggregatedStats",
          "traits": {
            "smithy.api#documentation": "Output only. Aggregated stats for the database deployment."
          }
        },
        "generatedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database deployment generated ID."
          }
        },
        "postgresql": {
          "target": "com.gcp.migrationcenter_v1alpha1#PostgreSqlDatabaseDeployment",
          "traits": {
            "smithy.api#documentation": "Details of a PostgreSQL database deployment."
          }
        },
        "topology": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentTopology",
          "traits": {
            "smithy.api#documentation": "Details of the database deployment topology."
          }
        },
        "sqlServer": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerDatabaseDeployment",
          "traits": {
            "smithy.api#documentation": "Details of a Microsoft SQL Server database deployment."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database deployment version."
          }
        },
        "mysql": {
          "target": "com.gcp.migrationcenter_v1alpha1#MysqlDatabaseDeployment",
          "traits": {
            "smithy.api#documentation": "Details of a MYSQL database deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a database deployment asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DetectedSoftware": {
      "type": "structure",
      "members": {
        "softwareFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Software family of the detected software, e.g. Database, SAP family."
          }
        },
        "softwareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Software's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about software detected on an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachineNetworkDetails": {
      "type": "structure",
      "members": {
        "networkAdapters": {
          "target": "com.gcp.migrationcenter_v1alpha1#NetworkAdapterList",
          "traits": {
            "smithy.api#documentation": "List of network adapters."
          }
        },
        "defaultGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default gateway address."
          }
        },
        "primaryMacAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MAC address of the machine. This property is used to uniqly identify the machine."
          }
        },
        "publicIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public IP address of the machine."
          }
        },
        "primaryIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary IP address of the machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of network adapters and settings."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetList": {
      "type": "structure",
      "members": {
        "assetIds": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of asset IDs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lists the asset IDs of all assets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SignedUris": {
      "type": "structure",
      "members": {
        "signedUris": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUriList",
          "traits": {
            "smithy.api#documentation": "Output only. List of signed URIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of Signed URIs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SignedUriList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SignedUri"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsVpcDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS VPCs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ComputeStorageDescriptor": {
      "type": "structure",
      "members": {
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk size in GiB."
          }
        },
        "type": {
          "target": "com.gcp.migrationcenter_v1alpha1#ComputeStorageDescriptorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Disk type backing the storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute Engine storage option descriptor."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ComputeStorageDescriptorTypeEnum": {
      "type": "enum",
      "members": {
        "PERSISTENT_DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_UNSPECIFIED"
          }
        },
        "PERSISTENT_DISK_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_STANDARD"
          }
        },
        "PERSISTENT_DISK_TYPE_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_BALANCED"
          }
        },
        "PERSISTENT_DISK_TYPE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_SSD"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OperatingSystemPricingPreferences": {
      "type": "structure",
      "members": {
        "rhel": {
          "target": "com.gcp.migrationcenter_v1alpha1#OperatingSystemPricingPreferencesOperatingSystemPricing",
          "traits": {
            "smithy.api#documentation": "Optional. Pricing options for RHEL images."
          }
        },
        "sles": {
          "target": "com.gcp.migrationcenter_v1alpha1#OperatingSystemPricingPreferencesOperatingSystemPricing",
          "traits": {
            "smithy.api#documentation": "Optional. Pricing options for SLES images."
          }
        },
        "windows": {
          "target": "com.gcp.migrationcenter_v1alpha1#OperatingSystemPricingPreferencesOperatingSystemPricing",
          "traits": {
            "smithy.api#documentation": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
          }
        },
        "slesForSap": {
          "target": "com.gcp.migrationcenter_v1alpha1#OperatingSystemPricingPreferencesOperatingSystemPricing",
          "traits": {
            "smithy.api#documentation": "Optional. Pricing options for SLES for SAP images."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing options for OS images."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListImportDataFilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "importDataFiles": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportDataFileList",
          "traits": {
            "smithy.api#documentation": "The list of import data files."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing payload files of an import job."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportDataFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ImportDataFile"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#NfsExportList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#NfsExportList_",
          "traits": {
            "smithy.api#documentation": "NFS export entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NFS exports."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#NfsExportList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#NfsExport"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsElastiCacheClusterDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of an AWS ElastiCache Cluster."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ErrorFrame": {
      "type": "structure",
      "members": {
        "ingestionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Frame ingestion time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the ErrorFrame."
          }
        },
        "violations": {
          "target": "com.gcp.migrationcenter_v1alpha1#FrameViolationEntryList",
          "traits": {
            "smithy.api#documentation": "Output only. All the violations that were detected for the frame."
          }
        },
        "originalFrame": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetFrame",
          "traits": {
            "smithy.api#documentation": "Output only. The frame that was originally reported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a frame which failed to be processed due to an error."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FrameViolationEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#FrameViolationEntry"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobNetworkDependencies": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for network dependencies exports."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FileValidationReport": {
      "type": "structure",
      "members": {
        "fileErrors": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportErrorList",
          "traits": {
            "smithy.api#documentation": "List of file level errors."
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file."
          }
        },
        "rowErrors": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportRowErrorList",
          "traits": {
            "smithy.api#documentation": "Partial list of rows that encountered validation error."
          }
        },
        "partialReport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating that processing was aborted due to maximum number of errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that aggregates the validation errors found in an import job file."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ImportError"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportRowErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ImportRowError"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#BiosDetails": {
      "type": "structure",
      "members": {
        "biosVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS version."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS version."
          }
        },
        "releaseTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS release date."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS ID."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS manufacturer."
          }
        },
        "biosName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS name."
          }
        },
        "smbiosUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SMBIOS UUID."
          }
        },
        "biosReleaseDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS release date."
          }
        },
        "biosManufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BIOS manufacturer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the BIOS."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsVersioning": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether versioning is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Versioning configuration of the bucket."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RunningServiceList": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningServiceList_",
          "traits": {
            "smithy.api#documentation": "Running service entries."
          }
        },
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningServiceList_",
          "traits": {
            "smithy.api#documentation": "Running service entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of running guest OS services."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RunningServiceList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#RunningService"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GoogleKubernetesEngineMigrationTarget": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "GKE migration target."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Money": {
      "type": "structure",
      "members": {
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferences": {
      "type": "structure",
      "members": {
        "commitmentPlan": {
          "target": "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
          }
        },
        "licenseDiscountPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
          }
        },
        "memoryOvercommitRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
          }
        },
        "machinePreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferences",
          "traits": {
            "smithy.api#documentation": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
          }
        },
        "serviceType": {
          "target": "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. GCVE service type (fully licensed or portable license)."
          }
        },
        "storageDeduplicationCompressionRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0."
          }
        },
        "cpuOvercommitRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user preferences relating to Google Cloud VMware Engine target platform."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesCommitmentPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS"
          }
        },
        "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS"
          }
        },
        "COMMITMENT_1_YEAR_UPFRONT_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_1_YEAR_UPFRONT_PAYMENT"
          }
        },
        "COMMITMENT_3_YEAR_UPFRONT_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          }
        },
        "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS"
          }
        },
        "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesServiceTypeEnum": {
      "type": "enum",
      "members": {
        "SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "SERVICE_TYPE_FULLY_LICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TYPE_FULLY_LICENSED"
          }
        },
        "SERVICE_TYPE_PORTABLE_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TYPE_PORTABLE_LICENSE"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListAssetsExportJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token identifying a page of results the server should return."
          }
        },
        "assetsExportJobs": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetsExportJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of assets export jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing assets export jobs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AssetsExportJob"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#PhysicalPlatformDetails": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
          }
        },
        "hyperthreading": {
          "target": "com.gcp.migrationcenter_v1alpha1#PhysicalPlatformDetailsHyperthreadingEnum",
          "traits": {
            "smithy.api#documentation": "Whether the machine is hyperthreaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Platform specific details for Physical Machines."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#PhysicalPlatformDetailsHyperthreadingEnum": {
      "type": "enum",
      "members": {
        "HYPERTHREADING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_UNSPECIFIED"
          }
        },
        "HYPERTHREADING_STATUS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_DISABLED"
          }
        },
        "HYPERTHREADING_STATUS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERTHREADING_STATUS_ENABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RunningProcessList": {
      "type": "structure",
      "members": {
        "processes": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningProcessList_",
          "traits": {
            "smithy.api#documentation": "Running process entries."
          }
        },
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningProcessList_",
          "traits": {
            "smithy.api#documentation": "Running process entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of running guest OS processes."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RunningProcessList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#RunningProcess"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerDatabaseDeployment": {
      "type": "structure",
      "members": {
        "traceFlags": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server trace flags."
          }
        },
        "features": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerFeatureList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server features."
          }
        },
        "serverFlags": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlagList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server server flags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a Microsoft SQL Server database deployment."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlag"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerFeature"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlag"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachineDiskDetails": {
      "type": "structure",
      "members": {
        "hddTotalCapacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk total Capacity."
          }
        },
        "lsblkJson": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw lsblk output in json."
          }
        },
        "hddTotalFreeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total Disk Free Space."
          }
        },
        "disks": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskEntryList",
          "traits": {
            "smithy.api#documentation": "List of disks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of VM disks."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GuestConfigDetails": {
      "type": "structure",
      "members": {
        "issue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS issue (typically /etc/issue in Linux)."
          }
        },
        "hosts": {
          "target": "com.gcp.migrationcenter_v1alpha1#HostsEntryList",
          "traits": {
            "smithy.api#documentation": "Output only. Hosts file (/etc/hosts)."
          }
        },
        "fstab": {
          "target": "com.gcp.migrationcenter_v1alpha1#FstabEntryList",
          "traits": {
            "smithy.api#documentation": "Mount list (Linux fstab)."
          }
        },
        "nfsExports": {
          "target": "com.gcp.migrationcenter_v1alpha1#NfsExportList",
          "traits": {
            "smithy.api#documentation": "NFS exports."
          }
        },
        "selinuxMode": {
          "target": "com.gcp.migrationcenter_v1alpha1#GuestConfigDetailsSelinuxModeEnum",
          "traits": {
            "smithy.api#documentation": "Security-Enhanced Linux (SELinux) mode."
          }
        },
        "selinux": {
          "target": "com.gcp.migrationcenter_v1alpha1#Selinux",
          "traits": {
            "smithy.api#documentation": "SELinux details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest OS config information."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GuestConfigDetailsSelinuxModeEnum": {
      "type": "enum",
      "members": {
        "SE_LINUX_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE_LINUX_MODE_UNSPECIFIED"
          }
        },
        "SE_LINUX_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE_LINUX_MODE_DISABLED"
          }
        },
        "SE_LINUX_MODE_PERMISSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE_LINUX_MODE_PERMISSIVE"
          }
        },
        "SE_LINUX_MODE_ENFORCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE_LINUX_MODE_ENFORCING"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Selinux": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is SELinux enabled."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SELinux mode disabled / enforcing / permissive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SELinux details."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FitDescriptor": {
      "type": "structure",
      "members": {
        "fitLevel": {
          "target": "com.gcp.migrationcenter_v1alpha1#FitDescriptorFitLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Fit level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the fit level of an asset for migration to a specific target."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FitDescriptorFitLevelEnum": {
      "type": "enum",
      "members": {
        "FIT_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIT_LEVEL_UNSPECIFIED"
          }
        },
        "FIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIT"
          }
        },
        "NO_FIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_FIT"
          }
        },
        "REQUIRES_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRES_EFFORT"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsAthenaWorkGroupDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS Athena Work Group asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#BatchUpdateAssetsResponse": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetList_",
          "traits": {
            "smithy.api#documentation": "Update asset content. The content only includes values after field mask being applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for updating a list of assets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Asset"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsKinesisStreamDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS Kinesis Stream asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListErrorFramesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "errorFrames": {
          "target": "com.gcp.migrationcenter_v1alpha1#ErrorFrameList",
          "traits": {
            "smithy.api#documentation": "The list of error frames."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing error frames."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ErrorFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ErrorFrame"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationFrequency": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Frequency distribution of all field values."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetails": {
      "type": "structure",
      "members": {
        "tableCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of tables."
          }
        },
        "encryptedTableCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of encrypted tables."
          }
        },
        "engine": {
          "target": "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetailsEngineEnum",
          "traits": {
            "smithy.api#documentation": "Required. The storage engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mysql storage engine tables."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetailsEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "INNODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INNODB"
          }
        },
        "MYISAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYISAM"
          }
        },
        "MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        },
        "BLACKHOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACKHOLE"
          }
        },
        "NDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NDB"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE"
          }
        },
        "FEDERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDERATED"
          }
        },
        "EXAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXAMPLE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GuestRuntimeDetails": {
      "type": "structure",
      "members": {
        "lastUptime": {
          "target": "com.gcp.migrationcenter_v1alpha1#Migrationcenter_Date",
          "traits": {
            "smithy.api#documentation": "Date since last booted (last uptime date)."
          }
        },
        "processes": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningProcessList",
          "traits": {
            "smithy.api#documentation": "Running processes."
          }
        },
        "networkInfo": {
          "target": "com.gcp.migrationcenter_v1alpha1#RuntimeNetworkInfo",
          "traits": {
            "smithy.api#documentation": "Runtime network information (connections, ports)."
          }
        },
        "lastBootTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the OS was booted."
          }
        },
        "services": {
          "target": "com.gcp.migrationcenter_v1alpha1#RunningServiceList",
          "traits": {
            "smithy.api#documentation": "Running background services."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain, e.g. c.stratozone-development.internal."
          }
        },
        "installedApps": {
          "target": "com.gcp.migrationcenter_v1alpha1#GuestInstalledApplicationList",
          "traits": {
            "smithy.api#documentation": "Installed applications information."
          }
        },
        "openFileList": {
          "target": "com.gcp.migrationcenter_v1alpha1#OpenFileList",
          "traits": {
            "smithy.api#documentation": "Open files information."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest OS runtime information."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryHistogramChartData": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryHistogramChartDataBucketList",
          "traits": {
            "smithy.api#documentation": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryHistogramChartDataBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryHistogramChartDataBucket"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryHistogramChartDataBucket": {
      "type": "structure",
      "members": {
        "lowerBound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lower bound - inclusive."
          }
        },
        "upperBound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Upper bound - exclusive."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of items in the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationResultHistogram": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultHistogramBucketList",
          "traits": {
            "smithy.api#documentation": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a bucketed histogram aggregation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationResultHistogramBucketList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultHistogramBucket"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ValidationReport": {
      "type": "structure",
      "members": {
        "fileValidations": {
          "target": "com.gcp.migrationcenter_v1alpha1#FileValidationReportList",
          "traits": {
            "smithy.api#documentation": "List of errors found in files."
          }
        },
        "jobErrors": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportErrorList",
          "traits": {
            "smithy.api#documentation": "List of job level errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that aggregates errors across import job files."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FileValidationReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#FileValidationReport"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RunAssetsExportJobRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to run an assets export job."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.migrationcenter_v1alpha1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Location"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskPartitionList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskPartitionList_",
          "traits": {
            "smithy.api#documentation": "Partition entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk partition list."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskPartitionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#DiskPartition"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobExecutionResult": {
      "type": "structure",
      "members": {
        "outputFiles": {
          "target": "com.gcp.migrationcenter_v1alpha1#OutputFileList",
          "traits": {
            "smithy.api#documentation": "Output only. List of output files."
          }
        },
        "signedUris": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUris",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URLs for downloading export artifacts."
          }
        },
        "error": {
          "target": "com.gcp.migrationcenter_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Error encountered during export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the result of the assets export."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseDetails": {
      "type": "structure",
      "members": {
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the database."
          }
        },
        "allocatedStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The allocated storage for the database in bytes."
          }
        },
        "schemas": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseSchemaList",
          "traits": {
            "smithy.api#documentation": "The database schemas."
          }
        },
        "parentDatabaseDeployment": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDetailsParentDatabaseDeployment",
          "traits": {
            "smithy.api#documentation": "The parent database deployment that contains the logical database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a logical database."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#DatabaseSchema"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryChartData": {
      "type": "structure",
      "members": {
        "dataPoints": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryChartDataDataPointList",
          "traits": {
            "smithy.api#documentation": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a collection of data points rendered as a Chart."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryChartDataDataPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryChartDataDataPoint"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RemoveAssetsFromGroupRequest": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetList",
          "traits": {
            "smithy.api#documentation": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to remove assets from a group."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListDiscoveryClientsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "discoveryClients": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiscoveryClientList",
          "traits": {
            "smithy.api#documentation": "List of discovery clients."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing discovery clients."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiscoveryClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#DiscoveryClient"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MemoryUsageSample": {
      "type": "structure",
      "members": {
        "utilizedPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of system memory utilized. Must be in the interval [0, 100]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Memory usage sample."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryDatabaseFinding": {
      "type": "structure",
      "members": {
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of database assets which were successfully assigned in this finding."
          }
        },
        "totalAssets": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of database assets in this finding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatabaseFinding contains an aggregate costs and shapes for a single database type."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Frames": {
      "type": "structure",
      "members": {
        "framesData": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetFrameList",
          "traits": {
            "smithy.api#documentation": "A repeated field of asset data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of frame data."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AssetFrame"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#EstimatedUsage": {
      "type": "structure",
      "members": {
        "estimatedDiskPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100]."
          }
        },
        "estimatedCpuPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100]."
          }
        },
        "estimatedMemoryPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Estimated usage data."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummarySoleTenantFinding": {
      "type": "structure",
      "members": {
        "allocatedRegions": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Set of regions in which the assets are allocated"
          }
        },
        "nodeAllocations": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummarySoleTenantNodeAllocationList",
          "traits": {
            "smithy.api#documentation": "Set of per-nodetype allocation records"
          }
        },
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of assets which are allocated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of findings that applies to assets destined for Sole-Tenant nodes."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummarySoleTenantNodeAllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummarySoleTenantNodeAllocation"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListRelationsResponse": {
      "type": "structure",
      "members": {
        "relations": {
          "target": "com.gcp.migrationcenter_v1alpha1#RelationList",
          "traits": {
            "smithy.api#documentation": "A list of relations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing relations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RelationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Relation"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListReportExportJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token identifying a page of results the server should return."
          }
        },
        "reportExportJobs": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportExportJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of report export jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing report export jobs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportExportJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportExportJob"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RuntimeNetworkInfo": {
      "type": "structure",
      "members": {
        "rawScanResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon."
          }
        },
        "connections": {
          "target": "com.gcp.migrationcenter_v1alpha1#NetworkConnectionList",
          "traits": {
            "smithy.api#documentation": "Network connections."
          }
        },
        "netstatTime": {
          "target": "com.gcp.migrationcenter_v1alpha1#DateTime",
          "traits": {
            "smithy.api#documentation": "Netstat time collected."
          }
        },
        "netstat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Netstat (raw, OS-agnostic)."
          }
        },
        "scanTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of the last network scan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime networking information."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsEfsFileSystemDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of an AWS EFS file system."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.migrationcenter_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskUsageSample": {
      "type": "structure",
      "members": {
        "averageReadIops": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
          }
        },
        "averageWriteIops": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
          }
        },
        "averageIops": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk usage sample. Values are across all disks."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListAssetsResponse": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetList_",
          "traits": {
            "smithy.api#documentation": "A list of assets."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing assets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachineArchitectureDetails": {
      "type": "structure",
      "members": {
        "cpuManufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU manufacturer, e.g., \"Intel\", \"AMD\"."
          }
        },
        "cpuThreadCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine."
          }
        },
        "cpuSocketCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of processor sockets allocated to the machine."
          }
        },
        "hyperthreading": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachineArchitectureDetailsHyperthreadingEnum",
          "traits": {
            "smithy.api#documentation": "CPU hyperthreading support."
          }
        },
        "vendor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hardware vendor."
          }
        },
        "cpuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
          }
        },
        "bios": {
          "target": "com.gcp.migrationcenter_v1alpha1#BiosDetails",
          "traits": {
            "smithy.api#documentation": "BIOS Details."
          }
        },
        "firmware": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Firmware (BIOS/efi)."
          }
        },
        "cpuArchitecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the VM architecture."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachineArchitectureDetailsHyperthreadingEnum": {
      "type": "enum",
      "members": {
        "HYPER_THREADING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPER_THREADING_UNSPECIFIED"
          }
        },
        "HYPER_THREADING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPER_THREADING_DISABLED"
          }
        },
        "HYPER_THREADING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPER_THREADING_ENABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachineDetails": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine unique identifier."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory in the machine. Must be non-negative."
          }
        },
        "platform": {
          "target": "com.gcp.migrationcenter_v1alpha1#PlatformDetails",
          "traits": {
            "smithy.api#documentation": "Platform specific information."
          }
        },
        "guestOs": {
          "target": "com.gcp.migrationcenter_v1alpha1#GuestOsDetails",
          "traits": {
            "smithy.api#documentation": "Guest OS information."
          }
        },
        "coreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of logical CPU cores in the machine. Must be non-negative."
          }
        },
        "disks": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineDiskDetails",
          "traits": {
            "smithy.api#documentation": "Disk details."
          }
        },
        "diskPartitions": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskPartitionDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
          }
        },
        "architecture": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineArchitectureDetails",
          "traits": {
            "smithy.api#documentation": "Architecture details (vendor, CPU architecture)."
          }
        },
        "network": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineNetworkDetails",
          "traits": {
            "smithy.api#documentation": "Network details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine creation time."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine name."
          }
        },
        "powerState": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineDetailsPowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Power state of the machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a machine."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachineDetailsPowerStateEnum": {
      "type": "enum",
      "members": {
        "POWER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FstabEntryList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#FstabEntryList_",
          "traits": {
            "smithy.api#documentation": "Fstab entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fstab content."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#FstabEntryList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#FstabEntry"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationNetwork": {
      "type": "structure",
      "members": {
        "egressBps": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "Network egress in B/s."
          }
        },
        "ingressBps": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "Network ingress in B/s."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistical aggregation of network usage."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RegionPreferences": {
      "type": "structure",
      "members": {
        "preferredRegions": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user preferences relating to target regions."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CascadingRule": {
      "type": "structure",
      "members": {
        "cascadeLogicalDbs": {
          "target": "com.gcp.migrationcenter_v1alpha1#CascadeLogicalDBsRule",
          "traits": {
            "smithy.api#documentation": "Cascading rule for related logical DBs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies cascading rules for traversing relations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportExportJob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Resource name."
          }
        },
        "recentExecutions": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportExportExecutionList",
          "traits": {
            "smithy.api#documentation": "Output only. Recent not expired executions of the export report job."
          }
        },
        "signedUriDestination": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUriDestination",
          "traits": {
            "smithy.api#documentation": "Export with a SignedUri."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report export job message."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportExportExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportExportExecution"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CsvOutputFile": {
      "type": "structure",
      "members": {
        "columnsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of columns in the file."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of rows in the file."
          }
        },
        "signedUri": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUri",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URI destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a single output file of type CSV."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#HostingProviderDetailsAws": {
      "type": "structure",
      "members": {
        "owningAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The AWS account ID owning the resource represented by this asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for AWS platform."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Relation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The identifier of the relation."
          }
        },
        "dstAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The destination asset name in the relation."
          }
        },
        "type": {
          "target": "com.gcp.migrationcenter_v1alpha1#RelationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the relation."
          }
        },
        "srcAsset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The source asset name in the relation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the relation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing a relation between 2 resource."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#RelationTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "LOGICAL_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGICAL_DATABASE"
          }
        },
        "DATABASE_DEPLOYMENT_HOSTING_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsElasticIpAddressDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS Elastic IP Addresses."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineFinding": {
      "type": "structure",
      "members": {
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of assets which were allocated."
          }
        },
        "machineSeriesAllocations": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineSeriesAllocationList",
          "traits": {
            "smithy.api#documentation": "Distribution of assets based on the Machine Series."
          }
        },
        "allocatedDiskTypes": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineFindingAllocatedDiskTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets."
          }
        },
        "allocatedRegions": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Set of regions in which the assets were allocated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of findings that applies to assets of type Virtual/Physical Machine."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineSeriesAllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineSeriesAllocation"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineFindingAllocatedDiskTypesItemEnum": {
      "type": "enum",
      "members": {
        "PERSISTENT_DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_UNSPECIFIED"
          }
        },
        "PERSISTENT_DISK_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_STANDARD"
          }
        },
        "PERSISTENT_DISK_TYPE_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_BALANCED"
          }
        },
        "PERSISTENT_DISK_TYPE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT_DISK_TYPE_SSD"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineFindingAllocatedDiskTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryMachineFindingAllocatedDiskTypesItemEnum"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsFirehoseDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS Firehose asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ComputeEngineSoleTenantMigrationTarget": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Compute engine sole tenant migration target."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationSum": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Sum of field values."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetFrame": {
      "type": "structure",
      "members": {
        "awsEbsVolumeDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEbsVolumeDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS EBS Volumes."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "performanceSamples": {
          "target": "com.gcp.migrationcenter_v1alpha1#PerformanceSampleList",
          "traits": {
            "smithy.api#documentation": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored."
          }
        },
        "traceToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Trace token is optionally provided to assist with debugging and traceability."
          }
        },
        "awsRedshiftDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsRedshiftDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS Redshift clusters."
          }
        },
        "awsEcrRepositoryDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEcrRepositoryDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AwsEcrRepositoryDetails"
          }
        },
        "awsInternetGatewayDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsInternetGatewayDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS Internet Gateways."
          }
        },
        "awsRoute53HostedZoneDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsRoute53HostedZoneDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AwsRoute53HostedZoneDetails"
          }
        },
        "awsAthenaWorkGroupDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAthenaWorkGroupDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsAthenaWorkGroupDetails"
          }
        },
        "awsAppSyncGraphqlApiDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAppSyncGraphqlApiDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS AppSync GraphQL APIs."
          }
        },
        "awsSnsTopicDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsSnsTopicDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS SNS Topics."
          }
        },
        "awsEfsFileSystemDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEfsFileSystemDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS EFS file systems."
          }
        },
        "awsCloudFrontDistributionDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsCloudFrontDistributionDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS CloudFront distributions."
          }
        },
        "awsLambdaFunctionDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsLambdaFunctionDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS Lambda functions."
          }
        },
        "databaseDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for logical databases."
          }
        },
        "awsEksClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEksClusterDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS EKS clusters."
          }
        },
        "awsS3BucketDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS S3 buckets."
          }
        },
        "awsElasticNetworkInterfaceDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElasticNetworkInterfaceDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS Elastic Network Interfaces."
          }
        },
        "awsApiGatewayRestApiDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsApiGatewayRestApiDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS API Gateway REST APIs."
          }
        },
        "awsDynamodbTableDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsDynamoDBTableDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS DynamoDB tables."
          }
        },
        "awsElbLoadBalancerDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElbLoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS Load Balancers."
          }
        },
        "virtualMachineDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachineDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for virtual machines."
          }
        },
        "structuredAttributes": {
          "target": "com.gcp.migrationcenter_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Generic structured asset attributes."
          }
        },
        "machineDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for virtual and physical machines."
          }
        },
        "awsEmrClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEmrClusterDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsEmrClusterDetails"
          }
        },
        "awsApplicationLoadBalancerDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsApplicationLoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS Application Load Balancers."
          }
        },
        "awsElasticacheClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElastiCacheClusterDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS ElastiCache Clusters."
          }
        },
        "awsElasticIpAddressDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElasticIpAddressDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS Elastic IP Addresses."
          }
        },
        "awsNatGatewayDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsNatGatewayDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AwsNatGatewayDetails"
          }
        },
        "awsBatchComputeEnvironmentDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsBatchComputeEnvironmentDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AWS Batch Compute Environments."
          }
        },
        "awsKinesisStreamDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsKinesisStreamDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsKinesisStreamDetails"
          }
        },
        "databaseDeploymentDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for database deployments."
          }
        },
        "collectionType": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetFrameCollectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on."
          }
        },
        "reportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the data was reported."
          }
        },
        "hostingProviderDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#HostingProviderDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Details about the hosting provider of the asset."
          }
        },
        "awsFirehoseDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsFirehoseDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsFirehoseDetails"
          }
        },
        "attributes": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Generic asset attributes."
          }
        },
        "awsEcsClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEcsClusterDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS ECS clusters."
          }
        },
        "awsGlueJobDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsGlueJobDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsGlueJobDetails"
          }
        },
        "awsVpcDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsVpcDetails",
          "traits": {
            "smithy.api#documentation": "Asset information specific for AWS VPCs."
          }
        },
        "awsAutoscalingGroupDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAutoscalingGroupDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Asset information specific for AwsAutoscalingGroupDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains data reported from an inventory source on an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#PerformanceSampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#PerformanceSample"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetFrameCollectionTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNKNOWN"
          }
        },
        "SOURCE_TYPE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UPLOAD"
          }
        },
        "SOURCE_TYPE_GUEST_OS_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_GUEST_OS_SCAN"
          }
        },
        "SOURCE_TYPE_INVENTORY_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_INVENTORY_SCAN"
          }
        },
        "SOURCE_TYPE_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_CUSTOM"
          }
        },
        "SOURCE_TYPE_DISCOVERY_CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_DISCOVERY_CLIENT"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AddAssetsToGroupRequest": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetList",
          "traits": {
            "smithy.api#documentation": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "allowExisting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add assets to a group."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OpenFileList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#OpenFileDetailsList",
          "traits": {
            "smithy.api#documentation": "Open file details entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Open file list."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OpenFileDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#OpenFileDetails"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsEbsVolumeDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS EBS Volumes."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferences": {
      "type": "structure",
      "members": {
        "storageOnlyNodes": {
          "target": "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferencesStorageOnlyNodesEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use storage-only nodes, if those are available."
          }
        },
        "allowedMachineSeries": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineSeriesList",
          "traits": {
            "smithy.api#documentation": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
          }
        },
        "protectedNodes": {
[...]
