{
  "smithy": "2.0",
  "metadata": {
    "service": "monitoring",
    "version": "v1",
    "title": "Cloud Monitoring API",
    "baseUrl": "https://monitoring.googleapis.com/"
  },
  "shapes": {
    "com.gcp.monitoring_v1#TemplateVariableCondition": {
      "type": "structure",
      "members": {
        "templateVariableValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to compare the template variable to. For example, if the comparator is REGEX_FULL_MATCH, this field should contain a regex."
          }
        },
        "templateVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template variable whose value is evaluated."
          }
        },
        "comparator": {
          "target": "com.gcp.monitoring_v1#TemplateVariableConditionComparatorEnum",
          "traits": {
            "smithy.api#documentation": "Comparator to use to evaluate whether the value of the template variable matches the template_variable_value. For example, if the comparator is REGEX_FULL_MATCH, template_variable_value would contain a regex that is matched against the value of the template variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition whose evaluation is based on the value of a template variable."
      }
    },
    "com.gcp.monitoring_v1#TemplateVariableConditionComparatorEnum": {
      "type": "enum",
      "members": {
        "COMPARATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPARATOR_UNSPECIFIED"
          }
        },
        "REGEX_FULL_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGEX_FULL_MATCH"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#SingleViewGroup": {
      "type": "structure",
      "members": {
        "displayType": {
          "target": "com.gcp.monitoring_v1#SingleViewGroupDisplayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Determines how the widget selector will be displayed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that groups the other widgets by using a dropdown menu. All widgets that are within the area spanned by the grouping widget are considered member widgets."
      }
    },
    "com.gcp.monitoring_v1#SingleViewGroupDisplayTypeEnum": {
      "type": "enum",
      "members": {
        "DISPLAY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_TYPE_UNSPECIFIED"
          }
        },
        "DROPDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROPDOWN"
          }
        },
        "TAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAB"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Dashboard": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the dashboard."
          }
        },
        "columnLayout": {
          "target": "com.gcp.monitoring_v1#ColumnLayout",
          "traits": {
            "smithy.api#documentation": "The content is divided into equally spaced columns and the widgets are arranged vertically."
          }
        },
        "annotations": {
          "target": "com.gcp.monitoring_v1#DashboardAnnotations",
          "traits": {
            "smithy.api#documentation": "Configuration for event annotations to display on this dashboard."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The mutable, human-readable name."
          }
        },
        "labels": {
          "target": "com.gcp.monitoring_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels applied to the dashboard"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation."
          }
        },
        "gridLayout": {
          "target": "com.gcp.monitoring_v1#GridLayout",
          "traits": {
            "smithy.api#documentation": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles."
          }
        },
        "mosaicLayout": {
          "target": "com.gcp.monitoring_v1#MosaicLayout",
          "traits": {
            "smithy.api#documentation": "The content is arranged as a grid of tiles, with each content widget occupying one or more grid blocks."
          }
        },
        "rowLayout": {
          "target": "com.gcp.monitoring_v1#RowLayout",
          "traits": {
            "smithy.api#documentation": "The content is divided into equally spaced rows and the widgets are arranged horizontally."
          }
        },
        "dashboardFilters": {
          "target": "com.gcp.monitoring_v1#DashboardFilterList",
          "traits": {
            "smithy.api#documentation": "Filters to reduce the amount of data charted based on the filter criteria."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application."
      }
    },
    "com.gcp.monitoring_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.monitoring_v1#DashboardFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#DashboardFilter"
      }
    },
    "com.gcp.monitoring_v1#Interval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.monitoring_v1#Threshold": {
      "type": "structure",
      "members": {
        "targetAxis": {
          "target": "com.gcp.monitoring_v1#ThresholdTargetAxisEnum",
          "traits": {
            "smithy.api#documentation": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for the threshold."
          }
        },
        "color": {
          "target": "com.gcp.monitoring_v1#ThresholdColorEnum",
          "traits": {
            "smithy.api#documentation": "The state color for this threshold. Color is not allowed in a XyChart."
          }
        },
        "direction": {
          "target": "com.gcp.monitoring_v1#ThresholdDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The direction for the current threshold. Direction is not allowed in a XyChart."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value of the threshold. The value should be defined in the native scale of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a threshold for categorizing time series values."
      }
    },
    "com.gcp.monitoring_v1#ThresholdTargetAxisEnum": {
      "type": "enum",
      "members": {
        "TARGET_AXIS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_AXIS_UNSPECIFIED"
          }
        },
        "Y1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y1"
          }
        },
        "Y2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y2"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#ThresholdColorEnum": {
      "type": "enum",
      "members": {
        "COLOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLOR_UNSPECIFIED"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YELLOW"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RED"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#ThresholdDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABOVE"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BELOW"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Column": {
      "type": "structure",
      "members": {
        "weight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering."
          }
        },
        "widgets": {
          "target": "com.gcp.monitoring_v1#WidgetList",
          "traits": {
            "smithy.api#documentation": "The display widgets arranged vertically in this column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the layout properties and content for a column."
      }
    },
    "com.gcp.monitoring_v1#WidgetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Widget"
      }
    },
    "com.gcp.monitoring_v1#QueryLabelsRequest": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        },
        "match": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names."
      }
    },
    "com.gcp.monitoring_v1#GaugeView": {
      "type": "structure",
      "members": {
        "lowerBound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The lower bound for this gauge chart. The value of the chart should always be greater than or equal to this."
          }
        },
        "upperBound": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The upper bound for this gauge chart. The value of the chart should always be less than or equal to this."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A gauge chart shows where the current value sits within a pre-defined range. The upper and lower bounds should define the possible range of values for the scorecard's query (inclusive)."
      }
    },
    "com.gcp.monitoring_v1#HttpBody": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.monitoring_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page.This message can be used both in streaming and non-streaming API methods in the request as well as the response.It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body.Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.monitoring_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.monitoring_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#DocumentMap"
      }
    },
    "com.gcp.monitoring_v1#TimeSeriesFilter": {
      "type": "structure",
      "members": {
        "secondaryAggregation": {
          "target": "com.gcp.monitoring_v1#Aggregation",
          "traits": {
            "smithy.api#documentation": "Apply a second aggregation after aggregation is applied."
          }
        },
        "pickTimeSeriesFilter": {
          "target": "com.gcp.monitoring_v1#PickTimeSeriesFilter",
          "traits": {
            "smithy.api#documentation": "Ranking based time series filter."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
          }
        },
        "aggregation": {
          "target": "com.gcp.monitoring_v1#Aggregation",
          "traits": {
            "smithy.api#documentation": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data."
          }
        },
        "statisticalTimeSeriesFilter": {
          "target": "com.gcp.monitoring_v1#StatisticalTimeSeriesFilter",
          "traits": {
            "smithy.api#documentation": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) method."
      }
    },
    "com.gcp.monitoring_v1#Parameter": {
      "type": "structure",
      "members": {
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer parameter value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A floating-point parameter value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preview: Parameter value applied to the aggregation function. This is a preview feature and may be subject to change before final release."
      }
    },
    "com.gcp.monitoring_v1#IncidentList": {
      "type": "structure",
      "members": {
        "monitoredResources": {
          "target": "com.gcp.monitoring_v1#MonitoredResourceList",
          "traits": {
            "smithy.api#documentation": "Optional. The monitored resource for which incidents are listed. The resource doesn't need to be fully specified. That is, you can specify the resource type but not the values of the resource labels. The resource type and labels are used for filtering."
          }
        },
        "policyNames": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of alert policy names to filter the incident list by. Don't include the project ID prefix in the policy name. For example, use alertPolicies/utilization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that displays a list of incidents"
      }
    },
    "com.gcp.monitoring_v1#MonitoredResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#MonitoredResource"
      }
    },
    "com.gcp.monitoring_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.monitoring_v1#DashboardAnnotations": {
      "type": "structure",
      "members": {
        "eventAnnotations": {
          "target": "com.gcp.monitoring_v1#EventAnnotationList",
          "traits": {
            "smithy.api#documentation": "List of annotation configurations for this dashboard. Each entry specifies one event type."
          }
        },
        "defaultResourceNames": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Dashboard level defaults for names of logging resources to search for events. Currently only projects are supported. Each individual EventAnnotation may have its own overrides. If both this field and the per annotation field is empty, then the scoping project is used. Limit: 50 projects. For example: “projects/some-project-id” "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard-level configuration for annotations"
      }
    },
    "com.gcp.monitoring_v1#EventAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#EventAnnotation"
      }
    },
    "com.gcp.monitoring_v1#SpanAttributeFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key of the attribute"
          }
        },
        "value": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of attribute values for given key. Multiple values will be OR'd together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Span attribute key and list of values to be used for filtering."
      }
    },
    "com.gcp.monitoring_v1#SpanContext": {
      "type": "structure",
      "members": {
        "spanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] "
      }
    },
    "com.gcp.monitoring_v1#QueryInstantRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters."
      }
    },
    "com.gcp.monitoring_v1#Aggregation": {
      "type": "structure",
      "members": {
        "alignmentPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.The maximum value of the alignment_period is 2 years, or 104 weeks."
          }
        },
        "perSeriesAligner": {
          "target": "com.gcp.monitoring_v1#AggregationPerSeriesAlignerEnum",
          "traits": {
            "smithy.api#documentation": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned."
          }
        },
        "crossSeriesReducer": {
          "target": "com.gcp.monitoring_v1#AggregationCrossSeriesReducerEnum",
          "traits": {
            "smithy.api#documentation": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned."
          }
        },
        "groupByFields": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation)."
      }
    },
    "com.gcp.monitoring_v1#AggregationPerSeriesAlignerEnum": {
      "type": "enum",
      "members": {
        "ALIGN_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_NONE"
          }
        },
        "ALIGN_DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_DELTA"
          }
        },
        "ALIGN_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_RATE"
          }
        },
        "ALIGN_INTERPOLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_INTERPOLATE"
          }
        },
        "ALIGN_NEXT_OLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_NEXT_OLDER"
          }
        },
        "ALIGN_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_MIN"
          }
        },
        "ALIGN_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_MAX"
          }
        },
        "ALIGN_MEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_MEAN"
          }
        },
        "ALIGN_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_COUNT"
          }
        },
        "ALIGN_SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_SUM"
          }
        },
        "ALIGN_STDDEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_STDDEV"
          }
        },
        "ALIGN_COUNT_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_COUNT_TRUE"
          }
        },
        "ALIGN_COUNT_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_COUNT_FALSE"
          }
        },
        "ALIGN_FRACTION_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_FRACTION_TRUE"
          }
        },
        "ALIGN_PERCENTILE_99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_PERCENTILE_99"
          }
        },
        "ALIGN_PERCENTILE_95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_PERCENTILE_95"
          }
        },
        "ALIGN_PERCENTILE_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_PERCENTILE_50"
          }
        },
        "ALIGN_PERCENTILE_05": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_PERCENTILE_05"
          }
        },
        "ALIGN_PERCENT_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIGN_PERCENT_CHANGE"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#AggregationCrossSeriesReducerEnum": {
      "type": "enum",
      "members": {
        "REDUCE_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_NONE"
          }
        },
        "REDUCE_MEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_MEAN"
          }
        },
        "REDUCE_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_MIN"
          }
        },
        "REDUCE_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_MAX"
          }
        },
        "REDUCE_SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_SUM"
          }
        },
        "REDUCE_STDDEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_STDDEV"
          }
        },
        "REDUCE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_COUNT"
          }
        },
        "REDUCE_COUNT_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_COUNT_TRUE"
          }
        },
        "REDUCE_COUNT_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_COUNT_FALSE"
          }
        },
        "REDUCE_FRACTION_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_FRACTION_TRUE"
          }
        },
        "REDUCE_PERCENTILE_99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_PERCENTILE_99"
          }
        },
        "REDUCE_PERCENTILE_95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_PERCENTILE_95"
          }
        },
        "REDUCE_PERCENTILE_50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_PERCENTILE_50"
          }
        },
        "REDUCE_PERCENTILE_05": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCE_PERCENTILE_05"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#TimeSeriesQuery": {
      "type": "structure",
      "members": {
        "timeSeriesQueryLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query used to fetch time series with MQL."
          }
        },
        "prometheusQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A query used to fetch time series with PromQL."
          }
        },
        "timeSeriesFilter": {
          "target": "com.gcp.monitoring_v1#TimeSeriesFilter",
          "traits": {
            "smithy.api#documentation": "Filter parameters to fetch time series."
          }
        },
        "unitOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor."
          }
        },
        "outputFullDuration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, Cloud Monitoring will treat the full query duration as the alignment period so that there will be only 1 output value.*Note: This could override the configured alignment period except for the cases where a series of data points are expected, like - XyChart - Scorecard's spark chart"
          }
        },
        "traceQuery": {
          "target": "com.gcp.monitoring_v1#TraceQuery",
          "traits": {
            "smithy.api#documentation": "Optional. Preview: Query for traces. This is a preview feature and may be subject to change before final release."
          }
        },
        "opsAnalyticsQuery": {
          "target": "com.gcp.monitoring_v1#OpsAnalyticsQuery",
          "traits": {
            "smithy.api#documentation": "Preview: A query used to fetch a time series, category series, or numeric series with SQL. This is a preview feature and may be subject to change before final release."
          }
        },
        "timeSeriesFilterRatio": {
          "target": "com.gcp.monitoring_v1#TimeSeriesFilterRatio",
          "traits": {
            "smithy.api#documentation": "Parameters to fetch a ratio between two time series filters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API."
      }
    },
    "com.gcp.monitoring_v1#ChartOptions": {
      "type": "structure",
      "members": {
        "displayHorizontal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Preview: Configures whether the charted values are shown on the horizontal or vertical axis. By default, values are represented the vertical axis. This is a preview feature and may be subject to change before final release."
          }
        },
        "mode": {
          "target": "com.gcp.monitoring_v1#ChartOptionsModeEnum",
          "traits": {
            "smithy.api#documentation": "The chart mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options to control visual rendering of a chart."
      }
    },
    "com.gcp.monitoring_v1#ChartOptionsModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "COLOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLOR"
          }
        },
        "X_RAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X_RAY"
          }
        },
        "STATS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATS"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#PieChart": {
      "type": "structure",
      "members": {
        "chartType": {
          "target": "com.gcp.monitoring_v1#PieChartChartTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the visualization type for the PieChart."
          }
        },
        "dataSets": {
          "target": "com.gcp.monitoring_v1#PieChartDataSetList",
          "traits": {
            "smithy.api#documentation": "Required. The queries for the chart's data."
          }
        },
        "showLabels": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether or not the pie chart should show slices' labels"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that displays timeseries data as a pie or a donut."
      }
    },
    "com.gcp.monitoring_v1#PieChartChartTypeEnum": {
      "type": "enum",
      "members": {
        "PIE_CHART_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIE_CHART_TYPE_UNSPECIFIED"
          }
        },
        "PIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIE"
          }
        },
        "DONUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONUT"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#PieChartDataSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#PieChartDataSet"
      }
    },
    "com.gcp.monitoring_v1#SparkChartView": {
      "type": "structure",
      "members": {
        "minAlignmentPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lower bound on data point frequency in the chart implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes it would not make sense to fetch and align data at one minute intervals. This field is optional and exists only as a hint.For PromQL queries, this field is used to set the minimum interval for the query step, controlling data granularity. Larger values can improve performance on long time ranges. See Querying Basics and Range Queries for more details on the PromQL step."
          }
        },
        "sparkChartType": {
          "target": "com.gcp.monitoring_v1#SparkChartViewSparkChartTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of sparkchart to show in this chartView."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A sparkChart is a small chart suitable for inclusion in a table-cell or inline in text. This message contains the configuration for a sparkChart to show up on a Scorecard, showing recent trends of the scorecard's timeseries."
      }
    },
    "com.gcp.monitoring_v1#SparkChartViewSparkChartTypeEnum": {
      "type": "enum",
      "members": {
        "SPARK_CHART_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARK_CHART_TYPE_UNSPECIFIED"
          }
        },
        "SPARK_LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARK_LINE"
          }
        },
        "SPARK_BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARK_BAR"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#QueryExemplarsRequest": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars."
      }
    },
    "com.gcp.monitoring_v1#OpsAnalyticsQuery": {
      "type": "structure",
      "members": {
        "sql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A SQL query to fetch time series, category series, or numeric series data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preview: A query that produces an aggregated response and supporting data. This is a preview feature and may be subject to change before final release."
      }
    },
    "com.gcp.monitoring_v1#Scorecard": {
      "type": "structure",
      "members": {
        "gaugeView": {
          "target": "com.gcp.monitoring_v1#GaugeView",
          "traits": {
            "smithy.api#documentation": "Will cause the scorecard to show a gauge chart."
          }
        },
        "sparkChartView": {
          "target": "com.gcp.monitoring_v1#SparkChartView",
          "traits": {
            "smithy.api#documentation": "Will cause the scorecard to show a spark chart."
          }
        },
        "breakdowns": {
          "target": "com.gcp.monitoring_v1#BreakdownList",
          "traits": {
            "smithy.api#documentation": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region."
          }
        },
        "blankView": {
          "target": "com.gcp.monitoring_v1#Empty",
          "traits": {
            "smithy.api#documentation": "Will cause the Scorecard to show only the value, with no indicator to its value relative to its thresholds."
          }
        },
        "thresholds": {
          "target": "com.gcp.monitoring_v1#ThresholdList",
          "traits": {
            "smithy.api#documentation": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above/below a warning threshold that triggers above/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: { value: 90, category: 'DANGER', trigger: 'ABOVE', }, { value: 70, category: 'WARNING', trigger: 'ABOVE', }, { value: 10, category: 'DANGER', trigger: 'BELOW', }, { value: 20, category: 'WARNING', trigger: 'BELOW', } Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state."
          }
        },
        "timeSeriesQuery": {
          "target": "com.gcp.monitoring_v1#TimeSeriesQuery",
          "traits": {
            "smithy.api#documentation": "Required. Fields for querying time series data from the Stackdriver metrics API."
          }
        },
        "measures": {
          "target": "com.gcp.monitoring_v1#MeasureList",
          "traits": {
            "smithy.api#documentation": "Optional. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc."
          }
        },
        "dimensions": {
          "target": "com.gcp.monitoring_v1#DimensionList",
          "traits": {
            "smithy.api#documentation": "Optional. A dimension is a structured label, class, or category for a set of measurements in your data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds."
      }
    },
    "com.gcp.monitoring_v1#BreakdownList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Breakdown"
      }
    },
    "com.gcp.monitoring_v1#ThresholdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Threshold"
      }
    },
    "com.gcp.monitoring_v1#MeasureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Measure"
      }
    },
    "com.gcp.monitoring_v1#DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Dimension"
      }
    },
    "com.gcp.monitoring_v1#StringArray": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The values of the array"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An array of strings"
      }
    },
    "com.gcp.monitoring_v1#StatisticalTimeSeriesFilter": {
      "type": "structure",
      "members": {
        "rankingMethod": {
          "target": "com.gcp.monitoring_v1#StatisticalTimeSeriesFilterRankingMethodEnum",
          "traits": {
            "smithy.api#documentation": "rankingMethod is applied to a set of time series, and then the produced value for each individual time series is used to compare a given time series to others. These are methods that cannot be applied stream-by-stream, but rather require the full context of a request to evaluate time series."
          }
        },
        "numTimeSeries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many time series to output."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter that ranks streams based on their statistical relation to other streams in a request. Note: This field is deprecated and completely ignored by the API."
      }
    },
    "com.gcp.monitoring_v1#StatisticalTimeSeriesFilterRankingMethodEnum": {
      "type": "enum",
      "members": {
        "METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_UNSPECIFIED"
          }
        },
        "METHOD_CLUSTER_OUTLIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_CLUSTER_OUTLIER"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Measure": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The column name within in the dataset used for the measure."
          }
        },
        "aggregationFunction": {
          "target": "com.gcp.monitoring_v1#AggregationFunction",
          "traits": {
            "smithy.api#documentation": "Required. The aggregation function applied to the input column. This must not be set to \"none\" unless binning is disabled on the dimension. The aggregation function is used to group points on the dimension bins."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A chart measure. Measures represent a measured property in your chart data such as rainfall in inches, number of units sold, revenue gained, etc."
      }
    },
    "com.gcp.monitoring_v1#RatioPart": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
          }
        },
        "aggregation": {
          "target": "com.gcp.monitoring_v1#Aggregation",
          "traits": {
            "smithy.api#documentation": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio."
      }
    },
    "com.gcp.monitoring_v1#ColumnSettings": {
      "type": "structure",
      "members": {
        "visible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether the column should be visible on page load."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name of the column"
          }
        },
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the column."
          }
        },
        "alignment": {
          "target": "com.gcp.monitoring_v1#ColumnSettingsAlignmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the column should be left / middle / right aligned"
          }
        },
        "thresholds": {
          "target": "com.gcp.monitoring_v1#ThresholdList",
          "traits": {
            "smithy.api#documentation": "Optional. The thresholds used to determine how the table cell should be rendered given the time series' current value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The persistent settings for a table's columns."
      }
    },
    "com.gcp.monitoring_v1#ColumnSettingsAlignmentEnum": {
      "type": "enum",
      "members": {
        "CELL_ALIGNMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CELL_ALIGNMENT_UNSPECIFIED"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT"
          }
        },
        "CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.monitoring_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.monitoring_v1#DashboardFilter": {
      "type": "structure",
      "members": {
        "filterType": {
          "target": "com.gcp.monitoring_v1#DashboardFilterFilterTypeEnum",
          "traits": {
            "smithy.api#documentation": "The specified filter type"
          }
        },
        "stringArray": {
          "target": "com.gcp.monitoring_v1#StringArray",
          "traits": {
            "smithy.api#documentation": "A list of possible string values for the filter"
          }
        },
        "valueType": {
          "target": "com.gcp.monitoring_v1#DashboardFilterValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the filter value. If value_type is not provided, it will be inferred from the default_value. If neither value_type nor default_value is provided, value_type will be set to STRING by default."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A variable-length string value. If this field is set, value_type must be set to STRING or VALUE_TYPE_UNSPECIFIED"
          }
        },
        "labelKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The key for the label. This must be omitted if the filter_type is VALUE_ONLY but is required otherwise."
          }
        },
        "stringArrayValue": {
          "target": "com.gcp.monitoring_v1#StringArray",
          "traits": {
            "smithy.api#documentation": "An array of variable-length string values. If this field is set, value_type must be set to STRING_ARRAY or VALUE_TYPE_UNSPECIFIED"
          }
        },
        "templateVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The placeholder text that can be referenced in a filter string or MQL query. If omitted, the dashboard filter will be applied to all relevant widgets in the dashboard."
          }
        },
        "timeSeriesQuery": {
          "target": "com.gcp.monitoring_v1#TimeSeriesQuery",
          "traits": {
            "smithy.api#documentation": "A query to run to fetch possible values for the filter. Only OpsAnalyticsQueries are supported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter to reduce the amount of data charted in relevant widgets."
      }
    },
    "com.gcp.monitoring_v1#DashboardFilterFilterTypeEnum": {
      "type": "enum",
      "members": {
        "FILTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_TYPE_UNSPECIFIED"
          }
        },
        "RESOURCE_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_LABEL"
          }
        },
        "METRIC_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_LABEL"
          }
        },
        "USER_METADATA_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_METADATA_LABEL"
          }
        },
        "SYSTEM_METADATA_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_METADATA_LABEL"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP"
          }
        },
        "VALUE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_ONLY"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#DashboardFilterValueTypeEnum": {
      "type": "enum",
      "members": {
        "VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "STRING_ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING_ARRAY"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#FilterControl": {
      "type": "structure",
      "members": {
        "templateVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the template variable the widget affects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that displays an input field to change the value of a template variable."
      }
    },
    "com.gcp.monitoring_v1#RowLayout": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.gcp.monitoring_v1#RowList",
          "traits": {
            "smithy.api#documentation": "The rows of content to display."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row."
      }
    },
    "com.gcp.monitoring_v1#RowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Row"
      }
    },
    "com.gcp.monitoring_v1#MosaicLayout": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of columns in the mosaic grid. The number of columns must be between 1 and 48, inclusive."
          }
        },
        "tiles": {
          "target": "com.gcp.monitoring_v1#TileList",
          "traits": {
            "smithy.api#documentation": "The tiles to display."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mosaic layout divides the available space into a grid of blocks, and overlays the grid with tiles. Unlike GridLayout, tiles may span multiple grid blocks and can be placed at arbitrary locations in the grid."
      }
    },
    "com.gcp.monitoring_v1#TileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Tile"
      }
    },
    "com.gcp.monitoring_v1#SourceContext": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SourceContext represents information about the source of a protobuf element, like the file in which it is defined."
      }
    },
    "com.gcp.monitoring_v1#Field": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.monitoring_v1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the default value of this field. Proto2 syntax only."
          }
        },
        "kind": {
          "target": "com.gcp.monitoring_v1#FieldKindEnum",
          "traits": {
            "smithy.api#documentation": "The field type."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The field number."
          }
        },
        "packed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use alternative packed wire representation."
          }
        },
        "cardinality": {
          "target": "com.gcp.monitoring_v1#FieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "The field cardinality."
          }
        },
        "oneofIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
          }
        },
        "typeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\"."
          }
        },
        "jsonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field JSON name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single field of a message type.New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.monitoring_v1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Option"
      }
    },
    "com.gcp.monitoring_v1#FieldKindEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DOUBLE"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT64"
          }
        },
        "TYPE_UINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT64"
          }
        },
        "TYPE_INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT32"
          }
        },
        "TYPE_FIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED64"
          }
        },
        "TYPE_FIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED32"
          }
        },
        "TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BOOL"
          }
        },
        "TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STRING"
          }
        },
        "TYPE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GROUP"
          }
        },
        "TYPE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MESSAGE"
          }
        },
        "TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BYTES"
          }
        },
        "TYPE_UINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT32"
          }
        },
        "TYPE_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ENUM"
          }
        },
        "TYPE_SFIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED32"
          }
        },
        "TYPE_SFIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED64"
          }
        },
        "TYPE_SINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT32"
          }
        },
        "TYPE_SINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT64"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#FieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "CARDINALITY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_UNKNOWN"
          }
        },
        "CARDINALITY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_OPTIONAL"
          }
        },
        "CARDINALITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REQUIRED"
          }
        },
        "CARDINALITY_REPEATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REPEATED"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Widget": {
      "type": "structure",
      "members": {
        "errorReportingPanel": {
          "target": "com.gcp.monitoring_v1#ErrorReportingPanel",
          "traits": {
            "smithy.api#documentation": "A widget that displays a list of error groups."
          }
        },
        "collapsibleGroup": {
          "target": "com.gcp.monitoring_v1#CollapsibleGroup",
          "traits": {
            "smithy.api#documentation": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
          }
        },
        "alertChart": {
          "target": "com.gcp.monitoring_v1#AlertChart",
          "traits": {
            "smithy.api#documentation": "A chart of alert policy data."
          }
        },
        "visibilityCondition": {
          "target": "com.gcp.monitoring_v1#VisibilityCondition",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this widget is rendered only when the condition is evaluated to true."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The title of the widget."
          }
        },
        "scorecard": {
          "target": "com.gcp.monitoring_v1#Scorecard",
          "traits": {
            "smithy.api#documentation": "A scorecard summarizing time series data."
          }
        },
        "timeSeriesTable": {
          "target": "com.gcp.monitoring_v1#TimeSeriesTable",
          "traits": {
            "smithy.api#documentation": "A widget that displays time series data in a tabular format."
          }
        },
        "filterControl": {
          "target": "com.gcp.monitoring_v1#FilterControl",
          "traits": {
            "smithy.api#documentation": "A widget that displays an input field to change the value of a template variable."
          }
        },
        "singleViewGroup": {
          "target": "com.gcp.monitoring_v1#SingleViewGroup",
          "traits": {
            "smithy.api#documentation": "A widget that groups the other widgets by using a dropdown menu."
          }
        },
        "xyChart": {
          "target": "com.gcp.monitoring_v1#XyChart",
          "traits": {
            "smithy.api#documentation": "A chart of time series data."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The widget id. Ids may be made up of alphanumerics, dashes and underscores. Widget ids are optional."
          }
        },
        "incidentList": {
          "target": "com.gcp.monitoring_v1#IncidentList",
          "traits": {
            "smithy.api#documentation": "A widget that shows list of incidents."
          }
        },
        "blank": {
          "target": "com.gcp.monitoring_v1#Empty",
          "traits": {
            "smithy.api#documentation": "A blank space."
          }
        },
        "text": {
          "target": "com.gcp.monitoring_v1#Text",
          "traits": {
            "smithy.api#documentation": "A raw string or markdown displaying textual content."
          }
        },
        "logsPanel": {
          "target": "com.gcp.monitoring_v1#LogsPanel",
          "traits": {
            "smithy.api#documentation": "A widget that shows a stream of logs."
          }
        },
        "sectionHeader": {
          "target": "com.gcp.monitoring_v1#SectionHeader",
          "traits": {
            "smithy.api#documentation": "A widget that defines a section header for easier navigation of the dashboard."
          }
        },
        "treemap": {
          "target": "com.gcp.monitoring_v1#Treemap",
          "traits": {
            "smithy.api#documentation": "A widget that displays data as a treemap."
          }
        },
        "pieChart": {
          "target": "com.gcp.monitoring_v1#PieChart",
          "traits": {
            "smithy.api#documentation": "A widget that displays timeseries data as a pie chart."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard."
      }
    },
    "com.gcp.monitoring_v1#CollapsibleGroup": {
      "type": "structure",
      "members": {
        "collapsed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The collapsed state of the widget on first page load."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
      }
    },
    "com.gcp.monitoring_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      }
    },
    "com.gcp.monitoring_v1#DataSet": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.monitoring_v1#DimensionList",
          "traits": {
            "smithy.api#documentation": "Optional. A collection of dimension columns."
          }
        },
        "timeSeriesQuery": {
          "target": "com.gcp.monitoring_v1#TimeSeriesQuery",
          "traits": {
            "smithy.api#documentation": "Required. Fields for querying time series data from the Stackdriver metrics API."
          }
        },
        "measures": {
          "target": "com.gcp.monitoring_v1#MeasureList",
          "traits": {
            "smithy.api#documentation": "Optional. A collection of measures."
          }
        },
        "legendTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value."
          }
        },
        "minAlignmentPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.For PromQL queries, this field is used to set the minimum interval for the query step, controlling data granularity. Larger values can improve performance on long time ranges. See Querying Basics and Range Queries for more details on the PromQL step."
          }
        },
        "plotType": {
          "target": "com.gcp.monitoring_v1#DataSetPlotTypeEnum",
          "traits": {
            "smithy.api#documentation": "How this data should be plotted on the chart."
          }
        },
        "sort": {
          "target": "com.gcp.monitoring_v1#ColumnSortingOptionsList",
          "traits": {
            "smithy.api#documentation": "Optional. A collection of sort options, affects the order of the data and legend."
          }
        },
        "targetAxis": {
          "target": "com.gcp.monitoring_v1#DataSetTargetAxisEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The target axis to use for plotting the metric."
          }
        },
        "breakdowns": {
          "target": "com.gcp.monitoring_v1#BreakdownList",
          "traits": {
            "smithy.api#documentation": "Optional. The collection of breakdowns to be applied to the dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups a time series query definition with charting options."
      }
    },
    "com.gcp.monitoring_v1#DataSetPlotTypeEnum": {
      "type": "enum",
      "members": {
        "PLOT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLOT_TYPE_UNSPECIFIED"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "STACKED_AREA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKED_AREA"
          }
        },
        "STACKED_BAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKED_BAR"
          }
        },
        "HEATMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEATMAP"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#ColumnSortingOptionsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#ColumnSortingOptions"
      }
    },
    "com.gcp.monitoring_v1#DataSetTargetAxisEnum": {
      "type": "enum",
      "members": {
        "TARGET_AXIS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_AXIS_UNSPECIFIED"
          }
        },
        "Y1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y1"
          }
        },
        "Y2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Y2"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#EventAnnotation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solely for UI display. Should not be used programmatically."
          }
        },
        "eventType": {
          "target": "com.gcp.monitoring_v1#EventAnnotationEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of event to display."
          }
        },
        "resourceNames": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Per annotation level override for the names of logging resources to search for events. Currently only projects are supported. If both this field and the per annotation field is empty, it will default to the host project. Limit: 50 projects. For example: “projects/another-project-id” "
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to show the events on the dashboard by default"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "string filtering the events - event dependant. Example values: \"resource.labels.pod_name = 'pod-1'\" \"protoPayload.authenticationInfo.principalEmail='user@example.com'\" "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation configuration for one event type on a dashboard"
      }
    },
    "com.gcp.monitoring_v1#EventAnnotationEventTypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "GKE_WORKLOAD_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_WORKLOAD_DEPLOYMENT"
          }
        },
        "GKE_POD_CRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_POD_CRASH"
          }
        },
        "GKE_POD_UNSCHEDULABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_POD_UNSCHEDULABLE"
          }
        },
        "GKE_CONTAINER_CREATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_CONTAINER_CREATION_FAILED"
          }
        },
        "GKE_CLUSTER_CREATE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_CLUSTER_CREATE_DELETE"
          }
        },
        "GKE_CLUSTER_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_CLUSTER_UPDATE"
          }
        },
        "GKE_NODE_POOL_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_NODE_POOL_UPDATE"
          }
        },
        "GKE_CLUSTER_AUTOSCALER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_CLUSTER_AUTOSCALER"
          }
        },
        "GKE_POD_AUTOSCALER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE_POD_AUTOSCALER"
          }
        },
        "VM_TERMINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_TERMINATION"
          }
        },
        "VM_GUEST_OS_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_GUEST_OS_ERROR"
          }
        },
        "VM_START_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_START_FAILED"
          }
        },
        "MIG_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIG_UPDATE"
          }
        },
        "MIG_AUTOSCALER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIG_AUTOSCALER"
          }
        },
        "CLOUD_RUN_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RUN_DEPLOYMENT"
          }
        },
        "CLOUD_SQL_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_FAILOVER"
          }
        },
        "CLOUD_SQL_START_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_START_STOP"
          }
        },
        "CLOUD_SQL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_STORAGE"
          }
        },
        "UPTIME_CHECK_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPTIME_CHECK_FAILURE"
          }
        },
        "CLOUD_ALERTING_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ALERTING_ALERT"
          }
        },
        "SERVICE_HEALTH_INCIDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_HEALTH_INCIDENT"
          }
        },
        "SAP_BACKINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP_BACKINT"
          }
        },
        "SAP_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP_AVAILABILITY"
          }
        },
        "SAP_OPERATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP_OPERATIONS"
          }
        },
        "INTERCONNECT_MAINTENANCE_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERCONNECT_MAINTENANCE_STARTED"
          }
        },
        "INTERCONNECT_MAINTENANCE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERCONNECT_MAINTENANCE_COMPLETED"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#Row": {
      "type": "structure",
      "members": {
        "weight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative weight of this row. The row weight is used to adjust the height of rows on the screen (relative to peers). Greater the weight, greater the height of the row on the screen. If omitted, a value of 1 is used while rendering."
          }
        },
        "widgets": {
          "target": "com.gcp.monitoring_v1#WidgetList",
          "traits": {
            "smithy.api#documentation": "The display widgets arranged horizontally in this row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the layout properties and content for a row."
      }
    },
    "com.gcp.monitoring_v1#QuerySeriesRequest": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuerySeries holds all parameters of the Prometheus upstream API for querying series."
      }
    },
    "com.gcp.monitoring_v1#ColumnSortingOptions": {
      "type": "structure",
      "members": {
        "column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Column name to sort data by"
          }
        },
        "direction": {
          "target": "com.gcp.monitoring_v1#ColumnSortingOptionsDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. A sorting direction that determines ascending or descending order. This is a legacy field kept for backwards compatibility with table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data structure to storing column's sort strategy"
      }
    },
    "com.gcp.monitoring_v1#ColumnSortingOptionsDirectionEnum": {
      "type": "enum",
      "members": {
        "SORT_ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_UNSPECIFIED"
          }
        },
        "SORT_ORDER_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_NONE"
          }
        },
        "SORT_ORDER_ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_ASCENDING"
          }
        },
        "SORT_ORDER_DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SORT_ORDER_DESCENDING"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#ListDashboardsResponse": {
      "type": "structure",
      "members": {
        "dashboards": {
          "target": "com.gcp.monitoring_v1#DashboardList",
          "traits": {
            "smithy.api#documentation": "The list of requested dashboards."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListDashboards request."
      }
    },
    "com.gcp.monitoring_v1#DashboardList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Dashboard"
      }
    },
    "com.gcp.monitoring_v1#TableDataSet": {
      "type": "structure",
      "members": {
        "timeSeriesQuery": {
          "target": "com.gcp.monitoring_v1#TimeSeriesQuery",
          "traits": {
            "smithy.api#documentation": "Required. Fields for querying time series data from the Stackdriver metrics API."
          }
        },
        "tableDisplayOptions": {
          "target": "com.gcp.monitoring_v1#TableDisplayOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Table display options for configuring how the table is rendered."
          }
        },
        "tableTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value i.e. \"${resource.labels.project_id}.\""
          }
        },
        "minAlignmentPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Groups a time series query definition with table options."
      }
    },
    "com.gcp.monitoring_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch request was received."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the operation result was last updated."
          }
        },
        "state": {
          "target": "com.gcp.monitoring_v1#OperationMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the batch operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata for longrunning operation for the edit Metrics Scope endpoints."
      }
    },
    "com.gcp.monitoring_v1#OperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#VisibilityCondition": {
      "type": "structure",
      "members": {
        "templateVariableCondition": {
          "target": "com.gcp.monitoring_v1#TemplateVariableCondition",
          "traits": {
            "smithy.api#documentation": "A condition whose evaluation is based on the value of a template variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Condition that determines whether the widget should be displayed."
      }
    },
    "com.gcp.monitoring_v1#SectionHeader": {
      "type": "structure",
      "members": {
        "subtitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subtitle of the section"
          }
        },
        "dividerBelow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to insert a divider below the section in the table of contents"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that defines a new section header. Sections populate a table of contents and allow easier navigation of long-form content."
      }
    },
    "com.gcp.monitoring_v1#Text": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text content to be displayed."
          }
        },
        "format": {
          "target": "com.gcp.monitoring_v1#TextFormatEnum",
          "traits": {
            "smithy.api#documentation": "How the text content is formatted."
          }
        },
        "style": {
          "target": "com.gcp.monitoring_v1#TextStyle",
          "traits": {
            "smithy.api#documentation": "How the text is styled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A widget that displays textual content."
      }
    },
    "com.gcp.monitoring_v1#TextFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT_UNSPECIFIED"
          }
        },
        "MARKDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKDOWN"
          }
        },
        "RAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW"
          }
        }
      }
    },
    "com.gcp.monitoring_v1#ColumnLayout": {
      "type": "structure",
      "members": {
        "columns": {
          "target": "com.gcp.monitoring_v1#ColumnList",
          "traits": {
            "smithy.api#documentation": "The columns of content to display."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column."
      }
    },
    "com.gcp.monitoring_v1#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Column"
      }
    },
    "com.gcp.monitoring_v1#AggregationFunction": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.monitoring_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters applied to the aggregation function. Only used for functions that require them."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of aggregation function, must be one of the following: \"none\" - no function. \"percentile\" - APPROX_QUANTILES() - 1 parameter numeric value \"average\" - AVG() \"count\" - COUNT() \"count-distinct\" - COUNT(DISTINCT) \"count-distinct-approx\" - APPROX_COUNT_DISTINCT() \"max\" - MAX() \"min\" - MIN() \"sum\" - SUM()"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preview: An identifier for an aggregation function. Aggregation functions are SQL functions that group or transform data from multiple points to a single point. This is a preview feature and may be subject to change before final release."
      }
    },
    "com.gcp.monitoring_v1#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#Parameter"
      }
    },
    "com.gcp.monitoring_v1#TableDisplayOptions": {
      "type": "structure",
      "members": {
        "shownColumns": {
          "target": "com.gcp.monitoring_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table display options that can be reused."
      }
    },
    "com.gcp.monitoring_v1#MetricsScope": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this Metrics Scope was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this Metrics Scope record was last updated."
          }
        },
        "monitoredProjects": {
          "target": "com.gcp.monitoring_v1#MonitoredProjectList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of projects monitored by this Metrics Scope."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together."
      }
    },
    "com.gcp.monitoring_v1#MonitoredProjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.monitoring_v1#MonitoredProject"
      }
    },
    "com.gcp.monitoring_v1#Option": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.monitoring_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type."
          }
        },
[...]
