{
  "smithy": "2.0",
  "metadata": {
    "service": "netapp",
    "version": "v1beta1",
    "title": "NetApp API",
    "baseUrl": "https://netapp.googleapis.com/"
  },
  "shapes": {
    "com.gcp.netapp_v1beta1#OntapVolumeTarget": {
      "type": "structure",
      "members": {
        "restoreDestinationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Absolute directory path in the destination volume."
          }
        },
        "volumeUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The UUID of the ONTAP volume to restore to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the ONTAP volume target of the restore operation."
      }
    },
    "com.gcp.netapp_v1beta1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.netapp_v1beta1#BackupList",
          "traits": {
            "smithy.api#documentation": "A list of backups in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupsResponse is the result of ListBackupsRequest."
      }
    },
    "com.gcp.netapp_v1beta1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#Backup"
      }
    },
    "com.gcp.netapp_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.netapp_v1beta1#ListBackupPoliciesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "backupPolicies": {
          "target": "com.gcp.netapp_v1beta1#BackupPolicyList",
          "traits": {
            "smithy.api#documentation": "The list of backup policies."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListBackupPoliciesResponse contains all the backup policies requested."
      }
    },
    "com.gcp.netapp_v1beta1#BackupPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#BackupPolicy"
      }
    },
    "com.gcp.netapp_v1beta1#ExecuteOntapGetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The raw `JSON` body of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ExecuteOntapGet` API."
      }
    },
    "com.gcp.netapp_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.netapp_v1beta1#ExecuteOntapPatchRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `ExecuteOntapPatch` API."
      }
    },
    "com.gcp.netapp_v1beta1#CacheConfig": {
      "type": "structure",
      "members": {
        "cachePrePopulate": {
          "target": "com.gcp.netapp_v1beta1#CachePrePopulate",
          "traits": {
            "smithy.api#documentation": "Optional. Pre-populate cache volume with data from the origin volume."
          }
        },
        "cachePrePopulateState": {
          "target": "com.gcp.netapp_v1beta1#CacheConfigCachePrePopulateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the prepopulation job indicating how the prepopulation is progressing."
          }
        },
        "writebackEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
          }
        },
        "cifsChangeNotifyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the cache volume."
      }
    },
    "com.gcp.netapp_v1beta1#CacheConfigCachePrePopulateStateEnum": {
      "type": "enum",
      "members": {
        "CACHE_PRE_POPULATE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CACHE_PRE_POPULATE_STATE_UNSPECIFIED"
          }
        },
        "NOT_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NEEDED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.netapp_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.netapp_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#DocumentMap"
      }
    },
    "com.gcp.netapp_v1beta1#CacheParameters": {
      "type": "structure",
      "members": {
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume's SVM."
          }
        },
        "cacheState": {
          "target": "com.gcp.netapp_v1beta1#CacheParametersCacheStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the cache volume indicating the peering status."
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Temporary passphrase generated to accept cluster peering command."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed description of the current cache state."
          }
        },
        "peerIpAddresses": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster."
          }
        },
        "cacheConfig": {
          "target": "com.gcp.netapp_v1beta1#CacheConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration of the cache volume."
          }
        },
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume for the cache volume."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the origin volume's ONTAP cluster."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
          }
        },
        "enableGlobalFileLock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the cache volume has global file lock enabled."
          }
        },
        "peeringCommandExpiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache Parameters for the volume."
      }
    },
    "com.gcp.netapp_v1beta1#CacheParametersCacheStateEnum": {
      "type": "enum",
      "members": {
        "CACHE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CACHE_STATE_UNSPECIFIED"
          }
        },
        "PENDING_CLUSTER_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLUSTER_PEERING"
          }
        },
        "PENDING_SVM_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SVM_PEERING"
          }
        },
        "PEERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEERED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#RestoreParameters": {
      "type": "structure",
      "members": {
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
          }
        },
        "sourceBackup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The RestoreParameters if volume is created from a snapshot or backup."
      }
    },
    "com.gcp.netapp_v1beta1#MountOption": {
      "type": "structure",
      "members": {
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for mounting"
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. IP Address."
          }
        },
        "export": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Export string"
          }
        },
        "exportFull": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full export string"
          }
        },
        "protocol": {
          "target": "com.gcp.netapp_v1beta1#MountOptionProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Protocol to mount with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "View only mount options for a volume."
      }
    },
    "com.gcp.netapp_v1beta1#MountOptionProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOLS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOLS_UNSPECIFIED"
          }
        },
        "NFSV3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV3"
          }
        },
        "NFSV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFSV4"
          }
        },
        "SMB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMB"
          }
        },
        "ISCSI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISCSI"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVME"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#SnapshotPolicy": {
      "type": "structure",
      "members": {
        "dailySchedule": {
          "target": "com.gcp.netapp_v1beta1#DailySchedule",
          "traits": {
            "smithy.api#documentation": "Daily schedule policy."
          }
        },
        "weeklySchedule": {
          "target": "com.gcp.netapp_v1beta1#WeeklySchedule",
          "traits": {
            "smithy.api#documentation": "Weekly schedule policy."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, make snapshots automatically according to the schedules. Default is false."
          }
        },
        "hourlySchedule": {
          "target": "com.gcp.netapp_v1beta1#HourlySchedule",
          "traits": {
            "smithy.api#documentation": "Hourly schedule policy."
          }
        },
        "monthlySchedule": {
          "target": "com.gcp.netapp_v1beta1#MonthlySchedule",
          "traits": {
            "smithy.api#documentation": "Monthly schedule policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snapshot Policy for a volume."
      }
    },
    "com.gcp.netapp_v1beta1#HourlySchedule": {
      "type": "structure",
      "members": {
        "minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
          }
        },
        "snapshotsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Snapshots to keep for the hourly schedule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00."
      }
    },
    "com.gcp.netapp_v1beta1#HybridReplicationParameters": {
      "type": "structure",
      "members": {
        "peerSvmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
          }
        },
        "clusterLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
          }
        },
        "replicationSchedule": {
          "target": "com.gcp.netapp_v1beta1#HybridReplicationParametersReplicationScheduleEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Replication Schedule for the replication created."
          }
        },
        "peerIpAddresses": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of node ip addresses to be peered with."
          }
        },
        "largeVolumeConstituentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Constituent volume count for large volume."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the replication."
          }
        },
        "peerVolumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source volume to be peered with the destination volume."
          }
        },
        "peerClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the user's local source cluster to be peered with the destination cluster."
          }
        },
        "hybridReplicationType": {
          "target": "com.gcp.netapp_v1beta1#HybridReplicationParametersHybridReplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the hybrid replication."
          }
        },
        "replication": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Desired name for the replication of this volume."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels to be added to the replication as the key value pairs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Hybrid Replication parameters for the volume."
      }
    },
    "com.gcp.netapp_v1beta1#HybridReplicationParametersReplicationScheduleEnum": {
      "type": "enum",
      "members": {
        "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED"
          }
        },
        "EVERY_10_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERY_10_MINUTES"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#HybridReplicationParametersHybridReplicationTypeEnum": {
      "type": "enum",
      "members": {
        "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION"
          }
        },
        "CONTINUOUS_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_REPLICATION"
          }
        },
        "ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM_REPLICATION"
          }
        },
        "REVERSE_ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSE_ONPREM_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.netapp_v1beta1#Replication": {
      "type": "structure",
      "members": {
        "destinationVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
          }
        },
        "replicationSchedule": {
          "target": "com.gcp.netapp_v1beta1#ReplicationReplicationScheduleEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates the schedule for replication."
          }
        },
        "role": {
          "target": "com.gcp.netapp_v1beta1#ReplicationRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this points to source or destination."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Replication create time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`."
          }
        },
        "hybridReplicationType": {
          "target": "com.gcp.netapp_v1beta1#ReplicationHybridReplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the hybrid replication."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#ReplicationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the replication."
          }
        },
        "mirrorState": {
          "target": "com.gcp.netapp_v1beta1#ReplicationMirrorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the state of mirroring."
          }
        },
        "hybridReplicationUserCommands": {
          "target": "com.gcp.netapp_v1beta1#UserCommands",
          "traits": {
            "smithy.api#documentation": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
          }
        },
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
          }
        },
        "healthy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
          }
        },
        "transferStats": {
          "target": "com.gcp.netapp_v1beta1#TransferStats",
          "traits": {
            "smithy.api#documentation": "Output only. Replication transfer statistics."
          }
        },
        "clusterLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of the user cluster."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. State details of the replication."
          }
        },
        "hybridPeeringDetails": {
          "target": "com.gcp.netapp_v1beta1#HybridPeeringDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Hybrid peering details."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description about this replication relationship."
          }
        },
        "destinationVolumeParameters": {
          "target": "com.gcp.netapp_v1beta1#DestinationVolumeParameters",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Destination volume parameters"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions."
      }
    },
    "com.gcp.netapp_v1beta1#ReplicationReplicationScheduleEnum": {
      "type": "enum",
      "members": {
        "REPLICATION_SCHEDULE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_SCHEDULE_UNSPECIFIED"
          }
        },
        "EVERY_10_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERY_10_MINUTES"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ReplicationRoleEnum": {
      "type": "enum",
      "members": {
        "REPLICATION_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICATION_ROLE_UNSPECIFIED"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ReplicationHybridReplicationTypeEnum": {
      "type": "enum",
      "members": {
        "HYBRID_REPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYBRID_REPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION"
          }
        },
        "CONTINUOUS_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS_REPLICATION"
          }
        },
        "ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM_REPLICATION"
          }
        },
        "REVERSE_ONPREM_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVERSE_ONPREM_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ReplicationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "PENDING_CLUSTER_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLUSTER_PEERING"
          }
        },
        "PENDING_SVM_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SVM_PEERING"
          }
        },
        "PENDING_REMOTE_RESYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REMOTE_RESYNC"
          }
        },
        "EXTERNALLY_MANAGED_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNALLY_MANAGED_REPLICATION"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ReplicationMirrorStateEnum": {
      "type": "enum",
      "members": {
        "MIRROR_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIRROR_STATE_UNSPECIFIED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "MIRRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIRRORED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "TRANSFERRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFERRING"
          }
        },
        "BASELINE_TRANSFERRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASELINE_TRANSFERRING"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "EXTERNALLY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNALLY_MANAGED"
          }
        },
        "PENDING_PEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_PEERING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ListQuotaRulesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "quotaRules": {
          "target": "com.gcp.netapp_v1beta1#QuotaRuleList",
          "traits": {
            "smithy.api#documentation": "List of quota rules"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest."
      }
    },
    "com.gcp.netapp_v1beta1#QuotaRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#QuotaRule"
      }
    },
    "com.gcp.netapp_v1beta1#ListVolumesResponse": {
      "type": "structure",
      "members": {
        "volumes": {
          "target": "com.gcp.netapp_v1beta1#VolumeList",
          "traits": {
            "smithy.api#documentation": "The list of Volume"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Volumes"
      }
    },
    "com.gcp.netapp_v1beta1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#Volume"
      }
    },
    "com.gcp.netapp_v1beta1#ExecuteOntapPatchResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The raw `JSON` body of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ExecuteOntapPatch` API."
      }
    },
    "com.gcp.netapp_v1beta1#StopReplicationRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StopReplicationRequest stops a replication until resumed."
      }
    },
    "com.gcp.netapp_v1beta1#QuotaRule": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.netapp_v1beta1#QuotaRuleStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the quota rule"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels of the quota rule"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the quota rule"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the quota rule"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
          }
        },
        "type": {
          "target": "com.gcp.netapp_v1beta1#QuotaRuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of quota rule."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. State details of the quota rule"
          }
        },
        "diskLimitMib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The maximum allowed disk space in MiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules."
      }
    },
    "com.gcp.netapp_v1beta1#QuotaRuleStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#QuotaRuleTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "INDIVIDUAL_USER_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_USER_QUOTA"
          }
        },
        "INDIVIDUAL_GROUP_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_GROUP_QUOTA"
          }
        },
        "DEFAULT_USER_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_USER_QUOTA"
          }
        },
        "DEFAULT_GROUP_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_GROUP_QUOTA"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ExecuteOntapDeleteResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The raw `JSON` body of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ExecuteOntapDelete` API."
      }
    },
    "com.gcp.netapp_v1beta1#BackupConfig": {
      "type": "structure",
      "members": {
        "backupVault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}"
          }
        },
        "backupPolicies": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. When specified, schedule backups will be created based on the policy configuration."
          }
        },
        "scheduledBackupEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached."
          }
        },
        "backupChainBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupConfig contains backup related config on a volume."
      }
    },
    "com.gcp.netapp_v1beta1#SimpleExportPolicyRule": {
      "type": "structure",
      "members": {
        "kerberos5pReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
          }
        },
        "kerberos5ReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
          }
        },
        "allowedClients": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of allowed clients IP addresses"
          }
        },
        "kerberos5iReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
          }
        },
        "squashMode": {
          "target": "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleSquashModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
          }
        },
        "anonUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`."
          }
        },
        "nfsv4": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "NFS V4 protocol."
          }
        },
        "nfsv3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "NFS V3 protocol."
          }
        },
        "kerberos5iReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
          }
        },
        "kerberos5pReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
          }
        },
        "hasRootAccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether Unix root access will be granted."
          }
        },
        "accessType": {
          "target": "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleAccessTypeEnum",
          "traits": {
            "smithy.api#documentation": "Access type (ReadWrite, ReadOnly, None)"
          }
        },
        "kerberos5ReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An export policy rule describing various export options."
      }
    },
    "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleSquashModeEnum": {
      "type": "enum",
      "members": {
        "SQUASH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUASH_MODE_UNSPECIFIED"
          }
        },
        "NO_ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ROOT_SQUASH"
          }
        },
        "ROOT_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_SQUASH"
          }
        },
        "ALL_SQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SQUASH"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleAccessTypeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TYPE_UNSPECIFIED"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        },
        "READ_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_NONE"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.netapp_v1beta1#KmsConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
          }
        },
        "cryptoKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Service account which will have access to the customer provided encryption key."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#KmsConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the KmsConfig."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. State details of the KmsConfig."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the KmsConfig."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the KmsConfig."
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Instructions to provide the access to the customer provided encryption key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "KmsConfig is the customer-managed encryption key(CMEK) configuration."
      }
    },
    "com.gcp.netapp_v1beta1#KmsConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_USE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "KEY_CHECK_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_CHECK_PENDING"
          }
        },
        "KEY_NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_NOT_REACHABLE"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.netapp_v1beta1#WeeklySchedule": {
      "type": "structure",
      "members": {
        "snapshotsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Snapshots to keep for the hourly schedule"
          }
        },
        "minute": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
          }
        },
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'."
          }
        },
        "hour": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
      }
    },
    "com.gcp.netapp_v1beta1#ExportPolicy": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleList",
          "traits": {
            "smithy.api#documentation": "Required. List of export policy rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the export policy for the volume."
      }
    },
    "com.gcp.netapp_v1beta1#SimpleExportPolicyRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#SimpleExportPolicyRule"
      }
    },
    "com.gcp.netapp_v1beta1#BackupPolicy": {
      "type": "structure",
      "members": {
        "monthlyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup policy was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the backup policy."
          }
        },
        "weeklyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
          }
        },
        "dailyBackupLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of daily backups to keep. Note that the minimum daily backup limit is 2."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#BackupPolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup policy state."
          }
        },
        "assignedVolumeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of volumes assigned by this backup policy."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup Policy."
      }
    },
    "com.gcp.netapp_v1beta1#BackupPolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ExecuteOntapPostResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The raw `JSON` body of the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ExecuteOntapPost` API."
      }
    },
    "com.gcp.netapp_v1beta1#BackupRetentionPolicy": {
      "type": "structure",
      "members": {
        "monthlyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "backupMinimumEnforcedRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Minimum retention duration in days for backups in the backup vault."
          }
        },
        "dailyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "manualBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        },
        "weeklyBackupImmutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policy for backups in the backup vault"
      }
    },
    "com.gcp.netapp_v1beta1#ListActiveDirectoriesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "activeDirectories": {
          "target": "com.gcp.netapp_v1beta1#ActiveDirectoryList",
          "traits": {
            "smithy.api#documentation": "The list of active directories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListActiveDirectoriesResponse contains all the active directories requested."
      }
    },
    "com.gcp.netapp_v1beta1#ActiveDirectoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#ActiveDirectory"
      }
    },
    "com.gcp.netapp_v1beta1#CachePrePopulate": {
      "type": "structure",
      "members": {
        "excludePathList": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume."
          }
        },
        "recursion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
          }
        },
        "pathList": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pre-populate cache volume with data from the origin volume."
      }
    },
    "com.gcp.netapp_v1beta1#CloneDetails": {
      "type": "structure",
      "members": {
        "sharedSpaceGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot."
          }
        },
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}"
          }
        },
        "splitState": {
          "target": "com.gcp.netapp_v1beta1#CloneDetailsSplitStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the clone split operation."
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about a clone volume."
      }
    },
    "com.gcp.netapp_v1beta1#CloneDetailsSplitStateEnum": {
      "type": "enum",
      "members": {
        "SPLIT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_UNSPECIFIED"
          }
        },
        "SPLIT_STATE_NOT_SPLITTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_NOT_SPLITTING"
          }
        },
        "SPLIT_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_IN_PROGRESS"
          }
        },
        "SPLIT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ListBackupConfigsResponse": {
      "type": "structure",
      "members": {
        "volumeBackupConfigs": {
          "target": "com.gcp.netapp_v1beta1#VolumeBackupConfigList",
          "traits": {
            "smithy.api#documentation": "A list of backup configurations for volumes in the pool."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing BackupConfigs in an ONTAP StoragePool."
      }
    },
    "com.gcp.netapp_v1beta1#VolumeBackupConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#VolumeBackupConfig"
      }
    },
    "com.gcp.netapp_v1beta1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.netapp_v1beta1#DestinationVolumeParameters": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description for the destination volume."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen."
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination volume's share name. If not specified, source volume's share name will be used."
          }
        },
        "tieringPolicy": {
          "target": "com.gcp.netapp_v1beta1#TieringPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Tiering policy for the volume."
          }
        },
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Existing destination StoragePool name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DestinationVolumeParameters specify input parameters used for creating destination volume."
      }
    },
    "com.gcp.netapp_v1beta1#ValidateDirectoryServiceRequest": {
      "type": "structure",
      "members": {
        "directoryServiceType": {
          "target": "com.gcp.netapp_v1beta1#ValidateDirectoryServiceRequestDirectoryServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of directory service policy attached to the storage pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidateDirectoryServiceRequest validates the directory service policy attached to the storage pool."
      }
    },
    "com.gcp.netapp_v1beta1#ValidateDirectoryServiceRequestDirectoryServiceTypeEnum": {
      "type": "enum",
      "members": {
        "DIRECTORY_SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#UserCommands": {
      "type": "structure",
      "members": {
        "commands": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of commands to be executed by the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UserCommands contains the commands to be executed by the customer."
      }
    },
    "com.gcp.netapp_v1beta1#SplitStatus": {
      "type": "structure",
      "members": {
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\"."
          }
        },
        "splitState": {
          "target": "com.gcp.netapp_v1beta1#SplitStatusSplitStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the clone split operation."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for SplitStatus."
      }
    },
    "com.gcp.netapp_v1beta1#SplitStatusSplitStateEnum": {
      "type": "enum",
      "members": {
        "SPLIT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_UNSPECIFIED"
          }
        },
        "SPLIT_STATE_NOT_SPLITTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_NOT_SPLITTING"
          }
        },
        "SPLIT_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_IN_PROGRESS"
          }
        },
        "SPLIT_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPLIT_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#Backup": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was created."
          }
        },
        "backupType": {
          "target": "com.gcp.netapp_v1beta1#BackupBackupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of backup, manually created or created by a backup policy."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup state."
          }
        },
        "ontapSource": {
          "target": "com.gcp.netapp_v1beta1#OntapSource",
          "traits": {
            "smithy.api#documentation": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
          }
        },
        "volumeUsageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big."
          }
        },
        "sourceSnapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
          }
        },
        "sourceVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected."
          }
        },
        "volumeRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "backupRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use"
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "chainStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)"
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use"
          }
        },
        "enforcedRetentionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time until which the backup is not deletable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NetApp Backup."
      }
    },
    "com.gcp.netapp_v1beta1#BackupBackupTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOADING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ListHostGroupsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "hostGroups": {
          "target": "com.gcp.netapp_v1beta1#HostGroupList",
          "traits": {
            "smithy.api#documentation": "The list of host groups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListHostGroupsResponse is the response to a ListHostGroupsRequest."
      }
    },
    "com.gcp.netapp_v1beta1#HostGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.netapp_v1beta1#HostGroup"
      }
    },
    "com.gcp.netapp_v1beta1#RevertVolumeRequest": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RevertVolumeRequest reverts the given volume to the specified snapshot."
      }
    },
    "com.gcp.netapp_v1beta1#BackupVault": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
          }
        },
        "crossProjectVault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the backup vault is a cross project vault."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#BackupVaultStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup vault state."
          }
        },
        "encryptionState": {
          "target": "com.gcp.netapp_v1beta1#BackupVaultEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Field indicating encryption state of CMEK backups."
          }
        },
        "destinationBackupVault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the backup vault."
          }
        },
        "backupVaultType": {
          "target": "com.gcp.netapp_v1beta1#BackupVaultBackupVaultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of backup vault to be created. Default is IN_REGION."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata."
          }
        },
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "backupRetentionPolicy": {
          "target": "com.gcp.netapp_v1beta1#BackupRetentionPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Backup retention policy defining the retention of backups."
          }
        },
        "kmsConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
          }
        },
        "backupsCryptoKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`"
          }
        },
        "backupRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the backup vault."
          }
        },
        "sourceBackupVault": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NetApp BackupVault."
      }
    },
    "com.gcp.netapp_v1beta1#BackupVaultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#BackupVaultEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "ENCRYPTION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_PENDING"
          }
        },
        "ENCRYPTION_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_COMPLETED"
          }
        },
        "ENCRYPTION_STATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_IN_PROGRESS"
          }
        },
        "ENCRYPTION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#BackupVaultBackupVaultTypeEnum": {
      "type": "enum",
      "members": {
        "BACKUP_VAULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_VAULT_TYPE_UNSPECIFIED"
          }
        },
        "IN_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REGION"
          }
        },
        "CROSS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROSS_REGION"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#EncryptVolumesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
      }
    },
    "com.gcp.netapp_v1beta1#SwitchActiveReplicaZoneRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
      }
    },
    "com.gcp.netapp_v1beta1#BlockDevice": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
          }
        },
        "sizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
          }
        },
        "osType": {
          "target": "com.gcp.netapp_v1beta1#BlockDeviceOsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created."
          }
        },
        "hostGroups": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Block device represents the device(s) which are stored in the block volume."
      }
    },
    "com.gcp.netapp_v1beta1#BlockDeviceOsTypeEnum": {
      "type": "enum",
      "members": {
        "OS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_TYPE_UNSPECIFIED"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS"
          }
        },
        "ESXI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESXI"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#ActiveDirectory": {
      "type": "structure",
      "members": {
        "netBiosPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
          }
        },
        "securityOperators": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Domain users to be given the SeSecurityPrivilege."
          }
        },
        "labels": {
          "target": "com.gcp.netapp_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for the active directory."
          }
        },
        "aesEncryption": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, AES encryption will be enabled for SMB communication."
          }
        },
        "backupOperators": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Users to be added to the Built-in Backup Operator active directory group."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Active Directory domain"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Password of the Active Directory domain administrator."
          }
        },
        "kdcHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume"
          }
        },
        "dns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
          }
        },
        "organizationalUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the active directory."
          }
        },
        "encryptDcConnections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
          }
        },
        "site": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Active Directory site the service will limit Domain Controller discovery too."
          }
        },
        "stateDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The state details of the Active Directory."
          }
        },
        "administrators": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Users to be added to the Built-in Admininstrators group."
          }
        },
        "state": {
          "target": "com.gcp.netapp_v1beta1#ActiveDirectoryStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the AD."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username of the Active Directory domain administrator."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`."
          }
        },
        "nfsUsersWithLdap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
          }
        },
        "kdcIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KDC server IP address for the active directory machine."
          }
        },
        "ldapSigning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether or not the LDAP traffic needs to be signed."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the active directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActiveDirectory is the public representation of the active directory config."
      }
    },
    "com.gcp.netapp_v1beta1#ActiveDirectoryStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_USE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DIAGNOSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIAGNOSING"
          }
        }
      }
    },
    "com.gcp.netapp_v1beta1#RestoreBackupFilesRequest": {
      "type": "structure",
      "members": {
        "fileList": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of files to be restored, specified by their absolute path in the source volume."
          }
        },
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
          }
        },
        "restoreDestinationPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RestoreBackupFilesRequest restores files from a backup to a volume."
      }
    },
    "com.gcp.netapp_v1beta1#BackupSource": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The backup resource name."
          }
        },
        "fileList": {
          "target": "com.gcp.netapp_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the backup source of the restore operation."
      }
    },
    "com.gcp.netapp_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.netapp_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.netapp_v1beta1#DocumentMap",
          "traits": {
[...]
