{
  "smithy": "2.0",
  "metadata": {
    "service": "networksecurity",
    "version": "v1beta1",
    "title": "Network Security API",
    "baseUrl": "https://networksecurity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networksecurity_v1beta1#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.networksecurity_v1beta1#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.networksecurity_v1beta1#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.networksecurity_v1beta1#ListSACAttachmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "sacAttachments": {
          "target": "com.gcp.networksecurity_v1beta1#SACAttachmentList",
          "traits": {
            "smithy.api#documentation": "The list of SACAttachments."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListSACAttachments` method."
      }
    },
    "com.gcp.networksecurity_v1beta1#SACAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#SACAttachment"
      }
    },
    "com.gcp.networksecurity_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networksecurity_v1beta1#GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "type": "structure",
      "members": {
        "grpcEndpoint": {
          "target": "com.gcp.networksecurity_v1beta1#GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
          "traits": {
            "smithy.api#documentation": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
          }
        },
        "certificateProviderInstance": {
          "target": "com.gcp.networksecurity_v1beta1#CertificateProviderInstance",
          "traits": {
            "smithy.api#documentation": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication."
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringDeployment": {
      "type": "structure",
      "members": {
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided description of the deployment. Used as additional context for the deployment."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        },
        "mirroringDeploymentGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#MirroringDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the deployment. See https://google.aip.dev/216."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service."
      }
    },
    "com.gcp.networksecurity_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.networksecurity_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.networksecurity_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.networksecurity_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.networksecurity_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.networksecurity_v1beta1#UrlList": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the security policy was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "values": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. FQDNs and URLs."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the security policy was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociation": {
      "type": "structure",
      "members": {
        "networkCookie": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        },
        "interceptEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the endpoint group association."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
          }
        },
        "locations": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "locationsDetails": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationLocationDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#InterceptLocation"
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationLocationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationLocationDetails"
      }
    },
    "com.gcp.networksecurity_v1beta1#GoogleCloudNetworksecurityV1beta1GrpcEndpoint": {
      "type": "structure",
      "members": {
        "targetUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of the GRPC Endpoint."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListBackendAuthenticationConfigsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "backendAuthenticationConfigs": {
          "target": "com.gcp.networksecurity_v1beta1#BackendAuthenticationConfigList",
          "traits": {
            "smithy.api#documentation": "List of BackendAuthenticationConfig resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListBackendAuthenticationConfigs method."
      }
    },
    "com.gcp.networksecurity_v1beta1#BackendAuthenticationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#BackendAuthenticationConfig"
      }
    },
    "com.gcp.networksecurity_v1beta1#SeverityOverride": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.networksecurity_v1beta1#SeverityOverrideActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Threat action override."
          }
        },
        "severity": {
          "target": "com.gcp.networksecurity_v1beta1#SeverityOverrideSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Required. Severity level to match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines what action to take for a specific severity match."
      }
    },
    "com.gcp.networksecurity_v1beta1#SeverityOverrideActionEnum": {
      "type": "enum",
      "members": {
        "THREAT_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT_ACTION_UNSPECIFIED"
          }
        },
        "DEFAULT_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACTION"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#SeverityOverrideSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFORMATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFORMATIONAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireOverride": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireOverrideProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Required. Protocol to match."
          }
        },
        "action": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireOverrideActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Threat action override. For some threat types, only a subset of actions applies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines what action to take for WildFire threats per protocol."
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireOverrideProtocolEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_PROTOCOL_UNSPECIFIED"
          }
        },
        "WILDFIRE_SMTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_SMTP"
          }
        },
        "WILDFIRE_SMB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_SMB"
          }
        },
        "WILDFIRE_POP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_POP3"
          }
        },
        "WILDFIRE_IMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_IMAP"
          }
        },
        "WILDFIRE_HTTP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_HTTP2"
          }
        },
        "WILDFIRE_HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_HTTP"
          }
        },
        "WILDFIRE_FTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_FTP"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireOverrideActionEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_THREAT_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_THREAT_ACTION_UNSPECIFIED"
          }
        },
        "WILDFIRE_DEFAULT_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_DEFAULT_ACTION"
          }
        },
        "WILDFIRE_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_ALLOW"
          }
        },
        "WILDFIRE_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_ALERT"
          }
        },
        "WILDFIRE_DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.networksecurity_v1beta1#HttpHeaderMatch": {
      "type": "structure",
      "members": {
        "regexMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier."
          }
        },
        "headerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of HTTP header match attributes."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListDnsThreatDetectorsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable `DnsThreatDetector` resources."
          }
        },
        "dnsThreatDetectors": {
          "target": "com.gcp.networksecurity_v1beta1#DnsThreatDetectorList",
          "traits": {
            "smithy.api#documentation": "The list of DnsThreatDetector resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token`, to retrieve the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message to requesting a list of DnsThreatDetectors."
      }
    },
    "com.gcp.networksecurity_v1beta1#DnsThreatDetectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#DnsThreatDetector"
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociation": {
      "type": "structure",
      "members": {
        "locationsDetails": {
          "target": "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociationLocationDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/mirroringEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels are key/value pairs that help to organize and filter resources."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
          }
        },
        "locations": {
          "target": "com.gcp.networksecurity_v1beta1#MirroringLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group."
          }
        },
        "mirroringEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the endpoint group association."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable mirroring by itself. To enable mirroring, the user must also create a network firewall policy containing mirroring rules and associate it with the network."
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociationLocationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociationLocationDetails"
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#MirroringLocation"
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringEndpointGroupAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "OUT_OF_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_SYNC"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#UrlFilter": {
      "type": "structure",
      "members": {
        "urls": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of strings that a URL must match with for this filter to be applied."
          }
        },
        "filteringAction": {
          "target": "com.gcp.networksecurity_v1beta1#UrlFilterFilteringActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The action taken when this filter is applied."
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A URL filter defines an action to take for some URL match."
      }
    },
    "com.gcp.networksecurity_v1beta1#UrlFilterFilteringActionEnum": {
      "type": "enum",
      "members": {
        "URL_FILTERING_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_FILTERING_ACTION_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.networksecurity_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListAddressGroupsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "addressGroups": {
          "target": "com.gcp.networksecurity_v1beta1#AddressGroupList",
          "traits": {
            "smithy.api#documentation": "List of AddressGroups resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListAddressGroups method."
      }
    },
    "com.gcp.networksecurity_v1beta1#AddressGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#AddressGroup"
      }
    },
    "com.gcp.networksecurity_v1beta1#SecurityProfileGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of the profile group. Max length 2048 characters."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource creation timestamp."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "wildfireAnalysisProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the WildFire configuration."
          }
        },
        "threatPreventionProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration."
          }
        },
        "urlFilteringProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "dataPathId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier used by the data-path. Unique within {container, location}."
          }
        },
        "customInterceptProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last resource update timestamp."
          }
        },
        "customMirroringProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes."
      }
    },
    "com.gcp.networksecurity_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.networksecurity_v1beta1#DnsThreatDetector": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. Name of the DnsThreatDetector resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time stamp."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs."
          }
        },
        "excludedNetworks": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`."
          }
        },
        "provider": {
          "target": "com.gcp.networksecurity_v1beta1#DnsThreatDetectorProviderEnum",
          "traits": {
            "smithy.api#documentation": "Required. The provider used for DNS threat analysis."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time stamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`."
      }
    },
    "com.gcp.networksecurity_v1beta1#DnsThreatDetectorProviderEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "INFOBLOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFOBLOX"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#MirroringDeploymentGroupConnectedEndpointGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/124."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint group connected to this deployment group."
      }
    },
    "com.gcp.networksecurity_v1beta1#CustomMirroringProfile": {
      "type": "structure",
      "members": {
        "mirroringEndpointGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action."
      }
    },
    "com.gcp.networksecurity_v1beta1#MTLSPolicy": {
      "type": "structure",
      "members": {
        "clientValidationMode": {
          "target": "com.gcp.networksecurity_v1beta1#MTLSPolicyClientValidationModeEnum",
          "traits": {
            "smithy.api#documentation": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty."
          }
        },
        "clientValidationCa": {
          "target": "com.gcp.networksecurity_v1beta1#ValidationCAList",
          "traits": {
            "smithy.api#documentation": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate."
          }
        },
        "clientValidationTrustConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of the MTLSPolicy."
      }
    },
    "com.gcp.networksecurity_v1beta1#MTLSPolicyClientValidationModeEnum": {
      "type": "enum",
      "members": {
        "CLIENT_VALIDATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_VALIDATION_MODE_UNSPECIFIED"
          }
        },
        "ALLOW_INVALID_OR_MISSING_CLIENT_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INVALID_OR_MISSING_CLIENT_CERT"
          }
        },
        "REJECT_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECT_INVALID"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#ValidationCAList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#ValidationCA"
      }
    },
    "com.gcp.networksecurity_v1beta1#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleToRequestOperation": {
      "type": "structure",
      "members": {
        "mcp": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleToRequestOperationMCP",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
          }
        },
        "snis": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy."
          }
        },
        "hosts": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
          }
        },
        "paths": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
          }
        },
        "methods": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy."
          }
        },
        "headerSet": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
          "traits": {
            "smithy.api#documentation": "Optional. A list of headers to match against in http header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes properties of one or more targets of a request."
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatchList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatch"
      }
    },
    "com.gcp.networksecurity_v1beta1#ListInterceptEndpointGroupsResponse": {
      "type": "structure",
      "members": {
        "interceptEndpointGroups": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupList",
          "traits": {
            "smithy.api#documentation": "The endpoint groups from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListInterceptEndpointGroups."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroup"
      }
    },
    "com.gcp.networksecurity_v1beta1#UrlFilteringProfile": {
      "type": "structure",
      "members": {
        "urlFilters": {
          "target": "com.gcp.networksecurity_v1beta1#UrlFilterList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of filtering configs in which each config defines an action to take for some URL match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UrlFilteringProfile defines filters based on URL."
      }
    },
    "com.gcp.networksecurity_v1beta1#UrlFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#UrlFilter"
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
          }
        },
        "params": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatchList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a set of MCP methods to match against."
      }
    },
    "com.gcp.networksecurity_v1beta1#GatewaySecurityPolicy": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "tlsInspectionPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListSACRealmsResponse": {
      "type": "structure",
      "members": {
        "sacRealms": {
          "target": "com.gcp.networksecurity_v1beta1#SACRealmList",
          "traits": {
            "smithy.api#documentation": "The list of SACRealms."
          }
        },
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListSACRealms` method."
      }
    },
    "com.gcp.networksecurity_v1beta1#SACRealmList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#SACRealm"
      }
    },
    "com.gcp.networksecurity_v1beta1#Destination": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.gcp.networksecurity_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Required. List of destination ports to match. At least one port should match."
          }
        },
        "httpHeaderMatch": {
          "target": "com.gcp.networksecurity_v1beta1#HttpHeaderMatch",
          "traits": {
            "smithy.api#documentation": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
          }
        },
        "hosts": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\"."
          }
        },
        "methods": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of traffic destination attributes."
      }
    },
    "com.gcp.networksecurity_v1beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.networksecurity_v1beta1#AddressGroup": {
      "type": "structure",
      "members": {
        "purpose": {
          "target": "com.gcp.networksecurity_v1beta1#AddressGroupPurposeItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. List of supported purposes of the Address Group."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free-text description of the resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the AddressGroup resource."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined fully-qualified URL for this resource."
          }
        },
        "type": {
          "target": "com.gcp.networksecurity_v1beta1#AddressGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\"."
          }
        },
        "items": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of items."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Capacity of the Address Group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy."
      }
    },
    "com.gcp.networksecurity_v1beta1#AddressGroupPurposeItemEnum": {
      "type": "enum",
      "members": {
        "PURPOSE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PURPOSE_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "CLOUD_ARMOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ARMOR"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AddressGroupPurposeItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#AddressGroupPurposeItemEnum"
      }
    },
    "com.gcp.networksecurity_v1beta1#AddressGroupTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyCustomProviderAuthzExtension": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of references to authorization extensions that will be invoked for requests matching this policy. Limited to 1 custom provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. Delegate authorization decision to user authored extension. Only one of cloudIap or authzExtension can be specified."
      }
    },
    "com.gcp.networksecurity_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequest": {
      "type": "structure",
      "members": {
        "fileType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The file type of the Malware Sample."
          }
        },
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The region of the file associated with the Malware Sample."
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SHA256 hash of the Malware Sample to change the verdict of."
          }
        },
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The file name of the Malware Sample."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The relative name of the WildfireVerdictChangeRequest. Output only. This is a unique identifier generated by the third party API. Format: organizations|projects/{project_or_organization}/locations/{location}/firewallEndpoints/{firewall_endpoint}/wildfireVerdictChangeRequests/{wildfire_verdict_change_request_id} Where {wildfire_verdict_change_request_id} is the ID in the format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "finalVerdict": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestFinalVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The final verdict of the Malware Sample."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The justification for the verdict change request. Max length 2048 characters."
          }
        },
        "oldVerdict": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestOldVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The original verdict of the Malware Sample."
          }
        },
        "newVerdict": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestNewVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Required. The suggested verdict to apply to the Malware Sample."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the WildfireVerdictChangeRequest was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the WildfireVerdictChangeRequest was created."
          }
        },
        "resolutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the WildfireVerdictChangeRequest was resolved."
          }
        },
        "wildfireVerdictChangeRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the WildfireVerdictChangeRequest. This is a unique identifier generated by the third party API. Format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The review state of the WildfireVerdictChangeRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for a WildfireVerdictChangeRequest."
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestFinalVerdictEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_SAMPLE_VERDICT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_SAMPLE_VERDICT_UNKNOWN"
          }
        },
        "BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENIGN"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "GRAYWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYWARE"
          }
        },
        "PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestOldVerdictEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_SAMPLE_VERDICT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_SAMPLE_VERDICT_UNKNOWN"
          }
        },
        "BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENIGN"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "GRAYWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYWARE"
          }
        },
        "PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestNewVerdictEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_SAMPLE_VERDICT_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_SAMPLE_VERDICT_UNKNOWN"
          }
        },
        "BENIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BENIGN"
          }
        },
        "MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE"
          }
        },
        "GRAYWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAYWARE"
          }
        },
        "PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireVerdictChangeRequestStateEnum": {
      "type": "enum",
      "members": {
        "VERDICT_CHANGE_REQUEST_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERDICT_CHANGE_REQUEST_STATE_UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#SACRealm": {
      "type": "structure",
      "members": {
        "pairingKey": {
          "target": "com.gcp.networksecurity_v1beta1#SACRealmPairingKey",
          "traits": {
            "smithy.api#documentation": "Output only. Key to be shared with SSE service provider during pairing."
          }
        },
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#SACRealmStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the realm."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the realm was created."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Optional list of labels applied to the resource."
          }
        },
        "securityService": {
          "target": "com.gcp.networksecurity_v1beta1#SACRealmSecurityServiceEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. SSE service provider associated with the realm."
          }
        },
        "symantecOptions": {
          "target": "com.gcp.networksecurity_v1beta1#SACRealmSACRealmSymantecOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration required for Symantec realms."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the realm was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service."
      }
    },
    "com.gcp.networksecurity_v1beta1#SACRealmStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING_PARTNER_ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_PARTNER_ATTACHMENT"
          }
        },
        "PARTNER_ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_ATTACHED"
          }
        },
        "PARTNER_DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_DETACHED"
          }
        },
        "KEY_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_EXPIRED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#SACRealmSecurityServiceEnum": {
      "type": "enum",
      "members": {
        "SECURITY_SERVICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_SERVICE_UNSPECIFIED"
          }
        },
        "PALO_ALTO_PRISMA_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PALO_ALTO_PRISMA_ACCESS"
          }
        },
        "SYMANTEC_CLOUD_SWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYMANTEC_CLOUD_SWG"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicy": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request."
          }
        },
        "networkRules": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networksecurity_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements)."
          }
        },
        "target": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyTarget",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the set of resources to which this policy should be applied to."
          }
        },
        "customProvider": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyCustomProvider",
          "traits": {
            "smithy.api#documentation": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified."
          }
        },
        "httpRules": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules."
          }
        },
        "policyProfile": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyPolicyProfileEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes."
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyActionEnum": {
      "type": "enum",
      "members": {
        "AUTHZ_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHZ_ACTION_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRule"
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyPolicyProfileEnum": {
      "type": "enum",
      "members": {
        "POLICY_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_PROFILE_UNSPECIFIED"
          }
        },
        "REQUEST_AUTHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_AUTHZ"
          }
        },
        "CONTENT_AUTHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_AUTHZ"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleStringMatch": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``"
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``"
          }
        },
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
          }
        },
        "exact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``."
          }
        },
        "ignoreCase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines how a string value should be matched."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListInterceptDeploymentGroupsResponse": {
      "type": "structure",
      "members": {
        "interceptDeploymentGroups": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptDeploymentGroupList",
          "traits": {
            "smithy.api#documentation": "The deployment groups from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListInterceptDeploymentGroups."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptDeploymentGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#InterceptDeploymentGroup"
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyTarget": {
      "type": "structure",
      "members": {
        "loadBalancingScheme": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyTargetLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        },
        "resources": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of references to the Forwarding Rules, Secure Web Proxy Gateways, or Agent Gateways on which this policy will be applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the set of targets to which this policy should be applied to."
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyTargetLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        },
        "INTERNAL_SELF_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SELF_MANAGED"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRule": {
      "type": "structure",
      "members": {
        "to": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleTo",
          "traits": {
            "smithy.api#documentation": "Optional. Describes properties of a target of a request."
          }
        },
        "from": {
          "target": "com.gcp.networksecurity_v1beta1#AuthzPolicyAuthzRuleFrom",
          "traits": {
            "smithy.api#documentation": "Optional. Describes properties of a source of a request."
          }
        },
        "when": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CEL expression that describes the conditions to be satisfied for the action. The result of the CEL expression is ANDed with the from and to. Refer to the CEL language reference for a list of available attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conditions to match against the incoming request."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupConnectedDeploymentGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
          }
        },
        "locations": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptLocationList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of locations where the deployment group is present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The endpoint group's view of a connected deployment group."
      }
    },
    "com.gcp.networksecurity_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.networksecurity_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.networksecurity_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.networksecurity_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#Operation"
      }
    },
    "com.gcp.networksecurity_v1beta1#ListSecurityProfileGroupsResponse": {
      "type": "structure",
      "members": {
        "securityProfileGroups": {
          "target": "com.gcp.networksecurity_v1beta1#SecurityProfileGroupList",
          "traits": {
            "smithy.api#documentation": "List of SecurityProfileGroups resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListSecurityProfileGroups method."
      }
    },
    "com.gcp.networksecurity_v1beta1#SecurityProfileGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networksecurity_v1beta1#SecurityProfileGroup"
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRule": {
      "type": "structure",
      "members": {
        "customFileTypes": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleCustomFileTypes",
          "traits": {
            "smithy.api#documentation": "Submit a custom list of file types for WildFire analysis."
          }
        },
        "fileSelectionMode": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleFileSelectionModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. File selection mode for WildFire inline cloud analysis."
          }
        },
        "direction": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Direction for the file to be analyzed by WildFire Inline Cloud Analysis."
          }
        },
        "action": {
          "target": "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Action to take when a threat is detected using WildFire Inline Cloud Analysis. The default Value is DENY."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of file type configurations to be scanned by WildFire Inline Cloud Analysis."
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleFileSelectionModeEnum": {
      "type": "enum",
      "members": {
        "FILE_SELECTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_SELECTION_MODE_UNSPECIFIED"
          }
        },
        "ALL_FILE_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_FILE_TYPES"
          }
        },
        "CUSTOM_FILE_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_FILE_TYPES"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD"
          }
        },
        "DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOAD"
          }
        },
        "BOTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTH"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#WildfireInlineCloudAnalysisRuleActionEnum": {
      "type": "enum",
      "members": {
        "WILDFIRE_INLINE_CLOUD_ANALYSIS_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WILDFIRE_INLINE_CLOUD_ANALYSIS_ACTION_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        }
      }
    },
    "com.gcp.networksecurity_v1beta1#CertificateProviderInstance": {
      "type": "structure",
      "members": {
        "pluginInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationDetails": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Most recent known state of the association."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The endpoint group's view of a connected association."
      }
    },
    "com.gcp.networksecurity_v1beta1#InterceptEndpointGroupAssociationDetailsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
