{
  "smithy": "2.0",
  "metadata": {
    "service": "networkservices",
    "version": "v1beta1",
    "title": "Network Services API",
    "baseUrl": "https://networkservices.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networkservices_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.networkservices_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.networkservices_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#Operation"
      }
    },
    "com.gcp.networkservices_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkservices_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.networkservices_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.networkservices_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.networkservices_v1beta1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.networkservices_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#DocumentMap"
      }
    },
    "com.gcp.networkservices_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.networkservices_v1beta1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.networkservices_v1beta1#ListLbTrafficExtensionsResponse": {
      "type": "structure",
      "members": {
        "lbTrafficExtensions": {
          "target": "com.gcp.networkservices_v1beta1#LbTrafficExtensionList",
          "traits": {
            "smithy.api#documentation": "The list of `LbTrafficExtension` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results that the server returns."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing `LbTrafficExtension` resources."
      }
    },
    "com.gcp.networkservices_v1beta1#LbTrafficExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#LbTrafficExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#LbTrafficExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `LbTrafficExtension` resource in the following format: `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `LbTrafficExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources."
          }
        },
        "forwardingRules": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbTrafficExtension` resource can be associated with a forwarding rule."
          }
        },
        "extensionChains": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainList",
          "traits": {
            "smithy.api#documentation": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networkservices_v1beta1#LbTrafficExtensionLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        },
        "metadata": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_traffic_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`LbTrafficExtension` is a resource that lets the extension service modify the headers and payloads of both requests and responses without impacting the choice of backend services or any other security policies associated with the backend service."
      }
    },
    "com.gcp.networkservices_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#ExtensionChain"
      }
    },
    "com.gcp.networkservices_v1beta1#LbTrafficExtensionLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChain": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name for this extension chain. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
          }
        },
        "matchCondition": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainMatchCondition",
          "traits": {
            "smithy.api#documentation": "Required. Conditions under which this chain is invoked for a request."
          }
        },
        "extensions": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtensionList",
          "traits": {
            "smithy.api#documentation": "Required. A set of extensions to execute for the matching request. At least one extension is required. Up to 3 extensions can be defined for each extension chain for `LbTrafficExtension` resource. `LbRouteExtension` and `LbEdgeExtension` chains are limited to 1 extension per extension chain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single extension chain wrapper that contains the match conditions and extensions to execute."
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainMatchCondition": {
      "type": "structure",
      "members": {
        "celExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A Common Expression Language (CEL) expression that is used to match requests for which the extension chain is executed. For more information, see [CEL matcher language reference](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conditions under which this chain is invoked for a request."
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name for this extension. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number. This field is required except for AuthzExtension."
          }
        },
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. Required for Callout extensions. This field is not supported for plugin extensions. Setting it results in a validation error."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reference to the service that runs the extension. To configure a callout extension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}` or `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`. To configure a plugin extension, `service` must be a reference to a [`WasmPlugin` resource](https://cloud.google.com/service-extensions/docs/reference/rest/v1beta1/projects.locations.wasmPlugins) in the format: `projects/{project}/locations/{location}/wasmPlugins/{plugin}` or `//networkservices.googleapis.com/projects/{project}/locations/{location}/wasmPlugins/{wasmPlugin}`. Plugin extensions are currently supported for the `LbTrafficExtension`, the `LbRouteExtension`, and the `LbEdgeExtension` resources."
          }
        },
        "supportedEvents": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtensionSupportedEventsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of events during request or response processing for which this extension is called. For the `LbTrafficExtension` resource, this field is required. For the `LbRouteExtension` resource, this field is optional. If unspecified, `REQUEST_HEADERS` event is assumed as supported. For the `LbEdgeExtension` resource, this field is required and must only contain `REQUEST_HEADERS` event. For the `AuthzExtension` resource, this field is optional. `REQUEST_HEADERS` is the only supported event. If unspecified, `REQUEST_HEADERS` event is assumed as supported."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the timeout for each individual message on the stream. The timeout must be between `10`-`10000` milliseconds. Required for callout extensions. This field is not supported for plugin extensions. Setting it results in a validation error."
          }
        },
        "failOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
          }
        },
        "forwardHeaders": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of the HTTP headers to forward to the extension (from the client or backend). If omitted, all headers are sent. Each element is a string indicating the header name."
          }
        },
        "forwardAttributes": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name."
          }
        },
        "metadata": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. For `AuthzExtension` resources, the metadata is available under the namespace `com.google.authz_extension.`. For other types of extensions, the metadata is available under the namespace `com.google....`. For example: `com.google.lb_traffic_extension.lbtrafficextension1.chain1.ext1`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set for plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend. This field is subject to following limitations: * The total size of the metadata must be less than 1KiB. * The total number of keys in the metadata must be less than 16. * The length of each key must be less than 64 characters. * The length of each value must be less than 1024 characters. * All values must be strings."
          }
        },
        "allowDynamicForwarding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to `TRUE`, the response from an extension service is allowed to set the `com.google.envoy.dynamic_forwarding` namespace in the dynamic metadata. This field is not supported for plugin extensions or AuthzExtensions. Setting it results in a validation error."
          }
        },
        "requestBodySendMode": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtensionRequestBodySendModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the send mode for request body processing. The field can only be set if `supported_events` includes `REQUEST_BODY`. If `supported_events` includes `REQUEST_BODY`, but `request_body_send_mode` is unset, the default value `STREAMED` is used. When this field is set to `FULL_DUPLEX_STREAMED`, `supported_events` must include both `REQUEST_BODY` and `REQUEST_TRAILERS`. This field can be set only for `LbTrafficExtension` and `LbRouteExtension` resources, and only when the `service` field of the extension points to a `BackendService`. Only `FULL_DUPLEX_STREAMED` mode is supported for `LbRouteExtension` resources."
          }
        },
        "responseBodySendMode": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtensionResponseBodySendModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the send mode for response processing. If unspecified, the default value `STREAMED` is used. The field can only be set if `supported_events` includes `RESPONSE_BODY`. If `supported_events` includes `RESPONSE_BODY`, but `response_body_send_mode` is unset, the default value `STREAMED` is used. When this field is set to `FULL_DUPLEX_STREAMED`, `supported_events` must include both `RESPONSE_BODY` and `RESPONSE_TRAILERS`. This field can be set only for `LbTrafficExtension` resources, and only when the `service` field of the extension points to a `BackendService`."
          }
        },
        "observabilityMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to `true`, the calls to the extension backend are performed asynchronously, without pausing the processing of the ongoing request. In this mode, only `STREAMED` (default) body processing is supported. Responses, if any, are ignored. Supported by regional `LbTrafficExtension` and `LbRouteExtension` resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single extension in the chain to execute for the matching request."
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtensionSupportedEventsItemEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "REQUEST_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_HEADERS"
          }
        },
        "REQUEST_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_BODY"
          }
        },
        "RESPONSE_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_HEADERS"
          }
        },
        "RESPONSE_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_BODY"
          }
        },
        "REQUEST_TRAILERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TRAILERS"
          }
        },
        "RESPONSE_TRAILERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_TRAILERS"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtensionSupportedEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#ExtensionChainExtensionSupportedEventsItemEnum"
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtensionRequestBodySendModeEnum": {
      "type": "enum",
      "members": {
        "BODY_SEND_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_UNSPECIFIED"
          }
        },
        "BODY_SEND_MODE_STREAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_STREAMED"
          }
        },
        "BODY_SEND_MODE_FULL_DUPLEX_STREAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_FULL_DUPLEX_STREAMED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ExtensionChainExtensionResponseBodySendModeEnum": {
      "type": "enum",
      "members": {
        "BODY_SEND_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_UNSPECIFIED"
          }
        },
        "BODY_SEND_MODE_STREAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_STREAMED"
          }
        },
        "BODY_SEND_MODE_FULL_DUPLEX_STREAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY_SEND_MODE_FULL_DUPLEX_STREAMED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListLbRouteExtensionsResponse": {
      "type": "structure",
      "members": {
        "lbRouteExtensions": {
          "target": "com.gcp.networkservices_v1beta1#LbRouteExtensionList",
          "traits": {
            "smithy.api#documentation": "The list of `LbRouteExtension` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results that the server returns."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing `LbRouteExtension` resources."
      }
    },
    "com.gcp.networkservices_v1beta1#LbRouteExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#LbRouteExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#LbRouteExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `LbRouteExtension` resource in the following format: `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `LbRouteExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources."
          }
        },
        "forwardingRules": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbRouteExtension` resource can be associated with a forwarding rule."
          }
        },
        "extensionChains": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainList",
          "traits": {
            "smithy.api#documentation": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networkservices_v1beta1#LbRouteExtensionLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        },
        "metadata": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_route_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`LbRouteExtension` is a resource that lets you control where traffic is routed to for a given request."
      }
    },
    "com.gcp.networkservices_v1beta1#LbRouteExtensionLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListLbEdgeExtensionsResponse": {
      "type": "structure",
      "members": {
        "lbEdgeExtensions": {
          "target": "com.gcp.networkservices_v1beta1#LbEdgeExtensionList",
          "traits": {
            "smithy.api#documentation": "The list of `LbEdgeExtension` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results that the server returns."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing `LbEdgeExtension` resources."
      }
    },
    "com.gcp.networkservices_v1beta1#LbEdgeExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#LbEdgeExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#LbEdgeExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `LbEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `LbEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources."
          }
        },
        "forwardingRules": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbEdgeExtension` resource can be associated with a forwarding rule."
          }
        },
        "extensionChains": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainList",
          "traits": {
            "smithy.api#documentation": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networkservices_v1beta1#LbEdgeExtensionLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Required. All forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `EXTERNAL_MANAGED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`LbEdgeExtension` is a resource that lets the extension service influence the selection of backend services and Cloud CDN cache keys by modifying request headers."
      }
    },
    "com.gcp.networkservices_v1beta1#LbEdgeExtensionLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListLbTcpExtensionsResponse": {
      "type": "structure",
      "members": {
        "lbTcpExtensions": {
          "target": "com.gcp.networkservices_v1beta1#LbTcpExtensionList",
          "traits": {
            "smithy.api#documentation": "The list of `LbTcpExtension` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results that the server returns."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing `LbTcpExtension` resources."
      }
    },
    "com.gcp.networkservices_v1beta1#LbTcpExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#LbTcpExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#LbTcpExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `LbTcpExtension` resource in the following format: `projects/{project}/locations/{location}/LbTcpExtension/{lb_tcp_extension}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `LbTcpExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources."
          }
        },
        "extensionChains": {
          "target": "com.gcp.networkservices_v1beta1#ExtensionChainList",
          "traits": {
            "smithy.api#documentation": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networkservices_v1beta1#LbTcpExtensionLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        },
        "networks": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, this `LbTcpExtension` resource applies to all `ForwardingRule` resources in these VPC networks. Values should be relative resource names identifying VPC networks, for example `projects/*/global/networks/network-1`. Currently limited to 1 network per resource. Limited to 1 network per resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`LbTcpExtension` is a resource that allows traffic forwarding to different backend services to make allow/deny decisions on TCP connections for all L7 Load Balancers within a network. Currently only internal load-balancers are supported."
      }
    },
    "com.gcp.networkservices_v1beta1#LbTcpExtensionLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListAuthzExtensionsResponse": {
      "type": "structure",
      "members": {
        "authzExtensions": {
          "target": "com.gcp.networkservices_v1beta1#AuthzExtensionList",
          "traits": {
            "smithy.api#documentation": "The list of `AuthzExtension` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results that the server returns."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing `AuthzExtension` resources."
      }
    },
    "com.gcp.networkservices_v1beta1#AuthzExtensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#AuthzExtension"
      }
    },
    "com.gcp.networkservices_v1beta1#AuthzExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the `AuthzExtension` resource in the following format: `projects/{project}/locations/{location}/authzExtensions/{authz_extension}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `AuthzExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources."
          }
        },
        "loadBalancingScheme": {
          "target": "com.gcp.networkservices_v1beta1#AuthzExtensionLoadBalancingSchemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. Can be omitted for AuthzExtensions that do not reference a backend service. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
          }
        },
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. It is required when the `service` field points to a backend service or a wasm plugin."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reference to the service that runs the extension. To configure a callout extension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}` or `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the timeout for each individual message on the stream. The timeout must be between 10-10000 milliseconds."
          }
        },
        "failOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
          }
        },
        "metadata": {
          "target": "com.gcp.networkservices_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata is available under the namespace `com.google.authz_extension.`. The following variables are supported in the metadata Struct: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name."
          }
        },
        "forwardHeaders": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of the HTTP headers to forward to the extension (from the client). If omitted, all headers are sent. Each element is a string indicating the header name."
          }
        },
        "forwardAttributes": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name."
          }
        },
        "wireFormat": {
          "target": "com.gcp.networkservices_v1beta1#AuthzExtensionWireFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The format of communication supported by the callout extension. This field is supported only for regional `AuthzExtension` resources. If not specified, the default value `EXT_PROC_GRPC` is used. Global `AuthzExtension` resources use the `EXT_PROC_GRPC` wire format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`AuthzExtension` is a resource that allows traffic forwarding to a callout backend service to make an authorization decision."
      }
    },
    "com.gcp.networkservices_v1beta1#AuthzExtensionLoadBalancingSchemeEnum": {
      "type": "enum",
      "members": {
        "LOAD_BALANCING_SCHEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_BALANCING_SCHEME_UNSPECIFIED"
          }
        },
        "INTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_MANAGED"
          }
        },
        "EXTERNAL_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MANAGED"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#AuthzExtensionWireFormatEnum": {
      "type": "enum",
      "members": {
        "WIRE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIRE_FORMAT_UNSPECIFIED"
          }
        },
        "EXT_PROC_GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXT_PROC_GRPC"
          }
        },
        "EXT_AUTHZ_GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXT_AUTHZ_GRPC"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListEndpointPoliciesResponse": {
      "type": "structure",
      "members": {
        "endpointPolicies": {
          "target": "com.gcp.networkservices_v1beta1#EndpointPolicyList",
          "traits": {
            "smithy.api#documentation": "List of EndpointPolicy resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListEndpointPolicies method."
      }
    },
    "com.gcp.networkservices_v1beta1#EndpointPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#EndpointPolicy"
      }
    },
    "com.gcp.networkservices_v1beta1#EndpointPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/*/endpointPolicies/{endpoint_policy}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the EndpointPolicy resource."
          }
        },
        "type": {
          "target": "com.gcp.networkservices_v1beta1#EndpointPolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of endpoint policy. This is primarily used to validate the configuration."
          }
        },
        "authorizationPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint."
          }
        },
        "endpointMatcher": {
          "target": "com.gcp.networkservices_v1beta1#EndpointMatcher",
          "traits": {
            "smithy.api#documentation": "Required. A matcher that selects endpoints to which the policies should be applied."
          }
        },
        "trafficPortSelector": {
          "target": "com.gcp.networkservices_v1beta1#TrafficPortSelector",
          "traits": {
            "smithy.api#documentation": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A free-text description of the resource. Max length 1024 characters."
          }
        },
        "serverTlsPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint."
          }
        },
        "clientTlsPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY."
          }
        },
        "securityPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL referring to a SecurityPolicy resource. SecurityPolicy is used to enforce rate limiting policy on the inbound traffic at the identified backends. If this field is not set, rate limiting is disabled for this endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080."
      }
    },
    "com.gcp.networkservices_v1beta1#EndpointPolicyTypeEnum": {
      "type": "enum",
      "members": {
        "ENDPOINT_POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_POLICY_TYPE_UNSPECIFIED"
          }
        },
        "SIDECAR_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIDECAR_PROXY"
          }
        },
        "GRPC_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC_SERVER"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#EndpointMatcher": {
      "type": "structure",
      "members": {
        "metadataLabelMatcher": {
          "target": "com.gcp.networkservices_v1beta1#MetadataLabelMatcher",
          "traits": {
            "smithy.api#documentation": "The matcher is based on node metadata presented by xDS clients."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A definition of a matcher that selects endpoints to which the policies should be applied."
      }
    },
    "com.gcp.networkservices_v1beta1#MetadataLabelMatcher": {
      "type": "structure",
      "members": {
        "metadataLabelMatchCriteria": {
          "target": "com.gcp.networkservices_v1beta1#MetadataLabelMatcherMetadataLabelMatchCriteriaEnum",
          "traits": {
            "smithy.api#documentation": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), pick up the one with older creation time."
          }
        },
        "metadataLabels": {
          "target": "com.gcp.networkservices_v1beta1#MetadataLabelsList",
          "traits": {
            "smithy.api#documentation": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The matcher that is based on node metadata presented by xDS clients."
      }
    },
    "com.gcp.networkservices_v1beta1#MetadataLabelMatcherMetadataLabelMatchCriteriaEnum": {
      "type": "enum",
      "members": {
        "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED"
          }
        },
        "MATCH_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_ANY"
          }
        },
        "MATCH_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_ALL"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#MetadataLabelsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#MetadataLabels"
      }
    },
    "com.gcp.networkservices_v1beta1#MetadataLabels": {
      "type": "structure",
      "members": {
        "labelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Label name presented as key in xDS Node Metadata."
          }
        },
        "labelValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a name-pair value for a single label."
      }
    },
    "com.gcp.networkservices_v1beta1#TrafficPortSelector": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification of a port-based selector."
      }
    },
    "com.gcp.networkservices_v1beta1#ListWasmPluginVersionsResponse": {
      "type": "structure",
      "members": {
        "wasmPluginVersions": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginVersionList",
          "traits": {
            "smithy.api#documentation": "List of `WasmPluginVersion` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the `ListWasmPluginVersions` method."
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#WasmPluginVersion"
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginVersion": {
      "type": "structure",
      "members": {
        "pluginConfigData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` resource is created, the digest of the contents is saved in the `plugin_config_digest` field."
          }
        },
        "pluginConfigUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the `WasmPluginVersion` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}/ versions/{wasm_plugin_version}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `WasmPluginVersion` resource."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field."
          }
        },
        "imageDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file."
          }
        },
        "pluginConfigDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single immutable version of a `WasmPlugin` resource. Defines the Wasm module used and optionally its runtime config."
      }
    },
    "com.gcp.networkservices_v1beta1#ListWasmPluginsResponse": {
      "type": "structure",
      "members": {
        "wasmPlugins": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginList",
          "traits": {
            "smithy.api#documentation": "List of `WasmPlugin` resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the `ListWasmPlugins` method."
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#WasmPlugin"
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPlugin": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the `WasmPlugin` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `WasmPlugin` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements)."
          }
        },
        "mainVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the `WasmPluginVersion` resource that is the currently serving one. The version referred to must be a child of this `WasmPlugin` resource."
          }
        },
        "logConfig": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginLogConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging. Note that the settings relate to the logs generated by using logging statements in your Wasm code."
          }
        },
        "versions": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginVersionDetailsMap",
          "traits": {
            "smithy.api#documentation": "Optional. All versions of this `WasmPlugin` resource in the key-value format. The key is the resource ID, and the value is the `VersionDetails` object. Lets you create or update a `WasmPlugin` resource and its versions in a single request. When the `main_version_id` field is not empty, it must point to one of the `VersionDetails` objects in the map. If provided in a `PATCH` request, the new versions replace the previous set. Any version omitted from the `versions` field is removed. Because the `WasmPluginVersion` resource is immutable, if a `WasmPluginVersion` resource with the same name already exists and differs, the request fails. Note: In a `GET` request, this field is populated only if the field `GetWasmPluginRequest.view` is set to `WASM_PLUGIN_VIEW_FULL`."
          }
        },
        "usedBy": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginUsedByList",
          "traits": {
            "smithy.api#documentation": "Output only. List of all [extensions](https://cloud.google.com/service-extensions/docs/overview) that use this `WasmPlugin` resource."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the customer-managed [CryptoKey](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys) to be used to encrypt the `WasmPlugin` image (provided by image_uri) and configuration (provided by plugin_config_data or plugin_config_uri) that are stored by the `Service Extensions` product at rest. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}` By default, Google Cloud automatically encrypts all data at rest using Google-owned and Google-managed encryption keys. If you need ownership and control of the keys that protect your data at rest, you can specify a customer-managed encryption key (CMEK) to encrypt your `WasmPlugin` data. For more information, see [Using customer-managed encryption keys](https://cloud.google.com/service-extensions/docs/cmek)."
          }
        },
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the specific [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions) used to encrypt the `WasmPlugin` data, if the kms_key_name field is set. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}` This is a read-only field. `WasmPlugin` data is automatically encrypted using the most recent `CryptoKeyVersion` of the `CryptoKey` provided in the `kms_key_name` field. See [Cloud KMS resources](https://cloud.google.com/kms/docs/resource-hierarchy) for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`WasmPlugin` is a resource representing a service executing a customer-provided Wasm module."
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginVersionDetailsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.networkservices_v1beta1#WasmPluginVersionDetails"
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginUsedByList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#WasmPluginUsedBy"
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginLogConfig": {
      "type": "structure",
      "members": {
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether to enable logging for activity by this plugin. Defaults to `false`."
          }
        },
        "sampleRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Non-empty default. Configures the sampling rate of activity logs, where `1.0` means all logged activity is reported and `0.0` means no activity is reported. A floating point value between `0.0` and `1.0` indicates that a percentage of log messages is stored. The default value when logging is enabled is `1.0`. The value of the field must be between `0` and `1` (inclusive). This field can be specified only if logging is enabled for this plugin."
          }
        },
        "minLogLevel": {
          "target": "com.gcp.networkservices_v1beta1#WasmPluginLogConfigMinLogLevelEnum",
          "traits": {
            "smithy.api#documentation": "Non-empty default. Specifies the lowest level of the plugin logs that are exported to Cloud Logging. This setting relates to the logs generated by using logging statements in your Wasm code. This field is can be set only if logging is enabled for the plugin. If the field is not provided when logging is enabled, it is set to `INFO` by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging."
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginLogConfigMinLogLevelEnum": {
      "type": "enum",
      "members": {
        "LOG_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_LEVEL_UNSPECIFIED"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginVersionDetails": {
      "type": "structure",
      "members": {
        "pluginConfigData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` version is created, the digest of the contents is saved in the `plugin_config_digest` field."
          }
        },
        "pluginConfigUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A human-readable description of the resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with the `WasmPluginVersion` resource."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field."
          }
        },
        "imageDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file."
          }
        },
        "pluginConfigDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a `WasmPluginVersion` resource to be inlined in the `WasmPlugin` resource."
      }
    },
    "com.gcp.networkservices_v1beta1#WasmPluginUsedBy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, for example `//networkservices.googleapis.com/projects/{project}/locations/{location}/lbRouteExtensions/{extension}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a resource that uses the `WasmPlugin` resource."
      }
    },
    "com.gcp.networkservices_v1beta1#ListGatewaysResponse": {
      "type": "structure",
      "members": {
        "gateways": {
          "target": "com.gcp.networkservices_v1beta1#GatewayList",
          "traits": {
            "smithy.api#documentation": "List of Gateway resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListGateways method."
      }
    },
    "com.gcp.networkservices_v1beta1#GatewayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#Gateway"
      }
    },
    "com.gcp.networkservices_v1beta1#Gateway": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URL of this resource"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the Gateway resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A free-text description of the resource. Max length 1024 characters."
          }
        },
        "type": {
          "target": "com.gcp.networkservices_v1beta1#GatewayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned."
          }
        },
        "addresses": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Zero or one IPv4 or IPv6 address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6."
          }
        },
        "ports": {
          "target": "com.gcp.networkservices_v1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 5 ports. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6 and support multiple ports."
          }
        },
        "allPorts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the Gateway will listen on all ports. This is mutually exclusive with the `ports` field. This field only applies to gateways of type 'SECURE_WEB_GATEWAY'."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single configuration to the proxy/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens."
          }
        },
        "serverTlsPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled."
          }
        },
        "certificateUrls": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A fully-qualified Certificates URL reference. The proxy presents a Certificate (selected based on SNI) when establishing a TLS connection. This feature only applies to gateways of type 'SECURE_WEB_GATEWAY'."
          }
        },
        "gatewaySecurityPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A fully-qualified GatewaySecurityPolicy URL reference. Defines how a server should apply security policy to inbound (VM to Proxy) initiated connections. For example: `projects/*/locations/*/gatewaySecurityPolicies/swg-policy`. This policy is specific to gateways of type 'SECURE_WEB_GATEWAY'."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative resource name identifying the VPC network that is using this configuration. For example: `projects/*/global/networks/network-1`. Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY'."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The relative resource name identifying the subnetwork in which this SWG is allocated. For example: `projects/*/regions/us-central1/subnetworks/network-1` Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY\"."
          }
        },
        "ipVersion": {
          "target": "com.gcp.networkservices_v1beta1#GatewayIpVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The IP Version that will be used by this gateway. Valid options are IPV4 or IPV6. Default is IPV4."
          }
        },
        "envoyHeaders": {
          "target": "com.gcp.networkservices_v1beta1#GatewayEnvoyHeadersEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Determines if envoy will insert internal debug headers into upstream requests. Other Envoy headers may still be injected. By default, envoy will not insert any debug headers."
          }
        },
        "routingMode": {
          "target": "com.gcp.networkservices_v1beta1#GatewayRoutingModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The routing mode of the Gateway. This field is configurable only for gateways of type SECURE_WEB_GATEWAY. This field is required for gateways of type SECURE_WEB_GATEWAY."
          }
        },
        "allowGlobalAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the gateway will allow traffic from clients outside of the region where the gateway is located. This field is configurable only for gateways of type SECURE_WEB_GATEWAY."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway."
      }
    },
    "com.gcp.networkservices_v1beta1#GatewayTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "OPEN_MESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_MESH"
          }
        },
        "SECURE_WEB_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_WEB_GATEWAY"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.networkservices_v1beta1#GatewayIpVersionEnum": {
      "type": "enum",
      "members": {
        "IP_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_VERSION_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#GatewayEnvoyHeadersEnum": {
      "type": "enum",
      "members": {
        "ENVOY_HEADERS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVOY_HEADERS_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DEBUG_HEADERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG_HEADERS"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#GatewayRoutingModeEnum": {
      "type": "enum",
      "members": {
        "EXPLICIT_ROUTING_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLICIT_ROUTING_MODE"
          }
        },
        "NEXT_HOP_ROUTING_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_HOP_ROUTING_MODE"
          }
        }
      }
    },
    "com.gcp.networkservices_v1beta1#ListGrpcRoutesResponse": {
      "type": "structure",
      "members": {
        "grpcRoutes": {
          "target": "com.gcp.networkservices_v1beta1#GrpcRouteList",
          "traits": {
            "smithy.api#documentation": "List of GrpcRoute resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response returned by the ListGrpcRoutes method."
      }
    },
    "com.gcp.networkservices_v1beta1#GrpcRouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkservices_v1beta1#GrpcRoute"
      }
    },
    "com.gcp.networkservices_v1beta1#GrpcRoute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/*/grpcRoutes/`"
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URL of this resource"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was updated."
          }
        },
        "labels": {
          "target": "com.gcp.networkservices_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of label tags associated with the GrpcRoute resource."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A free-text description of the resource. Max length 1024 characters."
          }
        },
        "hostnames": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same route, it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`. If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\")."
          }
        },
        "meshes": {
          "target": "com.gcp.networkservices_v1beta1#StringList",
          "traits": {
[...]
