{
  "smithy": "2.0",
  "metadata": {
    "service": "networkconnectivity",
    "version": "v1alpha1",
    "title": "Network Connectivity API",
    "baseUrl": "https://networkconnectivity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.networkconnectivity_v1alpha1#RouterApplianceInstance": {
      "type": "structure",
      "members": {
        "virtualMachine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the virtual machine resource"
          }
        },
        "networkInterface": {
          "target": "smithy.api#String"
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the network interface to use for peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RouterAppliance represents a Router appliance which is specified by a VM URI and a NIC address."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListSpokesResponse": {
      "type": "structure",
      "members": {
        "spokes": {
          "target": "com.gcp.networkconnectivity_v1alpha1#SpokeList",
          "traits": {
            "smithy.api#documentation": "Spokes to be returned."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for HubService.ListSpokes."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SpokeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Spoke"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.networkconnectivity_v1alpha1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#AuditLogConfig"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.networkconnectivity_v1alpha1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.networkconnectivity_v1alpha1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Location"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.networkconnectivity_v1alpha1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#DocumentMap"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListHubsResponse": {
      "type": "structure",
      "members": {
        "hubs": {
          "target": "com.gcp.networkconnectivity_v1alpha1#HubList",
          "traits": {
            "smithy.api#documentation": "Hubs to be returned."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for HubService.ListHubs method."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#HubList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Hub"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRange": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URL or resource ID of the network in which to reserve the internal range. The network cannot be deleted if there are any reserved internal ranges referring to it. Legacy networks are not supported. For example: https://www.googleapis.com/compute/v1/projects/{project}/locations/global/networks/{network} projects/{project}/locations/global/networks/{network} {network}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of an internal range. Format: projects/{project}/locations/{location}/internalRanges/{internal_range} See: https://google.aip.dev/122#fields-representing-resource-names"
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of this resource."
          }
        },
        "peering": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangePeeringEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of peering set for this internal range."
          }
        },
        "excludeCidrRanges": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. ExcludeCidrRanges flag. Specifies a set of CIDR blocks that allows exclusion of particular CIDR ranges from the auto-allocation process, without having to reserve these blocks"
          }
        },
        "users": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of resources that refer to this internal range. Resources that use the internal range for their range allocation are referred to as users of the range. Other resources mark themselves as users while doing so by creating a reference to this internal range. Having a user, based on this reference, prevents deletion of the internal range that is referred to. Can be empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the internal range was updated."
          }
        },
        "allocationOptions": {
          "target": "com.gcp.networkconnectivity_v1alpha1#AllocationOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Range auto-allocation options, may be set only when auto-allocation is selected by not setting ip_cidr_range (and setting prefix_length)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the internal range was created."
          }
        },
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IP range that this internal range defines. NOTE: IPv6 ranges are limited to usage=EXTERNAL_TO_VPC and peering=FOR_SELF. NOTE: For IPv6 Ranges this field is compulsory, i.e. the address range must be specified explicitly."
          }
        },
        "migration": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Migration",
          "traits": {
            "smithy.api#documentation": "Optional. Must be present if usage is set to FOR_MIGRATION."
          }
        },
        "rangeStatus": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangeRangeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the Internal Range."
          }
        },
        "usage": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangeUsageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of usage set for this internal range."
          }
        },
        "targetCidrRange": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Can be set to narrow down or pick a different address space while searching for a free range. If not set, defaults to the [\"10.0.0.0/8\", \"172.16.0.0/12\", \"192.168.0.0/16\"] address space (for auto-mode networks, the \"10.0.0.0/9\" range is used instead of \"10.0.0.0/8\"). This can be used to target the search in other rfc-1918 address spaces like \"172.16.0.0/12\" and \"192.168.0.0/16\" or non-rfc-1918 address spaces used in the VPC."
          }
        },
        "overlaps": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangeOverlapsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Types of resources that are allowed to overlap with the current internal range."
          }
        },
        "immutable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable ranges cannot have their fields modified, except for labels and description."
          }
        },
        "prefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An alternative to ip_cidr_range. Can be set when trying to create an IPv4 reservation that automatically finds a free range of the given size. If both ip_cidr_range and prefix_length are set, there is an error if the range sizes do not match. Can also be used during updates to change the range size. NOTE: For IPv6 this field only works if ip_cidr_range is set as well, and both fields must match. In other words, with IPv6 this field only works as a redundant parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The internal range resource for IPAM operations within a VPC network. Used to represent a private address range along with behavioral characteristics of that range (its usage and peering behavior). Networking resources can link to this range if they are created as belonging to it."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangePeeringEnum": {
      "type": "enum",
      "members": {
        "PEERING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEERING_UNSPECIFIED"
          }
        },
        "FOR_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_SELF"
          }
        },
        "FOR_PEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_PEER"
          }
        },
        "NOT_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SHARED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangeRangeStatusEnum": {
      "type": "enum",
      "members": {
        "RANGE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANGE_STATUS_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSOLETE"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangeUsageEnum": {
      "type": "enum",
      "members": {
        "USAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USAGE_UNSPECIFIED"
          }
        },
        "FOR_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_VPC"
          }
        },
        "EXTERNAL_TO_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_TO_VPC"
          }
        },
        "FOR_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOR_MIGRATION"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangeOverlapsItemEnum": {
      "type": "enum",
      "members": {
        "OVERLAP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_UNSPECIFIED"
          }
        },
        "OVERLAP_ROUTE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_ROUTE_RANGE"
          }
        },
        "OVERLAP_EXISTING_SUBNET_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERLAP_EXISTING_SUBNET_RANGE"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangeOverlapsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangeOverlapsItemEnum"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.networkconnectivity_v1alpha1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.networkconnectivity_v1alpha1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#AuditConfig"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Binding"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.networkconnectivity_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.networkconnectivity_v1alpha1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.networkconnectivity_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Spoke": {
      "type": "structure",
      "members": {
        "linkedInterconnectAttachments": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The URIs of linked interconnect attachment resources"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the Spoke was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a Spoke resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the Spoke was updated."
          }
        },
        "linkedRouterApplianceInstances": {
          "target": "com.gcp.networkconnectivity_v1alpha1#RouterApplianceInstanceList",
          "traits": {
            "smithy.api#documentation": "The URIs of linked Router appliance resources"
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1alpha1#SpokeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of this Hub."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of the spoke resource"
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all Spoke resources. If a Spoke resource is deleted and another with the same name is created, it gets a different unique_id."
          }
        },
        "hub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource URL of the hub resource that the spoke is attached to"
          }
        },
        "linkedVpnTunnels": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The URIs of linked VPN tunnel resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Spoke is an abstraction of a network attachment being attached to a Hub. A Spoke can be underlying a VPN tunnel, a VLAN (interconnect) attachment, a Router appliance, etc."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#RouterApplianceInstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#RouterApplianceInstance"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SpokeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Migration": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource path of the target resource. The target project can be different, as in the cases when migrating to peer networks. For example: /projects/{project}/regions/{region}/subnetworks/{subnet}"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource path as an URI of the source resource, for example a subnet. The project for the source resource should match the project for the InternalRange. An example: /projects/{project}/regions/{region}/subnetworks/{subnet}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for migration with source and target resource names."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.networkconnectivity_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Hub": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a Hub resource."
          }
        },
        "labels": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined labels."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the Hub was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of the hub resource."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-generated UUID for this resource. This is unique across all Hub resources. If a Hub resource is deleted and another with the same name is created, it gets a different unique_id."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the Hub was updated."
          }
        },
        "spokes": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of the URIs of all attached spokes. This field is deprecated and will not be included in future API versions. Call ListSpokes on each region instead."
          }
        },
        "state": {
          "target": "com.gcp.networkconnectivity_v1alpha1#HubStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current lifecycle state of this Hub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Connectivity Center is a hub-and-spoke abstraction for network connectivity management in Google Cloud. It reduces operational complexity through a simple, centralized connectivity management model. Following is the resource message of a hub."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#HubStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AllocationOptions": {
      "type": "structure",
      "members": {
        "allocationStrategy": {
          "target": "com.gcp.networkconnectivity_v1alpha1#AllocationOptionsAllocationStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Allocation strategy. Not setting this field when the allocation is requested means an implementation defined strategy is used."
          }
        },
        "firstAvailableRangesLookupSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. This field must be set only when allocation_strategy is set to RANDOM_FIRST_N_AVAILABLE. The value should be the maximum expected parallelism of range creation requests issued to the same space of peered netwroks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Range auto-allocation options, to be optionally used when CIDR block is not explicitly set."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#AllocationOptionsAllocationStrategyEnum": {
      "type": "enum",
      "members": {
        "ALLOCATION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOCATION_STRATEGY_UNSPECIFIED"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM"
          }
        },
        "FIRST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_AVAILABLE"
          }
        },
        "RANDOM_FIRST_N_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM_FIRST_N_AVAILABLE"
          }
        },
        "FIRST_SMALLEST_FITTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_SMALLEST_FITTING"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListInternalRangesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
          }
        },
        "internalRanges": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRangeList",
          "traits": {
            "smithy.api#documentation": "Internal range to be returned."
          }
        },
        "unreachable": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for InternalRange.ListInternalRanges"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#InternalRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.networkconnectivity_v1alpha1#InternalRange"
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.networkconnectivity_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of a Spoke resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Spoke resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Spoke",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a Network Connectivity Center spoke."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Spoke to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Deletes a Network Connectivity Center spoke."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of Spoke resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Spoke"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets details about a Network Connectivity Center spoke."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent's resource name of the Spoke.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spokeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Unique id for the Spoke to create.",
            "smithy.api#httpQuery": "spokeId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Spoke",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+parent}/spokes"
        },
        "smithy.api#documentation": "Creates a Network Connectivity Center spoke."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsSpokesRequest": {
      "type": "structure",
      "members": {
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sort the results by a certain order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent's resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results per page that should be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter expression that filters the results listed in the response.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsSpokes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsSpokesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListSpokesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+parent}/spokes"
        },
        "smithy.api#documentation": "Lists the Network Connectivity Center spokes in a specified project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource's name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results per page that should be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter expression that filters the results listed in the response.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sort the results by a certain order.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#ListInternalRangesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+parent}/internalRanges"
        },
        "smithy.api#documentation": "Lists internal ranges in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource's name of the InternalRange.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "internalRangeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource ID (i.e. 'foo' in '[...]/projects/p/locations/l/internalRanges/foo') See https://google.aip.dev/122#resource-id-segments Unique per location.",
            "smithy.api#httpQuery": "internalRangeId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRange",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+parent}/internalRanges"
        },
        "smithy.api#documentation": "Creates a new internal range in a given project and location."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GetIamPolicyProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the InternalRange to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GetProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#InternalRange"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single internal range."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#SetIamPolicyProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of an internal range. Format: projects/{project}/locations/{location}/internalRanges/{internal_range} See: https://google.aip.dev/122#fields-representing-resource-names",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the internal range resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#InternalRange",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#PatchProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single internal range."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsInternalRangesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the InternalRange to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsInternalRanges": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#DeleteProjectsLocationsInternalRangesRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single internal range."
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsGlobalHubsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "hubId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Unique id for the Hub to create.",
            "smithy.api#httpQuery": "hubId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource's name of the Hub.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.networkconnectivity_v1alpha1#Hub",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsGlobalHubs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.networkconnectivity_v1alpha1#CreateProjectsLocationsGlobalHubsRequest"
      },
      "output": {
        "target": "com.gcp.networkconnectivity_v1alpha1#GoogleLongrunningOperation"
      },
      "errors": [
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#NotFound"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#Forbidden"
        },
        {
          "target": "com.gcp.networkconnectivity_v1alpha1#BadRequest"
[...]
