{
  "smithy": "2.0",
  "metadata": {
    "service": "notebooks",
    "version": "v1",
    "title": "Notebooks API",
    "baseUrl": "https://notebooks.googleapis.com/"
  },
  "shapes": {
    "com.gcp.notebooks_v1#ReportInstanceInfoRequest": {
      "type": "structure",
      "members": {
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
          }
        },
        "metadata": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The metadata reported to Notebooks API. This will be merged to the instance metadata store"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for notebook instances to report information to Notebooks API."
      }
    },
    "com.gcp.notebooks_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.notebooks_v1#RuntimeGuestOsFeature": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a supported feature. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Valid values: * `FEATURE_TYPE_UNSPECIFIED` * `MULTI_IP_SUBNET` * `SECURE_BOOT` * `UEFI_COMPATIBLE` * `VIRTIO_SCSI_MULTIQUEUE` * `WINDOWS`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Guest OS features for boot disk."
      }
    },
    "com.gcp.notebooks_v1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.notebooks_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.notebooks_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.notebooks_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.notebooks_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.notebooks_v1#RuntimeSoftwareConfig": {
      "type": "structure",
      "members": {
        "disableTerminal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Bool indicating whether JupyterLab terminal will be available or not. Default: False"
          }
        },
        "postStartupScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`)."
          }
        },
        "installGpuDriver": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Install Nvidia Driver automatically. Default: True"
          }
        },
        "mixerDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Bool indicating whether mixer client should be disabled. Default: False"
          }
        },
        "enableHealthMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Verifies core internal services are running. Default: True"
          }
        },
        "idleShutdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Runtime will automatically shutdown after idle_shutdown_time. Default: True"
          }
        },
        "idleShutdownTimeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in minutes to wait before shutting down runtime. Default: 180 minutes"
          }
        },
        "customGpuDriverPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers."
          }
        },
        "upgradeable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Bool indicating whether an newer image is available in an image family."
          }
        },
        "postStartupScriptBehavior": {
          "target": "com.gcp.notebooks_v1#RuntimeSoftwareConfigPostStartupScriptBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Behavior for the post startup script."
          }
        },
        "notebookUpgradeSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. version of boot image such as M100, from release label of the image."
          }
        },
        "kernels": {
          "target": "com.gcp.notebooks_v1#ContainerImageList",
          "traits": {
            "smithy.api#documentation": "Optional. Use a list of container images to use as Kernels in the notebook instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`"
      }
    },
    "com.gcp.notebooks_v1#RuntimeSoftwareConfigPostStartupScriptBehaviorEnum": {
      "type": "enum",
      "members": {
        "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED"
          }
        },
        "RUN_EVERY_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUN_EVERY_START"
          }
        },
        "DOWNLOAD_AND_RUN_EVERY_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOAD_AND_RUN_EVERY_START"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ContainerImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#ContainerImage"
      }
    },
    "com.gcp.notebooks_v1#DiagnoseInstanceRequest": {
      "type": "structure",
      "members": {
        "diagnosticConfig": {
          "target": "com.gcp.notebooks_v1#DiagnosticConfig",
          "traits": {
            "smithy.api#documentation": "Required. Defines flags that are used to run the diagnostic tool"
          }
        },
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum amount of time in minutes before the operation times out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for creating a notebook instance diagnostic file."
      }
    },
    "com.gcp.notebooks_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.notebooks_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.notebooks_v1#ShieldedInstanceConfig": {
      "type": "structure",
      "members": {
        "enableIntegrityMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
          }
        },
        "enableSecureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default."
          }
        },
        "enableVtpm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has the vTPM enabled. Enabled by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid."
      }
    },
    "com.gcp.notebooks_v1#GetInstanceHealthResponse": {
      "type": "structure",
      "members": {
        "healthState": {
          "target": "com.gcp.notebooks_v1#GetInstanceHealthResponseHealthStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime health_state."
          }
        },
        "healthInfo": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for checking if a notebook instance is healthy."
      }
    },
    "com.gcp.notebooks_v1#GetInstanceHealthResponseHealthStateEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "AGENT_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_NOT_INSTALLED"
          }
        },
        "AGENT_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_NOT_RUNNING"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#SetInstanceLabelsRequest": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels to apply to this instance. These can be later modified by the setLabels method"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for setting instance labels."
      }
    },
    "com.gcp.notebooks_v1#UpdateInstanceMetadataItemsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of items that were added/updated to/in the metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for adding/changing metadata items for an instance."
      }
    },
    "com.gcp.notebooks_v1#DiagnosticConfig": {
      "type": "structure",
      "members": {
        "packetCaptureFlagEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables flag to capture packets from the instance for 30 seconds"
          }
        },
        "repairFlagEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables flag to repair service for instance"
          }
        },
        "gcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User Cloud Storage bucket location (REQUIRED). Must be formatted with path prefix (`gs://$GCS_BUCKET`). Permissions: User Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account attached to VM. Google Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account or user credentials attached to VM depending on authentication mode. Cloud Storage bucket Log file will be written to `gs://$GCS_BUCKET/$RELATIVE_PATH/$VM_DATE_$TIME.tar.gz`"
          }
        },
        "relativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the relative storage path in the Cloud Storage bucket where the diagnostic logs will be written: Default path will be the root directory of the Cloud Storage bucket (`gs://$GCS_BUCKET/$DATE_$TIME.tar.gz`) Example of full path where Log file will be written: `gs://$GCS_BUCKET/$RELATIVE_PATH/`"
          }
        },
        "copyHomeFilesFlagEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables flag to copy all `/home/jupyter` folder contents"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines flags that are used to run the diagnostic tool"
      }
    },
    "com.gcp.notebooks_v1#ListExecutionsResponse": {
      "type": "structure",
      "members": {
        "executions": {
          "target": "com.gcp.notebooks_v1#ExecutionList",
          "traits": {
            "smithy.api#documentation": "A list of returned instances."
          }
        },
        "unreachable": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Executions IDs that could not be reached. For example: ['projects/{project_id}/location/{location}/executions/imagenet_test1', 'projects/{project_id}/location/{location}/executions/classifier_train1']"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that can be used to continue listing from the last result in the next list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing scheduled notebook executions"
      }
    },
    "com.gcp.notebooks_v1#ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Execution"
      }
    },
    "com.gcp.notebooks_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.notebooks_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.notebooks_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.notebooks_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Location"
      }
    },
    "com.gcp.notebooks_v1#UpdateInstanceConfigRequest": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.notebooks_v1#InstanceConfig",
          "traits": {
            "smithy.api#documentation": "The instance configurations to be updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for updating instance configurations."
      }
    },
    "com.gcp.notebooks_v1#DataprocParameters": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters used in Dataproc JobType executions."
      }
    },
    "com.gcp.notebooks_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.notebooks_v1#EncryptionConfig": {
      "type": "structure",
      "members": {
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine."
      }
    },
    "com.gcp.notebooks_v1#InstanceMigrationEligibility": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.notebooks_v1#InstanceMigrationEligibilityWarningsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Certain configurations will be defaulted during the migration."
          }
        },
        "errors": {
          "target": "com.gcp.notebooks_v1#InstanceMigrationEligibilityErrorsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Certain configurations make the UmN ineligible for an automatic migration. A manual migration is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstanceMigrationEligibility represents the feasibility information of a migration from UmN to WbI."
      }
    },
    "com.gcp.notebooks_v1#InstanceMigrationEligibilityWarningsItemEnum": {
      "type": "enum",
      "members": {
        "WARNING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_UNSPECIFIED"
          }
        },
        "UNSUPPORTED_MACHINE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_MACHINE_TYPE"
          }
        },
        "UNSUPPORTED_ACCELERATOR_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ACCELERATOR_TYPE"
          }
        },
        "UNSUPPORTED_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_OS"
          }
        },
        "NO_REMOVE_DATA_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_REMOVE_DATA_DISK"
          }
        },
        "GCS_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCS_BACKUP"
          }
        },
        "POST_STARTUP_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#InstanceMigrationEligibilityWarningsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#InstanceMigrationEligibilityWarningsItemEnum"
      }
    },
    "com.gcp.notebooks_v1#InstanceMigrationEligibilityErrorsItemEnum": {
      "type": "enum",
      "members": {
        "ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_UNSPECIFIED"
          }
        },
        "DATAPROC_HUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC_HUB"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#InstanceMigrationEligibilityErrorsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#InstanceMigrationEligibilityErrorsItemEnum"
      }
    },
    "com.gcp.notebooks_v1#RuntimeAcceleratorConfig": {
      "type": "structure",
      "members": {
        "coreCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of cores of this accelerator."
          }
        },
        "type": {
          "target": "com.gcp.notebooks_v1#RuntimeAcceleratorConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Accelerator model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the types of hardware accelerators that can be used. See [Compute Engine AcceleratorTypes](https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes). Examples: * `nvidia-tesla-k80` * `nvidia-tesla-p100` * `nvidia-tesla-v100` * `nvidia-tesla-p4` * `nvidia-tesla-t4` * `nvidia-tesla-a100`"
      }
    },
    "com.gcp.notebooks_v1#RuntimeAcceleratorConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ACCELERATOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATOR_TYPE_UNSPECIFIED"
          }
        },
        "NVIDIA_TESLA_K80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_K80"
          }
        },
        "NVIDIA_TESLA_P100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100"
          }
        },
        "NVIDIA_TESLA_V100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_V100"
          }
        },
        "NVIDIA_TESLA_P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4"
          }
        },
        "NVIDIA_TESLA_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4"
          }
        },
        "NVIDIA_TESLA_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_A100"
          }
        },
        "NVIDIA_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_L4"
          }
        },
        "TPU_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2"
          }
        },
        "TPU_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3"
          }
        },
        "NVIDIA_TESLA_T4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4_VWS"
          }
        },
        "NVIDIA_TESLA_P100_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100_VWS"
          }
        },
        "NVIDIA_TESLA_P4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4_VWS"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#Environment": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of this environment for the UI."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this environment was created."
          }
        },
        "vmImage": {
          "target": "com.gcp.notebooks_v1#VmImage",
          "traits": {
            "smithy.api#documentation": "Use a Compute Engine VM image to start the notebook instance."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of this environment."
          }
        },
        "containerImage": {
          "target": "com.gcp.notebooks_v1#ContainerImage",
          "traits": {
            "smithy.api#documentation": "Use a container image to start the notebook instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`"
          }
        },
        "postStartupScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a software environment that is used to start a notebook instance."
      }
    },
    "com.gcp.notebooks_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.notebooks_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.notebooks_v1#ListRuntimesResponse": {
      "type": "structure",
      "members": {
        "runtimes": {
          "target": "com.gcp.notebooks_v1#RuntimeList",
          "traits": {
            "smithy.api#documentation": "A list of returned Runtimes."
          }
        },
        "unreachable": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached. For example, `['us-west1', 'us-central1']`. A ListRuntimesResponse will only contain either runtimes or unreachables,"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that can be used to continue listing from the last result in the next list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing Managed Notebook Runtimes."
      }
    },
    "com.gcp.notebooks_v1#RuntimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Runtime"
      }
    },
    "com.gcp.notebooks_v1#UpgradeRuntimeRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Idempotent request UUID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for upgrading a Managed Notebook Runtime to the latest version. option (google.api.message_visibility).restriction = \"TRUSTED_TESTER,SPECIAL_TESTER\";"
      }
    },
    "com.gcp.notebooks_v1#RuntimeMigrationEligibility": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.notebooks_v1#RuntimeMigrationEligibilityWarningsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Certain configurations will be defaulted during the migration."
          }
        },
        "errors": {
          "target": "com.gcp.notebooks_v1#RuntimeMigrationEligibilityErrorsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Certain configurations make the GmN ineligible for an automatic migration. A manual migration is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RuntimeMigrationEligibility represents the feasibility information of a migration from GmN to WbI."
      }
    },
    "com.gcp.notebooks_v1#RuntimeMigrationEligibilityWarningsItemEnum": {
      "type": "enum",
      "members": {
        "WARNING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING_UNSPECIFIED"
          }
        },
        "UNSUPPORTED_ACCELERATOR_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ACCELERATOR_TYPE"
          }
        },
        "UNSUPPORTED_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_OS"
          }
        },
        "RESERVED_IP_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED_IP_RANGE"
          }
        },
        "GOOGLE_MANAGED_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_MANAGED_NETWORK"
          }
        },
        "POST_STARTUP_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT"
          }
        },
        "SINGLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_USER"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#RuntimeMigrationEligibilityWarningsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#RuntimeMigrationEligibilityWarningsItemEnum"
      }
    },
    "com.gcp.notebooks_v1#RuntimeMigrationEligibilityErrorsItemEnum": {
      "type": "enum",
      "members": {
        "ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_UNSPECIFIED"
          }
        },
        "CUSTOM_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_CONTAINER"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#RuntimeMigrationEligibilityErrorsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#RuntimeMigrationEligibilityErrorsItemEnum"
      }
    },
    "com.gcp.notebooks_v1#UpgradeInstanceRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.notebooks_v1#UpgradeInstanceRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for upgrading a notebook instance"
      }
    },
    "com.gcp.notebooks_v1#UpgradeInstanceRequestTypeEnum": {
      "type": "enum",
      "members": {
        "UPGRADE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_TYPE_UNSPECIFIED"
          }
        },
        "UPGRADE_FRAMEWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_FRAMEWORK"
          }
        },
        "UPGRADE_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_OS"
          }
        },
        "UPGRADE_CUDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_CUDA"
          }
        },
        "UPGRADE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_ALL"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.notebooks_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.notebooks_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Operation"
      }
    },
    "com.gcp.notebooks_v1#AcceleratorConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.notebooks_v1#AcceleratorConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this accelerator."
          }
        },
        "coreCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of cores of this accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported."
      }
    },
    "com.gcp.notebooks_v1#AcceleratorConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ACCELERATOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATOR_TYPE_UNSPECIFIED"
          }
        },
        "NVIDIA_TESLA_K80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_K80"
          }
        },
        "NVIDIA_TESLA_P100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100"
          }
        },
        "NVIDIA_TESLA_V100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_V100"
          }
        },
        "NVIDIA_TESLA_P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4"
          }
        },
        "NVIDIA_TESLA_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4"
          }
        },
        "NVIDIA_TESLA_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_A100"
          }
        },
        "NVIDIA_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_L4"
          }
        },
        "NVIDIA_A100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_A100_80GB"
          }
        },
        "NVIDIA_TESLA_T4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4_VWS"
          }
        },
        "NVIDIA_TESLA_P100_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100_VWS"
          }
        },
        "NVIDIA_TESLA_P4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4_VWS"
          }
        },
        "NVIDIA_H100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_H100_80GB"
          }
        },
        "NVIDIA_H100_MEGA_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_H100_MEGA_80GB"
          }
        },
        "TPU_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2"
          }
        },
        "TPU_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#UpgradeInstanceInternalRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.notebooks_v1#UpgradeInstanceInternalRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance."
          }
        },
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for upgrading a notebook instance from within the VM"
      }
    },
    "com.gcp.notebooks_v1#UpgradeInstanceInternalRequestTypeEnum": {
      "type": "enum",
      "members": {
        "UPGRADE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_TYPE_UNSPECIFIED"
          }
        },
        "UPGRADE_FRAMEWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_FRAMEWORK"
          }
        },
        "UPGRADE_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_OS"
          }
        },
        "UPGRADE_CUDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_CUDA"
          }
        },
        "UPGRADE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_ALL"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ResetInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for resetting a notebook instance"
      }
    },
    "com.gcp.notebooks_v1#StopRuntimeRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Idempotent request UUID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for stopping a Managed Notebook Runtime."
      }
    },
    "com.gcp.notebooks_v1#ReservationAffinity": {
      "type": "structure",
      "members": {
        "consumeReservationType": {
          "target": "com.gcp.notebooks_v1#ReservationAffinityConsumeReservationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of reservation to consume"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Corresponds to the label key of reservation resource."
          }
        },
        "values": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Corresponds to the label values of reservation resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reservation Affinity for consuming Zonal reservation."
      }
    },
    "com.gcp.notebooks_v1#ReservationAffinityConsumeReservationTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESERVATION"
          }
        },
        "ANY_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_RESERVATION"
          }
        },
        "SPECIFIC_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPECIFIC_RESERVATION"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token that can be used to continue listing from the last result in the next list call."
          }
        },
        "environments": {
          "target": "com.gcp.notebooks_v1#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "A list of returned environments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing environments."
      }
    },
    "com.gcp.notebooks_v1#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Environment"
      }
    },
    "com.gcp.notebooks_v1#VertexAIParameters": {
      "type": "structure",
      "members": {
        "env": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables. At most 100 environment variables can be specified and unique. Example: `GCP_BUCKET=gs://my-bucket/samples/`"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where `{project}` is a project number, as in `12345`, and `{network}` is a network name. Private services access must already be configured for the network. If left unspecified, the job is not peered with any network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters used in Vertex AI JobType executions."
      }
    },
    "com.gcp.notebooks_v1#RuntimeShieldedInstanceConfig": {
      "type": "structure",
      "members": {
        "enableSecureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default."
          }
        },
        "enableVtpm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has the vTPM enabled. Enabled by default."
          }
        },
        "enableIntegrityMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid."
      }
    },
    "com.gcp.notebooks_v1#Disk": {
      "type": "structure",
      "members": {
        "autoDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a valid partial or full URL to an existing Persistent Disk resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the type of the disk, either `SCRATCH` or `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`"
          }
        },
        "guestOsFeatures": {
          "target": "com.gcp.notebooks_v1#GuestOsFeatureList",
          "traits": {
            "smithy.api#documentation": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options."
          }
        },
        "licenses": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks."
          }
        },
        "index": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number."
          }
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`"
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the size of the disk in base-2 GB."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`"
          }
        },
        "boot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. Always compute#attachedDisk for attached disks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An instance-attached disk resource."
      }
    },
    "com.gcp.notebooks_v1#GuestOsFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#GuestOsFeature"
      }
    },
    "com.gcp.notebooks_v1#ListSchedulesResponse": {
      "type": "structure",
      "members": {
        "schedules": {
          "target": "com.gcp.notebooks_v1#ScheduleList",
          "traits": {
            "smithy.api#documentation": "A list of returned instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that can be used to continue listing from the last result in the next list call."
          }
        },
        "unreachable": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for listing scheduled notebook job."
      }
    },
    "com.gcp.notebooks_v1#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Schedule"
      }
    },
    "com.gcp.notebooks_v1#UpgradeHistoryEntry": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this instance upgrade history entry is created."
          }
        },
        "state": {
          "target": "com.gcp.notebooks_v1#UpgradeHistoryEntryStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of this instance upgrade history entry."
          }
        },
        "vmImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM image before this instance upgrade."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the notebook instance before this upgrade."
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The framework of this notebook instance."
          }
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target VM Version, like m63."
          }
        },
        "action": {
          "target": "com.gcp.notebooks_v1#UpgradeHistoryEntryActionEnum",
          "traits": {
            "smithy.api#documentation": "Action. Rolloback or Upgrade."
          }
        },
        "snapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The snapshot of the boot disk of this notebook instance before upgrade."
          }
        },
        "targetImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target VM Image. Format: `ainotebooks-vm/project/image-name/name`."
          }
        },
        "containerImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container image before this instance upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entry of VM image upgrade history."
      }
    },
    "com.gcp.notebooks_v1#UpgradeHistoryEntryStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#UpgradeHistoryEntryActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.notebooks_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.notebooks_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#Binding"
      }
    },
    "com.gcp.notebooks_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.notebooks_v1#VirtualMachine": {
      "type": "structure",
      "members": {
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user-friendly name of the Managed Compute Engine instance."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the Managed Compute Engine instance."
          }
        },
        "virtualMachineConfig": {
          "target": "com.gcp.notebooks_v1#VirtualMachineConfig",
          "traits": {
            "smithy.api#documentation": "Virtual Machine configuration settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runtime using Virtual Machine for computing."
      }
    },
    "com.gcp.notebooks_v1#SetInstanceAcceleratorRequest": {
      "type": "structure",
      "members": {
        "coreCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Count of cores of this accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported."
          }
        },
        "type": {
          "target": "com.gcp.notebooks_v1#SetInstanceAcceleratorRequestTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of this accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for setting instance accelerator."
      }
    },
    "com.gcp.notebooks_v1#SetInstanceAcceleratorRequestTypeEnum": {
      "type": "enum",
      "members": {
        "ACCELERATOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATOR_TYPE_UNSPECIFIED"
          }
        },
        "NVIDIA_TESLA_K80": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_K80"
          }
        },
        "NVIDIA_TESLA_P100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100"
          }
        },
        "NVIDIA_TESLA_V100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_V100"
          }
        },
        "NVIDIA_TESLA_P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4"
          }
        },
        "NVIDIA_TESLA_T4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4"
          }
        },
        "NVIDIA_TESLA_A100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_A100"
          }
        },
        "NVIDIA_L4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_L4"
          }
        },
        "NVIDIA_A100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_A100_80GB"
          }
        },
        "NVIDIA_TESLA_T4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_T4_VWS"
          }
        },
        "NVIDIA_TESLA_P100_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P100_VWS"
          }
        },
        "NVIDIA_TESLA_P4_VWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_TESLA_P4_VWS"
          }
        },
        "NVIDIA_H100_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_H100_80GB"
          }
        },
        "NVIDIA_H100_MEGA_80GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVIDIA_H100_MEGA_80GB"
          }
        },
        "TPU_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V2"
          }
        },
        "TPU_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TPU_V3"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ExecutionTemplate": {
      "type": "structure",
      "members": {
        "masterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPU](https://cloud.google.com/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine)."
          }
        },
        "vertexAiParameters": {
          "target": "com.gcp.notebooks_v1#VertexAIParameters",
          "traits": {
            "smithy.api#documentation": "Parameters used in Vertex AI JobType executions."
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameters used within the 'input_notebook_file' notebook."
          }
        },
        "scaleTier": {
          "target": "com.gcp.notebooks_v1#ExecutionTemplateScaleTierEnum",
          "traits": {
            "smithy.api#documentation": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported."
          }
        },
        "dataprocParameters": {
          "target": "com.gcp.notebooks_v1#DataprocParameters",
          "traits": {
            "smithy.api#documentation": "Parameters used in Dataproc JobType executions."
          }
        },
        "paramsYamlFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parameters to be overridden in the notebook during execution. Ref https://papermill.readthedocs.io/en/latest/usage-parameterize.html on how to specifying parameters in the input notebook and pass them here in an YAML file. Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook_params.yaml`"
          }
        },
        "outputNotebookFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the notebook folder to write to. Must be in a Google Cloud Storage bucket path. Format: `gs://{bucket_name}/{folder}` Ex: `gs://notebook_user/scheduled_notebooks`"
          }
        },
        "jobType": {
          "target": "com.gcp.notebooks_v1#ExecutionTemplateJobTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of Job to be used on this execution."
          }
        },
        "acceleratorConfig": {
          "target": "com.gcp.notebooks_v1#SchedulerAcceleratorConfig",
          "traits": {
            "smithy.api#documentation": "Configuration (count and accelerator type) for hardware running notebook execution."
          }
        },
        "inputNotebookFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`"
          }
        },
        "containerImageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container Image URI to a DLVM Example: 'gcr.io/deeplearning-platform-release/base-cu100' More examples can be found at: https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container"
          }
        },
        "labels": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for execution. If execution is scheduled, a field included will be 'nbs-scheduled'. Otherwise, it is an immediate execution, and an included field will be 'nbs-immediate'. Use fields to efficiently index between various types of executions."
          }
        },
        "tensorboard": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`"
          }
        },
        "kernelSpec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the kernel spec to use. This must be specified if the kernel spec name on the execution target does not match the name in the input notebook file."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a service account to use when running the execution. You must have the `iam.serviceAccounts.actAs` permission for the specified service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description a notebook execution workload."
      }
    },
    "com.gcp.notebooks_v1#ExecutionTemplateScaleTierEnum": {
      "type": "enum",
      "members": {
        "SCALE_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALE_TIER_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "STANDARD_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_1"
          }
        },
        "PREMIUM_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM_1"
          }
        },
        "BASIC_GPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_GPU"
          }
        },
        "BASIC_TPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC_TPU"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#ExecutionTemplateJobTypeEnum": {
      "type": "enum",
      "members": {
        "JOB_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_TYPE_UNSPECIFIED"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        },
        "DATAPROC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPROC"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#MigrateInstanceRequest": {
      "type": "structure",
      "members": {
        "postStartupScriptOption": {
          "target": "com.gcp.notebooks_v1#MigrateInstanceRequestPostStartupScriptOptionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the behavior of post startup script during migration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for migrating a User-Managed Notebook to Workbench Instances."
      }
    },
    "com.gcp.notebooks_v1#MigrateInstanceRequestPostStartupScriptOptionEnum": {
      "type": "enum",
      "members": {
        "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED"
          }
        },
        "POST_STARTUP_SCRIPT_OPTION_SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT_OPTION_SKIP"
          }
        },
        "POST_STARTUP_SCRIPT_OPTION_RERUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_STARTUP_SCRIPT_OPTION_RERUN"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#StartRuntimeRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Idempotent request UUID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for starting a Managed Notebook Runtime."
      }
    },
    "com.gcp.notebooks_v1#RuntimeAccessConfig": {
      "type": "structure",
      "members": {
        "runtimeOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The owner of this runtime after creation. Format: `alias@example.com` Currently supports one owner only."
          }
        },
        "proxyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The proxy endpoint that is used to access the runtime."
          }
        },
        "accessType": {
          "target": "com.gcp.notebooks_v1#RuntimeAccessConfigAccessTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of access mode this instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the login configuration for Runtime"
      }
    },
    "com.gcp.notebooks_v1#RuntimeAccessConfigAccessTypeEnum": {
      "type": "enum",
      "members": {
        "RUNTIME_ACCESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNTIME_ACCESS_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_USER"
          }
        },
        "SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#SetInstanceMachineTypeRequest": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-resource)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for setting instance machine type."
      }
    },
    "com.gcp.notebooks_v1#Runtime": {
      "type": "structure",
      "members": {
        "softwareConfig": {
          "target": "com.gcp.notebooks_v1#RuntimeSoftwareConfig",
          "traits": {
            "smithy.api#documentation": "The config settings for software inside the runtime."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime update time."
          }
        },
        "runtimeMigrationEligibility": {
          "target": "com.gcp.notebooks_v1#RuntimeMigrationEligibility",
          "traits": {
            "smithy.api#documentation": "Output only. Checks how feasible a migration from GmN to WbI is."
          }
        },
        "metrics": {
          "target": "com.gcp.notebooks_v1#RuntimeMetrics",
          "traits": {
            "smithy.api#documentation": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime creation time."
          }
        },
        "state": {
          "target": "com.gcp.notebooks_v1#RuntimeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime state."
          }
        },
        "accessConfig": {
          "target": "com.gcp.notebooks_v1#RuntimeAccessConfig",
          "traits": {
            "smithy.api#documentation": "The config settings for accessing runtime."
          }
        },
        "labels": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels to associate with this Managed Notebook or Runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster."
          }
        },
        "migrated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Bool indicating whether this notebook has been migrated to a Workbench Instance"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`"
          }
        },
        "virtualMachine": {
          "target": "com.gcp.notebooks_v1#VirtualMachine",
          "traits": {
            "smithy.api#documentation": "Use a Compute Engine VM image to start the managed notebook instance."
          }
        },
        "healthState": {
          "target": "com.gcp.notebooks_v1#RuntimeHealthStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime health_state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a Runtime for a managed notebook instance."
      }
    },
    "com.gcp.notebooks_v1#RuntimeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADING"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#RuntimeHealthStateEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATE_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "AGENT_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_NOT_INSTALLED"
          }
        },
        "AGENT_NOT_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_NOT_RUNNING"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#RuntimeMetrics": {
      "type": "structure",
      "members": {
        "systemMetrics": {
          "target": "com.gcp.notebooks_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Output only. The system metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains runtime daemon metrics, such as OS and kernels and sessions stats."
      }
    },
    "com.gcp.notebooks_v1#LocalDisk": {
      "type": "structure",
      "members": {
        "boot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the resource. Always compute#attachedDisk for attached disks."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`"
          }
        },
        "initializeParams": {
          "target": "com.gcp.notebooks_v1#LocalDiskInitializeParams",
          "traits": {
            "smithy.api#documentation": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number."
          }
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`"
          }
        },
        "guestOsFeatures": {
          "target": "com.gcp.notebooks_v1#RuntimeGuestOsFeatureList",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options."
          }
        },
        "licenses": {
          "target": "com.gcp.notebooks_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Any valid publicly visible licenses."
          }
        },
        "autoDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a valid partial or full URL to an existing Persistent Disk resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the disk, either `SCRATCH` or `PERSISTENT`. If not specified, the default is `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Local attached disk resource."
      }
    },
    "com.gcp.notebooks_v1#RuntimeGuestOsFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.notebooks_v1#RuntimeGuestOsFeature"
      }
    },
    "com.gcp.notebooks_v1#Execution": {
      "type": "structure",
      "members": {
        "executionTemplate": {
          "target": "com.gcp.notebooks_v1#ExecutionTemplate",
          "traits": {
            "smithy.api#documentation": "execute metadata including name, hardware spec, region, labels, etc."
          }
        },
        "jobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the external job used to execute the notebook."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the Execution was last updated."
          }
        },
        "outputNotebookFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output notebook file generated by this execution"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of this execution."
          }
        },
        "state": {
          "target": "com.gcp.notebooks_v1#ExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the underlying AI Platform job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the Execution was instantiated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a single executed notebook."
      }
    },
    "com.gcp.notebooks_v1#ExecutionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        }
      }
    },
    "com.gcp.notebooks_v1#DiagnoseRuntimeRequest": {
      "type": "structure",
      "members": {
        "diagnosticConfig": {
          "target": "com.gcp.notebooks_v1#DiagnosticConfig",
          "traits": {
            "smithy.api#documentation": "Required. Defines flags that are used to run the diagnostic tool"
          }
        },
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum amount of time in minutes before the operation times out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for creating a notebook instance diagnostic file."
      }
    },
    "com.gcp.notebooks_v1#Schedule": {
      "type": "structure",
      "members": {
        "executionTemplate": {
          "target": "com.gcp.notebooks_v1#ExecutionTemplate",
          "traits": {
            "smithy.api#documentation": "Notebook Execution Template corresponding to this schedule."
          }
        },
        "recentExecutions": {
          "target": "com.gcp.notebooks_v1#ExecutionList",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent execution names triggered from this schedule and their corresponding states."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the schedule was last updated."
          }
        },
        "cronSchedule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. `0 0 * * WED` = every Wednesday More examples: https://crontab.guru/examples.html"
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of this environment."
          }
        },
        "state": {
          "target": "com.gcp.notebooks_v1#ScheduleStateEnum"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
