{
  "smithy": "2.0",
  "metadata": {
    "service": "osconfig",
    "version": "v1beta",
    "title": "OS Config API",
    "baseUrl": "https://osconfig.googleapis.com/"
  },
  "shapes": {
    "com.gcp.osconfig_v1beta#ResumePatchDeploymentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request message for resuming a patch deployment."
      }
    },
    "com.gcp.osconfig_v1beta#WeeklySchedule": {
      "type": "structure",
      "members": {
        "dayOfWeek": {
          "target": "com.gcp.osconfig_v1beta#WeeklyScheduleDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. Day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a weekly schedule."
      }
    },
    "com.gcp.osconfig_v1beta#WeeklyScheduleDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallDpkg": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the relevant artifact in the recipe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installs a deb via dpkg."
      }
    },
    "com.gcp.osconfig_v1beta#GooRepository": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the repository."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The url of the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Goo package repository. These is added to a repo file that is stored at C:/ProgramData/GooGet/repos/google_osconfig.repo."
      }
    },
    "com.gcp.osconfig_v1beta#ListGuestPoliciesResponse": {
      "type": "structure",
      "members": {
        "guestPolicies": {
          "target": "com.gcp.osconfig_v1beta#GuestPolicyList",
          "traits": {
            "smithy.api#documentation": "The list of GuestPolicies."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token that can be used to get the next page of guest policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing guest policies."
      }
    },
    "com.gcp.osconfig_v1beta#GuestPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#GuestPolicy"
      }
    },
    "com.gcp.osconfig_v1beta#ListPatchJobInstanceDetailsResponse": {
      "type": "structure",
      "members": {
        "patchJobInstanceDetails": {
          "target": "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsList",
          "traits": {
            "smithy.api#documentation": "A list of instance status."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token that can be used to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing the instances details for a patch job."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#PatchJobInstanceDetails"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepExecFile": {
      "type": "structure",
      "members": {
        "args": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Arguments to be passed to the provided executable."
          }
        },
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the relevant artifact in the recipe."
          }
        },
        "localPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The absolute path of the file on the local filesystem."
          }
        },
        "allowedExitCodes": {
          "target": "com.gcp.osconfig_v1beta#IntegerList",
          "traits": {
            "smithy.api#documentation": "Defaults to [0]. A list of possible return values that the program can return to indicate a success."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Executes an artifact or local file."
      }
    },
    "com.gcp.osconfig_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.osconfig_v1beta#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.osconfig_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.osconfig_v1beta#Assignment": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project."
          }
        },
        "instanceNamePrefixes": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies."
          }
        },
        "groupLabels": {
          "target": "com.gcp.osconfig_v1beta#AssignmentGroupLabelList",
          "traits": {
            "smithy.api#documentation": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\"."
          }
        },
        "zones": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone."
          }
        },
        "osTypes": {
          "target": "com.gcp.osconfig_v1beta#AssignmentOsTypeList",
          "traits": {
            "smithy.api#documentation": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones."
      }
    },
    "com.gcp.osconfig_v1beta#AssignmentGroupLabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#AssignmentGroupLabel"
      }
    },
    "com.gcp.osconfig_v1beta#AssignmentOsTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#AssignmentOsType"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallMsi": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the relevant artifact in the recipe."
          }
        },
        "allowedExitCodes": {
          "target": "com.gcp.osconfig_v1beta#IntegerList",
          "traits": {
            "smithy.api#documentation": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]"
          }
        },
        "flags": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installs an MSI file."
      }
    },
    "com.gcp.osconfig_v1beta#PausePatchDeploymentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request message for pausing a patch deployment."
      }
    },
    "com.gcp.osconfig_v1beta#MonthlySchedule": {
      "type": "structure",
      "members": {
        "weekDayOfMonth": {
          "target": "com.gcp.osconfig_v1beta#WeekDayOfMonth",
          "traits": {
            "smithy.api#documentation": "Required. Week day in a month."
          }
        },
        "monthDay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\"."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsSummary": {
      "type": "structure",
      "members": {
        "rebootingInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances rebooting."
          }
        },
        "ackedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that have acked and will start shortly."
          }
        },
        "pendingInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances pending patch job."
          }
        },
        "timedOutInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that exceeded the time out while applying the patch."
          }
        },
        "succeededRebootRequiredInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that require reboot."
          }
        },
        "failedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that failed."
          }
        },
        "succeededInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that have completed successfully."
          }
        },
        "prePatchStepInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that are running the pre-patch step."
          }
        },
        "postPatchStepInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that are running the post-patch step."
          }
        },
        "noAgentDetectedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          }
        },
        "inactiveInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that are inactive."
          }
        },
        "notifiedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances notified about patch job."
          }
        },
        "downloadingPatchesInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that are downloading patches."
          }
        },
        "startedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that have started."
          }
        },
        "applyingPatchesInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that are applying patches."
          }
        },
        "skippedInstanceCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of instances that were skipped during patching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance."
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicy": {
      "type": "structure",
      "members": {
        "packages": {
          "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageList",
          "traits": {
            "smithy.api#documentation": "List of package configurations assigned to the VM instance."
          }
        },
        "packageRepositories": {
          "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageRepositoryList",
          "traits": {
            "smithy.api#documentation": "List of package repository configurations assigned to the VM instance."
          }
        },
        "softwareRecipes": {
          "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedSoftwareRecipeList",
          "traits": {
            "smithy.api#documentation": "List of recipes assigned to the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The effective guest policy that applies to a VM instance."
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackage"
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageRepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageRepository"
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedSoftwareRecipeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedSoftwareRecipe"
      }
    },
    "com.gcp.osconfig_v1beta#AptSettings": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.osconfig_v1beta#AptSettingsTypeEnum",
          "traits": {
            "smithy.api#documentation": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
          }
        },
        "exclusivePackages": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields."
          }
        },
        "excludes": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of packages to exclude from update. These packages will be excluded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed."
      }
    },
    "com.gcp.osconfig_v1beta#AptSettingsTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIST"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV2__OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.osconfig_v1beta#GcsObject": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Bucket of the Google Cloud Storage object."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Google Cloud Storage object."
          }
        },
        "generationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Generation number of the Google Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Storage object representation."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactGcs": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`."
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies an artifact available as a Google Cloud Storage object."
      }
    },
    "com.gcp.osconfig_v1beta#WindowsUpdateSettings": {
      "type": "structure",
      "members": {
        "excludes": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of KBs to exclude from update."
          }
        },
        "classifications": {
          "target": "com.gcp.osconfig_v1beta#WindowsUpdateSettingsClassificationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Only apply updates of these windows update classifications. If empty, all updates are applied."
          }
        },
        "exclusivePatches": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Windows patching is performed using the Windows Update Agent."
      }
    },
    "com.gcp.osconfig_v1beta#WindowsUpdateSettingsClassificationsItemEnum": {
      "type": "enum",
      "members": {
        "CLASSIFICATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASSIFICATION_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "DEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFINITION"
          }
        },
        "DRIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVER"
          }
        },
        "FEATURE_PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_PACK"
          }
        },
        "SERVICE_PACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_PACK"
          }
        },
        "TOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL"
          }
        },
        "UPDATE_ROLLUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_ROLLUP"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#WindowsUpdateSettingsClassificationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#WindowsUpdateSettingsClassificationsItemEnum"
      }
    },
    "com.gcp.osconfig_v1beta#ZypperSettings": {
      "type": "structure",
      "members": {
        "severities": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Install only patches with these severities. Common severities include critical, important, moderate, and low."
          }
        },
        "exclusivePatches": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields."
          }
        },
        "withOptional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Adds the `--with-optional` flag to `zypper patch`."
          }
        },
        "categories": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Install only patches with these categories. Common categories include security, recommended, and feature."
          }
        },
        "withUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Adds the `--with-update` flag, to `zypper patch`."
          }
        },
        "excludes": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of patches to exclude from update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual."
      }
    },
    "com.gcp.osconfig_v1beta#YumRepository": {
      "type": "structure",
      "members": {
        "gpgKeys": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "URIs of GPG keys."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
          }
        },
        "baseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the repository directory."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`."
      }
    },
    "com.gcp.osconfig_v1beta#CancelPatchJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for canceling a patch job."
      }
    },
    "com.gcp.osconfig_v1beta#ListPatchJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token that can be used to get the next page of results."
          }
        },
        "patchJobs": {
          "target": "com.gcp.osconfig_v1beta#PatchJobList",
          "traits": {
            "smithy.api#documentation": "The list of patch jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing patch jobs."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#PatchJob"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactRemote": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}."
          }
        },
        "checksum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies an artifact available via some URI."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipe": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique identifier for the recipe. Only one recipe with a given name is installed on an instance. Names are also used to identify resources which helps to determine whether guest policies have conflicts. This means that requests to create multiple recipes with the same name and version are rejected since they could potentially have conflicting assignments."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of this software recipe. Version can be up to 4 period separated numbers (e.g. 12.34.56.78)."
          }
        },
        "artifacts": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactList",
          "traits": {
            "smithy.api#documentation": "Resources available to be used in the steps in the recipe."
          }
        },
        "desiredState": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeDesiredStateEnum",
          "traits": {
            "smithy.api#documentation": "Default is INSTALLED. The desired state the agent should maintain for this recipe. INSTALLED: The software recipe is installed on the instance but won't be updated to new versions. UPDATED: The software recipe is installed on the instance. The recipe is updated to a higher version, if a higher version of the recipe is assigned to this instance. REMOVE: Remove is unsupported for software recipes and attempts to create or update a recipe to the REMOVE state is rejected."
          }
        },
        "installSteps": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepList",
          "traits": {
            "smithy.api#documentation": "Actions to be taken for installing this recipe. On failure it stops executing steps and does not attempt another installation. Any steps taken (including partially completed steps) are not rolled back."
          }
        },
        "updateSteps": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepList",
          "traits": {
            "smithy.api#documentation": "Actions to be taken for updating this recipe. On failure it stops executing steps and does not attempt another update for this recipe. Any steps taken (including partially completed steps) are not rolled back."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A software recipe is a set of instructions for installing and configuring a piece of software. It consists of a set of artifacts that are downloaded, and a set of steps that install, configure, and/or update the software. Recipes support installing and updating software from artifacts in the following formats: Zip archive, Tar archive, Windows MSI, Debian package, and RPM package. Additionally, recipes support executing a script (either defined in a file or directly in this api) in bash, sh, cmd, and powershell. Updating a software recipe If a recipe is assigned to an instance and there is a recipe with the same name but a lower version already installed and the assigned state of the recipe is `UPDATED`, then the recipe is updated to the new version. Script Working Directories Each script or execution step is run in its own temporary directory which is deleted after completing the step."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#SoftwareRecipeArtifact"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeDesiredStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStep"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepExtractArchive": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the relevant artifact in the recipe."
          }
        },
        "type": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepExtractArchiveTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the archive to extract."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extracts an archive of the type specified in the specified directory."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepExtractArchiveTypeEnum": {
      "type": "enum",
      "members": {
        "ARCHIVE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE_TYPE_UNSPECIFIED"
          }
        },
        "TAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAR"
          }
        },
        "TAR_GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAR_GZIP"
          }
        },
        "TAR_BZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAR_BZIP"
          }
        },
        "TAR_LZMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAR_LZMA"
          }
        },
        "TAR_XZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAR_XZ"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIP"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStep": {
      "type": "structure",
      "members": {
        "fileCopy": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepCopyFile",
          "traits": {
            "smithy.api#documentation": "Copies a file onto the instance."
          }
        },
        "dpkgInstallation": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallDpkg",
          "traits": {
            "smithy.api#documentation": "Installs a deb file via dpkg."
          }
        },
        "archiveExtraction": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepExtractArchive",
          "traits": {
            "smithy.api#documentation": "Extracts an archive into the specified directory."
          }
        },
        "fileExec": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepExecFile",
          "traits": {
            "smithy.api#documentation": "Executes an artifact or local file."
          }
        },
        "msiInstallation": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallMsi",
          "traits": {
            "smithy.api#documentation": "Installs an MSI file."
          }
        },
        "rpmInstallation": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallRpm",
          "traits": {
            "smithy.api#documentation": "Installs an rpm file via the rpm utility."
          }
        },
        "scriptRun": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepRunScript",
          "traits": {
            "smithy.api#documentation": "Runs commands in a shell."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action that can be taken as part of installing or updating a recipe."
      }
    },
    "com.gcp.osconfig_v1beta#ExecStep": {
      "type": "structure",
      "members": {
        "linuxExecStepConfig": {
          "target": "com.gcp.osconfig_v1beta#ExecStepConfig",
          "traits": {
            "smithy.api#documentation": "The ExecStepConfig for all Linux VMs targeted by the PatchJob."
          }
        },
        "windowsExecStepConfig": {
          "target": "com.gcp.osconfig_v1beta#ExecStepConfig",
          "traits": {
            "smithy.api#documentation": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A step that runs an executable for a PatchJob."
      }
    },
    "com.gcp.osconfig_v1beta#RecurringSchedule": {
      "type": "structure",
      "members": {
        "timeOfDay": {
          "target": "com.gcp.osconfig_v1beta#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Time of the day to run a recurring deployment."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment."
          }
        },
        "weekly": {
          "target": "com.gcp.osconfig_v1beta#WeeklySchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule with weekly executions."
          }
        },
        "timeZone": {
          "target": "com.gcp.osconfig_v1beta#TimeZone",
          "traits": {
            "smithy.api#documentation": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
          }
        },
        "monthly": {
          "target": "com.gcp.osconfig_v1beta#MonthlySchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule with monthly executions."
          }
        },
        "nextExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the next patch job is scheduled to run."
          }
        },
        "frequency": {
          "target": "com.gcp.osconfig_v1beta#RecurringScheduleFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Required. The frequency unit of this recurring schedule."
          }
        },
        "lastExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the last patch job ran successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the time for recurring patch deployments."
      }
    },
    "com.gcp.osconfig_v1beta#RecurringScheduleFrequencyEnum": {
      "type": "enum",
      "members": {
        "FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_UNSPECIFIED"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackageRepository": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the guest policy providing this config."
          }
        },
        "packageRepository": {
          "target": "com.gcp.osconfig_v1beta#PackageRepository",
          "traits": {
            "smithy.api#documentation": "A software package repository to configure on the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A guest policy package repository including its source."
      }
    },
    "com.gcp.osconfig_v1beta#Package": {
      "type": "structure",
      "members": {
        "manager": {
          "target": "com.gcp.osconfig_v1beta#PackageManagerEnum",
          "traits": {
            "smithy.api#documentation": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets."
          }
        },
        "desiredState": {
          "target": "com.gcp.osconfig_v1beta#PackageDesiredStateEnum",
          "traits": {
            "smithy.api#documentation": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`"
      }
    },
    "com.gcp.osconfig_v1beta#PackageManagerEnum": {
      "type": "enum",
      "members": {
        "MANAGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGER_UNSPECIFIED"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        },
        "APT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APT"
          }
        },
        "YUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YUM"
          }
        },
        "ZYPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZYPPER"
          }
        },
        "GOO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOO"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#PackageDesiredStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#AssignmentGroupLabel": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.osconfig_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\"."
      }
    },
    "com.gcp.osconfig_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.osconfig_v1beta#AssignmentOsType": {
      "type": "structure",
      "members": {
        "osShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\"."
          }
        },
        "osArchitecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targets VM instances with OS Inventory enabled and having the following OS architecture."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Targets VM instances with OS Inventory enabled and having the following following OS version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the criteria for selecting VM Instances by OS type."
      }
    },
    "com.gcp.osconfig_v1beta#PatchConfig": {
      "type": "structure",
      "members": {
        "rebootConfig": {
          "target": "com.gcp.osconfig_v1beta#PatchConfigRebootConfigEnum",
          "traits": {
            "smithy.api#documentation": "Post-patch reboot settings."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1beta#AptSettings",
          "traits": {
            "smithy.api#documentation": "Apt update settings. Use this setting to override the default `apt` patch rules."
          }
        },
        "goo": {
          "target": "com.gcp.osconfig_v1beta#GooSettings",
          "traits": {
            "smithy.api#documentation": "Goo update settings. Use this setting to override the default `goo` patch rules."
          }
        },
        "yum": {
          "target": "com.gcp.osconfig_v1beta#YumSettings",
          "traits": {
            "smithy.api#documentation": "Yum update settings. Use this setting to override the default `yum` patch rules."
          }
        },
        "migInstancesAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows the patch job to run on Managed instance groups (MIGs)."
          }
        },
        "windowsUpdate": {
          "target": "com.gcp.osconfig_v1beta#WindowsUpdateSettings",
          "traits": {
            "smithy.api#documentation": "Windows update settings. Use this override the default windows patch rules."
          }
        },
        "postStep": {
          "target": "com.gcp.osconfig_v1beta#ExecStep",
          "traits": {
            "smithy.api#documentation": "The `ExecStep` to run after the patch update."
          }
        },
        "skipUnpatchableVms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables enhanced reporting for the patch job: 1. The patch job skips instances that cannot be patched and reports them as `SKIPPED`. An instance cannot be patched for two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The instance is part of a managed instance group (MIG), and patching MIG instances is disabled in the patch job's configuration (PatchConfig.migInstancesAllowed is `false`). 2. The patch job is reported as `SUCCEEDED` if it completes without errors, even if some instances are `SKIPPED`. 3. The patch job is reported as `COMPLETED_WITH_INACTIVE_VMS` if it completes without errors, but does not patch instances that are `INACTIVE`."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1beta#ZypperSettings",
          "traits": {
            "smithy.api#documentation": "Zypper update settings. Use this setting to override the default `zypper` patch rules."
          }
        },
        "preStep": {
          "target": "com.gcp.osconfig_v1beta#ExecStep",
          "traits": {
            "smithy.api#documentation": "The `ExecStep` to run before the patch update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance."
      }
    },
    "com.gcp.osconfig_v1beta#PatchConfigRebootConfigEnum": {
      "type": "enum",
      "members": {
        "REBOOT_CONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT_CONFIG_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedPackage": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the guest policy providing this config."
          }
        },
        "package": {
          "target": "com.gcp.osconfig_v1beta#Package",
          "traits": {
            "smithy.api#documentation": "A software package to configure on the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A guest policy package including its source."
      }
    },
    "com.gcp.osconfig_v1beta#GuestPolicy": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the guest policy. Length of the description is limited to 1024 characters."
          }
        },
        "recipes": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeList",
          "traits": {
            "smithy.api#documentation": "A list of Recipes to install on the VM instance."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time this guest policy was created."
          }
        },
        "packageRepositories": {
          "target": "com.gcp.osconfig_v1beta#PackageRepositoryList",
          "traits": {
            "smithy.api#documentation": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available."
          }
        },
        "assignment": {
          "target": "com.gcp.osconfig_v1beta#Assignment",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts)."
          }
        },
        "packages": {
          "target": "com.gcp.osconfig_v1beta#PackageList",
          "traits": {
            "smithy.api#documentation": "The software packages to be managed by this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for this guest policy. If this is provided on update, it must match the server's etag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last time this guest policy was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#SoftwareRecipe"
      }
    },
    "com.gcp.osconfig_v1beta#PackageRepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#PackageRepository"
      }
    },
    "com.gcp.osconfig_v1beta#PackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#Package"
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepInstallRpm": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the relevant artifact in the recipe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Installs an rpm file via the rpm utility."
      }
    },
    "com.gcp.osconfig_v1beta#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "structure",
      "members": {
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepRunScript": {
      "type": "structure",
      "members": {
        "allowedExitCodes": {
          "target": "com.gcp.osconfig_v1beta#IntegerList",
          "traits": {
            "smithy.api#documentation": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]"
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The shell script to be executed."
          }
        },
        "interpreter": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeStepRunScriptInterpreterEnum",
          "traits": {
            "smithy.api#documentation": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\))."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runs a script through an interpreter."
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeStepRunScriptInterpreterEnum": {
      "type": "enum",
      "members": {
        "INTERPRETER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPRETER_UNSPECIFIED"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELL"
          }
        },
        "POWERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERSHELL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#WeekDayOfMonth": {
      "type": "structure",
      "members": {
        "weekOrdinal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month."
          }
        },
        "dayOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second day of the month and this `day_offset` value is set to `3`, the patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, the patches are deployed five days before before the second Tuesday of the month. Allowed values are in range [-30, 30]."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.osconfig_v1beta#WeekDayOfMonthDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. A day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents one week day in a month. An example is \"the 4th Sunday\"."
      }
    },
    "com.gcp.osconfig_v1beta#WeekDayOfMonthDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#ExecutePatchJobRequest": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the patch job. After the duration ends, the patch job times out."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this patch is a dry-run only, instances are contacted but will do nothing."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1beta#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Rollout strategy of the patch job."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the patch job. Length of the description is limited to 1024 characters."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1beta#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this patch job. This does not have to be unique."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1beta#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request message to initiate patching across Compute Engine instances."
      }
    },
    "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "structure",
      "members": {
        "apiMethod": {
          "target": "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum",
          "traits": {
            "smithy.api#documentation": "The OS policy assignment API method."
          }
        },
        "rolloutState": {
          "target": "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the rollout"
          }
        },
        "rolloutStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout start time"
          }
        },
        "osPolicyAssignment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          }
        },
        "rolloutUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout update time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
      }
    },
    "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum": {
      "type": "enum",
      "members": {
        "API_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_METHOD_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#PackageRepository": {
      "type": "structure",
      "members": {
        "yum": {
          "target": "com.gcp.osconfig_v1beta#YumRepository",
          "traits": {
            "smithy.api#documentation": "A Yum Repository."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1beta#ZypperRepository",
          "traits": {
            "smithy.api#documentation": "A Zypper Repository."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1beta#AptRepository",
          "traits": {
            "smithy.api#documentation": "An Apt Repository."
          }
        },
        "goo": {
          "target": "com.gcp.osconfig_v1beta#GooRepository",
          "traits": {
            "smithy.api#documentation": "A Goo Repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package repository."
      }
    },
    "com.gcp.osconfig_v1beta#PatchRollout": {
      "type": "structure",
      "members": {
        "disruptionBudget": {
          "target": "com.gcp.osconfig_v1beta#FixedOrPercent",
          "traits": {
            "smithy.api#documentation": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
          }
        },
        "mode": {
          "target": "com.gcp.osconfig_v1beta#PatchRolloutModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of the patch rollout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs."
      }
    },
    "com.gcp.osconfig_v1beta#PatchRolloutModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "ZONE_BY_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_BY_ZONE"
          }
        },
        "CONCURRENT_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENT_ZONES"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#ListPatchDeploymentsResponse": {
      "type": "structure",
      "members": {
        "patchDeployments": {
          "target": "com.gcp.osconfig_v1beta#PatchDeploymentList",
          "traits": {
            "smithy.api#documentation": "The list of patch deployments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pagination token that can be used to get the next page of patch deployments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing patch deployments."
      }
    },
    "com.gcp.osconfig_v1beta#PatchDeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1beta#PatchDeployment"
      }
    },
    "com.gcp.osconfig_v1beta#PatchJob": {
      "type": "structure",
      "members": {
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1beta#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Rollout strategy being applied."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the patch job. Length of the description is limited to 1024 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this patch job was updated."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1beta#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Instances to patch."
          }
        },
        "patchDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the patch deployment that created this patch job."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1beta#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Patch configuration being applied."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time this patch job was created."
          }
        },
        "instanceDetailsSummary": {
          "target": "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsSummary",
          "traits": {
            "smithy.api#documentation": "Summary of instance details."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1beta#PatchJobStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the PatchJob."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this patch job. This is not a unique identifier."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the patch job. After the duration ends, the patch job times out."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this patch job failed, this message provides information about the failure."
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job)."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "INSTANCE_LOOKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_LOOKUP"
          }
        },
        "PATCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCHING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "COMPLETED_WITH_INACTIVE_VMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED_WITH_INACTIVE_VMS"
          }
        },
        "COMPLETED_WITH_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED_WITH_ERRORS"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#MessageSet": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobInstanceDetails": {
      "type": "structure",
      "members": {
        "instanceSystemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the instance. This identifier is defined by the server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance name in the form `projects/*/zones/*/instances/*`"
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the patch fails, this field provides the reason."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of instance patch."
          }
        },
        "attemptCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of times the agent that the agent attempts to apply the patch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details)."
      }
    },
    "com.gcp.osconfig_v1beta#PatchJobInstanceDetailsStateEnum": {
      "type": "enum",
      "members": {
        "PATCH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "NOTIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "DOWNLOADING_PATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOADING_PATCHES"
          }
        },
        "APPLYING_PATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLYING_PATCHES"
          }
        },
        "REBOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOTING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "SUCCEEDED_REBOOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED_REBOOT_REQUIRED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACKED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        },
        "RUNNING_PRE_PATCH_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_PRE_PATCH_STEP"
          }
        },
        "RUNNING_POST_PATCH_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_POST_PATCH_STEP"
          }
        },
        "NO_AGENT_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AGENT_DETECTED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#OneTimeSchedule": {
      "type": "structure",
      "members": {
        "executeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The desired patch job execution time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
      }
    },
    "com.gcp.osconfig_v1beta#PatchDeployment": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.osconfig_v1beta#PatchDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the patch deployment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment."
          }
        },
        "recurringSchedule": {
          "target": "com.gcp.osconfig_v1beta#RecurringSchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule recurring executions."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Duration of the patch. After the duration ends, the patch times out."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1beta#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. VM instances to patch."
          }
        },
        "lastExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1beta#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Patch configuration that is applied."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1beta#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Optional. Rollout strategy of the patch job."
          }
        },
        "oneTimeSchedule": {
          "target": "com.gcp.osconfig_v1beta#OneTimeSchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule a one-time execution."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs)."
      }
    },
    "com.gcp.osconfig_v1beta#PatchDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#ExecStepConfig": {
      "type": "structure",
      "members": {
        "interpreter": {
          "target": "com.gcp.osconfig_v1beta#ExecStepConfigInterpreterEnum",
          "traits": {
            "smithy.api#documentation": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\))."
          }
        },
        "gcsObject": {
          "target": "com.gcp.osconfig_v1beta#GcsObject",
          "traits": {
            "smithy.api#documentation": "A Google Cloud Storage object containing the executable."
          }
        },
        "allowedSuccessCodes": {
          "target": "com.gcp.osconfig_v1beta#IntegerList",
          "traits": {
            "smithy.api#documentation": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success."
          }
        },
        "localPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute path to the executable on the VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common configurations for an ExecStep."
      }
    },
    "com.gcp.osconfig_v1beta#ExecStepConfigInterpreterEnum": {
      "type": "enum",
      "members": {
        "INTERPRETER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPRETER_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELL"
          }
        },
        "POWERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERSHELL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1beta#SoftwareRecipeArtifact": {
      "type": "structure",
      "members": {
        "allowInsecure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified."
          }
        },
        "remote": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactRemote",
          "traits": {
            "smithy.api#documentation": "A generic remote artifact."
          }
        },
        "gcs": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipeArtifactGcs",
          "traits": {
            "smithy.api#documentation": "A Google Cloud Storage artifact."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a resource to be used in the recipe."
      }
    },
    "com.gcp.osconfig_v1beta#StatusProto": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
          }
        },
        "space": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
          }
        },
        "canonicalCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
          }
        },
        "messageSet": {
          "target": "com.gcp.osconfig_v1beta#MessageSet",
          "traits": {
            "smithy.api#documentation": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wire-format for a Status object"
      }
    },
    "com.gcp.osconfig_v1beta#FixedOrPercent": {
      "type": "structure",
      "members": {
        "percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value."
          }
        },
        "fixed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies a fixed value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
      }
    },
    "com.gcp.osconfig_v1beta#YumSettings": {
      "type": "structure",
      "members": {
        "minimal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Will cause patch to run `yum update-minimal` instead."
          }
        },
        "exclusivePackages": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields."
          }
        },
        "security": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Adds the `--security` flag to `yum update`. Not supported on all platforms."
          }
        },
        "excludes": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms."
      }
    },
    "com.gcp.osconfig_v1beta#EffectiveGuestPolicySourcedSoftwareRecipe": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the guest policy providing this config."
          }
        },
        "softwareRecipe": {
          "target": "com.gcp.osconfig_v1beta#SoftwareRecipe",
          "traits": {
            "smithy.api#documentation": "A software recipe to configure on the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A guest policy recipe including its source."
      }
    },
    "com.gcp.osconfig_v1beta#PatchInstanceFilter": {
      "type": "structure",
      "members": {
        "zones": {
          "target": "com.gcp.osconfig_v1beta#StringList",
          "traits": {
[...]
