{
  "smithy": "2.0",
  "metadata": {
    "service": "osconfig",
    "version": "v1alpha",
    "title": "OS Config API",
    "baseUrl": "https://osconfig.googleapis.com/"
  },
  "shapes": {
    "com.gcp.osconfig_v1alpha#InventoryItem": {
      "type": "structure",
      "members": {
        "originType": {
          "target": "com.gcp.osconfig_v1alpha#InventoryItemOriginTypeEnum",
          "traits": {
            "smithy.api#documentation": "The origin of this inventory item."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this inventory item was last modified."
          }
        },
        "availablePackage": {
          "target": "com.gcp.osconfig_v1alpha#InventorySoftwarePackage",
          "traits": {
            "smithy.api#documentation": "Software package available to be installed on the VM instance."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this inventory item was first detected."
          }
        },
        "installedPackage": {
          "target": "com.gcp.osconfig_v1alpha#InventorySoftwarePackage",
          "traits": {
            "smithy.api#documentation": "Software package present on the VM instance."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this item, unique across items for this VM."
          }
        },
        "type": {
          "target": "com.gcp.osconfig_v1alpha#InventoryItemTypeEnum",
          "traits": {
            "smithy.api#documentation": "The specific type of inventory, correlating to its specific details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single piece of inventory on a VM."
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryItemOriginTypeEnum": {
      "type": "enum",
      "members": {
        "ORIGIN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGIN_TYPE_UNSPECIFIED"
          }
        },
        "INVENTORY_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_REPORT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryItemTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "INSTALLED_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED_PACKAGE"
          }
        },
        "AVAILABLE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE_PACKAGE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceGroup": {
      "type": "structure",
      "members": {
        "osFilter": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyOSFilter",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use the `inventory_filters` field instead. Used to specify the OS filter for a resource group"
          }
        },
        "resources": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceList",
          "traits": {
            "smithy.api#documentation": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here."
          }
        },
        "inventoryFilters": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyInventoryFilterList",
          "traits": {
            "smithy.api#documentation": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyResource"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyInventoryFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyInventoryFilter"
      }
    },
    "com.gcp.osconfig_v1alpha#ListInstanceOSPoliciesCompliancesResponse": {
      "type": "structure",
      "members": {
        "instanceOsPoliciesCompliances": {
          "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceList",
          "traits": {
            "smithy.api#documentation": "List of instance OS policies compliance objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of instance OS policies compliance objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing OS policies compliance data for all Compute Engine VMs in the given location."
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesCompliance"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceFile": {
      "type": "structure",
      "members": {
        "remote": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFileRemote",
          "traits": {
            "smithy.api#documentation": "A generic remote file."
          }
        },
        "gcs": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFileGcs",
          "traits": {
            "smithy.api#documentation": "A Cloud Storage object."
          }
        },
        "allowInsecure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified."
          }
        },
        "localPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A local path within the VM to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A remote or local file."
      }
    },
    "com.gcp.osconfig_v1alpha#Osconfig_Date": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResource": {
      "type": "structure",
      "members": {
        "yum": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceYUM",
          "traits": {
            "smithy.api#documentation": "A package managed by YUM."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceZypper",
          "traits": {
            "smithy.api#documentation": "A package managed by Zypper."
          }
        },
        "rpm": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceRPM",
          "traits": {
            "smithy.api#documentation": "An rpm package file."
          }
        },
        "desiredState": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceDesiredStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The desired state the agent should maintain for this package."
          }
        },
        "deb": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceDeb",
          "traits": {
            "smithy.api#documentation": "A deb package file."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceAPT",
          "traits": {
            "smithy.api#documentation": "A package managed by Apt."
          }
        },
        "googet": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceGooGet",
          "traits": {
            "smithy.api#documentation": "A package managed by GooGet."
          }
        },
        "msi": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceMSI",
          "traits": {
            "smithy.api#documentation": "An MSI package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages a system package."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceDesiredStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the windows update category."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the windows update category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Categories specified by the Windows Update."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceYumRepository": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
          }
        },
        "baseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the repository directory."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the repository."
          }
        },
        "gpgKeys": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "URIs of GPG keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`."
      }
    },
    "com.gcp.osconfig_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryWindowsUpdatePackage": {
      "type": "structure",
      "members": {
        "moreInfoUrls": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A collection of URLs that provide more information about the update package."
          }
        },
        "kbArticleIds": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package."
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the identifier of an update package. Stays the same across revisions."
          }
        },
        "categories": {
          "target": "com.gcp.osconfig_v1alpha#InventoryWindowsUpdatePackageWindowsUpdateCategoryList",
          "traits": {
            "smithy.api#documentation": "The categories that are associated with this update package."
          }
        },
        "supportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hyperlink to the language-specific support information for the update."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized title of the update package."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized description of the update package."
          }
        },
        "revisionNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The revision number of this update package."
          }
        },
        "lastDeploymentChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last published date of the update, in (UTC) date and time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated."
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryWindowsUpdatePackageWindowsUpdateCategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#InventoryWindowsUpdatePackageWindowsUpdateCategory"
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryWindowsApplication": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application or product."
          }
        },
        "displayVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the product or application in string format."
          }
        },
        "helpLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internet address for technical support."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the manufacturer for the product or application."
          }
        },
        "installDate": {
          "target": "com.gcp.osconfig_v1alpha#Osconfig_Date",
          "traits": {
            "smithy.api#documentation": "The last time this product received service. The value of this property is replaced each time a patch is applied or removed from the product or the command-line option is used to repair the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a Windows application that is retrieved from the Windows Registry. For more information about these fields, see: https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key"
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetailsReference": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url of the reference."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source of the reference e.g. NVD."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference for this vulnerability."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResourceExec": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFile",
          "traits": {
            "smithy.api#documentation": "A remote or local file."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An inline script. The size of the script is limited to 32KiB."
          }
        },
        "args": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional arguments to pass to the source during execution."
          }
        },
        "interpreter": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResourceExecInterpreterEnum",
          "traits": {
            "smithy.api#documentation": "Required. The script interpreter to use."
          }
        },
        "outputFilePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 100K bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file or script to execute."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResourceExecInterpreterEnum": {
      "type": "enum",
      "members": {
        "INTERPRETER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPRETER_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHELL"
          }
        },
        "POWERSHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERSHELL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentRollout": {
      "type": "structure",
      "members": {
        "disruptionBudget": {
          "target": "com.gcp.osconfig_v1alpha#FixedOrPercent",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment."
          }
        },
        "minWaitDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message to configure the rollout at the zonal level for the OS policy assignment."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignment": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that this revision deletes the OS policy assignment."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS policy assignment description. Length of the description is limited to 1024 characters."
          }
        },
        "baseline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field."
          }
        },
        "rolloutState": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. OS policy assignment rollout state"
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. Filter to select VMs."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentRollout",
          "traits": {
            "smithy.api#documentation": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
          }
        },
        "osPolicies": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyList",
          "traits": {
            "smithy.api#documentation": "Required. List of OS policies to be applied to the VMs."
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp that the revision was created."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated unique id for the OS policy assignment resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies)."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicy"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceZypper": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceCompliance": {
      "type": "structure",
      "members": {
        "osPolicyResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the OS policy resource."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceStateEnum",
          "traits": {
            "smithy.api#documentation": "Compliance state of the OS policy resource."
          }
        },
        "execResourceOutput": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceExecResourceOutput",
          "traits": {
            "smithy.api#documentation": "ExecResource specific output."
          }
        },
        "configSteps": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepList",
          "traits": {
            "smithy.api#documentation": "Ordered list of configuration steps taken by the agent for the OS policy resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance data for an OS policy resource."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceStateEnum": {
      "type": "enum",
      "members": {
        "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NO_OS_POLICIES_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OS_POLICIES_APPLICABLE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStep"
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryWindowsQuickFixEngineeringPackage": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A textual description of the QFE update."
          }
        },
        "hotFixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier associated with a particular QFE update."
          }
        },
        "installTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date that the QFE update was installed. Mapped from installed_on field."
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short textual description of the QFE update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering"
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReport": {
      "type": "structure",
      "members": {
        "vulnerabilities": {
          "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityList",
          "traits": {
            "smithy.api#documentation": "Output only. List of vulnerabilities affecting the VM."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp for when the last vulnerability report was generated for the VM."
          }
        },
        "highestUpgradableCveSeverity": {
          "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportHighestUpgradableCveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Highest level of severity among all the upgradable vulnerabilities with CVEs attached."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `vulnerabilityReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/vulnerabilityReport`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This API resource represents the vulnerability report for a specified Compute Engine virtual machine (VM) instance at a given point in time. For more information, see [Vulnerability reports](https://cloud.google.com/compute/docs/instances/os-inventory-management#vulnerability-reports)."
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerability"
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportHighestUpgradableCveSeverityEnum": {
      "type": "enum",
      "members": {
        "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilterInventory": {
      "type": "structure",
      "members": {
        "osShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OS short name"
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM inventory details."
      }
    },
    "com.gcp.osconfig_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.osconfig_v1alpha#Inventory": {
      "type": "structure",
      "members": {
        "osInfo": {
          "target": "com.gcp.osconfig_v1alpha#InventoryOsInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Base level operating system information for the VM."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`"
          }
        },
        "items": {
          "target": "com.gcp.osconfig_v1alpha#InventoryItemMap",
          "traits": {
            "smithy.api#documentation": "Output only. Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the last reported inventory for the VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected)."
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.osconfig_v1alpha#InventoryItem"
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryVersionedPackage": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The system architecture this package is intended for."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the package."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to the a standard versioned package. This includes package info for APT, Yum, Zypper, and Googet package managers."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "structure",
      "members": {
        "gpgKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`."
          }
        },
        "components": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of components for this repository. Must contain at least one item."
          }
        },
        "archiveType": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceAptRepositoryArchiveTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of archive files in this repository."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI for this repository."
          }
        },
        "distribution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Distribution of this repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceAptRepositoryArchiveTypeEnum": {
      "type": "enum",
      "members": {
        "ARCHIVE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE_TYPE_UNSPECIFIED"
          }
        },
        "DEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEB"
          }
        },
        "DEB_SRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEB_SRC"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResource": {
      "type": "structure",
      "members": {
        "yum": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceYumRepository",
          "traits": {
            "smithy.api#documentation": "A Yum Repository."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceZypperRepository",
          "traits": {
            "smithy.api#documentation": "A Zypper Repository."
          }
        },
        "goo": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceGooRepository",
          "traits": {
            "smithy.api#documentation": "A Goo Repository."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResourceAptRepository",
          "traits": {
            "smithy.api#documentation": "An Apt Repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages a package repository."
      }
    },
    "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "structure",
      "members": {
        "rolloutState": {
          "target": "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the rollout"
          }
        },
        "rolloutUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout update time"
          }
        },
        "osPolicyAssignment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          }
        },
        "apiMethod": {
          "target": "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum",
          "traits": {
            "smithy.api#documentation": "The OS policy assignment API method."
          }
        },
        "rolloutStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout start time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
      }
    },
    "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum": {
      "type": "enum",
      "members": {
        "API_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_METHOD_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityItem": {
      "type": "structure",
      "members": {
        "installedInventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some operating systems, this field might be empty."
          }
        },
        "fixedCpeUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended [CPE URI](https://cpe.mitre.org/specification/) update that contains a fix for this vulnerability."
          }
        },
        "upstreamFix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The upstream OS patch, packages or KB that fixes the vulnerability."
          }
        },
        "availableInventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS inventory item that is affected by a vulnerability or fixed as a result of a vulnerability."
      }
    },
    "com.gcp.osconfig_v1alpha#MessageSet": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
      }
    },
    "com.gcp.osconfig_v1alpha#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.osconfig_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.osconfig_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.osconfig_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.osconfig_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerability": {
      "type": "structure",
      "members": {
        "installedInventoryItemIds": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp for when the vulnerability was last modified."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp for when the vulnerability was first detected."
          }
        },
        "details": {
          "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetails",
          "traits": {
            "smithy.api#documentation": "Contains metadata as per the upstream feed of the operating system and NVD."
          }
        },
        "availableInventoryItemIds": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability."
          }
        },
        "items": {
          "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityItemList",
          "traits": {
            "smithy.api#documentation": "List of items affected by the vulnerability."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vulnerability affecting the VM instance."
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityItem"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceFileResource": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFile",
          "traits": {
            "smithy.api#documentation": "A remote or local source."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFileResourceStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Desired state of the file."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A file with this content. The size of the content is limited to 32KiB."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The absolute path of the file within the VM."
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages the state of a file."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceFileResourceStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENT"
          }
        },
        "ABSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABSENT"
          }
        },
        "CONTENTS_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENTS_MATCH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentOperationMetadata": {
      "type": "structure",
      "members": {
        "osPolicyAssignment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          }
        },
        "rolloutState": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentOperationMetadataRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the rollout"
          }
        },
        "rolloutUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout update time"
          }
        },
        "apiMethod": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentOperationMetadataApiMethodEnum",
          "traits": {
            "smithy.api#documentation": "The OS policy assignment API method."
          }
        },
        "rolloutStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout start time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentOperationMetadataRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentOperationMetadataApiMethodEnum": {
      "type": "enum",
      "members": {
        "API_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_METHOD_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryOsInfo": {
      "type": "structure",
      "members": {
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system short name. For example, 'windows' or 'debian'."
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The system architecture of the operating system."
          }
        },
        "kernelRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kernel release of the operating system."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM hostname."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kernel version of the operating system."
          }
        },
        "osconfigAgentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the OS Config agent running on the VM."
          }
        },
        "longName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the operating system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operating system information for the VM."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentLabelSet": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.osconfig_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
      }
    },
    "com.gcp.osconfig_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceAPT": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`"
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3": {
      "type": "structure",
      "members": {
        "userInteraction": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3UserInteractionEnum",
          "traits": {
            "smithy.api#documentation": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component."
          }
        },
        "exploitabilityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Exploitability sub-score equation is derived from the Base Exploitability metrics. https://www.first.org/cvss/specification-document#2-1-Exploitability-Metrics"
          }
        },
        "attackVector": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3AttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "This metric reflects the context by which vulnerability exploitation is possible."
          }
        },
        "attackComplexity": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3AttackComplexityEnum",
          "traits": {
            "smithy.api#documentation": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability."
          }
        },
        "scope": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3ScopeEnum",
          "traits": {
            "smithy.api#documentation": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope."
          }
        },
        "confidentialityImpact": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3ConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability."
          }
        },
        "availabilityImpact": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3AvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
          }
        },
        "impactScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Impact sub-score equation is derived from the Base Impact metrics."
          }
        },
        "integrityImpact": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3IntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to integrity of a successfully exploited vulnerability."
          }
        },
        "privilegesRequired": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3PrivilegesRequiredEnum",
          "traits": {
            "smithy.api#documentation": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
          }
        },
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The base score is a function of the base metric scores. https://www.first.org/cvss/specification-document#Base-Metrics"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document"
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3UserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3AttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3AttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3ScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3ConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3AvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3IntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#CVSSv3PrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStepTypeEnum",
          "traits": {
            "smithy.api#documentation": "Configuration step type."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStepTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION"
          }
        },
        "DESIRED_STATE_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK"
          }
        },
        "DESIRED_STATE_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_ENFORCEMENT"
          }
        },
        "DESIRED_STATE_CHECK_POST_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceGooGet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`"
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetails": {
      "type": "structure",
      "members": {
        "references": {
          "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetailsReferenceList",
          "traits": {
            "smithy.api#documentation": "Corresponds to the references attached to the `VulnerabilityDetails`."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assigned severity/impact ranking from the distro."
          }
        },
        "cvssV3": {
          "target": "com.gcp.osconfig_v1alpha#CVSSv3",
          "traits": {
            "smithy.api#documentation": "The full description of the CVSSv3 for this vulnerability from NVD."
          }
        },
        "cve": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM."
          }
        },
        "cvssV2Score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The note or description describing the vulnerability from the distro."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system."
      }
    },
    "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetailsReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#VulnerabilityReportVulnerabilityDetailsReference"
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesCompliance": {
      "type": "structure",
      "members": {
        "lastComplianceRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier for the last compliance run. This id will be logged by the OS config agent during a compliance run and can be used for debugging and tracing purpose."
          }
        },
        "detailedState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed compliance state of the VM. This field is populated only when compliance state is `UNKNOWN`. It may contain one of the following values: * `no-compliance-data`: Compliance data is not available for this VM. * `no-agent-detected`: OS Config agent is not detected for this VM. * `config-not-supported-by-agent`: The version of the OS Config agent running on this VM does not support configuration management. * `inactive`: VM is not running. * `internal-service-errors`: There were internal service errors encountered while enforcing compliance. * `agent-errors`: OS config agent encountered errors while enforcing compliance."
          }
        },
        "detailedStateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The reason for the `detailed_state` of the VM (if any)."
          }
        },
        "lastComplianceCheckTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the last compliance check for the VM."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `InstanceOSPoliciesCompliance` API resource name. Format: `projects/{project_number}/locations/{location}/instanceOSPoliciesCompliances/{instance_id}`"
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Compliance state of the VM."
          }
        },
        "osPolicyCompliances": {
          "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyComplianceList",
          "traits": {
            "smithy.api#documentation": "Output only. Compliance data for each `OSPolicy` that is applied to the VM."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Compute Engine VM instance name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This API resource represents the OS policies compliance data for a Compute Engine virtual machine (VM) instance at a given point in time. A Compute Engine VM can have multiple OS policy assignments, and each assignment can have multiple OS policies. As a result, multiple OS policies could be applied to a single VM. You can use this API resource to determine both the compliance state of your VM as well as the compliance state of an individual OS policy. For more information, see [View compliance](https://cloud.google.com/compute/docs/os-configuration-management/view-compliance)."
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceStateEnum": {
      "type": "enum",
      "members": {
        "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NO_OS_POLICIES_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OS_POLICIES_APPLICABLE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyComplianceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyCompliance"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
          }
        },
        "repository": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceRepositoryResource",
          "traits": {
            "smithy.api#documentation": "Package repository resource"
          }
        },
        "exec": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResource",
          "traits": {
            "smithy.api#documentation": "Exec resource"
          }
        },
        "file": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFileResource",
          "traits": {
            "smithy.api#documentation": "File resource"
          }
        },
        "pkg": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResource",
          "traits": {
            "smithy.api#documentation": "Package resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResource": {
      "type": "structure",
      "members": {
        "validate": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResourceExec",
          "traits": {
            "smithy.api#documentation": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
          }
        },
        "enforce": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceExecResourceExec",
          "traits": {
            "smithy.api#documentation": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen."
      }
    },
    "com.gcp.osconfig_v1alpha#ListOSPolicyAssignmentsResponse": {
      "type": "structure",
      "members": {
        "osPolicyAssignments": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentList",
          "traits": {
            "smithy.api#documentation": "The list of assignments"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of OS policy assignments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing all assignments under given parent."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignment"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilter": {
      "type": "structure",
      "members": {
        "exclusionLabels": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentLabelSetList",
          "traits": {
            "smithy.api#documentation": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM."
          }
        },
        "inventories": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilterInventoryList",
          "traits": {
            "smithy.api#documentation": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories."
          }
        },
        "all": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Target all VMs in the project. If true, no other criteria is permitted."
          }
        },
        "inclusionLabels": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentLabelSetList",
          "traits": {
            "smithy.api#documentation": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM."
          }
        },
        "osShortNames": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use the `inventories` field instead. A VM is selected if it's OS short name matches with any of the values provided in this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentLabelSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentLabelSet"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilterInventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyAssignmentInstanceFilterInventory"
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyCompliance": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyComplianceStateEnum",
          "traits": {
            "smithy.api#documentation": "Compliance state of the OS policy."
          }
        },
        "osPolicyResourceCompliances": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceList",
          "traits": {
            "smithy.api#documentation": "Compliance data for each `OSPolicyResource` that is applied to the VM."
          }
        },
        "osPolicyAssignment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the `OSPolicyAssignment` API resource that the `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          }
        },
        "osPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS policy id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance data for an OS policy"
      }
    },
    "com.gcp.osconfig_v1alpha#InstanceOSPoliciesComplianceOSPolicyComplianceStateEnum": {
      "type": "enum",
      "members": {
        "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED"
          }
        },
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NO_OS_POLICIES_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OS_POLICIES_APPLICABLE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceCompliance"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourcePackageResourceMSI": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceFile",
          "traits": {
            "smithy.api#documentation": "Required. The MSI package."
          }
        },
        "properties": {
          "target": "com.gcp.osconfig_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An MSI package. MSI packages only support INSTALLED state."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStep": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepTypeEnum",
          "traits": {
            "smithy.api#documentation": "Configuration step type."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message recorded during the execution of this step. Only populated when outcome is FAILED."
          }
        },
        "outcome": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepOutcomeEnum",
          "traits": {
            "smithy.api#documentation": "Outcome of the configuration step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Step performed by the OS Config agent for configuring an `OSPolicyResource` to its desired state."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION"
          }
        },
        "DESIRED_STATE_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK"
          }
        },
        "DESIRED_STATE_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_ENFORCEMENT"
          }
        },
        "DESIRED_STATE_CHECK_POST_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceConfigStepOutcomeEnum": {
      "type": "enum",
      "members": {
        "OUTCOME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTCOME_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Policy mode"
          }
        },
        "resourceGroups": {
          "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceGroupList",
          "traits": {
            "smithy.api#documentation": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment."
          }
        },
        "allowNoResourceGroupMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy description. Length of the description is limited to 1024 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An OS policy defines the desired state configuration for a VM."
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION"
          }
        },
        "ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCEMENT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#OSPolicyResourceGroup"
      }
    },
    "com.gcp.osconfig_v1alpha#OSPolicyResourceComplianceExecResourceOutput": {
      "type": "structure",
      "members": {
        "enforcementOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output from Enforcement phase output file (if run). Output size is limited to 100K bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExecResource specific output."
      }
    },
    "com.gcp.osconfig_v1alpha#ListInventoriesResponse": {
      "type": "structure",
      "members": {
        "inventories": {
          "target": "com.gcp.osconfig_v1alpha#InventoryList",
          "traits": {
            "smithy.api#documentation": "List of inventory objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of inventory objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing inventory data for all VMs in a specified location."
      }
    },
    "com.gcp.osconfig_v1alpha#InventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1alpha#Inventory"
      }
    },
[...]
