{
  "smithy": "2.0",
  "metadata": {
    "service": "osconfig",
    "version": "v1",
    "title": "OS Config API",
    "baseUrl": "https://osconfig.googleapis.com/"
  },
  "shapes": {
    "com.gcp.osconfig_v1#GcsObject": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Bucket of the Cloud Storage object."
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Cloud Storage object."
          }
        },
        "generationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Generation number of the Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Storage object representation."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated unique id for the OS policy assignment resource."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp that the revision was created."
          }
        },
        "osPolicies": {
          "target": "com.gcp.osconfig_v1#OSPolicyList",
          "traits": {
            "smithy.api#documentation": "Required. List of OS policies to be applied to the VMs."
          }
        },
        "baseline": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS policy assignment description. Length of the description is limited to 1024 characters."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that this revision deletes the OS policy assignment."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentRollout",
          "traits": {
            "smithy.api#documentation": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. Filter to select VMs."
          }
        },
        "rolloutState": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. OS policy assignment rollout state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies)."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#OSPolicy"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#PatchRollout": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.osconfig_v1#PatchRolloutModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of the patch rollout."
          }
        },
        "disruptionBudget": {
          "target": "com.gcp.osconfig_v1#FixedOrPercent",
          "traits": {
            "smithy.api#documentation": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs."
      }
    },
    "com.gcp.osconfig_v1#PatchRolloutModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "ZONE_BY_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_BY_ZONE"
          }
        },
        "CONCURRENT_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENT_ZONES"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#VulnerabilityReport": {
      "type": "structure",
      "members": {
        "vulnerabilities": {
          "target": "com.gcp.osconfig_v1#VulnerabilityReportVulnerabilityList",
          "traits": {
            "smithy.api#documentation": "Output only. List of vulnerabilities affecting the VM."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp for when the last vulnerability report was generated for the VM."
          }
        },
        "highestUpgradableCveSeverity": {
          "target": "com.gcp.osconfig_v1#VulnerabilityReportHighestUpgradableCveSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Highest level of severity among all the upgradable vulnerabilities with CVEs attached."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The `vulnerabilityReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/vulnerabilityReport`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This API resource represents the vulnerability report for a specified Compute Engine virtual machine (VM) instance at a given point in time. For more information, see [Vulnerability reports](https://cloud.google.com/compute/docs/instances/os-inventory-management#vulnerability-reports)."
      }
    },
    "com.gcp.osconfig_v1#VulnerabilityReportVulnerabilityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#VulnerabilityReportVulnerability"
      }
    },
    "com.gcp.osconfig_v1#VulnerabilityReportHighestUpgradableCveSeverityEnum": {
      "type": "enum",
      "members": {
        "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "MINIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMAL"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#InventoryWindowsQuickFixEngineeringPackage": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A textual description of the QFE update."
          }
        },
        "hotFixId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier associated with a particular QFE update."
          }
        },
        "installTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date that the QFE update was installed. Mapped from installed_on field."
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short textual description of the QFE update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceZypper": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`"
      }
    },
    "com.gcp.osconfig_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentInstanceFilterInventory": {
      "type": "structure",
      "members": {
        "osShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OS short name"
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM inventory details."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceGroup": {
      "type": "structure",
      "members": {
        "inventoryFilters": {
          "target": "com.gcp.osconfig_v1#OSPolicyInventoryFilterList",
          "traits": {
            "smithy.api#documentation": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally."
          }
        },
        "resources": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceList",
          "traits": {
            "smithy.api#documentation": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyInventoryFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#OSPolicyInventoryFilter"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#OSPolicyResource"
      }
    },
    "com.gcp.osconfig_v1#InventoryItem": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this inventory item was first detected."
          }
        },
        "installedPackage": {
          "target": "com.gcp.osconfig_v1#InventorySoftwarePackage",
          "traits": {
            "smithy.api#documentation": "Software package present on the VM instance."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this item, unique across items for this VM."
          }
        },
        "type": {
          "target": "com.gcp.osconfig_v1#InventoryItemTypeEnum",
          "traits": {
            "smithy.api#documentation": "The specific type of inventory, correlating to its specific details."
          }
        },
        "originType": {
          "target": "com.gcp.osconfig_v1#InventoryItemOriginTypeEnum",
          "traits": {
            "smithy.api#documentation": "The origin of this inventory item."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this inventory item was last modified."
          }
        },
        "availablePackage": {
          "target": "com.gcp.osconfig_v1#InventorySoftwarePackage",
          "traits": {
            "smithy.api#documentation": "Software package available to be installed on the VM instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single piece of inventory on a VM."
      }
    },
    "com.gcp.osconfig_v1#InventoryItemTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "INSTALLED_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED_PACKAGE"
          }
        },
        "AVAILABLE_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE_PACKAGE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#InventoryItemOriginTypeEnum": {
      "type": "enum",
      "members": {
        "ORIGIN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGIN_TYPE_UNSPECIFIED"
          }
        },
        "INVENTORY_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_REPORT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourcePackageResource": {
      "type": "structure",
      "members": {
        "yum": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceYUM",
          "traits": {
            "smithy.api#documentation": "A package managed by YUM."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceZypper",
          "traits": {
            "smithy.api#documentation": "A package managed by Zypper."
          }
        },
        "rpm": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceRPM",
          "traits": {
            "smithy.api#documentation": "An rpm package file."
          }
        },
        "googet": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceGooGet",
          "traits": {
            "smithy.api#documentation": "A package managed by GooGet."
          }
        },
        "msi": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceMSI",
          "traits": {
            "smithy.api#documentation": "An MSI package."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceAPT",
          "traits": {
            "smithy.api#documentation": "A package managed by Apt."
          }
        },
        "desiredState": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceDesiredStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The desired state the agent should maintain for this package."
          }
        },
        "deb": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceDeb",
          "traits": {
            "smithy.api#documentation": "A deb package file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages a system package."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceDesiredStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the windows update category."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the windows update category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Categories specified by the Windows Update."
      }
    },
    "com.gcp.osconfig_v1#InventoryWindowsApplication": {
      "type": "structure",
      "members": {
        "helpLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internet address for technical support."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application or product."
          }
        },
        "displayVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the product or application in string format."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the manufacturer for the product or application."
          }
        },
        "installDate": {
          "target": "com.gcp.osconfig_v1#Osconfig_Date",
          "traits": {
            "smithy.api#documentation": "The last time this product received service. The value of this property is replaced each time a patch is applied or removed from the product or the command-line option is used to repair the product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a Windows application that is retrieved from the Windows Registry. For more information about these fields, see: https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key"
      }
    },
    "com.gcp.osconfig_v1#InventoryWindowsUpdatePackage": {
      "type": "structure",
      "members": {
        "categories": {
          "target": "com.gcp.osconfig_v1#InventoryWindowsUpdatePackageWindowsUpdateCategoryList",
          "traits": {
            "smithy.api#documentation": "The categories that are associated with this update package."
          }
        },
        "supportUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hyperlink to the language-specific support information for the update."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized title of the update package."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized description of the update package."
          }
        },
        "lastDeploymentChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last published date of the update, in (UTC) date and time."
          }
        },
        "revisionNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The revision number of this update package."
          }
        },
        "moreInfoUrls": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A collection of URLs that provide more information about the update package."
          }
        },
        "kbArticleIds": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package."
          }
        },
        "updateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the identifier of an update package. Stays the same across revisions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated."
      }
    },
    "com.gcp.osconfig_v1#InventoryWindowsUpdatePackageWindowsUpdateCategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#InventoryWindowsUpdatePackageWindowsUpdateCategory"
      }
    },
    "com.gcp.osconfig_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceYumRepository": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the repository."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts."
          }
        },
        "baseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The location of the repository directory."
          }
        },
        "gpgKeys": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "URIs of GPG keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`."
      }
    },
    "com.gcp.osconfig_v1#PatchJob": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this patch job was updated."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Patch configuration being applied."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time this patch job was created."
          }
        },
        "instanceDetailsSummary": {
          "target": "com.gcp.osconfig_v1#PatchJobInstanceDetailsSummary",
          "traits": {
            "smithy.api#documentation": "Summary of instance details."
          }
        },
        "patchDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the patch deployment that created this patch job."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Rollout strategy being applied."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Instances to patch."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1#PatchJobStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the PatchJob."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the patch job. Length of the description is limited to 1024 characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this patch job. This is not a unique identifier."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this patch job failed, this message provides information about the failure."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the patch job. After the duration ends, the patch job times out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job)."
      }
    },
    "com.gcp.osconfig_v1#PatchJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "INSTANCE_LOOKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_LOOKUP"
          }
        },
        "PATCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCHING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "COMPLETED_WITH_INACTIVE_VMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED_WITH_INACTIVE_VMS"
          }
        },
        "COMPLETED_WITH_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED_WITH_ERRORS"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#PatchDeployment": {
      "type": "structure",
      "members": {
        "rollout": {
          "target": "com.gcp.osconfig_v1#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Optional. Rollout strategy of the patch job."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. VM instances to patch."
          }
        },
        "recurringSchedule": {
          "target": "com.gcp.osconfig_v1#RecurringSchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule recurring executions."
          }
        },
        "lastExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment."
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1#PatchDeploymentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the patch deployment."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Duration of the patch. After the duration ends, the patch times out."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Patch configuration that is applied."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters."
          }
        },
        "oneTimeSchedule": {
          "target": "com.gcp.osconfig_v1#OneTimeSchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule a one-time execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs)."
      }
    },
    "com.gcp.osconfig_v1#PatchDeploymentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#PatchConfig": {
      "type": "structure",
      "members": {
        "rebootConfig": {
          "target": "com.gcp.osconfig_v1#PatchConfigRebootConfigEnum",
          "traits": {
            "smithy.api#documentation": "Post-patch reboot settings."
          }
        },
        "goo": {
          "target": "com.gcp.osconfig_v1#GooSettings",
          "traits": {
            "smithy.api#documentation": "Goo update settings. Use this setting to override the default `goo` patch rules."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1#ZypperSettings",
          "traits": {
            "smithy.api#documentation": "Zypper update settings. Use this setting to override the default `zypper` patch rules."
          }
        },
        "migInstancesAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows the patch job to run on Managed instance groups (MIGs)."
          }
        },
        "skipUnpatchableVms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables enhanced reporting for the patch job: 1. The patch job skips instances that cannot be patched and reports them as `SKIPPED`. An instance cannot be patched for two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The instance is part of a managed instance group (MIG), and patching MIG instances is disabled in the patch job's configuration (PatchConfig.migInstancesAllowed is `false`). 2. The patch job is reported as `SUCCEEDED` if it completes without errors, even if some instances are `SKIPPED`. 3. The patch job is reported as `COMPLETED_WITH_INACTIVE_VMS` if it completes without errors, but does not patch instances that are `INACTIVE`."
          }
        },
        "preStep": {
          "target": "com.gcp.osconfig_v1#ExecStep",
          "traits": {
            "smithy.api#documentation": "The `ExecStep` to run before the patch update."
          }
        },
        "yum": {
          "target": "com.gcp.osconfig_v1#YumSettings",
          "traits": {
            "smithy.api#documentation": "Yum update settings. Use this setting to override the default `yum` patch rules."
          }
        },
        "windowsUpdate": {
          "target": "com.gcp.osconfig_v1#WindowsUpdateSettings",
          "traits": {
            "smithy.api#documentation": "Windows update settings. Use this override the default windows patch rules."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1#AptSettings",
          "traits": {
            "smithy.api#documentation": "Apt update settings. Use this setting to override the default `apt` patch rules."
          }
        },
        "postStep": {
          "target": "com.gcp.osconfig_v1#ExecStep",
          "traits": {
            "smithy.api#documentation": "The `ExecStep` to run after the patch update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance."
      }
    },
    "com.gcp.osconfig_v1#PatchConfigRebootConfigEnum": {
      "type": "enum",
      "members": {
        "REBOOT_CONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT_CONFIG_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#InventoryOsInfo": {
      "type": "structure",
      "members": {
        "osconfigAgentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the OS Config agent running on the VM."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the operating system."
          }
        },
        "longName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM hostname."
          }
        },
        "kernelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kernel version of the operating system."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operating system short name. For example, 'windows' or 'debian'."
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The system architecture of the operating system."
          }
        },
        "kernelRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kernel release of the operating system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operating system information for the VM."
      }
    },
    "com.gcp.osconfig_v1#AptSettings": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.osconfig_v1#AptSettingsTypeEnum",
          "traits": {
            "smithy.api#documentation": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
          }
        },
        "excludes": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of packages to exclude from update. These packages will be excluded"
          }
        },
        "exclusivePackages": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed."
      }
    },
    "com.gcp.osconfig_v1#AptSettingsTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "DIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIST"
          }
        },
        "UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution."
          }
        },
        "type": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStepTypeEnum",
          "traits": {
            "smithy.api#documentation": "Configuration step type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStepTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION"
          }
        },
        "DESIRED_STATE_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK"
          }
        },
        "DESIRED_STATE_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_ENFORCEMENT"
          }
        },
        "DESIRED_STATE_CHECK_POST_ENFORCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3": {
      "type": "structure",
      "members": {
        "availabilityImpact": {
          "target": "com.gcp.osconfig_v1#CVSSv3AvailabilityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
          }
        },
        "confidentialityImpact": {
          "target": "com.gcp.osconfig_v1#CVSSv3ConfidentialityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability."
          }
        },
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The base score is a function of the base metric scores. https://www.first.org/cvss/specification-document#Base-Metrics"
          }
        },
        "privilegesRequired": {
          "target": "com.gcp.osconfig_v1#CVSSv3PrivilegesRequiredEnum",
          "traits": {
            "smithy.api#documentation": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
          }
        },
        "impactScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Impact sub-score equation is derived from the Base Impact metrics."
          }
        },
        "integrityImpact": {
          "target": "com.gcp.osconfig_v1#CVSSv3IntegrityImpactEnum",
          "traits": {
            "smithy.api#documentation": "This metric measures the impact to integrity of a successfully exploited vulnerability."
          }
        },
        "exploitabilityScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Exploitability sub-score equation is derived from the Base Exploitability metrics. https://www.first.org/cvss/specification-document#2-1-Exploitability-Metrics"
          }
        },
        "attackVector": {
          "target": "com.gcp.osconfig_v1#CVSSv3AttackVectorEnum",
          "traits": {
            "smithy.api#documentation": "This metric reflects the context by which vulnerability exploitation is possible."
          }
        },
        "attackComplexity": {
          "target": "com.gcp.osconfig_v1#CVSSv3AttackComplexityEnum",
          "traits": {
            "smithy.api#documentation": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability."
          }
        },
        "scope": {
          "target": "com.gcp.osconfig_v1#CVSSv3ScopeEnum",
          "traits": {
            "smithy.api#documentation": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope."
          }
        },
        "userInteraction": {
          "target": "com.gcp.osconfig_v1#CVSSv3UserInteractionEnum",
          "traits": {
            "smithy.api#documentation": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document"
      }
    },
    "com.gcp.osconfig_v1#CVSSv3AvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3ConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3PrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3IntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3AttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3AttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3ScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#CVSSv3UserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.osconfig_v1#RecurringSchedule": {
      "type": "structure",
      "members": {
        "timeOfDay": {
          "target": "com.gcp.osconfig_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. Time of the day to run a recurring deployment."
          }
        },
        "lastExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the last patch job ran successfully."
          }
        },
        "monthly": {
          "target": "com.gcp.osconfig_v1#MonthlySchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule with monthly executions."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment."
          }
        },
        "frequency": {
          "target": "com.gcp.osconfig_v1#RecurringScheduleFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "Required. The frequency unit of this recurring schedule."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
          }
        },
        "timeZone": {
          "target": "com.gcp.osconfig_v1#TimeZone",
          "traits": {
            "smithy.api#documentation": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
          }
        },
        "weekly": {
          "target": "com.gcp.osconfig_v1#WeeklySchedule",
          "traits": {
            "smithy.api#documentation": "Required. Schedule with weekly executions."
          }
        },
        "nextExecuteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the next patch job is scheduled to run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the time for recurring patch deployments."
      }
    },
    "com.gcp.osconfig_v1#RecurringScheduleFrequencyEnum": {
      "type": "enum",
      "members": {
        "FREQUENCY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREQUENCY_UNSPECIFIED"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceGooGet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`"
      }
    },
    "com.gcp.osconfig_v1#MessageSet": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
      }
    },
    "com.gcp.osconfig_v1#ExecutePatchJobRequest": {
      "type": "structure",
      "members": {
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this patch is a dry-run only, instances are contacted but will do nothing."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this patch job. This does not have to be unique."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the patch job. Length of the description is limited to 1024 characters."
          }
        },
        "patchConfig": {
          "target": "com.gcp.osconfig_v1#PatchConfig",
          "traits": {
            "smithy.api#documentation": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
          }
        },
        "instanceFilter": {
          "target": "com.gcp.osconfig_v1#PatchInstanceFilter",
          "traits": {
            "smithy.api#documentation": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the patch job. After the duration ends, the patch job times out."
          }
        },
        "rollout": {
          "target": "com.gcp.osconfig_v1#PatchRollout",
          "traits": {
            "smithy.api#documentation": "Rollout strategy of the patch job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request message to initiate patching across Compute Engine instances."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResource": {
      "type": "structure",
      "members": {
        "yum": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceYumRepository",
          "traits": {
            "smithy.api#documentation": "A Yum Repository."
          }
        },
        "zypper": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceZypperRepository",
          "traits": {
            "smithy.api#documentation": "A Zypper Repository."
          }
        },
        "goo": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceGooRepository",
          "traits": {
            "smithy.api#documentation": "A Goo Repository."
          }
        },
        "apt": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceAptRepository",
          "traits": {
            "smithy.api#documentation": "An Apt Repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages a package repository."
      }
    },
    "com.gcp.osconfig_v1#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "structure",
      "members": {
        "rolloutState": {
          "target": "com.gcp.osconfig_v1#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the rollout"
          }
        },
        "rolloutUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout update time"
          }
        },
        "osPolicyAssignment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
          }
        },
        "apiMethod": {
          "target": "com.gcp.osconfig_v1#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum",
          "traits": {
            "smithy.api#documentation": "The OS policy assignment API method."
          }
        },
        "rolloutStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rollout start time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
      }
    },
    "com.gcp.osconfig_v1#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataRolloutStateEnum": {
      "type": "enum",
      "members": {
        "ROLLOUT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLOUT_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadataApiMethodEnum": {
      "type": "enum",
      "members": {
        "API_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_METHOD_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "structure",
      "members": {
        "distribution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Distribution of this repository."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI for this repository."
          }
        },
        "archiveType": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceAptRepositoryArchiveTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of archive files in this repository."
          }
        },
        "components": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of components for this repository. Must contain at least one item."
          }
        },
        "gpgKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceAptRepositoryArchiveTypeEnum": {
      "type": "enum",
      "members": {
        "ARCHIVE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE_TYPE_UNSPECIFIED"
          }
        },
        "DEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEB"
          }
        },
        "DEB_SRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEB_SRC"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.osconfig_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.osconfig_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.osconfig_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.osconfig_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.osconfig_v1#ProjectFeatureSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings."
          }
        },
        "patchAndConfigFeatureSet": {
          "target": "com.gcp.osconfig_v1#ProjectFeatureSettingsPatchAndConfigFeatureSetEnum",
          "traits": {
            "smithy.api#documentation": "Set PatchAndConfigFeatureSet for the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProjectFeatureSettings represents the VM Manager feature settings in a project. For more information, see Enable full VM Manager functionality."
      }
    },
    "com.gcp.osconfig_v1#ProjectFeatureSettingsPatchAndConfigFeatureSetEnum": {
      "type": "enum",
      "members": {
        "PATCH_AND_CONFIG_FEATURE_SET_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH_AND_CONFIG_FEATURE_SET_UNSPECIFIED"
          }
        },
        "OSCONFIG_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSCONFIG_B"
          }
        },
        "OSCONFIG_C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSCONFIG_C"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceFileResource": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The absolute path of the file within the VM."
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4"
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceFileResourceStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Desired state of the file."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A file with this content. The size of the content is limited to 32KiB."
          }
        },
        "file": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceFile",
          "traits": {
            "smithy.api#documentation": "A remote or local source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that manages the state of a file."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceFileResourceStateEnum": {
      "type": "enum",
      "members": {
        "DESIRED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_STATE_UNSPECIFIED"
          }
        },
        "PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENT"
          }
        },
        "ABSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABSENT"
          }
        },
        "CONTENTS_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENTS_MATCH"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#YumSettings": {
      "type": "structure",
      "members": {
        "security": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Adds the `--security` flag to `yum update`. Not supported on all platforms."
          }
        },
        "minimal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Will cause patch to run `yum update-minimal` instead."
          }
        },
        "exclusivePackages": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields."
          }
        },
        "excludes": {
          "target": "com.gcp.osconfig_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms."
      }
    },
    "com.gcp.osconfig_v1#ListInventoriesResponse": {
      "type": "structure",
      "members": {
        "inventories": {
          "target": "com.gcp.osconfig_v1#InventoryList",
          "traits": {
            "smithy.api#documentation": "List of inventory objects."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of inventory objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing inventory data for all VMs in a specified location."
      }
    },
    "com.gcp.osconfig_v1#InventoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#Inventory"
      }
    },
    "com.gcp.osconfig_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.osconfig_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.osconfig_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#DocumentMap"
      }
    },
    "com.gcp.osconfig_v1#ListOSPolicyAssignmentRevisionsResponse": {
      "type": "structure",
      "members": {
        "osPolicyAssignments": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentList",
          "traits": {
            "smithy.api#documentation": "The OS policy assignment revisions"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of OS policy assignment revisions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing all revisions for a OS policy assignment."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.osconfig_v1#OSPolicyAssignment"
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
          }
        },
        "repository": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResource",
          "traits": {
            "smithy.api#documentation": "Package repository resource"
          }
        },
        "exec": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceExecResource",
          "traits": {
            "smithy.api#documentation": "Exec resource"
          }
        },
        "file": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceFileResource",
          "traits": {
            "smithy.api#documentation": "File resource"
          }
        },
        "pkg": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourcePackageResource",
          "traits": {
            "smithy.api#documentation": "Package resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceExecResource": {
      "type": "structure",
      "members": {
        "validate": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceExecResourceExec",
          "traits": {
            "smithy.api#documentation": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
          }
        },
        "enforce": {
          "target": "com.gcp.osconfig_v1#OSPolicyResourceExecResourceExec",
          "traits": {
            "smithy.api#documentation": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen."
      }
    },
    "com.gcp.osconfig_v1#ResumePatchDeploymentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A request message for resuming a patch deployment."
      }
    },
    "com.gcp.osconfig_v1#ListOSPolicyAssignmentsResponse": {
      "type": "structure",
      "members": {
        "osPolicyAssignments": {
          "target": "com.gcp.osconfig_v1#OSPolicyAssignmentList",
          "traits": {
            "smithy.api#documentation": "The list of assignments"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of OS policy assignments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response message for listing all assignments under given parent."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourceRepositoryResourceGooRepository": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the repository."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The url of the repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`."
      }
    },
    "com.gcp.osconfig_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.osconfig_v1#TimeZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.osconfig_v1#PatchJobInstanceDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance name in the form `projects/*/zones/*/instances/*`"
          }
        },
        "state": {
          "target": "com.gcp.osconfig_v1#PatchJobInstanceDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of instance patch."
          }
        },
        "instanceSystemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the instance. This identifier is defined by the server."
          }
        },
        "attemptCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of times the agent that the agent attempts to apply the patch."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the patch fails, this field provides the reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details)."
      }
    },
    "com.gcp.osconfig_v1#PatchJobInstanceDetailsStateEnum": {
      "type": "enum",
      "members": {
        "PATCH_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "NOTIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "DOWNLOADING_PATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNLOADING_PATCHES"
          }
        },
        "APPLYING_PATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLYING_PATCHES"
          }
        },
        "REBOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOTING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "SUCCEEDED_REBOOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED_REBOOT_REQUIRED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACKED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        },
        "RUNNING_PRE_PATCH_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_PRE_PATCH_STEP"
          }
        },
        "RUNNING_POST_PATCH_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING_POST_PATCH_STEP"
          }
        },
        "NO_AGENT_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AGENT_DETECTED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#OneTimeSchedule": {
      "type": "structure",
      "members": {
        "executeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The desired patch job execution time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
      }
    },
    "com.gcp.osconfig_v1#WeekDayOfMonth": {
      "type": "structure",
      "members": {
        "weekOrdinal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month."
          }
        },
        "dayOffset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second Tuesday of the month and the `day_offset` value is set to `3`, patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, patches are deployed five days before the second Tuesday of the month. Allowed values are in range [-30, 30]."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.osconfig_v1#WeekDayOfMonthDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Required. A day of the week."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents one week day in a month. An example is \"the 4th Sunday\"."
      }
    },
    "com.gcp.osconfig_v1#WeekDayOfMonthDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.osconfig_v1#FixedOrPercent": {
      "type": "structure",
      "members": {
        "fixed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies a fixed value."
          }
        },
        "percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput": {
      "type": "structure",
      "members": {
        "enforcementOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output from enforcement phase output file (if run). Output size is limited to 100K bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExecResource specific output."
      }
    },
    "com.gcp.osconfig_v1#OSPolicyResourcePackageResourceYUM": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`"
      }
    },
    "com.gcp.osconfig_v1#InventorySoftwarePackage": {
      "type": "structure",
      "members": {
        "aptPackage": {
          "target": "com.gcp.osconfig_v1#InventoryVersionedPackage",
          "traits": {
            "smithy.api#documentation": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt."
          }
        },
        "zypperPackage": {
          "target": "com.gcp.osconfig_v1#InventoryVersionedPackage",
          "traits": {
            "smithy.api#documentation": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual."
[...]
