{
  "smithy": "2.0",
  "metadata": {
    "service": "playdeveloperreporting",
    "version": "v1alpha1",
    "title": "Google Play Developer Reporting API",
    "baseUrl": "https://playdeveloperreporting.googleapis.com/"
  },
  "shapes": {
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
          }
        },
        "userCohort": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequestUserCohortEnum",
          "traits": {
            "smithy.api#documentation": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`."
          }
        },
        "timelineSpec": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
          }
        },
        "metrics": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics to aggregate. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for QueryExcessiveWakeupRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequestUserCohortEnum": {
      "type": "enum",
      "members": {
        "USER_COHORT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_COHORT_UNSPECIFIED"
          }
        },
        "OS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_PUBLIC"
          }
        },
        "OS_BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_BETA"
          }
        },
        "APP_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_TESTERS"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
          }
        },
        "userCohort": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequestUserCohortEnum",
          "traits": {
            "smithy.api#documentation": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
          }
        },
        "timelineSpec": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`."
          }
        },
        "metrics": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics to aggregate. **Supported metrics:** * `userPerceivedLmkRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one LMK while they were actively using your app (a user-perceived LMK). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedLmkRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedLmkRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `userPerceivedLmkRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for QueryLmkRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequestUserCohortEnum": {
      "type": "enum",
      "members": {
        "USER_COHORT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_COHORT_UNSPECIFIED"
          }
        },
        "OS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_PUBLIC"
          }
        },
        "OS_BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_BETA"
          }
        },
        "APP_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_TESTERS"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token to fetch the next page of data."
          }
        },
        "rows": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricsRowList",
          "traits": {
            "smithy.api#documentation": "Returned rows of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryAnrRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricsRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricsRow"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token to fetch the next page of reports."
          }
        },
        "errorReports": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReportList",
          "traits": {
            "smithy.api#documentation": "Error reports that were found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response with a paginated list of error reports matching the search query."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReport"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token to fetch the next page of data."
          }
        },
        "rows": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricsRowList",
          "traits": {
            "smithy.api#documentation": "Returned rows of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryCrashRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse": {
      "type": "structure",
      "members": {
        "anomalies": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AnomalyList",
          "traits": {
            "smithy.api#documentation": "Anomalies that were found."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token to fetch the next page of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response with a list of anomalies in datasets."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AnomalyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1Anomaly"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo": {
      "type": "structure",
      "members": {
        "freshnesses": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshnessList",
          "traits": {
            "smithy.api#documentation": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshnessList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
          }
        },
        "userCohort": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequestUserCohortEnum",
          "traits": {
            "smithy.api#documentation": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`."
          }
        },
        "timelineSpec": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
          }
        },
        "metrics": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for QuerySlowStartRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequestUserCohortEnum": {
      "type": "enum",
      "members": {
        "USER_COHORT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_COHORT_UNSPECIFIED"
          }
        },
        "OS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_PUBLIC"
          }
        },
        "OS_BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_BETA"
          }
        },
        "APP_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_TESTERS"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest": {
      "type": "structure",
      "members": {
        "timelineSpec": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`."
          }
        },
        "metrics": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
          }
        },
        "dimensions": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
          }
        },
        "userCohort": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequestUserCohortEnum",
          "traits": {
            "smithy.api#documentation": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for QueryCrashRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequestUserCohortEnum": {
      "type": "enum",
      "members": {
        "USER_COHORT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_COHORT_UNSPECIFIED"
          }
        },
        "OS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_PUBLIC"
          }
        },
        "OS_BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_BETA"
          }
        },
        "APP_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_TESTERS"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token to fetch the next page of data."
          }
        },
        "rows": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricsRowList",
          "traits": {
            "smithy.api#documentation": "Returned rows of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryLmkRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/errorCountMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of error report metrics. This metric set contains un-normalized error report counts. **Supported aggregation periods:** * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. This value is not rounded, however it may be an approximation. **Required dimension:** This dimension must be always specified in all requests in the `dimensions` field in query requests. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors.counts contains normalized metrics about Crashes, another stability metric. * vitals.errors.counts contains normalized metrics about ANRs, another stability metric."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/crashRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of Excessive Weakeups metrics. This metric set contains AlarmManager wakeup counts data combined with process state data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `excessiveWakeupRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had more than 10 wakeups per hour. * `excessiveWakeupRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `excessiveWakeupRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `excessiveWakeupRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `excessiveWakeupRate` metric. A user is counted in this metric if they app was doing any work on the device, i.e., not just active foreground usage but also background work. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/slowStartRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1Release": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable identifier of the release."
          }
        },
        "versionCodes": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The version codes contained in this release."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of an app release."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
            "smithy.api#documentation": "Summary about data freshness in this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Singleton resource representing the set of Slow Rendering metrics. This metric set contains low-level rendering data captured by SurafeFlinger. Sessions are evaluated based on the present-to-present histogram of frames handled by any SurfaceFlinger layer owned by the app. A slow session is a session where more than 25% of frames for the session did not meet the metric's target frame rate (either 20fps, or 30fps). *NOTE:* This metric set is only available for games. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowRenderingRate20Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate20Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate20Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate30Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowRenderingRate20Fps`/`slowRenderingRate30Fps` metric. A user is counted in this metric if their app rendered any frames. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest": {
      "type": "structure",
      "members": {
        "timelineSpec": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`."
          }
        },
        "metrics": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not . supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
          }
        },
        "dimensions": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
          }
        },
        "userCohort": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequestUserCohortEnum",
          "traits": {
            "smithy.api#documentation": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for QueryAnrRateMetricSet."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequestUserCohortEnum": {
      "type": "enum",
      "members": {
        "USER_COHORT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_COHORT_UNSPECIFIED"
          }
        },
        "OS_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_PUBLIC"
          }
        },
        "OS_BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_BETA"
          }
        },
        "APP_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_TESTERS"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDecimal": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ReleaseFilterOptions": {
      "type": "structure",
      "members": {
        "tracks": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TrackList",
          "traits": {
            "smithy.api#documentation": "List of tracks to filter releases over. Provides the grouping of version codes under releases and tracks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of filtering options for releases and version codes specific to an app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1TrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1Track"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1MetricValue": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metric."
          }
        },
        "decimalValue": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "Actual value, represented as a decimal number."
          }
        },
        "decimalValueConfidenceInterval": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval",
          "traits": {
            "smithy.api#documentation": "Confidence interval of a value that is of type `type.Decimal`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the value of a metric."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDateTime": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "timeZone": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeTimeZone",
          "traits": {
            "smithy.api#documentation": "Time zone."
          }
        },
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
          }
        },
        "utcOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "apps": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AppList",
          "traits": {
            "smithy.api#documentation": "The apps accessible to the user calling the endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchAccessibleApps."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1App"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReport": {
      "type": "structure",
      "members": {
        "reportText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the report. Format: apps/{app}/{report}"
          }
        },
        "osVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1OsVersion",
          "traits": {
            "smithy.api#documentation": "The OS version on which an event in this error report occurred on."
          }
        },
        "issue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue."
          }
        },
        "appVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AppVersion",
          "traits": {
            "smithy.api#documentation": "The app version on which an event in this error report occurred on."
          }
        },
        "vcsInformation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version control system information from BUNDLE-METADATA/version-control-info.textproto or META-INF/version-control-info.textproto of the app bundle or APK, respectively."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the hour during which the latest event in this error report occurred."
          }
        },
        "type": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReportTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the error for which this report was generated."
          }
        },
        "deviceModel": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1DeviceModelSummary",
          "traits": {
            "smithy.api#documentation": "A device model on which an event in this error report occurred on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorReportTypeEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "APPLICATION_NOT_RESPONDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_NOT_RESPONDING"
          }
        },
        "CRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASH"
          }
        },
        "NON_FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_FATAL"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1Track": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Readable identifier of the track."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the track."
          }
        },
        "servingReleases": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ReleaseList",
          "traits": {
            "smithy.api#documentation": "Represents all active releases in the track."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a Play release track."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1Release"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1IssueAnnotation": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the annotation."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the contents of the annotation message."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category that the annotation belongs to. An annotation will belong to a single category. Example categories: \"Potential fix\", \"Insight\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of an annotation message for an issue."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval": {
      "type": "structure",
      "members": {
        "lowerBound": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "The confidence interval's lower bound."
          }
        },
        "upperBound": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "The confidence interval's upper bound."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the confidence interval of a metric."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1DimensionValue": {
      "type": "structure",
      "members": {
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actual value, represented as an int64."
          }
        },
        "valueLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actual value, represented as a string."
          }
        },
        "dimension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the value of a single dimension."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorIssue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the issue. Format: apps/{app}/{issue}"
          }
        },
        "lastErrorReportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the hour during which the last error report in this issue occurred."
          }
        },
        "distinctUsers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of unique users who have experienced this issue (only considering occurrences matching the filters and within the requested time period)."
          }
        },
        "firstAppVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AppVersion",
          "traits": {
            "smithy.api#documentation": "The earliest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters)."
          }
        },
        "cause": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cause of the issue. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the type of ANR that occurred, e.g., 'Input dispatching timed out'. * CRASH: for Java unhandled exception errors, the type of the innermost exception that was thrown, e.g., IllegalArgumentException. For signals in native code, the signal that was raised, e.g. SIGSEGV."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location where the issue happened. Depending on the type this can be either: * APPLICATION_NOT_RESPONDING: the name of the activity or service that stopped responding. * CRASH: the likely method name that caused the error."
          }
        },
        "lastAppVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1AppVersion",
          "traits": {
            "smithy.api#documentation": "The latest (inclusive) app version appearing in this ErrorIssue in the requested time period (only considering occurrences matching the filters)."
          }
        },
        "issueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the issue in Android vitals in the Play Console."
          }
        },
        "annotations": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1IssueAnnotationList",
          "traits": {
            "smithy.api#documentation": "List of annotations for an issue. Annotations provide additional information that may help in diagnosing and fixing the issue."
          }
        },
        "distinctUsersPercent": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "An estimated percentage of users affected by any issue that are affected by this issue (only considering occurrences matching the filters and within the requested time period)."
          }
        },
        "lastOsVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1OsVersion",
          "traits": {
            "smithy.api#documentation": "The latest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period)."
          }
        },
        "sampleErrorReports": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Sample error reports which belong to this ErrorIssue. *Note:* currently a maximum of 1 per ErrorIssue is supported. Format: \"apps/{app}/{report}\""
          }
        },
        "type": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorIssueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the errors grouped in this issue."
          }
        },
        "errorReportCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of error reports in this issue (only considering occurrences matching the filters and within the requested time period)."
          }
        },
        "firstOsVersion": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1OsVersion",
          "traits": {
            "smithy.api#documentation": "The smallest OS version in which this error cluster has occurred in the requested time period (only considering occurrences matching the filters and within the requested time period)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A group of related ErrorReports received for an app. Similar error reports are grouped together into issues with a likely identical root cause. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to different issues. This could also cause some issues disappearing entirely and being replaced by new ones. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1IssueAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1IssueAnnotation"
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1ErrorIssueTypeEnum": {
      "type": "enum",
      "members": {
        "ERROR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_TYPE_UNSPECIFIED"
          }
        },
        "APPLICATION_NOT_RESPONDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_NOT_RESPONDING"
          }
        },
        "CRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASH"
          }
        },
        "NON_FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_FATAL"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1OsVersion": {
      "type": "structure",
      "members": {
        "apiLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Numeric version code of the OS - API level"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of an OS version."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1App": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the app. This is the latest title as set in the Play Console and may not yet have been reviewed, so might not match the Play Store. Example: `Google Maps`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}"
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package name of the app. Example: `com.example.app123`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of an app in the Play Store."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness": {
      "type": "structure",
      "members": {
        "latestEndTime": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GoogleTypeDateTime",
          "traits": {
            "smithy.api#documentation": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time."
          }
        },
        "aggregationPeriod": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshnessAggregationPeriodEnum",
          "traits": {
            "smithy.api#documentation": "Aggregation period for which data is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about data freshness for a single aggregation period."
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshnessAggregationPeriodEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_PERIOD_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "FULL_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_RANGE"
          }
        }
      }
    },
    "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
          }
        },
        "freshnessInfo": {
          "target": "com.gcp.playdeveloperreporting_v1alpha1#GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "traits": {
[...]
