{
  "smithy": "2.0",
  "metadata": {
    "service": "policytroubleshooter",
    "version": "v1beta",
    "title": "Policy Troubleshooter API",
    "baseUrl": "https://policytroubleshooter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyResponse": {
      "type": "structure",
      "members": {
        "explainedPolicies": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyList",
          "traits": {
            "smithy.api#documentation": "List of IAM policies that were evaluated to check the member's permissions, with annotations to indicate how each policy contributed to the final result. The list of policies can include the policy for the resource itself. It can also include policies that are inherited from higher levels of the resource hierarchy, including the organization, the folder, and the project. To learn more about the resource hierarchy, see https://cloud.google.com/iam/help/resource-hierarchy."
          }
        },
        "access": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyResponseAccessEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the member has the specified permission for the specified resource, based on evaluating all of the applicable policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for TroubleshootIamPolicy."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicy"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyResponseAccessEnum": {
      "type": "enum",
      "members": {
        "ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_STATE_UNSPECIFIED"
          }
        },
        "GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRANTED"
          }
        },
        "NOT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_GRANTED"
          }
        },
        "UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_CONDITIONAL"
          }
        },
        "UNKNOWN_INFO_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_INFO_DENIED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicy": {
      "type": "structure",
      "members": {
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this policy to the overall determination in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "access": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyAccessEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether _this policy_ provides the specified permission to the specified member for the specified resource. This field does _not_ indicate whether the member actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the member actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          }
        },
        "policy": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "The IAM policy attached to the resource. If the sender of the request does not have access to the policy, this field is empty."
          }
        },
        "bindingExplanations": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationList",
          "traits": {
            "smithy.api#documentation": "Details about how each binding in the policy affects the member's ability, or inability, to use the permission for the resource. If the sender of the request does not have access to the policy, this field is omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a specific IAM Policy contributed to the access check."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaExplainedPolicyAccessEnum": {
      "type": "enum",
      "members": {
        "ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_STATE_UNSPECIFIED"
          }
        },
        "GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRANTED"
          }
        },
        "NOT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_GRANTED"
          }
        },
        "UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_CONDITIONAL"
          }
        },
        "UNKNOWN_INFO_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_INFO_DENIED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanation"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembership": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipMembershipEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the binding includes the member."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the member's status to the overall determination for the binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about whether the binding includes the member."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipMembershipEnum": {
      "type": "enum",
      "members": {
        "MEMBERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_UNSPECIFIED"
          }
        },
        "MEMBERSHIP_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_INCLUDED"
          }
        },
        "MEMBERSHIP_NOT_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_NOT_INCLUDED"
          }
        },
        "MEMBERSHIP_UNKNOWN_INFO_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_UNKNOWN_INFO_DENIED"
          }
        },
        "MEMBERSHIP_UNKNOWN_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaAccessTuple": {
      "type": "structure",
      "members": {
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The member, or principal, whose access you want to check, in the form of the email address that represents that member. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The member must be a Google Account or a service account. Other types of members are not supported."
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IAM permission to check for the specified member and resource. For a complete list of IAM permissions, see https://cloud.google.com/iam/help/permissions/reference. For a complete list of predefined IAM roles and the permissions in each role, see https://cloud.google.com/iam/help/roles/reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the member, resource, and permission to check."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.policytroubleshooter_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyRequest": {
      "type": "structure",
      "members": {
        "accessTuple": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaAccessTuple",
          "traits": {
            "smithy.api#documentation": "The information to use for checking whether a member has a permission for a resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for TroubleshootIamPolicy."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1Binding"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleTypeExpr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanation": {
      "type": "structure",
      "members": {
        "memberships": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipMap",
          "traits": {
            "smithy.api#documentation": "Indicates whether each member in the binding includes the member specified in the request, either directly or indirectly. Each key identifies a member in the binding, and each value indicates whether the member in the binding includes the member in the request. For example, suppose that a binding includes the following members: * `user:alice@example.com` * `group:product-eng@example.com` You want to troubleshoot access for `user:bob@example.com`. This user is a member of the group `group:product-eng@example.com`. For the first member in the binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_NOT_INCLUDED`. For the second member in the binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_INCLUDED`."
          }
        },
        "rolePermission": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRolePermissionEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the role granted by this binding contains the specified permission."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role that this binding grants. For example, `roles/compute.serviceAgent`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference."
          }
        },
        "access": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAccessEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether _this binding_ provides the specified permission to the specified member for the specified resource. This field does _not_ indicate whether the member actually has the permission for the resource. There might be another binding that overrides this binding. To determine whether the member actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse."
          }
        },
        "rolePermissionRelevance": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRolePermissionRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this binding to the overall determination for the entire policy."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "A condition expression that prevents access unless the expression evaluates to `true`. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a binding in a policy affects a member's ability to use a permission."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembershipMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAnnotatedMembership"
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRolePermissionEnum": {
      "type": "enum",
      "members": {
        "ROLE_PERMISSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_UNSPECIFIED"
          }
        },
        "ROLE_PERMISSION_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_INCLUDED"
          }
        },
        "ROLE_PERMISSION_NOT_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_NOT_INCLUDED"
          }
        },
        "ROLE_PERMISSION_UNKNOWN_INFO_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationAccessEnum": {
      "type": "enum",
      "members": {
        "ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_STATE_UNSPECIFIED"
          }
        },
        "GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRANTED"
          }
        },
        "NOT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_GRANTED"
          }
        },
        "UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_CONDITIONAL"
          }
        },
        "UNKNOWN_INFO_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_INFO_DENIED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRolePermissionRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaBindingExplanationRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.policytroubleshooter_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.policytroubleshooter_v1beta#TroubleshootIamRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.policytroubleshooter_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.policytroubleshooter_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.policytroubleshooter_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.policytroubleshooter_v1beta#TroubleshootIam": {
      "type": "operation",
      "input": {
        "target": "com.gcp.policytroubleshooter_v1beta#TroubleshootIamRequest"
      },
      "output": {
        "target": "com.gcp.policytroubleshooter_v1beta#GoogleCloudPolicytroubleshooterV1betaTroubleshootIamPolicyResponse"
      },
      "errors": [
        {
          "target": "com.gcp.policytroubleshooter_v1beta#NotFound"
        },
        {
          "target": "com.gcp.policytroubleshooter_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.policytroubleshooter_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.policytroubleshooter_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/iam:troubleshoot"
        },
        "smithy.api#documentation": "Checks whether a member has a specific permission for a specific resource, and explains why the member does or does not have that permission."
      }
    }
  }
}
