{
  "smithy": "2.0",
  "metadata": {
    "service": "policytroubleshooter",
    "version": "v3beta",
    "title": "Policy Troubleshooter API",
    "baseUrl": "https://policytroubleshooter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBinding": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy binding was most recently updated."
          }
        },
        "target": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBindingTarget",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The full resource name of the resource to which the policy will be bound. Immutable once set."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "Optional. The condition to apply to the policy binding. When set, the `expression` field in the `Expr` must include from 1 to 10 subexpressions, joined by the \"||\"(Logical OR), \"&&\"(Logical AND) or \"!\"(Logical NOT) operators and cannot contain more than 250 characters. The condition is currently only supported when bound to policies of kind principal access boundary. When the bound policy is a principal access boundary policy, the only supported attributes in any subexpression are `principal.type` and `principal.subject`. An example expression is: \"principal.type == 'iam.googleapis.com/ServiceAccount'\" or \"principal.subject == 'bob@example.com'\". Allowed operations for `principal.subject`: - `principal.subject == ` - `principal.subject != ` - `principal.subject in []` - `principal.subject.startsWith()` - `principal.subject.endsWith()` Allowed operations for `principal.type`: - `principal.type == ` - `principal.type != ` - `principal.type in []` Supported principal types are workspace, workforce pool, workload pool, service account, and agent identity. Allowed string must be one of: - `iam.googleapis.com/WorkspaceIdentity` - `iam.googleapis.com/WorkforcePoolIdentity` - `iam.googleapis.com/WorkloadPoolIdentity` - `iam.googleapis.com/ServiceAccount` - `iam.googleapis.com/AgentPoolIdentity` (available in Preview)"
          }
        },
        "policyUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The globally unique ID of the policy to be bound."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the policy binding, in the format `{binding_parent/locations/{location}/policyBindings/{policy_binding_id}`. The binding parent is the closest Resource Manager resource (project, folder, or organization) to the binding target. Format: * `projects/{project_id}/locations/{location}/policyBindings/{policy_binding_id}` * `projects/{project_number}/locations/{location}/policyBindings/{policy_binding_id}` * `folders/{folder_id}/locations/{location}/policyBindings/{policy_binding_id}` * `organizations/{organization_id}/locations/{location}/policyBindings/{policy_binding_id}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The globally unique ID of the policy binding. Assigned when the policy binding is created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag for the policy binding. If this is provided on update, it must match the server's etag."
          }
        },
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the policy to be bound. The binding parent and policy must belong to the same organization."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy binding was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the policy binding. Must be less than or equal to 63 characters."
          }
        },
        "policyKind": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBindingPolicyKindEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The kind of the policy to attach in this binding. This field must be one of the following: - Left empty (will be automatically set to the policy kind) - The input policy kind"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IAM policy binding resource."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBindingPolicyKindEnum": {
      "type": "enum",
      "members": {
        "POLICY_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_KIND_UNSPECIFIED"
          }
        },
        "PRINCIPAL_ACCESS_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRINCIPAL_ACCESS_BOUNDARY"
          }
        },
        "ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleOperation": {
      "type": "structure",
      "members": {
        "excludedPermissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the permissions that this rule excludes from the set of affected permissions given by `permissions`. The number of excluded permission strings in this field is limited to 50 across all rules in the policy. If a permission appears in both `permissions` and `excluded_permissions` then it will _not_ be subject to the policy effect. The excluded permissions can be specified using the same syntax as `permissions`."
          }
        },
        "permissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The permissions that are explicitly affected by this rule. The number of permission strings in this field is limited to 50 across all rules in the policy. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. `*` can be used as a wildcard to match all permissions for a specific service, resource type, or verb. The following formats are supported: * `{service_fqdn}/{resource}.{verb}`: A specific permission. * `{service_fqdn}/{resource}.*`: All permissions for a specific resource type. * `{service_fqdn}/*.*`: All permissions for all resource types under a specific service. * `{service_fqdn}/*.{verb}`: All permissions with a specific verb under a specific service. * `*`: All permissions across all services. For example, `compute.googleapis.com/*.setIamPolicy` refers to all setIamPolicy permissions for any compute resource. Wildcards expand only to the permissions specified in the `enforcement_version` of the policy. If the `enforcement_version` is updated, the wildcard will automatically expand to include new permissions in the updated version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An operation attribute that defines the permissions applicable to this rule."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponse": {
      "type": "structure",
      "members": {
        "overallAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponseOverallAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the principal has the permission to access the resource, based on evaluating all types of the applicable IAM policies."
          }
        },
        "accessContext": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAccessContext",
          "traits": {
            "smithy.api#documentation": "The access context associated with the ErrorInfoId."
          }
        },
        "pabPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaPABPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable principal access boundary policies affect the final access state."
          }
        },
        "denyPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable IAM deny policies affect the final access state."
          }
        },
        "allowPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable IAM allow policies affect the final access state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for troubleshoot access denial with the IAM error identifier."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponseOverallAccessStateEnum": {
      "type": "enum",
      "members": {
        "OVERALL_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "OVERALL_ACCESS_STATE_CAN_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_CAN_ACCESS"
          }
        },
        "OVERALL_ACCESS_STATE_CANNOT_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_CANNOT_ACCESS"
          }
        },
        "OVERALL_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_UNKNOWN_INFO"
          }
        },
        "OVERALL_ACCESS_STATE_UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBindingTarget": {
      "type": "structure",
      "members": {
        "principalSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The full resource name that's used for principal access boundary policy bindings. The principal set must be directly parented by the policy binding's parent or same as the parent if the target is a project, folder, or organization. Examples: * For bindings parented by an organization: * Organization: `//cloudresourcemanager.googleapis.com/organizations/ORGANIZATION_ID` * Workforce Identity: `//iam.googleapis.com/locations/global/workforcePools/WORKFORCE_POOL_ID` * Workspace Identity: `//iam.googleapis.com/locations/global/workspace/WORKSPACE_ID` * For bindings parented by a folder: * Folder: `//cloudresourcemanager.googleapis.com/folders/FOLDER_ID` * For bindings parented by a project: * Project: * `//cloudresourcemanager.googleapis.com/projects/PROJECT_NUMBER` * `//cloudresourcemanager.googleapis.com/projects/PROJECT_ID` * Workload Identity Pool: `//iam.googleapis.com/projects/PROJECT_NUMBER/locations/LOCATION/workloadIdentityPools/WORKLOAD_POOL_ID`"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The full resource name that's used for access policy bindings. Examples: * Organization: `//cloudresourcemanager.googleapis.com/organizations/ORGANIZATION_ID` * Folder: `//cloudresourcemanager.googleapis.com/folders/FOLDER_ID` * Project: * `//cloudresourcemanager.googleapis.com/projects/PROJECT_NUMBER` * `//cloudresourcemanager.googleapis.com/projects/PROJECT_ID`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full resource name of the resource to which the policy will be bound. Immutable once set."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRule": {
      "type": "structure",
      "members": {
        "effect": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleEffectEnum",
          "traits": {
            "smithy.api#documentation": "Required. The access relationship of principals to the resources in this rule."
          }
        },
        "operation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleOperation",
          "traits": {
            "smithy.api#documentation": "Optional. The operation attributes that determine whether this rule applies to a request. If this field is not specified, the rule applies to all operations."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the principal access boundary policy rule. Must be less than or equal to 256 characters."
          }
        },
        "resources": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of Resource Manager resources. If a resource is listed in the rule, then the rule applies for that resource and its descendants. The number of resources in a policy is limited to 500 across all rules in the policy. The following resource types are supported: * Organizations, such as `//cloudresourcemanager.googleapis.com/organizations/123`. * Folders, such as `//cloudresourcemanager.googleapis.com/folders/123`. * Projects, such as `//cloudresourcemanager.googleapis.com/projects/123` or `//cloudresourcemanager.googleapis.com/projects/my-project-id`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal access boundary policy rule that defines the resource boundary."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleEffectEnum": {
      "type": "enum",
      "members": {
        "EFFECT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFECT_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicy": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV2Policy",
          "traits": {
            "smithy.api#documentation": "The IAM deny policy attached to the resource. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "ruleExplanations": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationList",
          "traits": {
            "smithy.api#documentation": "Details about how each rule in the policy affects the principal's inability to use the permission for the resource. The order of the deny rule matches the order of the rules in the deny policy. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicyRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "denyAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicyDenyAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether _this policy_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a specific IAM deny policy Policy contributed to the access check."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanation"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicyRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicyDenyAccessStateEnum": {
      "type": "enum",
      "members": {
        "DENY_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "DENY_ACCESS_STATE_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_DENIED"
          }
        },
        "DENY_ACCESS_STATE_NOT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_NOT_DENIED"
          }
        },
        "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          }
        },
        "DENY_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRule": {
      "type": "structure",
      "members": {
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this rule to the overall access state."
          }
        },
        "combinedResourceInclusionState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleCombinedResourceInclusionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether any resource of the rule is the specified resource or includes the specified resource."
          }
        },
        "explainedResources": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleExplainedResourceList",
          "traits": {
            "smithy.api#documentation": "List of resources that were explained to check the principal's access to specified resource, with annotations to indicate how each resource contributes to the overall access state."
          }
        },
        "combinedResourceRelevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleCombinedResourceRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the combined resource inclusion state to the overall access state."
          }
        },
        "ruleAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleRuleAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the rule allows access to the specified resource."
          }
        },
        "effect": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleEffectEnum",
          "traits": {
            "smithy.api#documentation": "Required. The effect of the rule which describes the access relationship."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a principal access boundary rule contributes to the explanation, with annotations to indicate how the rule contributes to the overall access state."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleCombinedResourceInclusionStateEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_INCLUSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_INCLUSION_STATE_UNSPECIFIED"
          }
        },
        "RESOURCE_INCLUSION_STATE_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_INCLUSION_STATE_INCLUDED"
          }
        },
        "RESOURCE_INCLUSION_STATE_NOT_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_INCLUSION_STATE_NOT_INCLUDED"
          }
        },
        "RESOURCE_INCLUSION_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_INCLUSION_STATE_UNKNOWN_INFO"
          }
        },
        "RESOURCE_INCLUSION_STATE_UNKNOWN_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_INCLUSION_STATE_UNKNOWN_UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleExplainedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleExplainedResource"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleCombinedResourceRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleRuleAccessStateEnum": {
      "type": "enum",
      "members": {
        "PAB_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "PAB_ACCESS_STATE_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_ACCESS_STATE_ALLOWED"
          }
        },
        "PAB_ACCESS_STATE_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_ACCESS_STATE_NOT_ALLOWED"
          }
        },
        "PAB_ACCESS_STATE_NOT_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_ACCESS_STATE_NOT_ENFORCED"
          }
        },
        "PAB_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_ACCESS_STATE_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleEffectEnum": {
      "type": "enum",
      "members": {
        "EFFECT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFFECT_UNSPECIFIED"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanation": {
      "type": "structure",
      "members": {
        "conditionExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation",
          "traits": {
            "smithy.api#documentation": "Condition evaluation state for this role binding."
          }
        },
        "memberships": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipMap",
          "traits": {
            "smithy.api#documentation": "Indicates whether each role binding includes the principal specified in the request, either directly or indirectly. Each key identifies a principal in the role binding, and each value indicates whether the principal in the role binding includes the principal in the request. For example, suppose that a role binding includes the following principals: * `user:alice@example.com` * `group:product-eng@example.com` You want to troubleshoot access for `user:bob@example.com`. This user is a member of the group `group:product-eng@example.com`. For the first principal in the role binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `NOT_INCLUDED`. For the second principal in the role binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `INCLUDED`."
          }
        },
        "allowAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAllowAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether _this role binding_ gives the specified permission to the specified principal on the specified resource. This field does _not_ indicate whether the principal actually has the permission on the resource. There might be another role binding that overrides this role binding. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this role binding to the overall determination for the entire policy."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "A condition expression that specifies when the role binding grants access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
          }
        },
        "rolePermissionRelevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRolePermissionRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy."
          }
        },
        "rolePermission": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRolePermissionEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the role granted by this role binding contains the specified permission."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role that this role binding grants. For example, `roles/compute.admin`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference."
          }
        },
        "combinedMembership": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership",
          "traits": {
            "smithy.api#documentation": "The combined result of all memberships. Indicates if the principal is included in any role binding, either directly or indirectly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a role binding in an allow policy affects a principal's ability to use a permission."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAllowAccessStateEnum": {
      "type": "enum",
      "members": {
        "ALLOW_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "ALLOW_ACCESS_STATE_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_GRANTED"
          }
        },
        "ALLOW_ACCESS_STATE_NOT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_NOT_GRANTED"
          }
        },
        "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          }
        },
        "ALLOW_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRolePermissionRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationRolePermissionEnum": {
      "type": "enum",
      "members": {
        "ROLE_PERMISSION_INCLUSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_INCLUSION_STATE_UNSPECIFIED"
          }
        },
        "ROLE_PERMISSION_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_INCLUDED"
          }
        },
        "ROLE_PERMISSION_NOT_INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_NOT_INCLUDED"
          }
        },
        "ROLE_PERMISSION_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_PERMISSION_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBinding": {
      "type": "structure",
      "members": {
        "policyBindingState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBindingPolicyBindingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the policy binding takes effect."
          }
        },
        "policyBinding": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PolicyBinding",
          "traits": {
            "smithy.api#documentation": "The policy binding that is explained."
          }
        },
        "conditionExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation",
          "traits": {
            "smithy.api#documentation": "Optional. Explanation of the condition in the policy binding. If the policy binding doesn't have a condition, this field is omitted."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBindingRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this policy binding to the overall access state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a policy binding contributes to the policy explanation, with annotations to indicate how the policy binding contributes to the overall access state."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBindingPolicyBindingStateEnum": {
      "type": "enum",
      "members": {
        "POLICY_BINDING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_BINDING_STATE_UNSPECIFIED"
          }
        },
        "POLICY_BINDING_STATE_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_BINDING_STATE_ENFORCED"
          }
        },
        "POLICY_BINDING_STATE_NOT_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_BINDING_STATE_NOT_ENFORCED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBindingRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipMembershipEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the role binding includes the principal."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the principal's status to the overall determination for the role binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about whether the role binding includes the principal."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipMembershipEnum": {
      "type": "enum",
      "members": {
        "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED"
          }
        },
        "MEMBERSHIP_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_MATCHED"
          }
        },
        "MEMBERSHIP_NOT_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_NOT_MATCHED"
          }
        },
        "MEMBERSHIP_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_UNKNOWN_INFO"
          }
        },
        "MEMBERSHIP_UNKNOWN_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembershipRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationState": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value of this expression."
          }
        },
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End position of an expression in the condition, by character, end included, for example: the end position of the first part of `a==b || c==d` would be 4."
          }
        },
        "errors": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Any errors that prevented complete evaluation of the condition expression."
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start position of an expression in the condition, by character."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluated state of a condition expression."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleRpcStatus"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching": {
      "type": "structure",
      "members": {
        "permissionMatchingState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingPermissionMatchingStateEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the permission in the request is denied by the deny rule."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of the permission status to the overall determination for the rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about whether the permission in the request is denied by the deny rule."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingPermissionMatchingStateEnum": {
      "type": "enum",
      "members": {
        "PERMISSION_PATTERN_MATCHING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_PATTERN_MATCHING_STATE_UNSPECIFIED"
          }
        },
        "PERMISSION_PATTERN_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_PATTERN_MATCHED"
          }
        },
        "PERMISSION_PATTERN_NOT_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_PATTERN_NOT_MATCHED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAccessTuple": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IAM permission to check for, either in the `v1` permission format or the `v2` permission format. For a complete list of IAM permissions in the `v1` format, see https://cloud.google.com/iam/help/permissions/reference. For a list of IAM permissions in the `v2` format, see https://cloud.google.com/iam/help/deny/supported-permissions. For a complete list of predefined IAM roles and the permissions in each role, see https://cloud.google.com/iam/help/roles/reference."
          }
        },
        "permissionFqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The permission that Policy Troubleshooter checked for, in the `v2` format."
          }
        },
        "conditionContext": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionContext",
          "traits": {
            "smithy.api#documentation": "Optional. Additional context for the request, such as the request time or IP address. This context allows Policy Troubleshooter to troubleshoot conditional role bindings and deny rules."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address of the principal whose access you want to check. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The principal must be a Google Account or a service account. Other types of principals are not supported."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the principal, resource, and permission to check."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionContextRequest": {
      "type": "structure",
      "members": {
        "receiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timestamp when the destination service receives the first byte of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes for an HTTP request. If the actual request is not an HTTP request, the runtime system should try to map the actual request to an equivalent HTTP request."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyDetails": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleList",
          "traits": {
            "smithy.api#documentation": "Required. A list of principal access boundary policy rules. The number of rules in a policy is limited to 500."
          }
        },
        "enforcementVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The version number (for example, `1` or `latest`) that indicates which permissions are able to be blocked by the policy. If empty, the PAB policy version will be set to the most recent version number at the time of the policy's creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal access boundary policy details"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyRule"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The actual version of the policy. - If the policy uses static version, this field is the chosen static version. - If the policy uses dynamic version, this field is the effective latest version."
          }
        },
        "enforcementState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersionEnforcementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the policy is enforced based on its version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a principal access boundary policy's version contributes to the policy's enforcement state."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersionEnforcementStateEnum": {
      "type": "enum",
      "members": {
        "PAB_POLICY_ENFORCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_POLICY_ENFORCEMENT_STATE_UNSPECIFIED"
          }
        },
        "PAB_POLICY_ENFORCEMENT_STATE_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_POLICY_ENFORCEMENT_STATE_ENFORCED"
          }
        },
        "PAB_POLICY_ENFORCEMENT_STATE_NOT_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB_POLICY_ENFORCEMENT_STATE_NOT_ENFORCED"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicy": {
      "type": "structure",
      "members": {
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicyRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "bindingExplanations": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationList",
          "traits": {
            "smithy.api#documentation": "Details about how each role binding in the policy affects the principal's ability, or inability, to use the permission for the resource. The order of the role bindings matches the role binding order in the policy. If the sender of the request does not have access to the policy, this field is omitted."
          }
        },
        "allowAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicyAllowAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether _this policy_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          }
        },
        "policy": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "The IAM allow policy attached to the resource. If the sender of the request does not have access to the policy, this field is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a specific IAM allow policy contributed to the final access state."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicyRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanation"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicyAllowAccessStateEnum": {
      "type": "enum",
      "members": {
        "ALLOW_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "ALLOW_ACCESS_STATE_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_GRANTED"
          }
        },
        "ALLOW_ACCESS_STATE_NOT_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_NOT_GRANTED"
          }
        },
        "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          }
        },
        "ALLOW_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Any errors that prevented complete evaluation of the condition expression."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value of the condition."
          }
        },
        "evaluationStates": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationStateList",
          "traits": {
            "smithy.api#documentation": "The value of each statement of the condition expression. The value can be `true`, `false`, or `null`. The value is `null` if the statement can't be evaluated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explanation for how a condition affects a principal's access"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationState"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponse": {
      "type": "structure",
      "members": {
        "overallAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponseOverallAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Indicates whether the principal has the specified permission for the specified resource, based on evaluating all types of the applicable IAM policies."
          }
        },
        "pabPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaPABPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable principal access boundary policies affect the final access state."
          }
        },
        "denyPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable IAM deny policies affect the final access state."
          }
        },
        "allowPolicyExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation",
          "traits": {
            "smithy.api#documentation": "An explanation of how the applicable IAM allow policies affect the final access state."
          }
        },
        "accessTuple": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaAccessTuple",
          "traits": {
            "smithy.api#documentation": "The access tuple from the request, including any provided context used to evaluate the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for TroubleshootIamPolicy."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponseOverallAccessStateEnum": {
      "type": "enum",
      "members": {
        "OVERALL_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "CAN_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAN_ACCESS"
          }
        },
        "CANNOT_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANNOT_ACCESS"
          }
        },
        "UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_INFO"
          }
        },
        "UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_CONDITIONAL"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanation": {
      "type": "structure",
      "members": {
        "exceptionPermissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingMap",
          "traits": {
            "smithy.api#documentation": "Lists all exception permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a exception permission in the rule, and each value indicates whether the exception permission matches the permission in the request."
          }
        },
        "combinedDeniedPrincipal": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching",
          "traits": {
            "smithy.api#documentation": "Indicates whether the principal is listed as a denied principal in the deny rule, either directly or through membership in a principal set."
          }
        },
        "relevance": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationRelevanceEnum",
          "traits": {
            "smithy.api#documentation": "The relevance of this role binding to the overall determination for the entire policy."
          }
        },
        "condition": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "A condition expression that specifies when the deny rule denies the principal access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
          }
        },
        "combinedExceptionPrincipal": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching",
          "traits": {
            "smithy.api#documentation": "Indicates whether the principal is listed as an exception principal in the deny rule, either directly or through membership in a principal set."
          }
        },
        "combinedExceptionPermission": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching",
          "traits": {
            "smithy.api#documentation": "Indicates whether the permission in the request is listed as an exception permission in the deny rule."
          }
        },
        "exceptionPrincipals": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatchingMap",
          "traits": {
            "smithy.api#documentation": "Lists all exception principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a exception principal in the rule, and each value indicates whether the exception principal matches the principal in the request."
          }
        },
        "combinedDeniedPermission": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching",
          "traits": {
            "smithy.api#documentation": "Indicates whether the permission in the request is listed as a denied permission in the deny rule."
          }
        },
        "denyAccessState": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationDenyAccessStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Indicates whether _this rule_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal is actually denied on the permission for the resource. There might be another rule that overrides this rule. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse."
          }
        },
        "deniedPermissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingMap",
          "traits": {
            "smithy.api#documentation": "Lists all denied permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a denied permission in the rule, and each value indicates whether the denied permission matches the permission in the request."
          }
        },
        "deniedPrincipals": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatchingMap",
          "traits": {
            "smithy.api#documentation": "Lists all denied principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a denied principal in the rule, and each value indicates whether the denied principal matches the principal in the request."
          }
        },
        "conditionExplanation": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation",
          "traits": {
            "smithy.api#documentation": "Condition evaluation state for this role binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how a deny rule in a deny policy affects a principal's ability to use a permission."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatchingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationRelevanceEnum": {
      "type": "enum",
      "members": {
        "HEURISTIC_RELEVANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_UNSPECIFIED"
          }
        },
        "HEURISTIC_RELEVANCE_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_NORMAL"
          }
        },
        "HEURISTIC_RELEVANCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEURISTIC_RELEVANCE_HIGH"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatchingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationDenyAccessStateEnum": {
      "type": "enum",
      "members": {
        "DENY_ACCESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNSPECIFIED"
          }
        },
        "DENY_ACCESS_STATE_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_DENIED"
          }
        },
        "DENY_ACCESS_STATE_NOT_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_NOT_DENIED"
          }
        },
        "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          }
        },
        "DENY_ACCESS_STATE_UNKNOWN_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ACCESS_STATE_UNKNOWN_INFO"
          }
        }
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionContextResource": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service that this resource belongs to, such as `compute.googleapis.com`. The service name might not match the DNS hostname that actually serves the request. For a full list of resource service values, see https://cloud.google.com/iam/help/conditions/resource-services"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable identifier (name) of a resource on the `service`. A resource can be logically identified as `//{resource.service}/{resource.name}`. Unlike the resource URI, the resource name doesn't contain any protocol and version information. For a list of full resource name formats, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource, in the format `{service}/{kind}`. For a full list of resource type values, see https://cloud.google.com/iam/help/conditions/resource-types"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Core attributes for a resource. A resource is an addressable (named) entity provided by the destination service. For example, a Compute Engine instance."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleCloudPolicytroubleshooterIamV3betaConditionContextEffectiveTag": {
      "type": "structure",
      "members": {
        "namespacedTagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The namespaced name of the TagValue. Can be in the form `{organization_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_number}/{tag_key_short_name}/{tag_value_short_name}`."
          }
        },
        "tagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the TagKey, in the format `tagKeys/{id}`, such as `tagKeys/123`."
          }
        },
        "inherited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource, inherited will be false."
          }
        },
        "namespacedTagKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The namespaced name of the TagKey. Can be in the form `{organization_id}/{tag_key_short_name}` or `{project_id}/{tag_key_short_name}` or `{project_number}/{tag_key_short_name}`."
          }
        },
        "tagValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name for TagValue in the format `tagValues/456`."
          }
        },
        "tagKeyParentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent name of the tag key. Must be in the format `organizations/{organization_id}` or `projects/{project_number}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tag that applies to a resource during policy evaluation. Tags can be either directly bound to a resource or inherited from its ancestor. `EffectiveTag` contains the `name` and `namespaced_name` of the tag value and tag key, with additional fields of `inherited` to indicate the inheritance status of the effective tag."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV2DenyRule": {
      "type": "structure",
      "members": {
        "deniedPrincipals": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": " The identities that are prevented from using one or more permissions on Google Cloud resources. This field can contain the following values: * `principal://goog/subject/{email_id}`: A specific Google Account. Includes Gmail, Cloud Identity, and Google Workspace user accounts. For example, `principal://goog/subject/alice@example.com`. * `principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}`: A Google Cloud service account. For example, `principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com`. * `principalSet://goog/group/{group_id}`: A Google group. For example, `principalSet://goog/group/admins@example.com`. * `principalSet://goog/public:all`: A special identifier that represents any principal that is on the internet, even if they do not have a Google Account or are not logged in. * `principalSet://goog/cloudIdentityCustomerId/{customer_id}`: All of the principals associated with the specified Google Workspace or Cloud Identity customer ID. For example, `principalSet://goog/cloudIdentityCustomerId/C01Abc35`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAccount`: All service accounts grouped under a resource (project, folder, or organization). * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAgent`: All service agents grouped under a resource (project, folder, or organization). * `deleted:principal://goog/subject/{email_id}?uid={uid}`: A specific Google Account that was deleted recently. For example, `deleted:principal://goog/subject/alice@example.com?uid=1234567890`. If the Google Account is recovered, this identifier reverts to the standard identifier for a Google Account. * `deleted:principalSet://goog/group/{group_id}?uid={uid}`: A Google group that was deleted recently. For example, `deleted:principalSet://goog/group/admins@example.com?uid=1234567890`. If the Google group is restored, this identifier reverts to the standard identifier for a Google group. * `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}?uid={uid}`: A Google Cloud service account that was deleted recently. For example, `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com?uid=1234567890`. If the service account is undeleted, this identifier reverts to the standard identifier for a service account. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "deniedPermissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "The permissions that are explicitly denied by this rule. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. For example, `iam.googleapis.com/roles.list`."
          }
        },
        "exceptionPermissions": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the permissions that this rule excludes from the set of denied permissions given by `denied_permissions`. If a permission appears in `denied_permissions` _and_ in `exception_permissions` then it will _not_ be denied. The excluded permissions can be specified using the same syntax as `denied_permissions`."
          }
        },
        "denialCondition": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that determines whether this deny rule applies to a request. If the condition expression evaluates to `true`, then the deny rule is applied; otherwise, the deny rule is not applied. Each deny rule is evaluated independently. If this deny rule does not apply to a request, other deny rules might still apply. The condition can use CEL functions that evaluate [resource tags](https://cloud.google.com/iam/help/conditions/resource-tags). Other functions and operators are not supported."
          }
        },
        "exceptionPrincipals": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringList",
          "traits": {
            "smithy.api#documentation": "The identities that are excluded from the deny rule, even if they are listed in the `denied_principals`. For example, you could add a Google group to the `denied_principals`, then exclude specific users who belong to that group. This field can contain the same values as the `denied_principals` field, excluding `principalSet://goog/public:all`, which represents all users on the internet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deny rule in an IAM deny policy."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleTypeExpr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV2Policy": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringMap",
          "traits": {
            "smithy.api#documentation": "A key-value map to store arbitrary metadata for the `Policy`. Keys can be up to 63 characters. Values can be up to 255 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Policy` was last updated."
          }
        },
        "rules": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV2PolicyRuleList",
          "traits": {
            "smithy.api#documentation": "A list of rules that specify the behavior of the `Policy`. All of the rules should be of the `kind` specified in the `Policy`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-specified description of the `Policy`. This value can be up to 63 characters."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Policy` was deleted. Empty if the policy is not deleted."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The kind of the `Policy`. Always contains the value `DenyPolicy`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the `Policy`, which must be unique. Format: `policies/{attachment_point}/denypolicies/{policy_id}` The attachment point is identified by its URL-encoded full resource name, which means that the forward-slash character, `/`, must be written as `%2F`. For example, `policies/cloudresourcemanager.googleapis.com%2Fprojects%2Fmy-project/denypolicies/my-deny-policy`. For organizations and folders, use the numeric ID in the full resource name. For projects, requests can use the alphanumeric or the numeric ID. Responses always contain the numeric ID."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The globally unique ID of the `Policy`. Assigned automatically when the `Policy` is created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag that identifies the current version of the `Policy`. IAM uses this value to help manage concurrent updates, so they do not cause one update to be overwritten by another. If this field is present in a CreatePolicyRequest, the value is ignored."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the `Policy` was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data for an IAM policy."
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV2PolicyRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV2PolicyRule"
      }
    },
    "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicy": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the principal access boundary policy. Must be less than or equal to 63 characters."
          }
        },
        "annotations": {
          "target": "com.gcp.policytroubleshooter_v3beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User defined annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the principal access boundary policy. The following format is supported: `organizations/{organization_id}/locations/{location}/principalAccessBoundaryPolicies/{policy_id}`"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The globally unique ID of the principal access boundary policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag for the principal access boundary. If this is provided on update, it must match the server's etag."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the principal access boundary policy was most recently updated."
          }
        },
        "details": {
          "target": "com.gcp.policytroubleshooter_v3beta#GoogleIamV3PrincipalAccessBoundaryPolicyDetails",
          "traits": {
            "smithy.api#documentation": "Optional. The details for the principal access boundary policy."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
[...]
