{
  "smithy": "2.0",
  "metadata": {
    "service": "policyanalyzer",
    "version": "v1beta1",
    "title": "Policy Analyzer API",
    "baseUrl": "https://policyanalyzer.googleapis.com/"
  },
  "shapes": {
    "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1QueryActivityResponse": {
      "type": "structure",
      "members": {
        "activities": {
          "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1ActivityList",
          "traits": {
            "smithy.api#documentation": "The set of activities that match the filter included in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `nextPageToken` is included. To get the next set of results, call this method again using the value of `nextPageToken` as `pageToken`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the `QueryActivity` method."
      }
    },
    "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1ActivityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1Activity"
      }
    },
    "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1ObservationPeriod": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The observation end time."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The observation start time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents data observation period."
      }
    },
    "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1Activity": {
      "type": "structure",
      "members": {
        "activityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the activity."
          }
        },
        "observationPeriod": {
          "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1ObservationPeriod",
          "traits": {
            "smithy.api#documentation": "The data observation period to build the activity."
          }
        },
        "activity": {
          "target": "com.gcp.policyanalyzer_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "A struct of custom fields to explain the activity."
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name that identifies the resource. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Activity on a GCP resource over specific observation period."
      }
    },
    "com.gcp.policyanalyzer_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryFoldersLocationsActivityTypesActivitiesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter expression to restrict the activities returned. Supported filters are: - service_account_last_authn.full_resource_name {=} - service_account_key_last_authn.full_resource_name {=} ",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.policyanalyzer_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.policyanalyzer_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryFoldersLocationsActivityTypesActivities": {
      "type": "operation",
      "input": {
        "target": "com.gcp.policyanalyzer_v1beta1#QueryFoldersLocationsActivityTypesActivitiesRequest"
      },
      "output": {
        "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1QueryActivityResponse"
      },
      "errors": [
        {
          "target": "com.gcp.policyanalyzer_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.policyanalyzer_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/activities:query"
        },
        "smithy.api#documentation": "Queries policy activities on GCP resources.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryProjectsLocationsActivityTypesActivitiesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter expression to restrict the activities returned. Supported filters are: - service_account_last_authn.full_resource_name {=} - service_account_key_last_authn.full_resource_name {=} ",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryProjectsLocationsActivityTypesActivities": {
      "type": "operation",
      "input": {
        "target": "com.gcp.policyanalyzer_v1beta1#QueryProjectsLocationsActivityTypesActivitiesRequest"
      },
      "output": {
        "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1QueryActivityResponse"
      },
      "errors": [
        {
          "target": "com.gcp.policyanalyzer_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.policyanalyzer_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/activities:query"
        },
        "smithy.api#documentation": "Queries policy activities on GCP resources.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryOrganizationsLocationsActivityTypesActivitiesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Max limit is 1000. Non-positive values are ignored. The presence of `nextPageToken` in the response indicates that more results might be available.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional filter expression to restrict the activities returned. Supported filters are: - service_account_last_authn.full_resource_name {=} - service_account_key_last_authn.full_resource_name {=} ",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, then retrieve the next batch of results from the preceding call to this method. `pageToken` must be the value of `nextPageToken` from the previous response. The values of other method parameters should be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: `projects/[PROJECT_ID|PROJECT_NUMBER]/locations/[LOCATION]/activityTypes/[ACTIVITY_TYPE]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.policyanalyzer_v1beta1#QueryOrganizationsLocationsActivityTypesActivities": {
      "type": "operation",
      "input": {
        "target": "com.gcp.policyanalyzer_v1beta1#QueryOrganizationsLocationsActivityTypesActivitiesRequest"
      },
      "output": {
        "target": "com.gcp.policyanalyzer_v1beta1#GoogleCloudPolicyanalyzerV1beta1QueryActivityResponse"
      },
      "errors": [
        {
          "target": "com.gcp.policyanalyzer_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.policyanalyzer_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/activities:query"
        },
        "smithy.api#documentation": "Queries policy activities on GCP resources.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
