{
  "smithy": "2.0",
  "metadata": {
    "service": "pubsub",
    "version": "v1beta1a",
    "title": "Cloud Pub/Sub API",
    "baseUrl": "https://pubsub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.pubsub_v1beta1a#PushConfig": {
      "type": "structure",
      "members": {
        "pushEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a push delivery endpoint."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullBatchRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription from which messages should be pulled."
          }
        },
        "maxEvents": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified."
          }
        },
        "returnImmediately": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the PullBatch method."
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyPushConfigRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the subscription."
          }
        },
        "pushConfig": {
          "target": "com.gcp.pubsub_v1beta1a#PushConfig",
          "traits": {
            "smithy.api#documentation": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the ModifyPushConfig method."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullBatchResponse": {
      "type": "structure",
      "members": {
        "pullResponses": {
          "target": "com.gcp.pubsub_v1beta1a#PullResponseList",
          "traits": {
            "smithy.api#documentation": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the PullBatch method."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1beta1a#PullResponse"
      }
    },
    "com.gcp.pubsub_v1beta1a#ListSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue."
          }
        },
        "subscription": {
          "target": "com.gcp.pubsub_v1beta1a#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "The subscriptions that match the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListSubscriptions method."
      }
    },
    "com.gcp.pubsub_v1beta1a#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1beta1a#Subscription"
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishRequest": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message in the request will be published on this topic."
          }
        },
        "message": {
          "target": "com.gcp.pubsub_v1beta1a#PubsubMessage",
          "traits": {
            "smithy.api#documentation": "The message to publish."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Publish method."
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishBatchRequest": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.pubsub_v1beta1a#PubsubMessageList",
          "traits": {
            "smithy.api#documentation": "The messages to publish."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The messages in the request will be published on this topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the PublishBatch method."
      }
    },
    "com.gcp.pubsub_v1beta1a#PubsubMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1beta1a#PubsubMessage"
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyAckDeadlineRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next Index: 5 The name of the subscription from which messages are being pulled."
          }
        },
        "ackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The acknowledgment ID. Either this or ack_ids must be populated, not both."
          }
        },
        "ackIds": {
          "target": "com.gcp.pubsub_v1beta1a#StringList",
          "traits": {
            "smithy.api#documentation": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both."
          }
        },
        "ackDeadlineSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the ModifyAckDeadline method."
      }
    },
    "com.gcp.pubsub_v1beta1a#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.pubsub_v1beta1a#Subscription": {
      "type": "structure",
      "members": {
        "ackDeadlineSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the subscription."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the topic from which this subscription is receiving messages."
          }
        },
        "pushConfig": {
          "target": "com.gcp.pubsub_v1beta1a#PushConfig",
          "traits": {
            "smithy.api#documentation": "If push delivery is used with this subscription, this field is used to configure it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription resource."
      }
    },
    "com.gcp.pubsub_v1beta1a#Topic": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A topic resource."
      }
    },
    "com.gcp.pubsub_v1beta1a#PubsubMessage": {
      "type": "structure",
      "members": {
        "publishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message payload."
          }
        },
        "label": {
          "target": "com.gcp.pubsub_v1beta1a#LabelList",
          "traits": {
            "smithy.api#documentation": "Optional list of labels for this message. Keys in this collection must be unique."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message data and its labels."
      }
    },
    "com.gcp.pubsub_v1beta1a#LabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1beta1a#Label"
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishBatchResponse": {
      "type": "structure",
      "members": {
        "messageIds": {
          "target": "com.gcp.pubsub_v1beta1a#StringList",
          "traits": {
            "smithy.api#documentation": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the PublishBatch method."
      }
    },
    "com.gcp.pubsub_v1beta1a#Label": {
      "type": "structure",
      "members": {
        "strValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string value."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
          }
        },
        "numValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An integer value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key-value pair applied to a given object."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullResponse": {
      "type": "structure",
      "members": {
        "pubsubEvent": {
          "target": "com.gcp.pubsub_v1beta1a#PubsubEvent",
          "traits": {
            "smithy.api#documentation": "A pubsub message or truncation event."
          }
        },
        "ackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This ID must be used to acknowledge the received event or message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Either a PubsubMessage or a truncation event. One of these two must be populated."
      }
    },
    "com.gcp.pubsub_v1beta1a#AcknowledgeRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription whose message is being acknowledged."
          }
        },
        "ackId": {
          "target": "com.gcp.pubsub_v1beta1a#StringList",
          "traits": {
            "smithy.api#documentation": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Acknowledge method."
      }
    },
    "com.gcp.pubsub_v1beta1a#ListTopicsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue."
          }
        },
        "topic": {
          "target": "com.gcp.pubsub_v1beta1a#TopicList",
          "traits": {
            "smithy.api#documentation": "The resulting topics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListTopics method."
      }
    },
    "com.gcp.pubsub_v1beta1a#TopicList": {
      "type": "list",
      "member": {
        "target": "com.gcp.pubsub_v1beta1a#Topic"
      }
    },
    "com.gcp.pubsub_v1beta1a#PullRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription from which a message should be pulled."
          }
        },
        "returnImmediately": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the Pull method."
      }
    },
    "com.gcp.pubsub_v1beta1a#PubsubEvent": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)"
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this subscription has been truncated."
          }
        },
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription that received the event."
          }
        },
        "message": {
          "target": "com.gcp.pubsub_v1beta1a#PubsubMessage",
          "traits": {
            "smithy.api#documentation": "A received message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event indicating a received message or truncation event."
      }
    },
    "com.gcp.pubsub_v1beta1a#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL"
      }
    },
    "com.gcp.pubsub_v1beta1a#ListTopicsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid label query expression.",
            "smithy.api#httpQuery": "query"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of topics to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value obtained in the last ListTopicsResponse for continuation.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.pubsub_v1beta1a#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.pubsub_v1beta1a#ListTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#ListTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#ListTopicsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1a/topics"
        },
        "smithy.api#documentation": "Lists matching topics.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#GetTopicsRequest": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the topic to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#GetTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#GetTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Topic"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1a/topics/{+topic}"
        },
        "smithy.api#documentation": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here."
      }
    },
    "com.gcp.pubsub_v1beta1a#DeleteTopicsRequest": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the topic to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.pubsub_v1beta1a#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.pubsub_v1beta1a#DeleteTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#DeleteTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1a/topics/{+topic}"
        },
        "smithy.api#documentation": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name."
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishTopicsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#PublishRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#PublishTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/topics/publish"
        },
        "smithy.api#documentation": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist."
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishBatchTopicsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#PublishBatchRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#PublishBatchTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#PublishBatchTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#PublishBatchResponse"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/topics/publishBatch"
        },
        "smithy.api#documentation": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist."
      }
    },
    "com.gcp.pubsub_v1beta1a#CreateTopicsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#Topic",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#CreateTopics": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#CreateTopicsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Topic"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/topics"
        },
        "smithy.api#documentation": "Creates the given topic with the given name."
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyPushConfigSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#ModifyPushConfigRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyPushConfigSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#ModifyPushConfigSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions/modifyPushConfig"
        },
        "smithy.api#documentation": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified."
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyAckDeadlineSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#ModifyAckDeadlineRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#ModifyAckDeadlineSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#ModifyAckDeadlineSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions/modifyAckDeadline"
        },
        "smithy.api#documentation": "Modifies the Ack deadline for a message received from a pull request."
      }
    },
    "com.gcp.pubsub_v1beta1a#GetSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the subscription to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#GetSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#GetSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1a/subscriptions/{+subscription}"
        },
        "smithy.api#documentation": "Gets the configuration details of a subscription."
      }
    },
    "com.gcp.pubsub_v1beta1a#CreateSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#Subscription",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#CreateSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#CreateSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Subscription"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions"
        },
        "smithy.api#documentation": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#PullRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#PullSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#PullSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#PullResponse"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions/pull"
        },
        "smithy.api#documentation": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load)."
      }
    },
    "com.gcp.pubsub_v1beta1a#AcknowledgeSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#AcknowledgeRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#AcknowledgeSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#AcknowledgeSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions/acknowledge"
        },
        "smithy.api#documentation": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull."
      }
    },
    "com.gcp.pubsub_v1beta1a#DeleteSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#DeleteSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#DeleteSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1a/subscriptions/{+subscription}"
        },
        "smithy.api#documentation": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND."
      }
    },
    "com.gcp.pubsub_v1beta1a#PullBatchSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.pubsub_v1beta1a#PullBatchRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#PullBatchSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#PullBatchSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#PullBatchResponse"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#BadRequest"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1a/subscriptions/pullBatch"
        },
        "smithy.api#documentation": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription."
      }
    },
    "com.gcp.pubsub_v1beta1a#ListSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value obtained in the last ListSubscriptionsResponse for continuation.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of subscriptions to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid label query expression.",
            "smithy.api#httpQuery": "query"
          }
        }
      }
    },
    "com.gcp.pubsub_v1beta1a#ListSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.pubsub_v1beta1a#ListSubscriptionsRequest"
      },
      "output": {
        "target": "com.gcp.pubsub_v1beta1a#ListSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.pubsub_v1beta1a#NotFound"
        },
        {
          "target": "com.gcp.pubsub_v1beta1a#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1a/subscriptions"
        },
        "smithy.api#documentation": "Lists matching subscriptions.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
