{
  "smithy": "2.0",
  "metadata": {
    "service": "recommender",
    "version": "v1beta1",
    "title": "Recommender API",
    "baseUrl": "https://recommender.googleapis.com/"
  },
  "shapes": {
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest": {
      "type": "structure",
      "members": {
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkRecommendationSucceeded` Method."
      }
    },
    "com.gcp.recommender_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListRecommendationsResponse": {
      "type": "structure",
      "members": {
        "recommendations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationList",
          "traits": {
            "smithy.api#documentation": "The set of recommendations for the `parent` resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the `ListRecommendations` method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation": {
      "type": "structure",
      "members": {
        "associatedInsights": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReferenceList",
          "traits": {
            "smithy.api#documentation": "Insights that led to this recommendation."
          }
        },
        "primaryImpact": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact",
          "traits": {
            "smithy.api#documentation": "The primary impact that this recommendation can have while trying to optimize for one category."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the Recommendation. Provides optimistic locking when updating states."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form human readable summary in English. The maximum length is 500 characters."
          }
        },
        "content": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationContent",
          "traits": {
            "smithy.api#documentation": "Content of the recommendation describing recommended changes to resources."
          }
        },
        "additionalImpact": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactList",
          "traits": {
            "smithy.api#documentation": "Optional set of additional impact that this recommendation may have when trying to optimize for the primary category. These may be positive or negative."
          }
        },
        "priority": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationPriorityEnum",
          "traits": {
            "smithy.api#documentation": "Recommendation's priority."
          }
        },
        "lastRefreshTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this recommendation was refreshed by the system that created it in the first place."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of recommendation."
          }
        },
        "stateInfo": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationStateInfo",
          "traits": {
            "smithy.api#documentation": "Information for state. Contains state and metadata."
          }
        },
        "xorGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Corresponds to a mutually exclusive group ID within a recommender. A non-empty ID indicates that the recommendation belongs to a mutually exclusive group. This means that only one recommendation within the group is suggested to be applied."
          }
        },
        "recommenderSubtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.iam.policy.Recommender\", recommender_subtype can be one of \"REMOVE_ROLE\"/\"REPLACE_ROLE\""
          }
        },
        "targetResources": {
          "target": "com.gcp.recommender_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource names that this recommendation is targeting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A recommendation along with a suggested action. E.g., a rightsizing recommendation for an underutilized VM, IAM role recommendations, etc"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReference"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P4"
          }
        },
        "P3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P3"
          }
        },
        "P2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2"
          }
        },
        "P1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P1"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1CostProjection": {
      "type": "structure",
      "members": {
        "pricingType": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1CostProjectionPricingTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the cost is calculated."
          }
        },
        "cost": {
          "target": "com.gcp.recommender_v1beta1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "An approximate projection on amount saved or amount incurred. Negative cost units indicate cost savings and positive cost units indicate increase. See google.type.Money documentation for positive/negative units. A user's permissions may affect whether the cost is computed using list prices or custom contract prices."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration for which this cost applies."
          }
        },
        "costInLocalCurrency": {
          "target": "com.gcp.recommender_v1beta1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "The approximate cost savings in the billing account's local currency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about how much money a recommendation can save or incur."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1CostProjectionPricingTypeEnum": {
      "type": "enum",
      "members": {
        "PRICING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICING_TYPE_UNSPECIFIED"
          }
        },
        "LIST_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_PRICE"
          }
        },
        "CUSTOM_PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_PRICE"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjection": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Per-recommender projection."
          }
        },
        "risks": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjectionRisksItemEnumList",
          "traits": {
            "smithy.api#documentation": "Reliability risks mitigated by this recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information on the impact of a reliability recommendation."
      }
    },
    "com.gcp.recommender_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjectionRisksItemEnum": {
      "type": "enum",
      "members": {
        "RISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_TYPE_UNSPECIFIED"
          }
        },
        "SERVICE_DISRUPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_DISRUPTION"
          }
        },
        "DATA_LOSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LOSS"
          }
        },
        "ACCESS_DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENY"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjectionRisksItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjectionRisksItemEnum"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationContent": {
      "type": "structure",
      "members": {
        "operationGroups": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationGroupList",
          "traits": {
            "smithy.api#documentation": "Operations to one or more Google Cloud resources grouped in such a way that, all operations within one group are expected to be performed atomically and in an order."
          }
        },
        "overview": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Condensed overview information about the recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains what resources are changing and how they are changing."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationGroup"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderConfig": {
      "type": "structure",
      "members": {
        "recommenderGenerationConfig": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderGenerationConfig",
          "traits": {
            "smithy.api#documentation": "RecommenderGenerationConfig which configures the Generation of recommendations for this recommender."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-settable field to provide a human-readable name to be used in user interfaces."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time when the config was updated."
          }
        },
        "annotations": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the RecommenderConfig. Provides optimistic locking when updating."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config"
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Recommender."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest": {
      "type": "structure",
      "members": {
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkRecommendationFailed` Method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The insight_type's name in format insightTypes/{insight_type} eg: insightTypes/google.iam.policy.Insight"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of insight."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Parameters for this InsightTypeGenerationConfig. These configs can be used by or are applied to all subtypes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration to customize the generation of insights. Eg, customizing the lookback period considered when generating a insight."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationGroup": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationList",
          "traits": {
            "smithy.api#documentation": "List of operations across one or more resources that belong to this group. Loosely based on RFC6902 and should be performed in the order they appear."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Group of operations that need to be performed atomically."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Operation"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListRecommendersResponse": {
      "type": "structure",
      "members": {
        "recommenders": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderTypeList",
          "traits": {
            "smithy.api#documentation": "The set of recommenders available"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListRecommender` method. Next ID: 3"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderType"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the Recommendation. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkRecommendationDismissed` Method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderGenerationConfig": {
      "type": "structure",
      "members": {
        "params": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Parameters for this RecommenderGenerationConfig. These configs can be used by or are applied to all subtypes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Configuration to customize the generation of recommendations. Eg, customizing the lookback period considered when generating a recommendation."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListInsightsResponse": {
      "type": "structure",
      "members": {
        "insights": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightList",
          "traits": {
            "smithy.api#documentation": "The set of insights for the `parent` resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be used to request the next page of results. This field is empty if there are no additional results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to the `ListInsights` method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Insight"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SustainabilityProjection": {
      "type": "structure",
      "members": {
        "kgCO2e": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Carbon Footprint generated in kg of CO2 equivalent. Chose kg_c_o2e so that the name renders correctly in camelCase (kgCO2e)."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration for which this sustanability applies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata about how much sustainability a recommendation can save or incur."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Impact": {
      "type": "structure",
      "members": {
        "sustainabilityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SustainabilityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.SUSTAINABILITY"
          }
        },
        "securityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SecurityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.SECURITY"
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service that this impact is associated with."
          }
        },
        "category": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Category that is being targeted."
          }
        },
        "costProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1CostProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.COST"
          }
        },
        "reliabilityProjection": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ReliabilityProjection",
          "traits": {
            "smithy.api#documentation": "Use with CategoryType.RELIABILITY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the impact a recommendation can have for a given category."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ImpactCategoryEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        },
        "MANAGEABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEABILITY"
          }
        },
        "SUSTAINABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSTAINABILITY"
          }
        },
        "RELIABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELIABILITY"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationInsightReference": {
      "type": "structure",
      "members": {
        "insight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Insight resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/insights/[INSIGHT_ID]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an associated insight."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest": {
      "type": "structure",
      "members": {
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. State properties user wish to include with this state. Full replace of the current state_metadata."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint of the Insight. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkInsightAccepted` method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommender's name in format RecommenderTypes/{recommender_type} eg: recommenderTypes/google.iam.policy.Recommender"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of a recommender."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "Insight state."
          }
        },
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of metadata for the state, provided by user or automations systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to insight state."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfoStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISMISSED"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Operation": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of this operation. Contains one of 'add', 'remove', 'replace', 'move', 'copy', 'test' and 'custom' operations. This field is case-insensitive and always populated."
          }
        },
        "valueMatcher": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher",
          "traits": {
            "smithy.api#documentation": "Can be set for action 'test' for advanced matching for the value of 'path' field. Either this or `value` will be set for 'test' operation."
          }
        },
        "sourceResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be set with action 'copy' to copy resource configuration across different resources of the same type. Example: A resource clone can be done via action = 'copy', path = \"/\", from = \"/\", source_resource = and resource_name = . This field is empty for all other values of `action`."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the target field being operated on. If the operation is at the resource level, then path should be \"/\". This field is always populated."
          }
        },
        "pathFilters": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Set of filters to apply if `path` refers to array elements or nested array elements in order to narrow down to a single unique element that is being tested/modified. This is intended to be an exact match per filter. To perform advanced matching, use path_value_matchers. * Example: ``` { \"/versions/*/name\" : \"it-123\" \"/versions/*/targetSize/percent\": 20 } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/condition\" : null } ``` * Example: ``` { \"/bindings/*/role\": \"roles/owner\" \"/bindings/*/members/*\" : [\"x@example.com\", \"y@example.com\"] } ``` When both path_filters and path_value_matchers are set, an implicit AND must be performed."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value for the `path` field. Will be set for actions:'add'/'replace'. Maybe set for action: 'test'. Either this or `value_matcher` will be set for 'test' operation. An exact match must be performed."
          }
        },
        "pathValueMatchers": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcherMap",
          "traits": {
            "smithy.api#documentation": "Similar to path_filters, this contains set of filters to apply if `path` field refers to array elements. This is meant to support value matching beyond exact match. To perform exact match, use path_filters. When both path_filters and path_value_matchers are set, an implicit AND must be performed."
          }
        },
        "sourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Can be set with action 'copy' or 'move' to indicate the source field within resource or source_resource, ignored if provided for other operation types."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the fully qualified resource name. This field is always populated. ex: //cloudresourcemanager.googleapis.com/projects/foo."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of GCP resource being modified/tested. This field is always populated. Example: cloudresourcemanager.googleapis.com/Project, compute.googleapis.com/Instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains an operation for a resource loosely based on the JSON-PATCH format with support for: * Custom filters for describing partial array patch. * Extended path values for describing nested arrays. * Custom fields for describing the resource for which the operation is being described. * Allows extension to custom operations not natively supported by RFC6902. See https://tools.ietf.org/html/rfc6902 for details on the original RFC."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcherMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightRecommendationReference": {
      "type": "structure",
      "members": {
        "recommendation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommendation resource name, e.g. projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/recommendations/[RECOMMENDATION_ID]"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an associated recommendation."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest": {
      "type": "structure",
      "members": {
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "State properties to include with this state. Overwrites any existing `state_metadata`. Keys must match the regex `/^a-z0-9{0,62}$/`. Values must match the regex `/^[a-zA-Z0-9_./-]{0,255}$/`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint of the Recommendation. Provides optimistic locking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `MarkRecommendationClaimed` Method."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationStateInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationStateInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the recommendation, Eg ACTIVE, SUCCEEDED, FAILED."
          }
        },
        "stateMetadata": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of metadata for the state, provided by user or automations systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for state. Contains state and metadata."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommendationStateInfoStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CLAIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLAIMED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISMISSED"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ValueMatcher": {
      "type": "structure",
      "members": {
        "matchesPattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "To be used for full regex matching. The regular expression is using the Google RE2 syntax (https://github.com/google/re2/wiki/Syntax), so to be used with RE2::FullMatch"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains various matching options for values for a GCP resource field."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeConfig": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-settable field to provide a human-readable name to be used in user interfaces."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time when the config was updated."
          }
        },
        "annotations": {
          "target": "com.gcp.recommender_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Allows clients to store small amounts of arbitrary data. Annotations must follow the Kubernetes syntax. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
          }
        },
        "insightTypeGenerationConfig": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeGenerationConfig",
          "traits": {
            "smithy.api#documentation": "InsightTypeGenerationConfig which configures the generation of insights for this insight type."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the InsightTypeConfig. Provides optimistic locking when updating."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config"
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the config. A new revision is committed whenever the config is changed in any way. The format is an 8-character hexadecimal string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an InsightType."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1SecurityProjection": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "This field can be used by the recommender to define details specific to security impact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains various ways of describing the impact on Security."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleTypeMoney": {
      "type": "structure",
      "members": {
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListInsightTypesResponse": {
      "type": "structure",
      "members": {
        "insightTypes": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeList",
          "traits": {
            "smithy.api#documentation": "The set of recommenders available"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListInsightTypes` method. Next ID: 3"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightType"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Insight": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the insight."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form human readable summary in English. The maximum length is 500 characters."
          }
        },
        "stateInfo": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightStateInfo",
          "traits": {
            "smithy.api#documentation": "Information state and metadata."
          }
        },
        "lastRefreshTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the latest data used to generate the insight."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fingerprint of the Insight. Provides optimistic locking when updating states."
          }
        },
        "severity": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Insight's severity."
          }
        },
        "targetResources": {
          "target": "com.gcp.recommender_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource names that this insight is targeting."
          }
        },
        "content": {
          "target": "com.gcp.recommender_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "A struct of custom fields to explain the insight. Example: \"grantedPermissionsCount\": \"1000\""
          }
        },
        "associatedRecommendations": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightRecommendationReferenceList",
          "traits": {
            "smithy.api#documentation": "Recommendations derived from this insight."
          }
        },
        "observationPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Observation period that led to the insight. The source data used to generate the insight ends at last_refresh_time and begins at (last_refresh_time - observation_period)."
          }
        },
        "insightSubtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Insight subtype. Insight content schema will be stable for a given subtype."
          }
        },
        "category": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Category being targeted by the insight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An insight along with the information used to derive the insight. The insight may have associated recommendations as well."
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightRecommendationReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightRecommendationReference"
      }
    },
    "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightCategoryEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        },
        "MANAGEABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEABILITY"
          }
        },
        "SUSTAINABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSTAINABILITY"
          }
        },
        "RELIABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELIABILITY"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.recommender_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.recommender_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#ListFoldersLocationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists locations with recommendations or insights.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocationsInsightTypesInsightsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to restrict the insights returned. Supported filter fields: * `stateInfo.state` * `insightSubtype` * `severity` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `insightSubtype = PERMISSIONS_USAGE` * `severity = CRITICAL OR severity = HIGH` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (severity = CRITICAL OR severity = HIGH)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocationsInsightTypesInsights": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#ListFoldersLocationsInsightTypesInsightsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListInsightsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/insights"
        },
        "smithy.api#documentation": "Lists insights for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified insight type.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetFoldersLocationsInsightTypesInsightsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the insight.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetFoldersLocationsInsightTypesInsights": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#GetFoldersLocationsInsightTypesInsightsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Insight"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested insight. Requires the recommender.*.get IAM permission for the specified insight type."
      }
    },
    "com.gcp.recommender_v1beta1#MarkAcceptedFoldersLocationsInsightTypesInsightsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the insight.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkInsightAcceptedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.recommender_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.recommender_v1beta1#MarkAcceptedFoldersLocationsInsightTypesInsights": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkAcceptedFoldersLocationsInsightTypesInsightsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Insight"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markAccepted"
        },
        "smithy.api#documentation": "Marks the Insight State as Accepted. Users can use this method to indicate to the Recommender API that they have applied some action based on the insight. This stops the insight content from being updated. MarkInsightAccepted can be applied to insights in ACTIVE state. Requires the recommender.*.update IAM permission for the specified insight."
      }
    },
    "com.gcp.recommender_v1beta1#MarkSucceededFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkSucceededFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkSucceededFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markSucceeded"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkClaimedFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkClaimedFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkClaimedFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markClaimed"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#GetFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#GetFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkFailedFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkFailedFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkFailedFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markFailed"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkDismissedFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkDismissedFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkDismissedFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markDismissed"
        },
        "smithy.api#documentation": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListFoldersLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#ListFoldersLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/recommendations"
        },
        "smithy.api#documentation": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListOrganizationsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.recommender_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListOrganizationsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#ListOrganizationsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudLocationListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists locations with recommendations or insights.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsRecommendersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the Recommendation Config to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsRecommenders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsRecommendersRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderConfig"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested Recommender Config. There is only one instance of the config for each Recommender."
      }
    },
    "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsRecommendersRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, validate the request and preview the change, but do not actually update it.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of recommender config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]/config",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsRecommenders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsRecommendersRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1RecommenderConfig"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a Recommender Config. This will create a new revision of the config."
      }
    },
    "com.gcp.recommender_v1beta1#MarkSucceededOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationSucceededRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkSucceededOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkSucceededOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markSucceeded"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Succeeded. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation was successful. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationSucceeded can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkClaimedOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationClaimedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkClaimedOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkClaimedOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markClaimed"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Claimed. Users can use this method to indicate to the Recommender API that they are starting to apply the recommendation themselves. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationClaimed can be applied to recommendations in CLAIMED or ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#GetOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#GetOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested recommendation. Requires the recommender.*.get IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkFailedOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationFailedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkFailedOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkFailedOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markFailed"
        },
        "smithy.api#documentation": "Marks the Recommendation State as Failed. Users can use this method to indicate to the Recommender API that they have applied the recommendation themselves, and the operation failed. This stops the recommendation content from being updated. Associated insights are frozen and placed in the ACCEPTED state. MarkRecommendationFailed can be applied to recommendations in ACTIVE, CLAIMED, SUCCEEDED, or FAILED state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#MarkDismissedOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the recommendation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1MarkRecommendationDismissedRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#MarkDismissedOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#MarkDismissedOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1Recommendation"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:markDismissed"
        },
        "smithy.api#documentation": "Mark the Recommendation State as Dismissed. Users can use this method to indicate to the Recommender API that an ACTIVE recommendation has to be marked back as DISMISSED. MarkRecommendationDismissed can be applied to recommendations in ACTIVE state. Requires the recommender.*.update IAM permission for the specified recommender."
      }
    },
    "com.gcp.recommender_v1beta1#ListOrganizationsLocationsRecommendersRecommendationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/recommenders/[RECOMMENDER_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ RECOMMENDER_ID refers to supported recommenders: https://cloud.google.com/recommender/docs/recommenders.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters must be identical to those in the previous call.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter expression to restrict the recommendations returned. Supported filter fields: * `state_info.state` * `recommenderSubtype` * `priority` * `targetResources` Examples: * `stateInfo.state = ACTIVE OR stateInfo.state = DISMISSED` * `recommenderSubtype = REMOVE_ROLE OR recommenderSubtype = REPLACE_ROLE` * `priority = P1 OR priority = P2` * `targetResources : //compute.googleapis.com/projects/1234/zones/us-central1-a/instances/instance-1` * `stateInfo.state = ACTIVE AND (priority = P1 OR priority = P2)` The max allowed filter length is 500 characters. (These expressions are based on the filter language described at https://google.aip.dev/160)",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#ListOrganizationsLocationsRecommendersRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#ListOrganizationsLocationsRecommendersRecommendationsRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1ListRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/recommendations"
        },
        "smithy.api#documentation": "Lists recommendations for the specified Cloud Resource. Requires the recommender.*.list IAM permission for the specified recommender.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsInsightTypesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the InsightTypeConfig to get. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsInsightTypes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#GetConfigOrganizationsLocationsInsightTypesRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeConfig"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the requested InsightTypeConfig. There is only one instance of the config for each InsightType."
      }
    },
    "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsInsightTypesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of insight type config. Eg, projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]/config",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, validate the request and preview the change, but do not actually update it.",
            "smithy.api#httpQuery": "validateOnly"
          }
        },
        "body": {
          "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsInsightTypes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.recommender_v1beta1#UpdateConfigOrganizationsLocationsInsightTypesRequest"
      },
      "output": {
        "target": "com.gcp.recommender_v1beta1#GoogleCloudRecommenderV1beta1InsightTypeConfig"
      },
      "errors": [
        {
          "target": "com.gcp.recommender_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.recommender_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.recommender_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an InsightTypeConfig change. This will create a new revision of the config."
      }
    },
    "com.gcp.recommender_v1beta1#ListOrganizationsLocationsInsightTypesInsightsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. If not specified, the server will determine the number of results to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The container resource on which to execute the request. Acceptable formats: * `projects/[PROJECT_NUMBER]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `projects/[PROJECT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `billingAccounts/[BILLING_ACCOUNT_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `folders/[FOLDER_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` * `organizations/[ORGANIZATION_ID]/locations/[LOCATION]/insightTypes/[INSIGHT_TYPE_ID]` LOCATION here refers to GCP Locations: https://cloud.google.com/about/locations/ INSIGHT_TYPE_ID refers to supported insight types: https://cloud.google.com/recommender/docs/insights/insight-types.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
[...]
