{
  "smithy": "2.0",
  "metadata": {
    "service": "redis",
    "version": "v1beta1",
    "title": "Google Cloud Memorystore for Redis API",
    "baseUrl": "https://redis.googleapis.com/"
  },
  "shapes": {
    "com.gcp.redis_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.redis_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.redis_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#Operation"
      }
    },
    "com.gcp.redis_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.redis_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.redis_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "{ `createTime`: The time the operation was created. `endTime`: The time the operation finished running. `target`: Server-defined resource path for the target of the operation. `verb`: Name of the verb executed by the operation. `statusDetail`: Human-readable status of the operation, if any. `cancelRequested`: Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`. `apiVersion`: API version used to start the operation. }"
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.redis_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.redis_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.redis_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.redis_v1beta1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.redis_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.redis_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#DocumentMap"
      }
    },
    "com.gcp.redis_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.redis_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.redis_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.redis_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#Location"
      }
    },
    "com.gcp.redis_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full resource name for the region. For example: \"projects/example-project/locations/us-east1\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID for the region. For example: \"us-east1\"."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.redis_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.redis_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The set of available zones in the location. The map is keyed by the lowercase ID of each zone, as defined by Compute Engine. These keys can be specified in `location_id` or `alternative_location_id` fields when creating a Redis instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.redis_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.redis_v1beta1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.gcp.redis_v1beta1#ClusterList",
          "traits": {
            "smithy.api#documentation": "A list of Redis clusters in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/clusters/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListClusters\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListClusters`."
      }
    },
    "com.gcp.redis_v1beta1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#Cluster"
      }
    },
    "com.gcp.redis_v1beta1#Cluster": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.redis_v1beta1#GcsBackupSource",
          "traits": {
            "smithy.api#documentation": "Optional. Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters. Read permission is required to import from the provided Cloud Storage objects."
          }
        },
        "managedBackupSource": {
          "target": "com.gcp.redis_v1beta1#ManagedBackupSource",
          "traits": {
            "smithy.api#documentation": "Optional. Backups generated and managed by memorystore service."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp associated with the cluster creation request."
          }
        },
        "state": {
          "target": "com.gcp.redis_v1beta1#ClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this cluster. Can be CREATING, READY, UPDATING, DELETING and SUSPENDED"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System assigned, unique identifier for the cluster."
          }
        },
        "replicaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of replica nodes per shard."
          }
        },
        "authorizationMode": {
          "target": "com.gcp.redis_v1beta1#ClusterAuthorizationModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The authorization mode of the Redis cluster. If not provided, auth feature is disabled for the cluster."
          }
        },
        "transitEncryptionMode": {
          "target": "com.gcp.redis_v1beta1#ClusterTransitEncryptionModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The in-transit encryption for the Redis cluster. If not provided, encryption is disabled for the cluster."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Redis memory size in GB for the entire cluster rounded up to the next integer."
          }
        },
        "shardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of shards for the Redis cluster."
          }
        },
        "pscConfigs": {
          "target": "com.gcp.redis_v1beta1#PscConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Each PscConfig configures the consumer network where IPs will be designated to the cluster for client access through Private Service Connect Automation. Currently, only one PscConfig is supported."
          }
        },
        "discoveryEndpoints": {
          "target": "com.gcp.redis_v1beta1#DiscoveryEndpointList",
          "traits": {
            "smithy.api#documentation": "Output only. Endpoints created on each given network, for Redis clients to connect to the cluster. Currently only one discovery endpoint is supported."
          }
        },
        "pscConnections": {
          "target": "com.gcp.redis_v1beta1#PscConnectionList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of PSC connections that are auto-created through service connectivity automation."
          }
        },
        "stateInfo": {
          "target": "com.gcp.redis_v1beta1#StateInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the current state of the cluster."
          }
        },
        "nodeType": {
          "target": "com.gcp.redis_v1beta1#ClusterNodeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of a redis node in the cluster. NodeType determines the underlying machine-type of a redis node."
          }
        },
        "persistenceConfig": {
          "target": "com.gcp.redis_v1beta1#ClusterPersistenceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Persistence config (RDB, AOF) for the cluster."
          }
        },
        "redisConfigs": {
          "target": "com.gcp.redis_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Key/Value pairs of customer overrides for mutable Redis Configs"
          }
        },
        "preciseSizeGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Precise value of redis memory size in GB for the entire cluster."
          }
        },
        "zoneDistributionConfig": {
          "target": "com.gcp.redis_v1beta1#ZoneDistributionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. This config will be used to determine how the customer wants us to distribute cluster resources within the region."
          }
        },
        "crossClusterReplicationConfig": {
          "target": "com.gcp.redis_v1beta1#CrossClusterReplicationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Cross cluster replication config."
          }
        },
        "deletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The delete operation will fail when the value is set to true."
          }
        },
        "maintenancePolicy": {
          "target": "com.gcp.redis_v1beta1#ClusterMaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. ClusterMaintenancePolicy determines when to allow or deny updates."
          }
        },
        "maintenanceSchedule": {
          "target": "com.gcp.redis_v1beta1#ClusterMaintenanceSchedule",
          "traits": {
            "smithy.api#documentation": "Output only. ClusterMaintenanceSchedule Output only Published maintenance schedule."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reserved for future use."
          }
        },
        "pscServiceAttachments": {
          "target": "com.gcp.redis_v1beta1#PscServiceAttachmentList",
          "traits": {
            "smithy.api#documentation": "Output only. Service attachment details to configure Psc connections"
          }
        },
        "clusterEndpoints": {
          "target": "com.gcp.redis_v1beta1#ClusterEndpointList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of cluster endpoints."
          }
        },
        "simulateMaintenanceEvent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Simulate a maintenance event."
          }
        },
        "backupCollection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The backup collection full resource name. Example: projects/{project}/locations/{location}/backupCollections/{collection}"
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The KMS key used to encrypt the at-rest data of the cluster."
          }
        },
        "ondemandMaintenance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Ondemand maintenance for the cluster. This field can be used to trigger ondemand critical update on the cluster."
          }
        },
        "automatedBackupConfig": {
          "target": "com.gcp.redis_v1beta1#AutomatedBackupConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The automated backup config for the cluster."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.redis_v1beta1#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Encryption information of the data at rest of the cluster."
          }
        },
        "asyncClusterEndpointsDeletionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, cluster endpoints that are created and registered by customers can be deleted asynchronously. That is, such a cluster endpoint can be de-registered before the forwarding rules in the cluster endpoint are deleted."
          }
        },
        "maintenanceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This field can be used to trigger self service update to indicate the desired maintenance version. The input to this field can be determined by the available_maintenance_versions field."
          }
        },
        "effectiveMaintenanceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field represents the actual maintenance version of the cluster."
          }
        },
        "availableMaintenanceVersions": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. This field is used to determine the available maintenance versions for the self service update."
          }
        },
        "allowFewerZonesDeployment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Deprecated, do not use."
          }
        },
        "labels": {
          "target": "com.gcp.redis_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels to represent user-provided metadata."
          }
        },
        "serverCaMode": {
          "target": "com.gcp.redis_v1beta1#ClusterServerCaModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Server CA mode for the cluster."
          }
        },
        "serverCaPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Customer-managed CA pool for the cluster. Only applicable for BYOCA i.e. if server_ca_mode is SERVER_CA_MODE_CUSTOMER_MANAGED_CAS_CA. Format: \"projects/{project}/locations/{region}/caPools/{ca_pool}\"."
          }
        },
        "rotateServerCertificate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Rotate the server certificates."
          }
        },
        "aclPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ACL policy to be applied to the cluster."
          }
        },
        "aclPolicyInSync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Deprecated: Indicates whether the ACL rules applied to the cluster are in sync."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cluster instance."
      }
    },
    "com.gcp.redis_v1beta1#ClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ClusterAuthorizationModeEnum": {
      "type": "enum",
      "members": {
        "AUTH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_MODE_UNSPECIFIED"
          }
        },
        "AUTH_MODE_IAM_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_MODE_IAM_AUTH"
          }
        },
        "AUTH_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_MODE_DISABLED"
          }
        },
        "AUTH_MODE_TOKEN_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_MODE_TOKEN_AUTH"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ClusterTransitEncryptionModeEnum": {
      "type": "enum",
      "members": {
        "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED"
          }
        },
        "TRANSIT_ENCRYPTION_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT_ENCRYPTION_MODE_DISABLED"
          }
        },
        "TRANSIT_ENCRYPTION_MODE_SERVER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT_ENCRYPTION_MODE_SERVER_AUTHENTICATION"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#PscConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#PscConfig"
      }
    },
    "com.gcp.redis_v1beta1#DiscoveryEndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#DiscoveryEndpoint"
      }
    },
    "com.gcp.redis_v1beta1#PscConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#PscConnection"
      }
    },
    "com.gcp.redis_v1beta1#ClusterNodeTypeEnum": {
      "type": "enum",
      "members": {
        "NODE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_UNSPECIFIED"
          }
        },
        "REDIS_SHARED_CORE_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_SHARED_CORE_NANO"
          }
        },
        "REDIS_HIGHMEM_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_MEDIUM"
          }
        },
        "REDIS_HIGHMEM_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_XLARGE"
          }
        },
        "REDIS_STANDARD_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_SMALL"
          }
        },
        "REDIS_HIGHCPU_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHCPU_MEDIUM"
          }
        },
        "REDIS_STANDARD_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_LARGE"
          }
        },
        "REDIS_HIGHMEM_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_2XLARGE"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#PscServiceAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#PscServiceAttachment"
      }
    },
    "com.gcp.redis_v1beta1#ClusterEndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#ClusterEndpoint"
      }
    },
    "com.gcp.redis_v1beta1#ClusterServerCaModeEnum": {
      "type": "enum",
      "members": {
        "SERVER_CA_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_CA_MODE_UNSPECIFIED"
          }
        },
        "SERVER_CA_MODE_GOOGLE_MANAGED_PER_INSTANCE_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_CA_MODE_GOOGLE_MANAGED_PER_INSTANCE_CA"
          }
        },
        "SERVER_CA_MODE_GOOGLE_MANAGED_SHARED_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_CA_MODE_GOOGLE_MANAGED_SHARED_CA"
          }
        },
        "SERVER_CA_MODE_CUSTOMER_MANAGED_CAS_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_CA_MODE_CUSTOMER_MANAGED_CAS_CA"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#GcsBackupSource": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. URIs of the Cloud Storage objects to import. Example: gs://bucket1/object1, gs://bucket2/folder2/object2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters."
      }
    },
    "com.gcp.redis_v1beta1#ManagedBackupSource": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Example: //redis.googleapis.com/projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup} A shorter version (without the prefix) of the backup name is also supported, like projects/{project}/locations/{location}/backupCollections/{collection}/backups/{backup_id} In this case, it assumes the backup is under redis.googleapis.com."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backups that generated and managed by memorystore."
      }
    },
    "com.gcp.redis_v1beta1#PscConfig": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The network where the IP address of the discovery endpoint will be reserved, in the form of projects/{network_project}/global/networks/{network_id}."
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#DiscoveryEndpoint": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Address of the exposed Redis endpoint used by clients to connect to the service. The address could be either IP or hostname."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The port number of the exposed Redis endpoint."
          }
        },
        "pscConfig": {
          "target": "com.gcp.redis_v1beta1#PscConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Customer configuration for where the endpoint is created and accessed from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Endpoints on each network, for Redis clients to connect to the cluster."
      }
    },
    "com.gcp.redis_v1beta1#PscConnection": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. port will only be set for Primary/Reader or Discovery endpoint."
          }
        },
        "pscConnectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The PSC connection id of the forwarding rule connected to the service attachment."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IP allocated on the consumer network for the PSC forwarding rule."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Project ID of the consumer project where the forwarding rule is created in."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}."
          }
        },
        "serviceAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}."
          }
        },
        "pscConnectionStatus": {
          "target": "com.gcp.redis_v1beta1#PscConnectionPscConnectionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the PSC connection. Please note that this value is updated periodically. To get the latest status of a PSC connection, follow https://cloud.google.com/vpc/docs/configure-private-service-connect-services#endpoint-details."
          }
        },
        "connectionType": {
          "target": "com.gcp.redis_v1beta1#PscConnectionConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the PSC connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of consumer resources in a PSC connection."
      }
    },
    "com.gcp.redis_v1beta1#PscConnectionPscConnectionStatusEnum": {
      "type": "enum",
      "members": {
        "PSC_CONNECTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_UNSPECIFIED"
          }
        },
        "PSC_CONNECTION_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_ACTIVE"
          }
        },
        "PSC_CONNECTION_STATUS_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#PscConnectionConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_UNSPECIFIED"
          }
        },
        "CONNECTION_TYPE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_DISCOVERY"
          }
        },
        "CONNECTION_TYPE_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_PRIMARY"
          }
        },
        "CONNECTION_TYPE_READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_READER"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#StateInfo": {
      "type": "structure",
      "members": {
        "updateInfo": {
          "target": "com.gcp.redis_v1beta1#UpdateInfo",
          "traits": {
            "smithy.api#documentation": "Describes ongoing update on the cluster when cluster state is UPDATING."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents additional information about the state of the cluster."
      }
    },
    "com.gcp.redis_v1beta1#UpdateInfo": {
      "type": "structure",
      "members": {
        "targetShardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target number of shards for redis cluster"
          }
        },
        "targetReplicaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target number of replica nodes per shard."
          }
        },
        "targetNodeType": {
          "target": "com.gcp.redis_v1beta1#UpdateInfoTargetNodeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Target node type for redis cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information about an updating cluster."
      }
    },
    "com.gcp.redis_v1beta1#UpdateInfoTargetNodeTypeEnum": {
      "type": "enum",
      "members": {
        "NODE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_UNSPECIFIED"
          }
        },
        "REDIS_SHARED_CORE_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_SHARED_CORE_NANO"
          }
        },
        "REDIS_HIGHMEM_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_MEDIUM"
          }
        },
        "REDIS_HIGHMEM_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_XLARGE"
          }
        },
        "REDIS_STANDARD_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_SMALL"
          }
        },
        "REDIS_HIGHCPU_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHCPU_MEDIUM"
          }
        },
        "REDIS_STANDARD_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_LARGE"
          }
        },
        "REDIS_HIGHMEM_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_2XLARGE"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ClusterPersistenceConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.redis_v1beta1#ClusterPersistenceConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The mode of persistence."
          }
        },
        "rdbConfig": {
          "target": "com.gcp.redis_v1beta1#RDBConfig",
          "traits": {
            "smithy.api#documentation": "Optional. RDB configuration. This field will be ignored if mode is not RDB."
          }
        },
        "aofConfig": {
          "target": "com.gcp.redis_v1beta1#AOFConfig",
          "traits": {
            "smithy.api#documentation": "Optional. AOF configuration. This field will be ignored if mode is not AOF."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the persistence functionality."
      }
    },
    "com.gcp.redis_v1beta1#ClusterPersistenceConfigModeEnum": {
      "type": "enum",
      "members": {
        "PERSISTENCE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENCE_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "RDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDB"
          }
        },
        "AOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AOF"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#RDBConfig": {
      "type": "structure",
      "members": {
        "rdbSnapshotPeriod": {
          "target": "com.gcp.redis_v1beta1#RDBConfigRdbSnapshotPeriodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Period between RDB snapshots."
          }
        },
        "rdbSnapshotStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time that the first snapshot was/will be attempted, and to which future snapshots will be aligned. If not provided, the current time will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the RDB based persistence."
      }
    },
    "com.gcp.redis_v1beta1#RDBConfigRdbSnapshotPeriodEnum": {
      "type": "enum",
      "members": {
        "SNAPSHOT_PERIOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT_PERIOD_UNSPECIFIED"
          }
        },
        "ONE_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_HOUR"
          }
        },
        "SIX_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIX_HOURS"
          }
        },
        "TWELVE_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWELVE_HOURS"
          }
        },
        "TWENTY_FOUR_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_FOUR_HOURS"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#AOFConfig": {
      "type": "structure",
      "members": {
        "appendFsync": {
          "target": "com.gcp.redis_v1beta1#AOFConfigAppendFsyncEnum",
          "traits": {
            "smithy.api#documentation": "Optional. fsync configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the AOF based persistence."
      }
    },
    "com.gcp.redis_v1beta1#AOFConfigAppendFsyncEnum": {
      "type": "enum",
      "members": {
        "APPEND_FSYNC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_FSYNC_UNSPECIFIED"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "EVERYSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVERYSEC"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ZoneDistributionConfig": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.redis_v1beta1#ZoneDistributionConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The mode of zone distribution. Defaults to MULTI_ZONE, when not specified."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When SINGLE ZONE distribution is selected, zone field would be used to allocate all resources in that zone. This is not applicable to MULTI_ZONE, and would be ignored for MULTI_ZONE clusters."
          }
        },
        "zones": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specify the zones of a multi-zone cluster where Redis Cluster allocates resources. This flag isn't applicable for single-zone clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Zone distribution config for allocation of cluster resources."
      }
    },
    "com.gcp.redis_v1beta1#ZoneDistributionConfigModeEnum": {
      "type": "enum",
      "members": {
        "ZONE_DISTRIBUTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_DISTRIBUTION_MODE_UNSPECIFIED"
          }
        },
        "MULTI_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_ZONE"
          }
        },
        "SINGLE_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_ZONE"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#CrossClusterReplicationConfig": {
      "type": "structure",
      "members": {
        "clusterRole": {
          "target": "com.gcp.redis_v1beta1#CrossClusterReplicationConfigClusterRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role of the cluster in cross cluster replication."
          }
        },
        "primaryCluster": {
          "target": "com.gcp.redis_v1beta1#RemoteCluster",
          "traits": {
            "smithy.api#documentation": "Details of the primary cluster that is used as the replication source for this secondary cluster. This field is only set for a secondary cluster."
          }
        },
        "secondaryClusters": {
          "target": "com.gcp.redis_v1beta1#RemoteClusterList",
          "traits": {
            "smithy.api#documentation": "List of secondary clusters that are replicating from this primary cluster. This field is only set for a primary cluster."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time cross cluster replication config was updated."
          }
        },
        "membership": {
          "target": "com.gcp.redis_v1beta1#Membership",
          "traits": {
            "smithy.api#documentation": "Output only. An output only view of all the member clusters participating in the cross cluster replication. This view will be provided by every member cluster irrespective of its cluster role(primary or secondary). A primary cluster can provide information about all the secondary clusters replicating from it. However, a secondary cluster only knows about the primary cluster from which it is replicating. However, for scenarios, where the primary cluster is unavailable(e.g. regional outage), a GetCluster request can be sent to any other member cluster and this field will list all the member clusters participating in cross cluster replication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cross cluster replication config."
      }
    },
    "com.gcp.redis_v1beta1#CrossClusterReplicationConfigClusterRoleEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ROLE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#RemoteClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#RemoteCluster"
      }
    },
    "com.gcp.redis_v1beta1#RemoteCluster": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource path of the remote cluster in the format: projects//locations//clusters/"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the remote cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the remote cluster associated with this cluster in a cross cluster replication setup."
      }
    },
    "com.gcp.redis_v1beta1#Membership": {
      "type": "structure",
      "members": {
        "primaryCluster": {
          "target": "com.gcp.redis_v1beta1#RemoteCluster",
          "traits": {
            "smithy.api#documentation": "Output only. The primary cluster that acts as the source of replication for the secondary clusters."
          }
        },
        "secondaryClusters": {
          "target": "com.gcp.redis_v1beta1#RemoteClusterList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of secondary clusters replicating from the primary cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An output only view of all the member clusters participating in the cross cluster replication."
      }
    },
    "com.gcp.redis_v1beta1#ClusterMaintenancePolicy": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy was created i.e. Maintenance Window or Deny Period was assigned."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the policy was updated i.e. Maintenance Window or Deny Period was updated."
          }
        },
        "weeklyMaintenanceWindow": {
          "target": "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindowList",
          "traits": {
            "smithy.api#documentation": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_maintenance_window is expected to be one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy per cluster."
      }
    },
    "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindow"
      }
    },
    "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindowDayEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Allows to define schedule that runs specified day of the week."
          }
        },
        "startTime": {
          "target": "com.gcp.redis_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional. Start time of the window in UTC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time window specified for weekly operations."
      }
    },
    "com.gcp.redis_v1beta1#ClusterWeeklyMaintenanceWindowDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.redis_v1beta1#ClusterMaintenanceSchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of any upcoming scheduled maintenance for this instance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of any upcoming scheduled maintenance for this instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upcoming maintenance schedule."
      }
    },
    "com.gcp.redis_v1beta1#PscServiceAttachment": {
      "type": "structure",
      "members": {
        "serviceAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service attachment URI which your self-created PscConnection should use as target"
          }
        },
        "connectionType": {
          "target": "com.gcp.redis_v1beta1#PscServiceAttachmentConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of a PSC connection targeting this service attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a service attachment of the cluster, for creating PSC connections."
      }
    },
    "com.gcp.redis_v1beta1#PscServiceAttachmentConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_UNSPECIFIED"
          }
        },
        "CONNECTION_TYPE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_DISCOVERY"
          }
        },
        "CONNECTION_TYPE_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_PRIMARY"
          }
        },
        "CONNECTION_TYPE_READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_READER"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ClusterEndpoint": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.redis_v1beta1#ConnectionDetailList",
          "traits": {
            "smithy.api#documentation": "Required. A group of PSC connections. They are created in the same VPC network, one for each service attachment in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ClusterEndpoint consists of PSC connections that are created as a group in each VPC network for accessing the cluster. In each group, there shall be one connection for each service attachment in the cluster."
      }
    },
    "com.gcp.redis_v1beta1#ConnectionDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#ConnectionDetail"
      }
    },
    "com.gcp.redis_v1beta1#ConnectionDetail": {
      "type": "structure",
      "members": {
        "pscAutoConnection": {
          "target": "com.gcp.redis_v1beta1#PscAutoConnection",
          "traits": {
            "smithy.api#documentation": "Detailed information of a PSC connection that is created through service connectivity automation."
          }
        },
        "pscConnection": {
          "target": "com.gcp.redis_v1beta1#PscConnection",
          "traits": {
            "smithy.api#documentation": "Detailed information of a PSC connection that is created by the customer who owns the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed information of each PSC connection."
      }
    },
    "com.gcp.redis_v1beta1#PscAutoConnection": {
      "type": "structure",
      "members": {
        "pscConnectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The PSC connection id of the forwarding rule connected to the service attachment."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP allocated on the consumer network for the PSC forwarding rule."
          }
        },
        "forwardingRule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the consumer side forwarding rule. Example: projects/{projectNumOrId}/regions/us-east1/forwardingRules/{resourceId}."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The consumer project_id where the forwarding rule is created from."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The consumer network where the IP address resides, in the form of projects/{project_id}/global/networks/{network_id}."
          }
        },
        "serviceAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service attachment which is the target of the PSC connection, in the form of projects/{project-id}/regions/{region}/serviceAttachments/{service-attachment-id}."
          }
        },
        "pscConnectionStatus": {
          "target": "com.gcp.redis_v1beta1#PscAutoConnectionPscConnectionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the PSC connection. Please note that this value is updated periodically. Please use Private Service Connect APIs for the latest status."
          }
        },
        "connectionType": {
          "target": "com.gcp.redis_v1beta1#PscAutoConnectionConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the PSC connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of consumer resources in a PSC connection that is created through Service Connectivity Automation."
      }
    },
    "com.gcp.redis_v1beta1#PscAutoConnectionPscConnectionStatusEnum": {
      "type": "enum",
      "members": {
        "PSC_CONNECTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_UNSPECIFIED"
          }
        },
        "PSC_CONNECTION_STATUS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_ACTIVE"
          }
        },
        "PSC_CONNECTION_STATUS_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CONNECTION_STATUS_NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#PscAutoConnectionConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "CONNECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_UNSPECIFIED"
          }
        },
        "CONNECTION_TYPE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_DISCOVERY"
          }
        },
        "CONNECTION_TYPE_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_PRIMARY"
          }
        },
        "CONNECTION_TYPE_READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_TYPE_READER"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#AutomatedBackupConfig": {
      "type": "structure",
      "members": {
        "fixedFrequencySchedule": {
          "target": "com.gcp.redis_v1beta1#FixedFrequencySchedule",
          "traits": {
            "smithy.api#documentation": "Optional. Trigger automated backups at a fixed frequency."
          }
        },
        "automatedBackupMode": {
          "target": "com.gcp.redis_v1beta1#AutomatedBackupConfigAutomatedBackupModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The automated backup mode. If the mode is disabled, the other fields will be ignored."
          }
        },
        "retention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How long to keep automated backups before the backups are deleted. The value should be between 1 day and 365 days. If not specified, the default value is 35 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The automated backup config for a cluster."
      }
    },
    "com.gcp.redis_v1beta1#AutomatedBackupConfigAutomatedBackupModeEnum": {
      "type": "enum",
      "members": {
        "AUTOMATED_BACKUP_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_BACKUP_MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#FixedFrequencySchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.gcp.redis_v1beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Required. The start time of every automated backup in UTC. It must be set to the start of an hour. This field is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This schedule allows the backup to be triggered at a fixed frequency (currently only daily is supported)."
      }
    },
    "com.gcp.redis_v1beta1#EncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionType": {
          "target": "com.gcp.redis_v1beta1#EncryptionInfoEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of encryption."
          }
        },
        "kmsKeyVersions": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. KMS key versions that are being used to protect the data at-rest."
          }
        },
        "kmsKeyPrimaryState": {
          "target": "com.gcp.redis_v1beta1#EncryptionInfoKmsKeyPrimaryStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the primary version of the KMS key perceived by the system. This field is not populated in backups."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time when the encryption info was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EncryptionInfo describes the encryption information of a cluster or a backup."
      }
    },
    "com.gcp.redis_v1beta1#EncryptionInfoEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_MANAGED_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#EncryptionInfoKmsKeyPrimaryStateEnum": {
      "type": "enum",
      "members": {
        "KMS_KEY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_KEY_STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DESTROYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROYED"
          }
        },
        "DESTROY_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROY_SCHEDULED"
          }
        },
        "EKM_KEY_UNREACHABLE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_KEY_UNREACHABLE_DETECTED"
          }
        },
        "BILLING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_DISABLED"
          }
        },
        "UNKNOWN_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_FAILURE"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ListAclPoliciesResponse": {
      "type": "structure",
      "members": {
        "aclPolicies": {
          "target": "com.gcp.redis_v1beta1#AclPolicyList",
          "traits": {
            "smithy.api#documentation": "A list of ACL policies in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListAclPolicies`."
      }
    },
    "com.gcp.redis_v1beta1#AclPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#AclPolicy"
      }
    },
    "com.gcp.redis_v1beta1#AclPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full resource path of the ACL policy."
          }
        },
        "rules": {
          "target": "com.gcp.redis_v1beta1#AclRuleList",
          "traits": {
            "smithy.api#documentation": "Required. The ACL rules within the ACL policy."
          }
        },
        "state": {
          "target": "com.gcp.redis_v1beta1#AclPolicyStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the ACL policy."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: Used in drift resolution."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag for the ACL policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ACL policy resource."
      }
    },
    "com.gcp.redis_v1beta1#AclRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#AclRule"
      }
    },
    "com.gcp.redis_v1beta1#AclPolicyStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#AclRule": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the IAM user or service account to be added to the ACL policy. This username will be directly set on the Redis OSS."
          }
        },
        "rule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The rule to be applied to the username. Ex: \"on >password123 ~* +@all\" The format of the rule is defined by Redis OSS: https://redis.io/docs/latest/operate/oss_and_stack/management/security/acl/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single ACL rule which defines the policy for a user."
      }
    },
    "com.gcp.redis_v1beta1#CertificateAuthority": {
      "type": "structure",
      "members": {
        "managedServerCa": {
          "target": "com.gcp.redis_v1beta1#ManagedCertificateAuthority"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique name of the resource in this scope including project, location and cluster using the form: `projects/{project}/locations/{location}/clusters/{cluster}/certificateAuthority`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Redis cluster certificate authority"
      }
    },
    "com.gcp.redis_v1beta1#ManagedCertificateAuthority": {
      "type": "structure",
      "members": {
        "caCerts": {
          "target": "com.gcp.redis_v1beta1#CertChainList",
          "traits": {
            "smithy.api#documentation": "The PEM encoded CA certificate chains for redis managed server authentication"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#CertChainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#CertChain"
      }
    },
    "com.gcp.redis_v1beta1#CertChain": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The certificates that form the CA chain, from leaf to root order."
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#SharedRegionalCertificateAuthority": {
      "type": "structure",
      "members": {
        "managedServerCa": {
          "target": "com.gcp.redis_v1beta1#RegionalManagedCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "CA certificate chains for redis managed server authentication."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project}/locations/{location}/sharedRegionalCertificateAuthority`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shared regional certificate authority"
      }
    },
    "com.gcp.redis_v1beta1#RegionalManagedCertificateAuthority": {
      "type": "structure",
      "members": {
        "caCerts": {
          "target": "com.gcp.redis_v1beta1#RegionalCertChainList",
          "traits": {
            "smithy.api#documentation": "The PEM encoded CA certificate chains for redis managed server authentication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CA certificate chains for redis managed server authentication."
      }
    },
    "com.gcp.redis_v1beta1#RegionalCertChainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#RegionalCertChain"
      }
    },
    "com.gcp.redis_v1beta1#RegionalCertChain": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The certificates that form the CA chain, from leaf to root order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The certificates that form the CA chain, from leaf to root order."
      }
    },
    "com.gcp.redis_v1beta1#RescheduleClusterMaintenanceRequest": {
      "type": "structure",
      "members": {
        "rescheduleType": {
          "target": "com.gcp.redis_v1beta1#RescheduleClusterMaintenanceRequestRescheduleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. If reschedule type is SPECIFIC_TIME, must set up schedule_time as well."
          }
        },
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example `2012-11-15T16:19:00.094Z`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for rescheduling a cluster maintenance."
      }
    },
    "com.gcp.redis_v1beta1#RescheduleClusterMaintenanceRequestRescheduleTypeEnum": {
      "type": "enum",
      "members": {
        "RESCHEDULE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCHEDULE_TYPE_UNSPECIFIED"
          }
        },
        "IMMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMMEDIATE"
          }
        },
        "SPECIFIC_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPECIFIC_TIME"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ListBackupCollectionsResponse": {
      "type": "structure",
      "members": {
        "backupCollections": {
          "target": "com.gcp.redis_v1beta1#BackupCollectionList",
          "traits": {
            "smithy.api#documentation": "A list of backupCollections in the project. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder backupCollection entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/backupCollections/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListBackupCollections\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListBackupCollections`."
      }
    },
    "com.gcp.redis_v1beta1#BackupCollectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#BackupCollection"
      }
    },
    "com.gcp.redis_v1beta1#BackupCollection": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full resource path of the backup collection."
          }
        },
        "clusterUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cluster uid of the backup collection."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}"
          }
        },
        "kmsKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The KMS key used to encrypt the backups under this backup collection."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System assigned unique identifier of the backup collection."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup collection was created."
          }
        },
        "totalBackupSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of all backups in the backup collection."
          }
        },
        "totalBackupCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total number of backups in the backup collection."
          }
        },
        "lastBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time a backup was created in the backup collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupCollection of a cluster."
      }
    },
    "com.gcp.redis_v1beta1#ListBackupsResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.redis_v1beta1#BackupList",
          "traits": {
            "smithy.api#documentation": "A list of backups in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Backups that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for `ListBackups`."
      }
    },
    "com.gcp.redis_v1beta1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#Backup"
      }
    },
    "com.gcp.redis_v1beta1#Backup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup was created."
          }
        },
        "cluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster resource path of this backup."
          }
        },
        "clusterUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster uid of this backup."
          }
        },
        "totalSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of the backup in bytes."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup will expire."
          }
        },
        "engineVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. redis-7.2, valkey-7.5"
          }
        },
        "backupFiles": {
          "target": "com.gcp.redis_v1beta1#BackupFileList",
          "traits": {
            "smithy.api#documentation": "Output only. List of backup files of the backup."
          }
        },
        "nodeType": {
          "target": "com.gcp.redis_v1beta1#BackupNodeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Node type of the cluster."
          }
        },
        "replicaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of replicas for the cluster."
          }
        },
        "shardCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of shards for the cluster."
          }
        },
        "backupType": {
          "target": "com.gcp.redis_v1beta1#BackupBackupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the backup."
          }
        },
        "state": {
          "target": "com.gcp.redis_v1beta1#BackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the backup."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.redis_v1beta1#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Encryption information of the backup."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System assigned unique identifier of the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup of a cluster."
      }
    },
    "com.gcp.redis_v1beta1#BackupFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#BackupFile"
      }
    },
    "com.gcp.redis_v1beta1#BackupNodeTypeEnum": {
      "type": "enum",
      "members": {
        "NODE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_TYPE_UNSPECIFIED"
          }
        },
        "REDIS_SHARED_CORE_NANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_SHARED_CORE_NANO"
          }
        },
        "REDIS_HIGHMEM_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_MEDIUM"
          }
        },
        "REDIS_HIGHMEM_XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_XLARGE"
          }
        },
        "REDIS_STANDARD_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_SMALL"
          }
        },
        "REDIS_HIGHCPU_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHCPU_MEDIUM"
          }
        },
        "REDIS_STANDARD_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_STANDARD_LARGE"
          }
        },
        "REDIS_HIGHMEM_2XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_HIGHMEM_2XLARGE"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#BackupBackupTypeEnum": {
      "type": "enum",
      "members": {
        "BACKUP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_TYPE_UNSPECIFIED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "AUTOMATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#BackupStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#BackupFile": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. e.g: .rdb"
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the backup file in bytes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the backup file was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup is consisted of multiple backup files."
      }
    },
    "com.gcp.redis_v1beta1#ExportBackupRequest": {
      "type": "structure",
      "members": {
        "gcsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage bucket, like \"my-bucket\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for `ExportBackup`."
      }
    },
    "com.gcp.redis_v1beta1#BackupClusterRequest": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years."
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for `BackupCluster`."
      }
    },
    "com.gcp.redis_v1beta1#ListTokenAuthUsersResponse": {
      "type": "structure",
      "members": {
        "tokenAuthUsers": {
          "target": "com.gcp.redis_v1beta1#TokenAuthUserList",
          "traits": {
            "smithy.api#documentation": "A list of token auth users in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Token auth users that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListTokenAuthUsers."
      }
    },
    "com.gcp.redis_v1beta1#TokenAuthUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#TokenAuthUser"
      }
    },
    "com.gcp.redis_v1beta1#TokenAuthUser": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the token based auth user. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}"
          }
        },
        "state": {
          "target": "com.gcp.redis_v1beta1#TokenAuthUserStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the token based auth user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a token based auth user for the cluster."
      }
    },
    "com.gcp.redis_v1beta1#TokenAuthUserStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#ListAuthTokensResponse": {
      "type": "structure",
      "members": {
        "authTokens": {
          "target": "com.gcp.redis_v1beta1#AuthTokenList",
          "traits": {
            "smithy.api#documentation": "A list of auth tokens in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Auth tokens that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAuthTokens."
      }
    },
    "com.gcp.redis_v1beta1#AuthTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#AuthToken"
      }
    },
    "com.gcp.redis_v1beta1#AuthToken": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the auth token. Format: projects/{project}/locations/{location}/clusters/{cluster}/tokenAuthUsers/{token_auth_user}/authTokens/{auth_token}"
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service generated authentication token used to connect to the Redis cluster."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the auth token."
          }
        },
        "state": {
          "target": "com.gcp.redis_v1beta1#AuthTokenStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the auth token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auth token for the cluster."
      }
    },
    "com.gcp.redis_v1beta1#AuthTokenStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.redis_v1beta1#AddTokenAuthUserRequest": {
      "type": "structure",
      "members": {
        "tokenAuthUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the token auth user to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AddTokenAuthUser."
      }
    },
    "com.gcp.redis_v1beta1#AddAuthTokenRequest": {
      "type": "structure",
      "members": {
        "authToken": {
          "target": "com.gcp.redis_v1beta1#AuthToken",
          "traits": {
            "smithy.api#documentation": "Required. The auth token to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AddAuthToken."
      }
    },
    "com.gcp.redis_v1beta1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.redis_v1beta1#InstanceList",
          "traits": {
            "smithy.api#documentation": "A list of Redis instances in the project in the specified location, or across all locations. If the `location_id` in the parent field of the request is \"-\", all regions available to the project are queried, and the results aggregated. If in such an aggregated query a location is unavailable, a placeholder Redis entry is included in the response with the `name` field set to a value of the form `projects/{project_id}/locations/{location_id}/instances/`- and the `status` field set to ERROR and `status_message` field set to \"location not available for ListInstances\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.redis_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListInstances."
      }
    },
    "com.gcp.redis_v1beta1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.redis_v1beta1#Instance"
      }
    },
    "com.gcp.redis_v1beta1#Instance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary and optional user-provided name for the instance."
          }
        },
        "labels": {
          "target": "com.gcp.redis_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user provided metadata"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
[...]
