{
  "smithy": "2.0",
  "metadata": {
    "service": "retail",
    "version": "v2beta",
    "title": "Vertex AI Search for commerce API",
    "baseUrl": "https://retail.googleapis.com/"
  },
  "shapes": {
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductInlineSource": {
      "type": "structure",
      "members": {
        "products": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductList",
          "traits": {
            "smithy.api#documentation": "Required. A list of products to update/create. Each product must have a valid Product.id. Recommended max of 100 items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inline source for the input config for ImportProducts method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProduct"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaRemoveFulfillmentPlacesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaAddFulfillmentPlacesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AddFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "type": "structure",
      "members": {
        "contextProductsType": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configs for the frequently-bought-together model type."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_CONTEXT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_CONTEXT_PRODUCT"
          }
        },
        "MULTIPLE_CONTEXT_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CONTEXT_PRODUCTS"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2RemoveLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaEnrollSolutionMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the EnrollSolution method. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRemoveFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseFacetFacetValue": {
      "type": "structure",
      "members": {
        "maxValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true."
          }
        },
        "minValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum value in the FacetValue.interval. Only supported on numerical facets and returned if SearchRequest.FacetSpec.FacetKey.return_min_max is true."
          }
        },
        "interval": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaInterval",
          "traits": {
            "smithy.api#documentation": "Interval value for a facet, such as [10, 20) for facet \"price\"."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text value of a facet, such as \"Black\" for facet \"colorFamilies\"."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of items that have this facet value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A facet value which contains value names and their count."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailLoggingServiceContext": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier of the service. For example, \"retail.googleapis.com\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a running service that sends errors."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaUserEventImportSummary": {
      "type": "structure",
      "members": {
        "joinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported with complete existing catalog information."
          }
        },
        "unjoinedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of user events imported, but with catalog information not found in the imported catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig": {
      "type": "structure",
      "members": {
        "contextProductsType": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configs for the frequently-bought-together model type."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_CONTEXT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_CONTEXT_PRODUCT"
          }
        },
        "MULTIPLE_CONTEXT_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CONTEXT_PRODUCTS"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaBatchUpdateGenerativeQuestionConfigsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaUpdateGenerativeQuestionConfigRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The updates question configs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for BatchUpdateGenerativeQuestionConfig method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaUpdateGenerativeQuestionConfigRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaUpdateGenerativeQuestionConfigRequest"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRemoveLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaExportMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Export operation. This is returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPanelInfo": {
      "type": "structure",
      "members": {
        "attributionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The attribution token of the panel."
          }
        },
        "panelPosition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the panel."
          }
        },
        "productDetails": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductDetailList",
          "traits": {
            "smithy.api#documentation": "Optional. The product details associated with the panel."
          }
        },
        "panelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The panel ID."
          }
        },
        "totalPanels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The total number of panels, including this one, shown to the user. Must be set if panel_position is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed panel information associated with a user event."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductDetail"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponse": {
      "type": "structure",
      "members": {
        "followupQuestion": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseFollowupQuestion",
          "traits": {
            "smithy.api#documentation": "The conversational followup question generated for Intent refinement."
          }
        },
        "conversationalFilteringResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseConversationalFilteringResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information that is needed on client side for UI rendering of conversational filtering search."
          }
        },
        "conversationalTextResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conversational answer-based text response generated by the Server."
          }
        },
        "conversationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Conversation UUID. This field will be stored in client side storage to maintain the conversation session with server and will be used for next search request's ConversationalSearchRequest.conversation_id to restore conversation state in server."
          }
        },
        "userQueryTypes": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The types Retail classifies the search query as. Supported values are: - \"ORDER_SUPPORT\" - \"SIMPLE_PRODUCT_SEARCH\" - \"INTENT_REFINEMENT\" - \"PRODUCT_DETAILS\" - \"PRODUCT_COMPARISON\" - \"DEALS_AND_COUPONS\" - \"STORE_RELEVANT\" - \"BLOCKLISTED\" - \"BEST_PRODUCT\" - \"RETAIL_SUPPORT\" - \"DISABLED\""
          }
        },
        "state": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the response generation."
          }
        },
        "refinedSearch": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseRefinedSearchList",
          "traits": {
            "smithy.api#documentation": "The proposed refined search queries. They can be used to fetch the relevant search results. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConversationalSearchService.ConversationalSearch method."
      }
    },
    "com.gcp.retail_v2beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseRefinedSearchList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchResponseRefinedSearch"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRemoveCatalogAttributeRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The attribute name key of the CatalogAttribute to remove."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for CatalogService.RemoveCatalogAttribute method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRejoinUserEventsRequest": {
      "type": "structure",
      "members": {
        "userEventRejoinScope": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRejoinUserEventsRequestUserEventRejoinScopeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the user event rejoin to define the scope and range of the user events to be rejoined with the latest product catalog. Defaults to `USER_EVENT_REJOIN_SCOPE_UNSPECIFIED` if this field is not set, or set to an invalid integer value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RejoinUserEvents method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRejoinUserEventsRequestUserEventRejoinScopeEnum": {
      "type": "enum",
      "members": {
        "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EVENT_REJOIN_SCOPE_UNSPECIFIED"
          }
        },
        "JOINED_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOINED_EVENTS"
          }
        },
        "UNJOINED_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNJOINED_EVENTS"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaSetInventoryMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicy": {
      "type": "structure",
      "members": {
        "enrollStatus": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicyEnrollStatusEnum",
          "traits": {
            "smithy.api#documentation": "The enrollment status of a customer."
          }
        },
        "recipients": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicyRecipientList",
          "traits": {
            "smithy.api#documentation": "Recipients for the alert policy. One alert policy should not exceed 20 recipients."
          }
        },
        "alertGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature that provides alerting capability. Supported value: - `search-data-quality` for retail search customers. - `conv-data-quality` for retail conversation customers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert policy for a customer."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicyEnrollStatusEnum": {
      "type": "enum",
      "members": {
        "ENROLL_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLL_STATUS_UNSPECIFIED"
          }
        },
        "ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLLED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicyRecipientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaAlertConfigAlertPolicyRecipient"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExportAnalyticsMetricsResponse": {
      "type": "structure",
      "members": {
        "errorsConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "This field is never set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        },
        "outputResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputResult",
          "traits": {
            "smithy.api#documentation": "Output result indicating where the data were exported to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ExportAnalyticsMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2beta#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleRpcStatus"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRemoveFulfillmentPlacesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveFulfillmentPlaces operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2ExportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Export related errors."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPredictResponsePredictionResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the recommended product"
          }
        },
        "metadata": {
          "target": "com.gcp.retail_v2beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional product metadata / annotations. Possible values: * `product`: JSON representation of the product. Is set if `returnProduct` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Is set if `returnScore` is set to true in `PredictRequest.params`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PredictionResult represents the recommendation prediction results."
      }
    },
    "com.gcp.retail_v2beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExportProductsRequest": {
      "type": "structure",
      "members": {
        "outputConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The output location of the data. Only `bigquery_destination` is supported, and `bigquery_destination.table_type` must be set to `view`."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: This field is deprecated. Any filter provided will be ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ExportProducts method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfigGcsDestination": {
      "type": "structure",
      "members": {
        "outputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The output uri prefix for saving output data to json files. Some mapping examples are as follows: output_uri_prefix sample output(assuming the object is foo.json) ======================== ============================================= gs://bucket/ gs://bucket/foo.json gs://bucket/folder/ gs://bucket/folder/foo.json gs://bucket/folder/item_ gs://bucket/folder/item_foo.json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage output destination configuration."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2PurgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaDoubleList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.retail_v2beta#DoubleList",
          "traits": {
            "smithy.api#documentation": "The list of double values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message with a list of double values."
      }
    },
    "com.gcp.retail_v2beta#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaImportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Import related errors."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaImage": {
      "type": "structure",
      "members": {
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI of the image. This field must be a valid UTF-8 encoded URI with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product image. Recommendations AI and Retail Search use product images to improve prediction and search results. Product images can be returned in results, and are shown in prediction or search previews in the console. Please try to provide correct product images and avoid using images with size too small."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfig": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfigGcsDestination",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location where the output is to be written to."
          }
        },
        "bigqueryDestination": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfigBigQueryDestination",
          "traits": {
            "smithy.api#documentation": "The BigQuery location where the output is to be written to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output configuration setting."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaImportUserEventsRequest": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaUserEventInputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The desired input location of the data."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ImportUserEvents request."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaPurgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidate": {
      "type": "structure",
      "members": {
        "servingConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This has to be a valid ServingConfig identifier. For example, for a ServingConfig with full name: `projects/*/locations/global/catalogs/default_catalog/servingConfigs/my_candidate_config`, this would be `my_candidate_config`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A candidate to consider for a given panel. Currently only ServingConfig are valid candidates."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2PurgeProductsResponse": {
      "type": "structure",
      "members": {
        "purgeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of products purged as a result of the operation."
          }
        },
        "purgeSample": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "A sample of the product names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the PurgeProductsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfigBigQueryDestination": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of a BigQuery Dataset."
          }
        },
        "tableType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Describes the table type. The following values are supported: * `table`: A BigQuery native table. * `view`: A virtual table defined by a SQL query."
          }
        },
        "tableIdPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The prefix of exported BigQuery tables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The BigQuery output destination configuration."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPurgeProductsResponse": {
      "type": "structure",
      "members": {
        "purgeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of products purged as a result of the operation."
          }
        },
        "purgeSample": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "A sample of the product names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the PurgeProductsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCreateModelMetadata": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the model that this create applies to. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata associated with a create operation."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaFulfillmentInfo": {
      "type": "structure",
      "members": {
        "placeIds": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The IDs for this type, such as the store IDs for FulfillmentInfo.type.pickup-in-store or the region IDs for FulfillmentInfo.type.same-day-delivery. A maximum of 3000 values are allowed. Each value must be a string with a length limit of 30 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Customers have to map custom types to their display names before rendering UI. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fulfillment information, such as the store IDs for in-store pickup or region IDs for different shipping methods."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRule": {
      "type": "structure",
      "members": {
        "ignoreAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleIgnoreAction",
          "traits": {
            "smithy.api#documentation": "Ignores specific terms from query during search."
          }
        },
        "boostAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleBoostAction",
          "traits": {
            "smithy.api#documentation": "A boost action."
          }
        },
        "doNotAssociateAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleDoNotAssociateAction",
          "traits": {
            "smithy.api#documentation": "Prevents term from being associated with other terms."
          }
        },
        "pinAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRulePinAction",
          "traits": {
            "smithy.api#documentation": "Pins one or more specified products to a specific position in the results."
          }
        },
        "twowaySynonymsAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleTwowaySynonymsAction",
          "traits": {
            "smithy.api#documentation": "Treats a set of terms as synonyms of one another."
          }
        },
        "redirectAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleRedirectAction",
          "traits": {
            "smithy.api#documentation": "Redirects a shopper to a specific page."
          }
        },
        "removeFacetAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleRemoveFacetAction",
          "traits": {
            "smithy.api#documentation": "Remove an attribute as a facet in the request (if present)."
          }
        },
        "onewaySynonymsAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleOnewaySynonymsAction",
          "traits": {
            "smithy.api#documentation": "Treats specific term as a synonym with a group of terms. Group of terms will not be treated as synonyms with the specific term."
          }
        },
        "replacementAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleReplacementAction",
          "traits": {
            "smithy.api#documentation": "Replaces specific terms in the query."
          }
        },
        "forceReturnFacetAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleForceReturnFacetAction",
          "traits": {
            "smithy.api#documentation": "Force returns an attribute as a facet in the request."
          }
        },
        "filterAction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleFilterAction",
          "traits": {
            "smithy.api#documentation": "Filters results."
          }
        },
        "condition": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCondition",
          "traits": {
            "smithy.api#documentation": "Required. The condition that triggers the rule. If the condition is empty, the rule will always apply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rule is a condition-action pair * A condition defines when a rule is to be triggered. * An action specifies what occurs on that trigger. Currently rules only work for controls with SOLUTION_TYPE_SEARCH."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaListGenerativeQuestionConfigsResponse": {
      "type": "structure",
      "members": {
        "generativeQuestionConfigs": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGenerativeQuestionConfigList",
          "traits": {
            "smithy.api#documentation": "All the questions for a given catalog."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListQuestions method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGenerativeQuestionConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGenerativeQuestionConfig"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRemoveLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2SetInventoryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaAddLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPurgeUserEventsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any user events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PurgeUserEvents method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaStringList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "String values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of string values."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaCreateMerchantCenterAccountLinkMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation last update time. If the operation is done, this is also the finish time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common metadata related to the progress of the operations."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaIntentClassificationConfigInlineForceIntent": {
      "type": "structure",
      "members": {
        "intentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The intent_type must match one of the predefined intent types defined at https://cloud.google.com/retail/docs/reference/rpc/google.cloud.retail.v2alpha#querytype"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A example query."
          }
        },
        "operation": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaIntentClassificationConfigInlineForceIntentOperationEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The operation to perform for the query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An inline force intent classification configuration."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaIntentClassificationConfigInlineForceIntentOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EXACT_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT_MATCH"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2ImportProductsResponse": {
      "type": "structure",
      "members": {
        "errorsConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2ImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "Echoes the destination for the complete errors in the request if set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2beta#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ImportProductsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaTuneModelRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to manually start a tuning process now (instead of waiting for the periodically scheduled tuning to happen)."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaRejoinUserEventsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for `RejoinUserEvents` method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfig": {
      "type": "structure",
      "members": {
        "contextProductsType": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configs for the frequently-bought-together model type."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_CONTEXT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_CONTEXT_PRODUCT"
          }
        },
        "MULTIPLE_CONTEXT_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CONTEXT_PRODUCTS"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2AddLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaTransformedUserEventsMetadata": {
      "type": "structure",
      "members": {
        "sourceEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries in the source user events BigQuery table."
          }
        },
        "transformedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of entries in the transformed user events BigQuery table, which could be different from the actually imported number of user events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to transform user events operation."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPurgeProductsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string to specify the products to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. \"*\" implies delete all items in a branch. The eligible fields for filtering are: * `availability`: Double quoted Product.availability string. * `create_time` : in ISO 8601 \"zulu\" format. Supported syntax: * Comparators (\">\", \"<\", \">=\", \"<=\", \"=\"). Examples: * create_time <= \"2015-02-13T17:05:46Z\" * availability = \"IN_STOCK\" * Conjunctions (\"AND\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\" * Disjunctions (\"OR\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"IN_STOCK\" * Can support nested queries. Examples: * (create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\") OR (create_time >= \"2015-02-14T13:03:32Z\" AND availability = \"IN_STOCK\") * Filter Limits: * Filter should not contain more than 6 conditions. * Max nesting depth should not exceed 2 levels. Examples queries: * Delete back order products created before a timestamp. create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"BACKORDER\""
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any products."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PurgeProducts method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPriceInfo": {
      "type": "structure",
      "members": {
        "price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Price of the product. Google Merchant Center property [price](https://support.google.com/merchants/answer/6324371). Schema.org property [Offer.price](https://schema.org/price)."
          }
        },
        "originalPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Price of the product without any discount. If zero, by default set to be the price. If set, original_price should be greater than or equal to price, otherwise an INVALID_ARGUMENT error is thrown."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3-letter currency code defined in [ISO 4217](https://www.iso.org/iso-4217-currency-codes.html). If this field is an unrecognizable currency code, an INVALID_ARGUMENT error is returned. The Product.Type.VARIANT Products with the same Product.primary_product_id must share the same currency_code. Otherwise, a FAILED_PRECONDITION error is returned."
          }
        },
        "priceRange": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPriceInfoPriceRange",
          "traits": {
            "smithy.api#documentation": "Output only. The price range of all the child Product.Type.VARIANT Products grouped together on the Product.Type.PRIMARY Product. Only populated for Product.Type.PRIMARY Products. Note: This field is OUTPUT_ONLY for ProductService.GetProduct. Do not set this field in API requests."
          }
        },
        "priceEffectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the price starts to be effective. This can be set as a future timestamp, and the price is only used for search after price_effective_time. If so, the original_price must be set and original_price is used before price_effective_time. Do not set if price is always effective because it will cause additional latency during search."
          }
        },
        "priceExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the price stops to be effective. The price is used for search before price_expire_time. If this field is set, the original_price must be set and original_price is used after price_expire_time. Do not set if price is always effective because it will cause additional latency during search."
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The costs associated with the sale of a particular product. Used for gross profit reporting. * Profit = price - cost Google Merchant Center property [cost_of_goods_sold](https://support.google.com/merchants/answer/9017895)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price information of a Product."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExperimentInfoServingConfigExperiment": {
      "type": "structure",
      "members": {
        "experimentServingConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the serving config `Experiment.VariantArm.serving_config_id` responsible for generating the search response. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
          }
        },
        "originalServingConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of the original SearchRequest.placement in the search request prior to reassignment by experiment API. For example: `projects/*/locations/*/catalogs/*/servingConfigs/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for active serving config A/B tests."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleBoostAction": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Strength of the condition boost, which must be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the item a big promotion. However, it does not necessarily mean that the boosted item will be the top result at all times, nor that other items will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant items. Setting to -1.0 gives the item a big demotion. However, results that are deeply relevant might still be shown. The item will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored."
          }
        },
        "productsFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter can have a max size of 5000 characters. An expression which specifies which products to apply an action to. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost products with product ID \"product_1\" or \"product_2\", and color \"Red\" or \"Blue\": *(id: ANY(\"product_1\", \"product_2\")) * *AND * *(colorFamilies: ANY(\"Red\", \"Blue\")) *"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A boost action to apply to results matching condition specified above."
      }
    },
    "com.gcp.retail_v2beta#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.retail_v2beta#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.retail_v2beta#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleLongrunningOperation"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExportAnalyticsMetricsRequest": {
      "type": "structure",
      "members": {
        "outputConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The output location of the data. Only `bigquery_destination` is supported, and `bigquery_destination.table_type` must be set to `view`."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filtering expression to specify restrictions on returned metrics. The expression is a sequence of terms. Each term applies a restriction to the returned metrics. Use this expression to restrict results to a specific time range. Currently we expect only one types of fields: * `timestamp`: This can be specified twice, once with a less than operator and once with a greater than operator. The `timestamp` restriction should result in one, contiguous, valid, `timestamp` range. Some examples of valid filters expressions: * Example 1: `timestamp > \"2012-04-23T18:25:43.511Z\" timestamp < \"2012-04-23T18:30:43.511Z\"` * Example 2: `timestamp > \"2012-04-23T18:25:43.511Z\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `ExportAnalyticsMetrics` method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaTuneModelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response associated with a tune operation."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConversationalSearchRequestSearchParams": {
      "type": "structure",
      "members": {
        "canonicalFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The canonical filter string to restrict search results. The syntax of the canonical filter string is the same as SearchRequest.canonical_filter."
          }
        },
        "boostSpec": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchRequestBoostSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The boost spec to specify the boosting of search results. The syntax of the boost spec is the same as SearchRequest.boost_spec."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter string to restrict search results. The syntax of the filter string is the same as SearchRequest.filter."
          }
        },
        "sortBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The sort string to specify the sorting of search results. The syntax of the sort string is the same as SearchRequest.order_by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search parameters."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaRemoveLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the RemoveLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2beta#GoogleTypeDate": {
      "type": "structure",
      "members": {
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfig": {
      "type": "structure",
      "members": {
        "restriction": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigRestrictionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. How to restrict results across panels e.g. can the same ServingConfig be shown on multiple panels at once. If unspecified, default to `UNIQUE_MODEL_RESTRICTION`."
          }
        },
        "pageOptimizationEventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of UserEvent this page optimization is shown for. Each page has an associated event type - this will be the corresponding event type for the page that the page optimization model is used on. Supported types: * `add-to-cart`: Products being added to cart. * `detail-page-view`: Products detail page viewed. * `home-page-view`: Homepage viewed * `category-page-view`: Homepage viewed * `shopping-cart-page-view`: User viewing a shopping cart. `home-page-view` only allows models with type `recommended-for-you`. All other page_optimization_event_type allow all Model.types."
          }
        },
        "panels": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigPanelList",
          "traits": {
            "smithy.api#documentation": "Required. A list of panel configurations. Limit = 5."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The PageOptimizationConfig for model training. This determines how many panels to optimize for, and which serving configs to consider for each panel. The purpose of this model is to optimize which ServingConfig to show on which panels in way that optimizes the visitors shopping journey."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigRestrictionEnum": {
      "type": "enum",
      "members": {
        "RESTRICTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTION_UNSPECIFIED"
          }
        },
        "NO_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESTRICTION"
          }
        },
        "UNIQUE_SERVING_CONFIG_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIQUE_SERVING_CONFIG_RESTRICTION"
          }
        },
        "UNIQUE_MODEL_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIQUE_MODEL_RESTRICTION"
          }
        },
        "UNIQUE_MODEL_TYPE_RESTRICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIQUE_MODEL_TYPE_RESTRICTION"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigPanelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigPanel"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaRemoveFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the RemoveFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.RemoveFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40."
          }
        },
        "servingConfigLists": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelServingConfigListList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of valid serving configs associated with the PageOptimizationConfig."
          }
        },
        "modelFeaturesConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelModelFeaturesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional model features config."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp the Recommendation Model was last updated. E.g. if a Recommendation Model was paused - this would be the time the pause was initiated."
          }
        },
        "periodicTuningState": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelPeriodicTuningStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of periodic tuning. The period we use is 3 months - to do a one-off tune earlier use the `TuneModel` method. Default value is `PERIODIC_TUNING_ENABLED`."
          }
        },
        "filteringOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelFilteringOptionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. If `RECOMMENDATIONS_FILTERING_ENABLED`, recommendation filtering by attributes is enabled for the model."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp the Recommendation Model was created at."
          }
        },
        "dataState": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelDataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of data requirements for this model: `DATA_OK` and `DATA_ERROR`. Recommendation model cannot be trained if the data is in `DATA_ERROR` state. Recommendation model can have `DATA_ERROR` state even if serving state is `ACTIVE`: models were trained successfully before, but cannot be refreshed because model no longer has sufficient data for training."
          }
        },
        "optimizationObjective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The optimization objective e.g. `cvr`. Currently supported values: `ctr`, `cvr`, `revenue-per-order`. If not specified, we choose default based on model type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr` `frequently-bought-together` => `revenue_per_order` This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
          }
        },
        "trainingState": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelTrainingStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The training state that the model is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train model in order to control cost. If not specified: the default value for `CreateModel` method is `TRAINING`. The default value for `UpdateModel` method is to keep the state the same as before."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of model e.g. `home-page`. Currently supported values: `recommended-for-you`, `others-you-may-like`, `frequently-bought-together`, `page-optimization`, `similar-items`, `buy-it-again`, `on-sale-items`, and `recently-viewed`(readonly value). This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the model. Should be human readable, used to display Recommendation Models in the Retail Cloud Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
          }
        },
        "servingState": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelServingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The serving state of the model: `ACTIVE`, `NOT_ACTIVE`."
          }
        },
        "lastTuneTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the latest successful tune finished."
          }
        },
        "tuningOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The tune operation associated with the model. Can be used to determine if there is an ongoing tune for this recommendation. Empty field implies no tune is goig on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata that describes the training and serving parameters of a Model. A Model can be associated with a ServingConfig and then queried through the Predict API."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelServingConfigListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelServingConfigList"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelPeriodicTuningStateEnum": {
      "type": "enum",
      "members": {
        "PERIODIC_TUNING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_STATE_UNSPECIFIED"
          }
        },
        "PERIODIC_TUNING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_DISABLED"
          }
        },
        "ALL_TUNING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TUNING_DISABLED"
          }
        },
        "PERIODIC_TUNING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_ENABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelFilteringOptionEnum": {
      "type": "enum",
      "members": {
        "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED"
          }
        },
        "RECOMMENDATIONS_FILTERING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_DISABLED"
          }
        },
        "RECOMMENDATIONS_FILTERING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_ENABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelDataStateEnum": {
      "type": "enum",
      "members": {
        "DATA_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STATE_UNSPECIFIED"
          }
        },
        "DATA_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OK"
          }
        },
        "DATA_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ERROR"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelTrainingStateEnum": {
      "type": "enum",
      "members": {
        "TRAINING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING_STATE_UNSPECIFIED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelServingStateEnum": {
      "type": "enum",
      "members": {
        "SERVING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "TUNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUNED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigPanel": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name to display for the panel."
          }
        },
        "candidates": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidateList",
          "traits": {
            "smithy.api#documentation": "Required. The candidates to consider on the panel."
          }
        },
        "defaultCandidate": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidate",
          "traits": {
            "smithy.api#documentation": "Required. The default candidate. If the model fails at serving time, we fall back to the default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual panel with a list of ServingConfigs to consider for it."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2alphaModelPageOptimizationConfigCandidate"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaRuleRemoveFacetAction": {
      "type": "structure",
      "members": {
        "attributeNames": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The attribute names (i.e. facet keys) to remove from the dynamic facets (if present in the request). There can't be more 3 attribute names. Each attribute name should be a valid attribute name, be non-empty and contain at most 80 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Removes an attribute/facet in the request if is present. * Rule Condition: Must specify non-empty Condition.query_terms (for search only) or Condition.page_categories (for browse only), but can't specify both. * Action Input: attribute name * Action Result: Will remove the attribute (as a facet) from the request if it is present. Example: Suppose the query is \"shoes\", the Condition.query_terms is \"shoes\" and the attribute name \"size\", then facet key \"size\" will be removed from the request (if it is present)."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCondition": {
      "type": "structure",
      "members": {
        "pageCategories": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "Used to support browse uses cases. A list (up to 10 entries) of categories or departments. The format should be the same as UserEvent.page_categories;"
          }
        },
        "activeTimeRange": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionTimeRangeList",
          "traits": {
            "smithy.api#documentation": "Range of time(s) specifying when Condition is active. Condition true if any time range matches."
          }
        },
        "queryTerms": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionQueryTermList",
          "traits": {
            "smithy.api#documentation": "A list (up to 10 entries) of terms to match the query on. If not specified, match all queries. If many query terms are specified, the condition is matched if any of the terms is a match (i.e. using the OR operator)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata that is used to define a condition that triggers an action. A valid condition must specify at least one of 'query_terms' or 'products_filter'. If multiple fields are specified, the condition is met if all the fields are satisfied e.g. if a set of query terms and product_filter are set, then only items matching the product_filter for requests with a query matching the query terms wil get boosted."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionTimeRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionTimeRange"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionQueryTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaConditionQueryTerm"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaListProductsResponse": {
      "type": "structure",
      "members": {
        "products": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaProductList",
          "traits": {
            "smithy.api#documentation": "The Products."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListProductsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ProductService.ListProducts method."
      }
    },
    "com.gcp.retail_v2beta#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.retail_v2beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.retail_v2beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#DocumentMap"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaOutputResult": {
      "type": "structure",
      "members": {
        "gcsResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGcsOutputResultList",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location where the result is stored."
          }
        },
        "bigqueryResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaBigQueryOutputResultList",
          "traits": {
            "smithy.api#documentation": "The BigQuery location where the result is stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output result that stores the information about where the exported data is stored."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGcsOutputResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaGcsOutputResult"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaBigQueryOutputResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaBigQueryOutputResult"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaListModelsResponse": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelList",
          "traits": {
            "smithy.api#documentation": "List of Models."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token, if not returned indicates the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a ListModelRequest."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaModel"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches."
          }
        },
        "queryExpansionInfo": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseQueryExpansionInfo",
          "traits": {
            "smithy.api#documentation": "Query expansion information for the returned results."
          }
        },
        "appliedControls": {
          "target": "com.gcp.retail_v2beta#StringList",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of applied [controls](https://cloud.google.com/retail/docs/serving-control-rules)."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "invalidConditionBoostSpecs": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpecList",
          "traits": {
            "smithy.api#documentation": "The invalid SearchRequest.BoostSpec.condition_boost_specs that are not applied during serving."
          }
        },
        "tileNavigationResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseTileNavigationResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information for tile navigation that will be used in client side."
          }
        },
        "correctedQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the spell corrected query, if found. The search results are based on corrected_query by default. However, if SearchRequest.SpellCorrectionSpec.mode is set to SearchRequest.SpellCorrectionSpec.Mode.SUGGESTION_ONLY, the original query is used for search."
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response."
          }
        },
        "experimentInfo": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExperimentInfoList",
          "traits": {
            "smithy.api#documentation": "Metadata related to A/B testing experiment associated with this response. Only exists when an experiment is triggered."
          }
        },
        "conversationalSearchResult": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseConversationalSearchResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information that is needed on client side for UI rendering of conversational retail search."
          }
        },
        "results": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseSearchResultList",
          "traits": {
            "smithy.api#documentation": "A list of matched items. The order represents the ranking."
          }
        },
        "attributionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance."
          }
        },
        "pinControlMetadata": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaPinControlMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for pin controls which were applicable to the request. This contains two map fields, one for all matched pins and one for pins which were matched but not applied. The two maps are keyed by pin position, and the values are the product ids which were matched to that pin."
          }
        },
        "facets": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseFacetList",
          "traits": {
            "smithy.api#documentation": "Results of facets requested by user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchService.Search method."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchRequestBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExperimentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaExperimentInfo"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseSearchResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseSearchResult"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseFacetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaSearchResponseFacet"
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttribute": {
      "type": "structure",
      "members": {
        "inUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this attribute has been used by any products. `True` if at least one Product is using this attribute in Product.attributes. Otherwise, this field is `False`. CatalogAttribute can be pre-loaded by using CatalogService.AddCatalogAttribute or CatalogService.UpdateAttributesConfig APIs. This field is `False` for pre-loaded CatalogAttributes. Only pre-loaded catalog attributes that are neither in use by products nor predefined can be deleted. Catalog attributes that are either in use by products or are predefined attributes cannot be deleted; however, their configuration properties will reset to default values upon removal request. After catalog changes, it takes about 10 minutes for this field to update."
          }
        },
        "searchableOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeSearchableOptionEnum",
          "traits": {
            "smithy.api#documentation": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if SEARCHABLE_ENABLED, attribute values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but attribute type is numerical, attribute values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical attributes. Must be specified, when AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, otherwise throws INVALID_FORMAT error."
          }
        },
        "type": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of this attribute. This is derived from the attribute in Product.attributes."
          }
        },
        "dynamicFacetableOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeDynamicFacetableOptionEnum",
          "traits": {
            "smithy.api#documentation": "If DYNAMIC_FACETABLE_ENABLED, attribute values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if CatalogAttribute.indexable_option is INDEXABLE_DISABLED. Otherwise, an INVALID_ARGUMENT error is returned. Must be specified, otherwise throws INVALID_FORMAT error."
          }
        },
        "indexableOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeIndexableOptionEnum",
          "traits": {
            "smithy.api#documentation": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if INDEXABLE_ENABLED attribute values are indexed so that it can be filtered, faceted, or boosted in SearchService.Search. Must be specified when AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, otherwise throws INVALID_FORMAT error."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Attribute name. For example: `color`, `brands`, `attributes.custom_attribute`, such as `attributes.xyz`. To be indexable, the attribute name can contain only alpha-numeric characters and underscores. For example, an attribute named `attributes.abc_xyz` can be indexed, but an attribute named `attributes.abc-xyz` cannot be indexed. If the attribute key starts with `attributes.`, then the attribute is a custom attribute. Attributes such as `brands`, `patterns`, and `title` are built-in and called system attributes."
          }
        },
        "exactSearchableOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeExactSearchableOptionEnum",
          "traits": {
            "smithy.api#documentation": "If EXACT_SEARCHABLE_ENABLED, attribute values will be exact searchable. This property only applies to textual custom attributes and requires indexable set to enabled to enable exact-searchable. If unset, the server behavior defaults to EXACT_SEARCHABLE_DISABLED."
          }
        },
        "facetConfig": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeFacetConfig",
          "traits": {
            "smithy.api#documentation": "Contains facet options."
          }
        },
        "recommendationsFilteringOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeRecommendationsFilteringOptionEnum",
          "traits": {
            "smithy.api#documentation": "When AttributesConfig.attribute_config_level is CATALOG_LEVEL_ATTRIBUTE_CONFIG, if RECOMMENDATIONS_FILTERING_ENABLED, attribute values are filterable for recommendations. This option works for categorical features only, does not work for numerical features, inventory filtering."
          }
        },
        "retrievableOption": {
          "target": "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeRetrievableOptionEnum",
          "traits": {
            "smithy.api#documentation": "If RETRIEVABLE_ENABLED, attribute values are retrievable in the search results. If unset, the server behavior defaults to RETRIEVABLE_DISABLED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog level attribute config for an attribute. For example, if customers want to enable/disable facet for a specific attribute."
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeSearchableOptionEnum": {
      "type": "enum",
      "members": {
        "SEARCHABLE_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCHABLE_OPTION_UNSPECIFIED"
          }
        },
        "SEARCHABLE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCHABLE_ENABLED"
          }
        },
        "SEARCHABLE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCHABLE_DISABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2beta#GoogleCloudRetailV2betaCatalogAttributeTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TEXTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXTUAL"
          }
        },
[...]
