{
  "smithy": "2.0",
  "metadata": {
    "service": "retail",
    "version": "v2alpha",
    "title": "Vertex AI Search for commerce API",
    "baseUrl": "https://retail.googleapis.com/"
  },
  "shapes": {
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaImage": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI of the image. This field must be a valid UTF-8 encoded URI with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [image_link](https://support.google.com/merchants/answer/6324350). Schema.org property [Product.image](https://schema.org/image)."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the image in number of pixels. This field must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product image. Recommendations AI and Retail Search use product images to improve prediction and search results. Product images can be returned in results, and are shown in prediction or search previews in the console. Please try to provide correct product images and avoid using images with size too small."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaAudience": {
      "type": "structure",
      "members": {
        "genders": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The genders of the audience. Strongly encouraged to use the standard values: \"male\", \"female\", \"unisex\". At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [gender](https://support.google.com/merchants/answer/6324479). Schema.org property [Product.audience.suggestedGender](https://schema.org/suggestedGender)."
          }
        },
        "ageGroups": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The age groups of the audience. Strongly encouraged to use the standard values: \"newborn\" (up to 3 months old), \"infant\" (3–12 months old), \"toddler\" (1–5 years old), \"kids\" (5–13 years old), \"adult\" (typically teens or older). At most 5 values are allowed. Each value must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. Google Merchant Center property [age_group](https://support.google.com/merchants/answer/6324463). Schema.org property [Product.audience.suggestedMinAge](https://schema.org/suggestedMinAge) and [Product.audience.suggestedMaxAge](https://schema.org/suggestedMaxAge)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An intended audience of the Product for whom it's sold."
      }
    },
    "com.gcp.retail_v2alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ExportAnalyticsMetricsResponse": {
      "type": "structure",
      "members": {
        "outputResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2OutputResult",
          "traits": {
            "smithy.api#documentation": "Output result indicating where the data were exported to."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ExportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "This field is never set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2alpha#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ExportAnalyticsMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2alpha#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleRpcStatus"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2betaAddLocalInventoriesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the AddLocalInventories operation. Currently empty because there is no meaningful metadata populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaEnrollSolutionMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the EnrollSolution method. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaListServingConfigsResponse": {
      "type": "structure",
      "members": {
        "servingConfigs": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaServingConfigList",
          "traits": {
            "smithy.api#documentation": "All the ServingConfigs for a given catalog."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token, if not returned indicates the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListServingConfigs method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaServingConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaServingConfig"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaRemoveLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2Model": {
      "type": "structure",
      "members": {
        "filteringOption": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelFilteringOptionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. If `RECOMMENDATIONS_FILTERING_ENABLED`, recommendation filtering by attributes is enabled for the model."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of model e.g. `home-page`. Currently supported values: `recommended-for-you`, `others-you-may-like`, `frequently-bought-together`, `page-optimization`, `similar-items`, `buy-it-again`, `on-sale-items`, and `recently-viewed`(readonly value). This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
          }
        },
        "optimizationObjective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The optimization objective e.g. `cvr`. Currently supported values: `ctr`, `cvr`, `revenue-per-order`. If not specified, we choose default based on model type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr` `frequently-bought-together` => `revenue_per_order` This field together with optimization_objective describe model metadata to use to control model training and serving. See https://cloud.google.com/retail/docs/models for more details on what the model metadata control and which combination of parameters are valid. For invalid combinations of parameters (e.g. type = `frequently-bought-together` and optimization_objective = `ctr`), you receive an error 400 if you try to create/update a recommendation with this set of knobs."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the model. Should be human readable, used to display Recommendation Models in the Retail Cloud Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
          }
        },
        "servingState": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The serving state of the model: `ACTIVE`, `NOT_ACTIVE`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp the Recommendation Model was created at."
          }
        },
        "servingConfigLists": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingConfigListList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of valid serving configs associated with the PageOptimizationConfig."
          }
        },
        "modelFeaturesConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelModelFeaturesConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Additional model features config."
          }
        },
        "tuningOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The tune operation associated with the model. Can be used to determine if there is an ongoing tune for this recommendation. Empty field implies no tune is goig on."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fully qualified resource name of the model. Format: `projects/{project_number}/locations/{location_id}/catalogs/{catalog_id}/models/{model_id}` catalog_id has char limit of 50. recommendation_model_id has char limit of 40."
          }
        },
        "periodicTuningState": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelPeriodicTuningStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The state of periodic tuning. The period we use is 3 months - to do a one-off tune earlier use the `TuneModel` method. Default value is `PERIODIC_TUNING_ENABLED`."
          }
        },
        "trainingState": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelTrainingStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The training state that the model is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train model in order to control cost. If not specified: the default value for `CreateModel` method is `TRAINING`. The default value for `UpdateModel` method is to keep the state the same as before."
          }
        },
        "dataState": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelDataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of data requirements for this model: `DATA_OK` and `DATA_ERROR`. Recommendation model cannot be trained if the data is in `DATA_ERROR` state. Recommendation model can have `DATA_ERROR` state even if serving state is `ACTIVE`: models were trained successfully before, but cannot be refreshed because model no longer has sufficient data for training."
          }
        },
        "lastTuneTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the latest successful tune finished."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp the Recommendation Model was last updated. E.g. if a Recommendation Model was paused - this would be the time the pause was initiated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata that describes the training and serving parameters of a Model. A Model can be associated with a ServingConfig and then queried through the Predict API."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelFilteringOptionEnum": {
      "type": "enum",
      "members": {
        "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_OPTION_UNSPECIFIED"
          }
        },
        "RECOMMENDATIONS_FILTERING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_DISABLED"
          }
        },
        "RECOMMENDATIONS_FILTERING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATIONS_FILTERING_ENABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingStateEnum": {
      "type": "enum",
      "members": {
        "SERVING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "TUNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUNED"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingConfigListList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingConfigList"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelPeriodicTuningStateEnum": {
      "type": "enum",
      "members": {
        "PERIODIC_TUNING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_STATE_UNSPECIFIED"
          }
        },
        "PERIODIC_TUNING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_DISABLED"
          }
        },
        "ALL_TUNING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TUNING_DISABLED"
          }
        },
        "PERIODIC_TUNING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIODIC_TUNING_ENABLED"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelTrainingStateEnum": {
      "type": "enum",
      "members": {
        "TRAINING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING_STATE_UNSPECIFIED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelDataStateEnum": {
      "type": "enum",
      "members": {
        "DATA_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STATE_UNSPECIFIED"
          }
        },
        "DATA_OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OK"
          }
        },
        "DATA_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ERROR"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaPurgeProductsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter string to specify the products to be deleted with a length limit of 5,000 characters. Empty string filter is not allowed. \"*\" implies delete all items in a branch. The eligible fields for filtering are: * `availability`: Double quoted Product.availability string. * `create_time` : in ISO 8601 \"zulu\" format. Supported syntax: * Comparators (\">\", \"<\", \">=\", \"<=\", \"=\"). Examples: * create_time <= \"2015-02-13T17:05:46Z\" * availability = \"IN_STOCK\" * Conjunctions (\"AND\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\" * Disjunctions (\"OR\") Examples: * create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"IN_STOCK\" * Can support nested queries. Examples: * (create_time <= \"2015-02-13T17:05:46Z\" AND availability = \"PREORDER\") OR (create_time >= \"2015-02-14T13:03:32Z\" AND availability = \"IN_STOCK\") * Filter Limits: * Filter should not contain more than 6 conditions. * Max nesting depth should not exceed 2 levels. Examples queries: * Delete back order products created before a timestamp. create_time <= \"2015-02-13T17:05:46Z\" OR availability = \"BACKORDER\""
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Actually perform the purge. If `force` is set to false, the method will return the expected purge count without deleting any products."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PurgeProducts method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2RemoveLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.RemoveLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2TuneModelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response associated with a tune operation."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSetInventoryMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseConversationalSearchResultSuggestedAnswer": {
      "type": "structure",
      "members": {
        "productAttributeValue": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaProductAttributeValue",
          "traits": {
            "smithy.api#documentation": "Product attribute value, including an attribute key and an attribute value. Other types can be added here in the future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Suggested answers to the follow-up question."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExportAnalyticsMetricsResponse": {
      "type": "structure",
      "members": {
        "outputResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaOutputResult",
          "traits": {
            "smithy.api#documentation": "Output result indicating where the data were exported to."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "This field is never set."
          }
        },
        "errorSamples": {
          "target": "com.gcp.retail_v2alpha#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "A sample of errors encountered while processing the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the ExportAnalyticsMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponse": {
      "type": "structure",
      "members": {
        "experimentInfo": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExperimentInfoList",
          "traits": {
            "smithy.api#documentation": "Metadata related to A/B testing experiment associated with this response. Only exists when an experiment is triggered."
          }
        },
        "facets": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseFacetList",
          "traits": {
            "smithy.api#documentation": "Results of facets requested by user."
          }
        },
        "results": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseSearchResultList",
          "traits": {
            "smithy.api#documentation": "A list of matched items. The order represents the ranking."
          }
        },
        "appliedControls": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource name of applied [controls](https://cloud.google.com/retail/docs/serving-control-rules)."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches."
          }
        },
        "correctedQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains the spell corrected query, if found. The search results are based on corrected_query by default. However, if SearchRequest.SpellCorrectionSpec.mode is set to SearchRequest.SpellCorrectionSpec.Mode.SUGGESTION_ONLY, the original query is used for search."
          }
        },
        "queryExpansionInfo": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseQueryExpansionInfo",
          "traits": {
            "smithy.api#documentation": "Query expansion information for the returned results."
          }
        },
        "attributionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance."
          }
        },
        "invalidConditionBoostSpecs": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestBoostSpecConditionBoostSpecList",
          "traits": {
            "smithy.api#documentation": "The invalid SearchRequest.BoostSpec.condition_boost_specs that are not applied during serving."
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response."
          }
        },
        "conversationalSearchResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseConversationalSearchResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information that is needed on client side for UI rendering of conversational retail search."
          }
        },
        "tileNavigationResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseTileNavigationResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information for tile navigation that will be used in client side."
          }
        },
        "pinControlMetadata": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaPinControlMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata for pin controls which were applicable to the request. This contains two map fields, one for all matched pins and one for pins which were matched but not applied. The two maps are keyed by pin position, and the values are the product ids which were matched to that pin."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchService.Search method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExperimentInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExperimentInfo"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseFacetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseFacet"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseSearchResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchResponseSearchResult"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestBoostSpecConditionBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestBoostSpecConditionBoostSpec"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserEventInlineSource": {
      "type": "structure",
      "members": {
        "userEvents": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserEventList",
          "traits": {
            "smithy.api#documentation": "Required. A list of user events to import. Recommended max of 10k items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inline source for the input config for ImportUserEvents method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserEvent"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelServingConfigList": {
      "type": "structure",
      "members": {
        "servingConfigIds": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of valid serving configs that may be used for `PAGE_OPTIMIZATION`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an ordered combination of valid serving configs, which can be used for `PAGE_OPTIMIZATION` recommendations."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequest": {
      "type": "structure",
      "members": {
        "conversationalSearchSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestConversationalSearchSpec",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies all conversational related parameters addition to traditional retail search."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw search query. If this field is empty, the request is considered a category browsing request and returned results are based on filter and page_categories."
          }
        },
        "dynamicFacetSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestDynamicFacetSpec",
          "traits": {
            "smithy.api#documentation": "Deprecated. Refer to https://cloud.google.com/retail/docs/configs#dynamic to enable dynamic facets. Do not set this field. The specification for dynamically generated facets. Notice that only textual facets can be dynamically generated."
          }
        },
        "boostSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestBoostSpec",
          "traits": {
            "smithy.api#documentation": "Boost specification to boost certain products. For more information, see [Boost results](https://cloud.google.com/retail/docs/boosting). Notice that if both ServingConfig.boost_control_ids and SearchRequest.boost_spec are set, the boost conditions from both places are evaluated. If a search request matches multiple boost conditions, the final boost score is equal to the sum of the boost scores from all matched boost conditions."
          }
        },
        "labels": {
          "target": "com.gcp.retail_v2alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. For more information, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) in the Resource Manager documentation."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token SearchResponse.next_page_token, received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the products being filtered. Filter expression is case-sensitive. For more information, see [Filter](https://cloud.google.com/retail/docs/filter-and-order#filter). If this field is unrecognizable, an INVALID_ARGUMENT is returned."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\" [list](https://www.unicode.org/cldr/charts/46/summary/root.html). For more information, see [Standardized codes](https://google.aip.dev/143). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate."
          }
        },
        "userInfo": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserInfo",
          "traits": {
            "smithy.api#documentation": "User information."
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order in which products are returned. Products can be ordered by a field in an Product object. Leave it unset if ordered by relevance. OrderBy expression is case-sensitive. For more information, see [Order](https://cloud.google.com/retail/docs/filter-and-order#order). If this field is unrecognizable, an INVALID_ARGUMENT is returned."
          }
        },
        "personalizationSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestPersonalizationSpec",
          "traits": {
            "smithy.api#documentation": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set. SearchRequest.personalization_spec will override ServingConfig.personalization_spec."
          }
        },
        "queryExpansionSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestQueryExpansionSpec",
          "traits": {
            "smithy.api#documentation": "The query expansion specification that specifies the conditions under which query expansion occurs. For more information, see [Query expansion](https://cloud.google.com/retail/docs/result-size#query_expansion)."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch resource name, such as `projects/*/locations/global/catalogs/default_catalog/branches/0`. Use \"default_branch\" as the branch ID or leave this field empty, to search products under the default branch."
          }
        },
        "pageCategories": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as UserEvent.page_categories; To represent the full path of category, use '>' sign, with one space on each side, to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategories\" : [\"Sales > 2017 Black Friday Deals\"]."
          }
        },
        "entity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity."
          }
        },
        "searchMode": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSearchModeEnum",
          "traits": {
            "smithy.api#documentation": "The search mode of the search request. If not specified, a single search request triggers both product search and faceted search."
          }
        },
        "spellCorrectionSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpec",
          "traits": {
            "smithy.api#documentation": "The spell correction specification that specifies the mode under which spell correction will take effect."
          }
        },
        "visitorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This should be the same identifier as UserEvent.visitor_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "placeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An id corresponding to a place, such as a store id or region id. When specified, we use the price from the local inventory with the matching product's LocalInventory.place_id for revenue optimization. Note, the currency of the local inventory's price must match the currency of the product's price."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of Products to return. If unspecified, defaults to a reasonable value. The maximum allowed value is 120. Values above 120 will be coerced to 120. If this field is negative, an INVALID_ARGUMENT is returned."
          }
        },
        "experimentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An ID for the experiment group this search belongs to."
          }
        },
        "tileNavigationSpec": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestTileNavigationSpec",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies tile navigation related parameters."
          }
        },
        "userAttributes": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaStringListMap",
          "traits": {
            "smithy.api#documentation": "Optional. The user attributes that could be used for personalization of search results. * Populate at most 100 key-value pairs per query. * Only supports string keys and repeated string values. * Duplicate keys are not allowed within a single query. Example: user_attributes: [ { key: \"pets\" value { values: \"dog\" values: \"cat\" } }, { key: \"state\" value { values: \"CA\" } } ]"
          }
        },
        "relevanceThreshold": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestRelevanceThresholdEnum",
          "traits": {
            "smithy.api#documentation": "The relevance threshold of the search results. Defaults to RelevanceThreshold.HIGH, which means only the most relevant results are shown, and the least number of results are returned. For more information, see [Adjust result size](https://cloud.google.com/retail/docs/result-size#relevance_thresholding)."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\" [list](https://www.unicode.org/cldr/charts/46/supplemental/territory_information.html). For more information, see [Standardized codes](https://google.aip.dev/143). If set, then results will be boosted based on the region_code provided."
          }
        },
        "variantRollupKeys": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The keys to fetch and rollup the matching variant Products attributes, FulfillmentInfo or LocalInventorys attributes. The attributes from all the matching variant Products or LocalInventorys are merged and de-duplicated. Notice that rollup attributes will lead to extra query latency. Maximum number of keys is 30. For FulfillmentInfo, a fulfillment type and a fulfillment ID must be provided in the format of \"fulfillmentType.fulfillmentId\". E.g., in \"pickupInStore.store123\", \"pickupInStore\" is fulfillment type and \"store123\" is the store ID. Supported keys are: * colorFamilies * price * originalPrice * discount * variantId * inventory(place_id,price) * inventory(place_id,original_price) * inventory(place_id,attributes.key), where key is any key in the Product.local_inventories.attributes map. * attributes.key, where key is any key in the Product.attributes map. * pickupInStore.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"pickup-in-store\". * shipToStore.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"ship-to-store\". * sameDayDelivery.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"same-day-delivery\". * nextDayDelivery.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"next-day-delivery\". * customFulfillment1.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"custom-type-1\". * customFulfillment2.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"custom-type-2\". * customFulfillment3.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"custom-type-3\". * customFulfillment4.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"custom-type-4\". * customFulfillment5.id, where id is any FulfillmentInfo.place_ids for FulfillmentInfo.type \"custom-type-5\". If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned."
          }
        },
        "canonicalFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Products deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an INVALID_ARGUMENT is returned."
          }
        },
        "facetSpecs": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestFacetSpecList",
          "traits": {
            "smithy.api#documentation": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 200 values are allowed. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SearchService.Search method."
      }
    },
    "com.gcp.retail_v2alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSearchModeEnum": {
      "type": "enum",
      "members": {
        "SEARCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MODE_UNSPECIFIED"
          }
        },
        "PRODUCT_SEARCH_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_SEARCH_ONLY"
          }
        },
        "FACETED_SEARCH_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACETED_SEARCH_ONLY"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaStringListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaStringList"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestRelevanceThresholdEnum": {
      "type": "enum",
      "members": {
        "RELEVANCE_THRESHOLD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEVANCE_THRESHOLD_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "LOWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOWEST"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestFacetSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestFacetSpec"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCondition": {
      "type": "structure",
      "members": {
        "activeTimeRange": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionTimeRangeList",
          "traits": {
            "smithy.api#documentation": "Range of time(s) specifying when Condition is active. Condition true if any time range matches."
          }
        },
        "pageCategories": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Used to support browse uses cases. A list (up to 10 entries) of categories or departments. The format should be the same as UserEvent.page_categories;"
          }
        },
        "queryTerms": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionQueryTermList",
          "traits": {
            "smithy.api#documentation": "A list (up to 10 entries) of terms to match the query on. If not specified, match all queries. If many query terms are specified, the condition is matched if any of the terms is a match (i.e. using the OR operator)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata that is used to define a condition that triggers an action. A valid condition must specify at least one of 'query_terms' or 'products_filter'. If multiple fields are specified, the condition is met if all the fields are satisfied e.g. if a set of query terms and product_filter are set, then only items matching the product_filter for requests with a query matching the query terms wil get boosted."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionTimeRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionTimeRange"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionQueryTermList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionQueryTerm"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSetDefaultBranchRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, it permits switching to a branch with branch_id even if it has no sufficient active products."
          }
        },
        "branchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The final component of the resource name of a branch. This field must be one of \"0\", \"1\" or \"2\". Otherwise, an INVALID_ARGUMENT error is returned. If there are no sufficient active products in the targeted branch and force is not set, a FAILED_PRECONDITION error is returned."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Some note on this request, this can be retrieved by CatalogService.GetDefaultBranch before next valid default branch set occurs. This field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to set a specified branch as new default_branch."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2OutputResult": {
      "type": "structure",
      "members": {
        "gcsResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2GcsOutputResultList",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location where the result is stored."
          }
        },
        "bigqueryResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2BigQueryOutputResultList",
          "traits": {
            "smithy.api#documentation": "The BigQuery location where the result is stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output result that stores the information about where the exported data is stored."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2GcsOutputResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2GcsOutputResult"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2BigQueryOutputResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2BigQueryOutputResult"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaAddFulfillmentPlacesRequest": {
      "type": "structure",
      "members": {
        "placeIds": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The IDs for this type, such as the store IDs for \"pickup-in-store\" or the region IDs for \"same-day-delivery\" to be added for this type. Duplicate IDs will be automatically ignored. At least 1 value is required, and a maximum of 2000 values are allowed. Each value must be a string with a length limit of 10 characters, matching the pattern `[a-zA-Z0-9_-]+`, such as \"store1\" or \"REGION-2\". Otherwise, an INVALID_ARGUMENT error is returned. If the total number of place IDs exceeds 2000 for this type after adding, then the update will be rejected."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The fulfillment type, including commonly used types (such as pickup in store and same day delivery), and custom types. Supported values: * \"pickup-in-store\" * \"ship-to-store\" * \"same-day-delivery\" * \"next-day-delivery\" * \"custom-type-1\" * \"custom-type-2\" * \"custom-type-3\" * \"custom-type-4\" * \"custom-type-5\" If this field is set to an invalid value other than these, an INVALID_ARGUMENT error is returned. This field directly corresponds to Product.fulfillment_info.type."
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the Product is not found, the fulfillment information will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
          }
        },
        "addTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the fulfillment updates are issued, used to prevent out-of-order updates on fulfillment information. If not provided, the internal system time will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2betaAddFulfillmentPlacesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the AddFulfillmentPlacesRequest. Currently empty because there is no meaningful response populated from the ProductService.AddFulfillmentPlaces method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaPurgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the Purge operation. This will be returned by the google.longrunning.Operation.metadata field."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfig": {
      "type": "structure",
      "members": {
        "rerankConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigRerankConfig",
          "traits": {
            "smithy.api#documentation": "Set this field only if you want to rerank based on facet values engaged by the user for the current key. This option is only possible for custom facetable textual keys."
          }
        },
        "mergedFacetValues": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValueList",
          "traits": {
            "smithy.api#documentation": "Each instance replaces a list of facet values by a merged facet value. If a facet value is not in any list, then it will stay the same. To avoid conflicts, only paths of length 1 are accepted. In other words, if \"dark_blue\" merged into \"BLUE\", then the latter can't merge into \"blues\" because this would create a path of length 2. The maximum number of instances of MergedFacetValue per CatalogAttribute is 100. This feature is available only for textual custom attributes."
          }
        },
        "mergedFacet": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacet",
          "traits": {
            "smithy.api#documentation": "Use this field only if you want to merge a facet key into another facet key."
          }
        },
        "facetIntervals": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntervalList",
          "traits": {
            "smithy.api#documentation": "If you don't set the facet SearchRequest.FacetSpec.FacetKey.intervals in the request to a numerical attribute, then we use the computed intervals with rounded bounds obtained from all its product numerical attribute values. The computed intervals might not be ideal for some attributes. Therefore, we give you the option to overwrite them with the facet_intervals field. The maximum of facet intervals per CatalogAttribute is 40. Each interval must have a lower bound or an upper bound. If both bounds are provided, then the lower bound must be smaller or equal than the upper bound."
          }
        },
        "ignoredFacetValues": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValuesList",
          "traits": {
            "smithy.api#documentation": "Each instance represents a list of attribute values to ignore as facet values for a specific time range. The maximum number of instances per CatalogAttribute is 25."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible options for the facet that corresponds to the current attribute config."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigMergedFacetValue"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntervalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaInterval"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValuesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaCatalogAttributeFacetConfigIgnoredFacetValues"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailLoggingSourceLocation": {
      "type": "structure",
      "members": {
        "functionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of a function or method. For example, \"google.cloud.retail.v2.UserEventService.ImportUserEvents\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates a location in the source code of the service for which errors are reported."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserInfo": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end user's IP address. This field is used to extract location information for personalization. This field must be either an IPv4 address (e.g. \"104.133.9.80\") or an IPv6 address (e.g. \"2001:0db8:85a3:0000:0000:8a2e:0370:7334\"). Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when: * setting SearchRequest.user_info. * using the JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set."
          }
        },
        "directUserRequest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the request is made directly from the end user, in which case the ip_address and user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of an end user."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaGcsSource": {
      "type": "structure",
      "members": {
        "inputUris": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing product information](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions."
          }
        },
        "dataSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: Using https://support.google.com/analytics/answer/3437719. Supported values for control imports: * `control` (default): One JSON Control per line. Supported values for catalog attribute imports: * `catalog_attribute` (default): One CSV CatalogAttribute per line."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Storage location for input content."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaBigQuerySource": {
      "type": "structure",
      "members": {
        "gcsStagingDir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
          }
        },
        "partitionDate": {
          "target": "com.gcp.retail_v2alpha#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
          }
        },
        "dataSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema to use when parsing the data from the source. Supported values for product imports: * `product` (default): One JSON Product per line. Each product must have a valid Product.id. * `product_merchant_center`: See [Importing catalog data from Merchant Center](https://cloud.google.com/retail/recommendations-ai/docs/upload-catalog#mc). Supported values for user events imports: * `user_event` (default): One JSON UserEvent per line. * `user_event_ga360`: The schema is available here: https://support.google.com/analytics/answer/3437719. * `user_event_ga4`: The schema is available here: https://support.google.com/analytics/answer/7029846. Supported values for autocomplete imports: * `suggestions` (default): One JSON completion suggestion per line. * `denylist`: One JSON deny suggestion per line. * `allowlist`: One JSON allow suggestion per line."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BigQuery source import data from."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaRating": {
      "type": "structure",
      "members": {
        "averageRating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The average rating of the Product. The rating is scaled at 1-5. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        },
        "ratingHistogram": {
          "target": "com.gcp.retail_v2alpha#IntegerList",
          "traits": {
            "smithy.api#documentation": "List of rating counts per rating value (index = rating - 1). The list is empty if there is no rating. If the list is non-empty, its size is always 5. Otherwise, an INVALID_ARGUMENT error is returned. For example, [41, 14, 13, 47, 303]. It means that the Product got 41 ratings with 1 star, 14 ratings with 2 star, and so on."
          }
        },
        "ratingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of ratings. This value is independent of the value of rating_histogram. This value must be nonnegative. Otherwise, an INVALID_ARGUMENT error is returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The rating of a Product."
      }
    },
    "com.gcp.retail_v2alpha#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2PurgeUserEventsResponse": {
      "type": "structure",
      "members": {
        "purgedEventsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total count of events purged as a result of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaPinControlMetadataProductPins": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "List of product ids which have associated pins."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of product ids which have associated pins."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponse": {
      "type": "structure",
      "members": {
        "conversationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Conversation UUID. This field will be stored in client side storage to maintain the conversation session with server and will be used for next search request's ConversationalSearchRequest.conversation_id to restore conversation state in server."
          }
        },
        "conversationalTextResponse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conversational answer-based text response generated by the Server."
          }
        },
        "refinedSearch": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearchList",
          "traits": {
            "smithy.api#documentation": "The proposed refined search queries. They can be used to fetch the relevant search results. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here."
          }
        },
        "state": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the response generation."
          }
        },
        "conversationalFilteringResult": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseConversationalFilteringResult",
          "traits": {
            "smithy.api#documentation": "This field specifies all related information that is needed on client side for UI rendering of conversational filtering search."
          }
        },
        "followupQuestion": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseFollowupQuestion",
          "traits": {
            "smithy.api#documentation": "The conversational followup question generated for Intent refinement."
          }
        },
        "userQueryTypes": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The types Retail classifies the search query as. Supported values are: - \"ORDER_SUPPORT\" - \"SIMPLE_PRODUCT_SEARCH\" - \"INTENT_REFINEMENT\" - \"PRODUCT_DETAILS\" - \"PRODUCT_COMPARISON\" - \"DEALS_AND_COUPONS\" - \"STORE_RELEVANT\" - \"BLOCKLISTED\" - \"BEST_PRODUCT\" - \"RETAIL_SUPPORT\" - \"DISABLED\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConversationalSearchService.ConversationalSearch method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearchList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearch"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2SetInventoryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the SetInventoryRequest. Currently empty because there is no meaningful response populated from the ProductService.SetInventory method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControl": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaRule",
          "traits": {
            "smithy.api#documentation": "A rule control - a condition-action pair. Enacts a set action when the condition is triggered. For example: Boost \"gShoe\" when query full matches \"Running Shoes\"."
          }
        },
        "associatedServingConfigIds": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. List of serving config ids that are associated with this control in the same Catalog. Note the association is managed via the ServingConfig, this is an output only denormalized view."
          }
        },
        "searchSolutionUseCase": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSearchSolutionUseCaseItemEnumList",
          "traits": {
            "smithy.api#documentation": "Specifies the use case for the control. Affects what condition fields can be set. Only settable by search controls. Will default to SEARCH_SOLUTION_USE_CASE_SEARCH if not specified. Currently only allow one search_solution_use_case per control."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The human readable control display name. Used in Retail UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is thrown."
          }
        },
        "solutionTypes": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSolutionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The solution types that the control is used for. Currently we support setting only one type of solution at creation time. Only `SOLUTION_TYPE_SEARCH` value is supported at the moment. If no solution type is provided at creation time, will default to SOLUTION_TYPE_SEARCH."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Fully qualified name `projects/*/locations/global/catalogs/*/controls/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures dynamic metadata that can be linked to a ServingConfig and affect search or recommendation results at serving time."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSearchSolutionUseCaseItemEnum": {
      "type": "enum",
      "members": {
        "SEARCH_SOLUTION_USE_CASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_SOLUTION_USE_CASE_UNSPECIFIED"
          }
        },
        "SEARCH_SOLUTION_USE_CASE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_SOLUTION_USE_CASE_SEARCH"
          }
        },
        "SEARCH_SOLUTION_USE_CASE_BROWSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_SOLUTION_USE_CASE_BROWSE"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSearchSolutionUseCaseItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSearchSolutionUseCaseItemEnum"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSolutionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SOLUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_UNSPECIFIED"
          }
        },
        "SOLUTION_TYPE_RECOMMENDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_RECOMMENDATION"
          }
        },
        "SOLUTION_TYPE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLUTION_TYPE_SEARCH"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSolutionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaControlSolutionTypesItemEnum"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntentClassificationConfigInlineSource": {
      "type": "structure",
      "members": {
        "inlineForceIntents": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntentClassificationConfigInlineForceIntentList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of inline force intent classifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inline source for intent classifications."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntentClassificationConfigInlineForceIntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaIntentClassificationConfigInlineForceIntent"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2AddLocalInventoriesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response of the ProductService.AddLocalInventories API. Currently empty because there is no meaningful response populated from the ProductService.AddLocalInventories method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaAcceptTermsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for AcceptTerms method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchRequestConversationalFilteringSpec": {
      "type": "structure",
      "members": {
        "enableConversationalFiltering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated. Please use ConversationalFilteringSpec.conversational_filtering_mode instead."
          }
        },
        "conversationalFilteringMode": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchRequestConversationalFilteringSpecConversationalFilteringModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Mode to control Conversational Filtering. Defaults to Mode.DISABLED if it's unset."
          }
        },
        "userAnswer": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchRequestUserAnswer",
          "traits": {
            "smithy.api#documentation": "Optional. This field specifies the current user answer during the conversational filtering search. It can be either user selected from suggested answers or user input plain text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field specifies all conversational filtering related parameters addition to conversational retail search."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchRequestConversationalFilteringSpecConversationalFilteringModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "CONVERSATIONAL_FILTER_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATIONAL_FILTER_ONLY"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2betaGcsOutputResult": {
      "type": "structure",
      "members": {
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri of Gcs output"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Gcs output result."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExportErrorsConfig": {
      "type": "structure",
      "members": {
        "gcsPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Export errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of destination for Export related errors."
      }
    },
    "com.gcp.retail_v2alpha#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaImportUserEventsRequest": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaUserEventInputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The desired input location of the data."
          }
        },
        "errorsConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaImportErrorsConfig",
          "traits": {
            "smithy.api#documentation": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ImportUserEvents request."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfig": {
      "type": "structure",
      "members": {
        "contextProductsType": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the context of the model when it is used in predict requests. Can only be set for the `frequently-bought-together` type. If it isn't specified, it defaults to MULTIPLE_CONTEXT_PRODUCTS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional configs for the frequently-bought-together model type."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2ModelFrequentlyBoughtTogetherFeaturesConfigContextProductsTypeEnum": {
      "type": "enum",
      "members": {
        "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXT_PRODUCTS_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_CONTEXT_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_CONTEXT_PRODUCT"
          }
        },
        "MULTIPLE_CONTEXT_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CONTEXT_PRODUCTS"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.retail_v2alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.retail_v2alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.retail_v2alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#DocumentMap"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2SetInventoryMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata related to the progress of the SetInventory operation. Currently empty because there is no meaningful metadata populated from the ProductService.SetInventory method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpec": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpecModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode under which spell correction should take effect to replace the original search query. Default to Mode.AUTO."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specification for query spell correction."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestSpellCorrectionSpecModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "SUGGESTION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTION_ONLY"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        }
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConversationalSearchResponseRefinedSearch": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query to be used for search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The proposed refined search for intent-refinement/bundled shopping conversation. When using CONVERSATIONAL_FILTER_ONLY mode, the refined_query from search response will be populated here."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaExportAnalyticsMetricsRequest": {
      "type": "structure",
      "members": {
        "outputConfig": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaOutputConfig",
          "traits": {
            "smithy.api#documentation": "Required. The output location of the data. Only `bigquery_destination` is supported, and `bigquery_destination.table_type` must be set to `view`."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filtering expression to specify restrictions on returned metrics. The expression is a sequence of terms. Each term applies a restriction to the returned metrics. Use this expression to restrict results to a specific time range. Currently we expect only one types of fields: * `timestamp`: This can be specified twice, once with a less than operator and once with a greater than operator. The `timestamp` restriction should result in one, contiguous, valid, `timestamp` range. Some examples of valid filters expressions: * Example 1: `timestamp > \"2012-04-23T18:25:43.511Z\" timestamp < \"2012-04-23T18:30:43.511Z\"` * Example 2: `timestamp > \"2012-04-23T18:25:43.511Z\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the `ExportAnalyticsMetrics` method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaConditionQueryTerm": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the term to match on. Value cannot be empty. Value can have at most 3 terms if specified as a partial match. Each space separated string is considered as one term. For example, \"a b c\" is 3 terms and allowed, but \" a b c d\" is 4 terms and not allowed for a partial match."
          }
        },
        "fullMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is supposed to be a full or partial match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query terms that we want to match on."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2RejoinUserEventsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for `RejoinUserEvents` method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailLoggingErrorContext": {
      "type": "structure",
      "members": {
        "httpRequest": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailLoggingHttpRequestContext",
          "traits": {
            "smithy.api#documentation": "The HTTP request which was processed when the error was triggered."
          }
        },
        "reportLocation": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailLoggingSourceLocation",
          "traits": {
            "smithy.api#documentation": "The location in the source code where the decision was made to report the error, usually the place where it was logged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of the context in which an error occurred."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaSearchRequestTileNavigationSpec": {
      "type": "structure",
      "members": {
        "tileNavigationRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field specifies whether the customer would like to request tile navigation."
          }
        },
        "appliedTiles": {
          "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaTileList",
          "traits": {
            "smithy.api#documentation": "This optional field specifies the tiles which are already clicked in client side. While the feature works without this field set, particularly for an initial query, it is highly recommended to set this field because it can improve the quality of the search response and removes possible duplicate tiles. NOTE: This field is not being used for filtering search products. Client side should also put all the applied tiles in SearchRequest.filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field specifies tile navigation related parameters."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaTileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaTile"
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaRemoveLocalInventoriesRequest": {
      "type": "structure",
      "members": {
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the Product is not found, the local inventory removal request will still be processed and retained for at most 1 day and processed once the Product is created. If set to false, a NOT_FOUND error is returned if the Product is not found."
          }
        },
        "placeIds": {
          "target": "com.gcp.retail_v2alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A list of place IDs to have their inventory deleted. At most 3000 place IDs are allowed per request."
          }
        },
        "removeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the inventory deletions are issued. Used to prevent out-of-order updates and deletions on local inventory fields. If not provided, the internal system time will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ProductService.RemoveLocalInventories method."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaMerchantCenterFeedFilter": {
      "type": "structure",
      "members": {
        "primaryFeedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merchant Center primary feed ID. Deprecated: use data_source_id instead."
          }
        },
        "primaryFeedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merchant Center primary feed name. The name is used for the display purposes only."
          }
        },
        "dataSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AFM data source ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Merchant Center Feed filter criterion."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaInterval": {
      "type": "structure",
      "members": {
        "exclusiveMaximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Exclusive upper bound."
          }
        },
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive lower bound."
          }
        },
        "exclusiveMinimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Exclusive lower bound."
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Inclusive upper bound."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A floating point interval."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaRuleBoostAction": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Strength of the condition boost, which must be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the item a big promotion. However, it does not necessarily mean that the boosted item will be the top result at all times, nor that other items will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant items. Setting to -1.0 gives the item a big demotion. However, results that are deeply relevant might still be shown. The item will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored."
          }
        },
        "productsFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter can have a max size of 5000 characters. An expression which specifies which products to apply an action to. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost products with product ID \"product_1\" or \"product_2\", and color \"Red\" or \"Blue\": *(id: ANY(\"product_1\", \"product_2\")) * *AND * *(colorFamilies: ANY(\"Red\", \"Blue\")) *"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A boost action to apply to results matching condition specified above."
      }
    },
    "com.gcp.retail_v2alpha#GoogleCloudRetailV2alphaBranchQualityMetric": {
      "type": "structure",
      "members": {
        "suggestedQualityPercentThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Value from 0 to 100 representing the suggested percentage of products that meet the quality requirements to get good search and recommendation performance. 100 * (qualified_product_count) / (qualified_product_count + unqualified_product_count) should be greater or equal to this suggestion."
          }
        },
        "unqualifiedProductCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of products failing the quality requirement check. We only check searchable products."
          }
        },
        "requirementKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key that represents a quality requirement rule. Supported keys: * \"has-valid-uri\": product has a valid and accessible uri. * \"available-expire-time-conformance\": Product.available_time is early than \"now\", and Product.expire_time is greater than \"now\". * \"has-searchable-attributes\": product has at least one attribute set to searchable. * \"has-description\": product has non-empty description. * \"has-at-least-bigram-title\": Product title has at least two words. A comprehensive title helps to improve search quality. * \"variant-has-image\": the variant products has at least one image. You may ignore this metric if all your products are at primary level. * \"variant-has-price-info\": the variant products has price_info set. You may ignore this metric if all your products are at primary level. * \"has-publish-time\": product has non-empty publish_time."
          }
        },
        "qualifiedProductCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of products passing the quality requirement check. We only check searchable products."
          }
        },
[...]
