{
  "smithy": "2.0",
  "metadata": {
    "service": "run",
    "version": "v1",
    "title": "Cloud Run Admin API",
    "baseUrl": "https://run.googleapis.com/"
  },
  "shapes": {
    "com.gcp.run_v1#GRPCAction": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port number of the gRPC service. Number must be in the range 1 to 65535."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service is the name of the service to place in the gRPC HealthCheckRequest. If this is not specified, the default behavior is defined by gRPC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GRPCAction describes an action involving a GRPC port."
      }
    },
    "com.gcp.run_v1#NFSVolumeSource": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path that is exported by the NFS server."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, mount the NFS volume as read only. Defaults to false."
          }
        },
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname or IP address of the NFS server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a persistent volume that will be mounted using NFS. This volume will be shared between all instances of the resource and data will not be deleted when the instance is shut down."
      }
    },
    "com.gcp.run_v1#EnvVar": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the environment variable."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the environment variable. Defaults to \"\". Variable references are not supported in Cloud Run."
          }
        },
        "valueFrom": {
          "target": "com.gcp.run_v1#EnvVarSource",
          "traits": {
            "smithy.api#documentation": "Source for the environment variable's value. Only supports secret_key_ref. Cannot be used if value is not empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnvVar represents an environment variable present in a Container."
      }
    },
    "com.gcp.run_v1#Execution": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.run_v1#ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Optional. Standard object's metadata."
          }
        },
        "spec": {
          "target": "com.gcp.run_v1#ExecutionSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the desired behavior of an execution."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Current status of an execution."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution represents the configuration of a single execution. An execution is an immutable resource that references a container image which is run to completion."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1FailureInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1FailureInfoTypeEnum",
          "traits": {
            "smithy.api#documentation": "The name of the failure."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explains the failure issue in more detail using hard-coded text."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A fatal problem encountered during the execution of the build."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1FailureInfoTypeEnum": {
      "type": "enum",
      "members": {
        "FAILURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_TYPE_UNSPECIFIED"
          }
        },
        "PUSH_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_FAILED"
          }
        },
        "PUSH_IMAGE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_IMAGE_NOT_FOUND"
          }
        },
        "PUSH_NOT_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUSH_NOT_AUTHORIZED"
          }
        },
        "LOGGING_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGGING_FAILURE"
          }
        },
        "USER_BUILD_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_BUILD_STEP"
          }
        },
        "FETCH_SOURCE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_SOURCE_FAILED"
          }
        }
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalResult": {
      "type": "structure",
      "members": {
        "approverAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build."
          }
        },
        "approvalTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the approval decision was made."
          }
        },
        "decision": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalResultDecisionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The decision of this manual approval."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional comment for this manual approval result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalResult describes the decision and associated metadata of a manual approval of a build."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalResultDecisionEnum": {
      "type": "enum",
      "members": {
        "DECISION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECISION_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        }
      }
    },
    "com.gcp.run_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.run_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.run_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Location"
      }
    },
    "com.gcp.run_v1#HTTPHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The header field name"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header field value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTPHeader describes a custom header to be used in HTTP probes"
      }
    },
    "com.gcp.run_v1#ResourceRequirements": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Limits describes the maximum amount of compute resources allowed. Only 'cpu', 'memory' and 'nvidia.com/gpu' keys are supported. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits. * The only supported 'nvidia.com/gpu' value is '1'."
          }
        },
        "requests": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Requests describes the minimum amount of compute resources required. Only `cpu` and `memory` are supported. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. * For supported 'cpu' values, go to https://cloud.google.com/run/docs/configuring/cpu. * For supported 'memory' values and syntax, go to https://cloud.google.com/run/docs/configuring/memory-limits"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceRequirements describes the compute resource requirements."
      }
    },
    "com.gcp.run_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.run_v1#EnvFromSource": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional identifier to prepend to each key in the ConfigMap. Must be a C_IDENTIFIER."
          }
        },
        "configMapRef": {
          "target": "com.gcp.run_v1#ConfigMapEnvSource",
          "traits": {
            "smithy.api#documentation": "The ConfigMap to select from"
          }
        },
        "secretRef": {
          "target": "com.gcp.run_v1#SecretEnvSource",
          "traits": {
            "smithy.api#documentation": "The Secret to select from"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Not supported by Cloud Run. EnvFromSource represents the source of a set of ConfigMaps"
      }
    },
    "com.gcp.run_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.run_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.run_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.run_v1#RouteSpec": {
      "type": "structure",
      "members": {
        "traffic": {
          "target": "com.gcp.run_v1#TrafficTargetList",
          "traits": {
            "smithy.api#documentation": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations. Cloud Run currently supports a single configurationName."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RouteSpec holds the desired state of the Route (from the client)."
      }
    },
    "com.gcp.run_v1#TrafficTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#TrafficTarget"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStepResults": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Results for a build step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results for a build step."
      }
    },
    "com.gcp.run_v1#OwnerReference": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        },
        "blockOwnerDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        },
        "controller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is not supported or used by Cloud Run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is not supported or used by Cloud Run."
      }
    },
    "com.gcp.run_v1#SecretVolumeSource": {
      "type": "structure",
      "members": {
        "defaultMode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0444. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret in Cloud Secret Manager. By default, the secret is assumed to be in the same project. If the secret is in another project, you must define an alias. An alias definition has the form: :projects//secrets/. If multiple alias definitions are needed, they must be separated by commas. The alias definitions must be set on the run.googleapis.com/secrets annotation. Name of the secret in the container's namespace to use."
          }
        },
        "items": {
          "target": "com.gcp.run_v1#KeyToPathList",
          "traits": {
            "smithy.api#documentation": "A list of secret versions to mount in the volume. If no items are specified, the volume will expose a file with the same name as the secret name. The contents of the file will be the data in the latest version of the secret. If items are specified, the key will be used as the version to fetch from Cloud Secret Manager and the path will be the name of the file exposed in the volume. When items are defined, they must specify both a key and a path."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A volume representing a secret stored in Google Secret Manager. The secret's value will be presented as the content of a file whose name is defined in the item path. If no items are defined, the name of the file is the secret_name. The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names."
      }
    },
    "com.gcp.run_v1#KeyToPathList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#KeyToPath"
      }
    },
    "com.gcp.run_v1#Configuration": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call such as \"serving.knative.dev/v1\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource, in this case always \"Configuration\"."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#ConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "Status communicates the observed state of the Configuration (from the controller)."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this Configuration, including name, namespace, labels, and annotations."
          }
        },
        "spec": {
          "target": "com.gcp.run_v1#ConfigurationSpec",
          "traits": {
            "smithy.api#documentation": "Spec holds the desired state of the Configuration (from the client)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration represents the \"floating HEAD\" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The \"latest created\" revision's name is available under status, as is the \"latest ready\" revision's name."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1PythonPackage": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
          }
        },
        "paths": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Build": {
      "type": "structure",
      "members": {
        "sourceProvenance": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SourceProvenance",
          "traits": {
            "smithy.api#documentation": "Output only. A permanent fixed identifier for source."
          }
        },
        "dependencies": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1DependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Dependencies that the Cloud Build worker will fetch before executing user steps."
          }
        },
        "buildTriggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique identifier of the build."
          }
        },
        "timing": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1TimeSpanMap",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all artifacts including docker images and non docker artifacts. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included."
          }
        },
        "gitConfig": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GitConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for git operations."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is 60 minutes."
          }
        },
        "queueTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the project."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Customer-readable message about the current status."
          }
        },
        "availableSecrets": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Secrets",
          "traits": {
            "smithy.api#documentation": "Secrets and secret environment variables."
          }
        },
        "secrets": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SecretList",
          "traits": {
            "smithy.api#documentation": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution."
          }
        },
        "failureInfo": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1FailureInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Contains information about the build when status=FAILURE."
          }
        },
        "logUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URL to logs for this build in Google Cloud Console."
          }
        },
        "logsBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
          }
        },
        "options": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildOptions",
          "traits": {
            "smithy.api#documentation": "Special options for this build."
          }
        },
        "results": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Results",
          "traits": {
            "smithy.api#documentation": "Output only. Results of the build."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which execution of the build was started."
          }
        },
        "substitutions": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Substitutions data for `Build` resource."
          }
        },
        "images": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`."
          }
        },
        "approval": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildApproval",
          "traits": {
            "smithy.api#documentation": "Output only. Describes this build's approval configuration, status, and result."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the request to create the build was received."
          }
        },
        "artifacts": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Artifacts",
          "traits": {
            "smithy.api#documentation": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the build."
          }
        },
        "source": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Source",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the source files to build."
          }
        },
        "steps": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStepList",
          "traits": {
            "smithy.api#documentation": "Required. The operations to be performed on the workspace."
          }
        },
        "warnings": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1WarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Non-fatal problems encountered during the execution of the build."
          }
        },
        "tags": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags for annotation of a `Build`. These are not docker tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Dependency"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1TimeSpanMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1TimeSpan"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Secret"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "WORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildStep"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1WarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Warning"
      }
    },
    "com.gcp.run_v1#InstanceSpec": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.gcp.run_v1#ContainerList",
          "traits": {
            "smithy.api#documentation": "Optional. List of containers belonging to the Instance. We disallow a number of fields on this Container."
          }
        },
        "restartPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Restart policy for the Instance. Allowable values are 'Always', 'OnFailure', or 'Never'."
          }
        },
        "serviceAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email address of the IAM service account associated with the Instance. The service account represents the identity of the running container, and determines what permissions the Instance has. If not provided, the Instance will use the project's default service account."
          }
        },
        "volumes": {
          "target": "com.gcp.run_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "Optional. List of volumes that can be mounted by containers belonging to the Instance."
          }
        },
        "nodeSelector": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstanceSpec describes how the Instance will look."
      }
    },
    "com.gcp.run_v1#ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Container"
      }
    },
    "com.gcp.run_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Volume"
      }
    },
    "com.gcp.run_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.run_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.run_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.run_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#DocumentMap"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildApproval": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration for manual approval of this build."
          }
        },
        "result": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of manual approval for this Build."
          }
        },
        "state": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildApprovalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of this build's approval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BuildApproval describes a build's approval configuration, state, and result."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1BuildApprovalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "type": "structure",
      "members": {
        "approvalRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApprovalConfig describes configuration for manual approval of a build."
      }
    },
    "com.gcp.run_v1#WorkerPool": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call. It must be \"run.googleapis.com/v1\"."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this WorkerPool, including name, namespace, labels, and annotations. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. The following Cloud Run-specific annotations are accepted in WorkerPool.metadata.annotations. * `run.googleapis.com/binary-authorization-breakglass` * `run.googleapis.com/binary-authorization` * `run.googleapis.com/client-name` * `run.googleapis.com/description`"
          }
        },
        "spec": {
          "target": "com.gcp.run_v1#WorkerPoolSpec",
          "traits": {
            "smithy.api#documentation": "Holds the desired state of the WorkerPool (from the client)."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#WorkerPoolStatus",
          "traits": {
            "smithy.api#documentation": "Communicates the system-controlled state of the WorkerPool."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource. It must be \"WorkerPool\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WorkerPool acts as a top-level container that manages a set instance splits among a set of Revisions and a template for creating new Revisions."
      }
    },
    "com.gcp.run_v1#RevisionSpec": {
      "type": "structure",
      "members": {
        "volumes": {
          "target": "com.gcp.run_v1#VolumeList"
        },
        "serviceAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account."
          }
        },
        "containerConcurrency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. If not specified or 0, defaults to 80 when requested CPU >= 1 and defaults to 1 when requested CPU < 1."
          }
        },
        "containers": {
          "target": "com.gcp.run_v1#ContainerList",
          "traits": {
            "smithy.api#documentation": "Required. Containers holds the list which define the units of execution for this Revision."
          }
        },
        "imagePullSecrets": {
          "target": "com.gcp.run_v1#LocalObjectReferenceList",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run."
          }
        },
        "nodeSelector": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The Node Selector configuration. Map of selector key to a value which matches a node."
          }
        },
        "timeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Cloud Run: defaults to 300 seconds (5 minutes). Maximum allowed value is 3600 seconds (1 hour)."
          }
        },
        "enableServiceLinks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run."
          }
        },
        "runtimeClassName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Runtime. Leave unset for default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RevisionSpec holds the desired state of the Revision (from the client)."
      }
    },
    "com.gcp.run_v1#LocalObjectReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#LocalObjectReference"
      }
    },
    "com.gcp.run_v1#ListExecutionsResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of this resource, in this case \"ExecutionsList\"."
          }
        },
        "items": {
          "target": "com.gcp.run_v1#ExecutionList",
          "traits": {
            "smithy.api#documentation": "List of Executions."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ListMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this executions list."
          }
        },
        "unreachable": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call such as \"run.googleapis.com/v1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListExecutionsResponse is a list of Executions resources."
      }
    },
    "com.gcp.run_v1#ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Execution"
      }
    },
    "com.gcp.run_v1#EnvVarSource": {
      "type": "structure",
      "members": {
        "secretKeyRef": {
          "target": "com.gcp.run_v1#SecretKeySelector",
          "traits": {
            "smithy.api#documentation": "Selects a key (version) of a secret in Secret Manager."
          }
        },
        "configMapKeyRef": {
          "target": "com.gcp.run_v1#ConfigMapKeySelector",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run. Not supported in Cloud Run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnvVarSource represents a source for the value of an EnvVar."
      }
    },
    "com.gcp.run_v1#Task": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.run_v1#ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Optional. Standard object's metadata."
          }
        },
        "spec": {
          "target": "com.gcp.run_v1#TaskSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Specification of the desired behavior of a task."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Current status of a task."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task represents a single run of a container to completion."
      }
    },
    "com.gcp.run_v1#DomainMappingSpec": {
      "type": "structure",
      "members": {
        "routeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Knative Route that this DomainMapping applies to. The route must exist."
          }
        },
        "forceOverride": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the mapping will override any mapping set before this spec was set. It is recommended that the user leaves this empty to receive an error warning about a potential conflict and only set it once the respective UI has given such a warning."
          }
        },
        "certificateMode": {
          "target": "com.gcp.run_v1#DomainMappingSpecCertificateModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode of the certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired state of the Domain Mapping."
      }
    },
    "com.gcp.run_v1#DomainMappingSpecCertificateModeEnum": {
      "type": "enum",
      "members": {
        "CERTIFICATE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_MODE_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        }
      }
    },
    "com.gcp.run_v1#StopInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for stopping a running Instance."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GitSource": {
      "type": "structure",
      "members": {
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in any accessible Git repository."
      }
    },
    "com.gcp.run_v1#RevisionStatus": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.run_v1#GoogleCloudRunV1ConditionList",
          "traits": {
            "smithy.api#documentation": "Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. As a Revision is being prepared, it will incrementally update conditions. Revision-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `ContainerHealthy`: `True` when the Revision readiness check completes. * `Active`: `True` when the Revision may receive traffic."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ObservedGeneration is the 'Generation' of the Revision that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False."
          }
        },
        "imageDigest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ImageDigest holds the resolved digest for the image specified within .Spec.Container.Image. The digest is resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
          }
        },
        "logUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the generated logging url for this particular revision based on the revision url template specified in the controller's config."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not currently used by Cloud Run."
          }
        },
        "desiredReplicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The configured number of instances running this revision. For Cloud Run, this only includes instances provisioned using the minScale annotation. It does not include instances created by autoscaling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RevisionStatus communicates the observed state of the Revision (from the controller)."
      }
    },
    "com.gcp.run_v1#GoogleCloudRunV1ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleCloudRunV1Condition"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1DeveloperConnectConfig": {
      "type": "structure",
      "members": {
        "gitRepositoryLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Developer Connect Git repository link, formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref."
          }
        },
        "dir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Directory, relative to the source root, in which to run the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This config defines the location of a source through Developer Connect."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Source": {
      "type": "structure",
      "members": {
        "repoSource": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1RepoSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in a Cloud Source Repository."
          }
        },
        "connectedRepository": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ConnectedRepository",
          "traits": {
            "smithy.api#documentation": "Optional. If provided, get the source from this 2nd-gen Google Cloud Build repository resource."
          }
        },
        "storageSource": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1StorageSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this location in Cloud Storage."
          }
        },
        "gitSource": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GitSource",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this Git repository."
          }
        },
        "storageSourceManifest": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher)."
          }
        },
        "developerConnectConfig": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1DeveloperConnectConfig",
          "traits": {
            "smithy.api#documentation": "If provided, get the source from this Developer Connect config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location of the source in a supported storage service."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GitSourceRepository": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the Git repository."
          }
        },
        "developerConnect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Developer Connect Git repository link formatted as `projects/*/locations/*/connections/*/gitRepositoryLink/*`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A repository for a git source."
      }
    },
    "com.gcp.run_v1#StatusDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name attribute of the resource associated with the status StatusReason (when there is a single name which can be described)."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group attribute of the resource associated with the status StatusReason."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind attribute of the resource associated with the status StatusReason. On some operations may differ from the requested resource Kind."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the resource. (when there is a single resource which can be described)."
          }
        },
        "causes": {
          "target": "com.gcp.run_v1#StatusCauseList",
          "traits": {
            "smithy.api#documentation": "The Causes array includes more details associated with the StatusReason failure. Not all StatusReasons may provide detailed causes."
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If specified, the time in seconds before the operation should be retried. Some errors may indicate the client must take an alternate action - for those errors this field may indicate how long to wait before taking the alternate action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StatusDetails is a set of additional properties that MAY be set by the server to provide additional information about a response. The Reason field of a Status object defines what attributes will be set. Clients must ignore fields that do not match the defined type of each attribute, and should assume that any attribute may be empty, invalid, or under defined."
      }
    },
    "com.gcp.run_v1#StatusCauseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#StatusCause"
      }
    },
    "com.gcp.run_v1#Route": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call such as \"serving.knative.dev/v1\"."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ObjectMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this Route, including name, namespace, labels, and annotations."
          }
        },
        "spec": {
          "target": "com.gcp.run_v1#RouteSpec",
          "traits": {
            "smithy.api#documentation": "Spec holds the desired state of the Route (from the client)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of this resource, in this case always \"Route\"."
          }
        },
        "status": {
          "target": "com.gcp.run_v1#RouteStatus",
          "traits": {
            "smithy.api#documentation": "Status communicates the observed state of the Route (from the controller)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Route is responsible for configuring ingress over a collection of Revisions. Some of the Revisions a Route distributes traffic over may be specified by referencing the Configuration responsible for creating them; in these cases the Route is additionally responsible for monitoring the Configuration for \"latest ready\" revision changes, and smoothly rolling out latest revisions. Cloud Run currently supports referencing a single Configuration to automatically deploy the \"latest ready\" Revision from that Configuration."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1HttpConfig": {
      "type": "structure",
      "members": {
        "proxySecretVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SecretVersion resource of the HTTP proxy URL. The Service Account used in the build (either the default Service Account or user-specified Service Account) should have `secretmanager.versions.access` permissions on this secret. The proxy URL should be in format `protocol://@]proxyhost[:port]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HttpConfig is a configuration for HTTP related git operations."
      }
    },
    "com.gcp.run_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call; returns \"serving.knative.dev/v1\"."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of this resource; returns \"ServiceList\"."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ListMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this Service list."
          }
        },
        "items": {
          "target": "com.gcp.run_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "List of Services."
          }
        },
        "unreachable": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For calls against the global endpoint, returns the list of Cloud locations that could not be reached. For regional calls, this field is not used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Service resources."
      }
    },
    "com.gcp.run_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Service"
      }
    },
    "com.gcp.run_v1#ExecutionStatus": {
      "type": "structure",
      "members": {
        "observedGeneration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The 'generation' of the execution that was last processed by the controller."
          }
        },
        "runningCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of actively running tasks."
          }
        },
        "retriedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of tasks which have retried at least once."
          }
        },
        "succeededCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of tasks which reached phase Succeeded."
          }
        },
        "cancelledCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of tasks which reached phase Cancelled."
          }
        },
        "conditions": {
          "target": "com.gcp.run_v1#GoogleCloudRunV1ConditionList",
          "traits": {
            "smithy.api#documentation": "Optional. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Execution-specific conditions include: * `ResourcesAvailable`: `True` when underlying resources have been provisioned. * `Started`: `True` when the execution has started to execute. * `Completed`: `True` when the execution has succeeded. `False` when the execution has failed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the time that the execution started to run. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC."
          }
        },
        "completionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the time that the execution was completed. It is not guaranteed to be set in happens-before order across separate operations. It is represented in RFC3339 form and is in UTC. +optional"
          }
        },
        "failedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of tasks which reached phase Failed."
          }
        },
        "logUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI where logs for this execution can be found in Cloud Console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExecutionStatus represents the current state of an Execution."
      }
    },
    "com.gcp.run_v1#GoogleCloudRunV1Condition": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One-word CamelCase reason for the condition's last transition. These are intended to be stable, unique values which the client may use to trigger error handling logic, whereas messages which may be changed later by the server."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How to interpret this condition. One of Error, Warning, or Info. Conditions of severity Info do not contribute to resource readiness."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human readable message indicating details about the current status."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Last time the condition transitioned from one status to another."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "type is used to communicate the status of the reconciliation process. Types common to all resources include: * \"Ready\" or \"Completed\": True when the Resource is ready."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the condition, one of True, False, Unknown."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Conditions show the status of reconciliation progress on a given resource. Most resource use a top-level condition type \"Ready\" or \"Completed\" to show overall status with other conditions to checkpoint each stage of reconciliation. Note that if metadata.Generation does not equal status.ObservedGeneration, the conditions shown may not be relevant for the current spec."
      }
    },
    "com.gcp.run_v1#ExecutionSpec": {
      "type": "structure",
      "members": {
        "taskCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the desired number of tasks the execution should run. Setting to 1 means that parallelism is limited to 1 and the success of that task signals the success of the execution. Defaults to 1."
          }
        },
        "template": {
          "target": "com.gcp.run_v1#TaskTemplateSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The template used to create tasks for this execution."
          }
        },
        "parallelism": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the maximum desired number of tasks the execution should run at given time. When the job is run, if this field is 0 or unset, the maximum possible value will be used for that execution. The actual number of tasks running in steady state will be less than this number when there are fewer tasks waiting to be completed, i.e. when the work left to do is less than max parallelism."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExecutionSpec describes how the execution will look."
      }
    },
    "com.gcp.run_v1#EmptyDirVolumeSource": {
      "type": "structure",
      "members": {
        "medium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The medium on which the data is stored. The default is \"\" which means to use the node's default medium. Must be an empty string (default) or Memory. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir"
          }
        },
        "sizeLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limit on the storage usable by this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers. The default is nil which means that the limit is undefined. More info: https://cloud.google.com/run/docs/configuring/in-memory-volumes#configure-volume. Info in Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/#emptydir"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In memory (tmpfs) ephemeral storage. It is ephemeral in the sense that when the sandbox is taken down, the data is destroyed with it (it does not persist across sandbox runs)."
      }
    },
    "com.gcp.run_v1#DomainMappingStatus": {
      "type": "structure",
      "members": {
        "observedGeneration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False."
          }
        },
        "conditions": {
          "target": "com.gcp.run_v1#GoogleCloudRunV1ConditionList",
          "traits": {
            "smithy.api#documentation": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Not supported by Cloud Run."
          }
        },
        "resourceRecords": {
          "target": "com.gcp.run_v1#ResourceRecordList",
          "traits": {
            "smithy.api#documentation": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping."
          }
        },
        "mappedRouteName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the route that the mapping currently points to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the Domain Mapping."
      }
    },
    "com.gcp.run_v1#ResourceRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#ResourceRecord"
      }
    },
    "com.gcp.run_v1#ConfigurationSpec": {
      "type": "structure",
      "members": {
        "template": {
          "target": "com.gcp.run_v1#RevisionTemplate",
          "traits": {
            "smithy.api#documentation": "Template holds the latest specification for the Revision to be stamped out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigurationSpec holds the desired state of the Configuration (from the client)."
      }
    },
    "com.gcp.run_v1#InstanceStatus": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.run_v1#GoogleCloudRunV1ConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. Conditions communicate information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. Instance-specific conditions include: * `Ready`: `True` when the Instance is ready to be executed."
          }
        },
        "urls": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All URLs serving traffic for this Instance."
          }
        },
        "logUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI where logs for this execution can be found in Cloud Console."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The 'generation' of the Instance that was last processed by the controller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstanceStatus represents the current state of an Instance."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "type": "structure",
      "members": {
        "pushTiming": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1TimeSpan",
          "traits": {
            "smithy.api#documentation": "Output only. Stores timing information for pushing the specified artifact."
          }
        },
        "fileHashes": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1FileHashes",
          "traits": {
            "smithy.api#documentation": "Hash types and values of the Python Artifact."
          }
        },
        "artifactRegistryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path to the artifact in Artifact Registry."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the uploaded artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact uploaded using the PythonPackage directive."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1StepResult": {
      "type": "structure",
      "members": {
        "attestationContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the attestation to be generated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the result."
          }
        },
        "attestationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The type of attestation to be generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StepResult is the declaration of a result for a build step."
      }
    },
    "com.gcp.run_v1#ConfigMapVolumeSource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the config."
          }
        },
        "defaultMode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "(Optional) Integer representation of mode bits to use on created files by default. Must be a value between 01 and 0777 (octal). If 0 or not set, it will default to 0644. Directories within the path are not affected by this setting. Notes * Internally, a umask of 0222 will be applied to any non-zero value. * This is an integer representation of the mode bits. So, the octal integer value should look exactly as the chmod numeric notation with a leading zero. Some examples: for chmod 777 (a=rwx), set to 0777 (octal) or 511 (base-10). For chmod 640 (u=rw,g=r), set to 0640 (octal) or 416 (base-10). For chmod 755 (u=rwx,g=rx,o=rx), set to 0755 (octal) or 493 (base-10). * This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
          }
        },
        "items": {
          "target": "com.gcp.run_v1#KeyToPathList",
          "traits": {
            "smithy.api#documentation": "(Optional) If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified that is not present in the Secret, the volume setup will error unless it is marked optional."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "(Optional) Specify whether the Secret or its keys must be defined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Not supported by Cloud Run. Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Secret": {
      "type": "structure",
      "members": {
        "secretEnv": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud KMS key name to use to decrypt these envs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pairs a set of secret environment variables containing encrypted values with the Cloud KMS key to use to decrypt the value. Note: Use `kmsKeyName` with `available_secrets` instead of using `kmsKeyName` with `secret`. For instructions see: https://cloud.google.com/cloud-build/docs/securing-builds/use-encrypted-credentials."
      }
    },
    "com.gcp.run_v1#GoogleLongrunningWaitOperationRequest": {
      "type": "structure",
      "members": {
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for Operations.WaitOperation."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Artifacts": {
      "type": "structure",
      "members": {
        "genericArtifacts": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GenericArtifactList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of generic artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. If any artifacts fail to be pushed, the build is marked FAILURE."
          }
        },
        "mavenArtifacts": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1MavenArtifactList",
          "traits": {
            "smithy.api#documentation": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1PythonPackageList",
          "traits": {
            "smithy.api#documentation": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "npmPackages": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1NpmPackageList",
          "traits": {
            "smithy.api#documentation": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE."
          }
        },
        "objects": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1ArtifactObjects",
          "traits": {
            "smithy.api#documentation": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "images": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE."
          }
        },
        "goModules": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GoModuleList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Go modules to be uploaded to Artifact Registry upon successful completion of all build steps. If any objects fail to be pushed, the build is marked FAILURE."
          }
        },
        "oci": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1OciList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of OCI images to be uploaded to Artifact Registry upon successful completion of all build steps. OCI images in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any images fail to be pushed, the build is marked FAILURE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GenericArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GenericArtifact"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1MavenArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1MavenArtifact"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1PythonPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1PythonPackage"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1NpmPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1NpmPackage"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GoModuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1GoModule"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1OciList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Oci"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1Secrets": {
      "type": "structure",
      "members": {
        "secretManager": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SecretManagerSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets in Secret Manager and associated secret environment variable."
          }
        },
        "inline": {
          "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1InlineSecretList",
          "traits": {
            "smithy.api#documentation": "Secrets encrypted with KMS key and the associated secret environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secrets and secret environment variables."
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SecretManagerSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1SecretManagerSecret"
      }
    },
    "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1InlineSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#GoogleDevtoolsCloudbuildV1InlineSecret"
      }
    },
    "com.gcp.run_v1#ListTasksResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of this resource, in this case \"TasksList\"."
          }
        },
        "items": {
          "target": "com.gcp.run_v1#TaskList",
          "traits": {
            "smithy.api#documentation": "List of Tasks."
          }
        },
        "metadata": {
          "target": "com.gcp.run_v1#ListMeta",
          "traits": {
            "smithy.api#documentation": "Metadata associated with this tasks list."
          }
        },
        "unreachable": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version for this call such as \"run.googleapis.com/v1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListTasksResponse is a list of Tasks resources."
      }
    },
    "com.gcp.run_v1#TaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.run_v1#Task"
      }
    },
    "com.gcp.run_v1#ObjectMeta": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the resource. A name for creating top-level resources (Service, Job, WorkerPool). Must be unique within a Cloud Run project/region, and cannot be changed once created. If omitted, a default name will be generated."
          }
        },
        "resourceVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque, system-generated value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server or omit the value to disable conflict-detection."
          }
        },
        "deletionGracePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A system-provided sequence number representing a specific generation of the desired state."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL representing this object."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique, system-generated identifier for this resource."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Defines the space within each name must be unique within a Cloud Run region. In Cloud Run, it must be project ID or number."
          }
        },
        "deletionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read-only soft deletion timestamp for this resource. In Cloud Run, users are not able to set this field. Instead, they must call the corresponding Delete API."
          }
        },
        "labels": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes."
          }
        },
        "finalizers": {
          "target": "com.gcp.run_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Not supported by Cloud Run"
          }
        },
        "annotations": {
          "target": "com.gcp.run_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. In Cloud Run, annotations with 'run.googleapis.com/' and 'autoscaling.knative.dev' are restricted, and the accepted annotations will be different depending on the resource type. * `autoscaling.knative.dev/maxScale`: Revision. * `autoscaling.knative.dev/minScale`: Revision. * `run.googleapis.com/base-images`: Service, Revision. * `run.googleapis.com/binary-authorization-breakglass`: Service, Job, * `run.googleapis.com/binary-authorization`: Service, Job, Execution. * `run.googleapis.com/build-base-image`: Service. * `run.googleapis.com/build-enable-automatic-updates`: Service. * `run.googleapis.com/build-environment-variables`: Service. * `run.googleapis.com/build-function-target`: Service, Revision. * `run.googleapis.com/build-id`: Service, Revision. * `run.googleapis.com/build-image-uri`: Service. * `run.googleapis.com/build-name`: Service. * `run.googleapis.com/build-service-account`: Service. * `run.googleapis.com/build-source-location`: Service, Revision. * `run.googleapis.com/build-worker-pool`: Service. * `run.googleapis.com/client-name`: All resources. * `run.googleapis.com/cloudsql-instances`: Revision, Execution, Instance. * `run.googleapis.com/container-dependencies`: Revision . * `run.googleapis.com/cpu-throttling`: Revision. * `run.googleapis.com/custom-audiences`: Service. * `run.googleapis.com/default-url-disabled`: Service. * `run.googleapis.com/description`: Service. * `run.googleapis.com/encryption-key-shutdown-hours`: Revision * `run.googleapis.com/encryption-key`: Revision, Execution, Instance. * `run.googleapis.com/execution-environment`: Revision, Execution. * `run.googleapis.com/gc-traffic-tags`: Service. * `run.googleapis.com/gpu-zonal-redundancy-disabled`: Revision. * `run.googleapis.com/health-check-disabled`: Revision. * `run.googleapis.com/ingress`: Service, Instance. * `run.googleapis.com/invoker-iam-disabled`: Service, Instance. * `run.googleapis.com/launch-stage`: Service, Job. * `run.googleapis.com/minScale`: Service. * `run.googleapis.com/maxScale`: Service. *
[...]
