{
  "smithy": "2.0",
  "metadata": {
    "service": "runtimeconfig",
    "version": "v1beta1",
    "title": "Cloud Runtime Configuration API",
    "baseUrl": "https://runtimeconfig.googleapis.com/"
  },
  "shapes": {
    "com.gcp.runtimeconfig_v1beta1#ListVariablesResponse": {
      "type": "structure",
      "members": {
        "variables": {
          "target": "com.gcp.runtimeconfig_v1beta1#VariableList",
          "traits": {
            "smithy.api#documentation": "A list of variables and their values. The order of returned variable objects is arbitrary."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token allows you to get the next page of results for list requests. If the number of results is larger than `pageSize`, use the `nextPageToken` as a value for the query parameter `pageToken` in the next list request. Subsequent list requests will have their own `nextPageToken` to continue paging through the results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListVariables()` method."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#VariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.runtimeconfig_v1beta1#Variable"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.runtimeconfig_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.runtimeconfig_v1beta1#Binding"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListWaitersResponse": {
      "type": "structure",
      "members": {
        "waiters": {
          "target": "com.gcp.runtimeconfig_v1beta1#WaiterList",
          "traits": {
            "smithy.api#documentation": "Found waiters in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token allows you to get the next page of results for list requests. If the number of results is larger than `pageSize`, use the `nextPageToken` as a value for the query parameter `pageToken` in the next list request. Subsequent list requests will have their own `nextPageToken` to continue paging through the results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListWaiters()` method. Order of returned waiter objects is arbitrary."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#WaiterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.runtimeconfig_v1beta1#Waiter"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.runtimeconfig_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Waiter": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If the value is `false`, it means the waiter is still waiting for one of its conditions to be met. If true, the waiter has finished. If the waiter finished due to a timeout or failure, `error` will be set."
          }
        },
        "success": {
          "target": "com.gcp.runtimeconfig_v1beta1#EndCondition",
          "traits": {
            "smithy.api#documentation": "[Required] The success condition. If this condition is met, `done` will be set to `true` and the `error` value will remain unset. The failure condition takes precedence over the success condition. If both conditions are met, a failure will be indicated."
          }
        },
        "error": {
          "target": "com.gcp.runtimeconfig_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. If the waiter ended due to a failure or timeout, this value will be set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Waiter resource, in the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME] The `[PROJECT_ID]` must be a valid Google Cloud project ID, the `[CONFIG_NAME]` must be a valid RuntimeConfig resource, the `[WAITER_NAME]` must match RFC 1035 segment specification, and the length of `[WAITER_NAME]` must be less than 64 bytes. After you create a Waiter resource, you cannot change the resource name."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the timeout of the waiter in seconds, beginning from the instant that `waiters().create` method is called. If this time elapses before the success or failure conditions are met, the waiter fails and sets the `error` code to `DEADLINE_EXCEEDED`."
          }
        },
        "failure": {
          "target": "com.gcp.runtimeconfig_v1beta1#EndCondition",
          "traits": {
            "smithy.api#documentation": "[Optional] The failure condition of this waiter. If this condition is met, `done` will be set to `true` and the `error` code will be set to `ABORTED`. The failure condition takes precedence over the success condition. If both conditions are met, a failure will be indicated. This value is optional; if no failure condition is set, the only failure scenario will be a timeout."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instant at which this Waiter resource was created. Adding the value of `timeout` to this instant yields the timeout deadline for the waiter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Waiter resource waits for some end condition within a RuntimeConfig resource to be met before it returns. For example, assume you have a distributed system where each node writes to a Variable resource indicating the node's readiness as part of the startup process. You then configure a Waiter resource with the success condition set to wait until some number of nodes have checked in. Afterwards, your application runs some arbitrary code after the condition has been met and the waiter returns successfully. Once created, a Waiter resource is immutable. To learn more about using waiters, read the [Creating a Waiter](/deployment-manager/runtime-configurator/creating-a-waiter) documentation."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.runtimeconfig_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.runtimeconfig_v1beta1#DocumentMap"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Variable": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the variable. The length of the value must be less than 4096 bytes. Empty values are also accepted. For example, `text: \"my text value\"`. The string must be valid UTF-8."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The binary value of the variable. The length of the value must be less than 4096 bytes. Empty values are also accepted. The value must be base64 encoded, and must comply with IETF RFC4648 (https://www.ietf.org/rfc/rfc4648.txt). Only one of `value` or `text` can be set."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of the last variable update. Timestamp will be UTC timestamp."
          }
        },
        "state": {
          "target": "com.gcp.runtimeconfig_v1beta1#VariableStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the variable. The variable state indicates the outcome of the `variables().watch` call and is visible through the `get` and `list` calls."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable resource, in the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIABLE_NAME] The `[PROJECT_ID]` must be a valid project ID, `[CONFIG_NAME]` must be a valid RuntimeConfig resource and `[VARIABLE_NAME]` follows Unix file system file path naming. The `[VARIABLE_NAME]` can contain ASCII letters, numbers, slashes and dashes. Slashes are used as path element separators and are not part of the `[VARIABLE_NAME]` itself, so `[VARIABLE_NAME]` must contain at least one non-slash character. Multiple slashes are coalesced into single slash character. Each path segment should match [0-9A-Za-z](?:[_.A-Za-z0-9-]{0,62}[_.A-Za-z0-9])? regular expression. The length of a `[VARIABLE_NAME]` must be less than 256 characters. Once you create a variable, you cannot change the variable name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a single variable within a RuntimeConfig resource. The name denotes the hierarchical variable name. For example, `ports/serving_port` is a valid variable name. The variable value is an opaque string and only leaf variables can have values (that is, variables that do not have any child variables)."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#VariableStateEnum": {
      "type": "enum",
      "members": {
        "VARIABLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIABLE_STATE_UNSPECIFIED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#EndCondition": {
      "type": "structure",
      "members": {
        "cardinality": {
          "target": "com.gcp.runtimeconfig_v1beta1#Cardinality",
          "traits": {
            "smithy.api#documentation": "The cardinality of the `EndCondition`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The condition that a Waiter resource is waiting for."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.runtimeconfig_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.runtimeconfig_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#RuntimeConfig": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the RuntimeConfig object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of a runtime config. The name must have the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME] The `[PROJECT_ID]` must be a valid project ID, and `[CONFIG_NAME]` is an arbitrary name that matches the `[0-9A-Za-z](?:[_.A-Za-z0-9-]{0,62}[_.A-Za-z0-9])?` regular expression. The length of `[CONFIG_NAME]` must be less than 64 characters. You pick the RuntimeConfig resource name, but the server will validate that the name adheres to this format. After you create the resource, you cannot change the resource's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A RuntimeConfig resource is the primary resource in the Cloud RuntimeConfig service. A RuntimeConfig resource consists of metadata and a hierarchy of variables."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Cardinality": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number variables under the `path` that must exist to meet this condition. Defaults to 1 if not specified."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The root of the variable subtree to monitor. For example, `/foo`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Cardinality condition for the Waiter resource. A cardinality condition is met when the number of variables under a specified path prefix reaches a predefined number. For example, if you set a Cardinality condition where the `path` is set to `/foo` and the number of paths is set to `2`, the following variables would meet the condition in a RuntimeConfig resource: + `/foo/variable1 = \"value1\"` + `/foo/variable2 = \"value2\"` + `/bar/variable3 = \"value3\"` It would not satisfy the same condition with the `number` set to `3`, however, because there is only 2 paths that start with `/foo`. Cardinality conditions are recursive; all subtrees under the specific path prefix are counted."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.runtimeconfig_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.runtimeconfig_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.runtimeconfig_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListConfigsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This token allows you to get the next page of results for list requests. If the number of results is larger than `pageSize`, use the `nextPageToken` as a value for the query parameter `pageToken` in the next list request. Subsequent list requests will have their own `nextPageToken` to continue paging through the results"
          }
        },
        "configs": {
          "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfigList",
          "traits": {
            "smithy.api#documentation": "A list of the configurations in the project. The order of returned objects is arbitrary; that is, it is not ordered in any particular way."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ListConfigs()` returns the following response. The order of returned objects is arbitrary; that is, it is not ordered in any particular way."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#RuntimeConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.runtimeconfig_v1beta1#WatchVariableRequest": {
      "type": "structure",
      "members": {
        "newerThan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If specified, checks the current timestamp of the variable and if the current timestamp is newer than `newerThan` timestamp, the method returns immediately. If not specified or the variable has an older timestamp, the watcher waits for a the value to change before returning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the `WatchVariable()` method."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.runtimeconfig_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.runtimeconfig_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#SetIamPolicyProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.runtimeconfig_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.runtimeconfig_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.runtimeconfig_v1beta1#SetIamPolicyProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#SetIamPolicyProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional but recommended unique `request_id`. If the server receives two `create()` requests with the same `request_id`, then the second request will be ignored and the first resource created and stored in the backend is returned. Empty `request_id` fields are ignored. It is responsibility of the client to ensure uniqueness of the `request_id` strings. `request_id` strings are limited to 64 characters.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [project ID](https://support.google.com/cloud/answer/6158840?hl=en&ref_topic=6158848) for this request, in the format `projects/[PROJECT_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/configs"
        },
        "smithy.api#documentation": "Creates a new RuntimeConfig resource. The configuration name must be unique within project."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the RuntimeConfig resource to retrieve, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a RuntimeConfig resource."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetIamPolicyProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetIamPolicyProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#GetIamPolicyProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the RuntimeConfig resource to update, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#RuntimeConfig"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a RuntimeConfig resource. The configuration must exist beforehand."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RuntimeConfig resource to delete, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a RuntimeConfig resource."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of results to return per page. If there are fewer elements than the specified number, returns all elements.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a page token to use. Set `pageToken` to a `nextPageToken` returned by a previous list request to get the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [project ID](https://support.google.com/cloud/answer/6158840?hl=en&ref_topic=6158848) for this request, in the format `projects/[PROJECT_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListConfigsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/configs"
        },
        "smithy.api#documentation": "Lists all the RuntimeConfig resources within project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsOperationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional but recommended unique `request_id`. If the server receives two `create()` requests with the same `request_id`, then the second request will be ignored and the first resource created and stored in the backend is returned. Empty `request_id` fields are ignored. It is responsibility of the client to ensure uniqueness of the `request_id` strings. `request_id` strings are limited to 64 characters.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the RutimeConfig resource that this variable should belong to. The configuration must exist beforehand; the path must be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#Variable",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Variable"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/variables"
        },
        "smithy.api#documentation": "Creates a variable within the given configuration. You cannot create a variable with a name that is a prefix of an existing variable name, or a name that has an existing variable name as a prefix. To learn more about creating a variable, read the [Setting and Getting Data](/deployment-manager/runtime-configurator/set-and-get-variables) documentation."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters variables by matching the specified filter. For example: `projects/example-project/config/[CONFIG_NAME]/variables/example-variable`.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "returnValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag indicates whether the user wants to return values of variables. If true, then only those variables that user has IAM GetVariable permission will be returned along with their values.",
            "smithy.api#httpQuery": "returnValues"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of results to return per page. If there are fewer elements than the specified number, returns all elements.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the RuntimeConfig resource for which you want to list variables. The configuration must exist beforehand; the path must be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a page token to use. Set `pageToken` to a `nextPageToken` returned by a previous list request to get the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListVariablesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/variables"
        },
        "smithy.api#documentation": "Lists variables within given a configuration, matching any provided filters. This only lists variable names, not the values, unless `return_values` is true, in which case only variables that user has IAM permission to GetVariable will be returned.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable to delete, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIABLE_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "recursive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to `true` to recursively delete multiple variables with the same prefix.",
            "smithy.api#httpQuery": "recursive"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a variable or multiple variables. If you specify a variable name, then that variable is deleted. If you specify a prefix and `recursive` is true, then all variables with that prefix are deleted. You must set a `recursive` to true if you delete variables by prefix."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable to return, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIBLE_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Variable"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a single variable."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable to update, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIABLE_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#Variable",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#UpdateProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Variable"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing variable with a new value."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#WatchProjectsConfigsVariablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the variable to watch, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#WatchVariableRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#WatchProjectsConfigsVariables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#WatchProjectsConfigsVariablesRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Variable"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:watch"
        },
        "smithy.api#documentation": "Watches a specific variable and waits for a change in the variable's value. When there is a change, this method returns the new value or times out. If a variable is deleted while being watched, the `variableState` state is set to `DELETED` and the method returns the last known variable `value`. If you set the deadline for watching to a larger value than internal timeout (60 seconds), the current variable value is returned and the `variableState` will be `VARIABLE_STATE_UNSPECIFIED`. To learn more about creating a watcher, read the [Watching a Variable for Changes](/deployment-manager/runtime-configurator/watching-a-variable) documentation."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsWaitersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsWaiters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsProjectsConfigsWaitersRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsWaitersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the configuration for which you want to get a list of waiters. The configuration must exist beforehand; the path must be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of results to return per page. If there are fewer elements than the specified number, returns all elements.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a page token to use. Set `pageToken` to a `nextPageToken` returned by a previous list request to get the next page of results.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsWaiters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListProjectsConfigsWaitersRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#ListWaitersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/waiters"
        },
        "smithy.api#documentation": "List waiters within the given configuration.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsWaitersRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional but recommended unique `request_id`. If the server receives two `create()` requests with the same `request_id`, then the second request will be ignored and the first resource created and stored in the backend is returned. Empty `request_id` fields are ignored. It is responsibility of the client to ensure uniqueness of the `request_id` strings. `request_id` strings are limited to 64 characters.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the configuration that will own the waiter. The configuration must exist beforehand; the path must be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.runtimeconfig_v1beta1#Waiter",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsWaiters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#CreateProjectsConfigsWaitersRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/waiters"
        },
        "smithy.api#documentation": "Creates a Waiter resource. This operation returns a long-running Operation resource which can be polled for completion. However, a waiter with the given name will exist (and can be retrieved) prior to the operation completing. If the operation fails, the failed Waiter resource will still exist and must be deleted prior to subsequent creation attempts."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsWaitersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Waiter resource to delete, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsWaiters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#DeleteProjectsConfigsWaitersRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes the waiter with the specified name."
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsWaitersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified name of the Waiter resource object to retrieve, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME]`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsWaiters": {
      "type": "operation",
      "input": {
        "target": "com.gcp.runtimeconfig_v1beta1#GetProjectsConfigsWaitersRequest"
      },
      "output": {
        "target": "com.gcp.runtimeconfig_v1beta1#Waiter"
      },
      "errors": [
        {
          "target": "com.gcp.runtimeconfig_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.runtimeconfig_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a single waiter."
      }
    }
  }
}
