{
  "smithy": "2.0",
  "metadata": {
    "service": "saasservicemgmt",
    "version": "v1beta1",
    "title": "App Lifecycle Manager API",
    "baseUrl": "https://saasservicemgmt.googleapis.com/"
  },
  "shapes": {
    "com.gcp.saasservicemgmt_v1beta1#UnitKind": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "appParams": {
          "target": "com.gcp.saasservicemgmt_v1beta1#AppParams",
          "traits": {
            "smithy.api#documentation": "AppParams contains the parameters for creating an AppHub Application."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "dependencies": {
          "target": "com.gcp.saasservicemgmt_v1beta1#DependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. List of other unit kinds that this release will depend on. Dependencies will be automatically provisioned if not found. Maximum 10."
          }
        },
        "defaultFlagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Default revisions of flags for this UnitKind. Newly created units will use the flag default_flag_revisions present at the time of creation."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "saas": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A reference to the Saas that defines the product (managed service) that the producer wants to manage with App Lifecycle Manager. Part of the App Lifecycle Manager common data model. Immutable once set."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "outputVariableMappings": {
          "target": "com.gcp.saasservicemgmt_v1beta1#VariableMappingList",
          "traits": {
            "smithy.api#documentation": "Optional. List of outputVariables for this unit kind will be passed to this unit's outputVariables. Maximum 100."
          }
        },
        "inputVariableMappings": {
          "target": "com.gcp.saasservicemgmt_v1beta1#VariableMappingList",
          "traits": {
            "smithy.api#documentation": "Optional. List of inputVariables for this release that will either be retrieved from a dependency's outputVariables, or will be passed on to a dependency's inputVariables. Maximum 100."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitKinds/{unitKind}\""
          }
        },
        "boundaryType": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitKindBoundaryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. BoundaryType describes the type of boundary the Unit Kind represents."
          }
        },
        "applicationTemplateComponent": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ComponentRef",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to component and revision in a composite ApplicationTemplate."
          }
        },
        "defaultRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A reference to the Release object to use as default for creating new units of this UnitKind (optional). If not specified, a new unit must explicitly reference which release to use for its creation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a Unit. Units belonging to the same UnitKind are managed together; for example they follow the same release model (blueprints, versions etc.) and are typically rolled out together."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Dependency"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#VariableMappingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#VariableMapping"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitKindBoundaryTypeEnum": {
      "type": "enum",
      "members": {
        "BOUNDARY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_UNSPECIFIED"
          }
        },
        "BOUNDARY_TYPE_TENANT_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_TENANT_PROJECT"
          }
        },
        "BOUNDARY_TYPE_MANAGED_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOUNDARY_TYPE_MANAGED_PROJECT"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListUnitOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "unitOperations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationList",
          "traits": {
            "smithy.api#documentation": "The resulting unit operations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListUnitOperations call to list the next page. If empty, there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListUnitOperations method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperation"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ReleaseRequirements": {
      "type": "structure",
      "members": {
        "upgradeableFromReleases": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of releases from which a unit can be upgraded to this one (optional). If left empty no constraints will be applied. When provided, unit upgrade requests to this release will check and enforce this constraint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of requirements to be fulfilled on the Unit when using this Release."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListUnitGroupOperationsResponse": {
      "type": "structure",
      "members": {
        "unitGroupOperations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitGroupOperationList",
          "traits": {
            "smithy.api#documentation": "The resulting unit group operations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListUnitGroupOperations call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListUnitGroupOperations method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitGroupOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitGroupOperation"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitCondition": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        },
        "status": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitCondition describes the status of an Unit. UnitCondition is individual components that contribute to an overall state."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_READY"
          }
        },
        "TYPE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UPDATING"
          }
        },
        "TYPE_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_PROVISIONED"
          }
        },
        "TYPE_OPERATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_OPERATION_ERROR"
          }
        },
        "TYPE_FLAGS_CONFIG_INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLAGS_CONFIG_INITIALIZED"
          }
        },
        "TYPE_APP_CREATED_OR_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_CREATED_OR_ALREADY_EXISTS"
          }
        },
        "TYPE_APP_COMPONENTS_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_COMPONENTS_REGISTERED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#FlagSetList": {
      "type": "structure",
      "members": {
        "sets": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Flag sets to be rolled out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for a list of flag sets."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListSaasResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "saas": {
          "target": "com.gcp.saasservicemgmt_v1beta1#SaasList",
          "traits": {
            "smithy.api#documentation": "The resulting saas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListSaas call to list the next page. If empty, there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListSaas method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Saas"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#CompositeRef": {
      "type": "structure",
      "members": {
        "applicationTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Reference to the ApplicationTemplate resource."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision of the ApplicationTemplate to use. Changes to revision will trigger manual resynchronization. If empty, ApplicationTemplate will be ignored."
          }
        },
        "syncOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to on-going AppTemplate import and replication operation (i.e. the operation_id for the long-running operation). This field is opaque for external usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CompositeRef represents a reference to a composite resource. Next ID: 4"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListTenantsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListTenants call to list the next page. If empty, there are no more pages."
          }
        },
        "tenants": {
          "target": "com.gcp.saasservicemgmt_v1beta1#TenantList",
          "traits": {
            "smithy.api#documentation": "The resulting tenants."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListTenants method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#TenantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Tenant"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Blueprint": {
      "type": "structure",
      "members": {
        "engine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the engine used to actuate the blueprint. e.g. terraform, helm etc."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version metadata if present on the blueprint."
          }
        },
        "package": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. URI to a blueprint used by the Unit (required unless unitKind or release is set)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blueprints are OCI Images that contain all of the artifacts needed to provision a unit. Metadata such as, type of the engine used to actuate the blueprint (e.g. terraform, helm etc) and version will come from the image manifest. If the hostname is omitted, it will be assumed to be the regional path to Artifact Registry (eg. us-east1-docker.pkg.dev)."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperation": {
      "type": "structure",
      "members": {
        "cancel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, attempt to cancel the operation. Cancellation may fail if the operation is already executing. (Optional)"
          }
        },
        "engineState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The engine state for on-going deployment engine operation(s). This field is opaque for external usage."
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. UnitOperationState describes the current state of the unit operation."
          }
        },
        "flagUpdate": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FlagUpdate",
          "traits": {
            "smithy.api#documentation": "Optional. Flag update operation."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was marked for deletion (deletion is an asynchronous operation)."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "schedule": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Schedule",
          "traits": {
            "smithy.api#documentation": "Optional. When to schedule this operation."
          }
        },
        "errorCategory": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationErrorCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. UnitOperationErrorCategory describe the error category."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "provision": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Provision",
          "traits": {
            "smithy.api#documentation": "Optional. Provision operation."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Unit a given UnitOperation will act upon."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "deprovision": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Deprovision",
          "traits": {
            "smithy.api#documentation": "Optional. Deprovision operation."
          }
        },
        "parentUnitOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to parent resource: UnitOperation. If an operation needs to create other operations as part of its workflow, each of the child operations should have this field set to the parent. This can be used for tracing. (Optional)"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "rollout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies which rollout created this Unit Operation. This cannot be modified and is used for filtering purposes only. If a dependent unit and unit operation are created as part of another unit operation, they will use the same rolloutId."
          }
        },
        "upgrade": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Upgrade",
          "traits": {
            "smithy.api#documentation": "Optional. Upgrade operation."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/unitOperations/{unitOperation}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitOperation encapsulates the intent of changing/interacting with the service component represented by the specific Unit. Multiple UnitOperations can be created (requested) and scheduled in the future, however only one will be allowed to execute at a time (that can change in the future for non-mutating operations). UnitOperations allow different actors interacting with the same unit to focus only on the change they have requested. This is a base object that contains the common fields in all unit operations. Next: 22"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationStateEnum": {
      "type": "enum",
      "members": {
        "UNIT_OPERATION_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_UNKNOWN"
          }
        },
        "UNIT_OPERATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_PENDING"
          }
        },
        "UNIT_OPERATION_STATE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_SCHEDULED"
          }
        },
        "UNIT_OPERATION_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_RUNNING"
          }
        },
        "UNIT_OPERATION_STATE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_SUCCEEDED"
          }
        },
        "UNIT_OPERATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_FAILED"
          }
        },
        "UNIT_OPERATION_STATE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_STATE_CANCELLED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationErrorCategoryEnum": {
      "type": "enum",
      "members": {
        "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_OPERATION_ERROR_CATEGORY_UNSPECIFIED"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL"
          }
        },
        "RETRIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRIABLE"
          }
        },
        "IGNORABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORABLE"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Release": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of input variables declared on the blueprint and can be present with their values on the unit spec"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Reference to the UnitKind this Release corresponds to (required and immutable once created)."
          }
        },
        "applicationTemplateComponent": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ComponentRef",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to component and revision in a composite ApplicationTemplate."
          }
        },
        "outputVariables": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of output variables declared on the blueprint and can be present with their values on the unit status"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/releases/{release}\""
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "releaseRequirements": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ReleaseRequirements",
          "traits": {
            "smithy.api#documentation": "Optional. Set of requirements to be fulfilled on the Unit when using this Release."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "blueprint": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Blueprint",
          "traits": {
            "smithy.api#documentation": "Optional. Blueprints are OCI Images that contain all of the artifacts needed to provision a unit."
          }
        },
        "inputVariableDefaults": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping of input variables to default values. Maximum 100"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new version to be propagated and deployed to units. This includes pointers to packaged blueprints for actuation (e.g Helm or Terraform configuration packages) via artifact registry."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariable"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#RolloutKind": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/rolloutKinds/{rollout_kind_id}\""
          }
        },
        "unitFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. CEL(https://github.com/google/cel-spec) formatted filter string against Unit. The filter will be applied to determine the eligible unit population. This filter can only reduce, but not expand the scope of the rollout."
          }
        },
        "errorBudget": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ErrorBudget",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused. If not set, all units will be attempted to be updated regardless of the number of failures encountered."
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. UnitKind that this rollout kind corresponds to. Rollouts stemming from this rollout kind will target the units of this unit kind. In other words, this defines the population of target units to be upgraded by rollouts."
          }
        },
        "rolloutOrchestrationStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy used for executing a Rollout. This is a required field. There are two supported values strategies which are used to control - \"Google.Cloud.Simple.AllAtOnce\" - \"Google.Cloud.Simple.OneLocationAtATime\" A rollout with one of these simple strategies will rollout across all locations defined in the associated UnitKind's Saas Locations."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "unitUpdatePacing": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitUpdatePacing",
          "traits": {
            "smithy.api#documentation": "Optional. Settings for controlling the pacing of rollouts i.e. the number of units to be rolled out in parallel in a region."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "updateUnitKindStrategy": {
          "target": "com.gcp.saasservicemgmt_v1beta1#RolloutKindUpdateUnitKindStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The config for updating the unit kind. By default, the unit kind will be updated on the rollout start."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes various settings of Rollout execution. Includes built-in and customizable policies."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#RolloutKindUpdateUnitKindStrategyEnum": {
      "type": "enum",
      "members": {
        "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_UNSPECIFIED"
          }
        },
        "UPDATE_UNIT_KIND_STRATEGY_ON_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_ON_START"
          }
        },
        "UPDATE_UNIT_KIND_STRATEGY_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_UNIT_KIND_STRATEGY_NEVER"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Dependency": {
      "type": "structure",
      "members": {
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unit kind of the dependency."
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An alias for the dependency. Used for input variable mapping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dependency represent a single dependency with another unit kind by alias."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasRelease": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saasReleases/{saasRelease}\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SaasRelease is a collection of Releases that are assigned to a UnitGroup. It allows provisioning and updates of UnitGroup, which contains multiple Units of different UnitKinds."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListRolloutsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListRollouts call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "rollouts": {
          "target": "com.gcp.saasservicemgmt_v1beta1#RolloutList",
          "traits": {
            "smithy.api#documentation": "The resulting rollouts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListRollouts method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#RolloutList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Rollout"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#VariableMapping": {
      "type": "structure",
      "members": {
        "to": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ToMapping",
          "traits": {
            "smithy.api#documentation": "Optional. Input variables whose values will be passed on to dependencies."
          }
        },
        "from": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FromMapping",
          "traits": {
            "smithy.api#documentation": "Optional. Output variables which will get their values from dependencies"
          }
        },
        "variable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. name of the variable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mapping of input variables to their respective output variable for depedenencies"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#MaintenanceSettings": {
      "type": "structure",
      "members": {
        "pinnedUntilTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, it fixes the release on the unit until the given time; i.e. changes to the release field will be rejected. Rollouts should and will also respect this by not requesting an upgrade in the first place."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#FlagRevisionList": {
      "type": "structure",
      "members": {
        "revisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. FlagRevisions to be rolled out."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for a list of flag revisions."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListUnitsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "units": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitList",
          "traits": {
            "smithy.api#documentation": "The resulting units."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListUnits call to list the next page. If empty, there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListUnits method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Unit"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Variant": {
      "type": "structure",
      "members": {
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Double flag value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Boolean flag value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the variant. Max length: 128 bytes."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Integer flag value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String flag value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Variant is an identifier for a value (name assigned to a value). DEPRECATED: Use Flag.Variants instead."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListFlagReleasesResponse": {
      "type": "structure",
      "members": {
        "flagReleases": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FlagReleaseList",
          "traits": {
            "smithy.api#documentation": "The resulting flag releases."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListFlagReleases call to list the next page. If empty, there are no more pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListFlagReleases method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#FlagReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#FlagRelease"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListFlagRevisionsResponse": {
      "type": "structure",
      "members": {
        "flagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FlagRevisionList_",
          "traits": {
            "smithy.api#documentation": "The resulting flag revisions."
          }
        },
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListFlagRevisions call to list the next page. If empty, there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListFlagRevisions method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#FlagRevisionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#FlagRevision"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ListRolloutKindsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "rolloutKinds": {
          "target": "com.gcp.saasservicemgmt_v1beta1#RolloutKindList",
          "traits": {
            "smithy.api#documentation": "The resulting rollout kinds."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the next page token can be provided to a subsequent ListRolloutKinds call to list the next page. If empty, there are no more pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response structure for the ListRolloutKinds method."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#RolloutKindList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#RolloutKind"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.saasservicemgmt_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Unit": {
      "type": "structure",
      "members": {
        "unitGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Reference to the UnitGroup this unit belongs to."
          }
        },
        "dependents": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitDependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of Units that depend on this unit. Unit can only be deprovisioned if this list is empty. Maximum 1000."
          }
        },
        "state": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Current lifecycle state of the resource (e.g. if it's being created or ready to use)."
          }
        },
        "dependencies": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitDependencyList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Set of dependencies for this unit. Maximum 10."
          }
        },
        "flagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Flag revisions used by this Unit."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "maintenance": {
          "target": "com.gcp.saasservicemgmt_v1beta1#MaintenanceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Captures requested directives for performing future maintenance on the unit. This includes a request for the unit to skip maintenance for a period of time and remain pinned to its current release as well as controls for postponing maintenance scheduled in future."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the resource location satisfies Zone Separation constraints. This is false by default."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/units/{unit}\""
          }
        },
        "scheduledOperations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of scheduled UnitOperations for this unit."
          }
        },
        "managementMode": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitManagementModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Indicates whether the Unit life cycle is controlled by the user or by the system. Immutable once created."
          }
        },
        "release": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The current Release object for this Unit."
          }
        },
        "outputVariables": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Set of key/value pairs corresponding to output variables from execution of actuation templates. The variables are declared in actuation configs (e.g in helm chart or terraform) and the values are fetched and returned by the actuation engine upon completion of execution."
          }
        },
        "pendingOperations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of pending (wait to be executed) UnitOperations for this unit."
          }
        },
        "systemCleanupAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. If set, indicates the time when the system will start removing the unit."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the UnitKind this Unit belongs to. Immutable once set."
          }
        },
        "ongoingOperations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. List of concurrent UnitOperations that are operating on this Unit."
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitConditionList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "inputVariables": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Indicates the current input variables deployed by the unit"
          }
        },
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the AppHub Application this unit belongs to. All resources deployed in this Unit will be associated with the specified Application."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "systemManagedState": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitSystemManagedStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Indicates the system managed state of the unit."
          }
        },
        "flagConfigName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field stores the unique identifier for the flag configuration to be used by this Unit."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Reference to the Saas Tenant resource this unit belongs to. This for example informs the maintenance policies to use for scheduling future updates on a unit. (optional and immutable once created)"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unit of deployment that has its lifecycle via a CRUD API using an actuation engine under the hood (e.g. based on Terraform, Helm or a custom implementation provided by a service producer). A building block of a SaaS Tenant."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitDependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitDependency"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitStateEnum": {
      "type": "enum",
      "members": {
        "UNIT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_UNSPECIFIED"
          }
        },
        "UNIT_STATE_NOT_PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_NOT_PROVISIONED"
          }
        },
        "UNIT_STATE_PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_PROVISIONING"
          }
        },
        "UNIT_STATE_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_UPDATING"
          }
        },
        "UNIT_STATE_DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_DEPROVISIONING"
          }
        },
        "UNIT_STATE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_READY"
          }
        },
        "UNIT_STATE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIT_STATE_ERROR"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitManagementModeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_UNSPECIFIED"
          }
        },
        "MANAGEMENT_MODE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_USER"
          }
        },
        "MANAGEMENT_MODE_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_SYSTEM"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#UnitCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitSystemManagedStateEnum": {
      "type": "enum",
      "members": {
        "SYSTEM_MANAGED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_UNSPECIFIED"
          }
        },
        "SYSTEM_MANAGED_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_ACTIVE"
          }
        },
        "SYSTEM_MANAGED_STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_INACTIVE"
          }
        },
        "SYSTEM_MANAGED_STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_MANAGED_STATE_DECOMMISSIONED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#RolloutStats": {
      "type": "structure",
      "members": {
        "estimatedTotalUnitCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Estimated number of units based. The estimation is computed upon creation of the rollout."
          }
        },
        "operationsByState": {
          "target": "com.gcp.saasservicemgmt_v1beta1#AggregateList",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Unordered list. A breakdown of the progress of operations triggered by the rollout. Provides a count of Operations by their state. This can be used to determine the number of units which have been updated, or are scheduled to be updated. There will be at most one entry per group. Possible values for operation groups are: - \"SCHEDULED\" - \"PENDING\" - \"RUNNING\" - \"SUCCEEDED\" - \"FAILED\" - \"CANCELLED\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RolloutStats contains information about the progress of a rollout."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#AggregateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Aggregate"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ErrorBudget": {
      "type": "structure",
      "members": {
        "allowedPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum percentage of units allowed to fail (0, 100] within a location without pausing the rollout."
          }
        },
        "allowedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of failed units allowed in a location without pausing the rollout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for error budget. If the number of failed units exceeds max(allowed_count, allowed_ratio * total_units), the rollout will be paused."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Decimal": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information that the service is available in."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ComponentRef": {
      "type": "structure",
      "members": {
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the component in composite.Components"
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision of the component. If the component does not have a revision, this field will be explicitly set to the revision of the composite ApplicationTemplate."
          }
        },
        "compositeRef": {
          "target": "com.gcp.saasservicemgmt_v1beta1#CompositeRef",
          "traits": {
            "smithy.api#documentation": "Reference to the Composite ApplicationTemplate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComponentRef represents a reference to a component resource. Next ID: 4"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasCondition": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        },
        "status": {
          "target": "com.gcp.saasservicemgmt_v1beta1#SaasConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1beta1#SaasConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SaasCondition describes the status of a Saas."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_READY"
          }
        },
        "TYPE_SYNCHRONIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SYNCHRONIZED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.saasservicemgmt_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#DocumentMap"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#FlagRelease": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "flagRevisionsRelease": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FlagRevisionList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Specifies the release consists of a list of flag revisions."
          }
        },
        "flagSets": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. DEPRECATED: Use flag_sets_release instead. Flag sets to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "effectiveFlagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. An OUTPUT_ONLY field that contains FlagRevisions to be rolled out. This is the ultimate source of truth of what a Rollout or a UnitOperation carries."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/flagReleases/{flag_release_id}\""
          }
        },
        "allFlagsRelease": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Specifies the release includes all flags."
          }
        },
        "obsoleteFlags": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Deprecated: Use the 'state' field in the 'Flag' resource to manage the cleanup of flag lifecycles including removal from UnitKind and Units. Flags to be removed from given UnitKind and all related Units. If Flag is provided here, its FlagRevisions will be removed from UnitKind and Units."
          }
        },
        "unitKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The UnitKind this FlagRelease applies to."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "flagSetsRelease": {
          "target": "com.gcp.saasservicemgmt_v1beta1#FlagSetList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Specifies the release consists of a list of flag sets."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "allFlags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. DEPRECATED: Use all_flags_release instead. Rollout all flags in the provided UnitKind. Only one of flag_revisions, all_flags, or flag_sets can be set."
          }
        },
        "flagRevisions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. DEPRECATED: Use flag_revisions_release instead. FlagRevisions to be rolled out. Only one of flag_revisions, all_flags, or flag_sets can be set. It used to be the ultimate source to truth and has been moved to effective_flag_revisions."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of FlagRevisions."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Scope": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.saasservicemgmt_v1beta1#ScopeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Scope Type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope of an application."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ScopeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_REGIONAL"
          }
        },
        "TYPE_GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GLOBAL"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#EvaluationSpec": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Names of the context attributes that are used in the evaluation rules and allocations."
          }
        },
        "rules": {
          "target": "com.gcp.saasservicemgmt_v1beta1#EvaluationRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Evaluation rules define the logic for evaluating the flag against a given context. The rules are evaluated sequentially in their specified order."
          }
        },
        "defaultTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `base_target` instead. Default variant or allocation of the flag."
          }
        },
        "allocations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#AllocationList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of allocations."
          }
        },
        "variants": {
          "target": "com.gcp.saasservicemgmt_v1beta1#VariantList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of variants."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EvaluationSpec holds rules for evaluating the value of a flag."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#EvaluationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#EvaluationRule"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#AllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Allocation"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#VariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Variant"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationCondition": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Brief reason for the condition's last transition."
          }
        },
        "type": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the condition."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time the condition transited from one status to another."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human readable message indicating details about the last transition."
          }
        },
        "status": {
          "target": "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. Status of the condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitOperationCondition describes the status of an Unit Operation. UnitOperationCondition is individual components that contribute to an overall state."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TYPE_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SCHEDULED"
          }
        },
        "TYPE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_RUNNING"
          }
        },
        "TYPE_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SUCCEEDED"
          }
        },
        "TYPE_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CANCELLED"
          }
        },
        "TYPE_APP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_CREATED"
          }
        },
        "TYPE_APP_COMPONENTS_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_APP_COMPONENTS_REGISTERED"
          }
        },
        "TYPE_WORKLOAD_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_WORKLOAD_SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitOperationConditionStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "STATUS_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNKNOWN"
          }
        },
        "STATUS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_TRUE"
          }
        },
        "STATUS_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_FALSE"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Saas": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.saasservicemgmt_v1beta1#SaasStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the Saas. It is always in STATE_ACTIVE state if the application_template is empty."
          }
        },
        "annotations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/user-guide/annotations"
          }
        },
        "error": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. If the state is FAILED, the corresponding error code and message. Defaults to code=OK for all other states."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "conditions": {
          "target": "com.gcp.saasservicemgmt_v1beta1#SaasConditionList",
          "traits": {
            "smithy.api#documentation": "Output only. A set of conditions which indicate the various conditions this resource can have."
          }
        },
        "labels": {
          "target": "com.gcp.saasservicemgmt_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels on the resource, which can be used for categorization. similar to Kubernetes resource labels."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "applicationTemplate": {
          "target": "com.gcp.saasservicemgmt_v1beta1#CompositeRef",
          "traits": {
            "smithy.api#documentation": "Reference to composite ApplicationTemplate. When specified, the template components will be imported into their equivalent UnitKind, Release and Blueprint resources. Deleted references will not delete imported resources. Should only be specified on source regions, and be unspecified on replica regions."
          }
        },
        "locations": {
          "target": "com.gcp.saasservicemgmt_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "Optional. List of locations that the service is available in. Rollout refers to the list to generate a rollout plan."
          }
        },
        "blueprintRepo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of repository in Artifact Registry for system-generated Blueprints, eg. Blueprints of imported ApplicationTemplates."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name (full URI of the resource) following the standard naming scheme: \"projects/{project}/locations/{location}/saas/{saas}\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Saas is a representation of a SaaS service managed by the Producer."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasStateEnum": {
      "type": "enum",
      "members": {
        "STATE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_TYPE_UNSPECIFIED"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_RUNNING"
          }
        },
        "STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_FAILED"
          }
        }
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#SaasConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#SaasCondition"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.saasservicemgmt_v1beta1#Location"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#Deprovision": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Deprovision is the unit operation that deprovision the underlying resources represented by a Unit. Can only execute if the Unit is currently provisioned."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#UnitUpdatePacing": {
      "type": "structure",
      "members": {
        "maxConcurrentOperationsPercent": {
          "target": "com.gcp.saasservicemgmt_v1beta1#Decimal",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum percentage of total units in the scope that can be in-flight. Example: 10.5 for 10.5%. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
          }
        },
        "maxConcurrentOperationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An absolute cap on concurrent units operations. If both percent and count are provided, the system uses the MINIMUM (most restrictive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UnitUpdatePacing defines the policy for the maximum number of unit operations that can run for a rollout in parallel in a single region."
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#ToMapping": {
      "type": "structure",
      "members": {
        "dependency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Alias of the dependency that the inputVariable will pass its value to"
          }
        },
        "ignoreForLookup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Tells App Lifecycle Manager if this mapping should be used during lookup or not"
          }
        },
        "inputVariable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the inputVariable on the dependency"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input variables whose values will be passed on to dependencies"
      }
    },
    "com.gcp.saasservicemgmt_v1beta1#EvaluationRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Evaluation rule ID. Max length: 128 bytes."
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A Common Expression Language (CEL) expression that evaluates to a boolean. The expression is evaluated against the provided context. If it returns true, the rule's target is applied."
          }
        },
        "allocationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of an allocation to target."
          }
        },
[...]
