{
  "smithy": "2.0",
  "metadata": {
    "service": "searchads360",
    "version": "v0",
    "title": "Search Ads 360 Reporting API",
    "baseUrl": "https://searchads360.googleapis.com/"
  },
  "shapes": {
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__DynamicSearchAdsSearchTermView": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the dynamic search ads search term view. Dynamic search ads search term view resource names have the form: `customers/{customer_id}/dynamicSearchAdsSearchTermViews/{ad_group_id}~{search_term_fingerprint}~{headline_fingerprint}~{landing_page_fingerprint}~{page_url_fingerprint}`"
          }
        },
        "landingPage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The dynamically selected landing page URL of the impression. This field is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dynamic search ads search term view."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupEffectiveLabel": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the ad group effective label. Ad group effective label resource names have the form: `customers/{owner_customer_id}/adGroupEffectiveLabels/{ad_group_id}~{label_id}`"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The effective label assigned to the ad group."
          }
        },
        "ownerCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the Customer which owns the effective label."
          }
        },
        "adGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The ad group to which the effective label is attached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A relationship between an ad group and an effective label. An effective label is a label inherited or directly assigned to this ad group."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors_ErrorLocation_FieldPathElement": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a field or a oneof"
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If field_name is a repeated field, this is the element that failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A part of a field path."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetImpressionShare": {
      "type": "structure",
      "members": {
        "locationFractionMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000."
          }
        },
        "location": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetImpressionShareLocationEnum",
          "traits": {
            "smithy.api#documentation": "The targeted location on the search results page."
          }
        },
        "cpcBidCeilingMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location)."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetImpressionShareLocationEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ANYWHERE_ON_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANYWHERE_ON_PAGE"
          }
        },
        "TOP_OF_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOP_OF_PAGE"
          }
        },
        "ABSOLUTE_TOP_OF_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABSOLUTE_TOP_OF_PAGE"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_MaximizeConversionValue": {
      "type": "structure",
      "members": {
        "targetRoas": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The target return on ad spend (ROAS) option. If set, the bid strategy will maximize revenue while averaging the target return on ad spend. If the target ROAS is high, the bid strategy may not be able to spend the full budget. If the target ROAS is not set, the bid strategy will aim to achieve the highest possible ROAS for the budget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An automated bidding strategy to help get the most conversion value for your campaigns while spending your budget."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_TrackingSetting": {
      "type": "structure",
      "members": {
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The url used for dynamic tracking."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Campaign-level settings for tracking information."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CustomerManagerLink": {
      "type": "structure",
      "members": {
        "managerCustomer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The manager customer linked to the customer."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the CustomerManagerLink was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Name of the resource. CustomerManagerLink resource names have the form: `customers/{customer_id}/customerManagerLinks/{manager_customer_id}~{manager_link_id}`"
          }
        },
        "status": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CustomerManagerLinkStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the link between the customer and the manager."
          }
        },
        "managerLinkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the customer-manager link. This field is read only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents customer-manager link relationship."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CustomerManagerLinkStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "REFUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFUSED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Errors__SearchAds360Failure": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the request that is used for debugging purposes."
          }
        },
        "errors": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Errors__SearchAds360ErrorList",
          "traits": {
            "smithy.api#documentation": "The list of errors that occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a Search Ads 360 API call failed. It's returned inside google.rpc.Status.details when a call fails."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Errors__SearchAds360ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Errors__SearchAds360Error"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__RealTimeBiddingSetting": {
      "type": "structure",
      "members": {
        "optIn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the campaign is opted in to real-time bidding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Internet domain name that this setting represents, for example, \"google.com\" or \"www.google.com\"."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The language code specifying the language of the domain, for example, \"en\"."
          }
        },
        "useSuppliedUrlsOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the campaign uses advertiser supplied URLs exclusively."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The setting for controlling Dynamic Search Ads (DSA)."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetSpend": {
      "type": "structure",
      "members": {
        "cpcBidCeilingMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy."
          }
        },
        "targetSpendMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The spend target under which to maximize clicks. A TargetSpend bidder will attempt to spend the smaller of this value or the natural throttling spend amount. If not specified, the budget is used as the spend target. This field is deprecated and should no longer be used. See https://ads-developers.googleblog.com/2020/05/reminder-about-sunset-creation-of.html for details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An automated bid strategy that sets your bids to help get as many clicks as possible within your budget."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__KeywordInfo": {
      "type": "structure",
      "members": {
        "matchType": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__KeywordInfoMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "The match type of the keyword."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the keyword (at most 80 characters and 10 words)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A keyword criterion."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__KeywordInfoMatchTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT"
          }
        },
        "PHRASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHRASE"
          }
        },
        "BROAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROAD"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductType": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductTypeLevelEnum",
          "traits": {
            "smithy.api#documentation": "Level of the type."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of a product offer."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductTypeLevelEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "LEVEL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL1"
          }
        },
        "LEVEL2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL2"
          }
        },
        "LEVEL3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL3"
          }
        },
        "LEVEL4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL4"
          }
        },
        "LEVEL5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEVEL5"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__GenderInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__GenderInfoTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the gender."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A gender criterion."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__GenderInfoTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "MALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALE"
          }
        },
        "FEMALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEMALE"
          }
        },
        "UNDETERMINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDETERMINED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__Campaign": {
      "type": "structure",
      "members": {
        "percentCpc": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__PercentCpc",
          "traits": {
            "smithy.api#documentation": "Standard Percent Cpc bidding strategy where bids are a fraction of the advertised price for some good or service."
          }
        },
        "geoTargetTypeSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_GeoTargetTypeSetting",
          "traits": {
            "smithy.api#documentation": "The setting for ads geotargeting."
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the campaign in the external engine account. This field is for non-Google Ads account only, for example, Yahoo Japan, Microsoft, Baidu etc. For Google Ads entity, use \"campaign.id\" instead."
          }
        },
        "realTimeBiddingSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__RealTimeBiddingSetting",
          "traits": {
            "smithy.api#documentation": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network."
          }
        },
        "manualCpc": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__ManualCpc",
          "traits": {
            "smithy.api#documentation": "Standard Manual CPC bidding strategy. Manual click-based bidding where user pays per click."
          }
        },
        "targetSpend": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetSpend",
          "traits": {
            "smithy.api#documentation": "Standard Target Spend bidding strategy that automatically sets your bids to help get as many clicks as possible within your budget."
          }
        },
        "targetCpm": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetCpm",
          "traits": {
            "smithy.api#documentation": "A bidding strategy that automatically optimizes cost per thousand impressions."
          }
        },
        "targetCpa": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetCpa",
          "traits": {
            "smithy.api#documentation": "Standard Target CPA bidding strategy that automatically sets bids to help get as many conversions as possible at the target cost-per-acquisition (CPA) you set."
          }
        },
        "maximizeConversionValue": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__MaximizeConversionValue",
          "traits": {
            "smithy.api#documentation": "Standard Maximize Conversion Value bidding strategy that automatically sets bids to maximize revenue while spending your budget."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last day of the campaign in serving customer's timezone in YYYY-MM-DD format. On create, defaults to 2037-12-30, which means the campaign will run indefinitely. To set an existing campaign to run indefinitely, set this field to 2037-12-30."
          }
        },
        "trackingUrlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL template for constructing a tracking URL."
          }
        },
        "adServingOptimizationStatus": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdServingOptimizationStatusEnum",
          "traits": {
            "smithy.api#documentation": "The ad serving optimization status of the campaign."
          }
        },
        "advertisingChannelType": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdvertisingChannelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The primary serving target for ads within the campaign. The targeting options can be refined in `network_settings`. This field is required and should not be empty when creating new campaigns. Can be set only when creating campaigns. After the campaign is created, the field can not be changed."
          }
        },
        "biddingStrategySystemStatus": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignBiddingStrategySystemStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The system status of the campaign's bidding strategy."
          }
        },
        "networkSettings": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_NetworkSettings",
          "traits": {
            "smithy.api#documentation": "The network settings for the campaign."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the campaign. This field is required and should not be empty when creating new campaigns. It must not contain any null (code point 0x0), NL line feed (code point 0xA) or carriage return (code point 0xD) characters."
          }
        },
        "maximizeConversions": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__MaximizeConversions",
          "traits": {
            "smithy.api#documentation": "Standard Maximize Conversions bidding strategy that automatically maximizes number of conversions while spending your budget."
          }
        },
        "targetImpressionShare": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetImpressionShare",
          "traits": {
            "smithy.api#documentation": "Target Impression Share bidding strategy. An automated bidding strategy that sets bids to achieve a chosen percentage of impressions."
          }
        },
        "manualCpa": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__ManualCpa",
          "traits": {
            "smithy.api#documentation": "Standard Manual CPA bidding strategy. Manual bidding strategy that allows advertiser to set the bid per advertiser-specified action. Supported only for Local Services campaigns."
          }
        },
        "dynamicSearchAdsSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting",
          "traits": {
            "smithy.api#documentation": "The setting for controlling Dynamic Search Ads (DSA)."
          }
        },
        "trackingSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_TrackingSetting",
          "traits": {
            "smithy.api#documentation": "Output only. Campaign-level settings for tracking information."
          }
        },
        "urlExpansionOptOut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents opting out of URL expansion to more targeted URLs. If opted out (true), only the final URLs in the asset group or URLs specified in the advertiser's Google Merchant Center or business data feeds are targeted. If opted in (false), the entire domain will be targeted. This field can only be set for Performance Max campaigns, where the default value is false."
          }
        },
        "shoppingSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_ShoppingSetting",
          "traits": {
            "smithy.api#documentation": "The setting for controlling Shopping campaigns."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The datetime when this campaign was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format."
          }
        },
        "campaignBudget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the campaign budget of the campaign."
          }
        },
        "biddingStrategyType": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignBiddingStrategyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of bidding strategy. A bidding strategy can be created by setting either the bidding scheme to create a standard bidding strategy or the `bidding_strategy` field to create a portfolio bidding strategy. This field is read-only."
          }
        },
        "urlCustomParameters": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__CustomParameterList",
          "traits": {
            "smithy.api#documentation": "The list of mappings used to substitute custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`."
          }
        },
        "labels": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource names of labels attached to this campaign."
          }
        },
        "selectiveOptimization": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_SelectiveOptimization",
          "traits": {
            "smithy.api#documentation": "Selective optimization setting for this campaign, which includes a set of conversion actions to optimize this campaign towards. This feature only applies to app campaigns that use MULTI_CHANNEL as AdvertisingChannelType and APP_CAMPAIGN or APP_CAMPAIGN_FOR_ENGAGEMENT as AdvertisingChannelSubType."
          }
        },
        "targetRoas": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TargetRoas",
          "traits": {
            "smithy.api#documentation": "Standard Target ROAS bidding strategy that automatically maximizes revenue while averaging a specific target return on ad spend (ROAS)."
          }
        },
        "optimizationGoalSetting": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting",
          "traits": {
            "smithy.api#documentation": "Optimization goal setting for this campaign, which includes a set of optimization goal types."
          }
        },
        "advertisingChannelSubType": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdvertisingChannelSubTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Optional refinement to `advertising_channel_type`. Must be a valid sub-type of the parent channel type. Can be set only when creating campaigns. After campaign is created, the field can not be changed."
          }
        },
        "manualCpm": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__ManualCpm",
          "traits": {
            "smithy.api#documentation": "Standard Manual CPM bidding strategy. Manual impression-based bidding where user pays per thousand impressions."
          }
        },
        "finalUrlSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Suffix used to append query parameters to landing pages that are served with parallel tracking."
          }
        },
        "accessibleBiddingStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of AccessibleBiddingStrategy, a read-only view of the unrestricted attributes of the attached portfolio bidding strategy identified by 'bidding_strategy'. Empty, if the campaign does not use a portfolio strategy. Unrestricted strategy attributes are available to all customers with whom the strategy is shared and are read from the AccessibleBiddingStrategy resource. In contrast, restricted attributes are only available to the owner customer of the strategy and their managers. Restricted attributes can only be read from the BiddingStrategy resource."
          }
        },
        "excludedParentAssetFieldTypes": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignExcludedParentAssetFieldTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The asset field types that should be excluded from this campaign. Asset links with these field types will not be inherited by this campaign from the upper level."
          }
        },
        "effectiveLabels": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource names of effective labels attached to this campaign. An effective label is a label inherited or directly assigned to this campaign."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this campaign was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format. create_time will be deprecated in v1. Use creation_time instead."
          }
        },
        "feedTypes": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignFeedTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Types of feeds that are attached directly to this campaign."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the campaign. Campaign resource names have the form: `customers/{customer_id}/campaigns/{campaign_id}`"
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this campaign was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format."
          }
        },
        "frequencyCaps": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__FrequencyCapEntryList",
          "traits": {
            "smithy.api#documentation": "A list that limits how often each user will see this campaign's ads."
          }
        },
        "status": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the campaign. When a new campaign is added, the status defaults to ENABLED."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the campaign."
          }
        },
        "biddingStrategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the portfolio bidding strategy used by the campaign."
          }
        },
        "servingStatus": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignServingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The ad serving status of the campaign."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when campaign started in serving customer's timezone in YYYY-MM-DD format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A campaign."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdServingOptimizationStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "OPTIMIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZE"
          }
        },
        "CONVERSION_OPTIMIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSION_OPTIMIZE"
          }
        },
        "ROTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATE"
          }
        },
        "ROTATE_INDEFINITELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATE_INDEFINITELY"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdvertisingChannelTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH"
          }
        },
        "DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY"
          }
        },
        "SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING"
          }
        },
        "HOTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "MULTI_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_CHANNEL"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL"
          }
        },
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART"
          }
        },
        "PERFORMANCE_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE_MAX"
          }
        },
        "LOCAL_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_SERVICES"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL"
          }
        },
        "SOCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignBiddingStrategySystemStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "LEARNING_NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_NEW"
          }
        },
        "LEARNING_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_SETTING_CHANGE"
          }
        },
        "LEARNING_BUDGET_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_BUDGET_CHANGE"
          }
        },
        "LEARNING_COMPOSITION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_COMPOSITION_CHANGE"
          }
        },
        "LEARNING_CONVERSION_TYPE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_CONVERSION_TYPE_CHANGE"
          }
        },
        "LEARNING_CONVERSION_SETTING_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEARNING_CONVERSION_SETTING_CHANGE"
          }
        },
        "LIMITED_BY_CPC_BID_CEILING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_CPC_BID_CEILING"
          }
        },
        "LIMITED_BY_CPC_BID_FLOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_CPC_BID_FLOOR"
          }
        },
        "LIMITED_BY_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_DATA"
          }
        },
        "LIMITED_BY_BUDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_BUDGET"
          }
        },
        "LIMITED_BY_LOW_PRIORITY_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_LOW_PRIORITY_SPEND"
          }
        },
        "LIMITED_BY_LOW_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_LOW_QUALITY"
          }
        },
        "LIMITED_BY_INVENTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_BY_INVENTORY"
          }
        },
        "MISCONFIGURED_ZERO_ELIGIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED_ZERO_ELIGIBILITY"
          }
        },
        "MISCONFIGURED_CONVERSION_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED_CONVERSION_TYPES"
          }
        },
        "MISCONFIGURED_CONVERSION_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED_CONVERSION_SETTINGS"
          }
        },
        "MISCONFIGURED_SHARED_BUDGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED_SHARED_BUDGET"
          }
        },
        "MISCONFIGURED_STRATEGY_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURED_STRATEGY_TYPE"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "MULTIPLE_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_LEARNING"
          }
        },
        "MULTIPLE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_LIMITED"
          }
        },
        "MULTIPLE_MISCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_MISCONFIGURED"
          }
        },
        "MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignBiddingStrategyTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "COMMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMISSION"
          }
        },
        "ENHANCED_CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED_CPC"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "MANUAL_CPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CPA"
          }
        },
        "MANUAL_CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CPC"
          }
        },
        "MANUAL_CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CPM"
          }
        },
        "MANUAL_CPV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CPV"
          }
        },
        "MAXIMIZE_CONVERSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMIZE_CONVERSIONS"
          }
        },
        "MAXIMIZE_CONVERSION_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMIZE_CONVERSION_VALUE"
          }
        },
        "PAGE_ONE_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_ONE_PROMOTED"
          }
        },
        "PERCENT_CPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENT_CPC"
          }
        },
        "TARGET_CPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_CPA"
          }
        },
        "TARGET_CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_CPM"
          }
        },
        "TARGET_IMPRESSION_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_IMPRESSION_SHARE"
          }
        },
        "TARGET_OUTRANK_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_OUTRANK_SHARE"
          }
        },
        "TARGET_ROAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_ROAS"
          }
        },
        "TARGET_SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_SPEND"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__CustomParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__CustomParameter"
      }
    },
    "com.gcp.searchads360_v0#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignAdvertisingChannelSubTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "SEARCH_MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_MOBILE_APP"
          }
        },
        "DISPLAY_MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_MOBILE_APP"
          }
        },
        "SEARCH_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_EXPRESS"
          }
        },
        "DISPLAY_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_EXPRESS"
          }
        },
        "SHOPPING_SMART_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_SMART_ADS"
          }
        },
        "DISPLAY_GMAIL_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_GMAIL_AD"
          }
        },
        "DISPLAY_SMART_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_SMART_CAMPAIGN"
          }
        },
        "VIDEO_OUTSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_OUTSTREAM"
          }
        },
        "VIDEO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ACTION"
          }
        },
        "VIDEO_NON_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_NON_SKIPPABLE"
          }
        },
        "APP_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_CAMPAIGN"
          }
        },
        "APP_CAMPAIGN_FOR_ENGAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_CAMPAIGN_FOR_ENGAGEMENT"
          }
        },
        "LOCAL_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CAMPAIGN"
          }
        },
        "SHOPPING_COMPARISON_LISTING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_COMPARISON_LISTING_ADS"
          }
        },
        "SMART_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_CAMPAIGN"
          }
        },
        "VIDEO_SEQUENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_SEQUENCE"
          }
        },
        "APP_CAMPAIGN_FOR_PRE_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_CAMPAIGN_FOR_PRE_REGISTRATION"
          }
        },
        "VIDEO_REACH_TARGET_FREQUENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_REACH_TARGET_FREQUENCY"
          }
        },
        "TRAVEL_ACTIVITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL_ACTIVITIES"
          }
        },
        "SOCIAL_FACEBOOK_TRACKING_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOCIAL_FACEBOOK_TRACKING_ONLY"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignExcludedParentAssetFieldTypesItemEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADLINE"
          }
        },
        "DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCRIPTION"
          }
        },
        "MANDATORY_AD_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANDATORY_AD_TEXT"
          }
        },
        "MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARKETING_IMAGE"
          }
        },
        "MEDIA_BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_BUNDLE"
          }
        },
        "YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_VIDEO"
          }
        },
        "BOOK_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOK_ON_GOOGLE"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEAD_FORM"
          }
        },
        "PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTION"
          }
        },
        "CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALLOUT"
          }
        },
        "STRUCTURED_SNIPPET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED_SNIPPET"
          }
        },
        "SITELINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITELINK"
          }
        },
        "MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP"
          }
        },
        "HOTEL_CALLOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL_CALLOUT"
          }
        },
        "CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL"
          }
        },
        "PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE"
          }
        },
        "LONG_HEADLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_HEADLINE"
          }
        },
        "BUSINESS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_NAME"
          }
        },
        "SQUARE_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQUARE_MARKETING_IMAGE"
          }
        },
        "PORTRAIT_MARKETING_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PORTRAIT_MARKETING_IMAGE"
          }
        },
        "LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGO"
          }
        },
        "LANDSCAPE_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDSCAPE_LOGO"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "CALL_TO_ACTION_SELECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SELECTION"
          }
        },
        "AD_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_IMAGE"
          }
        },
        "BUSINESS_LOGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_LOGO"
          }
        },
        "HOTEL_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL_PROPERTY"
          }
        },
        "DISCOVERY_CAROUSEL_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_CAROUSEL_CARD"
          }
        },
        "LONG_DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LONG_DESCRIPTION"
          }
        },
        "CALL_TO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignExcludedParentAssetFieldTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignExcludedParentAssetFieldTypesItemEnum"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignFeedTypesItemEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PAGE_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE_FEED"
          }
        },
        "DYNAMIC_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_EDUCATION"
          }
        },
        "MERCHANT_CENTER_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_CENTER_FEED"
          }
        },
        "DYNAMIC_REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_REAL_ESTATE"
          }
        },
        "DYNAMIC_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_CUSTOM"
          }
        },
        "DYNAMIC_HOTELS_AND_RENTALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_HOTELS_AND_RENTALS"
          }
        },
        "DYNAMIC_FLIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_FLIGHTS"
          }
        },
        "DYNAMIC_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_TRAVEL"
          }
        },
        "DYNAMIC_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_LOCAL"
          }
        },
        "DYNAMIC_JOBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_JOBS"
          }
        },
        "LOCATION_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_SYNC"
          }
        },
        "BUSINESS_PROFILE_DYNAMIC_LOCATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_PROFILE_DYNAMIC_LOCATION_GROUP"
          }
        },
        "CHAIN_DYNAMIC_LOCATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAIN_DYNAMIC_LOCATION_GROUP"
          }
        },
        "STATIC_LOCATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATIC_LOCATION_GROUP"
          }
        },
        "HOTEL_PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOTEL_PROPERTY"
          }
        },
        "TRAVEL_FEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL_FEED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignFeedTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignFeedTypesItemEnum"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__FrequencyCapEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__FrequencyCapEntry"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__CampaignServingStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common__PolicyTopicConstraint": {
      "type": "structure",
      "members": {
        "countryConstraintList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicConstraint_CountryConstraintList",
          "traits": {
            "smithy.api#documentation": "Countries where the resource cannot serve."
          }
        },
        "certificateMissingInCountryList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicConstraint_CountryConstraintList",
          "traits": {
            "smithy.api#documentation": "Countries where a certificate is required for serving."
          }
        },
        "resellerConstraint": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicConstraint_ResellerConstraint",
          "traits": {
            "smithy.api#documentation": "Reseller constraint."
          }
        },
        "certificateDomainMismatchInCountryList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicConstraint_CountryConstraintList",
          "traits": {
            "smithy.api#documentation": "Countries where the resource's domain is not covered by the certificates associated with it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the effect on serving that a policy topic entry will have."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors__BudgetPerDayMinimumErrorDetails": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The advertiser's currency, represented as a three-letter ISO 4217 currency code (such as \"USD\")."
          }
        },
        "failedBudgetAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The budget amount value that was rejected as too low, in micros of the advertiser currency. Only set if this error is caused by the amount field value."
          }
        },
        "minimumBudgetTotalAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum value for the budget's total_amount field required by the campaign given its configured start and end time, in micros of the advertiser currency. Only set if this error is caused by the total_amount field value."
          }
        },
        "budgetPerDayMinimumMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum budget required by the campaign per day, in micros of the advertiser currency. Applies to both daily and custom budgets."
          }
        },
        "minimumBudgetAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum value for the budget's amount field required by the campaign, in micros of the advertiser currency. Only set if this error is caused by the amount field value."
          }
        },
        "failedBudgetTotalAmountMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The budget total_amount value that was rejected as too low, in micros of the advertiser currency. Only set if this error is caused by the total_amount field value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details for a budget below per-day minimum error."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__UnifiedCallAsset": {
      "type": "structure",
      "members": {
        "callConversionReportingState": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__UnifiedCallAssetCallConversionReportingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this CallAsset should use its own call conversion setting, follow the account level setting, or disable call conversion."
          }
        },
        "callTrackingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the call should be enabled on call tracking. Applies to Microsoft Ads."
          }
        },
        "adScheduleTargets": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__AdScheduleInfoList",
          "traits": {
            "smithy.api#documentation": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format."
          }
        },
        "useSearcherTimeZone": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to show the call extension in search user's time zone. Applies to Microsoft Ads."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Two-letter country code of the phone number. Examples: 'US', 'us'."
          }
        },
        "callOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the call only shows the phone number without a link to the website. Applies to Microsoft Ads."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The advertiser's raw phone number. Examples: '1234567890', '(123)456-7890'"
          }
        },
        "callConversionAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conversion action to attribute a call conversion to. If not set, the default conversion action is used. This field only has effect if call_conversion_reporting_state is set to USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A unified call asset."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__UnifiedCallAssetCallConversionReportingStateEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION"
          }
        },
        "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__AdScheduleInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__AdScheduleInfo"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__Label": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__LabelStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the label. Read only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the label. Read only."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Name of the resource. Label resource names have the form: `customers/{owner_customer_id}/labels/{label_id}`"
          }
        },
        "textLabel": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__TextLabel",
          "traits": {
            "smithy.api#documentation": "A type of label displaying text on a colored background."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the label. This field is required and should not be empty when creating a new label. The length of this string should be between 1 and 80, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__LabelStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common__PolicyTopicEvidence": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language the resource was detected to be written in. This is an IETF language tag such as \"en-US\"."
          }
        },
        "destinationMismatch": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicEvidence_DestinationMismatch",
          "traits": {
            "smithy.api#documentation": "Mismatch between the destinations of a resource's URLs."
          }
        },
        "websiteList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicEvidence_WebsiteList",
          "traits": {
            "smithy.api#documentation": "List of websites linked with this resource."
          }
        },
        "destinationNotWorking": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicEvidence_DestinationNotWorking",
          "traits": {
            "smithy.api#documentation": "Details when the destination is returning an HTTP error code or isn't functional in all locations for commonly used devices."
          }
        },
        "textList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicEvidence_TextList",
          "traits": {
            "smithy.api#documentation": "List of evidence found in the text of a resource."
          }
        },
        "destinationTextList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common_PolicyTopicEvidence_DestinationTextList",
          "traits": {
            "smithy.api#documentation": "The text in the destination of the resource that is causing a policy finding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information that explains a policy finding."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors__SearchAds360Failure": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors__SearchAds360ErrorList",
          "traits": {
            "smithy.api#documentation": "The list of errors that occurred."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the request that is used for debugging purposes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a Search Ads 360 API call failed. It's returned inside google.rpc.Status.details when a call fails."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors__SearchAds360ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Errors__SearchAds360Error"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conversion custom variable ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user defined name of the raw event metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for raw event conversion metric header."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V23Common__Value": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double."
          }
        },
        "floatValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A float."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An int64."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic data container."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterion": {
      "type": "structure",
      "members": {
        "criterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the criterion."
          }
        },
        "engineStatus": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionEngineStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The Engine Status for ad group criterion."
          }
        },
        "finalMobileUrls": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "The list of possible final mobile URLs after all cross-domain redirects."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The datetime when this ad group criterion was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format."
          }
        },
        "listingGroup": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__ListingGroupInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Listing group."
          }
        },
        "ageRange": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__AgeRangeInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Age range."
          }
        },
        "qualityInfo": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_AdGroupCriterion_QualityInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information regarding the quality of the criterion."
          }
        },
        "effectiveCpcBidMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The effective CPC (cost-per-click) bid."
          }
        },
        "engineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the ad group criterion in the external engine account. This field is for non-Google Ads account only, for example, Yahoo Japan, Microsoft, Baidu etc. For Google Ads entity, use \"ad_group_criterion.criterion_id\" instead."
          }
        },
        "userList": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__UserListInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. User List."
          }
        },
        "location": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__LocationInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Location."
          }
        },
        "trackingUrlTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL template for constructing a tracking URL."
          }
        },
        "status": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the criterion. This is the status of the ad group criterion entity, set by the client. Note: UI reports may incorporate additional information that affects whether a criterion is eligible to run. In some cases a criterion that's REMOVED in the API can still show as enabled in the UI. For example, campaigns by default show to users of all age ranges unless excluded. The UI will show each age range as \"enabled\", since they're eligible to see the ads; but AdGroupCriterion.status will show \"removed\", since no positive criterion was added."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when this ad group criterion was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format."
          }
        },
        "adGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The ad group to which the criterion belongs."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the ad group criterion. Ad group criterion resource names have the form: `customers/{customer_id}/adGroupCriteria/{ad_group_id}~{criterion_id}`"
          }
        },
        "bidModifier": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Most targetable criteria types support modifiers."
          }
        },
        "negative": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Immutable. Whether to target (`false`) or exclude (`true`) the criterion. This field is immutable. To switch a criterion from positive to negative, remove then re-add it."
          }
        },
        "webpage": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__WebpageInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Webpage"
          }
        },
        "type": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the criterion."
          }
        },
        "labels": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource names of labels attached to this ad group criterion."
          }
        },
        "gender": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__GenderInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Gender."
          }
        },
        "urlCustomParameters": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__CustomParameterList",
          "traits": {
            "smithy.api#documentation": "The list of mappings used to substitute custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`."
          }
        },
        "positionEstimates": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources_AdGroupCriterion_PositionEstimates",
          "traits": {
            "smithy.api#documentation": "Output only. Estimates for criterion bids at various positions."
          }
        },
        "effectiveLabels": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource names of effective labels attached to this ad group criterion. An effective label is a label inherited or directly assigned to this ad group criterion."
          }
        },
        "cpcBidMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CPC (cost-per-click) bid."
          }
        },
        "finalUrls": {
          "target": "com.gcp.searchads360_v0#StringList",
          "traits": {
            "smithy.api#documentation": "The list of possible final URLs after all cross-domain redirects for the ad."
          }
        },
        "finalUrlSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL template for appending params to final URL."
          }
        },
        "keyword": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__KeywordInfo",
          "traits": {
            "smithy.api#documentation": "Immutable. Keyword."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ad group criterion. The ad_group_criterion report only returns criteria that were explicitly added to the ad group."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionEngineStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "AD_GROUP_CRITERION_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_ELIGIBLE"
          }
        },
        "AD_GROUP_CRITERION_INAPPROPRIATE_FOR_CAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_INAPPROPRIATE_FOR_CAMPAIGN"
          }
        },
        "AD_GROUP_CRITERION_INVALID_MOBILE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_INVALID_MOBILE_SEARCH"
          }
        },
        "AD_GROUP_CRITERION_INVALID_PC_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_INVALID_PC_SEARCH"
          }
        },
        "AD_GROUP_CRITERION_INVALID_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_INVALID_SEARCH"
          }
        },
        "AD_GROUP_CRITERION_LOW_SEARCH_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_LOW_SEARCH_VOLUME"
          }
        },
        "AD_GROUP_CRITERION_MOBILE_URL_UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_MOBILE_URL_UNDER_REVIEW"
          }
        },
        "AD_GROUP_CRITERION_PARTIALLY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_PARTIALLY_INVALID"
          }
        },
        "AD_GROUP_CRITERION_TO_BE_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_TO_BE_ACTIVATED"
          }
        },
        "AD_GROUP_CRITERION_UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_UNDER_REVIEW"
          }
        },
        "AD_GROUP_CRITERION_NOT_REVIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_NOT_REVIEWED"
          }
        },
        "AD_GROUP_CRITERION_ON_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_ON_HOLD"
          }
        },
        "AD_GROUP_CRITERION_PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_PENDING_REVIEW"
          }
        },
        "AD_GROUP_CRITERION_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_PAUSED"
          }
        },
        "AD_GROUP_CRITERION_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_REMOVED"
          }
        },
        "AD_GROUP_CRITERION_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_APPROVED"
          }
        },
        "AD_GROUP_CRITERION_DISAPPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_DISAPPROVED"
          }
        },
        "AD_GROUP_CRITERION_SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_SERVING"
          }
        },
        "AD_GROUP_CRITERION_ACCOUNT_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_GROUP_CRITERION_ACCOUNT_PAUSED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__AdGroupCriterionTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "KEYWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD"
          }
        },
        "PLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLACEMENT"
          }
        },
        "MOBILE_APP_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_CATEGORY"
          }
        },
        "MOBILE_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APPLICATION"
          }
        },
        "DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE"
          }
        },
        "LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION"
          }
        },
        "LISTING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LISTING_GROUP"
          }
        },
        "AD_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SCHEDULE"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        },
        "INCOME_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOME_RANGE"
          }
        },
        "PARENTAL_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENTAL_STATUS"
          }
        },
        "YOUTUBE_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_VIDEO"
          }
        },
        "YOUTUBE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHANNEL"
          }
        },
        "USER_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LIST"
          }
        },
        "PROXIMITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXIMITY"
          }
        },
        "TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPIC"
          }
        },
        "LISTING_SCOPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LISTING_SCOPE"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE"
          }
        },
        "IP_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_BLOCK"
          }
        },
        "CONTENT_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_LABEL"
          }
        },
        "CARRIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARRIER"
          }
        },
        "USER_INTEREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTEREST"
          }
        },
        "WEBPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBPAGE"
          }
        },
        "OPERATING_SYSTEM_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_SYSTEM_VERSION"
          }
        },
        "APP_PAYMENT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_PAYMENT_MODEL"
          }
        },
        "MOBILE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_DEVICE"
          }
        },
        "CUSTOM_AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_AFFINITY"
          }
        },
        "CUSTOM_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_INTENT"
          }
        },
        "LOCATION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_GROUP"
          }
        },
        "CUSTOM_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_AUDIENCE"
          }
        },
        "COMBINED_AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMBINED_AUDIENCE"
          }
        },
        "KEYWORD_THEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYWORD_THEME"
          }
        },
        "AUDIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIENCE"
          }
        },
        "LOCAL_SERVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_SERVICE_ID"
          }
        },
        "BRAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRAND"
          }
        },
        "BRAND_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRAND_LIST"
          }
        },
        "LIFE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFE_EVENT"
          }
        }
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__KeywordView": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the keyword view. Keyword view resource names have the form: `customers/{customer_id}/keywordViews/{ad_group_id}~{criterion_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A keyword view."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__WebpageInfo": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__WebpageConditionInfoList",
          "traits": {
            "smithy.api#documentation": "Conditions, or logical expressions, for webpage targeting. The list of webpage targeting conditions are and-ed together when evaluated for targeting. An empty list of conditions indicates all pages of the campaign's website are targeted. This field is required for CREATE operations and is prohibited on UPDATE operations."
          }
        },
        "coveragePercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Website criteria coverage percentage. This is the computed percentage of website coverage based on the website target, negative website target and negative keywords in the ad group and campaign. For instance, when coverage returns as 1, it indicates it has 100% coverage. This field is read-only."
          }
        },
        "criterionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the criterion that is defined by this parameter. The name value will be used for identifying, sorting and filtering criteria with this type of parameters. This field is required for CREATE operations and is prohibited on UPDATE operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a criterion for targeting webpages of an advertiser's website."
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__WebpageConditionInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Common__WebpageConditionInfo"
      }
    },
    "com.gcp.searchads360_v0#GoogleAdsSearchads360V0Resources__ConversionCustomVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the conversion custom variable. Name should be unique. The maximum length of name is 100 characters. There should not be any extra spaces before and after."
          }
        },
        "ownerCustomer": {
          "target": "smithy.api#String",
[...]
