{
  "smithy": "2.0",
  "metadata": {
    "service": "secretmanager",
    "version": "v1beta2",
    "title": "Secret Manager API",
    "baseUrl": "https://secretmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.secretmanager_v1beta2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.secretmanager_v1beta2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.secretmanager_v1beta2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#Location"
      }
    },
    "com.gcp.secretmanager_v1beta2#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.secretmanager_v1beta2#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.secretmanager_v1beta2#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#AuditLogConfig"
      }
    },
    "com.gcp.secretmanager_v1beta2#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.secretmanager_v1beta2#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.secretmanager_v1beta2#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.secretmanager_v1beta2#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#Binding"
      }
    },
    "com.gcp.secretmanager_v1beta2#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#AuditConfig"
      }
    },
    "com.gcp.secretmanager_v1beta2#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.secretmanager_v1beta2#EnableSecretVersionRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SecretManagerService.EnableSecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#Rotation": {
      "type": "structure",
      "members": {
        "nextRotationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Timestamp in UTC at which the Secret is scheduled to rotate. Cannot be set to less than 300s (5 min) in the future and at most 3153600000s (100 years). next_rotation_time MUST be set if rotation_period is set."
          }
        },
        "rotationPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The Duration between rotation notifications. Must be in seconds and at least 3600s (1h) and at most 3153600000s (100 years). If rotation_period is set, next_rotation_time must be set. next_rotation_time will be advanced by this period when the service automatically sends rotation notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The rotation time and period for a Secret. At next_rotation_time, Secret Manager will send a Pub/Sub notification to the topics configured on the Secret. Secret.topics must be set to configure rotation."
      }
    },
    "com.gcp.secretmanager_v1beta2#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.gcp.secretmanager_v1beta2#SecretList",
          "traits": {
            "smithy.api#documentation": "The list of Secrets sorted in reverse by create_time (newest first)."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of Secrets but 0 when the ListSecretsRequest.filter field is set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in ListSecretsRequest.page_token to retrieve the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SecretManagerService.ListSecrets."
      }
    },
    "com.gcp.secretmanager_v1beta2#SecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#Secret"
      }
    },
    "com.gcp.secretmanager_v1beta2#AutomaticStatus": {
      "type": "structure",
      "members": {
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The replication status of a SecretVersion using automatic replication. Only populated if the parent Secret has an automatic replication policy."
      }
    },
    "com.gcp.secretmanager_v1beta2#CustomerManagedEncryptionStatus": {
      "type": "structure",
      "members": {
        "kmsKeyVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Cloud KMS CryptoKeyVersion used to encrypt the secret payload, in the following format: `projects/*/locations/*/keyRings/*/cryptoKeys/*/versions/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the status of customer-managed encryption."
      }
    },
    "com.gcp.secretmanager_v1beta2#Replication": {
      "type": "structure",
      "members": {
        "automatic": {
          "target": "com.gcp.secretmanager_v1beta2#Automatic",
          "traits": {
            "smithy.api#documentation": "The Secret will automatically be replicated without any restrictions."
          }
        },
        "userManaged": {
          "target": "com.gcp.secretmanager_v1beta2#UserManaged",
          "traits": {
            "smithy.api#documentation": "The Secret will only be replicated into the locations specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy that defines the replication and encryption configuration of data."
      }
    },
    "com.gcp.secretmanager_v1beta2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.secretmanager_v1beta2#SecretVersion": {
      "type": "structure",
      "members": {
        "replicationStatus": {
          "target": "com.gcp.secretmanager_v1beta2#ReplicationStatus",
          "traits": {
            "smithy.api#documentation": "The replication status of the SecretVersion."
          }
        },
        "scheduledDestroyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Scheduled destroy time for secret version. This is a part of the Delayed secret version destroy feature. For a Secret with a valid version destroy TTL, when a secert version is destroyed, version is moved to disabled state and it is scheduled for destruction Version is destroyed only after the scheduled_destroy_time."
          }
        },
        "destroyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this SecretVersion was destroyed. Only present if state is DESTROYED."
          }
        },
        "clientSpecifiedPayloadChecksum": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if payload checksum specified in SecretPayload object has been received by SecretManagerService on SecretManagerService.AddSecretVersion."
          }
        },
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used and Secret is a Regionalised Secret."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*`. SecretVersion IDs in a Secret start at 1 and are incremented for each subsequent version of the secret."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag of the currently stored SecretVersion."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the SecretVersion was created."
          }
        },
        "state": {
          "target": "com.gcp.secretmanager_v1beta2#SecretVersionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the SecretVersion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A secret version resource in the Secret Manager API."
      }
    },
    "com.gcp.secretmanager_v1beta2#SecretVersionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DESTROYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTROYED"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#ListSecretVersionsResponse": {
      "type": "structure",
      "members": {
        "versions": {
          "target": "com.gcp.secretmanager_v1beta2#SecretVersionList",
          "traits": {
            "smithy.api#documentation": "The list of SecretVersions sorted in reverse by create_time (newest first)."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of SecretVersions but 0 when the ListSecretsRequest.filter field is set."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in ListSecretVersionsRequest.page_token to retrieve the next page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SecretManagerService.ListSecretVersions."
      }
    },
    "com.gcp.secretmanager_v1beta2#SecretVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      }
    },
    "com.gcp.secretmanager_v1beta2#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.secretmanager_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.secretmanager_v1beta2#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.secretmanager_v1beta2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.secretmanager_v1beta2#ReplicaStatus": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical ID of the replica location. For example: `\"us-east1\"`."
          }
        },
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The customer-managed encryption status of the SecretVersion. Only populated if customer-managed encryption is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the status of a user-managed replica for the SecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#OperationMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the operation was created."
          }
        },
        "progress": {
          "target": "com.gcp.secretmanager_v1beta2#Progress",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the progress of the operation. This field is populated for operations that involve processing multiple secret versions."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.secretmanager_v1beta2#DestroySecretVersionRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SecretManagerService.DestroySecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.secretmanager_v1beta2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.secretmanager_v1beta2#AddSecretVersionRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.gcp.secretmanager_v1beta2#SecretPayload",
          "traits": {
            "smithy.api#documentation": "Required. The secret payload of the SecretVersion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SecretManagerService.AddSecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#DisableSecretVersionRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the SecretVersion. The request succeeds if it matches the etag of the currently stored secret version object. If the etag is omitted, the request succeeds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SecretManagerService.DisableSecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#SecretPayload": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret data. Must be no larger than 64KiB."
          }
        },
        "dataCrc32c": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, SecretManagerService will verify the integrity of the received data on SecretManagerService.AddSecretVersion calls using the crc32c checksum and store it to include in future SecretManagerService.AccessSecretVersion responses. If a checksum is not provided in the SecretManagerService.AddSecretVersion request, the SecretManagerService will generate and store one for you. The CRC32C value is encoded as a Int64 for compatibility, and can be safely downconverted to uint32 in languages that support this type. https://cloud.google.com/apis/design/design_patterns#integer_types"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A secret payload resource in the Secret Manager API. This contains the sensitive secret payload that is associated with a SecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.secretmanager_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.secretmanager_v1beta2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.secretmanager_v1beta2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.secretmanager_v1beta2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.secretmanager_v1beta2#AccessSecretVersionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`."
          }
        },
        "payload": {
          "target": "com.gcp.secretmanager_v1beta2#SecretPayload",
          "traits": {
            "smithy.api#documentation": "Secret payload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SecretManagerService.AccessSecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#CustomerManagedEncryption": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Cloud KMS CryptoKey used to encrypt secret payloads. For secrets using the UserManaged replication policy type, Cloud KMS CryptoKeys must reside in the same location as the replica location. For secrets using the Automatic replication policy type, Cloud KMS CryptoKeys must reside in `global`. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for encrypting secret payloads using customer-managed encryption keys (CMEK)."
      }
    },
    "com.gcp.secretmanager_v1beta2#Progress": {
      "type": "structure",
      "members": {
        "completedVersionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of secret versions that have been successfully processed so far."
          }
        },
        "failedVersionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of secret versions that failed to process."
          }
        },
        "totalVersionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Provides the total number of secret versions to be processed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents progress information for operations involving multiple secret versions."
      }
    },
    "com.gcp.secretmanager_v1beta2#UserManagedStatus": {
      "type": "structure",
      "members": {
        "replicas": {
          "target": "com.gcp.secretmanager_v1beta2#ReplicaStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of replica statuses for the SecretVersion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The replication status of a SecretVersion using user-managed replication. Only populated if the parent Secret has a user-managed replication policy."
      }
    },
    "com.gcp.secretmanager_v1beta2#ReplicaStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#ReplicaStatus"
      }
    },
    "com.gcp.secretmanager_v1beta2#Replica": {
      "type": "structure",
      "members": {
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryption",
          "traits": {
            "smithy.api#documentation": "Optional. The customer-managed encryption configuration of the User-Managed Replica. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical IDs of the location to replicate data. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Replica for this Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.secretmanager_v1beta2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.secretmanager_v1beta2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#DocumentMap"
      }
    },
    "com.gcp.secretmanager_v1beta2#Secret": {
      "type": "structure",
      "members": {
        "rotation": {
          "target": "com.gcp.secretmanager_v1beta2#Rotation",
          "traits": {
            "smithy.api#documentation": "Optional. Rotation policy attached to the Secret. May be excluded if there is no rotation policy."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Secret was created."
          }
        },
        "labels": {
          "target": "com.gcp.secretmanager_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels assigned to this Secret. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `\\p{Ll}\\p{Lo}{0,62}` Label values must be between 0 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}` No more than 64 labels can be assigned to a given resource."
          }
        },
        "versionAliases": {
          "target": "com.gcp.secretmanager_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping from version alias to version name. A version alias is a string with a maximum length of 63 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore ('_') characters. An alias string must start with a letter and cannot be the string 'latest' or 'NEW'. No more than 50 aliases can be assigned to a given secret. Version-Alias pairs will be viewable via GetSecret and modifiable via UpdateSecret. Access by alias is only supported for GetSecretVersion and AccessSecretVersion."
          }
        },
        "versionDestroyTtl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Secret Version TTL after destruction request This is a part of the Delayed secret version destroy feature. For secret with TTL>0, version destruction doesn't happen immediately on calling destroy instead the version goes to a disabled state and destruction happens after the TTL expires."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The TTL for the Secret."
          }
        },
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryption",
          "traits": {
            "smithy.api#documentation": "Optional. The customer-managed encryption configuration of the Regionalised Secrets. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions."
          }
        },
        "replication": {
          "target": "com.gcp.secretmanager_v1beta2#Replication",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The replication policy of the secret data attached to the Secret. The replication policy cannot be changed after the Secret has been created."
          }
        },
        "annotations": {
          "target": "com.gcp.secretmanager_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Custom metadata about the secret. Annotations are distinct from various forms of labels. Annotations exist to allow client tools to store their own state information without requiring a database. Annotation keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, begin and end with an alphanumeric character ([a-z0-9A-Z]), and may have dashes (-), underscores (_), dots (.), and alphanumerics in between these symbols. The total size of annotation keys and values must be less than 16KiB."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Timestamp in UTC when the Secret is scheduled to expire. This is always provided on output, regardless of what was sent on input."
          }
        },
        "topics": {
          "target": "com.gcp.secretmanager_v1beta2#TopicList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of up to 10 Pub/Sub topics to which messages are published when control plane operations are called on the secret or its versions."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the currently stored Secret."
          }
        },
        "tags": {
          "target": "com.gcp.secretmanager_v1beta2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Mapping of Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" Tags are used to organize and group resources. Tags can be used to control policy evaluation for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Secret is a logical secret whose value and versions can be accessed. A Secret is made up of zero or more SecretVersions that represent the secret data."
      }
    },
    "com.gcp.secretmanager_v1beta2#TopicList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#Topic"
      }
    },
    "com.gcp.secretmanager_v1beta2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.secretmanager_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.secretmanager_v1beta2#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.secretmanager_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.secretmanager_v1beta2#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.secretmanager_v1beta2#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.secretmanager_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.secretmanager_v1beta2#Automatic": {
      "type": "structure",
      "members": {
        "customerManagedEncryption": {
          "target": "com.gcp.secretmanager_v1beta2#CustomerManagedEncryption",
          "traits": {
            "smithy.api#documentation": "Optional. The customer-managed encryption configuration of the Secret. If no configuration is provided, Google-managed default encryption is used. Updates to the Secret encryption configuration only apply to SecretVersions added afterwards. They do not apply retroactively to existing SecretVersions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A replication policy that replicates the Secret payload without any restrictions."
      }
    },
    "com.gcp.secretmanager_v1beta2#UserManaged": {
      "type": "structure",
      "members": {
        "replicas": {
          "target": "com.gcp.secretmanager_v1beta2#ReplicaList",
          "traits": {
            "smithy.api#documentation": "Required. The list of Replicas for this Secret. Cannot be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A replication policy that replicates the Secret payload into the locations specified in Replication.UserManaged.replicas"
      }
    },
    "com.gcp.secretmanager_v1beta2#ReplicaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.secretmanager_v1beta2#Replica"
      }
    },
    "com.gcp.secretmanager_v1beta2#Topic": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Pub/Sub topic that will be published to, in the following format: `projects/*/topics/*`. For publication to succeed, the Secret Manager service agent must have the `pubsub.topic.publish` permission on the topic. The Pub/Sub Publisher role (`roles/pubsub.publisher`) includes this permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Pub/Sub topic which Secret Manager will publish to when control plane events occur on this secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#ReplicationStatus": {
      "type": "structure",
      "members": {
        "userManaged": {
          "target": "com.gcp.secretmanager_v1beta2#UserManagedStatus",
          "traits": {
            "smithy.api#documentation": "Describes the replication status of a SecretVersion with user-managed replication. Only populated if the parent Secret has a user-managed replication policy."
          }
        },
        "automatic": {
          "target": "com.gcp.secretmanager_v1beta2#AutomaticStatus",
          "traits": {
            "smithy.api#documentation": "Describes the replication status of a SecretVersion with automatic replication. Only populated if the parent Secret has an automatic replication policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The replication status of a SecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.secretmanager_v1beta2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.secretmanager_v1beta2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.secretmanager_v1beta2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.secretmanager_v1beta2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.secretmanager_v1beta2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Location"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#ListSecretsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+parent}/secrets"
        },
        "smithy.api#documentation": "Lists Secrets.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#AddVersionProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#AddSecretVersionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.secretmanager_v1beta2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.secretmanager_v1beta2#AddVersionProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#AddVersionProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+parent}:addVersion"
        },
        "smithy.api#documentation": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set."
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Secret"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Gets metadata for a given Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#DeleteProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
            "smithy.api#httpQuery": "etag"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#DeleteProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#DeleteProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Deletes a Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified secret. Replaces any existing policy. Permissions on SecretVersions are enforced according to the policy set on the associated Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#TestIamPermissionsProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#TestIamPermissionsProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#TestIamPermissionsProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has for the specified secret. If the secret does not exist, this call returns an empty set of permissions, not a NOT_FOUND error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.secretmanager_v1beta2#CreateProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project to associate with the Secret, in the format `projects/*` or `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This must be unique within the project. A secret ID is a string with a maximum length of 255 characters and can contain uppercase and lowercase letters, numerals, and the hyphen (`-`) and underscore (`_`) characters.",
            "smithy.api#httpQuery": "secretId"
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#Secret",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#CreateProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#CreateProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Secret"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+parent}/secrets"
        },
        "smithy.api#documentation": "Creates a new Secret containing no SecretVersions."
      }
    },
    "com.gcp.secretmanager_v1beta2#PatchProjectsLocationsSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Secret in the format `projects/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#Secret",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#PatchProjectsLocationsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#PatchProjectsLocationsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Secret"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Updates metadata of an existing Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Gets metadata for a SecretVersion. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#DisableProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the SecretVersion to disable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#DisableSecretVersionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#DisableProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#DisableProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+name}:disable"
        },
        "smithy.api#documentation": "Disables a SecretVersion. Sets the state of the SecretVersion to DISABLED."
      }
    },
    "com.gcp.secretmanager_v1beta2#AccessProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the SecretVersion in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`. `projects/*/secrets/*/versions/latest` or `projects/*/locations/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#AccessProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#AccessProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#AccessSecretVersionResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}:access"
        },
        "smithy.api#documentation": "Accesses a SecretVersion. This call returns the secret data. `projects/*/secrets/*/versions/latest` is an alias to the most recently created SecretVersion."
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret associated with the SecretVersions to list, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pagination token, returned earlier via ListSecretVersionsResponse.next_page_token][].",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secret versions matching the filter. If filter is empty, all secret versions are listed.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#ListProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#ListSecretVersionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+parent}/versions"
        },
        "smithy.api#documentation": "Lists SecretVersions. This call does not return secret data.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#EnableProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the SecretVersion to enable in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#EnableSecretVersionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#EnableProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#EnableProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+name}:enable"
        },
        "smithy.api#documentation": "Enables a SecretVersion. Sets the state of the SecretVersion to ENABLED."
      }
    },
    "com.gcp.secretmanager_v1beta2#DestroyProjectsLocationsSecretsVersionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the SecretVersion to destroy in the format `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#DestroySecretVersionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#DestroyProjectsLocationsSecretsVersions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#DestroyProjectsLocationsSecretsVersionsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+name}:destroy"
        },
        "smithy.api#documentation": "Destroys a SecretVersion. Sets the state of the SecretVersion to DESTROYED and irrevocably destroys the secret data."
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project associated with the Secrets, in the format `projects/*` or `projects/*/locations/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of results to be returned in a single page. If set to 0, the server decides the number of results to return. If the number is greater than 25000, it is capped at 25000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pagination token, returned earlier via ListSecretsResponse.next_page_token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string, adhering to the rules in [List-operation filtering](https://cloud.google.com/secret-manager/docs/filtering). List only secrets matching the filter. If filter is empty, all secrets are listed.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#ListProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#ListProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#ListSecretsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+parent}/secrets"
        },
        "smithy.api#documentation": "Lists Secrets.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#AddVersionProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret to associate with the SecretVersion in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#AddSecretVersionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#AddVersionProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#AddVersionProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#SecretVersion"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta2/{+parent}:addVersion"
        },
        "smithy.api#documentation": "Creates a new SecretVersion containing secret data and attaches it to an existing Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret, in the format `projects/*/secrets/*` or `projects/*/locations/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Secret"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Gets metadata for a given Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#DeleteProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Secret to delete in the format `projects/*/secrets/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Etag of the Secret. The request succeeds if it matches the etag of the currently stored secret object. If the etag is omitted, the request succeeds.",
            "smithy.api#httpQuery": "etag"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#DeleteProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#DeleteProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta2/{+name}"
        },
        "smithy.api#documentation": "Deletes a Secret."
      }
    },
    "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#GetIamPolicyProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta2/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a secret. Returns empty policy if the secret exists and does not have a policy set."
      }
    },
    "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsSecretsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.secretmanager_v1beta2#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsSecrets": {
      "type": "operation",
      "input": {
        "target": "com.gcp.secretmanager_v1beta2#SetIamPolicyProjectsSecretsRequest"
      },
      "output": {
        "target": "com.gcp.secretmanager_v1beta2#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.secretmanager_v1beta2#NotFound"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Forbidden"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#BadRequest"
        },
        {
          "target": "com.gcp.secretmanager_v1beta2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
[...]
