{
  "smithy": "2.0",
  "metadata": {
    "service": "securitycenter",
    "version": "v1beta2",
    "title": "Security Command Center API",
    "baseUrl": "https://securitycenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2VertexAi": {
      "type": "structure",
      "members": {
        "datasets": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DatasetList"
        },
        "pipelines": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2PipelineList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Dataset"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2PipelineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Pipeline"
      }
    },
    "com.gcp.securitycenter_v1beta2#ComplianceDetails": {
      "type": "structure",
      "members": {
        "frameworks": {
          "target": "com.gcp.securitycenter_v1beta2#FrameworkList"
        },
        "cloudControlDeploymentNames": {
          "target": "com.gcp.securitycenter_v1beta2#StringList"
        },
        "cloudControl": {
          "target": "com.gcp.securitycenter_v1beta2#CloudControl"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#FrameworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#Framework"
      }
    },
    "com.gcp.securitycenter_v1beta2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securitycenter_v1beta2#Subject": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.securitycenter_v1beta2#SubjectKindEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#SubjectKindEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SERVICEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICEACCOUNT"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Secret": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2SecretStatus"
        },
        "environmentVariable": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2SecretEnvironmentVariable"
        },
        "filePath": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2SecretFilePath"
        },
        "type": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "structure",
      "members": {
        "appliance": {
          "target": "smithy.api#String"
        },
        "backupTemplate": {
          "target": "smithy.api#String"
        },
        "storagePool": {
          "target": "smithy.api#String"
        },
        "policies": {
          "target": "com.gcp.securitycenter_v1beta2#StringList"
        },
        "applications": {
          "target": "com.gcp.securitycenter_v1beta2#StringList"
        },
        "backupCreateTime": {
          "target": "smithy.api#String"
        },
        "profile": {
          "target": "smithy.api#String"
        },
        "backupType": {
          "target": "smithy.api#String"
        },
        "policyOptions": {
          "target": "com.gcp.securitycenter_v1beta2#StringList"
        },
        "host": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Attack": {
      "type": "structure",
      "members": {
        "classification": {
          "target": "smithy.api#String"
        },
        "volumePpsLong": {
          "target": "smithy.api#String"
        },
        "volumeBpsLong": {
          "target": "smithy.api#String"
        },
        "volumePps": {
          "target": "smithy.api#Integer"
        },
        "volumeBps": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.securitycenter_v1beta2#StringList"
        },
        "type": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Framework": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "category": {
          "target": "com.gcp.securitycenter_v1beta2#FrameworkCategoryItemEnumList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "controls": {
          "target": "com.gcp.securitycenter_v1beta2#ControlList"
        },
        "type": {
          "target": "com.gcp.securitycenter_v1beta2#FrameworkTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#FrameworkCategoryItemEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_CATEGORY_UNSPECIFIED"
          }
        },
        "SECURITY_BENCHMARKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_BENCHMARKS"
          }
        },
        "ASSURED_WORKLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSURED_WORKLOADS"
          }
        },
        "DATA_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SECURITY"
          }
        },
        "GOOGLE_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_BEST_PRACTICES"
          }
        },
        "CUSTOM_FRAMEWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_FRAMEWORK"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#FrameworkCategoryItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#FrameworkCategoryItemEnum"
      }
    },
    "com.gcp.securitycenter_v1beta2#ControlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#Control"
      }
    },
    "com.gcp.securitycenter_v1beta2#FrameworkTypeEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_TYPE_UNSPECIFIED"
          }
        },
        "FRAMEWORK_TYPE_BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_TYPE_BUILT_IN"
          }
        },
        "FRAMEWORK_TYPE_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_TYPE_CUSTOM"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#KernelRootkit": {
      "type": "structure",
      "members": {
        "unexpectedCodeModification": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedFtraceHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedKernelCodePages": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedInterruptHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedReadOnlyDataModification": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedKprobeHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedSystemCallHandler": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#DataAccessEvent": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1beta2#DataAccessEventOperationEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#DataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Label": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#ContactDetails": {
      "type": "structure",
      "members": {
        "contacts": {
          "target": "com.gcp.securitycenter_v1beta2#ContactList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#ContactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#Contact"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEventOperationEnum"
        },
        "violatedLocation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Role": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.securitycenter_v1beta2#RoleKindEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#RoleKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        },
        "CLUSTER_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ROLE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#TicketInfo": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "assignee": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3": {
      "type": "structure",
      "members": {
        "availabilityImpact": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3AvailabilityImpactEnum"
        },
        "baseScore": {
          "target": "smithy.api#Double"
        },
        "userInteraction": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3UserInteractionEnum"
        },
        "attackComplexity": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3AttackComplexityEnum"
        },
        "integrityImpact": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3IntegrityImpactEnum"
        },
        "attackVector": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3AttackVectorEnum"
        },
        "scope": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3ScopeEnum"
        },
        "privilegesRequired": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3PrivilegesRequiredEnum"
        },
        "confidentialityImpact": {
          "target": "com.gcp.securitycenter_v1beta2#Cvssv3ConfidentialityImpactEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3AvailabilityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3UserInteractionEnum": {
      "type": "enum",
      "members": {
        "USER_INTERACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_UNSPECIFIED"
          }
        },
        "USER_INTERACTION_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_NONE"
          }
        },
        "USER_INTERACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_INTERACTION_REQUIRED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3AttackComplexityEnum": {
      "type": "enum",
      "members": {
        "ATTACK_COMPLEXITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_UNSPECIFIED"
          }
        },
        "ATTACK_COMPLEXITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_LOW"
          }
        },
        "ATTACK_COMPLEXITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_COMPLEXITY_HIGH"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3IntegrityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3AttackVectorEnum": {
      "type": "enum",
      "members": {
        "ATTACK_VECTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_UNSPECIFIED"
          }
        },
        "ATTACK_VECTOR_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_NETWORK"
          }
        },
        "ATTACK_VECTOR_ADJACENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_ADJACENT"
          }
        },
        "ATTACK_VECTOR_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_LOCAL"
          }
        },
        "ATTACK_VECTOR_PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACK_VECTOR_PHYSICAL"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3ScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_UNCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNCHANGED"
          }
        },
        "SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_CHANGED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3PrivilegesRequiredEnum": {
      "type": "enum",
      "members": {
        "PRIVILEGES_REQUIRED_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_UNSPECIFIED"
          }
        },
        "PRIVILEGES_REQUIRED_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_NONE"
          }
        },
        "PRIVILEGES_REQUIRED_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_LOW"
          }
        },
        "PRIVILEGES_REQUIRED_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGES_REQUIRED_HIGH"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#Cvssv3ConfidentialityImpactEnum": {
      "type": "enum",
      "members": {
        "IMPACT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_UNSPECIFIED"
          }
        },
        "IMPACT_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_HIGH"
          }
        },
        "IMPACT_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_LOW"
          }
        },
        "IMPACT_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#ExternalExposure": {
      "type": "structure",
      "members": {
        "publicIpAddress": {
          "target": "smithy.api#String"
        },
        "exposedEndpoint": {
          "target": "smithy.api#String"
        },
        "publicPort": {
          "target": "smithy.api#String"
        },
        "backendBucket": {
          "target": "smithy.api#String"
        },
        "httpResponse": {
          "target": "com.gcp.securitycenter_v1beta2#HttpResponseList"
        },
        "exposedApplication": {
          "target": "smithy.api#String"
        },
        "exposedService": {
          "target": "smithy.api#String"
        },
        "instanceGroup": {
          "target": "smithy.api#String"
        },
        "networkPathInsightsGenerationTime": {
          "target": "smithy.api#String"
        },
        "hostnameUri": {
          "target": "smithy.api#String"
        },
        "serviceFirewallPolicy": {
          "target": "smithy.api#String"
        },
        "pscNetworkAttachment": {
          "target": "smithy.api#String"
        },
        "privatePort": {
          "target": "smithy.api#String"
        },
        "loadBalancerFirewallPolicy": {
          "target": "smithy.api#String"
        },
        "forwardingRule": {
          "target": "smithy.api#String"
        },
        "networkIngressFirewallPolicy": {
          "target": "smithy.api#String"
        },
        "networkEndpointGroup": {
          "target": "smithy.api#String"
        },
        "privateIpAddress": {
          "target": "smithy.api#String"
        },
        "pscServiceAttachment": {
          "target": "smithy.api#String"
        },
        "internalBackendService": {
          "target": "smithy.api#String"
        },
        "backendService": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#HttpResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#HttpResponse"
      }
    },
    "com.gcp.securitycenter_v1beta2#Securitycenter_Object": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.gcp.securitycenter_v1beta2#ContainerList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "group": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#Container"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Finding": {
      "type": "structure",
      "members": {
        "securityMarks": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2SecurityMarks"
        },
        "indicator": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Indicator"
        },
        "toxicCombination": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ToxicCombination"
        },
        "policyViolationSummary": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2PolicyViolationSummary"
        },
        "externalUri": {
          "target": "smithy.api#String"
        },
        "connections": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ConnectionList"
        },
        "secret": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Secret"
        },
        "externalSystems": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ExternalSystemMap"
        },
        "findingClass": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingFindingClassEnum"
        },
        "disk": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Disk"
        },
        "cryptoKeyName": {
          "target": "smithy.api#String"
        },
        "dataFlowEvents": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEventList"
        },
        "muteUpdateTime": {
          "target": "smithy.api#String"
        },
        "attackExposure": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AttackExposure"
        },
        "kernelRootkit": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2KernelRootkit"
        },
        "backupDisasterRecovery": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2BackupDisasterRecovery"
        },
        "notebook": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Notebook"
        },
        "cloudDlpInspection": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2CloudDlpInspection"
        },
        "mute": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingMuteEnum"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "job": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Job"
        },
        "securityPosture": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2SecurityPosture"
        },
        "contacts": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ContactDetailsMap"
        },
        "artifactGuardPolicies": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ArtifactGuardPolicies"
        },
        "severity": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingSeverityEnum"
        },
        "processes": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ProcessList"
        },
        "vertexAi": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2VertexAi"
        },
        "cloudArmor": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2CloudArmor"
        },
        "externalExposure": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ExternalExposure"
        },
        "iamBindings": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IamBindingList"
        },
        "discoveredWorkload": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DiscoveredWorkload"
        },
        "state": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingStateEnum"
        },
        "groupMemberships": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2GroupMembershipList"
        },
        "sourceProperties": {
          "target": "com.gcp.securitycenter_v1beta2#DocumentMap"
        },
        "vulnerability": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Vulnerability"
        },
        "database": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Database"
        },
        "exfiltration": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Exfiltration"
        },
        "logEntries": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LogEntryList"
        },
        "mitreAttack": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2MitreAttack"
        },
        "iamDetails": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IamDetails"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "cloudDlpDataProfile": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2CloudDlpDataProfile"
        },
        "files": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FileList"
        },
        "ipRules": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IpRules"
        },
        "networks": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2NetworkList"
        },
        "loadBalancers": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LoadBalancerList"
        },
        "nextSteps": {
          "target": "smithy.api#String"
        },
        "kubernetes": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Kubernetes"
        },
        "muteInfo": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2MuteInfo"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "dataRetentionDeletionEvents": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataRetentionDeletionEventList"
        },
        "aiModel": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AiModel"
        },
        "moduleName": {
          "target": "smithy.api#String"
        },
        "compliances": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ComplianceList"
        },
        "affectedResources": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AffectedResources"
        },
        "canonicalName": {
          "target": "smithy.api#String"
        },
        "resourceName": {
          "target": "smithy.api#String"
        },
        "chokepoint": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Chokepoint"
        },
        "orgPolicies": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2OrgPolicyList"
        },
        "containers": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ContainerList"
        },
        "complianceDetails": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ComplianceDetails"
        },
        "dataAccessEvents": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEventList"
        },
        "access": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Access"
        },
        "agentDataAccessEvents": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AgentDataAccessEventList"
        },
        "category": {
          "target": "smithy.api#String"
        },
        "application": {
          "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Application"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "muteInitiator": {
          "target": "smithy.api#String"
        },
        "parentDisplayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Connection"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ExternalSystemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ExternalSystem"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingFindingClassEnum": {
      "type": "enum",
      "members": {
        "FINDING_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINDING_CLASS_UNSPECIFIED"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        },
        "MISCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURATION"
          }
        },
        "OBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVATION"
          }
        },
        "SCC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCC_ERROR"
          }
        },
        "POSTURE_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTURE_VIOLATION"
          }
        },
        "TOXIC_COMBINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOXIC_COMBINATION"
          }
        },
        "SENSITIVE_DATA_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_DATA_RISK"
          }
        },
        "CHOKEPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHOKEPOINT"
          }
        },
        "EXTERNAL_EXPOSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_EXPOSURE"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataFlowEvent"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingMuteEnum": {
      "type": "enum",
      "members": {
        "MUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTE_UNSPECIFIED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        },
        "UNMUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMUTED"
          }
        },
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ContactDetailsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ContactDetails"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ProcessList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Process"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IamBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2IamBinding"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FindingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2GroupMembershipList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2GroupMembership"
      }
    },
    "com.gcp.securitycenter_v1beta2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LogEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LogEntry"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2FileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2File"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2NetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Network"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LoadBalancerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2LoadBalancer"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataRetentionDeletionEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataRetentionDeletionEvent"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ComplianceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Compliance"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2OrgPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2OrgPolicy"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2Container"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2DataAccessEvent"
      }
    },
    "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AgentDataAccessEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#GoogleCloudSecuritycenterV2AgentDataAccessEvent"
      }
    },
    "com.gcp.securitycenter_v1beta2#IamBinding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "com.gcp.securitycenter_v1beta2#IamBindingActionEnum"
        },
        "member": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#IamBindingActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#IpRule": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "smithy.api#String"
        },
        "portRanges": {
          "target": "com.gcp.securitycenter_v1beta2#PortRangeList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#PortRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#PortRange"
      }
    },
    "com.gcp.securitycenter_v1beta2#ArtifactGuardPolicy": {
      "type": "structure",
      "members": {
        "policyId": {
          "target": "smithy.api#String"
        },
        "failureReason": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.securitycenter_v1beta2#ArtifactGuardPolicyTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#ArtifactGuardPolicyTypeEnum": {
      "type": "enum",
      "members": {
        "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttack": {
      "type": "structure",
      "members": {
        "primaryTechniques": {
          "target": "com.gcp.securitycenter_v1beta2#MitreAttackPrimaryTechniquesItemEnumList"
        },
        "additionalTechniques": {
          "target": "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTechniquesItemEnumList"
        },
        "additionalTactics": {
          "target": "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTacticsItemEnumList"
        },
        "primaryTactic": {
          "target": "com.gcp.securitycenter_v1beta2#MitreAttackPrimaryTacticEnum"
        },
        "version": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttackPrimaryTechniquesItemEnum": {
      "type": "enum",
      "members": {
        "TECHNIQUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNIQUE_UNSPECIFIED"
          }
        },
        "DATA_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION"
          }
        },
        "DATA_OBFUSCATION_STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION_STEGANOGRAPHY"
          }
        },
        "OS_CREDENTIAL_DUMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING"
          }
        },
        "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM"
          }
        },
        "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW"
          }
        },
        "DATA_FROM_LOCAL_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FROM_LOCAL_SYSTEM"
          }
        },
        "AUTOMATED_EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_EXFILTRATION"
          }
        },
        "OBFUSCATED_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBFUSCATED_FILES_OR_INFO"
          }
        },
        "STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEGANOGRAPHY"
          }
        },
        "COMPILE_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPILE_AFTER_DELIVERY"
          }
        },
        "COMMAND_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_OBFUSCATION"
          }
        },
        "SCHEDULED_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TRANSFER"
          }
        },
        "SYSTEM_OWNER_USER_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_OWNER_USER_DISCOVERY"
          }
        },
        "MASQUERADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASQUERADING"
          }
        },
        "MATCH_LEGITIMATE_NAME_OR_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_LEGITIMATE_NAME_OR_LOCATION"
          }
        },
        "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS"
          }
        },
        "STARTUP_ITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTUP_ITEMS"
          }
        },
        "NETWORK_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_DISCOVERY"
          }
        },
        "SCHEDULED_TASK_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB"
          }
        },
        "SCHEDULED_TASK_JOB_CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB_CRON"
          }
        },
        "CONTAINER_ORCHESTRATION_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ORCHESTRATION_JOB"
          }
        },
        "PROCESS_INJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_INJECTION"
          }
        },
        "INPUT_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE"
          }
        },
        "INPUT_CAPTURE_KEYLOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE_KEYLOGGING"
          }
        },
        "PROCESS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_DISCOVERY"
          }
        },
        "COMMAND_AND_SCRIPTING_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SCRIPTING_INTERPRETER"
          }
        },
        "UNIX_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIX_SHELL"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "EXPLOITATION_FOR_PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_PRIVILEGE_ESCALATION"
          }
        },
        "PERMISSION_GROUPS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_GROUPS_DISCOVERY"
          }
        },
        "CLOUD_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_GROUPS"
          }
        },
        "INDICATOR_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY"
          }
        },
        "INDICATOR_REMOVAL_FILE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_FILE_DELETION"
          }
        },
        "INDICATOR_REMOVAL_TIMESTOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_TIMESTOMP"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA"
          }
        },
        "APPLICATION_LAYER_PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_LAYER_PROTOCOL"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        },
        "SOFTWARE_DEPLOYMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_DEPLOYMENT_TOOLS"
          }
        },
        "VALID_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_ACCOUNTS"
          }
        },
        "DEFAULT_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACCOUNTS"
          }
        },
        "LOCAL_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNTS"
          }
        },
        "CLOUD_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNTS"
          }
        },
        "FILE_AND_DIRECTORY_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_AND_DIRECTORY_DISCOVERY"
          }
        },
        "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT"
          }
        },
        "PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY"
          }
        },
        "EXTERNAL_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PROXY"
          }
        },
        "MULTI_HOP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_HOP_PROXY"
          }
        },
        "ACCOUNT_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_MANIPULATION"
          }
        },
        "ADDITIONAL_CLOUD_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_CREDENTIALS"
          }
        },
        "ADDITIONAL_CLOUD_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_ROLES"
          }
        },
        "SSH_AUTHORIZED_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_AUTHORIZED_KEYS"
          }
        },
        "ADDITIONAL_CONTAINER_CLUSTER_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONTAINER_CLUSTER_ROLES"
          }
        },
        "MULTI_STAGE_CHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_STAGE_CHANNELS"
          }
        },
        "INGRESS_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TOOL_TRANSFER"
          }
        },
        "NATIVE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_API"
          }
        },
        "BRUTE_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRUTE_FORCE"
          }
        },
        "AUTOMATED_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_COLLECTION"
          }
        },
        "SHARED_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_MODULES"
          }
        },
        "DATA_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCODING"
          }
        },
        "STANDARD_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_ENCODING"
          }
        },
        "ACCESS_TOKEN_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN_MANIPULATION"
          }
        },
        "TOKEN_IMPERSONATION_OR_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_IMPERSONATION_OR_THEFT"
          }
        },
        "CREATE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ACCOUNT"
          }
        },
        "LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNT"
          }
        },
        "DEOBFUSCATE_DECODE_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEOBFUSCATE_DECODE_FILES_OR_INFO"
          }
        },
        "EXPLOIT_PUBLIC_FACING_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_PUBLIC_FACING_APPLICATION"
          }
        },
        "SUPPLY_CHAIN_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLY_CHAIN_COMPROMISE"
          }
        },
        "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS"
          }
        },
        "EXPLOITATION_FOR_CLIENT_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CLIENT_EXECUTION"
          }
        },
        "USER_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EXECUTION"
          }
        },
        "EXPLOITATION_FOR_CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CREDENTIAL_ACCESS"
          }
        },
        "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION"
          }
        },
        "DOMAIN_POLICY_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_POLICY_MODIFICATION"
          }
        },
        "DATA_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_DESTRUCTION"
          }
        },
        "DATA_ENCRYPTED_FOR_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCRYPTED_FOR_IMPACT"
          }
        },
        "SERVICE_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STOP"
          }
        },
        "INHIBIT_SYSTEM_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHIBIT_SYSTEM_RECOVERY"
          }
        },
        "FIRMWARE_CORRUPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_CORRUPTION"
          }
        },
        "RESOURCE_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_HIJACKING"
          }
        },
        "NETWORK_DENIAL_OF_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_DENIAL_OF_SERVICE"
          }
        },
        "CLOUD_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SERVICE_DISCOVERY"
          }
        },
        "STEAL_APPLICATION_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_APPLICATION_ACCESS_TOKEN"
          }
        },
        "ACCOUNT_ACCESS_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACCESS_REMOVAL"
          }
        },
        "TRANSFER_DATA_TO_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_DATA_TO_CLOUD_ACCOUNT"
          }
        },
        "STEAL_WEB_SESSION_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_WEB_SESSION_COOKIE"
          }
        },
        "CREATE_OR_MODIFY_SYSTEM_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_OR_MODIFY_SYSTEM_PROCESS"
          }
        },
        "EVENT_TRIGGERED_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TRIGGERED_EXECUTION"
          }
        },
        "BOOT_OR_LOGON_AUTOSTART_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_AUTOSTART_EXECUTION"
          }
        },
        "KERNEL_MODULES_AND_EXTENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERNEL_MODULES_AND_EXTENSIONS"
          }
        },
        "SHORTCUT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORTCUT_MODIFICATION"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING"
          }
        },
        "UNSECURED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSECURED_CREDENTIALS"
          }
        },
        "CREDENTIALS_IN_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_IN_FILES"
          }
        },
        "BASH_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASH_HISTORY"
          }
        },
        "PRIVATE_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_KEYS"
          }
        },
        "SUBVERT_TRUST_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBVERT_TRUST_CONTROL"
          }
        },
        "INSTALL_ROOT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_ROOT_CERTIFICATE"
          }
        },
        "COMPROMISE_HOST_SOFTWARE_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_HOST_SOFTWARE_BINARY"
          }
        },
        "CREDENTIALS_FROM_PASSWORD_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_FROM_PASSWORD_STORES"
          }
        },
        "MODIFY_AUTHENTICATION_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_AUTHENTICATION_PROCESS"
          }
        },
        "PLUGGABLE_AUTHENTICATION_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGGABLE_AUTHENTICATION_MODULES"
          }
        },
        "MULTI_FACTOR_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_FACTOR_AUTHENTICATION"
          }
        },
        "IMPAIR_DEFENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPAIR_DEFENSES"
          }
        },
        "DISABLE_OR_MODIFY_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_TOOLS"
          }
        },
        "INDICATOR_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_BLOCKING"
          }
        },
        "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM"
          }
        },
        "HIDE_ARTIFACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDE_ARTIFACTS"
          }
        },
        "HIDDEN_FILES_AND_DIRECTORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_FILES_AND_DIRECTORIES"
          }
        },
        "HIDDEN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_USERS"
          }
        },
        "EXFILTRATION_OVER_WEB_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_OVER_WEB_SERVICE"
          }
        },
        "EXFILTRATION_TO_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_TO_CLOUD_STORAGE"
          }
        },
        "DYNAMIC_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_RESOLUTION"
          }
        },
        "LATERAL_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_TOOL_TRANSFER"
          }
        },
        "HIJACK_EXECUTION_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW"
          }
        },
        "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING"
          }
        },
        "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE"
          }
        },
        "CREATE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SNAPSHOT"
          }
        },
        "CLOUD_INFRASTRUCTURE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_INFRASTRUCTURE_DISCOVERY"
          }
        },
        "DEVELOP_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES"
          }
        },
        "DEVELOP_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES"
          }
        },
        "OBTAIN_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES_VULNERABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_VULNERABILITIES"
          }
        },
        "ACTIVE_SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_SCANNING"
          }
        },
        "SCANNING_IP_BLOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_IP_BLOCKS"
          }
        },
        "STAGE_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_CAPABILITIES"
          }
        },
        "UPLOAD_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_MALWARE"
          }
        },
        "CONTAINER_ADMINISTRATION_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ADMINISTRATION_COMMAND"
          }
        },
        "DEPLOY_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_CONTAINER"
          }
        },
        "ESCAPE_TO_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCAPE_TO_HOST"
          }
        },
        "CONTAINER_AND_RESOURCE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_AND_RESOURCE_DISCOVERY"
          }
        },
        "REFLECTIVE_CODE_LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFLECTIVE_CODE_LOADING"
          }
        },
        "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES"
          }
        },
        "FINANCIAL_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINANCIAL_THEFT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttackPrimaryTechniquesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#MitreAttackPrimaryTechniquesItemEnum"
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTechniquesItemEnum": {
      "type": "enum",
      "members": {
        "TECHNIQUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNIQUE_UNSPECIFIED"
          }
        },
        "DATA_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION"
          }
        },
        "DATA_OBFUSCATION_STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_OBFUSCATION_STEGANOGRAPHY"
          }
        },
        "OS_CREDENTIAL_DUMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING"
          }
        },
        "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_PROC_FILESYSTEM"
          }
        },
        "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CREDENTIAL_DUMPING_ETC_PASSWORD_AND_ETC_SHADOW"
          }
        },
        "DATA_FROM_LOCAL_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FROM_LOCAL_SYSTEM"
          }
        },
        "AUTOMATED_EXFILTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_EXFILTRATION"
          }
        },
        "OBFUSCATED_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBFUSCATED_FILES_OR_INFO"
          }
        },
        "STEGANOGRAPHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEGANOGRAPHY"
          }
        },
        "COMPILE_AFTER_DELIVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPILE_AFTER_DELIVERY"
          }
        },
        "COMMAND_OBFUSCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_OBFUSCATION"
          }
        },
        "SCHEDULED_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TRANSFER"
          }
        },
        "SYSTEM_OWNER_USER_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_OWNER_USER_DISCOVERY"
          }
        },
        "MASQUERADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASQUERADING"
          }
        },
        "MATCH_LEGITIMATE_NAME_OR_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_LEGITIMATE_NAME_OR_LOCATION"
          }
        },
        "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_INITIALIZATION_SCRIPTS"
          }
        },
        "STARTUP_ITEMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTUP_ITEMS"
          }
        },
        "NETWORK_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_SERVICE_DISCOVERY"
          }
        },
        "SCHEDULED_TASK_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB"
          }
        },
        "SCHEDULED_TASK_JOB_CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED_TASK_JOB_CRON"
          }
        },
        "CONTAINER_ORCHESTRATION_JOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ORCHESTRATION_JOB"
          }
        },
        "PROCESS_INJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_INJECTION"
          }
        },
        "INPUT_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE"
          }
        },
        "INPUT_CAPTURE_KEYLOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_CAPTURE_KEYLOGGING"
          }
        },
        "PROCESS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESS_DISCOVERY"
          }
        },
        "COMMAND_AND_SCRIPTING_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_AND_SCRIPTING_INTERPRETER"
          }
        },
        "UNIX_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIX_SHELL"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "EXPLOITATION_FOR_PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_PRIVILEGE_ESCALATION"
          }
        },
        "PERMISSION_GROUPS_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_GROUPS_DISCOVERY"
          }
        },
        "CLOUD_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_GROUPS"
          }
        },
        "INDICATOR_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_LINUX_OR_MAC_SYSTEM_LOGS"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_COMMAND_HISTORY"
          }
        },
        "INDICATOR_REMOVAL_FILE_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_FILE_DELETION"
          }
        },
        "INDICATOR_REMOVAL_TIMESTOMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_TIMESTOMP"
          }
        },
        "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_REMOVAL_CLEAR_MAILBOX_DATA"
          }
        },
        "APPLICATION_LAYER_PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_LAYER_PROTOCOL"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        },
        "SOFTWARE_DEPLOYMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFTWARE_DEPLOYMENT_TOOLS"
          }
        },
        "VALID_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID_ACCOUNTS"
          }
        },
        "DEFAULT_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ACCOUNTS"
          }
        },
        "LOCAL_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNTS"
          }
        },
        "CLOUD_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNTS"
          }
        },
        "FILE_AND_DIRECTORY_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_AND_DIRECTORY_DISCOVERY"
          }
        },
        "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_DISCOVERY_LOCAL_ACCOUNT"
          }
        },
        "PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY"
          }
        },
        "EXTERNAL_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PROXY"
          }
        },
        "MULTI_HOP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_HOP_PROXY"
          }
        },
        "ACCOUNT_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_MANIPULATION"
          }
        },
        "ADDITIONAL_CLOUD_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_CREDENTIALS"
          }
        },
        "ADDITIONAL_CLOUD_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CLOUD_ROLES"
          }
        },
        "SSH_AUTHORIZED_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSH_AUTHORIZED_KEYS"
          }
        },
        "ADDITIONAL_CONTAINER_CLUSTER_ROLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_CONTAINER_CLUSTER_ROLES"
          }
        },
        "MULTI_STAGE_CHANNELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_STAGE_CHANNELS"
          }
        },
        "INGRESS_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS_TOOL_TRANSFER"
          }
        },
        "NATIVE_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_API"
          }
        },
        "BRUTE_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRUTE_FORCE"
          }
        },
        "AUTOMATED_COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_COLLECTION"
          }
        },
        "SHARED_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_MODULES"
          }
        },
        "DATA_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCODING"
          }
        },
        "STANDARD_ENCODING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_ENCODING"
          }
        },
        "ACCESS_TOKEN_MANIPULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN_MANIPULATION"
          }
        },
        "TOKEN_IMPERSONATION_OR_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOKEN_IMPERSONATION_OR_THEFT"
          }
        },
        "CREATE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ACCOUNT"
          }
        },
        "LOCAL_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_ACCOUNT"
          }
        },
        "DEOBFUSCATE_DECODE_FILES_OR_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEOBFUSCATE_DECODE_FILES_OR_INFO"
          }
        },
        "EXPLOIT_PUBLIC_FACING_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOIT_PUBLIC_FACING_APPLICATION"
          }
        },
        "SUPPLY_CHAIN_COMPROMISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLY_CHAIN_COMPROMISE"
          }
        },
        "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_SOFTWARE_DEPENDENCIES_AND_DEVELOPMENT_TOOLS"
          }
        },
        "EXPLOITATION_FOR_CLIENT_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CLIENT_EXECUTION"
          }
        },
        "USER_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_EXECUTION"
          }
        },
        "EXPLOITATION_FOR_CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLOITATION_FOR_CREDENTIAL_ACCESS"
          }
        },
        "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX_AND_MAC_FILE_AND_DIRECTORY_PERMISSIONS_MODIFICATION"
          }
        },
        "DOMAIN_POLICY_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_POLICY_MODIFICATION"
          }
        },
        "DATA_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_DESTRUCTION"
          }
        },
        "DATA_ENCRYPTED_FOR_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_ENCRYPTED_FOR_IMPACT"
          }
        },
        "SERVICE_STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STOP"
          }
        },
        "INHIBIT_SYSTEM_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHIBIT_SYSTEM_RECOVERY"
          }
        },
        "FIRMWARE_CORRUPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_CORRUPTION"
          }
        },
        "RESOURCE_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_HIJACKING"
          }
        },
        "NETWORK_DENIAL_OF_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_DENIAL_OF_SERVICE"
          }
        },
        "CLOUD_SERVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SERVICE_DISCOVERY"
          }
        },
        "STEAL_APPLICATION_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_APPLICATION_ACCESS_TOKEN"
          }
        },
        "ACCOUNT_ACCESS_REMOVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ACCESS_REMOVAL"
          }
        },
        "TRANSFER_DATA_TO_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_DATA_TO_CLOUD_ACCOUNT"
          }
        },
        "STEAL_WEB_SESSION_COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_WEB_SESSION_COOKIE"
          }
        },
        "CREATE_OR_MODIFY_SYSTEM_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_OR_MODIFY_SYSTEM_PROCESS"
          }
        },
        "EVENT_TRIGGERED_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TRIGGERED_EXECUTION"
          }
        },
        "BOOT_OR_LOGON_AUTOSTART_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OR_LOGON_AUTOSTART_EXECUTION"
          }
        },
        "KERNEL_MODULES_AND_EXTENSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERNEL_MODULES_AND_EXTENSIONS"
          }
        },
        "SHORTCUT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORTCUT_MODIFICATION"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SETUID_AND_SETGID"
          }
        },
        "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_ELEVATION_CONTROL_MECHANISM_SUDO_AND_SUDO_CACHING"
          }
        },
        "UNSECURED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSECURED_CREDENTIALS"
          }
        },
        "CREDENTIALS_IN_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_IN_FILES"
          }
        },
        "BASH_HISTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASH_HISTORY"
          }
        },
        "PRIVATE_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_KEYS"
          }
        },
        "SUBVERT_TRUST_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBVERT_TRUST_CONTROL"
          }
        },
        "INSTALL_ROOT_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_ROOT_CERTIFICATE"
          }
        },
        "COMPROMISE_HOST_SOFTWARE_BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISE_HOST_SOFTWARE_BINARY"
          }
        },
        "CREDENTIALS_FROM_PASSWORD_STORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIALS_FROM_PASSWORD_STORES"
          }
        },
        "MODIFY_AUTHENTICATION_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_AUTHENTICATION_PROCESS"
          }
        },
        "PLUGGABLE_AUTHENTICATION_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGGABLE_AUTHENTICATION_MODULES"
          }
        },
        "MULTI_FACTOR_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_FACTOR_AUTHENTICATION"
          }
        },
        "IMPAIR_DEFENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPAIR_DEFENSES"
          }
        },
        "DISABLE_OR_MODIFY_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_TOOLS"
          }
        },
        "INDICATOR_BLOCKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDICATOR_BLOCKING"
          }
        },
        "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_OR_MODIFY_LINUX_AUDIT_SYSTEM"
          }
        },
        "HIDE_ARTIFACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDE_ARTIFACTS"
          }
        },
        "HIDDEN_FILES_AND_DIRECTORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_FILES_AND_DIRECTORIES"
          }
        },
        "HIDDEN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN_USERS"
          }
        },
        "EXFILTRATION_OVER_WEB_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_OVER_WEB_SERVICE"
          }
        },
        "EXFILTRATION_TO_CLOUD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXFILTRATION_TO_CLOUD_STORAGE"
          }
        },
        "DYNAMIC_RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_RESOLUTION"
          }
        },
        "LATERAL_TOOL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_TOOL_TRANSFER"
          }
        },
        "HIJACK_EXECUTION_FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW"
          }
        },
        "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIJACK_EXECUTION_FLOW_DYNAMIC_LINKER_HIJACKING"
          }
        },
        "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE"
          }
        },
        "CREATE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_SNAPSHOT"
          }
        },
        "CLOUD_INFRASTRUCTURE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_INFRASTRUCTURE_DISCOVERY"
          }
        },
        "DEVELOP_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES"
          }
        },
        "DEVELOP_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOP_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES"
          }
        },
        "OBTAIN_CAPABILITIES_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_MALWARE"
          }
        },
        "OBTAIN_CAPABILITIES_VULNERABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBTAIN_CAPABILITIES_VULNERABILITIES"
          }
        },
        "ACTIVE_SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_SCANNING"
          }
        },
        "SCANNING_IP_BLOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_IP_BLOCKS"
          }
        },
        "STAGE_CAPABILITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_CAPABILITIES"
          }
        },
        "UPLOAD_MALWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_MALWARE"
          }
        },
        "CONTAINER_ADMINISTRATION_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_ADMINISTRATION_COMMAND"
          }
        },
        "DEPLOY_CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOY_CONTAINER"
          }
        },
        "ESCAPE_TO_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESCAPE_TO_HOST"
          }
        },
        "CONTAINER_AND_RESOURCE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER_AND_RESOURCE_DISCOVERY"
          }
        },
        "REFLECTIVE_CODE_LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFLECTIVE_CODE_LOADING"
          }
        },
        "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STEAL_OR_FORGE_AUTHENTICATION_CERTIFICATES"
          }
        },
        "FINANCIAL_THEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINANCIAL_THEFT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTechniquesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTechniquesItemEnum"
      }
    },
    "com.gcp.securitycenter_v1beta2#MitreAttackAdditionalTacticsItemEnum": {
      "type": "enum",
      "members": {
        "TACTIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TACTIC_UNSPECIFIED"
          }
        },
        "RECONNAISSANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONNAISSANCE"
          }
        },
        "RESOURCE_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_DEVELOPMENT"
          }
        },
        "INITIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIAL_ACCESS"
          }
        },
        "EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION"
          }
        },
        "PERSISTENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENCE"
          }
        },
        "PRIVILEGE_ESCALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVILEGE_ESCALATION"
          }
        },
        "DEFENSE_EVASION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFENSE_EVASION"
          }
        },
        "CREDENTIAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDENTIAL_ACCESS"
          }
        },
        "DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY"
          }
        },
        "LATERAL_MOVEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATERAL_MOVEMENT"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLECTION"
          }
        },
        "COMMAND_AND_CONTROL": {
[...]
