{
  "smithy": "2.0",
  "metadata": {
    "service": "securitycenter",
    "version": "v1beta1",
    "title": "Security Command Center API",
    "baseUrl": "https://securitycenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticalityTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticalityTypeEnum": {
      "type": "enum",
      "members": {
        "CRITICALITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICALITY_TYPE_UNSPECIFIED"
          }
        },
        "MISSION_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSION_CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GroupMembership": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String"
        },
        "groupType": {
          "target": "com.gcp.securitycenter_v1beta1#GroupMembershipGroupTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GroupMembershipGroupTypeEnum": {
      "type": "enum",
      "members": {
        "GROUP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_TYPE_UNSPECIFIED"
          }
        },
        "GROUP_TYPE_TOXIC_COMBINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_TYPE_TOXIC_COMBINATION"
          }
        },
        "GROUP_TYPE_CHOKEPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_TYPE_CHOKEPOINT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes": {
      "type": "structure",
      "members": {
        "criticality": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesCriticality"
        },
        "environment": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfoList"
        },
        "businessOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfoList"
        },
        "operatorOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfoList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironment": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironmentTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesEnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "operations": {
          "target": "com.gcp.securitycenter_v1beta1#OperationList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securitycenter_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Operation"
      }
    },
    "com.gcp.securitycenter_v1beta1#Securitycenter_Object": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "group": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "smithy.api#String"
        },
        "containers": {
          "target": "com.gcp.securitycenter_v1beta1#ContainerList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Container"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2BulkMuteFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2File": {
      "type": "structure",
      "members": {
        "sha256": {
          "target": "smithy.api#String"
        },
        "hashedSize": {
          "target": "smithy.api#String"
        },
        "fileLoadState": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2FileFileLoadStateEnum"
        },
        "partiallyHashed": {
          "target": "smithy.api#Boolean"
        },
        "path": {
          "target": "smithy.api#String"
        },
        "size": {
          "target": "smithy.api#String"
        },
        "diskPath": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DiskPath"
        },
        "contents": {
          "target": "smithy.api#String"
        },
        "operations": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2FileOperationList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2FileFileLoadStateEnum": {
      "type": "enum",
      "members": {
        "FILE_LOAD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_LOAD_STATE_UNSPECIFIED"
          }
        },
        "LOADED_BY_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOADED_BY_PROCESS"
          }
        },
        "NOT_LOADED_BY_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_LOADED_BY_PROCESS"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2FileOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2FileOperation"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Label": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Node": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataAccessEvent": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Dataset": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "structure",
      "members": {
        "assignees": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "ticketInfo": {
          "target": "com.gcp.securitycenter_v1beta1#TicketInfo"
        },
        "externalSystemUpdateTime": {
          "target": "smithy.api#String"
        },
        "externalUid": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "caseCloseTime": {
          "target": "smithy.api#String"
        },
        "caseUri": {
          "target": "smithy.api#String"
        },
        "caseCreateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "caseSla": {
          "target": "smithy.api#String"
        },
        "casePriority": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Allowed": {
      "type": "structure",
      "members": {
        "ipRules": {
          "target": "com.gcp.securitycenter_v1beta1#IpRuleList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#IpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#IpRule"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Contact": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2HttpResponse": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#BigQueryDestination": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AiModel": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String"
        },
        "usageCategory": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "library": {
          "target": "smithy.api#String"
        },
        "publisher": {
          "target": "smithy.api#String"
        },
        "deploymentPlatform": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AiModelDeploymentPlatformEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AiModelDeploymentPlatformEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_PLATFORM_UNSPECIFIED"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        },
        "GKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE"
          }
        },
        "GCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE"
          }
        },
        "FINE_TUNED_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINE_TUNED_MODEL"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Vulnerability": {
      "type": "structure",
      "members": {
        "cwes": {
          "target": "com.gcp.securitycenter_v1beta1#CweList"
        },
        "fixedPackage": {
          "target": "com.gcp.securitycenter_v1beta1#Package"
        },
        "cve": {
          "target": "com.gcp.securitycenter_v1beta1#Cve"
        },
        "providerRiskScore": {
          "target": "smithy.api#String"
        },
        "securityBulletin": {
          "target": "com.gcp.securitycenter_v1beta1#SecurityBulletin"
        },
        "reachable": {
          "target": "smithy.api#Boolean"
        },
        "offendingPackage": {
          "target": "com.gcp.securitycenter_v1beta1#Package"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#CweList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Cwe"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AdcSharedTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IamRolePermission": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NotificationMessage": {
      "type": "structure",
      "members": {
        "finding": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Finding"
        },
        "notificationConfigName": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Resource"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#VertexAi": {
      "type": "structure",
      "members": {
        "pipelines": {
          "target": "com.gcp.securitycenter_v1beta1#PipelineList"
        },
        "datasets": {
          "target": "com.gcp.securitycenter_v1beta1#DatasetList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#PipelineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Pipeline"
      }
    },
    "com.gcp.securitycenter_v1beta1#DatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Dataset"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Binding": {
      "type": "structure",
      "members": {
        "subjects": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SubjectList"
        },
        "role": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Role"
        },
        "ns": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SubjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Subject"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueFindingSecurityBulletin": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AdcApplicationTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Vulnerability": {
      "type": "structure",
      "members": {
        "providerRiskScore": {
          "target": "smithy.api#String"
        },
        "securityBulletin": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SecurityBulletin"
        },
        "reachable": {
          "target": "smithy.api#Boolean"
        },
        "offendingPackage": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Package"
        },
        "cwes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CweList"
        },
        "fixedPackage": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Package"
        },
        "cve": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Cve"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CweList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Cwe"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1beta1Finding": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "securityMarks": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1beta1SecurityMarks"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "sourceProperties": {
          "target": "com.gcp.securitycenter_v1beta1#DocumentMap"
        },
        "category": {
          "target": "smithy.api#String"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1beta1FindingStateEnum"
        },
        "externalUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1beta1FindingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#BackupDisasterRecovery": {
      "type": "structure",
      "members": {
        "profile": {
          "target": "smithy.api#String"
        },
        "backupType": {
          "target": "smithy.api#String"
        },
        "policies": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "storagePool": {
          "target": "smithy.api#String"
        },
        "backupTemplate": {
          "target": "smithy.api#String"
        },
        "policyOptions": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "appliance": {
          "target": "smithy.api#String"
        },
        "backupCreateTime": {
          "target": "smithy.api#String"
        },
        "host": {
          "target": "smithy.api#String"
        },
        "applications": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Kubernetes": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2BindingList"
        },
        "objects": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ObjectList"
        },
        "accessReviews": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AccessReviewList"
        },
        "pods": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2PodList"
        },
        "roles": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2RoleList"
        },
        "nodes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NodeList"
        },
        "nodePools": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NodePoolList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Binding"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Object"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AccessReviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AccessReview"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2PodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Pod"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2RoleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Role"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Node"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NodePoolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2NodePool"
      }
    },
    "com.gcp.securitycenter_v1beta1#DataAccessEvent": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.securitycenter_v1beta1#DataAccessEventOperationEnum"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SecurityMarks": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "marks": {
          "target": "com.gcp.securitycenter_v1beta1#StringMap"
        },
        "canonicalName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.securitycenter_v1beta1#HttpResponse": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.securitycenter_v1beta1#GetPolicyOptions"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2StaticMute": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2StaticMuteStateEnum"
        },
        "applyTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2StaticMuteStateEnum": {
      "type": "enum",
      "members": {
        "MUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTE_UNSPECIFIED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        },
        "UNMUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMUTED"
          }
        },
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AzureTenant": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2LoadBalancer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SecurityBulletin": {
      "type": "structure",
      "members": {
        "bulletinId": {
          "target": "smithy.api#String"
        },
        "submissionTime": {
          "target": "smithy.api#String"
        },
        "suggestedUpgradeVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ToxicCombination": {
      "type": "structure",
      "members": {
        "relatedFindings": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "attackExposureScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureMetadata": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureSubscription"
        },
        "resourceGroup": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureResourceGroup"
        },
        "tenant": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureTenant"
        },
        "managementGroups": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureManagementGroupList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureManagementGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureManagementGroup"
      }
    },
    "com.gcp.securitycenter_v1beta1#Connection": {
      "type": "structure",
      "members": {
        "sourceIp": {
          "target": "smithy.api#String"
        },
        "destinationPort": {
          "target": "smithy.api#Integer"
        },
        "sourcePort": {
          "target": "smithy.api#Integer"
        },
        "destinationIp": {
          "target": "smithy.api#String"
        },
        "protocol": {
          "target": "com.gcp.securitycenter_v1beta1#ConnectionProtocolEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ConnectionProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICMP"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRE"
          }
        },
        "ESP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Disk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#MemoryHashSignature": {
      "type": "structure",
      "members": {
        "detections": {
          "target": "com.gcp.securitycenter_v1beta1#DetectionList"
        },
        "binaryFamily": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DetectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Detection"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Access": {
      "type": "structure",
      "members": {
        "callerIpGeo": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Geolocation"
        },
        "serviceAccountDelegationInfo": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ServiceAccountDelegationInfoList"
        },
        "userAgentFamily": {
          "target": "smithy.api#String"
        },
        "principalSubject": {
          "target": "smithy.api#String"
        },
        "serviceName": {
          "target": "smithy.api#String"
        },
        "serviceAccountKeyName": {
          "target": "smithy.api#String"
        },
        "userName": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "callerIp": {
          "target": "smithy.api#String"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "methodName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ServiceAccountDelegationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ServiceAccountDelegationInfo"
      }
    },
    "com.gcp.securitycenter_v1beta1#ListAssetsResult": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#ListAssetsResultStateEnum"
        },
        "asset": {
          "target": "com.gcp.securitycenter_v1beta1#Asset"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ListAssetsResultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UNUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNUSED"
          }
        },
        "ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#PolicyViolationSummary": {
      "type": "structure",
      "members": {
        "evaluationErrorsCount": {
          "target": "smithy.api#String"
        },
        "outOfScopeResourcesCount": {
          "target": "smithy.api#String"
        },
        "policyViolationsCount": {
          "target": "smithy.api#String"
        },
        "conformantResourcesCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1IamDetails": {
      "type": "structure",
      "members": {
        "iamRolePermissions": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1IamRolePermissionList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1IamRolePermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1IamRolePermission"
      }
    },
    "com.gcp.securitycenter_v1beta1#AzureResourceGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#CloudDlpInspection": {
      "type": "structure",
      "members": {
        "fullScan": {
          "target": "smithy.api#Boolean"
        },
        "infoTypeCount": {
          "target": "smithy.api#String"
        },
        "inspectJob": {
          "target": "smithy.api#String"
        },
        "infoType": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AgentDataAccessEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "principalSubject": {
          "target": "smithy.api#String"
        },
        "operation": {
          "target": "com.gcp.securitycenter_v1beta1#AgentDataAccessEventOperationEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AgentDataAccessEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2LogEntry": {
      "type": "structure",
      "members": {
        "cloudLoggingEntry": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudLoggingEntry"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#YaraRuleSignature": {
      "type": "structure",
      "members": {
        "yaraRule": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ExfilResource": {
      "type": "structure",
      "members": {
        "components": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AzureSubscription": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceAwsMetadataAwsAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2VertexAi": {
      "type": "structure",
      "members": {
        "pipelines": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2PipelineList"
        },
        "datasets": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DatasetList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2PipelineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Pipeline"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Dataset"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Denied": {
      "type": "structure",
      "members": {
        "ipRules": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IpRuleList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IpRule"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourcePath": {
      "type": "structure",
      "members": {
        "nodes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourcePathNodeList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourcePathNodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourcePathNode"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping": {
      "type": "structure",
      "members": {
        "mediumSensitivityMapping": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMappingMediumSensitivityMappingEnum"
        },
        "highSensitivityMapping": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMappingHighSensitivityMappingEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMappingMediumSensitivityMappingEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_VALUE_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMappingHighSensitivityMappingEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_VALUE_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudLoggingEntry": {
      "type": "structure",
      "members": {
        "logId": {
          "target": "smithy.api#String"
        },
        "insertId": {
          "target": "smithy.api#String"
        },
        "resourceContainer": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudDlpInspection": {
      "type": "structure",
      "members": {
        "inspectJob": {
          "target": "smithy.api#String"
        },
        "infoType": {
          "target": "smithy.api#String"
        },
        "fullScan": {
          "target": "smithy.api#Boolean"
        },
        "infoTypeCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataFlowEvent": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataFlowEventOperationEnum"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "violatedLocation": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DataFlowEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributes": {
      "type": "structure",
      "members": {
        "criticality": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesCriticality"
        },
        "environment": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesEnvironment"
        },
        "developerOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfoList"
        },
        "businessOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfoList"
        },
        "operatorOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfoList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributesContactInfo"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Network": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AffectedResources": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AdcApplication": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "attributes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceApplicationAttributes"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "dataset": {
          "target": "smithy.api#String"
        },
        "filter": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "mostRecentEditor": {
          "target": "smithy.api#String"
        },
        "principal": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Notebook": {
      "type": "structure",
      "members": {
        "notebookUpdateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "service": {
          "target": "smithy.api#String"
        },
        "lastAuthor": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AdcApplicationTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AiModel": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String"
        },
        "usageCategory": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "library": {
          "target": "smithy.api#String"
        },
        "publisher": {
          "target": "smithy.api#String"
        },
        "deploymentPlatform": {
          "target": "com.gcp.securitycenter_v1beta1#AiModelDeploymentPlatformEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AiModelDeploymentPlatformEnum": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_PLATFORM_UNSPECIFIED"
          }
        },
        "VERTEX_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTEX_AI"
          }
        },
        "GKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GKE"
          }
        },
        "GCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE"
          }
        },
        "FINE_TUNED_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINE_TUNED_MODEL"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#OrgPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ToxicCombination": {
      "type": "structure",
      "members": {
        "relatedFindings": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "attackExposureScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceAdcSharedTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Notebook": {
      "type": "structure",
      "members": {
        "notebookUpdateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "service": {
          "target": "smithy.api#String"
        },
        "lastAuthor": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Role": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2RoleKindEnum"
        },
        "ns": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2RoleKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE"
          }
        },
        "CLUSTER_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ROLE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSecurityContextAggregatedCount": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GroupFindingsRequest": {
      "type": "structure",
      "members": {
        "readTime": {
          "target": "smithy.api#String"
        },
        "pageToken": {
          "target": "smithy.api#String"
        },
        "groupBy": {
          "target": "smithy.api#String"
        },
        "filter": {
          "target": "smithy.api#String"
        },
        "pageSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ProcessSignature": {
      "type": "structure",
      "members": {
        "signatureType": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ProcessSignatureSignatureTypeEnum"
        },
        "memoryHashSignature": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2YaraRuleSignature"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ProcessSignatureSignatureTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNATURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_UNSPECIFIED"
          }
        },
        "SIGNATURE_TYPE_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_PROCESS"
          }
        },
        "SIGNATURE_TYPE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_FILE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AzureManagementGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Kubernetes": {
      "type": "structure",
      "members": {
        "accessReviews": {
          "target": "com.gcp.securitycenter_v1beta1#AccessReviewList"
        },
        "bindings": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1BindingList"
        },
        "objects": {
          "target": "com.gcp.securitycenter_v1beta1#Securitycenter_ObjectList"
        },
        "nodes": {
          "target": "com.gcp.securitycenter_v1beta1#NodeList"
        },
        "nodePools": {
          "target": "com.gcp.securitycenter_v1beta1#NodePoolList"
        },
        "pods": {
          "target": "com.gcp.securitycenter_v1beta1#PodList"
        },
        "roles": {
          "target": "com.gcp.securitycenter_v1beta1#RoleList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AccessReviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#AccessReview"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1Binding"
      }
    },
    "com.gcp.securitycenter_v1beta1#Securitycenter_ObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Securitycenter_Object"
      }
    },
    "com.gcp.securitycenter_v1beta1#NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Node"
      }
    },
    "com.gcp.securitycenter_v1beta1#NodePoolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#NodePool"
      }
    },
    "com.gcp.securitycenter_v1beta1#PodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Pod"
      }
    },
    "com.gcp.securitycenter_v1beta1#RoleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Role"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Requests": {
      "type": "structure",
      "members": {
        "shortTermAllowed": {
          "target": "smithy.api#Integer"
        },
        "ratio": {
          "target": "smithy.api#Double"
        },
        "longTermAllowed": {
          "target": "smithy.api#Integer"
        },
        "longTermDenied": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Attack": {
      "type": "structure",
      "members": {
        "volumePpsLong": {
          "target": "smithy.api#String"
        },
        "volumePps": {
          "target": "smithy.api#Integer"
        },
        "volumeBps": {
          "target": "smithy.api#Integer"
        },
        "classification": {
          "target": "smithy.api#String"
        },
        "volumeBpsLong": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DataFlowEvent": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.securitycenter_v1beta1#DataFlowEventOperationEnum"
        },
        "eventId": {
          "target": "smithy.api#String"
        },
        "eventTime": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "violatedLocation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DataFlowEventOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2OrgPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2MuteInfo": {
      "type": "structure",
      "members": {
        "staticMute": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2StaticMute"
        },
        "dynamicMuteRecords": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DynamicMuteRecordList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DynamicMuteRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DynamicMuteRecord"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Issue": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueStateEnum"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "secondaryResources": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceList"
        },
        "relatedFindings": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueFindingList"
        },
        "mute": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueMute"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "lastObservationTime": {
          "target": "smithy.api#String"
        },
        "domains": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueDomainList"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "detection": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "primaryResource": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResource"
        },
        "remediations": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "exposureScore": {
          "target": "smithy.api#Double"
        },
        "issueType": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueIssueTypeEnum"
        },
        "securityContexts": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSecurityContextList"
        },
        "severity": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSeverityEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResource"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueFindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueFinding"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueDomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueDomain"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueIssueTypeEnum": {
      "type": "enum",
      "members": {
        "ISSUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_TYPE_UNSPECIFIED"
          }
        },
        "CHOKEPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHOKEPOINT"
          }
        },
        "TOXIC_COMBINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOXIC_COMBINATION"
          }
        },
        "INSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSIGHT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSecurityContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSecurityContext"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#IamBinding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String"
        },
        "member": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "com.gcp.securitycenter_v1beta1#IamBindingActionEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#IamBindingActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DiscoveredWorkload": {
      "type": "structure",
      "members": {
        "workloadType": {
          "target": "com.gcp.securitycenter_v1beta1#DiscoveredWorkloadWorkloadTypeEnum"
        },
        "detectedRelevantKeywords": {
          "target": "smithy.api#Boolean"
        },
        "detectedRelevantHardware": {
          "target": "smithy.api#Boolean"
        },
        "detectedRelevantPackages": {
          "target": "smithy.api#Boolean"
        },
        "confidence": {
          "target": "com.gcp.securitycenter_v1beta1#DiscoveredWorkloadConfidenceEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DiscoveredWorkloadWorkloadTypeEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_TYPE_UNSPECIFIED"
          }
        },
        "MCP_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MCP_SERVER"
          }
        },
        "AI_INFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI_INFERENCE"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DiscoveredWorkloadConfidenceEnum": {
      "type": "enum",
      "members": {
        "CONFIDENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_UNSPECIFIED"
          }
        },
        "CONFIDENCE_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIDENCE_HIGH"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2MemoryHashSignature": {
      "type": "structure",
      "members": {
        "detections": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DetectionList"
        },
        "binaryFamily": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2DetectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Detection"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudDlpDataProfile": {
      "type": "structure",
      "members": {
        "parentType": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudDlpDataProfileParentTypeEnum"
        },
        "infoTypes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2InfoTypeList"
        },
        "dataProfile": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2CloudDlpDataProfileParentTypeEnum": {
      "type": "enum",
      "members": {
        "PARENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_TYPE_UNSPECIFIED"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2InfoTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2InfoType"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Pod": {
      "type": "structure",
      "members": {
        "ns": {
          "target": "smithy.api#String"
        },
        "containers": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ContainerList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2LabelList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Container"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2LabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Label"
      }
    },
    "com.gcp.securitycenter_v1beta1#Pipeline": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ProcessSignature": {
      "type": "structure",
      "members": {
        "signatureType": {
          "target": "com.gcp.securitycenter_v1beta1#ProcessSignatureSignatureTypeEnum"
        },
        "memoryHashSignature": {
          "target": "com.gcp.securitycenter_v1beta1#MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "target": "com.gcp.securitycenter_v1beta1#YaraRuleSignature"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ProcessSignatureSignatureTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNATURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_UNSPECIFIED"
          }
        },
        "SIGNATURE_TYPE_PROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_PROCESS"
          }
        },
        "SIGNATURE_TYPE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE_TYPE_FILE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueFindingCve": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ServiceAccountDelegationInfo": {
      "type": "structure",
      "members": {
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "principalSubject": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GroupAssetsRequest": {
      "type": "structure",
      "members": {
        "compareDuration": {
          "target": "smithy.api#String"
        },
        "pageSize": {
          "target": "smithy.api#Integer"
        },
        "readTime": {
          "target": "smithy.api#String"
        },
        "pageToken": {
          "target": "smithy.api#String"
        },
        "filter": {
          "target": "smithy.api#String"
        },
        "groupBy": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2BackupDisasterRecovery": {
      "type": "structure",
      "members": {
        "profile": {
          "target": "smithy.api#String"
        },
        "backupType": {
          "target": "smithy.api#String"
        },
        "storagePool": {
          "target": "smithy.api#String"
        },
        "policies": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "host": {
          "target": "smithy.api#String"
        },
        "backupTemplate": {
          "target": "smithy.api#String"
        },
        "policyOptions": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "appliance": {
          "target": "smithy.api#String"
        },
        "backupCreateTime": {
          "target": "smithy.api#String"
        },
        "applications": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ContactDetails": {
      "type": "structure",
      "members": {
        "contacts": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ContactList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ContactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Contact"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceSelector": {
      "type": "structure",
      "members": {
        "resourceTypes": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SecurityBulletin": {
      "type": "structure",
      "members": {
        "bulletinId": {
          "target": "smithy.api#String"
        },
        "submissionTime": {
          "target": "smithy.api#String"
        },
        "suggestedUpgradeVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#AwsOrganizationalUnit": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AzureManagementGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicies": {
      "type": "structure",
      "members": {
        "failingPolicies": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicyList"
        },
        "resourceId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicy"
      }
    },
    "com.gcp.securitycenter_v1beta1#Disk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#StaticMute": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#StaticMuteStateEnum"
        },
        "applyTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#StaticMuteStateEnum": {
      "type": "enum",
      "members": {
        "MUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTE_UNSPECIFIED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        },
        "UNMUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMUTED"
          }
        },
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AwsOrganization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Detection": {
      "type": "structure",
      "members": {
        "binary": {
          "target": "smithy.api#String"
        },
        "percentPagesMatched": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#EnvironmentVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "val": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ExternalSystem": {
      "type": "structure",
      "members": {
        "externalUid": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "caseCloseTime": {
          "target": "smithy.api#String"
        },
        "caseUri": {
          "target": "smithy.api#String"
        },
        "caseCreateTime": {
          "target": "smithy.api#String"
        },
        "assignees": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "ticketInfo": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2TicketInfo"
        },
        "externalSystemUpdateTime": {
          "target": "smithy.api#String"
        },
        "casePriority": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "caseSla": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#IpRule": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "smithy.api#String"
        },
        "portRanges": {
          "target": "com.gcp.securitycenter_v1beta1#PortRangeList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#PortRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#PortRange"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2InfoType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "sensitivityScore": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitivityScore"
        },
        "version": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2KernelRootkit": {
      "type": "structure",
      "members": {
        "unexpectedReadOnlyDataModification": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedSystemCallHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedCodeModification": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedFtraceHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedKprobeHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedKernelCodePages": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "unexpectedInterruptHandler": {
          "target": "smithy.api#Boolean"
        },
        "unexpectedProcessesInRunqueue": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SetFindingStateRequest": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#SetFindingStateRequestStateEnum"
        },
        "startTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SetFindingStateRequestStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Compliance": {
      "type": "structure",
      "members": {
        "standard": {
          "target": "smithy.api#String"
        },
        "ids": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "version": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Connection": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ConnectionProtocolEnum"
        },
        "destinationPort": {
          "target": "smithy.api#Integer"
        },
        "sourcePort": {
          "target": "smithy.api#Integer"
        },
        "destinationIp": {
          "target": "smithy.api#String"
        },
        "sourceIp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ConnectionProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICMP"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "GRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRE"
          }
        },
        "ESP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ESP"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironmentTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Chokepoint": {
      "type": "structure",
      "members": {
        "relatedFindings": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String"
        },
        "members": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "condition": {
          "target": "com.gcp.securitycenter_v1beta1#Expr"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributesContactInfo": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Access": {
      "type": "structure",
      "members": {
        "serviceAccountKeyName": {
          "target": "smithy.api#String"
        },
        "serviceName": {
          "target": "smithy.api#String"
        },
        "principalEmail": {
          "target": "smithy.api#String"
        },
        "userName": {
          "target": "smithy.api#String"
        },
        "callerIp": {
          "target": "smithy.api#String"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "methodName": {
          "target": "smithy.api#String"
        },
        "callerIpGeo": {
          "target": "com.gcp.securitycenter_v1beta1#Geolocation"
        },
        "serviceAccountDelegationInfo": {
          "target": "com.gcp.securitycenter_v1beta1#ServiceAccountDelegationInfoList"
        },
        "userAgentFamily": {
          "target": "smithy.api#String"
        },
        "principalSubject": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#ServiceAccountDelegationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#ServiceAccountDelegationInfo"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.gcp.securitycenter_v1beta1#Role"
        },
        "subjects": {
          "target": "com.gcp.securitycenter_v1beta1#SubjectList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "ns": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SubjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#Subject"
      }
    },
    "com.gcp.securitycenter_v1beta1#ExportFindingsMetadata": {
      "type": "structure",
      "members": {
        "exportStartTime": {
          "target": "smithy.api#String"
        },
        "bigQueryDestination": {
          "target": "com.gcp.securitycenter_v1beta1#BigQueryDestination"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AttackExposure": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AttackExposureStateEnum"
        },
        "latestCalculationTime": {
          "target": "smithy.api#String"
        },
        "score": {
          "target": "smithy.api#Double"
        },
        "exposedLowValueResourcesCount": {
          "target": "smithy.api#Integer"
        },
        "exposedHighValueResourcesCount": {
          "target": "smithy.api#Integer"
        },
        "attackExposureResult": {
          "target": "smithy.api#String"
        },
        "exposedMediumValueResourcesCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2AttackExposureStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CALCULATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALCULATED"
          }
        },
        "NOT_CALCULATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CALCULATED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#Integer"
        },
        "details": {
          "target": "com.gcp.securitycenter_v1beta1#DocumentMapList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#DocumentMap"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributes": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesEnvironment"
        },
        "criticality": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesCriticality"
        },
        "businessOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfoList"
        },
        "developerOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfoList"
        },
        "operatorOwners": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfoList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV1ResourceApplicationAttributesContactInfo"
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Pipeline": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2Geolocation": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SecurityCenterProperties": {
      "type": "structure",
      "members": {
        "resourceProject": {
          "target": "smithy.api#String"
        },
        "resourceOwners": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "resourceName": {
          "target": "smithy.api#String"
        },
        "resourceParent": {
          "target": "smithy.api#String"
        },
        "resourceType": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceAdcApplication": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceApplicationAttributes"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#SecurityPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "preview": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueResourceAdcApplicationTemplateRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2IssueSecurityContextContext": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "values": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicy": {
      "type": "structure",
      "members": {
        "policyId": {
          "target": "smithy.api#String"
        },
        "failureReason": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicyTypeEnum"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ArtifactGuardPolicyTypeEnum": {
      "type": "enum",
      "members": {
        "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTIFACT_GUARD_POLICY_TYPE_UNSPECIFIED"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SecretFilePath": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#Job": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#Integer"
        },
        "state": {
          "target": "com.gcp.securitycenter_v1beta1#JobStateEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#JobStateEnum": {
      "type": "enum",
      "members": {
        "JOB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceValueConfig": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "resourceLabelsSelector": {
          "target": "com.gcp.securitycenter_v1beta1#StringMap"
        },
        "resourceValue": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceValueConfigResourceValueEnum"
        },
        "resourceType": {
          "target": "smithy.api#String"
        },
        "cloudProvider": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceValueConfigCloudProviderEnum"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "tagValues": {
          "target": "com.gcp.securitycenter_v1beta1#StringList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "sensitiveDataProtectionMapping": {
          "target": "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2SensitiveDataProtectionMapping"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.securitycenter_v1beta1#GoogleCloudSecuritycenterV2ResourceValueConfigResourceValueEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_VALUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_VALUE_UNSPECIFIED"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
[...]
