{
  "smithy": "2.0",
  "metadata": {
    "service": "serviceusage",
    "version": "v1beta1",
    "title": "Service Usage API",
    "baseUrl": "https://serviceusage.googleapis.com/"
  },
  "shapes": {
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpService": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The names of the services that are enabled for MCP. Example: `services/library-example.googleapis.com`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "McpService contains the service names that are enabled for MCP."
      }
    },
    "com.gcp.serviceusage_v1beta1#ListAdminOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceusage_v1beta1#QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "Admin overrides on this limit."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying which result to start with; returned by a previous list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAdminOverrides."
      }
    },
    "com.gcp.serviceusage_v1beta1#QuotaOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#QuotaOverride"
      }
    },
    "com.gcp.serviceusage_v1beta1#Enum": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum type name."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "syntax": {
          "target": "com.gcp.serviceusage_v1beta1#EnumSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceusage_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "enumvalue": {
          "target": "com.gcp.serviceusage_v1beta1#EnumValueList",
          "traits": {
            "smithy.api#documentation": "Enum value definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum type definition. New usages of this message as an alternative to EnumDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1beta1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Option"
      }
    },
    "com.gcp.serviceusage_v1beta1#EnumSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#EnumValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#EnumValue"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaConsumerPolicy": {
      "type": "structure",
      "members": {
        "enableRules": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaEnableRuleList",
          "traits": {
            "smithy.api#documentation": "Enable rules define usable services, groups, and categories. There can currently be at most one `EnableRule`. This restriction will be lifted in later releases."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the policy. Only the `default` policy is supported: `projects/12345/consumerPolicies/default`, `folders/12345/consumerPolicies/default`, `organizations/12345/consumerPolicies/default`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was created. For singleton policies, this is the first touch of the policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag indicating the current version of the policy, used for concurrency control."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Consumer Policy is a set of rules that define what services or service groups can be used for a cloud resource hierarchy."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaEnableRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaEnableRule"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaImpact": {
      "type": "structure",
      "members": {
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. User friendly impact detail in a free form message."
          }
        },
        "missingDependency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field will be populated only for the `DEPENDENCY_MISSING_DEPENDENCIES` impact type. Example: `services/compute.googleapis.com`. Impact.detail will be in format : `missing service dependency: {missing_dependency}.`"
          }
        },
        "impactType": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaImpactImpactTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of impact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message to group impacts of updating a policy."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaImpactImpactTypeEnum": {
      "type": "enum",
      "members": {
        "IMPACT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPACT_TYPE_UNSPECIFIED"
          }
        },
        "DEPENDENCY_MISSING_DEPENDENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPENDENCY_MISSING_DEPENDENCIES"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#Endpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        },
        "aliases": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.serviceusage_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceusage_v1beta1#ContextRule": {
      "type": "structure",
      "members": {
        "requested": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names of requested contexts, only the requested context will be made available to the backend."
          }
        },
        "allowedResponseExtensions": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names or extension IDs of extensions allowed in grpc side channel from backend to client."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "provided": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names of provided contexts. It is used to support propagating HTTP headers and ETags from the response extension."
          }
        },
        "allowedRequestExtensions": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of full type names or extension IDs of extensions allowed in grpc side channel from client to backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A context rule provides information about the context for an individual API element."
      }
    },
    "com.gcp.serviceusage_v1beta1#RemoveEnableRulesResponse": {
      "type": "structure",
      "members": {
        "removedValues": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The values removed from the parent consumer policy."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent consumer policy. It can be `projects/12345/consumerPolicies/default`, or `folders/12345/consumerPolicies/default`, or `organizations/12345/consumerPolicies/default`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message of `RemoveEnableRules` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiService": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID for a specific instance of this message, typically assigned by the client for tracking purpose. Must be no longer than 63 characters and only lower case letters, digits, '.', '_' and '-' are allowed. If empty, the server may choose to generate one instead."
          }
        },
        "sourceInfo": {
          "target": "com.gcp.serviceusage_v1beta1#SourceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The source information for this configuration if available."
          }
        },
        "types": {
          "target": "com.gcp.serviceusage_v1beta1#TypeList",
          "traits": {
            "smithy.api#documentation": "A list of all proto message types included in this API service. Types referenced directly or indirectly by the `apis` are automatically included. Messages which are not referenced but shall be included, such as types used by the `google.protobuf.Any` type, should be listed here by name by the configuration author. Example: types: - name: google.protobuf.Int32"
          }
        },
        "enums": {
          "target": "com.gcp.serviceusage_v1beta1#EnumList",
          "traits": {
            "smithy.api#documentation": "A list of all enum types included in this API service. Enums referenced directly or indirectly by the `apis` are automatically included. Enums which are not referenced but shall be included should be listed here by name by the configuration author. Example: enums: - name: google.someapi.v1.SomeEnum"
          }
        },
        "logs": {
          "target": "com.gcp.serviceusage_v1beta1#LogDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the logs used by this service."
          }
        },
        "producerProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google project that owns this service."
          }
        },
        "aspects": {
          "target": "com.gcp.serviceusage_v1beta1#AspectList",
          "traits": {
            "smithy.api#documentation": "Configuration aspects. This is a repeated field to allow multiple aspects to be configured. The kind field in each ConfigAspect specifies the type of aspect. The spec field contains the configuration for that aspect. The schema for the spec field is defined by the backend service owners."
          }
        },
        "customError": {
          "target": "com.gcp.serviceusage_v1beta1#CustomError",
          "traits": {
            "smithy.api#documentation": "Custom error configuration."
          }
        },
        "documentation": {
          "target": "com.gcp.serviceusage_v1beta1#Documentation",
          "traits": {
            "smithy.api#documentation": "Additional API documentation."
          }
        },
        "monitoredResources": {
          "target": "com.gcp.serviceusage_v1beta1#MonitoredResourceDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the monitored resources used by this service. This is required by the `Service.monitoring` and `Service.logging` configurations."
          }
        },
        "billing": {
          "target": "com.gcp.serviceusage_v1beta1#Billing",
          "traits": {
            "smithy.api#documentation": "Billing configuration."
          }
        },
        "systemParameters": {
          "target": "com.gcp.serviceusage_v1beta1#SystemParameters",
          "traits": {
            "smithy.api#documentation": "System parameter configuration."
          }
        },
        "context": {
          "target": "com.gcp.serviceusage_v1beta1#Context",
          "traits": {
            "smithy.api#documentation": "Context configuration."
          }
        },
        "systemTypes": {
          "target": "com.gcp.serviceusage_v1beta1#TypeList",
          "traits": {
            "smithy.api#documentation": "A list of all proto message types included in this API service. It serves similar purpose as [google.api.Service.types], except that these types are not needed by user-defined APIs. Therefore, they will not show up in the generated discovery doc. This field should only be used to define system APIs in ESF."
          }
        },
        "backend": {
          "target": "com.gcp.serviceusage_v1beta1#Backend",
          "traits": {
            "smithy.api#documentation": "API backend configuration."
          }
        },
        "usage": {
          "target": "com.gcp.serviceusage_v1beta1#Usage",
          "traits": {
            "smithy.api#documentation": "Configuration controlling usage of this service."
          }
        },
        "endpoints": {
          "target": "com.gcp.serviceusage_v1beta1#EndpointList",
          "traits": {
            "smithy.api#documentation": "Configuration for network endpoints. If this is empty, then an endpoint with the same name as the service is automatically generated to service all defined APIs."
          }
        },
        "publishing": {
          "target": "com.gcp.serviceusage_v1beta1#Publishing",
          "traits": {
            "smithy.api#documentation": "Settings for [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from APIs defined as protocol buffers."
          }
        },
        "logging": {
          "target": "com.gcp.serviceusage_v1beta1#Logging",
          "traits": {
            "smithy.api#documentation": "Logging configuration."
          }
        },
        "monitoring": {
          "target": "com.gcp.serviceusage_v1beta1#Monitoring",
          "traits": {
            "smithy.api#documentation": "Monitoring configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name, which is a DNS-like logical identifier for the service, such as `calendar.googleapis.com`. The service name typically goes through DNS verification to make sure the owner of the service also owns the DNS name."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product title for this service, it is the name displayed in Google Cloud Console."
          }
        },
        "quota": {
          "target": "com.gcp.serviceusage_v1beta1#Quota",
          "traits": {
            "smithy.api#documentation": "Quota configuration."
          }
        },
        "apis": {
          "target": "com.gcp.serviceusage_v1beta1#ApiList",
          "traits": {
            "smithy.api#documentation": "A list of API interfaces exported by this service. Only the `name` field of the google.protobuf.Api needs to be provided by the configuration author, as the remaining fields will be derived from the IDL during the normalization process. It is an error to specify an API interface here which cannot be resolved against the associated IDL files."
          }
        },
        "http": {
          "target": "com.gcp.serviceusage_v1beta1#Http",
          "traits": {
            "smithy.api#documentation": "HTTP configuration."
          }
        },
        "configVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Obsolete. Do not use. This field has no semantic meaning. The service config compiler always sets this field to `3`."
          }
        },
        "control": {
          "target": "com.gcp.serviceusage_v1beta1#Control",
          "traits": {
            "smithy.api#documentation": "Configuration for the service control plane."
          }
        },
        "metrics": {
          "target": "com.gcp.serviceusage_v1beta1#MetricDescriptorList",
          "traits": {
            "smithy.api#documentation": "Defines the metrics used by this service."
          }
        },
        "authentication": {
          "target": "com.gcp.serviceusage_v1beta1#Authentication",
          "traits": {
            "smithy.api#documentation": "Auth configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Service` is the root object of Google API service configuration (service config). It describes the basic information about a logical service, such as the service name and the user-facing title, and delegates other aspects to sub-sections. Each sub-section is either a proto message or a repeated proto message that configures a specific aspect, such as auth. For more information, see each proto message definition. Example: type: google.api.Service name: calendar.googleapis.com title: Google Calendar API apis: - name: google.calendar.v3.Calendar visibility: rules: - selector: \"google.calendar.v3.*\" restriction: PREVIEW backend: rules: - selector: \"google.calendar.v3.*\" address: calendar.example.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth"
      }
    },
    "com.gcp.serviceusage_v1beta1#TypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Type"
      }
    },
    "com.gcp.serviceusage_v1beta1#EnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Enum"
      }
    },
    "com.gcp.serviceusage_v1beta1#LogDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#LogDescriptor"
      }
    },
    "com.gcp.serviceusage_v1beta1#AspectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Aspect"
      }
    },
    "com.gcp.serviceusage_v1beta1#MonitoredResourceDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#MonitoredResourceDescriptor"
      }
    },
    "com.gcp.serviceusage_v1beta1#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Endpoint"
      }
    },
    "com.gcp.serviceusage_v1beta1#ApiList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Api"
      }
    },
    "com.gcp.serviceusage_v1beta1#MetricDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#MetricDescriptor"
      }
    },
    "com.gcp.serviceusage_v1beta1#BatchEnableServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1ServiceList",
          "traits": {
            "smithy.api#documentation": "The new state of the services after enabling."
          }
        },
        "failures": {
          "target": "com.gcp.serviceusage_v1beta1#EnableFailureList",
          "traits": {
            "smithy.api#documentation": "If allow_partial_success is true, and one or more services could not be enabled, this field contains the details about each failure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `BatchEnableServices` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1Service"
      }
    },
    "com.gcp.serviceusage_v1beta1#EnableFailureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#EnableFailure"
      }
    },
    "com.gcp.serviceusage_v1beta1#Context": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceusage_v1beta1#ContextRuleList",
          "traits": {
            "smithy.api#documentation": "A list of RPC context rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Context` defines which contexts an API requests. Example: context: rules: - selector: \"*\" requested: - google.rpc.context.ProjectContext - google.rpc.context.OriginContext The above specifies that all methods in the API request `google.rpc.context.ProjectContext` and `google.rpc.context.OriginContext`. Available context types are defined in package `google.rpc.context`. This also provides mechanism to allowlist any protobuf message extension that can be sent in grpc metadata using “x-goog-ext--bin” and “x-goog-ext--jspb” format. For example, list any service specific protobuf types that can appear in grpc metadata as follows in your yaml file: Example: context: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allowed_request_extensions: - google.foo.v1.NewExtension allowed_response_extensions: - google.foo.v1.NewExtension You can also specify extension ID instead of fully qualified extension name here."
      }
    },
    "com.gcp.serviceusage_v1beta1#ContextRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#ContextRule"
      }
    },
    "com.gcp.serviceusage_v1beta1#ContentSecurity": {
      "type": "structure",
      "members": {
        "contentSecurityProviders": {
          "target": "com.gcp.serviceusage_v1beta1#ContentSecurityProviderList",
          "traits": {
            "smithy.api#documentation": "List of content security providers that are enabled for content scanning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContentSecurity defines the content security related fields of a MCP policy."
      }
    },
    "com.gcp.serviceusage_v1beta1#ContentSecurityProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#ContentSecurityProvider"
      }
    },
    "com.gcp.serviceusage_v1beta1#Type": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.serviceusage_v1beta1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        },
        "oneofs": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceusage_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "fields": {
          "target": "com.gcp.serviceusage_v1beta1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1beta1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Field"
      }
    },
    "com.gcp.serviceusage_v1beta1#Monitoring": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.serviceusage_v1beta1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        },
        "producerDestinations": {
          "target": "com.gcp.serviceusage_v1beta1#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
      }
    },
    "com.gcp.serviceusage_v1beta1#MonitoringDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#MonitoringDestination"
      }
    },
    "com.gcp.serviceusage_v1beta1#PythonSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "experimentalFeatures": {
          "target": "com.gcp.serviceusage_v1beta1#ExperimentalFeatures",
          "traits": {
            "smithy.api#documentation": "Experimental features to be included during client library generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Python client libraries."
      }
    },
    "com.gcp.serviceusage_v1beta1#EnableFailure": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service id of a service that could not be enabled."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message describing why the service could not be enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides error messages for the failing services."
      }
    },
    "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadata": {
      "type": "structure",
      "members": {
        "samplePeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
          }
        },
        "timeSeriesResourceHierarchyLevel": {
          "target": "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The scope of the timeseries data of the metric."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. Must use the MetricDescriptor.launch_stage instead."
          }
        },
        "ingestDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional annotations that can be used to guide the usage of a metric."
      }
    },
    "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum": {
      "type": "enum",
      "members": {
        "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum"
      }
    },
    "com.gcp.serviceusage_v1beta1#MetricDescriptorMetadataLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#RubySettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Ruby client libraries."
      }
    },
    "com.gcp.serviceusage_v1beta1#Documentation": {
      "type": "structure",
      "members": {
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.serviceusage_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        },
        "pages": {
          "target": "com.gcp.serviceusage_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        },
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        },
        "rules": {
          "target": "com.gcp.serviceusage_v1beta1#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.serviceusage_v1beta1#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Page"
      }
    },
    "com.gcp.serviceusage_v1beta1#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#DocumentationRule"
      }
    },
    "com.gcp.serviceusage_v1beta1#CommonLanguageSettings": {
      "type": "structure",
      "members": {
        "selectiveGapicGeneration": {
          "target": "com.gcp.serviceusage_v1beta1#SelectiveGapicGeneration",
          "traits": {
            "smithy.api#documentation": "Configuration for which RPCs should be generated in the GAPIC client. Note: This field should not be used in most cases."
          }
        },
        "referenceDocsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to automatically generated reference documentation. Example: https://cloud.google.com/nodejs/docs/reference/asset/latest"
          }
        },
        "destinations": {
          "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettingsDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The destination where API teams want this client library to be published."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required information for every language."
      }
    },
    "com.gcp.serviceusage_v1beta1#CommonLanguageSettingsDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "PACKAGE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_MANAGER"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#CommonLanguageSettingsDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettingsDestinationsItemEnum"
      }
    },
    "com.gcp.serviceusage_v1beta1#JwtLocation": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies URL query parameter name to extract JWT token."
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies cookie name to extract JWT token."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies HTTP header name to extract JWT token."
          }
        },
        "valuePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value prefix. The value format is \"value_prefix{token}\" Only applies to \"in\" header type. Must be empty for \"in\" query type. If not empty, the header value has to match (case sensitive) this prefix. If not matched, JWT will not be extracted. If matched, JWT will be extracted after the prefix is removed. For example, for \"Authorization: Bearer {JWT}\", value_prefix=\"Bearer \" with a space at the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a location to extract JWT from an API request."
      }
    },
    "com.gcp.serviceusage_v1beta1#UsageRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "allowUnregisteredCalls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use this rule to configure unregistered calls for the service. Unregistered calls are calls that do not contain consumer project identity. (Example: calls that do not contain an API key). WARNING: By default, API methods do not allow unregistered calls, and each method call must be identified by a consumer project identity."
          }
        },
        "skipServiceControl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the selected method should skip service control and the control plane features, such as quota and billing, will not be available. This flag is used by Google Cloud Endpoints to bypass checks for internal methods, such as service health check methods."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage configuration rules for the service."
      }
    },
    "com.gcp.serviceusage_v1beta1#OperationMetadata": {
      "type": "structure",
      "members": {
        "resourceNames": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The full name of the resources that this operation is directly associated with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operation metadata returned for the batchend services operation."
      }
    },
    "com.gcp.serviceusage_v1beta1#OverrideInlineSource": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceusage_v1beta1#QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "The overrides to create. Each override must have a value for 'metric' and 'unit', to specify which metric and which limit the override should be applied to. The 'name' field of the override does not need to be set; it is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Import data embedded in the request message"
      }
    },
    "com.gcp.serviceusage_v1beta1#Page": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Markdown content of the page. You can use ```(== include {path} ==)``` to include content from a Markdown file. The content can be used to produce the documentation page such as HTML format page."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the page. It will be used as an identity of the page to generate URI of the page, text of the link to this page in navigation, etc. The full page name (start from the root page name to this page concatenated with `.`) can be used as reference to the page in your documentation. For example: pages: - name: Tutorial content: (== include tutorial.md ==) subpages: - name: Java content: (== include tutorial_java.md ==) You can reference `Java` page using Markdown reference link syntax: `Java`."
          }
        },
        "subpages": {
          "target": "com.gcp.serviceusage_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "Subpages of this page. The order of subpages specified here will be honored in the generated docset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a documentation page. A page can contain subpages to represent nested documentation set structure."
      }
    },
    "com.gcp.serviceusage_v1beta1#ExperimentalFeatures": {
      "type": "structure",
      "members": {
        "restAsyncIoEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of asynchronous REST clients if `rest` transport is enabled. By default, asynchronous REST clients will not be generated. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        },
        "protobufPythonicTypesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables generation of protobuf code using new types that are more Pythonic which are included in `protobuf>=5.29.x`. This feature will be enabled by default 1 month after launching the feature in preview packages."
          }
        },
        "unversionedPackageDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disables generation of an unversioned Python package for this client library. This means that the module names will need to be versioned in import statements. For example `import google.cloud.library_v2` instead of `import google.cloud.library`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experimental features to be included during client library generation. These fields will be deprecated once the feature graduates and is enabled by default."
      }
    },
    "com.gcp.serviceusage_v1beta1#AddEnableRulesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `AddEnableRules` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#AnalyzeConsumerPolicyResponse": {
      "type": "structure",
      "members": {
        "analysis": {
          "target": "com.gcp.serviceusage_v1beta1#AnalysisList",
          "traits": {
            "smithy.api#documentation": "The list of analyses returned from performing the intended policy update analysis. The analysis is grouped by service name and different analysis types. The empty analysis list means that the consumer policy can be updated without any warnings or blockers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of analyzing a consumer policy update."
      }
    },
    "com.gcp.serviceusage_v1beta1#AnalysisList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Analysis"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpEnableRule": {
      "type": "structure",
      "members": {
        "mcpServices": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpServiceList",
          "traits": {
            "smithy.api#documentation": "List of enabled MCP services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "McpEnableRule contains MCP enablement related rules."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpService"
      }
    },
    "com.gcp.serviceusage_v1beta1#UpdateAdminQuotaPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by UpdateAdminQuotaPolicy."
      }
    },
    "com.gcp.serviceusage_v1beta1#EnumValue": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1beta1#LabelDescriptor": {
      "type": "structure",
      "members": {
        "valueType": {
          "target": "com.gcp.serviceusage_v1beta1#LabelDescriptorValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of data that can be assigned to the label."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label key."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description for the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a label."
      }
    },
    "com.gcp.serviceusage_v1beta1#LabelDescriptorValueTypeEnum": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT64"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.serviceusage_v1beta1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.serviceusage_v1beta1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Operation"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "renamedServices": {
          "target": "com.gcp.serviceusage_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of service names to renamed services. Keys are the package relative service names and values are the name to be used for the service client and call options. Example: publishing: go_settings: renamed_services: Publisher: TopicAdmin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Go client libraries."
      }
    },
    "com.gcp.serviceusage_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceusage_v1beta1#NodeSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceusage_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Node client libraries."
      }
    },
    "com.gcp.serviceusage_v1beta1#ServiceIdentity": {
      "type": "structure",
      "members": {
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique and stable id of the service account. https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts#ServiceAccount"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service account that a service producer would use to access consumer resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service identity for a service. This is the identity that service producer should use to access consumer resources."
      }
    },
    "com.gcp.serviceusage_v1beta1#DeleteAdminQuotaPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by DeleteAdminQuotaPolicy."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2alphaEnableRule": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the services that are enabled. Example: `services/storage.googleapis.com`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The consumer policy rule that defines enabled services, groups, and categories."
      }
    },
    "com.gcp.serviceusage_v1beta1#UpdateConsumerPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `UpdateConsumerPolicy` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpPolicy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque tag indicating the current version of the policy, used for concurrency control."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the policy was created. For singleton policies (such as the `default` policy), this is the first touch of the policy."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the policy. Only the `default` policy is supported. We allow the following formats: `projects/{PROJECT_NUMBER}/mcpPolicies/default`, `projects/{PROJECT_ID}/mcpPolicies/default`, `folders/{FOLDER_ID}/mcpPolicies/default`, `organizations/{ORG_ID}/mcpPolicies/default`."
          }
        },
        "mcpEnableRules": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpEnableRuleList",
          "traits": {
            "smithy.api#documentation": "McpEnableRules contains MCP enablement related rules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MCP Consumer Policy is a set of rules that define MCP related policy for a cloud resource hierarchy."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpEnableRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaMcpEnableRule"
      }
    },
    "com.gcp.serviceusage_v1beta1#CreateAdminQuotaPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by CreateAdminQuotaPolicy."
      }
    },
    "com.gcp.serviceusage_v1beta1#Api": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.serviceusage_v1beta1#ApiSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of the service."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceusage_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "Source context for the protocol buffer service represented by this message."
          }
        },
        "mixins": {
          "target": "com.gcp.serviceusage_v1beta1#MixinList",
          "traits": {
            "smithy.api#documentation": "Included interfaces. See Mixin."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this interface, including package name followed by the interface's simple name."
          }
        },
        "methods": {
          "target": "com.gcp.serviceusage_v1beta1#MethodList",
          "traits": {
            "smithy.api#documentation": "The methods of this interface, in unspecified order."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "options": {
          "target": "com.gcp.serviceusage_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceusage_v1beta1#ApiSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#MixinList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Mixin"
      }
    },
    "com.gcp.serviceusage_v1beta1#MethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#Method"
      }
    },
    "com.gcp.serviceusage_v1beta1#BatchingSettingsProto": {
      "type": "structure",
      "members": {
        "delayThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which a batch should be sent, starting from the addition of the first message to that batch."
          }
        },
        "flowControlElementLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements allowed by flow control."
          }
        },
        "requestByteThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message."
          }
        },
        "elementCountLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements collected in a batch that could be accepted by server."
          }
        },
        "elementCountThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent."
          }
        },
        "requestByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of the request that could be accepted by server."
          }
        },
        "flowControlByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of data allowed by flow control."
          }
        },
        "flowControlLimitExceededBehavior": {
          "target": "com.gcp.serviceusage_v1beta1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The behavior to take when the flow control limit is exceeded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero."
      }
    },
    "com.gcp.serviceusage_v1beta1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNSET_BEHAVIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET_BEHAVIOR"
          }
        },
        "THROW_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROW_EXCEPTION"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1Service": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1ServiceConfig",
          "traits": {
            "smithy.api#documentation": "The service configuration of the available service. Some fields may be filtered out of the configuration in responses to the `ListServices` method. These fields are present only in responses to the `GetService` method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the consumer and service. A valid name would be: - projects/123/services/serviceusage.googleapis.com"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the consumer. A valid name would be: - projects/123"
          }
        },
        "state": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1ServiceStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not the service has been enabled for use by the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service that is available for use by the consumer."
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1ServiceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#AddEnableRulesResponse": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent consumer policy. It can be `projects/12345/consumerPolicies/default`, or `folders/12345/consumerPolicies/default`, or `organizations/12345/consumerPolicies/default`."
          }
        },
        "addedValues": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The values added to the parent consumer policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message of `AddEnableRules` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.serviceusage_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.serviceusage_v1beta1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.serviceusage_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.serviceusage_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2betaEnableRule": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the services that are enabled. Example: `services/storage.googleapis.com`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The consumer policy rule that defines enabled services, groups, and categories."
      }
    },
    "com.gcp.serviceusage_v1beta1#ConsumerQuotaMetric": {
      "type": "structure",
      "members": {
        "consumerQuotaLimits": {
          "target": "com.gcp.serviceusage_v1beta1#ConsumerQuotaLimitList",
          "traits": {
            "smithy.api#documentation": "The consumer quota for each quota limit defined on the metric."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the quota settings on this metric for this consumer. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus` The resource name is intended to be opaque and should not be parsed for its component strings, since its representation could change in the future."
          }
        },
        "descendantConsumerQuotaLimits": {
          "target": "com.gcp.serviceusage_v1beta1#ConsumerQuotaLimitList",
          "traits": {
            "smithy.api#documentation": "The quota limits targeting the descendant containers of the consumer in request. If the consumer in request is of type `organizations` or `folders`, the field will list per-project limits in the metric; if the consumer in request is of type `project`, the field will be empty. The `quota_buckets` field of each descendant consumer quota limit will not be populated."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the metric. An example name would be: `CPUs`"
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units in which the metric value is reported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Consumer quota settings for a quota metric."
      }
    },
    "com.gcp.serviceusage_v1beta1#ConsumerQuotaLimitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#ConsumerQuotaLimit"
      }
    },
    "com.gcp.serviceusage_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.serviceusage_v1beta1#Usage": {
      "type": "structure",
      "members": {
        "requirements": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Requirements that must be satisfied before a consumer project can use the service. Each requirement is of the form /; for example 'serviceusage.googleapis.com/billing-enabled'. For Google APIs, a Terms of Service requirement must be included here. Google Cloud APIs must include \"serviceusage.googleapis.com/tos/cloud\". Other Google APIs should include \"serviceusage.googleapis.com/tos/universal\". Additional ToS can be included based on the business needs."
          }
        },
        "producerNotificationChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of a channel used for sending notifications to the service producer. Google Service Management currently only supports [Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification channel. To use Google Cloud Pub/Sub as the channel, this must be the name of a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format documented in https://cloud.google.com/pubsub/docs/overview."
          }
        },
        "rules": {
          "target": "com.gcp.serviceusage_v1beta1#UsageRuleList",
          "traits": {
            "smithy.api#documentation": "A list of usage rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration controlling usage of a service."
      }
    },
    "com.gcp.serviceusage_v1beta1#UsageRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#UsageRule"
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminQuotaPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.serviceusage_v1beta1#AdminQuotaPolicyList",
          "traits": {
            "smithy.api#documentation": "The policies that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportAdminQuotaPolicies"
      }
    },
    "com.gcp.serviceusage_v1beta1#AdminQuotaPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#AdminQuotaPolicy"
      }
    },
    "com.gcp.serviceusage_v1beta1#ClientLibrarySettings": {
      "type": "structure",
      "members": {
        "nodeSettings": {
          "target": "com.gcp.serviceusage_v1beta1#NodeSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Node client libraries."
          }
        },
        "pythonSettings": {
          "target": "com.gcp.serviceusage_v1beta1#PythonSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Python client libraries."
          }
        },
        "dotnetSettings": {
          "target": "com.gcp.serviceusage_v1beta1#DotnetSettings",
          "traits": {
            "smithy.api#documentation": "Settings for .NET client libraries."
          }
        },
        "rubySettings": {
          "target": "com.gcp.serviceusage_v1beta1#RubySettings",
          "traits": {
            "smithy.api#documentation": "Settings for Ruby client libraries."
          }
        },
        "restNumericEnums": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When using transport=rest, the client request will encode enums as numbers rather than strings."
          }
        },
        "goSettings": {
          "target": "com.gcp.serviceusage_v1beta1#GoSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Go client libraries."
          }
        },
        "phpSettings": {
          "target": "com.gcp.serviceusage_v1beta1#PhpSettings",
          "traits": {
            "smithy.api#documentation": "Settings for PHP client libraries."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceusage_v1beta1#ClientLibrarySettingsLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Launch stage of this version of the API."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the API to apply these settings to. This is the full protobuf package for the API, ending in the version element. Examples: \"google.cloud.speech.v1\" and \"google.spanner.admin.database.v1\"."
          }
        },
        "javaSettings": {
          "target": "com.gcp.serviceusage_v1beta1#JavaSettings",
          "traits": {
            "smithy.api#documentation": "Settings for legacy Java features, supported in the Service YAML."
          }
        },
        "cppSettings": {
          "target": "com.gcp.serviceusage_v1beta1#CppSettings",
          "traits": {
            "smithy.api#documentation": "Settings for C++ client libraries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about how and where to publish client libraries."
      }
    },
    "com.gcp.serviceusage_v1beta1#ClientLibrarySettingsLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#EnableRule": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Please use field `values`. Service group should have prefix `groups/`. The names of the service groups that are enabled (Not Implemented). Example: `groups/googleServices`."
          }
        },
        "values": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the services or service groups that are enabled. Example: `services/storage.googleapis.com`, `groups/googleServices`, `groups/allServices`."
          }
        },
        "enableType": {
          "target": "com.gcp.serviceusage_v1beta1#EnableRuleEnableTypeEnum",
          "traits": {
            "smithy.api#documentation": "Client and resource project enable type."
          }
        },
        "services": {
          "target": "com.gcp.serviceusage_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Please use field `values`. Service should have prefix `services/`. The names of the services that are enabled. Example: `storage.googleapis.com`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The consumer policy rule that defines usable services and service groups."
      }
    },
    "com.gcp.serviceusage_v1beta1#EnableRuleEnableTypeEnum": {
      "type": "enum",
      "members": {
        "ENABLE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE"
          }
        },
        "V1_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1_COMPATIBLE"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#SystemParameterRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "parameters": {
          "target": "com.gcp.serviceusage_v1beta1#SystemParameterList",
          "traits": {
            "smithy.api#documentation": "Define parameters. Multiple names may be defined for a parameter. For a given method call, only one of them should be used. If multiple names are used the behavior is implementation-dependent. If none of the specified names are present the behavior is parameter-dependent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a system parameter rule mapping system parameter definitions to methods."
      }
    },
    "com.gcp.serviceusage_v1beta1#SystemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#SystemParameter"
      }
    },
    "com.gcp.serviceusage_v1beta1#GetServiceIdentityMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `GetServiceIdentity` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminQuotaPoliciesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminQuotaPolicies."
      }
    },
    "com.gcp.serviceusage_v1beta1#DisableServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV1Service",
          "traits": {
            "smithy.api#documentation": "The new state of the service after disabling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `DisableService` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceusage_v1beta1#AnalyzeConsumerPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `AnalyzeConsumerPolicy` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminOverridesRequest": {
      "type": "structure",
      "members": {
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to force the creation of the quota overrides. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations. If force is set to true, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
          }
        },
        "inlineSource": {
          "target": "com.gcp.serviceusage_v1beta1#OverrideInlineSource",
          "traits": {
            "smithy.api#documentation": "The import data is specified in the request message itself"
          }
        },
        "forceOnly": {
          "target": "com.gcp.serviceusage_v1beta1#ImportAdminOverridesRequestForceOnlyItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set. If force_only is specified, it is recommended to include a case id in \"X-Goog-Request-Reason\" header when sending the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ImportAdminOverrides"
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminOverridesRequestForceOnlyItemEnum": {
      "type": "enum",
      "members": {
        "QUOTA_SAFETY_CHECK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_SAFETY_CHECK_UNSPECIFIED"
          }
        },
        "LIMIT_DECREASE_BELOW_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMIT_DECREASE_BELOW_USAGE"
          }
        },
        "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
          }
        }
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminOverridesRequestForceOnlyItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#ImportAdminOverridesRequestForceOnlyItemEnum"
      }
    },
    "com.gcp.serviceusage_v1beta1#DocumentationRule": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the selected proto element (e.g. a message, a method, a 'service' definition, or a field). Defaults to leading & trailing comments taken from the proto source definition of the proto element."
          }
        },
        "disableReplacementWords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String of comma or space separated case-sensitive words for which method/field name replacement will be disabled."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The selector is a comma-separated list of patterns for any element such as a method, a field, an enum value. Each pattern is a qualified name of the element which may end in \"*\", indicating a wildcard. Wildcards are only allowed at the end and for a whole component of the qualified name, i.e. \"foo.*\" is ok, but not \"foo.b*\" or \"foo.*.bar\". A wildcard will match one or more components. To specify a default for all applicable elements, the whole pattern \"*\" is used."
          }
        },
        "deprecationDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecation description of the selected element(s). It can be provided if an element is marked as `deprecated`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A documentation rule provides information about individual API elements."
      }
    },
    "com.gcp.serviceusage_v1beta1#ImportAdminOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceusage_v1beta1#QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "The overrides that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportAdminOverrides"
      }
    },
    "com.gcp.serviceusage_v1beta1#GoogleApiServiceusageV2alphaUpdateConsumerPolicyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata for the `UpdateConsumerPolicy` method."
      }
    },
    "com.gcp.serviceusage_v1beta1#ListConsumerOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceusage_v1beta1#QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "Consumer overrides on this limit."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying which result to start with; returned by a previous list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListConsumerOverrides."
      }
    },
    "com.gcp.serviceusage_v1beta1#MethodPolicy": {
      "type": "structure",
      "members": {
        "requestPolicies": {
          "target": "com.gcp.serviceusage_v1beta1#FieldPolicyList",
          "traits": {
            "smithy.api#documentation": "Policies that are applicable to the request message."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which these policies should be enforced, for example, \"google.pubsub.v1.Subscriber.CreateSubscription\". Refer to selector for syntax details. NOTE: This field must not be set in the proto annotation. It will be automatically filled by the service config compiler ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies applying to an RPC method."
      }
    },
    "com.gcp.serviceusage_v1beta1#FieldPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceusage_v1beta1#FieldPolicy"
      }
    },
    "com.gcp.serviceusage_v1beta1#ContentSecurityPolicy": {
      "type": "structure",
      "members": {
        "mcpContentSecurity": {
          "target": "com.gcp.serviceusage_v1beta1#ContentSecurity",
          "traits": {
            "smithy.api#documentation": "mcp_content_security contains the content security related settings at resource level for MCP traffic."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
[...]
