{
  "smithy": "2.0",
  "metadata": {
    "service": "serviceconsumermanagement",
    "version": "v1beta1",
    "title": "Service Consumer Management API",
    "baseUrl": "https://serviceconsumermanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.serviceconsumermanagement_v1beta1#Enum": {
      "type": "structure",
      "members": {
        "enumvalue": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#EnumValueList",
          "traits": {
            "smithy.api#documentation": "Enum value definitions."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum type name."
          }
        },
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "syntax": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#EnumSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum type definition. New usages of this message as an alternative to EnumDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#EnumValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#EnumValue"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#Option"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#EnumSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Page": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the page. It will be used as an identity of the page to generate URI of the page, text of the link to this page in navigation, etc. The full page name (start from the root page name to this page concatenated with `.`) can be used as reference to the page in your documentation. For example: pages: - name: Tutorial content: (== include tutorial.md ==) subpages: - name: Java content: (== include tutorial_java.md ==) You can reference `Java` page using Markdown reference link syntax: `Java`."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Markdown content of the page. You can use ```(== include {path} ==)``` to include content from a Markdown file. The content can be used to produce the documentation page such as HTML format page."
          }
        },
        "subpages": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "Subpages of this page. The order of subpages specified here will be honored in the generated docset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a documentation page. A page can contain subpages to represent nested documentation set structure."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#Page"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AuthProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
          }
        },
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        },
        "jwksUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs"
          }
        },
        "jwtLocations": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#JwtLocationList",
          "traits": {
            "smithy.api#documentation": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token"
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#JwtLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#JwtLocation"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Control": {
      "type": "structure",
      "members": {
        "methodPolicies": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MethodPolicyList",
          "traits": {
            "smithy.api#documentation": "Defines policies applying to the API methods of the service."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service controller environment to use. If empty, no control plane features (like quota and billing) will be enabled. The recommended value for most services is servicecontrol.googleapis.com."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selects and configures the service controller used by the service. Example: control: environment: servicecontrol.googleapis.com"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MethodPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#MethodPolicy"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ServiceIdentity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P4 service identity resource name. An example name would be: `services/serviceconsumermanagement.googleapis.com/projects/123/serviceIdentities/default`"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service identity."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The P4 service identity configuration tag. This must be defined in activation_grants. If not specified when creating the account, the tag is set to \"default\"."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique and stable id of the service identity."
          }
        },
        "projectRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project-level IAM role defined in the service agent's grant configuration. This is the standard role intended for this service agent. This field is populated regardless of the `skip_role_attach` option in the request. If `skip_role_attach` is true, the caller can use this value to know which role they are responsible for granting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service identity in the Identity and Access Management API."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MethodPolicy": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which these policies should be enforced, for example, \"google.pubsub.v1.Subscriber.CreateSubscription\". Refer to selector for syntax details. NOTE: This field must not be set in the proto annotation. It will be automatically filled by the service config compiler ."
          }
        },
        "requestPolicies": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#FieldPolicyList",
          "traits": {
            "smithy.api#documentation": "Policies that are applicable to the request message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies applying to an RPC method."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#FieldPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#FieldPolicy"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#BatchingSettingsProto": {
      "type": "structure",
      "members": {
        "elementCountThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent."
          }
        },
        "requestByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of the request that could be accepted by server."
          }
        },
        "flowControlElementLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements allowed by flow control."
          }
        },
        "requestByteThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message."
          }
        },
        "elementCountLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements collected in a batch that could be accepted by server."
          }
        },
        "flowControlByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of data allowed by flow control."
          }
        },
        "delayThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which a batch should be sent, starting from the addition of the first message to that batch."
          }
        },
        "flowControlLimitExceededBehavior": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The behavior to take when the flow control limit is exceeded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNSET_BEHAVIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET_BEHAVIOR"
          }
        },
        "THROW_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROW_EXCEPTION"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#FieldPolicy": {
      "type": "structure",
      "members": {
        "resourcePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the required permission(s) for the resource referred to by the field. It requires the field contains a valid resource reference, and the request must pass the permission checks to proceed. For example, \"resourcemanager.projects.get\"."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects one or more request or response message fields to apply this `FieldPolicy`. When a `FieldPolicy` is used in proto annotation, the selector must be left as empty. The service config generator will automatically fill the correct value. When a `FieldPolicy` is used in service config, the selector must be a comma-separated string with valid request or response field paths, such as \"foo.bar\" or \"foo.bar,foo.baz\"."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource type for the resource referred to by the field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google API Policy Annotation This message defines a simple API policy annotation that can be used to annotate API request and response message fields with applicable policies. One field may have multiple applicable policies that must all be satisfied before a request can be processed. This policy annotation is used to generate the overall policy that will be used for automatic runtime policy enforcement and documentation generation."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ImportProducerQuotaPoliciesRequest": {
      "type": "structure",
      "members": {
        "inlineSource": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1PolicyInlineSource",
          "traits": {
            "smithy.api#documentation": "The import data is specified in the request message itself"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether quota policy can result in a decrease of effective limit. Don't allow any decreases if force is not specified. If force is specified, then don't allow any decreases below 120% of the 7d quota usage, or for cases where usage cannot be examined (custom dimensions/ per user/per resource), only allow a 10% decrease."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, validate the request, but do not actually update."
          }
        },
        "forceJustification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If force or force_skip_quota_usage_check option is set to true, force_justification is suggested to be set to log the reason in audit logs."
          }
        },
        "forceSkipQuotaUsageCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, skip the quota usage check. This field is only used when the effective limit can be decreased. If the force field is not set, this field will be ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ImportProducerQuotaPolicies"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Option": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, `\"map_entry\"`. For custom options, it should be the fully-qualified name. For example, `\"google.api.http\"`."
          }
        },
        "value": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer option, which can be attached to a message, field, enumeration, etc. New usages of this message as an alternative to FileOptions, MessageOptions, FieldOptions, EnumOptions, EnumValueOptions, ServiceOptions, or MethodOptions are strongly discouraged."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#JwtLocation": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies URL query parameter name to extract JWT token."
          }
        },
        "cookie": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies cookie name to extract JWT token."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies HTTP header name to extract JWT token."
          }
        },
        "valuePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value prefix. The value format is \"value_prefix{token}\" Only applies to \"in\" header type. Must be empty for \"in\" query type. If not empty, the header value has to match (case sensitive) this prefix. If not matched, JWT will not be extracted. If matched, JWT will be extracted after the prefix is removed. For example, for \"Authorization: Bearer {JWT}\", value_prefix=\"Bearer \" with a space at the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a location to extract JWT from an API request."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#LogDescriptor": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.]."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable description of this log. This information appears in the documentation and can contain details."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name for this log. This information appears on the user interface and should be concise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#LabelDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#LabelDescriptor"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SystemParameters": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterRuleList",
          "traits": {
            "smithy.api#documentation": "Define system parameters. The parameters defined here will override the default parameters implemented by the system. If this field is missing from the service config, default system parameters will be used. Default system parameters and names is implementation-dependent. Example: define api key for all methods system_parameters rules: - selector: \"*\" parameters: - name: api_key url_query_parameter: api_key Example: define 2 api key names for a specific method. system_parameters rules: - selector: \"/ListShelves\" parameters: - name: api_key http_header: Api-Key1 - name: api_key http_header: Api-Key2 **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "### System parameter configuration A system parameter is a special kind of parameter defined by the API system, not by an individual API. It is typically mapped to an HTTP header and/or a URL query parameter. This configuration specifies which methods change the names of the system parameters."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Backend": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#BackendRuleList",
          "traits": {
            "smithy.api#documentation": "A list of API backend rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Backend` defines the backend configuration for a service."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#BackendRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#BackendRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AspectRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Selects the RPC methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "config": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. Rules of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule-based configuration for an aspect."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MetricRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "metricCosts": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Metrics to update when the selected methods are called, and the associated cost applied to each metric. The key of the map is the metric name, and the values are the amount increased for the metric against which the quota limits are defined. The value must not be negative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bind API methods to metrics. Binding a method to a metric causes that metric's configured quota behaviors to apply to the method call."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CustomErrorRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects messages to which this rule applies. Refer to selector for syntax details."
          }
        },
        "isErrorType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom error rule."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MonitoringDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in Service.monitored_resources section."
          }
        },
        "metrics": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Types of the metrics to report to this monitoring destination. Each type must be defined in Service.metrics section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific monitoring destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1beta1ServiceAccount": {
      "type": "structure",
      "members": {
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique and stable id of the service account."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service account."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The P4 SA configuration tag. This must be defined in activation_grants. If not specified when creating the account, the tag is set to \"default\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P4 SA resource name. An example name would be: `services/serviceconsumermanagement.googleapis.com/projects/123/serviceAccounts/default`"
          }
        },
        "iamAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated. See b/136209818."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account in the Identity and Access Management API."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AuthRequirement": {
      "type": "structure",
      "members": {
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NOTE: This will be deprecated soon, once AuthProvider.audiences is implemented and accepted in all the runtime components. The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, only JWTs with audience \"https://Service_name/API_name\" will be accepted. For example, if no audiences are in the setting, LibraryService API will only accept JWTs with the following audience \"https://library-example.googleapis.com/google.example.library.v1.LibraryService\". Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        },
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id from authentication provider. Example: provider_id: bookstore_auth"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-defined authentication requirements, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SourceContext": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: `\"google/protobuf/source_context.proto\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`SourceContext` represents information about the source of a protobuf element, like the file in which it is defined."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaBucket": {
      "type": "structure",
      "members": {
        "producerOverride": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverride",
          "traits": {
            "smithy.api#documentation": "Producer override on this quota bucket."
          }
        },
        "producerQuotaPolicy": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicy",
          "traits": {
            "smithy.api#documentation": "Producer policy inherited from the closet ancestor of the current consumer."
          }
        },
        "defaultLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default limit of this quota bucket, as specified by the service configuration."
          }
        },
        "dimensions": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "The dimensions of this quota bucket. If this map is empty, this is the global bucket, which is the default quota value applied to all requests that do not have a more specific override. If this map is nonempty, the default limit, effective limit, and quota overrides apply only to requests that have the dimensions given in the map. For example, if the map has key \"region\" and value \"us-east-1\", then the specified effective limit is only effective in that region, and the specified overrides apply only in that region."
          }
        },
        "effectiveLimit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective limit of this quota bucket. Equal to default_limit if there are no overrides."
          }
        },
        "rolloutInfo": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1RolloutInfo",
          "traits": {
            "smithy.api#documentation": "Rollout information of this quota bucket. This field is present only if the effective limit will change due to the ongoing rollout of the service config."
          }
        },
        "consumerOverride": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverride",
          "traits": {
            "smithy.api#documentation": "Consumer override on this quota bucket."
          }
        },
        "adminOverride": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverride",
          "traits": {
            "smithy.api#documentation": "Admin override on this quota bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quota bucket is a quota provisioning unit for a specific set of dimensions."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ListConsumerQuotaMetricsResponse": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaMetricList",
          "traits": {
            "smithy.api#documentation": "Quota settings for the consumer, organized by quota metric."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying which result to start with; returned by a previous list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListConsumerQuotaMetrics."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaMetric"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Field": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the default value of this field. Proto2 syntax only."
          }
        },
        "typeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type URL, without the scheme, for message or enumeration types. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The field number."
          }
        },
        "cardinality": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#FieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "The field cardinality."
          }
        },
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "kind": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#FieldKindEnum",
          "traits": {
            "smithy.api#documentation": "The field type."
          }
        },
        "oneofIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the field type in `Type.oneofs`, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
          }
        },
        "packed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use alternative packed wire representation."
          }
        },
        "jsonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field JSON name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single field of a message type. New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#FieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "CARDINALITY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_UNKNOWN"
          }
        },
        "CARDINALITY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_OPTIONAL"
          }
        },
        "CARDINALITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REQUIRED"
          }
        },
        "CARDINALITY_REPEATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REPEATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#FieldKindEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DOUBLE"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT64"
          }
        },
        "TYPE_UINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT64"
          }
        },
        "TYPE_INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT32"
          }
        },
        "TYPE_FIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED64"
          }
        },
        "TYPE_FIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED32"
          }
        },
        "TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BOOL"
          }
        },
        "TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STRING"
          }
        },
        "TYPE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GROUP"
          }
        },
        "TYPE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MESSAGE"
          }
        },
        "TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BYTES"
          }
        },
        "TYPE_UINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT32"
          }
        },
        "TYPE_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ENUM"
          }
        },
        "TYPE_SFIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED32"
          }
        },
        "TYPE_SFIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED64"
          }
        },
        "TYPE_SINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT32"
          }
        },
        "TYPE_SINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT64"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaMetric": {
      "type": "structure",
      "members": {
        "consumerQuotaLimits": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaLimitList",
          "traits": {
            "smithy.api#documentation": "The consumer quota for each quota limit defined on the metric."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the quota settings on this metric for this consumer. An example name would be: `services/serviceconsumermanagement.googleapis.com/projects/123/consumerQuotaMetrics/compute.googleapis.com%2Fcpus` The resource name is intended to be opaque and should not be parsed for its component strings, since its representation could change in the future."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "descendantConsumerQuotaLimits": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaLimitList",
          "traits": {
            "smithy.api#documentation": "The quota limits targeting the descendant containers of the consumer in request. If the consumer in request is of type `organizations` or `folders`, the field will list per-project limits in the metric; if the consumer in request is of type `project`, the field will be empty. The `quota_buckets` field of each descendant consumer quota limit will not be populated."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units in which the metric value is reported."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the metric. An example name would be: \"CPUs\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Consumer quota settings for a quota metric."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaLimitList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ConsumerQuotaLimit"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Logging": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the consumer project. There can be multiple consumer destinations, each one must have a different monitored resource type. A log can be used in at most one consumer destination."
          }
        },
        "producerDestinations": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the producer project. There can be multiple producer destinations, each one must have a different monitored resource type. A log can be used in at most one producer destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logging configuration of the service. The following example shows how to configure logs to be sent to the producer and consumer projects. In the example, the `activity_history` log is sent to both the producer and consumer projects, whereas the `purchase_history` log is only sent to the producer project. monitored_resources: - type: library.googleapis.com/branch labels: - key: /city description: The city where the library branch is located in. - key: /name description: The name of the branch. logs: - name: activity_history labels: - key: /customer_id - name: purchase_history logging: producer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history - purchase_history consumer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#LoggingDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#LoggingDestination"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1RefreshConsumerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for the `RefreshConsumer` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicy": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric to which this policy applies. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the producer policy. An example name would be: `services/compute.googleapis.com/organizations/123/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/producerQuotaPolicies/4a3f2c1d`"
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud resource container at which the quota policy is created. The format is {container_type}/{container_number}"
          }
        },
        "policyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota policy value. Can be any nonnegative integer, or -1 (unlimited quota)."
          }
        },
        "dimensions": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": " If this map is nonempty, then this policy applies only to specific values for dimensions defined in the limit unit. For example, a policy on a limit with the unit 1/{project}/{region} could contain an entry with the key \"region\" and the value \"us-east-1\"; the policy is only applied to quota consumed in that region. This map has the following restrictions: * Keys that are not defined in the limit's unit are not valid keys. Any string appearing in {brackets} in the unit (besides {project} or {user}) is a defined key. * \"project\" is not a valid key; the project is already specified in the parent resource name. * \"user\" is not a valid key; the API does not support quota polcies that apply only to a specific user. * If \"region\" appears as a key, its value must be a valid Cloud region. * If \"zone\" appears as a key, its value must be a valid Cloud zone. * If any valid key other than \"region\" or \"zone\" appears in the map, then all valid keys other than \"region\" or \"zone\" must also appear in the map."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The limit unit of the limit to which this policy applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota policy created by service producer."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AuthenticationRule": {
      "type": "structure",
      "members": {
        "oauth": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#OAuthRequirements",
          "traits": {
            "smithy.api#documentation": "The requirements for OAuth credentials."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "allowWithoutCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the service accepts API keys without any other credential. This flag only applies to HTTP and gRPC requests."
          }
        },
        "requirements": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#AuthRequirementList",
          "traits": {
            "smithy.api#documentation": "Requirements for additional authentication providers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication rules for the service. By default, if a method has any authentication requirements, every request must include a valid credential matching one of the requirements. It's an error to include more than one kind of credential in a single request. If a method doesn't have any auth requirements, request credentials will be ignored."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AuthRequirementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#AuthRequirement"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1RolloutInfo": {
      "type": "structure",
      "members": {
        "defaultLimitOngoingRollout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether there is an ongoing rollout for the default limit or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Output only] Rollout information of a quota."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1GenerateServiceIdentityResponse": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ServiceIdentity",
          "traits": {
            "smithy.api#documentation": "ServiceIdentity that was created or retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GenerateServiceIdentity` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ImportProducerOverridesResponse": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverrideList",
          "traits": {
            "smithy.api#documentation": "The overrides that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportProducerOverrides"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverrideList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverride"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#PythonSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "experimentalFeatures": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#ExperimentalFeatures",
          "traits": {
            "smithy.api#documentation": "Experimental features to be included during client library generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Python client libraries."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1PolicyInlineSource": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicyList",
          "traits": {
            "smithy.api#documentation": "The policies to create. Each policy must have a value for 'metric' and 'unit', to specify which metric and which limit the policy should be applied to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Import data embedded in the request message"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicy"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Documentation": {
      "type": "structure",
      "members": {
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        },
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "pages": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#DocumentationRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Publishing": {
      "type": "structure",
      "members": {
        "docTagPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A prefix used in sample code when demarking regions to be included in documentation."
          }
        },
        "protoReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to proto reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rpc"
          }
        },
        "methodSettings": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MethodSettingsList",
          "traits": {
            "smithy.api#documentation": "A list of API method settings, e.g. the behavior for methods that use the long-running operation pattern."
          }
        },
        "organization": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#PublishingOrganizationEnum",
          "traits": {
            "smithy.api#documentation": "For whom the client library is being published."
          }
        },
        "githubLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub label to apply to issues and pull requests opened for this API."
          }
        },
        "librarySettings": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#ClientLibrarySettingsList",
          "traits": {
            "smithy.api#documentation": "Client library settings. If the same version string appears multiple times in this list, then the last one wins. Settings from earlier settings with the same version string are discarded."
          }
        },
        "newIssueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to a *public* URI where users can report issues. Example: https://issuetracker.google.com/issues/new?component=190865&template=1161103"
          }
        },
        "restReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to REST reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rest"
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to product home page. Example: https://cloud.google.com/asset-inventory/docs/overview"
          }
        },
        "apiShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used as a tracking tag when collecting data about the APIs developer relations artifacts like docs, packages delivered to package managers, etc. Example: \"speech\"."
          }
        },
        "codeownerGithubTeams": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "GitHub teams to be added to CODEOWNERS in the directory in GitHub containing source code for the client libraries for this API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message configures the settings for publishing [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from the service config."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MethodSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#MethodSettings"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#PublishingOrganizationEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADS"
          }
        },
        "PHOTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTOS"
          }
        },
        "STREET_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_VIEW"
          }
        },
        "SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO"
          }
        },
        "GENERATIVE_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATIVE_AI"
          }
        },
        "HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#ClientLibrarySettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#ClientLibrarySettings"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettings": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettingsDestinationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The destination where API teams want this client library to be published."
          }
        },
        "selectiveGapicGeneration": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SelectiveGapicGeneration",
          "traits": {
            "smithy.api#documentation": "Configuration for which RPCs should be generated in the GAPIC client. Note: This field should not be used in most cases."
          }
        },
        "referenceDocsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to automatically generated reference documentation. Example: https://cloud.google.com/nodejs/docs/reference/asset/latest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required information for every language."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettingsDestinationsItemEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_DESTINATION_UNSPECIFIED"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GITHUB"
          }
        },
        "PACKAGE_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_MANAGER"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettingsDestinationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettingsDestinationsItemEnum"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1DisableConsumerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for the `DisableConsumer` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Api": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this interface, including package name followed by the interface's simple name."
          }
        },
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the interface."
          }
        },
        "syntax": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#ApiSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of the service."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
          }
        },
        "mixins": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MixinList",
          "traits": {
            "smithy.api#documentation": "Included interfaces. See Mixin."
          }
        },
        "methods": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MethodList",
          "traits": {
            "smithy.api#documentation": "The methods of this interface, in unspecified order."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "Source context for the protocol buffer service represented by this message."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#ApiSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MixinList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#Mixin"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#Method"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SystemParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the name of the parameter, such as \"api_key\" . It is case sensitive."
          }
        },
        "httpHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the HTTP header name to use for the parameter. It is case insensitive."
          }
        },
        "urlQueryParameter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Define the URL query parameter name to use for the parameter. It is case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a parameter's name and location. The parameter may be passed as either an HTTP header or a URL query parameter, and if both are passed the behavior is implementation-dependent."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Aspect": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Content of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this aspect configuration."
          }
        },
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#AspectRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Rules of the Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aspect represents Generic aspect. It is used to configure an aspect without making direct changes to service.proto"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#AspectRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#AspectRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1beta1RemoveVisibilityLabelsResponse": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The updated set of visibility labels for this consumer on this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `RemoveVisibilityLabels` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadata": {
      "type": "structure",
      "members": {
        "launchStage": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. Must use the MetricDescriptor.launch_stage instead."
          }
        },
        "ingestDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
          }
        },
        "samplePeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
          }
        },
        "timeSeriesResourceHierarchyLevel": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The scope of the timeseries data of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional annotations that can be used to guide the usage of a metric."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum": {
      "type": "enum",
      "members": {
        "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "parameters": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterList",
          "traits": {
            "smithy.api#documentation": "Define parameters. Multiple names may be defined for a parameter. For a given method call, only one of them should be used. If multiple names are used the behavior is implementation-dependent. If none of the specified names are present the behavior is parameter-dependent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a system parameter rule mapping system parameter definitions to methods."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#SystemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#SystemParameter"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#JavaSettings": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "libraryPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name to use in Java. Clobbers the java_package option set in the protobuf. This should be used **only** by APIs who have already set the language_settings.java.package_name\" field in gapic.yaml. API teams should use the protobuf java_package option where possible. Example of a YAML configuration:: publishing: library_settings: java_settings: library_package: com.google.cloud.pubsub.v1"
          }
        },
        "serviceClassNames": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Configure the Java class name to use instead of the service's for its corresponding generated GAPIC client. Keys are fully-qualified service names as they appear in the protobuf (including the full the language_settings.java.interface_names\" field in gapic.yaml. API teams should otherwise use the service name as it appears in the protobuf. Example of a YAML configuration:: publishing: java_settings: service_class_names: - google.pubsub.v1.Publisher: TopicAdmin - google.pubsub.v1.Subscriber: SubscriptionAdmin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Java client libraries."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1EnableConsumerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for the `EnableConsumer` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ImportProducerQuotaPoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1ProducerQuotaPolicyList",
          "traits": {
            "smithy.api#documentation": "The policies that were created from the imported data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ImportProducerQuotaPolicies"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CustomError": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#CustomErrorRuleList",
          "traits": {
            "smithy.api#documentation": "The list of custom error rules that apply to individual API messages. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "types": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customize service error responses. For example, list any service specific protobuf types that can appear in error detail lists of error responses. Example: custom_error: types: - google.foo.v1.CustomError - google.foo.v1.AnotherError"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#CustomErrorRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#CustomErrorRule"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1beta1GenerateServiceAccountResponse": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#V1beta1ServiceAccount",
          "traits": {
            "smithy.api#documentation": "ServiceAccount that was created or retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `GenerateServiceAccount` method. This response message is assigned to the `response` field of the returned Operation when that operation is done."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#V1Beta1QuotaOverride": {
      "type": "structure",
      "members": {
        "adminOverrideAncestor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ancestor that requested the override. For example: \"organizations/12345\" or \"folders/67890\". Used by admin overrides only."
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric to which this override applies. An example name would be: `compute.googleapis.com/cpus`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the producer override. An example name would be: `services/compute.googleapis.com/projects/123/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/producerOverrides/4a3f2c1d`"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The limit unit of the limit to which this override applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string."
          }
        },
        "overrideValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The overriding quota limit value. Can be any nonnegative integer, or -1 (unlimited quota)."
          }
        },
        "dimensions": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": " If this map is nonempty, then this override applies only to specific values for dimensions defined in the limit unit. For example, an override on a limit with the unit 1/{project}/{region} could contain an entry with the key \"region\" and the value \"us-east-1\"; the override is only applied to quota consumed in that region. This map has the following restrictions: * Keys that are not defined in the limit's unit are not valid keys. Any string appearing in {brackets} in the unit (besides {project} or {user}) is a defined key. * \"project\" is not a valid key; the project is already specified in the parent resource name. * \"user\" is not a valid key; the API does not support quota overrides that apply only to a specific user. * If \"region\" appears as a key, its value must be a valid Cloud region. * If \"zone\" appears as a key, its value must be a valid Cloud zone. * If any valid key other than \"region\" or \"zone\" appears in the map, then all valid keys other than \"region\" or \"zone\" must also appear in the map."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quota override"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MonitoredResourceDescriptor": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, `\"Google Cloud SQL Database\"`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A detailed description of the monitored resource type that might be used in documentation."
          }
        },
        "launchStage": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#MonitoredResourceDescriptorLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The launch stage of the monitored resource definition."
          }
        },
        "labels": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#LabelDescriptorList",
          "traits": {
            "smithy.api#documentation": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels `\"database_id\"` and `\"zone\"`."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL. For a list of types, see [Monitored resource types](https://cloud.google.com/monitoring/api/resources) and [Logging resource types](https://cloud.google.com/logging/docs/api/v2/resource-list)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the monitored resource descriptor: `\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where {type} is the value of the `type` field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format `\"monitoredResourceDescriptors/{type}\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of `\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and `\"zone\"` to identify particular VM instances. Different APIs can support different monitored resource types. APIs generally provide a `list` method that returns the monitored resource descriptors used by the API. "
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#MonitoredResourceDescriptorLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#BatchingConfigProto": {
      "type": "structure",
      "members": {
        "thresholds": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#BatchingSettingsProto",
          "traits": {
            "smithy.api#documentation": "The thresholds which trigger a batched request to be sent."
          }
        },
        "batchDescriptor": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#BatchingDescriptorProto",
          "traits": {
            "smithy.api#documentation": "The request and response fields used in batching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingConfigProto` defines the batching configuration for an API method."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Type": {
      "type": "structure",
      "members": {
        "oneofs": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of types appearing in `oneof` definitions in this type."
          }
        },
        "fields": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#FieldList",
          "traits": {
            "smithy.api#documentation": "The list of fields."
          }
        },
        "sourceContext": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#SourceContext",
          "traits": {
            "smithy.api#documentation": "The source context."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified message name."
          }
        },
        "options": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "syntax": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#TypeSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protocol buffer message type. New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#FieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.serviceconsumermanagement_v1beta1#Field"
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#TypeSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#LoggingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
          }
        },
        "logs": {
          "target": "com.gcp.serviceconsumermanagement_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific logging destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.serviceconsumermanagement_v1beta1#Endpoint": {
      "type": "structure",
      "members": {
        "name": {
[...]
