{
  "smithy": "2.0",
  "metadata": {
    "service": "servicenetworking",
    "version": "v1beta",
    "title": "Service Networking API",
    "baseUrl": "https://servicenetworking.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicenetworking_v1beta#Api": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.servicenetworking_v1beta#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the interface."
          }
        },
        "methods": {
          "target": "com.gcp.servicenetworking_v1beta#MethodList",
          "traits": {
            "smithy.api#documentation": "The methods of this interface, in unspecified order."
          }
        },
        "syntax": {
          "target": "com.gcp.servicenetworking_v1beta#ApiSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of the service."
          }
        },
        "sourceContext": {
          "target": "com.gcp.servicenetworking_v1beta#SourceContext",
          "traits": {
            "smithy.api#documentation": "Source context for the protocol buffer service represented by this message."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of this interface, including package name followed by the interface's simple name."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
          }
        },
        "mixins": {
          "target": "com.gcp.servicenetworking_v1beta#MixinList",
          "traits": {
            "smithy.api#documentation": "Included interfaces. See Mixin."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology. New usages of this message as an alternative to ServiceDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1beta#OptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#Option"
      }
    },
    "com.gcp.servicenetworking_v1beta#MethodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#Method"
      }
    },
    "com.gcp.servicenetworking_v1beta#ApiSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#MixinList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#Mixin"
      }
    },
    "com.gcp.servicenetworking_v1beta#Http": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#HttpRuleList",
          "traits": {
            "smithy.api#documentation": "A list of HTTP configuration rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "fullyDecodeReservedExpansion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, URL path parameters will be fully URI-decoded except in cases of single segment matches in reserved expansion, where \"%2F\" will be left encoded. The default behavior is to not decode RFC 6570 reserved characters in multi segment matches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the HTTP configuration for an API service. It contains a list of HttpRule, each specifying the mapping of an RPC method to one or more HTTP REST API methods."
      }
    },
    "com.gcp.servicenetworking_v1beta#HttpRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#HttpRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#ConsumerConfig": {
      "type": "structure",
      "members": {
        "producerExportSubnetRoutesWithPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Export subnet routes with public ip flag value for peering from producer to consumer."
          }
        },
        "usedIpRanges": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The IP ranges already in use by consumer or producer"
          }
        },
        "vpcScReferenceArchitectureEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the VPC Service Controls reference architecture is configured for the producer VPC host network."
          }
        },
        "consumerExportCustomRoutes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Export custom routes flag value for peering from consumer to producer."
          }
        },
        "producerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The VPC host network that is used to host managed service instances. In the format, projects/{project}/global/networks/{network} where {project} is the project number e.g. '12345' and {network} is the network name."
          }
        },
        "consumerImportSubnetRoutesWithPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Import subnet routes with public ip flag value for peering from consumer to producer."
          }
        },
        "producerImportCustomRoutes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Import custom routes flag value for peering from producer to consumer."
          }
        },
        "producerExportCustomRoutes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Export custom routes flag value for peering from producer to consumer."
          }
        },
        "producerImportSubnetRoutesWithPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Import subnet routes with public ip flag value for peering from producer to consumer."
          }
        },
        "consumerImportCustomRoutes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Import custom routes flag value for peering from consumer to producer."
          }
        },
        "consumerExportSubnetRoutesWithPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Export subnet routes with public ip flag value for peering from consumer to producer."
          }
        },
        "reservedRanges": {
          "target": "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1ConsumerConfigReservedRangeList",
          "traits": {
            "smithy.api#documentation": "Output only. The reserved ranges associated with this private service access connection."
          }
        },
        "cloudsqlConfigs": {
          "target": "com.gcp.servicenetworking_v1beta#CloudSQLConfigList",
          "traits": {
            "smithy.api#documentation": "Represents one or multiple Cloud SQL configurations."
          }
        },
        "consumerPeeringActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If this is true, consumer peering is active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information for a private service access connection."
      }
    },
    "com.gcp.servicenetworking_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1ConsumerConfigReservedRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1ConsumerConfigReservedRange"
      }
    },
    "com.gcp.servicenetworking_v1beta#CloudSQLConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#CloudSQLConfig"
      }
    },
    "com.gcp.servicenetworking_v1beta#CustomHttpPattern": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this custom HTTP verb."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path matched by this custom verb."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom pattern is used for defining custom HTTP verb."
      }
    },
    "com.gcp.servicenetworking_v1beta#PeeredDnsDomain": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User assigned name for this resource. Must be unique within the consumer network. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
          }
        },
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS domain name suffix e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS domain suffix for which requests originating in the producer VPC network are resolved in the associated consumer VPC network."
      }
    },
    "com.gcp.servicenetworking_v1beta#Usage": {
      "type": "structure",
      "members": {
        "producerNotificationChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of a channel used for sending notifications to the service producer. Google Service Management currently only supports [Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification channel. To use Google Cloud Pub/Sub as the channel, this must be the name of a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format documented in https://cloud.google.com/pubsub/docs/overview."
          }
        },
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#UsageRuleList",
          "traits": {
            "smithy.api#documentation": "A list of usage rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "requirements": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Requirements that must be satisfied before a consumer project can use the service. Each requirement is of the form /; for example 'serviceusage.googleapis.com/billing-enabled'. For Google APIs, a Terms of Service requirement must be included here. Google Cloud APIs must include \"serviceusage.googleapis.com/tos/cloud\". Other Google APIs should include \"serviceusage.googleapis.com/tos/universal\". Additional ToS can be included based on the business needs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration controlling usage of a service."
      }
    },
    "com.gcp.servicenetworking_v1beta#UsageRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#UsageRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#SystemParameterRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "parameters": {
          "target": "com.gcp.servicenetworking_v1beta#SystemParameterList",
          "traits": {
            "smithy.api#documentation": "Define parameters. Multiple names may be defined for a parameter. For a given method call, only one of them should be used. If multiple names are used the behavior is implementation-dependent. If none of the specified names are present the behavior is parameter-dependent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a system parameter rule mapping system parameter definitions to methods."
      }
    },
    "com.gcp.servicenetworking_v1beta#SystemParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#SystemParameter"
      }
    },
    "com.gcp.servicenetworking_v1beta#OAuthRequirements": {
      "type": "structure",
      "members": {
        "canonicalScopes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of publicly documented OAuth scopes that are allowed access. An OAuth token containing any of these scopes will be accepted. Example: canonical_scopes: https://www.googleapis.com/auth/calendar, https://www.googleapis.com/auth/calendar.read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes are a way to define data and permissions on data. For example, there are scopes defined for \"Read-only access to Google Calendar\" and \"Access to Cloud Platform\". Users can consent to a scope for an application, giving it permission to access that data on their behalf. OAuth scope specifications should be fairly coarse grained; a user will need to see and understand the text description of what your scope means. In most cases: use one or at most two OAuth scopes for an entire family of products. If your product has multiple APIs, you should probably be sharing the OAuth scope across all of those APIs. When you need finer grained OAuth consent screens: talk with your product management about how developers will use them in practice. Please note that even though each of the canonical scopes is enough for a request to be accepted and passed to the backend, a request can still fail due to the backend requiring additional scopes or permissions."
      }
    },
    "com.gcp.servicenetworking_v1beta#Context": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#ContextRuleList",
          "traits": {
            "smithy.api#documentation": "A list of RPC context rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Context` defines which contexts an API requests. Example: context: rules: - selector: \"*\" requested: - google.rpc.context.ProjectContext - google.rpc.context.OriginContext The above specifies that all methods in the API request `google.rpc.context.ProjectContext` and `google.rpc.context.OriginContext`. Available context types are defined in package `google.rpc.context`. This also provides mechanism to allowlist any protobuf message extension that can be sent in grpc metadata using “x-goog-ext--bin” and “x-goog-ext--jspb” format. For example, list any service specific protobuf types that can appear in grpc metadata as follows in your yaml file: Example: context: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allowed_request_extensions: - google.foo.v1.NewExtension allowed_response_extensions: - google.foo.v1.NewExtension You can also specify extension ID instead of fully qualified extension name here."
      }
    },
    "com.gcp.servicenetworking_v1beta#ContextRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#ContextRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#SourceInfo": {
      "type": "structure",
      "members": {
        "sourceFiles": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "All files used during config generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source information used to create a Service Config"
      }
    },
    "com.gcp.servicenetworking_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicenetworking_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#DocumentMap"
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthProvider": {
      "type": "structure",
      "members": {
        "jwksUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs"
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com"
          }
        },
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        },
        "jwtLocations": {
          "target": "com.gcp.servicenetworking_v1beta#JwtLocationList",
          "traits": {
            "smithy.api#documentation": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.servicenetworking_v1beta#JwtLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#JwtLocation"
      }
    },
    "com.gcp.servicenetworking_v1beta#PeeredDnsDomainMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by CreatePeeredDnsDomain API."
      }
    },
    "com.gcp.servicenetworking_v1beta#Endpoint": {
      "type": "structure",
      "members": {
        "allowCors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allowing [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka cross-domain traffic, would allow the backends served from this endpoint to receive and respond to HTTP OPTIONS requests. The response will be used by the browser to determine whether the subsequent cross-origin request is allowed to proceed."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specification of an Internet routable address of API frontend that will handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary). It should be either a valid IPv4 address or a fully-qualified domain name. For example, \"8.8.8.8\" or \"myservice.appspot.com\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical name of this endpoint."
          }
        },
        "aliases": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Aliases for this endpoint, these will be served by the same UrlMap as the parent endpoint, and will be provisioned in the GCP stack for the Regional Endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Endpoint` describes a network address of a service that serves a set of APIs. It is commonly known as a service endpoint. A service may expose any number of service endpoints, and all service endpoints share the same service definition, such as quota limits and monitoring metrics. Example: type: google.api.Service name: library-example.googleapis.com endpoints: # Declares network address `https://library-example.googleapis.com` # for service `library-example.googleapis.com`. The `https` scheme # is implicit for all service endpoints. Other schemes may be # supported in the future. - name: library-example.googleapis.com allow_cors: false - name: content-staging-library-example.googleapis.com # Allows HTTP OPTIONS calls to be passed to the API frontend, for it # to decide whether the subsequent cross-origin request is allowed # to proceed. allow_cors: true"
      }
    },
    "com.gcp.servicenetworking_v1beta#Mixin": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the interface which is included."
          }
        },
        "root": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If non-empty specifies a path under which inherited HTTP paths are rooted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inheriting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }"
      }
    },
    "com.gcp.servicenetworking_v1beta#DotnetSettings": {
      "type": "structure",
      "members": {
        "forcedNamespaceAliases": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Namespaces which must be aliased in snippets due to a known (but non-generator-predictable) naming collision"
          }
        },
        "common": {
          "target": "com.gcp.servicenetworking_v1beta#CommonLanguageSettings",
          "traits": {
            "smithy.api#documentation": "Some settings."
          }
        },
        "ignoredResources": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of full resource types to ignore during generation. This is typically used for API-specific Location resources, which should be handled by the generator as if they were actually the common Location resources. Example entry: \"documentai.googleapis.com/Location\""
          }
        },
        "renamedResources": {
          "target": "com.gcp.servicenetworking_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from full resource types to the effective short name for the resource. This is used when otherwise resource named from different services would cause naming collisions. Example entry: \"datalabeling.googleapis.com/Dataset\": \"DataLabelingDataset\""
          }
        },
        "renamedServices": {
          "target": "com.gcp.servicenetworking_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Map from original service names to renamed versions. This is used when the default generated types would cause a naming conflict. (Neither name is fully-qualified.) Example: Subscriber to SubscriberServiceApi."
          }
        },
        "handwrittenSignatures": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Method signatures (in the form \"service.method(signature)\") which are provided separately, so shouldn't be generated. Snippets *calling* these methods are still generated, however."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Dotnet client libraries."
      }
    },
    "com.gcp.servicenetworking_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicenetworking_v1beta#MethodPolicy": {
      "type": "structure",
      "members": {
        "requestPolicies": {
          "target": "com.gcp.servicenetworking_v1beta#FieldPolicyList",
          "traits": {
            "smithy.api#documentation": "Policies that are applicable to the request message."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects a method to which these policies should be enforced, for example, \"google.pubsub.v1.Subscriber.CreateSubscription\". Refer to selector for syntax details. NOTE: This field must not be set in the proto annotation. It will be automatically filled by the service config compiler ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines policies applying to an RPC method."
      }
    },
    "com.gcp.servicenetworking_v1beta#FieldPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#FieldPolicy"
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthenticationRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "oauth": {
          "target": "com.gcp.servicenetworking_v1beta#OAuthRequirements",
          "traits": {
            "smithy.api#documentation": "The requirements for OAuth credentials."
          }
        },
        "allowWithoutCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the service accepts API keys without any other credential. This flag only applies to HTTP and gRPC requests."
          }
        },
        "requirements": {
          "target": "com.gcp.servicenetworking_v1beta#AuthRequirementList",
          "traits": {
            "smithy.api#documentation": "Requirements for additional authentication providers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication rules for the service. By default, if a method has any authentication requirements, every request must include a valid credential matching one of the requirements. It's an error to include more than one kind of credential in a single request. If a method doesn't have any auth requirements, request credentials will be ignored."
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthRequirementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#AuthRequirement"
      }
    },
    "com.gcp.servicenetworking_v1beta#Range": {
      "type": "structure",
      "members": {
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CIDR range in \"10.x.x.x/y\" format that is within the allocated ranges and currently unused."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In the Shared VPC host project, the VPC network that's peered with the consumer network. For example: `projects/1234321/global/networks/host-network`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a found unused range."
      }
    },
    "com.gcp.servicenetworking_v1beta#SelectiveGapicGeneration": {
      "type": "structure",
      "members": {
        "methods": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "An allowlist of the fully qualified names of RPCs that should be included on public client surfaces."
          }
        },
        "generateOmittedAsInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true indicates to the client generators that methods that would be excluded from the generation should instead be generated in a way that indicates these methods should not be consumed by end users. How this is expressed is up to individual language implementations to decide. Some examples may be: added annotations, obfuscated identifiers, or other language idiomatic patterns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message is used to configure the generation of a subset of the RPCs in a service for client libraries. Note: This feature should not be used in most cases."
      }
    },
    "com.gcp.servicenetworking_v1beta#UpdateDnsRecordSetMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by UpdateDnsRecordSet API"
      }
    },
    "com.gcp.servicenetworking_v1beta#DeletePeeredDnsDomainMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by DeletePeeredDnsDomain API."
      }
    },
    "com.gcp.servicenetworking_v1beta#BatchingSettingsProto": {
      "type": "structure",
      "members": {
        "elementCountThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of elements of a field collected into a batch which, if exceeded, causes the batch to be sent."
          }
        },
        "requestByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of the request that could be accepted by server."
          }
        },
        "flowControlLimitExceededBehavior": {
          "target": "com.gcp.servicenetworking_v1beta#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The behavior to take when the flow control limit is exceeded."
          }
        },
        "requestByteThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aggregated size of the batched field which, if exceeded, causes the batch to be sent. This size is computed by aggregating the sizes of the request field to be batched, not of the entire request message."
          }
        },
        "delayThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which a batch should be sent, starting from the addition of the first message to that batch."
          }
        },
        "flowControlByteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum size of data allowed by flow control."
          }
        },
        "elementCountLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements collected in a batch that could be accepted by server."
          }
        },
        "flowControlElementLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of elements allowed by flow control."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingSettingsProto` specifies a set of batching thresholds, each of which acts as a trigger to send a batch of messages as a request. At least one threshold must be positive nonzero."
      }
    },
    "com.gcp.servicenetworking_v1beta#BatchingSettingsProtoFlowControlLimitExceededBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNSET_BEHAVIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET_BEHAVIOR"
          }
        },
        "THROW_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROW_EXCEPTION"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1ConsumerConfigReservedRange": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting address of the reserved range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix length is the CIDR range for the reserved range."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the reserved range."
          }
        },
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The prefix length of the reserved range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocated IP address ranges for this private service access connection."
      }
    },
    "com.gcp.servicenetworking_v1beta#BatchingDescriptorProto": {
      "type": "structure",
      "members": {
        "batchedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The repeated field in the request message to be aggregated by batching."
          }
        },
        "discriminatorFields": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the fields in the request message. Two requests will be batched together only if the values of every field specified in `request_discriminator_fields` is equal between the two requests."
          }
        },
        "subresponseField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When present, indicates the field in the response message to be used to demultiplex the response into multiple response messages, in correspondence with the multiple request messages originally batched together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BatchingDescriptorProto` specifies the fields of the request message to be used for batching, and, optionally, the fields of the response message to be used for demultiplexing."
      }
    },
    "com.gcp.servicenetworking_v1beta#Publishing": {
      "type": "structure",
      "members": {
        "docTagPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A prefix used in sample code when demarking regions to be included in documentation."
          }
        },
        "protoReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to proto reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rpc"
          }
        },
        "codeownerGithubTeams": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "GitHub teams to be added to CODEOWNERS in the directory in GitHub containing source code for the client libraries for this API."
          }
        },
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to product home page. Example: https://cloud.google.com/asset-inventory/docs/overview"
          }
        },
        "apiShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used as a tracking tag when collecting data about the APIs developer relations artifacts like docs, packages delivered to package managers, etc. Example: \"speech\"."
          }
        },
        "librarySettings": {
          "target": "com.gcp.servicenetworking_v1beta#ClientLibrarySettingsList",
          "traits": {
            "smithy.api#documentation": "Client library settings. If the same version string appears multiple times in this list, then the last one wins. Settings from earlier settings with the same version string are discarded."
          }
        },
        "githubLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub label to apply to issues and pull requests opened for this API."
          }
        },
        "organization": {
          "target": "com.gcp.servicenetworking_v1beta#PublishingOrganizationEnum",
          "traits": {
            "smithy.api#documentation": "For whom the client library is being published."
          }
        },
        "restReferenceDocumentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional link to REST reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rest"
          }
        },
        "methodSettings": {
          "target": "com.gcp.servicenetworking_v1beta#MethodSettingsList",
          "traits": {
            "smithy.api#documentation": "A list of API method settings, e.g. the behavior for methods that use the long-running operation pattern."
          }
        },
        "newIssueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to a *public* URI where users can report issues. Example: https://issuetracker.google.com/issues/new?component=190865&template=1161103"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message configures the settings for publishing [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from the service config."
      }
    },
    "com.gcp.servicenetworking_v1beta#ClientLibrarySettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#ClientLibrarySettings"
      }
    },
    "com.gcp.servicenetworking_v1beta#PublishingOrganizationEnum": {
      "type": "enum",
      "members": {
        "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADS"
          }
        },
        "PHOTOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHOTOS"
          }
        },
        "STREET_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET_VIEW"
          }
        },
        "SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING"
          }
        },
        "GEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEO"
          }
        },
        "GENERATIVE_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATIVE_AI"
          }
        },
        "HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#MethodSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#MethodSettings"
      }
    },
    "com.gcp.servicenetworking_v1beta#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.servicenetworking_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.servicenetworking_v1beta#Authentication": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#AuthenticationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "providers": {
          "target": "com.gcp.servicenetworking_v1beta#AuthProviderList",
          "traits": {
            "smithy.api#documentation": "Defines a set of authentication providers that a service supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read"
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthenticationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#AuthenticationRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#AuthProvider"
      }
    },
    "com.gcp.servicenetworking_v1beta#MethodSettings": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the method, for which the options below apply. This is used to find the method to apply the options. Example: publishing: method_settings: - selector: google.storage.control.v2.StorageControl.CreateFolder # method settings for CreateFolder..."
          }
        },
        "longRunning": {
          "target": "com.gcp.servicenetworking_v1beta#LongRunning",
          "traits": {
            "smithy.api#documentation": "Describes settings to use for long-running operations when generating API methods for RPCs. Complements RPCs that use the annotations in google/longrunning/operations.proto. Example of a YAML configuration:: publishing: method_settings: - selector: google.cloud.speech.v2.Speech.BatchRecognize long_running: initial_poll_delay: 60s # 1 minute poll_delay_multiplier: 1.5 max_poll_delay: 360s # 6 minutes total_poll_timeout: 54000s # 90 minutes"
          }
        },
        "autoPopulatedFields": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "List of top-level fields of the request message, that should be automatically populated by the client libraries based on their (google.api.field_info).format. Currently supported format: UUID4. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.CreateExample auto_populated_fields: - request_id"
          }
        },
        "batching": {
          "target": "com.gcp.servicenetworking_v1beta#BatchingConfigProto",
          "traits": {
            "smithy.api#documentation": "Batching configuration for an API method in client libraries. Example of a YAML configuration: publishing: method_settings: - selector: google.example.v1.ExampleService.BatchCreateExample batching: element_count_threshold: 1000 request_byte_threshold: 100000000 delay_threshold_millis: 10"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the generator configuration for a method."
      }
    },
    "com.gcp.servicenetworking_v1beta#LoggingDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
          }
        },
        "logs": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific logging destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.servicenetworking_v1beta#DnsZone": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
          }
        },
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DNS name suffix of this zone e.g. `example.com.`. Cloud DNS requires that a DNS suffix ends with a trailing dot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a DNS zone resource."
      }
    },
    "com.gcp.servicenetworking_v1beta#Monitoring": {
      "type": "structure",
      "members": {
        "consumerDestinations": {
          "target": "com.gcp.servicenetworking_v1beta#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        },
        "producerDestinations": {
          "target": "com.gcp.servicenetworking_v1beta#MonitoringDestinationList",
          "traits": {
            "smithy.api#documentation": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
      }
    },
    "com.gcp.servicenetworking_v1beta#MonitoringDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#MonitoringDestination"
      }
    },
    "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1betaSubnetwork": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In the Shared VPC host project, the VPC network that's peered with the consumer network. For example: `projects/1234321/global/networks/host-network`"
          }
        },
        "ipCidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnetwork CIDR range in `10.x.x.x/y` format."
          }
        },
        "outsideAllocation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This is a discovered subnet that is not within the current consumer allocated ranges."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnetwork name. See https://cloud.google.com/compute/docs/vpc/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a subnet that was created or discovered by a private access management service."
      }
    },
    "com.gcp.servicenetworking_v1beta#DocumentationRule": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the selected proto element (e.g. a message, a method, a 'service' definition, or a field). Defaults to leading & trailing comments taken from the proto source definition of the proto element."
          }
        },
        "deprecationDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecation description of the selected element(s). It can be provided if an element is marked as `deprecated`."
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The selector is a comma-separated list of patterns for any element such as a method, a field, an enum value. Each pattern is a qualified name of the element which may end in \"*\", indicating a wildcard. Wildcards are only allowed at the end and for a whole component of the qualified name, i.e. \"foo.*\" is ok, but not \"foo.b*\" or \"foo.*.bar\". A wildcard will match one or more components. To specify a default for all applicable elements, the whole pattern \"*\" is used."
          }
        },
        "disableReplacementWords": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String of comma or space separated case-sensitive words for which method/field name replacement will be disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A documentation rule provides information about individual API elements."
      }
    },
    "com.gcp.servicenetworking_v1beta#AuthRequirement": {
      "type": "structure",
      "members": {
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id from authentication provider. Example: provider_id: bookstore_auth"
          }
        },
        "audiences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NOTE: This will be deprecated soon, once AuthProvider.audiences is implemented and accepted in all the runtime components. The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, only JWTs with audience \"https://Service_name/API_name\" will be accepted. For example, if no audiences are in the setting, LibraryService API will only accept JWTs with the following audience \"https://library-example.googleapis.com/google.example.library.v1.LibraryService\". Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-defined authentication requirements, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
      }
    },
    "com.gcp.servicenetworking_v1beta#Documentation": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentationRuleList",
          "traits": {
            "smithy.api#documentation": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
          }
        },
        "pages": {
          "target": "com.gcp.servicenetworking_v1beta#PageList",
          "traits": {
            "smithy.api#documentation": "The top level pages for the documentation set."
          }
        },
        "additionalIamInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional information about the IAM configuration. This is typically used to link to documentation about a product's IAM roles and permissions."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
          }
        },
        "documentationRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the root of documentation."
          }
        },
        "serviceRootUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to."
          }
        },
        "sectionOverrides": {
          "target": "com.gcp.servicenetworking_v1beta#PageList",
          "traits": {
            "smithy.api#documentation": "Specifies section and content to override the boilerplate content. Currently overrides following sections: 1. rest.service.client_libraries"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Documentation` provides the information for describing a service. Example: documentation: summary: > The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: > ... - selector: google.calendar.Calendar.Put description: > ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation."
      }
    },
    "com.gcp.servicenetworking_v1beta#DocumentationRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#DocumentationRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#Page"
      }
    },
    "com.gcp.servicenetworking_v1beta#MonitoringDestination": {
      "type": "structure",
      "members": {
        "monitoredResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitored resource type. The type must be defined in Service.monitored_resources section."
          }
        },
        "metrics": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Types of the metrics to report to this monitoring destination. Each type must be defined in Service.metrics section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a specific monitoring destination (the producer project or the consumer project)."
      }
    },
    "com.gcp.servicenetworking_v1beta#SearchRangeRequest": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network name in the consumer project. This network must have been already peered with a shared VPC network using CreateConnection method. Must be in a form 'projects/{project}/global/networks/{network}'. {project} is a project number, as in '12345' {network} is network name."
          }
        },
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The prefix length of the IP range. Use usual CIDR range notation. For example, '30' to find unused x.x.x.x/30 CIDR range. Actual range will be determined using allocated range for the consumer peered network and returned in the result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to search for an unused range within allocated ranges."
      }
    },
    "com.gcp.servicenetworking_v1beta#AddDnsRecordSetMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by AddDnsRecordSet API"
      }
    },
    "com.gcp.servicenetworking_v1beta#AddDnsZoneResponse": {
      "type": "structure",
      "members": {
        "producerPrivateZone": {
          "target": "com.gcp.servicenetworking_v1beta#DnsZone",
          "traits": {
            "smithy.api#documentation": "The private DNS zone created in the shared producer host project."
          }
        },
        "consumerPeeringZone": {
          "target": "com.gcp.servicenetworking_v1beta#DnsZone",
          "traits": {
            "smithy.api#documentation": "The DNS peering zone created in the consumer project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents managed DNS zones created in the shared producer host and consumer projects."
      }
    },
    "com.gcp.servicenetworking_v1beta#UsageRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details."
          }
        },
        "skipServiceControl": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the selected method should skip service control and the control plane features, such as quota and billing, will not be available. This flag is used by Google Cloud Endpoints to bypass checks for internal methods, such as service health check methods."
          }
        },
        "allowUnregisteredCalls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use this rule to configure unregistered calls for the service. Unregistered calls are calls that do not contain consumer project identity. (Example: calls that do not contain an API key). WARNING: By default, API methods do not allow unregistered calls, and each method call must be identified by a consumer project identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage configuration rules for the service."
      }
    },
    "com.gcp.servicenetworking_v1beta#SourceContext": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path-qualified name of the .proto file that contained the associated protobuf element. For example: `\"google/protobuf/source_context.proto\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`SourceContext` represents information about the source of a protobuf element, like the file in which it is defined."
      }
    },
    "com.gcp.servicenetworking_v1beta#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.servicenetworking_v1beta#EnumValue": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Enum value number."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1beta#OptionList",
          "traits": {
            "smithy.api#documentation": "Protocol buffer options."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enum value name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum value definition. New usages of this message as an alternative to EnumValueDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1beta#GoogleCloudServicenetworkingV1betaConnection": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of service consumer's VPC network that's connected with service producer network, in the following format: `projects/{project}/global/networks/{network}`. `{project}` is a project number, such as in `12345` that includes the VPC service consumer's VPC network. `{network}` is the name of the service consumer's VPC network."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the peering service that's associated with this connection, in the following format: `services/{service name}`."
          }
        },
        "peering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the VPC Network Peering connection that was created by the service producer."
          }
        },
        "reservedPeeringRanges": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The name of one or more allocated IP address ranges for this service producer of type `PEERING`. Note that invoking this method with a different range when connection is already established will not modify already provisioned service producer subnetworks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a private connection resource. A private connection is implemented as a VPC Network Peering connection between a service producer's VPC network and a service consumer's VPC network."
      }
    },
    "com.gcp.servicenetworking_v1beta#Page": {
      "type": "structure",
      "members": {
        "subpages": {
          "target": "com.gcp.servicenetworking_v1beta#PageList",
          "traits": {
            "smithy.api#documentation": "Subpages of this page. The order of subpages specified here will be honored in the generated docset."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Markdown content of the page. You can use ```(== include {path} ==)``` to include content from a Markdown file. The content can be used to produce the documentation page such as HTML format page."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the page. It will be used as an identity of the page to generate URI of the page, text of the link to this page in navigation, etc. The full page name (start from the root page name to this page concatenated with `.`) can be used as reference to the page in your documentation. For example: pages: - name: Tutorial content: (== include tutorial.md ==) subpages: - name: Java content: (== include tutorial_java.md ==) You can reference `Java` page using Markdown reference link syntax: `Java`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a documentation page. A page can contain subpages to represent nested documentation set structure."
      }
    },
    "com.gcp.servicenetworking_v1beta#PartialDeleteConnectionMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by Partial Delete Connection API"
      }
    },
    "com.gcp.servicenetworking_v1beta#Aspect": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.gcp.servicenetworking_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Content of the configuration. The underlying schema should be defined by Aspect owners as protobuf message under `google/api/configaspects/proto`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this aspect configuration."
          }
        },
        "rules": {
          "target": "com.gcp.servicenetworking_v1beta#AspectRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Rules of the Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aspect represents Generic aspect. It is used to configure an aspect without making direct changes to service.proto"
      }
    },
    "com.gcp.servicenetworking_v1beta#AspectRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#AspectRule"
      }
    },
    "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadata": {
      "type": "structure",
      "members": {
        "samplePeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
          }
        },
        "ingestDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
          }
        },
        "launchStage": {
          "target": "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataLaunchStageEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated. Must use the MetricDescriptor.launch_stage instead."
          }
        },
        "timeSeriesResourceHierarchyLevel": {
          "target": "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The scope of the timeseries data of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional annotations that can be used to guide the usage of a metric."
      }
    },
    "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataLaunchStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum": {
      "type": "enum",
      "members": {
        "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SERIES_RESOURCE_HIERARCHY_LEVEL_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#MetricDescriptorMetadataTimeSeriesResourceHierarchyLevelItemEnum"
      }
    },
    "com.gcp.servicenetworking_v1beta#Method": {
      "type": "structure",
      "members": {
        "syntax": {
          "target": "com.gcp.servicenetworking_v1beta#MethodSyntaxEnum",
          "traits": {
            "smithy.api#documentation": "The source syntax of this method. This field should be ignored, instead the syntax should be inherited from Api. This is similar to Field and EnumValue."
          }
        },
        "requestStreaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the request is streamed."
          }
        },
        "responseTypeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the output message type."
          }
        },
        "responseStreaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the response is streamed."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1beta#OptionList",
          "traits": {
            "smithy.api#documentation": "Any metadata attached to the method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The simple name of this method."
          }
        },
        "requestTypeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL of the input message type."
          }
        },
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source edition string, only valid when syntax is SYNTAX_EDITIONS. This field should be ignored, instead the edition should be inherited from Api. This is similar to Field and EnumValue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Method represents a method of an API interface. New usages of this message as an alternative to MethodDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1beta#MethodSyntaxEnum": {
      "type": "enum",
      "members": {
        "SYNTAX_PROTO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO2"
          }
        },
        "SYNTAX_PROTO3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_PROTO3"
          }
        },
        "SYNTAX_EDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNTAX_EDITIONS"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#AddRolesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata provided through GetOperation request for the LRO generated by AddRoles API"
      }
    },
    "com.gcp.servicenetworking_v1beta#Logging": {
      "type": "structure",
      "members": {
        "producerDestinations": {
          "target": "com.gcp.servicenetworking_v1beta#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the producer project. There can be multiple producer destinations, each one must have a different monitored resource type. A log can be used in at most one producer destination."
          }
        },
        "consumerDestinations": {
          "target": "com.gcp.servicenetworking_v1beta#LoggingDestinationList",
          "traits": {
            "smithy.api#documentation": "Logging configurations for sending logs to the consumer project. There can be multiple consumer destinations, each one must have a different monitored resource type. A log can be used in at most one consumer destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logging configuration of the service. The following example shows how to configure logs to be sent to the producer and consumer projects. In the example, the `activity_history` log is sent to both the producer and consumer projects, whereas the `purchase_history` log is only sent to the producer project. monitored_resources: - type: library.googleapis.com/branch labels: - key: /city description: The city where the library branch is located in. - key: /name description: The name of the branch. logs: - name: activity_history labels: - key: /customer_id - name: purchase_history logging: producer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history - purchase_history consumer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history"
      }
    },
    "com.gcp.servicenetworking_v1beta#LoggingDestinationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicenetworking_v1beta#LoggingDestination"
      }
    },
    "com.gcp.servicenetworking_v1beta#Field": {
      "type": "structure",
      "members": {
        "oneofIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the field type in `Type.oneofs`, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
          }
        },
        "typeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field type URL, without the scheme, for message or enumeration types. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`."
          }
        },
        "cardinality": {
          "target": "com.gcp.servicenetworking_v1beta#FieldCardinalityEnum",
          "traits": {
            "smithy.api#documentation": "The field cardinality."
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The field number."
          }
        },
        "packed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use alternative packed wire representation."
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value of the default value of this field. Proto2 syntax only."
          }
        },
        "kind": {
          "target": "com.gcp.servicenetworking_v1beta#FieldKindEnum",
          "traits": {
            "smithy.api#documentation": "The field type."
          }
        },
        "options": {
          "target": "com.gcp.servicenetworking_v1beta#OptionList",
          "traits": {
            "smithy.api#documentation": "The protocol buffer options."
          }
        },
        "jsonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field JSON name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single field of a message type. New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
      }
    },
    "com.gcp.servicenetworking_v1beta#FieldCardinalityEnum": {
      "type": "enum",
      "members": {
        "CARDINALITY_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_UNKNOWN"
          }
        },
        "CARDINALITY_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_OPTIONAL"
          }
        },
        "CARDINALITY_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REQUIRED"
          }
        },
        "CARDINALITY_REPEATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CARDINALITY_REPEATED"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#FieldKindEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNKNOWN"
          }
        },
        "TYPE_DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_DOUBLE"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_INT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT64"
          }
        },
        "TYPE_UINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT64"
          }
        },
        "TYPE_INT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INT32"
          }
        },
        "TYPE_FIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED64"
          }
        },
        "TYPE_FIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FIXED32"
          }
        },
        "TYPE_BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BOOL"
          }
        },
        "TYPE_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STRING"
          }
        },
        "TYPE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_GROUP"
          }
        },
        "TYPE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MESSAGE"
          }
        },
        "TYPE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_BYTES"
          }
        },
        "TYPE_UINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UINT32"
          }
        },
        "TYPE_ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_ENUM"
          }
        },
        "TYPE_SFIXED32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED32"
          }
        },
        "TYPE_SFIXED64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SFIXED64"
          }
        },
        "TYPE_SINT32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT32"
          }
        },
        "TYPE_SINT64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SINT64"
          }
        }
      }
    },
    "com.gcp.servicenetworking_v1beta#MetricRule": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Selects the methods to which this rule applies. Refer to selector for syntax details."
          }
        },
        "metricCosts": {
          "target": "com.gcp.servicenetworking_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Metrics to update when the selected methods are called, and the associated cost applied to each metric. The key of the map is the metric name, and the values are the amount increased for the metric against which the quota limits are defined. The value must not be negative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bind API methods to metrics. Binding a method to a metric causes that metric's configured quota behaviors to apply to the method call."
      }
    },
    "com.gcp.servicenetworking_v1beta#AddSubnetworkRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description of the subnet."
          }
        },
        "requestedAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the subnet. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails."
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service consumer's VPC network. The network must have an existing private connection that was provisioned through the connections.create method. The name must be in the following format: `projects/{project}/global/networks/{network}`, where {project} is a project number, such as `12345`. {network} is the name of a VPC network in the project."
          }
        },
        "ipPrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The prefix length of the subnet's IP address range. Use CIDR range notation, such as `30` to provision a subnet with an `x.x.x.x/30` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range."
          }
        },
        "subnetworkUsers": {
          "target": "com.gcp.servicenetworking_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A list of members that are granted the `compute.networkUser` role on the subnet."
          }
        },
        "consumer": {
          "target": "smithy.api#String",
          "traits": {
[...]
