{
  "smithy": "2.0",
  "metadata": {
    "service": "servicedirectory",
    "version": "v1beta1",
    "title": "Service Directory API",
    "baseUrl": "https://servicedirectory.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicedirectory_v1beta1#ListNamespacesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "namespaces": {
          "target": "com.gcp.servicedirectory_v1beta1#NamespaceList",
          "traits": {
            "smithy.api#documentation": "The list of namespaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for RegistrationService.ListNamespaces."
      }
    },
    "com.gcp.servicedirectory_v1beta1#NamespaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicedirectory_v1beta1#Namespace"
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.servicedirectory_v1beta1#ServiceList",
          "traits": {
            "smithy.api#documentation": "The list of services."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for RegistrationService.ListServices."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicedirectory_v1beta1#Service"
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.servicedirectory_v1beta1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ResolveServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.gcp.servicedirectory_v1beta1#Service"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for LookupService.ResolveService."
      }
    },
    "com.gcp.servicedirectory_v1beta1#Namespace": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.servicedirectory_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels associated with this namespace. No more than 64 user labels can be associated with a given resource. Label keys and values can be no longer than 63 characters."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the namespace was created."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A globally unique identifier (in UUID4 format) for this namespace."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the namespace was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the namespace in the format `projects/*/locations/*/namespaces/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container for services. Namespaces allow administrators to group services together and define permissions for a collection of services."
      }
    },
    "com.gcp.servicedirectory_v1beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicedirectory_v1beta1#ResolveServiceRequest": {
      "type": "structure",
      "members": {
        "maxEndpoints": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of endpoints to return. Defaults to 25. Maximum is 100. If a value less than one is specified, the Default is used. If a value greater than the Maximum is specified, the Maximum is used."
          }
        },
        "endpointFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter applied to the endpoints of the resolved service. General `filter` string syntax: ` ()` * `` can be `name`, `address`, `port`, or `metadata.` for map field * `` can be `<`, `>`, `<=`, `>=`, `!=`, `=`, `:`. Of which `:` means `HAS`, and is roughly the same as `=` * `` must be the same data type as field * `` can be `AND`, `OR`, `NOT` Examples of valid filters: * `metadata.owner` returns endpoints that have a annotation with the key `owner`, this is the same as `metadata:owner` * `metadata.protocol=gRPC` returns endpoints that have key/value `protocol=gRPC` * `address=192.108.1.105` returns endpoints that have this address * `port>8080` returns endpoints that have port number larger than 8080 * `name>projects/my-project/locations/us-east1/namespaces/my-namespace/services/my-service/endpoints/endpoint-c` returns endpoints that have name that is alphabetically later than the string, so \"endpoint-e\" is returned but \"endpoint-a\" is not * `name=projects/my-project/locations/us-central1/namespaces/my-namespace/services/my-service/endpoints/ep-1` returns the endpoint that has an endpoint_id equal to `ep-1` * `metadata.owner!=sd AND metadata.foo=bar` returns endpoints that have `owner` in annotation key but value is not `sd` AND have key/value `foo=bar` * `doesnotexist.foo=bar` returns an empty list. Note that endpoint doesn't have a field called \"doesnotexist\". Since the filter does not match any endpoint, it returns no results For more information about filtering, see [API Filtering](https://aip.dev/160)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for LookupService.ResolveService. Looks up a service by its name, returns the service and its endpoints."
      }
    },
    "com.gcp.servicedirectory_v1beta1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.servicedirectory_v1beta1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.servicedirectory_v1beta1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicedirectory_v1beta1#Binding"
      }
    },
    "com.gcp.servicedirectory_v1beta1#Service": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the service was last updated. Note: endpoints being created/deleted/updated within the service are not considered service updates for the purpose of this timestamp."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A globally unique identifier (in UUID4 format) for this service."
          }
        },
        "metadata": {
          "target": "com.gcp.servicedirectory_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata for the service. This data can be consumed by service clients. Restrictions: * The entire metadata dictionary may contain up to 2000 characters, spread accoss all key-value pairs. Metadata that goes beyond this limit are rejected * Valid metadata keys have two segments: an optional prefix and name, separated by a slash (/). The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (.), not longer than 253 characters in total, followed by a slash (/). Metadata that fails to meet these requirements are rejected Note: This field is equivalent to the `annotations` field in the v1 API. They have the same syntax and read/write to the same location in Service Directory."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the service was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the service in the format `projects/*/locations/*/namespaces/*/services/*`."
          }
        },
        "endpoints": {
          "target": "com.gcp.servicedirectory_v1beta1#EndpointList",
          "traits": {
            "smithy.api#documentation": "Output only. Endpoints associated with this service. Returned on LookupService.ResolveService. Control plane clients should use RegistrationService.ListEndpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual service. A service contains a name and optional metadata. A service must exist before endpoints can be added to it."
      }
    },
    "com.gcp.servicedirectory_v1beta1#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicedirectory_v1beta1#Endpoint"
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.servicedirectory_v1beta1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.servicedirectory_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.servicedirectory_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.servicedirectory_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.servicedirectory_v1beta1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.servicedirectory_v1beta1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicedirectory_v1beta1#Location"
      }
    },
    "com.gcp.servicedirectory_v1beta1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.servicedirectory_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.servicedirectory_v1beta1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.servicedirectory_v1beta1#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.servicedirectory_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.servicedirectory_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.servicedirectory_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicedirectory_v1beta1#Endpoint": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory rejects values outside of `[0, 65535]`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the endpoint in the format `projects/*/locations/*/namespaces/*/services/*/endpoints/*`."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The Google Compute Engine network (VPC) of the endpoint in the format `projects//locations/global/networks/*`. The project must be specified by project number (project id is rejected). Incorrectly formatted networks are rejected, but no other validation is performed on this field (ex. network or project existence, reachability, or permissions)."
          }
        },
        "metadata": {
          "target": "com.gcp.servicedirectory_v1beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata for the endpoint. This data can be consumed by service clients. Restrictions: * The entire metadata dictionary may contain up to 512 characters, spread accoss all key-value pairs. Metadata that goes beyond this limit are rejected * Valid metadata keys have two segments: an optional prefix and name, separated by a slash (/). The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (.), not longer than 253 characters in total, followed by a slash (/). Metadata that fails to meet these requirements are rejected Note: This field is equivalent to the `annotations` field in the v1 API. They have the same syntax and read/write to the same location in Service Directory."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the endpoint was created."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An IPv4 or IPv6 address. Service Directory rejects bad addresses like: * `8.8.8` * `8.8.8.8:53` * `test:bad:address` * `[::1]` * `[::1]:8080` Limited to 45 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the endpoint was last updated."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A globally unique identifier (in UUID4 format) for this endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual endpoint that provides a service. The service must already exist to create an endpoint."
      }
    },
    "com.gcp.servicedirectory_v1beta1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.servicedirectory_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListEndpointsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "endpoints": {
          "target": "com.gcp.servicedirectory_v1beta1#EndpointList",
          "traits": {
            "smithy.api#documentation": "The list of endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for RegistrationService.ListEndpoints."
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.servicedirectory_v1beta1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.servicedirectory_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. List of fields to be updated in this request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the namespace in the format `projects/*/locations/*/namespaces/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Namespace",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.servicedirectory_v1beta1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Namespace"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a namespace."
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests IAM permissions for a resource (namespace, service or service workload only)."
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the namespace to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a namespace. This also deletes all services and endpoints in the namespace."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project and location whose namespaces you'd like to list.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of items to return. The default value is 100.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The order to list results by. General `order_by` string syntax: ` () (,)` * `` allows value: `name` * `` ascending or descending order by ``. If this is left blank, `asc` is used Note that an empty `order_by` string results in default order, which is order by `name` in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter to list results by. General `filter` string syntax: ` ()` * `` can be `name`, `labels.` for map field, or `attributes.` for attributes field * `` can be `<`, `>`, `<=`, `>=`, `!=`, `=`, `:`. Of which `:` means `HAS`, and is roughly the same as `=` * `` must be the same data type as field * `` can be `AND`, `OR`, `NOT` Examples of valid filters: * `labels.owner` returns namespaces that have a label with the key `owner`, this is the same as `labels:owner` * `labels.owner=sd` returns namespaces that have key/value `owner=sd` * `name>projects/my-project/locations/us-east1/namespaces/namespace-c` returns namespaces that have name that is alphabetically later than the string, so \"namespace-e\" is returned but \"namespace-a\" is not * `labels.owner!=sd AND labels.foo=bar` returns namespaces that have `owner` in label key but value is not `sd` AND have key/value `foo=bar` * `doesnotexist.foo=bar` returns an empty list. Note that namespace doesn't have a field called \"doesnotexist\". Since the filter does not match any namespaces, it returns no results * `attributes.managed_registration=true` returns namespaces that are managed by a GCP product or service For more information about filtering, see [API Filtering](https://aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#ListNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/namespaces"
        },
        "smithy.api#documentation": "Lists all namespaces.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM Policy for a resource"
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project and location the namespace will be created in.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "namespaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Resource ID must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
            "smithy.api#httpQuery": "namespaceId"
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Namespace",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Namespace"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/namespaces"
        },
        "smithy.api#documentation": "Creates a namespace, and returns the new namespace."
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the namespace to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Namespace"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a namespace."
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM Policy for a resource"
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests IAM permissions for a resource (namespace, service or service workload only)."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ResolveProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service to resolve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#ResolveServiceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#ResolveProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#ResolveProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#ResolveServiceResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+name}:resolve"
        },
        "smithy.api#documentation": "Returns a service and its associated endpoints. Resolving a service is not considered an active developer method."
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes a service. This also deletes all endpoints associated with the service."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter to list results by. General `filter` string syntax: ` ()` * `` can be `name` or `metadata.` for map field * `` can be `<`, `>`, `<=`, `>=`, `!=`, `=`, `:`. Of which `:` means `HAS`, and is roughly the same as `=` * `` must be the same data type as field * `` can be `AND`, `OR`, `NOT` Examples of valid filters: * `metadata.owner` returns services that have a metadata with the key `owner`, this is the same as `metadata:owner` * `metadata.protocol=gRPC` returns services that have key/value `protocol=gRPC` * `name>projects/my-project/locations/us-east1/namespaces/my-namespace/services/service-c` returns services that have name that is alphabetically later than the string, so \"service-e\" is returned but \"service-a\" is not * `metadata.owner!=sd AND metadata.foo=bar` returns services that have `owner` in metadata key but value is not `sd` AND have key/value `foo=bar` * `doesnotexist.foo=bar` returns an empty list. Note that service doesn't have a field called \"doesnotexist\". Since the filter does not match any services, it returns no results * `attributes.managed_registration=true` returns services that are managed by a GCP product or service For more information about filtering, see [API Filtering](https://aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the namespace whose services you'd like to list.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of items to return. The default value is 100.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The order to list results by. General `order_by` string syntax: ` () (,)` * `` allows value: `name` * `` ascending or descending order by ``. If this is left blank, `asc` is used Note that an empty `order_by` string results in default order, which is order by `name` in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/services"
        },
        "smithy.api#documentation": "Lists all services belonging to a namespace.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM Policy for a resource"
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the namespace this service will belong to.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Resource ID must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
            "smithy.api#httpQuery": "serviceId"
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Service"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/services"
        },
        "smithy.api#documentation": "Creates a service, and returns the new service."
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM Policy for a resource"
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. List of fields to be updated in this request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the service in the format `projects/*/locations/*/namespaces/*/services/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Service"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates a service."
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Service"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets a service."
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServicesEndpointsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service that this endpoint provides.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Resource ID must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
            "smithy.api#httpQuery": "endpointId"
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Endpoint",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServicesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#CreateProjectsLocationsNamespacesServicesEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Endpoint"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+parent}/endpoints"
        },
        "smithy.api#documentation": "Creates an endpoint, and returns the new endpoint."
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServicesEndpointsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the endpoint to get.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServicesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetProjectsLocationsNamespacesServicesEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Endpoint"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Gets an endpoint."
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServicesEndpointsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the service whose endpoints you'd like to list.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of items to return. The default value is 100.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The order to list results by. General `order_by` string syntax: ` () (,)` * `` allows values: `name`, `address`, `port` * `` ascending or descending order by ``. If this is left blank, `asc` is used Note that an empty `order_by` string results in default order, which is order by `name` in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The filter to list results by. General `filter` string syntax: ` ()` * `` can be `name`, `address`, `port`, `metadata.` for map field, or `attributes.` for attributes field * `` can be `<`, `>`, `<=`, `>=`, `!=`, `=`, `:`. Of which `:` means `HAS`, and is roughly the same as `=` * `` must be the same data type as field * `` can be `AND`, `OR`, `NOT` Examples of valid filters: * `metadata.owner` returns endpoints that have a metadata with the key `owner`, this is the same as `metadata:owner` * `metadata.protocol=gRPC` returns endpoints that have key/value `protocol=gRPC` * `address=192.108.1.105` returns endpoints that have this address * `port>8080` returns endpoints that have port number larger than 8080 * `name>projects/my-project/locations/us-east1/namespaces/my-namespace/services/my-service/endpoints/endpoint-c` returns endpoints that have name that is alphabetically later than the string, so \"endpoint-e\" is returned but \"endpoint-a\" is not * `metadata.owner!=sd AND metadata.foo=bar` returns endpoints that have `owner` in metadata key but value is not `sd` AND have key/value `foo=bar` * `doesnotexist.foo=bar` returns an empty list. Note that endpoint doesn't have a field called \"doesnotexist\". Since the filter does not match any endpoints, it returns no results * `attributes.kubernetes_resource_type=KUBERNETES_RESOURCE_TYPE_CLUSTER_ IP` returns endpoints with the corresponding kubernetes_resource_type For more information about filtering, see [API Filtering](https://aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServicesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#ListProjectsLocationsNamespacesServicesEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#ListEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta1/{+parent}/endpoints"
        },
        "smithy.api#documentation": "Lists all endpoints.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServicesEndpointsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the endpoint to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServicesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#DeleteProjectsLocationsNamespacesServicesEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Deletes an endpoint."
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServicesEndpointsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name for the endpoint in the format `projects/*/locations/*/namespaces/*/services/*/endpoints/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. List of fields to be updated in this request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#Endpoint",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServicesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#PatchProjectsLocationsNamespacesServicesEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Endpoint"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta1/{+name}"
        },
        "smithy.api#documentation": "Updates an endpoint."
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesWorkloadsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesWorkloads": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsProjectsLocationsNamespacesWorkloadsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests IAM permissions for a resource (namespace, service or service workload only)."
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesWorkloadsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesWorkloads": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#GetIamPolicyProjectsLocationsNamespacesWorkloadsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM Policy for a resource"
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesWorkloadsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesWorkloads": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicedirectory_v1beta1#SetIamPolicyProjectsLocationsNamespacesWorkloadsRequest"
      },
      "output": {
        "target": "com.gcp.servicedirectory_v1beta1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.servicedirectory_v1beta1#NotFound"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Forbidden"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#BadRequest"
        },
        {
          "target": "com.gcp.servicedirectory_v1beta1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM Policy for a resource"
      }
    }
  }
}
