{
  "smithy": "2.0",
  "metadata": {
    "service": "servicecontrol",
    "version": "v1",
    "title": "Service Control API",
    "baseUrl": "https://servicecontrol.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicecontrol_v1#AllocateQuotaRequest": {
      "type": "structure",
      "members": {
        "allocateOperation": {
          "target": "com.gcp.servicecontrol_v1#QuotaOperation",
          "traits": {
            "smithy.api#documentation": "Operation that describes the quota allocation."
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which version of service configuration should be used to process the request. If unspecified or no matching version can be found, the latest one will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the AllocateQuota method."
      }
    },
    "com.gcp.servicecontrol_v1#QuotaOperation": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity of the operation. For Allocation Quota, this is expected to be unique within the scope of the service that generated the operation, and guarantees idempotency in case of retries. In order to ensure best performance and latency in the Quota backends, operation_ids are optimally associated with time, so that related operations can be accessed fast in storage. For this reason, the recommended token for services that intend to operate at a high QPS is Unix time in nanos + UUID"
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name of the API method for which this quota operation is requested. This name is used for matching quota rules or metric rules and billing status rules defined in service configuration. This field should not be set if any of the following is true: (1) the quota operation is performed on non-API resources. (2) quota_metrics is set because the caller is doing quota override. Example of an RPC method name: google.example.library.v1.LibraryService.CreateShelf"
          }
        },
        "consumerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity of the consumer for whom this quota operation is being performed. This can be in one of the following formats: project:, project_number:, api_key:."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels describing the operation."
          }
        },
        "quotaMetrics": {
          "target": "com.gcp.servicecontrol_v1#MetricValueSetList",
          "traits": {
            "smithy.api#documentation": "Represents information about this operation. Each MetricValueSet corresponds to a metric defined in the service configuration. The data type used in the MetricValueSet must agree with the data type specified in the metric definition. Within a single operation, it is not allowed to have more than one MetricValue instances that have the same metric names and identical label value combinations. If a request has such duplicated MetricValue instances, the entire request is rejected with an invalid argument error. This field is mutually exclusive with method_name."
          }
        },
        "quotaMode": {
          "target": "com.gcp.servicecontrol_v1#QuotaOperationQuotaModeEnum",
          "traits": {
            "smithy.api#documentation": "Quota mode for this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information regarding a quota operation."
      }
    },
    "com.gcp.servicecontrol_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicecontrol_v1#MetricValueSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#MetricValueSet"
      }
    },
    "com.gcp.servicecontrol_v1#QuotaOperationQuotaModeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        },
        "BEST_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_EFFORT"
          }
        },
        "CHECK_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECK_ONLY"
          }
        },
        "ADJUST_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADJUST_ONLY"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#MetricValueSet": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric name defined in the service configuration."
          }
        },
        "metricValues": {
          "target": "com.gcp.servicecontrol_v1#MetricValueList",
          "traits": {
            "smithy.api#documentation": "The values in this metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a set of metric values in the same metric. Each metric value in the set should have a unique combination of start time, end time, and label values."
      }
    },
    "com.gcp.servicecontrol_v1#MetricValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#MetricValue"
      }
    },
    "com.gcp.servicecontrol_v1#MetricValue": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels describing the metric value. See comments on google.api.servicecontrol.v1.Operation.labels for the overriding relationship. Note that this map must not contain monitored resource labels."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the time period over which this metric value's measurement applies. The time period has different semantics for different metric types (cumulative, delta, and gauge). See the metric definition documentation in the service configuration for details. If not specified, google.api.servicecontrol.v1.Operation.start_time will be used."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the time period over which this metric value's measurement applies. If not specified, google.api.servicecontrol.v1.Operation.end_time will be used."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean value."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A signed 64-bit integer value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double precision floating point value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text string value."
          }
        },
        "distributionValue": {
          "target": "com.gcp.servicecontrol_v1#Distribution",
          "traits": {
            "smithy.api#documentation": "A distribution value."
          }
        },
        "moneyValue": {
          "target": "com.gcp.servicecontrol_v1#Money",
          "traits": {
            "smithy.api#documentation": "A money value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single metric value."
      }
    },
    "com.gcp.servicecontrol_v1#Distribution": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of samples in the distribution. Must be >= 0."
          }
        },
        "mean": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The arithmetic mean of the samples in the distribution. If `count` is zero then this field must be zero."
          }
        },
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum of the population of values. Ignored if `count` is zero."
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum of the population of values. Ignored if `count` is zero."
          }
        },
        "sumOfSquaredDeviation": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sum of squared deviations from the mean: Sum[i=1..count]((x_i - mean)^2) where each x_i is a sample values. If `count` is zero then this field must be zero, otherwise validation of the request fails."
          }
        },
        "bucketCounts": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The number of samples in each histogram bucket. `bucket_counts` are optional. If present, they must sum to the `count` value. The buckets are defined below in `bucket_option`. There are N buckets. `bucket_counts[0]` is the number of samples in the underflow bucket. `bucket_counts[1]` to `bucket_counts[N-1]` are the numbers of samples in each of the finite buckets. And `bucket_counts[N]` is the number of samples in the overflow bucket. See the comments of `bucket_option` below for more details. Any suffix of trailing zeros may be omitted."
          }
        },
        "linearBuckets": {
          "target": "com.gcp.servicecontrol_v1#LinearBuckets",
          "traits": {
            "smithy.api#documentation": "Buckets with constant width."
          }
        },
        "exponentialBuckets": {
          "target": "com.gcp.servicecontrol_v1#ExponentialBuckets",
          "traits": {
            "smithy.api#documentation": "Buckets with exponentially growing width."
          }
        },
        "explicitBuckets": {
          "target": "com.gcp.servicecontrol_v1#ExplicitBuckets",
          "traits": {
            "smithy.api#documentation": "Buckets with arbitrary user-provided width."
          }
        },
        "exemplars": {
          "target": "com.gcp.servicecontrol_v1#ExemplarList",
          "traits": {
            "smithy.api#documentation": "Example points. Must be in increasing order of `value` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Distribution represents a frequency distribution of double-valued sample points. It contains the size of the population of sample points plus additional optional information: * the arithmetic mean of the samples * the minimum and maximum of the samples * the sum-squared-deviation of the samples, used to compute variance * a histogram of the values of the sample points"
      }
    },
    "com.gcp.servicecontrol_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicecontrol_v1#ExemplarList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#Exemplar"
      }
    },
    "com.gcp.servicecontrol_v1#LinearBuckets": {
      "type": "structure",
      "members": {
        "numFiniteBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of finite buckets. With the underflow and overflow buckets, the total number of buckets is `num_finite_buckets` + 2. See comments on `bucket_options` for details."
          }
        },
        "width": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The i'th linear bucket covers the interval [offset + (i-1) * width, offset + i * width) where i ranges from 1 to num_finite_buckets, inclusive. Must be strictly positive."
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The i'th linear bucket covers the interval [offset + (i-1) * width, offset + i * width) where i ranges from 1 to num_finite_buckets, inclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describing buckets with constant width."
      }
    },
    "com.gcp.servicecontrol_v1#ExponentialBuckets": {
      "type": "structure",
      "members": {
        "numFiniteBuckets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of finite buckets. With the underflow and overflow buckets, the total number of buckets is `num_finite_buckets` + 2. See comments on `bucket_options` for details."
          }
        },
        "growthFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The i'th exponential bucket covers the interval [scale * growth_factor^(i-1), scale * growth_factor^i) where i ranges from 1 to num_finite_buckets inclusive. Must be larger than 1.0."
          }
        },
        "scale": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The i'th exponential bucket covers the interval [scale * growth_factor^(i-1), scale * growth_factor^i) where i ranges from 1 to num_finite_buckets inclusive. Must be > 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describing buckets with exponentially growing width."
      }
    },
    "com.gcp.servicecontrol_v1#ExplicitBuckets": {
      "type": "structure",
      "members": {
        "bounds": {
          "target": "com.gcp.servicecontrol_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "'bound' is a list of strictly increasing boundaries between buckets. Note that a list of length N-1 defines N buckets because of fenceposting. See comments on `bucket_options` for details. The i'th finite bucket covers the interval [bound[i-1], bound[i]) where i ranges from 1 to bound_size() - 1. Note that there are no finite buckets at all if 'bound' only contains a single element; in that special case the single bound defines the boundary between the underflow and overflow buckets. bucket number lower bound upper bound i == 0 (underflow) -inf bound[i] 0 < i < bound_size() bound[i-1] bound[i] i == bound_size() (overflow) bound[i-1] +inf"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describing buckets with arbitrary user-provided width."
      }
    },
    "com.gcp.servicecontrol_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.servicecontrol_v1#Exemplar": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Value of the exemplar point. This value determines to which bucket the exemplar belongs."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The observation (sampling) time of the above value."
          }
        },
        "attachments": {
          "target": "com.gcp.servicecontrol_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Contextual information about the example value. Examples are: Trace: type.googleapis.com/google.monitoring.v3.SpanContext Literal string: type.googleapis.com/google.protobuf.StringValue Labels dropped during aggregation: type.googleapis.com/google.monitoring.v3.DroppedLabels There may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc."
      }
    },
    "com.gcp.servicecontrol_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicecontrol_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#DocumentMap"
      }
    },
    "com.gcp.servicecontrol_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.servicecontrol_v1#AllocateQuotaResponse": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The same operation_id value used in the AllocateQuotaRequest. Used for logging and diagnostics purposes."
          }
        },
        "allocateErrors": {
          "target": "com.gcp.servicecontrol_v1#QuotaErrorList",
          "traits": {
            "smithy.api#documentation": "Indicates the decision of the allocate."
          }
        },
        "quotaMetrics": {
          "target": "com.gcp.servicecontrol_v1#MetricValueSetList",
          "traits": {
            "smithy.api#documentation": "Quota metrics to indicate the result of allocation. Depending on the request, one or more of the following metrics will be included: 1. Per quota group or per quota metric incremental usage will be specified using the following delta metric : \"serviceruntime.googleapis.com/api/consumer/quota_used_count\" 2. The quota limit reached condition will be specified using the following boolean metric : \"serviceruntime.googleapis.com/quota/exceeded\""
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the actual config used to process the request."
          }
        },
        "allocateInfo": {
          "target": "com.gcp.servicecontrol_v1#AllocateInfo",
          "traits": {
            "smithy.api#documentation": "WARNING: DO NOT use this field until this warning message is removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the AllocateQuota method."
      }
    },
    "com.gcp.servicecontrol_v1#QuotaErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#QuotaError"
      }
    },
    "com.gcp.servicecontrol_v1#QuotaError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.servicecontrol_v1#QuotaErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject to whom this error applies. See the specific enum for more details on this field. For example, \"clientip:\" or \"project:\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form text that provides details on the cause of the error."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v1#Status",
          "traits": {
            "smithy.api#documentation": "Contains additional information about the quota error. If available, `status.code` will be non zero."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents error information for QuotaOperation."
      }
    },
    "com.gcp.servicecontrol_v1#QuotaErrorCodeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXHAUSTED"
          }
        },
        "OUT_OF_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_RANGE"
          }
        },
        "BILLING_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_NOT_ACTIVE"
          }
        },
        "PROJECT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DELETED"
          }
        },
        "API_KEY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_INVALID"
          }
        },
        "API_KEY_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_EXPIRED"
          }
        },
        "SPATULA_HEADER_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPATULA_HEADER_INVALID"
          }
        },
        "LOAS_ROLE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAS_ROLE_INVALID"
          }
        },
        "NO_LOAS_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LOAS_PROJECT"
          }
        },
        "PROJECT_STATUS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_STATUS_UNAVAILABLE"
          }
        },
        "SERVICE_STATUS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STATUS_UNAVAILABLE"
          }
        },
        "BILLING_STATUS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_STATUS_UNAVAILABLE"
          }
        },
        "QUOTA_SYSTEM_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_SYSTEM_UNAVAILABLE"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.servicecontrol_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.servicecontrol_v1#AllocateInfo": {
      "type": "structure",
      "members": {
        "unusedArguments": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of label keys that were unused by the server in processing the request. Thus, for similar requests repeated in a certain future time window, the caller can choose to ignore these labels in the requests to achieve better client-side cache hits and quota aggregation for rate quota. This field is not populated for allocation quota checks."
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#CheckRequest": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.servicecontrol_v1#Operation",
          "traits": {
            "smithy.api#documentation": "The operation to be checked."
          }
        },
        "requestProjectSettings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Requests the project settings to be returned as part of the check response."
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which version of service configuration should be used to process the request. If unspecified or no matching version can be found, the latest one will be used."
          }
        },
        "skipActivationCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if service activation check should be skipped for this request. Default behavior is to perform the check and apply relevant quota. WARNING: Setting this flag to \"true\" will disable quota enforcement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the Check method."
      }
    },
    "com.gcp.servicecontrol_v1#Operation": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity of the operation. This must be unique within the scope of the service that generated the operation. If the service calls Check() and Report() on the same operation, the two calls should carry the same id. UUID version 4 is recommended, though not required. In scenarios where an operation is computed from existing information and an idempotent id is desirable for deduplication purpose, UUID version 5 is recommended. See RFC 4122 for details."
          }
        },
        "operationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name of the operation. Reserved for future use."
          }
        },
        "consumerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity of the consumer who is using the service. This field should be filled in for the operations initiated by a consumer, but not for service-initiated operations that are not related to a specific consumer. - This can be in one of the following formats: - project:PROJECT_ID, - project`_`number:PROJECT_NUMBER, - projects/PROJECT_ID or PROJECT_NUMBER, - folders/FOLDER_NUMBER, - organizations/ORGANIZATION_NUMBER, - api`_`key:API_KEY."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the operation. Required when the operation is used in ServiceController.Report, but optional when the operation is used in ServiceController.Check."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels describing the operation. Only the following labels are allowed: - Labels describing monitored resources as defined in the service configuration. - Default labels of metric values. When specified, labels defined in the metric value override these default. - The following labels defined by Google Cloud Platform: - `cloud.googleapis.com/location` describing the location where the operation happened, - `servicecontrol.googleapis.com/user_agent` describing the user agent of the API request, - `servicecontrol.googleapis.com/service_agent` describing the service used to handle the API request (e.g. ESP), - `servicecontrol.googleapis.com/platform` describing the platform where the API is served, such as App Engine, Compute Engine, or Kubernetes Engine."
          }
        },
        "metricValueSets": {
          "target": "com.gcp.servicecontrol_v1#MetricValueSetList",
          "traits": {
            "smithy.api#documentation": "Represents information about this operation. Each MetricValueSet corresponds to a metric defined in the service configuration. The data type used in the MetricValueSet must agree with the data type specified in the metric definition. Within a single operation, it is not allowed to have more than one MetricValue instances that have the same metric names and identical label value combinations. If a request has such duplicated MetricValue instances, the entire request is rejected with an invalid argument error."
          }
        },
        "logEntries": {
          "target": "com.gcp.servicecontrol_v1#LogEntryList",
          "traits": {
            "smithy.api#documentation": "Represents information to be logged."
          }
        },
        "quotaProperties": {
          "target": "com.gcp.servicecontrol_v1#QuotaProperties",
          "traits": {
            "smithy.api#documentation": "Represents the properties needed for quota check. Applicable only if this operation is for a quota check request. If this is not specified, no quota check will be performed."
          }
        },
        "importance": {
          "target": "com.gcp.servicecontrol_v1#OperationImportanceEnum",
          "traits": {
            "smithy.api#documentation": "DO NOT USE. This is an experimental field."
          }
        },
        "userLabels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Private Preview. This feature is only available for approved services. User defined labels for the resource that this operation is associated with."
          }
        },
        "resources": {
          "target": "com.gcp.servicecontrol_v1#ResourceInfoList",
          "traits": {
            "smithy.api#documentation": "The resources that are involved in the operation. The maximum supported number of entries in this field is 100."
          }
        },
        "traceSpans": {
          "target": "com.gcp.servicecontrol_v1#TraceSpanList",
          "traits": {
            "smithy.api#documentation": "Unimplemented. A list of Cloud Trace spans. The span names shall contain the id of the destination project which can be either the produce or the consumer project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information regarding an operation."
      }
    },
    "com.gcp.servicecontrol_v1#LogEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#LogEntry"
      }
    },
    "com.gcp.servicecontrol_v1#OperationImportanceEnum": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#ResourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#ResourceInfo"
      }
    },
    "com.gcp.servicecontrol_v1#TraceSpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#TraceSpan"
      }
    },
    "com.gcp.servicecontrol_v1#LogEntry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The log to which this log entry belongs. Examples: `\"syslog\"`, `\"book_log\"`."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the event described by the log entry occurred. If omitted, defaults to operation start time."
          }
        },
        "severity": {
          "target": "com.gcp.servicecontrol_v1#LogEntrySeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the log entry. The default value is `LogSeverity.DEFAULT`."
          }
        },
        "httpRequest": {
          "target": "com.gcp.servicecontrol_v1#HttpRequest",
          "traits": {
            "smithy.api#documentation": "Optional. Information about the HTTP request associated with this log entry, if applicable."
          }
        },
        "trace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of the trace associated with the log entry, if any. If this field contains a relative resource name, you can assume the name is relative to `//tracing.googleapis.com`. Example: `projects/my-projectid/traces/06796866738c859f2f19b7cfb3214824`"
          }
        },
        "insertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID for the log entry used for deduplication. If omitted, the implementation will generate one based on operation_id."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of user-defined (key, value) data that provides additional information about the log entry."
          }
        },
        "protoPayload": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a protocol buffer that is expressed as a JSON object. The only accepted type currently is AuditLog."
          }
        },
        "textPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a Unicode string (UTF-8)."
          }
        },
        "structPayload": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a structure that is expressed as a JSON object."
          }
        },
        "operation": {
          "target": "com.gcp.servicecontrol_v1#LogEntryOperation",
          "traits": {
            "smithy.api#documentation": "Optional. Information about an operation associated with the log entry, if applicable."
          }
        },
        "sourceLocation": {
          "target": "com.gcp.servicecontrol_v1#LogEntrySourceLocation",
          "traits": {
            "smithy.api#documentation": "Optional. Source code location information associated with the log entry, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual log entry."
      }
    },
    "com.gcp.servicecontrol_v1#LogEntrySeverityEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTICE"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#HttpRequest": {
      "type": "structure",
      "members": {
        "requestMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request method. Examples: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`."
          }
        },
        "requestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheme (http, https), the host name, the path, and the query portion of the URL that was requested. Example: `\"http://example.com/some/info?color=red\"`."
          }
        },
        "requestSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP request message in bytes, including the request headers and the request body."
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The response code indicating the status of the response. Examples: 200, 404."
          }
        },
        "responseSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent sent by the client. Example: `\"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"`."
          }
        },
        "remoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. Examples: `\"192.168.1.1\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
          }
        },
        "serverIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to."
          }
        },
        "referer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referer URL of the request, as defined in [HTTP/1.1 Header Field Definitions](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)."
          }
        },
        "latency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request processing latency on the server, from the time the request was received until the response was sent."
          }
        },
        "cacheLookup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a cache lookup was attempted."
          }
        },
        "cacheHit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not an entity was served from cache (with or without validation)."
          }
        },
        "cacheValidatedWithOriginServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if `cache_hit` is True."
          }
        },
        "cacheFillBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message."
      }
    },
    "com.gcp.servicecontrol_v1#LogEntryOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation."
          }
        },
        "producer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary producer identifier. The combination of `id` and `producer` must be globally unique. Examples for `producer`: `\"MyDivision.MyBigCompany.com\"`, `\"github.com/MyProject/MyApplication\"`."
          }
        },
        "first": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the first log entry in the operation."
          }
        },
        "last": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the last log entry in the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about a potentially long-running operation with which a log entry is associated."
      }
    },
    "com.gcp.servicecontrol_v1#LogEntrySourceLocation": {
      "type": "structure",
      "members": {
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name."
          }
        },
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: `qual.if.ied.Class.method` (Java), `dir/package.func` (Go), `function` (Python)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about the source code location that produced the log entry."
      }
    },
    "com.gcp.servicecontrol_v1#QuotaProperties": {
      "type": "structure",
      "members": {
        "quotaMode": {
          "target": "com.gcp.servicecontrol_v1#QuotaPropertiesQuotaModeEnum",
          "traits": {
            "smithy.api#documentation": "Quota mode for this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties needed for quota operations."
      }
    },
    "com.gcp.servicecontrol_v1#QuotaPropertiesQuotaModeEnum": {
      "type": "enum",
      "members": {
        "ACQUIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACQUIRE"
          }
        },
        "ACQUIRE_BEST_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACQUIRE_BEST_EFFORT"
          }
        },
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHECK"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#ResourceInfo": {
      "type": "structure",
      "members": {
        "resourceContainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the parent of this resource instance. Must be in one of the following formats: - `projects/` - `folders/` - `organizations/`"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource. This is used for auditing purposes."
          }
        },
        "resourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resource. If not empty, the resource will be checked against location policy. The value must be a valid zone, region or multiregion. For example: \"europe-west4\" or \"northamerica-northeast1-a\""
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource permission required for this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a resource associated with this operation."
      }
    },
    "com.gcp.servicecontrol_v1#TraceSpan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the span in the following format: projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. [SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [SPAN_ID] portion of the span's resource name."
          }
        },
        "parentSpanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [SPAN_ID] of this span's parent span. If this is a root span, then this field must be empty."
          }
        },
        "displayName": {
          "target": "com.gcp.servicecontrol_v1#TruncatableString",
          "traits": {
            "smithy.api#documentation": "A description of the span's operation (up to 128 bytes). Stackdriver Trace displays the description in the Google Cloud Platform Console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running."
          }
        },
        "attributes": {
          "target": "com.gcp.servicecontrol_v1#Attributes",
          "traits": {
            "smithy.api#documentation": "A set of attributes on the span. You can have up to 32 attributes per span."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v1#Status",
          "traits": {
            "smithy.api#documentation": "An optional final status for this span."
          }
        },
        "sameProcessAsParentSpan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "(Optional) Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Stackdriver Trace is unable to take advantage of this helpful information."
          }
        },
        "childSpanCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An optional number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans."
          }
        },
        "spanKind": {
          "target": "com.gcp.servicecontrol_v1#TraceSpanSpanKindEnum",
          "traits": {
            "smithy.api#documentation": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous—there may be gaps or overlaps between spans in a trace."
      }
    },
    "com.gcp.servicecontrol_v1#TraceSpanSpanKindEnum": {
      "type": "enum",
      "members": {
        "SPAN_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAN_KIND_UNSPECIFIED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT"
          }
        },
        "PRODUCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER"
          }
        },
        "CONSUMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#TruncatableString": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit."
          }
        },
        "truncatedByteCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes removed from the original string. If this value is 0, then the string was not shortened."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a string that might be shortened to a specified length."
      }
    },
    "com.gcp.servicecontrol_v1#Attributes": {
      "type": "structure",
      "members": {
        "attributeMap": {
          "target": "com.gcp.servicecontrol_v1#AttributeValueMap",
          "traits": {
            "smithy.api#documentation": "The set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the Boolean values `true` and `false`. For example: \"/instance_id\": \"my-instance\" \"/http/user_agent\": \"\" \"/http/request_bytes\": 300 \"example.com/myattribute\": true"
          }
        },
        "droppedAttributesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of attributes, each in the format `[KEY]:[VALUE]`."
      }
    },
    "com.gcp.servicecontrol_v1#AttributeValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.servicecontrol_v1#AttributeValue"
      }
    },
    "com.gcp.servicecontrol_v1#AttributeValue": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "com.gcp.servicecontrol_v1#TruncatableString",
          "traits": {
            "smithy.api#documentation": "A string up to 256 bytes long."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 64-bit signed integer."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value represented by `true` or `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The allowed types for [VALUE] in a `[KEY]:[VALUE]` attribute."
      }
    },
    "com.gcp.servicecontrol_v1#CheckResponse": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The same operation_id value used in the CheckRequest. Used for logging and diagnostics purposes."
          }
        },
        "checkErrors": {
          "target": "com.gcp.servicecontrol_v1#CheckErrorList",
          "traits": {
            "smithy.api#documentation": "Indicate the decision of the check. If no check errors are present, the service should process the operation. Otherwise the service should use the list of errors to determine the appropriate action."
          }
        },
        "quotaInfo": {
          "target": "com.gcp.servicecontrol_v1#QuotaInfo",
          "traits": {
            "smithy.api#documentation": "Quota information for the check request associated with this response. "
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual config id used to process the request."
          }
        },
        "serviceRolloutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current service rollout id used to process the request."
          }
        },
        "checkInfo": {
          "target": "com.gcp.servicecontrol_v1#CheckInfo",
          "traits": {
            "smithy.api#documentation": "Feedback data returned from the server during processing a Check request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the Check method."
      }
    },
    "com.gcp.servicecontrol_v1#CheckErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#CheckError"
      }
    },
    "com.gcp.servicecontrol_v1#CheckError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.servicecontrol_v1#CheckErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject to whom this error applies. See the specific code enum for more details on this field. For example: - \"project:\" - \"folder:\" - \"organization:\""
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form text providing details on the error cause of the error."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v1#Status",
          "traits": {
            "smithy.api#documentation": "Contains public information about the check error. If available, `status.code` will be non zero and client can propagate it out as public error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the errors to be returned in google.api.servicecontrol.v1.CheckResponse.check_errors."
      }
    },
    "com.gcp.servicecontrol_v1#CheckErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXHAUSTED"
          }
        },
        "BUDGET_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUDGET_EXCEEDED"
          }
        },
        "DENIAL_OF_SERVICE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIAL_OF_SERVICE_DETECTED"
          }
        },
        "LOAD_SHEDDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAD_SHEDDING"
          }
        },
        "ABUSER_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSER_DETECTED"
          }
        },
        "SERVICE_NOT_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_NOT_ACTIVATED"
          }
        },
        "VISIBILITY_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISIBILITY_DENIED"
          }
        },
        "BILLING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_DISABLED"
          }
        },
        "PROJECT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DELETED"
          }
        },
        "PROJECT_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_INVALID"
          }
        },
        "CONSUMER_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_INVALID"
          }
        },
        "IP_ADDRESS_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_ADDRESS_BLOCKED"
          }
        },
        "REFERER_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFERER_BLOCKED"
          }
        },
        "CLIENT_APP_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_APP_BLOCKED"
          }
        },
        "API_TARGET_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_TARGET_BLOCKED"
          }
        },
        "API_KEY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_INVALID"
          }
        },
        "API_KEY_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_EXPIRED"
          }
        },
        "API_KEY_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY_NOT_FOUND"
          }
        },
        "SPATULA_HEADER_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPATULA_HEADER_INVALID"
          }
        },
        "LOAS_ROLE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAS_ROLE_INVALID"
          }
        },
        "NO_LOAS_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LOAS_PROJECT"
          }
        },
        "LOAS_PROJECT_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAS_PROJECT_DISABLED"
          }
        },
        "SECURITY_POLICY_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_POLICY_VIOLATED"
          }
        },
        "INVALID_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CREDENTIAL"
          }
        },
        "LOCATION_POLICY_VIOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_POLICY_VIOLATED"
          }
        },
        "NAMESPACE_LOOKUP_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAMESPACE_LOOKUP_UNAVAILABLE"
          }
        },
        "SERVICE_STATUS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_STATUS_UNAVAILABLE"
          }
        },
        "BILLING_STATUS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_STATUS_UNAVAILABLE"
          }
        },
        "QUOTA_CHECK_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_CHECK_UNAVAILABLE"
          }
        },
        "LOAS_PROJECT_LOOKUP_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOAS_PROJECT_LOOKUP_UNAVAILABLE"
          }
        },
        "CLOUD_RESOURCE_MANAGER_BACKEND_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RESOURCE_MANAGER_BACKEND_UNAVAILABLE"
          }
        },
        "SECURITY_POLICY_BACKEND_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_POLICY_BACKEND_UNAVAILABLE"
          }
        },
        "LOCATION_POLICY_BACKEND_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCATION_POLICY_BACKEND_UNAVAILABLE"
          }
        },
        "INJECTED_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INJECTED_ERROR"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#QuotaInfo": {
      "type": "structure",
      "members": {
        "quotaConsumed": {
          "target": "com.gcp.servicecontrol_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "Map of quota group name to the actual number of tokens consumed. If the quota check was not successful, then this will not be populated due to no quota consumption. We are not merging this field with 'quota_metrics' field because of the complexity of scaling in Chemist client code base. For simplicity, we will keep this field for Castor (that scales quota usage) and 'quota_metrics' for SuperQuota (that doesn't scale quota usage). "
          }
        },
        "limitExceeded": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Quota Metrics that have exceeded quota limits. For QuotaGroup-based quota, this is QuotaGroup.name For QuotaLimit-based quota, this is QuotaLimit.name See: google.api.Quota Deprecated: Use quota_metrics to get per quota group limit exceeded status."
          }
        },
        "quotaMetrics": {
          "target": "com.gcp.servicecontrol_v1#MetricValueSetList",
          "traits": {
            "smithy.api#documentation": "Quota metrics to indicate the usage. Depending on the check request, one or more of the following metrics will be included: 1. For rate quota, per quota group or per quota metric incremental usage will be specified using the following delta metric: \"serviceruntime.googleapis.com/api/consumer/quota_used_count\" 2. For allocation quota, per quota metric total usage will be specified using the following gauge metric: \"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\" 3. For both rate quota and allocation quota, the quota limit reached condition will be specified using the following boolean metric: \"serviceruntime.googleapis.com/quota/exceeded\""
          }
        },
        "quotaExtractionState": {
          "target": "com.gcp.servicecontrol_v1#QuotaInfoQuotaExtractionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the state of the quota extraction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the quota information for a quota check response."
      }
    },
    "com.gcp.servicecontrol_v1#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.servicecontrol_v1#QuotaInfoQuotaExtractionStateEnum": {
      "type": "enum",
      "members": {
        "QUOTA_EXTRACTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXTRACTION_STATE_UNSPECIFIED"
          }
        },
        "QUOTA_EXTRACTION_STATE_DARK_LAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXTRACTION_STATE_DARK_LAUNCH"
          }
        },
        "QUOTA_EXTRACTION_STATE_TRAFFIC_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUOTA_EXTRACTION_STATE_TRAFFIC_MIGRATION"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#CheckInfo": {
      "type": "structure",
      "members": {
        "unusedArguments": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of fields and label keys that are ignored by the server. The client doesn't need to send them for following requests to improve performance and allow better aggregation."
          }
        },
        "consumerInfo": {
          "target": "com.gcp.servicecontrol_v1#ConsumerInfo",
          "traits": {
            "smithy.api#documentation": "Consumer info of this check."
          }
        },
        "apiKeyUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id of the api key in the format of \"apikey:\". This field will be populated when the consumer passed to Chemist is an API key and all the API key related validations are successful."
          }
        },
        "ignoreApiKeyUidAsCredentialId": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the api key should be ignored in the credential_id during reporting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains additional information about the check operation."
      }
    },
    "com.gcp.servicecontrol_v1#ConsumerInfo": {
      "type": "structure",
      "members": {
        "projectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google cloud project number, e.g. 1234567890. A value of 0 indicates no project number is found. NOTE: This field is deprecated after Chemist support flexible consumer id. New code should not depend on this field anymore."
          }
        },
        "type": {
          "target": "com.gcp.servicecontrol_v1#ConsumerInfoTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the consumer which should have been defined in [Google Resource Manager](https://cloud.google.com/resource-manager/)."
          }
        },
        "consumerNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer identity number, can be Google cloud project number, folder number or organization number e.g. 1234567890. A value of 0 indicates no consumer number is found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ConsumerInfo` provides information about the consumer."
      }
    },
    "com.gcp.servicecontrol_v1#ConsumerInfoTypeEnum": {
      "type": "enum",
      "members": {
        "CONSUMER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_TYPE_UNSPECIFIED"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "SERVICE_SPECIFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_SPECIFIC"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#ReportRequest": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.servicecontrol_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "Operations to be reported. Typically the service should report one operation per request. Putting multiple operations into a single request is allowed, but should be used only when multiple operations are natually available at the time of the report. There is no limit on the number of operations in the same ReportRequest, however the ReportRequest size should be no larger than 1MB. See ReportResponse.report_errors for partial failure behavior."
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies which version of service config should be used to process the request. If unspecified or no matching version can be found, the latest one will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the Report method."
      }
    },
    "com.gcp.servicecontrol_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#Operation"
      }
    },
    "com.gcp.servicecontrol_v1#ReportResponse": {
      "type": "structure",
      "members": {
        "reportErrors": {
          "target": "com.gcp.servicecontrol_v1#ReportErrorList",
          "traits": {
            "smithy.api#documentation": "Partial failures, one for each `Operation` in the request that failed processing. There are three possible combinations of the RPC status: 1. The combination of a successful RPC status and an empty `report_errors` list indicates a complete success where all `Operations` in the request are processed successfully. 2. The combination of a successful RPC status and a non-empty `report_errors` list indicates a partial success where some `Operations` in the request succeeded. Each `Operation` that failed processing has a corresponding item in this list. 3. A failed RPC status indicates a general non-deterministic failure. When this happens, it's impossible to know which of the 'Operations' in the request succeeded or failed."
          }
        },
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual config id used to process the request."
          }
        },
        "serviceRolloutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current service rollout id used to process the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the Report method."
      }
    },
    "com.gcp.servicecontrol_v1#ReportErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#ReportError"
      }
    },
    "com.gcp.servicecontrol_v1#ReportError": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Operation.operation_id value from the request."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v1#Status",
          "traits": {
            "smithy.api#documentation": "Details of the error when processing the Operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the processing error of one Operation in the request."
      }
    },
    "com.gcp.servicecontrol_v1#AuditLog": {
      "type": "structure",
      "members": {
        "apiVersionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version identifier of the operation that uses interface based versioning (IBV). For example, `\"2026-01-01-preview\"`. The version identifier generally follows the format of [variant_]date[_decorator]. It should not be parsed because the exact format varies across services."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API service performing the operation. For example, `\"compute.googleapis.com\"`."
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service method or operation. For API calls, this should be the name of the API method. For example, \"google.cloud.bigquery.v2.TableService.InsertTable\" \"google.logging.v2.ConfigServiceV2.CreateSink\""
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource or collection that is the target of the operation. The name is a scheme-less URI, not including the API service name. For example: \"projects/PROJECT_ID/zones/us-central1-a/instances\" \"projects/PROJECT_ID/datasets/DATASET_ID\""
          }
        },
        "resourceLocation": {
          "target": "com.gcp.servicecontrol_v1#ResourceLocation",
          "traits": {
            "smithy.api#documentation": "The resource location information."
          }
        },
        "resourceOriginalState": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The resource's original state before mutation. Present only for operations which have successfully modified the targeted resource(s). In general, this field should contain all changed fields, except those that are already been included in `request`, `response`, `metadata` or `service_data` fields. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "numResponseItems": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of items returned from a List or Query API method, if applicable."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v1#Status",
          "traits": {
            "smithy.api#documentation": "The status of the overall operation."
          }
        },
        "authenticationInfo": {
          "target": "com.gcp.servicecontrol_v1#AuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Authentication information."
          }
        },
        "authorizationInfo": {
          "target": "com.gcp.servicecontrol_v1#AuthorizationInfoList",
          "traits": {
            "smithy.api#documentation": "Authorization information. If there are multiple resources or permissions involved, then there is one AuthorizationInfo element for each {resource, permission} tuple."
          }
        },
        "policyViolationInfo": {
          "target": "com.gcp.servicecontrol_v1#PolicyViolationInfo",
          "traits": {
            "smithy.api#documentation": "Indicates the policy violations for this request. If the request is denied by the policy, violation information will be logged here."
          }
        },
        "requestMetadata": {
          "target": "com.gcp.servicecontrol_v1#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the operation."
          }
        },
        "request": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The operation request. This may not include all request parameters, such as those that are too large, privacy-sensitive, or duplicated elsewhere in the log record. It should never include user-generated data, such as file contents. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "response": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The operation response. This may not include all response elements, such as those that are too large, privacy-sensitive, or duplicated elsewhere in the log record. It should never include user-generated data, such as file contents. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "metadata": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Other service-specific data about the request, response, and other information associated with the current audited event."
          }
        },
        "serviceData": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use the `metadata` field instead. Other service-specific data about the request, response, and other activities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common audit log format for Google Cloud Platform API operations. "
      }
    },
    "com.gcp.servicecontrol_v1#AuthorizationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#AuthorizationInfo"
      }
    },
    "com.gcp.servicecontrol_v1#ResourceLocation": {
      "type": "structure",
      "members": {
        "currentLocations": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The locations of a resource after the execution of the operation. Requests to create or delete a location based resource must populate the 'current_locations' field and not the 'original_locations' field. For example: \"europe-west1-a\" \"us-east1\" \"nam3\""
          }
        },
        "originalLocations": {
          "target": "com.gcp.servicecontrol_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The locations of a resource prior to the execution of the operation. Requests that mutate the resource's location must populate both the 'original_locations' as well as the 'current_locations' fields. For example: \"europe-west1-a\" \"us-east1\" \"nam3\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information about a resource."
      }
    },
    "com.gcp.servicecontrol_v1#AuthenticationInfo": {
      "type": "structure",
      "members": {
        "principalEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
          }
        },
        "authoritySelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authority selector specified by the requestor, if any. It is not guaranteed that the principal was allowed to use this authority."
          }
        },
        "thirdPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The third party identification (if any) of the authenticated user making the request. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "serviceAccountKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\""
          }
        },
        "serviceAccountDelegationInfo": {
          "target": "com.gcp.servicecontrol_v1#ServiceAccountDelegationInfoList",
          "traits": {
            "smithy.api#documentation": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities present, they are guaranteed to be sorted based on the original ordering of the identity delegation events."
          }
        },
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representation of identity of requesting party. Populated for both first and third party identities."
          }
        },
        "serviceDelegationHistory": {
          "target": "com.gcp.servicecontrol_v1#ServiceDelegationHistory",
          "traits": {
            "smithy.api#documentation": "Records the history of delegated resource access across Google services."
          }
        },
        "loggableShortLivedCredential": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Converted from \"identity_cloudgaia.AuditLoggableShortLivedCredential\" proto. This message will be used by security, detection and response team. For context please refer to go/cg:short-lived-credential-logging. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "oauthInfo": {
          "target": "com.gcp.servicecontrol_v1#OAuthInfo",
          "traits": {
            "smithy.api#documentation": "OAuth authentication information such as the OAuth client ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication information for the operation."
      }
    },
    "com.gcp.servicecontrol_v1#ServiceAccountDelegationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#ServiceAccountDelegationInfo"
      }
    },
    "com.gcp.servicecontrol_v1#ServiceAccountDelegationInfo": {
      "type": "structure",
      "members": {
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the principal_subject associated with the identity. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subject/{subject)` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
          }
        },
        "firstPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v1#FirstPartyPrincipal",
          "traits": {
            "smithy.api#documentation": "First party (Google) identity as the real authority."
          }
        },
        "thirdPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v1#ThirdPartyPrincipal",
          "traits": {
            "smithy.api#documentation": "Third party identity as the real authority."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity delegation history of an authenticated service account."
      }
    },
    "com.gcp.servicecontrol_v1#FirstPartyPrincipal": {
      "type": "structure",
      "members": {
        "principalEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a Google account. ."
          }
        },
        "serviceMetadata": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata about the service that uses the service account. ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "First party identity principal."
      }
    },
    "com.gcp.servicecontrol_v1#ThirdPartyPrincipal": {
      "type": "structure",
      "members": {
        "thirdPartyClaims": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata about third party identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third party identity principal."
      }
    },
    "com.gcp.servicecontrol_v1#ServiceDelegationHistory": {
      "type": "structure",
      "members": {
        "originalPrincipal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original end user who initiated the request to GCP."
          }
        },
        "serviceMetadata": {
          "target": "com.gcp.servicecontrol_v1#ServiceMetadataList",
          "traits": {
            "smithy.api#documentation": "Data identifying the service specific jobs or units of work that were involved in a chain of service calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history of delegation across multiple services as the result of the original user's action. Such as \"service A uses its own account to do something for user B\". This differs from ServiceAccountDelegationInfo, which only tracks the history of direct token exchanges (impersonation)."
      }
    },
    "com.gcp.servicecontrol_v1#ServiceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v1#ServiceMetadata"
      }
    },
    "com.gcp.servicecontrol_v1#ServiceMetadata": {
      "type": "structure",
      "members": {
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the principal_subject associated with the identity. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subject/{subject)` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]` If the identity is a Google account (e.g. workspace user account or service account), this will be the email of the prefixed by `serviceAccount:`. For example: `serviceAccount:my-service-account@project-1.iam.gserviceaccount.com`. If the identity is an individual user, the identity will be formatted as: `user:user_ABC@email.com`."
          }
        },
        "serviceDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service's fully qualified domain name, e.g. \"dataproc.googleapis.com\"."
          }
        },
        "jobMetadata": {
          "target": "com.gcp.servicecontrol_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional metadata provided by service teams to describe service specific job information that was triggered by the original principal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing the service and additional service specific information used to identify the job or unit of work at hand."
      }
    },
    "com.gcp.servicecontrol_v1#OAuthInfo": {
      "type": "structure",
      "members": {
        "oauthClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth client ID of the 1P or 3P application acting on behalf of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth related information about the request."
      }
    },
    "com.gcp.servicecontrol_v1#AuthorizationInfo": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource being accessed, as a REST-style or cloud resource string. For example: bigquery.googleapis.com/projects/PROJECTID/datasets/DATASETID or projects/PROJECTID/datasets/DATASETID"
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The required IAM permission."
          }
        },
        "granted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not authorization for `resource` and `permission` was granted."
          }
        },
        "resourceAttributes": {
          "target": "com.gcp.servicecontrol_v1#Resource",
          "traits": {
            "smithy.api#documentation": "Resource attributes used in IAM condition evaluation. This field contains resource attributes like resource type and resource name. To get the whole view of the attributes used in IAM condition evaluation, the user must also look into `AuditLog.request_metadata.request_attributes`."
          }
        },
        "permissionType": {
          "target": "com.gcp.servicecontrol_v1#AuthorizationInfoPermissionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the permission that was checked. For data access audit logs this corresponds with the permission type that must be enabled in the project/folder/organization IAM policy in order for the log to be written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization information for the operation."
      }
    },
    "com.gcp.servicecontrol_v1#AuthorizationInfoPermissionTypeEnum": {
      "type": "enum",
      "members": {
        "PERMISSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "ADMIN_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v1#Resource": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service that this resource belongs to, such as `pubsub.googleapis.com`. The service may be different from the DNS hostname that actually serves the request."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable identifier (name) of a resource on the `service`. A resource can be logically identified as \"//{resource.service}/{resource.name}\". The differences between a resource name and a URI are: * Resource name is a logical identifier, independent of network protocol and API version. For example, `//pubsub.googleapis.com/projects/123/topics/news-feed`. * URI often includes protocol and version information, so it can be used directly by applications. For example, `https://pubsub.googleapis.com/v1/projects/123/topics/news-feed`. See https://cloud.google.com/apis/design/resource_names for details."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. The syntax is platform-specific because different platforms define their resources differently. For Google APIs, the type format must be \"{service}/{kind}\", such as \"pubsub.googleapis.com/Topic\"."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels or tags on the resource, such as AWS resource tags and Kubernetes resource labels."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "annotations": {
          "target": "com.gcp.servicecontrol_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
[...]
