{
  "smithy": "2.0",
  "metadata": {
    "service": "sqladmin",
    "version": "v1beta4",
    "title": "Cloud SQL Admin API",
    "baseUrl": "https://sqladmin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.sqladmin_v1beta4#Operation": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#operation`."
          }
        },
        "targetLink": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.sqladmin_v1beta4#OperationStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of an operation."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user who initiated this operation."
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "error": {
          "target": "com.gcp.sqladmin_v1beta4#OperationErrors",
          "traits": {
            "smithy.api#documentation": "If errors occurred during processing of this operation, this field will be populated."
          }
        },
        "apiWarning": {
          "target": "com.gcp.sqladmin_v1beta4#ApiWarning",
          "traits": {
            "smithy.api#documentation": "An Admin API warning message."
          }
        },
        "operationType": {
          "target": "com.gcp.sqladmin_v1beta4#OperationOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`"
          }
        },
        "importContext": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContext",
          "traits": {
            "smithy.api#documentation": "The context for import operation, if applicable."
          }
        },
        "exportContext": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContext",
          "traits": {
            "smithy.api#documentation": "The context for export operation, if applicable."
          }
        },
        "backupContext": {
          "target": "com.gcp.sqladmin_v1beta4#BackupContext",
          "traits": {
            "smithy.api#documentation": "The context for backup operation, if applicable."
          }
        },
        "preCheckMajorVersionUpgradeContext": {
          "target": "com.gcp.sqladmin_v1beta4#PreCheckMajorVersionUpgradeContext",
          "traits": {
            "smithy.api#documentation": "The context for pre-check major version upgrade operation, if applicable. This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource on which this operation runs."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of this resource."
          }
        },
        "targetProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID of the target instance related to this operation."
          }
        },
        "acquireSsrsLeaseContext": {
          "target": "com.gcp.sqladmin_v1beta4#AcquireSsrsLeaseContext",
          "traits": {
            "smithy.api#documentation": "The context for acquire SSRS lease operation, if applicable."
          }
        },
        "subOperationType": {
          "target": "com.gcp.sqladmin_v1beta4#SqlSubOperationType",
          "traits": {
            "smithy.api#documentation": "Optional. The sub operation based on the operation type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource."
      }
    },
    "com.gcp.sqladmin_v1beta4#OperationStatusEnum": {
      "type": "enum",
      "members": {
        "SQL_OPERATION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_OPERATION_STATUS_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#OperationOperationTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT"
          }
        },
        "EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTART"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT"
          }
        },
        "BACKUP_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_VOLUME"
          }
        },
        "DELETE_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_VOLUME"
          }
        },
        "RESTORE_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_VOLUME"
          }
        },
        "INJECT_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INJECT_USER"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLONE"
          }
        },
        "STOP_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_REPLICA"
          }
        },
        "START_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_REPLICA"
          }
        },
        "PROMOTE_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTE_REPLICA"
          }
        },
        "CREATE_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_REPLICA"
          }
        },
        "CREATE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_USER"
          }
        },
        "DELETE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_USER"
          }
        },
        "UPDATE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_USER"
          }
        },
        "CREATE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_DATABASE"
          }
        },
        "DELETE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_DATABASE"
          }
        },
        "UPDATE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_DATABASE"
          }
        },
        "FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILOVER"
          }
        },
        "DELETE_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_BACKUP"
          }
        },
        "RECREATE_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECREATE_REPLICA"
          }
        },
        "TRUNCATE_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUNCATE_LOG"
          }
        },
        "DEMOTE_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMOTE_MASTER"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "ENABLE_PRIVATE_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_PRIVATE_IP"
          }
        },
        "DEFER_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFER_MAINTENANCE"
          }
        },
        "CREATE_CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_CLONE"
          }
        },
        "RESCHEDULE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESCHEDULE_MAINTENANCE"
          }
        },
        "START_EXTERNAL_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_EXTERNAL_SYNC"
          }
        },
        "LOG_CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_CLEANUP"
          }
        },
        "AUTO_RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_RESTART"
          }
        },
        "REENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REENCRYPT"
          }
        },
        "SWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCHOVER"
          }
        },
        "UPDATE_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_BACKUP"
          }
        },
        "ACQUIRE_SSRS_LEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACQUIRE_SSRS_LEASE"
          }
        },
        "RELEASE_SSRS_LEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE_SSRS_LEASE"
          }
        },
        "RECONFIGURE_OLD_PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECONFIGURE_OLD_PRIMARY"
          }
        },
        "CLUSTER_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_MAINTENANCE"
          }
        },
        "SELF_SERVICE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELF_SERVICE_MAINTENANCE"
          }
        },
        "SWITCHOVER_TO_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCHOVER_TO_REPLICA"
          }
        },
        "MAJOR_VERSION_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAJOR_VERSION_UPGRADE"
          }
        },
        "ADVANCED_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVANCED_BACKUP"
          }
        },
        "MANAGE_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGE_BACKUP"
          }
        },
        "ENHANCED_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENHANCED_BACKUP"
          }
        },
        "REPAIR_READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIR_READ_POOL"
          }
        },
        "CREATE_READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_READ_POOL"
          }
        },
        "PRE_CHECK_MAJOR_VERSION_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_CHECK_MAJOR_VERSION_UPGRADE"
          }
        },
        "SETUP_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_MIGRATION"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#OperationErrors": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#operationErrors`."
          }
        },
        "errors": {
          "target": "com.gcp.sqladmin_v1beta4#OperationErrorList",
          "traits": {
            "smithy.api#documentation": "The list of errors encountered while processing this operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database instance operation errors list wrapper."
      }
    },
    "com.gcp.sqladmin_v1beta4#OperationErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#OperationError"
      }
    },
    "com.gcp.sqladmin_v1beta4#OperationError": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#operationError`."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the specific error that occurred."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional information about the error encountered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database instance operation error."
      }
    },
    "com.gcp.sqladmin_v1beta4#ApiWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.sqladmin_v1beta4#ApiWarningCodeEnum",
          "traits": {
            "smithy.api#documentation": "Code to uniquely identify the warning type."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The warning message."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region name for REGION_UNREACHABLE warning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Admin API warning message."
      }
    },
    "com.gcp.sqladmin_v1beta4#ApiWarningCodeEnum": {
      "type": "enum",
      "members": {
        "SQL_API_WARNING_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_API_WARNING_CODE_UNSPECIFIED"
          }
        },
        "REGION_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGION_UNREACHABLE"
          }
        },
        "MAX_RESULTS_EXCEEDS_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_RESULTS_EXCEEDS_LIMIT"
          }
        },
        "COMPROMISED_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPROMISED_CREDENTIALS"
          }
        },
        "INTERNAL_STATE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_STATE_FAILURE"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContext": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#importContext`."
          }
        },
        "fileType": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextFileTypeEnum",
          "traits": {
            "smithy.api#documentation": "The file type for the specified uri. * `SQL`: The file contains SQL statements. * `CSV`: The file contains CSV data. * `BAK`: The file contains backup data for a SQL Server instance."
          }
        },
        "csvImportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextCsvImportOptions",
          "traits": {
            "smithy.api#documentation": "Options for importing data as CSV."
          }
        },
        "importUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PostgreSQL user for this import operation. PostgreSQL instances only."
          }
        },
        "bakImportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptions",
          "traits": {
            "smithy.api#documentation": "Import parameters specific to SQL Server .BAK files"
          }
        },
        "sqlImportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextSqlImportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for importing data from SQL statements."
          }
        },
        "tdeImportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextTdeImportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Import parameters specific to SQL Server .TDE files Import parameters specific to SQL Server TDE certificates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database instance import context."
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextFileTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_FILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FILE_TYPE_UNSPECIFIED"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "BAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAK"
          }
        },
        "TDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TDE"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextCsvImportOptions": {
      "type": "structure",
      "members": {
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table to which CSV data is imported."
          }
        },
        "columns": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
          }
        },
        "escapeCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the character that should appear before a data character that needs to be escaped."
          }
        },
        "quoteCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the quoting character to be used when a data value is quoted."
          }
        },
        "fieldsTerminatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the character that separates columns within each row (line) of the file."
          }
        },
        "linesTerminatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptions": {
      "type": "structure",
      "members": {
        "encryptionOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptionsEncryptionOptions"
        },
        "striped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server."
          }
        },
        "noRecovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server."
          }
        },
        "recoveryOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
          }
        },
        "bakType": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptionsBakTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the bak content, FULL or DIFF."
          }
        },
        "stopAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only."
          }
        },
        "stopAtMark": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptionsEncryptionOptions": {
      "type": "structure",
      "members": {
        "certPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
          }
        },
        "pvkPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
          }
        },
        "pvkPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password that encrypts the private key"
          }
        },
        "keepEncrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the imported file remains encrypted."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextBakImportOptionsBakTypeEnum": {
      "type": "enum",
      "members": {
        "BAK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAK_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "DIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF"
          }
        },
        "TLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLOG"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextSqlImportOptions": {
      "type": "structure",
      "members": {
        "threads": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of threads to use for parallel import."
          }
        },
        "parallel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether or not the import should be parallel."
          }
        },
        "postgresImportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ImportContextSqlImportOptionsPostgresImportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextSqlImportOptionsPostgresImportOptions": {
      "type": "structure",
      "members": {
        "clean": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
          }
        },
        "ifExists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ImportContextTdeImportOptions": {
      "type": "structure",
      "members": {
        "certificatePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances."
          }
        },
        "privateKeyPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances."
          }
        },
        "privateKeyPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Password that encrypts the private key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Certificate name. Applicable only for SQL Server instances."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContext": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
          }
        },
        "databases": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` If you don't specify a database by name, all user databases in the instance are exported. This excludes system databases and Cloud SQL databases used to manage internal operations. Exporting all user databases is only available for directory-formatted parallel export. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#exportContext`."
          }
        },
        "sqlExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data as SQL statements."
          }
        },
        "csvExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextCsvExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only."
          }
        },
        "fileType": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextFileTypeEnum",
          "traits": {
            "smithy.api#documentation": "The file type for the specified uri."
          }
        },
        "offload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to perform a serverless export."
          }
        },
        "bakExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextBakExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting BAK files (SQL Server-only)"
          }
        },
        "tdeExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextTdeExportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Export parameters specific to SQL Server TDE certificates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database instance export context."
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptions": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
          }
        },
        "schemaOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Export only schemas."
          }
        },
        "mysqlExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptionsMysqlExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting from MySQL."
          }
        },
        "threads": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of threads to use for parallel export."
          }
        },
        "parallel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether or not the export should be parallel."
          }
        },
        "postgresExportOptions": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptionsPostgresExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting from a Cloud SQL for PostgreSQL instance."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptionsMysqlExportOptions": {
      "type": "structure",
      "members": {
        "masterData": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextSqlExportOptionsPostgresExportOptions": {
      "type": "structure",
      "members": {
        "clean": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Use this option to include DROP <object> SQL statements. Use these statements to delete database objects before running the import operation."
          }
        },
        "ifExists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Option to include an IF EXISTS SQL statement with each DROP statement produced by clean."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextCsvExportOptions": {
      "type": "structure",
      "members": {
        "selectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The select query used to extract the data."
          }
        },
        "escapeCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the character that should appear before a data character that needs to be escaped."
          }
        },
        "quoteCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the quoting character to be used when a data value is quoted."
          }
        },
        "fieldsTerminatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the character that separates columns within each row (line) of the file."
          }
        },
        "linesTerminatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextFileTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_FILE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FILE_TYPE_UNSPECIFIED"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "BAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAK"
          }
        },
        "TDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TDE"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextBakExportOptions": {
      "type": "structure",
      "members": {
        "striped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the export should be striped."
          }
        },
        "stripeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen."
          }
        },
        "bakType": {
          "target": "com.gcp.sqladmin_v1beta4#ExportContextBakExportOptionsBakTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this bak file will be export, FULL or DIFF, SQL Server only"
          }
        },
        "copyOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: copy_only is deprecated. Use differential_base instead"
          }
        },
        "differentialBase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base"
          }
        },
        "exportLogStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The begin timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs from the beginning of retention period will be included. Only applied to Cloud SQL for SQL Server."
          }
        },
        "exportLogEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end timestamp when transaction log will be included in the export operation. [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`) in UTC. When omitted, all available logs until current time will be included. Only applied to Cloud SQL for SQL Server."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextBakExportOptionsBakTypeEnum": {
      "type": "enum",
      "members": {
        "BAK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAK_TYPE_UNSPECIFIED"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "DIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF"
          }
        },
        "TLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLOG"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#ExportContextTdeExportOptions": {
      "type": "structure",
      "members": {
        "certificatePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances."
          }
        },
        "privateKeyPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have write access to the location. Applicable only for SQL Server instances."
          }
        },
        "privateKeyPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Password that encrypts the private key."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Certificate name. Applicable only for SQL Server instances."
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupContext": {
      "type": "structure",
      "members": {
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the backup."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#backupContext`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup. Format: projects/{project}/backups/{backup}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup context."
      }
    },
    "com.gcp.sqladmin_v1beta4#PreCheckMajorVersionUpgradeContext": {
      "type": "structure",
      "members": {
        "targetDatabaseVersion": {
          "target": "com.gcp.sqladmin_v1beta4#PreCheckMajorVersionUpgradeContextTargetDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The target database version to upgrade to."
          }
        },
        "preCheckResponse": {
          "target": "com.gcp.sqladmin_v1beta4#PreCheckResponseList",
          "traits": {
            "smithy.api#documentation": "Output only. The responses from the precheck operation."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pre-check major version upgrade context."
      }
    },
    "com.gcp.sqladmin_v1beta4#PreCheckMajorVersionUpgradeContextTargetDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "SQL_DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "MYSQL_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_1"
          }
        },
        "MYSQL_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_5"
          }
        },
        "MYSQL_5_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_6"
          }
        },
        "MYSQL_5_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_7"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0"
          }
        },
        "MYSQL_8_0_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_18"
          }
        },
        "MYSQL_8_0_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_26"
          }
        },
        "MYSQL_8_0_27": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_27"
          }
        },
        "MYSQL_8_0_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_28"
          }
        },
        "MYSQL_8_0_29": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_29"
          }
        },
        "MYSQL_8_0_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_30"
          }
        },
        "MYSQL_8_0_31": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_31"
          }
        },
        "MYSQL_8_0_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_32"
          }
        },
        "MYSQL_8_0_33": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_33"
          }
        },
        "MYSQL_8_0_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_34"
          }
        },
        "MYSQL_8_0_35": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_35"
          }
        },
        "MYSQL_8_0_36": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_36"
          }
        },
        "MYSQL_8_0_37": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_37"
          }
        },
        "MYSQL_8_0_39": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_39"
          }
        },
        "MYSQL_8_0_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_40"
          }
        },
        "MYSQL_8_0_41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_41"
          }
        },
        "MYSQL_8_0_42": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_42"
          }
        },
        "MYSQL_8_0_43": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_43"
          }
        },
        "MYSQL_8_0_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_44"
          }
        },
        "MYSQL_8_0_45": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_45"
          }
        },
        "MYSQL_8_0_46": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_46"
          }
        },
        "MYSQL_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_4"
          }
        },
        "MYSQL_9_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_9_7"
          }
        },
        "SQLSERVER_2017_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_STANDARD"
          }
        },
        "SQLSERVER_2017_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_ENTERPRISE"
          }
        },
        "SQLSERVER_2017_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_EXPRESS"
          }
        },
        "SQLSERVER_2017_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_WEB"
          }
        },
        "POSTGRES_9_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_9_6"
          }
        },
        "POSTGRES_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_10"
          }
        },
        "POSTGRES_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_11"
          }
        },
        "POSTGRES_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_12"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        },
        "POSTGRES_19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_19"
          }
        },
        "POSTGRES_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_20"
          }
        },
        "SQLSERVER_2019_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_STANDARD"
          }
        },
        "SQLSERVER_2019_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_ENTERPRISE"
          }
        },
        "SQLSERVER_2019_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_EXPRESS"
          }
        },
        "SQLSERVER_2019_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_WEB"
          }
        },
        "SQLSERVER_2022_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_STANDARD"
          }
        },
        "SQLSERVER_2022_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_ENTERPRISE"
          }
        },
        "SQLSERVER_2022_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_EXPRESS"
          }
        },
        "SQLSERVER_2022_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_WEB"
          }
        },
        "SQLSERVER_2025_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_STANDARD"
          }
        },
        "SQLSERVER_2025_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_ENTERPRISE"
          }
        },
        "SQLSERVER_2025_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_EXPRESS"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#PreCheckResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#PreCheckResponse"
      }
    },
    "com.gcp.sqladmin_v1beta4#PreCheckResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message to be displayed to the user."
          }
        },
        "messageType": {
          "target": "com.gcp.sqladmin_v1beta4#PreCheckResponseMessageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of message whether it is an info, warning, or error."
          }
        },
        "actionsRequired": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "The actions that the user needs to take. Use repeated for multiple actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured PreCheckResponse containing message, type, and required actions."
      }
    },
    "com.gcp.sqladmin_v1beta4#PreCheckResponseMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#AcquireSsrsLeaseContext": {
      "type": "structure",
      "members": {
        "setupLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username to be used as the setup login to connect to the database server for SSRS setup."
          }
        },
        "serviceLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username to be used as the service login to connect to the report database for SSRS setup."
          }
        },
        "reportDatabase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report database to be used for the SSRS setup."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lease duration needed for the SSRS setup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Acquire SSRS lease context."
      }
    },
    "com.gcp.sqladmin_v1beta4#SqlSubOperationType": {
      "type": "structure",
      "members": {
        "maintenanceType": {
          "target": "com.gcp.sqladmin_v1beta4#SqlSubOperationTypeMaintenanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of maintenance to be performed on the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub operation type based on the operation type."
      }
    },
    "com.gcp.sqladmin_v1beta4#SqlSubOperationTypeMaintenanceTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_MAINTENANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_MAINTENANCE_TYPE_UNSPECIFIED"
          }
        },
        "INSTANCE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_MAINTENANCE"
          }
        },
        "REPLICA_INCLUDED_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICA_INCLUDED_MAINTENANCE"
          }
        },
        "INSTANCE_SELF_SERVICE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_SELF_SERVICE_MAINTENANCE"
          }
        },
        "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRun": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#backupRun`."
          }
        },
        "status": {
          "target": "com.gcp.sqladmin_v1beta4#BackupRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of this run."
          }
        },
        "enqueuedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for this backup run. Unique only for a specific Cloud SQL instance."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "error": {
          "target": "com.gcp.sqladmin_v1beta4#OperationError",
          "traits": {
            "smithy.api#documentation": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
          }
        },
        "type": {
          "target": "com.gcp.sqladmin_v1beta4#BackupRunTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of this run, only applicable to on-demand backups."
          }
        },
        "windowStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database instance."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of this resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the backups."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.sqladmin_v1beta4#BackupRunDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The instance database version at the time this backup was made."
          }
        },
        "diskEncryptionConfiguration": {
          "target": "com.gcp.sqladmin_v1beta4#DiskEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "Encryption configuration specific to a backup."
          }
        },
        "diskEncryptionStatus": {
          "target": "com.gcp.sqladmin_v1beta4#DiskEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Encryption status specific to a backup."
          }
        },
        "backupKind": {
          "target": "com.gcp.sqladmin_v1beta4#BackupRunBackupKindEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server."
          }
        },
        "maxChargeableBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The maximum chargeable bytes for the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BackupRun resource."
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunStatusEnum": {
      "type": "enum",
      "members": {
        "SQL_BACKUP_RUN_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_BACKUP_RUN_STATUS_UNSPECIFIED"
          }
        },
        "ENQUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENQUEUED"
          }
        },
        "OVERDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERDUE"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "DELETION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_PENDING"
          }
        },
        "DELETION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_BACKUP_RUN_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_BACKUP_RUN_TYPE_UNSPECIFIED"
          }
        },
        "AUTOMATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "SQL_DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "MYSQL_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_1"
          }
        },
        "MYSQL_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_5"
          }
        },
        "MYSQL_5_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_6"
          }
        },
        "MYSQL_5_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_7"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0"
          }
        },
        "MYSQL_8_0_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_18"
          }
        },
        "MYSQL_8_0_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_26"
          }
        },
        "MYSQL_8_0_27": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_27"
          }
        },
        "MYSQL_8_0_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_28"
          }
        },
        "MYSQL_8_0_29": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_29"
          }
        },
        "MYSQL_8_0_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_30"
          }
        },
        "MYSQL_8_0_31": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_31"
          }
        },
        "MYSQL_8_0_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_32"
          }
        },
        "MYSQL_8_0_33": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_33"
          }
        },
        "MYSQL_8_0_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_34"
          }
        },
        "MYSQL_8_0_35": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_35"
          }
        },
        "MYSQL_8_0_36": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_36"
          }
        },
        "MYSQL_8_0_37": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_37"
          }
        },
        "MYSQL_8_0_39": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_39"
          }
        },
        "MYSQL_8_0_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_40"
          }
        },
        "MYSQL_8_0_41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_41"
          }
        },
        "MYSQL_8_0_42": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_42"
          }
        },
        "MYSQL_8_0_43": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_43"
          }
        },
        "MYSQL_8_0_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_44"
          }
        },
        "MYSQL_8_0_45": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_45"
          }
        },
        "MYSQL_8_0_46": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_46"
          }
        },
        "MYSQL_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_4"
          }
        },
        "MYSQL_9_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_9_7"
          }
        },
        "SQLSERVER_2017_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_STANDARD"
          }
        },
        "SQLSERVER_2017_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_ENTERPRISE"
          }
        },
        "SQLSERVER_2017_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_EXPRESS"
          }
        },
        "SQLSERVER_2017_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_WEB"
          }
        },
        "POSTGRES_9_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_9_6"
          }
        },
        "POSTGRES_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_10"
          }
        },
        "POSTGRES_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_11"
          }
        },
        "POSTGRES_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_12"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        },
        "POSTGRES_19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_19"
          }
        },
        "POSTGRES_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_20"
          }
        },
        "SQLSERVER_2019_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_STANDARD"
          }
        },
        "SQLSERVER_2019_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_ENTERPRISE"
          }
        },
        "SQLSERVER_2019_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_EXPRESS"
          }
        },
        "SQLSERVER_2019_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_WEB"
          }
        },
        "SQLSERVER_2022_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_STANDARD"
          }
        },
        "SQLSERVER_2022_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_ENTERPRISE"
          }
        },
        "SQLSERVER_2022_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_EXPRESS"
          }
        },
        "SQLSERVER_2022_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_WEB"
          }
        },
        "SQLSERVER_2025_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_STANDARD"
          }
        },
        "SQLSERVER_2025_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_ENTERPRISE"
          }
        },
        "SQLSERVER_2025_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_EXPRESS"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunBackupKindEnum": {
      "type": "enum",
      "members": {
        "SQL_BACKUP_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_BACKUP_KIND_UNSPECIFIED"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT"
          }
        },
        "PHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHYSICAL"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#DiskEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of KMS key for disk encryption"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#diskEncryptionConfiguration`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk encryption configuration for an instance."
      }
    },
    "com.gcp.sqladmin_v1beta4#DiskEncryptionStatus": {
      "type": "structure",
      "members": {
        "kmsKeyVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KMS key version used to encrypt the Cloud SQL instance resource"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#diskEncryptionStatus`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk encryption status for an instance."
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#backupRunsList`."
          }
        },
        "items": {
          "target": "com.gcp.sqladmin_v1beta4#BackupRunList",
          "traits": {
            "smithy.api#documentation": "A list of backup runs in reverse chronological order of the enqueued time."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup run list results."
      }
    },
    "com.gcp.sqladmin_v1beta4#BackupRunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#BackupRun"
      }
    },
    "com.gcp.sqladmin_v1beta4#Database": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#database`."
          }
        },
        "charset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud SQL charset value."
          }
        },
        "collation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud SQL collation value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated and will be removed from a future version of the API."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Cloud SQL instance. This does not include the project ID."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of this resource."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
          }
        },
        "sqlserverDatabaseDetails": {
          "target": "com.gcp.sqladmin_v1beta4#SqlServerDatabaseDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a SQL database on the Cloud SQL instance."
      }
    },
    "com.gcp.sqladmin_v1beta4#SqlServerDatabaseDetails": {
      "type": "structure",
      "members": {
        "compatibilityLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of SQL Server with which the database is to be made compatible"
          }
        },
        "recoveryModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovery model of a SQL Server database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Sql Server database on the Cloud SQL instance."
      }
    },
    "com.gcp.sqladmin_v1beta4#DatabasesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#databasesList`."
          }
        },
        "items": {
          "target": "com.gcp.sqladmin_v1beta4#DatabaseList",
          "traits": {
            "smithy.api#documentation": "List of database resources in the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database list response."
      }
    },
    "com.gcp.sqladmin_v1beta4#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#Database"
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#flagsList`."
          }
        },
        "items": {
          "target": "com.gcp.sqladmin_v1beta4#FlagList",
          "traits": {
            "smithy.api#documentation": "List of flags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flags list response."
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#Flag"
      }
    },
    "com.gcp.sqladmin_v1beta4#Flag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`"
          }
        },
        "type": {
          "target": "com.gcp.sqladmin_v1beta4#FlagTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`."
          }
        },
        "appliesTo": {
          "target": "com.gcp.sqladmin_v1beta4#FlagAppliesToItemEnumList",
          "traits": {
            "smithy.api#documentation": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion)."
          }
        },
        "allowedStringValues": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "For `STRING` flags, a list of strings that the value can be set to."
          }
        },
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For `INTEGER` flags, the minimum allowed value."
          }
        },
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For `INTEGER` flags, the maximum allowed value."
          }
        },
        "requiresRestart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#flag`."
          }
        },
        "inBeta": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the flag is considered in beta."
          }
        },
        "allowedIntValues": {
          "target": "com.gcp.sqladmin_v1beta4#StringList",
          "traits": {
            "smithy.api#documentation": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values."
          }
        },
        "flagScope": {
          "target": "com.gcp.sqladmin_v1beta4#FlagFlagScopeEnum",
          "traits": {
            "smithy.api#documentation": "Scope of flag."
          }
        },
        "recommendedStringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommended flag value in string format for UI display."
          }
        },
        "recommendedIntValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommended flag value in integer format for UI display."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A flag resource."
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagTypeEnum": {
      "type": "enum",
      "members": {
        "SQL_FLAG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FLAG_TYPE_UNSPECIFIED"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "MYSQL_TIMEZONE_OFFSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_TIMEZONE_OFFSET"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "REPEATED_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPEATED_STRING"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagAppliesToItemEnum": {
      "type": "enum",
      "members": {
        "SQL_DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "MYSQL_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_1"
          }
        },
        "MYSQL_5_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_5"
          }
        },
        "MYSQL_5_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_6"
          }
        },
        "MYSQL_5_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_5_7"
          }
        },
        "MYSQL_8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0"
          }
        },
        "MYSQL_8_0_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_18"
          }
        },
        "MYSQL_8_0_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_26"
          }
        },
        "MYSQL_8_0_27": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_27"
          }
        },
        "MYSQL_8_0_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_28"
          }
        },
        "MYSQL_8_0_29": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_29"
          }
        },
        "MYSQL_8_0_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_30"
          }
        },
        "MYSQL_8_0_31": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_31"
          }
        },
        "MYSQL_8_0_32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_32"
          }
        },
        "MYSQL_8_0_33": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_33"
          }
        },
        "MYSQL_8_0_34": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_34"
          }
        },
        "MYSQL_8_0_35": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_35"
          }
        },
        "MYSQL_8_0_36": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_36"
          }
        },
        "MYSQL_8_0_37": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_37"
          }
        },
        "MYSQL_8_0_39": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_39"
          }
        },
        "MYSQL_8_0_40": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_40"
          }
        },
        "MYSQL_8_0_41": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_41"
          }
        },
        "MYSQL_8_0_42": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_42"
          }
        },
        "MYSQL_8_0_43": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_43"
          }
        },
        "MYSQL_8_0_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_44"
          }
        },
        "MYSQL_8_0_45": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_45"
          }
        },
        "MYSQL_8_0_46": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_0_46"
          }
        },
        "MYSQL_8_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_8_4"
          }
        },
        "MYSQL_9_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL_9_7"
          }
        },
        "SQLSERVER_2017_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_STANDARD"
          }
        },
        "SQLSERVER_2017_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_ENTERPRISE"
          }
        },
        "SQLSERVER_2017_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_EXPRESS"
          }
        },
        "SQLSERVER_2017_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2017_WEB"
          }
        },
        "POSTGRES_9_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_9_6"
          }
        },
        "POSTGRES_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_10"
          }
        },
        "POSTGRES_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_11"
          }
        },
        "POSTGRES_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_12"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        },
        "POSTGRES_19": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_19"
          }
        },
        "POSTGRES_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_20"
          }
        },
        "SQLSERVER_2019_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_STANDARD"
          }
        },
        "SQLSERVER_2019_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_ENTERPRISE"
          }
        },
        "SQLSERVER_2019_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_EXPRESS"
          }
        },
        "SQLSERVER_2019_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2019_WEB"
          }
        },
        "SQLSERVER_2022_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_STANDARD"
          }
        },
        "SQLSERVER_2022_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_ENTERPRISE"
          }
        },
        "SQLSERVER_2022_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_EXPRESS"
          }
        },
        "SQLSERVER_2022_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2022_WEB"
          }
        },
        "SQLSERVER_2025_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_STANDARD"
          }
        },
        "SQLSERVER_2025_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_ENTERPRISE"
          }
        },
        "SQLSERVER_2025_EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER_2025_EXPRESS"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagAppliesToItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.sqladmin_v1beta4#FlagAppliesToItemEnum"
      }
    },
    "com.gcp.sqladmin_v1beta4#FlagFlagScopeEnum": {
      "type": "enum",
      "members": {
        "SQL_FLAG_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FLAG_SCOPE_UNSPECIFIED"
          }
        },
        "SQL_FLAG_SCOPE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FLAG_SCOPE_DATABASE"
          }
        },
        "SQL_FLAG_SCOPE_CONNECTION_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_FLAG_SCOPE_CONNECTION_POOL"
          }
        }
      }
    },
    "com.gcp.sqladmin_v1beta4#InstancesCloneRequest": {
      "type": "structure",
      "members": {
        "cloneContext": {
          "target": "com.gcp.sqladmin_v1beta4#CloneContext",
          "traits": {
            "smithy.api#documentation": "Contains details about the clone operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database instance clone request."
      }
    },
    "com.gcp.sqladmin_v1beta4#CloneContext": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is always `sql#cloneContext`."
          }
        },
        "pitrTimestampMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reserved for future use."
          }
        },
        "destinationInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Cloud SQL instance to be created as a clone."
          }
        },
[...]
