{
  "smithy": "2.0",
  "metadata": {
    "service": "tagmanager",
    "version": "v1",
    "title": "Tag Manager API",
    "baseUrl": "https://tagmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.tagmanager_v1#ContainerAccess": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "permission": {
          "target": "com.gcp.tagmanager_v1#ContainerAccessPermissionItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of Container permissions. Valid container permissions are: read, edit, delete, publish."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Google Tag Manager Container access permissions."
      }
    },
    "com.gcp.tagmanager_v1#ContainerAccessPermissionItemEnum": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "MANAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage"
          }
        },
        "EDITWORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "editWorkspace"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ContainerAccessPermissionItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerAccessPermissionItemEnum"
      }
    },
    "com.gcp.tagmanager_v1#Parameter": {
      "type": "structure",
      "members": {
        "map": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "This map parameter's parameters (must have keys; keys must be unique)."
          }
        },
        "type": {
          "target": "com.gcp.tagmanager_v1#ParameterTypeEnum",
          "traits": {
            "smithy.api#documentation": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name "
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A parameter's value (may contain variable references). as appropriate to the specified type."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
          }
        },
        "list": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "This list parameter's parameters (keys will be ignored)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Parameter."
      }
    },
    "com.gcp.tagmanager_v1#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Parameter"
      }
    },
    "com.gcp.tagmanager_v1#ParameterTypeEnum": {
      "type": "enum",
      "members": {
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "template"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "map"
          }
        },
        "TRIGGERREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerReference"
          }
        },
        "TAGREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tagReference"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ContainerVersionHeader": {
      "type": "structure",
      "members": {
        "numVariables": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of variables in the container version."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container version display name."
          }
        },
        "numTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of tags in the container version."
          }
        },
        "numTriggers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of triggers in the container version."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container Version ID uniquely identifies the GTM Container Version."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value of true indicates this container version has been deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Container Version Header."
      }
    },
    "com.gcp.tagmanager_v1#FolderEntities": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "com.gcp.tagmanager_v1#TagList",
          "traits": {
            "smithy.api#documentation": "The list of tags inside the folder."
          }
        },
        "variable": {
          "target": "com.gcp.tagmanager_v1#VariableList",
          "traits": {
            "smithy.api#documentation": "The list of variables inside the folder."
          }
        },
        "trigger": {
          "target": "com.gcp.tagmanager_v1#TriggerList",
          "traits": {
            "smithy.api#documentation": "The list of triggers inside the folder."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Folder's contents."
      }
    },
    "com.gcp.tagmanager_v1#TagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Tag"
      }
    },
    "com.gcp.tagmanager_v1#VariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Variable"
      }
    },
    "com.gcp.tagmanager_v1#TriggerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Trigger"
      }
    },
    "com.gcp.tagmanager_v1#Trigger": {
      "type": "structure",
      "members": {
        "continuousTimeMinMilliseconds": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
          }
        },
        "intervalSeconds": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
          }
        },
        "waitForTags": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
          }
        },
        "waitForTagsTimeout": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
          }
        },
        "visibilitySelector": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "Additional parameters."
          }
        },
        "customEventFilter": {
          "target": "com.gcp.tagmanager_v1#ConditionList",
          "traits": {
            "smithy.api#documentation": "Used in the case of custom event, which is fired iff all Conditions are true."
          }
        },
        "visiblePercentageMax": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
          }
        },
        "horizontalScrollPercentageList": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
          }
        },
        "type": {
          "target": "com.gcp.tagmanager_v1#TriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Defines the data layer event that causes this trigger."
          }
        },
        "visiblePercentageMin": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
          }
        },
        "totalTimeMinMilliseconds": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
          }
        },
        "verticalScrollPercentageList": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
          }
        },
        "triggerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Trigger ID uniquely identifies the GTM Trigger."
          }
        },
        "uniqueTriggerId": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
          }
        },
        "limit": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "checkValidation": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger display name."
          }
        },
        "eventName": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Name of the GTM event that is fired. Only valid for Timer triggers."
          }
        },
        "maxTimerLengthSeconds": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger."
          }
        },
        "interval": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
          }
        },
        "filter": {
          "target": "com.gcp.tagmanager_v1#ConditionList",
          "traits": {
            "smithy.api#documentation": "The trigger will only fire iff all Conditions are true."
          }
        },
        "autoEventFilter": {
          "target": "com.gcp.tagmanager_v1#ConditionList",
          "traits": {
            "smithy.api#documentation": "Used in the case of auto event tracking."
          }
        },
        "parentFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent folder id."
          }
        },
        "selector": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Trigger"
      }
    },
    "com.gcp.tagmanager_v1#ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Condition"
      }
    },
    "com.gcp.tagmanager_v1#TriggerTypeEnum": {
      "type": "enum",
      "members": {
        "PAGEVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageview"
          }
        },
        "DOMREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domReady"
          }
        },
        "WINDOWLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "windowLoaded"
          }
        },
        "CUSTOMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customEvent"
          }
        },
        "TRIGGERGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "triggerGroup"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        },
        "FORMSUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formSubmission"
          }
        },
        "CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "click"
          }
        },
        "LINKCLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linkClick"
          }
        },
        "JSERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jsError"
          }
        },
        "HISTORYCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "historyChange"
          }
        },
        "TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timer"
          }
        },
        "AMPCLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClick"
          }
        },
        "AMPTIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTimer"
          }
        },
        "AMPSCROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampScroll"
          }
        },
        "AMPVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampVisibility"
          }
        },
        "YOUTUBEVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youTubeVideo"
          }
        },
        "SCROLLDEPTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepth"
          }
        },
        "ELEMENTVISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibility"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#Account": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account ID uniquely identifies the GTM Account."
          }
        },
        "shareData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account shares data anonymously with Google and others."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Account."
      }
    },
    "com.gcp.tagmanager_v1#ListAccountUsersResponse": {
      "type": "structure",
      "members": {
        "userAccess": {
          "target": "com.gcp.tagmanager_v1#UserAccessList",
          "traits": {
            "smithy.api#documentation": "All GTM AccountUsers of a GTM Account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List AccountUsers Response."
      }
    },
    "com.gcp.tagmanager_v1#UserAccessList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#UserAccess"
      }
    },
    "com.gcp.tagmanager_v1#ListTriggersResponse": {
      "type": "structure",
      "members": {
        "triggers": {
          "target": "com.gcp.tagmanager_v1#TriggerList",
          "traits": {
            "smithy.api#documentation": "All GTM Triggers of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List triggers response."
      }
    },
    "com.gcp.tagmanager_v1#PublishContainerVersionResponse": {
      "type": "structure",
      "members": {
        "containerVersion": {
          "target": "com.gcp.tagmanager_v1#ContainerVersion",
          "traits": {
            "smithy.api#documentation": "The container version created."
          }
        },
        "compilerError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Compiler errors or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publish container version response."
      }
    },
    "com.gcp.tagmanager_v1#CreateContainerVersionRequestVersionOptions": {
      "type": "structure",
      "members": {
        "quickPreview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The creation of this version may be for quick preview and shouldn't be saved."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notes of the container version to be created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the container version to be created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for new container versions."
      }
    },
    "com.gcp.tagmanager_v1#AccountAccess": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.gcp.tagmanager_v1#AccountAccessPermissionItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of Account permissions. Valid account permissions are read and manage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Google Tag Manager Account access permissions."
      }
    },
    "com.gcp.tagmanager_v1#AccountAccessPermissionItemEnum": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edit"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "MANAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manage"
          }
        },
        "EDITWORKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "editWorkspace"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#AccountAccessPermissionItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#AccountAccessPermissionItemEnum"
      }
    },
    "com.gcp.tagmanager_v1#SetupTag": {
      "type": "structure",
      "members": {
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the setup tag."
          }
        },
        "stopOnSetupFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#Condition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.tagmanager_v1#ConditionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of operator for this condition."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a predicate."
      }
    },
    "com.gcp.tagmanager_v1#ConditionTypeEnum": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contains"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "MATCHREGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "matchRegex"
          }
        },
        "GREATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greater"
          }
        },
        "GREATEROREQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "greaterOrEquals"
          }
        },
        "LESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "less"
          }
        },
        "LESSOREQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lessOrEquals"
          }
        },
        "CSSSELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cssSelector"
          }
        },
        "URLMATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "urlMatches"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#TeardownTag": {
      "type": "structure",
      "members": {
        "tagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the teardown tag."
          }
        },
        "stopTeardownOnFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ListContainerVersionsResponse": {
      "type": "structure",
      "members": {
        "containerVersion": {
          "target": "com.gcp.tagmanager_v1#ContainerVersionList",
          "traits": {
            "smithy.api#documentation": "All versions of a GTM Container."
          }
        },
        "containerVersionHeader": {
          "target": "com.gcp.tagmanager_v1#ContainerVersionHeaderList",
          "traits": {
            "smithy.api#documentation": "All container version headers of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List container versions response."
      }
    },
    "com.gcp.tagmanager_v1#ContainerVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerVersion"
      }
    },
    "com.gcp.tagmanager_v1#ContainerVersionHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerVersionHeader"
      }
    },
    "com.gcp.tagmanager_v1#CreateContainerVersionResponse": {
      "type": "structure",
      "members": {
        "containerVersion": {
          "target": "com.gcp.tagmanager_v1#ContainerVersion",
          "traits": {
            "smithy.api#documentation": "The container version created."
          }
        },
        "compilerError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Compiler errors or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create container versions response."
      }
    },
    "com.gcp.tagmanager_v1#ListContainersResponse": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.gcp.tagmanager_v1#ContainerList",
          "traits": {
            "smithy.api#documentation": "All Containers of a GTM Account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Containers Response."
      }
    },
    "com.gcp.tagmanager_v1#ContainerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Container"
      }
    },
    "com.gcp.tagmanager_v1#Tag": {
      "type": "structure",
      "members": {
        "blockingTriggerId": {
          "target": "com.gcp.tagmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "paused": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the tag is paused."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "The tag's parameters."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this tag in the container."
          }
        },
        "scheduleEndMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end timestamp in milliseconds to schedule a tag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag display name."
          }
        },
        "teardownTag": {
          "target": "com.gcp.tagmanager_v1#TeardownTagList",
          "traits": {
            "smithy.api#documentation": "The list of teardown tags. Currently we only allow one."
          }
        },
        "tagId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Tag ID uniquely identifies the GTM Tag."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Tag Type."
          }
        },
        "priority": {
          "target": "com.gcp.tagmanager_v1#Parameter",
          "traits": {
            "smithy.api#documentation": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
          }
        },
        "liveOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
          }
        },
        "setupTag": {
          "target": "com.gcp.tagmanager_v1#SetupTagList",
          "traits": {
            "smithy.api#documentation": "The list of setup tags. Currently we only allow one."
          }
        },
        "tagFiringOption": {
          "target": "com.gcp.tagmanager_v1#TagTagFiringOptionEnum",
          "traits": {
            "smithy.api#documentation": "Option to fire this tag."
          }
        },
        "parentFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent folder id."
          }
        },
        "firingTriggerId": {
          "target": "com.gcp.tagmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false."
          }
        },
        "scheduleStartMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start timestamp in milliseconds to schedule a tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Tag."
      }
    },
    "com.gcp.tagmanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.tagmanager_v1#TeardownTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#TeardownTag"
      }
    },
    "com.gcp.tagmanager_v1#SetupTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#SetupTag"
      }
    },
    "com.gcp.tagmanager_v1#TagTagFiringOptionEnum": {
      "type": "enum",
      "members": {
        "UNLIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlimited"
          }
        },
        "ONCEPEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oncePerEvent"
          }
        },
        "ONCEPERLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oncePerLoad"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ListVariablesResponse": {
      "type": "structure",
      "members": {
        "variables": {
          "target": "com.gcp.tagmanager_v1#VariableList",
          "traits": {
            "smithy.api#documentation": "All GTM Variables of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Variables Response."
      }
    },
    "com.gcp.tagmanager_v1#Folder": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "folderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Folder ID uniquely identifies the GTM Folder."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Folder display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Folder."
      }
    },
    "com.gcp.tagmanager_v1#ContainerVersion": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value of true indicates this container version has been deleted."
          }
        },
        "tag": {
          "target": "com.gcp.tagmanager_v1#TagList",
          "traits": {
            "smithy.api#documentation": "The tags in the container that this version was taken from."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "trigger": {
          "target": "com.gcp.tagmanager_v1#TriggerList",
          "traits": {
            "smithy.api#documentation": "The triggers in the container that this version was taken from."
          }
        },
        "folder": {
          "target": "com.gcp.tagmanager_v1#FolderList",
          "traits": {
            "smithy.api#documentation": "The folders in the container that this version was taken from."
          }
        },
        "containerVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container Version ID uniquely identifies the GTM Container Version."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this container version in the container."
          }
        },
        "container": {
          "target": "com.gcp.tagmanager_v1#Container",
          "traits": {
            "smithy.api#documentation": "The container that this version was taken from."
          }
        },
        "variable": {
          "target": "com.gcp.tagmanager_v1#VariableList",
          "traits": {
            "smithy.api#documentation": "The variables in the container that this version was taken from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container version display name."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Container Version."
      }
    },
    "com.gcp.tagmanager_v1#FolderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Folder"
      }
    },
    "com.gcp.tagmanager_v1#ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.gcp.tagmanager_v1#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "All Environments of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Environments Response."
      }
    },
    "com.gcp.tagmanager_v1#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Environment"
      }
    },
    "com.gcp.tagmanager_v1#ListTagsResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.tagmanager_v1#TagList",
          "traits": {
            "smithy.api#documentation": "All GTM Tags of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Tags Response."
      }
    },
    "com.gcp.tagmanager_v1#Container": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container ID uniquely identifies the GTM Container."
          }
        },
        "timeZoneCountryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container Country ID."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "enabledBuiltInVariable": {
          "target": "com.gcp.tagmanager_v1#ContainerEnabledBuiltInVariableItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId."
          }
        },
        "usageContext": {
          "target": "com.gcp.tagmanager_v1#ContainerUsageContextItemEnumList",
          "traits": {
            "smithy.api#documentation": "List of Usage Contexts for the Container. Valid values include: web, android, ios."
          }
        },
        "publicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container Public ID."
          }
        },
        "timeZoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container Time Zone ID."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container display name."
          }
        },
        "domainName": {
          "target": "com.gcp.tagmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional list of domain names associated with the Container."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container Notes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Container."
      }
    },
    "com.gcp.tagmanager_v1#ContainerEnabledBuiltInVariableItemEnum": {
      "type": "enum",
      "members": {
        "PAGEURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageUrl"
          }
        },
        "PAGEHOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pageHostname"
          }
        },
        "PAGEPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pagePath"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event"
          }
        },
        "CLICKELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickElement"
          }
        },
        "CLICKCLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickClasses"
          }
        },
        "CLICKID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickId"
          }
        },
        "CLICKTARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickTarget"
          }
        },
        "CLICKURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickUrl"
          }
        },
        "CLICKTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clickText"
          }
        },
        "FIRSTPARTYSERVINGURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstPartyServingUrl"
          }
        },
        "FORMELEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formElement"
          }
        },
        "FORMCLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formClasses"
          }
        },
        "FORMID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formId"
          }
        },
        "FORMTARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formTarget"
          }
        },
        "FORMURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formUrl"
          }
        },
        "FORMTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "formText"
          }
        },
        "ENVIRONMENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "environmentName"
          }
        },
        "ERRORMESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorMessage"
          }
        },
        "ERRORURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorUrl"
          }
        },
        "ERRORLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errorLine"
          }
        },
        "NEWHISTORYURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryUrl"
          }
        },
        "OLDHISTORYURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryUrl"
          }
        },
        "NEWHISTORYFRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryFragment"
          }
        },
        "OLDHISTORYFRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryFragment"
          }
        },
        "NEWHISTORYSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newHistoryState"
          }
        },
        "OLDHISTORYSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oldHistoryState"
          }
        },
        "HISTORYSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "historySource"
          }
        },
        "CONTAINERVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerVersion"
          }
        },
        "DEBUGMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debugMode"
          }
        },
        "RANDOMNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "randomNumber"
          }
        },
        "CONTAINERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerId"
          }
        },
        "APPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appId"
          }
        },
        "APPNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appName"
          }
        },
        "APPVERSIONCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appVersionCode"
          }
        },
        "APPVERSIONNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appVersionName"
          }
        },
        "LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "language"
          }
        },
        "OSVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "osVersion"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform"
          }
        },
        "SDKVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sdkVersion"
          }
        },
        "DEVICENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceName"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolution"
          }
        },
        "ADVERTISERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertiserId"
          }
        },
        "ADVERTISINGTRACKINGENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertisingTrackingEnabled"
          }
        },
        "HTMLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "htmlId"
          }
        },
        "AMPBROWSERLANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampBrowserLanguage"
          }
        },
        "AMPCANONICALPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalPath"
          }
        },
        "AMPCANONICALURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalUrl"
          }
        },
        "AMPCANONICALHOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampCanonicalHost"
          }
        },
        "AMPREFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampReferrer"
          }
        },
        "AMPTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTitle"
          }
        },
        "AMPCLIENTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientId"
          }
        },
        "AMPCLIENTTIMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientTimezone"
          }
        },
        "AMPCLIENTTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientTimestamp"
          }
        },
        "AMPCLIENTSCREENWIDTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScreenWidth"
          }
        },
        "AMPCLIENTSCREENHEIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScreenHeight"
          }
        },
        "AMPCLIENTSCROLLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScrollX"
          }
        },
        "AMPCLIENTSCROLLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientScrollY"
          }
        },
        "AMPCLIENTMAXSCROLLX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientMaxScrollX"
          }
        },
        "AMPCLIENTMAXSCROLLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampClientMaxScrollY"
          }
        },
        "AMPTOTALENGAGEDTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampTotalEngagedTime"
          }
        },
        "AMPPAGEVIEWID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageViewId"
          }
        },
        "AMPPAGELOADTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageLoadTime"
          }
        },
        "AMPPAGEDOWNLOADTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampPageDownloadTime"
          }
        },
        "AMPGTMEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ampGtmEvent"
          }
        },
        "EVENTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eventName"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaign"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNACLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignAclid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNANID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignAnid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCLICKTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignClickTimestamp"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignContent"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNCP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignCp1"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNGCLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignGclid"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignSource"
          }
        },
        "FIREBASEEVENTPARAMETERCAMPAIGNTERM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCampaignTerm"
          }
        },
        "FIREBASEEVENTPARAMETERCURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterCurrency"
          }
        },
        "FIREBASEEVENTPARAMETERDYNAMICLINKACCEPTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterDynamicLinkAcceptTime"
          }
        },
        "FIREBASEEVENTPARAMETERDYNAMICLINKLINKID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterDynamicLinkLinkid"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGEDEVICETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageDeviceTime"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGEID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageId"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageName"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONMESSAGETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationMessageTime"
          }
        },
        "FIREBASEEVENTPARAMETERNOTIFICATIONTOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterNotificationTopic"
          }
        },
        "FIREBASEEVENTPARAMETERPREVIOUSAPPVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPreviousAppVersion"
          }
        },
        "FIREBASEEVENTPARAMETERPREVIOUSOSVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPreviousOsVersion"
          }
        },
        "FIREBASEEVENTPARAMETERPRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterPrice"
          }
        },
        "FIREBASEEVENTPARAMETERPRODUCTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterProductId"
          }
        },
        "FIREBASEEVENTPARAMETERQUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterQuantity"
          }
        },
        "FIREBASEEVENTPARAMETERVALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firebaseEventParameterValue"
          }
        },
        "VIDEOPROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoProvider"
          }
        },
        "VIDEOURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoUrl"
          }
        },
        "VIDEOTITLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoTitle"
          }
        },
        "VIDEODURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoDuration"
          }
        },
        "VIDEOPERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoPercent"
          }
        },
        "VIDEOVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoVisible"
          }
        },
        "VIDEOSTATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoStatus"
          }
        },
        "VIDEOCURRENTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "videoCurrentTime"
          }
        },
        "SCROLLDEPTHTHRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthThreshold"
          }
        },
        "SCROLLDEPTHUNITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthUnits"
          }
        },
        "SCROLLDEPTHDIRECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scrollDepthDirection"
          }
        },
        "ELEMENTVISIBILITYRATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityRatio"
          }
        },
        "ELEMENTVISIBILITYTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityTime"
          }
        },
        "ELEMENTVISIBILITYFIRSTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityFirstTime"
          }
        },
        "ELEMENTVISIBILITYRECENTTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elementVisibilityRecentTime"
          }
        },
        "ANALYTICSCLIENTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsClientId"
          }
        },
        "ANALYTICSSESSIONID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsSessionId"
          }
        },
        "ANALYTICSSESSIONNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analyticsSessionNumber"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ContainerEnabledBuiltInVariableItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerEnabledBuiltInVariableItemEnum"
      }
    },
    "com.gcp.tagmanager_v1#ContainerUsageContextItemEnum": {
      "type": "enum",
      "members": {
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "android"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ios"
          }
        },
        "ANDROIDSDK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "androidSdk5"
          }
        },
        "IOSSDK5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iosSdk5"
          }
        },
        "AMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amp"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ContainerUsageContextItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerUsageContextItemEnum"
      }
    },
    "com.gcp.tagmanager_v1#Variable": {
      "type": "structure",
      "members": {
        "variableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Variable ID uniquely identifies the GTM Variable."
          }
        },
        "parentFolderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent folder id."
          }
        },
        "scheduleStartMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start timestamp in milliseconds to schedule a variable."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Variable Type."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User notes on how to apply this variable in the container."
          }
        },
        "scheduleEndMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end timestamp in milliseconds to schedule a variable."
          }
        },
        "disablingTriggerId": {
          "target": "com.gcp.tagmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variable display name."
          }
        },
        "parameter": {
          "target": "com.gcp.tagmanager_v1#ParameterList",
          "traits": {
            "smithy.api#documentation": "The variable's parameters."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
          }
        },
        "enablingTriggerId": {
          "target": "com.gcp.tagmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Variable."
      }
    },
    "com.gcp.tagmanager_v1#Environment": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Container ID."
          }
        },
        "enableDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to enable debug by default on for the environment."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment description. Can be set or changed only on USER type environments."
          }
        },
        "authorizationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment authorization code."
          }
        },
        "type": {
          "target": "com.gcp.tagmanager_v1#EnvironmentTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this environment."
          }
        },
        "containerVersionId": {
          "target": "smithy.api#String"
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default preview page url for the environment."
          }
        },
        "authorizationTimestampMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time-stamp for the authorization code."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Environment ID uniquely identifies the GTM Environment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment display name. Can be set or changed only on USER type environments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types."
      }
    },
    "com.gcp.tagmanager_v1#EnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#UserAccess": {
      "type": "structure",
      "members": {
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Permission ID."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address."
          }
        },
        "containerAccess": {
          "target": "com.gcp.tagmanager_v1#ContainerAccessList",
          "traits": {
            "smithy.api#documentation": "GTM Container access permissions."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GTM Account ID."
          }
        },
        "accountAccess": {
          "target": "com.gcp.tagmanager_v1#AccountAccess",
          "traits": {
            "smithy.api#documentation": "GTM Account access permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user's permissions to an account and its container."
      }
    },
    "com.gcp.tagmanager_v1#ContainerAccessList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#ContainerAccess"
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.gcp.tagmanager_v1#AccountList",
          "traits": {
            "smithy.api#documentation": "List of GTM Accounts that a user has access to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Accounts Response."
      }
    },
    "com.gcp.tagmanager_v1#AccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tagmanager_v1#Account"
      }
    },
    "com.gcp.tagmanager_v1#ListFoldersResponse": {
      "type": "structure",
      "members": {
        "folders": {
          "target": "com.gcp.tagmanager_v1#FolderList",
          "traits": {
            "smithy.api#documentation": "All GTM Folders of a GTM Container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List Folders Response."
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.tagmanager_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.tagmanager_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.tagmanager_v1#ListAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#ListAccountsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#ListAccountsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts"
        },
        "smithy.api#documentation": "Lists all GTM Accounts that a user has access to."
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#GetAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#GetAccountsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Account"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}"
        },
        "smithy.api#documentation": "Gets a GTM Account."
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provided, this fingerprint must match the fingerprint of the account in storage.",
            "smithy.api#httpQuery": "fingerprint"
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#Account",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.tagmanager_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#UpdateAccountsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Account"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tagmanager/v1/accounts/{accountId}"
        },
        "smithy.api#documentation": "Updates a GTM Account."
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsPermissionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsPermissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#ListAccountsPermissionsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#ListAccountUsersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/permissions"
        },
        "smithy.api#documentation": "List all users that have access to the account along with Account and Container Permissions granted to each of them."
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsPermissionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#UserAccess",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsPermissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#CreateAccountsPermissionsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#UserAccess"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tagmanager/v1/accounts/{accountId}/permissions"
        },
        "smithy.api#documentation": "Creates a user's Account & Container Permissions."
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsPermissionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM User ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsPermissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#GetAccountsPermissionsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#UserAccess"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
        },
        "smithy.api#documentation": "Gets a user's Account & Container Permissions."
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsPermissionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM User ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#UserAccess",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsPermissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#UpdateAccountsPermissionsRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#UserAccess"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
        },
        "smithy.api#documentation": "Updates a user's Account & Container Permissions."
      }
    },
    "com.gcp.tagmanager_v1#DeleteAccountsPermissionsRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM User ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#DeleteAccountsPermissions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#DeleteAccountsPermissionsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
        },
        "smithy.api#documentation": "Removes a user from the account, revoking access to it and all of its containers."
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsContainersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsContainers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#GetAccountsContainersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Container"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
        },
        "smithy.api#documentation": "Gets a Container."
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsContainersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provided, this fingerprint must match the fingerprint of the container in storage.",
            "smithy.api#httpQuery": "fingerprint"
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#Container",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsContainers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#UpdateAccountsContainersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Container"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
        },
        "smithy.api#documentation": "Updates a Container."
      }
    },
    "com.gcp.tagmanager_v1#DeleteAccountsContainersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#DeleteAccountsContainers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#DeleteAccountsContainersRequest"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}"
        },
        "smithy.api#documentation": "Deletes a Container."
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsContainersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#Container",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsContainers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#CreateAccountsContainersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Container"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tagmanager/v1/accounts/{accountId}/containers"
        },
        "smithy.api#documentation": "Creates a Container."
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsContainersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsContainers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#ListAccountsContainersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#ListContainersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/containers"
        },
        "smithy.api#documentation": "Lists all Containers that belongs to a GTM Account."
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsContainersFoldersRequest": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#ListAccountsContainersFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#ListAccountsContainersFoldersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#ListFoldersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
        },
        "smithy.api#documentation": "Lists all GTM Folders of a Container."
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsContainersFoldersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#Folder",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#CreateAccountsContainersFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#CreateAccountsContainersFoldersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
        },
        "smithy.api#documentation": "Creates a GTM Folder."
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsContainersFoldersRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "folderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Folder ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#GetAccountsContainersFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#GetAccountsContainersFoldersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
        },
        "smithy.api#documentation": "Gets a GTM Folder."
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsContainersFoldersRequest": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "folderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Folder ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
            "smithy.api#httpQuery": "fingerprint"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Account ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tagmanager_v1#Folder",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tagmanager_v1#UpdateAccountsContainersFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tagmanager_v1#UpdateAccountsContainersFoldersRequest"
      },
      "output": {
        "target": "com.gcp.tagmanager_v1#Folder"
      },
      "errors": [
        {
          "target": "com.gcp.tagmanager_v1#NotFound"
        },
        {
          "target": "com.gcp.tagmanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.tagmanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.tagmanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
        },
        "smithy.api#documentation": "Updates a GTM Folder."
      }
    },
    "com.gcp.tagmanager_v1#DeleteAccountsContainersFoldersRequest": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GTM Container ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
[...]
