{
  "smithy": "2.0",
  "metadata": {
    "service": "tpu",
    "version": "v2alpha1",
    "title": "Cloud TPU API",
    "baseUrl": "https://tpu.googleapis.com/"
  },
  "shapes": {
    "com.gcp.tpu_v2alpha1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.tpu_v2alpha1#ListQueuedResourcesResponse": {
      "type": "structure",
      "members": {
        "queuedResources": {
          "target": "com.gcp.tpu_v2alpha1#QueuedResourceList",
          "traits": {
            "smithy.api#documentation": "The listed queued resources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token or empty if none."
          }
        },
        "unreachable": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListQueuedResources."
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#QueuedResource"
      }
    },
    "com.gcp.tpu_v2alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.tpu_v2alpha1#Symptom": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the Symptom is created."
          }
        },
        "symptomType": {
          "target": "com.gcp.tpu_v2alpha1#SymptomSymptomTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the Symptom."
          }
        },
        "workerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string used to uniquely distinguish a worker within a TPU node."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed information of the current Symptom."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Symptom instance."
      }
    },
    "com.gcp.tpu_v2alpha1#SymptomSymptomTypeEnum": {
      "type": "enum",
      "members": {
        "SYMPTOM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYMPTOM_TYPE_UNSPECIFIED"
          }
        },
        "LOW_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW_MEMORY"
          }
        },
        "OUT_OF_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_MEMORY"
          }
        },
        "EXECUTE_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTE_TIMED_OUT"
          }
        },
        "MESH_BUILD_FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESH_BUILD_FAIL"
          }
        },
        "HBM_OUT_OF_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HBM_OUT_OF_MEMORY"
          }
        },
        "PROJECT_ABUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_ABUSE"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#CustomerEncryptionKey": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer's encryption key."
      }
    },
    "com.gcp.tpu_v2alpha1#AcceleratorConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.tpu_v2alpha1#AcceleratorConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of TPU."
          }
        },
        "topology": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Topology of TPU in chips."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TPU accelerator configuration."
      }
    },
    "com.gcp.tpu_v2alpha1#AcceleratorConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2"
          }
        },
        "V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V3"
          }
        },
        "V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V4"
          }
        },
        "V5LITE_POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V5LITE_POD"
          }
        },
        "V5P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V5P"
          }
        },
        "V6E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V6E"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#SimulateMaintenanceEventRequest": {
      "type": "structure",
      "members": {
        "workerIds": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for SimulateMaintenanceEvent."
      }
    },
    "com.gcp.tpu_v2alpha1#Spot": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Spot tier definition."
      }
    },
    "com.gcp.tpu_v2alpha1#GetMaintenanceInfoResponse": {
      "type": "structure",
      "members": {
        "nodeUpcomingMaintenances": {
          "target": "com.gcp.tpu_v2alpha1#NodeUpcomingMaintenanceInfoList",
          "traits": {
            "smithy.api#documentation": "The list of upcoming maintenance entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for GetMaintenanceInfo."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeUpcomingMaintenanceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#NodeUpcomingMaintenanceInfo"
      }
    },
    "com.gcp.tpu_v2alpha1#ServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the service account. If empty, default Compute service account will be used."
          }
        },
        "scope": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account."
      }
    },
    "com.gcp.tpu_v2alpha1#ListNodesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token or empty if none."
          }
        },
        "unreachable": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nodes": {
          "target": "com.gcp.tpu_v2alpha1#NodeList",
          "traits": {
            "smithy.api#documentation": "The listed nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListNodes."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#Node"
      }
    },
    "com.gcp.tpu_v2alpha1#PerformMaintenanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for PerformMaintenance."
      }
    },
    "com.gcp.tpu_v2alpha1#SuspendingData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the suspending state."
      }
    },
    "com.gcp.tpu_v2alpha1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.tpu_v2alpha1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.tpu_v2alpha1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.tpu_v2alpha1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#DocumentMap"
      }
    },
    "com.gcp.tpu_v2alpha1#SuspendedData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the suspended state."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeUpcomingMaintenanceInfo": {
      "type": "structure",
      "members": {
        "nodeUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of this node."
          }
        },
        "upcomingMaintenance": {
          "target": "com.gcp.tpu_v2alpha1#UpcomingMaintenance",
          "traits": {
            "smithy.api#documentation": "Upcoming maintenance info for this node."
          }
        },
        "nodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unqualified node name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tuple containing node name / ID and maintenance info."
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResourceState": {
      "type": "structure",
      "members": {
        "suspendedData": {
          "target": "com.gcp.tpu_v2alpha1#SuspendedData",
          "traits": {
            "smithy.api#documentation": "Further data for the suspended state."
          }
        },
        "state": {
          "target": "com.gcp.tpu_v2alpha1#QueuedResourceStateStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the QueuedResource request."
          }
        },
        "deletingData": {
          "target": "com.gcp.tpu_v2alpha1#DeletingData",
          "traits": {
            "smithy.api#documentation": "Further data for the deleting state."
          }
        },
        "stateInitiator": {
          "target": "com.gcp.tpu_v2alpha1#QueuedResourceStateStateInitiatorEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service."
          }
        },
        "creatingData": {
          "target": "com.gcp.tpu_v2alpha1#CreatingData",
          "traits": {
            "smithy.api#documentation": "Further data for the creating state."
          }
        },
        "failedData": {
          "target": "com.gcp.tpu_v2alpha1#FailedData",
          "traits": {
            "smithy.api#documentation": "Further data for the failed state."
          }
        },
        "provisioningData": {
          "target": "com.gcp.tpu_v2alpha1#ProvisioningData",
          "traits": {
            "smithy.api#documentation": "Further data for the provisioning state."
          }
        },
        "activeData": {
          "target": "com.gcp.tpu_v2alpha1#ActiveData",
          "traits": {
            "smithy.api#documentation": "Further data for the active state."
          }
        },
        "suspendingData": {
          "target": "com.gcp.tpu_v2alpha1#SuspendingData",
          "traits": {
            "smithy.api#documentation": "Further data for the suspending state."
          }
        },
        "acceptedData": {
          "target": "com.gcp.tpu_v2alpha1#AcceptedData",
          "traits": {
            "smithy.api#documentation": "Further data for the accepted state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueuedResourceState defines the details of the QueuedResource request."
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResourceStateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "WAITING_FOR_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_FOR_RESOURCES"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResourceStateStateInitiatorEnum": {
      "type": "enum",
      "members": {
        "STATE_INITIATOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_INITIATOR_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#ServiceIdentity": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The per-product per-project service identity for Cloud TPU service."
      }
    },
    "com.gcp.tpu_v2alpha1#GetGuestAttributesRequest": {
      "type": "structure",
      "members": {
        "queryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The guest attributes path to be queried."
          }
        },
        "workerIds": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for GetGuestAttributes."
      }
    },
    "com.gcp.tpu_v2alpha1#FailedData": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.tpu_v2alpha1#Status",
          "traits": {
            "smithy.api#documentation": "The error that caused the queued resource to enter the FAILED state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Further data for the failed state."
      }
    },
    "com.gcp.tpu_v2alpha1#ListAcceleratorTypesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token or empty if none."
          }
        },
        "unreachable": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "acceleratorTypes": {
          "target": "com.gcp.tpu_v2alpha1#AcceleratorTypeList",
          "traits": {
            "smithy.api#documentation": "The listed nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListAcceleratorTypes."
      }
    },
    "com.gcp.tpu_v2alpha1#AcceleratorTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#AcceleratorType"
      }
    },
    "com.gcp.tpu_v2alpha1#Standard": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of the reservation."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the reservation, in the units specified in the 'capacity_units' field."
          }
        },
        "usage": {
          "target": "com.gcp.tpu_v2alpha1#Usage",
          "traits": {
            "smithy.api#documentation": "The current usage of the reservation."
          }
        },
        "interval": {
          "target": "com.gcp.tpu_v2alpha1#Interval",
          "traits": {
            "smithy.api#documentation": "The start and end time of the reservation."
          }
        },
        "capacityUnits": {
          "target": "com.gcp.tpu_v2alpha1#StandardCapacityUnitsEnum",
          "traits": {
            "smithy.api#documentation": "Capacity units this reservation is measured in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a standard reservation."
      }
    },
    "com.gcp.tpu_v2alpha1#StandardCapacityUnitsEnum": {
      "type": "enum",
      "members": {
        "CAPACITY_UNITS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_UNITS_UNSPECIFIED"
          }
        },
        "CORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORES"
          }
        },
        "CHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIPS"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#Tpu": {
      "type": "structure",
      "members": {
        "nodeSpec": {
          "target": "com.gcp.tpu_v2alpha1#NodeSpecList",
          "traits": {
            "smithy.api#documentation": "The TPU node(s) being requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the TPU resource(s) being requested."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#NodeSpec"
      }
    },
    "com.gcp.tpu_v2alpha1#MultiNodeParams": {
      "type": "structure",
      "members": {
        "workloadType": {
          "target": "com.gcp.tpu_v2alpha1#MultiNodeParamsWorkloadTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The workload type for the multi-node request."
          }
        },
        "nodeIdPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params."
      }
    },
    "com.gcp.tpu_v2alpha1#MultiNodeParamsWorkloadTypeEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_TYPE_UNSPECIFIED"
          }
        },
        "THROUGHPUT_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROUGHPUT_OPTIMIZED"
          }
        },
        "AVAILABILITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_OPTIMIZED"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#RunDuration": {
      "type": "structure",
      "members": {
        "terminationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the requested resource will be terminated."
          }
        },
        "maxRunDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum duration of the requested resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the maximum lifetime of the requested resource."
      }
    },
    "com.gcp.tpu_v2alpha1#AccessConfig": {
      "type": "structure",
      "members": {
        "externalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An external IP address associated with the TPU worker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access config attached to the TPU worker."
      }
    },
    "com.gcp.tpu_v2alpha1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.tpu_v2alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.tpu_v2alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.tpu_v2alpha1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.tpu_v2alpha1#ResetQueuedResourceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for ResetQueuedResource."
      }
    },
    "com.gcp.tpu_v2alpha1#BestEffort": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "BestEffort tier definition."
      }
    },
    "com.gcp.tpu_v2alpha1#Usage": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The real-time value of usage within the reservation, with the unit specified in field capacity_units."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage details of a reservation."
      }
    },
    "com.gcp.tpu_v2alpha1#RuntimeVersion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A runtime version that a Node can be configured with."
      }
    },
    "com.gcp.tpu_v2alpha1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.tpu_v2alpha1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.tpu_v2alpha1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#Location"
      }
    },
    "com.gcp.tpu_v2alpha1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.tpu_v2alpha1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.tpu_v2alpha1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#Operation"
      }
    },
    "com.gcp.tpu_v2alpha1#StopNodeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for StopNode."
      }
    },
    "com.gcp.tpu_v2alpha1#SchedulingConfig": {
      "type": "structure",
      "members": {
        "preemptible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the node is preemptible."
          }
        },
        "spot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Defines whether the node is Spot VM."
          }
        },
        "reservationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the reservation in which the node should be provisioned."
          }
        },
        "terminationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the node will be terminated."
          }
        },
        "provisioningModel": {
          "target": "com.gcp.tpu_v2alpha1#SchedulingConfigProvisioningModelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the provisioning model for the node."
          }
        },
        "reserved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the node is created under a reservation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the scheduling options for this node."
      }
    },
    "com.gcp.tpu_v2alpha1#SchedulingConfigProvisioningModelEnum": {
      "type": "enum",
      "members": {
        "PROVISIONING_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING_MODEL_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "RESERVATION_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_BOUND"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#AcceleratorType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "acceleratorConfigs": {
          "target": "com.gcp.tpu_v2alpha1#AcceleratorConfigList",
          "traits": {
            "smithy.api#documentation": "The accelerator config."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accelerator type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A accelerator type that a Node can be configured with."
      }
    },
    "com.gcp.tpu_v2alpha1#AcceleratorConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#AcceleratorConfig"
      }
    },
    "com.gcp.tpu_v2alpha1#Reservation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
          }
        },
        "state": {
          "target": "com.gcp.tpu_v2alpha1#ReservationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the Reservation."
          }
        },
        "standard": {
          "target": "com.gcp.tpu_v2alpha1#Standard",
          "traits": {
            "smithy.api#documentation": "A standard reservation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reservation describes the amount of a resource 'allotted' for a defined period of time."
      }
    },
    "com.gcp.tpu_v2alpha1#ReservationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONING"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#NetworkConfig": {
      "type": "structure",
      "members": {
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
          }
        },
        "canIpForward": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
          }
        },
        "queueCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies networking queue count for TPU VM instance's network interface."
          }
        },
        "enableExternalIps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network related configurations."
      }
    },
    "com.gcp.tpu_v2alpha1#StartNodeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for StartNode."
      }
    },
    "com.gcp.tpu_v2alpha1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.tpu_v2alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.tpu_v2alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.tpu_v2alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.tpu_v2alpha1#NetworkEndpoint": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal IP address of this network endpoint."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port of this network endpoint."
          }
        },
        "accessConfig": {
          "target": "com.gcp.tpu_v2alpha1#AccessConfig",
          "traits": {
            "smithy.api#documentation": "The access config for the TPU worker."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A network endpoint over which a TPU worker can be reached."
      }
    },
    "com.gcp.tpu_v2alpha1#ListReservationsResponse": {
      "type": "structure",
      "members": {
        "reservations": {
          "target": "com.gcp.tpu_v2alpha1#ReservationList",
          "traits": {
            "smithy.api#documentation": "The listed reservations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token or empty if none."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListReservations."
      }
    },
    "com.gcp.tpu_v2alpha1#ReservationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#Reservation"
      }
    },
    "com.gcp.tpu_v2alpha1#Interval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
      }
    },
    "com.gcp.tpu_v2alpha1#GuestAttributes": {
      "type": "structure",
      "members": {
        "queryValue": {
          "target": "com.gcp.tpu_v2alpha1#GuestAttributesValue",
          "traits": {
            "smithy.api#documentation": "The value of the requested queried path."
          }
        },
        "queryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A guest attributes."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeSpec": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name."
          }
        },
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params."
          }
        },
        "node": {
          "target": "com.gcp.tpu_v2alpha1#Node",
          "traits": {
            "smithy.api#documentation": "Required. The node."
          }
        },
        "multiNodeParams": {
          "target": "com.gcp.tpu_v2alpha1#MultiNodeParams",
          "traits": {
            "smithy.api#documentation": "Optional. Fields to specify in case of multi-node request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
      }
    },
    "com.gcp.tpu_v2alpha1#CreatingData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the creating state."
      }
    },
    "com.gcp.tpu_v2alpha1#Guaranteed": {
      "type": "structure",
      "members": {
        "reserved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the request should be scheduled on reserved capacity."
          }
        },
        "minDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guaranteed tier definition."
      }
    },
    "com.gcp.tpu_v2alpha1#DeletingData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the deleting state."
      }
    },
    "com.gcp.tpu_v2alpha1#Node": {
      "type": "structure",
      "members": {
        "acceleratorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of hardware accelerators associated with this node."
          }
        },
        "upcomingMaintenance": {
          "target": "com.gcp.tpu_v2alpha1#UpcomingMaintenance",
          "traits": {
            "smithy.api#documentation": "Output only. Upcoming maintenance on this TPU node."
          }
        },
        "networkConfig": {
          "target": "com.gcp.tpu_v2alpha1#NetworkConfig",
          "traits": {
            "smithy.api#documentation": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
          }
        },
        "serviceAccount": {
          "target": "com.gcp.tpu_v2alpha1#ServiceAccount",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
          }
        },
        "cidrBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block."
          }
        },
        "metadata": {
          "target": "com.gcp.tpu_v2alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script"
          }
        },
        "apiVersion": {
          "target": "com.gcp.tpu_v2alpha1#NodeApiVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The API version that created this Node."
          }
        },
        "bootDiskConfig": {
          "target": "com.gcp.tpu_v2alpha1#BootDiskConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Boot disk configuration."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the node was created."
          }
        },
        "runtimeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The runtime version running in the Node."
          }
        },
        "labels": {
          "target": "com.gcp.tpu_v2alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Resource labels to represent user-provided metadata."
          }
        },
        "networkConfigs": {
          "target": "com.gcp.tpu_v2alpha1#NetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
          }
        },
        "multisliceNode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the Node belongs to a Multislice group."
          }
        },
        "queuedResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The qualified name of the QueuedResource that requested this Node."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The name of the TPU."
          }
        },
        "tags": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls."
          }
        },
        "dataDisks": {
          "target": "com.gcp.tpu_v2alpha1#AttachedDiskList",
          "traits": {
            "smithy.api#documentation": "The additional data disks for the Node."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-supplied description of the TPU. Maximum of 512 characters."
          }
        },
        "state": {
          "target": "com.gcp.tpu_v2alpha1#NodeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state for the TPU Node."
          }
        },
        "networkEndpoints": {
          "target": "com.gcp.tpu_v2alpha1#NetworkEndpointList",
          "traits": {
            "smithy.api#documentation": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first."
          }
        },
        "health": {
          "target": "com.gcp.tpu_v2alpha1#NodeHealthEnum",
          "traits": {
            "smithy.api#documentation": "The health status of the TPU node."
          }
        },
        "symptoms": {
          "target": "com.gcp.tpu_v2alpha1#SymptomList",
          "traits": {
            "smithy.api#documentation": "Output only. The Symptoms that have occurred to the TPU Node."
          }
        },
        "autocheckpointEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether Autocheckpoint is enabled."
          }
        },
        "acceleratorConfig": {
          "target": "com.gcp.tpu_v2alpha1#AcceleratorConfig",
          "traits": {
            "smithy.api#documentation": "The AccleratorConfig for the TPU Node."
          }
        },
        "schedulingConfig": {
          "target": "com.gcp.tpu_v2alpha1#SchedulingConfig",
          "traits": {
            "smithy.api#documentation": "The scheduling options for this node."
          }
        },
        "healthDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
          }
        },
        "shieldedInstanceConfig": {
          "target": "com.gcp.tpu_v2alpha1#ShieldedInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Shielded Instance options."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier for the TPU Node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TPU instance."
      }
    },
    "com.gcp.tpu_v2alpha1#NodeApiVersionEnum": {
      "type": "enum",
      "members": {
        "API_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_UNSPECIFIED"
          }
        },
        "V1_ALPHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1_ALPHA1"
          }
        },
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1"
          }
        },
        "V2_ALPHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2_ALPHA1"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#NetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#NetworkConfig"
      }
    },
    "com.gcp.tpu_v2alpha1#AttachedDiskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#AttachedDisk"
      }
    },
    "com.gcp.tpu_v2alpha1#NodeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "RESTARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTING"
          }
        },
        "REIMAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REIMAGING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "PREEMPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREEMPTED"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        },
        "HIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDING"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        },
        "UNHIDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHIDING"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#NetworkEndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#NetworkEndpoint"
      }
    },
    "com.gcp.tpu_v2alpha1#NodeHealthEnum": {
      "type": "enum",
      "members": {
        "HEALTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        },
        "UNHEALTHY_TENSORFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY_TENSORFLOW"
          }
        },
        "UNHEALTHY_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY_MAINTENANCE"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#SymptomList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#Symptom"
      }
    },
    "com.gcp.tpu_v2alpha1#GuestAttributesEntry": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace for the guest attribute entry."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for the guest attribute entry."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for the guest attribute entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A guest attributes namespace/key/value entry."
      }
    },
    "com.gcp.tpu_v2alpha1#GuestAttributesValue": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.tpu_v2alpha1#GuestAttributesEntryList",
          "traits": {
            "smithy.api#documentation": "The list of guest attributes entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of guest attribute namespace/key/value tuples."
      }
    },
    "com.gcp.tpu_v2alpha1#GuestAttributesEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#GuestAttributesEntry"
      }
    },
    "com.gcp.tpu_v2alpha1#UpcomingMaintenance": {
      "type": "structure",
      "members": {
        "maintenanceStatus": {
          "target": "com.gcp.tpu_v2alpha1#UpcomingMaintenanceMaintenanceStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the maintenance."
          }
        },
        "type": {
          "target": "com.gcp.tpu_v2alpha1#UpcomingMaintenanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Defines the type of maintenance."
          }
        },
        "windowEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format."
          }
        },
        "windowStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format."
          }
        },
        "latestWindowStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
          }
        },
        "canReschedule": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the maintenance can be customer triggered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upcoming Maintenance notification information."
      }
    },
    "com.gcp.tpu_v2alpha1#UpcomingMaintenanceMaintenanceStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ONGOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONGOING"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#UpcomingMaintenanceTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_TYPE"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "UNSCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSCHEDULED"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#AttachedDisk": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.tpu_v2alpha1#AttachedDiskModeEnum",
          "traits": {
            "smithy.api#documentation": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks."
          }
        },
        "sourceDisk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
          }
        },
        "workerIds": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of worker IDs this disk is attached to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A node-attached disk resource."
      }
    },
    "com.gcp.tpu_v2alpha1#AttachedDiskModeEnum": {
      "type": "enum",
      "members": {
        "DISK_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_MODE_UNSPECIFIED"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResource": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.tpu_v2alpha1#QueuedResourceState",
          "traits": {
            "smithy.api#documentation": "Output only. State of the QueuedResource request."
          }
        },
        "guaranteed": {
          "target": "com.gcp.tpu_v2alpha1#Guaranteed",
          "traits": {
            "smithy.api#documentation": "The Guaranteed tier."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the QueuedResource was created."
          }
        },
        "spot": {
          "target": "com.gcp.tpu_v2alpha1#Spot",
          "traits": {
            "smithy.api#documentation": "Optional. The Spot tier."
          }
        },
        "queueingPolicy": {
          "target": "com.gcp.tpu_v2alpha1#QueueingPolicy",
          "traits": {
            "smithy.api#documentation": "The queueing policy of the QueuedRequest."
          }
        },
        "reservationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}"
          }
        },
        "provisioningModel": {
          "target": "com.gcp.tpu_v2alpha1#QueuedResourceProvisioningModelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The provisioning model for the resource."
          }
        },
        "tpu": {
          "target": "com.gcp.tpu_v2alpha1#Tpu",
          "traits": {
            "smithy.api#documentation": "Defines a TPU resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The name of the QueuedResource."
          }
        },
        "bestEffort": {
          "target": "com.gcp.tpu_v2alpha1#BestEffort",
          "traits": {
            "smithy.api#documentation": "The BestEffort tier."
          }
        },
        "runDuration": {
          "target": "com.gcp.tpu_v2alpha1#RunDuration",
          "traits": {
            "smithy.api#documentation": "Optional. The duration of the requested resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available."
      }
    },
    "com.gcp.tpu_v2alpha1#QueuedResourceProvisioningModelEnum": {
      "type": "enum",
      "members": {
        "PROVISIONING_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING_MODEL_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "RESERVATION_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_BOUND"
          }
        },
        "FLEX_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX_START"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GenerateServiceIdentityResponse": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.tpu_v2alpha1#ServiceIdentity",
          "traits": {
            "smithy.api#documentation": "ServiceIdentity that was created or retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for GenerateServiceIdentity."
      }
    },
    "com.gcp.tpu_v2alpha1#GenerateServiceIdentityRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for GenerateServiceIdentity."
      }
    },
    "com.gcp.tpu_v2alpha1#ShieldedInstanceConfig": {
      "type": "structure",
      "members": {
        "enableSecureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has Secure Boot enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Shielded Instance options."
      }
    },
    "com.gcp.tpu_v2alpha1#ProvisioningData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the provisioning state."
      }
    },
    "com.gcp.tpu_v2alpha1#GetGuestAttributesResponse": {
      "type": "structure",
      "members": {
        "guestAttributes": {
          "target": "com.gcp.tpu_v2alpha1#GuestAttributesList",
          "traits": {
            "smithy.api#documentation": "The guest attributes for the TPU workers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for GetGuestAttributes."
      }
    },
    "com.gcp.tpu_v2alpha1#GuestAttributesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#GuestAttributes"
      }
    },
    "com.gcp.tpu_v2alpha1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if cancellation was requested for the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing an Operation"
      }
    },
    "com.gcp.tpu_v2alpha1#BootDiskConfig": {
      "type": "structure",
      "members": {
        "customerEncryptionKey": {
          "target": "com.gcp.tpu_v2alpha1#CustomerEncryptionKey",
          "traits": {
            "smithy.api#documentation": "Optional. Customer encryption key for boot disk."
          }
        },
        "diskSizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image."
          }
        },
        "provisionedIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops)."
          }
        },
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource."
          }
        },
        "enableConfidentialCompute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the boot disk will be created with confidential compute mode."
          }
        },
        "provisionedThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
          }
        },
        "sourceImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boot disk configurations."
      }
    },
    "com.gcp.tpu_v2alpha1#ListRuntimeVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token or empty if none."
          }
        },
        "unreachable": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "runtimeVersions": {
          "target": "com.gcp.tpu_v2alpha1#RuntimeVersionList",
          "traits": {
            "smithy.api#documentation": "The listed nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListRuntimeVersions."
      }
    },
    "com.gcp.tpu_v2alpha1#RuntimeVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.tpu_v2alpha1#RuntimeVersion"
      }
    },
    "com.gcp.tpu_v2alpha1#ActiveData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the active state."
      }
    },
    "com.gcp.tpu_v2alpha1#AcceptedData": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Further data for the accepted state."
      }
    },
    "com.gcp.tpu_v2alpha1#PerformMaintenanceQueuedResourceRequest": {
      "type": "structure",
      "members": {
        "nodeNames": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the nodes to perform maintenance on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for PerformMaintenanceQueuedResource."
      }
    },
    "com.gcp.tpu_v2alpha1#QueueingPolicy": {
      "type": "structure",
      "members": {
        "validUntilTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
          }
        },
        "validAfterDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A relative time after which resources may be created."
          }
        },
        "validAfterTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute time at which resources may be created."
          }
        },
        "validInterval": {
          "target": "com.gcp.tpu_v2alpha1#Interval",
          "traits": {
            "smithy.api#documentation": "An absolute time interval within which resources may be created."
          }
        },
        "validUntilDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the policy of the QueuedRequest."
      }
    },
    "com.gcp.tpu_v2alpha1#GenerateServiceIdentityProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tpu_v2alpha1#GenerateServiceIdentityRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.tpu_v2alpha1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.tpu_v2alpha1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.tpu_v2alpha1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.tpu_v2alpha1#GenerateServiceIdentityProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#GenerateServiceIdentityProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#GenerateServiceIdentityResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2alpha1/{+parent}:generateServiceIdentity"
        },
        "smithy.api#documentation": "Generates the Cloud TPU service identity for the project."
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "extraLocationTypes": {
          "target": "com.gcp.tpu_v2alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.tpu_v2alpha1#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2alpha1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.tpu_v2alpha1#CreateProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Idempotent request UUID.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nodeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unqualified resource name.",
            "smithy.api#httpQuery": "nodeId"
          }
        },
        "body": {
          "target": "com.gcp.tpu_v2alpha1#Node",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#CreateProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#CreateProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2alpha1/{+parent}/nodes"
        },
        "smithy.api#documentation": "Creates a node."
      }
    },
    "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Idempotent request UUID.",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#DeleteProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Deletes a node."
      }
    },
    "com.gcp.tpu_v2alpha1#PatchProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The name of the TPU.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.tpu_v2alpha1#Node",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#PatchProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#PatchProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Updates the configurations of a node."
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#ListProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#ListProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#ListNodesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+parent}/nodes"
        },
        "smithy.api#documentation": "Lists nodes.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#GetProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#Node"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2alpha1/{+name}"
        },
        "smithy.api#documentation": "Gets the details of a node."
      }
    },
    "com.gcp.tpu_v2alpha1#GetGuestAttributesProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tpu_v2alpha1#GetGuestAttributesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.tpu_v2alpha1#GetGuestAttributesProjectsLocationsNodes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.tpu_v2alpha1#GetGuestAttributesProjectsLocationsNodesRequest"
      },
      "output": {
        "target": "com.gcp.tpu_v2alpha1#GetGuestAttributesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.tpu_v2alpha1#NotFound"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Forbidden"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#BadRequest"
        },
        {
          "target": "com.gcp.tpu_v2alpha1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2alpha1/{+name}:getGuestAttributes"
        },
        "smithy.api#documentation": "Retrieves the guest attributes for the node."
      }
    },
    "com.gcp.tpu_v2alpha1#StartProjectsLocationsNodesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.tpu_v2alpha1#StartNodeRequest",
          "traits": {
[...]
