{
  "smithy": "2.0",
  "metadata": {
    "service": "translate",
    "version": "v2",
    "title": "Google Cloud Translation API",
    "baseUrl": "https://translation.googleapis.com/language/translate/"
  },
  "shapes": {
    "com.gcp.translate_v2#TranslationsResource": {
      "type": "structure",
      "members": {
        "detectedSourceLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
          }
        },
        "translatedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text translated into the target language."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested."
          }
        }
      }
    },
    "com.gcp.translate_v2#DetectionsResourceItem": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language we detected."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence of the detection result of this language."
          }
        },
        "isReliable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean to indicate is the language detection result reliable."
          }
        }
      }
    },
    "com.gcp.translate_v2#DetectionsResource": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v2#DetectionsResourceItem"
      },
      "traits": {
        "smithy.api#documentation": "An array of languages which we detect for the given text The most likely language list first."
      }
    },
    "com.gcp.translate_v2#DetectionsListResponse": {
      "type": "structure",
      "members": {
        "detections": {
          "target": "com.gcp.translate_v2#DetectionsResourceList",
          "traits": {
            "smithy.api#documentation": "A detections contains detection results of several text"
          }
        }
      }
    },
    "com.gcp.translate_v2#DetectionsResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v2#DetectionsResource"
      }
    },
    "com.gcp.translate_v2#LanguagesResource": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable name of the language localized to the target language."
          }
        }
      }
    },
    "com.gcp.translate_v2#TranslationsListResponse": {
      "type": "structure",
      "members": {
        "translations": {
          "target": "com.gcp.translate_v2#TranslationsResourceList",
          "traits": {
            "smithy.api#documentation": "Translations contains list of translation results of given text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The main language translation response message."
      }
    },
    "com.gcp.translate_v2#TranslationsResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v2#TranslationsResource"
      }
    },
    "com.gcp.translate_v2#TranslateTextRequest": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
          }
        },
        "q": {
          "target": "com.gcp.translate_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The main translation request message for the Cloud Translation API."
      }
    },
    "com.gcp.translate_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.translate_v2#DetectLanguageRequest": {
      "type": "structure",
      "members": {
        "q": {
          "target": "com.gcp.translate_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for language detection."
      }
    },
    "com.gcp.translate_v2#LanguagesListResponse": {
      "type": "structure",
      "members": {
        "languages": {
          "target": "com.gcp.translate_v2#LanguagesResourceList",
          "traits": {
            "smithy.api#documentation": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
          }
        }
      }
    },
    "com.gcp.translate_v2#LanguagesResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.translate_v2#LanguagesResource"
      }
    },
    "com.gcp.translate_v2#GetSupportedLanguagesRequest": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to use to return localized, human readable names of supported\nlanguages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for discovering supported languages."
      }
    },
    "com.gcp.translate_v2#ListLanguagesRequest": {
      "type": "structure",
      "members": {
        "bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth bearer token.",
            "smithy.api#httpQuery": "bearer_token"
          }
        },
        "pp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pretty-print response.",
            "smithy.api#httpQuery": "pp"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to use to return localized, human readable names of supported\nlanguages.",
            "smithy.api#httpQuery": "target"
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model type for which supported languages should be returned.",
            "smithy.api#httpQuery": "model"
          }
        }
      }
    },
    "com.gcp.translate_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.translate_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.translate_v2#ListLanguages": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v2#ListLanguagesRequest"
      },
      "output": {
        "target": "com.gcp.translate_v2#LanguagesListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v2#NotFound"
        },
        {
          "target": "com.gcp.translate_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2/languages"
        },
        "smithy.api#documentation": "Returns a list of supported languages for translation."
      }
    },
    "com.gcp.translate_v2#ListDetectionsRequest": {
      "type": "structure",
      "members": {
        "bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth bearer token.",
            "smithy.api#httpQuery": "bearer_token"
          }
        },
        "pp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pretty-print response.",
            "smithy.api#httpQuery": "pp"
          }
        },
        "q": {
          "target": "com.gcp.translate_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.translate_v2#ListDetections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v2#ListDetectionsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v2#DetectionsListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v2#NotFound"
        },
        {
          "target": "com.gcp.translate_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2/detect"
        },
        "smithy.api#documentation": "Detects the language of text within a request."
      }
    },
    "com.gcp.translate_v2#DetectDetectionsRequest": {
      "type": "structure",
      "members": {
        "bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth bearer token.",
            "smithy.api#httpQuery": "bearer_token"
          }
        },
        "pp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pretty-print response.",
            "smithy.api#httpQuery": "pp"
          }
        },
        "body": {
          "target": "com.gcp.translate_v2#DetectLanguageRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.translate_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.translate_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.translate_v2#DetectDetections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v2#DetectDetectionsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v2#DetectionsListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v2#NotFound"
        },
        {
          "target": "com.gcp.translate_v2#Forbidden"
        },
        {
          "target": "com.gcp.translate_v2#BadRequest"
        },
        {
          "target": "com.gcp.translate_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/detect"
        },
        "smithy.api#documentation": "Detects the language of text within a request."
      }
    },
    "com.gcp.translate_v2#ListTranslationsFormatEnum": {
      "type": "enum",
      "members": {
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        }
      }
    },
    "com.gcp.translate_v2#ListTranslationsRequest": {
      "type": "structure",
      "members": {
        "bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth bearer token.",
            "smithy.api#httpQuery": "bearer_token"
          }
        },
        "pp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pretty-print response.",
            "smithy.api#httpQuery": "pp"
          }
        },
        "cid": {
          "target": "com.gcp.translate_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The customization id for translate",
            "smithy.api#httpQuery": "cid"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
            "smithy.api#httpQuery": "source"
          }
        },
        "format": {
          "target": "com.gcp.translate_v2#ListTranslationsFormatEnum",
          "traits": {
            "smithy.api#documentation": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
            "smithy.api#httpQuery": "format"
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
            "smithy.api#httpQuery": "model"
          }
        },
        "q": {
          "target": "com.gcp.translate_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
            "smithy.api#httpQuery": "target",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.translate_v2#ListTranslations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v2#ListTranslationsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v2#TranslationsListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v2#NotFound"
        },
        {
          "target": "com.gcp.translate_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2"
        },
        "smithy.api#documentation": "Translates input text, returning translated text."
      }
    },
    "com.gcp.translate_v2#TranslateTranslationsRequest": {
      "type": "structure",
      "members": {
        "bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth bearer token.",
            "smithy.api#httpQuery": "bearer_token"
          }
        },
        "pp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Pretty-print response.",
            "smithy.api#httpQuery": "pp"
          }
        },
        "body": {
          "target": "com.gcp.translate_v2#TranslateTextRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.translate_v2#TranslateTranslations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.translate_v2#TranslateTranslationsRequest"
      },
      "output": {
        "target": "com.gcp.translate_v2#TranslationsListResponse"
      },
      "errors": [
        {
          "target": "com.gcp.translate_v2#NotFound"
        },
        {
          "target": "com.gcp.translate_v2#Forbidden"
        },
        {
          "target": "com.gcp.translate_v2#BadRequest"
        },
        {
          "target": "com.gcp.translate_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2"
        },
        "smithy.api#documentation": "Translates input text, returning translated text."
      }
    }
  }
}
