{
  "smithy": "2.0",
  "metadata": {
    "service": "videointelligence",
    "version": "v1p1beta1",
    "title": "Cloud Video Intelligence API",
    "baseUrl": "https://videointelligence.googleapis.com/"
  },
  "shapes": {
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a text snippet was detected."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextFrameList",
          "traits": {
            "smithy.api#documentation": "Information related to the frames where OCR detected text appears."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for text detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "type": "structure",
      "members": {
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of the most recent update."
          }
        },
        "feature": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgressFeatureEnum",
          "traits": {
            "smithy.api#documentation": "Specifies which feature is being tracked if the request contains more than one feature."
          }
        },
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Specifies which segment is being tracked if the request contains more than one segment."
          }
        },
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the request was received."
          }
        },
        "exportStatus": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus",
          "traits": {
            "smithy.api#documentation": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation progress for a single video."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgressFeatureEnum": {
      "type": "enum",
      "members": {
        "FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_UNSPECIFIED"
          }
        },
        "LABEL_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_DETECTION"
          }
        },
        "SHOT_CHANGE_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOT_CHANGE_DETECTION"
          }
        },
        "EXPLICIT_CONTENT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLICIT_CONTENT_DETECTION"
          }
        },
        "FACE_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACE_DETECTION"
          }
        },
        "SPEECH_TRANSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_TRANSCRIPTION"
          }
        },
        "TEXT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_DETECTION"
          }
        },
        "OBJECT_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_TRACKING"
          }
        },
        "LOGO_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGO_RECOGNITION"
          }
        },
        "PERSON_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSON_DETECTION"
          }
        }
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "type": "structure",
      "members": {
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence that the label is accurate. Range: [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video frame level annotation results for label detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_Entity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual description, e.g., `Fixed-gear bicycle`."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language code for `description` in BCP-47 format."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected entity from video analysis."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "type": "structure",
      "members": {
        "rotatedBoundingBox": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
          "traits": {
            "smithy.api#documentation": "Bounding polygon of the detected text for this frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of this frame."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "type": "structure",
      "members": {
        "normalizedBoundingBox": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
          "traits": {
            "smithy.api#documentation": "The normalized bounding box location of this object track for the frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the frame in microseconds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "type": "structure",
      "members": {
        "normalizedBoundingBoxes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBoxList",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. No effect."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBoxList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a face was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for face detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "type": "structure",
      "members": {
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
          }
        },
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_FaceFrame": {
      "type": "structure",
      "members": {
        "normalizedBoundingBoxes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBoxList",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. No effect."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBoxList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "type": "structure",
      "members": {
        "top": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Top Y coordinate."
          }
        },
        "bottom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bottom Y coordinate."
          }
        },
        "right": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Right X coordinate."
          }
        },
        "left": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Left X coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "type": "structure",
      "members": {
        "segmentLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
          }
        },
        "faceAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceAnnotationList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Please use `face_detection_annotations` instead."
          }
        },
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
          }
        },
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment on which the annotation is run."
          }
        },
        "logoRecognitionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Annotations for list of logos detected, tracked and recognized in video."
          }
        },
        "error": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleRpc_Status",
          "traits": {
            "smithy.api#documentation": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
          }
        },
        "speechTranscriptions": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechTranscriptionList",
          "traits": {
            "smithy.api#documentation": "Speech transcription."
          }
        },
        "personDetectionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Person detection annotations."
          }
        },
        "segmentPresenceLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
          }
        },
        "explicitAnnotation": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
          "traits": {
            "smithy.api#documentation": "Explicit content annotation."
          }
        },
        "shotPresenceLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
          }
        },
        "shotAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegmentList",
          "traits": {
            "smithy.api#documentation": "Shot annotations. Each shot is represented as a video segment."
          }
        },
        "faceDetectionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Face detection annotations."
          }
        },
        "objectAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotationList",
          "traits": {
            "smithy.api#documentation": "Annotations for list of objects detected and tracked in video."
          }
        },
        "shotLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Topical label annotations on shot level. There is exactly one element for each unique label."
          }
        },
        "textAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextAnnotationList",
          "traits": {
            "smithy.api#documentation": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
          }
        },
        "frameLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Label annotations on frame level. There is exactly one element for each unique label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation results for a single video."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechTranscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig": {
      "type": "structure",
      "members": {
        "stationaryCamera": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
          }
        },
        "labelDetectionMode": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfigLabelDetectionModeEnum",
          "traits": {
            "smithy.api#documentation": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`."
          }
        },
        "frameConfidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
          }
        },
        "videoConfidenceThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for LABEL_DETECTION."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfigLabelDetectionModeEnum": {
      "type": "enum",
      "members": {
        "LABEL_DETECTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_DETECTION_MODE_UNSPECIFIED"
          }
        },
        "SHOT_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOT_MODE"
          }
        },
        "FRAME_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME_MODE"
          }
        },
        "SHOT_AND_FRAME_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOT_AND_FRAME_MODE"
          }
        }
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark": {
      "type": "structure",
      "members": {
        "point": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
          "traits": {
            "smithy.api#documentation": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this landmark, for example, left_hand, right_shoulder."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence score of the detected landmark. Range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic detected landmark represented by name in string format and a 2D location."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Detected attribute confidence. Range [0, 1]."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic detected attribute represented by name in string format."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest": {
      "type": "structure",
      "members": {
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset."
          }
        },
        "outputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints)."
          }
        },
        "videoContext": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoContext",
          "traits": {
            "smithy.api#documentation": "Additional video context and/or feature-specific parameters."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
          }
        },
        "features": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequestFeaturesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Requested video annotation features."
          }
        },
        "inputContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video annotation request."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequestFeaturesItemEnum": {
      "type": "enum",
      "members": {
        "FEATURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEATURE_UNSPECIFIED"
          }
        },
        "LABEL_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LABEL_DETECTION"
          }
        },
        "SHOT_CHANGE_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOT_CHANGE_DETECTION"
          }
        },
        "EXPLICIT_CONTENT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLICIT_CONTENT_DETECTION"
          }
        },
        "FACE_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACE_DETECTION"
          }
        },
        "SPEECH_TRANSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_TRANSCRIPTION"
          }
        },
        "TEXT_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_DETECTION"
          }
        },
        "OBJECT_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_TRACKING"
          }
        },
        "LOGO_RECOGNITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGO_RECOGNITION"
          }
        },
        "PERSON_DETECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSON_DETECTION"
          }
        }
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequestFeaturesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequestFeaturesItemEnum"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "type": "structure",
      "members": {
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence that the label is accurate. Range: [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video frame level annotation results for label detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        },
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_Entity",
          "traits": {
            "smithy.api#documentation": "Detected entity."
          }
        },
        "categoryEntities": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_EntityList",
          "traits": {
            "smithy.api#documentation": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where a label was detected."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelFrameList",
          "traits": {
            "smithy.api#documentation": "All video frames where a label was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label annotation."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_EntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_Entity"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this landmark, for example, left_hand, right_shoulder."
          }
        },
        "point": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
          "traits": {
            "smithy.api#documentation": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The confidence score of the detected landmark. Range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic detected landmark represented by name in string format and a 2D location."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "type": "structure",
      "members": {
        "landmarks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedLandmarkList",
          "traits": {
            "smithy.api#documentation": "Optional. The detected landmarks."
          }
        },
        "normalizedBoundingBox": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding box in a frame, where the object is located."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
          }
        },
        "attributes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedAttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The attributes of the object in the bounding box."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedLandmarkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_FaceSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a face was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for face detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a text snippet was detected."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextFrameList",
          "traits": {
            "smithy.api#documentation": "Information related to the frames where OCR detected text appears."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for text detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_TextFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "type": "structure",
      "members": {
        "tracks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_TrackList",
          "traits": {
            "smithy.api#documentation": "The face tracks with attributes."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbnail of a person's face."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Face detection annotation."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_TrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_Track"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "type": "structure",
      "members": {
        "celebrities": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrityList",
          "traits": {
            "smithy.api#documentation": "Top N match of the celebrities for the face in this track."
          }
        },
        "faceTrack": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_Track",
          "traits": {
            "smithy.api#documentation": "A track of a person's face."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a label was detected."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence that the label is accurate. Range: [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for label detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TimestampedObject": {
      "type": "structure",
      "members": {
        "normalizedBoundingBox": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding box in a frame, where the object is located."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
          }
        },
        "attributes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedAttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The attributes of the object in the bounding box."
          }
        },
        "landmarks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedLandmarkList",
          "traits": {
            "smithy.api#documentation": "Optional. The detected landmarks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedLandmarkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_Entity",
          "traits": {
            "smithy.api#documentation": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
          }
        },
        "tracks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TrackList",
          "traits": {
            "smithy.api#documentation": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation corresponding to one detected, tracked and recognized logo class."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_Track"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_NormalizedVertex": {
      "type": "structure",
      "members": {
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        },
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "type": "structure",
      "members": {
        "celebrityTracks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityTrackList",
          "traits": {
            "smithy.api#documentation": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Celebrity recognition annotation per video."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityTrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
          }
        },
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a text snippet was detected."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextFrameList",
          "traits": {
            "smithy.api#documentation": "Information related to the frames where OCR detected text appears."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for text detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoContext": {
      "type": "structure",
      "members": {
        "labelDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for LABEL_DETECTION."
          }
        },
        "explicitContentDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for EXPLICIT_CONTENT_DETECTION."
          }
        },
        "textDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for TEXT_DETECTION."
          }
        },
        "personDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for PERSON_DETECTION."
          }
        },
        "speechTranscriptionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechTranscriptionConfig",
          "traits": {
            "smithy.api#documentation": "Config for SPEECH_TRANSCRIPTION."
          }
        },
        "shotChangeDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for SHOT_CHANGE_DETECTION."
          }
        },
        "faceDetectionConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig",
          "traits": {
            "smithy.api#documentation": "Config for FACE_DETECTION."
          }
        },
        "objectTrackingConfig": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig",
          "traits": {
            "smithy.api#documentation": "Config for OBJECT_TRACKING."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_VideoSegmentList",
          "traits": {
            "smithy.api#documentation": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video context and/or feature-specific parameters."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "type": "structure",
      "members": {
        "normalizedBoundingBoxes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBoxList",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. No effect."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBoxList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "type": "structure",
      "members": {
        "shotPresenceLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
          }
        },
        "shotAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegmentList",
          "traits": {
            "smithy.api#documentation": "Shot annotations. Each shot is represented as a video segment."
          }
        },
        "faceDetectionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Face detection annotations."
          }
        },
        "objectAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotationList",
          "traits": {
            "smithy.api#documentation": "Annotations for list of objects detected and tracked in video."
          }
        },
        "shotLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Topical label annotations on shot level. There is exactly one element for each unique label."
          }
        },
        "celebrityRecognitionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
          "traits": {
            "smithy.api#documentation": "Celebrity recognition annotations."
          }
        },
        "textAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextAnnotationList",
          "traits": {
            "smithy.api#documentation": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
          }
        },
        "frameLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Label annotations on frame level. There is exactly one element for each unique label."
          }
        },
        "inputUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
          }
        },
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment on which the annotation is run."
          }
        },
        "segmentLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
          }
        },
        "faceAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceAnnotationList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Please use `face_detection_annotations` instead."
          }
        },
        "error": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleRpc_Status",
          "traits": {
            "smithy.api#documentation": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
          }
        },
        "logoRecognitionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Annotations for list of logos detected, tracked and recognized in video."
          }
        },
        "personDetectionAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotationList",
          "traits": {
            "smithy.api#documentation": "Person detection annotations."
          }
        },
        "speechTranscriptions": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_SpeechTranscriptionList",
          "traits": {
            "smithy.api#documentation": "Speech transcription."
          }
        },
        "segmentPresenceLabelAnnotations": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList",
          "traits": {
            "smithy.api#documentation": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
          }
        },
        "explicitAnnotation": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
          "traits": {
            "smithy.api#documentation": "Explicit content annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation results for a single video."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_SpeechTranscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_Entity",
          "traits": {
            "smithy.api#documentation": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
          }
        },
        "tracks": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TrackList",
          "traits": {
            "smithy.api#documentation": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_VideoSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotation corresponding to one detected, tracked and recognized logo class."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_TrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_Track"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleRpc_Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.videointelligence_v1p1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#DocumentMap"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_VideoSegment": {
      "type": "structure",
      "members": {
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
          }
        },
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "type": "structure",
      "members": {
        "normalizedBoundingBoxes": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBoxList",
          "traits": {
            "smithy.api#documentation": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
          }
        },
        "timeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. No effect."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBoxList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechTranscriptionConfig": {
      "type": "structure",
      "members": {
        "speechContexts": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechContextList",
          "traits": {
            "smithy.api#documentation": "Optional. A means to provide context to assist the speech recognition."
          }
        },
        "maxAlternatives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one."
          }
        },
        "enableAutomaticPunctuation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\""
          }
        },
        "enableSpeakerDiarization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time."
          }
        },
        "audioTracks": {
          "target": "com.gcp.videointelligence_v1p1beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0."
          }
        },
        "filterProfanity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
          }
        },
        "audioOutputUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Legacy field. This field must be a Cloud Storage URI prefix. (e.g., `gs://bucket/path/`)."
          }
        },
        "diarizationSpeakerCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes."
          }
        },
        "enableWordConfidence": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for SPEECH_TRANSCRIPTION."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechContext"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "type": "structure",
      "members": {
        "right": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Right X coordinate."
          }
        },
        "left": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Left X coordinate."
          }
        },
        "top": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Top Y coordinate."
          }
        },
        "bottom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bottom Y coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig": {
      "type": "structure",
      "members": {
        "languageHints": {
          "target": "com.gcp.videointelligence_v1p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model to use for text detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for TEXT_DETECTION."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_SpeechContext": {
      "type": "structure",
      "members": {
        "phrases": {
          "target": "com.gcp.videointelligence_v1p1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
          }
        },
        "words": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_WordInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
          }
        },
        "transcript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transcript text representing the words that the user spoke."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alternative hypotheses (a.k.a. n-best list)."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_WordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_WordInfo"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "type": "structure",
      "members": {
        "trackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_ObjectTrackingFrameList",
          "traits": {
            "smithy.api#documentation": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
          }
        },
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_Entity",
          "traits": {
            "smithy.api#documentation": "Entity to specify the object category that this track is labeled as."
          }
        },
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Object category's labeling confidence of this track."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotations corresponding to one tracked object."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_ObjectTrackingFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "type": "structure",
      "members": {
        "speakerTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
          }
        },
        "speakerLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
          }
        },
        "word": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The word corresponding to this set of information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a label was detected."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence that the label is accurate. Range: [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for label detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
          }
        },
        "words": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_WordInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
          }
        },
        "transcript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transcript text representing the words that the user spoke."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alternative hypotheses (a.k.a. n-best list)."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_WordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_WordInfo"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "type": "structure",
      "members": {
        "right": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Right X coordinate."
          }
        },
        "left": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Left X coordinate."
          }
        },
        "top": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Top Y coordinate."
          }
        },
        "bottom": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bottom Y coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "type": "structure",
      "members": {
        "endTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
          }
        },
        "startTimeOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_FaceSegment": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "traits": {
            "smithy.api#documentation": "Video segment where a face was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video segment level annotation results for face detection."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_Entity",
          "traits": {
            "smithy.api#documentation": "Detected entity."
          }
        },
        "categoryEntities": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_EntityList",
          "traits": {
            "smithy.api#documentation": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where a label was detected."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelFrameList",
          "traits": {
            "smithy.api#documentation": "All video frames where a label was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label annotation."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_EntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_Entity"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_LabelFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "type": "structure",
      "members": {
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceFrameList",
          "traits": {
            "smithy.api#documentation": "All video frames where a face was detected."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where a face was detected."
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Thumbnail of a representative face view (in JPEG format)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated. No effect."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_FaceSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_Entity",
          "traits": {
            "smithy.api#documentation": "Detected entity."
          }
        },
        "categoryEntities": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_EntityList",
          "traits": {
            "smithy.api#documentation": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
          }
        },
        "segments": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelSegmentList",
          "traits": {
            "smithy.api#documentation": "All video segments where a label was detected."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature version."
          }
        },
        "frames": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelFrameList",
          "traits": {
            "smithy.api#documentation": "All video frames where a label was detected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label annotation."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_EntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_Entity"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelSegment"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1_LabelFrame"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
          }
        },
        "alternatives": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternativeList",
          "traits": {
            "smithy.api#documentation": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A speech recognition result corresponding to a portion of the audio."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternativeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the `output_uri` export."
          }
        },
        "status": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleRpc_Status",
          "traits": {
            "smithy.api#documentation": "Output only. Only set if state is FAILED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of exporting annotation response to user specified `output_uri`."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "type": "structure",
      "members": {
        "vertices": {
          "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedVertexList",
          "traits": {
            "smithy.api#documentation": "Normalized vertices of the bounding polygon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedVertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
      }
    },
    "com.gcp.videointelligence_v1p1beta1#GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Detected attribute confidence. Range [0, 1]."
          }
        }
      },
      "traits": {
[...]
