{
  "smithy": "2.0",
  "metadata": {
    "service": "vision",
    "version": "v1p2beta1",
    "title": "Cloud Vision API",
    "baseUrl": "https://vision.googleapis.com/"
  },
  "shapes": {
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1Word": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the word."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results for the word. Range [0, 1]."
          }
        },
        "symbols": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1SymbolList",
          "traits": {
            "smithy.api#documentation": "List of symbols in the word. The order of the symbols follows the natural reading order."
          }
        },
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A word representation."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1SymbolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1Symbol"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1Block": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results on the block. Range [0, 1]."
          }
        },
        "blockType": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BlockBlockTypeEnum",
          "traits": {
            "smithy.api#documentation": "Detected block type (text, image etc) for this block."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the block."
          }
        },
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        },
        "paragraphs": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1ParagraphList",
          "traits": {
            "smithy.api#documentation": "List of paragraphs in this block (if this blocks is of type text)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical element on the page."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BlockBlockTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "PICTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICTURE"
          }
        },
        "RULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULER"
          }
        },
        "BARCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BARCODE"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1ParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1Paragraph"
      }
    },
    "com.gcp.vision_v1p2beta1#ColorInfo": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Image-specific score for this color. Value in range [0, 1]."
          }
        },
        "pixelFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of pixels the color occupies in the image. Value in range [0, 1]."
          }
        },
        "color": {
          "target": "com.gcp.vision_v1p2beta1#Color",
          "traits": {
            "smithy.api#documentation": "RGB components of the color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image."
      }
    },
    "com.gcp.vision_v1p2beta1#Product": {
      "type": "structure",
      "members": {
        "productCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
          }
        },
        "productLabels": {
          "target": "com.gcp.vision_v1p2beta1#KeyValueList",
          "traits": {
            "smithy.api#documentation": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided metadata to be stored with this product. Must be at most 4096 characters long."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Product contains ReferenceImages."
      }
    },
    "com.gcp.vision_v1p2beta1#KeyValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#KeyValue"
      }
    },
    "com.gcp.vision_v1p2beta1#WebImage": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result image URL."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "(Deprecated) Overall relevancy score for the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for online images."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1AnnotateFileResponse": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1InputConfig",
          "traits": {
            "smithy.api#documentation": "Information about the file for which this response is generated."
          }
        },
        "responses": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1AnnotateImageResponseList",
          "traits": {
            "smithy.api#documentation": "Individual responses to images found within the file. This field will be empty if the `error` field is set."
          }
        },
        "totalPages": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This field gives the total number of pages in the file."
          }
        },
        "error": {
          "target": "com.gcp.vision_v1p2beta1#Status",
          "traits": {
            "smithy.api#documentation": "If set, represents the error message for the failed request. The `responses` field will not be set in this case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1AnnotateImageResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1AnnotateImageResponse"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse": {
      "type": "structure",
      "members": {
        "outputConfig": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1OutputConfig",
          "traits": {
            "smithy.api#documentation": "The output location and metadata from AsyncAnnotateFileRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for a single offline file annotation request."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1Block": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results on the block. Range [0, 1]."
          }
        },
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        },
        "paragraphs": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1ParagraphList",
          "traits": {
            "smithy.api#documentation": "List of paragraphs in this block (if this blocks is of type text)."
          }
        },
        "blockType": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BlockBlockTypeEnum",
          "traits": {
            "smithy.api#documentation": "Detected block type (text, image etc) for this block."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the block."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical element on the page."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1ParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1Paragraph"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BlockBlockTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "PICTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICTURE"
          }
        },
        "RULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULER"
          }
        },
        "BARCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BARCODE"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotation": {
      "type": "structure",
      "members": {
        "racy": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationRacyEnum",
          "traits": {
            "smithy.api#documentation": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas."
          }
        },
        "adult": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationAdultEnum",
          "traits": {
            "smithy.api#documentation": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities."
          }
        },
        "spoof": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationSpoofEnum",
          "traits": {
            "smithy.api#documentation": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive."
          }
        },
        "violence": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationViolenceEnum",
          "traits": {
            "smithy.api#documentation": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals."
          }
        },
        "medical": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationMedicalEnum",
          "traits": {
            "smithy.api#documentation": "Likelihood that this is a medical image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence)."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationRacyEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationAdultEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationSpoofEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationViolenceEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1SafeSearchAnnotationMedicalEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "VERY_UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_UNLIKELY"
          }
        },
        "UNLIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLIKELY"
          }
        },
        "POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSSIBLE"
          }
        },
        "LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIKELY"
          }
        },
        "VERY_LIKELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_LIKELY"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#ObjectAnnotation": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Score of the result. Range [0, 1]."
          }
        },
        "mid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object ID that should align with EntityAnnotation mid."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object name, expressed in its `language_code` language."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Prediction for what the object in the bounding box is."
      }
    },
    "com.gcp.vision_v1p2beta1#TextProperty": {
      "type": "structure",
      "members": {
        "detectedLanguages": {
          "target": "com.gcp.vision_v1p2beta1#DetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "detectedBreak": {
          "target": "com.gcp.vision_v1p2beta1#DetectedBreak",
          "traits": {
            "smithy.api#documentation": "Detected start or end of a text segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information detected on the structural component."
      }
    },
    "com.gcp.vision_v1p2beta1#DetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#DetectedLanguage"
      }
    },
    "com.gcp.vision_v1p2beta1#ImageAnnotationContext": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file used to produce the image."
          }
        },
        "pageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
      }
    },
    "com.gcp.vision_v1p2beta1#Paragraph": {
      "type": "structure",
      "members": {
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results for the paragraph. Range [0, 1]."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#TextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the paragraph."
          }
        },
        "words": {
          "target": "com.gcp.vision_v1p2beta1#WordList",
          "traits": {
            "smithy.api#documentation": "List of all words in this paragraph."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structural unit of text representing a number of words in certain order."
      }
    },
    "com.gcp.vision_v1p2beta1#WordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#Word"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1CropHint": {
      "type": "structure",
      "members": {
        "boundingPoly": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
          }
        },
        "importanceFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fraction of importance of this salient region with respect to the original image."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of this being a salient region. Range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single crop hint that is used to generate a new crop when serving an image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1ImageAnnotationContext": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file used to produce the image."
          }
        },
        "pageNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1WebDetectionWebPage": {
      "type": "structure",
      "members": {
        "fullMatchingImages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1WebDetectionWebImageList",
          "traits": {
            "smithy.api#documentation": "Fully matching images on the page. Can include resized copies of the query image."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result web page URL."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "(Deprecated) Overall relevancy score for the web page."
          }
        },
        "pageTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for the web page, may contain HTML markups."
          }
        },
        "partialMatchingImages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1WebDetectionWebImageList",
          "traits": {
            "smithy.api#documentation": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for web pages."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1WebDetectionWebImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1WebDetectionWebImage"
      }
    },
    "com.gcp.vision_v1p2beta1#Vertex": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
      }
    },
    "com.gcp.vision_v1p2beta1#Word": {
      "type": "structure",
      "members": {
        "property": {
          "target": "com.gcp.vision_v1p2beta1#TextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the word."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results for the word. Range [0, 1]."
          }
        },
        "symbols": {
          "target": "com.gcp.vision_v1p2beta1#Vision_SymbolList",
          "traits": {
            "smithy.api#documentation": "List of symbols in the word. The order of the symbols follows the natural reading order."
          }
        },
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A word representation."
      }
    },
    "com.gcp.vision_v1p2beta1#Vision_SymbolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#Vision_Symbol"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location where the output will be written to."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1OutputConfig": {
      "type": "structure",
      "members": {
        "batchSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1GcsDestination",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location to write the output(s) to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired output location and metadata."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1DominantColorsAnnotation": {
      "type": "structure",
      "members": {
        "colors": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ColorInfoList",
          "traits": {
            "smithy.api#documentation": "RGB color values with their score and pixel fraction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of dominant colors and their corresponding scores."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ColorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ColorInfo"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ColorInfo": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Image-specific score for this color. Value in range [0, 1]."
          }
        },
        "pixelFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of pixels the color occupies in the image. Value in range [0, 1]."
          }
        },
        "color": {
          "target": "com.gcp.vision_v1p2beta1#Color",
          "traits": {
            "smithy.api#documentation": "RGB components of the color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1Position": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        },
        "z": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Z coordinate (or depth)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image."
      }
    },
    "com.gcp.vision_v1p2beta1#Position": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        },
        "z": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Z coordinate (or depth)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1WebDetectionWebLabel": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label for extra metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Label to provide extra metadata for the web detection."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1Image": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests."
          }
        },
        "source": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1ImageSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client image to perform Google Cloud Vision API tasks over."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1Block": {
      "type": "structure",
      "members": {
        "blockType": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BlockBlockTypeEnum",
          "traits": {
            "smithy.api#documentation": "Detected block type (text, image etc) for this block."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the block."
          }
        },
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        },
        "paragraphs": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ParagraphList",
          "traits": {
            "smithy.api#documentation": "List of paragraphs in this block (if this blocks is of type text)."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results on the block. Range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical element on the page."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BlockBlockTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "PICTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICTURE"
          }
        },
        "RULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULER"
          }
        },
        "BARCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BARCODE"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1Paragraph"
      }
    },
    "com.gcp.vision_v1p2beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.vision_v1p2beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.vision_v1p2beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.vision_v1p2beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#DocumentMap"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ImportProductSetsResponse": {
      "type": "structure",
      "members": {
        "referenceImages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ReferenceImageList",
          "traits": {
            "smithy.api#documentation": "The list of reference_images that are imported successfully."
          }
        },
        "statuses": {
          "target": "com.gcp.vision_v1p2beta1#StatusList",
          "traits": {
            "smithy.api#documentation": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ReferenceImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ReferenceImage"
      }
    },
    "com.gcp.vision_v1p2beta1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#Status"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotation": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTF-8 text detected on the pages."
          }
        },
        "pages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1PageList",
          "traits": {
            "smithy.api#documentation": "List of pages detected by OCR."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1Page"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
      "type": "structure",
      "members": {
        "colors": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1ColorInfoList",
          "traits": {
            "smithy.api#documentation": "RGB color values with their score and pixel fraction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of dominant colors and their corresponding scores."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1ColorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1ColorInfo"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1FaceAnnotationLandmark": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1FaceAnnotationLandmarkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Face landmark type."
          }
        },
        "position": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1Position",
          "traits": {
            "smithy.api#documentation": "Face landmark position."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1FaceAnnotationLandmarkTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_LANDMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_LANDMARK"
          }
        },
        "LEFT_EYE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE"
          }
        },
        "RIGHT_EYE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE"
          }
        },
        "LEFT_OF_LEFT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_OF_LEFT_EYEBROW"
          }
        },
        "RIGHT_OF_LEFT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_OF_LEFT_EYEBROW"
          }
        },
        "LEFT_OF_RIGHT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_OF_RIGHT_EYEBROW"
          }
        },
        "RIGHT_OF_RIGHT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_OF_RIGHT_EYEBROW"
          }
        },
        "MIDPOINT_BETWEEN_EYES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDPOINT_BETWEEN_EYES"
          }
        },
        "NOSE_TIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_TIP"
          }
        },
        "UPPER_LIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPPER_LIP"
          }
        },
        "LOWER_LIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOWER_LIP"
          }
        },
        "MOUTH_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_LEFT"
          }
        },
        "MOUTH_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_RIGHT"
          }
        },
        "MOUTH_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_CENTER"
          }
        },
        "NOSE_BOTTOM_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_RIGHT"
          }
        },
        "NOSE_BOTTOM_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_LEFT"
          }
        },
        "NOSE_BOTTOM_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_CENTER"
          }
        },
        "LEFT_EYE_TOP_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_TOP_BOUNDARY"
          }
        },
        "LEFT_EYE_RIGHT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_RIGHT_CORNER"
          }
        },
        "LEFT_EYE_BOTTOM_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_BOTTOM_BOUNDARY"
          }
        },
        "LEFT_EYE_LEFT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_LEFT_CORNER"
          }
        },
        "RIGHT_EYE_TOP_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_TOP_BOUNDARY"
          }
        },
        "RIGHT_EYE_RIGHT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_RIGHT_CORNER"
          }
        },
        "RIGHT_EYE_BOTTOM_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_BOTTOM_BOUNDARY"
          }
        },
        "RIGHT_EYE_LEFT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_LEFT_CORNER"
          }
        },
        "LEFT_EYEBROW_UPPER_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYEBROW_UPPER_MIDPOINT"
          }
        },
        "RIGHT_EYEBROW_UPPER_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYEBROW_UPPER_MIDPOINT"
          }
        },
        "LEFT_EAR_TRAGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EAR_TRAGION"
          }
        },
        "RIGHT_EAR_TRAGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EAR_TRAGION"
          }
        },
        "LEFT_EYE_PUPIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_PUPIL"
          }
        },
        "RIGHT_EYE_PUPIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_PUPIL"
          }
        },
        "FOREHEAD_GLABELLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOREHEAD_GLABELLA"
          }
        },
        "CHIN_GNATHION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_GNATHION"
          }
        },
        "CHIN_LEFT_GONION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_LEFT_GONION"
          }
        },
        "CHIN_RIGHT_GONION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_RIGHT_GONION"
          }
        },
        "LEFT_CHEEK_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_CHEEK_CENTER"
          }
        },
        "RIGHT_CHEEK_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_CHEEK_CENTER"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1NormalizedVertex": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1OutputConfig": {
      "type": "structure",
      "members": {
        "batchSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1GcsDestination",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location to write the output(s) to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired output location and metadata."
      }
    },
    "com.gcp.vision_v1p2beta1#CropHint": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of this being a salient region. Range [0, 1]."
          }
        },
        "boundingPoly": {
          "target": "com.gcp.vision_v1p2beta1#BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
          }
        },
        "importanceFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Fraction of importance of this salient region with respect to the original image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single crop hint that is used to generate a new crop when serving an image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BoundingPoly": {
      "type": "structure",
      "members": {
        "vertices": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1VertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon vertices."
          }
        },
        "normalizedVertices": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1NormalizedVertexList",
          "traits": {
            "smithy.api#documentation": "The bounding polygon normalized vertices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bounding polygon for the detected image annotation."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1VertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1Vertex"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1NormalizedVertexList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1NormalizedVertex"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1OperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1OperationMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the batch operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch request was received."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the operation result was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata for the BatchAnnotateImages operation."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1OperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1InputConfig": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
          }
        },
        "gcsSource": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1GcsSource",
          "traits": {
            "smithy.api#documentation": "The Google Cloud Storage location to read the input from."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired input location and metadata."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1CropHintsAnnotation": {
      "type": "structure",
      "members": {
        "cropHints": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1CropHintList",
          "traits": {
            "smithy.api#documentation": "Crop hint results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of crop hints that are used to generate new crops when serving images."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1CropHintList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1CropHint"
      }
    },
    "com.gcp.vision_v1p2beta1#Page": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results on the page. Range [0, 1]."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#TextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected on the page."
          }
        },
        "blocks": {
          "target": "com.gcp.vision_v1p2beta1#BlockList",
          "traits": {
            "smithy.api#documentation": "List of blocks of text, images etc on this page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected page from OCR."
      }
    },
    "com.gcp.vision_v1p2beta1#BlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#Block"
      }
    },
    "com.gcp.vision_v1p2beta1#Block": {
      "type": "structure",
      "members": {
        "boundingBox": {
          "target": "com.gcp.vision_v1p2beta1#BoundingPoly",
          "traits": {
            "smithy.api#documentation": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
          }
        },
        "paragraphs": {
          "target": "com.gcp.vision_v1p2beta1#ParagraphList",
          "traits": {
            "smithy.api#documentation": "List of paragraphs in this block (if this blocks is of type text)."
          }
        },
        "property": {
          "target": "com.gcp.vision_v1p2beta1#TextProperty",
          "traits": {
            "smithy.api#documentation": "Additional information detected for the block."
          }
        },
        "blockType": {
          "target": "com.gcp.vision_v1p2beta1#BlockBlockTypeEnum",
          "traits": {
            "smithy.api#documentation": "Detected block type (text, image etc) for this block."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the OCR results on the block. Range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical element on the page."
      }
    },
    "com.gcp.vision_v1p2beta1#ParagraphList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#Paragraph"
      }
    },
    "com.gcp.vision_v1p2beta1#BlockBlockTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "PICTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PICTURE"
          }
        },
        "RULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULER"
          }
        },
        "BARCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BARCODE"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "type": "structure",
      "members": {
        "detectedLanguages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "detectedBreak": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
          "traits": {
            "smithy.api#documentation": "Detected start or end of a text segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information detected on the structural component."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
      }
    },
    "com.gcp.vision_v1p2beta1#Color": {
      "type": "structure",
      "members": {
        "green": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of green in the color as a value in the interval [0, 1]."
          }
        },
        "blue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of blue in the color as a value in the interval [0, 1]."
          }
        },
        "red": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of red in the color as a value in the interval [0, 1]."
          }
        },
        "alpha": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1LocationInfo": {
      "type": "structure",
      "members": {
        "latLng": {
          "target": "com.gcp.vision_v1p2beta1#LatLng",
          "traits": {
            "smithy.api#documentation": "lat/long location coordinates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected entity location information."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1ColorInfo": {
      "type": "structure",
      "members": {
        "color": {
          "target": "com.gcp.vision_v1p2beta1#Color",
          "traits": {
            "smithy.api#documentation": "RGB components of the color."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Image-specific score for this color. Value in range [0, 1]."
          }
        },
        "pixelFraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of pixels the color occupies in the image. Value in range [0, 1]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1WebDetectionWebEntity": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical description of the entity, in English."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque entity ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity deduced from similar images on the Internet."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateImageRequestList",
          "traits": {
            "smithy.api#documentation": "Required. Individual image annotation requests for this batch."
          }
        },
        "labels": {
          "target": "com.gcp.vision_v1p2beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multiple image annotation requests are batched into a single service call."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateImageRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateImageRequest"
      }
    },
    "com.gcp.vision_v1p2beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse": {
      "type": "structure",
      "members": {
        "responses": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponseList",
          "traits": {
            "smithy.api#documentation": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to an async batch file annotation request."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1ReferenceImage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the reference image. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`. This field is ignored when creating a reference image."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud Storage URI of the reference image. The URI must start with `gs://`."
          }
        },
        "boundingPolys": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BoundingPolyList",
          "traits": {
            "smithy.api#documentation": "Optional. Bounding polygons around the areas of interest in the reference image. If this field is empty, the system will try to detect regions of interest. At most 10 bounding polygons will be used. The provided shape is converted into a non-rotated rectangle. Once converted, the small edge of the rectangle must be greater than or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e. 1:3 is ok; 1:5 is not)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `ReferenceImage` represents a product image and its associated metadata, such as bounding boxes."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BoundingPolyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1BoundingPoly"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1ReferenceImage": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Google Cloud Storage URI of the reference image. The URI must start with `gs://`."
          }
        },
        "boundingPolys": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BoundingPolyList",
          "traits": {
            "smithy.api#documentation": "Optional. Bounding polygons around the areas of interest in the reference image. If this field is empty, the system will try to detect regions of interest. At most 10 bounding polygons will be used. The provided shape is converted into a non-rotated rectangle. Once converted, the small edge of the rectangle must be greater than or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e. 1:3 is ok; 1:5 is not)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the reference image. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`. This field is ignored when creating a reference image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `ReferenceImage` represents a product image and its associated metadata, such as bounding boxes."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BoundingPolyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BoundingPoly"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1FaceAnnotationLandmark": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1Position",
          "traits": {
            "smithy.api#documentation": "Face landmark position."
          }
        },
        "type": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1FaceAnnotationLandmarkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Face landmark type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1FaceAnnotationLandmarkTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_LANDMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_LANDMARK"
          }
        },
        "LEFT_EYE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE"
          }
        },
        "RIGHT_EYE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE"
          }
        },
        "LEFT_OF_LEFT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_OF_LEFT_EYEBROW"
          }
        },
        "RIGHT_OF_LEFT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_OF_LEFT_EYEBROW"
          }
        },
        "LEFT_OF_RIGHT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_OF_RIGHT_EYEBROW"
          }
        },
        "RIGHT_OF_RIGHT_EYEBROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_OF_RIGHT_EYEBROW"
          }
        },
        "MIDPOINT_BETWEEN_EYES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDPOINT_BETWEEN_EYES"
          }
        },
        "NOSE_TIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_TIP"
          }
        },
        "UPPER_LIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPPER_LIP"
          }
        },
        "LOWER_LIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOWER_LIP"
          }
        },
        "MOUTH_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_LEFT"
          }
        },
        "MOUTH_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_RIGHT"
          }
        },
        "MOUTH_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_CENTER"
          }
        },
        "NOSE_BOTTOM_RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_RIGHT"
          }
        },
        "NOSE_BOTTOM_LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_LEFT"
          }
        },
        "NOSE_BOTTOM_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOSE_BOTTOM_CENTER"
          }
        },
        "LEFT_EYE_TOP_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_TOP_BOUNDARY"
          }
        },
        "LEFT_EYE_RIGHT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_RIGHT_CORNER"
          }
        },
        "LEFT_EYE_BOTTOM_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_BOTTOM_BOUNDARY"
          }
        },
        "LEFT_EYE_LEFT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_LEFT_CORNER"
          }
        },
        "RIGHT_EYE_TOP_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_TOP_BOUNDARY"
          }
        },
        "RIGHT_EYE_RIGHT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_RIGHT_CORNER"
          }
        },
        "RIGHT_EYE_BOTTOM_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_BOTTOM_BOUNDARY"
          }
        },
        "RIGHT_EYE_LEFT_CORNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_LEFT_CORNER"
          }
        },
        "LEFT_EYEBROW_UPPER_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYEBROW_UPPER_MIDPOINT"
          }
        },
        "RIGHT_EYEBROW_UPPER_MIDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYEBROW_UPPER_MIDPOINT"
          }
        },
        "LEFT_EAR_TRAGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EAR_TRAGION"
          }
        },
        "RIGHT_EAR_TRAGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EAR_TRAGION"
          }
        },
        "LEFT_EYE_PUPIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_EYE_PUPIL"
          }
        },
        "RIGHT_EYE_PUPIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_EYE_PUPIL"
          }
        },
        "FOREHEAD_GLABELLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOREHEAD_GLABELLA"
          }
        },
        "CHIN_GNATHION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_GNATHION"
          }
        },
        "CHIN_LEFT_GONION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_LEFT_GONION"
          }
        },
        "CHIN_RIGHT_GONION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHIN_RIGHT_GONION"
          }
        },
        "LEFT_CHEEK_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_CHEEK_CENTER"
          }
        },
        "RIGHT_CHEEK_CENTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_CHEEK_CENTER"
          }
        }
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationTextProperty": {
      "type": "structure",
      "members": {
        "detectedLanguages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "detectedBreak": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak",
          "traits": {
            "smithy.api#documentation": "Detected start or end of a text segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information detected on the structural component."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p1beta1NormalizedVertex": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "X coordinate."
          }
        },
        "y": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Y coordinate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
          }
        },
        "labels": {
          "target": "com.gcp.vision_v1p2beta1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
          }
        },
        "requests": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateFileRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The list of file annotation requests. Right now we support only one AnnotateFileRequest in BatchAnnotateFilesRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of requests to annotate files using the BatchAnnotateFiles API."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateFileRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1AnnotateFileRequest"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object name, expressed in its `language_code` language."
          }
        },
        "mid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object ID that should align with EntityAnnotation mid."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Score of the result. Range [0, 1]."
          }
        },
        "boundingPoly": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1BoundingPoly",
          "traits": {
            "smithy.api#documentation": "Image region to which this object belongs. This must be populated."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of detected objects with bounding boxes."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1ProductKeyValue": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A product label represented as a key-value pair."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationTextProperty": {
      "type": "structure",
      "members": {
        "detectedLanguages": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguageList",
          "traits": {
            "smithy.api#documentation": "A list of detected languages together with confidence."
          }
        },
        "detectedBreak": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
          "traits": {
            "smithy.api#documentation": "Detected start or end of a text segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information detected on the structural component."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguage"
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p4beta1Celebrity": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Celebrity's display name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the preloaded Celebrity. Has the format `builtin/{mid}`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Celebrity's description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Celebrity is a group of Faces with an identity."
      }
    },
    "com.gcp.vision_v1p2beta1#GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud Storage location where the output will be written to."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1OperationMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1OperationMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the batch operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the batch request was received."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the operation result was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains metadata for the BatchAnnotateImages operation."
      }
    },
    "com.gcp.vision_v1p2beta1#GoogleCloudVisionV1p2beta1OperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATED": {
[...]
