{
  "smithy": "2.0",
  "metadata": {
    "service": "vmmigration",
    "version": "v1alpha1",
    "title": "VM Migration API",
    "baseUrl": "https://vmmigration.googleapis.com/"
  },
  "shapes": {
    "com.gcp.vmmigration_v1alpha1#CutoverJob": {
      "type": "structure",
      "members": {
        "computeEngineTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the target VM in Compute Engine."
          }
        },
        "stateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the state was last updated."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the cutover job had finished."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#CutoverJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the cutover job."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details for the errors that led to the Cutover Job's state."
          }
        },
        "steps": {
          "target": "com.gcp.vmmigration_v1alpha1#CutoverStepList",
          "traits": {
            "smithy.api#documentation": "Output only. The cutover steps list representing its progress."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A message providing possible extra details about the current state."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The current progress in percentage of the cutover job."
          }
        },
        "computeEngineVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
          }
        },
        "computeEngineDisksTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineDisksTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the target Persistent Disks in Compute Engine."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The current progress in percentage of the cutover job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the cutover job."
          }
        },
        "targetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CutoverJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ADAPTING_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADAPTING_OS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#CutoverStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#CutoverStep"
      }
    },
    "com.gcp.vmmigration_v1alpha1#LocalizedMessage": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized error message in the above locale."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
      }
    },
    "com.gcp.vmmigration_v1alpha1#PostProcessingStep": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "PostProcessingStep contains specific step details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureDiskDetails": {
      "type": "structure",
      "members": {
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in GB."
          }
        },
        "diskNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The ordinal number of the disk."
          }
        },
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Azure disk ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of an Azure VM disk."
      }
    },
    "com.gcp.vmmigration_v1alpha1#MachineImageParametersOverrides": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters overriding decisions based on the source machine image configurations."
      }
    },
    "com.gcp.vmmigration_v1alpha1#DiskImageTargetDetails": {
      "type": "structure",
      "members": {
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the image to be created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional description of the image."
          }
        },
        "singleRegionStorage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the image family to which the new image belongs."
          }
        },
        "additionalLicenses": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
          }
        },
        "encryption": {
          "target": "com.gcp.vmmigration_v1alpha1#Encryption",
          "traits": {
            "smithy.api#documentation": "Immutable. The encryption to apply to the image."
          }
        },
        "labels": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of labels to associate with the image."
          }
        },
        "dataDiskImageImport": {
          "target": "com.gcp.vmmigration_v1alpha1#DataDiskImageImport",
          "traits": {
            "smithy.api#documentation": "Optional. Use to skip OS adaptation process."
          }
        },
        "targetProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created."
          }
        },
        "osAdaptationParameters": {
          "target": "com.gcp.vmmigration_v1alpha1#ImageImportOsAdaptationParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Use to set the parameters relevant for the OS adaptation process."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target details of the image resource that will be created by the import job."
      }
    },
    "com.gcp.vmmigration_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.vmmigration_v1alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.vmmigration_v1alpha1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ReplicationCycle": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the replication cycle has started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the replication cycle has ended."
          }
        },
        "steps": {
          "target": "com.gcp.vmmigration_v1alpha1#CycleStepList",
          "traits": {
            "smithy.api#documentation": "The cycle's steps list representing its progress."
          }
        },
        "totalPauseDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accumulated duration the replication cycle was paused."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationCycleStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the ReplicationCycle."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details on the state of the cycle in case of an error."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the ReplicationCycle."
          }
        },
        "warnings": {
          "target": "com.gcp.vmmigration_v1alpha1#MigrationWarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Warnings that occurred during the cycle."
          }
        },
        "cycleNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cycle's ordinal number."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current progress in percentage of this cycle."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ReplicationCycle contains information about the current replication cycle status."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CycleStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#CycleStep"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ReplicationCycleStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#MigrationWarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#MigrationWarning"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsVmDetails": {
      "type": "structure",
      "members": {
        "committedStorageMb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total size of the storage allocated to the VM in MB."
          }
        },
        "virtualizationType": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsVmDetailsVirtualizationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The virtualization type."
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the AWS's source this VM is connected to."
          }
        },
        "architecture": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsVmDetailsArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The CPU architecture."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the VM. Note that this value is not necessarily unique."
          }
        },
        "sourceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The descriptive name of the AWS's source this VM is connected to."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance type of the VM."
          }
        },
        "powerState": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsVmDetailsPowerStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The power state of the VM at the moment list was taken."
          }
        },
        "bootOption": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsVmDetailsBootOptionEnum",
          "traits": {
            "smithy.api#documentation": "The VM Boot Option."
          }
        },
        "tags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The tags of the VM."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The memory size of the VM in MB."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AWS zone of the VM."
          }
        },
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
          }
        },
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of CPU cores the VM has."
          }
        },
        "osDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM's OS."
          }
        },
        "securityGroups": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSecurityGroupList",
          "traits": {
            "smithy.api#documentation": "The security groups the VM belongs to."
          }
        },
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM ID in AWS."
          }
        },
        "diskCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of disks the VM has."
          }
        },
        "vpcId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VPC ID the VM belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AwsVmDetails describes a VM in AWS."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsVmDetailsVirtualizationTypeEnum": {
      "type": "enum",
      "members": {
        "VM_VIRTUALIZATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_VIRTUALIZATION_TYPE_UNSPECIFIED"
          }
        },
        "HVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HVM"
          }
        },
        "PARAVIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAVIRTUAL"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsVmDetailsArchitectureEnum": {
      "type": "enum",
      "members": {
        "VM_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "I386": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "I386"
          }
        },
        "X86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86_64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM64"
          }
        },
        "X86_64_MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86_64_MAC"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsVmDetailsPowerStateEnum": {
      "type": "enum",
      "members": {
        "POWER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER_STATE_UNSPECIFIED"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsVmDetailsBootOptionEnum": {
      "type": "enum",
      "members": {
        "BOOT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OPTION_UNSPECIFIED"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFI"
          }
        },
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSecurityGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#AwsSecurityGroup"
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmUtilizationInfo": {
      "type": "structure",
      "members": {
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM's ID in the source."
          }
        },
        "utilization": {
          "target": "com.gcp.vmmigration_v1alpha1#VmUtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "Utilization metrics for this VM."
          }
        },
        "vmwareVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareVmDetails",
          "traits": {
            "smithy.api#documentation": "The description of the VM in a Source of type Vmware."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Utilization information of a single VM."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ImageImportJob": {
      "type": "structure",
      "members": {
        "diskImageTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#DiskImageTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Target details used to import a disk image."
          }
        },
        "machineImageTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#MachineImageTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Target details used to import a machine image."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the image import was created (as an API call, not when it was actually created in the target)."
          }
        },
        "errors": {
          "target": "com.gcp.vmmigration_v1alpha1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details on the error that led to the image import state in case of an error."
          }
        },
        "createdResources": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource paths of the resources created by the image import job."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the image import was ended."
          }
        },
        "steps": {
          "target": "com.gcp.vmmigration_v1alpha1#ImageImportStepList",
          "traits": {
            "smithy.api#documentation": "Output only. The image import steps list representing its progress."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#ImageImportJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the image import."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource path of the ImageImportJob."
          }
        },
        "cloudStorageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path to the Cloud Storage file from which the image should be imported."
          }
        },
        "warnings": {
          "target": "com.gcp.vmmigration_v1alpha1#MigrationWarningList",
          "traits": {
            "smithy.api#documentation": "Output only. Warnings that occurred during the image import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ImageImportJob describes the progress and result of an image import."
      }
    },
    "com.gcp.vmmigration_v1alpha1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#Status"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ImageImportStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#ImageImportStep"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ImageImportJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceDetails": {
      "type": "structure",
      "members": {
        "accessKeyCreds": {
          "target": "com.gcp.vmmigration_v1alpha1#AccessKeyCredentials",
          "traits": {
            "smithy.api#documentation": "AWS Credentials using access key id and secret."
          }
        },
        "awsRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The AWS region that the source VMs will be migrated from."
          }
        },
        "inventoryTagList": {
          "target": "com.gcp.vmmigration_v1alpha1#TagList",
          "traits": {
            "smithy.api#documentation": "AWS resource tags to limit the scope of the source inventory."
          }
        },
        "publicIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
          }
        },
        "migrationResourcesUserTags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details on the state of the Source in case of an error."
          }
        },
        "inventorySecurityGroupNames": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "AWS security group names to limit the scope of the source inventory."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceDetailsStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the source as determined by the health check."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AwsSourceDetails message describes a specific source details for the AWS source type."
      }
    },
    "com.gcp.vmmigration_v1alpha1#TagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#Tag"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceDetailsStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ApplianceVersion": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The appliance version."
          }
        },
        "critical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determine whether it's critical to upgrade the appliance to this version."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link for downloading the version."
          }
        },
        "releaseNotesUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to a page that contains the version release notes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an appliance version."
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetails": {
      "type": "structure",
      "members": {
        "vmCapabilitiesInfo": {
          "target": "com.gcp.vmmigration_v1alpha1#VmCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. Information about VM capabilities needed for some Compute Engine features."
          }
        },
        "committedStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total size of the disks being migrated in bytes."
          }
        },
        "firmware": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetailsFirmwareEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The firmware type of the source VM."
          }
        },
        "disks": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareDiskDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The disks attached to the source VM."
          }
        },
        "architecture": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetailsArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The VM architecture."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represent the source Vmware VM details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetailsFirmwareEnum": {
      "type": "enum",
      "members": {
        "FIRMWARE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_UNSPECIFIED"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFI"
          }
        },
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareDiskDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#VmwareDiskDetails"
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetailsArchitectureEnum": {
      "type": "enum",
      "members": {
        "VM_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "VM_ARCHITECTURE_X86_FAMILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_X86_FAMILY"
          }
        },
        "VM_ARCHITECTURE_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_ARM64"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetails": {
      "type": "structure",
      "members": {
        "computeScheduling": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeScheduling",
          "traits": {
            "smithy.api#documentation": "Compute instance scheduling information (if empty default is used)."
          }
        },
        "licenseType": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsLicenseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The license type to use in OS adaptation."
          }
        },
        "secureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
          }
        },
        "bootConversion": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsBootConversionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another."
          }
        },
        "encryption": {
          "target": "com.gcp.vmmigration_v1alpha1#Encryption",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption to apply to the VM disks."
          }
        },
        "bootOption": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsBootOptionEnum",
          "traits": {
            "smithy.api#documentation": "The VM Boot Option, as set in the source VM."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type to create the VM with."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account to associate the VM with."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zone in which to create the VM."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VM to create."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname to assign to the VM."
          }
        },
        "appliedLicense": {
          "target": "com.gcp.vmmigration_v1alpha1#AppliedLicense",
          "traits": {
            "smithy.api#documentation": "The OS license returned from the adaptation module report."
          }
        },
        "machineTypeSeries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type series to create the VM with."
          }
        },
        "adaptationModifiers": {
          "target": "com.gcp.vmmigration_v1alpha1#AdaptationModifierList",
          "traits": {
            "smithy.api#documentation": "Optional. Modifiers to be used as configuration of the OS adaptation process."
          }
        },
        "metadata": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The metadata key/value pairs to assign to the VM."
          }
        },
        "networkInterfaces": {
          "target": "com.gcp.vmmigration_v1alpha1#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of NICs connected to this VM."
          }
        },
        "labels": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of labels to associate with the VM."
          }
        },
        "enableIntegrityMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Defines whether the instance has integrity monitoring enabled."
          }
        },
        "diskReplicaZones": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
          }
        },
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
          }
        },
        "networkTags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of network tags to associate with the VM."
          }
        },
        "diskType": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "The disk type to use in the VM."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Cloud target project ID or project name."
          }
        },
        "additionalLicenses": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional licenses to assign to the VM."
          }
        },
        "enableVtpm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Defines whether the instance has vTPM enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT"
          }
        },
        "COMPUTE_ENGINE_LICENSE_TYPE_PAYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_LICENSE_TYPE_PAYG"
          }
        },
        "COMPUTE_ENGINE_LICENSE_TYPE_BYOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsBootConversionEnum": {
      "type": "enum",
      "members": {
        "BOOT_CONVERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_CONVERSION_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BIOS_TO_EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS_TO_EFI"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsBootOptionEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED"
          }
        },
        "COMPUTE_ENGINE_BOOT_OPTION_EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_BOOT_OPTION_EFI"
          }
        },
        "COMPUTE_ENGINE_BOOT_OPTION_BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AdaptationModifierList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#AdaptationModifier"
      }
    },
    "com.gcp.vmmigration_v1alpha1#NetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#NetworkInterface"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetailsDiskTypeEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED"
          }
        },
        "COMPUTE_ENGINE_DISK_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_STANDARD"
          }
        },
        "COMPUTE_ENGINE_DISK_TYPE_SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_SSD"
          }
        },
        "COMPUTE_ENGINE_DISK_TYPE_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          }
        },
        "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED"
          }
        },
        "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#Source": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-provided description of the source."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details on the state of the Source in case of an error."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Source name."
          }
        },
        "vmware": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareSourceDetails",
          "traits": {
            "smithy.api#documentation": "Vmware type source details."
          }
        },
        "aws": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceDetails",
          "traits": {
            "smithy.api#documentation": "AWS type source details."
          }
        },
        "labels": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels of the source."
          }
        },
        "azure": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureSourceDetails",
          "traits": {
            "smithy.api#documentation": "Azure type source details."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The create time timestamp."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update time timestamp."
          }
        },
        "encryption": {
          "target": "com.gcp.vmmigration_v1alpha1#Encryption",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The encryption details of the source data stored by the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source message describes a specific vm migration Source resource. It contains the source environment information."
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareVmsDetails": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareVmDetailsList",
          "traits": {
            "smithy.api#documentation": "The details of the vmware VMs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareVmsDetails describes VMs in vCenter."
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareVmDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#VmwareVmDetails"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ListDatacenterConnectorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "datacenterConnectors": {
          "target": "com.gcp.vmmigration_v1alpha1#DatacenterConnectorList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources response."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListDatacenterConnectors' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#DatacenterConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#DatacenterConnector"
      }
    },
    "com.gcp.vmmigration_v1alpha1#CutoverStep": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the step has started."
          }
        },
        "finalSync": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationCycle",
          "traits": {
            "smithy.api#documentation": "Final sync step."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the step has ended."
          }
        },
        "previousReplicationCycle": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationCycle",
          "traits": {
            "smithy.api#documentation": "A replication cycle prior cutover step."
          }
        },
        "shuttingDownSourceVm": {
          "target": "com.gcp.vmmigration_v1alpha1#ShuttingDownSourceVMStep",
          "traits": {
            "smithy.api#documentation": "Shutting down VM step."
          }
        },
        "preparingVmDisks": {
          "target": "com.gcp.vmmigration_v1alpha1#PreparingVMDisksStep",
          "traits": {
            "smithy.api#documentation": "Preparing VM disks step."
          }
        },
        "instantiatingMigratedVm": {
          "target": "com.gcp.vmmigration_v1alpha1#InstantiatingMigratedVMStep",
          "traits": {
            "smithy.api#documentation": "Instantiating migrated VM step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CutoverStep holds information about the cutover step progress."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CloneJob": {
      "type": "structure",
      "members": {
        "stateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the state was last updated."
          }
        },
        "computeEngineTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the target VM in Compute Engine."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target)."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the clone job was ended."
          }
        },
        "steps": {
          "target": "com.gcp.vmmigration_v1alpha1#CloneStepList",
          "traits": {
            "smithy.api#documentation": "Output only. The clone steps list representing its progress."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#CloneJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the clone job."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details for the errors that led to the Clone Job's state."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the clone."
          }
        },
        "targetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead."
          }
        },
        "computeEngineVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead."
          }
        },
        "computeEngineDisksTargetDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineDisksTargetDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the target Persistent Disks in Compute Engine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CloneStepList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#CloneStep"
      }
    },
    "com.gcp.vmmigration_v1alpha1#CloneJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "ADAPTING_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADAPTING_OS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ListTargetProjectsResponse": {
      "type": "structure",
      "members": {
        "targetProjects": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetProjectList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of target response."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListTargetProjects' call."
      }
    },
    "com.gcp.vmmigration_v1alpha1#TargetProjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#TargetProject"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmsDetails": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureVmDetailsList",
          "traits": {
            "smithy.api#documentation": "The details of the Azure VMs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AzureVmsDetails describes VMs in Azure."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#AzureVmDetails"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmDetails": {
      "type": "structure",
      "members": {
        "osDescription": {
          "target": "com.gcp.vmmigration_v1alpha1#OSDescription",
          "traits": {
            "smithy.api#documentation": "Description of the OS."
          }
        },
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM full path in Azure."
          }
        },
        "diskCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of disks the VM has, including OS disk."
          }
        },
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of cpus the VM has."
          }
        },
        "tags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The tags of the VM."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The memory size of the VM in MB."
          }
        },
        "osDisk": {
          "target": "com.gcp.vmmigration_v1alpha1#OSDisk",
          "traits": {
            "smithy.api#documentation": "Description of the OS disk."
          }
        },
        "powerState": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureVmDetailsPowerStateEnum",
          "traits": {
            "smithy.api#documentation": "The power state of the VM at the moment list was taken."
          }
        },
        "bootOption": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureVmDetailsBootOptionEnum",
          "traits": {
            "smithy.api#documentation": "The VM Boot Option."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VM size as configured in Azure. Determines the VM's hardware spec."
          }
        },
        "committedStorageMb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total size of the storage allocated to the VM in MB."
          }
        },
        "computerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM's ComputerName."
          }
        },
        "disks": {
          "target": "com.gcp.vmmigration_v1alpha1#DiskList",
          "traits": {
            "smithy.api#documentation": "Description of the data disks."
          }
        },
        "architecture": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureVmDetailsArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The CPU architecture."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AzureVmDetails describes a VM in Azure."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmDetailsPowerStateEnum": {
      "type": "enum",
      "members": {
        "POWER_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWER_STATE_UNSPECIFIED"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "DEALLOCATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEALLOCATING"
          }
        },
        "DEALLOCATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEALLOCATED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmDetailsBootOptionEnum": {
      "type": "enum",
      "members": {
        "BOOT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OPTION_UNSPECIFIED"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFI"
          }
        },
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#DiskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#Disk"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AzureVmDetailsArchitectureEnum": {
      "type": "enum",
      "members": {
        "VM_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "VM_ARCHITECTURE_X86_FAMILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_X86_FAMILY"
          }
        },
        "VM_ARCHITECTURE_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_ARM64"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#DisksMigrationVmTargetDetails": {
      "type": "structure",
      "members": {
        "vmUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI of the Compute Engine VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for the VM created VM as part of disks migration."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceDiskDetails": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. AWS volume ID."
          }
        },
        "diskType": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceDiskDetailsDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. Disk type."
          }
        },
        "tags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. A map of AWS volume tags."
          }
        },
        "sizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in GiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the source AWS Disk details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceDiskDetailsDiskTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP2"
          }
        },
        "GP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP3"
          }
        },
        "IO1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO1"
          }
        },
        "IO2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO2"
          }
        },
        "ST1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST1"
          }
        },
        "SC1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC1"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#InitializingReplicationStep": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "InitializingReplicationStep contains specific step details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CutoverForecast": {
      "type": "structure",
      "members": {
        "estimatedCutoverJobDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Estimation of the CutoverJob duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
      }
    },
    "com.gcp.vmmigration_v1alpha1#DataDiskImageImport": {
      "type": "structure",
      "members": {
        "guestOsFeatures": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used when the image import is not using OS adaptation process."
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareSourceDetails": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credentials username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The credentials password. This is write only and can not be read in a GET operation."
          }
        },
        "vcenterIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ip address of the vcenter this Source represents."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbprint representing the certificate for the vcenter."
          }
        },
        "resolvedVcenterHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname of the vcenter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VmwareSourceDetails message describes a specific source details for the vmware source type."
      }
    },
    "com.gcp.vmmigration_v1alpha1#FetchInventoryResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "azureVms": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureVmsDetails",
          "traits": {
            "smithy.api#documentation": "The description of the VMs in a Source of type Azure."
          }
        },
        "vmwareVms": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareVmsDetails",
          "traits": {
            "smithy.api#documentation": "The description of the VMs in a Source of type Vmware."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
          }
        },
        "awsVms": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsVmsDetails",
          "traits": {
            "smithy.api#documentation": "The description of the VMs in a Source of type AWS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for fetchInventory."
      }
    },
    "com.gcp.vmmigration_v1alpha1#RunDiskMigrationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'RunDiskMigrationJobRequest' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#OSDisk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk's full name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk's type."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The disk's size in GB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message describing the OS disk."
      }
    },
    "com.gcp.vmmigration_v1alpha1#PauseMigrationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'PauseMigration' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#TargetVMDetails": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network to connect the VM to."
          }
        },
        "licenseType": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetailsLicenseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The license type to use in OS adaptation."
          }
        },
        "secureBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
          }
        },
        "externalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external IP to define in the VM."
          }
        },
        "computeScheduling": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeScheduling",
          "traits": {
            "smithy.api#documentation": "Compute instance scheduling information (if empty default is used)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VM to create."
          }
        },
        "machineTypeSeries": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type series to create the VM with."
          }
        },
        "appliedLicense": {
          "target": "com.gcp.vmmigration_v1alpha1#AppliedLicense",
          "traits": {
            "smithy.api#documentation": "Output only. The OS license returned from the adaptation module report."
          }
        },
        "labels": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of labels to associate with the VM."
          }
        },
        "networkInterfaces": {
          "target": "com.gcp.vmmigration_v1alpha1#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of NICs connected to this VM."
          }
        },
        "metadata": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The metadata key/value pairs to assign to the VM."
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subnetwork to connect the VM to."
          }
        },
        "bootOption": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetailsBootOptionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The VM Boot Option, as set in the source VM."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine type to create the VM with."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account to associate the VM with."
          }
        },
        "networkTags": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of network tags to associate with the VM."
          }
        },
        "diskType": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetailsDiskTypeEnum",
          "traits": {
            "smithy.api#documentation": "The disk type to use in the VM."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The project in which to create the VM."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The zone in which to create the VM."
          }
        },
        "internalIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
          }
        },
        "targetProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project."
      }
    },
    "com.gcp.vmmigration_v1alpha1#TargetVMDetailsLicenseTypeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "PAYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYG"
          }
        },
        "BYOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYOL"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#TargetVMDetailsBootOptionEnum": {
      "type": "enum",
      "members": {
        "BOOT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOT_OPTION_UNSPECIFIED"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFI"
          }
        },
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#TargetVMDetailsDiskTypeEnum": {
      "type": "enum",
      "members": {
        "DISK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BALANCED"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        },
        "HYPERDISK_BALANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_BALANCED"
          }
        },
        "HYPERDISK_BALANCED_HIGH_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetails": {
      "type": "structure",
      "members": {
        "vmCapabilitiesInfo": {
          "target": "com.gcp.vmmigration_v1alpha1#VmCapabilities",
          "traits": {
            "smithy.api#documentation": "Output only. Information about VM capabilities needed for some Compute Engine features."
          }
        },
        "firmware": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetailsFirmwareEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The firmware type of the source VM."
          }
        },
        "disks": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsDiskDetailsList",
          "traits": {
            "smithy.api#documentation": "Output only. The disks attached to the source VM."
          }
        },
        "architecture": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetailsArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The VM architecture."
          }
        },
        "committedStorageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total size of the disks being migrated in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represent the source AWS VM details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetailsFirmwareEnum": {
      "type": "enum",
      "members": {
        "FIRMWARE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRMWARE_UNSPECIFIED"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EFI"
          }
        },
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOS"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsDiskDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#AwsDiskDetails"
      }
    },
    "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetailsArchitectureEnum": {
      "type": "enum",
      "members": {
        "VM_ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_UNSPECIFIED"
          }
        },
        "VM_ARCHITECTURE_X86_FAMILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_X86_FAMILY"
          }
        },
        "VM_ARCHITECTURE_ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VM_ARCHITECTURE_ARM64"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#LoadingImageSourceFilesStep": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "LoadingImageSourceFilesStep contains specific step details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ListSourcesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "sources": {
          "target": "com.gcp.vmmigration_v1alpha1#SourceList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListSources' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#SourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#Source"
      }
    },
    "com.gcp.vmmigration_v1alpha1#PreparingVMDisksStep": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "PreparingVMDisksStep contains specific step details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#InitializingImageImportStep": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "InitializingImageImportStep contains specific step details."
      }
    },
    "com.gcp.vmmigration_v1alpha1#DisksMigrationDisksTargetDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details for a disks-only migration."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ResumeMigrationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'ResumeMigration' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ListCloneJobsResponse": {
      "type": "structure",
      "members": {
        "cloneJobs": {
          "target": "com.gcp.vmmigration_v1alpha1#CloneJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of clone jobs response."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for 'ListCloneJobs' request."
      }
    },
    "com.gcp.vmmigration_v1alpha1#CloneJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#CloneJob"
      }
    },
    "com.gcp.vmmigration_v1alpha1#VmwareDiskDetails": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The disk label."
          }
        },
        "diskNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The ordinal number of the disk."
          }
        },
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size in GB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a Vmware VM disk."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address of the service account."
          }
        },
        "scopes": {
          "target": "com.gcp.vmmigration_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of scopes to be made available for this service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service account to assign to the instance created by the machine image."
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeScheduling": {
      "type": "structure",
      "members": {
        "nodeAffinities": {
          "target": "com.gcp.vmmigration_v1alpha1#SchedulingNodeAffinityList",
          "traits": {
            "smithy.api#documentation": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
          }
        },
        "minNodeCpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
          }
        },
        "restartType": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeSchedulingRestartTypeEnum",
          "traits": {
            "smithy.api#documentation": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart."
          }
        },
        "onHostMaintenance": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeSchedulingOnHostMaintenanceEnum",
          "traits": {
            "smithy.api#documentation": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance."
          }
        },
        "automaticRestart": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
      }
    },
    "com.gcp.vmmigration_v1alpha1#SchedulingNodeAffinityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.vmmigration_v1alpha1#SchedulingNodeAffinity"
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeSchedulingRestartTypeEnum": {
      "type": "enum",
      "members": {
        "RESTART_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTART_TYPE_UNSPECIFIED"
          }
        },
        "AUTOMATIC_RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC_RESTART"
          }
        },
        "NO_AUTOMATIC_RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AUTOMATIC_RESTART"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#ComputeSchedulingOnHostMaintenanceEnum": {
      "type": "enum",
      "members": {
        "ON_HOST_MAINTENANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_HOST_MAINTENANCE_UNSPECIFIED"
          }
        },
        "TERMINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATE"
          }
        },
        "MIGRATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATE"
          }
        }
      }
    },
    "com.gcp.vmmigration_v1alpha1#MigratingVm": {
      "type": "structure",
      "members": {
        "computeEngineDisksTargetDefaults": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineDisksTargetDefaults",
          "traits": {
            "smithy.api#documentation": "Details of the target Persistent Disks in Compute Engine."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description attached to the migrating VM by the user."
          }
        },
        "recentCutoverJobs": {
          "target": "com.gcp.vmmigration_v1alpha1#CutoverJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
          }
        },
        "stateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time the migrating VM state was updated."
          }
        },
        "awsSourceVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#AwsSourceVmDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM from an AWS source."
          }
        },
        "computeEngineTargetDefaults": {
          "target": "com.gcp.vmmigration_v1alpha1#ComputeEngineTargetDefaults",
          "traits": {
            "smithy.api#documentation": "Details of the target VM in Compute Engine."
          }
        },
        "computeEngineVmDefaults": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the MigratingVm."
          }
        },
        "currentSyncInfo": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationCycle",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the current running replication cycle."
          }
        },
        "labels": {
          "target": "com.gcp.vmmigration_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels of the migrating VM."
          }
        },
        "lastSync": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationSync",
          "traits": {
            "smithy.api#documentation": "Output only. The most updated snapshot created time in the source that finished replication."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source)."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time the migrating VM resource was updated."
          }
        },
        "azureSourceVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#AzureSourceVmDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM from an Azure source."
          }
        },
        "vmwareSourceVmDetails": {
          "target": "com.gcp.vmmigration_v1alpha1#VmwareSourceVmDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the VM from a Vmware source."
          }
        },
        "error": {
          "target": "com.gcp.vmmigration_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details on the state of the Migrating VM in case of an error in replication."
          }
        },
        "cutoverForecast": {
          "target": "com.gcp.vmmigration_v1alpha1#CutoverForecast",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable."
          }
        },
        "state": {
          "target": "com.gcp.vmmigration_v1alpha1#MigratingVmStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the MigratingVm."
          }
        },
        "sourceVmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
          }
        },
        "expiration": {
          "target": "com.gcp.vmmigration_v1alpha1#Expiration",
          "traits": {
            "smithy.api#documentation": "Output only. Provides details about the expiration state of the migrating VM."
          }
        },
        "recentCloneJobs": {
          "target": "com.gcp.vmmigration_v1alpha1#CloneJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
          }
        },
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource."
          }
        },
        "targetDefaults": {
          "target": "com.gcp.vmmigration_v1alpha1#TargetVMDetails",
          "traits": {
            "smithy.api#documentation": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name attached to the MigratingVm by the user."
          }
        },
        "lastReplicationCycle": {
          "target": "com.gcp.vmmigration_v1alpha1#ReplicationCycle",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles."
          }
        },
        "policy": {
          "target": "com.gcp.vmmigration_v1alpha1#SchedulePolicy",
          "traits": {
            "smithy.api#documentation": "The replication schedule policy."
[...]
