{
  "smithy": "2.0",
  "metadata": {
    "service": "websecurityscanner",
    "version": "v1alpha",
    "title": "Web Security Scanner API",
    "baseUrl": "https://websecurityscanner.googleapis.com/"
  },
  "shapes": {
    "com.gcp.websecurityscanner_v1alpha#StartScanRunRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `StartScanRun` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanConfig": {
      "type": "structure",
      "members": {
        "userAgent": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanConfigUserAgentEnum",
          "traits": {
            "smithy.api#documentation": "The user agent used during scanning."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
          }
        },
        "schedule": {
          "target": "com.gcp.websecurityscanner_v1alpha#Schedule",
          "traits": {
            "smithy.api#documentation": "The schedule of the ScanConfig."
          }
        },
        "latestRun": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanRun",
          "traits": {
            "smithy.api#documentation": "Latest ScanRun if available."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user provided display name of the ScanConfig."
          }
        },
        "maxQps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error."
          }
        },
        "authentication": {
          "target": "com.gcp.websecurityscanner_v1alpha#Authentication",
          "traits": {
            "smithy.api#documentation": "The authentication configuration. If specified, service will use the authentication configuration during scanning."
          }
        },
        "targetPlatforms": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanConfigTargetPlatformsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
          }
        },
        "blacklistPatterns": {
          "target": "com.gcp.websecurityscanner_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls"
          }
        },
        "startingUrls": {
          "target": "com.gcp.websecurityscanner_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The starting URLs from which the scanner finds site pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ScanConfig resource contains the configurations to launch a scan. next id: 12"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanConfigUserAgentEnum": {
      "type": "enum",
      "members": {
        "USER_AGENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_AGENT_UNSPECIFIED"
          }
        },
        "CHROME_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_LINUX"
          }
        },
        "CHROME_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_ANDROID"
          }
        },
        "SAFARI_IPHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFARI_IPHONE"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanConfigTargetPlatformsItemEnum": {
      "type": "enum",
      "members": {
        "TARGET_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_PLATFORM_UNSPECIFIED"
          }
        },
        "APP_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_ENGINE"
          }
        },
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE"
          }
        },
        "CLOUD_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RUN"
          }
        },
        "CLOUD_FUNCTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FUNCTIONS"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanConfigTargetPlatformsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanConfigTargetPlatformsItemEnum"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanRun": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the ScanRun started."
          }
        },
        "urlsCrawledCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now."
          }
        },
        "urlsTestedCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
          }
        },
        "resultState": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanRunResultStateEnum",
          "traits": {
            "smithy.api#documentation": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\"."
          }
        },
        "hasVulnerabilities": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the scan run has found any vulnerabilities."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user."
          }
        },
        "executionState": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanRunExecutionStateEnum",
          "traits": {
            "smithy.api#documentation": "The execution state of the ScanRun."
          }
        },
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ScanRun is a output-only resource representing an actual run of the scan."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanRunResultStateEnum": {
      "type": "enum",
      "members": {
        "RESULT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_STATE_UNSPECIFIED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "KILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILLED"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanRunExecutionStateEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Schedule": {
      "type": "structure",
      "members": {
        "scheduleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
          }
        },
        "intervalDurationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The duration of time between executions in days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scan schedule configuration."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#CrawledUrl": {
      "type": "structure",
      "members": {
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The http method of the request that was used to visit the URL, in uppercase."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The body of the request that was used to visit the URL."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL that was crawled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListCrawledUrlsResponse": {
      "type": "structure",
      "members": {
        "crawledUrls": {
          "target": "com.gcp.websecurityscanner_v1alpha#CrawledUrlList",
          "traits": {
            "smithy.api#documentation": "The list of CrawledUrls returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCrawledUrls` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#CrawledUrlList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#CrawledUrl"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ViolatingResource": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MIME type of this resource."
          }
        },
        "resourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of this violating resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Finding": {
      "type": "structure",
      "members": {
        "vulnerableHeaders": {
          "target": "com.gcp.websecurityscanner_v1alpha#VulnerableHeaders",
          "traits": {
            "smithy.api#documentation": "An addon containing information about vulnerable or missing HTTP headers."
          }
        },
        "xss": {
          "target": "com.gcp.websecurityscanner_v1alpha#Xss",
          "traits": {
            "smithy.api#documentation": "An addon containing information reported for an XSS, if any."
          }
        },
        "findingType": {
          "target": "com.gcp.websecurityscanner_v1alpha#FindingFindingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the Finding."
          }
        },
        "vulnerableParameters": {
          "target": "com.gcp.websecurityscanner_v1alpha#VulnerableParameters",
          "traits": {
            "smithy.api#documentation": "An addon containing information about request parameters which were found to be vulnerable."
          }
        },
        "finalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the browser lands when the vulnerability is detected."
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The http method of the request that triggered the vulnerability, in uppercase."
          }
        },
        "frameUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported."
          }
        },
        "fuzzedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the vulnerability."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns."
          }
        },
        "reproductionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the request that triggered the vulnerability."
          }
        },
        "outdatedLibrary": {
          "target": "com.gcp.websecurityscanner_v1alpha#OutdatedLibrary",
          "traits": {
            "smithy.api#documentation": "An addon containing information about outdated libraries."
          }
        },
        "violatingResource": {
          "target": "com.gcp.websecurityscanner_v1alpha#ViolatingResource",
          "traits": {
            "smithy.api#documentation": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Finding resource represents a vulnerability instance identified during a ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#FindingFindingTypeEnum": {
      "type": "enum",
      "members": {
        "FINDING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINDING_TYPE_UNSPECIFIED"
          }
        },
        "MIXED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIXED_CONTENT"
          }
        },
        "OUTDATED_LIBRARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDATED_LIBRARY"
          }
        },
        "ROSETTA_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROSETTA_FLASH"
          }
        },
        "XSS_CALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_CALLBACK"
          }
        },
        "XSS_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_ERROR"
          }
        },
        "CLEAR_TEXT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAR_TEXT_PASSWORD"
          }
        },
        "INVALID_CONTENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CONTENT_TYPE"
          }
        },
        "XSS_ANGULAR_CALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_ANGULAR_CALLBACK"
          }
        },
        "INVALID_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_HEADER"
          }
        },
        "MISSPELLED_SECURITY_HEADER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSPELLED_SECURITY_HEADER_NAME"
          }
        },
        "MISMATCHING_SECURITY_HEADER_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISMATCHING_SECURITY_HEADER_VALUES"
          }
        },
        "ACCESSIBLE_GIT_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_GIT_REPOSITORY"
          }
        },
        "ACCESSIBLE_SVN_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_SVN_REPOSITORY"
          }
        },
        "ACCESSIBLE_ENV_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_ENV_FILE"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#VulnerableParameters": {
      "type": "structure",
      "members": {
        "parameterNames": {
          "target": "com.gcp.websecurityscanner_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The vulnerable parameter names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about vulnerable request parameters."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Header": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a HTTP Header."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListFindingsResponse": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.gcp.websecurityscanner_v1alpha#FindingList",
          "traits": {
            "smithy.api#documentation": "The list of Findings returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFindings` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#FindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#Finding"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#OutdatedLibrary": {
      "type": "structure",
      "members": {
        "libraryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the outdated library."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version number."
          }
        },
        "learnMoreUrls": {
          "target": "com.gcp.websecurityscanner_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "URLs to learn more information about the vulnerabilities in the library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information reported for an outdated library."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GoogleAccount": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user name of the Google account."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration that uses a Google account."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListScanRunsResponse": {
      "type": "structure",
      "members": {
        "scanRuns": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanRunList",
          "traits": {
            "smithy.api#documentation": "The list of ScanRuns returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListScanRuns` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanRunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanRun"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Authentication": {
      "type": "structure",
      "members": {
        "googleAccount": {
          "target": "com.gcp.websecurityscanner_v1alpha#GoogleAccount",
          "traits": {
            "smithy.api#documentation": "Authentication using a Google account."
          }
        },
        "customAccount": {
          "target": "com.gcp.websecurityscanner_v1alpha#CustomAccount",
          "traits": {
            "smithy.api#documentation": "Authentication using a custom account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scan authentication configuration."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#VulnerableHeaders": {
      "type": "structure",
      "members": {
        "missingHeaders": {
          "target": "com.gcp.websecurityscanner_v1alpha#HeaderList",
          "traits": {
            "smithy.api#documentation": "List of missing headers."
          }
        },
        "headers": {
          "target": "com.gcp.websecurityscanner_v1alpha#HeaderList",
          "traits": {
            "smithy.api#documentation": "List of vulnerable headers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about vulnerable or missing HTTP Headers."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#HeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#Header"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListScanConfigsResponse": {
      "type": "structure",
      "members": {
        "scanConfigs": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanConfigList",
          "traits": {
            "smithy.api#documentation": "The list of ScanConfigs returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListScanConfigs` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ScanConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Xss": {
      "type": "structure",
      "members": {
        "stackTraces": {
          "target": "com.gcp.websecurityscanner_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Stack traces leading to the point where the XSS occurred."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An error message generated by a javascript breakage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information reported for an XSS."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#CustomAccount": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The user name of the custom account."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs."
          }
        },
        "loginUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The login form URL of the website."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes authentication configuration that uses a custom account."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StopScanRunRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for the `StopScanRun` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListFindingTypeStatsResponse": {
      "type": "structure",
      "members": {
        "findingTypeStats": {
          "target": "com.gcp.websecurityscanner_v1alpha#FindingTypeStatsList",
          "traits": {
            "smithy.api#documentation": "The list of FindingTypeStats returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListFindingTypeStats` method."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#FindingTypeStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.websecurityscanner_v1alpha#FindingTypeStats"
      }
    },
    "com.gcp.websecurityscanner_v1alpha#FindingTypeStats": {
      "type": "structure",
      "members": {
        "findingType": {
          "target": "com.gcp.websecurityscanner_v1alpha#FindingTypeStatsFindingTypeEnum",
          "traits": {
            "smithy.api#documentation": "The finding type associated with the stats."
          }
        },
        "findingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of findings belonging to this finding type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#FindingTypeStatsFindingTypeEnum": {
      "type": "enum",
      "members": {
        "FINDING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINDING_TYPE_UNSPECIFIED"
          }
        },
        "MIXED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIXED_CONTENT"
          }
        },
        "OUTDATED_LIBRARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDATED_LIBRARY"
          }
        },
        "ROSETTA_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROSETTA_FLASH"
          }
        },
        "XSS_CALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_CALLBACK"
          }
        },
        "XSS_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_ERROR"
          }
        },
        "CLEAR_TEXT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAR_TEXT_PASSWORD"
          }
        },
        "INVALID_CONTENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CONTENT_TYPE"
          }
        },
        "XSS_ANGULAR_CALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XSS_ANGULAR_CALLBACK"
          }
        },
        "INVALID_HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_HEADER"
          }
        },
        "MISSPELLED_SECURITY_HEADER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSPELLED_SECURITY_HEADER_NAME"
          }
        },
        "MISMATCHING_SECURITY_HEADER_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISMATCHING_SECURITY_HEADER_VALUES"
          }
        },
        "ACCESSIBLE_GIT_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_GIT_REPOSITORY"
          }
        },
        "ACCESSIBLE_SVN_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_SVN_REPOSITORY"
          }
        },
        "ACCESSIBLE_ENV_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESSIBLE_ENV_FILE"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#CreateProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1alpha#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1alpha#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.websecurityscanner_v1alpha#CreateProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#CreateProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/scanConfigs"
        },
        "smithy.api#documentation": "Creates a new ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets a ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StartProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1alpha#StartScanRunRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StartProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#StartProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:start"
        },
        "smithy.api#documentation": "Start a ScanRun according to the given ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#DeleteProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#DeleteProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#DeleteProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing ScanConfig and its child resources."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListScanConfigsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/scanConfigs"
        },
        "smithy.api#documentation": "Lists ScanConfigs under a given project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#PatchProjectsScanConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#PatchProjectsScanConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#PatchProjectsScanConfigsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanConfig"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Updates a ScanConfig. This method support partial update of a ScanConfig."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets a ScanRun."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StopProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.websecurityscanner_v1alpha#StopScanRunRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#StopProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#StopProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ScanRun"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:stop"
        },
        "smithy.api#documentation": "Stops a ScanRun. The stopped ScanRun is returned."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRuns": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListScanRunsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/scanRuns"
        },
        "smithy.api#documentation": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsCrawledUrlsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsCrawledUrls": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsCrawledUrlsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListCrawledUrlsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/crawledUrls"
        },
        "smithy.api#documentation": "List CrawledUrls under a given ScanRun.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindingsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindingsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListFindingsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/findings"
        },
        "smithy.api#documentation": "List Findings under a given ScanRun.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRunsFindingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRunsFindings": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#GetProjectsScanConfigsScanRunsFindingsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#Finding"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets a Finding."
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindingTypeStatsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindingTypeStats": {
      "type": "operation",
      "input": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListProjectsScanConfigsScanRunsFindingTypeStatsRequest"
      },
      "output": {
        "target": "com.gcp.websecurityscanner_v1alpha#ListFindingTypeStatsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.websecurityscanner_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.websecurityscanner_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/findingTypeStats"
        },
        "smithy.api#documentation": "List all FindingTypeStats under a given ScanRun."
      }
    }
  }
}
