{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.neon.api#AdvisorCategory": {
      "type": "enum",
      "members": {
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERFORMANCE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Category of an advisor issue"
      }
    },
    "com.neon.api#GetProjectAdvisorSecurityIssuesRequestMinSeverity": {
      "type": "enum",
      "members": {
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#GetProjectAdvisorSecurityIssuesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Neon project ID"
          }
        },
        "branch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branch_id",
            "smithy.api#documentation": "Branch ID to analyze. If not specified, the project's default branch is used."
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "database_name",
            "smithy.api#documentation": "Database name to analyze. Required if branch has multiple databases."
          }
        },
        "category": {
          "target": "com.neon.api#AdvisorCategory",
          "traits": {
            "smithy.api#httpQuery": "category",
            "smithy.api#documentation": "Filter issues by category"
          }
        },
        "min_severity": {
          "target": "com.neon.api#GetProjectAdvisorSecurityIssuesRequestMinSeverity",
          "traits": {
            "smithy.api#httpQuery": "min_severity",
            "smithy.api#documentation": "Minimum severity level to include. For example, WARN returns WARN and ERROR issues, excluding INFO."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#AdvisorIssue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the issue type",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable title",
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Severity level of the issue",
            "smithy.api#required": {}
          }
        },
        "facing": {
          "target": "com.neon.api#AdvisorIssueFacing",
          "traits": {
            "smithy.api#documentation": "Whether this issue affects external API exposure or is internal only",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.neon.api#AdvisorIssueCategoriesList",
          "traits": {
            "smithy.api#documentation": "Categories this issue belongs to",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed description of what this check detects",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific details about this instance of the issue",
            "smithy.api#required": {}
          }
        },
        "remediation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to documentation on how to fix this issue",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.neon.api#AdvisorIssueMetadataMap",
          "traits": {
            "smithy.api#documentation": "Additional context-specific metadata",
            "smithy.api#required": {}
          }
        },
        "cache_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for caching this issue result",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#AdvisorIssueFacing": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this issue affects external API exposure or is internal only"
      }
    },
    "com.neon.api#AdvisorIssueCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#AdvisorCategory"
      },
      "traits": {
        "smithy.api#documentation": "Categories this issue belongs to"
      }
    },
    "com.neon.api#AdvisorIssueMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional context-specific metadata"
      }
    },
    "com.neon.api#GetProjectAdvisorSecurityIssuesResponseIssuesList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#AdvisorIssue"
      },
      "traits": {}
    },
    "com.neon.api#GetProjectAdvisorSecurityIssuesResponse": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.neon.api#GetProjectAdvisorSecurityIssuesResponseIssuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.neon.api#GetProjectAdvisorSecurityIssues": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#GetProjectAdvisorSecurityIssuesRequest"
      },
      "output": {
        "target": "com.neon.api#GetProjectAdvisorSecurityIssuesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{project_id}/advisors",
          "code": 200
        },
        "smithy.api#documentation": "Get advisor issues\n\nAnalyzes the database for security and performance issues.\nReturns a list of issues categorized by severity (ERROR, WARN, INFO).\n\nRequires read access to the project and Data API enabled."
      }
    },
    "com.neon.api#ApiKeysListResponseItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API key ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified API key name",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the API key was created",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.neon.api#ApiKeyCreatorData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the API was last used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_from_addr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address from which the API key was last used",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#ApiKeyCreatorData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created this API key",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user.",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the user's avatar image.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user data of the user that created this API key."
      }
    },
    "com.neon.api#ListApiKeysResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#ApiKeysListResponseItem"
      },
      "traits": {}
    },
    "com.neon.api#ListApiKeysResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.neon.api#ListApiKeysResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.neon.api#ListApiKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.neon.api#ListApiKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api_keys",
          "code": 200
        },
        "smithy.api#documentation": "List API keys\n\nRetrieves the API keys for your Neon account.\nThe response does not include API key tokens. A token is only provided when creating an API key.\nAPI keys can also be managed in the Neon Console.\nFor more information, see [Manage API keys](https://neon.com/docs/manage/api-keys/)."
      }
    },
    "com.neon.api#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "key_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-specified API key name. This value is required when creating an API key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#ApiKeyCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API key ID",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated 64-bit token required to access the Neon API",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified API key name",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the API key was created",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created this API key",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.neon.api#ApiKeyCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api_keys",
          "code": 200
        },
        "smithy.api#documentation": "Create API key\n\nCreates an API key.\nThe `key_name` is a user-specified name for the key.\nReturns an `id` and `key`; the `key` is a randomly generated, 64-bit token required to access the Neon API.\nStore the key securely — it is only returned once.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.com/docs/manage/api-keys/)."
      }
    },
    "com.neon.api#RevokeApiKeyRequest": {
      "type": "structure",
      "members": {
        "key_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The API key ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#ApiKeyRevokeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API key ID",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-specified API key name",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the API key was created",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who created this API key",
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the API was last used",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_used_from_addr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address from which the API key was last used",
            "smithy.api#required": {}
          }
        },
        "revoked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A `true` or `false` value indicating whether the API key is revoked",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#RevokeApiKey": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#RevokeApiKeyRequest"
      },
      "output": {
        "target": "com.neon.api#ApiKeyRevokeResponse"
      },
      "errors": [
        {
          "target": "com.neon.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api_keys/{key_id}",
          "code": 200
        },
        "smithy.api#documentation": "Revoke API key\n\nRevokes the specified API key.\nAn API key that is no longer needed can be revoked.\nThis action cannot be reversed.\nAPI keys can also be managed in the Neon Console.\nSee [Manage API keys](https://neon.com/docs/manage/api-keys/)."
      }
    },
    "com.neon.api#GetProjectOperationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Neon project ID"
          }
        },
        "operation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The operation ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#OperationResponse": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.neon.api#Operation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#Operation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation ID",
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Neon project ID",
            "smithy.api#required": {}
          }
        },
        "branch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch ID"
          }
        },
        "endpoint_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint ID"
          }
        },
        "action": {
          "target": "com.neon.api#OperationAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.neon.api#OperationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error that occurred"
          }
        },
        "failures_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of times the operation failed",
            "smithy.api#required": {}
          }
        },
        "retry_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the operation was last retried"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the operation was created",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the operation status was last updated",
            "smithy.api#required": {}
          }
        },
        "total_duration_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total duration of the operation in milliseconds",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#OperationAction": {
      "type": "enum",
      "members": {
        "CREATE_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_compute"
          }
        },
        "CREATE_TIMELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_timeline"
          }
        },
        "START_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_compute"
          }
        },
        "SUSPEND_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspend_compute"
          }
        },
        "APPLY_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_config"
          }
        },
        "CHECK_AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check_availability"
          }
        },
        "DELETE_TIMELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_timeline"
          }
        },
        "CREATE_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create_branch"
          }
        },
        "IMPORT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import_data"
          }
        },
        "TENANT_IGNORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tenant_ignore"
          }
        },
        "TENANT_ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tenant_attach"
          }
        },
        "TENANT_DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tenant_detach"
          }
        },
        "TENANT_REATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tenant_reattach"
          }
        },
        "REPLACE_SAFEKEEPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replace_safekeeper"
          }
        },
        "DISABLE_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable_maintenance"
          }
        },
        "APPLY_STORAGE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_storage_config"
          }
        },
        "PREPARE_SECONDARY_PAGESERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prepare_secondary_pageserver"
          }
        },
        "SWITCH_PAGESERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "switch_pageserver"
          }
        },
        "DETACH_PARENT_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach_parent_branch"
          }
        },
        "TIMELINE_ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeline_archive"
          }
        },
        "TIMELINE_UNARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeline_unarchive"
          }
        },
        "START_RESERVED_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_reserved_compute"
          }
        },
        "SYNC_DBS_AND_ROLES_FROM_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sync_dbs_and_roles_from_compute"
          }
        },
        "APPLY_SCHEMA_FROM_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_schema_from_branch"
          }
        },
        "TIMELINE_MARK_INVISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeline_mark_invisible"
          }
        },
        "TIMELINE_UPDATE_PROTECTED_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeline_update_protected_config"
          }
        },
        "PREWARM_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prewarm_replica"
          }
        },
        "PROMOTE_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promote_replica"
          }
        },
        "SET_STORAGE_NON_DIRTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "set_storage_non_dirty"
          }
        },
        "SWAP_BINDING_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swap_binding_id"
          }
        },
        "FINALIZE_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finalize_migration"
          }
        },
        "MARK_MIGRATION_PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mark_migration_prepared"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action performed by the operation"
      }
    },
    "com.neon.api#OperationStatus": {
      "type": "enum",
      "members": {
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduling"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finished"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelling"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the operation"
      }
    },
    "com.neon.api#GetProjectOperation": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#GetProjectOperationRequest"
      },
      "output": {
        "target": "com.neon.api#OperationResponse"
      },
      "errors": [
        {
          "target": "com.neon.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{project_id}/operations/{operation_id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve operation details\n\nRetrieves details for the specified operation.\nAn operation is an action performed on a Neon project resource."
      }
    },
    "com.neon.api#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Specify the cursor value from the previous response to retrieve the next batch of projects."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Specify a value from 1 to 400 to limit number of projects in the response."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search by project `name` or `id`. You can specify partial `name` or `id` values to filter results."
          }
        },
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "org_id",
            "smithy.api#documentation": "Search for projects by `org_id`."
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "timeout",
            "smithy.api#documentation": "Specify an explicit timeout in milliseconds to limit response delay.\nAfter timing out, the incomplete list of project data fetched so far will be returned.\nProjects still being fetched when the timeout occurred are listed in the \"unavailable\" attribute of the response.\nIf not specified, an implicit implementation defined timeout is chosen with the same behaviour as above\n"
          }
        },
        "recoverable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "recoverable",
            "smithy.api#documentation": "Show only deleted projects within the recovery window.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#ProjectListItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID",
            "smithy.api#required": {}
          }
        },
        "platform_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud platform identifier. Currently, only AWS is supported, for which the identifier is `aws`.\n",
            "smithy.api#required": {}
          }
        },
        "region_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region identifier\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project name\n",
            "smithy.api#required": {}
          }
        },
        "provisioner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_endpoint_settings": {
          "target": "com.neon.api#DefaultEndpointSettings"
        },
        "settings": {
          "target": "com.neon.api#ProjectSettingsData"
        },
        "pg_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "proxy_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proxy host for the project. This value combines the `region_id`, the `platform_id`, and the Neon domain (`neon.tech`).\n",
            "smithy.api#required": {}
          }
        },
        "branch_logical_size_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The logical size limit for a branch. The value is in MiB.\n",
            "smithy.api#required": {}
          }
        },
        "branch_logical_size_limit_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The logical size limit for a branch. The value is in B.\n",
            "smithy.api#required": {}
          }
        },
        "store_passwords": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not passwords are stored for roles in the Neon project. Storing passwords facilitates access to Neon features that require authorization.\n",
            "smithy.api#required": {}
          }
        },
        "active_time": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Control plane observed endpoints of this project being active this amount of wall-clock time.\n",
            "smithy.api#required": {}
          }
        },
        "cpu_used_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use data from the getProject endpoint instead.\n",
            "smithy.api#required": {}
          }
        },
        "maintenance_starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when project maintenance begins. If set, the project is placed into maintenance mode at this time.\n"
          }
        },
        "creation_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project creation source\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the project was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the project was last updated\n",
            "smithy.api#required": {}
          }
        },
        "synthetic_storage_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current space occupied by the project in storage, in bytes. Synthetic storage size combines the logical data size and Write-Ahead Log (WAL) size for all branches in a project.\n"
          }
        },
        "quota_reset_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use `consumption_period_end` from the getProject endpoint instead.\nA timestamp indicating when the project quota resets\n"
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compute_last_active_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The most recent time when any endpoint of this project was active.\n\nOmitted when observed no activity for endpoints of this project.\n"
          }
        },
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization id if the project belongs to an organization.\nPermissions for the project will be given to organization members as defined by the organization admins.\nThe permissions of the project do not depend on the user that created the project if a project belongs to an organization.\n"
          }
        },
        "org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization name if the project belongs to an organization.\n"
          }
        },
        "history_retention_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds to retain the shared history for all branches in this project.\n"
          }
        },
        "hipaa_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when HIPAA was enabled for this project"
          }
        },
        "deleted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the project was deleted"
          }
        },
        "recoverable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating the project will be recoverable until this date and time."
          }
        },
        "effective_project_permission": {
          "target": "com.neon.api#ProjectPermissionLevel",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Essential data about the project. Full data is available at the getProject endpoint.\n"
      }
    },
    "com.neon.api#DefaultEndpointSettings": {
      "type": "structure",
      "members": {
        "pg_settings": {
          "target": "com.neon.api#PgSettingsData"
        },
        "pgbouncer_settings": {
          "target": "com.neon.api#PgbouncerSettingsData",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. PgBouncer settings for the compute endpoint. This field is deprecated and will be removed after 2026-06-20.\n"
          }
        },
        "autoscaling_limit_min_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum number of Compute Units. The minimum value is `0.25`.\nSee [Compute size and Autoscaling configuration](https://neon.com/docs/manage/endpoints#compute-size-and-autoscaling-configuration)\nfor more information.\n"
          }
        },
        "autoscaling_limit_max_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Compute Units. See [Compute size and Autoscaling configuration](https://neon.com/docs/manage/endpoints#compute-size-and-autoscaling-configuration)\nfor more information.\n"
          }
        },
        "suspend_timeout_seconds": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of settings for a Neon endpoint"
      }
    },
    "com.neon.api#PgSettingsData": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A raw representation of Postgres settings"
      }
    },
    "com.neon.api#PgbouncerSettingsData": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "DEPRECATED. A raw representation of PgBouncer settings. This schema is deprecated and will be removed after 2026-06-20.\n"
      }
    },
    "com.neon.api#ProjectSettingsData": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "com.neon.api#ProjectQuota"
        },
        "allowed_ips": {
          "target": "com.neon.api#AllowedIps"
        },
        "enable_logical_replication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sets wal_level=logical for all compute endpoints in this project.\nAll active endpoints will be suspended.\nOnce enabled, logical replication cannot be disabled.\n"
          }
        },
        "maintenance_window": {
          "target": "com.neon.api#MaintenanceWindow"
        },
        "block_public_connections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set, connections from the public internet\nare disallowed. This supersedes the AllowedIPs list.\nThis parameter is under active development and its semantics may change in the future.\n"
          }
        },
        "block_vpc_connections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set, connections using VPC endpoints are disallowed.\nThis parameter is under active development and its semantics may change in the future.\n"
          }
        },
        "audit_log_level": {
          "target": "com.neon.api#ProjectAuditLogLevel"
        },
        "hipaa": {
          "target": "smithy.api#Boolean"
        },
        "preload_libraries": {
          "target": "com.neon.api#PreloadLibraries"
        }
      },
      "traits": {}
    },
    "com.neon.api#ProjectQuota": {
      "type": "structure",
      "members": {
        "active_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount of wall-clock time allowed to be spent by the project's compute endpoints.\n"
          }
        },
        "compute_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount of CPU seconds allowed to be spent by the project's compute endpoints.\n"
          }
        },
        "written_data_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total amount of data written to all of a project's branches.\n"
          }
        },
        "data_transfer_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total amount of data transferred from all of a project's branches using the proxy.\n"
          }
        },
        "logical_size_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit on the logical size of every project's branch.\n\nIf a branch exceeds its `logical_size_bytes` quota, computes can still be started,\nbut write operations will fail—allowing data to be deleted to free up space.\nComputes on other branches are not affected.\n\nSetting `logical_size_bytes` overrides any lower value set by the `neon.max_cluster_size` Postgres setting.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-project consumption quotas. If a quota is exceeded, all active computes\nare automatically suspended and cannot be started via API calls or incoming connections.\n\nThe exception is `logical_size_bytes`, which is enforced per branch.\nIf a branch exceeds its `logical_size_bytes` quota, computes can still be started,\nbut write operations will fail—allowing data to be deleted to free up space.\nComputes on other branches are not affected.\n\nSetting `logical_size_bytes` overrides any lower value set by the `neon.max_cluster_size` Postgres setting.\n\nQuotas are enforced using per-project consumption metrics with the same names.\nThese metrics reset at the start of each billing period. `logical_size_bytes`\nis also an exception—it reflects the total data stored in a branch and does not reset.\n\nA zero or empty quota value means “unlimited.”\n"
      }
    },
    "com.neon.api#AllowedIps": {
      "type": "structure",
      "members": {
        "ips": {
          "target": "com.neon.api#AllowedIpsIpsList",
          "traits": {
            "smithy.api#documentation": "A list of IP addresses that are allowed to connect to the endpoint."
          }
        },
        "protected_branches_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the list will be applied only to protected branches."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of IP addresses that are allowed to connect to the compute endpoint.\nIf the list is empty or not set, all IP addresses are allowed.\nIf protected_branches_only is true, the list will be applied only to protected branches.\n"
      }
    },
    "com.neon.api#AllowedIpsIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of IP addresses that are allowed to connect to the endpoint."
      }
    },
    "com.neon.api#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "weekdays": {
          "target": "com.neon.api#MaintenanceWindowWeekdaysList",
          "traits": {
            "smithy.api#documentation": "A list of weekdays when the maintenance window is active.\nEncoded as ints, where 1 - Monday, and 7 - Sunday.\n",
            "smithy.api#required": {}
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the maintenance window, in the format of \"HH:MM\". Uses UTC.\n",
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the maintenance window, in the format of \"HH:MM\". Uses UTC.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A maintenance window is a time period during which Neon may perform maintenance on the project's infrastructure.\nDuring this time, the project's compute endpoints may be unavailable and existing connections can be\ninterrupted.\n"
      }
    },
    "com.neon.api#MaintenanceWindowWeekdaysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "A list of weekdays when the maintenance window is active.\nEncoded as ints, where 1 - Monday, and 7 - Sunday.\n"
      }
    },
    "com.neon.api#ProjectAuditLogLevel": {
      "type": "enum",
      "members": {
        "BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base"
          }
        },
        "EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "extended"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#PreloadLibraries": {
      "type": "structure",
      "members": {
        "use_defaults": {
          "target": "smithy.api#Boolean"
        },
        "enabled_libraries": {
          "target": "com.neon.api#PreloadLibrariesEnabledLibrariesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The shared libraries to preload into the project's compute instances.\n"
      }
    },
    "com.neon.api#PreloadLibrariesEnabledLibrariesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.neon.api#ProjectPermissionLevel": {
      "type": "enum",
      "members": {
        "CAN_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAN_VIEW"
          }
        },
        "CAN_EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAN_EDIT"
          }
        },
        "CAN_MANAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAN_MANAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The caller's effective permission for a project when\nper-project permissions are enabled. Values correspond to viewer,\neditor, and admin/manage project access levels. Omitted for personal\nprojects, flag-off organizations, and non-user subjects.\n"
      }
    },
    "com.neon.api#ListProjectsResponseProjectsList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#ProjectListItem"
      },
      "traits": {}
    },
    "com.neon.api#ListProjectsResponseUnavailableProjectIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of project IDs indicating which projects are known to exist, but whose details could not\nbe fetched within the requested (or implicit) time limit\n"
      }
    },
    "com.neon.api#Pagination": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cursor based pagination is used. The user must pass the cursor as is to the backend.\nFor more information about cursor based pagination, see\nhttps://learn.microsoft.com/en-us/ef/core/querying/pagination#keyset-pagination\n"
      }
    },
    "com.neon.api#ApplicationType": {
      "type": "enum",
      "members": {
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "DATADOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datadog"
          }
        },
        "OPENTELEMETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opentelemetry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of application integration"
      }
    },
    "com.neon.api#ListProjectsResponseApplicationsValueList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#ApplicationType"
      },
      "traits": {}
    },
    "com.neon.api#ListProjectsResponseApplicationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.neon.api#ListProjectsResponseApplicationsValueList"
      },
      "traits": {}
    },
    "com.neon.api#ListProjectsResponseIntegrationsValueList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#ApplicationType"
      },
      "traits": {}
    },
    "com.neon.api#ListProjectsResponseIntegrationsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.neon.api#ListProjectsResponseIntegrationsValueList"
      },
      "traits": {}
    },
    "com.neon.api#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.neon.api#ListProjectsResponseProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unavailable_project_ids": {
          "target": "com.neon.api#ListProjectsResponseUnavailableProjectIdsList",
          "traits": {
            "smithy.api#documentation": "A list of project IDs indicating which projects are known to exist, but whose details could not\nbe fetched within the requested (or implicit) time limit\n"
          }
        },
        "pagination": {
          "target": "com.neon.api#Pagination"
        },
        "applications": {
          "target": "com.neon.api#ListProjectsResponseApplicationsMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrations": {
          "target": "com.neon.api#ListProjectsResponseIntegrationsMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.neon.api#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#ListProjectsRequest"
      },
      "output": {
        "target": "com.neon.api#ListProjectsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#documentation": "List projects\n\nRetrieves a list of projects for the specified organization.\nIf using a personal API key, include the `org_id` parameter to specify which organization to work with.\nIf using an org API key, `org_id` is automatically inferred from the key.\nFor more information, see [Manage organizations using the Neon API](https://neon.com/docs/manage/orgs-api)\nand [Manage projects](https://neon.com/docs/manage/projects/).",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.cursor",
          "items": "projects"
        }
      }
    },
    "com.neon.api#AnnotationValueData": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Annotation properties."
      }
    },
    "com.neon.api#CreateProjectRequestProjectBranch": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default branch name. If not specified, the default branch name, `main`, will be used.\n"
          }
        },
        "role_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role name. If not specified, the default role name, `{database_name}_owner`, will be used.\n"
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name. If not specified, the default database name, `neondb`, will be used.\n"
          }
        },
        "annotations": {
          "target": "com.neon.api#AnnotationValueData",
          "traits": {
            "smithy.api#documentation": "The annotations for the branch.\n"
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectRequestProject": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.neon.api#ProjectSettingsData"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project name. If not specified, the name will be identical to the generated project ID"
          }
        },
        "branch": {
          "target": "com.neon.api#CreateProjectRequestProjectBranch"
        },
        "autoscaling_limit_min_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "DEPRECATED, use default_endpoint_settings.autoscaling_limit_min_cu instead.\n\nThe minimum number of Compute Units. The minimum value is `0.25`.\nSee [Compute size and Autoscaling configuration](https://neon.com/docs/manage/endpoints#compute-size-and-autoscaling-configuration)\nfor more information.\n"
          }
        },
        "autoscaling_limit_max_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "DEPRECATED, use default_endpoint_settings.autoscaling_limit_max_cu instead.\n\nThe maximum number of Compute Units. See [Compute size and Autoscaling configuration](https://neon.com/docs/manage/endpoints#compute-size-and-autoscaling-configuration)\nfor more information.\n"
          }
        },
        "provisioner": {
          "target": "smithy.api#String"
        },
        "region_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region identifier. Refer to our [Regions](https://neon.com/docs/introduction/regions) documentation for supported regions. Values are specified in this format: `aws-us-east-1`\n"
          }
        },
        "default_endpoint_settings": {
          "target": "com.neon.api#DefaultEndpointSettings"
        },
        "pg_version": {
          "target": "smithy.api#Integer"
        },
        "store_passwords": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not passwords are stored for roles in the Neon project. Storing passwords facilitates access to Neon features that require authorization.\n"
          }
        },
        "history_retention_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds to retain the shared history for all branches in this project.\nThe default is 1 day (86400 seconds).\n"
          }
        },
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization id in case the project created belongs to an organization.\nIf not present, project is owned by a user and not by org.\n"
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.neon.api#CreateProjectRequestProject",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.neon.api#Project": {
      "type": "structure",
      "members": {
        "data_storage_bytes_hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes-Hour. Project consumed that much storage hourly during the billing period. The value has some lag.\nThe value is reset at the beginning of each billing period.\n",
            "smithy.api#required": {}
          }
        },
        "data_transfer_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes. Egress traffic from the Neon cloud to the client for given project over the billing period.\nIncludes deleted endpoints. The value has some lag. The value is reset at the beginning of each billing period.\n",
            "smithy.api#required": {}
          }
        },
        "written_data_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes. Amount of WAL that travelled through storage for given project across all branches.\nThe value has some lag. The value is reset at the beginning of each billing period.\n",
            "smithy.api#required": {}
          }
        },
        "compute_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds. The number of CPU seconds used by the project's compute endpoints, including compute endpoints that have been deleted.\nThe value has some lag. The value is reset at the beginning of each billing period.\nExamples:\n1. An endpoint that uses 1 CPU for 1 second is equal to `compute_time=1`.\n2. An endpoint that uses 2 CPUs simultaneously for 1 second is equal to `compute_time=2`.\n",
            "smithy.api#required": {}
          }
        },
        "active_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds. Control plane observed endpoints of this project being active this amount of wall-clock time.\nThe value has some lag.\nThe value is reset at the beginning of each billing period.\n",
            "smithy.api#required": {}
          }
        },
        "cpu_used_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "DEPRECATED, use compute_time instead.\n",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID",
            "smithy.api#required": {}
          }
        },
        "platform_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cloud platform identifier. Currently, only AWS is supported, for which the identifier is `aws`.\n",
            "smithy.api#required": {}
          }
        },
        "region_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region identifier\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project name\n",
            "smithy.api#required": {}
          }
        },
        "provisioner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "default_endpoint_settings": {
          "target": "com.neon.api#DefaultEndpointSettings"
        },
        "settings": {
          "target": "com.neon.api#ProjectSettingsData"
        },
        "pg_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "proxy_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The proxy host for the project. This value combines the `region_id`, the `platform_id`, and the Neon domain (`neon.tech`).\n",
            "smithy.api#required": {}
          }
        },
        "branch_logical_size_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The logical size limit for a branch. The value is in MiB.\n",
            "smithy.api#required": {}
          }
        },
        "branch_logical_size_limit_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The logical size limit for a branch. The value is in B.\n",
            "smithy.api#required": {}
          }
        },
        "store_passwords": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not passwords are stored for roles in the Neon project. Storing passwords facilitates access to Neon features that require authorization.\n",
            "smithy.api#required": {}
          }
        },
        "maintenance_starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when project maintenance begins. If set, the project is placed into maintenance mode at this time.\n"
          }
        },
        "creation_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project creation source\n",
            "smithy.api#required": {}
          }
        },
        "history_retention_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds to retain the shared history for all branches in this project.\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the project was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the project was last updated\n",
            "smithy.api#required": {}
          }
        },
        "synthetic_storage_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current space occupied by the project in storage, in bytes. Synthetic storage size combines the logical data size and Write-Ahead Log (WAL) size for all branches in a project.\n"
          }
        },
        "consumption_period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date-time indicating when Neon Cloud started measuring consumption for current consumption period.\n",
            "smithy.api#required": {}
          }
        },
        "consumption_period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date-time indicating when Neon Cloud plans to stop measuring consumption for current consumption period.\n",
            "smithy.api#required": {}
          }
        },
        "quota_reset_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use `consumption_period_end` from the getProject endpoint instead.\nA timestamp indicating when the project quota resets.\n"
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.neon.api#ProjectOwnerData"
        },
        "compute_last_active_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The most recent time when any endpoint of this project was active.\n\nOmitted when observed no activity for endpoints of this project.\n"
          }
        },
        "org_id": {
          "target": "smithy.api#String"
        },
        "maintenance_scheduled_for": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when project update begins. If set, computes might experience a brief restart around this time.\n"
          }
        },
        "hipaa_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when HIPAA was enabled for this project"
          }
        },
        "effective_project_permission": {
          "target": "com.neon.api#ProjectPermissionLevel",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#ProjectOwnerData": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branches_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscription_type": {
          "target": "com.neon.api#BillingSubscriptionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#BillingSubscriptionType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "DIRECT_SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_sales"
          }
        },
        "DIRECT_SALES_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "direct_sales_v3"
          }
        },
        "AWS_MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws_marketplace"
          }
        },
        "FREE_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free_v2"
          }
        },
        "FREE_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free_v3"
          }
        },
        "LAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "launch"
          }
        },
        "LAUNCH_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "launch_v3"
          }
        },
        "SCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scale"
          }
        },
        "SCALE_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scale_v3"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "VERCEL_PG_LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel_pg_legacy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of subscription to Neon Cloud.\nNotice that for users without billing account this will be \"UNKNOWN\"\n"
      }
    },
    "com.neon.api#ConnectionDetails": {
      "type": "structure",
      "members": {
        "connection_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection URI is defined as specified here: [Connection URIs](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING-URIS)\nThe connection URI can be used to connect to a Postgres database with psql or defined in a DATABASE_URL environment variable.\nWhen creating a branch from a parent with more than one role or database, the response body does not include a connection URI.\n",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "connection_parameters": {
          "target": "com.neon.api#ConnectionParameters",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#ConnectionParameters": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name\n",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for the role\n",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role name\n",
            "smithy.api#required": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname\n",
            "smithy.api#required": {}
          }
        },
        "pooler_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pooler hostname\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectResponseConnectionUrisList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#ConnectionDetails"
      },
      "traits": {}
    },
    "com.neon.api#Role": {
      "type": "structure",
      "members": {
        "branch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the branch to which the role belongs\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role name\n",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role password\n",
            "smithy.api#sensitive": {}
          }
        },
        "protected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the role is system-protected\n"
          }
        },
        "authentication_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication method configured for this role. Valid options: `password`, `oauth`, `no_login`\n"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the role was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the role was last updated\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectResponseRolesList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#Role"
      },
      "traits": {}
    },
    "com.neon.api#Database": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The database ID\n",
            "smithy.api#required": {}
          }
        },
        "branch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the branch to which the database belongs\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name\n",
            "smithy.api#required": {}
          }
        },
        "owner_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of role that owns the database\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the database was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the database was last updated\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectResponseDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#Database"
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#Operation"
      },
      "traits": {}
    },
    "com.neon.api#Branch": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch ID. This value is generated when a branch is created. A `branch_id` value has a `br` prefix. For example: `br-small-term-683261`.\n",
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project to which the branch belongs\n",
            "smithy.api#required": {}
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `branch_id` of the parent branch\n"
          }
        },
        "parent_lsn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Log Sequence Number (LSN) on the parent branch from which this branch was created.\nWhen restoring a branch using the `POST /projects/{project_id}/branches/{branch_id}/restore` endpoint,\nthis value isn’t finalized until all operations related to the restore have completed successfully.\n"
          }
        },
        "parent_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The point in time on the parent branch from which this branch was created.\nWhen restoring a branch using the `POST /projects/{project_id}/branches/{branch_id}/restore` endpoint,\nthis value isn’t finalized until all operations related to the restore have completed successfully.\nAfter all the operations completed, this value might stay empty.\n"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch name\n",
            "smithy.api#required": {}
          }
        },
        "current_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pending_state": {
          "target": "smithy.api#String"
        },
        "state_changed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UTC timestamp indicating when the `current_state` began\n",
            "smithy.api#required": {}
          }
        },
        "logical_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The logical size of the branch, in bytes\n"
          }
        },
        "creation_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch creation source\n",
            "smithy.api#required": {}
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use `default` field.\nWhether the branch is the project's primary branch\n"
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the branch is the project's default branch\n",
            "smithy.api#required": {}
          }
        },
        "protected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the branch is protected\n",
            "smithy.api#required": {}
          }
        },
        "cpu_used_sec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU seconds used by all of the branch's compute endpoints, including deleted ones.\nThis value is reset at the beginning of each billing period.\nExamples:\n1. A branch that uses 1 CPU for 1 second is equal to `cpu_used_sec=1`.\n2. A branch that uses 2 CPUs simultaneously for 1 second is equal to `cpu_used_sec=2`.\n",
            "smithy.api#required": {}
          }
        },
        "compute_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "active_time_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "written_data_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data_transfer_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the branch was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the branch was last updated\n",
            "smithy.api#required": {}
          }
        },
        "ttl_interval_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The time-to-live (TTL) duration originally configured for the branch, in seconds. This read-only value represents the interval between the time `expires_at` was set and the expiration timestamp itself. It is preserved to ensure the same TTL duration is reapplied when resetting the branch from its parent, and only updates when a new `expires_at` value is set.\n\nAccess to this feature is currently limited to participants in the Early Access Program.\n"
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the branch is scheduled to expire and be automatically deleted. Must be set by the client following the [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6) format with precision up to seconds (such as 2025-06-09T18:02:16Z). Deletion is performed by a background job and may not occur exactly at the specified time.\n\nAccess to this feature is currently limited to participants in the Early Access Program.\n"
          }
        },
        "last_reset_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the branch was last reset\n"
          }
        },
        "created_by": {
          "target": "com.neon.api#BranchCreatedBy",
          "traits": {
            "smithy.api#documentation": "The resolved user model that contains details of the user/org/integration/api_key used for branch creation. This field is filled only in listing/get/create/get/update/delete methods, if it is empty when calling other handlers, it does not mean that it is empty in the system.\n"
          }
        },
        "init_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source of initialization for the branch. Valid values are `schema-only` and `parent-data` (default).\n  * `schema-only` - creates a new root branch containing only the schema. Use `parent_id` to specify the source branch. Optionally, you can provide `parent_lsn` or `parent_timestamp` to branch from a specific point in time or LSN. These fields define which branch to copy the schema from and at what point—they do not establish a parent-child relationship between the `parent_id` branch and the new schema-only branch.\n  * `parent-data` - creates the branch with both schema and data from the parent.\n"
          }
        },
        "restore_status": {
          "target": "smithy.api#String"
        },
        "restored_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the snapshot that was the restore source for this branch\n"
          }
        },
        "restored_as": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the target branch which was replaced when this branch was restored\n"
          }
        },
        "restricted_actions": {
          "target": "com.neon.api#BranchRestrictedActionsList",
          "traits": {
            "smithy.api#documentation": "A list of actions that are currently restricted for this branch and the reason why.\n"
          }
        },
        "recovery": {
          "target": "com.neon.api#BranchRecoveryInfo"
        }
      },
      "traits": {}
    },
    "com.neon.api#BranchCreatedBy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the user's avatar image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resolved user model that contains details of the user/org/integration/api_key used for branch creation. This field is filled only in listing/get/create/get/update/delete methods, if it is empty when calling other handlers, it does not mean that it is empty in the system.\n"
      }
    },
    "com.neon.api#BranchRestrictedAction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a restricted action. Possible values include `restore`, `delete-rw-endpoint`.\n",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable explanation of why the action is restricted.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action that is currently restricted for the branch and the reason why.\n"
      }
    },
    "com.neon.api#BranchRestrictedActionsList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#BranchRestrictedAction"
      },
      "traits": {
        "smithy.api#documentation": "A list of actions that are currently restricted for this branch and the reason why.\n"
      }
    },
    "com.neon.api#BranchRecoveryInfo": {
      "type": "structure",
      "members": {
        "deleted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the branch was deleted\n",
            "smithy.api#required": {}
          }
        },
        "recoverable_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the recovery window expires and the branch will be permanently deleted\n",
            "smithy.api#required": {}
          }
        },
        "deletion_method": {
          "target": "com.neon.api#BranchRecoveryInfoDeletionMethod",
          "traits": {
            "smithy.api#documentation": "How the branch was deleted: 'user' for manual deletion, 'ttl' for TTL expiration\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery information for a deleted branch. Only present when listing deleted branches\nwith `include_deleted=true`.\n\nThis is part of the Branch Recovery feature, which is in preview and not available to all users.\n"
      }
    },
    "com.neon.api#BranchRecoveryInfoDeletionMethod": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "TTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the branch was deleted: 'user' for manual deletion, 'ttl' for TTL expiration\n"
      }
    },
    "com.neon.api#Endpoint": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname of the compute endpoint. This is the hostname specified when connecting to a Neon database.\n",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compute endpoint ID. Compute endpoint IDs have an `ep-` prefix. For example: `ep-little-smoke-851426`\n",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name of the compute endpoint\n"
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project to which the compute endpoint belongs\n",
            "smithy.api#required": {}
          }
        },
        "branch_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the branch that the compute endpoint is associated with\n",
            "smithy.api#required": {}
          }
        },
        "autoscaling_limit_min_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The minimum number of Compute Units\n",
            "smithy.api#required": {}
          }
        },
        "autoscaling_limit_max_cu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of Compute Units\n",
            "smithy.api#required": {}
          }
        },
        "region_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region identifier\n",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.neon.api#EndpointType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_state": {
          "target": "com.neon.api#EndpointState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pending_state": {
          "target": "com.neon.api#EndpointState"
        },
        "settings": {
          "target": "com.neon.api#EndpointSettingsData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pooler_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Whether to enable connection pooling for the compute endpoint.\nThe recommended way to enable connection pooling is to append `-pooler` to the endpoint ID in the connection string.\nSee [How to use connection pooling](https://neon.com/docs/connect/connection-pooling#how-to-use-connection-pooling)\n",
            "smithy.api#required": {}
          }
        },
        "pooler_mode": {
          "target": "com.neon.api#EndpointPoolerMode",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. The connection pooler mode. This field is deprecated and will be removed after 2026-06-20.\n",
            "smithy.api#required": {}
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to restrict connections to the compute endpoint.\nEnabling this option schedules a suspend compute operation.\nA disabled compute endpoint cannot be enabled by a connection or\nconsole action.\n",
            "smithy.api#required": {}
          }
        },
        "passwordless_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to permit passwordless access to the compute endpoint\n",
            "smithy.api#required": {}
          }
        },
        "last_active": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the compute endpoint was last active\n"
          }
        },
        "creation_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compute endpoint creation source\n",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the compute endpoint was created\n",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the compute endpoint was last updated\n",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the compute endpoint was last started\n"
          }
        },
        "suspended_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the compute endpoint was last suspended\n"
          }
        },
        "proxy_host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use the \"host\" property instead.\n",
            "smithy.api#required": {}
          }
        },
        "suspend_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provisioner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compute_release_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attached compute's release version number.\n"
          }
        }
      },
      "traits": {}
    },
    "com.neon.api#EndpointType": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_only"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read_write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The compute endpoint type. Either `read_write` or `read_only`.\n"
      }
    },
    "com.neon.api#EndpointState": {
      "type": "enum",
      "members": {
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "init"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idle"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the compute endpoint\n"
      }
    },
    "com.neon.api#EndpointSettingsData": {
      "type": "structure",
      "members": {
        "pg_settings": {
          "target": "com.neon.api#PgSettingsData"
        },
        "pgbouncer_settings": {
          "target": "com.neon.api#PgbouncerSettingsData",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. PgBouncer settings for the compute endpoint. This field is deprecated and will be removed after 2026-06-20.\n"
          }
        },
        "preload_libraries": {
          "target": "com.neon.api#PreloadLibraries"
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of settings for a compute endpoint"
      }
    },
    "com.neon.api#EndpointPoolerMode": {
      "type": "enum",
      "members": {
        "TRANSACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transaction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DEPRECATED. The connection pooler mode. Neon supports PgBouncer in `transaction` mode only. This schema is deprecated and will be removed after 2026-06-20.\n"
      }
    },
    "com.neon.api#CreateProjectResponseEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.neon.api#Endpoint"
      },
      "traits": {}
    },
    "com.neon.api#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.neon.api#Project",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connection_uris": {
          "target": "com.neon.api#CreateProjectResponseConnectionUrisList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.neon.api#CreateProjectResponseRolesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "databases": {
          "target": "com.neon.api#CreateProjectResponseDatabasesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "operations": {
          "target": "com.neon.api#CreateProjectResponseOperationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "com.neon.api#Branch",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoints": {
          "target": "com.neon.api#CreateProjectResponseEndpointsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.neon.api#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.neon.api#CreateProjectRequest"
      },
      "output": {
        "target": "com.neon.api#CreateProjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#documentation": "Create project\n\nCreates a Neon project within an organization.\nIf using a personal API key, include the `org_id` parameter to specify which organization to create the project in.\nIf using an org API key, `org_id` is automatically inferred from the key.\nPlan limits define how many projects you can create.\nFor more information, see [Manage projects](https://neon.com/docs/manage/projects/).\n\nYou can specify a region and Postgres version in the request body.\nNeon currently supports PostgreSQL 14, 15, 16, 17, and 18.\nFor supported regions and `region_id` values, see [Regions](https://neon.com/docs/introduction/regions/)."
      }
    },
    "com.neon.api#ListSharedProjectsRequest": {
      "type": "structure",
      "members": {
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Specify the cursor value from the previous response to get the next batch of projects."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
