{
  "smithy": "2.0",
  "metadata": {
    "service": "accesscontextmanager",
    "version": "v1",
    "title": "Access Context Manager API",
    "baseUrl": "https://accesscontextmanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.accesscontextmanager_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressFrom": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.accesscontextmanager_v1#IngressSourceList",
          "traits": {
            "smithy.api#documentation": "Sources that this IngressPolicy authorizes access from."
          }
        },
        "identities": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of identities that are allowed access through [IngressPolicy]. Identities can be an individual user, service account, Google group, third-party identity, or agent identity. For the list of supported identity types, see https://docs.cloud.google.com/vpc-service-controls/docs/supported-identities."
          }
        },
        "identityType": {
          "target": "com.gcp.accesscontextmanager_v1#IngressFromIdentityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the type of identities that are allowed access from outside the perimeter. If left unspecified, then members of `identities` field will be allowed access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an IngressPolicy matches a request. Conditions are based on information about the source of the request. The request must satisfy what is defined in `sources` AND identity related fields in order to match."
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#IngressSource"
      }
    },
    "com.gcp.accesscontextmanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressFromIdentityTypeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_TYPE_UNSPECIFIED"
          }
        },
        "ANY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_IDENTITY"
          }
        },
        "ANY_USER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_USER_ACCOUNT"
          }
        },
        "ANY_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressPolicy": {
      "type": "structure",
      "members": {
        "egressTo": {
          "target": "com.gcp.accesscontextmanager_v1#EgressTo",
          "traits": {
            "smithy.api#documentation": "Defines the conditions on the ApiOperation and destination resources that cause this EgressPolicy to apply."
          }
        },
        "egressFrom": {
          "target": "com.gcp.accesscontextmanager_v1#EgressFrom",
          "traits": {
            "smithy.api#documentation": "Defines conditions on the source of a request causing this EgressPolicy to apply."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable title for the egress rule. The title must be unique within the perimeter and can not exceed 100 characters. Within the access policy, the combined length of all rule titles must not exceed 240,000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for egress from perimeter. EgressPolicies match requests based on `egress_from` and `egress_to` stanzas. For an EgressPolicy to match, both `egress_from` and `egress_to` stanzas must be matched. If an EgressPolicy matches a request, the request is allowed to span the ServicePerimeter boundary. For example, an EgressPolicy can be used to allow VMs on networks within the ServicePerimeter to access a defined set of projects outside the perimeter in certain contexts (e.g. to read data from a Cloud Storage bucket or query against a BigQuery dataset). EgressPolicies are concerned with the *resources* that a request relates as well as the API services and API actions being used. They do not related to the direction of data movement. More detailed documentation for this concept can be found in the descriptions of EgressFrom and EgressTo."
      }
    },
    "com.gcp.accesscontextmanager_v1#GcpUserAccessBinding": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Assigned by the server during creation. The last segment has an arbitrary length and has only URI unreserved characters (as defined by [RFC 3986 Section 2.3](https://tools.ietf.org/html/rfc3986#section-2.3)). Should not be specified by the client during creation. Example: \"organizations/256/gcpUserAccessBindings/b3-BhcX_Ud5N\""
          }
        },
        "restrictedClientApplications": {
          "target": "com.gcp.accesscontextmanager_v1#ApplicationList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of applications that are subject to this binding's restrictions. If the list is empty, the binding restrictions will universally apply to all applications."
          }
        },
        "sessionSettings": {
          "target": "com.gcp.accesscontextmanager_v1#SessionSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The Google Cloud session length (GCSL) policy for the group key."
          }
        },
        "groupKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Google Group id whose users are subject to this binding's restrictions. See \"id\" in the [Google Workspace Directory API's Group Resource] (https://developers.google.com/admin-sdk/directory/v1/reference/groups#resource). If a group's email address/alias is changed, this resource will continue to point at the changed group. This field does not accept group email addresses or aliases. Example: \"01d520gv4vjcrht\""
          }
        },
        "accessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Access level that a user must have to be granted access. Only one access level is supported, not multiple. This repeated field must have exactly one element. Example: \"accessPolicies/9522/accessLevels/device_trusted\""
          }
        },
        "dryRunAccessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Dry run access level that will be evaluated but will not be enforced. The access denial based on dry run policy will be logged. Only one access level is supported, not multiple. This list must have exactly one element. Example: \"accessPolicies/9522/accessLevels/device_trusted\""
          }
        },
        "scopedAccessSettings": {
          "target": "com.gcp.accesscontextmanager_v1#ScopedAccessSettingsList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of scoped access settings that set this binding's restrictions on a subset of applications. This field cannot be set if restricted_client_applications is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restricts access to Cloud Console and Google Cloud APIs for a set of users using Context-Aware Access."
      }
    },
    "com.gcp.accesscontextmanager_v1#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#Application"
      }
    },
    "com.gcp.accesscontextmanager_v1#ScopedAccessSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#ScopedAccessSettings"
      }
    },
    "com.gcp.accesscontextmanager_v1#Condition": {
      "type": "structure",
      "members": {
        "vpcNetworkSources": {
          "target": "com.gcp.accesscontextmanager_v1#VpcNetworkSourceList",
          "traits": {
            "smithy.api#documentation": "The request must originate from one of the provided VPC networks in Google Cloud. Cannot specify this field together with `ip_subnetworks`."
          }
        },
        "negate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to negate the Condition. If true, the Condition becomes a NAND over its non-empty fields. Any non-empty field criteria evaluating to false will result in the Condition to be satisfied. Defaults to false."
          }
        },
        "members": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The request must be made by one of the provided user or service accounts. Groups are not supported. Syntax: `user:{emailid}` `serviceAccount:{emailid}` If not specified, a request may come from any user."
          }
        },
        "devicePolicy": {
          "target": "com.gcp.accesscontextmanager_v1#DevicePolicy",
          "traits": {
            "smithy.api#documentation": "Device specific restrictions, all restrictions must hold for the Condition to be true. If not specified, all devices are allowed."
          }
        },
        "requiredAccessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of other access levels defined in the same `Policy`, referenced by resource name. Referencing an `AccessLevel` which does not exist is an error. All access levels listed must be granted for the Condition to be true. Example: \"`accessPolicies/MY_POLICY/accessLevels/LEVEL_NAME\"`"
          }
        },
        "ipSubnetworks": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for a CIDR IP address block, the specified IP address portion must be properly truncated (i.e. all the host bits must be zero) or the input is considered malformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is not. Similarly, for IPv6, \"2001:db8::/32\" is accepted whereas \"2001:db8::1/32\" is not. The originating IP of a request must be in one of the listed subnets in order for this Condition to be true. If empty, all IP addresses are allowed."
          }
        },
        "regions": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The request must originate from one of the provided countries/regions. Must be valid ISO 3166-1 alpha-2 codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition necessary for an `AccessLevel` to be granted. The Condition is an AND over its fields. So a Condition is true if: 1) the request IP is from one of the listed subnetworks AND 2) the originating device complies with the listed device policy AND 3) all listed access levels are granted AND 4) the request was sent at a time allowed by the DateTimeRestriction."
      }
    },
    "com.gcp.accesscontextmanager_v1#VpcNetworkSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#VpcNetworkSource"
      }
    },
    "com.gcp.accesscontextmanager_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.accesscontextmanager_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#AuditLogConfig"
      }
    },
    "com.gcp.accesscontextmanager_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.accesscontextmanager_v1#VpcSubNetwork": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network name. If the network is not part of the organization, the `compute.network.get` permission must be granted to the caller. Format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NETWORK_NAME}` Example: `//compute.googleapis.com/projects/my-project/global/networks/network-1`"
          }
        },
        "vpcIpSubnetworks": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "CIDR block IP subnetwork specification. The IP address must be an IPv4 address and can be a public or private IP address. Note that for a CIDR IP address block, the specified IP address portion must be properly truncated (i.e. all the host bits must be zero) or the input is considered malformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is not. If empty, all IP addresses are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sub-segment ranges inside of a VPC Network."
      }
    },
    "com.gcp.accesscontextmanager_v1#ServicePerimeterConfig": {
      "type": "structure",
      "members": {
        "egressPolicies": {
          "target": "com.gcp.accesscontextmanager_v1#EgressPolicyList",
          "traits": {
            "smithy.api#documentation": "List of EgressPolicies to apply to the perimeter. A perimeter may have multiple EgressPolicies, each of which is evaluated separately. Access is granted if any EgressPolicy grants it. Must be empty for a perimeter bridge."
          }
        },
        "vpcAccessibleServices": {
          "target": "com.gcp.accesscontextmanager_v1#VpcAccessibleServices",
          "traits": {
            "smithy.api#documentation": "Configuration for APIs allowed within Perimeter."
          }
        },
        "accessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of `AccessLevel` resource names that allow resources within the `ServicePerimeter` to be accessed from the internet. `AccessLevels` listed must be in the same policy as this `ServicePerimeter`. Referencing a nonexistent `AccessLevel` is a syntax error. If no `AccessLevel` names are listed, resources within the perimeter can only be accessed via Google Cloud calls with request origins within the perimeter. Example: `\"accessPolicies/MY_POLICY/accessLevels/MY_LEVEL\"`. For Service Perimeter Bridge, must be empty."
          }
        },
        "resources": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of Google Cloud resources that are inside of the service perimeter. Currently only projects and VPCs are allowed. Project format: `projects/{project_number}` VPC network format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NAME}`."
          }
        },
        "ingressPolicies": {
          "target": "com.gcp.accesscontextmanager_v1#IngressPolicyList",
          "traits": {
            "smithy.api#documentation": "List of IngressPolicies to apply to the perimeter. A perimeter may have multiple IngressPolicies, each of which is evaluated separately. Access is granted if any Ingress Policy grants it. Must be empty for a perimeter bridge."
          }
        },
        "restrictedServices": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Google Cloud services that are subject to the Service Perimeter restrictions. For example, if `storage.googleapis.com` is specified, access to the storage buckets inside the perimeter must meet the perimeter's access restrictions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ServicePerimeterConfig` specifies a set of Google Cloud resources that describe specific Service Perimeter configuration."
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#EgressPolicy"
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#IngressPolicy"
      }
    },
    "com.gcp.accesscontextmanager_v1#DevicePolicy": {
      "type": "structure",
      "members": {
        "allowedDeviceManagementLevels": {
          "target": "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedDeviceManagementLevelsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Allowed device management levels, an empty list allows all management levels."
          }
        },
        "requireScreenlock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not screenlock is required for the DevicePolicy to be true. Defaults to `false`."
          }
        },
        "requireAdminApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device needs to be approved by the customer admin."
          }
        },
        "requireCorpOwned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device needs to be corp owned."
          }
        },
        "allowedEncryptionStatuses": {
          "target": "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedEncryptionStatusesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Allowed encryptions statuses, an empty list allows all statuses."
          }
        },
        "osConstraints": {
          "target": "com.gcp.accesscontextmanager_v1#OsConstraintList",
          "traits": {
            "smithy.api#documentation": "Allowed OS versions, an empty list allows all types and all versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`DevicePolicy` specifies device specific restrictions necessary to acquire a given access level. A `DevicePolicy` specifies requirements for requests from devices to be granted access levels, it does not do any enforcement on the device. `DevicePolicy` acts as an AND over all specified fields, and each repeated field is an OR over its elements. Any unset fields are ignored. For example, if the proto is { os_type : DESKTOP_WINDOWS, os_type : DESKTOP_LINUX, encryption_status: ENCRYPTED}, then the DevicePolicy will be true for requests originating from encrypted Linux desktops and encrypted Windows desktops."
      }
    },
    "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedDeviceManagementLevelsItemEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedDeviceManagementLevelsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedDeviceManagementLevelsItemEnum"
      }
    },
    "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedEncryptionStatusesItemEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_UNSPECIFIED"
          }
        },
        "ENCRYPTION_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_UNSUPPORTED"
          }
        },
        "UNENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNENCRYPTED"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedEncryptionStatusesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#DevicePolicyAllowedEncryptionStatusesItemEnum"
      }
    },
    "com.gcp.accesscontextmanager_v1#OsConstraintList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#OsConstraint"
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressFrom": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.accesscontextmanager_v1#EgressSourceList",
          "traits": {
            "smithy.api#documentation": "Sources that this EgressPolicy authorizes access from. If this field is not empty, then `source_restriction` must be set to `SOURCE_RESTRICTION_ENABLED`."
          }
        },
        "sourceRestriction": {
          "target": "com.gcp.accesscontextmanager_v1#EgressFromSourceRestrictionEnum",
          "traits": {
            "smithy.api#documentation": "Whether to enforce traffic restrictions based on `sources` field. If the `sources` fields is non-empty, then this field must be set to `SOURCE_RESTRICTION_ENABLED`."
          }
        },
        "identities": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of identities that are allowed access through [EgressPolicy]. Identities can be an individual user, service account, Google group, third-party identity, or agent identity. For the list of supported identity types, see https://docs.cloud.google.com/vpc-service-controls/docs/supported-identities."
          }
        },
        "identityType": {
          "target": "com.gcp.accesscontextmanager_v1#EgressFromIdentityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies the type of identities that are allowed access to outside the perimeter. If left unspecified, then members of `identities` field will be allowed access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an EgressPolicy matches a request. Conditions based on information about the source of the request. Note that if the destination of the request is also protected by a ServicePerimeter, then that ServicePerimeter must have an IngressPolicy which allows access in order for this request to succeed."
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#EgressSource"
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressFromSourceRestrictionEnum": {
      "type": "enum",
      "members": {
        "SOURCE_RESTRICTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_UNSPECIFIED"
          }
        },
        "SOURCE_RESTRICTION_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_ENABLED"
          }
        },
        "SOURCE_RESTRICTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_RESTRICTION_DISABLED"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressFromIdentityTypeEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_TYPE_UNSPECIFIED"
          }
        },
        "ANY_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_IDENTITY"
          }
        },
        "ANY_USER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_USER_ACCOUNT"
          }
        },
        "ANY_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#ClientScope": {
      "type": "structure",
      "members": {
        "restrictedClientApplication": {
          "target": "com.gcp.accesscontextmanager_v1#Application",
          "traits": {
            "smithy.api#documentation": "Optional. The application that is subject to this binding's scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client scope represents the application, etc. subject to this binding's restrictions."
      }
    },
    "com.gcp.accesscontextmanager_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.accesscontextmanager_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.accesscontextmanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.accesscontextmanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#DocumentMap"
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressSource": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google Cloud resource from the service perimeter that you want to allow to access data outside the perimeter. This field supports only projects. The project format is `projects/{project_number}`. You can't use `*` in this field to allow all Google Cloud resources."
          }
        },
        "accessLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An AccessLevel resource name that allows protected resources inside the ServicePerimeters to access outside the ServicePerimeter boundaries. AccessLevels listed must be in the same policy as this ServicePerimeter. Referencing a nonexistent AccessLevel will cause an error. If an AccessLevel name is not specified, only resources within the perimeter can be accessed through Google Cloud calls with request origins within the perimeter. Example: `accessPolicies/MY_POLICY/accessLevels/MY_LEVEL`. If a single `*` is specified for `access_level`, then all EgressSources will be allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source that EgressPolicy authorizes access from inside the ServicePerimeter to somewhere outside the ServicePerimeter boundaries."
      }
    },
    "com.gcp.accesscontextmanager_v1#OsConstraint": {
      "type": "structure",
      "members": {
        "requireVerifiedChromeOs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Only allows requests from devices with a verified Chrome OS. Verifications includes requirements that the device is enterprise-managed, conformant to domain policies, and the caller has permission to call the API targeted by the request."
          }
        },
        "osType": {
          "target": "com.gcp.accesscontextmanager_v1#OsConstraintOsTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The allowed OS type."
          }
        },
        "minimumVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum allowed OS version. If not set, any version of this OS satisfies the constraint. Format: `\"major.minor.patch\"`. Examples: `\"10.5.301\"`, `\"9.2.1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction on the OS type and version of devices making requests."
      }
    },
    "com.gcp.accesscontextmanager_v1#OsConstraintOsTypeEnum": {
      "type": "enum",
      "members": {
        "OS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_UNSPECIFIED"
          }
        },
        "DESKTOP_MAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_MAC"
          }
        },
        "DESKTOP_WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_WINDOWS"
          }
        },
        "DESKTOP_LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_LINUX"
          }
        },
        "DESKTOP_CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP_CHROME_OS"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#ReplaceAccessLevelsResponse": {
      "type": "structure",
      "members": {
        "accessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#AccessLevelList",
          "traits": {
            "smithy.api#documentation": "List of the Access Level instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to ReplaceAccessLevelsRequest. This will be put inside of Operation.response field."
      }
    },
    "com.gcp.accesscontextmanager_v1#AccessLevelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#AccessLevel"
      }
    },
    "com.gcp.accesscontextmanager_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.accesscontextmanager_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.accesscontextmanager_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.accesscontextmanager_v1#VpcNetworkSource": {
      "type": "structure",
      "members": {
        "vpcSubnetwork": {
          "target": "com.gcp.accesscontextmanager_v1#VpcSubNetwork",
          "traits": {
            "smithy.api#documentation": "Sub-segment ranges of a VPC network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The originating network source in Google Cloud."
      }
    },
    "com.gcp.accesscontextmanager_v1#ServicePerimeter": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human readable title. Must be unique within the Policy."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the `ServicePerimeter`. Format: `accessPolicies/{access_policy}/servicePerimeters/{service_perimeter}`. The `service_perimeter` component must begin with a letter, followed by alphanumeric characters or `_`. After you create a `ServicePerimeter`, you cannot change its `name`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An opaque identifier for the current version of the `ServicePerimeter`. This identifier does not follow any specific format. If an etag is not provided, the operation will be performed as if a valid etag is provided."
          }
        },
        "perimeterType": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterPerimeterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Perimeter type indicator. A single project or VPC network is allowed to be a member of single regular perimeter, but multiple service perimeter bridges. A project cannot be a included in a perimeter bridge without being included in regular perimeter. For perimeter bridges, the restricted service list as well as access level lists must be empty."
          }
        },
        "useExplicitDryRunSpec": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Use explicit dry run spec flag. Ordinarily, a dry-run spec implicitly exists for all Service Perimeters, and that spec is identical to the status for those Service Perimeters. When this flag is set, it inhibits the generation of the implicit spec, thereby allowing the user to explicitly provide a configuration (\"spec\") to use in a dry-run version of the Service Perimeter. This allows the user to test changes to the enforced config (\"status\") without actually enforcing them. This testing is done through analyzing the differences between currently enforced and suggested restrictions. use_explicit_dry_run_spec must bet set to True if any of the fields in the spec are set to non-default values."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the `ServicePerimeter` and its use. Does not affect behavior."
          }
        },
        "status": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterConfig",
          "traits": {
            "smithy.api#documentation": "Current ServicePerimeter configuration. Specifies sets of resources, restricted services and access levels that determine perimeter content and boundaries."
          }
        },
        "spec": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterConfig",
          "traits": {
            "smithy.api#documentation": "Proposed (or dry run) ServicePerimeter configuration. This configuration allows to specify and test ServicePerimeter configuration without enforcing actual access restrictions. Only allowed to be set when the \"use_explicit_dry_run_spec\" flag is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ServicePerimeter` describes a set of Google Cloud resources which can freely import and export data amongst themselves, but not export outside of the `ServicePerimeter`. If a request with a source within this `ServicePerimeter` has a target outside of the `ServicePerimeter`, the request will be blocked. Otherwise the request is allowed. There are two types of Service Perimeter - Regular and Bridge. Regular Service Perimeters cannot overlap, a single Google Cloud project or VPC network can only belong to a single regular Service Perimeter. Service Perimeter Bridges can contain only Google Cloud projects as members, a single Google Cloud project may belong to multiple Service Perimeter Bridges."
      }
    },
    "com.gcp.accesscontextmanager_v1#ServicePerimeterPerimeterTypeEnum": {
      "type": "enum",
      "members": {
        "PERIMETER_TYPE_REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIMETER_TYPE_REGULAR"
          }
        },
        "PERIMETER_TYPE_BRIDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERIMETER_TYPE_BRIDGE"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#ListAccessPoliciesResponse": {
      "type": "structure",
      "members": {
        "accessPolicies": {
          "target": "com.gcp.accesscontextmanager_v1#AccessPolicyList",
          "traits": {
            "smithy.api#documentation": "List of the AccessPolicy instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ListAccessPoliciesRequest`."
      }
    },
    "com.gcp.accesscontextmanager_v1#AccessPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#AccessPolicy"
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressTo": {
      "type": "structure",
      "members": {
        "roles": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IAM roles that represent the set of operations that the sources specified in the corresponding IngressFrom are allowed to perform in this ServicePerimeter."
          }
        },
        "resources": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of resources, currently only projects in the form `projects/`, protected by this ServicePerimeter that are allowed to be accessed by sources defined in the corresponding IngressFrom. If a single `*` is specified, then access to all resources inside the perimeter are allowed."
          }
        },
        "operations": {
          "target": "com.gcp.accesscontextmanager_v1#ApiOperationList",
          "traits": {
            "smithy.api#documentation": "A list of ApiOperations allowed to be performed by the sources specified in corresponding IngressFrom in this ServicePerimeter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an IngressPolicy matches a request. Conditions are based on information about the ApiOperation intended to be performed on the target resource of the request. The request must satisfy what is defined in `operations` AND `resources` in order to match."
      }
    },
    "com.gcp.accesscontextmanager_v1#ApiOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#ApiOperation"
      }
    },
    "com.gcp.accesscontextmanager_v1#ReplaceServicePerimetersRequest": {
      "type": "structure",
      "members": {
        "servicePerimeters": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterList",
          "traits": {
            "smithy.api#documentation": "Required. The desired Service Perimeters that should replace all existing Service Perimeters in the Access Policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag for the version of the Access Policy that this replace operation is to be performed on. If, at the time of replace, the etag for the Access Policy stored in Access Context Manager is different from the specified etag, then the replace operation will not be performed and the call will fail. This field is not required. If etag is not provided, the operation will be performed as if a valid etag is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to replace all existing Service Perimeters in an Access Policy with the Service Perimeters provided. This is done atomically."
      }
    },
    "com.gcp.accesscontextmanager_v1#ServicePerimeterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#ServicePerimeter"
      }
    },
    "com.gcp.accesscontextmanager_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.accesscontextmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.accesscontextmanager_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.accesscontextmanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.accesscontextmanager_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.accesscontextmanager_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.accesscontextmanager_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#Operation"
      }
    },
    "com.gcp.accesscontextmanager_v1#ListGcpUserAccessBindingsResponse": {
      "type": "structure",
      "members": {
        "gcpUserAccessBindings": {
          "target": "com.gcp.accesscontextmanager_v1#GcpUserAccessBindingList",
          "traits": {
            "smithy.api#documentation": "GcpUserAccessBinding"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to get the next page of items. If blank, there are no more items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of ListGcpUserAccessBindings."
      }
    },
    "com.gcp.accesscontextmanager_v1#GcpUserAccessBindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#GcpUserAccessBinding"
      }
    },
    "com.gcp.accesscontextmanager_v1#ReplaceAccessLevelsRequest": {
      "type": "structure",
      "members": {
        "accessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#AccessLevelList",
          "traits": {
            "smithy.api#documentation": "Required. The desired Access Levels that should replace all existing Access Levels in the Access Policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag for the version of the Access Policy that this replace operation is to be performed on. If, at the time of replace, the etag for the Access Policy stored in Access Context Manager is different from the specified etag, then the replace operation will not be performed and the call will fail. This field is not required. If etag is not provided, the operation will be performed as if a valid etag is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to replace all existing Access Levels in an Access Policy with the Access Levels provided. This is done atomically."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDesc": {
      "type": "structure",
      "members": {
        "authorizationDirection": {
          "target": "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAuthorizationDirectionEnum",
          "traits": {
            "smithy.api#documentation": "The direction of the authorization relationship between this organization and the organizations listed in the `orgs` field. The valid values for this field include the following: `AUTHORIZATION_DIRECTION_FROM`: Allows this organization to evaluate traffic in the organizations listed in the `orgs` field. `AUTHORIZATION_DIRECTION_TO`: Allows the organizations listed in the `orgs` field to evaluate the traffic in this organization. For the authorization relationship to take effect, all of the organizations must authorize and specify the appropriate relationship direction. For example, if organization A authorized organization B and C to evaluate its traffic, by specifying `AUTHORIZATION_DIRECTION_TO` as the authorization direction, organizations B and C must specify `AUTHORIZATION_DIRECTION_FROM` as the authorization direction in their `AuthorizedOrgsDesc` resource."
          }
        },
        "orgs": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of organization ids in this AuthorizedOrgsDesc. Format: `organizations/` Example: `organizations/123456`"
          }
        },
        "assetType": {
          "target": "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAssetTypeEnum",
          "traits": {
            "smithy.api#documentation": "The asset type of this authorized orgs desc. Valid values are `ASSET_TYPE_DEVICE`, and `ASSET_TYPE_CREDENTIAL_STRENGTH`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the `AuthorizedOrgsDesc`. Format: `accessPolicies/{access_policy}/authorizedOrgsDescs/{authorized_orgs_desc}`. The `authorized_orgs_desc` component must begin with a letter, followed by alphanumeric characters or `_`. After you create an `AuthorizedOrgsDesc`, you cannot change its `name`."
          }
        },
        "authorizationType": {
          "target": "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAuthorizationTypeEnum",
          "traits": {
            "smithy.api#documentation": "A granular control type for authorization levels. Valid value is `AUTHORIZATION_TYPE_TRUST`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`AuthorizedOrgsDesc` contains data for an organization's authorization policy."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAuthorizationDirectionEnum": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_DIRECTION_UNSPECIFIED"
          }
        },
        "AUTHORIZATION_DIRECTION_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_DIRECTION_TO"
          }
        },
        "AUTHORIZATION_DIRECTION_FROM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_DIRECTION_FROM"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAssetTypeEnum": {
      "type": "enum",
      "members": {
        "ASSET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_UNSPECIFIED"
          }
        },
        "ASSET_TYPE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_DEVICE"
          }
        },
        "ASSET_TYPE_CREDENTIAL_STRENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_CREDENTIAL_STRENGTH"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescAuthorizationTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_TYPE_UNSPECIFIED"
          }
        },
        "AUTHORIZATION_TYPE_TRUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_TYPE_TRUST"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#ScopedAccessSettings": {
      "type": "structure",
      "members": {
        "activeSettings": {
          "target": "com.gcp.accesscontextmanager_v1#AccessSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Access settings for this scoped access settings. This field may be empty if dry_run_settings is set."
          }
        },
        "dryRunSettings": {
          "target": "com.gcp.accesscontextmanager_v1#AccessSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Dry-run access settings for this scoped access settings. This field may be empty if active_settings is set."
          }
        },
        "scope": {
          "target": "com.gcp.accesscontextmanager_v1#AccessScope",
          "traits": {
            "smithy.api#documentation": "Optional. Application, etc. to which the access settings will be applied to. Implicitly, this is the scoped access settings key; as such, it must be unique and non-empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A relationship between access settings and its scope."
      }
    },
    "com.gcp.accesscontextmanager_v1#AccessSettings": {
      "type": "structure",
      "members": {
        "accessLevels": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Access level that a user must have to be granted access. Only one access level is supported, not multiple. This repeated field must have exactly one element. Example: \"accessPolicies/9522/accessLevels/device_trusted\""
          }
        },
        "sessionSettings": {
          "target": "com.gcp.accesscontextmanager_v1#SessionSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Session settings applied to user access on a given AccessScope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access settings represent the set of conditions that must be met for access to be granted. At least one of the fields must be set."
      }
    },
    "com.gcp.accesscontextmanager_v1#GcpUserAccessBindingOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata of Google Cloud Access Binding Long Running Operations."
      }
    },
    "com.gcp.accesscontextmanager_v1#Application": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the application. Example: \"Cloud Console\""
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth client ID of the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An application that accesses Google Cloud APIs."
      }
    },
    "com.gcp.accesscontextmanager_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.accesscontextmanager_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.accesscontextmanager_v1#AccessContextManagerOperationMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Metadata of Access Context Manager's Long Running Operations."
      }
    },
    "com.gcp.accesscontextmanager_v1#ListServicePerimetersResponse": {
      "type": "structure",
      "members": {
        "servicePerimeters": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterList",
          "traits": {
            "smithy.api#documentation": "List of the Service Perimeter instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ListServicePerimetersRequest`."
      }
    },
    "com.gcp.accesscontextmanager_v1#CommitServicePerimetersRequest": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The etag for the version of the Access Policy that this commit operation is to be performed on. If, at the time of commit, the etag for the Access Policy stored in Access Context Manager is different from the specified etag, then the commit operation will not be performed and the call will fail. This field is not required. If etag is not provided, the operation will be performed as if a valid etag is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to commit dry-run specs in all Service Perimeters belonging to an Access Policy."
      }
    },
    "com.gcp.accesscontextmanager_v1#EgressTo": {
      "type": "structure",
      "members": {
        "roles": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IAM roles that represent the set of operations that the sources specified in the corresponding EgressFrom. are allowed to perform in this ServicePerimeter."
          }
        },
        "resources": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of resources, currently only projects in the form `projects/`, that are allowed to be accessed by sources defined in the corresponding EgressFrom. A request matches if it contains a resource in this list. If `*` is specified for `resources`, then this EgressTo rule will authorize access to all resources outside the perimeter."
          }
        },
        "operations": {
          "target": "com.gcp.accesscontextmanager_v1#ApiOperationList",
          "traits": {
            "smithy.api#documentation": "A list of ApiOperations allowed to be performed by the sources specified in the corresponding EgressFrom. A request matches if it uses an operation/service in this list."
          }
        },
        "externalResources": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of external resources that are allowed to be accessed. Only AWS and Azure resources are supported. For Amazon S3, the supported formats are s3://BUCKET_NAME, s3a://BUCKET_NAME, and s3n://BUCKET_NAME. For Azure Storage, the supported format is azure://myaccount.blob.core.windows.net/CONTAINER_NAME. A request matches if it contains an external resource in this list (Example: s3://bucket/path). Currently '*' is not allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the conditions under which an EgressPolicy matches a request. Conditions are based on information about the ApiOperation intended to be performed on the `resources` specified. Note that if the destination of the request is also protected by a ServicePerimeter, then that ServicePerimeter must have an IngressPolicy which allows access in order for this request to succeed. The request must match `operations` AND `resources` fields in order to be allowed egress out of the perimeter."
      }
    },
    "com.gcp.accesscontextmanager_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.accesscontextmanager_v1#CustomLevel": {
      "type": "structure",
      "members": {
        "expr": {
          "target": "com.gcp.accesscontextmanager_v1#Expr",
          "traits": {
            "smithy.api#documentation": "Required. A Cloud CEL expression evaluating to a boolean."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CustomLevel` is an `AccessLevel` using the Cloud Common Expression Language to represent the necessary conditions for the level to apply to a request. See CEL spec at: https://github.com/google/cel-spec"
      }
    },
    "com.gcp.accesscontextmanager_v1#ListAuthorizedOrgsDescsResponse": {
      "type": "structure",
      "members": {
        "authorizedOrgsDescs": {
          "target": "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescList",
          "traits": {
            "smithy.api#documentation": "List of all the Authorized Orgs Desc instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ListAuthorizedOrgsDescsRequest`."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDescList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#AuthorizedOrgsDesc"
      }
    },
    "com.gcp.accesscontextmanager_v1#MethodSelector": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid method name for the corresponding `service_name` in ApiOperation. If `*` is used as the value for the `method`, then ALL methods and permissions are allowed."
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid Cloud IAM permission for the corresponding `service_name` in ApiOperation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An allowed method or permission of a service specified in ApiOperation."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.accesscontextmanager_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.accesscontextmanager_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#AccessScope": {
      "type": "structure",
      "members": {
        "clientScope": {
          "target": "com.gcp.accesscontextmanager_v1#ClientScope",
          "traits": {
            "smithy.api#documentation": "Optional. Client scope for this access scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access scope represents the client scope, etc. to which the settings will be applied to."
      }
    },
    "com.gcp.accesscontextmanager_v1#ReplaceServicePerimetersResponse": {
      "type": "structure",
      "members": {
        "servicePerimeters": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterList",
          "traits": {
            "smithy.api#documentation": "List of the Service Perimeter instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to ReplaceServicePerimetersRequest. This will be put inside of Operation.response field."
      }
    },
    "com.gcp.accesscontextmanager_v1#BasicLevel": {
      "type": "structure",
      "members": {
        "conditions": {
          "target": "com.gcp.accesscontextmanager_v1#ConditionList",
          "traits": {
            "smithy.api#documentation": "Required. A list of requirements for the `AccessLevel` to be granted."
          }
        },
        "combiningFunction": {
          "target": "com.gcp.accesscontextmanager_v1#BasicLevelCombiningFunctionEnum",
          "traits": {
            "smithy.api#documentation": "How the `conditions` list should be combined to determine if a request is granted this `AccessLevel`. If AND is used, each `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. If OR is used, at least one `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. Default behavior is AND."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BasicLevel` is an `AccessLevel` using a set of recommended features."
      }
    },
    "com.gcp.accesscontextmanager_v1#ConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#Condition"
      }
    },
    "com.gcp.accesscontextmanager_v1#BasicLevelCombiningFunctionEnum": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#ApiOperation": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API whose methods or permissions the IngressPolicy or EgressPolicy want to allow. A single ApiOperation with `service_name` field set to `*` will allow all methods AND permissions for all services."
          }
        },
        "methodSelectors": {
          "target": "com.gcp.accesscontextmanager_v1#MethodSelectorList",
          "traits": {
            "smithy.api#documentation": "API methods or permissions to allow. Method or permission must belong to the service specified by `service_name` field. A single MethodSelector entry with `*` specified for the `method` field will allow all methods AND permissions for the service specified in `service_name`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identification for an API Operation."
      }
    },
    "com.gcp.accesscontextmanager_v1#MethodSelectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#MethodSelector"
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressSource": {
      "type": "structure",
      "members": {
        "accessLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An AccessLevel resource name that allow resources within the ServicePerimeters to be accessed from the internet. AccessLevels listed must be in the same policy as this ServicePerimeter. Referencing a nonexistent AccessLevel will cause an error. If no AccessLevel names are listed, resources within the perimeter can only be accessed via Google Cloud calls with request origins within the perimeter. Example: `accessPolicies/MY_POLICY/accessLevels/MY_LEVEL`. If a single `*` is specified for `access_level`, then all IngressSources will be allowed."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google Cloud resource that is allowed to ingress the perimeter. Requests from these resources will be allowed to access perimeter data. Currently only projects and VPCs are allowed. Project format: `projects/{project_number}` VPC network format: `//compute.googleapis.com/projects/{PROJECT_ID}/global/networks/{NAME}`. The project may be in any Google Cloud organization, not just the organization that the perimeter is defined in. `*` is not allowed, the case of allowing all Google Cloud resources only is not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source that IngressPolicy authorizes access from."
      }
    },
    "com.gcp.accesscontextmanager_v1#ListSupportedServicesResponse": {
      "type": "structure",
      "members": {
        "supportedServices": {
          "target": "com.gcp.accesscontextmanager_v1#SupportedServiceList",
          "traits": {
            "smithy.api#documentation": "List of services supported by VPC Service Controls instances."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this pagination token to retrieve the next page of results. An empty value indicates that no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ListSupportedServicesRequest`."
      }
    },
    "com.gcp.accesscontextmanager_v1#SupportedServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#SupportedService"
      }
    },
    "com.gcp.accesscontextmanager_v1#SessionSettings": {
      "type": "structure",
      "members": {
        "sessionReauthMethod": {
          "target": "com.gcp.accesscontextmanager_v1#SessionSettingsSessionReauthMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Session method when user's Google Cloud session is up."
          }
        },
        "maxInactivity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How long a user is allowed to take between actions before a new access token must be issued. Only set for Google Cloud apps."
          }
        },
        "sessionLengthEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field enables or disables Google Cloud session length. When false, all fields set above will be disregarded and the session length is basically infinite."
          }
        },
        "useOidcMaxAge": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Only useful for OIDC apps. When false, the OIDC max_age param, if passed in the authentication request will be ignored. When true, the re-auth period will be the minimum of the session_length field and the max_age OIDC param."
          }
        },
        "sessionLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The session length. Setting this field to zero is equal to disabling session. Also can set infinite session by flipping the enabled bit to false below. If use_oidc_max_age is true, for OIDC apps, the session length will be the minimum of this field and OIDC max_age param."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores settings related to Google Cloud Session Length including session duration, the type of challenge (i.e. method) they should face when their session expires, and other related settings."
      }
    },
    "com.gcp.accesscontextmanager_v1#SessionSettingsSessionReauthMethodEnum": {
      "type": "enum",
      "members": {
        "SESSION_REAUTH_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_REAUTH_METHOD_UNSPECIFIED"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN"
          }
        },
        "SECURITY_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_KEY"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSWORD"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.accesscontextmanager_v1#CommitServicePerimetersResponse": {
      "type": "structure",
      "members": {
        "servicePerimeters": {
          "target": "com.gcp.accesscontextmanager_v1#ServicePerimeterList",
          "traits": {
            "smithy.api#documentation": "List of all the Service Perimeter instances in the Access Policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to CommitServicePerimetersRequest. This will be put inside of Operation.response field."
      }
    },
    "com.gcp.accesscontextmanager_v1#SupportedService": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name or address of the supported service, such as `service.googleapis.com`."
          }
        },
        "availableOnRestrictedVip": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the service is available on the restricted VIP. Services on the restricted VIP typically either support VPC Service Controls or are core infrastructure services required for the functioning of Google Cloud."
          }
        },
        "supportedMethods": {
          "target": "com.gcp.accesscontextmanager_v1#MethodSelectorList",
          "traits": {
            "smithy.api#documentation": "The list of the supported methods. This field exists only in response to GetSupportedService"
          }
        },
        "knownLimitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the service is supported with some limitations. Check [documentation](https://cloud.google.com/vpc-service-controls/docs/supported-products) for details."
          }
        },
        "serviceSupportStage": {
          "target": "com.gcp.accesscontextmanager_v1#SupportedServiceServiceSupportStageEnum",
          "traits": {
            "smithy.api#documentation": "The support stage of the service."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the supported product, such as 'Cloud Product API'."
          }
        },
        "supportStage": {
          "target": "com.gcp.accesscontextmanager_v1#SupportedServiceSupportStageEnum",
          "traits": {
            "smithy.api#documentation": "The support stage of the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`SupportedService` specifies the VPC Service Controls and its properties."
      }
    },
    "com.gcp.accesscontextmanager_v1#SupportedServiceServiceSupportStageEnum": {
      "type": "enum",
      "members": {
        "SERVICE_SUPPORT_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_SUPPORT_STAGE_UNSPECIFIED"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#SupportedServiceSupportStageEnum": {
      "type": "enum",
      "members": {
        "LAUNCH_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_STAGE_UNSPECIFIED"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "PRELAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRELAUNCH"
          }
        },
        "EARLY_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_ACCESS"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHA"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETA"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        }
      }
    },
    "com.gcp.accesscontextmanager_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.accesscontextmanager_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.accesscontextmanager_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.accesscontextmanager_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#Binding"
      }
    },
    "com.gcp.accesscontextmanager_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accesscontextmanager_v1#AuditConfig"
      }
    },
    "com.gcp.accesscontextmanager_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.accesscontextmanager_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.accesscontextmanager_v1#ListSupportedPermissionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Use this pagination token to retrieve the next page of results. An empty value indicates that no further results are available."
          }
        },
        "supportedPermissions": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of VPC Service Controls supported permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to `ListSupportedPermissionsRequest`."
      }
    },
    "com.gcp.accesscontextmanager_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.accesscontextmanager_v1#VpcAccessibleServices": {
      "type": "structure",
      "members": {
        "allowedServices": {
          "target": "com.gcp.accesscontextmanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of APIs usable within the Service Perimeter. Must be empty unless 'enable_restriction' is True. You can specify a list of individual services, as well as include the 'RESTRICTED-SERVICES' value, which automatically includes all of the services protected by the perimeter."
          }
        },
        "enableRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to restrict API calls within the Service Perimeter to the list of APIs specified in 'allowed_services'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how APIs are allowed to communicate within the Service Perimeter."
      }
    },
    "com.gcp.accesscontextmanager_v1#IngressPolicy": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable title for the ingress rule. The title must be unique within the perimeter and can not exceed 100 characters. Within the access policy, the combined length of all rule titles must not exceed 240,000 characters."
          }
        },
        "ingressFrom": {
          "target": "com.gcp.accesscontextmanager_v1#IngressFrom",
          "traits": {
            "smithy.api#documentation": "Defines the conditions on the source of a request causing this IngressPolicy to apply."
          }
        },
        "ingressTo": {
[...]
