{
  "smithy": "2.0",
  "metadata": {
    "service": "accessapproval",
    "version": "v1",
    "title": "Access Approval API",
    "baseUrl": "https://accessapproval.googleapis.com/"
  },
  "shapes": {
    "com.gcp.accessapproval_v1#AccessReason": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.accessapproval_v1#AccessReasonTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of access reason."
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "More detail about certain reason types. See comments for each type above."
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#AccessReasonTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CUSTOMER_INITIATED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_INITIATED_SUPPORT"
          }
        },
        "GOOGLE_INITIATED_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_INITIATED_SERVICE"
          }
        },
        "GOOGLE_INITIATED_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_INITIATED_REVIEW"
          }
        },
        "THIRD_PARTY_DATA_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY_DATA_REQUEST"
          }
        },
        "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
          }
        },
        "CLOUD_INITIATED_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_INITIATED_ACCESS"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#AccessLocations": {
      "type": "structure",
      "members": {
        "principalOfficeCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The \"home office\" location of the Google administrator. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
          }
        },
        "principalPhysicalLocationCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Physical location of the Google administrator at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Physical assigned office and physical location of the Google administrator performing the access."
      }
    },
    "com.gcp.accessapproval_v1#ApproveDecision": {
      "type": "structure",
      "members": {
        "signatureInfo": {
          "target": "com.gcp.accessapproval_v1#SignatureInfo",
          "traits": {
            "smithy.api#documentation": "The signature for the ApprovalRequest and details on how it was signed."
          }
        },
        "invalidateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, denotes the timestamp at which the approval is invalidated."
          }
        },
        "approveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which approval was granted."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the approval expires."
          }
        },
        "policyApproved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the request has been approved by the customer's defined policy."
          }
        },
        "autoApproved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the request has been auto-approved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A decision that has been made to approve access to a resource."
      }
    },
    "com.gcp.accessapproval_v1#CustomerApprovalApprovalPolicy": {
      "type": "structure",
      "members": {
        "justificationBasedApprovalPolicy": {
          "target": "com.gcp.accessapproval_v1#CustomerApprovalApprovalPolicyJustificationBasedApprovalPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Policy for approval based on the justification given."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents all the policies that can be set for Customer Approval."
      }
    },
    "com.gcp.accessapproval_v1#CustomerApprovalApprovalPolicyJustificationBasedApprovalPolicyEnum": {
      "type": "enum",
      "members": {
        "JUSTIFICATION_BASED_APPROVAL_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_BASED_APPROVAL_POLICY_UNSPECIFIED"
          }
        },
        "JUSTIFICATION_BASED_APPROVAL_ENABLED_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_BASED_APPROVAL_ENABLED_ALL"
          }
        },
        "JUSTIFICATION_BASED_APPROVAL_ENABLED_EXTERNAL_JUSTIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_BASED_APPROVAL_ENABLED_EXTERNAL_JUSTIFICATIONS"
          }
        },
        "JUSTIFICATION_BASED_APPROVAL_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_BASED_APPROVAL_NOT_ENABLED"
          }
        },
        "JUSTIFICATION_BASED_APPROVAL_INHERITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUSTIFICATION_BASED_APPROVAL_INHERITED"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.accessapproval_v1#AugmentedInfo": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For command-line tools, the full command-line exactly as entered by the actor without adding any additional characters (such as quotation marks)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field contains the augmented information of the request. Requires augmented administrative access to be enabled."
      }
    },
    "com.gcp.accessapproval_v1#DismissApprovalRequestMessage": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to dismiss an approval request."
      }
    },
    "com.gcp.accessapproval_v1#InvalidateApprovalRequestMessage": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to invalidate an existing approval."
      }
    },
    "com.gcp.accessapproval_v1#ListApprovalRequestsResponse": {
      "type": "structure",
      "members": {
        "approvalRequests": {
          "target": "com.gcp.accessapproval_v1#ApprovalRequestList",
          "traits": {
            "smithy.api#documentation": "Approval request details."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to listing of ApprovalRequest objects."
      }
    },
    "com.gcp.accessapproval_v1#ApprovalRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      }
    },
    "com.gcp.accessapproval_v1#EnrolledService": {
      "type": "structure",
      "members": {
        "cloudProduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * Access Context Manager * Anthos Identity Service * AlloyDB for PostgreSQL * Apigee * Application Integration * App Hub * Artifact Registry * Anthos Service Mesh * Access Transparency * BigQuery * Certificate Authority Service * Cloud Bigtable * CCAI Assist and Knowledge * Cloud Dataflow * Cloud Dataproc * CEP Security Gateway * Compliance Evaluation Service * Cloud Firestore * Cloud Healthcare API * Chronicle * Cloud AI Companion Gateway - Titan * Google Cloud Armor * Cloud Asset Inventory * Cloud Asset Search * Cloud Deploy * Cloud DNS * Cloud Latency * Cloud Memorystore for Redis * CloudNet Control * Cloud Riptide * Cloud Tasks * Cloud Trace * Cloud Data Transfer * Cloud Composer * Integration Connectors * Contact Center AI Insights * Cloud Pub/Sub * Cloud Run * Resource Manager * Cloud Spanner * Database Center * Cloud Dataform * Cloud Data Fusion * Dataplex * Dialogflow Customer Experience Edition * Cloud DLP * Document AI * Edge Container * Edge Network * Cloud EKM * Eventarc * Firebase Data Connect * Firebase Rules * App Engine * Cloud Build * Compute Engine * Cloud Functions (2nd Gen) * Cloud Filestore * Cloud Interconnect * Cloud NetApp Volumes * Cloud Storage * Generative AI App Builder * Google Kubernetes Engine * Backup for GKE API * GKE Connect * GKE Hub * Hoverboard * Cloud HSM * Cloud Identity and Access Management * Cloud Identity-Aware Proxy * Infrastructure Manager * Identity Storage Service * Key Access Justifications * Cloud Key Management Service * Cloud Logging * Looker (Google Cloud core) * Looker Studio * Management Hub * Model Armor * Cloud Monitoring * Cloud NAT * Connectivity Hub * External passthrough Network Load Balancer * OIDC One * Organization Policy Service * Org Lifecycle * Persistent Disk * Parameter Manager * Private Services Access * Regional Internal Application Load Balancer * Storage Batch Operations * Cloud Security Command Center * Secure Source Manager * Seeker * Service Provisioning * Speaker ID * Secret Manager * Cloud SQL * Cloud Speech-to-Text * Traffic Director * Cloud Text-to-Speech * USPS Andromeda * Vertex AI * Virtual Private Cloud (VPC) * VPC Access * VPC Service Controls Troubleshooter * VPC virtnet * Cloud Workstations * Web Risk Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * artifactregistry.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dataproc.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * secretmanager.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services"
          }
        },
        "enrollmentLevel": {
          "target": "com.gcp.accessapproval_v1#EnrolledServiceEnrollmentLevelEnum",
          "traits": {
            "smithy.api#documentation": "The enrollment level of the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the enrollment of a cloud resource into a specific service."
      }
    },
    "com.gcp.accessapproval_v1#EnrolledServiceEnrollmentLevelEnum": {
      "type": "enum",
      "members": {
        "ENROLLMENT_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLLMENT_LEVEL_UNSPECIFIED"
          }
        },
        "BLOCK_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_ALL"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#SignatureInfo": {
      "type": "structure",
      "members": {
        "googlePublicKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key for the Google default signing, encoded in PEM format. The signature was created using a private key which may be verified using this public key."
          }
        },
        "customerKmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the customer CryptoKeyVersion used for signing."
          }
        },
        "googleKeyAlgorithm": {
          "target": "com.gcp.accessapproval_v1#SignatureInfoGoogleKeyAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "The hashing algorithm used for signature verification. It will only be present in the case of Google managed keys."
          }
        },
        "serializedApprovalRequest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ApprovalRequest that is serialized without the SignatureInfo message field. This data is used with the hashing algorithm to generate the digital signature, and it can be used for signature verification."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digital signature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the digital signature of the resource."
      }
    },
    "com.gcp.accessapproval_v1#SignatureInfoGoogleKeyAlgorithmEnum": {
      "type": "enum",
      "members": {
        "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "GOOGLE_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SYMMETRIC_ENCRYPTION"
          }
        },
        "AES_128_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_GCM"
          }
        },
        "AES_256_GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_GCM"
          }
        },
        "AES_128_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CBC"
          }
        },
        "AES_256_CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CBC"
          }
        },
        "AES_128_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128_CTR"
          }
        },
        "AES_256_CTR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256_CTR"
          }
        },
        "RSA_SIGN_PSS_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_2048_SHA256"
          }
        },
        "RSA_SIGN_PSS_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_3072_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA256"
          }
        },
        "RSA_SIGN_PSS_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PSS_4096_SHA512"
          }
        },
        "RSA_SIGN_PKCS1_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_2048_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_3072_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA256"
          }
        },
        "RSA_SIGN_PKCS1_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_PKCS1_4096_SHA512"
          }
        },
        "RSA_SIGN_RAW_PKCS1_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_2048"
          }
        },
        "RSA_SIGN_RAW_PKCS1_3072": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_3072"
          }
        },
        "RSA_SIGN_RAW_PKCS1_4096": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_SIGN_RAW_PKCS1_4096"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA256"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA512"
          }
        },
        "RSA_DECRYPT_OAEP_2048_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_2048_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_3072_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_3072_SHA1"
          }
        },
        "RSA_DECRYPT_OAEP_4096_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_DECRYPT_OAEP_4096_SHA1"
          }
        },
        "EC_SIGN_P256_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P256_SHA256"
          }
        },
        "EC_SIGN_P384_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_P384_SHA384"
          }
        },
        "EC_SIGN_SECP256K1_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_SECP256K1_SHA256"
          }
        },
        "EC_SIGN_ED25519": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC_SIGN_ED25519"
          }
        },
        "HMAC_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA256"
          }
        },
        "HMAC_SHA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA1"
          }
        },
        "HMAC_SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA384"
          }
        },
        "HMAC_SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA512"
          }
        },
        "HMAC_SHA224": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HMAC_SHA224"
          }
        },
        "EXTERNAL_SYMMETRIC_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_SYMMETRIC_ENCRYPTION"
          }
        },
        "ML_KEM_768": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_768"
          }
        },
        "ML_KEM_1024": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_KEM_1024"
          }
        },
        "KEM_XWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEM_XWING"
          }
        },
        "PQ_SIGN_ML_DSA_44": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44"
          }
        },
        "PQ_SIGN_ML_DSA_65": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65"
          }
        },
        "PQ_SIGN_ML_DSA_87": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87"
          }
        },
        "PQ_SIGN_SLH_DSA_SHA2_128S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_SLH_DSA_SHA2_128S"
          }
        },
        "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_HASH_SLH_DSA_SHA2_128S_SHA256"
          }
        },
        "PQ_SIGN_ML_DSA_44_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_44_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_65_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_65_EXTERNAL_MU"
          }
        },
        "PQ_SIGN_ML_DSA_87_EXTERNAL_MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PQ_SIGN_ML_DSA_87_EXTERNAL_MU"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ApprovalRequest": {
      "type": "structure",
      "members": {
        "requestedReason": {
          "target": "com.gcp.accessapproval_v1#AccessReason",
          "traits": {
            "smithy.api#documentation": "The access reason for which approval is being requested."
          }
        },
        "requestedDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested access duration."
          }
        },
        "requestedAugmentedInfo": {
          "target": "com.gcp.accessapproval_v1#AugmentedInfo",
          "traits": {
            "smithy.api#documentation": "This field contains the augmented information of the request."
          }
        },
        "requestedLocations": {
          "target": "com.gcp.accessapproval_v1#AccessLocations",
          "traits": {
            "smithy.api#documentation": "The locations for which approval is being requested."
          }
        },
        "requestedResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which approval was requested."
          }
        },
        "requestedResourceProperties": {
          "target": "com.gcp.accessapproval_v1#ResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties related to the resource represented by requested_resource_name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"."
          }
        },
        "requestedExpiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original requested expiration for the approval. Calculated by adding the requested_duration to the request_time."
          }
        },
        "dismiss": {
          "target": "com.gcp.accessapproval_v1#DismissDecision",
          "traits": {
            "smithy.api#documentation": "The request was dismissed."
          }
        },
        "approve": {
          "target": "com.gcp.accessapproval_v1#ApproveDecision",
          "traits": {
            "smithy.api#documentation": "Access was approved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for the customer to approve access to a resource."
      }
    },
    "com.gcp.accessapproval_v1#ResourceProperties": {
      "type": "structure",
      "members": {
        "excludesDescendants": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether an approval will exclude the descendants of the resource being requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties associated with the resource of the request."
      }
    },
    "com.gcp.accessapproval_v1#AccessApprovalSettings": {
      "type": "structure",
      "members": {
        "ancestorHasActiveKeyVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that an ancestor of this Project or Folder has set active_key_version (this field will always be unset for the organization since organizations do not have ancestors)."
          }
        },
        "effectiveApprovalPolicy": {
          "target": "com.gcp.accessapproval_v1#CustomerApprovalApprovalPolicy",
          "traits": {
            "smithy.api#documentation": "Output only. Effective policy applied for Access Approval, inclusive of inheritance."
          }
        },
        "enrolledServices": {
          "target": "com.gcp.accessapproval_v1#EnrolledServiceList",
          "traits": {
            "smithy.api#documentation": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded."
          }
        },
        "enrolledAncestor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
          }
        },
        "preferredRequestExpirationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Set the default access approval request expiration time. This value is able to be set directly by the customer at the time of approval, overriding this suggested value. We recommend setting this value to 30 days."
          }
        },
        "ancestorsEnrolledServices": {
          "target": "com.gcp.accessapproval_v1#EnrolledServiceList",
          "traits": {
            "smithy.api#documentation": "Output only. Field to differentiate ancestor enrolled services from locally enrolled services."
          }
        },
        "preferNoBroadApprovalRequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field is used to set a preference for granularity of an access approval request. If true, Google personnel will be asked to send resource-level requests when possible. If false, Google personnel will be asked to send requests at the project level."
          }
        },
        "notificationEmails": {
          "target": "com.gcp.accessapproval_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed."
          }
        },
        "activeKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asymmetric crypto key version to use for signing approval requests. Empty active_key_version indicates that a Google-managed key should be used for signing. This property will be ignored if set by an ancestor of this resource, and new non-empty values may not be set."
          }
        },
        "invalidKeyVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that there is some configuration issue with the active_key_version configured at this level in the resource hierarchy (e.g. it doesn't exist or the Access Approval service account doesn't have the correct permissions on it, etc.) This key version is not necessarily the effective key version at this level, as key versions are inherited top-down."
          }
        },
        "requestScopeMaxWidthPreference": {
          "target": "com.gcp.accessapproval_v1#AccessApprovalSettingsRequestScopeMaxWidthPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. A setting that indicates the maximum scope of an Access Approval request: either organization, folder, or project. Google administrators will be asked to send requests no broader than the configured scope."
          }
        },
        "notificationPubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A pubsub topic that notifications relating to access approval are published to. Notifications include pre-approved accesses."
          }
        },
        "requireCustomerVisibleJustification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When enabled, Google will only be able to send approval requests for access reasons with a customer accessible case ID in the reason detail. Also known as \"Require customer initiated support case justification\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
          }
        },
        "approvalPolicy": {
          "target": "com.gcp.accessapproval_v1#CustomerApprovalApprovalPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Policy configuration for Access Approval that sets the operating mode. The available policies are Transparency, Streamlined Support, and Approval Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings on a Project/Folder/Organization related to Access Approval."
      }
    },
    "com.gcp.accessapproval_v1#EnrolledServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.accessapproval_v1#EnrolledService"
      }
    },
    "com.gcp.accessapproval_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.accessapproval_v1#AccessApprovalSettingsRequestScopeMaxWidthPreferenceEnum": {
      "type": "enum",
      "members": {
        "REQUEST_SCOPE_MAX_WIDTH_PREFERENCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_SCOPE_MAX_WIDTH_PREFERENCE_UNSPECIFIED"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        },
        "FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLDER"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DismissDecision": {
      "type": "structure",
      "members": {
        "implicit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This field will be true if the ApprovalRequest was implicitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
          }
        },
        "dismissTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the approval request was dismissed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A decision that has been made to dismiss an approval request."
      }
    },
    "com.gcp.accessapproval_v1#ApproveApprovalRequestMessage": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time of this approval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to approve an ApprovalRequest."
      }
    },
    "com.gcp.accessapproval_v1#AccessApprovalServiceAccount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the Access Approval service account. Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\" * \"organizations/{organization}/serviceAccount\""
          }
        },
        "accountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access Approval service account related to a project/folder/organization."
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalSettings to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.accessapproval_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.accessapproval_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.accessapproval_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsFoldersRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent resource settings. To confirm the effective settings, call GetAccessApprovalSettings and verify effective setting is disabled."
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalServiceAccount to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetServiceAccountFoldersRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalServiceAccount"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests."
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetAccessApprovalSettingsFoldersRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the Access Approval settings associated with a project, folder, or organization."
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsFoldersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#AccessApprovalSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsFolders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsFoldersRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
      }
    },
    "com.gcp.accessapproval_v1#GetFoldersApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetFoldersApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetFoldersApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
      }
    },
    "com.gcp.accessapproval_v1#DismissFoldersApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to dismiss.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#DismissApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DismissFoldersApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DismissFoldersApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:dismiss"
        },
        "smithy.api#documentation": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval requests. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#ListFoldersApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ListFoldersApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ListFoldersApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ListApprovalRequestsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/approvalRequests"
        },
        "smithy.api#documentation": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveFoldersApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the approval request to approve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#ApproveApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveFoldersApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ApproveFoldersApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approve"
        },
        "smithy.api#documentation": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#InvalidateFoldersApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to invalidate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#InvalidateApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#InvalidateFoldersApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#InvalidateFoldersApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:invalidate"
        },
        "smithy.api#documentation": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access will remain granted. Returns FAILED_PRECONDITION if the request exists but is not in an approved state."
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsOrganizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetAccessApprovalSettingsOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the Access Approval settings associated with a project, folder, or organization."
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsOrganizationsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#AccessApprovalSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsOrganizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalSettings to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent resource settings. To confirm the effective settings, call GetAccessApprovalSettings and verify effective setting is disabled."
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountOrganizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalServiceAccount to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountOrganizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetServiceAccountOrganizationsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalServiceAccount"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests."
      }
    },
    "com.gcp.accessapproval_v1#DismissOrganizationsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to dismiss.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#DismissApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DismissOrganizationsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DismissOrganizationsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:dismiss"
        },
        "smithy.api#documentation": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval requests. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#GetOrganizationsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetOrganizationsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetOrganizationsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
      }
    },
    "com.gcp.accessapproval_v1#ListOrganizationsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ListOrganizationsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ListOrganizationsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ListApprovalRequestsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/approvalRequests"
        },
        "smithy.api#documentation": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveOrganizationsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the approval request to approve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#ApproveApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveOrganizationsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ApproveOrganizationsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approve"
        },
        "smithy.api#documentation": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#InvalidateOrganizationsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to invalidate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#InvalidateApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#InvalidateOrganizationsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#InvalidateOrganizationsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:invalidate"
        },
        "smithy.api#documentation": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access will remain granted. Returns FAILED_PRECONDITION if the request exists but is not in an approved state."
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalServiceAccount to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetServiceAccountProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetServiceAccountProjectsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalServiceAccount"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests."
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AccessApprovalSettings to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DeleteAccessApprovalSettingsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the resource. Access Approval may remain active based on parent resource settings. To confirm the effective settings, call GetAccessApprovalSettings and verify effective setting is disabled."
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#AccessApprovalSettings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#UpdateAccessApprovalSettingsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetAccessApprovalSettingsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetAccessApprovalSettingsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#AccessApprovalSettings"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the Access Approval settings associated with a project, folder, or organization."
      }
    },
    "com.gcp.accessapproval_v1#DismissProjectsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to dismiss.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#DismissApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#DismissProjectsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#DismissProjectsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:dismiss"
        },
        "smithy.api#documentation": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: When a request is dismissed, it is considered ignored. Dismissing a request does not prevent access granted by other Access Approval requests. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#GetProjectsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#GetProjectsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#GetProjectsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
      }
    },
    "com.gcp.accessapproval_v1#ListProjectsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying the page of results to return.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ListProjectsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ListProjectsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ListApprovalRequestsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/approvalRequests"
        },
        "smithy.api#documentation": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveProjectsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the approval request to approve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#ApproveApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#ApproveProjectsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#ApproveProjectsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:approve"
        },
        "smithy.api#documentation": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
      }
    },
    "com.gcp.accessapproval_v1#InvalidateProjectsApprovalRequestsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ApprovalRequest to invalidate.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.accessapproval_v1#InvalidateApprovalRequestMessage",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.accessapproval_v1#InvalidateProjectsApprovalRequests": {
      "type": "operation",
      "input": {
        "target": "com.gcp.accessapproval_v1#InvalidateProjectsApprovalRequestsRequest"
      },
      "output": {
        "target": "com.gcp.accessapproval_v1#ApprovalRequest"
      },
      "errors": [
        {
          "target": "com.gcp.accessapproval_v1#NotFound"
        },
        {
          "target": "com.gcp.accessapproval_v1#Forbidden"
        },
        {
          "target": "com.gcp.accessapproval_v1#BadRequest"
        },
        {
          "target": "com.gcp.accessapproval_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:invalidate"
        },
        "smithy.api#documentation": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This action revokes Google access based on this approval request. If the resource has other active approvals, access will remain granted. Returns FAILED_PRECONDITION if the request exists but is not in an approved state."
      }
    }
  }
}
