{
  "smithy": "2.0",
  "metadata": {
    "service": "adexchangebuyer2",
    "version": "v2beta1",
    "title": "Ad Exchange Buyer API II",
    "baseUrl": "https://adexchangebuyer.googleapis.com/"
  },
  "shapes": {
    "com.gcp.adexchangebuyer2_v2beta1#MobileApplicationTargeting": {
      "type": "structure",
      "members": {
        "firstPartyTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#FirstPartyMobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mobile application targeting settings."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#NativeContent": {
      "type": "structure",
      "members": {
        "advertiserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the advertiser or sponsor, to be displayed in the ad creative."
          }
        },
        "priceDisplayText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price of the promoted app including currency info."
          }
        },
        "clickTrackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for click tracking."
          }
        },
        "clickLinkUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL that the browser/SDK will load when the user clicks the ad."
          }
        },
        "appIcon": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Image",
          "traits": {
            "smithy.api#documentation": "The app icon, for app download ads."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A long description of the ad."
          }
        },
        "image": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Image",
          "traits": {
            "smithy.api#documentation": "A large image."
          }
        },
        "callToAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A label for the button that the user is supposed to click."
          }
        },
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short title for the ad."
          }
        },
        "storeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the app store to purchase/download the promoted app."
          }
        },
        "videoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to fetch a native video ad."
          }
        },
        "starRating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The app rating in the app store. Must be in the range [0-5]."
          }
        },
        "logo": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Image",
          "traits": {
            "smithy.api#documentation": "A smaller image, for the advertiser's logo."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Native content for a creative."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#MarketplaceTargeting": {
      "type": "structure",
      "members": {
        "geoTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Geo criteria IDs to be included/excluded."
          }
        },
        "technologyTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#TechnologyTargeting",
          "traits": {
            "smithy.api#documentation": "Technology targeting information, for example, operating system, device category."
          }
        },
        "inventorySizeTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#InventorySizeTargeting",
          "traits": {
            "smithy.api#documentation": "Inventory sizes to be included/excluded."
          }
        },
        "placementTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PlacementTargeting",
          "traits": {
            "smithy.api#documentation": "Placement targeting information, for example, URL, mobile applications."
          }
        },
        "videoTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#VideoTargeting",
          "traits": {
            "smithy.api#documentation": "Video targeting information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CalloutStatusRow": {
      "type": "structure",
      "members": {
        "rowDimensions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#RowDimensions",
          "traits": {
            "smithy.api#documentation": "The values of all dimensions associated with metric values in this row."
          }
        },
        "calloutStatusId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes)."
          }
        },
        "impressionCount": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions for which there was a bid request or bid response with the specified callout status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#RelativeDateRange": {
      "type": "structure",
      "members": {
        "offsetDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0."
          }
        },
        "durationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#FilteredBidCreativeRow": {
      "type": "structure",
      "members": {
        "creativeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the creative."
          }
        },
        "bidCount": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids with the specified creative."
          }
        },
        "rowDimensions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#RowDimensions",
          "traits": {
            "smithy.api#documentation": "The values of all dimensions associated with metric values in this row."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of filtered bids with the specified dimension values that have the specified creative."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#TimeInterval": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp marking the start of the range (inclusive) for which data is included."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp marking the end of the range (exclusive) for which data is included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An interval of time, with an absolute start and end."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#BidMetricsRow": {
      "type": "structure",
      "members": {
        "rowDimensions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#RowDimensions",
          "traits": {
            "smithy.api#documentation": "The values of all dimensions associated with metric values in this row."
          }
        },
        "impressionsWon": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids that won the auction."
          }
        },
        "reachedQueries": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids that won the auction and also won the mediation waterfall (if any)."
          }
        },
        "billedImpressions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids for which the buyer was billed. Also called valid impressions as invalid impressions are not billed."
          }
        },
        "measurableImpressions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View)."
          }
        },
        "bids": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids that Ad Exchange received from the buyer."
          }
        },
        "bidsInAuction": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids that were permitted to compete in the auction."
          }
        },
        "viewableImpressions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of bids for which the corresponding impression was viewable (as defined by Active View)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ImpressionMetricsRow": {
      "type": "structure",
      "members": {
        "inventoryMatches": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions that match the buyer's inventory pretargeting."
          }
        },
        "rowDimensions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#RowDimensions",
          "traits": {
            "smithy.api#documentation": "The values of all dimensions associated with metric values in this row."
          }
        },
        "availableImpressions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable."
          }
        },
        "bidRequests": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions for which Ad Exchange sent the buyer a bid request."
          }
        },
        "successfulResponses": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions for which the buyer successfully sent a response to Ad Exchange."
          }
        },
        "responsesWithBids": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListBidResponseErrorsResponse": {
      "type": "structure",
      "members": {
        "calloutStatusRows": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CalloutStatusRowList",
          "traits": {
            "smithy.api#documentation": "List of rows, with counts of bid responses aggregated by callout status."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListBidResponseErrorsRequest.pageToken field in the subsequent call to the bidResponseErrors.list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing all reasons that bid responses resulted in an error."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CalloutStatusRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#CalloutStatusRow"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CriteriaTargeting": {
      "type": "structure",
      "members": {
        "targetedCriteriaIds": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be included."
          }
        },
        "excludedCriteriaIds": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRow": {
      "type": "structure",
      "members": {
        "rowDimensions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#RowDimensions",
          "traits": {
            "smithy.api#documentation": "The values of all dimensions associated with metric values in this row."
          }
        },
        "impressionCount": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MetricValue",
          "traits": {
            "smithy.api#documentation": "The number of impressions for which there was a bid response with the specified status."
          }
        },
        "status": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRowStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status specifying why the bid responses were considered to have no applicable bids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRowStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "RESPONSES_WITHOUT_BIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSES_WITHOUT_BIDS"
          }
        },
        "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT"
          }
        },
        "RESPONSES_WITHOUT_BIDS_FOR_DEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#AdTechnologyProviders": {
      "type": "structure",
      "members": {
        "hasUnidentifiedProvider": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction."
          }
        },
        "detectedProviderIds": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detected ad technology provider information."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#Deal": {
      "type": "structure",
      "members": {
        "createProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product ID from which this deal was created. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "createProductRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Revision number of the product that the deal was created from. If present on create, and the server `product_revision` has advanced since the passed-in `create_product_revision`, an `ABORTED` error will be returned. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "webPropertyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The web property code for the seller copied over from the product."
          }
        },
        "availableStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
          }
        },
        "creativeRestrictions": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictions",
          "traits": {
            "smithy.api#documentation": "Output only. Restricitions about the creatives associated with the deal (for example, size) This is available for Programmatic Guaranteed/Preferred Deals in Ad Manager."
          }
        },
        "dealId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique deal ID for the deal (server-assigned)."
          }
        },
        "sellerContacts": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ContactInformationList",
          "traits": {
            "smithy.api#documentation": "Output only. Seller contact information for the deal."
          }
        },
        "creativePreApprovalPolicy": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealCreativePreApprovalPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the creative pre-approval policy."
          }
        },
        "isSetupComplete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True, if the buyside inventory setup is complete for this deal."
          }
        },
        "availableEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not required for Private Auction deals or Preferred Deals."
          }
        },
        "syndicationProduct": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealSyndicationProductEnum",
          "traits": {
            "smithy.api#documentation": "The syndication product associated with the deal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description for the deal terms."
          }
        },
        "creativeSafeFrameCompatibility": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealCreativeSafeFrameCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies whether the creative is safeFrame compatible."
          }
        },
        "buyerPrivateData": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PrivateData",
          "traits": {
            "smithy.api#documentation": "Buyer private data (hidden from seller)."
          }
        },
        "programmaticCreativeSource": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealProgrammaticCreativeSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by buyer."
          }
        },
        "targetingCriterion": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#TargetingCriteriaList",
          "traits": {
            "smithy.api#documentation": "The shared targeting visible to buyers and sellers. Each shared targeting entity is AND'd together."
          }
        },
        "dealTerms": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealTerms",
          "traits": {
            "smithy.api#documentation": "The negotiable terms of the deal."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of the deal creation."
          }
        },
        "dealServingMetadata": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealServingMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the serving status of this deal."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the deal was last updated."
          }
        },
        "externalDealId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The external deal ID assigned to this deal once the deal is finalized. This is the deal ID that shows up in serving/reporting etc."
          }
        },
        "proposalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the proposal that this deal is part of."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the deal."
          }
        },
        "targeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MarketplaceTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the subset of inventory targeted by the deal."
          }
        },
        "deliveryControl": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DeliveryControl",
          "traits": {
            "smithy.api#documentation": "The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deal represents a segment of inventory for displaying ads on. A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ContactInformationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#ContactInformation"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DealCreativePreApprovalPolicyEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED"
          }
        },
        "SELLER_PRE_APPROVAL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_PRE_APPROVAL_REQUIRED"
          }
        },
        "SELLER_PRE_APPROVAL_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DealSyndicationProductEnum": {
      "type": "enum",
      "members": {
        "SYNDICATION_PRODUCT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNDICATION_PRODUCT_UNSPECIFIED"
          }
        },
        "CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "GAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAMES"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DealCreativeSafeFrameCompatibilityEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED"
          }
        },
        "COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBLE"
          }
        },
        "INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DealProgrammaticCreativeSourceEnum": {
      "type": "enum",
      "members": {
        "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED"
          }
        },
        "ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER"
          }
        },
        "PUBLISHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#TargetingCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#TargetingCriteria"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#GuaranteedFixedPriceTerms": {
      "type": "structure",
      "members": {
        "reservationType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#GuaranteedFixedPriceTermsReservationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
          }
        },
        "guaranteedLooks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored."
          }
        },
        "fixedPrices": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PricePerBuyerList",
          "traits": {
            "smithy.api#documentation": "Fixed price for the specified buyer."
          }
        },
        "guaranteedImpressions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
          }
        },
        "minimumDailyLooks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
          }
        },
        "percentShareOfVoice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached."
          }
        },
        "impressionCap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Terms for Programmatic Guaranteed Deals."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#GuaranteedFixedPriceTermsReservationTypeEnum": {
      "type": "enum",
      "members": {
        "RESERVATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPONSORSHIP"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PricePerBuyerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#PricePerBuyer"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListClientsResponse": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ClientList",
          "traits": {
            "smithy.api#documentation": "The returned list of clients."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results."
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#Client"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#SecurityContext": {
      "type": "structure",
      "members": {
        "securities": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#SecurityContextSecuritiesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The security types in this context."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. A security context."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#SecurityContextSecuritiesItemEnum": {
      "type": "enum",
      "members": {
        "INSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSECURE"
          }
        },
        "SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#SecurityContextSecuritiesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#SecurityContextSecuritiesItemEnum"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictions": {
      "type": "structure",
      "members": {
        "creativeSpecifications": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSpecificationList"
        },
        "skippableAdType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictionsSkippableAdTypeEnum",
          "traits": {
            "smithy.api#documentation": "Skippable video ads allow viewers to skip ads after 5 seconds."
          }
        },
        "creativeFormat": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictionsCreativeFormatEnum",
          "traits": {
            "smithy.api#documentation": "The format of the environment that the creatives will be displayed in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSpecificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSpecification"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictionsSkippableAdTypeEnum": {
      "type": "enum",
      "members": {
        "SKIPPABLE_AD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE_AD_TYPE_UNSPECIFIED"
          }
        },
        "SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE"
          }
        },
        "INSTREAM_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM_SELECT"
          }
        },
        "NOT_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SKIPPABLE"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeRestrictionsCreativeFormatEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_UNSPECIFIED"
          }
        },
        "DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#Money": {
      "type": "structure",
      "members": {
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#TargetingValue": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value to include/exclude."
          }
        },
        "longValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The long value to include/exclude."
          }
        },
        "creativeSizeValue": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSize",
          "traits": {
            "smithy.api#documentation": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE"
          }
        },
        "dayPartTargetingValue": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DayPartTargeting",
          "traits": {
            "smithy.api#documentation": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A polymorphic targeting value used as part of Shared Targeting."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListBidResponsesWithoutBidsResponse": {
      "type": "structure",
      "members": {
        "bidResponseWithoutBidsStatusRows": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRowList",
          "traits": {
            "smithy.api#documentation": "List of rows, with counts of bid responses without bids aggregated by status."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing all reasons that bid responses were considered to have no applicable bids."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#BidResponseWithoutBidsStatusRow"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#UrlTargeting": {
      "type": "structure",
      "members": {
        "targetedUrls": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be included."
          }
        },
        "excludedUrls": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#OperatingSystemTargeting": {
      "type": "structure",
      "members": {
        "operatingSystemVersionCriteria": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating system versions to be included/excluded."
          }
        },
        "operatingSystemCriteria": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating systems to be included/excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting information for operating systems."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#RemoveDealAssociationRequest": {
      "type": "structure",
      "members": {
        "association": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeDealAssociation",
          "traits": {
            "smithy.api#documentation": "The association between a creative and a deal that should be removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request for removing the association between a deal and a creative."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSize": {
      "type": "structure",
      "members": {
        "skippableAdType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeSkippableAdTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO."
          }
        },
        "size": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Size",
          "traits": {
            "smithy.api#documentation": "For regular or video creative size type, specifies the size of the creative"
          }
        },
        "companionSizes": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#SizeList",
          "traits": {
            "smithy.api#documentation": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO"
          }
        },
        "nativeTemplate": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeNativeTemplateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE."
          }
        },
        "allowedFormats": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeAllowedFormatsItemEnumList",
          "traits": {
            "smithy.api#documentation": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video)."
          }
        },
        "creativeSizeType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeCreativeSizeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The creative size type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the size of the creative."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeSkippableAdTypeEnum": {
      "type": "enum",
      "members": {
        "SKIPPABLE_AD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE_AD_TYPE_UNSPECIFIED"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC"
          }
        },
        "INSTREAM_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM_SELECT"
          }
        },
        "NOT_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SKIPPABLE"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#SizeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#Size"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeNativeTemplateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_NATIVE_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_NATIVE_TEMPLATE"
          }
        },
        "NATIVE_CONTENT_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_CONTENT_AD"
          }
        },
        "NATIVE_APP_INSTALL_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_APP_INSTALL_AD"
          }
        },
        "NATIVE_VIDEO_CONTENT_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_VIDEO_CONTENT_AD"
          }
        },
        "NATIVE_VIDEO_APP_INSTALL_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_VIDEO_APP_INSTALL_AD"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeAllowedFormatsItemEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeAllowedFormatsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeAllowedFormatsItemEnum"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeSizeCreativeSizeTypeEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_SIZE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_SIZE_TYPE_UNSPECIFIED"
          }
        },
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#Image": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the image."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image width in pixels."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Image height in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListFilterSetsResponse": {
      "type": "structure",
      "members": {
        "filterSets": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#FilterSetList",
          "traits": {
            "smithy.api#documentation": "The filter sets belonging to the buyer."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing filter sets."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#FilterSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#FilterSet"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListNonBillableWinningBidsResponse": {
      "type": "structure",
      "members": {
        "nonBillableWinningBidStatusRows": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#NonBillableWinningBidStatusRowList",
          "traits": {
            "smithy.api#documentation": "List of rows, with counts of bids not billed aggregated by reason."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing all reasons for which a buyer was not billed for a winning bid."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#NonBillableWinningBidStatusRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#NonBillableWinningBidStatusRow"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#VideoContent": {
      "type": "structure",
      "members": {
        "videoVastXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard."
          }
        },
        "videoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to fetch a video ad."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video content for a creative."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListCreativesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results."
          }
        },
        "creatives": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#CreativeList",
          "traits": {
            "smithy.api#documentation": "The list of creatives."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing creatives."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#CreativeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#Creative"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DayPart": {
      "type": "structure",
      "members": {
        "dayOfWeek": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DayPartDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "The day of the week to target. If unspecified, applicable to all days."
          }
        },
        "startTime": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries."
          }
        },
        "endTime": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DayPartDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PublisherProfile": {
      "type": "structure",
      "members": {
        "audienceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description on the publisher's audience."
          }
        },
        "mobileApps": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PublisherProfileMobileApplicationList",
          "traits": {
            "smithy.api#documentation": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
          }
        },
        "programmaticDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "seller": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Seller",
          "traits": {
            "smithy.api#documentation": "Seller of the publisher profile."
          }
        },
        "buyerPitchStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
          }
        },
        "topHeadlines": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\"."
          }
        },
        "rateCardInfoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to a publisher rate card."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Overview of the publisher."
          }
        },
        "isParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the publisher profile."
          }
        },
        "mediaKitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to additional marketing and sales materials."
          }
        },
        "domains": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\"."
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
          }
        },
        "directDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "samplePageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to a sample content page."
          }
        },
        "googlePlusUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to publisher's Google+ page."
          }
        },
        "publisherProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for publisher profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PublisherProfileMobileApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#PublisherProfileMobileApplication"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#LocationContext": {
      "type": "structure",
      "members": {
        "geoCriteriaIds": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#IntegerList",
          "traits": {
            "smithy.api#documentation": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. The Geo criteria the restriction applies to."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ResumeProposalDealsRequest": {
      "type": "structure",
      "members": {
        "externalDealIds": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to resume (unpause) serving for already-finalized deals."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListPublisherProfilesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List pagination support"
          }
        },
        "publisherProfiles": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PublisherProfileList",
          "traits": {
            "smithy.api#documentation": "The list of matching publisher profiles."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for profiles visible to the buyer."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PublisherProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#PublisherProfile"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListCreativeStatusBreakdownByDetailResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results."
          }
        },
        "detailType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ListCreativeStatusBreakdownByDetailResponseDetailTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of detail that the detail IDs represent."
          }
        },
        "filteredBidDetailRows": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#FilteredBidDetailRowList",
          "traits": {
            "smithy.api#documentation": "List of rows, with counts of bids with a given creative status aggregated by detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing all details associated with a given filtered bid reason."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ListCreativeStatusBreakdownByDetailResponseDetailTypeEnum": {
      "type": "enum",
      "members": {
        "DETAIL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETAIL_TYPE_UNSPECIFIED"
          }
        },
        "CREATIVE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_ATTRIBUTE"
          }
        },
        "VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VENDOR"
          }
        },
        "SENSITIVE_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_CATEGORY"
          }
        },
        "PRODUCT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_CATEGORY"
          }
        },
        "DISAPPROVAL_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISAPPROVAL_REASON"
          }
        },
        "POLICY_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_TOPIC"
          }
        },
        "ATP_VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATP_VENDOR"
          }
        },
        "VENDOR_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VENDOR_DOMAIN"
          }
        },
        "GVL_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GVL_ID"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#FilteredBidDetailRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#FilteredBidDetailRow"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PlacementTargeting": {
      "type": "structure",
      "members": {
        "urlTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#UrlTargeting",
          "traits": {
            "smithy.api#documentation": "URLs to be included/excluded."
          }
        },
        "mobileApplicationTargeting": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#MobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ServingContext": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PlatformContext",
          "traits": {
            "smithy.api#documentation": "Matches impressions coming from a particular platform."
          }
        },
        "auctionType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#AuctionContext",
          "traits": {
            "smithy.api#documentation": "Matches impressions for a particular auction type."
          }
        },
        "appType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#AppContext",
          "traits": {
            "smithy.api#documentation": "Matches impressions for a particular app type."
          }
        },
        "location": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#LocationContext",
          "traits": {
            "smithy.api#documentation": "Matches impressions coming from users *or* publishers in a specific location."
          }
        },
        "all": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ServingContextAllEnum",
          "traits": {
            "smithy.api#documentation": "Matches all contexts."
          }
        },
        "securityType": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#SecurityContext",
          "traits": {
            "smithy.api#documentation": "Matches impressions for a particular security type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The serving context for this restriction."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ServingContextAllEnum": {
      "type": "enum",
      "members": {
        "SIMPLE_CONTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_CONTEXT"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PlatformContext": {
      "type": "structure",
      "members": {
        "platforms": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PlatformContextPlatformsItemEnumList",
          "traits": {
            "smithy.api#documentation": "The platforms this restriction applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. The type of platform the restriction applies to."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PlatformContextPlatformsItemEnum": {
      "type": "enum",
      "members": {
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESKTOP"
          }
        },
        "ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID"
          }
        },
        "IOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PlatformContextPlatformsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#PlatformContextPlatformsItemEnum"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#Disapproval": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DisapprovalReasonEnum",
          "traits": {
            "smithy.api#documentation": "The categorized reason for disapproval."
          }
        },
        "details": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional details about the reason for disapproval."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output only. The reason and details for a disapproval."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DisapprovalReasonEnum": {
      "type": "enum",
      "members": {
        "LENGTH_OF_IMAGE_ANIMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LENGTH_OF_IMAGE_ANIMATION"
          }
        },
        "BROKEN_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROKEN_URL"
          }
        },
        "MEDIA_NOT_FUNCTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_NOT_FUNCTIONAL"
          }
        },
        "INVALID_FOURTH_PARTY_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_FOURTH_PARTY_CALL"
          }
        },
        "INCORRECT_REMARKETING_DECLARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT_REMARKETING_DECLARATION"
          }
        },
        "LANDING_PAGE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDING_PAGE_ERROR"
          }
        },
        "AD_SIZE_DOES_NOT_MATCH_AD_SLOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SIZE_DOES_NOT_MATCH_AD_SLOT"
          }
        },
        "NO_BORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_BORDER"
          }
        },
        "FOURTH_PARTY_BROWSER_COOKIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTH_PARTY_BROWSER_COOKIES"
          }
        },
        "LSO_OBJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LSO_OBJECTS"
          }
        },
        "BLANK_CREATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLANK_CREATIVE"
          }
        },
        "DESTINATION_URLS_UNDECLARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_URLS_UNDECLARED"
          }
        },
        "PROBLEM_WITH_CLICK_MACRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROBLEM_WITH_CLICK_MACRO"
          }
        },
        "INCORRECT_AD_TECHNOLOGY_DECLARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT_AD_TECHNOLOGY_DECLARATION"
          }
        },
        "INCORRECT_DESTINATION_URL_DECLARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT_DESTINATION_URL_DECLARATION"
          }
        },
        "EXPANDABLE_INCORRECT_DIRECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDABLE_INCORRECT_DIRECTION"
          }
        },
        "EXPANDABLE_DIRECTION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDABLE_DIRECTION_NOT_SUPPORTED"
          }
        },
        "EXPANDABLE_INVALID_VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDABLE_INVALID_VENDOR"
          }
        },
        "EXPANDABLE_FUNCTIONALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDABLE_FUNCTIONALITY"
          }
        },
        "VIDEO_INVALID_VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_INVALID_VENDOR"
          }
        },
        "VIDEO_UNSUPPORTED_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_UNSUPPORTED_LENGTH"
          }
        },
        "VIDEO_UNSUPPORTED_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_UNSUPPORTED_FORMAT"
          }
        },
        "VIDEO_FUNCTIONALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_FUNCTIONALITY"
          }
        },
        "LANDING_PAGE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDING_PAGE_DISABLED"
          }
        },
        "MALWARE_SUSPECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALWARE_SUSPECTED"
          }
        },
        "ADULT_IMAGE_OR_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADULT_IMAGE_OR_VIDEO"
          }
        },
        "INACCURATE_AD_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACCURATE_AD_TEXT"
          }
        },
        "COUNTERFEIT_DESIGNER_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTERFEIT_DESIGNER_GOODS"
          }
        },
        "POP_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POP_UP"
          }
        },
        "INVALID_RTB_PROTOCOL_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_RTB_PROTOCOL_USAGE"
          }
        },
        "RAW_IP_ADDRESS_IN_SNIPPET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAW_IP_ADDRESS_IN_SNIPPET"
          }
        },
        "UNACCEPTABLE_CONTENT_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNACCEPTABLE_CONTENT_SOFTWARE"
          }
        },
        "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN"
          }
        },
        "UNDECLARED_FLASH_OBJECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDECLARED_FLASH_OBJECTS"
          }
        },
        "INVALID_SSL_DECLARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_SSL_DECLARATION"
          }
        },
        "DIRECT_DOWNLOAD_IN_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_DOWNLOAD_IN_AD"
          }
        },
        "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED"
          }
        },
        "DESTINATION_URL_SITE_NOT_CRAWLABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_URL_SITE_NOT_CRAWLABLE"
          }
        },
        "BAD_URL_LEGAL_DISAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_URL_LEGAL_DISAPPROVAL"
          }
        },
        "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED"
          }
        },
        "DYNAMIC_DNS_AT_DESTINATION_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_DNS_AT_DESTINATION_URL"
          }
        },
        "POOR_IMAGE_OR_VIDEO_QUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POOR_IMAGE_OR_VIDEO_QUALITY"
          }
        },
        "UNACCEPTABLE_IMAGE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNACCEPTABLE_IMAGE_CONTENT"
          }
        },
        "INCORRECT_IMAGE_LAYOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCORRECT_IMAGE_LAYOUT"
          }
        },
        "IRRELEVANT_IMAGE_OR_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRRELEVANT_IMAGE_OR_VIDEO"
          }
        },
        "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK"
          }
        },
        "MISLEADING_CLAIMS_IN_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISLEADING_CLAIMS_IN_AD"
          }
        },
        "RESTRICTED_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_PRODUCTS"
          }
        },
        "UNACCEPTABLE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNACCEPTABLE_CONTENT"
          }
        },
        "AUTOMATED_AD_CLICKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AD_CLICKING"
          }
        },
        "INVALID_URL_PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_URL_PROTOCOL"
          }
        },
        "UNDECLARED_RESTRICTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDECLARED_RESTRICTED_CONTENT"
          }
        },
        "INVALID_REMARKETING_LIST_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REMARKETING_LIST_USAGE"
          }
        },
        "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT"
          }
        },
        "CLICK_TO_DOWNLOAD_NOT_AN_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICK_TO_DOWNLOAD_NOT_AN_APP"
          }
        },
        "INACCURATE_REVIEW_EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACCURATE_REVIEW_EXTENSION"
          }
        },
        "SEXUALLY_EXPLICIT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEXUALLY_EXPLICIT_CONTENT"
          }
        },
        "GAINING_AN_UNFAIR_ADVANTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAINING_AN_UNFAIR_ADVANTAGE"
          }
        },
        "GAMING_THE_GOOGLE_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAMING_THE_GOOGLE_NETWORK"
          }
        },
        "DANGEROUS_PRODUCTS_KNIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_KNIVES"
          }
        },
        "DANGEROUS_PRODUCTS_EXPLOSIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_EXPLOSIVES"
          }
        },
        "DANGEROUS_PRODUCTS_GUNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_GUNS"
          }
        },
        "DANGEROUS_PRODUCTS_DRUGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_DRUGS"
          }
        },
        "DANGEROUS_PRODUCTS_TOBACCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_TOBACCO"
          }
        },
        "DANGEROUS_PRODUCTS_WEAPONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_PRODUCTS_WEAPONS"
          }
        },
        "UNCLEAR_OR_IRRELEVANT_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCLEAR_OR_IRRELEVANT_AD"
          }
        },
        "PROFESSIONAL_STANDARDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFESSIONAL_STANDARDS"
          }
        },
        "DYSFUNCTIONAL_PROMOTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYSFUNCTIONAL_PROMOTION"
          }
        },
        "INVALID_INTEREST_BASED_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_INTEREST_BASED_AD"
          }
        },
        "MISUSE_OF_PERSONAL_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISUSE_OF_PERSONAL_INFORMATION"
          }
        },
        "OMISSION_OF_RELEVANT_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OMISSION_OF_RELEVANT_INFORMATION"
          }
        },
        "UNAVAILABLE_PROMOTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE_PROMOTIONS"
          }
        },
        "MISLEADING_PROMOTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISLEADING_PROMOTIONS"
          }
        },
        "INAPPROPRIATE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INAPPROPRIATE_CONTENT"
          }
        },
        "SENSITIVE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_EVENTS"
          }
        },
        "SHOCKING_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOCKING_CONTENT"
          }
        },
        "ENABLING_DISHONEST_BEHAVIOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING_DISHONEST_BEHAVIOR"
          }
        },
        "TECHNICAL_REQUIREMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNICAL_REQUIREMENTS"
          }
        },
        "RESTRICTED_POLITICAL_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_POLITICAL_CONTENT"
          }
        },
        "UNSUPPORTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_CONTENT"
          }
        },
        "INVALID_BIDDING_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_BIDDING_METHOD"
          }
        },
        "VIDEO_TOO_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_TOO_LONG"
          }
        },
        "VIOLATES_JAPANESE_PHARMACY_LAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIOLATES_JAPANESE_PHARMACY_LAW"
          }
        },
        "UNACCREDITED_PET_PHARMACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNACCREDITED_PET_PHARMACY"
          }
        },
        "ABORTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTION"
          }
        },
        "CONTRACEPTIVES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRACEPTIVES"
          }
        },
        "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA"
          }
        },
        "KCDSP_REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KCDSP_REGISTRATION"
          }
        },
        "NOT_FAMILY_SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FAMILY_SAFE"
          }
        },
        "CLINICAL_TRIAL_RECRUITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLINICAL_TRIAL_RECRUITMENT"
          }
        },
        "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED"
          }
        },
        "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED"
          }
        },
        "PERSONAL_LOANS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONAL_LOANS"
          }
        },
        "UNSUPPORTED_FLASH_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_FLASH_CONTENT"
          }
        },
        "MISUSE_BY_OMID_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISUSE_BY_OMID_SCRIPT"
          }
        },
        "NON_WHITELISTED_OMID_VENDOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_WHITELISTED_OMID_VENDOR"
          }
        },
        "DESTINATION_EXPERIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_EXPERIENCE"
          }
        },
        "UNSUPPORTED_LANGUAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_LANGUAGE"
          }
        },
        "NON_SSL_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_SSL_COMPLIANT"
          }
        },
        "TEMPORARY_PAUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY_PAUSE"
          }
        },
        "BAIL_BONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAIL_BONDS"
          }
        },
        "EXPERIMENTAL_MEDICAL_TREATMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPERIMENTAL_MEDICAL_TREATMENT"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#PauseProposalRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to pause serving for an already-finalized proposal."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#Proposal": {
      "type": "structure",
      "members": {
        "isRenegotiating": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the proposal is being renegotiated."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the proposal was last revised."
          }
        },
        "notes": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#NoteList",
          "traits": {
            "smithy.api#documentation": "Output only. The notes associated with this proposal."
          }
        },
        "termsAndConditions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The terms and conditions set by the publisher for this proposal."
          }
        },
        "seller": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Seller",
          "traits": {
            "smithy.api#documentation": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "proposalState": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ProposalProposalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the proposal."
          }
        },
        "sellerContacts": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ContactInformationList",
          "traits": {
            "smithy.api#documentation": "Output only. Contact information for the seller."
          }
        },
        "lastUpdaterOrCommentorRole": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ProposalLastUpdaterOrCommentorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role of the last user that either updated the proposal or left a comment."
          }
        },
        "buyerPrivateData": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#PrivateData",
          "traits": {
            "smithy.api#documentation": "Private data for buyer. (hidden from seller)."
          }
        },
        "originatorRole": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ProposalOriginatorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the buyer/seller created the proposal."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for the proposal."
          }
        },
        "proposalRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
          }
        },
        "buyerContacts": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#ContactInformationList",
          "traits": {
            "smithy.api#documentation": "Contact information for the buyer."
          }
        },
        "deals": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#DealList",
          "traits": {
            "smithy.api#documentation": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal."
          }
        },
        "privateAuctionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Private auction ID if this proposal is a private auction proposal."
          }
        },
        "proposalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the proposal."
          }
        },
        "billedBuyer": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Buyer",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to the buyer that will get billed for this proposal."
          }
        },
        "buyer": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#Buyer",
          "traits": {
            "smithy.api#documentation": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "isSetupComplete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True, if the buyside inventory setup is complete for this proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise."
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#NoteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#Note"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ProposalProposalStateEnum": {
      "type": "enum",
      "members": {
        "PROPOSAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPOSAL_STATE_UNSPECIFIED"
          }
        },
        "PROPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPOSED"
          }
        },
        "BUYER_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_ACCEPTED"
          }
        },
        "SELLER_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_ACCEPTED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZED"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ProposalLastUpdaterOrCommentorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#ProposalOriginatorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#DealList": {
      "type": "list",
      "member": {
        "target": "com.gcp.adexchangebuyer2_v2beta1#Deal"
      }
    },
    "com.gcp.adexchangebuyer2_v2beta1#RowDimensions": {
      "type": "structure",
      "members": {
        "timeInterval": {
          "target": "com.gcp.adexchangebuyer2_v2beta1#TimeInterval",
          "traits": {
[...]
