{
  "smithy": "2.0",
  "metadata": {
    "service": "advisorynotifications",
    "version": "v1",
    "title": "Advisory Notifications API",
    "baseUrl": "https://advisorynotifications.googleapis.com/"
  },
  "shapes": {
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Csv": {
      "type": "structure",
      "members": {
        "dataRows": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1CsvCsvRowList",
          "traits": {
            "smithy.api#documentation": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
          }
        },
        "headers": {
          "target": "com.gcp.advisorynotifications_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of headers for data columns in a CSV file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1CsvCsvRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1CsvCsvRow"
      }
    },
    "com.gcp.advisorynotifications_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1MessageBody": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Text",
          "traits": {
            "smithy.api#documentation": "The text content of the message body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message body containing text."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Attachment": {
      "type": "structure",
      "members": {
        "csv": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Csv",
          "traits": {
            "smithy.api#documentation": "A CSV file attachment. Max size is 10 MB."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attachment with specific information about the issue."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Subject": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Text",
          "traits": {
            "smithy.api#documentation": "The text content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subject line of a notification."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "type": "structure",
      "members": {
        "notifications": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationList",
          "traits": {
            "smithy.api#documentation": "List of notifications under a given parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimation of a total number of notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of ListNotifications endpoint."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Notification"
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Message": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Message creation timestamp."
          }
        },
        "attachments": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1AttachmentList",
          "traits": {
            "smithy.api#documentation": "The attachments to download."
          }
        },
        "body": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1MessageBody",
          "traits": {
            "smithy.api#documentation": "The message content."
          }
        },
        "localizationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when Message was localized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message which contains notification details."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1AttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Attachment"
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings."
          }
        },
        "notificationSettings": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Advisory Notifications."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationSettings"
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Notification": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the notification was created."
          }
        },
        "notificationType": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationNotificationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of notification"
          }
        },
        "messages": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1MessageList",
          "traits": {
            "smithy.api#documentation": "A list of messages in the notification."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."
          }
        },
        "subject": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Subject",
          "traits": {
            "smithy.api#documentation": "The subject line of the notification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification object for notifying customers about security and privacy issues."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationNotificationTypeEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_TYPE_UNSPECIFIED"
          }
        },
        "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY"
          }
        },
        "NOTIFICATION_TYPE_SENSITIVE_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_TYPE_SENSITIVE_ACTIONS"
          }
        },
        "NOTIFICATION_TYPE_SECURITY_MSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_TYPE_SECURITY_MSA"
          }
        },
        "NOTIFICATION_TYPE_THREAT_HORIZONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_TYPE_THREAT_HORIZONS"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Message"
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Text": {
      "type": "structure",
      "members": {
        "localizedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested localized copy (if applicable)."
          }
        },
        "localizationState": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1TextLocalizationStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of the localization."
          }
        },
        "enText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The English copy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text object containing the English text and its localized copies."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1TextLocalizationStateEnum": {
      "type": "enum",
      "members": {
        "LOCALIZATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALIZATION_STATE_UNSPECIFIED"
          }
        },
        "LOCALIZATION_STATE_NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALIZATION_STATE_NOT_APPLICABLE"
          }
        },
        "LOCALIZATION_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALIZATION_STATE_PENDING"
          }
        },
        "LOCALIZATION_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCALIZATION_STATE_COMPLETED"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.advisorynotifications_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The data entries in a CSV file row, as a string array rather than a single comma-separated string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a single data row in a CSV file."
      }
    },
    "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the associated NotificationType is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for each NotificationType."
      }
    },
    "com.gcp.advisorynotifications_v1#GetSettingsOrganizationsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.advisorynotifications_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.advisorynotifications_v1#GetSettingsOrganizationsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#GetSettingsOrganizationsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Get notification settings."
      }
    },
    "com.gcp.advisorynotifications_v1#UpdateSettingsOrganizationsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.advisorynotifications_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.advisorynotifications_v1#UpdateSettingsOrganizationsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#UpdateSettingsOrganizationsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#BadRequest"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Update notification settings."
      }
    },
    "com.gcp.advisorynotifications_v1#ListOrganizationsLocationsNotificationsViewEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#ListOrganizationsLocationsNotificationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
            "smithy.api#httpQuery": "languageCode"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "view": {
          "target": "com.gcp.advisorynotifications_v1#ListOrganizationsLocationsNotificationsViewEnum",
          "traits": {
            "smithy.api#documentation": "Specifies which parts of the notification resource should be returned in the response.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#ListOrganizationsLocationsNotifications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#ListOrganizationsLocationsNotificationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/notifications"
        },
        "smithy.api#documentation": "Lists notifications under a given parent.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GetOrganizationsLocationsNotificationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
            "smithy.api#httpQuery": "languageCode"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GetOrganizationsLocationsNotifications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#GetOrganizationsLocationsNotificationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Notification"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a notification."
      }
    },
    "com.gcp.advisorynotifications_v1#GetSettingsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GetSettingsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#GetSettingsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Get notification settings."
      }
    },
    "com.gcp.advisorynotifications_v1#UpdateSettingsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#UpdateSettingsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#UpdateSettingsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Settings"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#BadRequest"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Update notification settings."
      }
    },
    "com.gcp.advisorynotifications_v1#GetProjectsLocationsNotificationsRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
            "smithy.api#httpQuery": "languageCode"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#GetProjectsLocationsNotifications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#GetProjectsLocationsNotificationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1Notification"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a notification."
      }
    },
    "com.gcp.advisorynotifications_v1#ListProjectsLocationsNotificationsViewEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#ListProjectsLocationsNotificationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "com.gcp.advisorynotifications_v1#ListProjectsLocationsNotificationsViewEnum",
          "traits": {
            "smithy.api#documentation": "Specifies which parts of the notification resource should be returned in the response.",
            "smithy.api#httpQuery": "view"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
            "smithy.api#httpQuery": "languageCode"
          }
        }
      }
    },
    "com.gcp.advisorynotifications_v1#ListProjectsLocationsNotifications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.advisorynotifications_v1#ListProjectsLocationsNotificationsRequest"
      },
      "output": {
        "target": "com.gcp.advisorynotifications_v1#GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.advisorynotifications_v1#NotFound"
        },
        {
          "target": "com.gcp.advisorynotifications_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/notifications"
        },
        "smithy.api#documentation": "Lists notifications under a given parent.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
