{
  "smithy": "2.0",
  "metadata": {
    "service": "alertcenter",
    "version": "v1beta1",
    "title": "Google Workspace Alert Center API",
    "baseUrl": "https://alertcenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.alertcenter_v1beta1#AlertMetadata": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
          }
        },
        "alertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The alert identifier."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the Google Workspace account of the customer."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this metadata was last updated."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user assigned to the alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alert metadata."
      }
    },
    "com.gcp.alertcenter_v1beta1#ClientSideEncryptionServiceUnavailable": {
      "type": "structure",
      "members": {
        "keyServiceError": {
          "target": "com.gcp.alertcenter_v1beta1#KeyServiceErrorList",
          "traits": {
            "smithy.api#documentation": "External key services impacted by an outage or misconfiguration."
          }
        },
        "idpError": {
          "target": "com.gcp.alertcenter_v1beta1#IdentityProviderErrorList",
          "traits": {
            "smithy.api#documentation": "Identity providers impacted by an outage or misconfiguration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts for client-side encryption outages."
      }
    },
    "com.gcp.alertcenter_v1beta1#KeyServiceErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#KeyServiceError"
      }
    },
    "com.gcp.alertcenter_v1beta1#IdentityProviderErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#IdentityProviderError"
      }
    },
    "com.gcp.alertcenter_v1beta1#ApnsCertificateExpirationInfo": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UID of the certificate."
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration date of the APNS certificate."
          }
        },
        "appleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts."
      }
    },
    "com.gcp.alertcenter_v1beta1#SupportTicket": {
      "type": "structure",
      "members": {
        "ticketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Support ticket ID"
          }
        },
        "ticketUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to support ticket"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Support ticket related to Access Approvals request"
      }
    },
    "com.gcp.alertcenter_v1beta1#SuspiciousActivity": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user this alert was created for."
          }
        },
        "events": {
          "target": "com.gcp.alertcenter_v1beta1#SuspiciousActivitySecurityDetailList",
          "traits": {
            "smithy.api#documentation": "Required. The list of security events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mobile suspicious activity alert. Derived from audit logs."
      }
    },
    "com.gcp.alertcenter_v1beta1#SuspiciousActivitySecurityDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#SuspiciousActivitySecurityDetail"
      }
    },
    "com.gcp.alertcenter_v1beta1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.alertcenter_v1beta1#ListAlertFeedbackResponse": {
      "type": "structure",
      "members": {
        "feedback": {
          "target": "com.gcp.alertcenter_v1beta1#AlertFeedbackList",
          "traits": {
            "smithy.api#documentation": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for an alert feedback listing request."
      }
    },
    "com.gcp.alertcenter_v1beta1#AlertFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#AlertFeedback"
      }
    },
    "com.gcp.alertcenter_v1beta1#PhishingSpike": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.alertcenter_v1beta1#GmailMessageInfoList",
          "traits": {
            "smithy.api#documentation": "The list of messages contained by this alert."
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the email originated from within the organization."
          }
        },
        "domainId": {
          "target": "com.gcp.alertcenter_v1beta1#DomainId",
          "traits": {
            "smithy.api#documentation": "The domain ID."
          }
        },
        "maliciousEntity": {
          "target": "com.gcp.alertcenter_v1beta1#MaliciousEntity",
          "traits": {
            "smithy.api#documentation": "The entity whose actions triggered a Gmail phishing alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead."
      }
    },
    "com.gcp.alertcenter_v1beta1#GmailMessageInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#GmailMessageInfo"
      }
    },
    "com.gcp.alertcenter_v1beta1#Notification": {
      "type": "structure",
      "members": {
        "cloudPubsubTopic": {
          "target": "com.gcp.alertcenter_v1beta1#CloudPubsubTopic",
          "traits": {
            "smithy.api#documentation": "A Google Cloud Pub/sub topic destination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications)."
      }
    },
    "com.gcp.alertcenter_v1beta1#GmailMessageInfo": {
      "type": "structure",
      "members": {
        "messageBodySnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The snippet of the message body text (only available for reported emails)."
          }
        },
        "subjectText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email subject text (only available for reported emails)."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the event related to this email."
          }
        },
        "md5HashSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MD5 Hash of email's subject (only available for reported emails)."
          }
        },
        "attachmentsSha256Hash": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The `SHA256` hash of email's attachment and all MIME parts."
          }
        },
        "md5HashMessageBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash of the message body text."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message ID."
          }
        },
        "recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recipient of this email."
          }
        },
        "sentTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sent time of the email."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a message in phishing spike alert."
      }
    },
    "com.gcp.alertcenter_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alertcenter_v1beta1#Entity": {
      "type": "structure",
      "members": {
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to a Security Investigation Tool search based on this entity, if available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of this entity, such as an email address, file ID, or device name."
          }
        },
        "values": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Extra values beyond name. The order of values should align with headers in EntityList."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Individual entity affected by, or related to, an alert."
      }
    },
    "com.gcp.alertcenter_v1beta1#PrimaryAdminChangedEvent": {
      "type": "structure",
      "members": {
        "previousAdminEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of person who was the primary admin before the action"
          }
        },
        "updatedAdminEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of person who is the primary admin after the action"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "domain in which actioned occurred"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder"
      }
    },
    "com.gcp.alertcenter_v1beta1#MaliciousEntity": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The header from display name."
          }
        },
        "fromHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sender email address."
          }
        },
        "entity": {
          "target": "com.gcp.alertcenter_v1beta1#User",
          "traits": {
            "smithy.api#documentation": "The actor who triggered a gmail phishing alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity whose actions triggered a Gmail phishing alert."
      }
    },
    "com.gcp.alertcenter_v1beta1#CsvRow": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The data entries in a CSV file row, as a string array rather than a single comma-separated string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a single data row in a CSV file."
      }
    },
    "com.gcp.alertcenter_v1beta1#LoginDetails": {
      "type": "structure",
      "members": {
        "loginTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the login action."
      }
    },
    "com.gcp.alertcenter_v1beta1#GoogleOperations": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed, freeform incident description."
          }
        },
        "attachmentData": {
          "target": "com.gcp.alertcenter_v1beta1#Attachment",
          "traits": {
            "smithy.api#documentation": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A one-line incident description."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
          }
        },
        "affectedUserEmails": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of emails which correspond to the users directly affected by the incident."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer domain for email template personalization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An incident reported by Google Operations for a Google Workspace application."
      }
    },
    "com.gcp.alertcenter_v1beta1#AppMakerSqlSetupNotification": {
      "type": "structure",
      "members": {
        "requestInfo": {
          "target": "com.gcp.alertcenter_v1beta1#RequestInfoList",
          "traits": {
            "smithy.api#documentation": "List of applications with requests for default SQL set up."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts from App Maker to notify admins to set up default SQL instance."
      }
    },
    "com.gcp.alertcenter_v1beta1#RequestInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#RequestInfo"
      }
    },
    "com.gcp.alertcenter_v1beta1#VoiceMisconfiguration": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.gcp.alertcenter_v1beta1#VoiceMisconfigurationEntityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the entity whose configuration is now invalid."
          }
        },
        "transferMisconfiguration": {
          "target": "com.gcp.alertcenter_v1beta1#TransferMisconfiguration",
          "traits": {
            "smithy.api#documentation": "Issue(s) with transferring or forwarding to an external entity."
          }
        },
        "fixUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link that the admin can follow to fix the issue."
          }
        },
        "entityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity whose configuration is now invalid."
          }
        },
        "voicemailMisconfiguration": {
          "target": "com.gcp.alertcenter_v1beta1#VoicemailMisconfiguration",
          "traits": {
            "smithy.api#documentation": "Issue(s) with sending to voicemail."
          }
        },
        "membersMisconfiguration": {
          "target": "com.gcp.alertcenter_v1beta1#TransferMisconfiguration",
          "traits": {
            "smithy.api#documentation": "Issue(s) with members of a ring group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted."
      }
    },
    "com.gcp.alertcenter_v1beta1#VoiceMisconfigurationEntityTypeEnum": {
      "type": "enum",
      "members": {
        "ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "AUTO_ATTENDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_ATTENDANT"
          }
        },
        "RING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RING_GROUP"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#TransferError": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.gcp.alertcenter_v1beta1#TransferErrorEntityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of entity being transferred to. For ring group members, this should always be USER."
          }
        },
        "invalidReason": {
          "target": "com.gcp.alertcenter_v1beta1#TransferErrorInvalidReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason for the error."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ring group or auto attendant ID. Not set for users."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User's email address. This may be unavailable if the entity was deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for an invalid transfer or forward."
      }
    },
    "com.gcp.alertcenter_v1beta1#TransferErrorEntityTypeEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_ENTITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_ENTITY_TYPE_UNSPECIFIED"
          }
        },
        "TRANSFER_AUTO_ATTENDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_AUTO_ATTENDANT"
          }
        },
        "TRANSFER_RING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_RING_GROUP"
          }
        },
        "TRANSFER_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_USER"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#TransferErrorInvalidReasonEnum": {
      "type": "enum",
      "members": {
        "TRANSFER_INVALID_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_INVALID_REASON_UNSPECIFIED"
          }
        },
        "TRANSFER_TARGET_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_TARGET_DELETED"
          }
        },
        "UNLICENSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLICENSED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "NO_PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_PHONE_NUMBER"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#ResourceInfo": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "RFC2822 message ID."
          }
        },
        "chatMessageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chat message ID."
          }
        },
        "chatAttachmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Chat attachment ID."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\"."
          }
        },
        "resourceTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the resource, for example email subject, or document title."
          }
        },
        "documentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Drive file ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proto that contains resource information."
      }
    },
    "com.gcp.alertcenter_v1beta1#PredefinedDetectorInfo": {
      "type": "structure",
      "members": {
        "detectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name that uniquely identifies the detector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detector provided by Google."
      }
    },
    "com.gcp.alertcenter_v1beta1#AlertFeedback": {
      "type": "structure",
      "members": {
        "alertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The alert identifier."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this feedback was created."
          }
        },
        "type": {
          "target": "com.gcp.alertcenter_v1beta1#AlertFeedbackTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the feedback."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the Google Workspace account of the customer."
          }
        },
        "feedbackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier for the feedback."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The email of the user that provided the feedback."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A customer feedback about an alert."
      }
    },
    "com.gcp.alertcenter_v1beta1#AlertFeedbackTypeEnum": {
      "type": "enum",
      "members": {
        "ALERT_FEEDBACK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT_FEEDBACK_TYPE_UNSPECIFIED"
          }
        },
        "NOT_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_USEFUL"
          }
        },
        "SOMEWHAT_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOMEWHAT_USEFUL"
          }
        },
        "VERY_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERY_USEFUL"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#ActionInfo": {
      "type": "structure",
      "members": {
        "evidenceLockerFilePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to the action."
      }
    },
    "com.gcp.alertcenter_v1beta1#User": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user."
      }
    },
    "com.gcp.alertcenter_v1beta1#Settings": {
      "type": "structure",
      "members": {
        "notifications": {
          "target": "com.gcp.alertcenter_v1beta1#NotificationList",
          "traits": {
            "smithy.api#documentation": "The list of notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-level settings."
      }
    },
    "com.gcp.alertcenter_v1beta1#NotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#Notification"
      }
    },
    "com.gcp.alertcenter_v1beta1#BatchUndeleteAlertsResponse": {
      "type": "structure",
      "members": {
        "successAlertIds": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The successful list of alert IDs."
          }
        },
        "failedAlertStatus": {
          "target": "com.gcp.alertcenter_v1beta1#StatusMap",
          "traits": {
            "smithy.api#documentation": "The status details for each failed `alert_id`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to batch undelete operation on alerts."
      }
    },
    "com.gcp.alertcenter_v1beta1#StatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.alertcenter_v1beta1#Status"
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleInfo": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name that uniquely identifies the rule."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided name of the rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proto that contains rule information."
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountWarning": {
      "type": "structure",
      "members": {
        "loginDetails": {
          "target": "com.gcp.alertcenter_v1beta1#LoginDetails",
          "traits": {
            "smithy.api#documentation": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email of the user that this event belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts for user account warning events."
      }
    },
    "com.gcp.alertcenter_v1beta1#MandatoryServiceAnnouncement": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One line summary of the announcement"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed, freeform text describing the announcement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products."
      }
    },
    "com.gcp.alertcenter_v1beta1#SuperAdminPasswordResetEvent": {
      "type": "structure",
      "members": {
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "email of person whose password was reset"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder"
      }
    },
    "com.gcp.alertcenter_v1beta1#UndeleteAlertRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to undelete a specific alert that was marked for deletion."
      }
    },
    "com.gcp.alertcenter_v1beta1#DomainWideTakeoutInitiated": {
      "type": "structure",
      "members": {
        "takeoutRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The takeout request ID."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the admin who initiated the takeout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
      }
    },
    "com.gcp.alertcenter_v1beta1#UserDefinedDetectorInfo": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name that uniquely identifies the detector."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the detector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detector defined by administrators."
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountSuspensionWarning": {
      "type": "structure",
      "members": {
        "appealWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
          }
        },
        "state": {
          "target": "com.gcp.alertcenter_v1beta1#AccountSuspensionWarningStateEnum",
          "traits": {
            "smithy.api#documentation": "Account suspension warning state."
          }
        },
        "suspensionDetails": {
          "target": "com.gcp.alertcenter_v1beta1#AccountSuspensionDetailsList",
          "traits": {
            "smithy.api#documentation": "Details about why an account is being suspended."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A warning that the customer's account is about to be suspended."
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountSuspensionWarningStateEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "APPEAL_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEAL_APPROVED"
          }
        },
        "APPEAL_SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEAL_SUBMITTED"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountSuspensionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#AccountSuspensionDetails"
      }
    },
    "com.gcp.alertcenter_v1beta1#DlpRuleViolation": {
      "type": "structure",
      "members": {
        "ruleViolationInfo": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfo",
          "traits": {
            "smithy.api#documentation": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules."
      }
    },
    "com.gcp.alertcenter_v1beta1#VoicemailRecipientError": {
      "type": "structure",
      "members": {
        "invalidReason": {
          "target": "com.gcp.alertcenter_v1beta1#VoicemailRecipientErrorInvalidReasonEnum",
          "traits": {
            "smithy.api#documentation": "Reason for the error."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue(s) with a voicemail recipient."
      }
    },
    "com.gcp.alertcenter_v1beta1#VoicemailRecipientErrorInvalidReasonEnum": {
      "type": "enum",
      "members": {
        "EMAIL_INVALID_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_INVALID_REASON_UNSPECIFIED"
          }
        },
        "OUT_OF_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_QUOTA"
          }
        },
        "RECIPIENT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECIPIENT_DELETED"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountSuspensionDetails": {
      "type": "structure",
      "members": {
        "abuseReason": {
          "target": "com.gcp.alertcenter_v1beta1#AccountSuspensionDetailsAbuseReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason why this account is receiving an account suspension warning."
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about why an account is receiving an account suspension warning."
      }
    },
    "com.gcp.alertcenter_v1beta1#AccountSuspensionDetailsAbuseReasonEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED"
          }
        },
        "TOS_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOS_VIOLATION"
          }
        },
        "SPAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAM"
          }
        },
        "PHISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHISHING"
          }
        },
        "TRAFFIC_PUMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_PUMPING"
          }
        },
        "FRAUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAUD"
          }
        },
        "NUMBER_HARVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER_HARVESTING"
          }
        },
        "PAYMENTS_FRAUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENTS_FRAUD"
          }
        },
        "UNWANTED_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNWANTED_CONTENT"
          }
        },
        "UNQUALIFIED_EDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNQUALIFIED_EDU"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RequestInfo": {
      "type": "structure",
      "members": {
        "appKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The application that requires the SQL setup."
          }
        },
        "appDeveloperEmail": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of app developers who triggered notifications for above application."
          }
        },
        "numberOfRequests": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Number of requests sent for this application to set up default SQL instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Requests for one application that needs default SQL setup."
      }
    },
    "com.gcp.alertcenter_v1beta1#BatchUndeleteAlertsRequest": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
          }
        },
        "alertId": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The list of alert IDs to undelete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to perform batch undelete on alerts."
      }
    },
    "com.gcp.alertcenter_v1beta1#MailPhishing": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.gcp.alertcenter_v1beta1#DomainId",
          "traits": {
            "smithy.api#documentation": "The domain ID."
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `true`, the email originated from within the organization."
          }
        },
        "maliciousEntity": {
          "target": "com.gcp.alertcenter_v1beta1#MaliciousEntity",
          "traits": {
            "smithy.api#documentation": "The entity whose actions triggered a Gmail phishing alert."
          }
        },
        "systemActionType": {
          "target": "com.gcp.alertcenter_v1beta1#MailPhishingSystemActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "System actions on the messages."
          }
        },
        "messages": {
          "target": "com.gcp.alertcenter_v1beta1#GmailMessageInfoList",
          "traits": {
            "smithy.api#documentation": "The list of messages contained by this alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing"
      }
    },
    "com.gcp.alertcenter_v1beta1#MailPhishingSystemActionTypeEnum": {
      "type": "enum",
      "members": {
        "SYSTEM_ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_ACTION_TYPE_UNSPECIFIED"
          }
        },
        "NO_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OPERATION"
          }
        },
        "REMOVED_FROM_INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED_FROM_INBOX"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#AbuseDetected": {
      "type": "structure",
      "members": {
        "subAlertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of each sub alert that is onboarded."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product that the abuse is originating from."
          }
        },
        "additionalDetails": {
          "target": "com.gcp.alertcenter_v1beta1#EntityList",
          "traits": {
            "smithy.api#documentation": "List of abusive users/entities to be displayed in a table in the alert."
          }
        },
        "variationType": {
          "target": "com.gcp.alertcenter_v1beta1#AbuseDetectedVariationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic alert for abusive user activity occurring with a customer."
      }
    },
    "com.gcp.alertcenter_v1beta1#AbuseDetectedVariationTypeEnum": {
      "type": "enum",
      "members": {
        "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED"
          }
        },
        "DRIVE_ABUSIVE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_ABUSIVE_CONTENT"
          }
        },
        "LIMITED_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIMITED_DISABLE"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#Alert": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.alertcenter_v1beta1#AlertMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. The metadata associated with this alert."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this alert was created."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
          }
        },
        "data": {
          "target": "com.gcp.alertcenter_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert."
          }
        },
        "securityInvestigationToolLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time this alert was last updated."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the Google Workspace account of the customer."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. `True` if this alert is marked for deletion."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time the event that caused this alert was started or detected."
          }
        },
        "alertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier for the alert."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An alert affecting a customer."
      }
    },
    "com.gcp.alertcenter_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.alertcenter_v1beta1#Attachment": {
      "type": "structure",
      "members": {
        "csv": {
          "target": "com.gcp.alertcenter_v1beta1#Csv",
          "traits": {
            "smithy.api#documentation": "A CSV file attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attachment with application-specific information about an alert."
      }
    },
    "com.gcp.alertcenter_v1beta1#ReportingRule": {
      "type": "structure",
      "members": {
        "alertDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any other associated alert details, for example, AlertConfiguration."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts from Reporting Rules configured by Admin."
      }
    },
    "com.gcp.alertcenter_v1beta1#AppsOutage": {
      "type": "structure",
      "members": {
        "dashboardUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the outage event in Google Workspace Status Dashboard"
          }
        },
        "nextUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp by which the next update is expected to arrive."
          }
        },
        "status": {
          "target": "com.gcp.alertcenter_v1beta1#AppsOutageStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current outage status."
          }
        },
        "incidentTrackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Incident tracking ID."
          }
        },
        "products": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of products impacted by the outage."
          }
        },
        "resolutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known."
          }
        },
        "mergeInfo": {
          "target": "com.gcp.alertcenter_v1beta1#MergeInfo",
          "traits": {
            "smithy.api#documentation": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An outage incident reported for a Google Workspace service."
      }
    },
    "com.gcp.alertcenter_v1beta1#AppsOutageStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "ONGOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONGOING"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALSE_POSITIVE"
          }
        },
        "PARTIALLY_RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_RESOLVED"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGED"
          }
        },
        "DOWNGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNGRADED"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#Csv": {
      "type": "structure",
      "members": {
        "dataRows": {
          "target": "com.gcp.alertcenter_v1beta1#CsvRowList",
          "traits": {
            "smithy.api#documentation": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
          }
        },
        "headers": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of headers for data columns in a CSV file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
      }
    },
    "com.gcp.alertcenter_v1beta1#CsvRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#CsvRow"
      }
    },
    "com.gcp.alertcenter_v1beta1#AppSettingsChanged": {
      "type": "structure",
      "members": {
        "alertDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any other associated alert details, for example, AlertConfiguration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed"
      }
    },
    "com.gcp.alertcenter_v1beta1#VoicemailMisconfiguration": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.alertcenter_v1beta1#VoicemailRecipientErrorList",
          "traits": {
            "smithy.api#documentation": "Issue(s) with voicemail recipients."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue(s) with sending to voicemail."
      }
    },
    "com.gcp.alertcenter_v1beta1#VoicemailRecipientErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#VoicemailRecipientError"
      }
    },
    "com.gcp.alertcenter_v1beta1#CloudPubsubTopic": {
      "type": "structure",
      "members": {
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
          }
        },
        "payloadFormat": {
          "target": "com.gcp.alertcenter_v1beta1#CloudPubsubTopicPayloadFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission."
      }
    },
    "com.gcp.alertcenter_v1beta1#CloudPubsubTopicPayloadFormatEnum": {
      "type": "enum",
      "members": {
        "PAYLOAD_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYLOAD_FORMAT_UNSPECIFIED"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.alertcenter_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.alertcenter_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#DocumentMap"
      }
    },
    "com.gcp.alertcenter_v1beta1#ListAlertsResponse": {
      "type": "structure",
      "members": {
        "alerts": {
          "target": "com.gcp.alertcenter_v1beta1#AlertList",
          "traits": {
            "smithy.api#documentation": "The list of alerts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for an alert listing request."
      }
    },
    "com.gcp.alertcenter_v1beta1#AlertList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#Alert"
      }
    },
    "com.gcp.alertcenter_v1beta1#UserChanges": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed"
      }
    },
    "com.gcp.alertcenter_v1beta1#DriveSyncStateChanged": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user affected."
          }
        },
        "syncPauseStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which sync was paused."
          }
        },
        "syncStateChangeReason": {
          "target": "com.gcp.alertcenter_v1beta1#DriveSyncStateChangedSyncStateChangeReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason for the sync state change."
          }
        },
        "syncState": {
          "target": "com.gcp.alertcenter_v1beta1#DriveSyncStateChangedSyncStateEnum",
          "traits": {
            "smithy.api#documentation": "The current sync state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop."
      }
    },
    "com.gcp.alertcenter_v1beta1#DriveSyncStateChangedSyncStateChangeReasonEnum": {
      "type": "enum",
      "members": {
        "SYNC_STATE_CHANGE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_STATE_CHANGE_REASON_UNSPECIFIED"
          }
        },
        "UNUSUAL_ACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNUSUAL_ACTIVITY"
          }
        },
        "USER_FEEDBACK_TRUE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_FEEDBACK_TRUE_POSITIVE"
          }
        },
        "USER_FEEDBACK_FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_FEEDBACK_FALSE_POSITIVE"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#DriveSyncStateChangedSyncStateEnum": {
      "type": "enum",
      "members": {
        "SYNC_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNC_STATE_UNSPECIFIED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        },
        "RESUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUMED"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#BadWhitelist": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.alertcenter_v1beta1#GmailMessageInfoList",
          "traits": {
            "smithy.api#documentation": "The list of messages contained by this alert."
          }
        },
        "domainId": {
          "target": "com.gcp.alertcenter_v1beta1#DomainId",
          "traits": {
            "smithy.api#documentation": "The domain ID."
          }
        },
        "maliciousEntity": {
          "target": "com.gcp.alertcenter_v1beta1#MaliciousEntity",
          "traits": {
            "smithy.api#documentation": "The entity whose actions triggered a Gmail phishing alert."
          }
        },
        "sourceIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source IP address of the malicious email, for example, `127.0.0.1`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
      }
    },
    "com.gcp.alertcenter_v1beta1#SSOProfileCreatedEvent": {
      "type": "structure",
      "members": {
        "inboundSsoProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sso profile name which got created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder"
      }
    },
    "com.gcp.alertcenter_v1beta1#DeviceCompromisedSecurityDetail": {
      "type": "structure",
      "members": {
        "iosVendorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for iOS, empty for others."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number of the device."
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the device."
          }
        },
        "deviceCompromisedState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device ID."
          }
        },
        "deviceModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model of the device."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed information of a single MDM device compromised event."
      }
    },
    "com.gcp.alertcenter_v1beta1#SuspiciousActivitySecurityDetail": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device resource ID."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serial number of the device."
          }
        },
        "deviceProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device property which was changed."
          }
        },
        "deviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the device."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the device property after the change."
          }
        },
        "deviceModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model of the device."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device ID."
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the device property before the change."
          }
        },
        "iosVendorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for iOS, empty for others."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed information of a single MDM suspicious activity event."
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfo": {
      "type": "structure",
      "members": {
        "triggeredActionInfo": {
          "target": "com.gcp.alertcenter_v1beta1#ActionInfoList",
          "traits": {
            "smithy.api#documentation": "Metadata related to the triggered actions."
          }
        },
        "triggeringUserEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
          }
        },
        "agentType": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoAgentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Agent type that triggered the rule."
          }
        },
        "recipients": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
          }
        },
        "trigger": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Trigger of the rule."
          }
        },
        "dataSource": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoDataSourceEnum",
          "traits": {
            "smithy.api#documentation": "Source of the data."
          }
        },
        "resourceInfo": {
          "target": "com.gcp.alertcenter_v1beta1#ResourceInfo",
          "traits": {
            "smithy.api#documentation": "Details of the resource which violated the rule."
          }
        },
        "suppressedActionTypes": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoSuppressedActionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Actions suppressed due to other actions with higher priority."
          }
        },
        "triggeredActionTypes": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggeredActionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Actions applied as a consequence of the rule being triggered."
          }
        },
        "eventType": {
          "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Event associated with this alert after applying the rule."
          }
        },
        "ruleInfo": {
          "target": "com.gcp.alertcenter_v1beta1#RuleInfo",
          "traits": {
            "smithy.api#documentation": "Details of the violated rule."
          }
        },
        "matchInfo": {
          "target": "com.gcp.alertcenter_v1beta1#MatchInfoList",
          "traits": {
            "smithy.api#documentation": "List of matches that were found in the resource content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common alert information about violated rules that are configured by Google Workspace administrators."
      }
    },
    "com.gcp.alertcenter_v1beta1#ActionInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#ActionInfo"
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoAgentTypeEnum": {
      "type": "enum",
      "members": {
        "AGENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_TYPE_UNSPECIFIED"
          }
        },
        "STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STUDIO"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggerEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_UNSPECIFIED"
          }
        },
        "DRIVE_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_SHARE"
          }
        },
        "MAIL_BEING_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAIL_BEING_SENT"
          }
        },
        "CHROME_FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_FILE_DOWNLOAD"
          }
        },
        "CHROME_FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_FILE_UPLOAD"
          }
        },
        "CHROME_WEB_CONTENT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WEB_CONTENT_UPLOAD"
          }
        },
        "CHAT_MESSAGE_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_MESSAGE_SENT"
          }
        },
        "CHAT_ATTACHMENT_UPLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_ATTACHMENT_UPLOADED"
          }
        },
        "CHROME_PAGE_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_PAGE_PRINT"
          }
        },
        "CHROME_URL_VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_URL_VISITED"
          }
        },
        "CHROMEOS_FILE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROMEOS_FILE_TRANSFER"
          }
        },
        "GEMINI_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEMINI_ACCESS"
          }
        },
        "AGENT_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_EXECUTION"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoDataSourceEnum": {
      "type": "enum",
      "members": {
        "DATA_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SOURCE_UNSPECIFIED"
          }
        },
        "DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE"
          }
        },
        "GMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL"
          }
        },
        "CHROME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoSuppressedActionTypesItemEnum": {
      "type": "enum",
      "members": {
        "ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TYPE_UNSPECIFIED"
          }
        },
        "DRIVE_BLOCK_EXTERNAL_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_BLOCK_EXTERNAL_SHARING"
          }
        },
        "DRIVE_WARN_ON_EXTERNAL_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_WARN_ON_EXTERNAL_SHARING"
          }
        },
        "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY"
          }
        },
        "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL"
          }
        },
        "DRIVE_APPLY_DRIVE_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_APPLY_DRIVE_LABELS"
          }
        },
        "GMAIL_QUARANTINE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_QUARANTINE_MESSAGE"
          }
        },
        "GMAIL_BLOCK_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_BLOCK_MESSAGE"
          }
        },
        "GMAIL_WARN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_WARN_USERS"
          }
        },
        "GMAIL_APPLY_CLASSIFICATION_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_APPLY_CLASSIFICATION_LABELS"
          }
        },
        "CHROME_BLOCK_FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_DOWNLOAD"
          }
        },
        "CHROME_WARN_FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_DOWNLOAD"
          }
        },
        "CHROME_BLOCK_FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_UPLOAD"
          }
        },
        "CHROME_WARN_FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_UPLOAD"
          }
        },
        "CHROME_BLOCK_WEB_CONTENT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_WEB_CONTENT_UPLOAD"
          }
        },
        "CHROME_WARN_WEB_CONTENT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_WEB_CONTENT_UPLOAD"
          }
        },
        "CHROME_BLOCK_PAGE_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_PAGE_PRINT"
          }
        },
        "CHROME_WARN_PAGE_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_PAGE_PRINT"
          }
        },
        "CHROME_BLOCK_FILE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_TRANSFER"
          }
        },
        "CHROME_WARN_FILE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_TRANSFER"
          }
        },
        "CHROME_BLOCK_URL_VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_URL_VISITED"
          }
        },
        "CHROME_WARN_URL_VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_URL_VISITED"
          }
        },
        "CHROME_BLOCK_SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_SCREENSHOT"
          }
        },
        "CHROME_STORE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_STORE_CONTENT"
          }
        },
        "CHROME_WATERMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WATERMARK"
          }
        },
        "CHROME_FORCE_SAVE_TO_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_FORCE_SAVE_TO_CLOUD"
          }
        },
        "DELETE_WEBPROTECT_EVIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_WEBPROTECT_EVIDENCE"
          }
        },
        "CHAT_BLOCK_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_BLOCK_CONTENT"
          }
        },
        "CHAT_WARN_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_WARN_USER"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "RULE_ACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTIVATE"
          }
        },
        "RULE_DEACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_DEACTIVATE"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoSuppressedActionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoSuppressedActionTypesItemEnum"
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggeredActionTypesItemEnum": {
      "type": "enum",
      "members": {
        "ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TYPE_UNSPECIFIED"
          }
        },
        "DRIVE_BLOCK_EXTERNAL_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_BLOCK_EXTERNAL_SHARING"
          }
        },
        "DRIVE_WARN_ON_EXTERNAL_SHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_WARN_ON_EXTERNAL_SHARING"
          }
        },
        "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY"
          }
        },
        "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL"
          }
        },
        "DRIVE_APPLY_DRIVE_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIVE_APPLY_DRIVE_LABELS"
          }
        },
        "GMAIL_QUARANTINE_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_QUARANTINE_MESSAGE"
          }
        },
        "GMAIL_BLOCK_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_BLOCK_MESSAGE"
          }
        },
        "GMAIL_WARN_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_WARN_USERS"
          }
        },
        "GMAIL_APPLY_CLASSIFICATION_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMAIL_APPLY_CLASSIFICATION_LABELS"
          }
        },
        "CHROME_BLOCK_FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_DOWNLOAD"
          }
        },
        "CHROME_WARN_FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_DOWNLOAD"
          }
        },
        "CHROME_BLOCK_FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_UPLOAD"
          }
        },
        "CHROME_WARN_FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_UPLOAD"
          }
        },
        "CHROME_BLOCK_WEB_CONTENT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_WEB_CONTENT_UPLOAD"
          }
        },
        "CHROME_WARN_WEB_CONTENT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_WEB_CONTENT_UPLOAD"
          }
        },
        "CHROME_BLOCK_PAGE_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_PAGE_PRINT"
          }
        },
        "CHROME_WARN_PAGE_PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_PAGE_PRINT"
          }
        },
        "CHROME_BLOCK_FILE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_FILE_TRANSFER"
          }
        },
        "CHROME_WARN_FILE_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_FILE_TRANSFER"
          }
        },
        "CHROME_BLOCK_URL_VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_URL_VISITED"
          }
        },
        "CHROME_WARN_URL_VISITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WARN_URL_VISITED"
          }
        },
        "CHROME_BLOCK_SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_BLOCK_SCREENSHOT"
          }
        },
        "CHROME_STORE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_STORE_CONTENT"
          }
        },
        "CHROME_WATERMARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_WATERMARK"
          }
        },
        "CHROME_FORCE_SAVE_TO_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHROME_FORCE_SAVE_TO_CLOUD"
          }
        },
        "DELETE_WEBPROTECT_EVIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_WEBPROTECT_EVIDENCE"
          }
        },
        "CHAT_BLOCK_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_BLOCK_CONTENT"
          }
        },
        "CHAT_WARN_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_WARN_USER"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "RULE_ACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTIVATE"
          }
        },
        "RULE_DEACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_DEACTIVATE"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggeredActionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#RuleViolationInfoTriggeredActionTypesItemEnum"
      }
    },
    "com.gcp.alertcenter_v1beta1#RuleViolationInfoEventTypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "ACCESS_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_BLOCKED"
          }
        },
        "SHARING_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARING_BLOCKED"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#MatchInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#MatchInfo"
      }
    },
    "com.gcp.alertcenter_v1beta1#SSOProfileUpdatedEvent": {
      "type": "structure",
      "members": {
        "inboundSsoProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "sso profile name which got updated"
          }
        },
        "inboundSsoProfileChanges": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "changes made to sso profile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder"
      }
    },
    "com.gcp.alertcenter_v1beta1#ActivityRule": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the last update to the rule."
          }
        },
        "triggerSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the rule."
          }
        },
        "supersedingAlert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name."
          }
        },
        "threshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alert threshold is for example “COUNT > 5”."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule create timestamp."
          }
        },
        "supersededAlerts": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alert display name."
          }
        },
        "windowSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule window size. Possible values are 1 hour or 24 hours."
          }
        },
        "actionNames": {
          "target": "com.gcp.alertcenter_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of action names associated with the rule threshold."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query that is used to get the data from the associated source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alerts from Google Workspace Security Center rules service configured by an admin."
      }
    },
    "com.gcp.alertcenter_v1beta1#DeviceCompromised": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user this alert was created for."
          }
        },
        "events": {
          "target": "com.gcp.alertcenter_v1beta1#DeviceCompromisedSecurityDetailList",
          "traits": {
            "smithy.api#documentation": "Required. The list of security events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mobile device compromised alert. Derived from audit logs."
      }
    },
    "com.gcp.alertcenter_v1beta1#DeviceCompromisedSecurityDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alertcenter_v1beta1#DeviceCompromisedSecurityDetail"
      }
    },
    "com.gcp.alertcenter_v1beta1#KeyServiceError": {
      "type": "structure",
      "members": {
        "keyServiceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url of the external key service."
          }
        },
        "errorInfo": {
          "target": "com.gcp.alertcenter_v1beta1#KeyServiceErrorErrorInfoEnum",
          "traits": {
            "smithy.api#documentation": "Info on the key service error."
          }
        },
        "httpResponseCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP response status code from the key service."
          }
        },
        "errorCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of similar errors encountered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error related to an external key service."
      }
    },
    "com.gcp.alertcenter_v1beta1#KeyServiceErrorErrorInfoEnum": {
      "type": "enum",
      "members": {
        "KEY_SERVICE_ERROR_INFO_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_SERVICE_ERROR_INFO_UNSPECIFIED"
          }
        },
        "MALFORMED_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MALFORMED_JSON"
          }
        },
        "MISSING_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_KEY"
          }
        },
        "MISSING_SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_SIGNATURE"
          }
        },
        "MISSING_ALGORITHM_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_ALGORITHM_NAME"
          }
        },
        "UNSUPPORTED_ALGORITHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_ALGORITHM"
          }
        },
        "FETCH_REQUEST_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FETCH_REQUEST_ERROR"
          }
        }
      }
    },
    "com.gcp.alertcenter_v1beta1#DeviceManagementRule": {
      "type": "structure",
      "members": {
        "iosVendorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for iOS, empty for others."
          }
        },
        "deviceModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model of the device."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user this alert was created for."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device ID."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obfuscated ID of the owner of the device"
          }
        },
[...]
