{
  "smithy": "2.0",
  "metadata": {
    "service": "alloydb",
    "version": "v1",
    "title": "AlloyDB API",
    "baseUrl": "https://alloydb.googleapis.com/"
  },
  "shapes": {
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "type": "structure",
      "members": {
        "backupdrManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource is managed by BackupDR."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource."
      }
    },
    "com.gcp.alloydb_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.alloydb_v1#UpgradeClusterResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.alloydb_v1#UpgradeClusterResponseStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of upgrade operation."
          }
        },
        "clusterUpgradeDetails": {
          "target": "com.gcp.alloydb_v1#ClusterUpgradeDetailsList",
          "traits": {
            "smithy.api#documentation": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UpgradeClusterResponse contains the response for upgrade cluster operation."
      }
    },
    "com.gcp.alloydb_v1#UpgradeClusterResponseStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#ClusterUpgradeDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#ClusterUpgradeDetails"
      }
    },
    "com.gcp.alloydb_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.alloydb_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.alloydb_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.alloydb_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.alloydb_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.alloydb_v1#ExportClusterRequest": {
      "type": "structure",
      "members": {
        "csvExportOptions": {
          "target": "com.gcp.alloydb_v1#CsvExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in CSV format. Required field to be set for CSV file type."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.alloydb_v1#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Required. Option to export data to cloud storage."
          }
        },
        "sqlExportOptions": {
          "target": "com.gcp.alloydb_v1#SqlExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in SQL format. Required field to be set for SQL file type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export cluster request."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "type": "structure",
      "members": {
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full Resource name of the source resource."
          }
        },
        "resourceId": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Database resource id."
          }
        },
        "lastRefreshTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time signal was refreshed"
          }
        },
        "signalBoolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Signal data for boolean signals."
          }
        },
        "signalType": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainConfigBasedSignalDataSignalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Signal type of the signal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config based signal data. This is used to send signals to Condor which are based on the DB level configurations. These will be used to send signals for self managed databases."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainConfigBasedSignalDataSignalTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNSPECIFIED"
          }
        },
        "SIGNAL_TYPE_OUTDATED_MINOR_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_MINOR_VERSION"
          }
        },
        "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED"
          }
        },
        "SIGNAL_TYPE_NO_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS"
          }
        },
        "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS"
          }
        },
        "SIGNAL_TYPE_EXTENDED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXTENDED_SUPPORT"
          }
        },
        "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY"
          }
        },
        "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_OLD"
          }
        },
        "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#PscAutoConnectionConfig": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of the PSC service automation endpoint."
          }
        },
        "consumerProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer project to which the PSC service automation endpoint will be created."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
          }
        },
        "consumerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project."
          }
        },
        "consumerNetworkStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance."
      }
    },
    "com.gcp.alloydb_v1#StageStatus": {
      "type": "structure",
      "members": {
        "readPoolInstancesUpgrade": {
          "target": "com.gcp.alloydb_v1#ReadPoolInstancesUpgradeStageStatus",
          "traits": {
            "smithy.api#documentation": "Read pool instances upgrade metadata."
          }
        },
        "stage": {
          "target": "com.gcp.alloydb_v1#StageStatusStageEnum",
          "traits": {
            "smithy.api#documentation": "Upgrade stage."
          }
        },
        "state": {
          "target": "com.gcp.alloydb_v1#StageStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "State of this stage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of an upgrade stage."
      }
    },
    "com.gcp.alloydb_v1#StageStatusStageEnum": {
      "type": "enum",
      "members": {
        "STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGE_UNSPECIFIED"
          }
        },
        "ALLOYDB_PRECHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_PRECHECK"
          }
        },
        "PG_UPGRADE_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG_UPGRADE_CHECK"
          }
        },
        "PREPARE_FOR_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARE_FOR_UPGRADE"
          }
        },
        "PRIMARY_INSTANCE_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_INSTANCE_UPGRADE"
          }
        },
        "READ_POOL_INSTANCES_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_POOL_INSTANCES_UPGRADE"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK"
          }
        },
        "CLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANUP"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StageStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "type": "structure",
      "members": {
        "timestampBasedRetentionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z"
          }
        },
        "retentionUnit": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainRetentionSettingsRetentionUnitEnum",
          "traits": {
            "smithy.api#documentation": "The unit that 'retained_backups' represents."
          }
        },
        "durationBasedRetention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration based retention period i.e. 172800 seconds (2 days)"
          }
        },
        "timeBasedRetention": {
          "target": "smithy.api#String"
        },
        "quantityBasedRetention": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainRetentionSettingsRetentionUnitEnum": {
      "type": "enum",
      "members": {
        "RETENTION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_UNIT_UNSPECIFIED"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DURATION"
          }
        },
        "RETENTION_UNIT_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_UNIT_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#WeeklySchedule": {
      "type": "structure",
      "members": {
        "startTimes": {
          "target": "com.gcp.alloydb_v1#GoogleTypeTimeOfDayList",
          "traits": {
            "smithy.api#documentation": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily."
          }
        },
        "daysOfWeek": {
          "target": "com.gcp.alloydb_v1#WeeklyScheduleDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week."
      }
    },
    "com.gcp.alloydb_v1#GoogleTypeTimeOfDayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#GoogleTypeTimeOfDay"
      }
    },
    "com.gcp.alloydb_v1#WeeklyScheduleDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#WeeklyScheduleDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#WeeklyScheduleDaysOfWeekItemEnum"
      }
    },
    "com.gcp.alloydb_v1#SqlExportOptions": {
      "type": "structure",
      "members": {
        "schemaOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, only export the schema."
          }
        },
        "tables": {
          "target": "com.gcp.alloydb_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Tables to export from."
          }
        },
        "ifExistTargetObjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode."
          }
        },
        "cleanTargetObjects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for exporting data in SQL format."
      }
    },
    "com.gcp.alloydb_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum",
          "traits": {
            "smithy.api#documentation": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A service-local token that distinguishes this resource from other resources within the same service."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The type of resource this ID is identifying. Ex go/keep-sorted start alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance compute.googleapis.com/Instance firestore.googleapis.com/Database, redis.googleapis.com/Instance, redis.googleapis.com/Cluster, oracledatabase.googleapis.com/CloudExadataInfrastructure oracledatabase.googleapis.com/CloudVmCluster oracledatabase.googleapis.com/AutonomousDatabase spanner.googleapis.com/Instance, spanner.googleapis.com/Database, sqladmin.googleapis.com/Instance, go/keep-sorted end REQUIRED Please refer go/condor-common-datamodel"
          }
        },
        "providerDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Needs to be used only when the provider is PROVIDER_OTHER."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatabaseResourceId will serve as primary key for any resource ingestion event."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "ONPREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM"
          }
        },
        "SELFMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELFMANAGED"
          }
        },
        "PROVIDER_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "com.gcp.alloydb_v1#MaintenanceWindowDayEnum",
          "traits": {
            "smithy.api#documentation": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc."
          }
        },
        "startTime": {
          "target": "com.gcp.alloydb_v1#GoogleTypeTimeOfDay",
          "traits": {
            "smithy.api#documentation": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceWindow specifies a preferred day and time for maintenance."
      }
    },
    "com.gcp.alloydb_v1#MaintenanceWindowDayEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The end time of the upcoming maintenance."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The start time of the upcoming maintenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published."
      }
    },
    "com.gcp.alloydb_v1#EncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionType": {
          "target": "com.gcp.alloydb_v1#EncryptionInfoEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of encryption."
          }
        },
        "kmsKeyVersions": {
          "target": "com.gcp.alloydb_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud KMS key versions that are being used to protect the database or the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EncryptionInfo describes the encryption information of a cluster or a backup."
      }
    },
    "com.gcp.alloydb_v1#EncryptionInfoEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_MANAGED_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#SslConfig": {
      "type": "structure",
      "members": {
        "caSource": {
          "target": "com.gcp.alloydb_v1#SslConfigCaSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value."
          }
        },
        "sslMode": {
          "target": "com.gcp.alloydb_v1#SslConfigSslModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSL configuration."
      }
    },
    "com.gcp.alloydb_v1#SslConfigCaSourceEnum": {
      "type": "enum",
      "members": {
        "CA_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_SOURCE_UNSPECIFIED"
          }
        },
        "CA_SOURCE_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_SOURCE_MANAGED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#SslConfigSslModeEnum": {
      "type": "enum",
      "members": {
        "SSL_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_MODE_UNSPECIFIED"
          }
        },
        "SSL_MODE_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_MODE_ALLOW"
          }
        },
        "SSL_MODE_REQUIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_MODE_REQUIRE"
          }
        },
        "SSL_MODE_VERIFY_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_MODE_VERIFY_CA"
          }
        },
        "ALLOW_UNENCRYPTED_AND_ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_UNENCRYPTED_AND_ENCRYPTED"
          }
        },
        "ENCRYPTED_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED_ONLY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "type": "structure",
      "members": {
        "automatedBackupEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether customer visible automated backups are enabled on the instance."
          }
        },
        "pointInTimeRecoveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted."
          }
        },
        "backupRetentionSettings": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainRetentionSettings",
          "traits": {
            "smithy.api#documentation": "Backup retention settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for automatic backups"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainTags": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.alloydb_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The Tag key/value mappings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag."
      }
    },
    "com.gcp.alloydb_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1#InstanceUpgradeDetails": {
      "type": "structure",
      "members": {
        "upgradeStatus": {
          "target": "com.gcp.alloydb_v1#InstanceUpgradeDetailsUpgradeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Upgrade status of the instance."
          }
        },
        "instanceType": {
          "target": "com.gcp.alloydb_v1#InstanceUpgradeDetailsInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Instance type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normalized name of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details regarding the upgrade of instances associated with a cluster."
      }
    },
    "com.gcp.alloydb_v1#InstanceUpgradeDetailsUpgradeStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#InstanceUpgradeDetailsInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_POOL"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#SecondaryConfig": {
      "type": "structure",
      "members": {
        "primaryClusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY."
      }
    },
    "com.gcp.alloydb_v1#FailoverInstanceRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for triggering failover on an Instance"
      }
    },
    "com.gcp.alloydb_v1#ClusterUpgradeDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normalized name of the cluster"
          }
        },
        "stageInfo": {
          "target": "com.gcp.alloydb_v1#StageInfoList",
          "traits": {
            "smithy.api#documentation": "Array containing stage info associated with this cluster."
          }
        },
        "upgradeStatus": {
          "target": "com.gcp.alloydb_v1#ClusterUpgradeDetailsUpgradeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Upgrade status of the cluster."
          }
        },
        "instanceUpgradeDetails": {
          "target": "com.gcp.alloydb_v1#InstanceUpgradeDetailsList",
          "traits": {
            "smithy.api#documentation": "Upgrade details of the instances directly associated with this cluster."
          }
        },
        "clusterType": {
          "target": "com.gcp.alloydb_v1#ClusterUpgradeDetailsClusterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cluster type which can either be primary or secondary."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.alloydb_v1#ClusterUpgradeDetailsDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade details of a cluster. This cluster can be primary or secondary."
      }
    },
    "com.gcp.alloydb_v1#StageInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#StageInfo"
      }
    },
    "com.gcp.alloydb_v1#ClusterUpgradeDetailsUpgradeStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#InstanceUpgradeDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#InstanceUpgradeDetails"
      }
    },
    "com.gcp.alloydb_v1#ClusterUpgradeDetailsClusterTypeEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#ClusterUpgradeDetailsDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#ContinuousBackupConfig": {
      "type": "structure",
      "members": {
        "encryptionConfig": {
          "target": "com.gcp.alloydb_v1#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ContinuousBackup is enabled."
          }
        },
        "recoveryWindowDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster."
      }
    },
    "com.gcp.alloydb_v1#BackupDrInfo": {
      "type": "structure",
      "members": {
        "previousWindows": {
          "target": "com.gcp.alloydb_v1#BackupDrEnabledWindowList",
          "traits": {
            "smithy.api#documentation": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list."
          }
        },
        "currentWindow": {
          "target": "com.gcp.alloydb_v1#BackupDrEnabledWindow",
          "traits": {
            "smithy.api#documentation": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about BackupDR protection for this cluster."
      }
    },
    "com.gcp.alloydb_v1#BackupDrEnabledWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#BackupDrEnabledWindow"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value of the resource flag."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Key of the resource flag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message type for storing resource flags."
      }
    },
    "com.gcp.alloydb_v1#QuantityBasedRetention": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of backups to retain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained."
      }
    },
    "com.gcp.alloydb_v1#MaintenanceSchedule": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The scheduled start time for the maintenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead."
      }
    },
    "com.gcp.alloydb_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.alloydb_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.alloydb_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.alloydb_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#Operation"
      }
    },
    "com.gcp.alloydb_v1#MaintenanceUpdatePolicy": {
      "type": "structure",
      "members": {
        "maintenanceWindows": {
          "target": "com.gcp.alloydb_v1#MaintenanceWindowList",
          "traits": {
            "smithy.api#documentation": "Preferred windows to perform maintenance. Currently limited to 1."
          }
        },
        "denyMaintenancePeriods": {
          "target": "com.gcp.alloydb_v1#DenyMaintenancePeriodList",
          "traits": {
            "smithy.api#documentation": "Periods to deny maintenance. Currently limited to 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MaintenanceUpdatePolicy defines the policy for system updates."
      }
    },
    "com.gcp.alloydb_v1#MaintenanceWindowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#MaintenanceWindow"
      }
    },
    "com.gcp.alloydb_v1#DenyMaintenancePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#DenyMaintenancePeriod"
      }
    },
    "com.gcp.alloydb_v1#ListSupportedDatabaseFlagsResponse": {
      "type": "structure",
      "members": {
        "supportedDatabaseFlags": {
          "target": "com.gcp.alloydb_v1#SupportedDatabaseFlagList",
          "traits": {
            "smithy.api#documentation": "The list of SupportedDatabaseFlags."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing SupportedDatabaseFlags."
      }
    },
    "com.gcp.alloydb_v1#SupportedDatabaseFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#SupportedDatabaseFlag"
      }
    },
    "com.gcp.alloydb_v1#RestoreFromCloudSQLRequest": {
      "type": "structure",
      "members": {
        "cloudsqlBackupRunSource": {
          "target": "com.gcp.alloydb_v1#CloudSQLBackupRunSource",
          "traits": {
            "smithy.api#documentation": "Cluster created from CloudSQL backup run."
          }
        },
        "cluster": {
          "target": "com.gcp.alloydb_v1#Cluster",
          "traits": {
            "smithy.api#documentation": "Required. The resource being created"
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the requesting object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for registering Restoring from CloudSQL resource."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "type": "structure",
      "members": {
        "lastRefreshTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last time signal was refreshed"
          }
        },
        "fullResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full Resource name of the source resource."
          }
        },
        "signalState": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalDataSignalStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. Output only. Signal state of the signal"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource location."
          }
        },
        "signalMetadataList": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainSignalMetadataList",
          "traits": {
            "smithy.api#documentation": "This will support array of OneOf signal metadata information for a given signal type."
          }
        },
        "signalBoolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use signal_metadata_list instead."
          }
        },
        "signalType": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalDataSignalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Signal type of the signal"
          }
        },
        "backupRun": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainBackupRun",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use signal_metadata_list instead."
          }
        },
        "resourceId": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Database resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database resource signal data. This is used to send signals to Condor which are based on the DB/Instance/Fleet level configurations. These will be used to send signals for all inventory types. Next ID: 10"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalDataSignalStateEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISMISSED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainSignalMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainSignalMetadata"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalDataSignalTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNSPECIFIED"
          }
        },
        "SIGNAL_TYPE_OUTDATED_MINOR_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUTDATED_MINOR_VERSION"
          }
        },
        "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED"
          }
        },
        "SIGNAL_TYPE_NO_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS"
          }
        },
        "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS"
          }
        },
        "SIGNAL_TYPE_EXTENDED_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXTENDED_SUPPORT"
          }
        },
        "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY"
          }
        },
        "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_OLD"
          }
        },
        "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Destination for Export. Export will be done to cloud storage."
      }
    },
    "com.gcp.alloydb_v1#PscConfig": {
      "type": "structure",
      "members": {
        "pscEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance."
          }
        },
        "serviceOwnedProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PscConfig contains PSC related configuration at a cluster level."
      }
    },
    "com.gcp.alloydb_v1#UpgradeClusterRequest": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.alloydb_v1#UpgradeClusterRequestVersionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The version the cluster is going to be upgraded to."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrades a cluster."
      }
    },
    "com.gcp.alloydb_v1#UpgradeClusterRequestVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#QuantityBasedExpiry": {
      "type": "structure",
      "members": {
        "retentionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first)."
          }
        },
        "totalRetentionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The length of the quantity-based queue, specified by the backup's retention policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)"
      }
    },
    "com.gcp.alloydb_v1#CsvExportOptions": {
      "type": "structure",
      "members": {
        "selectQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The SELECT query used to extract the data."
          }
        },
        "fieldDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "escapeCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "quoteCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for exporting data in CSV format."
      }
    },
    "com.gcp.alloydb_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "upgradeClusterStatus": {
          "target": "com.gcp.alloydb_v1#UpgradeClusterStatus",
          "traits": {
            "smithy.api#documentation": "Output only. UpgradeClusterStatus related metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.alloydb_v1#ReadPoolInstancesUpgradeStageStatus": {
      "type": "structure",
      "members": {
        "upgradeStats": {
          "target": "com.gcp.alloydb_v1#Stats",
          "traits": {
            "smithy.api#documentation": "Read pool instances upgrade statistics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Read pool instances upgrade specific status."
      }
    },
    "com.gcp.alloydb_v1#ListClustersResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.alloydb_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "clusters": {
          "target": "com.gcp.alloydb_v1#ClusterList",
          "traits": {
            "smithy.api#documentation": "The list of Cluster"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Clusters"
      }
    },
    "com.gcp.alloydb_v1#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#Cluster"
      }
    },
    "com.gcp.alloydb_v1#QueryInsightsInstanceConfig": {
      "type": "structure",
      "members": {
        "recordApplicationTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Record application tags for an instance. This flag is turned \"on\" by default."
          }
        },
        "recordClientAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default."
          }
        },
        "queryStringLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid."
          }
        },
        "queryPlansPerMinute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QueryInsights Instance specific configuration."
      }
    },
    "com.gcp.alloydb_v1#MachineConfig": {
      "type": "structure",
      "members": {
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of CPU's in the VM instance."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MachineConfig describes the configuration of a machine."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataStateEnum"
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to identify the location of the resource. Example: \"us-central1\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE, SQL_LOG_ERROR_VERBOSITY etc."
          }
        },
        "externalUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external-uri of the signal, using which more information about this signal can be obtained. In GCP, this will take user to SCC page to get more details about signals."
          }
        },
        "signalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique identifier for the signal. This is an unique id which would be mainatined by partner to identify a signal."
          }
        },
        "signalSeverity": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the signal, such as if it's a HIGH or LOW severity."
          }
        },
        "resourceContainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Closest parent container of this resource. In GCP, 'container' refers to a Cloud Resource Manager project. It must be resource name of a Cloud Resource Manager project with the format of \"provider//\", such as \"projects/123\". For GCP provided resources, number should be project number."
          }
        },
        "signalClass": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalClassEnum",
          "traits": {
            "smithy.api#documentation": "Required. The class of the signal, such as if it's a THREAT or VULNERABILITY."
          }
        },
        "compliance": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainComplianceList",
          "traits": {
            "smithy.api#documentation": "Industry standards associated with this signal; if this signal is an issue, that could be a violation of the associated industry standard(s). For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance standards. If a database resource does not have automated backup enable, it will violate these following industry standards."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The last time at which the event described by this signal took place"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description associated with signal"
          }
        },
        "additionalMetadata": {
          "target": "com.gcp.alloydb_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Any other additional metadata"
          }
        },
        "signalType": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`, `LOGGING_MOST_ERRORS`, etc."
          }
        },
        "provider": {
          "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataProviderEnum",
          "traits": {
            "smithy.api#documentation": "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common model for database resource health signal data."
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "MUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUTED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalSeverityEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalClassEnum": {
      "type": "enum",
      "members": {
        "CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_UNSPECIFIED"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        },
        "MISCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURATION"
          }
        },
        "OBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVATION"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainComplianceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainCompliance"
      }
    },
    "com.gcp.alloydb_v1#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalDataSignalTypeEnum": {
      "type": "enum",
      "members": {
        "SIGNAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNSPECIFIED"
          }
        },
        "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          }
        },
        "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS"
          }
        },
        "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES"
          }
        },
        "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS"
          }
        },
        "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA"
          }
        },
        "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY"
          }
        },
        "SIGNAL_TYPE_SHORT_BACKUP_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SHORT_BACKUP_RETENTION"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_FAILED"
          }
        },
        "SIGNAL_TYPE_LAST_BACKUP_OLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LAST_BACKUP_OLD"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5"
          }
        },
        "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001"
          }
        },
        "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1"
          }
        },
        "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0"
          }
        },
        "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4"
          }
        },
        "SIGNAL_TYPE_VIOLATES_HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_HIPAA"
          }
        },
        "SIGNAL_TYPE_VIOLATES_SOC2_V2017": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATES_SOC2_V2017"
          }
        },
        "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING"
          }
        },
        "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_MOST_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_MOST_ERRORS"
          }
        },
        "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS"
          }
        },
        "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING"
          }
        },
        "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS"
          }
        },
        "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS"
          }
        },
        "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS"
          }
        },
        "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES"
          }
        },
        "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS"
          }
        },
        "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS"
          }
        },
        "SIGNAL_TYPE_NO_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_WEAK_ROOT_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_ROOT_PASSWORD"
          }
        },
        "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED"
          }
        },
        "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED"
          }
        },
        "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS"
          }
        },
        "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED"
          }
        },
        "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO"
          }
        },
        "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS"
          }
        },
        "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED"
          }
        },
        "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED"
          }
        },
        "SIGNAL_TYPE_PUBLIC_IP_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_PUBLIC_IP_ENABLED"
          }
        },
        "SIGNAL_TYPE_IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_IDLE"
          }
        },
        "SIGNAL_TYPE_OVERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OVERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES"
          }
        },
        "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION"
          }
        },
        "SIGNAL_TYPE_UNDERPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_UNDERPROVISIONED"
          }
        },
        "SIGNAL_TYPE_OUT_OF_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_OUT_OF_DISK"
          }
        },
        "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY"
          }
        },
        "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED"
          }
        },
        "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS"
          }
        },
        "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP"
          }
        },
        "SIGNAL_TYPE_QUOTA_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_QUOTA_LIMIT"
          }
        },
        "SIGNAL_TYPE_NO_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT"
          }
        },
        "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES"
          }
        },
        "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES"
          }
        },
        "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET"
          }
        },
        "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM"
          }
        },
        "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY"
          }
        },
        "SIGNAL_TYPE_HOT_NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_HOT_NODE"
          }
        },
        "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY"
          }
        },
        "SIGNAL_TYPE_RESOURCE_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_RESOURCE_SUSPENDED"
          }
        },
        "SIGNAL_TYPE_EXPENSIVE_COMMANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_EXPENSIVE_COMMANDS"
          }
        },
        "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED"
          }
        },
        "SIGNAL_TYPE_NO_DELETION_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_NO_DELETION_PROTECTION"
          }
        },
        "SIGNAL_TYPE_INEFFICIENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_INEFFICIENT_QUERY"
          }
        },
        "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD"
          }
        },
        "SIGNAL_TYPE_MEMORY_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNAL_TYPE_MEMORY_LIMIT"
          }
        },
        "SIGNAL_TYPE_MAX_SERVER_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
