{
  "smithy": "2.0",
  "metadata": {
    "service": "analyticsadmin",
    "version": "v1beta",
    "title": "Google Analytics Admin API",
    "baseUrl": "https://analyticsadmin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaNumericValue": {
      "type": "structure",
      "members": {
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Double value"
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Integer value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To represent a number."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "type": "structure",
      "members": {
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "dimensions": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionList",
          "traits": {
            "smithy.api#documentation": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions."
          }
        },
        "metricFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "traits": {
            "smithy.api#documentation": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
          }
        },
        "includeAllUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "dateRanges": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDateRangeList",
          "traits": {
            "smithy.api#documentation": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
          }
        },
        "metrics": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricList",
          "traits": {
            "smithy.api#documentation": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics."
          }
        },
        "dimensionFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "traits": {
            "smithy.api#documentation": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
          }
        },
        "expandGroups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned."
          }
        },
        "orderBys": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderByList",
          "traits": {
            "smithy.api#documentation": "Specifies how rows are ordered in the response."
          }
        },
        "returnEntityQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for a Data Access Record Report."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimension"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDateRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDateRange"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetric"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderByList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderBy"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The measurement value. For example, this value may be '13'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a metric."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuota": {
      "type": "structure",
      "members": {
        "tokensPerDay": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
          }
        },
        "serverErrorsPerProjectPerHour": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties and cloud project pairs can have up to 50 server errors per hour."
          }
        },
        "tokensPerProjectPerHour": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        },
        "tokensPerHour": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        },
        "concurrentRequests": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "traits": {
            "smithy.api#documentation": "Properties can use up to 50 concurrent requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaProperty": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
          }
        },
        "industryCategory": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyIndustryCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
          }
        },
        "propertyType": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied."
          }
        },
        "serviceLevel": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyServiceLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The Google Analytics service level that applies to this property."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when entity payload fields were last updated."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the entity was originally created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing a Google Analytics property."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyIndustryCategoryEnum": {
      "type": "enum",
      "members": {
        "INDUSTRY_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDUSTRY_CATEGORY_UNSPECIFIED"
          }
        },
        "AUTOMOTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMOTIVE"
          }
        },
        "BUSINESS_AND_INDUSTRIAL_MARKETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_AND_INDUSTRIAL_MARKETS"
          }
        },
        "FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINANCE"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE"
          }
        },
        "TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TECHNOLOGY"
          }
        },
        "TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAVEL"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "ARTS_AND_ENTERTAINMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTS_AND_ENTERTAINMENT"
          }
        },
        "BEAUTY_AND_FITNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEAUTY_AND_FITNESS"
          }
        },
        "BOOKS_AND_LITERATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOKS_AND_LITERATURE"
          }
        },
        "FOOD_AND_DRINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOOD_AND_DRINK"
          }
        },
        "GAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAMES"
          }
        },
        "HOBBIES_AND_LEISURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOBBIES_AND_LEISURE"
          }
        },
        "HOME_AND_GARDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOME_AND_GARDEN"
          }
        },
        "INTERNET_AND_TELECOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNET_AND_TELECOM"
          }
        },
        "LAW_AND_GOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAW_AND_GOVERNMENT"
          }
        },
        "NEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWS"
          }
        },
        "ONLINE_COMMUNITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE_COMMUNITIES"
          }
        },
        "PEOPLE_AND_SOCIETY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEOPLE_AND_SOCIETY"
          }
        },
        "PETS_AND_ANIMALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PETS_AND_ANIMALS"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REAL_ESTATE"
          }
        },
        "REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFERENCE"
          }
        },
        "SCIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCIENCE"
          }
        },
        "SPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPORTS"
          }
        },
        "JOBS_AND_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOBS_AND_EDUCATION"
          }
        },
        "SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyPropertyTypeEnum": {
      "type": "enum",
      "members": {
        "PROPERTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_UNSPECIFIED"
          }
        },
        "PROPERTY_TYPE_ORDINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_ORDINARY"
          }
        },
        "PROPERTY_TYPE_SUBPROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_SUBPROPERTY"
          }
        },
        "PROPERTY_TYPE_ROLLUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_ROLLUP"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyServiceLevelEnum": {
      "type": "enum",
      "members": {
        "SERVICE_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_LEVEL_UNSPECIFIED"
          }
        },
        "GOOGLE_ANALYTICS_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_ANALYTICS_STANDARD"
          }
        },
        "GOOGLE_ANALYTICS_360": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_ANALYTICS_360"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ArchiveCustomMetric RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "type": "structure",
      "members": {
        "firebaseAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data specific to Android app streams."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension's name; for example 'userEmail'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "type": "structure",
      "members": {
        "desc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, sorts by descending order. If false or unspecified, sorts in ascending order."
          }
        },
        "metric": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
          "traits": {
            "smithy.api#documentation": "Sorts results by a metric's values."
          }
        },
        "dimension": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "traits": {
            "smithy.api#documentation": "Sorts results by a dimension's values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessRow": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionValueList",
          "traits": {
            "smithy.api#documentation": "List of dimension values. These values are in the same order as specified in the request."
          }
        },
        "metricValues": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricValueList",
          "traits": {
            "smithy.api#documentation": "List of metric values. These values are in the same order as specified in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access report data for each row."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionValue"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricValue"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccount": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name for this account."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country of business. Must be a Unicode CLDR region code."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when account payload fields were last updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this account was originally created."
          }
        },
        "gmpOrganization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing a Google Analytics account."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "type": "structure",
      "members": {
        "eventDataRetention": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataRetentionSettingsEventDataRetentionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The length of time that event-level data is retained."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
          }
        },
        "resetUserDataOnNewActivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, reset the retention period for the user identifier with every event from that user."
          }
        },
        "userDataRetention": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataRetentionSettingsUserDataRetentionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The length of time that user-level data is retained."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings values for data retention. This is a singleton resource."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataRetentionSettingsEventDataRetentionEnum": {
      "type": "enum",
      "members": {
        "RETENTION_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_DURATION_UNSPECIFIED"
          }
        },
        "TWO_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_MONTHS"
          }
        },
        "FOURTEEN_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTEEN_MONTHS"
          }
        },
        "TWENTY_SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_SIX_MONTHS"
          }
        },
        "THIRTY_EIGHT_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRTY_EIGHT_MONTHS"
          }
        },
        "FIFTY_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFTY_MONTHS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataRetentionSettingsUserDataRetentionEnum": {
      "type": "enum",
      "members": {
        "RETENTION_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_DURATION_UNSPECIFIED"
          }
        },
        "TWO_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_MONTHS"
          }
        },
        "FOURTEEN_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOURTEEN_MONTHS"
          }
        },
        "TWENTY_SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWENTY_SIX_MONTHS"
          }
        },
        "THIRTY_EIGHT_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRTY_EIGHT_MONTHS"
          }
        },
        "FIFTY_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIFTY_MONTHS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetric": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "customMetrics": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricList",
          "traits": {
            "smithy.api#documentation": "List of CustomMetrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCustomMetrics RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetric"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "type": "structure",
      "members": {
        "firebaseAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
          }
        },
        "bundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data specific to iOS app streams."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "customDimensions": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimensionList",
          "traits": {
            "smithy.api#documentation": "List of CustomDimensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCustomDimensions RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimension"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDateRange": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contiguous range of days: startDate, startDate + 1, ..., endDate."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "type": "structure",
      "members": {
        "firebaseAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
          }
        },
        "measurementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\""
          }
        },
        "defaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data specific to web streams."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric's name; for example 'accessCount'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ArchiveCustomDimension RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountList",
          "traits": {
            "smithy.api#documentation": "Results that were accessible to the caller."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ListAccounts RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccount"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "type": "structure",
      "members": {
        "secretValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name for this secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A secret value used for sending hits to Measurement Protocol."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListKeyEventsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "keyEvents": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventList",
          "traits": {
            "smithy.api#documentation": "The requested Key Events"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListKeyEvents RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEvent"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "type": "structure",
      "members": {
        "fromValue": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaNumericValue",
          "traits": {
            "smithy.api#documentation": "Begins with this number."
          }
        },
        "toValue": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaNumericValue",
          "traits": {
            "smithy.api#documentation": "Ends with this number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To express that the result needs to be between two numbers (inclusive)."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountSummary": {
      "type": "structure",
      "members": {
        "propertySummaries": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummaryList",
          "traits": {
            "smithy.api#documentation": "List of summaries for child accounts of this account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the account referred to in this account summary."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A virtual resource representing an overview of an account and all its child Google Analytics properties."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummary"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value used for the matching."
          }
        },
        "matchType": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessStringFilterMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "The match type for this filter."
          }
        },
        "caseSensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the string value is case sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The filter for strings."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessStringFilterMatchTypeEnum": {
      "type": "enum",
      "members": {
        "MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_TYPE_UNSPECIFIED"
          }
        },
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXACT"
          }
        },
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "FULL_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_REGEXP"
          }
        },
        "PARTIAL_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_REGEXP"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a default value/currency for a conversion event. Both value and currency must be provided."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "googleAdsLinks": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaGoogleAdsLinkList",
          "traits": {
            "smithy.api#documentation": "List of GoogleAdsLinks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListGoogleAdsLinks RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaGoogleAdsLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaGoogleAdsLink"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetric": {
      "type": "structure",
      "members": {
        "measurementUnit": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricMeasurementUnitEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type for the custom metric's value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The scope of this custom metric."
          }
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description for this custom dimension. Max length of 150 characters."
          }
        },
        "restrictedMetricType": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricRestrictedMetricTypeItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A definition for a custom metric."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricMeasurementUnitEnum": {
      "type": "enum",
      "members": {
        "MEASUREMENT_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_UNIT_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURRENCY"
          }
        },
        "FEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEET"
          }
        },
        "METERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METERS"
          }
        },
        "KILOMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOMETERS"
          }
        },
        "MILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILES"
          }
        },
        "MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILLISECONDS"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDS"
          }
        },
        "MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINUTES"
          }
        },
        "HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURS"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricScopeEnum": {
      "type": "enum",
      "members": {
        "METRIC_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_SCOPE_UNSPECIFIED"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricRestrictedMetricTypeItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_METRIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_METRIC_TYPE_UNSPECIFIED"
          }
        },
        "COST_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST_DATA"
          }
        },
        "REVENUE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVENUE_DATA"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricRestrictedMetricTypeItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomMetricRestrictedMetricTypeItemEnum"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "type": "structure",
      "members": {
        "accessFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilter",
          "traits": {
            "smithy.api#documentation": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
          }
        },
        "andGroup": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "traits": {
            "smithy.api#documentation": "Each of the FilterExpressions in the and_group has an AND relationship."
          }
        },
        "notExpression": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "traits": {
            "smithy.api#documentation": "The FilterExpression is NOT of not_expression."
          }
        },
        "orGroup": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "traits": {
            "smithy.api#documentation": "Each of the FilterExpressions in the or_group has an OR relationship."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
          }
        },
        "firebaseLinks": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaFirebaseLinkList",
          "traits": {
            "smithy.api#documentation": "List of FirebaseLinks. This will have at most one value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListFirebaseLinks RPC"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaFirebaseLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaFirebaseLink"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "type": "structure",
      "members": {
        "accountSummaries": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountSummaryList",
          "traits": {
            "smithy.api#documentation": "Account summaries of all accounts the caller has access to."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAccountSummaries RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccountSummary"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeActionEnum",
          "traits": {
            "smithy.api#documentation": "The type of action that changed this resource."
          }
        },
        "resourceAfterChange": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "traits": {
            "smithy.api#documentation": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the resource whose changes are described by this entry."
          }
        },
        "resourceBeforeChange": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "traits": {
            "smithy.api#documentation": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of a change to a single Google Analytics resource."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_TYPE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for AcknowledgeUserDataCollection RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "type": "structure",
      "members": {
        "acknowledgement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AcknowledgeUserDataCollection RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessNumericFilterOperationEnum",
          "traits": {
            "smithy.api#documentation": "The operation type for this filter."
          }
        },
        "value": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaNumericValue",
          "traits": {
            "smithy.api#documentation": "A numeric value or a date value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters for numeric or date values."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessNumericFilterOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventDefaultValue": {
      "type": "structure",
      "members": {
        "numericValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a default value/currency for a key event."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "properties": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyList",
          "traits": {
            "smithy.api#documentation": "Results that matched the filter criteria and were accessible to the caller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListProperties RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaProperty"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilter": {
      "type": "structure",
      "members": {
        "numericFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessNumericFilter",
          "traits": {
            "smithy.api#documentation": "A filter for numeric or date values."
          }
        },
        "stringFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessStringFilter",
          "traits": {
            "smithy.api#documentation": "Strings related filter."
          }
        },
        "inListFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessInListFilter",
          "traits": {
            "smithy.api#documentation": "A filter for in list values."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension name or metric name."
          }
        },
        "betweenFilter": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessBetweenFilter",
          "traits": {
            "smithy.api#documentation": "A filter for two values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An expression to filter dimension or metric values."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A metric name in the request to order by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorts by metric values."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this change history event. This ID is unique across Google Analytics."
          }
        },
        "userActorEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
          }
        },
        "changesFiltered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
          }
        },
        "actorType": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEventActorTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of actor that made this change."
          }
        },
        "changeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when change was made."
          }
        },
        "changes": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeList",
          "traits": {
            "smithy.api#documentation": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEventActorTypeEnum": {
      "type": "enum",
      "members": {
        "ACTOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTOR_TYPE_UNSPECIFIED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPORT"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryChange"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "type": "structure",
      "members": {
        "expressions": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpressionList_",
          "traits": {
            "smithy.api#documentation": "A list of filter expressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of filter expressions."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpressionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessFilterExpression"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummary": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the property referred to in this property summary."
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, then the user has a Google Analytics role that permits them to edit the property."
          }
        },
        "propertyType": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummaryPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The property's property type."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A virtual resource representing metadata for a Google Analytics property."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaPropertySummaryPropertyTypeEnum": {
      "type": "enum",
      "members": {
        "PROPERTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_UNSPECIFIED"
          }
        },
        "PROPERTY_TYPE_ORDINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_ORDINARY"
          }
        },
        "PROPERTY_TYPE_SUBPROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_SUBPROPERTY"
          }
        },
        "PROPERTY_TYPE_ROLLUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPERTY_TYPE_ROLLUP"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "type": "structure",
      "members": {
        "changeHistoryEvents": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEventList",
          "traits": {
            "smithy.api#documentation": "Results that were accessible to the caller."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for SearchAccounts RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaChangeHistoryEvent"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimension": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "type": "structure",
      "members": {
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota remaining after this request."
          }
        },
        "consumed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota consumed by this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state for a particular quota group."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccount",
          "traits": {
            "smithy.api#documentation": "The account to create."
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ProvisionAccountTicket RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "type": "structure",
      "members": {
        "measurementProtocolSecrets": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaMeasurementProtocolSecretList",
          "traits": {
            "smithy.api#documentation": "A list of secrets for the parent stream specified in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListMeasurementProtocolSecret RPC"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaMeasurementProtocolSecretList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
          }
        },
        "sharingWithGoogleAnySalesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. This field is no longer used and always returns false."
          }
        },
        "sharingWithGoogleProductsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI."
          }
        },
        "sharingWithOthersEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI."
          }
        },
        "sharingWithGoogleSupportEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI."
          }
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing data sharing settings of a Google Analytics account."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaConversionEvent": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this conversion event was created in the property."
          }
        },
        "custom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property."
          }
        },
        "defaultConversionValue": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a default value/currency for a conversion event."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
          }
        },
        "deletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this event can currently be deleted with DeleteConversionEvent."
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
          }
        },
        "countingMethod": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaConversionEventCountingMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A conversion event in a Google Analytics property."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaConversionEventCountingMethodEnum": {
      "type": "enum",
      "members": {
        "CONVERSION_COUNTING_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSION_COUNTING_METHOD_UNSPECIFIED"
          }
        },
        "ONCE_PER_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCE_PER_EVENT"
          }
        },
        "ONCE_PER_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCE_PER_SESSION"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStream": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this stream was originally created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when stream payload fields were last updated."
          }
        },
        "androidAppStreamData": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
          "traits": {
            "smithy.api#documentation": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
          }
        },
        "type": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The type of this DataStream resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
          }
        },
        "iosAppStreamData": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
          "traits": {
            "smithy.api#documentation": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM."
          }
        },
        "webStreamData": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
          "traits": {
            "smithy.api#documentation": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource message representing a data stream."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaDataStreamTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_STREAM_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STREAM_TYPE_UNSPECIFIED"
          }
        },
        "WEB_DATA_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEB_DATA_STREAM"
          }
        },
        "ANDROID_APP_DATA_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANDROID_APP_DATA_STREAM"
          }
        },
        "IOS_APP_DATA_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IOS_APP_DATA_STREAM"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "type": "structure",
      "members": {
        "quota": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessQuota",
          "traits": {
            "smithy.api#documentation": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "metricHeaders": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricHeaderList",
          "traits": {
            "smithy.api#documentation": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
          }
        },
        "dimensionHeaders": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionHeaderList",
          "traits": {
            "smithy.api#documentation": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
          }
        },
        "rows": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessRowList",
          "traits": {
            "smithy.api#documentation": "Rows of dimension value combinations and metric values in the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customized Data Access Record Report response."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessMetricHeader"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionHeader"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessRow"
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEvent": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this key event was created in the property."
          }
        },
        "custom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
          }
        },
        "deletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If set to true, this event can be deleted."
          }
        },
        "defaultValue": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventDefaultValue",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a default value/currency for a key event."
          }
        },
        "countingMethod": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventCountingMethodEnum",
          "traits": {
            "smithy.api#documentation": "Required. The method by which Key Events will be counted across multiple events within a session."
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The event name for this key event. Examples: 'click', 'purchase'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key event in a Google Analytics property."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaKeyEventCountingMethodEnum": {
      "type": "enum",
      "members": {
        "COUNTING_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTING_METHOD_UNSPECIFIED"
          }
        },
        "ONCE_PER_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCE_PER_EVENT"
          }
        },
        "ONCE_PER_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONCE_PER_SESSION"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaFirebaseLink": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Example format: properties/1234/firebaseLinks/5678"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this FirebaseLink was originally created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link between a Google Analytics property and a Firebase project."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
          }
        },
        "scope": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimensionScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The scope of this dimension."
          }
        },
        "disallowAdsPersonalization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
          }
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description for this custom dimension. Max length of 150 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A definition for a CustomDimension."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaCustomDimensionScopeEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_SCOPE_UNSPECIFIED"
          }
        },
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "ITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM"
          }
        }
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "type": "structure",
      "members": {
        "accountTicketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The param to be passed in the ToS link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ProvisionAccountTicket RPC."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "type": "structure",
      "members": {
        "creatorEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this link was last updated."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Google Ads customer ID."
          }
        },
        "canManageClients": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, this link is for a Google Ads manager account."
          }
        },
        "adsPersonalizationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when this link was originally created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A link between a Google Analytics property and a Google Ads account."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension value. For example, this value may be 'France' for the 'country' dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a dimension."
      }
    },
    "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "type": "structure",
      "members": {
        "earliestChangeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes made after this time (inclusive)."
          }
        },
        "action": {
          "target": "com.gcp.analyticsadmin_v1beta#GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequestActionItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, only return changes that match one or more of these types of actions."
          }
        },
        "pageSize": {
[...]
