{
  "smithy": "2.0",
  "metadata": {
    "service": "analyticshub",
    "version": "v1",
    "title": "Analytics Hub API",
    "baseUrl": "https://analyticshub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.analyticshub_v1#RevokeSubscriptionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for response when you revoke a subscription. Empty for now."
      }
    },
    "com.gcp.analyticshub_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.analyticshub_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.analyticshub_v1#RefreshSubscriptionResponse": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.analyticshub_v1#Subscription",
          "traits": {
            "smithy.api#documentation": "The refreshed subscription resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response when you refresh a subscription."
      }
    },
    "com.gcp.analyticshub_v1#Compression": {
      "type": "structure",
      "members": {
        "compressionAlgorithm": {
          "target": "com.gcp.analyticshub_v1#CompressionCompressionAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the compression algorithm to use."
          }
        },
        "compressionMode": {
          "target": "com.gcp.analyticshub_v1#CompressionCompressionModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies whether to compress or decompress the message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for compressing/decompressing message data using a user-specified compression algorithm."
      }
    },
    "com.gcp.analyticshub_v1#CompressionCompressionAlgorithmEnum": {
      "type": "enum",
      "members": {
        "COMPRESSION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESSION_ALGORITHM_UNSPECIFIED"
          }
        },
        "ZLIB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZLIB"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#CompressionCompressionModeEnum": {
      "type": "enum",
      "members": {
        "COMPRESSION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESSION_MODE_UNSPECIFIED"
          }
        },
        "COMPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPRESS"
          }
        },
        "DECOMPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECOMPRESS"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#BigtableConfig": {
      "type": "structure",
      "members": {
        "appProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent]({$universe.dns_names.final_documentation_domain}/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        },
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Bigtable subscription. The Pub/Sub message will be written to a Bigtable row as follows: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp."
      }
    },
    "com.gcp.analyticshub_v1#ExpirationPolicy": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion)."
      }
    },
    "com.gcp.analyticshub_v1#NoWrapper": {
      "type": "structure",
      "members": {
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the `data` field as the HTTP body for delivery."
      }
    },
    "com.gcp.analyticshub_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of a long-running operation in Analytics Hub."
      }
    },
    "com.gcp.analyticshub_v1#ListListingsResponse": {
      "type": "structure",
      "members": {
        "listings": {
          "target": "com.gcp.analyticshub_v1#ListingList",
          "traits": {
            "smithy.api#documentation": "The list of Listing."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the list of Listings."
      }
    },
    "com.gcp.analyticshub_v1#ListingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#Listing"
      }
    },
    "com.gcp.analyticshub_v1#CloudStorageConfig": {
      "type": "structure",
      "members": {
        "filenamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming)."
          }
        },
        "textConfig": {
          "target": "com.gcp.analyticshub_v1#TextConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, message data will be written to Cloud Storage in text format."
          }
        },
        "maxBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit."
          }
        },
        "filenameDatetimeFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names)."
          }
        },
        "maxDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline."
          }
        },
        "avroConfig": {
          "target": "com.gcp.analyticshub_v1#AvroConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, message data will be written to Cloud Storage in Avro format."
          }
        },
        "filenameSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\"."
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        },
        "maxMessages": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Cloud Storage subscription."
      }
    },
    "com.gcp.analyticshub_v1#TextConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline."
      }
    },
    "com.gcp.analyticshub_v1#MessageTransform": {
      "type": "structure",
      "members": {
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`."
          }
        },
        "compression": {
          "target": "com.gcp.analyticshub_v1#Compression",
          "traits": {
            "smithy.api#documentation": "Optional. Compression/Decompression."
          }
        },
        "javascriptUdf": {
          "target": "com.gcp.analyticshub_v1#JavaScriptUDF",
          "traits": {
            "smithy.api#documentation": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated, use the `disabled` field to disable transforms."
          }
        },
        "aiInference": {
          "target": "com.gcp.analyticshub_v1#AIInference",
          "traits": {
            "smithy.api#documentation": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All supported message transforms types."
      }
    },
    "com.gcp.analyticshub_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.analyticshub_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.analyticshub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.analyticshub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.analyticshub_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo": {
      "type": "structure",
      "members": {
        "cloudMarketplace": {
          "target": "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Details of the Marketplace Data Product associated with the Listing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commercial info contains the information about the commercial data products associated with the listing."
      }
    },
    "com.gcp.analyticshub_v1#DataExchange": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          }
        },
        "logLinkedDatasetQueryUserEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. By default, false. If true, the DataExchange has an email sharing mandate enabled."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`."
          }
        },
        "sharingEnvironmentConfig": {
          "target": "com.gcp.analyticshub_v1#SharingEnvironmentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configurable data sharing environment option for a data exchange."
          }
        },
        "discoveryType": {
          "target": "com.gcp.analyticshub_v1#DataExchangeDiscoveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of discovery on the discovery page for all the listings under this exchange. Updating this field also updates (overwrites) the discovery_type field for all the listings under this exchange."
          }
        },
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Documentation describing the data exchange."
          }
        },
        "listingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of listings contained in the data exchange."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets."
      }
    },
    "com.gcp.analyticshub_v1#DataExchangeDiscoveryTypeEnum": {
      "type": "enum",
      "members": {
        "DISCOVERY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_UNSPECIFIED"
          }
        },
        "DISCOVERY_TYPE_PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_PRIVATE"
          }
        },
        "DISCOVERY_TYPE_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_PUBLIC"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#StoredProcedureConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, enable sharing of stored procedure."
          }
        },
        "allowedStoredProcedureTypes": {
          "target": "com.gcp.analyticshub_v1#StoredProcedureConfigAllowedStoredProcedureTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. Types of stored procedure supported to share."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stored procedure configuration, used to configure stored procedure sharing on linked dataset."
      }
    },
    "com.gcp.analyticshub_v1#StoredProcedureConfigAllowedStoredProcedureTypesItemEnum": {
      "type": "enum",
      "members": {
        "STORED_PROCEDURE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORED_PROCEDURE_TYPE_UNSPECIFIED"
          }
        },
        "SQL_PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_PROCEDURE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#StoredProcedureConfigAllowedStoredProcedureTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#StoredProcedureConfigAllowedStoredProcedureTypesItemEnum"
      }
    },
    "com.gcp.analyticshub_v1#PushConfig": {
      "type": "structure",
      "members": {
        "oidcToken": {
          "target": "com.gcp.analyticshub_v1#OidcToken",
          "traits": {
            "smithy.api#documentation": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
          }
        },
        "noWrapper": {
          "target": "com.gcp.analyticshub_v1#NoWrapper",
          "traits": {
            "smithy.api#documentation": "Optional. When set, the payload to the push endpoint is not wrapped."
          }
        },
        "pushEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`."
          }
        },
        "pubsubWrapper": {
          "target": "com.gcp.analyticshub_v1#PubsubWrapper",
          "traits": {
            "smithy.api#documentation": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
          }
        },
        "attributes": {
          "target": "com.gcp.analyticshub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a push delivery endpoint."
      }
    },
    "com.gcp.analyticshub_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticshub_v1#AIInference": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint."
          }
        },
        "unstructuredInference": {
          "target": "com.gcp.analyticshub_v1#UnstructuredInference",
          "traits": {
            "smithy.api#documentation": "Optional. Requests and responses can be any arbitrary JSON object."
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent]({$universe.dns_names.final_documentation_domain}/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for making inference requests against Vertex AI models."
      }
    },
    "com.gcp.analyticshub_v1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.analyticshub_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.analyticshub_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.analyticshub_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#AuditConfig"
      }
    },
    "com.gcp.analyticshub_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#Binding"
      }
    },
    "com.gcp.analyticshub_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.analyticshub_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.analyticshub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.analyticshub_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.analyticshub_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticshub_v1#PubSubTopicSource": {
      "type": "structure",
      "members": {
        "dataAffinityRegions": {
          "target": "com.gcp.analyticshub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Region hint on where the data might be published. Data affinity regions are modifiable. See https://cloud.google.com/about/locations for full listing of possible Cloud regions."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the Pub/Sub topic source for this listing. e.g. projects/myproject/topics/topicId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pub/Sub topic source."
      }
    },
    "com.gcp.analyticshub_v1#Replica": {
      "type": "structure",
      "members": {
        "replicaState": {
          "target": "com.gcp.analyticshub_v1#ReplicaReplicaStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Assigned by Analytics Hub based on real BigQuery replication state."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The geographic location where the replica resides. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations. Eg. \"us-central1\"."
          }
        },
        "primaryState": {
          "target": "com.gcp.analyticshub_v1#ReplicaPrimaryStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates that this replica is the primary replica."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the state of a replica of a shared dataset. It includes the geographic location of the replica and system-computed, output-only fields indicating its replication state and whether it is the primary replica."
      }
    },
    "com.gcp.analyticshub_v1#ReplicaReplicaStateEnum": {
      "type": "enum",
      "members": {
        "REPLICA_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLICA_STATE_UNSPECIFIED"
          }
        },
        "READY_TO_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_TO_USE"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#ReplicaPrimaryStateEnum": {
      "type": "enum",
      "members": {
        "PRIMARY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_STATE_UNSPECIFIED"
          }
        },
        "PRIMARY_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_REPLICA"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#DeadLetterPolicy": {
      "type": "structure",
      "members": {
        "maxDeliveryAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used."
          }
        },
        "deadLetterTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail."
      }
    },
    "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the Marketplace Order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Marketplace commercial metadata for this subscription."
      }
    },
    "com.gcp.analyticshub_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.analyticshub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.analyticshub_v1#ListDataExchangesResponse": {
      "type": "structure",
      "members": {
        "dataExchanges": {
          "target": "com.gcp.analyticshub_v1#DataExchangeList",
          "traits": {
            "smithy.api#documentation": "The list of data exchanges."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the list of data exchanges."
      }
    },
    "com.gcp.analyticshub_v1#DataExchangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#DataExchange"
      }
    },
    "com.gcp.analyticshub_v1#SubmitQueryTemplateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for submitting a QueryTemplate."
      }
    },
    "com.gcp.analyticshub_v1#AvroConfig": {
      "type": "structure",
      "members": {
        "writeMetadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map."
          }
        },
        "useTopicSchema": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary."
      }
    },
    "com.gcp.analyticshub_v1#SubscribeListingResponse": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.analyticshub_v1#Subscription",
          "traits": {
            "smithy.api#documentation": "Subscription object created from this subscribe action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response when you subscribe to a listing."
      }
    },
    "com.gcp.analyticshub_v1#ListSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "subscriptions": {
          "target": "com.gcp.analyticshub_v1#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "The list of subscriptions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the listing of subscriptions."
      }
    },
    "com.gcp.analyticshub_v1#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#Subscription"
      }
    },
    "com.gcp.analyticshub_v1#Routine": {
      "type": "structure",
      "members": {
        "routineType": {
          "target": "com.gcp.analyticshub_v1#RoutineRoutineTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of routine."
          }
        },
        "definitionBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The definition body of the routine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a bigquery routine."
      }
    },
    "com.gcp.analyticshub_v1#RoutineRoutineTypeEnum": {
      "type": "enum",
      "members": {
        "ROUTINE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINE_TYPE_UNSPECIFIED"
          }
        },
        "TABLE_VALUED_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_VALUED_FUNCTION"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.analyticshub_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.analyticshub_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#AuditLogConfig"
      }
    },
    "com.gcp.analyticshub_v1#ListOrgDataExchangesResponse": {
      "type": "structure",
      "members": {
        "dataExchanges": {
          "target": "com.gcp.analyticshub_v1#DataExchangeList",
          "traits": {
            "smithy.api#documentation": "The list of data exchanges."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing data exchanges in an organization and location."
      }
    },
    "com.gcp.analyticshub_v1#DestinationPubSubSubscription": {
      "type": "structure",
      "members": {
        "pubsubSubscription": {
          "target": "com.gcp.analyticshub_v1#GooglePubsubV1Subscription",
          "traits": {
            "smithy.api#documentation": "Required. Destination Pub/Sub subscription resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the destination Pub/Sub subscription."
      }
    },
    "com.gcp.analyticshub_v1#ApproveQueryTemplateRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for approving a QueryTemplate."
      }
    },
    "com.gcp.analyticshub_v1#PubsubWrapper": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
      }
    },
    "com.gcp.analyticshub_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.analyticshub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.analyticshub_v1#SubscribeDataExchangeRequest": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource path of the Subscription. e.g. `projects/subscriberproject/locations/us`"
          }
        },
        "destinationDataset": {
          "target": "com.gcp.analyticshub_v1#DestinationDataset",
          "traits": {
            "smithy.api#documentation": "Optional. BigQuery destination dataset to create for the subscriber."
          }
        },
        "subscriberContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the subscriber."
          }
        },
        "subscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the subscription to create. e.g. `subscription1`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for subscribing to a Data Exchange."
      }
    },
    "com.gcp.analyticshub_v1#QueryTemplate": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Short description of the QueryTemplate. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          }
        },
        "state": {
          "target": "com.gcp.analyticshub_v1#QueryTemplateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The QueryTemplate lifecycle state."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the QueryTemplate. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes."
          }
        },
        "routine": {
          "target": "com.gcp.analyticshub_v1#Routine",
          "traits": {
            "smithy.api#documentation": "Optional. The routine associated with the QueryTemplate."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the QueryTemplate was last modified."
          }
        },
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Documentation describing the QueryTemplate."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the QueryTemplate was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`"
          }
        },
        "proposer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Will be deprecated. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A query template is a container for sharing table-valued functions defined by contributors in a data clean room."
      }
    },
    "com.gcp.analyticshub_v1#QueryTemplateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo": {
      "type": "structure",
      "members": {
        "cloudMarketplace": {
          "target": "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. This is set when the subscription is commercialised via Cloud Marketplace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commercial info metadata for this subscription."
      }
    },
    "com.gcp.analyticshub_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.analyticshub_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.analyticshub_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#DocumentMap"
      }
    },
    "com.gcp.analyticshub_v1#RevokeSubscriptionRequest": {
      "type": "structure",
      "members": {
        "revokeCommercial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If the subscription is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid revoking commercial subscriptions accidentally."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for revoking a subscription."
      }
    },
    "com.gcp.analyticshub_v1#DefaultExchangeConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Default Analytics Hub data exchange, used for secured data sharing."
      }
    },
    "com.gcp.analyticshub_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.analyticshub_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.analyticshub_v1#GooglePubsubV1Subscription": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.analyticshub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
          }
        },
        "messageTransforms": {
          "target": "com.gcp.analyticshub_v1#MessageTransformList",
          "traits": {
            "smithy.api#documentation": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified."
          }
        },
        "bigtableConfig": {
          "target": "com.gcp.analyticshub_v1#BigtableConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it."
          }
        },
        "enableMessageOrdering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order."
          }
        },
        "cloudStorageConfig": {
          "target": "com.gcp.analyticshub_v1#CloudStorageConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. Name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
          }
        },
        "enableExactlyOnceDelivery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values."
          }
        },
        "tags": {
          "target": "com.gcp.analyticshub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
          }
        },
        "bigqueryConfig": {
          "target": "com.gcp.analyticshub_v1#BigQueryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it."
          }
        },
        "ackDeadlineSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message."
          }
        },
        "retryPolicy": {
          "target": "com.gcp.analyticshub_v1#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out."
          }
        },
        "pushConfig": {
          "target": "com.gcp.analyticshub_v1#PushConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If push delivery is used with this subscription, this field is used to configure it."
          }
        },
        "retainAckedMessages": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages."
          }
        },
        "detached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made."
          }
        },
        "messageRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes."
          }
        },
        "expirationPolicy": {
          "target": "com.gcp.analyticshub_v1#ExpirationPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires."
          }
        },
        "deadLetterPolicy": {
          "target": "com.gcp.analyticshub_v1#DeadLetterPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the destination Pub/Sub subscription. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, `bigtable_config`, `pubsub_export_config`, or `pubsublite_export_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set."
      }
    },
    "com.gcp.analyticshub_v1#MessageTransformList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#MessageTransform"
      }
    },
    "com.gcp.analyticshub_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.analyticshub_v1#OidcToken": {
      "type": "structure",
      "members": {
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push)."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect)."
      }
    },
    "com.gcp.analyticshub_v1#DataProvider": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the data provider."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the data provider. Max Length: 1000 bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains details of the data provider."
      }
    },
    "com.gcp.analyticshub_v1#SharingEnvironmentConfig": {
      "type": "structure",
      "members": {
        "dcrExchangeConfig": {
          "target": "com.gcp.analyticshub_v1#DcrExchangeConfig",
          "traits": {
            "smithy.api#documentation": "Data Clean Room (DCR), used for privacy-safe and secured data sharing."
          }
        },
        "defaultExchangeConfig": {
          "target": "com.gcp.analyticshub_v1#DefaultExchangeConfig",
          "traits": {
            "smithy.api#documentation": "Default Analytics Hub data exchange, used for secured data sharing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sharing environment is a behavior model for sharing data within a data exchange. This option is configurable for a data exchange."
      }
    },
    "com.gcp.analyticshub_v1#RestrictedExportConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, enable restricted export."
          }
        },
        "restrictDirectTableAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, restrict direct table access(read api/tabledata.list) on linked table."
          }
        },
        "restrictQueryResult": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, restrict export of query result derived from restricted linked dataset table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restricted export config, used to configure restricted export on linked dataset."
      }
    },
    "com.gcp.analyticshub_v1#SubscribeDataExchangeResponse": {
      "type": "structure",
      "members": {
        "subscription": {
          "target": "com.gcp.analyticshub_v1#Subscription",
          "traits": {
            "smithy.api#documentation": "Subscription object created from this subscribe action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response when you subscribe to a Data Exchange."
      }
    },
    "com.gcp.analyticshub_v1#DestinationDatasetReference": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this dataset."
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#Subscription": {
      "type": "structure",
      "members": {
        "linkedDatasetMap": {
          "target": "com.gcp.analyticshub_v1#LinkedResourceMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the subscription was created."
          }
        },
        "resourceType": {
          "target": "com.gcp.analyticshub_v1#SubscriptionResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Listing shared asset type."
          }
        },
        "state": {
          "target": "com.gcp.analyticshub_v1#SubscriptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the subscription."
          }
        },
        "logLinkedDatasetQueryUserEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing."
          }
        },
        "listing": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789"
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Organization of the project this subscription belongs to."
          }
        },
        "commercialInfo": {
          "target": "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
          "traits": {
            "smithy.api#documentation": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`."
          }
        },
        "dataExchange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456"
          }
        },
        "linkedResources": {
          "target": "com.gcp.analyticshub_v1#LinkedResourceList",
          "traits": {
            "smithy.api#documentation": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE."
          }
        },
        "destinationDataset": {
          "target": "com.gcp.analyticshub_v1#DestinationDataset",
          "traits": {
            "smithy.api#documentation": "Optional. BigQuery destination dataset to create for the subscriber."
          }
        },
        "subscriberContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the subscriber."
          }
        },
        "organizationDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the project of this subscription."
          }
        },
        "lastModifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the subscription was last modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets."
      }
    },
    "com.gcp.analyticshub_v1#LinkedResourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.analyticshub_v1#LinkedResource"
      }
    },
    "com.gcp.analyticshub_v1#SubscriptionResourceTypeEnum": {
      "type": "enum",
      "members": {
        "SHARED_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "BIGQUERY_DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_DATASET"
          }
        },
        "PUBSUB_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBSUB_TOPIC"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#SubscriptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_STALE"
          }
        },
        "STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_INACTIVE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#LinkedResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#LinkedResource"
      }
    },
    "com.gcp.analyticshub_v1#RefreshSubscriptionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for refreshing a subscription."
      }
    },
    "com.gcp.analyticshub_v1#ListSharedResourceSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "sharedResourceSubscriptions": {
          "target": "com.gcp.analyticshub_v1#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "The list of subscriptions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the listing of shared resource subscriptions."
      }
    },
    "com.gcp.analyticshub_v1#UnstructuredInference": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.analyticshub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. A parameters object to be included in each inference request. The parameters object is combined with the data field of the Pub/Sub message to form the inference request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for making inferences using arbitrary JSON payloads."
      }
    },
    "com.gcp.analyticshub_v1#SelectedResource": {
      "type": "structure",
      "members": {
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Format: For table: `projects/{projectId}/datasets/{datasetId}/tables/{tableId}` Example:\"projects/test_project/datasets/test_dataset/tables/test_table\""
          }
        },
        "routine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Format: For routine: `projects/{projectId}/datasets/{datasetId}/routines/{routineId}` Example:\"projects/test_project/datasets/test_dataset/routines/test_routine\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource in this dataset that is selectively shared."
      }
    },
    "com.gcp.analyticshub_v1#ListQueryTemplatesResponse": {
      "type": "structure",
      "members": {
        "queryTemplates": {
          "target": "com.gcp.analyticshub_v1#QueryTemplateList",
          "traits": {
            "smithy.api#documentation": "The list of QueryTemplates."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to request the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to the list of QueryTemplates."
      }
    },
    "com.gcp.analyticshub_v1#QueryTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticshub_v1#QueryTemplate"
      }
    },
    "com.gcp.analyticshub_v1#Listing": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes."
          }
        },
        "dataProvider": {
          "target": "com.gcp.analyticshub_v1#DataProvider",
          "traits": {
            "smithy.api#documentation": "Optional. Details of the data provider who owns the source data."
          }
        },
        "resourceType": {
          "target": "com.gcp.analyticshub_v1#ListingResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Listing shared asset type."
          }
        },
        "allowOnlyMetadataSharing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
          }
        },
        "pubsubTopic": {
          "target": "com.gcp.analyticshub_v1#PubSubTopicSource",
          "traits": {
            "smithy.api#documentation": "Pub/Sub topic source."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
          }
        },
        "commercialInfo": {
          "target": "com.gcp.analyticshub_v1#GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Commercial info contains the information about the commercial data products associated with the listing."
          }
        },
        "requestAccess": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes."
          }
        },
        "logLinkedDatasetQueryUserEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. By default, false. If true, the Listing has an email sharing mandate enabled."
          }
        },
        "state": {
          "target": "com.gcp.analyticshub_v1#ListingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the listing."
          }
        },
        "discoveryType": {
          "target": "com.gcp.analyticshub_v1#ListingDiscoveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of discovery of the listing on the discovery page."
          }
        },
        "documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Documentation describing the listing."
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes."
          }
        },
        "restrictedExportConfig": {
          "target": "com.gcp.analyticshub_v1#RestrictedExportConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset."
          }
        },
        "storedProcedureConfig": {
          "target": "com.gcp.analyticshub_v1#StoredProcedureConfig",
          "traits": {
            "smithy.api#documentation": "Optional. If set, stored procedure configuration will be propagated and enforced on the linked dataset."
          }
        },
        "categories": {
          "target": "com.gcp.analyticshub_v1#ListingCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Categories of the listing. Up to five categories are allowed."
          }
        },
        "publisher": {
          "target": "com.gcp.analyticshub_v1#Publisher",
          "traits": {
            "smithy.api#documentation": "Optional. Details of the publisher who owns the listing and who can share the source data."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`"
          }
        },
        "bigqueryDataset": {
          "target": "com.gcp.analyticshub_v1#BigQueryDatasetSource",
          "traits": {
            "smithy.api#documentation": "Shared dataset i.e. BigQuery dataset source."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data."
      }
    },
    "com.gcp.analyticshub_v1#ListingResourceTypeEnum": {
      "type": "enum",
      "members": {
        "SHARED_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "BIGQUERY_DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY_DATASET"
          }
        },
        "PUBSUB_TOPIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBSUB_TOPIC"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#ListingStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#ListingDiscoveryTypeEnum": {
      "type": "enum",
      "members": {
        "DISCOVERY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_UNSPECIFIED"
          }
        },
        "DISCOVERY_TYPE_PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_PRIVATE"
          }
        },
        "DISCOVERY_TYPE_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_TYPE_PUBLIC"
          }
        }
      }
    },
    "com.gcp.analyticshub_v1#ListingCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "CATEGORY_OTHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_OTHERS"
          }
        },
        "CATEGORY_ADVERTISING_AND_MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ADVERTISING_AND_MARKETING"
          }
        },
        "CATEGORY_COMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_COMMERCE"
          }
        },
        "CATEGORY_CLIMATE_AND_ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_CLIMATE_AND_ENVIRONMENT"
          }
        },
        "CATEGORY_DEMOGRAPHICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_DEMOGRAPHICS"
          }
        },
        "CATEGORY_ECONOMICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ECONOMICS"
          }
        },
        "CATEGORY_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_EDUCATION"
          }
        },
        "CATEGORY_ENERGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_ENERGY"
          }
        },
        "CATEGORY_FINANCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_FINANCIAL"
          }
        },
        "CATEGORY_GAMING": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
