{
  "smithy": "2.0",
  "metadata": {
    "service": "analyticsdata",
    "version": "v1beta",
    "title": "Google Analytics Data API",
    "baseUrl": "https://analyticsdata.googleapis.com/"
  },
  "shapes": {
    "com.gcp.analyticsdata_v1beta#Comparison": {
      "type": "structure",
      "members": {
        "dimensionFilter": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "A basic comparison."
          }
        },
        "comparison": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A saved comparison identified by the comparison's resource name. For example, 'comparisons/1234'."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Each comparison produces separate rows in the response. In the response, this comparison is identified by this name. If name is unspecified, we will use the saved comparisons display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an individual comparison. Most requests will include multiple comparisons so that the report compares between the comparisons."
      }
    },
    "com.gcp.analyticsdata_v1beta#CheckCompatibilityResponse": {
      "type": "structure",
      "members": {
        "metricCompatibilities": {
          "target": "com.gcp.analyticsdata_v1beta#MetricCompatibilityList",
          "traits": {
            "smithy.api#documentation": "The compatibility of each metric."
          }
        },
        "dimensionCompatibilities": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionCompatibilityList",
          "traits": {
            "smithy.api#documentation": "The compatibility of each dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The compatibility response with the compatibility of each dimension & metric."
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricCompatibilityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MetricCompatibility"
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionCompatibilityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DimensionCompatibility"
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotDimensionHeader": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionValueList",
          "traits": {
            "smithy.api#documentation": "Values of multiple dimensions in a pivot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summarizes dimension values from a row for this pivot."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DimensionValue"
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionMetadata": {
      "type": "structure",
      "members": {
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`."
          }
        },
        "uiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This dimension's name within the Google Analytics user interface. For example, `Event name`."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the category that this dimension belongs to. Similar dimensions and metrics are categorized together."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of how this dimension is used and calculated."
          }
        },
        "deprecatedApiNames": {
          "target": "com.gcp.analyticsdata_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`."
          }
        },
        "customDefinition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the dimension is custom to this property. This includes user, event, & item scoped custom dimensions; to learn more about custom dimensions, see https://support.google.com/analytics/answer/14240153. This also include custom channel groups; to learn more about custom channel groups, see https://support.google.com/analytics/answer/13051316."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explains a dimension."
      }
    },
    "com.gcp.analyticsdata_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.analyticsdata_v1beta#BetweenFilter": {
      "type": "structure",
      "members": {
        "toValue": {
          "target": "com.gcp.analyticsdata_v1beta#NumericValue",
          "traits": {
            "smithy.api#documentation": "Ends with this number."
          }
        },
        "fromValue": {
          "target": "com.gcp.analyticsdata_v1beta#NumericValue",
          "traits": {
            "smithy.api#documentation": "Begins with this number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To express that the result needs to be between two numbers (inclusive)."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionExpression": {
      "type": "structure",
      "members": {
        "concatenate": {
          "target": "com.gcp.analyticsdata_v1beta#ConcatenateExpression",
          "traits": {
            "smithy.api#documentation": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city)."
          }
        },
        "lowerCase": {
          "target": "com.gcp.analyticsdata_v1beta#CaseExpression",
          "traits": {
            "smithy.api#documentation": "Used to convert a dimension value to lower case."
          }
        },
        "upperCase": {
          "target": "com.gcp.analyticsdata_v1beta#CaseExpression",
          "traits": {
            "smithy.api#documentation": "Used to convert a dimension value to upper case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2)."
      }
    },
    "com.gcp.analyticsdata_v1beta#Row": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionValueList",
          "traits": {
            "smithy.api#documentation": "List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot."
          }
        },
        "metricValues": {
          "target": "com.gcp.analyticsdata_v1beta#MetricValueList",
          "traits": {
            "smithy.api#documentation": "List of requested visible metric values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report data for each row. For example if RunReportRequest contains: ```none \"dimensions\": [ { \"name\": \"eventName\" }, { \"name\": \"countryId\" } ], \"metrics\": [ { \"name\": \"eventCount\" } ] ``` One row with 'in_app_purchase' as the eventName, 'JP' as the countryId, and 15 as the eventCount, would be: ```none \"dimensionValues\": [ { \"value\": \"in_app_purchase\" }, { \"value\": \"JP\" } ], \"metricValues\": [ { \"value\": \"15\" } ] ```"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MetricValue"
      }
    },
    "com.gcp.analyticsdata_v1beta#MinuteRange": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assigns a name to this minute range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, minute ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc."
          }
        },
        "startMinutesAgo": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The inclusive start minute for the query as a number of minutes before now. For example, `\"startMinutesAgo\": 29` specifies the report should include event data from 29 minutes ago and after. Cannot be after `endMinutesAgo`. If unspecified, `startMinutesAgo` is defaulted to 29. Standard Analytics properties can request up to the last 30 minutes of event data (`startMinutesAgo <= 29`), and 360 Analytics properties can request up to the last 60 minutes of event data (`startMinutesAgo <= 59`)."
          }
        },
        "endMinutesAgo": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The inclusive end minute for the query as a number of minutes before now. Cannot be before `startMinutesAgo`. For example, `\"endMinutesAgo\": 15` specifies the report should include event data from prior to 15 minutes ago. If unspecified, `endMinutesAgo` is defaulted to 0. Standard Analytics properties can request any minute in the last 30 minutes of event data (`endMinutesAgo <= 29`), and 360 Analytics properties can request any minute in the last 60 minutes of event data (`endMinutesAgo <= 59`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contiguous set of minutes: `startMinutesAgo`, `startMinutesAgo + 1`, ..., `endMinutesAgo`. Requests are allowed up to 2 minute ranges."
      }
    },
    "com.gcp.analyticsdata_v1beta#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.analyticsdata_v1beta#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.analyticsdata_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.analyticsdata_v1beta#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DocumentMap"
      }
    },
    "com.gcp.analyticsdata_v1beta#BatchRunReportsResponse": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.gcp.analyticsdata_v1beta#RunReportResponseList",
          "traits": {
            "smithy.api#documentation": "Individual responses. Each response has a separate report request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#batchRunReports\". Useful to distinguish between response types in JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch response containing multiple reports."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunReportResponse"
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportResponse": {
      "type": "structure",
      "members": {
        "dimensionHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
          }
        },
        "maximums": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the maximum values of metrics."
          }
        },
        "propertyQuota": {
          "target": "com.gcp.analyticsdata_v1beta#PropertyQuota",
          "traits": {
            "smithy.api#documentation": "This Google Analytics property's quota state including this request."
          }
        },
        "rows": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "Rows of dimension value combinations and metric values in the report."
          }
        },
        "totals": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the totaled values of metrics."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "minimums": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the minimum values of metrics."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runReport\". Useful to distinguish between response types in JSON."
          }
        },
        "metricHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#MetricHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
          }
        },
        "metadata": {
          "target": "com.gcp.analyticsdata_v1beta#ResponseMetaData",
          "traits": {
            "smithy.api#documentation": "Metadata for the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response report table corresponding to a request."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DimensionHeader"
      }
    },
    "com.gcp.analyticsdata_v1beta#RowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#Row"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MetricHeader"
      }
    },
    "com.gcp.analyticsdata_v1beta#ListAudienceExportsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "audienceExports": {
          "target": "com.gcp.analyticsdata_v1beta#AudienceExportList",
          "traits": {
            "smithy.api#documentation": "Each audience export for a property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of all audience exports for a property."
      }
    },
    "com.gcp.analyticsdata_v1beta#AudienceExportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#AudienceExport"
      }
    },
    "com.gcp.analyticsdata_v1beta#Metadata": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionMetadataList",
          "traits": {
            "smithy.api#documentation": "The dimension descriptions."
          }
        },
        "metrics": {
          "target": "com.gcp.analyticsdata_v1beta#MetricMetadataList",
          "traits": {
            "smithy.api#documentation": "The metric descriptions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of this metadata."
          }
        },
        "comparisons": {
          "target": "com.gcp.analyticsdata_v1beta#ComparisonMetadataList",
          "traits": {
            "smithy.api#documentation": "The comparison descriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The dimensions, metrics and comparisons currently accepted in reporting methods."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DimensionMetadata"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MetricMetadata"
      }
    },
    "com.gcp.analyticsdata_v1beta#ComparisonMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#ComparisonMetadata"
      }
    },
    "com.gcp.analyticsdata_v1beta#AudienceExport": {
      "type": "structure",
      "members": {
        "percentageCompleted": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The percentage completed for this audience export ranging between 0 to 100."
          }
        },
        "beginCreatingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when CreateAudienceExport was called and the AudienceExport began the `CREATING` state."
          }
        },
        "creationQuotaTokensCharged": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total quota tokens charged during creation of the AudienceExport. Because this token count is based on activity from the `CREATING` state, this tokens charged will be fixed once an AudienceExport enters the `ACTIVE` or `FAILED` states."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The audience resource name. This resource name identifies the audience being listed and is shared between the Analytics Data & Admin APIs. Format: `properties/{property}/audiences/{audience}`"
          }
        },
        "audienceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The descriptive display name for this audience. For example, \"Purchasers\"."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of rows in the AudienceExport result."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Error message is populated when an audience export fails during creation. A common reason for such a failure is quota exhaustion."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The audience export resource name assigned during creation. This resource name identifies this `AudienceExport`. Format: `properties/{property}/audienceExports/{audience_export}`"
          }
        },
        "state": {
          "target": "com.gcp.analyticsdata_v1beta#AudienceExportStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state for this AudienceExport."
          }
        },
        "dimensions": {
          "target": "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionList",
          "traits": {
            "smithy.api#documentation": "Required. The dimensions requested and displayed in the query response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An audience export is a list of users in an audience at the time of the list's creation. One audience may have multiple audience exports created for different days."
      }
    },
    "com.gcp.analyticsdata_v1beta#AudienceExportStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#V1betaAudienceDimension"
      }
    },
    "com.gcp.analyticsdata_v1beta#ConcatenateExpression": {
      "type": "structure",
      "members": {
        "dimensionNames": {
          "target": "com.gcp.analyticsdata_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Names of dimensions. The names must refer back to names in the dimensions field of the request."
          }
        },
        "delimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to combine dimension values to a single dimension."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunPivotReportResponse": {
      "type": "structure",
      "members": {
        "aggregates": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\"."
          }
        },
        "rows": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "Rows of dimension value combinations and metric values in the report."
          }
        },
        "pivotHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#PivotHeaderList",
          "traits": {
            "smithy.api#documentation": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]"
          }
        },
        "propertyQuota": {
          "target": "com.gcp.analyticsdata_v1beta#PropertyQuota",
          "traits": {
            "smithy.api#documentation": "This Google Analytics property's quota state including this request."
          }
        },
        "dimensionHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
          }
        },
        "metricHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#MetricHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
          }
        },
        "metadata": {
          "target": "com.gcp.analyticsdata_v1beta#ResponseMetaData",
          "traits": {
            "smithy.api#documentation": "Metadata for the report."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runPivotReport\". Useful to distinguish between response types in JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response pivot report table corresponding to a pivot request."
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#PivotHeader"
      }
    },
    "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value as a string if the dimension type is a string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a dimension."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionOrderBy": {
      "type": "structure",
      "members": {
        "orderType": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionOrderByOrderTypeEnum",
          "traits": {
            "smithy.api#documentation": "Controls the rule for dimension value ordering."
          }
        },
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A dimension name in the request to order by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorts by dimension values."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionOrderByOrderTypeEnum": {
      "type": "enum",
      "members": {
        "ORDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORDER_TYPE_UNSPECIFIED"
          }
        },
        "ALPHANUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALPHANUMERIC"
          }
        },
        "CASE_INSENSITIVE_ALPHANUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CASE_INSENSITIVE_ALPHANUMERIC"
          }
        },
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERIC"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#Pivot": {
      "type": "structure",
      "members": {
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The row count of the start row. The first row is counted as row 0."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of unique combinations of dimension values to return in this pivot. The `limit` parameter is required. A `limit` of 10,000 is common for single pivot requests. The product of the `limit` for each `pivot` in a `RunPivotReportRequest` must not exceed 250,000. For example, a two pivot request with `limit: 1000` in each pivot will fail because the product is `1,000,000`."
          }
        },
        "fieldNames": {
          "target": "com.gcp.analyticsdata_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Dimension names for visible columns in the report response. Including \"dateRange\" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request."
          }
        },
        "orderBys": {
          "target": "com.gcp.analyticsdata_v1beta#OrderByList",
          "traits": {
            "smithy.api#documentation": "Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names."
          }
        },
        "metricAggregations": {
          "target": "com.gcp.analyticsdata_v1beta#PivotMetricAggregationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the visible dimension columns and rows in the report response."
      }
    },
    "com.gcp.analyticsdata_v1beta#OrderByList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#OrderBy"
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotMetricAggregationsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_AGGREGATION_UNSPECIFIED"
          }
        },
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTAL"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotMetricAggregationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#PivotMetricAggregationsItemEnum"
      }
    },
    "com.gcp.analyticsdata_v1beta#RunRealtimeReportResponse": {
      "type": "structure",
      "members": {
        "dimensionHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
          }
        },
        "maximums": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the maximum values of metrics."
          }
        },
        "propertyQuota": {
          "target": "com.gcp.analyticsdata_v1beta#PropertyQuota",
          "traits": {
            "smithy.api#documentation": "This Google Analytics property's Realtime quota state including this request."
          }
        },
        "rows": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "Rows of dimension value combinations and metric values in the report."
          }
        },
        "totals": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the totaled values of metrics."
          }
        },
        "rowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response and the `limit` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows."
          }
        },
        "minimums": {
          "target": "com.gcp.analyticsdata_v1beta#RowList",
          "traits": {
            "smithy.api#documentation": "If requested, the minimum values of metrics."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runRealtimeReport\". Useful to distinguish between response types in JSON."
          }
        },
        "metricHeaders": {
          "target": "com.gcp.analyticsdata_v1beta#MetricHeaderList",
          "traits": {
            "smithy.api#documentation": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response realtime report table corresponding to a request."
      }
    },
    "com.gcp.analyticsdata_v1beta#ResponseMetaData": {
      "type": "structure",
      "members": {
        "schemaRestrictionResponse": {
          "target": "com.gcp.analyticsdata_v1beta#SchemaRestrictionResponse",
          "traits": {
            "smithy.api#documentation": "Describes the schema restrictions actively enforced in creating this report. To learn more, see [Access and data-restriction management](https://support.google.com/analytics/answer/10851388)."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency code used in this report. Intended to be used in formatting currency metrics like `purchaseRevenue` for visualization. If currency_code was specified in the request, this response parameter will echo the request parameter; otherwise, this response parameter is the property's current currency_code. Currency codes are string encodings of currency types from the ISO 4217 standard (https://en.wikipedia.org/wiki/ISO_4217); for example \"USD\", \"EUR\", \"JPY\". To learn more, see https://support.google.com/analytics/answer/9796179."
          }
        },
        "emptyReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If empty reason is specified, the report is empty for this reason."
          }
        },
        "samplingMetadatas": {
          "target": "com.gcp.analyticsdata_v1beta#SamplingMetadataList",
          "traits": {
            "smithy.api#documentation": "If this report results is [sampled](https://support.google.com/analytics/answer/13331292), this describes the percentage of events used in this report. One `samplingMetadatas` is populated for each date range. Each `samplingMetadatas` corresponds to a date range in order that date ranges were specified in the request. However if the results are not sampled, this field will not be defined."
          }
        },
        "dataLossFromOtherRow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, indicates some buckets of dimension combinations are rolled into \"(other)\" row. This can happen for high cardinality reports. The metadata parameter dataLossFromOtherRow is populated based on the aggregated data table used in the report. The parameter will be accurately populated regardless of the filters and limits in the report. For example, the (other) row could be dropped from the report because the request contains a filter on sessionSource = google. This parameter will still be populated if data loss from other row was present in the input aggregate data used to generate this report. To learn more, see [About the (other) row and data sampling](https://support.google.com/analytics/answer/13208658#reports)."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property's current timezone. Intended to be used to interpret time-based dimensions like `hour` and `minute`. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
          }
        },
        "subjectToThresholding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If `subjectToThresholding` is true, this report is subject to thresholding and only returns data that meets the minimum aggregation thresholds. It is possible for a request to be subject to thresholding thresholding and no data is absent from the report, and this happens when all data is above the thresholds. To learn more, see [Data thresholds](https://support.google.com/analytics/answer/9383630)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response's metadata carrying additional information about the report content."
      }
    },
    "com.gcp.analyticsdata_v1beta#SamplingMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#SamplingMetadata"
      }
    },
    "com.gcp.analyticsdata_v1beta#AudienceListMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This metadata is currently blank."
      }
    },
    "com.gcp.analyticsdata_v1beta#FilterExpression": {
      "type": "structure",
      "members": {
        "orGroup": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpressionList",
          "traits": {
            "smithy.api#documentation": "The FilterExpressions in or_group have an OR relationship."
          }
        },
        "andGroup": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpressionList",
          "traits": {
            "smithy.api#documentation": "The FilterExpressions in and_group have an AND relationship."
          }
        },
        "notExpression": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "The FilterExpression is NOT of not_expression."
          }
        },
        "filter": {
          "target": "com.gcp.analyticsdata_v1beta#Filter",
          "traits": {
            "smithy.api#documentation": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics."
      }
    },
    "com.gcp.analyticsdata_v1beta#Metric": {
      "type": "structure",
      "members": {
        "invisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of metric names supported by core reporting methods such as `runReport` and `batchRunReports`. See [Realtime Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-api-schema#metrics) for the list of metric names supported by the `runRealtimeReport` method. See [Funnel Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/exploration-api-schema#metrics) for the list of metric names supported by the `runFunnelReport` method. If `expression` is specified, `name` can be any string that you would like within the allowed character set. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metric names that you choose must match the regular expression `^[a-zA-Z0-9_]$`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics."
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricOrderBy": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A metric name in the request to order by."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorts by metric values."
      }
    },
    "com.gcp.analyticsdata_v1beta#FilterExpressionList": {
      "type": "structure",
      "members": {
        "expressions": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpressionList_",
          "traits": {
            "smithy.api#documentation": "A list of filter expressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of filter expressions."
      }
    },
    "com.gcp.analyticsdata_v1beta#FilterExpressionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#FilterExpression"
      }
    },
    "com.gcp.analyticsdata_v1beta#Filter": {
      "type": "structure",
      "members": {
        "numericFilter": {
          "target": "com.gcp.analyticsdata_v1beta#NumericFilter",
          "traits": {
            "smithy.api#documentation": "A filter for numeric or date values."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension name or metric name. In most methods, dimensions & metrics can be used for the first time in this field. However in a RunPivotReportRequest, this field must be additionally specified by name in the RunPivotReportRequest's dimensions or metrics."
          }
        },
        "inListFilter": {
          "target": "com.gcp.analyticsdata_v1beta#InListFilter",
          "traits": {
            "smithy.api#documentation": "A filter for in list values."
          }
        },
        "emptyFilter": {
          "target": "com.gcp.analyticsdata_v1beta#EmptyFilter",
          "traits": {
            "smithy.api#documentation": "A filter for empty values such as \"(not set)\" and \"\" values."
          }
        },
        "stringFilter": {
          "target": "com.gcp.analyticsdata_v1beta#StringFilter",
          "traits": {
            "smithy.api#documentation": "Strings related filter."
          }
        },
        "betweenFilter": {
          "target": "com.gcp.analyticsdata_v1beta#BetweenFilter",
          "traits": {
            "smithy.api#documentation": "A filter for two values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An expression to filter dimension or metric values."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dimension's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value as a string if the dimension type is a string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a dimension."
      }
    },
    "com.gcp.analyticsdata_v1beta#SamplingMetadata": {
      "type": "structure",
      "members": {
        "samplesReadCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of events read in this sampled report for a date range. This is the size of the subset this property's data that was analyzed in this report."
          }
        },
        "samplingSpaceSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of events present in this property's data that could have been analyzed in this report for a date range. Sampling uncovers the meaningful information about the larger data set, and this is the size of the larger data set. To calculate the percentage of available data that was used in this report, compute `samplesReadCount/samplingSpaceSize`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If this report results is [sampled](https://support.google.com/analytics/answer/13331292), this describes the percentage of events used in this report. Sampling is the practice of analyzing a subset of all data in order to uncover the meaningful information in the larger data set."
      }
    },
    "com.gcp.analyticsdata_v1beta#BatchRunPivotReportsResponse": {
      "type": "structure",
      "members": {
        "pivotReports": {
          "target": "com.gcp.analyticsdata_v1beta#RunPivotReportResponseList",
          "traits": {
            "smithy.api#documentation": "Individual responses. Each response has a separate pivot report request."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#batchRunPivotReports\". Useful to distinguish between response types in JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch response containing multiple pivot reports."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunPivotReportResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunPivotReportResponse"
      }
    },
    "com.gcp.analyticsdata_v1beta#Cohort": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.gcp.analyticsdata_v1beta#DateRange",
          "traits": {
            "smithy.api#documentation": "The cohort selects users whose first touch date is between start date and end date defined in the `dateRange`. This `dateRange` does not specify the full date range of event data that is present in a cohort report. In a cohort report, this `dateRange` is extended by the granularity and offset present in the `cohortsRange`; event data for the extended reporting date range is present in a cohort report. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. This `dateRange` should generally be aligned with the cohort's granularity. If `CohortsRange` uses daily granularity, this `dateRange` can be a single day. If `CohortsRange` uses weekly granularity, this `dateRange` can be aligned to a week boundary, starting at Sunday and ending Saturday. If `CohortsRange` uses monthly granularity, this `dateRange` can be aligned to a month, starting at the first and ending on the last day of the month."
          }
        },
        "dimension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension used by the cohort. Required and only supports `firstSessionDate`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a cohort selection criteria. A cohort is a group of users who share a common characteristic. For example, users with the same `firstSessionDate` belong to the same cohort."
      }
    },
    "com.gcp.analyticsdata_v1beta#BatchRunPivotReportsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.analyticsdata_v1beta#RunPivotReportRequestList",
          "traits": {
            "smithy.api#documentation": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch request containing multiple pivot report requests."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunPivotReportRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunPivotReportRequest"
      }
    },
    "com.gcp.analyticsdata_v1beta#SchemaRestrictionResponse": {
      "type": "structure",
      "members": {
        "activeMetricRestrictions": {
          "target": "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionList",
          "traits": {
            "smithy.api#documentation": "All restrictions actively enforced in creating the report. For example, `purchaseRevenue` always has the restriction type `REVENUE_DATA`. However, this active response restriction is only populated if the user's custom role disallows access to `REVENUE_DATA`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schema restrictions actively enforced in creating this report. To learn more, see [Access and data-restriction management](https://support.google.com/analytics/answer/10851388)."
      }
    },
    "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#ActiveMetricRestriction"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricCompatibility": {
      "type": "structure",
      "members": {
        "compatibility": {
          "target": "com.gcp.analyticsdata_v1beta#MetricCompatibilityCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "The compatibility of this metric. If the compatibility is COMPATIBLE, this metric can be successfully added to the report."
          }
        },
        "metricMetadata": {
          "target": "com.gcp.analyticsdata_v1beta#MetricMetadata",
          "traits": {
            "smithy.api#documentation": "The metric metadata contains the API name for this compatibility information. The metric metadata also contains other helpful information like the UI name and description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The compatibility for a single metric."
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricCompatibilityCompatibilityEnum": {
      "type": "enum",
      "members": {
        "COMPATIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBILITY_UNSPECIFIED"
          }
        },
        "COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBLE"
          }
        },
        "INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.analyticsdata_v1beta#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.analyticsdata_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.analyticsdata_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportRequest": {
      "type": "structure",
      "members": {
        "keepEmptyRows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter. Regardless of this `keep_empty_rows` setting, only data recorded by the Google Analytics property can be displayed in a report. For example if a property never logs a `purchase` event, then a query for the `eventName` dimension and `eventCount` metric will not have a row eventName: \"purchase\" and eventCount: 0."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "orderBys": {
          "target": "com.gcp.analyticsdata_v1beta#OrderByList",
          "traits": {
            "smithy.api#documentation": "Specifies how rows are ordered in the response. Requests including both comparisons and multiple date ranges will have order bys applied on the comparisons."
          }
        },
        "dimensions": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionList",
          "traits": {
            "smithy.api#documentation": "The dimensions requested and displayed."
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The row count of the start row. The first row is counted as row 0. When paging, the first request does not specify offset; or equivalently, sets offset to 0; the first request returns the first `limit` of rows. The second request sets offset to the `limit` of the first request; the second request returns the second `limit` of rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "metricAggregations": {
          "target": "com.gcp.analyticsdata_v1beta#RunReportRequestMetricAggregationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\". Aggregates including both comparisons and multiple date ranges will be aggregated based on the date ranges."
          }
        },
        "dateRanges": {
          "target": "com.gcp.analyticsdata_v1beta#DateRangeList",
          "traits": {
            "smithy.api#documentation": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified."
          }
        },
        "metricFilter": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "The filter clause of metrics. Applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the property's default currency."
          }
        },
        "cohortSpec": {
          "target": "com.gcp.analyticsdata_v1beta#CohortSpec",
          "traits": {
            "smithy.api#documentation": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
          }
        },
        "comparisons": {
          "target": "com.gcp.analyticsdata_v1beta#ComparisonList",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration of comparisons requested and displayed. The request only requires a comparisons field in order to receive a comparison column in the response."
          }
        },
        "returnPropertyQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggles whether to return the current state of this Google Analytics property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
          }
        },
        "dimensionFilter": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "Dimension filters let you ask for only specific dimension values in the report. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
          }
        },
        "metrics": {
          "target": "com.gcp.analyticsdata_v1beta#MetricList",
          "traits": {
            "smithy.api#documentation": "The metrics requested and displayed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to generate a report."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#Dimension"
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportRequestMetricAggregationsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_AGGREGATION_UNSPECIFIED"
          }
        },
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTAL"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportRequestMetricAggregationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunReportRequestMetricAggregationsItemEnum"
      }
    },
    "com.gcp.analyticsdata_v1beta#DateRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#DateRange"
      }
    },
    "com.gcp.analyticsdata_v1beta#ComparisonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#Comparison"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#Metric"
      }
    },
    "com.gcp.analyticsdata_v1beta#PropertyQuota": {
      "type": "structure",
      "members": {
        "concurrentRequests": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Standard Analytics Properties can send up to 10 concurrent requests; Analytics 360 Properties can use up to 50 concurrent requests."
          }
        },
        "potentiallyThresholdedRequestsPerHour": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Analytics Properties can send up to 120 requests with potentially thresholded dimensions per hour. In a batch request, each report request is individually counted for this quota if the request contains potentially thresholded dimensions."
          }
        },
        "tokensPerDay": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Standard Analytics Properties can use up to 200,000 tokens per day; Analytics 360 Properties can use 2,000,000 tokens per day. Most requests consume fewer than 10 tokens."
          }
        },
        "serverErrorsPerProjectPerHour": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Standard Analytics Properties and cloud project pairs can have up to 10 server errors per hour; Analytics 360 Properties and cloud project pairs can have up to 50 server errors per hour."
          }
        },
        "tokensPerProjectPerHour": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Analytics Properties can use up to 35% of their tokens per project per hour. This amounts to standard Analytics Properties can use up to 14,000 tokens per project per hour, and Analytics 360 Properties can use 140,000 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        },
        "tokensPerHour": {
          "target": "com.gcp.analyticsdata_v1beta#QuotaStatus",
          "traits": {
            "smithy.api#documentation": "Standard Analytics Properties can use up to 40,000 tokens per hour; Analytics 360 Properties can use 400,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
      }
    },
    "com.gcp.analyticsdata_v1beta#CohortReportSettings": {
      "type": "structure",
      "members": {
        "accumulate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, accumulates the result from first touch day to the end day. Not supported in `RunReportRequest`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional settings of a cohort report."
      }
    },
    "com.gcp.analyticsdata_v1beta#DateRange": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A contiguous set of days: `startDate`, `startDate + 1`, ..., `endDate`. Requests are allowed up to 4 date ranges."
      }
    },
    "com.gcp.analyticsdata_v1beta#Dimension": {
      "type": "structure",
      "members": {
        "dimensionExpression": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionExpression",
          "traits": {
            "smithy.api#documentation": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names supported by core reporting methods such as `runReport` and `batchRunReports`. See [Realtime Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-api-schema#dimensions) for the list of dimension names supported by the `runRealtimeReport` method. See [Funnel Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/exploration-api-schema#dimensions) for the list of dimension names supported by the `runFunnelReport` method. If `dimensionExpression` is specified, `name` can be any string that you would like within the allowed character set. For example if a `dimensionExpression` concatenates `country` and `city`, you could call that dimension `countryAndCity`. Dimension names that you choose must match the regular expression `^[a-zA-Z0-9_]$`. Dimensions are referenced by `name` in `dimensionFilter`, `orderBys`, `dimensionExpression`, and `pivots`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimensions are attributes of your data. For example, the dimension city indicates the city from which an event originates. Dimension values in report responses are strings; for example, the city could be \"Paris\" or \"New York\". Requests are allowed up to 9 dimensions."
      }
    },
    "com.gcp.analyticsdata_v1beta#OrderBy": {
      "type": "structure",
      "members": {
        "desc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, sorts by descending order."
          }
        },
        "dimension": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionOrderBy",
          "traits": {
            "smithy.api#documentation": "Sorts results by a dimension's values."
          }
        },
        "metric": {
          "target": "com.gcp.analyticsdata_v1beta#MetricOrderBy",
          "traits": {
            "smithy.api#documentation": "Sorts results by a metric's values."
          }
        },
        "pivot": {
          "target": "com.gcp.analyticsdata_v1beta#PivotOrderBy",
          "traits": {
            "smithy.api#documentation": "Sorts results by a metric's values within a pivot column group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending event count is one ordering, and ordering rows by the event name string is a different ordering."
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotOrderBy": {
      "type": "structure",
      "members": {
        "pivotSelections": {
          "target": "com.gcp.analyticsdata_v1beta#PivotSelectionList",
          "traits": {
            "smithy.api#documentation": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "In the response to order by, order rows by this column. Must be a metric name from the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorts by a pivot column group."
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotSelectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#PivotSelection"
      }
    },
    "com.gcp.analyticsdata_v1beta#V1betaAudienceRow": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionValueList",
          "traits": {
            "smithy.api#documentation": "Each dimension value attribute for an audience user. One dimension value will be added for each dimension column requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimension value attributes for the audience user row."
      }
    },
    "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#V1betaAudienceDimensionValue"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricMetadata": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`."
          }
        },
        "blockedReasons": {
          "target": "com.gcp.analyticsdata_v1beta#MetricMetadataBlockedReasonsItemEnumList",
          "traits": {
            "smithy.api#documentation": "If reasons are specified, your access is blocked to this metric for this property. API requests from you to this property for this metric will succeed; however, the report will contain only zeros for this metric. API requests with metric filters on blocked metrics will fail. If reasons are empty, you have access to this metric. To learn more, see [Access and data-restriction management](https://support.google.com/analytics/answer/10851388)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of how this metric is used and calculated."
          }
        },
        "type": {
          "target": "com.gcp.analyticsdata_v1beta#MetricMetadataTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this metric."
          }
        },
        "deprecatedApiNames": {
          "target": "com.gcp.analyticsdata_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`."
          }
        },
        "customDefinition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the metric is a custom metric for this property."
          }
        },
        "uiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This metric's name within the Google Analytics user interface. For example, `Event count`."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the category that this metrics belongs to. Similar dimensions and metrics are categorized together."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Explains a metric."
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricMetadataBlockedReasonsItemEnum": {
      "type": "enum",
      "members": {
        "BLOCKED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED_REASON_UNSPECIFIED"
          }
        },
        "NO_REVENUE_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_REVENUE_METRICS"
          }
        },
        "NO_COST_METRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_COST_METRICS"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricMetadataBlockedReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MetricMetadataBlockedReasonsItemEnum"
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricMetadataTypeEnum": {
      "type": "enum",
      "members": {
        "METRIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_TYPE_UNSPECIFIED"
          }
        },
        "TYPE_INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INTEGER"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SECONDS"
          }
        },
        "TYPE_MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MILLISECONDS"
          }
        },
        "TYPE_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MINUTES"
          }
        },
        "TYPE_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_HOURS"
          }
        },
        "TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STANDARD"
          }
        },
        "TYPE_CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CURRENCY"
          }
        },
        "TYPE_FEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FEET"
          }
        },
        "TYPE_MILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MILES"
          }
        },
        "TYPE_METERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_METERS"
          }
        },
        "TYPE_KILOMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_KILOMETERS"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#EmptyFilter": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Filter for empty values."
      }
    },
    "com.gcp.analyticsdata_v1beta#CaseExpression": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a dimension. The name must refer back to a name in dimensions field of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to convert a dimension value to a single case."
      }
    },
    "com.gcp.analyticsdata_v1beta#QuotaStatus": {
      "type": "structure",
      "members": {
        "consumed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota consumed by this request."
          }
        },
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quota remaining after this request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state for a particular quota group."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunRealtimeReportRequest": {
      "type": "structure",
      "members": {
        "orderBys": {
          "target": "com.gcp.analyticsdata_v1beta#OrderByList",
          "traits": {
            "smithy.api#documentation": "Specifies how rows are ordered in the response."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value."
          }
        },
        "metricFilter": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Dimensions cannot be used in this filter."
          }
        },
        "metrics": {
          "target": "com.gcp.analyticsdata_v1beta#MetricList",
          "traits": {
            "smithy.api#documentation": "The metrics requested and displayed."
          }
        },
        "minuteRanges": {
          "target": "com.gcp.analyticsdata_v1beta#MinuteRangeList",
          "traits": {
            "smithy.api#documentation": "The minute ranges of event data to read. If unspecified, one minute range for the last 30 minutes will be used. If multiple minute ranges are requested, each response row will contain a zero based minute range index. If two minute ranges overlap, the event data for the overlapping minutes is included in the response rows for both minute ranges."
          }
        },
        "metricAggregations": {
          "target": "com.gcp.analyticsdata_v1beta#RunRealtimeReportRequestMetricAggregationsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\"."
          }
        },
        "dimensionFilter": {
          "target": "com.gcp.analyticsdata_v1beta#FilterExpression",
          "traits": {
            "smithy.api#documentation": "The filter clause of dimensions. Metrics cannot be used in this filter."
          }
        },
        "dimensions": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionList",
          "traits": {
            "smithy.api#documentation": "The dimensions requested and displayed."
          }
        },
        "returnPropertyQuota": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Toggles whether to return the current state of this Google Analytics property's Realtime quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to generate a realtime report."
      }
    },
    "com.gcp.analyticsdata_v1beta#MinuteRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#MinuteRange"
      }
    },
    "com.gcp.analyticsdata_v1beta#RunRealtimeReportRequestMetricAggregationsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_AGGREGATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_AGGREGATION_UNSPECIFIED"
          }
        },
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTAL"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#RunRealtimeReportRequestMetricAggregationsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunRealtimeReportRequestMetricAggregationsItemEnum"
      }
    },
    "com.gcp.analyticsdata_v1beta#ActiveMetricRestriction": {
      "type": "structure",
      "members": {
        "restrictedMetricTypes": {
          "target": "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionRestrictedMetricTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The reason for this metric's restriction."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the restricted metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metric actively restricted in creating the report."
      }
    },
    "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionRestrictedMetricTypesItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_METRIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_METRIC_TYPE_UNSPECIFIED"
          }
        },
        "COST_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST_DATA"
          }
        },
        "REVENUE_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVENUE_DATA"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionRestrictedMetricTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#ActiveMetricRestrictionRestrictedMetricTypesItemEnum"
      }
    },
    "com.gcp.analyticsdata_v1beta#BatchRunReportsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.analyticsdata_v1beta#RunReportRequestList",
          "traits": {
            "smithy.api#documentation": "Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch request containing multiple report requests."
      }
    },
    "com.gcp.analyticsdata_v1beta#RunReportRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.analyticsdata_v1beta#RunReportRequest"
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionCompatibility": {
      "type": "structure",
      "members": {
        "dimensionMetadata": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionMetadata",
          "traits": {
            "smithy.api#documentation": "The dimension metadata contains the API name for this compatibility information. The dimension metadata also contains other helpful information like the UI name and description."
          }
        },
        "compatibility": {
          "target": "com.gcp.analyticsdata_v1beta#DimensionCompatibilityCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "The compatibility of this dimension. If the compatibility is COMPATIBLE, this dimension can be successfully added to the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The compatibility for a single dimension."
      }
    },
    "com.gcp.analyticsdata_v1beta#DimensionCompatibilityCompatibilityEnum": {
      "type": "enum",
      "members": {
        "COMPATIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBILITY_UNSPECIFIED"
          }
        },
        "COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBLE"
          }
        },
        "INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#NumericFilter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.analyticsdata_v1beta#NumericValue",
          "traits": {
            "smithy.api#documentation": "A numeric value or a date value."
          }
        },
        "operation": {
          "target": "com.gcp.analyticsdata_v1beta#NumericFilterOperationEnum",
          "traits": {
            "smithy.api#documentation": "The operation type for this filter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filters for numeric or date values."
      }
    },
    "com.gcp.analyticsdata_v1beta#NumericFilterOperationEnum": {
      "type": "enum",
      "members": {
        "OPERATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_UNSPECIFIED"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_OR_EQUAL"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_OR_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_OR_EQUAL"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric's name."
          }
        },
        "type": {
          "target": "com.gcp.analyticsdata_v1beta#MetricHeaderTypeEnum",
          "traits": {
            "smithy.api#documentation": "The metric's data type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers."
      }
    },
    "com.gcp.analyticsdata_v1beta#MetricHeaderTypeEnum": {
      "type": "enum",
      "members": {
        "METRIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_TYPE_UNSPECIFIED"
          }
        },
        "TYPE_INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_INTEGER"
          }
        },
        "TYPE_FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FLOAT"
          }
        },
        "TYPE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_SECONDS"
          }
        },
        "TYPE_MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MILLISECONDS"
          }
        },
        "TYPE_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MINUTES"
          }
        },
        "TYPE_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_HOURS"
          }
        },
        "TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_STANDARD"
          }
        },
        "TYPE_CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_CURRENCY"
          }
        },
        "TYPE_FEET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_FEET"
          }
        },
        "TYPE_MILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_MILES"
          }
        },
        "TYPE_METERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_METERS"
          }
        },
        "TYPE_KILOMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_KILOMETERS"
          }
        }
      }
    },
    "com.gcp.analyticsdata_v1beta#QueryAudienceExportRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The row count of the start row. The first row is counted as row 0. When paging, the first request does not specify offset; or equivalently, sets offset to 0; the first request returns the first `limit` of rows. The second request sets offset to the `limit` of the first request; the second request returns the second `limit` of rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to list users in an audience export."
      }
    },
    "com.gcp.analyticsdata_v1beta#InListFilter": {
      "type": "structure",
      "members": {
        "caseSensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the string value is case sensitive."
          }
        },
        "values": {
          "target": "com.gcp.analyticsdata_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The list of string values. Must be non-empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result needs to be in a list of string values."
      }
    },
    "com.gcp.analyticsdata_v1beta#PivotSelection": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Must be a dimension name from the request."
          }
        },
        "dimensionValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order by only when the named dimension is this value."
          }
        }
      },
      "traits": {
[...]
