{
  "smithy": "2.0",
  "metadata": {
    "service": "androidpublisher",
    "version": "v3",
    "title": "Google Play Android Developer API",
    "baseUrl": "https://androidpublisher.googleapis.com/"
  },
  "shapes": {
    "com.gcp.androidpublisher_v3#IntroductoryPriceOfferPhase": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details about introductory price offer phase."
      }
    },
    "com.gcp.androidpublisher_v3#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.androidpublisher_v3#OutOfAppPurchaseContext": {
      "type": "structure",
      "members": {
        "expiredExternalAccountIdentifiers": {
          "target": "com.gcp.androidpublisher_v3#ExternalAccountIdentifiers",
          "traits": {
            "smithy.api#documentation": "User account identifier from the last expired subscription for this SKU."
          }
        },
        "expiredPurchaseToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information specific to an out of app purchase."
      }
    },
    "com.gcp.androidpublisher_v3#RemoteInAppUpdate": {
      "type": "structure",
      "members": {
        "isRemoteInAppUpdateRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Set to true if Remote In-App Update action type is needed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object representation for Remote in-app update action type."
      }
    },
    "com.gcp.androidpublisher_v3#TargetingUpdate": {
      "type": "structure",
      "members": {
        "androidSdks": {
          "target": "com.gcp.androidpublisher_v3#AndroidSdks",
          "traits": {
            "smithy.api#documentation": "Additional android sdk levels are targeted by the recovery action."
          }
        },
        "regions": {
          "target": "com.gcp.androidpublisher_v3#Regions",
          "traits": {
            "smithy.api#documentation": "Additional regions are targeted by the recovery action."
          }
        },
        "allUsers": {
          "target": "com.gcp.androidpublisher_v3#AllUsers",
          "traits": {
            "smithy.api#documentation": "All users are targeted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update type for targeting. Note it is always a subset Targeting."
      }
    },
    "com.gcp.androidpublisher_v3#BatchGetSubscriptionOffersResponse": {
      "type": "structure",
      "members": {
        "subscriptionOffers": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionOfferList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BatchGetSubscriptionOffers endpoint."
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionOfferList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#SubscriptionOffer"
      }
    },
    "com.gcp.androidpublisher_v3#PaidAppDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of a paid app purchase."
      }
    },
    "com.gcp.androidpublisher_v3#SplitApkVariant": {
      "type": "structure",
      "members": {
        "targeting": {
          "target": "com.gcp.androidpublisher_v3#VariantTargeting",
          "traits": {
            "smithy.api#documentation": "Variant-level targeting."
          }
        },
        "apkSet": {
          "target": "com.gcp.androidpublisher_v3#ApkSetList",
          "traits": {
            "smithy.api#documentation": "Set of APKs, one set per module."
          }
        },
        "variantNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device."
      }
    },
    "com.gcp.androidpublisher_v3#ApkSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#ApkSet"
      }
    },
    "com.gcp.androidpublisher_v3#DeveloperComment": {
      "type": "structure",
      "members": {
        "lastModified": {
          "target": "com.gcp.androidpublisher_v3#Timestamp",
          "traits": {
            "smithy.api#documentation": "The last time at which this comment was updated."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the comment, i.e. reply body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Developer entry from conversation between user and developer."
      }
    },
    "com.gcp.androidpublisher_v3#AppDetails": {
      "type": "structure",
      "members": {
        "contactWebsite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible website for this app."
          }
        },
        "contactEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible support email for this app."
          }
        },
        "contactPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible support telephone number for this app."
          }
        },
        "defaultLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default language code, in BCP 47 format (eg \"en-US\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The app details. The resource for DetailsService."
      }
    },
    "com.gcp.androidpublisher_v3#SystemOnChip": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices."
      }
    },
    "com.gcp.androidpublisher_v3#CancelSubscriptionPurchaseResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for the purchases.subscriptionsv2.cancel API."
      }
    },
    "com.gcp.androidpublisher_v3#BasePlan": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.androidpublisher_v3#BasePlanStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead."
          }
        },
        "regionalConfigs": {
          "target": "com.gcp.androidpublisher_v3#RegionalBasePlanConfigList",
          "traits": {
            "smithy.api#documentation": "Region-specific information for this base plan."
          }
        },
        "otherRegionsConfig": {
          "target": "com.gcp.androidpublisher_v3#OtherRegionsBasePlanConfig",
          "traits": {
            "smithy.api#documentation": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
          }
        },
        "offerTags": {
          "target": "com.gcp.androidpublisher_v3#OfferTagList",
          "traits": {
            "smithy.api#documentation": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library."
          }
        },
        "installmentsBasePlanType": {
          "target": "com.gcp.androidpublisher_v3#InstallmentsBasePlanType",
          "traits": {
            "smithy.api#documentation": "Set for installments base plans where a user is committed to a specified number of payments."
          }
        },
        "autoRenewingBasePlanType": {
          "target": "com.gcp.androidpublisher_v3#AutoRenewingBasePlanType",
          "traits": {
            "smithy.api#documentation": "Set when the base plan automatically renews at a regular interval."
          }
        },
        "basePlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
          }
        },
        "prepaidBasePlanType": {
          "target": "com.gcp.androidpublisher_v3#PrepaidBasePlanType",
          "traits": {
            "smithy.api#documentation": "Set when the base plan does not automatically renew at the end of the billing period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single base plan for a subscription."
      }
    },
    "com.gcp.androidpublisher_v3#BasePlanStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#RegionalBasePlanConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#RegionalBasePlanConfig"
      }
    },
    "com.gcp.androidpublisher_v3#OfferTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#OfferTag"
      }
    },
    "com.gcp.androidpublisher_v3#OtherRegionsSubscriptionOfferPhasePrices": {
      "type": "structure",
      "members": {
        "usdPrice": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "Required. Price in USD to use for any new locations Play may launch in."
          }
        },
        "eurPrice": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "Required. Price in EUR to use for any new locations Play may launch in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing information for any new locations Play may launch in."
      }
    },
    "com.gcp.androidpublisher_v3#ExpansionFilesUploadResponse": {
      "type": "structure",
      "members": {
        "expansionFile": {
          "target": "com.gcp.androidpublisher_v3#ExpansionFile",
          "traits": {
            "smithy.api#documentation": "The uploaded expansion file configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for uploading an expansion file."
      }
    },
    "com.gcp.androidpublisher_v3#ModuleTargeting": {
      "type": "structure",
      "members": {
        "userCountriesTargeting": {
          "target": "com.gcp.androidpublisher_v3#UserCountriesTargeting",
          "traits": {
            "smithy.api#documentation": "Countries-level targeting"
          }
        },
        "sdkVersionTargeting": {
          "target": "com.gcp.androidpublisher_v3#SdkVersionTargeting",
          "traits": {
            "smithy.api#documentation": "The sdk version that the variant targets"
          }
        },
        "deviceFeatureTargeting": {
          "target": "com.gcp.androidpublisher_v3#DeviceFeatureTargetingList",
          "traits": {
            "smithy.api#documentation": "Targeting for device features."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting on the module level."
      }
    },
    "com.gcp.androidpublisher_v3#DeviceFeatureTargetingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#DeviceFeatureTargeting"
      }
    },
    "com.gcp.androidpublisher_v3#ProductPurchase": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The inapp product SKU. May not be present."
          }
        },
        "consumptionState": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed"
          }
        },
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order id associated with the purchase of the inapp product."
          }
        },
        "developerPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-specified string that contains supplemental information about an order."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1."
          }
        },
        "purchaseType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)"
          }
        },
        "purchaseToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The purchase token generated to identify this purchase. May not be present."
          }
        },
        "obfuscatedExternalProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
          }
        },
        "refundableQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds."
          }
        },
        "purchaseState": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending"
          }
        },
        "obfuscatedExternalAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This kind represents an inappPurchase object in the androidpublisher service."
          }
        },
        "acknowledgementState": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
          }
        },
        "purchaseTimeMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ProductPurchase resource indicates the status of a user's inapp product purchase."
      }
    },
    "com.gcp.androidpublisher_v3#AddTargetingResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for AddTargeting."
      }
    },
    "com.gcp.androidpublisher_v3#RefundExternalTransactionRequest": {
      "type": "structure",
      "members": {
        "partialRefund": {
          "target": "com.gcp.androidpublisher_v3#PartialRefund",
          "traits": {
            "smithy.api#documentation": "A partial refund."
          }
        },
        "refundTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time that the transaction was refunded."
          }
        },
        "fullRefund": {
          "target": "com.gcp.androidpublisher_v3#FullRefund",
          "traits": {
            "smithy.api#documentation": "A full-amount refund."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to refund an existing external transaction."
      }
    },
    "com.gcp.androidpublisher_v3#BatchUpdateOneTimeProductOffersResponse": {
      "type": "structure",
      "members": {
        "oneTimeProductOffers": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductOfferList",
          "traits": {
            "smithy.api#documentation": "The list of updated one-time product offers, in the same order as the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BatchUpdateOneTimeProductOffers."
      }
    },
    "com.gcp.androidpublisher_v3#OneTimeProductOfferList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#OneTimeProductOffer"
      }
    },
    "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferPhaseFreePriceOverride": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Represents the free price override configuration for a single phase of a subscription offer"
      }
    },
    "com.gcp.androidpublisher_v3#ListAppRecoveriesResponse": {
      "type": "structure",
      "members": {
        "recoveryActions": {
          "target": "com.gcp.androidpublisher_v3#AppRecoveryActionList",
          "traits": {
            "smithy.api#documentation": "List of recovery actions associated with the requested package name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled"
      }
    },
    "com.gcp.androidpublisher_v3#AppRecoveryActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#AppRecoveryAction"
      }
    },
    "com.gcp.androidpublisher_v3#TrackCountryAvailability": {
      "type": "structure",
      "members": {
        "syncWithProduction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track."
          }
        },
        "countries": {
          "target": "com.gcp.androidpublisher_v3#TrackTargetedCountryList",
          "traits": {
            "smithy.api#documentation": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country."
          }
        },
        "restOfWorld": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether artifacts in this track are available to \"rest of the world\" countries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource for per-track country availability information."
      }
    },
    "com.gcp.androidpublisher_v3#TrackTargetedCountryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#TrackTargetedCountry"
      }
    },
    "com.gcp.androidpublisher_v3#Listing": {
      "type": "structure",
      "members": {
        "shortDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of the app."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized title of the app."
          }
        },
        "video": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a promotional YouTube video for the app."
          }
        },
        "fullDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full description of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A localized store listing. The resource for ListingsService."
      }
    },
    "com.gcp.androidpublisher_v3#ExternalOfferDetails": {
      "type": "structure",
      "members": {
        "linkType": {
          "target": "com.gcp.androidpublisher_v3#ExternalOfferDetailsLinkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play."
          }
        },
        "installedAppCategory": {
          "target": "com.gcp.androidpublisher_v3#ExternalOfferDetailsInstalledAppCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads."
          }
        },
        "appDownloadEventExternalTransactionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps."
          }
        },
        "installedAppPackage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reporting details unique to the external offers program."
      }
    },
    "com.gcp.androidpublisher_v3#ExternalOfferDetailsLinkTypeEnum": {
      "type": "enum",
      "members": {
        "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED"
          }
        },
        "LINK_TO_DIGITAL_CONTENT_OFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_TO_DIGITAL_CONTENT_OFFER"
          }
        },
        "LINK_TO_APP_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_TO_APP_DOWNLOAD"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#ExternalOfferDetailsInstalledAppCategoryEnum": {
      "type": "enum",
      "members": {
        "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED"
          }
        },
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP"
          }
        },
        "GAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAME"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#ScreenDensity": {
      "type": "structure",
      "members": {
        "densityAlias": {
          "target": "com.gcp.androidpublisher_v3#ScreenDensityDensityAliasEnum",
          "traits": {
            "smithy.api#documentation": "Alias for a screen density."
          }
        },
        "densityDpi": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Value for density dpi."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a screen density."
      }
    },
    "com.gcp.androidpublisher_v3#ScreenDensityDensityAliasEnum": {
      "type": "enum",
      "members": {
        "DENSITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENSITY_UNSPECIFIED"
          }
        },
        "NODPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODPI"
          }
        },
        "LDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LDPI"
          }
        },
        "MDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MDPI"
          }
        },
        "TVDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TVDPI"
          }
        },
        "HDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDPI"
          }
        },
        "XHDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XHDPI"
          }
        },
        "XXHDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXHDPI"
          }
        },
        "XXXHDPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXXHDPI"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#ListSubscriptionOffersResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "subscriptionOffers": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionOfferList",
          "traits": {
            "smithy.api#documentation": "The subscription offers from the specified subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSubscriptionOffers."
      }
    },
    "com.gcp.androidpublisher_v3#UpdateSubscriptionOfferStateRequest": {
      "type": "structure",
      "members": {
        "activateSubscriptionOfferRequest": {
          "target": "com.gcp.androidpublisher_v3#ActivateSubscriptionOfferRequest",
          "traits": {
            "smithy.api#documentation": "Activates an offer. Once activated, the offer will be available to new subscribers."
          }
        },
        "deactivateSubscriptionOfferRequest": {
          "target": "com.gcp.androidpublisher_v3#DeactivateSubscriptionOfferRequest",
          "traits": {
            "smithy.api#documentation": "Deactivates an offer. Once deactivated, the offer will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to update the state of a subscription offer."
      }
    },
    "com.gcp.androidpublisher_v3#DeployAppRecoveryRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for DeployAppRecovery."
      }
    },
    "com.gcp.androidpublisher_v3#LineItem": {
      "type": "structure",
      "members": {
        "tax": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "The tax paid for this line item."
          }
        },
        "paidAppDetails": {
          "target": "com.gcp.androidpublisher_v3#PaidAppDetails",
          "traits": {
            "smithy.api#documentation": "Details of a paid app purchase."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The purchased product ID or in-app SKU (for example, 'monthly001' or 'com.some.thing.inapp1')."
          }
        },
        "oneTimePurchaseDetails": {
          "target": "com.gcp.androidpublisher_v3#OneTimePurchaseDetails",
          "traits": {
            "smithy.api#documentation": "Details of a one-time purchase."
          }
        },
        "subscriptionDetails": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionDetails",
          "traits": {
            "smithy.api#documentation": "Details of a subscription purchase."
          }
        },
        "total": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "The total amount paid by the user for this line item, taking into account discounts and tax."
          }
        },
        "productTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Developer-specified name of the product. Displayed in buyer's locale. Example: coins, monthly subscription, etc."
          }
        },
        "listingPrice": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "Item's listed price on Play Store, this may or may not include tax. Excludes Google-funded discounts only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a line item."
      }
    },
    "com.gcp.androidpublisher_v3#TargetingInfo": {
      "type": "structure",
      "members": {
        "variant": {
          "target": "com.gcp.androidpublisher_v3#SplitApkVariantList",
          "traits": {
            "smithy.api#documentation": "List of the created variants."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name of this app."
          }
        },
        "assetSliceSet": {
          "target": "com.gcp.androidpublisher_v3#AssetSliceSetList",
          "traits": {
            "smithy.api#documentation": "List of created asset slices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting information about the generated apks."
      }
    },
    "com.gcp.androidpublisher_v3#SplitApkVariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#SplitApkVariant"
      }
    },
    "com.gcp.androidpublisher_v3#AssetSliceSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#AssetSliceSet"
      }
    },
    "com.gcp.androidpublisher_v3#Subscription": {
      "type": "structure",
      "members": {
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated: subscription archiving is not supported."
          }
        },
        "taxAndComplianceSettings": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionTaxAndComplianceSettings",
          "traits": {
            "smithy.api#documentation": "Details about taxes and legal compliance."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Package name of the parent app."
          }
        },
        "restrictedPaymentCountries": {
          "target": "com.gcp.androidpublisher_v3#RestrictedPaymentCountries",
          "traits": {
            "smithy.api#documentation": "Optional. Countries where the purchase of this subscription is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
          }
        },
        "listings": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionListingList",
          "traits": {
            "smithy.api#documentation": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app."
          }
        },
        "basePlans": {
          "target": "com.gcp.androidpublisher_v3#BasePlanList",
          "traits": {
            "smithy.api#documentation": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single subscription for an app."
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionListingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#SubscriptionListing"
      }
    },
    "com.gcp.androidpublisher_v3#BasePlanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#BasePlan"
      }
    },
    "com.gcp.androidpublisher_v3#DeferSubscriptionPurchaseResponse": {
      "type": "structure",
      "members": {
        "itemExpiryTimeDetails": {
          "target": "com.gcp.androidpublisher_v3#ItemExpiryTimeDetailsList",
          "traits": {
            "smithy.api#documentation": "The new expiry time for each subscription items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the v2 purchases.subscriptions.defer API."
      }
    },
    "com.gcp.androidpublisher_v3#ItemExpiryTimeDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#ItemExpiryTimeDetails"
      }
    },
    "com.gcp.androidpublisher_v3#UsesPermission": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the permission requested."
          }
        },
        "maxSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optionally, the maximum SDK version for which the permission is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A permission used by this APK."
      }
    },
    "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferPhaseConfig": {
      "type": "structure",
      "members": {
        "free": {
          "target": "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferPhaseFreePriceOverride",
          "traits": {
            "smithy.api#documentation": "Set to specify this offer is free to obtain."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The region to which this config applies."
          }
        },
        "price": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region."
          }
        },
        "absoluteDiscount": {
          "target": "com.gcp.androidpublisher_v3#Money",
          "traits": {
            "smithy.api#documentation": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region."
          }
        },
        "relativeDiscount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a single phase of a subscription offer in a single region."
      }
    },
    "com.gcp.androidpublisher_v3#Apk": {
      "type": "structure",
      "members": {
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version code of the APK, as specified in the manifest file."
          }
        },
        "binary": {
          "target": "com.gcp.androidpublisher_v3#ApkBinary",
          "traits": {
            "smithy.api#documentation": "Information about the binary payload of this APK."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an APK. The resource for ApksService."
      }
    },
    "com.gcp.androidpublisher_v3#LocalizedText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text in the given language."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized text in given language."
      }
    },
    "com.gcp.androidpublisher_v3#ExternalSubscription": {
      "type": "structure",
      "members": {
        "subscriptionType": {
          "target": "com.gcp.androidpublisher_v3#ExternalSubscriptionSubscriptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the external subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of an external subscription."
      }
    },
    "com.gcp.androidpublisher_v3#ExternalSubscriptionSubscriptionTypeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TYPE_UNSPECIFIED"
          }
        },
        "RECURRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECURRING"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPAID"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#CancelSurveyResult": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.androidpublisher_v3#CancelSurveyResultReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason the user selected in the cancel survey."
          }
        },
        "reasonUserInput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the cancel survey when the subscription was canceled by the user."
      }
    },
    "com.gcp.androidpublisher_v3#CancelSurveyResultReasonEnum": {
      "type": "enum",
      "members": {
        "CANCEL_SURVEY_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_UNSPECIFIED"
          }
        },
        "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE"
          }
        },
        "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES"
          }
        },
        "CANCEL_SURVEY_REASON_COST_RELATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_COST_RELATED"
          }
        },
        "CANCEL_SURVEY_REASON_FOUND_BETTER_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_FOUND_BETTER_APP"
          }
        },
        "CANCEL_SURVEY_REASON_OTHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_SURVEY_REASON_OTHERS"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#ReviewsListResponse": {
      "type": "structure",
      "members": {
        "reviews": {
          "target": "com.gcp.androidpublisher_v3#ReviewList",
          "traits": {
            "smithy.api#documentation": "List of reviews."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.androidpublisher_v3#TokenPagination",
          "traits": {
            "smithy.api#documentation": "Pagination token, to handle a number of products that is over one page."
          }
        },
        "pageInfo": {
          "target": "com.gcp.androidpublisher_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information about the current page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing reviews."
      }
    },
    "com.gcp.androidpublisher_v3#ReviewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#Review"
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionCancelSurveyResult": {
      "type": "structure",
      "members": {
        "cancelSurveyReason": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app"
          }
        },
        "userInputCancelReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customized input cancel reason from the user. Only present when cancelReason is 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
      }
    },
    "com.gcp.androidpublisher_v3#BatchUpdateBasePlanStatesResponse": {
      "type": "structure",
      "members": {
        "subscriptions": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "The list of updated subscriptions. This list will match the requests one to one, in the same order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BatchUpdateBasePlanStates."
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#Subscription"
      }
    },
    "com.gcp.androidpublisher_v3#ProductOfferDetails": {
      "type": "structure",
      "members": {
        "refundableQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds."
          }
        },
        "offerTags": {
          "target": "com.gcp.androidpublisher_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The latest offer tags associated with the offer. It includes tags inherited from the purchase option."
          }
        },
        "rentOfferDetails": {
          "target": "com.gcp.androidpublisher_v3#RentOfferDetails",
          "traits": {
            "smithy.api#documentation": "Offer details about rent offers. This will only be set for rental line items."
          }
        },
        "offerToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The per-transaction offer token used to make this purchase line item."
          }
        },
        "purchaseOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The purchase option ID."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity associated with the purchase of the inapp product."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer ID. Only present for offers."
          }
        },
        "consumptionState": {
          "target": "com.gcp.androidpublisher_v3#ProductOfferDetailsConsumptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The consumption state of the purchase."
          }
        },
        "preorderOfferDetails": {
          "target": "com.gcp.androidpublisher_v3#PreorderOfferDetails",
          "traits": {
            "smithy.api#documentation": "Offer details for a preorder offer. This will only be set for preorders."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Offer details information related to a purchase line item."
      }
    },
    "com.gcp.androidpublisher_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androidpublisher_v3#ProductOfferDetailsConsumptionStateEnum": {
      "type": "enum",
      "members": {
        "CONSUMPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMPTION_STATE_UNSPECIFIED"
          }
        },
        "CONSUMPTION_STATE_YET_TO_BE_CONSUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMPTION_STATE_YET_TO_BE_CONSUMED"
          }
        },
        "CONSUMPTION_STATE_CONSUMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMPTION_STATE_CONSUMED"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#RevocationContextProratedRefund": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Used to determine if the refund type in the RevocationContext is a prorated refund."
      }
    },
    "com.gcp.androidpublisher_v3#ImagesDeleteAllResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "com.gcp.androidpublisher_v3#ImageList",
          "traits": {
            "smithy.api#documentation": "The deleted images."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for deleting all images."
      }
    },
    "com.gcp.androidpublisher_v3#ImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#Image"
      }
    },
    "com.gcp.androidpublisher_v3#VoidedPurchasesListResponse": {
      "type": "structure",
      "members": {
        "tokenPagination": {
          "target": "com.gcp.androidpublisher_v3#TokenPagination",
          "traits": {
            "smithy.api#documentation": "Pagination information for token pagination."
          }
        },
        "pageInfo": {
          "target": "com.gcp.androidpublisher_v3#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "voidedPurchases": {
          "target": "com.gcp.androidpublisher_v3#VoidedPurchaseList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the voidedpurchases.list API."
      }
    },
    "com.gcp.androidpublisher_v3#VoidedPurchaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#VoidedPurchase"
      }
    },
    "com.gcp.androidpublisher_v3#ImagesUploadResponse": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.androidpublisher_v3#Image",
          "traits": {
            "smithy.api#documentation": "The uploaded image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for uploading an image."
      }
    },
    "com.gcp.androidpublisher_v3#Targeting": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.androidpublisher_v3#Regions",
          "traits": {
            "smithy.api#documentation": "Targeting is based on the user account region."
          }
        },
        "allUsers": {
          "target": "com.gcp.androidpublisher_v3#AllUsers",
          "traits": {
            "smithy.api#documentation": "All users are targeted."
          }
        },
        "androidSdks": {
          "target": "com.gcp.androidpublisher_v3#AndroidSdks",
          "traits": {
            "smithy.api#documentation": "Targeting is based on android api levels of devices."
          }
        },
        "versionList": {
          "target": "com.gcp.androidpublisher_v3#AppVersionList",
          "traits": {
            "smithy.api#documentation": "Target version codes as a list."
          }
        },
        "versionRange": {
          "target": "com.gcp.androidpublisher_v3#AppVersionRange",
          "traits": {
            "smithy.api#documentation": "Target version codes as a range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting details for a recovery action such as regions, android sdk levels, app versions etc."
      }
    },
    "com.gcp.androidpublisher_v3#RentalDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of a rental purchase."
      }
    },
    "com.gcp.androidpublisher_v3#InternalAppSharingArtifact": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
          }
        },
        "certificateFingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sha256 fingerprint of the certificate used to sign the generated artifact."
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
      }
    },
    "com.gcp.androidpublisher_v3#TracksListResponse": {
      "type": "structure",
      "members": {
        "tracks": {
          "target": "com.gcp.androidpublisher_v3#TrackList",
          "traits": {
            "smithy.api#documentation": "All tracks (including tracks with no releases)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of this response (\"androidpublisher#tracksListResponse\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing all tracks."
      }
    },
    "com.gcp.androidpublisher_v3#TrackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#Track"
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionOffer": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The package name of the app the parent subscription belongs to."
          }
        },
        "state": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionOfferStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active."
          }
        },
        "otherRegionsConfig": {
          "target": "com.gcp.androidpublisher_v3#OtherRegionsSubscriptionOfferConfig",
          "traits": {
            "smithy.api#documentation": "The configuration for any new locations Play may launch in the future."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
          }
        },
        "basePlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The ID of the base plan to which this offer is an extension."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The ID of the parent subscription this offer belongs to."
          }
        },
        "offerTags": {
          "target": "com.gcp.androidpublisher_v3#OfferTagList",
          "traits": {
            "smithy.api#documentation": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
          }
        },
        "phases": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionOfferPhaseList",
          "traits": {
            "smithy.api#documentation": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order."
          }
        },
        "regionalConfigs": {
          "target": "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferConfigList",
          "traits": {
            "smithy.api#documentation": "Required. The region-specific configuration of this offer. Must contain at least one entry."
          }
        },
        "targeting": {
          "target": "com.gcp.androidpublisher_v3#SubscriptionOfferTargeting",
          "traits": {
            "smithy.api#documentation": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single, temporary offer"
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionOfferStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#SubscriptionOfferPhaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#SubscriptionOfferPhase"
      }
    },
    "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#RegionalSubscriptionOfferConfig"
      }
    },
    "com.gcp.androidpublisher_v3#BatchUpdateOneTimeProductOffersRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequestList",
          "traits": {
            "smithy.api#documentation": "Required. A list of update requests of up to 100 elements. All requests must update different offers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BatchUpdateOneTimeProductOffers."
      }
    },
    "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequest"
      }
    },
    "com.gcp.androidpublisher_v3#Track": {
      "type": "structure",
      "members": {
        "track": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the track. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
          }
        },
        "releases": {
          "target": "com.gcp.androidpublisher_v3#TrackReleaseList",
          "traits": {
            "smithy.api#documentation": "In a read request, represents all active releases in the track. In an update request, represents desired changes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A track configuration. The resource for TracksService."
      }
    },
    "com.gcp.androidpublisher_v3#TrackReleaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#TrackRelease"
      }
    },
    "com.gcp.androidpublisher_v3#CreateDraftAppRecoveryRequest": {
      "type": "structure",
      "members": {
        "remoteInAppUpdate": {
          "target": "com.gcp.androidpublisher_v3#RemoteInAppUpdate",
          "traits": {
            "smithy.api#documentation": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes."
          }
        },
        "targeting": {
          "target": "com.gcp.androidpublisher_v3#Targeting",
          "traits": {
            "smithy.api#documentation": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CreateDraftAppRecovery."
      }
    },
    "com.gcp.androidpublisher_v3#ItemExpiryTimeDetails": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product ID of the subscription item (for example, 'premium_plan')."
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new expiry time for this subscription item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Expiry time details of a subscription item."
      }
    },
    "com.gcp.androidpublisher_v3#AssetModuleMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Module name."
          }
        },
        "deliveryType": {
          "target": "com.gcp.androidpublisher_v3#AssetModuleMetadataDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the delivery type for persistent install."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of an asset module."
      }
    },
    "com.gcp.androidpublisher_v3#AssetModuleMetadataDeliveryTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_DELIVERY_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_DELIVERY_TYPE"
          }
        },
        "INSTALL_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALL_TIME"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "FAST_FOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAST_FOLLOW"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#Regions": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "com.gcp.androidpublisher_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Regions targeted by the recovery action. Region codes are ISO 3166 Alpha-2 country codes. For example, US stands for United States of America. See https://www.iso.org/iso-3166-country-codes.html for the complete list of country codes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region targeting data for app recovery action targeting."
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxRateInfo": {
      "type": "structure",
      "members": {
        "taxTier": {
          "target": "com.gcp.androidpublisher_v3#RegionalTaxRateInfoTaxTierEnum",
          "traits": {
            "smithy.api#documentation": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498)."
          }
        },
        "eligibleForStreamingServiceTaxRate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States."
          }
        },
        "streamingTaxType": {
          "target": "com.gcp.androidpublisher_v3#RegionalTaxRateInfoStreamingTaxTypeEnum",
          "traits": {
            "smithy.api#documentation": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specified details about taxation in a given geographical region."
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxRateInfoTaxTierEnum": {
      "type": "enum",
      "members": {
        "TAX_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_UNSPECIFIED"
          }
        },
        "TAX_TIER_BOOKS_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_BOOKS_1"
          }
        },
        "TAX_TIER_NEWS_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_NEWS_1"
          }
        },
        "TAX_TIER_NEWS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_NEWS_2"
          }
        },
        "TAX_TIER_MUSIC_OR_AUDIO_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_MUSIC_OR_AUDIO_1"
          }
        },
        "TAX_TIER_LIVE_OR_BROADCAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_LIVE_OR_BROADCAST_1"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxRateInfoStreamingTaxTypeEnum": {
      "type": "enum",
      "members": {
        "STREAMING_TAX_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_UNSPECIFIED"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#ConvertRegionPricesResponse": {
      "type": "structure",
      "members": {
        "convertedRegionPrices": {
          "target": "com.gcp.androidpublisher_v3#ConvertedRegionPriceMap",
          "traits": {
            "smithy.api#documentation": "Map from region code to converted region price."
          }
        },
        "convertedOtherRegionsPrice": {
          "target": "com.gcp.androidpublisher_v3#ConvertedOtherRegionsPrice",
          "traits": {
            "smithy.api#documentation": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
          }
        },
        "regionVersion": {
          "target": "com.gcp.androidpublisher_v3#RegionsVersion",
          "traits": {
            "smithy.api#documentation": "The region version at which the prices were generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ConvertRegionPrices."
      }
    },
    "com.gcp.androidpublisher_v3#ConvertedRegionPriceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.androidpublisher_v3#ConvertedRegionPrice"
      }
    },
    "com.gcp.androidpublisher_v3#SystemApksListResponse": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.gcp.androidpublisher_v3#VariantList",
          "traits": {
            "smithy.api#documentation": "All system APK variants created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to list previously created system APK variants."
      }
    },
    "com.gcp.androidpublisher_v3#VariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#Variant"
      }
    },
    "com.gcp.androidpublisher_v3#ArtifactSummary": {
      "type": "structure",
      "members": {
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Artifact's version code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of an artifact."
      }
    },
    "com.gcp.androidpublisher_v3#DeviceTier": {
      "type": "structure",
      "members": {
        "deviceGroupNames": {
          "target": "com.gcp.androidpublisher_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration."
          }
        },
        "level": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier."
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxConfig": {
      "type": "structure",
      "members": {
        "taxTier": {
          "target": "com.gcp.androidpublisher_v3#RegionalTaxConfigTaxTierEnum",
          "traits": {
            "smithy.api#documentation": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498)."
          }
        },
        "eligibleForStreamingServiceTaxRate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States."
          }
        },
        "streamingTaxType": {
          "target": "com.gcp.androidpublisher_v3#RegionalTaxConfigStreamingTaxTypeEnum",
          "traits": {
            "smithy.api#documentation": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax)."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about taxation in a given geographical region."
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxConfigTaxTierEnum": {
      "type": "enum",
      "members": {
        "TAX_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_UNSPECIFIED"
          }
        },
        "TAX_TIER_BOOKS_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_BOOKS_1"
          }
        },
        "TAX_TIER_NEWS_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_NEWS_1"
          }
        },
        "TAX_TIER_NEWS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_NEWS_2"
          }
        },
        "TAX_TIER_MUSIC_OR_AUDIO_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_MUSIC_OR_AUDIO_1"
          }
        },
        "TAX_TIER_LIVE_OR_BROADCAST_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAX_TIER_LIVE_OR_BROADCAST_1"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#RegionalTaxConfigStreamingTaxTypeEnum": {
      "type": "enum",
      "members": {
        "STREAMING_TAX_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_UNSPECIFIED"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES"
          }
        },
        "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOption": {
      "type": "structure",
      "members": {
        "purchaseOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique identifier of this purchase option. Must be unique within the one-time product. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters."
          }
        },
        "rentOption": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductRentPurchaseOption",
          "traits": {
            "smithy.api#documentation": "A purchase option that can be rented."
          }
        },
        "newRegionsConfig": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionNewRegionsConfig",
          "traits": {
            "smithy.api#documentation": "Pricing information for any new locations Play may launch in the future. If omitted, the purchase option will not be automatically available in any new locations Play may launch in the future."
          }
        },
        "state": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the purchase option, i.e., whether it's active. This field cannot be changed by updating the resource. Use the dedicated endpoints instead."
          }
        },
        "regionalPricingAndAvailabilityConfigs": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfigList",
          "traits": {
            "smithy.api#documentation": "Regional pricing and availability information for this purchase option."
          }
        },
        "taxAndComplianceSettings": {
          "target": "com.gcp.androidpublisher_v3#PurchaseOptionTaxAndComplianceSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Details about taxes and legal compliance."
          }
        },
        "buyOption": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductBuyPurchaseOption",
          "traits": {
            "smithy.api#documentation": "A purchase option that can be bought."
          }
        },
        "offerTags": {
          "target": "com.gcp.androidpublisher_v3#OfferTagList",
          "traits": {
            "smithy.api#documentation": "Optional. List of up to 20 custom tags specified for this purchase option, and returned to the app through the billing library. Offers for this purchase option will also receive these tags in the billing library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single purchase option for a one-time product."
      }
    },
    "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "INACTIVE_PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE_PUBLISHED"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidpublisher_v3#OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig"
      }
    },
    "com.gcp.androidpublisher_v3#CancelAppRecoveryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for CancelAppRecovery."
      }
    },
    "com.gcp.androidpublisher_v3#RevocationContext": {
      "type": "structure",
      "members": {
        "fullRefund": {
          "target": "com.gcp.androidpublisher_v3#RevocationContextFullRefund",
          "traits": {
            "smithy.api#documentation": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription."
          }
        },
        "itemBasedRefund": {
          "target": "com.gcp.androidpublisher_v3#RevocationContextItemBasedRefund",
          "traits": {
            "smithy.api#documentation": "Optional. Used when a specific item should be refunded in a subscription with add-on items."
          }
        },
        "proratedRefund": {
          "target": "com.gcp.androidpublisher_v3#RevocationContextProratedRefund",
          "traits": {
            "smithy.api#documentation": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Revocation context of the purchases.subscriptionsv2.revoke API."
      }
    },
    "com.gcp.androidpublisher_v3#InstallmentsBasePlanType": {
      "type": "structure",
      "members": {
        "prorationMode": {
          "target": "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeProrationModeEnum",
          "traits": {
            "smithy.api#documentation": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE."
          }
        },
        "accountHoldDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
          }
        },
        "billingPeriodDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
          }
        },
        "committedPaymentsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created."
          }
        },
        "renewalType": {
          "target": "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeRenewalTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created."
          }
        },
        "gracePeriodDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
          }
        },
        "resubscribeState": {
          "target": "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeResubscribeStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an installments base plan where a user commits to a specified number of payments."
      }
    },
    "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeProrationModeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED"
          }
        },
        "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE"
          }
        },
        "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeRenewalTypeEnum": {
      "type": "enum",
      "members": {
        "RENEWAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_TYPE_UNSPECIFIED"
          }
        },
        "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT"
          }
        },
        "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#InstallmentsBasePlanTypeResubscribeStateEnum": {
      "type": "enum",
      "members": {
        "RESUBSCRIBE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUBSCRIBE_STATE_UNSPECIFIED"
          }
        },
        "RESUBSCRIBE_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUBSCRIBE_STATE_ACTIVE"
          }
        },
        "RESUBSCRIBE_STATE_INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESUBSCRIBE_STATE_INACTIVE"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequest": {
      "type": "structure",
      "members": {
        "regionsVersion": {
          "target": "com.gcp.androidpublisher_v3#RegionsVersion",
          "traits": {
            "smithy.api#documentation": "Required. The version of the available regions being used for the offer."
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The list of fields to be updated."
          }
        },
        "oneTimeProductOffer": {
          "target": "com.gcp.androidpublisher_v3#OneTimeProductOffer",
          "traits": {
            "smithy.api#documentation": "Required. The one-time product offer to update."
          }
        },
        "latencyTolerance": {
          "target": "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequestLatencyToleranceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UpdateOneTimeProductOffer."
      }
    },
    "com.gcp.androidpublisher_v3#UpdateOneTimeProductOfferRequestLatencyToleranceEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED"
          }
        },
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE"
          }
        },
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#UserCountriesTargeting": {
      "type": "structure",
      "members": {
        "countryCodes": {
          "target": "com.gcp.androidpublisher_v3#StringList",
          "traits": {
            "smithy.api#documentation": "List of country codes in the two-letter CLDR territory format."
          }
        },
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the list above is exclusive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an inclusive/exclusive list of country codes that module targets."
      }
    },
    "com.gcp.androidpublisher_v3#ExternalAccountIds": {
      "type": "structure",
      "members": {
        "obfuscatedAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow."
          }
        },
        "obfuscatedProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User account identifier in your app."
      }
    },
    "com.gcp.androidpublisher_v3#PausedStateContext": {
      "type": "structure",
      "members": {
        "autoResumeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the subscription will be automatically resumed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information specific to a subscription in paused state."
      }
    },
    "com.gcp.androidpublisher_v3#PendingCancellation": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments."
      }
    },
    "com.gcp.androidpublisher_v3#DeleteOneTimeProductOfferRequest": {
      "type": "structure",
      "members": {
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique offer ID of the offer to delete."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent app (package name) of the offer to delete."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent one-time product (ID) of the offer to delete."
          }
        },
        "purchaseOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent purchase option (ID) of the offer to delete."
          }
        },
        "latencyTolerance": {
          "target": "com.gcp.androidpublisher_v3#DeleteOneTimeProductOfferRequestLatencyToleranceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for deleting an one-time product offer."
      }
    },
    "com.gcp.androidpublisher_v3#DeleteOneTimeProductOfferRequestLatencyToleranceEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED"
          }
        },
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE"
          }
        },
        "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          }
        }
      }
    },
    "com.gcp.androidpublisher_v3#OrderHistory": {
      "type": "structure",
      "members": {
        "cancellationEvent": {
          "target": "com.gcp.androidpublisher_v3#CancellationEvent",
          "traits": {
            "smithy.api#documentation": "Details of when the order was canceled."
          }
        },
        "refundEvent": {
          "target": "com.gcp.androidpublisher_v3#RefundEvent",
          "traits": {
            "smithy.api#documentation": "Details of when the order was fully refunded."
          }
        },
        "partialRefundEvents": {
[...]
