{
  "smithy": "2.0",
  "metadata": {
    "service": "androidenterprise",
    "version": "v1",
    "title": "Google Play EMM API",
    "baseUrl": "https://androidenterprise.googleapis.com/"
  },
  "shapes": {
    "com.gcp.androidenterprise_v1#EnterpriseAccount": {
      "type": "structure",
      "members": {
        "accountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication."
      }
    },
    "com.gcp.androidenterprise_v1#AdministratorWebTokenSpecManagedConfigurations": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Managed Configuration page is displayed. Default is true."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductPermission": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.androidenterprise_v1#ProductPermissionStateEnum",
          "traits": {
            "smithy.api#documentation": "Whether the permission has been accepted or not."
          }
        },
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string uniquely identifying the permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin. The API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted."
      }
    },
    "com.gcp.androidenterprise_v1#ProductPermissionStateEnum": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#StoreLayoutPagesListResponse": {
      "type": "structure",
      "members": {
        "page": {
          "target": "com.gcp.androidenterprise_v1#StorePageList",
          "traits": {
            "smithy.api#documentation": "A store page of an enterprise."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#StorePageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#StorePage"
      }
    },
    "com.gcp.androidenterprise_v1#NewDeviceEvent": {
      "type": "structure",
      "members": {
        "dpcPackageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy app on the device."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Android ID of the device. This field will always be present."
          }
        },
        "managementType": {
          "target": "com.gcp.androidenterprise_v1#NewDeviceEventManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device where the DPC is set as device owner, - \"managedProfile\", a device where the DPC is set as profile owner. "
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user. This field will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated when a new device is ready to be managed."
      }
    },
    "com.gcp.androidenterprise_v1#NewDeviceEventManagementTypeEnum": {
      "type": "enum",
      "members": {
        "MANAGEDDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedDevice"
          }
        },
        "MANAGEDPROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedProfile"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#DeviceReportUpdateEvent": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Android ID of the device. This field will always be present."
          }
        },
        "report": {
          "target": "com.gcp.androidenterprise_v1#DeviceReport",
          "traits": {
            "smithy.api#documentation": "The device report updated with the latest app states. This field will always be present."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user. This field will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated when an updated device report is available."
      }
    },
    "com.gcp.androidenterprise_v1#StoreCluster": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of this cluster. Assigned by the server. Immutable once assigned."
          }
        },
        "name": {
          "target": "com.gcp.androidenterprise_v1#LocalizedTextList",
          "traits": {
            "smithy.api#documentation": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry."
          }
        },
        "orderInPage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined. The value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page."
      }
    },
    "com.gcp.androidenterprise_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androidenterprise_v1#LocalizedTextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#LocalizedText"
      }
    },
    "com.gcp.androidenterprise_v1#SignupInfo": {
      "type": "structure",
      "members": {
        "completionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token."
      }
    },
    "com.gcp.androidenterprise_v1#GoogleAuthenticationSettings": {
      "type": "structure",
      "members": {
        "googleAuthenticationRequired": {
          "target": "com.gcp.androidenterprise_v1#GoogleAuthenticationSettingsGoogleAuthenticationRequiredEnum",
          "traits": {
            "smithy.api#documentation": "Whether Google authentication is required."
          }
        },
        "dedicatedDevicesAllowed": {
          "target": "com.gcp.androidenterprise_v1#GoogleAuthenticationSettingsDedicatedDevicesAllowedEnum",
          "traits": {
            "smithy.api#documentation": "Whether dedicated devices are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains settings for Google-provided user authentication."
      }
    },
    "com.gcp.androidenterprise_v1#GoogleAuthenticationSettingsGoogleAuthenticationRequiredEnum": {
      "type": "enum",
      "members": {
        "GOOGLEAUTHENTICATIONREQUIREDUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "googleAuthenticationRequiredUnspecified"
          }
        },
        "NOTREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notRequired"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#GoogleAuthenticationSettingsDedicatedDevicesAllowedEnum": {
      "type": "enum",
      "members": {
        "DEDICATEDDEVICESALLOWEDUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dedicatedDevicesAllowedUnspecified"
          }
        },
        "DISALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disallowed"
          }
        },
        "ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allowed"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#VariableSet": {
      "type": "structure",
      "members": {
        "userValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the placeholder, specific to the user."
          }
        },
        "placeholder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The placeholder string; defined by EMM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A variable set is a key-value pair of EMM-provided placeholders and its corresponding value, which is attributed to a user. For example, $FIRSTNAME could be a placeholder, and its value could be Alice. Placeholders should start with a '$' sign and should be alphanumeric only."
      }
    },
    "com.gcp.androidenterprise_v1#Administrator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The admin's email address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store."
      }
    },
    "com.gcp.androidenterprise_v1#ProductPolicy": {
      "type": "structure",
      "members": {
        "trackIds": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Grants the device visibility to the specified product release track(s), identified by trackIds. The list of release tracks of a product can be obtained by calling Products.Get."
          }
        },
        "autoInstallPolicy": {
          "target": "com.gcp.androidenterprise_v1#AutoInstallPolicy",
          "traits": {
            "smithy.api#documentation": "The auto-install policy for the product."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product. For example, \"app:com.google.android.gm\"."
          }
        },
        "enterpriseAuthenticationAppLinkConfigs": {
          "target": "com.gcp.androidenterprise_v1#EnterpriseAuthenticationAppLinkConfigList",
          "traits": {
            "smithy.api#documentation": "An authentication URL configuration for the authenticator app of an identity provider. This helps to launch the identity provider's authenticator app during the authentication happening in a private app using Android WebView. Authenticator app should already be the default handler for the authentication url on the device."
          }
        },
        "managedConfiguration": {
          "target": "com.gcp.androidenterprise_v1#ManagedConfiguration",
          "traits": {
            "smithy.api#documentation": "The managed configuration for the product."
          }
        },
        "tracks": {
          "target": "com.gcp.androidenterprise_v1#ProductPolicyTracksItemEnumList",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use trackIds instead."
          }
        },
        "autoUpdateMode": {
          "target": "com.gcp.androidenterprise_v1#ProductPolicyAutoUpdateModeEnum",
          "traits": {
            "smithy.api#documentation": "The auto-update mode for the product. When autoUpdateMode is used, it always takes precedence over the user's choice. So when a user makes changes to the device settings manually, these changes are ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy for a product."
      }
    },
    "com.gcp.androidenterprise_v1#EnterpriseAuthenticationAppLinkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#EnterpriseAuthenticationAppLinkConfig"
      }
    },
    "com.gcp.androidenterprise_v1#ProductPolicyTracksItemEnum": {
      "type": "enum",
      "members": {
        "APPTRACKUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appTrackUnspecified"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductPolicyTracksItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ProductPolicyTracksItemEnum"
      }
    },
    "com.gcp.androidenterprise_v1#ProductPolicyAutoUpdateModeEnum": {
      "type": "enum",
      "members": {
        "AUTOUPDATEMODEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoUpdateModeUnspecified"
          }
        },
        "AUTOUPDATEDEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoUpdateDefault"
          }
        },
        "AUTOUPDATEPOSTPONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoUpdatePostponed"
          }
        },
        "AUTOUPDATEHIGHPRIORITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoUpdateHighPriority"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ServiceAccountKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server."
          }
        },
        "type": {
          "target": "com.gcp.androidenterprise_v1#ServiceAccountKeyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The file format of the generated key data."
          }
        },
        "publicData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google. When type is \"pkcs12\", the contents of the data field is base64 encoded and has the password \"notasecret\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations "
      }
    },
    "com.gcp.androidenterprise_v1#ServiceAccountKeyTypeEnum": {
      "type": "enum",
      "members": {
        "GOOGLECREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "googleCredentials"
          }
        },
        "PKCS12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkcs12"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ManagedConfigurationsForUserListResponse": {
      "type": "structure",
      "members": {
        "managedConfigurationForUser": {
          "target": "com.gcp.androidenterprise_v1#ManagedConfigurationList",
          "traits": {
            "smithy.api#documentation": "A managed configuration for an app for a specific user."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ManagedConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ManagedConfiguration"
      }
    },
    "com.gcp.androidenterprise_v1#ProductsListResponse": {
      "type": "structure",
      "members": {
        "pageInfo": {
          "target": "com.gcp.androidenterprise_v1#PageInfo",
          "traits": {
            "smithy.api#documentation": "General pagination information."
          }
        },
        "tokenPagination": {
          "target": "com.gcp.androidenterprise_v1#TokenPagination",
          "traits": {
            "smithy.api#documentation": "Pagination information for token pagination."
          }
        },
        "product": {
          "target": "com.gcp.androidenterprise_v1#ProductList",
          "traits": {
            "smithy.api#documentation": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Product"
      }
    },
    "com.gcp.androidenterprise_v1#AppVersion": {
      "type": "structure",
      "members": {
        "targetSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The SDK version this app targets, as specified in the manifest of the APK. See http://developer.android.com/guide/topics/manifest/uses-sdk-element.html"
          }
        },
        "versionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
          }
        },
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique increasing identifier for the app version."
          }
        },
        "track": {
          "target": "com.gcp.androidenterprise_v1#AppVersionTrackEnum",
          "traits": {
            "smithy.api#documentation": "Deprecated, use trackId instead."
          }
        },
        "isProduction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if this version is a production APK."
          }
        },
        "trackId": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Track ids that the app version is published in. Replaces the track field (deprecated), but doesn't include the production track (see isProduction instead)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents a single version of the app."
      }
    },
    "com.gcp.androidenterprise_v1#AppVersionTrackEnum": {
      "type": "enum",
      "members": {
        "APPTRACKUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appTrackUnspecified"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ManagedConfigurationsSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managed configurations settings."
          }
        },
        "mcmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managed configurations settings."
          }
        },
        "lastUpdatedTimestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last updated time of the managed configuration settings in milliseconds since 1970-01-01T00:00:00Z."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A managed configurations settings resource contains the set of managed properties that have been configured for an Android app to be applied to a set of users. The app's developer would have defined configurable properties in the managed configurations schema."
      }
    },
    "com.gcp.androidenterprise_v1#DeviceState": {
      "type": "structure",
      "members": {
        "accountState": {
          "target": "com.gcp.androidenterprise_v1#DeviceStateAccountStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a user's device, as accessed by the getState and setState methods on device resources."
      }
    },
    "com.gcp.androidenterprise_v1#DeviceStateAccountStateEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#InstallFailureEvent": {
      "type": "structure",
      "members": {
        "failureReason": {
          "target": "com.gcp.androidenterprise_v1#InstallFailureEventFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason for the installation failure. This field will always be present."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user. This field will always be present."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Android ID of the device. This field will always be present."
          }
        },
        "failureDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional details on the failure if applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated when an app installation failed on a device"
      }
    },
    "com.gcp.androidenterprise_v1#InstallFailureEventFailureReasonEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeout"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchema": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "restrictions": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionList",
          "traits": {
            "smithy.api#documentation": "The set of restrictions that make up this schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the list of app restrictions available to be pre-configured for the product."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestriction"
      }
    },
    "com.gcp.androidenterprise_v1#TokenPagination": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
          }
        },
        "previousPageToken": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page."
      }
    },
    "com.gcp.androidenterprise_v1#Install": {
      "type": "structure",
      "members": {
        "installState": {
          "target": "com.gcp.androidenterprise_v1#InstallInstallStateEnum",
          "traits": {
            "smithy.api#documentation": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\"."
          }
        },
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending). The API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails. The API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version. Note that it is not possible to force the installation of a specific version of an app: the version code is read-only. If a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created. The API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves."
      }
    },
    "com.gcp.androidenterprise_v1#InstallInstallStateEnum": {
      "type": "enum",
      "members": {
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installed"
          }
        },
        "INSTALLPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installPending"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#Enterprise": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the enterprise, for example, \"Example, Inc\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for the enterprise."
          }
        },
        "primaryDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The enterprise's primary domain, such as \"example.com\"."
          }
        },
        "administrator": {
          "target": "com.gcp.androidenterprise_v1#AdministratorList",
          "traits": {
            "smithy.api#documentation": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow."
          }
        },
        "enterpriseType": {
          "target": "com.gcp.androidenterprise_v1#EnterpriseEnterpriseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the enterprise."
          }
        },
        "googleAuthenticationSettings": {
          "target": "com.gcp.androidenterprise_v1#GoogleAuthenticationSettings",
          "traits": {
            "smithy.api#documentation": "Output only. Settings for Google-provided user authentication."
          }
        },
        "managedGoogleDomainType": {
          "target": "com.gcp.androidenterprise_v1#EnterpriseManagedGoogleDomainTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of managed Google domain"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: - For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. - For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details."
      }
    },
    "com.gcp.androidenterprise_v1#AdministratorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Administrator"
      }
    },
    "com.gcp.androidenterprise_v1#EnterpriseEnterpriseTypeEnum": {
      "type": "enum",
      "members": {
        "ENTERPRISETYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterpriseTypeUnspecified"
          }
        },
        "MANAGEDGOOGLEDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedGoogleDomain"
          }
        },
        "MANAGEDGOOGLEPLAYACCOUNTSENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedGooglePlayAccountsEnterprise"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#EnterpriseManagedGoogleDomainTypeEnum": {
      "type": "enum",
      "members": {
        "MANAGEDGOOGLEDOMAINTYPEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedGoogleDomainTypeUnspecified"
          }
        },
        "TYPETEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "typeTeam"
          }
        },
        "TYPEDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "typeDomain"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#EnrollmentTokenGoogleAuthenticationOptions": {
      "type": "structure",
      "members": {
        "authenticationRequirement": {
          "target": "com.gcp.androidenterprise_v1#EnrollmentTokenGoogleAuthenticationOptionsAuthenticationRequirementEnum",
          "traits": {
            "smithy.api#documentation": "[Optional] Specifies whether user should authenticate with Google during enrollment. This setting, if specified,`GoogleAuthenticationSettings` specified for the enterprise resource is ignored for devices enrolled with this token."
          }
        },
        "requiredAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Optional] Specifies the managed Google account that the user must use during enrollment.`AuthenticationRequirement` must be set to`REQUIRED` if this field is set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for Google authentication during the enrollment."
      }
    },
    "com.gcp.androidenterprise_v1#EnrollmentTokenGoogleAuthenticationOptionsAuthenticationRequirementEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATIONREQUIREMENTUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticationRequirementUnspecified"
          }
        },
        "OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "optional"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "required"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#AdministratorWebTokenSpecZeroTouch": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether zero-touch embedded UI is usable with this token. If enabled, the admin can link zero-touch customers to this enterprise."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ConfigurationVariables": {
      "type": "structure",
      "members": {
        "mcmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the managed configurations settings."
          }
        },
        "variableSet": {
          "target": "com.gcp.androidenterprise_v1#VariableSetList",
          "traits": {
            "smithy.api#documentation": "The variable set that is attributed to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration variables resource contains the managed configuration settings ID to be applied to a single user, as well as the variable set that is attributed to the user. The variable set will be used to replace placeholders in the managed configuration settings."
      }
    },
    "com.gcp.androidenterprise_v1#VariableSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#VariableSet"
      }
    },
    "com.gcp.androidenterprise_v1#Entitlement": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.androidenterprise_v1#EntitlementReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations. "
      }
    },
    "com.gcp.androidenterprise_v1#EntitlementReasonEnum": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "GROUPLICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groupLicense"
          }
        },
        "USERPURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userPurchase"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#NotificationSet": {
      "type": "structure",
      "members": {
        "notification": {
          "target": "com.gcp.androidenterprise_v1#NotificationList",
          "traits": {
            "smithy.api#documentation": "The notifications received, or empty if no notifications are present."
          }
        },
        "notificationSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request."
      }
    },
    "com.gcp.androidenterprise_v1#NotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Notification"
      }
    },
    "com.gcp.androidenterprise_v1#Policy": {
      "type": "structure",
      "members": {
        "productAvailabilityPolicy": {
          "target": "com.gcp.androidenterprise_v1#PolicyProductAvailabilityPolicyEnum",
          "traits": {
            "smithy.api#documentation": "The availability granted to the device for the specified products. \"all\" gives the device access to all products, regardless of approval status. \"all\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks. \"whitelist\" grants the device access the products specified in productPolicy[]. Only products that are approved or products that were previously approved (products with revoked approval) by the enterprise can be whitelisted. If no value is provided, the availability set at the user level is applied by default."
          }
        },
        "maintenanceWindow": {
          "target": "com.gcp.androidenterprise_v1#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "The maintenance window defining when apps running in the foreground should be updated."
          }
        },
        "productPolicy": {
          "target": "com.gcp.androidenterprise_v1#ProductPolicyList",
          "traits": {
            "smithy.api#documentation": "The list of product policies. The productAvailabilityPolicy needs to be set to WHITELIST or ALL for the product policies to be applied."
          }
        },
        "autoUpdatePolicy": {
          "target": "com.gcp.androidenterprise_v1#PolicyAutoUpdatePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Controls when automatic app updates on the device can be applied. Recommended alternative: autoUpdateMode which is set per app, provides greater flexibility around update frequency. When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, autoUpdatePolicy has no effect. - choiceToTheUser allows the device's user to configure the app update policy. - always enables auto updates. - never disables auto updates. - wifiOnly enables auto updates only when the device is connected to wifi. *Important:* Changes to app update policies don't affect updates that are in progress. Any policy changes will apply to subsequent app updates. "
          }
        },
        "deviceReportPolicy": {
          "target": "com.gcp.androidenterprise_v1#PolicyDeviceReportPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Whether the device reports app states to the EMM. The default value is \"deviceReportDisabled\"."
          }
        },
        "policyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the policy that will be passed with the app install feedback sent from the Play Store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The device policy for a given managed device."
      }
    },
    "com.gcp.androidenterprise_v1#PolicyProductAvailabilityPolicyEnum": {
      "type": "enum",
      "members": {
        "PRODUCTAVAILABILITYPOLICYUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "productAvailabilityPolicyUnspecified"
          }
        },
        "WHITELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ProductPolicy"
      }
    },
    "com.gcp.androidenterprise_v1#PolicyAutoUpdatePolicyEnum": {
      "type": "enum",
      "members": {
        "AUTOUPDATEPOLICYUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoUpdatePolicyUnspecified"
          }
        },
        "CHOICETOTHEUSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "choiceToTheUser"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "WIFIONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wifiOnly"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#PolicyDeviceReportPolicyEnum": {
      "type": "enum",
      "members": {
        "DEVICEREPORTPOLICYUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceReportPolicyUnspecified"
          }
        },
        "DEVICEREPORTDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceReportDisabled"
          }
        },
        "DEVICEREPORTENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceReportEnabled"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#PageInfo": {
      "type": "structure",
      "members": {
        "startIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the first result returned in the current page."
          }
        },
        "totalResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of results available on the backend ! The total number of results in the result set."
          }
        },
        "resultPerPage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results returned in one page. ! The number of results included in the API response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
      }
    },
    "com.gcp.androidenterprise_v1#ServiceAccount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account name of the service account, in the form of an email address. Assigned by the server."
          }
        },
        "key": {
          "target": "com.gcp.androidenterprise_v1#ServiceAccountKey",
          "traits": {
            "smithy.api#documentation": "Credentials that can be used to authenticate as this ServiceAccount."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account identity, including the name and credentials that can be used to authenticate as the service account."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestriction": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the restriction."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\"."
          }
        },
        "restrictionType": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the restriction."
          }
        },
        "entry": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For choice or multiselect restrictions, the list of possible entries' human-readable names."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A longer description of the restriction, giving more detail of what it affects."
          }
        },
        "entryValue": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction."
          }
        },
        "nestedRestriction": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionList",
          "traits": {
            "smithy.api#documentation": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep."
          }
        },
        "defaultValue": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionValue",
          "traits": {
            "smithy.api#documentation": "The default value of the restriction. bundle and bundleArray restrictions never have a default value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionTypeEnum": {
      "type": "enum",
      "members": {
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bool"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "choice"
          }
        },
        "MULTISELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiselect"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundle"
          }
        },
        "BUNDLEARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundleArray"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#AdministratorWebToken": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque token to be passed to the Play front-end to generate an iframe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A token authorizing an admin to access an iframe."
      }
    },
    "com.gcp.androidenterprise_v1#ProductsGenerateApprovalUrlResponse": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#WebApp": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon)."
          }
        },
        "startUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start URL, i.e. the URL that should load when the user opens the application."
          }
        },
        "displayMode": {
          "target": "com.gcp.androidenterprise_v1#WebAppDisplayModeEnum",
          "traits": {
            "smithy.api#documentation": "The display mode of the web app. Possible values include: - \"minimalUi\", the device's status bar, navigation bar, the app's URL, and a refresh button are visible when the app is open. For HTTP URLs, you can only select this option. - \"standalone\", the device's status bar and navigation bar are visible when the app is open. - \"fullScreen\", the app opens in full screen mode, hiding the device's status and navigation bars. All browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area. "
          }
        },
        "isPublished": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag whether the app has been published to the Play store yet."
          }
        },
        "versionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the app. Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date."
          }
        },
        "webAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application. A string of the form \"app:<package name>\" where the package name always starts with the prefix \"com.google.enterprise.webapp.\" followed by a random id."
          }
        },
        "icons": {
          "target": "com.gcp.androidenterprise_v1#WebAppIconList",
          "traits": {
            "smithy.api#documentation": "A list of icons representing this website. If absent, a default icon (for create) or the current icon (for update) will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A WebApps resource represents a web app created for an enterprise. Web apps are published to managed Google Play and can be distributed like other Android apps. On a user's device, a web app opens its specified URL."
      }
    },
    "com.gcp.androidenterprise_v1#WebAppDisplayModeEnum": {
      "type": "enum",
      "members": {
        "DISPLAYMODEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "displayModeUnspecified"
          }
        },
        "MINIMALUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minimalUi"
          }
        },
        "STANDALONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standalone"
          }
        },
        "FULLSCREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fullScreen"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#WebAppIconList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#WebAppIcon"
      }
    },
    "com.gcp.androidenterprise_v1#ManagedConfigurationsForDeviceListResponse": {
      "type": "structure",
      "members": {
        "managedConfigurationForDevice": {
          "target": "com.gcp.androidenterprise_v1#ManagedConfigurationList",
          "traits": {
            "smithy.api#documentation": "A managed configuration for an app on a specific device."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#Device": {
      "type": "structure",
      "members": {
        "maker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The manufacturer of the device. This comes from android.os.Build.MANUFACTURER."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name of the device. This comes from android.os.Build.PRODUCT."
          }
        },
        "androidId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\"."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model name of the device. This comes from android.os.Build.MODEL."
          }
        },
        "retailBrand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Retail brand for the device, if set. See android.os.Build.BRAND"
          }
        },
        "policy": {
          "target": "com.gcp.androidenterprise_v1#Policy",
          "traits": {
            "smithy.api#documentation": "The policy enforced on the device."
          }
        },
        "latestBuildFingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build fingerprint of the device if known."
          }
        },
        "sdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "API compatibility version."
          }
        },
        "managementType": {
          "target": "com.gcp.androidenterprise_v1#DeviceManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner. - \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC. - \"containerApp\", no longer used (deprecated). - \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC. "
          }
        },
        "report": {
          "target": "com.gcp.androidenterprise_v1#DeviceReport",
          "traits": {
            "smithy.api#documentation": "The device report updated with the latest app states."
          }
        },
        "device": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal hardware codename of the device. This comes from android.os.Build.DEVICE. (field named \"device\" per logs/wireless/android/android_checkin.proto)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user."
      }
    },
    "com.gcp.androidenterprise_v1#DeviceManagementTypeEnum": {
      "type": "enum",
      "members": {
        "MANAGEDDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedDevice"
          }
        },
        "MANAGEDPROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managedProfile"
          }
        },
        "CONTAINERAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerApp"
          }
        },
        "UNMANAGEDPROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unmanagedProfile"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#AppState": {
      "type": "structure",
      "members": {
        "keyedAppState": {
          "target": "com.gcp.androidenterprise_v1#KeyedAppStateList",
          "traits": {
            "smithy.api#documentation": "List of keyed app states. This field will always be present."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name of the app. This field will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of states set by the app."
      }
    },
    "com.gcp.androidenterprise_v1#KeyedAppStateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#KeyedAppState"
      }
    },
    "com.gcp.androidenterprise_v1#WebAppIcon": {
      "type": "structure",
      "members": {
        "imageData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Icon for a web app."
      }
    },
    "com.gcp.androidenterprise_v1#ManagedPropertyBundle": {
      "type": "structure",
      "members": {
        "managedProperty": {
          "target": "com.gcp.androidenterprise_v1#ManagedPropertyList",
          "traits": {
            "smithy.api#documentation": "The list of managed properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A bundle of managed properties."
      }
    },
    "com.gcp.androidenterprise_v1#ManagedPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ManagedProperty"
      }
    },
    "com.gcp.androidenterprise_v1#InstallsListResponse": {
      "type": "structure",
      "members": {
        "install": {
          "target": "com.gcp.androidenterprise_v1#InstallList",
          "traits": {
            "smithy.api#documentation": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#InstallList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Install"
      }
    },
    "com.gcp.androidenterprise_v1#EnterprisesSendTestPushNotificationResponse": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message ID of the test push notification that was sent."
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#EntitlementsListResponse": {
      "type": "structure",
      "members": {
        "entitlement": {
          "target": "com.gcp.androidenterprise_v1#EntitlementList",
          "traits": {
            "smithy.api#documentation": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#EntitlementList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Entitlement"
      }
    },
    "com.gcp.androidenterprise_v1#KeyedAppState": {
      "type": "structure",
      "members": {
        "stateTimestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of when the app set the state in milliseconds since epoch. This field will always be present."
          }
        },
        "severity": {
          "target": "com.gcp.androidenterprise_v1#KeyedAppStateSeverityEnum",
          "traits": {
            "smithy.api#documentation": "Severity of the app state. This field will always be present."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional field intended for machine-readable data. For example, a number or JSON object. To prevent XSS, we recommend removing any HTML from the data before displaying it."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key indicating what the app is providing a state for. The content of the key is set by the app's developer. To prevent XSS, we recommend removing any HTML from the key before displaying it. This field will always be present."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form, human-readable message describing the app state. For example, an error message. To prevent XSS, we recommend removing any HTML from the message before displaying it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a keyed app state containing a key, timestamp, severity level, optional description, and optional data."
      }
    },
    "com.gcp.androidenterprise_v1#KeyedAppStateSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITYUNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "severityUnknown"
          }
        },
        "SEVERITYINFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "severityInfo"
          }
        },
        "SEVERITYERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "severityError"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductAvailabilityChangeEvent": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present."
          }
        },
        "availabilityStatus": {
          "target": "com.gcp.androidenterprise_v1#ProductAvailabilityChangeEventAvailabilityStatusEnum",
          "traits": {
            "smithy.api#documentation": "The new state of the product. This field will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated whenever a product's availability changes."
      }
    },
    "com.gcp.androidenterprise_v1#ProductAvailabilityChangeEventAvailabilityStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "removed"
          }
        },
        "UNPUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unpublished"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#Permission": {
      "type": "structure",
      "members": {
        "permissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque string uniquely identifying the permission."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the permission."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A longer description of the Permissions resource, giving more details of what it affects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created. The permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaChangeEvent": {
      "type": "structure",
      "members": {
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API."
      }
    },
    "com.gcp.androidenterprise_v1#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "startTimeAfterMidnightMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the maintenance window, in milliseconds after midnight on the device. Windows can span midnight."
          }
        },
        "durationMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the maintenance window, in milliseconds. The duration must be between 30 minutes and 24 hours (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance window for managed Google Play Accounts. This allows Play store to update the apps on the foreground in the designated window."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionValue": {
      "type": "structure",
      "members": {
        "valueInteger": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The integer value - this will only be present if type is integer."
          }
        },
        "valueString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string value - this will be present for types string, choice and hidden."
          }
        },
        "type": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the value being provided."
          }
        },
        "valueMultiselect": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of string values - this will only be present if type is multiselect."
          }
        },
        "valueBool": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The boolean value - this will only be present if type is bool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A typed value for the restriction."
      }
    },
    "com.gcp.androidenterprise_v1#AppRestrictionsSchemaRestrictionRestrictionValueTypeEnum": {
      "type": "enum",
      "members": {
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bool"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "choice"
          }
        },
        "MULTISELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multiselect"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "BUNDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundle"
          }
        },
        "BUNDLEARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundleArray"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#DevicesListResponse": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.androidenterprise_v1#DeviceList",
          "traits": {
            "smithy.api#documentation": "A managed device."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#Device"
      }
    },
    "com.gcp.androidenterprise_v1#EnterpriseUpgradeEvent": {
      "type": "structure",
      "members": {
        "upgradeState": {
          "target": "com.gcp.androidenterprise_v1#EnterpriseUpgradeEventUpgradeStateEnum",
          "traits": {
            "smithy.api#documentation": "The upgrade state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event generated when an enterprise is upgraded."
      }
    },
    "com.gcp.androidenterprise_v1#EnterpriseUpgradeEventUpgradeStateEnum": {
      "type": "enum",
      "members": {
        "UPGRADESTATEUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgradeStateUnspecified"
          }
        },
        "UPGRADESTATESUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upgradeStateSucceeded"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#WebAppsListResponse": {
      "type": "structure",
      "members": {
        "webApp": {
          "target": "com.gcp.androidenterprise_v1#WebAppList",
          "traits": {
            "smithy.api#documentation": "The manifest describing a web app."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#WebAppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#WebApp"
      }
    },
    "com.gcp.androidenterprise_v1#StoreLayout": {
      "type": "structure",
      "members": {
        "storeLayoutType": {
          "target": "com.gcp.androidenterprise_v1#StoreLayoutStoreLayoutTypeEnum",
          "traits": {
            "smithy.api#documentation": "The store layout type. By default, this value is set to \"basic\" if the homepageId field is not set, and to \"custom\" otherwise. If set to \"basic\", the layout will consist of all approved apps that have been whitelisted for the user."
          }
        },
        "homepageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the store page to be used as the homepage. The homepage is the first page shown in the managed Google Play Store. Not specifying a homepage is equivalent to setting the store layout type to \"basic\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "General setting for the managed Google Play store layout, currently only specifying the page to display the first time the store is opened."
      }
    },
    "com.gcp.androidenterprise_v1#StoreLayoutStoreLayoutTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#Product": {
      "type": "structure",
      "members": {
        "availableTracks": {
          "target": "com.gcp.androidenterprise_v1#ProductAvailableTracksItemEnumList",
          "traits": {
            "smithy.api#documentation": "Deprecated, use appTracks instead."
          }
        },
        "workDetailsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the managed Google Play details page for the product, for use by an Enterprise admin."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px."
          }
        },
        "requiresContainerApp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "lastUpdatedTimestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approximate time (within 7 days) the app was last published, expressed in milliseconds since epoch."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the product."
          }
        },
        "productPricing": {
          "target": "com.gcp.androidenterprise_v1#ProductProductPricingEnum",
          "traits": {
            "smithy.api#documentation": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it)."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string of the form *app:<package name>*. For example, app:com.google.android.gm represents the Gmail app."
          }
        },
        "appRestrictionsSchema": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchema",
          "traits": {
            "smithy.api#documentation": "The app restriction schema"
          }
        },
        "screenshotUrls": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of screenshot links representing the app."
          }
        },
        "fullDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized full app store description, if available."
          }
        },
        "minAndroidSdkVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum Android SDK necessary to run the app."
          }
        },
        "features": {
          "target": "com.gcp.androidenterprise_v1#ProductFeaturesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Noteworthy features (if any) of this product."
          }
        },
        "appVersion": {
          "target": "com.gcp.androidenterprise_v1#AppVersionList",
          "traits": {
            "smithy.api#documentation": "App versions currently available for this product."
          }
        },
        "distributionChannel": {
          "target": "com.gcp.androidenterprise_v1#ProductDistributionChannelEnum",
          "traits": {
            "smithy.api#documentation": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted."
          }
        },
        "contentRating": {
          "target": "com.gcp.androidenterprise_v1#ProductContentRatingEnum",
          "traits": {
            "smithy.api#documentation": "The content rating for this app."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app category (e.g. RACING, SOCIAL, etc.)"
          }
        },
        "recentChanges": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the recent changes made to the app."
          }
        },
        "appTracks": {
          "target": "com.gcp.androidenterprise_v1#TrackInfoList",
          "traits": {
            "smithy.api#documentation": "The tracks visible to the enterprise."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized promotional description, if available."
          }
        },
        "detailsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the (consumer) Google Play details page for the product."
          }
        },
        "smallIconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px."
          }
        },
        "authorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the author of the product (for example, the app developer)."
          }
        },
        "permissions": {
          "target": "com.gcp.androidenterprise_v1#ProductPermissionList",
          "traits": {
            "smithy.api#documentation": "A list of permissions required by the app."
          }
        },
        "signingCertificate": {
          "target": "com.gcp.androidenterprise_v1#ProductSigningCertificate",
          "traits": {
            "smithy.api#documentation": "The certificate used to sign this product."
          }
        },
        "availableCountries": {
          "target": "com.gcp.androidenterprise_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The countries which this app is available in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.) The information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface."
      }
    },
    "com.gcp.androidenterprise_v1#ProductAvailableTracksItemEnum": {
      "type": "enum",
      "members": {
        "APPTRACKUNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appTrackUnspecified"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "BETA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beta"
          }
        },
        "ALPHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alpha"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductAvailableTracksItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ProductAvailableTracksItemEnum"
      }
    },
    "com.gcp.androidenterprise_v1#ProductProductPricingEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "FREEWITHINAPPPURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "freeWithInAppPurchase"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductFeaturesItemEnum": {
      "type": "enum",
      "members": {
        "FEATUREUNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "featureUnknown"
          }
        },
        "VPNAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vpnApp"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductFeaturesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ProductFeaturesItemEnum"
      }
    },
    "com.gcp.androidenterprise_v1#AppVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#AppVersion"
      }
    },
    "com.gcp.androidenterprise_v1#ProductDistributionChannelEnum": {
      "type": "enum",
      "members": {
        "PUBLICGOOGLEHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publicGoogleHosted"
          }
        },
        "PRIVATEGOOGLEHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privateGoogleHosted"
          }
        },
        "PRIVATESELFHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privateSelfHosted"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ProductContentRatingEnum": {
      "type": "enum",
      "members": {
        "RATINGUNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ratingUnknown"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PRETEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preTeen"
          }
        },
        "TEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teen"
          }
        },
        "MATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mature"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#TrackInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#TrackInfo"
      }
    },
    "com.gcp.androidenterprise_v1#ProductPermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ProductPermission"
      }
    },
    "com.gcp.androidenterprise_v1#ServiceAccountKeysListResponse": {
      "type": "structure",
      "members": {
        "serviceAccountKey": {
          "target": "com.gcp.androidenterprise_v1#ServiceAccountKeyList",
          "traits": {
            "smithy.api#documentation": "The service account credentials."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#ServiceAccountKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidenterprise_v1#ServiceAccountKey"
      }
    },
    "com.gcp.androidenterprise_v1#User": {
      "type": "structure",
      "members": {
        "primaryEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for the user."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts. @mutable androidenterprise.users.update"
          }
        },
        "accountIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users."
          }
        },
        "accountType": {
          "target": "com.gcp.androidenterprise_v1#UserAccountTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount."
          }
        },
        "managementType": {
          "target": "com.gcp.androidenterprise_v1#UserManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: - The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). - The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play. "
      }
    },
    "com.gcp.androidenterprise_v1#UserAccountTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deviceAccount"
          }
        },
        "USERACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userAccount"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#UserManagementTypeEnum": {
      "type": "enum",
      "members": {
        "GOOGLEMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "googleManaged"
          }
        },
        "EMMMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emmManaged"
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#AdministratorWebTokenSpecPlaySearch": {
      "type": "structure",
      "members": {
        "approveApps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow access to the iframe in approve mode. Default is false."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the managed Play Search apps page is displayed. Default is true."
          }
        }
      }
    },
    "com.gcp.androidenterprise_v1#Notification": {
      "type": "structure",
      "members": {
        "notificationType": {
          "target": "com.gcp.androidenterprise_v1#NotificationNotificationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the notification."
          }
        },
        "productAvailabilityChangeEvent": {
          "target": "com.gcp.androidenterprise_v1#ProductAvailabilityChangeEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about product availability changes."
          }
        },
        "newDeviceEvent": {
          "target": "com.gcp.androidenterprise_v1#NewDeviceEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about new devices."
          }
        },
        "deviceReportUpdateEvent": {
          "target": "com.gcp.androidenterprise_v1#DeviceReportUpdateEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about device report updates."
          }
        },
        "newPermissionsEvent": {
          "target": "com.gcp.androidenterprise_v1#NewPermissionsEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about new app permissions."
          }
        },
        "installFailureEvent": {
          "target": "com.gcp.androidenterprise_v1#InstallFailureEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about an app installation failure."
          }
        },
        "appUpdateEvent": {
          "target": "com.gcp.androidenterprise_v1#AppUpdateEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about app updates."
          }
        },
        "timestampMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present."
          }
        },
        "productApprovalEvent": {
          "target": "com.gcp.androidenterprise_v1#ProductApprovalEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about changes to a product's approval status."
          }
        },
        "enterpriseUpgradeEvent": {
          "target": "com.gcp.androidenterprise_v1#EnterpriseUpgradeEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about enterprise upgrade."
          }
        },
        "enterpriseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the enterprise for which the notification is sent. This will always be present."
          }
        },
        "appRestrictionsSchemaChangeEvent": {
          "target": "com.gcp.androidenterprise_v1#AppRestrictionsSchemaChangeEvent",
          "traits": {
            "smithy.api#documentation": "Notifications about new app restrictions schema changes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A notification of one event relating to an enterprise."
      }
    },
    "com.gcp.androidenterprise_v1#NotificationNotificationTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "TESTNOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "testNotification"
          }
        },
        "PRODUCTAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "productApproval"
          }
        },
        "INSTALLFAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installFailure"
          }
        },
        "APPUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appUpdate"
          }
        },
[...]
