{
  "smithy": "2.0",
  "metadata": {
    "service": "androidmanagement",
    "version": "v1",
    "title": "Android Management API",
    "baseUrl": "https://androidmanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.androidmanagement_v1#Display": {
      "type": "structure",
      "members": {
        "refreshRate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Refresh rate of the display in frames per second."
          }
        },
        "state": {
          "target": "com.gcp.androidmanagement_v1#DisplayStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the display."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Display height in pixels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the display."
          }
        },
        "displayId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique display id."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Display width in pixels."
          }
        },
        "density": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Display density expressed as dots-per-inch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device display information."
      }
    },
    "com.gcp.androidmanagement_v1#DisplayStateEnum": {
      "type": "enum",
      "members": {
        "DISPLAY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_STATE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON"
          }
        },
        "DOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOZE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#KeyedAppState": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data < 10”)."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the app state was most recently updated."
          }
        },
        "severity": {
          "target": "com.gcp.androidmanagement_v1#KeyedAppStateSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the app state."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the app state on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Keyed app state reported by the app."
      }
    },
    "com.gcp.androidmanagement_v1#KeyedAppStateSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#Device": {
      "type": "structure",
      "members": {
        "hardwareInfo": {
          "target": "com.gcp.androidmanagement_v1#HardwareInfo",
          "traits": {
            "smithy.api#documentation": "Detailed information about the device hardware."
          }
        },
        "apiLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API level of the Android platform version running on the device."
          }
        },
        "softwareInfo": {
          "target": "com.gcp.androidmanagement_v1#SoftwareInfo",
          "traits": {
            "smithy.api#documentation": "Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy."
          }
        },
        "enrollmentTokenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the device was enrolled with an enrollment token, this field contains the name of the token."
          }
        },
        "deviceSettings": {
          "target": "com.gcp.androidmanagement_v1#DeviceSettings",
          "traits": {
            "smithy.api#documentation": "Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy."
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}."
          }
        },
        "disabledReason": {
          "target": "com.gcp.androidmanagement_v1#UserFacingMessage",
          "traits": {
            "smithy.api#documentation": "If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request."
          }
        },
        "systemProperties": {
          "target": "com.gcp.androidmanagement_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of selected system properties name and value related to the device. This information is only available if systemPropertiesEnabled is true in the device's policy."
          }
        },
        "securityPosture": {
          "target": "com.gcp.androidmanagement_v1#SecurityPosture",
          "traits": {
            "smithy.api#documentation": "Device's security posture value that reflects how secure the device is."
          }
        },
        "displays": {
          "target": "com.gcp.androidmanagement_v1#DisplayList",
          "traits": {
            "smithy.api#documentation": "Detailed information about displays on the device. This information is only available if displayInfoEnabled is true in the device's policy."
          }
        },
        "previousDeviceNames": {
          "target": "com.gcp.androidmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order."
          }
        },
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device's user is applied. This field can be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch, as long as the policyId doesn’t contain any slashes. The rest of the policy name is inferred."
          }
        },
        "appliedState": {
          "target": "com.gcp.androidmanagement_v1#DeviceAppliedStateEnum",
          "traits": {
            "smithy.api#documentation": "The state currently applied to the device."
          }
        },
        "policyCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the device is compliant with its policy."
          }
        },
        "appliedPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the policy currently applied to the device."
          }
        },
        "defaultApplicationInfo": {
          "target": "com.gcp.androidmanagement_v1#DefaultApplicationInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. The default application information for the DefaultApplicationType. This information is only available if defaultApplicationInfoReportingEnabled is true in the device's policy. Available on Android 16 and above.All app types are reported on fully managed devices. DEFAULT_BROWSER, DEFAULT_CALL_REDIRECTION, DEFAULT_CALL_SCREENING and DEFAULT_DIALER types are reported for the work profiles on company-owned devices with a work profile and personally-owned devices. DEFAULT_WALLET is also reported for company-owned devices with a work profile, but will only include work profile information."
          }
        },
        "powerManagementEvents": {
          "target": "com.gcp.androidmanagement_v1#PowerManagementEventList",
          "traits": {
            "smithy.api#documentation": "Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}."
          }
        },
        "user": {
          "target": "com.gcp.androidmanagement_v1#User",
          "traits": {
            "smithy.api#documentation": "The user who owns the device."
          }
        },
        "dpcMigrationInfo": {
          "target": "com.gcp.androidmanagement_v1#DpcMigrationInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information related to whether this device was migrated from being managed by another Device Policy Controller (DPC)."
          }
        },
        "state": {
          "target": "com.gcp.androidmanagement_v1#DeviceStateEnum",
          "traits": {
            "smithy.api#documentation": "The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete."
          }
        },
        "appliedPasswordPolicies": {
          "target": "com.gcp.androidmanagement_v1#PasswordRequirementsList",
          "traits": {
            "smithy.api#documentation": "The password requirements currently applied to the device. This field exists because the applied requirements may be slightly different from those specified in passwordPolicies in some cases. Note that this field does not provide information about password compliance. For non-compliance information, see nonComplianceDetails. NonComplianceDetail.fieldPath, is set based on passwordPolicies, not based on this field."
          }
        },
        "memoryEvents": {
          "target": "com.gcp.androidmanagement_v1#MemoryEventList",
          "traits": {
            "smithy.api#documentation": "Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.Events are retained for a certain period of time and old events are deleted."
          }
        },
        "managementMode": {
          "target": "com.gcp.androidmanagement_v1#DeviceManagementModeEnum",
          "traits": {
            "smithy.api#documentation": "The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported."
          }
        },
        "appliedPolicyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the policy currently applied to the device."
          }
        },
        "hardwareStatusSamples": {
          "target": "com.gcp.androidmanagement_v1#HardwareStatusList",
          "traits": {
            "smithy.api#documentation": "Hardware status samples in chronological order. This information is only available if hardwareStatusEnabled is true in the device's policy."
          }
        },
        "commonCriteriaModeInfo": {
          "target": "com.gcp.androidmanagement_v1#CommonCriteriaModeInfo",
          "traits": {
            "smithy.api#documentation": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy the device is company-owned."
          }
        },
        "lastPolicySyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the device fetched its policy."
          }
        },
        "nonComplianceDetails": {
          "target": "com.gcp.androidmanagement_v1#NonComplianceDetailList",
          "traits": {
            "smithy.api#documentation": "Details about policy settings that the device is not compliant with."
          }
        },
        "lastPolicyComplianceReportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "applicationReports": {
          "target": "com.gcp.androidmanagement_v1#ApplicationReportList",
          "traits": {
            "smithy.api#documentation": "Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy."
          }
        },
        "lastStatusReportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the device sent a status report."
          }
        },
        "enrollmentTokenData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the device was enrolled with an enrollment token with additional data provided, this field contains that data."
          }
        },
        "ownership": {
          "target": "com.gcp.androidmanagement_v1#DeviceOwnershipEnum",
          "traits": {
            "smithy.api#documentation": "Ownership of the managed device."
          }
        },
        "memoryInfo": {
          "target": "com.gcp.androidmanagement_v1#MemoryInfo",
          "traits": {
            "smithy.api#documentation": "Memory information: contains information about device memory and storage."
          }
        },
        "enrollmentTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of device enrollment."
          }
        },
        "networkInfo": {
          "target": "com.gcp.androidmanagement_v1#NetworkInfo",
          "traits": {
            "smithy.api#documentation": "Device network information. This information is only available if networkInfoEnabled is true in the device's policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch."
      }
    },
    "com.gcp.androidmanagement_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androidmanagement_v1#DisplayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#Display"
      }
    },
    "com.gcp.androidmanagement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androidmanagement_v1#DeviceAppliedStateEnum": {
      "type": "enum",
      "members": {
        "DEVICE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOST"
          }
        },
        "PREPARING_FOR_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING_FOR_MIGRATION"
          }
        },
        "DEACTIVATED_BY_DEVICE_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED_BY_DEVICE_FINANCE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#DefaultApplicationInfo"
      }
    },
    "com.gcp.androidmanagement_v1#PowerManagementEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#PowerManagementEvent"
      }
    },
    "com.gcp.androidmanagement_v1#DeviceStateEnum": {
      "type": "enum",
      "members": {
        "DEVICE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOST"
          }
        },
        "PREPARING_FOR_MIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING_FOR_MIGRATION"
          }
        },
        "DEACTIVATED_BY_DEVICE_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED_BY_DEVICE_FINANCE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#PasswordRequirementsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#PasswordRequirements"
      }
    },
    "com.gcp.androidmanagement_v1#MemoryEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#MemoryEvent"
      }
    },
    "com.gcp.androidmanagement_v1#DeviceManagementModeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_UNSPECIFIED"
          }
        },
        "DEVICE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNER"
          }
        },
        "PROFILE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_OWNER"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#HardwareStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#HardwareStatus"
      }
    },
    "com.gcp.androidmanagement_v1#NonComplianceDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#NonComplianceDetail"
      }
    },
    "com.gcp.androidmanagement_v1#ApplicationReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#ApplicationReport"
      }
    },
    "com.gcp.androidmanagement_v1#DeviceOwnershipEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNSPECIFIED"
          }
        },
        "COMPANY_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_OWNED"
          }
        },
        "PERSONALLY_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONALLY_OWNED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverrides": {
      "type": "structure",
      "members": {
        "mtePolicy": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesMtePolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls Memory Tagging Extension (MTE) (https://source.android.com/docs/security/test/memory-safety/arm-mte) on the device. The device needs to be rebooted to apply changes to the MTE policy. On Android 15 and above, a NonComplianceDetail with PENDING is reported if the policy change is pending a device reboot."
          }
        },
        "googlePlayProtectVerifyApps": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesGooglePlayProtectVerifyAppsEnum",
          "traits": {
            "smithy.api#documentation": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated)."
          }
        },
        "commonCriteriaMode": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesCommonCriteriaModeEnum",
          "traits": {
            "smithy.api#documentation": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, see CommonCriteriaMode for details.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required. If Common Criteria Mode is turned off after being enabled previously, all user-configured Wi-Fi networks may be lost and any enterprise-configured Wi-Fi networks that require user input may need to be reconfigured."
          }
        },
        "untrustedAppsPolicy": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesUntrustedAppsPolicyEnum",
          "traits": {
            "smithy.api#documentation": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated)."
          }
        },
        "contentProtectionPolicy": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesContentProtectionPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether content protection, which scans for deceptive apps, is enabled. This is supported on Android 15 and above."
          }
        },
        "personalAppsThatCanReadWorkNotifications": {
          "target": "com.gcp.androidmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Personal apps that can read work profile notifications using a NotificationListenerService (https://developer.android.com/reference/android/service/notification/NotificationListenerService). By default, no personal apps (aside from system apps) can read work notifications. Each value in the list must be a package name."
          }
        },
        "developerSettings": {
          "target": "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesDeveloperSettingsEnum",
          "traits": {
            "smithy.api#documentation": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated). On personally-owned devices with a work profile, setting this policy will not disable safe boot. In this case, a NonComplianceDetail with MANAGEMENT_MODE is reported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced security settings. In most cases, setting these is not needed."
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesMtePolicyEnum": {
      "type": "enum",
      "members": {
        "MTE_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTE_POLICY_UNSPECIFIED"
          }
        },
        "MTE_USER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTE_USER_CHOICE"
          }
        },
        "MTE_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTE_ENFORCED"
          }
        },
        "MTE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MTE_DISABLED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesGooglePlayProtectVerifyAppsEnum": {
      "type": "enum",
      "members": {
        "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED"
          }
        },
        "VERIFY_APPS_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_APPS_ENFORCED"
          }
        },
        "VERIFY_APPS_USER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERIFY_APPS_USER_CHOICE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesCommonCriteriaModeEnum": {
      "type": "enum",
      "members": {
        "COMMON_CRITERIA_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON_CRITERIA_MODE_UNSPECIFIED"
          }
        },
        "COMMON_CRITERIA_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON_CRITERIA_MODE_DISABLED"
          }
        },
        "COMMON_CRITERIA_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON_CRITERIA_MODE_ENABLED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesUntrustedAppsPolicyEnum": {
      "type": "enum",
      "members": {
        "UNTRUSTED_APPS_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNTRUSTED_APPS_POLICY_UNSPECIFIED"
          }
        },
        "DISALLOW_INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISALLOW_INSTALL"
          }
        },
        "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY"
          }
        },
        "ALLOW_INSTALL_DEVICE_WIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_INSTALL_DEVICE_WIDE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesContentProtectionPolicyEnum": {
      "type": "enum",
      "members": {
        "CONTENT_PROTECTION_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_PROTECTION_POLICY_UNSPECIFIED"
          }
        },
        "CONTENT_PROTECTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_PROTECTION_DISABLED"
          }
        },
        "CONTENT_PROTECTION_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_PROTECTION_ENFORCED"
          }
        },
        "CONTENT_PROTECTION_USER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_PROTECTION_USER_CHOICE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AdvancedSecurityOverridesDeveloperSettingsEnum": {
      "type": "enum",
      "members": {
        "DEVELOPER_SETTINGS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER_SETTINGS_UNSPECIFIED"
          }
        },
        "DEVELOPER_SETTINGS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER_SETTINGS_DISABLED"
          }
        },
        "DEVELOPER_SETTINGS_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER_SETTINGS_ALLOWED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#Command": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp at which the command was created. The timestamp is automatically generated by the server."
          }
        },
        "errorCode": {
          "target": "com.gcp.androidmanagement_v1#CommandErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller. For reasoning about command errors, prefer fields in the following order (most preferred first): 1. Command-specific fields like clearAppsDataStatus, startLostModeStatus, or similar, if they exist. 2. This field, if set. 3. The generic error field in the Operation that wraps the command."
          }
        },
        "startLostModeParams": {
          "target": "com.gcp.androidmanagement_v1#StartLostModeParams",
          "traits": {
            "smithy.api#documentation": "Parameters for the START_LOST_MODE command to put the device into lost mode. See StartLostModeParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to START_LOST_MODE. It is also acceptable to explicitly set type to START_LOST_MODE."
          }
        },
        "stopLostModeStatus": {
          "target": "com.gcp.androidmanagement_v1#StopLostModeStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the STOP_LOST_MODE command to take the device out of lost mode. See StopLostModeStatus."
          }
        },
        "resetPasswordFlags": {
          "target": "com.gcp.androidmanagement_v1#CommandResetPasswordFlagsItemEnumList",
          "traits": {
            "smithy.api#documentation": "For commands of type RESET_PASSWORD, optionally specifies flags."
          }
        },
        "newPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For commands of type RESET_PASSWORD, optionally specifies the new password. Note: The new password must be at least 6 characters long if it is numeric in case of Android 14 devices. Else the command will fail with INVALID_VALUE."
          }
        },
        "startLostModeStatus": {
          "target": "com.gcp.androidmanagement_v1#StartLostModeStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the START_LOST_MODE command to put the device into lost mode. See StartLostModeStatus."
          }
        },
        "stopLostModeParams": {
          "target": "com.gcp.androidmanagement_v1#StopLostModeParams",
          "traits": {
            "smithy.api#documentation": "Parameters for the STOP_LOST_MODE command to take the device out of lost mode. See StopLostModeParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to STOP_LOST_MODE. It is also acceptable to explicitly set type to STOP_LOST_MODE."
          }
        },
        "addEsimParams": {
          "target": "com.gcp.androidmanagement_v1#AddEsimParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for the ADD_ESIM command to add an eSIM profile to the device. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to ADD_ESIM. It is also acceptable to explicitly set type to ADD_ESIM."
          }
        },
        "clearAppsDataStatus": {
          "target": "com.gcp.androidmanagement_v1#ClearAppsDataStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataStatus."
          }
        },
        "wipeParams": {
          "target": "com.gcp.androidmanagement_v1#WipeParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for the WIPE command to wipe the device. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to WIPE. It is also acceptable to explicitly set type to WIPE."
          }
        },
        "type": {
          "target": "com.gcp.androidmanagement_v1#CommandTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the command."
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to."
          }
        },
        "clearAppsDataParams": {
          "target": "com.gcp.androidmanagement_v1#ClearAppsDataParams",
          "traits": {
            "smithy.api#documentation": "Parameters for the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to CLEAR_APP_DATA. It is also acceptable to explicitly set type to CLEAR_APP_DATA."
          }
        },
        "requestDeviceInfoStatus": {
          "target": "com.gcp.androidmanagement_v1#RequestDeviceInfoStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the REQUEST_DEVICE_INFO command."
          }
        },
        "esimStatus": {
          "target": "com.gcp.androidmanagement_v1#EsimCommandStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of an ADD_ESIM or REMOVE_ESIM command."
          }
        },
        "removeEsimParams": {
          "target": "com.gcp.androidmanagement_v1#RemoveEsimParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for the REMOVE_ESIM command to remove an eSIM profile from the device. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to REMOVE_ESIM. It is also acceptable to explicitly set type to REMOVE_ESIM."
          }
        },
        "requestDeviceInfoParams": {
          "target": "com.gcp.androidmanagement_v1#RequestDeviceInfoParams",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters for the REQUEST_DEVICE_INFO command to get device related information. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to REQUEST_DEVICE_INFO . It is also acceptable to explicitly set type to REQUEST_DEVICE_INFO."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A command."
      }
    },
    "com.gcp.androidmanagement_v1#CommandErrorCodeEnum": {
      "type": "enum",
      "members": {
        "COMMAND_ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_ERROR_CODE_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "API_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_LEVEL"
          }
        },
        "MANAGEMENT_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE"
          }
        },
        "INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VALUE"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#CommandResetPasswordFlagsItemEnum": {
      "type": "enum",
      "members": {
        "RESET_PASSWORD_FLAG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET_PASSWORD_FLAG_UNSPECIFIED"
          }
        },
        "REQUIRE_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRE_ENTRY"
          }
        },
        "DO_NOT_ASK_CREDENTIALS_ON_BOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO_NOT_ASK_CREDENTIALS_ON_BOOT"
          }
        },
        "LOCK_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK_NOW"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#CommandResetPasswordFlagsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#CommandResetPasswordFlagsItemEnum"
      }
    },
    "com.gcp.androidmanagement_v1#CommandTypeEnum": {
      "type": "enum",
      "members": {
        "COMMAND_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_TYPE_UNSPECIFIED"
          }
        },
        "LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCK"
          }
        },
        "RESET_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET_PASSWORD"
          }
        },
        "REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOT"
          }
        },
        "RELINQUISH_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELINQUISH_OWNERSHIP"
          }
        },
        "CLEAR_APP_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAR_APP_DATA"
          }
        },
        "START_LOST_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_LOST_MODE"
          }
        },
        "STOP_LOST_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_LOST_MODE"
          }
        },
        "ADD_ESIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_ESIM"
          }
        },
        "REMOVE_ESIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE_ESIM"
          }
        },
        "REQUEST_DEVICE_INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_DEVICE_INFO"
          }
        },
        "WIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#ListEnterprisesResponse": {
      "type": "structure",
      "members": {
        "enterprises": {
          "target": "com.gcp.androidmanagement_v1#EnterpriseList",
          "traits": {
            "smithy.api#documentation": "The list of enterprises."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results, a token to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to a request to list enterprises."
      }
    },
    "com.gcp.androidmanagement_v1#EnterpriseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#Enterprise"
      }
    },
    "com.gcp.androidmanagement_v1#TelephonyInfo": {
      "type": "structure",
      "members": {
        "configMode": {
          "target": "com.gcp.androidmanagement_v1#TelephonyInfoConfigModeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The configuration mode of the SIM card on the device. This is applicable for eSIMs only. This is supported on all devices for Android 15 and above. This is always CONFIG_MODE_UNSPECIFIED for physical SIMs and for devices below Android 15."
          }
        },
        "carrierName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The carrier name associated with this SIM card."
          }
        },
        "iccId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ICCID associated with this SIM card."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number associated with this SIM card."
          }
        },
        "activationState": {
          "target": "com.gcp.androidmanagement_v1#TelephonyInfoActivationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Activation state of the SIM card on the device. This is applicable for eSIMs only. This is supported on all devices for Android 15 and above. This is always ACTIVATION_STATE_UNSPECIFIED for physical SIMs and for devices below Android 15."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Telephony information associated with a given SIM card on the device. This is supported for all SIM cards on fully managed devices on Android 6 and above. In addition, this is supported for admin-added eSIMs on all devices for Android 15 and above."
      }
    },
    "com.gcp.androidmanagement_v1#TelephonyInfoConfigModeEnum": {
      "type": "enum",
      "members": {
        "CONFIG_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_MODE_UNSPECIFIED"
          }
        },
        "ADMIN_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_CONFIGURED"
          }
        },
        "USER_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CONFIGURED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#TelephonyInfoActivationStateEnum": {
      "type": "enum",
      "members": {
        "ACTIVATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATION_STATE_UNSPECIFIED"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "NOT_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACTIVATED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      }
    },
    "com.gcp.androidmanagement_v1#AppProcessInfo": {
      "type": "structure",
      "members": {
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process name."
          }
        },
        "seinfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SELinux policy info."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process start time."
          }
        },
        "packageNames": {
          "target": "com.gcp.androidmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Package names of all packages that are associated with the particular user ID. In most cases, this will be a single package name, the package that has been assigned that user ID. If multiple application share a UID then all packages sharing UID will be included."
          }
        },
        "pid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Process ID."
          }
        },
        "uid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "UID of the package."
          }
        },
        "apkSha256Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-256 hash of the base APK, in hexadecimal format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a process. It contains process name, start time, app Uid, app Pid, seinfo tag, hash of the base APK."
      }
    },
    "com.gcp.androidmanagement_v1#UsageLogEvent": {
      "type": "structure",
      "members": {
        "certAuthorityRemovedEvent": {
          "target": "com.gcp.androidmanagement_v1#CertAuthorityRemovedEvent",
          "traits": {
            "smithy.api#documentation": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS."
          }
        },
        "remoteLockEvent": {
          "target": "com.gcp.androidmanagement_v1#RemoteLockEvent",
          "traits": {
            "smithy.api#documentation": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS."
          }
        },
        "lostModeOutgoingPhoneCallEvent": {
          "target": "com.gcp.androidmanagement_v1#LostModeOutgoingPhoneCallEvent",
          "traits": {
            "smithy.api#documentation": "An outgoing phone call has been made when a device in lost mode."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device timestamp when the event was logged."
          }
        },
        "certAuthorityInstalledEvent": {
          "target": "com.gcp.androidmanagement_v1#CertAuthorityInstalledEvent",
          "traits": {
            "smithy.api#documentation": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS."
          }
        },
        "keyDestructionEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyDestructionEvent",
          "traits": {
            "smithy.api#documentation": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS."
          }
        },
        "stopLostModeUserAttemptEvent": {
          "target": "com.gcp.androidmanagement_v1#StopLostModeUserAttemptEvent",
          "traits": {
            "smithy.api#documentation": "An attempt to take a device out of lost mode."
          }
        },
        "adbShellInteractiveEvent": {
          "target": "com.gcp.androidmanagement_v1#AdbShellInteractiveEvent",
          "traits": {
            "smithy.api#documentation": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS."
          }
        },
        "wipeFailureEvent": {
          "target": "com.gcp.androidmanagement_v1#WipeFailureEvent",
          "traits": {
            "smithy.api#documentation": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS."
          }
        },
        "keyGeneratedEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyGeneratedEvent",
          "traits": {
            "smithy.api#documentation": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS."
          }
        },
        "osShutdownEvent": {
          "target": "com.gcp.androidmanagement_v1#OsShutdownEvent",
          "traits": {
            "smithy.api#documentation": "Device was shutdown. Part of SECURITY_LOGS."
          }
        },
        "keyguardDismissedEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyguardDismissedEvent",
          "traits": {
            "smithy.api#documentation": "The keyguard was dismissed. Part of SECURITY_LOGS."
          }
        },
        "keyguardDismissAuthAttemptEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyguardDismissAuthAttemptEvent",
          "traits": {
            "smithy.api#documentation": "An attempt was made to unlock the device. Part of SECURITY_LOGS."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of the event."
          }
        },
        "connectEvent": {
          "target": "com.gcp.androidmanagement_v1#ConnectEvent",
          "traits": {
            "smithy.api#documentation": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
          }
        },
        "filePushedEvent": {
          "target": "com.gcp.androidmanagement_v1#FilePushedEvent",
          "traits": {
            "smithy.api#documentation": "A file was uploaded onto the device. Part of SECURITY_LOGS."
          }
        },
        "backupServiceToggledEvent": {
          "target": "com.gcp.androidmanagement_v1#BackupServiceToggledEvent",
          "traits": {
            "smithy.api#documentation": "An admin has enabled or disabled backup service. Part of SECURITY_LOGS."
          }
        },
        "loggingStartedEvent": {
          "target": "com.gcp.androidmanagement_v1#LoggingStartedEvent",
          "traits": {
            "smithy.api#documentation": "usageLog policy has been enabled. Part of SECURITY_LOGS."
          }
        },
        "adbShellCommandEvent": {
          "target": "com.gcp.androidmanagement_v1#AdbShellCommandEvent",
          "traits": {
            "smithy.api#documentation": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS."
          }
        },
        "filePulledEvent": {
          "target": "com.gcp.androidmanagement_v1#FilePulledEvent",
          "traits": {
            "smithy.api#documentation": "A file was downloaded from the device. Part of SECURITY_LOGS."
          }
        },
        "keyImportEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyImportEvent",
          "traits": {
            "smithy.api#documentation": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS."
          }
        },
        "cryptoSelfTestCompletedEvent": {
          "target": "com.gcp.androidmanagement_v1#CryptoSelfTestCompletedEvent",
          "traits": {
            "smithy.api#documentation": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS."
          }
        },
        "keyIntegrityViolationEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyIntegrityViolationEvent",
          "traits": {
            "smithy.api#documentation": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS."
          }
        },
        "mediaUnmountEvent": {
          "target": "com.gcp.androidmanagement_v1#MediaUnmountEvent",
          "traits": {
            "smithy.api#documentation": "Removable media was unmounted. Part of SECURITY_LOGS."
          }
        },
        "logBufferSizeCriticalEvent": {
          "target": "com.gcp.androidmanagement_v1#LogBufferSizeCriticalEvent",
          "traits": {
            "smithy.api#documentation": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS."
          }
        },
        "mediaMountEvent": {
          "target": "com.gcp.androidmanagement_v1#MediaMountEvent",
          "traits": {
            "smithy.api#documentation": "Removable media was mounted. Part of SECURITY_LOGS."
          }
        },
        "dnsEvent": {
          "target": "com.gcp.androidmanagement_v1#DnsEvent",
          "traits": {
            "smithy.api#documentation": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
          }
        },
        "osStartupEvent": {
          "target": "com.gcp.androidmanagement_v1#OsStartupEvent",
          "traits": {
            "smithy.api#documentation": "Device was started. Part of SECURITY_LOGS."
          }
        },
        "keyguardSecuredEvent": {
          "target": "com.gcp.androidmanagement_v1#KeyguardSecuredEvent",
          "traits": {
            "smithy.api#documentation": "The device was locked either by user or timeout. Part of SECURITY_LOGS."
          }
        },
        "certValidationFailureEvent": {
          "target": "com.gcp.androidmanagement_v1#CertValidationFailureEvent",
          "traits": {
            "smithy.api#documentation": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
          }
        },
        "loggingStoppedEvent": {
          "target": "com.gcp.androidmanagement_v1#LoggingStoppedEvent",
          "traits": {
            "smithy.api#documentation": "usageLog policy has been disabled. Part of SECURITY_LOGS."
          }
        },
        "lostModeLocationEvent": {
          "target": "com.gcp.androidmanagement_v1#LostModeLocationEvent",
          "traits": {
            "smithy.api#documentation": "A lost mode location update when a device in lost mode."
          }
        },
        "enrollmentCompleteEvent": {
          "target": "com.gcp.androidmanagement_v1#EnrollmentCompleteEvent",
          "traits": {
            "smithy.api#documentation": "Device has completed enrollment. Part of AMAPI_LOGS."
          }
        },
        "eventType": {
          "target": "com.gcp.androidmanagement_v1#UsageLogEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "The particular usage log event type that was reported on the device. Use this to determine which event field to access."
          }
        },
        "appProcessStartEvent": {
          "target": "com.gcp.androidmanagement_v1#AppProcessStartEvent",
          "traits": {
            "smithy.api#documentation": "An app process was started. Part of SECURITY_LOGS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event logged on the device."
      }
    },
    "com.gcp.androidmanagement_v1#UsageLogEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "ADB_SHELL_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADB_SHELL_COMMAND"
          }
        },
        "ADB_SHELL_INTERACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADB_SHELL_INTERACTIVE"
          }
        },
        "APP_PROCESS_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_PROCESS_START"
          }
        },
        "KEYGUARD_DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYGUARD_DISMISSED"
          }
        },
        "KEYGUARD_DISMISS_AUTH_ATTEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYGUARD_DISMISS_AUTH_ATTEMPT"
          }
        },
        "KEYGUARD_SECURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYGUARD_SECURED"
          }
        },
        "FILE_PULLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_PULLED"
          }
        },
        "FILE_PUSHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_PUSHED"
          }
        },
        "CERT_AUTHORITY_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_AUTHORITY_INSTALLED"
          }
        },
        "CERT_AUTHORITY_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_AUTHORITY_REMOVED"
          }
        },
        "CERT_VALIDATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_VALIDATION_FAILURE"
          }
        },
        "CRYPTO_SELF_TEST_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRYPTO_SELF_TEST_COMPLETED"
          }
        },
        "KEY_DESTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_DESTRUCTION"
          }
        },
        "KEY_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_GENERATED"
          }
        },
        "KEY_IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_IMPORT"
          }
        },
        "KEY_INTEGRITY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_INTEGRITY_VIOLATION"
          }
        },
        "LOGGING_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGGING_STARTED"
          }
        },
        "LOGGING_STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGGING_STOPPED"
          }
        },
        "LOG_BUFFER_SIZE_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_BUFFER_SIZE_CRITICAL"
          }
        },
        "MEDIA_MOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_MOUNT"
          }
        },
        "MEDIA_UNMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_UNMOUNT"
          }
        },
        "OS_SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_SHUTDOWN"
          }
        },
        "OS_STARTUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_STARTUP"
          }
        },
        "REMOTE_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_LOCK"
          }
        },
        "WIPE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIPE_FAILURE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "DNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS"
          }
        },
        "STOP_LOST_MODE_USER_ATTEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_LOST_MODE_USER_ATTEMPT"
          }
        },
        "LOST_MODE_OUTGOING_PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOST_MODE_OUTGOING_PHONE_CALL"
          }
        },
        "LOST_MODE_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOST_MODE_LOCATION"
          }
        },
        "ENROLLMENT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENROLLMENT_COMPLETE"
          }
        },
        "BACKUP_SERVICE_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_SERVICE_TOGGLED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#LoggingStoppedEvent": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "usageLog policy has been disabled. Intentionally empty."
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationSetting": {
      "type": "structure",
      "members": {
        "defaultApplicationType": {
          "target": "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The app type to set the default application."
          }
        },
        "defaultApplications": {
          "target": "com.gcp.androidmanagement_v1#DefaultApplicationList",
          "traits": {
            "smithy.api#documentation": "Required. The list of applications that can be set as the default app for a given type. This list must not be empty or contain duplicates. The first app in the list that is installed and qualified for the defaultApplicationType (e.g. SMS app for DEFAULT_SMS) is set as the default app. The signing key certificate fingerprint of the app on the device must also match one of the signing key certificate fingerprints obtained from Play Store or one of the entries in ApplicationPolicy.signingKeyCerts in order to be set as the default.If the defaultApplicationScopes contains SCOPE_FULLY_MANAGED or SCOPE_WORK_PROFILE, the app must have an entry in applications with installType set to a value other than BLOCKED.A NonComplianceDetail with APP_NOT_INSTALLED reason and DEFAULT_APPLICATION_SETTING_FAILED_FOR_SCOPE specific reason is reported if none of the apps in the list are installed. A NonComplianceDetail with INVALID_VALUE reason and DEFAULT_APPLICATION_SETTING_FAILED_FOR_SCOPE specific reason is reported if at least one app is installed but the policy fails to apply due to other reasons (e.g. the app is not of the right type).When applying to SCOPE_PERSONAL_PROFILE on a company-owned device with a work profile, only pre-installed system apps can be set as the default. A NonComplianceDetail with INVALID_VALUE reason and DEFAULT_APPLICATION_SETTING_FAILED_FOR_SCOPE specific reason is reported if the policy fails to apply to the personal profile."
          }
        },
        "defaultApplicationScopes": {
          "target": "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationScopesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The scopes to which the policy should be applied. This list must not be empty or contain duplicates.A NonComplianceDetail with MANAGEMENT_MODE reason and DEFAULT_APPLICATION_SETTING_UNSUPPORTED_SCOPES specific reason is reported if none of the specified scopes can be applied to the management mode (e.g. a fully managed device receives a policy with only SCOPE_PERSONAL_PROFILE in the list)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default application setting for a DefaultApplicationType."
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationTypeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_APPLICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_APPLICATION_TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT_ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_ASSISTANT"
          }
        },
        "DEFAULT_BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_BROWSER"
          }
        },
        "DEFAULT_CALL_REDIRECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_CALL_REDIRECTION"
          }
        },
        "DEFAULT_CALL_SCREENING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_CALL_SCREENING"
          }
        },
        "DEFAULT_DIALER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_DIALER"
          }
        },
        "DEFAULT_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_HOME"
          }
        },
        "DEFAULT_SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_SMS"
          }
        },
        "DEFAULT_WALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_WALLET"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#DefaultApplication"
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationScopesItemEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_APPLICATION_SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_APPLICATION_SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_FULLY_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_FULLY_MANAGED"
          }
        },
        "SCOPE_WORK_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_WORK_PROFILE"
          }
        },
        "SCOPE_PERSONAL_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_PERSONAL_PROFILE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationScopesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androidmanagement_v1#DefaultApplicationSettingDefaultApplicationScopesItemEnum"
      }
    },
    "com.gcp.androidmanagement_v1#Eid": {
      "type": "structure",
      "members": {
        "eid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The EID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EID information for each eUICC chip."
      }
    },
    "com.gcp.androidmanagement_v1#FilePushedEvent": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the file being pushed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file was uploaded onto the device."
      }
    },
    "com.gcp.androidmanagement_v1#WifiRoamingSetting": {
      "type": "structure",
      "members": {
        "wifiSsid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. SSID of the Wi-Fi network."
          }
        },
        "wifiRoamingMode": {
          "target": "com.gcp.androidmanagement_v1#WifiRoamingSettingWifiRoamingModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Wi-Fi roaming mode for the specified SSID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wi-Fi roaming setting."
      }
    },
    "com.gcp.androidmanagement_v1#WifiRoamingSettingWifiRoamingModeEnum": {
      "type": "enum",
      "members": {
        "WIFI_ROAMING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_ROAMING_MODE_UNSPECIFIED"
          }
        },
        "WIFI_ROAMING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_ROAMING_DISABLED"
          }
        },
        "WIFI_ROAMING_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_ROAMING_DEFAULT"
          }
        },
        "WIFI_ROAMING_AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_ROAMING_AGGRESSIVE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#NonComplianceDetailCondition": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The package name of the app that's out of compliance. If not set, then this condition matches any package name."
          }
        },
        "nonComplianceReason": {
          "target": "com.gcp.androidmanagement_v1#NonComplianceDetailConditionNonComplianceReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason the device is not in compliance with the setting. If not set, then this condition matches any reason."
          }
        },
        "settingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields."
      }
    },
    "com.gcp.androidmanagement_v1#NonComplianceDetailConditionNonComplianceReasonEnum": {
      "type": "enum",
      "members": {
        "NON_COMPLIANCE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANCE_REASON_UNSPECIFIED"
          }
        },
        "API_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_LEVEL"
          }
        },
        "MANAGEMENT_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE"
          }
        },
        "USER_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ACTION"
          }
        },
        "INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VALUE"
          }
        },
        "APP_NOT_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_NOT_INSTALLED"
          }
        },
        "UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED"
          }
        },
        "APP_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_INSTALLED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "APP_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_INCOMPATIBLE"
          }
        },
        "APP_NOT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_NOT_UPDATED"
          }
        },
        "DEVICE_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_INCOMPATIBLE"
          }
        },
        "APP_SIGNING_CERT_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_SIGNING_CERT_MISMATCH"
          }
        },
        "PROJECT_NOT_PERMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_NOT_PERMITTED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#ScreenTimeoutSettings": {
      "type": "structure",
      "members": {
        "screenTimeoutMode": {
          "target": "com.gcp.androidmanagement_v1#ScreenTimeoutSettingsScreenTimeoutModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether the user is allowed to configure the screen timeout."
          }
        },
        "screenTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the screen timeout duration. The screen timeout duration must be greater than 0, otherwise it is rejected. Additionally, it should not be greater than maximumTimeToLock, otherwise the screen timeout is set to maximumTimeToLock and a NonComplianceDetail with INVALID_VALUE reason and SCREEN_TIMEOUT_GREATER_THAN_MAXIMUM_TIME_TO_LOCK specific reason is reported. If the screen timeout is less than a certain lower bound, it is set to the lower bound. The lower bound may vary across devices. If this is set, screenTimeoutMode must be SCREEN_TIMEOUT_ENFORCED. Supported on Android 9 and above on fully managed devices. A NonComplianceDetail with API_LEVEL is reported if the Android version is less than 9. Supported on work profiles on company-owned devices on Android 15 and above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the screen timeout settings."
      }
    },
    "com.gcp.androidmanagement_v1#ScreenTimeoutSettingsScreenTimeoutModeEnum": {
      "type": "enum",
      "members": {
        "SCREEN_TIMEOUT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_TIMEOUT_MODE_UNSPECIFIED"
          }
        },
        "SCREEN_TIMEOUT_USER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_TIMEOUT_USER_CHOICE"
          }
        },
        "SCREEN_TIMEOUT_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_TIMEOUT_ENFORCED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#AppVersion": {
      "type": "structure",
      "members": {
        "versionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
          }
        },
        "trackIds": {
          "target": "com.gcp.androidmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Track identifiers that the app version is published in. This does not include the production track (see production instead)."
          }
        },
        "versionCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unique increasing identifier for the app version."
          }
        },
        "production": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is True, it indicates that this version is a production track."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This represents a single version of the app."
      }
    },
    "com.gcp.androidmanagement_v1#FilePulledEvent": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path of the file being pulled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A file was downloaded from the device."
      }
    },
    "com.gcp.androidmanagement_v1#WorkAccountSetupConfig": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.gcp.androidmanagement_v1#WorkAccountSetupConfigAuthenticationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The authentication type of the user on the device."
          }
        },
        "requiredAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The specific google work account email address to be added. This field is only relevant if authenticationType is GOOGLE_AUTHENTICATED. This must be an enterprise account and not a consumer account. Once set and a Google authenticated account is added to the device, changing this field will have no effect, and thus recommended to be set only once."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the work account setup configuration, such as details of whether a Google authenticated account is required."
      }
    },
    "com.gcp.androidmanagement_v1#WorkAccountSetupConfigAuthenticationTypeEnum": {
      "type": "enum",
      "members": {
        "AUTHENTICATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_TYPE_UNSPECIFIED"
          }
        },
        "AUTHENTICATION_TYPE_NOT_ENFORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_TYPE_NOT_ENFORCED"
          }
        },
        "GOOGLE_AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_AUTHENTICATED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#ScreenBrightnessSettings": {
      "type": "structure",
      "members": {
        "screenBrightnessMode": {
          "target": "com.gcp.androidmanagement_v1#ScreenBrightnessSettingsScreenBrightnessModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the screen brightness mode."
          }
        },
        "screenBrightness": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The screen brightness between 1 and 255 where 1 is the lowest and 255 is the highest brightness. A value of 0 (default) means no screen brightness set. Any other value is rejected. screenBrightnessMode must be either BRIGHTNESS_AUTOMATIC or BRIGHTNESS_FIXED to set this. Supported on Android 9 and above on fully managed devices. A NonComplianceDetail with API_LEVEL is reported if the Android version is less than 9. Supported on work profiles on company-owned devices on Android 15 and above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls for the screen brightness settings."
      }
    },
    "com.gcp.androidmanagement_v1#ScreenBrightnessSettingsScreenBrightnessModeEnum": {
      "type": "enum",
      "members": {
        "SCREEN_BRIGHTNESS_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREEN_BRIGHTNESS_MODE_UNSPECIFIED"
          }
        },
        "BRIGHTNESS_USER_CHOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRIGHTNESS_USER_CHOICE"
          }
        },
        "BRIGHTNESS_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRIGHTNESS_AUTOMATIC"
          }
        },
        "BRIGHTNESS_FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRIGHTNESS_FIXED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#CertAuthorityInstalledEvent": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The user in which the certificate install event happened. Only available for devices running Android 11 and above."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subject of the certificate."
          }
        },
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the installation event succeeded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new root certificate was installed into the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile."
      }
    },
    "com.gcp.androidmanagement_v1#ChoosePrivateKeyRule": {
      "type": "structure",
      "members": {
        "packageNames": {
          "target": "com.gcp.androidmanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The package names to which this rule applies. The signing key certificate fingerprint of the app is verified against the signing key certificate fingerprints provided by Play Store and ApplicationPolicy.signingKeyCerts . If no package names are specified, then the alias is provided to all apps that call KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) or any overloads (but not without calling KeyChain.choosePrivateKeyAlias, even on Android 11 and above). Any app with the same Android UID as a package specified here will have access when they call KeyChain.choosePrivateKeyAlias."
          }
        },
        "privateKeyAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alias of the private key to be used."
          }
        },
        "urlPattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL pattern to match against the URL of the request. If not set or empty, it matches all URLs. This uses the regular expression syntax of java.util.regex.Pattern."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls apps' access to private keys. The rule determines which private key, if any, Android Device Policy grants to the specified app. Access is granted either when the app calls KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) (or any overloads) to request a private key alias for a given URL, or for rules that are not URL-specific (that is, if urlPattern is not set, or set to the empty string or .*) on Android 11 and above, directly so that the app can call KeyChain.getPrivateKey (https://developer.android.com/reference/android/security/KeyChain#getPrivateKey%28android.content.Context,%20java.lang.String%29), without first having to call KeyChain.choosePrivateKeyAlias.When an app calls KeyChain.choosePrivateKeyAlias if more than one choosePrivateKeyRules matches, the last matching rule defines which key alias to return."
      }
    },
    "com.gcp.androidmanagement_v1#ApplicationEvent": {
      "type": "structure",
      "members": {
        "eventType": {
          "target": "com.gcp.androidmanagement_v1#ApplicationEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "App event type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app-related event."
      }
    },
    "com.gcp.androidmanagement_v1#ApplicationEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "APPLICATION_EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_EVENT_TYPE_UNSPECIFIED"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGED"
          }
        },
        "DATA_CLEARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_CLEARED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        },
        "REPLACED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACED"
          }
        },
        "RESTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTARTED"
          }
        },
        "PINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PINNED"
          }
        },
        "UNPINNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPINNED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#ProvisioningInfo": {
      "type": "structure",
      "members": {
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For corporate-owned devices, The device serial number."
          }
        },
        "enterprise": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the enterprise in the form enterprises/{enterprise}."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this resource in the form provisioningInfo/{provisioning_info}."
          }
        },
        "brand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The brand of the device. For example, Google."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model of the device. For example, Asus Nexus 7."
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For corporate-owned devices, MEID number of the CDMA device. For example, A00000292788E1."
          }
        },
        "managementMode": {
          "target": "com.gcp.androidmanagement_v1#ProvisioningInfoManagementModeEnum",
          "traits": {
            "smithy.api#documentation": "The management mode of the device or profile."
          }
        },
        "ownership": {
          "target": "com.gcp.androidmanagement_v1#ProvisioningInfoOwnershipEnum",
          "traits": {
            "smithy.api#documentation": "Ownership of the managed device."
          }
        },
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For corporate-owned devices, IMEI number of the GSM device. For example, A1000031212."
          }
        },
        "authenticatedUserEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the authenticated user (only present for Google Account provisioning method)."
          }
        },
        "apiLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The API level of the Android platform version running on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a device that is available during setup."
      }
    },
    "com.gcp.androidmanagement_v1#ProvisioningInfoManagementModeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_MODE_UNSPECIFIED"
          }
        },
        "DEVICE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OWNER"
          }
        },
        "PROFILE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_OWNER"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#ProvisioningInfoOwnershipEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_UNSPECIFIED"
          }
        },
        "COMPANY_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY_OWNED"
          }
        },
        "PERSONALLY_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSONALLY_OWNED"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#PasswordPoliciesContext": {
      "type": "structure",
      "members": {
        "passwordPolicyScope": {
          "target": "com.gcp.androidmanagement_v1#PasswordPoliciesContextPasswordPolicyScopeEnum",
          "traits": {
            "smithy.api#documentation": "The scope of non-compliant password."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional context for non-compliance related to password policies."
      }
    },
    "com.gcp.androidmanagement_v1#PasswordPoliciesContextPasswordPolicyScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "SCOPE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_DEVICE"
          }
        },
        "SCOPE_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_PROFILE"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#EnrollmentCompleteEvent": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Represents that the device has completed enrollment. User should be in the launcher at this point, device at this point will be compliant and all setup steps have been completed. Intentionally empty."
      }
    },
    "com.gcp.androidmanagement_v1#SignupUrl": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enterprise signup URL."
      }
    },
    "com.gcp.androidmanagement_v1#LostModeLocationEvent": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.gcp.androidmanagement_v1#Location",
          "traits": {
            "smithy.api#documentation": "The device location"
          }
        },
        "batteryLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The battery level as a number between 0 and 100 inclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lost mode event containing the device location and battery level as a percentage."
      }
    },
    "com.gcp.androidmanagement_v1#PerAppResult": {
      "type": "structure",
      "members": {
        "clearingResult": {
          "target": "com.gcp.androidmanagement_v1#PerAppResultClearingResultEnum",
          "traits": {
            "smithy.api#documentation": "The result of an attempt to clear the data of a single app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of an attempt to clear the data of a single app."
      }
    },
    "com.gcp.androidmanagement_v1#PerAppResultClearingResultEnum": {
      "type": "enum",
      "members": {
        "CLEARING_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEARING_RESULT_UNSPECIFIED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "APP_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_NOT_FOUND"
          }
        },
        "APP_PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_PROTECTED"
          }
        },
        "API_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_LEVEL"
          }
        }
      }
    },
    "com.gcp.androidmanagement_v1#Enterprise": {
      "type": "structure",
      "members": {
        "logo": {
[...]
