{
  "smithy": "2.0",
  "metadata": {
    "service": "androiddeviceprovisioning",
    "version": "v1",
    "title": "Android Device Provisioning Partner API",
    "baseUrl": "https://androiddeviceprovisioning.googleapis.com/"
  },
  "shapes": {
    "com.gcp.androiddeviceprovisioning_v1#PartnerClaim": {
      "type": "structure",
      "members": {
        "googleWorkspaceCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Workspace customer ID."
          }
        },
        "preProvisioningToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Must and can only be set for Chrome OS devices."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerClaimSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The section type of the device's provisioning record."
          }
        },
        "deviceMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata",
          "traits": {
            "smithy.api#documentation": "Required. The metadata to attach to the device at claim."
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the configuration applied to the device section."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Required. Device identifier of the device."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the customer for whom the device is being claimed."
          }
        },
        "simlockProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies one claim request."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PartnerClaimSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindDevicesByDeviceIdentifierRequest": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token specifying which result page to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to find devices."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token used to access the next page of results. Omitted if no further results are available."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of items in the list irrespective of pagination."
          }
        },
        "devices": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceList",
          "traits": {
            "smithy.api#documentation": "The customer's devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing found devices."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Device"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceClaim": {
      "type": "structure",
      "members": {
        "ownerCompanyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Customer that purchased the device."
          }
        },
        "googleWorkspaceCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Google Workspace account that owns the Chrome OS device."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceClaimSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of claim made on the device."
          }
        },
        "resellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the reseller that claimed the device."
          }
        },
        "vacationModeStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
          }
        },
        "vacationModeExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
          }
        },
        "additionalService": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceClaimAdditionalServiceEnum",
          "traits": {
            "smithy.api#documentation": "The Additional service registered for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceClaimSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceClaimAdditionalServiceEnum": {
      "type": "enum",
      "members": {
        "ADDITIONAL_SERVICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_SERVICE_UNSPECIFIED"
          }
        },
        "DEVICE_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_PROTECTION"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerListConfigurationsResponse": {
      "type": "structure",
      "members": {
        "configurations": {
          "target": "com.gcp.androiddeviceprovisioning_v1#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "The configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message of customer's listing configuration."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Configuration"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateResponse": {
      "type": "structure",
      "members": {
        "simLockState": {
          "target": "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateResponseSimLockStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a device's SimLock state."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateResponseSimLockStateEnum": {
      "type": "enum",
      "members": {
        "SIM_LOCK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIM_LOCK_STATE_UNSPECIFIED"
          }
        },
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCKED"
          }
        },
        "LOCKED_TO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKED_TO_PARTNER"
          }
        },
        "LOCKED_TO_OTHER_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCKED_TO_OTHER_PARTNER"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimDevicesRequest": {
      "type": "structure",
      "members": {
        "claims": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerClaimList",
          "traits": {
            "smithy.api#documentation": "Required. A list of device claims."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PartnerClaimList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#PartnerClaim"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#DocumentMap"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceReference": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the device."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "The hardware IDs of the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceResponse": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device ID of the claimed device."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing device id of the claim."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Device": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not available to resellers."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the device. Assigned by the server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
          }
        },
        "deviceMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
          }
        },
        "claims": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceClaimList",
          "traits": {
            "smithy.api#documentation": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Android or Chrome OS device registered for zero-touch enrollment."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceClaimList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#DeviceClaim"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier": {
      "type": "structure",
      "members": {
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
          }
        },
        "meid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device’s MEID number."
          }
        },
        "deviceType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifierDeviceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the device"
          }
        },
        "imei": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device’s IMEI number. Validated on input."
          }
        },
        "imei2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device’s second IMEI number."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The manufacturer's serial number for the device. This value might not be unique across different device models."
          }
        },
        "chromeOsAttestedDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
          }
        },
        "meid2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The device’s second MEID number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifierDeviceTypeEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "DEVICE_TYPE_ANDROID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_ANDROID"
          }
        },
        "DEVICE_TYPE_CHROME_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CHROME_OS"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimDevicesRequest": {
      "type": "structure",
      "members": {
        "unclaims": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaimList",
          "traits": {
            "smithy.api#documentation": "Required. The list of devices to unclaim."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to unclaim devices asynchronously in batch."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaimList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaim"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DevicesLongRunningOperationResponse": {
      "type": "structure",
      "members": {
        "successCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
          }
        },
        "perDeviceStatus": {
          "target": "com.gcp.androiddeviceprovisioning_v1#OperationPerDeviceList",
          "traits": {
            "smithy.api#documentation": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#OperationPerDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#OperationPerDevice"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerUnclaimDeviceRequest": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceReference",
          "traits": {
            "smithy.api#documentation": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for customer to unclaim a device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DevicesLongRunningOperationMetadata": {
      "type": "structure",
      "members": {
        "devicesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
          }
        },
        "processingStatus": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DevicesLongRunningOperationMetadataProcessingStatusEnum",
          "traits": {
            "smithy.api#documentation": "The processing status of the operation."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DevicesLongRunningOperationMetadataProcessingStatusEnum": {
      "type": "enum",
      "members": {
        "BATCH_PROCESS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_PROCESS_STATUS_UNSPECIFIED"
          }
        },
        "BATCH_PROCESS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_PROCESS_PENDING"
          }
        },
        "BATCH_PROCESS_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_PROCESS_IN_PROGRESS"
          }
        },
        "BATCH_PROCESS_PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_PROCESS_PROCESSED"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Company": {
      "type": "structure",
      "members": {
        "skipWelcomeEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
          }
        },
        "adminEmails": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account."
          }
        },
        "googleWorkspaceAccount": {
          "target": "com.gcp.androiddeviceprovisioning_v1#GoogleWorkspaceAccount",
          "traits": {
            "smithy.api#documentation": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
          }
        },
        "termsStatus": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CompanyTermsStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus."
          }
        },
        "companyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the company. Assigned by the server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
          }
        },
        "ownerEmails": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CompanyTermsStatusEnum": {
      "type": "enum",
      "members": {
        "TERMS_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_STATUS_UNSPECIFIED"
          }
        },
        "TERMS_STATUS_NOT_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_STATUS_NOT_ACCEPTED"
          }
        },
        "TERMS_STATUS_ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_STATUS_ACCEPTED"
          }
        },
        "TERMS_STATUS_STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMS_STATUS_STALE"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaim": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Device ID of the device."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Device identifier of the device."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaimSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The section type of the device's provisioning record."
          }
        },
        "vacationModeExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The expiration time of the vacation unlock."
          }
        },
        "vacationModeDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies one unclaim request."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaimSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Configuration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
          }
        },
        "dpcResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
          }
        },
        "contactEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
          }
        },
        "configurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
          }
        },
        "dpcExtras": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the configuration. Assigned by the server."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`."
          }
        },
        "customMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
          }
        },
        "forcedResetTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
          }
        },
        "contactPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerListDpcsResponse": {
      "type": "structure",
      "members": {
        "dpcs": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DpcList",
          "traits": {
            "smithy.api#documentation": "The list of DPCs available to the customer that support zero-touch enrollment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message of customer's listing DPCs."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DpcList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Dpc"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataArguments": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Device identifier."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Device ID of the device."
          }
        },
        "deviceMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata",
          "traits": {
            "smithy.api#documentation": "Required. The metadata to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies metadata updates to one device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimDeviceRequest": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device ID returned by `ClaimDevice`."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. The device identifier you used when you claimed this device."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UnclaimDeviceRequestSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The section type of the device's provisioning record."
          }
        },
        "vacationModeExpireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time of the vacation unlock."
          }
        },
        "vacationModeDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to unclaim a device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimDeviceRequestSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindDevicesByDeviceIdentifierResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token used to access the next page of results. Omitted if no further results are available."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of items in the list irrespective of pagination."
          }
        },
        "devices": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceList",
          "traits": {
            "smithy.api#documentation": "Found devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing found devices."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerRemoveConfigurationRequest": {
      "type": "structure",
      "members": {
        "device": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceReference",
          "traits": {
            "smithy.api#documentation": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for customer to remove the configuration from device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceRequest": {
      "type": "structure",
      "members": {
        "googleWorkspaceCustomerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google Workspace customer ID."
          }
        },
        "preProvisioningToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Must and can only be set for Chrome OS devices."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceRequestSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The section type of the device's provisioning record."
          }
        },
        "deviceMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata",
          "traits": {
            "smithy.api#documentation": "Optional. The metadata to attach to the device."
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the configuration applied to the device section."
          }
        },
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Required. The device identifier of the device to claim."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the customer for whom the device is being claimed."
          }
        },
        "simlockProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to claim a device on behalf of a customer."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceRequestSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#OperationPerDevice": {
      "type": "structure",
      "members": {
        "claim": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerClaim",
          "traits": {
            "smithy.api#documentation": "A copy of the original device-claim request received by the server."
          }
        },
        "unclaim": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PartnerUnclaim",
          "traits": {
            "smithy.api#documentation": "A copy of the original device-unclaim request received by the server."
          }
        },
        "result": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PerDeviceStatusInBatch",
          "traits": {
            "smithy.api#documentation": "The processing result for each device."
          }
        },
        "updateMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataArguments",
          "traits": {
            "smithy.api#documentation": "A copy of the original metadata-update request received by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A task for each device in the operation. Corresponds to each device change in the request."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateDeviceMetadataInBatchRequest": {
      "type": "structure",
      "members": {
        "updates": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataArgumentsList",
          "traits": {
            "smithy.api#documentation": "Required. The list of metadata updates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to update device metadata in batch."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataArgumentsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataArguments"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerListDevicesResponse": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceList",
          "traits": {
            "smithy.api#documentation": "The customer's devices."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token used to access the next page of results. Omitted if no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message of customer's liting devices."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListVendorCustomersResponse": {
      "type": "structure",
      "members": {
        "customers": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CompanyList",
          "traits": {
            "smithy.api#documentation": "List of customers of the vendor."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Omitted if no further results are available."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of items in the list irrespective of pagination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message to list customers of the vendor."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CompanyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Company"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerApplyConfigurationRequest": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
          }
        },
        "device": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceReference",
          "traits": {
            "smithy.api#documentation": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for customer to assign a configuration to device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CustomerListCustomersResponse": {
      "type": "structure",
      "members": {
        "customers": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CompanyList",
          "traits": {
            "smithy.api#documentation": "The customer accounts the calling user is a member of."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token used to access the next page of results. Omitted if no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing my customers."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Dpc": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier."
          }
        },
        "dpcName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateDeviceMetadataRequest": {
      "type": "structure",
      "members": {
        "deviceMetadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata",
          "traits": {
            "smithy.api#documentation": "Required. The metadata to attach to the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to set metadata for a device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateRequest": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. Required. The device identifier to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to get a device's SIM lock status."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token specifying which result page to return."
          }
        },
        "customerId": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of customer IDs to search for."
          }
        },
        "sectionType": {
          "target": "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerRequestSectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The section type of the device's provisioning record."
          }
        },
        "googleWorkspaceCustomerId": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of IDs of Google Workspace accounts to search for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to find devices by customers."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerRequestSectionTypeEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SECTION_TYPE_SIM_LOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_SIM_LOCK"
          }
        },
        "SECTION_TYPE_ZERO_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_ZERO_TOUCH"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.androiddeviceprovisioning_v1#Status",
          "traits": {
            "smithy.api#documentation": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
          }
        },
        "metadata": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.androiddeviceprovisioning_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CreateCustomerRequest": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "com.gcp.androiddeviceprovisioning_v1#Company",
          "traits": {
            "smithy.api#documentation": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message to create a customer."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListCustomersResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of items in the list irrespective of pagination."
          }
        },
        "customers": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CompanyList",
          "traits": {
            "smithy.api#documentation": "List of customers related to this reseller partner."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Omitted if no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message of all customers related to this partner."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GoogleWorkspaceAccount": {
      "type": "structure",
      "members": {
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The customer ID."
          }
        },
        "preProvisioningTokens": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The pre-provisioning tokens previously used to claim devices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Google Workspace customer."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListVendorsResponse": {
      "type": "structure",
      "members": {
        "vendors": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CompanyList",
          "traits": {
            "smithy.api#documentation": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of items in the list irrespective of pagination."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Omitted if no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message to list vendors of the partner."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PerDeviceStatusInBatch": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.androiddeviceprovisioning_v1#PerDeviceStatusInBatchStatusEnum",
          "traits": {
            "smithy.api#documentation": "The result status of the device after processing."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If processing succeeds, the device ID of the device."
          }
        },
        "errorIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If processing fails, the error type."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If processing fails, a developer message explaining what went wrong."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Captures the processing status for each device in the operation."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PerDeviceStatusInBatchStatusEnum": {
      "type": "enum",
      "members": {
        "SINGLE_DEVICE_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_UNSPECIFIED"
          }
        },
        "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR"
          }
        },
        "SINGLE_DEVICE_STATUS_OTHER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_OTHER_ERROR"
          }
        },
        "SINGLE_DEVICE_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_SUCCESS"
          }
        },
        "SINGLE_DEVICE_STATUS_PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_PERMISSION_DENIED"
          }
        },
        "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER"
          }
        },
        "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE"
          }
        },
        "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"
          }
        },
        "SINGLE_DEVICE_STATUS_INVALID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_INVALID_TOKEN"
          }
        },
        "SINGLE_DEVICE_STATUS_REVOKED_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_REVOKED_TOKEN"
          }
        },
        "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.androiddeviceprovisioning_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Metadata entries recorded as key-value pairs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ClaimPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ClaimDeviceResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:claim"
        },
        "smithy.api#documentation": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetSimLockStatePartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetSimLockStatePartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#GetSimLockStatePartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#GetDeviceSimLockStateResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:getSimLockState"
        },
        "smithy.api#documentation": "Gets a device's SIM lock state."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UnclaimDeviceRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#UnclaimPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:unclaim"
        },
        "smithy.api#documentation": "Unclaims a device from a customer and removes it from zero-touch enrollment."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataAsyncPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reseller partner ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UpdateDeviceMetadataInBatchRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataAsyncPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#UpdateMetadataAsyncPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:updateMetadataAsync"
        },
        "smithy.api#documentation": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindByIdentifierPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#FindDevicesByDeviceIdentifierRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindByIdentifierPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#FindByIdentifierPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#FindDevicesByDeviceIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:findByIdentifier"
        },
        "smithy.api#documentation": "Finds devices by hardware identifiers, such as IMEI."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimAsyncPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#ClaimDevicesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ClaimAsyncPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ClaimAsyncPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:claimAsync"
        },
        "smithy.api#documentation": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindByOwnerPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#FindByOwnerPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#FindByOwnerPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#FindDevicesByOwnerResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:findByOwner"
        },
        "smithy.api#documentation": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#GetPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Device"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a device."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#MetadataPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "metadataOwnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The owner of the newly set metadata. Set this to the partner ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the device.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UpdateDeviceMetadataRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#MetadataPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#MetadataPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#DeviceMetadata"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata"
        },
        "smithy.api#documentation": "Updates reseller metadata associated with the device. Android devices only."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimAsyncPartnersDevicesRequest": {
      "type": "structure",
      "members": {
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The reseller partner ID.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#UnclaimDevicesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#UnclaimAsyncPartnersDevices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#UnclaimAsyncPartnersDevicesRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/partners/{+partnerId}/devices:unclaimAsync"
        },
        "smithy.api#documentation": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendorsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results returned by the server.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendors": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendorsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListVendorsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/vendors"
        },
        "smithy.api#documentation": "Lists the vendors of the partner.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendorsCustomersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results returned by the server.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to be returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendorsCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListPartnersVendorsCustomersRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListVendorCustomersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/customers"
        },
        "smithy.api#documentation": "Lists the customers of the vendor.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersCustomersRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "partnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the reseller partner.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results returned by the server.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListPartnersCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListPartnersCustomersRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListCustomersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/partners/{+partnerId}/customers"
        },
        "smithy.api#documentation": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CreatePartnersCustomersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#CreateCustomerRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CreatePartnersCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#CreatePartnersCustomersRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Company"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/customers"
        },
        "smithy.api#documentation": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#GetOperationsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListCustomersRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListCustomersRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#CustomerListCustomersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/customers"
        },
        "smithy.api#documentation": "Lists the user's customer accounts.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CreateCustomersConfigurationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#Configuration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#CreateCustomersConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#CreateCustomersConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Configuration"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/configurations"
        },
        "smithy.api#documentation": "Creates a new configuration. Once created, a customer can apply the configuration to devices."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeleteCustomersConfigurationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#DeleteCustomersConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#DeleteCustomersConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#BadRequest"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListCustomersConfigurationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#ListCustomersConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#ListCustomersConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#CustomerListConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/configurations"
        },
        "smithy.api#documentation": "Lists a customer's configurations."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetCustomersConfigurationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#GetCustomersConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#GetCustomersConfigurationsRequest"
      },
      "output": {
        "target": "com.gcp.androiddeviceprovisioning_v1#Configuration"
      },
      "errors": [
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#NotFound"
        },
        {
          "target": "com.gcp.androiddeviceprovisioning_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the details of a configuration."
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PatchCustomersConfigurationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.androiddeviceprovisioning_v1#Configuration",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.androiddeviceprovisioning_v1#PatchCustomersConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.androiddeviceprovisioning_v1#PatchCustomersConfigurationsRequest"
      },
      "output": {
[...]
