{
  "smithy": "2.0",
  "metadata": {
    "service": "apigeeregistry",
    "version": "v1",
    "title": "Apigee Registry API",
    "baseUrl": "https://apigeeregistry.googleapis.com/"
  },
  "shapes": {
    "com.gcp.apigeeregistry_v1#ListApiSpecRevisionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "apiSpecs": {
          "target": "com.gcp.apigeeregistry_v1#ApiSpecList",
          "traits": {
            "smithy.api#documentation": "The revisions of the spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApiSpecRevisionsResponse."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#ApiSpec"
      }
    },
    "com.gcp.apigeeregistry_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.apigeeregistry_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.apigeeregistry_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apigeeregistry_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#DocumentMap"
      }
    },
    "com.gcp.apigeeregistry_v1#Build": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Path of the open source repository: github.com/apigee/registry."
          }
        },
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Commit ID of the latest commit in the build."
          }
        },
        "commitTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Commit time of the latest commit in the build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build information of the Instance if it's in `ACTIVE` state."
      }
    },
    "com.gcp.apigeeregistry_v1#ListApiSpecsResponse": {
      "type": "structure",
      "members": {
        "apiSpecs": {
          "target": "com.gcp.apigeeregistry_v1#ApiSpecList",
          "traits": {
            "smithy.api#documentation": "The specs from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApiSpecs."
      }
    },
    "com.gcp.apigeeregistry_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.apigeeregistry_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.apigeeregistry_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.apigeeregistry_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#Location"
      }
    },
    "com.gcp.apigeeregistry_v1#ListArtifactsResponse": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.gcp.apigeeregistry_v1#ArtifactList",
          "traits": {
            "smithy.api#documentation": "The artifacts from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListArtifacts."
      }
    },
    "com.gcp.apigeeregistry_v1#ArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#Artifact"
      }
    },
    "com.gcp.apigeeregistry_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.apigeeregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.apigeeregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.apigeeregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.apigeeregistry_v1#ListApiVersionsResponse": {
      "type": "structure",
      "members": {
        "apiVersions": {
          "target": "com.gcp.apigeeregistry_v1#ApiVersionList",
          "traits": {
            "smithy.api#documentation": "The versions from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApiVersions."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#ApiVersion"
      }
    },
    "com.gcp.apigeeregistry_v1#ApiDeployment": {
      "type": "structure",
      "members": {
        "endpointUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where the deployment is serving. Changes to this value will update the revision."
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision creation timestamp; when the represented revision was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-meaningful name."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the deployment. A new revision is committed whenever the deployment contents are changed. The format is an 8-character hexadecimal string."
          }
        },
        "apiSpecRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name (including revision ID) of the spec of the API being served by the deployment. Changes to this value will update the revision. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec@revision}`"
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels attach identifying metadata to resources. Identifying metadata can be used to filter list operations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one resource (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with `apigeeregistry.googleapis.com/` and cannot be changed."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description."
          }
        },
        "intendedAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text briefly identifying the intended audience of the API. Changes to this value will not affect the revision."
          }
        },
        "annotations": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations attach non-identifying metadata to resources. Annotation keys and values are less restricted than those of labels, but should be generally used for small values of broad interest. Larger, topic- specific metadata should be stored in Artifacts."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp; when the deployment resource was created."
          }
        },
        "externalChannelUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address of the external channel of the API (e.g., the Developer Portal). Changes to this value will not affect the revision."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "accessGuidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text briefly describing how to access the endpoint. Changes to this value will not affect the revision."
          }
        },
        "revisionUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp: when the represented revision was last modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a service running at particular address that provides a particular version of an API. ApiDeployments have revisions which correspond to different configurations of a single deployment in time. Revision identifiers should be updated whenever the served API spec or endpoint address changes."
      }
    },
    "com.gcp.apigeeregistry_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apigeeregistry_v1#Config": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The GCP location where the Instance resides."
          }
        },
        "cmekKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Customer Managed Encryption Key (CMEK) used for data encryption. The CMEK name should follow the format of `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`, where the `location` must match InstanceConfig.location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available configurations to provision an Instance."
      }
    },
    "com.gcp.apigeeregistry_v1#RollbackApiSpecRequest": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision ID to roll back to. It must be a revision of the same spec. Example: `c7cfa2a8`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RollbackApiSpec."
      }
    },
    "com.gcp.apigeeregistry_v1#TagApiDeploymentRevisionRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The tag to apply. The tag should be at most 40 characters, and match `a-z{3,39}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for TagApiDeploymentRevision."
      }
    },
    "com.gcp.apigeeregistry_v1#ListApiDeploymentRevisionsResponse": {
      "type": "structure",
      "members": {
        "apiDeployments": {
          "target": "com.gcp.apigeeregistry_v1#ApiDeploymentList",
          "traits": {
            "smithy.api#documentation": "The revisions of the deployment."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApiDeploymentRevisionsResponse."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiDeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#ApiDeployment"
      }
    },
    "com.gcp.apigeeregistry_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.apigeeregistry_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.apigeeregistry_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#Operation"
      }
    },
    "com.gcp.apigeeregistry_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation."
          }
        },
        "cancellationRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiSpec": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description."
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels attach identifying metadata to resources. Identifying metadata can be used to filter list operations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one resource (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with `apigeeregistry.googleapis.com/` and cannot be changed."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A SHA-256 hash of the spec's contents. If the spec is gzipped, this is the hash of the uncompressed spec."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The revision ID of the spec. A new revision is committed whenever the spec contents are changed. The format is an 8-character hexadecimal string."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A style (format) descriptor for this spec that is specified as a [Media Type](https://en.wikipedia.org/wiki/Media_type). Possible values include `application/vnd.apigee.proto`, `application/vnd.apigee.openapi`, and `application/vnd.apigee.graphql`, with possible suffixes representing compression types. These hypothetical names are defined in the vendor tree defined in RFC6838 (https://tools.ietf.org/html/rfc6838) and are not final. Content types can specify compression. Currently only GZip compression is supported (indicated with \"+gzip\")."
          }
        },
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision creation timestamp; when the represented revision was created."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the spec file in bytes. If the spec is gzipped, this is the size of the uncompressed spec."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "revisionUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp: when the represented revision was last modified."
          }
        },
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The contents of the spec. Provided by API callers when specs are created or updated. To access the contents of a spec, use GetApiSpecContents."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp; when the spec resource was created."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A possibly-hierarchical name used to refer to the spec from other specs."
          }
        },
        "sourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original source URI of the spec (if one exists). This is an external location that can be used for reference purposes but which may not be authoritative since this external resource may change after the spec is retrieved."
          }
        },
        "annotations": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations attach non-identifying metadata to resources. Annotation keys and values are less restricted than those of labels, but should be generally used for small values of broad interest. Larger, topic- specific metadata should be stored in Artifacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a version of an API in a structured way. ApiSpecs provide formal descriptions that consumers can use to use a version. ApiSpec resources are intended to be fully-resolved descriptions of an ApiVersion. When specs consist of multiple files, these should be bundled together (e.g., in a zip archive) and stored as a unit. Multiple specs can exist to provide representations in different API description formats. Synchronization of these representations would be provided by tooling and background services."
      }
    },
    "com.gcp.apigeeregistry_v1#ListApisResponse": {
      "type": "structure",
      "members": {
        "apis": {
          "target": "com.gcp.apigeeregistry_v1#ApiList",
          "traits": {
            "smithy.api#documentation": "The APIs from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApis."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#Api"
      }
    },
    "com.gcp.apigeeregistry_v1#Location": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.apigeeregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.apigeeregistry_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.apigeeregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.apigeeregistry_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apigeeregistry_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.apigeeregistry_v1#Api": {
      "type": "structure",
      "members": {
        "recommendedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended version of the API. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description."
          }
        },
        "availability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-definable description of the availability of this service. Format: free-form, but we expect single words that describe availability, e.g., \"NONE\", \"TESTING\", \"PREVIEW\", \"GENERAL\", \"DEPRECATED\", \"SHUTDOWN\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "recommendedDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended deployment of the API. Format: `projects/{project}/locations/{location}/apis/{api}/deployments/{deployment}`"
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels attach identifying metadata to resources. Identifying metadata can be used to filter list operations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. No more than 64 user labels can be associated with one resource (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with `apigeeregistry.googleapis.com/` and cannot be changed."
          }
        },
        "annotations": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations attach non-identifying metadata to resources. Annotation keys and values are less restricted than those of labels, but should be generally used for small values of broad interest. Larger, topic- specific metadata should be stored in Artifacts."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-meaningful name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A top-level description of an API. Produced by producers and are commitments to provide services."
      }
    },
    "com.gcp.apigeeregistry_v1#ApiVersion": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A detailed description."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-definable description of the lifecycle phase of this API version. Format: free-form, but we expect single words that describe API maturity, e.g., \"CONCEPT\", \"DESIGN\", \"DEVELOPMENT\", \"STAGING\", \"PRODUCTION\", \"DEPRECATED\", \"RETIRED\"."
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels attach identifying metadata to resources. Identifying metadata can be used to filter list operations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one resource (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with `apigeeregistry.googleapis.com/` and cannot be changed."
          }
        },
        "annotations": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations attach non-identifying metadata to resources. Annotation keys and values are less restricted than those of labels, but should be generally used for small values of broad interest. Larger, topic- specific metadata should be stored in Artifacts."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-meaningful name."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "primarySpec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary spec for this version. Format: projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a particular version of an API. ApiVersions are what consumers actually use."
      }
    },
    "com.gcp.apigeeregistry_v1#TagApiSpecRevisionRequest": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The tag to apply. The tag should be at most 40 characters, and match `a-z{3,39}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for TagApiSpecRevision."
      }
    },
    "com.gcp.apigeeregistry_v1#RollbackApiDeploymentRequest": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The revision ID to roll back to. It must be a revision of the same deployment. Example: `c7cfa2a8`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RollbackApiDeployment."
      }
    },
    "com.gcp.apigeeregistry_v1#ListApiDeploymentsResponse": {
      "type": "structure",
      "members": {
        "apiDeployments": {
          "target": "com.gcp.apigeeregistry_v1#ApiDeploymentList",
          "traits": {
            "smithy.api#documentation": "The deployments from the specified publisher."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListApiDeployments."
      }
    },
    "com.gcp.apigeeregistry_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
          }
        },
        "condition": {
          "target": "com.gcp.apigeeregistry_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.apigeeregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.apigeeregistry_v1#Expr": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.apigeeregistry_v1#Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.apigeeregistry_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.apigeeregistry_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigeeregistry_v1#Binding"
      }
    },
    "com.gcp.apigeeregistry_v1#HttpBody": {
      "type": "structure",
      "members": {
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request/response body as raw binary."
          }
        },
        "extensions": {
          "target": "com.gcp.apigeeregistry_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Application specific response metadata. Must be set in the first response for streaming APIs."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP Content-Type header value specifying the content type of the body."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      }
    },
    "com.gcp.apigeeregistry_v1#Instance": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "state": {
          "target": "com.gcp.apigeeregistry_v1#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the Instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Format: `projects/*/locations/*/instance`. Currently only `locations/global` is supported."
          }
        },
        "config": {
          "target": "com.gcp.apigeeregistry_v1#Config",
          "traits": {
            "smithy.api#documentation": "Required. Config of the Instance."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Extra information of Instance.State if the state is `FAILED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "build": {
          "target": "com.gcp.apigeeregistry_v1#Build",
          "traits": {
            "smithy.api#documentation": "Output only. Build info of the Instance if it's in `ACTIVE` state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Instance represents the instance resources of the Registry. Currently, only one instance is allowed for each project."
      }
    },
    "com.gcp.apigeeregistry_v1#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#Artifact": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations attach non-identifying metadata to resources. Annotation keys and values are less restricted than those of labels, but should be generally used for small values of broad interest. Larger, topic- specific metadata should be stored in Artifacts."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The size of the artifact in bytes. If the artifact is gzipped, this is the size of the uncompressed artifact."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A content type specifier for the artifact. Content type specifiers are Media Types (https://en.wikipedia.org/wiki/Media_type) with a possible \"schema\" parameter that specifies a schema for the stored information. Content types can specify compression. Currently only GZip compression is supported (indicated with \"+gzip\")."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A SHA-256 hash of the artifact's contents. If the artifact is gzipped, this is the hash of the uncompressed artifact."
          }
        },
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The contents of the artifact. Provided by API callers when artifacts are created or replaced. To access the contents of an artifact, use GetArtifactContents."
          }
        },
        "labels": {
          "target": "com.gcp.apigeeregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels attach identifying metadata to resources. Identifying metadata can be used to filter list operations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one resource (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"registry.googleapis.com/\" and cannot be changed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifacts of resources. Artifacts are unique (single-value) per resource and are used to store metadata that is too large or numerous to be stored directly on the resource. Since artifacts are stored separately from parent resources, they should generally be used for metadata that is needed infrequently, i.e., not for display in primary views of the resource but perhaps displayed or downloaded upon request. The `ListArtifacts` method allows artifacts to be quickly enumerated and checked for presence without downloading their (potentially-large) contents."
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.apigeeregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.apigeeregistry_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsDocumentsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsDocuments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsDocumentsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsDocumentsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.apigeeregistry_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsDocuments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsDocumentsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsDocumentsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsDocuments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsDocumentsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListArtifacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListArtifacts` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields except contents.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of artifacts to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#ListProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#ListArtifactsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/artifacts"
        },
        "smithy.api#documentation": "Returns matching artifacts.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the artifact to retrieve. Format: `{parent}/artifacts/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Artifact"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns a specified artifact."
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.apigeeregistry_v1#GetContentsProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the artifact whose contents should be retrieved. Format: `{parent}/artifacts/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetContentsProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetContentsProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#HttpBody"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}:getContents"
        },
        "smithy.api#documentation": "Returns the contents of a specified artifact. If artifacts are stored with GZip compression, the default behavior is to return the artifact uncompressed (the mime_type response field indicates the exact format returned)."
      }
    },
    "com.gcp.apigeeregistry_v1#CreateProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the artifact, which will become the final component of the artifact's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
            "smithy.api#httpQuery": "artifactId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#Artifact",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#CreateProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#CreateProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Artifact"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/artifacts"
        },
        "smithy.api#documentation": "Creates a specified artifact."
      }
    },
    "com.gcp.apigeeregistry_v1#ReplaceArtifactProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#Artifact",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#ReplaceArtifactProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#ReplaceArtifactProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Artifact"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Used to replace a specified artifact."
      }
    },
    "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the artifact to delete. Format: `{parent}/artifacts/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Removes a specified artifact."
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsArtifactsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsArtifactsRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.apigeeregistry_v1#PatchProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of fields to be updated. If omitted, all fields are updated that are set in the request message (fields set to default values are ignored). If an asterisk \"*\" is specified, all fields are updated, including fields that are unspecified/default in the request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "allowMissing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, and the API is not found, a new API will be created. In this situation, `update_mask` is ignored.",
            "smithy.api#httpQuery": "allowMissing"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#Api",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#PatchProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#PatchProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Api"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Used to modify a specified API."
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of APIs to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListApis` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApis` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of APIs. Format: `projects/*/locations/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#ListProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#ListApisResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/apis"
        },
        "smithy.api#documentation": "Returns matching APIs.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the API to retrieve. Format: `projects/*/locations/*/apis/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Api"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns a specified API."
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.apigeeregistry_v1#CreateProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of APIs. Format: `projects/*/locations/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "apiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the API, which will become the final component of the API's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
            "smithy.api#httpQuery": "apiId"
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#Api",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#CreateProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#CreateProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Api"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/apis"
        },
        "smithy.api#documentation": "Creates a specified API."
      }
    },
    "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the API to delete. Format: `projects/*/locations/*/apis/*`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, any child resources will also be deleted. (Otherwise, the request will only work if there are no child resources.)",
            "smithy.api#httpQuery": "force"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#DeleteProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Removes a specified API and all of the resources that it owns."
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apigeeregistry_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#SetIamPolicyProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#BadRequest"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsApisRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsApis": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apigeeregistry_v1#GetIamPolicyProjectsLocationsApisRequest"
      },
      "output": {
        "target": "com.gcp.apigeeregistry_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.apigeeregistry_v1#NotFound"
        },
        {
          "target": "com.gcp.apigeeregistry_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.apigeeregistry_v1#ListProjectsLocationsApisVersionsRequest": {
      "type": "structure",
      "members": {
        "filter": {
[...]
