{
  "smithy": "2.0",
  "metadata": {
    "service": "apigee",
    "version": "v1",
    "title": "Apigee API",
    "baseUrl": "https://apigee.googleapis.com/"
  },
  "shapes": {
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "type": "structure",
      "members": {
        "environmentGroups": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupList",
          "traits": {
            "smithy.api#documentation": "EnvironmentGroups in the specified organization."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListEnvironmentGroups."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroup"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ProfileConfigMTLS": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Checks to see if you have configured mTLS for the target server."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment."
          }
        },
        "type": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource for which we are computing security assessment."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "API_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_PROXY"
          }
        },
        "API_HUB_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_HUB_DEPLOYMENT"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1NatAddress": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1NatAddressStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the nat address."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource ID of the NAT address."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The static IPV4 address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1NatAddressStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReport": {
      "type": "structure",
      "members": {
        "routingChanges": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingChangeList",
          "traits": {
            "smithy.api#documentation": "All routing changes that may result from a deployment request."
          }
        },
        "routingConflicts": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingConflictList",
          "traits": {
            "smithy.api#documentation": "All base path conflicts detected for a deployment request."
          }
        },
        "validationErrors": {
          "target": "com.gcp.apigee_v1#GoogleRpcPreconditionFailure",
          "traits": {
            "smithy.api#documentation": "Validation errors that would cause the deployment change request to be rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingConflictList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListSpacesResponse": {
      "type": "structure",
      "members": {
        "spaces": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SpaceList",
          "traits": {
            "smithy.api#documentation": "List of Apigee organization spaces."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a ListSpaces request containing the list of organization spaces and a page token for the next page."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SpaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Space"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1GrpcOperationConfig": {
      "type": "structure",
      "members": {
        "apiSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the API proxy with which the gRPC operation and quota are associated."
          }
        },
        "methods": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of unqualified gRPC method names for the proxy to which quota will be applied. If this field is empty, the Quota will apply to all operations on the gRPC service defined on the proxy. Example: Given a proxy that is configured to serve com.petstore.PetService, the methods com.petstore.PetService.ListPets and com.petstore.PetService.GetPet would be specified here as simply [\"ListPets\", \"GetPet\"]."
          }
        },
        "quota": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Quota",
          "traits": {
            "smithy.api#documentation": "Quota parameters to be enforced for the methods and API source combination. If none are specified, quota enforcement will not be done."
          }
        },
        "attributes": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList",
          "traits": {
            "smithy.api#documentation": "Custom attributes associated with the operation."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. gRPC Service name associated to be associated with the API proxy, on which quota rules can be applied upon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binds the resources in a proxy or remote service with the gRPC operation and its associated quota enforcement."
      }
    },
    "com.gcp.apigee_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Attribute"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "type": "structure",
      "members": {
        "developer": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperList",
          "traits": {
            "smithy.api#documentation": "List of developers."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Developer"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileEnvironment": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the environment."
          }
        },
        "attachTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which environment was attached to the security profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment information of attached environments. Scoring an environment is enabled only if it is attached to a security profile."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1UpdateError": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource."
          }
        },
        "code": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1UpdateErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Status code."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on why a resource update failed in the runtime."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1UpdateErrorCodeEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "INVALID_ARGUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ARGUMENT"
          }
        },
        "DEADLINE_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEADLINE_EXCEEDED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALREADY_EXISTS"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "UNAUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHENTICATED"
          }
        },
        "RESOURCE_EXHAUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_EXHAUSTED"
          }
        },
        "FAILED_PRECONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_PRECONDITION"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "OUT_OF_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_RANGE"
          }
        },
        "UNIMPLEMENTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNIMPLEMENTED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "DATA_LOSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_LOSS"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AccessSet": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1EnableSecurityActionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message to enable a disabled SecurityAction."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm": {
      "type": "structure",
      "members": {
        "ipHeaderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the header to extract the client ip from."
          }
        },
        "ipHeaderIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the ip in the header. (By default, value is 0 if missing)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolves the client ip based on a custom header."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ProfileConfigThreat": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "By default, following policies will be included: - XMLThreatProtection - JSONThreatProtection"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1KeyAliasReference": {
      "type": "structure",
      "members": {
        "aliasId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias ID. Must exist in the keystore referred to by the reference."
          }
        },
        "reference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1Attributes": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList",
          "traits": {
            "smithy.api#documentation": "List of attributes."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ReferenceConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AsyncQuery": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the query."
          }
        },
        "resultRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResultRows is available only after the query is completed."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp for the query."
          }
        },
        "queryParams": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1QueryMetadata",
          "traits": {
            "smithy.api#documentation": "Contains information like metrics, dimenstions etc of the AsyncQuery."
          }
        },
        "envgroupHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname is available only when query is executed at host level."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error is set when query fails."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\"."
          }
        },
        "executionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExecutionTime is available only after the query is completed."
          }
        },
        "reportDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asynchronous Report ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asynchronous Query Name."
          }
        },
        "resultFileSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResultFileSize is available only after the query is completed."
          }
        },
        "result": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AsyncQueryResult",
          "traits": {
            "smithy.api#documentation": "Result is available only after the query is completed."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AdjustAppGroupBalanceRequest": {
      "type": "structure",
      "members": {
        "adjustment": {
          "target": "com.gcp.apigee_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Required. * A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged AppGroup i.e. the balance of the AppGroup will decrease. * A negative value of `adjustment` is not supported. Use credit balance API instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for AdjustAppGroupBalance."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AppGroupMonetizationConfig": {
      "type": "structure",
      "members": {
        "billingType": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AppGroupMonetizationConfigBillingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Billing type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Monetization configuration for the AppGroup."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AppGroupMonetizationConfigBillingTypeEnum": {
      "type": "enum",
      "members": {
        "BILLING_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_TYPE_UNSPECIFIED"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPAID"
          }
        },
        "POSTPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTPAID"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment."
          }
        },
        "apiHubGatewayType": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubGatewayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. "
          }
        },
        "resourceRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision id for the resource. In case of Apigee, this is proxy revision id."
          }
        },
        "type": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of this resource."
          }
        },
        "apiHubDeploymentDetails": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Additional details for the API Hub deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource for which we are computing security assessment."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubGatewayTypeEnum": {
      "type": "enum",
      "members": {
        "API_HUB_GATEWAY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_HUB_GATEWAY_TYPE_UNSPECIFIED"
          }
        },
        "APIGEE_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_X"
          }
        },
        "APIGEE_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_HYBRID"
          }
        },
        "APIGEE_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_EDGE"
          }
        },
        "APIGEE_OPDK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_OPDK"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "API_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_PROXY"
          }
        },
        "API_HUB_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_HUB_DEPLOYMENT"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityReportQuery": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax"
          }
        },
        "dimensions": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions"
          }
        },
        "timeRange": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
          }
        },
        "envgroupHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostSecurityReport where analytics data will be grouped by organization and hostname."
          }
        },
        "metrics": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityReportQueryMetricList",
          "traits": {
            "smithy.api#documentation": "A list of Metrics."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Security Report display name which users can specify."
          }
        },
        "csvDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
          }
        },
        "reportDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report Definition ID."
          }
        },
        "groupByTimeUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of rows that can be returned in the result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Body structure when user makes a request to create a security report."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityReportQueryMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityReportQueryMetric"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AppGroupSubscription": {
      "type": "structure",
      "members": {
        "apiproduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the API product for which the appgroup is purchasing a subscription."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription ends in milliseconds since epoch."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription starts in milliseconds since epoch."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription was created in milliseconds since epoch."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the API product subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppGroup Subscription details."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ResourceConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource as a URI."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray": {
      "type": "structure",
      "members": {
        "gatewayTypes": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArrayGatewayTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The array of API Hub Gateway Types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for the array of API Hub Gateway Types."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArrayGatewayTypesItemEnum": {
      "type": "enum",
      "members": {
        "API_HUB_GATEWAY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_HUB_GATEWAY_TYPE_UNSPECIFIED"
          }
        },
        "APIGEE_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_X"
          }
        },
        "APIGEE_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_HYBRID"
          }
        },
        "APIGEE_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_EDGE"
          }
        },
        "APIGEE_OPDK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_OPDK"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArrayGatewayTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArrayGatewayTypesItemEnum"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1MonetizationConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that specifies whether the Monetization add-on is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Monetization add-on."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1IntegrationConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that specifies whether the Integration add-on is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the Integration add-on."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiSecurityConfig": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the API Security add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that specifies whether the API security add-on is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations of the API Security add-on."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for ActivateNatAddressRequest. Activate the nat address request."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AddonsConfig": {
      "type": "structure",
      "members": {
        "apiSecurityConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiSecurityConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the API Security add-on."
          }
        },
        "monetizationConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1MonetizationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the Monetization add-on."
          }
        },
        "connectorsPlatformConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the Connectors Platform add-on."
          }
        },
        "analyticsConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AnalyticsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the Analytics add-on. Only used in organizations.environments.addonsConfig."
          }
        },
        "integrationConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1IntegrationConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the Integration add-on."
          }
        },
        "advancedApiOpsConfig": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AdvancedApiOpsConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for the Advanced API Ops add-on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Add-on configurations for the Apigee organization."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricAggregation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metric"
          }
        },
        "order": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricAggregationOrderEnum",
          "traits": {
            "smithy.api#documentation": "Ordering for this aggregation in the result. For time series this is ignored since the ordering of points depends only on the timestamp, not the values."
          }
        },
        "aggregation": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricAggregationAggregationEnum",
          "traits": {
            "smithy.api#documentation": "Aggregation function associated with the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The optionally aggregated metric to query with its ordering."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricAggregationOrderEnum": {
      "type": "enum",
      "members": {
        "ORDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORDER_UNSPECIFIED"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricAggregationAggregationEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_FUNCTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_FUNCTION_UNSPECIFIED"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVG"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "COUNT_DISTINCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT_DISTINCT"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1GrpcOperationGroup": {
      "type": "structure",
      "members": {
        "operationConfigs": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1GrpcOperationConfigList",
          "traits": {
            "smithy.api#documentation": "Required. List of operation configurations for either Apigee API proxies that are associated with this API product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of gRPC operation configuration details associated with Apigee API proxies."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1GrpcOperationConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1GrpcOperationConfig"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1UpdateSecurityIncidentRequest": {
      "type": "structure",
      "members": {
        "securityIncident": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityIncident",
          "traits": {
            "smithy.api#documentation": "Required. The security incident to update. Must contain all existing populated fields of the current incident."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The list of fields to update. Allowed fields are: LINT.IfChange(allowed_update_fields_comment) - observability LINT.ThenChange()"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for UpdateSecurityIncident."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the environment group attachment."
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the attached environment."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the environment group attachment was created as milliseconds since epoch."
          }
        },
        "environmentGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the environment group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiDebugSession": {
      "type": "structure",
      "members": {
        "apiProxyRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The revision ID of the deployed API proxy."
          }
        },
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment ID of the deployed API proxy."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first transaction creation timestamp in millisecond, recorded by UAP."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The debug session ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session carries the debug session id and its creation time."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "type": "structure",
      "members": {
        "sessions": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SessionList",
          "traits": {
            "smithy.api#documentation": "Session info that includes debug session ID and the first transaction creation timestamp."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SessionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Session"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1App": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the credential."
          }
        },
        "appGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the AppGroup"
          }
        },
        "callbackUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps."
          }
        },
        "scopes": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app."
          }
        },
        "credentials": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1CredentialList",
          "traits": {
            "smithy.api#documentation": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products."
          }
        },
        "developerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the developer."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last modified time as milliseconds since epoch."
          }
        },
        "attributes": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList",
          "traits": {
            "smithy.api#documentation": "List of attributes."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unix time when the app was created."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the app."
          }
        },
        "apiProducts": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiProductRefList",
          "traits": {
            "smithy.api#documentation": "List of API products associated with the app."
          }
        },
        "developerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the developer."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the company that owns the app."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the app."
          }
        },
        "keyExpiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1CredentialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Credential"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiProductRefList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiProductRef"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadata": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadataOperationTypeEnum"
        },
        "targetResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource for which the operation is operating on."
          }
        },
        "state": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadataStateEnum"
        },
        "warnings": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Warnings encountered while executing the operation."
          }
        },
        "progress": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadataProgress",
          "traits": {
            "smithy.api#documentation": "Progress of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing an Operation."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "INSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSERT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1OperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DebugMask": {
      "type": "structure",
      "members": {
        "namespaces": {
          "target": "com.gcp.apigee_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of namespaces to URIs."
          }
        },
        "responseXPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of XPaths that specify the XML elements to be filtered from XML response message payloads."
          }
        },
        "requestXPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of XPaths that specify the XML elements to be filtered from XML request message payloads."
          }
        },
        "faultJSONPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows."
          }
        },
        "variables": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of variables that should be masked from the debug output."
          }
        },
        "requestJSONPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the debug mask."
          }
        },
        "faultXPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows."
          }
        },
        "responseJSONPaths": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads."
          }
        }
      }
    },
    "com.gcp.apigee_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListAppsResponse": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AppList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of Apps."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1App"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1KeystoreConfig": {
      "type": "structure",
      "members": {
        "aliases": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfigList",
          "traits": {
            "smithy.api#documentation": "Aliases in the keystore."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfig"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1TlsInfoCommonName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TLS Common Name string of the certificate."
          }
        },
        "wildcardMatch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the cert should be matched against as a wildcard cert."
          }
        }
      }
    },
    "com.gcp.apigee_v1#EdgeConfigstoreBundleBadBundle": {
      "type": "structure",
      "members": {
        "violations": {
          "target": "com.gcp.apigee_v1#EdgeConfigstoreBundleBadBundleViolationList",
          "traits": {
            "smithy.api#documentation": "Describes all precondition violations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes why a bundle is invalid. Intended for use in error details."
      }
    },
    "com.gcp.apigee_v1#EdgeConfigstoreBundleBadBundleViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#EdgeConfigstoreBundleBadBundleViolation"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiDocDocumentationResponse": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique error code for the request, if any."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the operation."
          }
        },
        "data": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiDocDocumentation",
          "traits": {
            "smithy.api#documentation": "Output only. The documentation resource."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the operation."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The catalog item documentation wrapped with response status, error_code, etc."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "developerSubscriptions": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperSubscriptionList",
          "traits": {
            "smithy.api#documentation": "List of all subscriptions."
          }
        },
        "nextStartKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListDeveloperSubscriptions."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperSubscription"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1Score": {
      "type": "structure",
      "members": {
        "component": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ScoreComponent",
          "traits": {
            "smithy.api#documentation": "Component containing score, recommendations and actions."
          }
        },
        "subcomponents": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ScoreComponentList",
          "traits": {
            "smithy.api#documentation": "List of all the drilldown score components."
          }
        },
        "timeRange": {
          "target": "com.gcp.apigee_v1#GoogleTypeInterval",
          "traits": {
            "smithy.api#documentation": "Start and end time for the score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Security Score."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ScoreComponentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1ScoreComponent"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the alias file. For example, a Google Cloud Storage URI."
          }
        },
        "type": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfigTypeEnum"
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AliasRevisionConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ALIAS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS_TYPE_UNSPECIFIED"
          }
        },
        "CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT"
          }
        },
        "KEY_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_CERT"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AsyncApiDocumentation": {
      "type": "structure",
      "members": {
        "spec": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DocumentationFile",
          "traits": {
            "smithy.api#documentation": "Required. The documentation file contents for the AsyncAPI Specification. JSON and YAML file formats are supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AsyncAPI Specification documentation for a catalog item."
      }
    },
    "com.gcp.apigee_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.apigee_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.apigee_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apigee_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#DocumentMap"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1CertInfo": {
      "type": "structure",
      "members": {
        "validFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 `notBefore` validity period in milliseconds since epoch."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public key component of the X.509 subject public key info."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "X.509 version."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 subject."
          }
        },
        "basicConstraints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 basic constraints extension."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 serial number."
          }
        },
        "sigAlgName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 signatureAlgorithm."
          }
        },
        "expiryDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 `notAfter` validity period in milliseconds since epoch."
          }
        },
        "subjectAlternativeNames": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "X.509 subject alternative names (SANs) extension."
          }
        },
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "X.509 issuer."
          }
        },
        "isValid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "X.509 certificate as defined in RFC 5280."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1Developer": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of apps associated with the developer."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the developer was last modified in milliseconds since epoch."
          }
        },
        "appFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Developer app family."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Apigee organization in which the developer resides."
          }
        },
        "accessType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access type."
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. First name of the developer."
          }
        },
        "developerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time."
          }
        },
        "attributes": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time at which the developer was created in milliseconds since epoch."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only."
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. User name of the developer. Not used by Apigee hybrid."
          }
        },
        "companies": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of companies associated with the developer."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Last name of the developer."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the developer. Valid values are `active` and `inactive`."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "securityMonitoringConditions": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityMonitoringConditionList",
          "traits": {
            "smithy.api#documentation": "List of security monitoring conditions in the organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListSecurityMonitoringConditions."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityMonitoringConditionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityMonitoringCondition"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollector": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the data collector was created in milliseconds since the epoch."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the data collector. Must begin with `dc_`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the data collector."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch."
          }
        },
        "type": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollectorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of data this data collector will collect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data collector configuration."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollectorTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATETIME"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist."
          }
        },
        "dataCollectors": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollectorList",
          "traits": {
            "smithy.api#documentation": "Data collectors in the specified organization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListDataCollectors."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DataCollector"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1RateRange": {
      "type": "structure",
      "members": {
        "fee": {
          "target": "com.gcp.apigee_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Fee to charge when total number of API calls falls within this range."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Starting value of the range. Set to 0 or `null` for the initial range of values."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ending value of the range. Set to 0 or `null` for the last range of values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API call volume range and the fees charged when the total number of API calls is within the range."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperAppList",
          "traits": {
            "smithy.api#documentation": "List of developer apps and their credentials."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperAppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperApp"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that the API Security Runtime configuration was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`"
          }
        },
        "location": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the API Security Runtime configuration. The ID will only change if the environment is deleted and recreated."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig]."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1TestDatastoreResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. It could be `completed` or `failed`"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Error message of test connection failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for TestDatastore"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluation": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the canary evaluation."
          }
        },
        "treatment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The newer version that is serving requests."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. End time for the evaluation's analysis."
          }
        },
        "control": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The stable version that is serving requests."
          }
        },
        "state": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the canary evaluation."
          }
        },
        "verdict": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluationVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Start time for the canary evaluation's analysis."
          }
        },
        "metricLabels": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "traits": {
            "smithy.api#documentation": "Required. Labels used to filter the metrics used for a canary evaluation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the canary evalution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1CanaryEvaluationVerdictEnum": {
      "type": "enum",
      "members": {
        "VERDICT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERDICT_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASS"
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the recommendation."
          }
        },
        "link": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink",
          "traits": {
            "smithy.api#documentation": "The link for the recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The format of the assessment recommendation."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1AsyncQueryResult": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query result will be unaccessable after this time."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1StatsEnvironmentStats": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricList",
          "traits": {
            "smithy.api#documentation": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values."
          }
        },
        "dimensions": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DimensionMetricList",
          "traits": {
            "smithy.api#documentation": "List of metrics grouped under dimensions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1Metric"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DimensionMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1DimensionMetric"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DisableSecurityActionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message to disable an enabled SecurityAction."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ApiCategory": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the category."
          }
        },
        "siteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the portal."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the category (a UUID)."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the category was last modified in milliseconds since epoch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`ApiCategory` represents an API category. [Catalog items](/apigee/docs/reference/apis/apigee/rest/v1/organizations.sites.apidocs) can be tagged with API categories; users viewing the API catalog in the portal will have the option to browse the catalog by category."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperSubscription": {
      "type": "structure",
      "members": {
        "apiproduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the API product for which the developer is purchasing a subscription."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the API product subscription."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the API product subscription starts in milliseconds since epoch."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the API product subscription was created in milliseconds since epoch."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the API product subscription ends in milliseconds since epoch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structure of a DeveloperSubscription."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1ConfigVersion": {
      "type": "structure",
      "members": {
        "majorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Major version of the API proxy configuration schema."
          }
        },
        "minorVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minor version of the API proxy configuration schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version of the API proxy configuration schema. Currently, only 4.0 is supported."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1DeveloperAppKey": {
      "type": "structure",
      "members": {
        "consumerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret key."
          }
        },
        "expiresAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the developer app expires in milliseconds since epoch."
          }
        },
        "consumerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumer key."
          }
        },
        "expiresInSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set."
          }
        },
        "scopes": {
          "target": "com.gcp.apigee_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app."
          }
        },
        "apiProducts": {
          "target": "com.gcp.apigee_v1#DocumentList",
          "traits": {
            "smithy.api#documentation": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created."
          }
        },
        "issuedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the developer app was created in milliseconds since epoch."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the credential. Valid values include `approved` or `revoked`."
          }
        },
        "attributes": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1AttributeList",
          "traits": {
            "smithy.api#documentation": "List of attributes associated with the credential."
          }
        }
      }
    },
    "com.gcp.apigee_v1#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1IngressConfig": {
      "type": "structure",
      "members": {
        "revisionCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the IngressConfig revision was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
          }
        },
        "revisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed."
          }
        },
        "environmentGroups": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupConfigList",
          "traits": {
            "smithy.api#documentation": "List of environment groups in the organization."
          }
        }
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1EnvironmentGroupConfig"
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlan": {
      "type": "structure",
      "members": {
        "consumptionPricingRates": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RateRangeList",
          "traits": {
            "smithy.api#documentation": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `BANDED` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 2 }, { \"start\": 101, \"end\": 200, \"fee\": 1.50 }, { \"start\": 201, \"end\": 0, \"fee\": 1 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 50 calls cost 50 x $2 = $100 * 150 calls cost 100 x $2 + 50 x $1.5 = $275 * 250 calls cost 100 x $2 + 100 x $1.5 + 50 x $1 = $400 * 500 calls cost 100 x $2 + 100 x $1.5 + 300 x $1 = $650"
          }
        },
        "fixedRecurringFee": {
          "target": "com.gcp.apigee_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire."
          }
        },
        "billingPeriod": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlanBillingPeriodEnum",
          "traits": {
            "smithy.api#documentation": "Frequency at which the customer will be billed."
          }
        },
        "paymentFundingModel": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlanPaymentFundingModelEnum",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the rate plan."
          }
        },
        "consumptionPricingType": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlanConsumptionPricingTypeEnum",
          "traits": {
            "smithy.api#documentation": "Pricing model used for consumption-based charges."
          }
        },
        "revenueShareType": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlanRevenueShareTypeEnum",
          "traits": {
            "smithy.api#documentation": "Method used to calculate the revenue that is shared with developers."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the rate plan was last modified in milliseconds since epoch."
          }
        },
        "fixedFeeFrequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Frequency at which the fixed fee is charged."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard."
          }
        },
        "state": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RatePlanStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the rate plan (draft or published)."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that the rate plan was created in milliseconds since epoch."
          }
        },
        "apiproduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the API product that the rate plan is associated with."
          }
        },
        "revenueShareRates": {
          "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RevenueShareRangeList",
          "traits": {
            "smithy.api#documentation": "Details of the revenue sharing model."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the rate plan."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the rate plan."
          }
        },
        "setupFee": {
          "target": "com.gcp.apigee_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Initial, one-time fee paid when purchasing the API product."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the rate plan becomes active in milliseconds since epoch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rate plan details."
      }
    },
    "com.gcp.apigee_v1#GoogleCloudApigeeV1RateRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apigee_v1#GoogleCloudApigeeV1RateRange"
      }
    },
[...]
