{
  "smithy": "2.0",
  "metadata": {
    "service": "apihub",
    "version": "v1",
    "title": "API hub API",
    "baseUrl": "https://apihub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.apihub_v1#GoogleCloudApihubV1SearchResourcesRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous SearchResources call. Specify this parameter to retrieve the next page of transactions. When paginating, you must specify the `page_token` parameter and all the other parameters except page_size should be specified with the same value which was used in the previous call. If the other fields are set with a different value than the previous call then `INVALID_ARGUMENT` error is returned."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The free text search query. This query can contain keywords which could be related to any detail of the API-Hub resources such display names, descriptions, attributes etc."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return. The service may return fewer than this value. If unspecified at most 10 search results will be returned. If value is negative then `INVALID_ARGUMENT` error is returned. The maximum value is 25; values above 25 will be coerced to 25. While paginating, you can specify a new page size parameter for each page of search results to be listed."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An expression that filters the list of search results. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be `=`. Filters are not case sensitive. The following field names are eligible for filtering: * `resource_type` - The type of resource in the search results. Must be one of the following: `Api`, `ApiOperation`, `Deployment`, `Definition`, `Spec` or `Version`. This field can only be specified once in the filter. Here are is an example: * `resource_type = Api` - The resource_type is _Api_."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SearchResources method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1QueryParam": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1QueryParamDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Data type of path param"
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of occurrences of this query parameter across transactions."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of query param"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP query parameter occurrences."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1QueryParamDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplate": {
      "type": "structure",
      "members": {
        "supportedAuthTypes": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplateSupportedAuthTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of authentication types supported by the plugin."
          }
        },
        "serviceAccount": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1GoogleServiceAccountConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The service account of the plugin hosting service. This service account should be granted the required permissions on the Auth Config parameters provided while creating the plugin instances corresponding to this plugin. For example, if the plugin instance auth config requires a secret manager secret, the service account should be granted the secretmanager.versions.access permission on the corresponding secret, if the plugin instance auth config contains a service account, the service account should be granted the iam.serviceAccounts.getAccessToken permission on the corresponding service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthConfigTemplate represents the authentication template for a plugin."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplateSupportedAuthTypesItemEnum": {
      "type": "enum",
      "members": {
        "AUTH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_TYPE_UNSPECIFIED"
          }
        },
        "NO_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AUTH"
          }
        },
        "GOOGLE_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SERVICE_ACCOUNT"
          }
        },
        "USER_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PASSWORD"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY"
          }
        },
        "OAUTH2_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2_CLIENT_CREDENTIALS"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplateSupportedAuthTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplateSupportedAuthTypesItemEnum"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1LastExecution": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Error message describing the failure, if any, during the last execution."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last execution start time of the plugin instance."
          }
        },
        "result": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1LastExecutionResultEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The result of the last execution of the plugin instance."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last execution end time of the plugin instance."
          }
        },
        "resultMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The result metadata of the last execution of the plugin instance. This will be a string representation of a JSON object and will be available on successful execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of the last execution of the plugin instance."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1LastExecutionResultEnum": {
      "type": "enum",
      "members": {
        "RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListApiOperationsResponse": {
      "type": "structure",
      "members": {
        "apiOperations": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiOperationList",
          "traits": {
            "smithy.api#documentation": "The operations corresponding to an API version."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListApiOperations method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiOperation"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1SpecDetails": {
      "type": "structure",
      "members": {
        "openApiSpecDetails": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1OpenApiSpecDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Additional details apart from `OperationDetails` parsed from an OpenAPI spec. The OperationDetails parsed from the spec can be obtained by using ListAPIOperations method."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SpecDetails contains the details parsed from supported spec types."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginInstanceAction": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. This should map to one of the action id specified in actions_config in the plugin."
          }
        },
        "hubInstanceAction": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "Optional. The execution information for the plugin instance action done corresponding to an API hub instance."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account used to publish data. Note, the service account will only be accepted for non-Google Cloud plugins like OPDK."
          }
        },
        "scheduleTimeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time zone for the schedule cron expression. If not provided, UTC will be used."
          }
        },
        "resourceConfig": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ResourceConfig",
          "traits": {
            "smithy.api#documentation": "Output only. The configuration of resources created for a given plugin instance action. Note these will be returned only in case of non-Google Cloud plugins like OPDK."
          }
        },
        "state": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginInstanceActionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the plugin action in the plugin instance."
          }
        },
        "scheduleCronExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The schedule for this plugin instance action. This can only be set if the plugin supports API_HUB_SCHEDULE_TRIGGER mode for this action."
          }
        },
        "curationConfig": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1CurationConfig",
          "traits": {
            "smithy.api#documentation": "Optional. This configuration should be provided if the plugin action is publishing data to API hub curate layer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PluginInstanceAction represents an action which can be executed in the plugin instance."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginInstanceActionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudCommonOperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "cancelRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Plugin": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp indicating when the plugin was last updated."
          }
        },
        "documentation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Documentation",
          "traits": {
            "smithy.api#documentation": "Optional. The documentation of the plugin, that explains how to set up and use the plugin."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the plugin. Format: `projects/{project}/locations/{location}/plugins/{plugin}`"
          }
        },
        "hostingService": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1HostingService",
          "traits": {
            "smithy.api#documentation": "Optional. This field is optional. It is used to notify the plugin hosting service for any lifecycle changes of the plugin instance and trigger execution of plugin instance actions in case of API hub managed actions. This field should be provided if the plugin instance lifecycle of the developed plugin needs to be managed from API hub. Also, in this case the plugin hosting service interface needs to be implemented. This field should not be provided if the plugin wants to manage plugin instance lifecycle events outside of hub interface and use plugin framework for only registering of plugin and plugin instances to capture the source of data into hub. Note, in this case the plugin hosting service interface is not required to be implemented. Also, the plugin instance lifecycle actions will be disabled from API hub's UI."
          }
        },
        "pluginCategory": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginPluginCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The category of the plugin, identifying its primary category or purpose. This field is required for all plugins."
          }
        },
        "state": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the state of the plugin. Note this field will not be set for plugins developed via plugin framework as the state will be managed at plugin instance level."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the plugin. Max length is 50 characters (Unicode code points)."
          }
        },
        "ownershipType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginOwnershipTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the plugin, indicating whether it is 'SYSTEM_OWNED' or 'USER_OWNED'."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp indicating when the plugin was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The plugin description. Max length is 2000 characters (Unicode code points)."
          }
        },
        "actionsConfig": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginActionConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration of actions supported by the plugin. **REQUIRED**: This field must be provided when creating or updating a Plugin. The server will reject requests if this field is missing."
          }
        },
        "gatewayType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginGatewayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the gateway."
          }
        },
        "configTemplate": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigTemplate",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration template for the plugin."
          }
        },
        "type": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-plugin-type` attribute. The number of allowed values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute. Note this field is not required for plugins developed via plugin framework."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A plugin resource in the API Hub."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginPluginCategoryEnum": {
      "type": "enum",
      "members": {
        "PLUGIN_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGIN_CATEGORY_UNSPECIFIED"
          }
        },
        "API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_GATEWAY"
          }
        },
        "API_PRODUCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_PRODUCER"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginOwnershipTypeEnum": {
      "type": "enum",
      "members": {
        "OWNERSHIP_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNERSHIP_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_OWNED"
          }
        },
        "USER_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_OWNED"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginActionConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginActionConfig"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginGatewayTypeEnum": {
      "type": "enum",
      "members": {
        "GATEWAY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATEWAY_TYPE_UNSPECIFIED"
          }
        },
        "APIGEE_X_AND_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_X_AND_HYBRID"
          }
        },
        "APIGEE_EDGE_PUBLIC_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_EDGE_PUBLIC_CLOUD"
          }
        },
        "APIGEE_EDGE_PRIVATE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIGEE_EDGE_PRIVATE_CLOUD"
          }
        },
        "CLOUD_API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_API_GATEWAY"
          }
        },
        "CLOUD_ENDPOINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ENDPOINTS"
          }
        },
        "API_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_DISCOVERY"
          }
        },
        "OTHERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHERS"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApigeeEdgeConfig": {
      "type": "structure",
      "members": {
        "environmentFilter": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1EnvironmentFilter",
          "traits": {
            "smithy.api#documentation": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Apigee Edge gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiHubInstance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`."
          }
        },
        "state": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiHubInstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the ApiHub instance."
          }
        },
        "stateMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Extra information about ApiHub instance state. Currently the message would be populated when state is `FAILED`."
          }
        },
        "labels": {
          "target": "com.gcp.apihub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Instance labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation timestamp."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the ApiHub instance."
          }
        },
        "config": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Config",
          "traits": {
            "smithy.api#documentation": "Required. Config of the ApiHub instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ApiHubInstance represents the instance resources of the API Hub. Currently, only one ApiHub instance is allowed for each project."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiHubInstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.apihub_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigTemplate": {
      "type": "structure",
      "members": {
        "authConfigTemplate": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AuthConfigTemplate",
          "traits": {
            "smithy.api#documentation": "Optional. The authentication template for the plugin."
          }
        },
        "additionalConfigTemplate": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplateList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of additional configuration variables for the plugin's configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigTemplate represents the configuration template for a plugin."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplate"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginInstanceActionSource": {
      "type": "structure",
      "members": {
        "pluginInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the source plugin instance. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the plugin instance action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PluginInstanceActionSource represents the plugin instance action source."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "versions": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1VersionList",
          "traits": {
            "smithy.api#documentation": "The versions corresponding to an API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListVersions method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1VersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Version"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListExternalApisResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "externalApis": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ExternalApiList",
          "traits": {
            "smithy.api#documentation": "The External API resources present in the API hub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListExternalApis method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ExternalApiList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ExternalApi"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AddonConfig": {
      "type": "structure",
      "members": {
        "gatewayPluginAddonConfig": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1GatewayPluginAddonConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for gateway plugin addons."
          }
        },
        "allDataAddonConfig": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AllDataAddonConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for addons which act on all data in the API hub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the addon."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1LintSpecRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The LintSpec method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DisablePluginInstanceActionRequest": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The action id to disable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The DisablePluginInstanceAction method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1StringAttributeValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The attribute values in case attribute data type is string or JSON."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The attribute values of data type string or JSON."
      }
    },
    "com.gcp.apihub_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListDiscoveredApiObservationsResponse": {
      "type": "structure",
      "members": {
        "discoveredApiObservations": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiObservationList",
          "traits": {
            "smithy.api#documentation": "The DiscoveredApiObservation from the specified project and location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing DiscoveredApiObservations"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiObservationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiObservation"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse": {
      "type": "structure",
      "members": {
        "runtimeProjectAttachment": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1RuntimeProjectAttachment",
          "traits": {
            "smithy.api#documentation": "Runtime project attachment for a project if exists, empty otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListRuntimeProjectAttachments method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Point": {
      "type": "structure",
      "members": {
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Line number (zero-indexed)."
          }
        },
        "character": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Character position within the line (zero-indexed)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Point within the file (line and character)."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1MatchResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the matched API Operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MatchResult represents the result of matching a discovered API operation with a catalog API operation."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListPluginsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "plugins": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginList",
          "traits": {
            "smithy.api#documentation": "The plugins from the specified parent resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListPlugins method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1PluginList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Plugin"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AllDataAddonConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. If true, the addon is enabled for all data in the API hub."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for addons which act on all data in the API hub. This is used to specify if the addon is enabled for all data in the API hub."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1EnumAttributeValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AllowedValueList",
          "traits": {
            "smithy.api#documentation": "Required. The attribute values in case attribute data type is enum."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The attribute values of data type enum."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AllowedValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AllowedValue"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListApisResponse": {
      "type": "structure",
      "members": {
        "apis": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiList",
          "traits": {
            "smithy.api#documentation": "The API resources present in the API hub."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListApis method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Api"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1LookupApiHubInstanceResponse": {
      "type": "structure",
      "members": {
        "apiHubInstance": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiHubInstance",
          "traits": {
            "smithy.api#documentation": "API Hub instance for a project if it exists, empty otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The LookupApiHubInstance method's response.`"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiData": {
      "type": "structure",
      "members": {
        "apiMetadataList": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiMetadataList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of API metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API data to be collected."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DisablePluginRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The DisablePlugin method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1MultiStringValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value of data type multi string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config variable value of data type multi string."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ManageAddonConfigRequest": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AddonConfig",
          "traits": {
            "smithy.api#documentation": "Required. The config of the addon to be managed. This config will replace the config present in the addon. The type of the config should match the config type already present in the addon."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ManageAddonConfig method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiKeyConfig": {
      "type": "structure",
      "members": {
        "httpElementLocation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiKeyConfigHttpElementLocationEnum",
          "traits": {
            "smithy.api#documentation": "Required. The location of the API key. The default value is QUERY."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name."
          }
        },
        "apiKey": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Secret",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}`. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for authentication with API key."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiKeyConfigHttpElementLocationEnum": {
      "type": "enum",
      "members": {
        "HTTP_ELEMENT_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_ELEMENT_LOCATION_UNSPECIFIED"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH"
          }
        },
        "BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BODY"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOKIE"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Owner": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the owner."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The email of the owner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Owner details."
      }
    },
    "com.gcp.apihub_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Secret": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret provides a reference to entries in Secret Manager."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyErrorDetail": {
      "type": "structure",
      "members": {
        "errorTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Timestamp at which the error was found."
          }
        },
        "error": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyErrorDetailErrorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Error in the dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details describing error condition of a dependency."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyErrorDetailErrorEnum": {
      "type": "enum",
      "members": {
        "ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_UNSPECIFIED"
          }
        },
        "SUPPLIER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLIER_NOT_FOUND"
          }
        },
        "SUPPLIER_RECREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUPPLIER_RECREATED"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ExecutePluginInstanceActionRequest": {
      "type": "structure",
      "members": {
        "actionExecutionDetail": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ActionExecutionDetail",
          "traits": {
            "smithy.api#documentation": "Required. The execution details for the action to execute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ExecutePluginInstanceAction method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Header": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header name."
          }
        },
        "dataType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1HeaderDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of header"
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of occurrences of this Header across transactions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP header occurrences."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1HeaderDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListDependenciesResponse": {
      "type": "structure",
      "members": {
        "dependencies": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyList",
          "traits": {
            "smithy.api#documentation": "The dependency resources present in the API hub."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListDependencies method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Dependency"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1HttpRequest": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1HeaderMap",
          "traits": {
            "smithy.api#documentation": "Optional. Unordered map from header name to header metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP requests."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1HeaderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Header"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.apihub_v1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1MultiIntValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.apihub_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value of data type multi int."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The config variable value of data type multi int."
      }
    },
    "com.gcp.apihub_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1CurationConfig": {
      "type": "structure",
      "members": {
        "curationType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1CurationConfigCurationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The curation type for this plugin instance."
          }
        },
        "customCuration": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1CustomCuration",
          "traits": {
            "smithy.api#documentation": "Optional. Custom curation information for this plugin instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The curation information for this plugin instance."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1CurationConfigCurationTypeEnum": {
      "type": "enum",
      "members": {
        "CURATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT_CURATION_FOR_API_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_CURATION_FOR_API_METADATA"
          }
        },
        "CUSTOM_CURATION_FOR_API_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_CURATION_FOR_API_METADATA"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1EnablePluginInstanceActionRequest": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The action id to enable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The EnablePluginInstanceAction method's request."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListDeploymentsResponse": {
      "type": "structure",
      "members": {
        "deployments": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DeploymentList",
          "traits": {
            "smithy.api#documentation": "The deployment resources present in the API hub."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListDeployments method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Deployment"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the config variable. Must be unique within the configuration."
          }
        },
        "valueType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplateValueTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the parameter: string, int, bool etc."
          }
        },
        "validationRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Regular expression in RE2 syntax used for validating the `value` of a `ConfigVariable`."
          }
        },
        "enumOptions": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOptionList",
          "traits": {
            "smithy.api#documentation": "Optional. Enum options. To be populated if `ValueType` is `ENUM`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag represents that this `ConfigVariable` must be provided for a PluginInstance."
          }
        },
        "multiSelectOptions": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOptionList",
          "traits": {
            "smithy.api#documentation": "Optional. Multi select options. To be populated if `ValueType` is `MULTI_SELECT`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigVariableTemplate represents a configuration variable template present in a Plugin Config."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariableTemplateValueTypeEnum": {
      "type": "enum",
      "members": {
        "VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET"
          }
        },
        "ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENUM"
          }
        },
        "MULTI_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_SELECT"
          }
        },
        "MULTI_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_STRING"
          }
        },
        "MULTI_INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_INT"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOption"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Version": {
      "type": "structure",
      "members": {
        "compliance": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The compliance associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-compliance` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "specs": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The specs associated with this version. Note that an API version can be associated with multiple specs. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`"
          }
        },
        "lifecycle": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The lifecycle of the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-lifecycle` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "definitions": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The definitions contained in the API version. These definitions will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/definitions/{definition}`"
          }
        },
        "sourceMetadata": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources and metadata from the sources of the version."
          }
        },
        "selectedDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The selected deployment for a Version resource. This can be used when special handling is needed on client side for a particular deployment linked to the version. Format is `projects/{project}/locations/{location}/deployments/{deployment}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the version."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the version."
          }
        },
        "apiOperations": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The operations contained in the API version. These operations will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the version. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`"
          }
        },
        "attributes": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValuesMap",
          "traits": {
            "smithy.api#documentation": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
          }
        },
        "deployments": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The deployments linked to this API version. Note: A particular API version could be deployed to multiple deployments (for dev deployment, UAT deployment, etc) Format is `projects/{project}/locations/{location}/deployments/{deployment}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the version was last updated."
          }
        },
        "accreditation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The accreditations associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-accreditation` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "documentation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Documentation",
          "traits": {
            "smithy.api#documentation": "Optional. The documentation of the version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a version of the API resource in API hub. This is also referred to as the API version."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadata"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValuesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DependencyEntityReference": {
      "type": "structure",
      "members": {
        "externalApiResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of an external API in the API Hub. Format: `projects/{project}/locations/{location}/externalApis/{external_api}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the entity."
          }
        },
        "operationResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of an operation in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an entity participating in a dependency."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1HttpOperation": {
      "type": "structure",
      "members": {
        "method": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1HttpOperationMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Operation method Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided."
          }
        },
        "path": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Path",
          "traits": {
            "smithy.api#documentation": "Optional. The path details for the Operation. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HTTP Operation."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1HttpOperationMethodEnum": {
      "type": "enum",
      "members": {
        "METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1SpecContents": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The contents of the spec."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The mime type of the content for example application/json, application/yaml, application/wsdl etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec contents."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigVariable": {
      "type": "structure",
      "members": {
        "multiStringValues": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1MultiStringValues",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type multi string."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type boolean."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type integer."
          }
        },
        "enumValue": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOption",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type enum."
          }
        },
        "secretValue": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Secret",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type secret."
          }
        },
        "multiIntValues": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1MultiIntValues",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type multi integer."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type string."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Key will be the id to uniquely identify the config variable."
          }
        },
        "multiSelectValues": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1MultiSelectValues",
          "traits": {
            "smithy.api#documentation": "Optional. The config variable value in case of config variable of type multi select."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigVariable represents a additional configuration variable present in a PluginInstance Config or AuthConfig, based on a ConfigVariableTemplate."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Api": {
      "type": "structure",
      "members": {
        "selectedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The selected version for an API resource. This can be used when special handling is needed on client side for particular version of the API. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`"
          }
        },
        "targetUser": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The target users for the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-target-user` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "businessUnit": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The business unit owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-business-unit` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "sourceMetadata": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources and metadata from the sources of the API resource."
          }
        },
        "maturityLevel": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The maturity level of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-maturity-level` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "apiFunctionalRequirements": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The api functional requirements associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-functional-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory."
          }
        },
        "team": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The team owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-team` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the API resource."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the API resource was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the API resource."
          }
        },
        "apiRequirements": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The api requirement doc associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Fingerprint of the API resource. This must be unique for each API resource. It can neither be unset nor be updated to an existing fingerprint of another API resource."
          }
        },
        "owner": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Owner",
          "traits": {
            "smithy.api#documentation": "Optional. Owner details for the API resource."
          }
        },
        "apiStyle": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The style of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-style` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the API resource in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}`"
          }
        },
        "versions": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of versions present in an API resource. Note: An API resource can be associated with more than 1 version. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`"
          }
        },
        "attributes": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValuesMap",
          "traits": {
            "smithy.api#documentation": "Optional. The list of user defined attributes associated with the API resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
          }
        },
        "apiTechnicalRequirements": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The api technical requirements associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-technical-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the API resource was last updated."
          }
        },
        "documentation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Documentation",
          "traits": {
            "smithy.api#documentation": "Optional. The documentation for the API resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An API resource in the API Hub."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadata": {
      "type": "structure",
      "members": {
        "originalResourceCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the resource was created at the source."
          }
        },
        "originalResourceUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the resource was last updated at the source."
          }
        },
        "pluginInstanceActionSource": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1PluginInstanceActionSource",
          "traits": {
            "smithy.api#documentation": "Output only. The source of the resource is a plugin instance action."
          }
        },
        "originalResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique identifier of the resource at the source."
          }
        },
        "sourceType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SourceMetadata represents the metadata for a resource at the source."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataSourceTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLUGIN"
          }
        }
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListAddonsResponse": {
      "type": "structure",
      "members": {
        "addons": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AddonList",
          "traits": {
            "smithy.api#documentation": "The list of addons."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ListAddons method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1AddonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Addon"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1RetrieveApiViewsResponse": {
      "type": "structure",
      "members": {
        "apiViews": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiViewList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of API views."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The RetrieveApiViews method's response."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApiViewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1ApiView"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ListDiscoveredApiOperationsResponse": {
      "type": "structure",
      "members": {
        "discoveredApiOperations": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiOperationList",
          "traits": {
            "smithy.api#documentation": "The DiscoveredApiOperations from the specified project, location and DiscoveredApiObservation."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing DiscoveredApiOperations"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apihub_v1#GoogleCloudApihubV1DiscoveredApiOperation"
      }
    },
    "com.gcp.apihub_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.apihub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.apihub_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.apihub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.apihub_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ConfigValueOption": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Id of the option."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the option."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the option."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConfigValueOption represents an option for a config variable of type enum or multi select."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1ApigeeOPDKConfig": {
      "type": "structure",
      "members": {
        "environmentFilter": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1EnvironmentFilter",
          "traits": {
            "smithy.api#documentation": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Apigee OPDK gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1OperationSchema": {
      "type": "structure",
      "members": {
        "jsonSchema": {
          "target": "com.gcp.apihub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The JSON schema. Only valid JSON is accepted but semantic validation of schema is not supported right now."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operation schema needed for an operation."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1Deployment": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource URI identifies the deployment within its gateway. For Apigee gateways, its recommended to use the format: organizations/{org}/environments/{env}/apis/{api}. For ex: if a proxy with name `orders` is deployed in `staging` environment of `cymbal` organization, the resource URI would be: `organizations/cymbal/environments/staging/apis/orders`."
          }
        },
        "environment": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The environment mapping to this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-environment` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "endpoints": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The endpoints at which this deployment resource is listening for API requests. This could be a list of complete URIs, hostnames or an IP addresses."
          }
        },
        "sourceProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The project to which the deployment belongs. For Google Cloud gateways, this will refer to the project identifier. For others like Edge/OPDK, this will refer to the org identifier."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the deployment was last updated."
          }
        },
        "documentation": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Documentation",
          "traits": {
            "smithy.api#documentation": "Optional. The documentation of the deployment."
          }
        },
        "managementUrl": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The uri where users can navigate to for the management of the deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-management-url` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URL."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
          }
        },
        "slo": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The SLO for this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-slo` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "attributes": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValuesMap",
          "traits": {
            "smithy.api#documentation": "Optional. The list of user defined attributes associated with the deployment resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
          }
        },
        "sourceMetadata": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1SourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources and metadata from the sources of the deployment."
          }
        },
        "deploymentType": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Required. The type of deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-deployment-type` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
          }
        },
        "apiVersions": {
          "target": "com.gcp.apihub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The API versions linked to this deployment. Note: A particular deployment could be linked to multiple different API versions (of same or different APIs)."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the deployment."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the deployment was created."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the deployment."
          }
        },
        "sourceEnvironment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The environment at source for the deployment. For example: prod, dev, staging, etc."
          }
        },
        "sourceUri": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1AttributeValues",
          "traits": {
            "smithy.api#documentation": "Optional. The uri where additional source specific information for this deployment can be found. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-source-uri` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the deployment where APIs are hosted. A deployment could represent an Apigee proxy, API gateway, other Google Cloud services or non-Google Cloud services as well. A deployment entity is a root level entity in the API hub and exists independent of any API."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1OpenApiSpecDetails": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1OpenApiSpecDetailsFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format of the spec."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version in the spec. This maps to `info.version` in OpenAPI spec."
          }
        },
        "owner": {
          "target": "com.gcp.apihub_v1#GoogleCloudApihubV1Owner",
          "traits": {
            "smithy.api#documentation": "Output only. Owner details for the spec. This maps to `info.contact` in OpenAPI spec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OpenApiSpecDetails contains the details parsed from an OpenAPI spec in addition to the fields mentioned in SpecDetails."
      }
    },
    "com.gcp.apihub_v1#GoogleCloudApihubV1OpenApiSpecDetailsFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
[...]
