{
  "smithy": "2.0",
  "metadata": {
    "service": "apim",
    "version": "v1alpha",
    "title": "API Management API",
    "baseUrl": "https://apim.googleapis.com/"
  },
  "shapes": {
    "com.gcp.apim_v1alpha#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.apim_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.apim_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apim_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#DocumentMap"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationHttpResponse": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.apim_v1alpha#HttpOperationHeaderMap",
          "traits": {
            "smithy.api#documentation": "Unordered map from header name to header metadata"
          }
        },
        "responseCodes": {
          "target": "com.gcp.apim_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Map of status code to observed count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP responses."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationHeaderMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.apim_v1alpha#HttpOperationHeader"
      }
    },
    "com.gcp.apim_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationHttpRequest": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.apim_v1alpha#HttpOperationHeaderMap",
          "traits": {
            "smithy.api#documentation": "Unordered map from header name to header metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP requests."
      }
    },
    "com.gcp.apim_v1alpha#TagAction": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.apim_v1alpha#TagActionActionEnum",
          "traits": {
            "smithy.api#documentation": "Required. Action to be applied"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Tag to be added or removed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for edit tag action"
      }
    },
    "com.gcp.apim_v1alpha#TagActionActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GclbObservationSourcePscNetworkConfig": {
      "type": "structure",
      "members": {
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`"
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network information for setting up a PSC connection."
      }
    },
    "com.gcp.apim_v1alpha#ListApiObservationTagsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "apiObservationTags": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The tags from the specified project"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing tags"
      }
    },
    "com.gcp.apim_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apim_v1alpha#GclbObservationSource": {
      "type": "structure",
      "members": {
        "pscNetworkConfigs": {
          "target": "com.gcp.apim_v1alpha#GclbObservationSourcePscNetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The GCLB observation source."
      }
    },
    "com.gcp.apim_v1alpha#GclbObservationSourcePscNetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#GclbObservationSourcePscNetworkConfig"
      }
    },
    "com.gcp.apim_v1alpha#ApiOperation": {
      "type": "structure",
      "members": {
        "firstSeenTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First seen time stamp"
          }
        },
        "lastSeenTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last seen time stamp"
          }
        },
        "httpOperation": {
          "target": "com.gcp.apim_v1alpha#HttpOperation",
          "traits": {
            "smithy.api#documentation": "An HTTP Operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of resource"
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of occurrences of this API Operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing ApiOperation object"
      }
    },
    "com.gcp.apim_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperation": {
      "type": "structure",
      "members": {
        "pathParams": {
          "target": "com.gcp.apim_v1alpha#HttpOperationPathParamList",
          "traits": {
            "smithy.api#documentation": "Path params of HttpOperation"
          }
        },
        "queryParams": {
          "target": "com.gcp.apim_v1alpha#HttpOperationQueryParamMap",
          "traits": {
            "smithy.api#documentation": "Query params of HttpOperation"
          }
        },
        "method": {
          "target": "com.gcp.apim_v1alpha#HttpOperationMethodEnum",
          "traits": {
            "smithy.api#documentation": "HTTP Method."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path of the HTTP request."
          }
        },
        "response": {
          "target": "com.gcp.apim_v1alpha#HttpOperationHttpResponse",
          "traits": {
            "smithy.api#documentation": "Response metadata."
          }
        },
        "request": {
          "target": "com.gcp.apim_v1alpha#HttpOperationHttpRequest",
          "traits": {
            "smithy.api#documentation": "Request metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP-based API Operation, sometimes called a \"REST\" Operation."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationPathParamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#HttpOperationPathParam"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationQueryParamMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.apim_v1alpha#HttpOperationQueryParam"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#BatchEditTagsApiObservationsResponse": {
      "type": "structure",
      "members": {
        "apiObservations": {
          "target": "com.gcp.apim_v1alpha#ApiObservationList",
          "traits": {
            "smithy.api#documentation": "ApiObservations that were changed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to edit Tags for ApiObservations"
      }
    },
    "com.gcp.apim_v1alpha#ApiObservationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#ApiObservation"
      }
    },
    "com.gcp.apim_v1alpha#DisableObservationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for disabling an ObservationJob"
      }
    },
    "com.gcp.apim_v1alpha#ListApiOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "apiOperations": {
          "target": "com.gcp.apim_v1alpha#ApiOperationList",
          "traits": {
            "smithy.api#documentation": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing ApiOperations"
      }
    },
    "com.gcp.apim_v1alpha#ApiOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#ApiOperation"
      }
    },
    "com.gcp.apim_v1alpha#Entitlement": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`"
          }
        },
        "apiObservationEntitled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether API Observation is entitled."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of the entitlement update."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of the entitlement creation."
          }
        },
        "billingProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project number of associated billing project that has Apigee and Advanced API Security entitled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entitlement stores data related to API Observation entitlement for a given project"
      }
    },
    "com.gcp.apim_v1alpha#ListObservationJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "observationJobs": {
          "target": "com.gcp.apim_v1alpha#ObservationJobList",
          "traits": {
            "smithy.api#documentation": "The ObservationJob from the specified project and location."
          }
        },
        "unreachable": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing ObservationJobs"
      }
    },
    "com.gcp.apim_v1alpha#ObservationJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#ObservationJob"
      }
    },
    "com.gcp.apim_v1alpha#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.apim_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "labels": {
          "target": "com.gcp.apim_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.apim_v1alpha#ListObservationSourcesResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "observationSources": {
          "target": "com.gcp.apim_v1alpha#ObservationSourceList",
          "traits": {
            "smithy.api#documentation": "The ObservationSource from the specified project and location."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing ObservationSources"
      }
    },
    "com.gcp.apim_v1alpha#ObservationSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#ObservationSource"
      }
    },
    "com.gcp.apim_v1alpha#ApiObservation": {
      "type": "structure",
      "members": {
        "style": {
          "target": "com.gcp.apim_v1alpha#ApiObservationStyleEnum",
          "traits": {
            "smithy.api#documentation": "Style of ApiObservation"
          }
        },
        "apiOperationCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of observed API Operations."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of resource"
          }
        },
        "serverIps": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Create time stamp"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Update time stamp"
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hostname of requests processed for this Observation."
          }
        },
        "lastEventDetectedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last event detected time stamp"
          }
        },
        "sourceLocations": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
          }
        },
        "tags": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "User-defined tags to organize and sort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing ApiObservation object"
      }
    },
    "com.gcp.apim_v1alpha#ApiObservationStyleEnum": {
      "type": "enum",
      "members": {
        "STYLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STYLE_UNSPECIFIED"
          }
        },
        "REST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REST"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC"
          }
        },
        "GRAPHQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAPHQL"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.apim_v1alpha#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.apim_v1alpha#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#Location"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Header name."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of occurrences of this Header across transactions."
          }
        },
        "dataType": {
          "target": "com.gcp.apim_v1alpha#HttpOperationHeaderDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of header"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP header occurrences."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationHeaderDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.apim_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.apim_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.apim_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.apim_v1alpha#ObservationJob": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
          }
        },
        "sources": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. These should be of the same kind of source."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp"
          }
        },
        "state": {
          "target": "com.gcp.apim_v1alpha#ObservationJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The observation job state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing ObservationJob object"
      }
    },
    "com.gcp.apim_v1alpha#ObservationJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#EnableObservationJobRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for enabling an ObservationJob"
      }
    },
    "com.gcp.apim_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.apim_v1alpha#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.apim_v1alpha#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.apim_v1alpha#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#Operation"
      }
    },
    "com.gcp.apim_v1alpha#ObservationSource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. name of resource For MVP, each region can only have 1 source."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp"
          }
        },
        "gclbObservationSource": {
          "target": "com.gcp.apim_v1alpha#GclbObservationSource",
          "traits": {
            "smithy.api#documentation": "The GCLB observation source"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp"
          }
        },
        "state": {
          "target": "com.gcp.apim_v1alpha#ObservationSourceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The observation source state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Observation source configuration types"
      }
    },
    "com.gcp.apim_v1alpha#ObservationSourceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#BatchEditTagsApiObservationsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.apim_v1alpha#EditTagsApiObservationsRequestList",
          "traits": {
            "smithy.api#documentation": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for requesting batch edit tags for ApiObservations"
      }
    },
    "com.gcp.apim_v1alpha#EditTagsApiObservationsRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#EditTagsApiObservationsRequest"
      }
    },
    "com.gcp.apim_v1alpha#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationPathParam": {
      "type": "structure",
      "members": {
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Segment location in the path, 1-indexed"
          }
        },
        "dataType": {
          "target": "com.gcp.apim_v1alpha#HttpOperationPathParamDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of path param"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP Path parameter."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationPathParamDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#EditTagsApiObservationsRequest": {
      "type": "structure",
      "members": {
        "tagActions": {
          "target": "com.gcp.apim_v1alpha#TagActionList",
          "traits": {
            "smithy.api#documentation": "Required. Tag actions to be applied"
          }
        },
        "apiObservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for requesting edit tags for ApiObservation"
      }
    },
    "com.gcp.apim_v1alpha#TagActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apim_v1alpha#TagAction"
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationQueryParam": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of query param"
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of occurrences of this query parameter across transactions."
          }
        },
        "dataType": {
          "target": "com.gcp.apim_v1alpha#HttpOperationQueryParamDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "Data type of path param"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An aggregation of HTTP query parameter occurrences."
      }
    },
    "com.gcp.apim_v1alpha#HttpOperationQueryParamDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "BOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOL"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "UUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UUID"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListApiObservationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "apiObservations": {
          "target": "com.gcp.apim_v1alpha#ApiObservationList",
          "traits": {
            "smithy.api#documentation": "The ApiObservation from the specified project and location and ObservationJobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing ApiObservations"
      }
    },
    "com.gcp.apim_v1alpha#ListApiObservationTagsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.apim_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.apim_v1alpha#ListApiObservationTagsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListApiObservationTagsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListApiObservationTagsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}:listApiObservationTags"
        },
        "smithy.api#documentation": "ListApiObservationTags lists all extant tags on any observation in the given project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#GetEntitlementProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetEntitlementProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetEntitlementProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Entitlement"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "GetEntitlement returns the entitlement for the provided project."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.apim_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Location"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.apim_v1alpha#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.apim_v1alpha#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.apim_v1alpha#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsObservationSourcesRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ObservationSource"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "GetObservationSource retrieves a single ObservationSource by name."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationSourcesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsObservationSourcesRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListObservationSourcesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/observationSources"
        },
        "smithy.api#documentation": "ListObservationSources gets all ObservationSources for a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationSourcesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Value for parent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "observationSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
            "smithy.api#httpQuery": "observationSourceId"
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#ObservationSource",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationSourcesRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/observationSources"
        },
        "smithy.api#documentation": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane."
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationSourcesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationSources": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationSourcesRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled."
      }
    },
    "com.gcp.apim_v1alpha#EnableProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#EnableObservationJobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#EnableProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#EnableProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:enable"
        },
        "smithy.api#documentation": "Enables the given ObservationJob."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListObservationJobsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/observationJobs"
        },
        "smithy.api#documentation": "ListObservationJobs gets all ObservationJobs for a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "observationJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
            "smithy.api#httpQuery": "observationJobId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#ObservationJob",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#CreateProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/observationJobs"
        },
        "smithy.api#documentation": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs."
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#DeleteProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled."
      }
    },
    "com.gcp.apim_v1alpha#DisableProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#DisableObservationJobRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#DisableProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#DisableProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:disable"
        },
        "smithy.api#documentation": "Disables the given ObservationJob."
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ObservationJob"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "GetObservationJob retrieves a single ObservationJob by name."
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ApiObservation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "GetApiObservation retrieves a single ApiObservation by name."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListApiObservationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/apiObservations"
        },
        "smithy.api#documentation": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apim_v1alpha#BatchEditTagsProjectsLocationsObservationJobsApiObservationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apim_v1alpha#BatchEditTagsApiObservationsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#BatchEditTagsProjectsLocationsObservationJobsApiObservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#BatchEditTagsProjectsLocationsObservationJobsApiObservationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#BatchEditTagsApiObservationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.apim_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.apim_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/apiObservations:batchEditTags"
        },
        "smithy.api#documentation": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations."
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservationsApiOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservationsApiOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#GetProjectsLocationsObservationJobsApiObservationsApiOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ApiOperation"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "GetApiOperation retrieves a single ApiOperation by name."
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservationsApiOperationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservationsApiOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apim_v1alpha#ListProjectsLocationsObservationJobsApiObservationsApiOperationsRequest"
      },
      "output": {
        "target": "com.gcp.apim_v1alpha#ListApiOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apim_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.apim_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/apiOperations"
        },
        "smithy.api#documentation": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
