{
  "smithy": "2.0",
  "metadata": {
    "service": "appengine",
    "version": "v1",
    "title": "App Engine Admin API",
    "baseUrl": "https://appengine.googleapis.com/"
  },
  "shapes": {
    "com.gcp.appengine_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
      }
    },
    "com.gcp.appengine_v1#Version": {
      "type": "structure",
      "members": {
        "basicScaling": {
          "target": "com.gcp.appengine_v1#BasicScaling",
          "traits": {
            "smithy.api#documentation": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
          }
        },
        "diskUsageBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
          }
        },
        "entrypoint": {
          "target": "com.gcp.appengine_v1#Entrypoint",
          "traits": {
            "smithy.api#documentation": "The entrypoint for the application."
          }
        },
        "defaultExpiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired runtime. Example: python27."
          }
        },
        "appEngineApis": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows App Engine second generation runtimes to access the legacy bundled services."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the user who created this version.@OutputOnly"
          }
        },
        "manualScaling": {
          "target": "com.gcp.appengine_v1#ManualScaling",
          "traits": {
            "smithy.api#documentation": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\"."
          }
        },
        "flexibleRuntimeSettings": {
          "target": "com.gcp.appengine_v1#FlexibleRuntimeSettings",
          "traits": {
            "smithy.api#documentation": "Settings for App Engine flexible runtimes."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly"
          }
        },
        "apiConfig": {
          "target": "com.gcp.appengine_v1#ApiConfigHandler",
          "traits": {
            "smithy.api#documentation": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set."
          }
        },
        "resources": {
          "target": "com.gcp.appengine_v1#Resources",
          "traits": {
            "smithy.api#documentation": "Machine resources for this version. Only applicable in the App Engine flexible environment."
          }
        },
        "versionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
          }
        },
        "threadsafe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether multiple requests can be dispatched to this version at once."
          }
        },
        "instanceClass": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
          }
        },
        "vm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to deploy this version in a container on a virtual machine."
          }
        },
        "inboundServices": {
          "target": "com.gcp.appengine_v1#VersionInboundServicesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Before an application can receive email or XMPP messages, the application must be configured to enable the service."
          }
        },
        "livenessCheck": {
          "target": "com.gcp.appengine_v1#LivenessCheck",
          "traits": {
            "smithy.api#documentation": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this version was created.@OutputOnly"
          }
        },
        "vpcAccessConnector": {
          "target": "com.gcp.appengine_v1#VpcAccessConnector",
          "traits": {
            "smithy.api#documentation": "Enables VPC connectivity for standard apps."
          }
        },
        "runtimeApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref"
          }
        },
        "handlers": {
          "target": "com.gcp.appengine_v1#UrlMapList",
          "traits": {
            "smithy.api#documentation": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
          }
        },
        "generatedCustomerMetadata": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest"
          }
        },
        "network": {
          "target": "com.gcp.appengine_v1#Network",
          "traits": {
            "smithy.api#documentation": "Extra network settings. Only applicable in the App Engine flexible environment."
          }
        },
        "servingStatus": {
          "target": "com.gcp.appengine_v1#VersionServingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING."
          }
        },
        "endpointsApiService": {
          "target": "com.gcp.appengine_v1#EndpointsApiService",
          "traits": {
            "smithy.api#documentation": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
          }
        },
        "betaSettings": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Metadata settings that are supplied to this version to enable beta runtime features."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag."
          }
        },
        "envVariables": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
          }
        },
        "automaticScaling": {
          "target": "com.gcp.appengine_v1#AutomaticScaling",
          "traits": {
            "smithy.api#documentation": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic."
          }
        },
        "libraries": {
          "target": "com.gcp.appengine_v1#LibraryList",
          "traits": {
            "smithy.api#documentation": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set."
          }
        },
        "buildEnvVariables": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
          }
        },
        "errorHandlers": {
          "target": "com.gcp.appengine_v1#ErrorHandlerList",
          "traits": {
            "smithy.api#documentation": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
          }
        },
        "deployment": {
          "target": "com.gcp.appengine_v1#Deployment",
          "traits": {
            "smithy.api#documentation": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
          }
        },
        "readinessCheck": {
          "target": "com.gcp.appengine_v1#ReadinessCheck",
          "traits": {
            "smithy.api#documentation": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation."
          }
        },
        "healthCheck": {
          "target": "com.gcp.appengine_v1#HealthCheck",
          "traits": {
            "smithy.api#documentation": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
          }
        },
        "nobuildFilesRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
          }
        },
        "env": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App Engine execution environment for this version.Defaults to standard."
          }
        },
        "zones": {
          "target": "com.gcp.appengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
          }
        },
        "runtimeChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
          }
        },
        "runtimeMainExecutablePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path or name of the app's main executable."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Version resource is a specific set of source code and configuration files that are deployed into a service."
      }
    },
    "com.gcp.appengine_v1#VersionInboundServicesItemEnum": {
      "type": "enum",
      "members": {
        "INBOUND_SERVICE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_UNSPECIFIED"
          }
        },
        "INBOUND_SERVICE_MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_MAIL"
          }
        },
        "INBOUND_SERVICE_MAIL_BOUNCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_MAIL_BOUNCE"
          }
        },
        "INBOUND_SERVICE_XMPP_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_ERROR"
          }
        },
        "INBOUND_SERVICE_XMPP_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_MESSAGE"
          }
        },
        "INBOUND_SERVICE_XMPP_SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_SUBSCRIBE"
          }
        },
        "INBOUND_SERVICE_XMPP_PRESENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_XMPP_PRESENCE"
          }
        },
        "INBOUND_SERVICE_CHANNEL_PRESENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_CHANNEL_PRESENCE"
          }
        },
        "INBOUND_SERVICE_WARMUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND_SERVICE_WARMUP"
          }
        }
      }
    },
    "com.gcp.appengine_v1#VersionInboundServicesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#VersionInboundServicesItemEnum"
      }
    },
    "com.gcp.appengine_v1#UrlMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#UrlMap"
      }
    },
    "com.gcp.appengine_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.appengine_v1#VersionServingStatusEnum": {
      "type": "enum",
      "members": {
        "SERVING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_STATUS_UNSPECIFIED"
          }
        },
        "SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.appengine_v1#LibraryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#Library"
      }
    },
    "com.gcp.appengine_v1#ErrorHandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#ErrorHandler"
      }
    },
    "com.gcp.appengine_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.appengine_v1#UrlMap": {
      "type": "structure",
      "members": {
        "script": {
          "target": "com.gcp.appengine_v1#ScriptHandler",
          "traits": {
            "smithy.api#documentation": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
          }
        },
        "login": {
          "target": "com.gcp.appengine_v1#UrlMapLoginEnum",
          "traits": {
            "smithy.api#documentation": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment."
          }
        },
        "redirectHttpResponseCode": {
          "target": "com.gcp.appengine_v1#UrlMapRedirectHttpResponseCodeEnum",
          "traits": {
            "smithy.api#documentation": "30x code to use when performing redirects for the secure field. Defaults to 302."
          }
        },
        "staticFiles": {
          "target": "com.gcp.appengine_v1#StaticFilesHandler",
          "traits": {
            "smithy.api#documentation": "Returns the contents of a file, such as an image, as the response."
          }
        },
        "apiEndpoint": {
          "target": "com.gcp.appengine_v1#ApiEndpointHandler",
          "traits": {
            "smithy.api#documentation": "Uses API Endpoints to handle requests."
          }
        },
        "urlRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
          }
        },
        "securityLevel": {
          "target": "com.gcp.appengine_v1#UrlMapSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Security (HTTPS) enforcement for this URL."
          }
        },
        "authFailAction": {
          "target": "com.gcp.appengine_v1#UrlMapAuthFailActionEnum",
          "traits": {
            "smithy.api#documentation": "Action to take when users access resources that require authentication. Defaults to redirect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript."
      }
    },
    "com.gcp.appengine_v1#UrlMapLoginEnum": {
      "type": "enum",
      "members": {
        "LOGIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_UNSPECIFIED"
          }
        },
        "LOGIN_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_OPTIONAL"
          }
        },
        "LOGIN_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_ADMIN"
          }
        },
        "LOGIN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_REQUIRED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#UrlMapRedirectHttpResponseCodeEnum": {
      "type": "enum",
      "members": {
        "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_301"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_302"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_303": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_303"
          }
        },
        "REDIRECT_HTTP_RESPONSE_CODE_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECT_HTTP_RESPONSE_CODE_307"
          }
        }
      }
    },
    "com.gcp.appengine_v1#UrlMapSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_UNSPECIFIED"
          }
        },
        "SECURE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_DEFAULT"
          }
        },
        "SECURE_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NEVER"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        }
      }
    },
    "com.gcp.appengine_v1#UrlMapAuthFailActionEnum": {
      "type": "enum",
      "members": {
        "AUTH_FAIL_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNSPECIFIED"
          }
        },
        "AUTH_FAIL_ACTION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_REDIRECT"
          }
        },
        "AUTH_FAIL_ACTION_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNAUTHORIZED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#Volume": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the volume."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume size in gigabytes."
          }
        },
        "volumeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Underlying volume type, e.g. 'tmpfs'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1#RepairApplicationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for 'Applications.RepairApplication'."
      }
    },
    "com.gcp.appengine_v1#Resources": {
      "type": "structure",
      "members": {
        "memoryGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory (GB) needed."
          }
        },
        "cpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of CPU cores needed."
          }
        },
        "volumes": {
          "target": "com.gcp.appengine_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "User specified volumes."
          }
        },
        "kmsKeyReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk"
          }
        },
        "diskGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size (GB) needed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Machine resources for a version."
      }
    },
    "com.gcp.appengine_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#Volume"
      }
    },
    "com.gcp.appengine_v1#BatchUpdateIngressRulesResponse": {
      "type": "structure",
      "members": {
        "ingressRules": {
          "target": "com.gcp.appengine_v1#FirewallRuleList",
          "traits": {
            "smithy.api#documentation": "The full list of ingress FirewallRules for this application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Firewall.UpdateAllIngressRules."
      }
    },
    "com.gcp.appengine_v1#FirewallRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#FirewallRule"
      }
    },
    "com.gcp.appengine_v1#EndpointsApiService": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
          }
        },
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted."
          }
        },
        "rolloutStrategy": {
          "target": "com.gcp.appengine_v1#EndpointsApiServiceRolloutStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted."
          }
        },
        "disableTraceSampling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable trace sampling. By default, this is set to false for enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview)."
      }
    },
    "com.gcp.appengine_v1#EndpointsApiServiceRolloutStrategyEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED_ROLLOUT_STRATEGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_ROLLOUT_STRATEGY"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.appengine_v1#InstanceList",
          "traits": {
            "smithy.api#documentation": "The instances belonging to the requested version."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Instances.ListInstances."
      }
    },
    "com.gcp.appengine_v1#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#Instance"
      }
    },
    "com.gcp.appengine_v1#SslSettings": {
      "type": "structure",
      "members": {
        "certificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
          }
        },
        "sslManagementType": {
          "target": "com.gcp.appengine_v1#SslSettingsSslManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain."
          }
        },
        "pendingManagedCertificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SSL configuration for a DomainMapping resource."
      }
    },
    "com.gcp.appengine_v1#SslSettingsSslManagementTypeEnum": {
      "type": "enum",
      "members": {
        "SSL_MANAGEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_MANAGEMENT_TYPE_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.gcp.appengine_v1#OperationMetadataV1Alpha": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
          }
        },
        "createVersionMetadata": {
          "target": "com.gcp.appengine_v1#CreateVersionMetadataV1Alpha"
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
          }
        },
        "ephemeralMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
          }
        },
        "warning": {
          "target": "com.gcp.appengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Durable messages that persist on every operation poll. @OutputOnly"
          }
        },
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation was created.@OutputOnly"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation completed.@OutputOnly"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested this operation.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.longrunning.Operation."
      }
    },
    "com.gcp.appengine_v1#VpcAccessConnector": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1."
          }
        },
        "egressSetting": {
          "target": "com.gcp.appengine_v1#VpcAccessConnectorEgressSettingEnum",
          "traits": {
            "smithy.api#documentation": "The egress setting for the connector, controlling what traffic is diverted through it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VPC access connector specification."
      }
    },
    "com.gcp.appengine_v1#VpcAccessConnectorEgressSettingEnum": {
      "type": "enum",
      "members": {
        "EGRESS_SETTING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGRESS_SETTING_UNSPECIFIED"
          }
        },
        "ALL_TRAFFIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_TRAFFIC"
          }
        },
        "PRIVATE_IP_RANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_IP_RANGES"
          }
        }
      }
    },
    "com.gcp.appengine_v1#RequestUtilization": {
      "type": "structure",
      "members": {
        "targetConcurrentRequests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target number of concurrent requests."
          }
        },
        "targetRequestCountPerSecond": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target requests per second."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target scaling by request utilization. Only applicable in the App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1#LivenessCheck": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request path."
          }
        },
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed checks required before considering the VM unhealthy."
          }
        },
        "checkInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval between health checks."
          }
        },
        "initialDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial delay before starting to execute the checks."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\""
          }
        },
        "successThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive successful checks required before considering the VM healthy."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before the check is considered failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances."
      }
    },
    "com.gcp.appengine_v1#FeatureSettings": {
      "type": "structure",
      "members": {
        "splitHealthChecks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed."
          }
        },
        "useContainerOptimizedOs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The feature specific settings to be used in the application. These define behaviors that are user configurable."
      }
    },
    "com.gcp.appengine_v1#GceTag": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The administrative_tag name."
          }
        },
        "parent": {
          "target": "com.gcp.appengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info."
      }
    },
    "com.gcp.appengine_v1#ListAuthorizedCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.appengine_v1#AuthorizedCertificateList",
          "traits": {
            "smithy.api#documentation": "The SSL certificates the user is authorized to administer."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AuthorizedCertificates.ListAuthorizedCertificates."
      }
    },
    "com.gcp.appengine_v1#AuthorizedCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#AuthorizedCertificate"
      }
    },
    "com.gcp.appengine_v1#UrlDispatchRule": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rules to match an HTTP request and dispatch that request to a service."
      }
    },
    "com.gcp.appengine_v1#ExportAppImageRequest": {
      "type": "structure",
      "members": {
        "destinationRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Versions.ExportAppImage."
      }
    },
    "com.gcp.appengine_v1#Service": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
          }
        },
        "networkSettings": {
          "target": "com.gcp.appengine_v1#NetworkSettings",
          "traits": {
            "smithy.api#documentation": "Ingress settings for this service. Will apply to all versions."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Relative name of the service within the application. Example: default.@OutputOnly"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
          }
        },
        "split": {
          "target": "com.gcp.appengine_v1#TrafficSplit",
          "traits": {
            "smithy.api#documentation": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
          }
        },
        "generatedCustomerMetadata": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service."
      }
    },
    "com.gcp.appengine_v1#ReadinessCheck": {
      "type": "structure",
      "members": {
        "successThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive successful checks required before receiving traffic."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before the check is considered failed."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
          }
        },
        "checkInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval between health checks."
          }
        },
        "appStartTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic."
          }
        },
        "failureThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed checks required before removing traffic."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation."
      }
    },
    "com.gcp.appengine_v1#HealthCheck": {
      "type": "structure",
      "members": {
        "healthyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive successful health checks required before receiving traffic."
          }
        },
        "unhealthyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed health checks required before removing traffic."
          }
        },
        "disableHealthCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to explicitly disable health checks for this instance."
          }
        },
        "checkInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval between health checks."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time before the health check is considered failed."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
          }
        },
        "restartThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive failed health checks required before an instance is restarted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment."
      }
    },
    "com.gcp.appengine_v1#AuthorizedDomain": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name of the domain authorized for use. Example: example.com."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome)."
      }
    },
    "com.gcp.appengine_v1#ProjectsMetadata": {
      "type": "structure",
      "members": {
        "producerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The producer project number."
          }
        },
        "consumerProjectState": {
          "target": "com.gcp.appengine_v1#ProjectsMetadataConsumerProjectStateEnum",
          "traits": {
            "smithy.api#documentation": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel."
          }
        },
        "consumerProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer project id."
          }
        },
        "consumerProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The consumer project number."
          }
        },
        "tenantProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant project id."
          }
        },
        "producerProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The producer project id."
          }
        },
        "isGceProjectDeprovisioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future."
          }
        },
        "tenantProjectNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant project number."
          }
        },
        "gceTag": {
          "target": "com.gcp.appengine_v1#GceTagList",
          "traits": {
            "smithy.api#documentation": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE."
          }
        },
        "p4ServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer)."
      }
    },
    "com.gcp.appengine_v1#ProjectsMetadataConsumerProjectStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_STATE"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#GceTagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#GceTag"
      }
    },
    "com.gcp.appengine_v1#ScriptHandler": {
      "type": "structure",
      "members": {
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the script from the application root directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Executes a script to handle the request that matches the URL pattern."
      }
    },
    "com.gcp.appengine_v1#ResourceRecord": {
      "type": "structure",
      "members": {
        "rrdata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'."
          }
        },
        "type": {
          "target": "com.gcp.appengine_v1#ResourceRecordTypeEnum",
          "traits": {
            "smithy.api#documentation": "Resource record type. Example: AAAA."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DNS resource record."
      }
    },
    "com.gcp.appengine_v1#ResourceRecordTypeEnum": {
      "type": "enum",
      "members": {
        "RECORD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECORD_TYPE_UNSPECIFIED"
          }
        },
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.gcp.appengine_v1#TrafficSplit": {
      "type": "structure",
      "members": {
        "shardBy": {
          "target": "com.gcp.appengine_v1#TrafficSplitShardByEnum",
          "traits": {
            "smithy.api#documentation": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed."
          }
        },
        "allocations": {
          "target": "com.gcp.appengine_v1#DoubleMap",
          "traits": {
            "smithy.api#documentation": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions."
      }
    },
    "com.gcp.appengine_v1#TrafficSplitShardByEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "COOKIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOKIE"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM"
          }
        }
      }
    },
    "com.gcp.appengine_v1#DoubleMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.appengine_v1#ErrorHandler": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.gcp.appengine_v1#ErrorHandlerErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "Error condition this handler applies to."
          }
        },
        "staticFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Static file content to be served for this error."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of file. Defaults to text/html."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom static error page to be served when an error occurs."
      }
    },
    "com.gcp.appengine_v1#ErrorHandlerErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ERROR_CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_UNSPECIFIED"
          }
        },
        "ERROR_CODE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_DEFAULT"
          }
        },
        "ERROR_CODE_OVER_QUOTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_OVER_QUOTA"
          }
        },
        "ERROR_CODE_DOS_API_DENIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_DOS_API_DENIAL"
          }
        },
        "ERROR_CODE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_CODE_TIMEOUT"
          }
        }
      }
    },
    "com.gcp.appengine_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.appengine_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.appengine_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#DocumentMap"
      }
    },
    "com.gcp.appengine_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
          }
        },
        "metadata": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.appengine_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
          }
        },
        "response": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.appengine_v1#ManualScaling": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time."
      }
    },
    "com.gcp.appengine_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} "
          }
        },
        "metadata": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: \"us-east1\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.appengine_v1#ListRuntimesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        },
        "runtimes": {
          "target": "com.gcp.appengine_v1#RuntimeList",
          "traits": {
            "smithy.api#documentation": "The runtimes available to the requested application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for Applications.ListRuntimes."
      }
    },
    "com.gcp.appengine_v1#RuntimeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#Runtime"
      }
    },
    "com.gcp.appengine_v1#ZipInfo": {
      "type": "structure",
      "members": {
        "filesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
          }
        },
        "sourceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The zip file information for a zip deployment."
      }
    },
    "com.gcp.appengine_v1#DomainMapping": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative name of the domain serving the application. Example: example.com."
          }
        },
        "resourceRecords": {
          "target": "com.gcp.appengine_v1#ResourceRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
          }
        },
        "sslSettings": {
          "target": "com.gcp.appengine_v1#SslSettings",
          "traits": {
            "smithy.api#documentation": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain serving an App Engine application."
      }
    },
    "com.gcp.appengine_v1#ResourceRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#ResourceRecord"
      }
    },
    "com.gcp.appengine_v1#ApiEndpointHandler": {
      "type": "structure",
      "members": {
        "scriptPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the script from the application root directory."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Uses Google Cloud Endpoints to handle requests."
      }
    },
    "com.gcp.appengine_v1#DebugInstanceRequest": {
      "type": "structure",
      "members": {
        "sshKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for Instances.DebugInstance."
      }
    },
    "com.gcp.appengine_v1#Library": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the library. Example: \"django\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the library to select, or \"latest\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third-party Python runtime library that is required by the application."
      }
    },
    "com.gcp.appengine_v1#AutomaticScaling": {
      "type": "structure",
      "members": {
        "maxPendingLatency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it."
          }
        },
        "maxTotalInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances that should be started to handle requests for this version."
          }
        },
        "requestUtilization": {
          "target": "com.gcp.appengine_v1#RequestUtilization",
          "traits": {
            "smithy.api#documentation": "Target scaling by request utilization."
          }
        },
        "standardSchedulerSettings": {
          "target": "com.gcp.appengine_v1#StandardSchedulerSettings",
          "traits": {
            "smithy.api#documentation": "Scheduler settings for standard environment."
          }
        },
        "cpuUtilization": {
          "target": "com.gcp.appengine_v1#CpuUtilization",
          "traits": {
            "smithy.api#documentation": "Target scaling by CPU usage."
          }
        },
        "maxConcurrentRequests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value."
          }
        },
        "minPendingLatency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
          }
        },
        "coolDownPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
          }
        },
        "minIdleInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service."
          }
        },
        "maxIdleInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of idle instances that should be maintained for this version."
          }
        },
        "diskUtilization": {
          "target": "com.gcp.appengine_v1#DiskUtilization",
          "traits": {
            "smithy.api#documentation": "Target scaling by disk usage."
          }
        },
        "networkUtilization": {
          "target": "com.gcp.appengine_v1#NetworkUtilization",
          "traits": {
            "smithy.api#documentation": "Target scaling by network usage."
          }
        },
        "minTotalInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of running instances that should be maintained for this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automatic scaling is based on request rate, response latencies, and other application metrics."
      }
    },
    "com.gcp.appengine_v1#ApiConfigHandler": {
      "type": "structure",
      "members": {
        "login": {
          "target": "com.gcp.appengine_v1#ApiConfigHandlerLoginEnum",
          "traits": {
            "smithy.api#documentation": "Level of login required to access this resource. Defaults to optional."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the script from the application root directory."
          }
        },
        "securityLevel": {
          "target": "com.gcp.appengine_v1#ApiConfigHandlerSecurityLevelEnum",
          "traits": {
            "smithy.api#documentation": "Security (HTTPS) enforcement for this URL."
          }
        },
        "authFailAction": {
          "target": "com.gcp.appengine_v1#ApiConfigHandlerAuthFailActionEnum",
          "traits": {
            "smithy.api#documentation": "Action to take when users access resources that require authentication. Defaults to redirect."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to serve the endpoint at."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers."
      }
    },
    "com.gcp.appengine_v1#ApiConfigHandlerLoginEnum": {
      "type": "enum",
      "members": {
        "LOGIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_UNSPECIFIED"
          }
        },
        "LOGIN_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_OPTIONAL"
          }
        },
        "LOGIN_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_ADMIN"
          }
        },
        "LOGIN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOGIN_REQUIRED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ApiConfigHandlerSecurityLevelEnum": {
      "type": "enum",
      "members": {
        "SECURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_UNSPECIFIED"
          }
        },
        "SECURE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_DEFAULT"
          }
        },
        "SECURE_NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_NEVER"
          }
        },
        "SECURE_OPTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_OPTIONAL"
          }
        },
        "SECURE_ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_ALWAYS"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ApiConfigHandlerAuthFailActionEnum": {
      "type": "enum",
      "members": {
        "AUTH_FAIL_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNSPECIFIED"
          }
        },
        "AUTH_FAIL_ACTION_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_REDIRECT"
          }
        },
        "AUTH_FAIL_ACTION_UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_FAIL_ACTION_UNAUTHORIZED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#Instance": {
      "type": "structure",
      "members": {
        "averageLatency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Average latency (ms) over the last minute."
          }
        },
        "memoryUsage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total memory in use (bytes)."
          }
        },
        "vmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment."
          }
        },
        "availability": {
          "target": "com.gcp.appengine_v1#InstanceAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Availability of the instance."
          }
        },
        "vmZoneName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Relative name of the instance within the version. Example: instance-1."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
          }
        },
        "vmIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment."
          }
        },
        "errors": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of errors since this instance was started."
          }
        },
        "vmLiveness": {
          "target": "com.gcp.appengine_v1#InstanceVmLivenessEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment."
          }
        },
        "requests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of requests since this instance was started."
          }
        },
        "appEngineRelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. App Engine release this instance is running on."
          }
        },
        "qps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Average queries per second (QPS) over the last minute."
          }
        },
        "vmStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time that this instance was started.@OutputOnly"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
          }
        },
        "vmDebugEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Instance resource is the computing unit that App Engine uses to automatically scale an application."
      }
    },
    "com.gcp.appengine_v1#InstanceAvailabilityEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "RESIDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIDENT"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC"
          }
        }
      }
    },
    "com.gcp.appengine_v1#InstanceVmLivenessEnum": {
      "type": "enum",
      "members": {
        "LIVENESS_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVENESS_STATE_UNSPECIFIED"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "DRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAINING"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ListAuthorizedDomainsResponse": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.appengine_v1#AuthorizedDomainList",
          "traits": {
            "smithy.api#documentation": "The authorized domains belonging to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AuthorizedDomains.ListAuthorizedDomains."
      }
    },
    "com.gcp.appengine_v1#AuthorizedDomainList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#AuthorizedDomain"
      }
    },
    "com.gcp.appengine_v1#OperationMetadataV1Beta": {
      "type": "structure",
      "members": {
        "insertTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation was created.@OutputOnly"
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
          }
        },
        "ephemeralMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
          }
        },
        "warning": {
          "target": "com.gcp.appengine_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Durable messages that persist on every operation poll. @OutputOnly"
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
          }
        },
        "createVersionMetadata": {
          "target": "com.gcp.appengine_v1#CreateVersionMetadataV1Beta"
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time that this operation completed.@OutputOnly"
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User who requested this operation.@OutputOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the given google.longrunning.Operation."
      }
    },
    "com.gcp.appengine_v1#CertificateRawData": {
      "type": "structure",
      "members": {
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
          }
        },
        "publicCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An SSL certificate obtained from a certificate authority."
      }
    },
    "com.gcp.appengine_v1#ContainerState": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.appengine_v1#ContainerStateStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container."
          }
        },
        "previousReasons": {
          "target": "com.gcp.appengine_v1#Reasons",
          "traits": {
            "smithy.api#documentation": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state."
          }
        },
        "currentReasons": {
          "target": "com.gcp.appengine_v1#Reasons"
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state."
      }
    },
    "com.gcp.appengine_v1#ContainerStateStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_STATE"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#BasicScaling": {
      "type": "structure",
      "members": {
        "idleTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of time after the last request that an instance must wait before the instance is shut down."
          }
        },
        "maxInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of instances to create for this version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
      }
    },
    "com.gcp.appengine_v1#Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
          }
        },
        "dispatchRules": {
          "target": "com.gcp.appengine_v1#UrlDispatchRuleList",
          "traits": {
            "smithy.api#documentation": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
          }
        },
        "defaultBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly"
          }
        },
        "authDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account."
          }
        },
        "defaultHostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly"
          }
        },
        "defaultCookieExpiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cookie expiration policy for this application."
          }
        },
        "databaseType": {
          "target": "com.gcp.appengine_v1#ApplicationDatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the Cloud Firestore or Cloud Datastore database associated with this application."
          }
        },
        "sslPolicy": {
          "target": "com.gcp.appengine_v1#ApplicationSslPolicyEnum",
          "traits": {
            "smithy.api#documentation": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "codeBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
          }
        },
        "gcrDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Google Container Registry domain used for storing managed build docker images for this application."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one."
          }
        },
        "featureSettings": {
          "target": "com.gcp.appengine_v1#FeatureSettings",
          "traits": {
            "smithy.api#documentation": "The feature specific settings to be used in the application."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations)."
          }
        },
        "generatedCustomerMetadata": {
          "target": "com.gcp.appengine_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest"
          }
        },
        "iap": {
          "target": "com.gcp.appengine_v1#IdentityAwareProxy"
        },
        "servingStatus": {
          "target": "com.gcp.appengine_v1#ApplicationServingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Serving status of this application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Application resource contains the top-level configuration of an App Engine application."
      }
    },
    "com.gcp.appengine_v1#UrlDispatchRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.appengine_v1#UrlDispatchRule"
      }
    },
    "com.gcp.appengine_v1#ApplicationDatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_TYPE_UNSPECIFIED"
          }
        },
        "CLOUD_DATASTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_DATASTORE"
          }
        },
        "CLOUD_FIRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_FIRESTORE"
          }
        },
        "CLOUD_DATASTORE_COMPATIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_DATASTORE_COMPATIBILITY"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ApplicationSslPolicyEnum": {
      "type": "enum",
      "members": {
        "SSL_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSL_POLICY_UNSPECIFIED"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "MODERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODERN"
          }
        }
      }
    },
    "com.gcp.appengine_v1#ApplicationServingStatusEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING"
          }
        },
        "USER_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_DISABLED"
          }
        },
        "SYSTEM_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_DISABLED"
          }
        }
      }
    },
    "com.gcp.appengine_v1#StaticFilesHandler": {
      "type": "structure",
      "members": {
        "requireMatchingFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this handler should match the request if the file referenced by the handler does not exist."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time a static file served by this handler should be cached by web proxies and browsers."
          }
        },
        "httpHeaders": {
          "target": "com.gcp.appengine_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "HTTP headers to use for all responses from these URLs."
          }
        },
        "uploadPathRegex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Regular expression that matches the file paths for all files that should be referenced by this handler."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
[...]
