{
  "smithy": "2.0",
  "metadata": {
    "service": "apphub",
    "version": "v1",
    "title": "App Hub API",
    "baseUrl": "https://apphub.googleapis.com/"
  },
  "shapes": {
    "com.gcp.apphub_v1#ListDiscoveredWorkloadsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "discoveredWorkloads": {
          "target": "com.gcp.apphub_v1#DiscoveredWorkloadList",
          "traits": {
            "smithy.api#documentation": "List of Discovered Workloads."
          }
        },
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListDiscoveredWorkloads."
      }
    },
    "com.gcp.apphub_v1#DiscoveredWorkloadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#DiscoveredWorkload"
      }
    },
    "com.gcp.apphub_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apphub_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.apphub_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.apphub_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.apphub_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#DocumentMap"
      }
    },
    "com.gcp.apphub_v1#ContactInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contact's name. Can have a maximum length of 63 characters."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Email address of the contacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact information of stakeholders."
      }
    },
    "com.gcp.apphub_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.apphub_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.apphub_v1#Criticality": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#CriticalityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Criticality Type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Criticality of the Application, Service, or Workload"
      }
    },
    "com.gcp.apphub_v1#CriticalityTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "MISSION_CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSION_CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.apphub_v1#Identity": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity associated with a service or workload."
      }
    },
    "com.gcp.apphub_v1#FunctionalType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#FunctionalTypeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The functional type of a service or workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The functional type of a service or workload."
      }
    },
    "com.gcp.apphub_v1#FunctionalTypeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT"
          }
        },
        "MCP_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MCP_SERVER"
          }
        },
        "ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT"
          }
        }
      }
    },
    "com.gcp.apphub_v1#Workload": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`"
          }
        },
        "workloadReference": {
          "target": "com.gcp.apphub_v1#WorkloadReference",
          "traits": {
            "smithy.api#documentation": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable."
          }
        },
        "workloadProperties": {
          "target": "com.gcp.apphub_v1#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "attributes": {
          "target": "com.gcp.apphub_v1#Attributes",
          "traits": {
            "smithy.api#documentation": "Optional. Consumer provided attributes."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters."
          }
        },
        "state": {
          "target": "com.gcp.apphub_v1#WorkloadStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Workload state."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters."
          }
        },
        "discoveredWorkload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the original discovered workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality."
      }
    },
    "com.gcp.apphub_v1#WorkloadStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.apphub_v1#WorkloadReference": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The underlying compute resource uri."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference of an underlying compute resource represented by the Workload."
      }
    },
    "com.gcp.apphub_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.apphub_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.apphub_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Operation"
      }
    },
    "com.gcp.apphub_v1#DetachServiceProjectAttachmentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for DetachServiceProjectAttachment."
      }
    },
    "com.gcp.apphub_v1#DiscoveredWorkload": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`"
          }
        },
        "workloadReference": {
          "target": "com.gcp.apphub_v1#WorkloadReference",
          "traits": {
            "smithy.api#documentation": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable."
          }
        },
        "workloadProperties": {
          "target": "com.gcp.apphub_v1#WorkloadProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload."
      }
    },
    "com.gcp.apphub_v1#LookupDiscoveredWorkloadResponse": {
      "type": "structure",
      "members": {
        "discoveredWorkload": {
          "target": "com.gcp.apphub_v1#DiscoveredWorkload",
          "traits": {
            "smithy.api#documentation": "Discovered Workload if exists, empty otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for LookupDiscoveredWorkload."
      }
    },
    "com.gcp.apphub_v1#ServiceProperties": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.apphub_v1#Identity",
          "traits": {
            "smithy.api#documentation": "Output only. The identity associated with the service."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location that the underlying resource resides in, for example, us-west1."
          }
        },
        "functionalType": {
          "target": "com.gcp.apphub_v1#FunctionalType",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the service."
          }
        },
        "registrationType": {
          "target": "com.gcp.apphub_v1#RegistrationType",
          "traits": {
            "smithy.api#documentation": "Output only. The registration type of the service."
          }
        },
        "extendedMetadata": {
          "target": "com.gcp.apphub_v1#ExtendedMetadataMap",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
          }
        },
        "gcpProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service project identifier that the underlying cloud resource resides in."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an underlying cloud resource that can comprise a Service."
      }
    },
    "com.gcp.apphub_v1#ExtendedMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.apphub_v1#ExtendedMetadata"
      }
    },
    "com.gcp.apphub_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.apphub_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.apphub_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.apphub_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Binding"
      }
    },
    "com.gcp.apphub_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#AuditConfig"
      }
    },
    "com.gcp.apphub_v1#Operation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.apphub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.apphub_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.apphub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.apphub_v1#ListWorkloadsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "workloads": {
          "target": "com.gcp.apphub_v1#WorkloadList",
          "traits": {
            "smithy.api#documentation": "List of Workloads."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListWorkloads."
      }
    },
    "com.gcp.apphub_v1#WorkloadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Workload"
      }
    },
    "com.gcp.apphub_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.apphub_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.apphub_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#AuditLogConfig"
      }
    },
    "com.gcp.apphub_v1#ServiceReference": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to an underlying networking resource that can comprise a Service."
      }
    },
    "com.gcp.apphub_v1#Boundary": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#BoundaryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Boundary type."
          }
        },
        "crmNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application management boundary."
      }
    },
    "com.gcp.apphub_v1#BoundaryTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        },
        "MANAGED_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_AUTOMATIC"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ListServiceProjectAttachmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "serviceProjectAttachments": {
          "target": "com.gcp.apphub_v1#ServiceProjectAttachmentList",
          "traits": {
            "smithy.api#documentation": "List of service project attachments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListServiceProjectAttachments."
      }
    },
    "com.gcp.apphub_v1#ServiceProjectAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#ServiceProjectAttachment"
      }
    },
    "com.gcp.apphub_v1#ListDiscoveredServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "discoveredServices": {
          "target": "com.gcp.apphub_v1#DiscoveredServiceList",
          "traits": {
            "smithy.api#documentation": "List of Discovered Services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListDiscoveredServices."
      }
    },
    "com.gcp.apphub_v1#DiscoveredServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#DiscoveredService"
      }
    },
    "com.gcp.apphub_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "services": {
          "target": "com.gcp.apphub_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "List of Services."
          }
        },
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListServices."
      }
    },
    "com.gcp.apphub_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Service"
      }
    },
    "com.gcp.apphub_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.apphub_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.apphub_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Location"
      }
    },
    "com.gcp.apphub_v1#Environment": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#EnvironmentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Environment Type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Environment of the Application, Service, or Workload"
      }
    },
    "com.gcp.apphub_v1#EnvironmentTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        },
        "TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        }
      }
    },
    "com.gcp.apphub_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.apphub_v1#LookupDiscoveredServiceResponse": {
      "type": "structure",
      "members": {
        "discoveredService": {
          "target": "com.gcp.apphub_v1#DiscoveredService",
          "traits": {
            "smithy.api#documentation": "Discovered Service if exists, empty otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for LookupDiscoveredService."
      }
    },
    "com.gcp.apphub_v1#ServiceProjectAttachment": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "state": {
          "target": "com.gcp.apphub_v1#ServiceProjectAttachmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. ServiceProjectAttachment state."
          }
        },
        "serviceProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects."
      }
    },
    "com.gcp.apphub_v1#ServiceProjectAttachmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.apphub_v1#WorkloadProperties": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.gcp.apphub_v1#Identity",
          "traits": {
            "smithy.api#documentation": "Output only. The identity associated with the workload."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a)."
          }
        },
        "gcpProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources."
          }
        },
        "extendedMetadata": {
          "target": "com.gcp.apphub_v1#ExtendedMetadataMap",
          "traits": {
            "smithy.api#documentation": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location that the underlying compute resource resides in (for example, us-west1)."
          }
        },
        "functionalType": {
          "target": "com.gcp.apphub_v1#FunctionalType",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an underlying compute resource represented by the Workload."
      }
    },
    "com.gcp.apphub_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.apphub_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.apphub_v1#RegistrationType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#RegistrationTypeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The registration type of a service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registration type of a service."
      }
    },
    "com.gcp.apphub_v1#RegistrationTypeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "EXCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUSIVE"
          }
        },
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED"
          }
        }
      }
    },
    "com.gcp.apphub_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.apphub_v1#Attributes": {
      "type": "structure",
      "members": {
        "criticality": {
          "target": "com.gcp.apphub_v1#Criticality",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined criticality information."
          }
        },
        "environment": {
          "target": "com.gcp.apphub_v1#Environment",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined environment information."
          }
        },
        "businessOwners": {
          "target": "com.gcp.apphub_v1#ContactInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Business team that ensures user needs are met and value is delivered"
          }
        },
        "developerOwners": {
          "target": "com.gcp.apphub_v1#ContactInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Developer team that owns development and coding."
          }
        },
        "operatorOwners": {
          "target": "com.gcp.apphub_v1#ContactInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Operator team that ensures runtime and operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Consumer provided attributes."
      }
    },
    "com.gcp.apphub_v1#ContactInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#ContactInfo"
      }
    },
    "com.gcp.apphub_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.apphub_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.apphub_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.apphub_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ReconciliationOperationMetadata": {
      "type": "structure",
      "members": {
        "exclusiveAction": {
          "target": "com.gcp.apphub_v1#ReconciliationOperationMetadataExclusiveActionEnum",
          "traits": {
            "smithy.api#documentation": "Excluisive action returned by the CLH."
          }
        },
        "deleteResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use exclusive_action instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata returned by the CLH during resource state reconciliation."
      }
    },
    "com.gcp.apphub_v1#ReconciliationOperationMetadataExclusiveActionEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_REPAIR_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_REPAIR_ACTION"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        }
      }
    },
    "com.gcp.apphub_v1#Application": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier (in UUID4 format) for the `Application`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters."
          }
        },
        "state": {
          "target": "com.gcp.apphub_v1#ApplicationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Application state."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "attributes": {
          "target": "com.gcp.apphub_v1#Attributes",
          "traits": {
            "smithy.api#documentation": "Optional. Consumer provided attributes."
          }
        },
        "scope": {
          "target": "com.gcp.apphub_v1#Scope",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements."
      }
    },
    "com.gcp.apphub_v1#ApplicationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.apphub_v1#Scope": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.apphub_v1#ScopeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Scope Type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope of an application."
      }
    },
    "com.gcp.apphub_v1#ScopeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ExtendedMetadata": {
      "type": "structure",
      "members": {
        "metadataStruct": {
          "target": "com.gcp.apphub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The metadata contents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional metadata for a Service or Workload."
      }
    },
    "com.gcp.apphub_v1#ExtendedMetadataSchema": {
      "type": "structure",
      "members": {
        "jsonSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The JSON schema as a string."
          }
        },
        "schemaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the schema. New versions are required to be backwards compatible."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload."
      }
    },
    "com.gcp.apphub_v1#Service": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "attributes": {
          "target": "com.gcp.apphub_v1#Attributes",
          "traits": {
            "smithy.api#documentation": "Optional. Consumer provided attributes."
          }
        },
        "discoveredService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The resource name of the original discovered service."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters."
          }
        },
        "state": {
          "target": "com.gcp.apphub_v1#ServiceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Service state."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters."
          }
        },
        "serviceReference": {
          "target": "com.gcp.apphub_v1#ServiceReference",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable."
          }
        },
        "serviceProperties": {
          "target": "com.gcp.apphub_v1#ServiceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network."
      }
    },
    "com.gcp.apphub_v1#ServiceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETACHED"
          }
        }
      }
    },
    "com.gcp.apphub_v1#LookupServiceProjectAttachmentResponse": {
      "type": "structure",
      "members": {
        "serviceProjectAttachment": {
          "target": "com.gcp.apphub_v1#ServiceProjectAttachment",
          "traits": {
            "smithy.api#documentation": "Service project attachment for a project if exists, empty otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for LookupServiceProjectAttachment."
      }
    },
    "com.gcp.apphub_v1#DetachServiceProjectAttachmentResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for DetachServiceProjectAttachment."
      }
    },
    "com.gcp.apphub_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.apphub_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.apphub_v1#DiscoveredService": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`"
          }
        },
        "serviceReference": {
          "target": "com.gcp.apphub_v1#ServiceReference",
          "traits": {
            "smithy.api#documentation": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable."
          }
        },
        "serviceProperties": {
          "target": "com.gcp.apphub_v1#ServiceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service."
      }
    },
    "com.gcp.apphub_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.apphub_v1#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.apphub_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.apphub_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.apphub_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.apphub_v1#ListExtendedMetadataSchemasResponse": {
      "type": "structure",
      "members": {
        "extendedMetadataSchemas": {
          "target": "com.gcp.apphub_v1#ExtendedMetadataSchemaList",
          "traits": {
            "smithy.api#documentation": "List of Extended Metadata Schemas."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListExtendedMetadataSchemas."
      }
    },
    "com.gcp.apphub_v1#ExtendedMetadataSchemaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#ExtendedMetadataSchema"
      }
    },
    "com.gcp.apphub_v1#ListApplicationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "applications": {
          "target": "com.gcp.apphub_v1#ApplicationList",
          "traits": {
            "smithy.api#documentation": "List of Applications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListApplications."
      }
    },
    "com.gcp.apphub_v1#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.apphub_v1#Application"
      }
    },
    "com.gcp.apphub_v1#DetachServiceProjectAttachmentProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service project id and location to detach from a host project. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apphub_v1#DetachServiceProjectAttachmentRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apphub_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.apphub_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.apphub_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.apphub_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.apphub_v1#DetachServiceProjectAttachmentProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#DetachServiceProjectAttachmentProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#DetachServiceProjectAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        },
        {
          "target": "com.gcp.apphub_v1#BadRequest"
        },
        {
          "target": "com.gcp.apphub_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:detachServiceProjectAttachment"
        },
        "smithy.api#documentation": "Detaches a service project from a host project. You can call this API from any service project without needing access to the host project that it is attached to."
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.apphub_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.apphub_v1#UpdateBoundaryProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Boundary resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apphub_v1#Boundary",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apphub_v1#UpdateBoundaryProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#UpdateBoundaryProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        },
        {
          "target": "com.gcp.apphub_v1#BadRequest"
        },
        {
          "target": "com.gcp.apphub_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a Boundary."
      }
    },
    "com.gcp.apphub_v1#LookupServiceProjectAttachmentProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service project ID and location to lookup service project attachment for. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apphub_v1#LookupServiceProjectAttachmentProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#LookupServiceProjectAttachmentProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#LookupServiceProjectAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}:lookupServiceProjectAttachment"
        },
        "smithy.api#documentation": "Lists a service project attachment for a given service project. You can call this API from any project to find if it is attached to a host project."
      }
    },
    "com.gcp.apphub_v1#GetBoundaryProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the boundary to retrieve. Format: `projects/{project}/locations/{location}/boundary`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apphub_v1#GetBoundaryProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#GetBoundaryProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Boundary"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets a Boundary."
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocationsExtendedMetadataSchemasRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Schema resource name. Format: `projects/{project}/locations/{location}/extendedMetadataSchemas/{extended_metadata_schema}`. `{extended_metadata_schema}` has the format `\"apphub.googleapis.com/{SchemaName}\"`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocationsExtendedMetadataSchemas": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#GetProjectsLocationsExtendedMetadataSchemasRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#ExtendedMetadataSchema"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an Extended Metadata Schema."
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocationsExtendedMetadataSchemasRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project and location to list Extended Metadata Schemas on. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocationsExtendedMetadataSchemas": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#ListProjectsLocationsExtendedMetadataSchemasRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#ListExtendedMetadataSchemasResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/extendedMetadataSchemas"
        },
        "smithy.api#documentation": "Lists Extended Metadata Schemas available in a host project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apphub_v1#PatchProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Application resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.apphub_v1#Application",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apphub_v1#PatchProjectsLocationsApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#PatchProjectsLocationsApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        },
        {
          "target": "com.gcp.apphub_v1#BadRequest"
        },
        {
          "target": "com.gcp.apphub_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an Application in a host project and location."
      }
    },
    "com.gcp.apphub_v1#TestIamPermissionsProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.apphub_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apphub_v1#TestIamPermissionsProjectsLocationsApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#TestIamPermissionsProjectsLocationsApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        },
        {
          "target": "com.gcp.apphub_v1#BadRequest"
        },
        {
          "target": "com.gcp.apphub_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project and location to list Applications on. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.apphub_v1#ListProjectsLocationsApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#ListProjectsLocationsApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#ListApplicationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/applications"
        },
        "smithy.api#documentation": "Lists Applications in a host project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Fully qualified name of the Application to fetch. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.apphub_v1#GetProjectsLocationsApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#GetProjectsLocationsApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Application"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an Application in a host project and location."
      }
    },
    "com.gcp.apphub_v1#CreateProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The Application identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
            "smithy.api#httpQuery": "applicationId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project and location to create Application in. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.apphub_v1#Application",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.apphub_v1#CreateProjectsLocationsApplications": {
      "type": "operation",
      "input": {
        "target": "com.gcp.apphub_v1#CreateProjectsLocationsApplicationsRequest"
      },
      "output": {
        "target": "com.gcp.apphub_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.apphub_v1#NotFound"
        },
        {
          "target": "com.gcp.apphub_v1#Forbidden"
        },
        {
          "target": "com.gcp.apphub_v1#BadRequest"
        },
        {
          "target": "com.gcp.apphub_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/applications"
        },
        "smithy.api#documentation": "Creates an Application in a host project and location."
      }
    },
    "com.gcp.apphub_v1#SetIamPolicyProjectsLocationsApplicationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
[...]
