{
  "smithy": "2.0",
  "metadata": {
    "service": "artifactregistry",
    "version": "v1",
    "title": "Artifact Registry API",
    "baseUrl": "https://artifactregistry.googleapis.com/"
  },
  "shapes": {
    "com.gcp.artifactregistry_v1#ProjectSettings": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
          }
        },
        "pullPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection."
          }
        },
        "legacyRedirectionState": {
          "target": "com.gcp.artifactregistry_v1#ProjectSettingsLegacyRedirectionStateEnum",
          "traits": {
            "smithy.api#documentation": "The redirection state of the legacy repositories in this project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Artifact Registry settings that apply to a Project."
      }
    },
    "com.gcp.artifactregistry_v1#ProjectSettingsLegacyRedirectionStateEnum": {
      "type": "enum",
      "members": {
        "REDIRECTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_STATE_UNSPECIFIED"
          }
        },
        "REDIRECTION_FROM_GCR_IO_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_FROM_GCR_IO_DISABLED"
          }
        },
        "REDIRECTION_FROM_GCR_IO_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_FROM_GCR_IO_ENABLED"
          }
        },
        "REDIRECTION_FROM_GCR_IO_FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_FROM_GCR_IO_FINALIZED"
          }
        },
        "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING"
          }
        },
        "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsRequest": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.artifactregistry_v1#ImportAptArtifactsGcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location where input content is located."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to import new apt artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#Hash": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.artifactregistry_v1#HashTypeEnum",
          "traits": {
            "smithy.api#documentation": "The algorithm used to compute the hash value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A hash of file content."
      }
    },
    "com.gcp.artifactregistry_v1#HashTypeEnum": {
      "type": "enum",
      "members": {
        "HASH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HASH_TYPE_UNSPECIFIED"
          }
        },
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "MD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD5"
          }
        },
        "DIRSUM_SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRSUM_SHA256"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#PrewarmedArtifact": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time of the prewarmed artifact."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the prewarmed artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrewarmedArtifact represents a streamed artifact. This is not a request message, so field_behavior annotations are not required."
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoogetArtifactMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for uploading artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsGcsSource": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object)."
          }
        },
        "useWildcards": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Supports URI wildcards for matching multiple objects from a single URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Cloud Storage location where the artifacts currently reside."
      }
    },
    "com.gcp.artifactregistry_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.artifactregistry_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.artifactregistry_v1#ListPrewarmedArtifactsResponse": {
      "type": "structure",
      "members": {
        "prewarmedArtifacts": {
          "target": "com.gcp.artifactregistry_v1#PrewarmedArtifactList",
          "traits": {
            "smithy.api#documentation": "The prewarmed artifacts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for listing artifacts for streaming."
      }
    },
    "com.gcp.artifactregistry_v1#PrewarmedArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#PrewarmedArtifact"
      }
    },
    "com.gcp.artifactregistry_v1#UploadGenericArtifactMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for uploading generic artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#RemovePrewarmedArtifactRequest": {
      "type": "structure",
      "members": {
        "streamLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for removing an artifact from streaming."
      }
    },
    "com.gcp.artifactregistry_v1#UploadAptArtifactMediaResponse": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.artifactregistry_v1#Operation",
          "traits": {
            "smithy.api#documentation": "Operation to be returned to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to upload an artifact."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-specified publicly available remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#CleanupPolicyCondition": {
      "type": "structure",
      "members": {
        "olderThan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Match versions older than a duration."
          }
        },
        "tagState": {
          "target": "com.gcp.artifactregistry_v1#CleanupPolicyConditionTagStateEnum",
          "traits": {
            "smithy.api#documentation": "Match versions by tag status."
          }
        },
        "packageNamePrefixes": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Match versions by package prefix. Applied on any prefix match."
          }
        },
        "tagPrefixes": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Match versions by tag prefix. Applied on any prefix match."
          }
        },
        "versionNamePrefixes": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Match versions by version name prefix. Applied on any prefix match."
          }
        },
        "newerThan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Match versions newer than a duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied."
      }
    },
    "com.gcp.artifactregistry_v1#CleanupPolicyConditionTagStateEnum": {
      "type": "enum",
      "members": {
        "TAG_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAG_STATE_UNSPECIFIED"
          }
        },
        "TAGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAGGED"
          }
        },
        "UNTAGGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNTAGGED"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#CleanupPolicy": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.gcp.artifactregistry_v1#CleanupPolicyActionEnum",
          "traits": {
            "smithy.api#documentation": "Policy action."
          }
        },
        "mostRecentVersions": {
          "target": "com.gcp.artifactregistry_v1#CleanupPolicyMostRecentVersions",
          "traits": {
            "smithy.api#documentation": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-provided ID of the cleanup policy."
          }
        },
        "condition": {
          "target": "com.gcp.artifactregistry_v1#CleanupPolicyCondition",
          "traits": {
            "smithy.api#documentation": "Policy condition for matching versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Artifact policy configuration for repository cleanup policies."
      }
    },
    "com.gcp.artifactregistry_v1#CleanupPolicyActionEnum": {
      "type": "enum",
      "members": {
        "ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_UNSPECIFIED"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#MavenArtifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact."
          }
        },
        "pomUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the artifact was created."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group ID for the artifact. Example: com.google.guava"
          }
        },
        "artifactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact ID for the artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of this artifact."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the artifact was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MavenArtifact represents a maven artifact."
      }
    },
    "com.gcp.artifactregistry_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.artifactregistry_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.artifactregistry_v1#VirtualRepositoryConfig": {
      "type": "structure",
      "members": {
        "upstreamPolicies": {
          "target": "com.gcp.artifactregistry_v1#UpstreamPolicyList",
          "traits": {
            "smithy.api#documentation": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual repository configuration."
      }
    },
    "com.gcp.artifactregistry_v1#UpstreamPolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#UpstreamPolicy"
      }
    },
    "com.gcp.artifactregistry_v1#ExportArtifactMetadata": {
      "type": "structure",
      "members": {
        "exportedFiles": {
          "target": "com.gcp.artifactregistry_v1#ExportedFileList",
          "traits": {
            "smithy.api#documentation": "The exported artifact files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The LRO metadata for exporting an artifact."
      }
    },
    "com.gcp.artifactregistry_v1#ExportedFileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#ExportedFile"
      }
    },
    "com.gcp.artifactregistry_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.artifactregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.artifactregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.artifactregistry_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.artifactregistry_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.artifactregistry_v1#UploadKfpArtifactRequest": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags to be created with the version."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the package version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to upload an artifact."
      }
    },
    "com.gcp.artifactregistry_v1#BatchDeleteVersionsMetadata": {
      "type": "structure",
      "members": {
        "failedVersions": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The versions the operation failed to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata of an LRO from deleting multiple versions."
      }
    },
    "com.gcp.artifactregistry_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.artifactregistry_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-specified publicly available remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#GenericArtifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\""
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Generic module is created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the Generic module is updated."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the generic artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GenericArtifact represents a generic artifact"
      }
    },
    "com.gcp.artifactregistry_v1#Tag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tags point to a version and represent an alternative name that can be used to access the version."
      }
    },
    "com.gcp.artifactregistry_v1#UploadFileMediaResponse": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.artifactregistry_v1#Operation",
          "traits": {
            "smithy.api#documentation": "Operation that will be returned to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to upload a generic artifact."
      }
    },
    "com.gcp.artifactregistry_v1#CheckPrewarmedArtifactResponse": {
      "type": "structure",
      "members": {
        "prewarmedArtifact": {
          "target": "com.gcp.artifactregistry_v1#PrewarmedArtifact",
          "traits": {
            "smithy.api#documentation": "The prewarmed artifact that was checked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for checking an artifact for streaming."
      }
    },
    "com.gcp.artifactregistry_v1#ImageManifest": {
      "type": "structure",
      "members": {
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`."
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc."
          }
        },
        "osFeatures": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The required OS features for the image, for example on Windows `win32k`."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`."
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\""
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The manifest digest, in the format \"sha256:\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a single image manifest within a multi-arch image."
      }
    },
    "com.gcp.artifactregistry_v1#UsernamePasswordCredentials": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username to access the remote repository."
          }
        },
        "passwordSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password credentials."
      }
    },
    "com.gcp.artifactregistry_v1#ImportGoogetArtifactsErrorInfo": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.artifactregistry_v1#ImportGoogetArtifactsGcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location requested."
          }
        },
        "error": {
          "target": "com.gcp.artifactregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The detailed error status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information explaining why a package was not imported."
      }
    },
    "com.gcp.artifactregistry_v1#UploadAptArtifactMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for uploading artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#BatchDeleteVersionsRequest": {
      "type": "structure",
      "members": {
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the request is performed without deleting data, following AIP-163."
          }
        },
        "names": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to delete multiple versions across a repository."
      }
    },
    "com.gcp.artifactregistry_v1#ListNpmPackagesResponse": {
      "type": "structure",
      "members": {
        "npmPackages": {
          "target": "com.gcp.artifactregistry_v1#NpmPackageList",
          "traits": {
            "smithy.api#documentation": "The npm packages returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing npm packages."
      }
    },
    "com.gcp.artifactregistry_v1#NpmPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#NpmPackage"
      }
    },
    "com.gcp.artifactregistry_v1#AptArtifact": {
      "type": "structure",
      "members": {
        "component": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Repository component of the artifact."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Apt package name of the artifact."
          }
        },
        "packageType": {
          "target": "com.gcp.artifactregistry_v1#AptArtifactPackageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. An artifact is a binary or source package."
          }
        },
        "controlFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Contents of the artifact's control metadata file."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Artifact Registry resource name of the artifact."
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Operating system architecture of the artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
      }
    },
    "com.gcp.artifactregistry_v1#AptArtifactPackageTypeEnum": {
      "type": "enum",
      "members": {
        "PACKAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_TYPE_UNSPECIFIED"
          }
        },
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#PrewarmArtifactRequest": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.gcp.artifactregistry_v1#PrewarmPlatform",
          "traits": {
            "smithy.api#documentation": "Optional. The platform (architecture and OS) of the image or tag."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
          }
        },
        "streamLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, old artifact will be evicted to make room for the new artifact."
          }
        },
        "retentionDays": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for prewarming an artifact for streaming."
      }
    },
    "com.gcp.artifactregistry_v1#ListRulesResponse": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RuleList",
          "traits": {
            "smithy.api#documentation": "The rules returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of rules, or empty if there are no more rules to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing rules."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1Rule"
      }
    },
    "com.gcp.artifactregistry_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.artifactregistry_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.artifactregistry_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Binding"
      }
    },
    "com.gcp.artifactregistry_v1#YumRepository": {
      "type": "structure",
      "members": {
        "publicRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
          "traits": {
            "smithy.api#documentation": "One of the publicly available Yum repositories supported by Artifact Registry."
          }
        },
        "customRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
          "traits": {
            "smithy.api#documentation": "Customer-specified remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Yum remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#ImportYumArtifactsRequest": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.artifactregistry_v1#ImportYumArtifactsGcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location where input content is located."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to import new yum artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#NpmRepository": {
      "type": "structure",
      "members": {
        "publicRepository": {
          "target": "com.gcp.artifactregistry_v1#NpmRepositoryPublicRepositoryEnum",
          "traits": {
            "smithy.api#documentation": "One of the publicly available Npm repositories supported by Artifact Registry."
          }
        },
        "customRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
          "traits": {
            "smithy.api#documentation": "Customer-specified remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Npm remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#NpmRepositoryPublicRepositoryEnum": {
      "type": "enum",
      "members": {
        "PUBLIC_REPOSITORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_REPOSITORY_UNSPECIFIED"
          }
        },
        "NPMJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPMJS"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoogetArtifactRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request to upload an artifact."
      }
    },
    "com.gcp.artifactregistry_v1#PrewarmPlatform": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\"."
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform (architecture and OS) of the image. This is a sub-message."
      }
    },
    "com.gcp.artifactregistry_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.artifactregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.artifactregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.artifactregistry_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoModuleMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for uploading go modules."
      }
    },
    "com.gcp.artifactregistry_v1#ListRepositoriesResponse": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.gcp.artifactregistry_v1#RepositoryList",
          "traits": {
            "smithy.api#documentation": "The repositories returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing repositories."
      }
    },
    "com.gcp.artifactregistry_v1#RepositoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Repository"
      }
    },
    "com.gcp.artifactregistry_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.artifactregistry_v1#VulnerabilityScanningConfig": {
      "type": "structure",
      "members": {
        "enablementConfig": {
          "target": "com.gcp.artifactregistry_v1#VulnerabilityScanningConfigEnablementConfigEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Config for whether this repository has vulnerability scanning disabled."
          }
        },
        "enablementState": {
          "target": "com.gcp.artifactregistry_v1#VulnerabilityScanningConfigEnablementStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of feature enablement, combining repository enablement config and API enablement state."
          }
        },
        "lastEnableTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time this repository config was enabled."
          }
        },
        "enablementStateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Reason for the repository state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state."
      }
    },
    "com.gcp.artifactregistry_v1#VulnerabilityScanningConfigEnablementConfigEnum": {
      "type": "enum",
      "members": {
        "ENABLEMENT_CONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLEMENT_CONFIG_UNSPECIFIED"
          }
        },
        "INHERITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERITED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#VulnerabilityScanningConfigEnablementStateEnum": {
      "type": "enum",
      "members": {
        "ENABLEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLEMENT_STATE_UNSPECIFIED"
          }
        },
        "SCANNING_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_UNSUPPORTED"
          }
        },
        "SCANNING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_DISABLED"
          }
        },
        "SCANNING_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCANNING_ACTIVE"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#AptRepository": {
      "type": "structure",
      "members": {
        "publicRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
          "traits": {
            "smithy.api#documentation": "One of the publicly available Apt repositories supported by Artifact Registry."
          }
        },
        "customRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
          "traits": {
            "smithy.api#documentation": "Customer-specified remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for an Apt remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#KfpArtifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A detailed representation of a KFP artifact."
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsResponse": {
      "type": "structure",
      "members": {
        "aptArtifacts": {
          "target": "com.gcp.artifactregistry_v1#AptArtifactList",
          "traits": {
            "smithy.api#documentation": "The Apt artifacts imported."
          }
        },
        "errors": {
          "target": "com.gcp.artifactregistry_v1#ImportAptArtifactsErrorInfoList",
          "traits": {
            "smithy.api#documentation": "Detailed error info for packages that were not imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message from importing APT artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#AptArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#AptArtifact"
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsErrorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#ImportAptArtifactsErrorInfo"
      }
    },
    "com.gcp.artifactregistry_v1#CheckPrewarmedArtifactRequest": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
          }
        },
        "streamLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for checking an artifact for streaming."
      }
    },
    "com.gcp.artifactregistry_v1#ImportYumArtifactsErrorInfo": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.artifactregistry_v1#ImportYumArtifactsGcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location requested."
          }
        },
        "error": {
          "target": "com.gcp.artifactregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The detailed error status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information explaining why a package was not imported."
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsErrorInfo": {
      "type": "structure",
      "members": {
        "gcsSource": {
          "target": "com.gcp.artifactregistry_v1#ImportAptArtifactsGcsSource",
          "traits": {
            "smithy.api#documentation": "Google Cloud Storage location requested."
          }
        },
        "error": {
          "target": "com.gcp.artifactregistry_v1#Status",
          "traits": {
            "smithy.api#documentation": "The detailed error status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error information explaining why a package was not imported."
      }
    },
    "com.gcp.artifactregistry_v1#RemovePrewarmedArtifactResponse": {
      "type": "structure",
      "members": {
        "prewarmedArtifact": {
          "target": "com.gcp.artifactregistry_v1#PrewarmedArtifact",
          "traits": {
            "smithy.api#documentation": "The prewarmed artifact that was removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for removing an artifact from streaming."
      }
    },
    "com.gcp.artifactregistry_v1#DockerImage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest."
          }
        },
        "tags": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Tags attached to this image."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource."
          }
        },
        "buildTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the docker image was last updated."
          }
        },
        "imageSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource."
          }
        },
        "artifactType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource."
          }
        },
        "imageManifests": {
          "target": "com.gcp.artifactregistry_v1#ImageManifestList",
          "traits": {
            "smithy.api#documentation": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
          }
        },
        "uploadTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the image was uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime"
      }
    },
    "com.gcp.artifactregistry_v1#ImageManifestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#ImageManifest"
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1File": {
      "type": "structure",
      "members": {
        "hashes": {
          "target": "com.gcp.artifactregistry_v1#HashList",
          "traits": {
            "smithy.api#documentation": "The hashes of the file content."
          }
        },
        "fetchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote."
          }
        },
        "annotations": {
          "target": "com.gcp.artifactregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Client specified annotations."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the File was last updated."
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Package or Version that owns this file, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the File in bytes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the File was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files store content that is potentially associated with Packages or Versions."
      }
    },
    "com.gcp.artifactregistry_v1#HashList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Hash"
      }
    },
    "com.gcp.artifactregistry_v1#DownloadFileResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response to download a file."
      }
    },
    "com.gcp.artifactregistry_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.artifactregistry_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.artifactregistry_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Location"
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-specified publicly available remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoModuleMediaResponse": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.artifactregistry_v1#Operation",
          "traits": {
            "smithy.api#documentation": "Operation to be returned to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to upload a Go module."
      }
    },
    "com.gcp.artifactregistry_v1#ListDockerImagesResponse": {
      "type": "structure",
      "members": {
        "dockerImages": {
          "target": "com.gcp.artifactregistry_v1#DockerImageList",
          "traits": {
            "smithy.api#documentation": "The docker images returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing docker images."
      }
    },
    "com.gcp.artifactregistry_v1#DockerImageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#DockerImage"
      }
    },
    "com.gcp.artifactregistry_v1#UpstreamCredentials": {
      "type": "structure",
      "members": {
        "usernamePasswordCredentials": {
          "target": "com.gcp.artifactregistry_v1#UsernamePasswordCredentials",
          "traits": {
            "smithy.api#documentation": "Use username and password to access the remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The credentials to access the remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "type": "structure",
      "members": {
        "repositoryBase": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepositoryRepositoryBaseEnum",
          "traits": {
            "smithy.api#documentation": "A common public repository base for Apt."
          }
        },
        "repositoryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom field to define a path to a specific repository from the base."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publicly available Apt repositories constructed from a common repository base and a custom repository path."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepositoryRepositoryBaseEnum": {
      "type": "enum",
      "members": {
        "REPOSITORY_BASE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPOSITORY_BASE_UNSPECIFIED"
          }
        },
        "DEBIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBIAN"
          }
        },
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UBUNTU"
          }
        },
        "DEBIAN_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBIAN_SNAPSHOT"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#Package": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the package was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the package."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the package was last updated. This includes publishing a new version of the package."
          }
        },
        "annotations": {
          "target": "com.gcp.artifactregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Client specified annotations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Packages are named collections of versions."
      }
    },
    "com.gcp.artifactregistry_v1#ListPythonPackagesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
          }
        },
        "pythonPackages": {
          "target": "com.gcp.artifactregistry_v1#PythonPackageList",
          "traits": {
            "smithy.api#documentation": "The python packages returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing python packages."
      }
    },
    "com.gcp.artifactregistry_v1#PythonPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#PythonPackage"
      }
    },
    "com.gcp.artifactregistry_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoogetArtifactResponse": {
      "type": "structure",
      "members": {
        "googetArtifacts": {
          "target": "com.gcp.artifactregistry_v1#GoogetArtifactList",
          "traits": {
            "smithy.api#documentation": "The GooGet artifacts updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
      }
    },
    "com.gcp.artifactregistry_v1#GoogetArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#GoogetArtifact"
      }
    },
    "com.gcp.artifactregistry_v1#DockerRepositoryConfig": {
      "type": "structure",
      "members": {
        "immutableTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type."
      }
    },
    "com.gcp.artifactregistry_v1#ListPackagesResponse": {
      "type": "structure",
      "members": {
        "packages": {
          "target": "com.gcp.artifactregistry_v1#PackageList",
          "traits": {
            "smithy.api#documentation": "The packages returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing packages."
      }
    },
    "com.gcp.artifactregistry_v1#PackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Package"
      }
    },
    "com.gcp.artifactregistry_v1#UploadGoModuleRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request to upload a Go module."
      }
    },
    "com.gcp.artifactregistry_v1#MavenRepository": {
      "type": "structure",
      "members": {
        "publicRepository": {
          "target": "com.gcp.artifactregistry_v1#MavenRepositoryPublicRepositoryEnum",
          "traits": {
            "smithy.api#documentation": "One of the publicly available Maven repositories supported by Artifact Registry."
          }
        },
        "customRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
          "traits": {
            "smithy.api#documentation": "Customer-specified remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Maven remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#MavenRepositoryPublicRepositoryEnum": {
      "type": "enum",
      "members": {
        "PUBLIC_REPOSITORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_REPOSITORY_UNSPECIFIED"
          }
        },
        "MAVEN_CENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAVEN_CENTRAL"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#RemoteRepositoryConfig": {
      "type": "structure",
      "members": {
        "aptRepository": {
          "target": "com.gcp.artifactregistry_v1#AptRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for an Apt remote repository."
          }
        },
        "npmRepository": {
          "target": "com.gcp.artifactregistry_v1#NpmRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for an Npm remote repository."
          }
        },
        "pythonRepository": {
          "target": "com.gcp.artifactregistry_v1#PythonRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for a Python remote repository."
          }
        },
        "yumRepository": {
          "target": "com.gcp.artifactregistry_v1#YumRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for a Yum remote repository."
          }
        },
        "dockerRepository": {
          "target": "com.gcp.artifactregistry_v1#DockerRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for a Docker remote repository."
          }
        },
        "mavenRepository": {
          "target": "com.gcp.artifactregistry_v1#MavenRepository",
          "traits": {
            "smithy.api#documentation": "Specific settings for a Maven remote repository."
          }
        },
        "disableUpstreamValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials."
          }
        },
        "commonRepository": {
          "target": "com.gcp.artifactregistry_v1#CommonRemoteRepository",
          "traits": {
            "smithy.api#documentation": "Common remote repository settings. Used as the remote repository upstream URL."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the remote source."
          }
        },
        "upstreamCredentials": {
          "target": "com.gcp.artifactregistry_v1#UpstreamCredentials",
          "traits": {
            "smithy.api#documentation": "Optional. The credentials used to access the remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remote repository configuration."
      }
    },
    "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer-specified publicly available remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#ImportYumArtifactsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for importing artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#ImportGoogetArtifactsResponse": {
      "type": "structure",
      "members": {
        "googetArtifacts": {
          "target": "com.gcp.artifactregistry_v1#GoogetArtifactList",
          "traits": {
            "smithy.api#documentation": "The GooGet artifacts updated."
          }
        },
        "errors": {
          "target": "com.gcp.artifactregistry_v1#ImportGoogetArtifactsErrorInfoList",
          "traits": {
            "smithy.api#documentation": "Detailed error info for packages that were not imported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message from importing artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#ImportGoogetArtifactsErrorInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#ImportGoogetArtifactsErrorInfo"
      }
    },
    "com.gcp.artifactregistry_v1#PythonRepository": {
      "type": "structure",
      "members": {
        "publicRepository": {
          "target": "com.gcp.artifactregistry_v1#PythonRepositoryPublicRepositoryEnum",
          "traits": {
            "smithy.api#documentation": "One of the publicly available Python repositories supported by Artifact Registry."
          }
        },
        "customRepository": {
          "target": "com.gcp.artifactregistry_v1#GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
          "traits": {
            "smithy.api#documentation": "Customer-specified remote repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a Python remote repository."
      }
    },
    "com.gcp.artifactregistry_v1#PythonRepositoryPublicRepositoryEnum": {
      "type": "enum",
      "members": {
        "PUBLIC_REPOSITORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_REPOSITORY_UNSPECIFIED"
          }
        },
        "PYPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYPI"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#ListTagsResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.artifactregistry_v1#TagList",
          "traits": {
            "smithy.api#documentation": "The tags returned."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing tags."
      }
    },
    "com.gcp.artifactregistry_v1#TagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#Tag"
      }
    },
    "com.gcp.artifactregistry_v1#ImportAptArtifactsMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The operation metadata for importing artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#UploadGenericArtifactMediaResponse": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.gcp.artifactregistry_v1#Operation",
          "traits": {
            "smithy.api#documentation": "Operation that will be returned to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to upload a generic artifact."
      }
    },
    "com.gcp.artifactregistry_v1#ListMavenArtifactsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
          }
        },
        "mavenArtifacts": {
          "target": "com.gcp.artifactregistry_v1#MavenArtifactList",
          "traits": {
            "smithy.api#documentation": "The maven artifacts returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from listing maven artifacts."
      }
    },
    "com.gcp.artifactregistry_v1#MavenArtifactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.artifactregistry_v1#MavenArtifact"
      }
    },
    "com.gcp.artifactregistry_v1#Repository": {
      "type": "structure",
      "members": {
        "disallowUnspecifiedMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard."
          }
        },
        "platformLogsConfig": {
          "target": "com.gcp.artifactregistry_v1#PlatformLogsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for platform logs."
          }
        },
        "registryUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this repository satisfies PZS."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether or not this repository satisfies PZI."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the repository was created."
          }
        },
        "dockerConfig": {
          "target": "com.gcp.artifactregistry_v1#DockerRepositoryConfig",
          "traits": {
            "smithy.api#documentation": "Docker repository config contains repository level configuration for the repositories of docker type."
          }
        },
        "vulnerabilityScanningConfig": {
          "target": "com.gcp.artifactregistry_v1#VulnerabilityScanningConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Config and state for vulnerability scanning of resources within this Repository."
          }
        },
        "format": {
          "target": "com.gcp.artifactregistry_v1#RepositoryFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The format of packages that are stored in the repository."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the repository was last updated."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-provided description of the repository."
          }
        },
        "remoteRepositoryConfig": {
          "target": "com.gcp.artifactregistry_v1#RemoteRepositoryConfig",
          "traits": {
            "smithy.api#documentation": "Configuration specific for a Remote Repository."
          }
        },
        "mode": {
          "target": "com.gcp.artifactregistry_v1#RepositoryModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The mode of the repository."
          }
        },
        "cleanupPolicies": {
          "target": "com.gcp.artifactregistry_v1#CleanupPolicyMap",
          "traits": {
            "smithy.api#documentation": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length."
          }
        },
        "mavenConfig": {
          "target": "com.gcp.artifactregistry_v1#MavenRepositoryConfig",
          "traits": {
            "smithy.api#documentation": "Maven repository config contains repository level configuration for the repositories of maven type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
          }
        },
        "labels": {
          "target": "com.gcp.artifactregistry_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
          }
        },
        "virtualRepositoryConfig": {
          "target": "com.gcp.artifactregistry_v1#VirtualRepositoryConfig",
          "traits": {
            "smithy.api#documentation": "Configuration specific for a Virtual Repository."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs."
          }
        },
        "cleanupPolicyDryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Repository for storing artifacts with a specific format."
      }
    },
    "com.gcp.artifactregistry_v1#RepositoryFormatEnum": {
      "type": "enum",
      "members": {
        "FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORMAT_UNSPECIFIED"
          }
        },
        "DOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCKER"
          }
        },
        "MAVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAVEN"
          }
        },
        "NPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NPM"
          }
        },
        "APT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APT"
          }
        },
        "YUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YUM"
          }
        },
        "GOOGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGET"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "KFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KFP"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GO"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUBY"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#RepositoryModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "STANDARD_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_REPOSITORY"
          }
        },
        "VIRTUAL_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL_REPOSITORY"
          }
        },
        "REMOTE_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_REPOSITORY"
          }
        },
        "AOSS_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AOSS_REPOSITORY"
          }
        },
        "ASSURED_OSS_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSURED_OSS_REPOSITORY"
          }
        }
      }
    },
    "com.gcp.artifactregistry_v1#CleanupPolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.artifactregistry_v1#CleanupPolicy"
      }
    },
    "com.gcp.artifactregistry_v1#UploadFileRequest": {
      "type": "structure",
      "members": {
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to upload a file."
      }
    },
    "com.gcp.artifactregistry_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.artifactregistry_v1#StringList",
          "traits": {
[...]
