{
  "smithy": "2.0",
  "metadata": {
    "service": "authorizedbuyersmarketplace",
    "version": "v1",
    "title": "Authorized Buyers Marketplace API",
    "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/"
  },
  "shapes": {
    "com.gcp.authorizedbuyersmarketplace_v1#FirstPartyMobileApplicationTargeting": {
      "type": "structure",
      "members": {
        "targetedAppIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of application IDs to be included."
          }
        },
        "excludedAppIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of application IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirements": {
      "type": "structure",
      "members": {
        "skippableAdType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsSkippableAdTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives."
          }
        },
        "maxAdDurationMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives."
          }
        },
        "creativeFormat": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativeFormatEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals."
          }
        },
        "creativeSafeFrameCompatibility": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativeSafeFrameCompatibilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies whether the creative is safeFrame compatible."
          }
        },
        "programmaticCreativeSource": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsProgrammaticCreativeSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer."
          }
        },
        "creativePreApprovalPolicy": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativePreApprovalPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the creative pre-approval policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message captures data about the creatives in the deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsSkippableAdTypeEnum": {
      "type": "enum",
      "members": {
        "SKIPPABLE_AD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE_AD_TYPE_UNSPECIFIED"
          }
        },
        "SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPABLE"
          }
        },
        "INSTREAM_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM_SELECT"
          }
        },
        "NOT_SKIPPABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_SKIPPABLE"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativeFormatEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_UNSPECIFIED"
          }
        },
        "DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativeSafeFrameCompatibilityEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED"
          }
        },
        "COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPATIBLE"
          }
        },
        "INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsProgrammaticCreativeSourceEnum": {
      "type": "enum",
      "members": {
        "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED"
          }
        },
        "ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER"
          }
        },
        "PUBLISHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirementsCreativePreApprovalPolicyEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED"
          }
        },
        "SELLER_PRE_APPROVAL_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_PRE_APPROVAL_REQUIRED"
          }
        },
        "SELLER_PRE_APPROVAL_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Note": {
      "type": "structure",
      "members": {
        "creatorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#NoteCreatorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role who created the note."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When this note was created."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the note. Maximum length is 1024 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A text note attached to the proposal to facilitate the communication between buyers and sellers."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#NoteCreatorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AddCreativeRequest": {
      "type": "structure",
      "members": {
        "creative": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for adding creative to be used in the bidding process for the finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#MarketplaceTargeting": {
      "type": "structure",
      "members": {
        "excludedSensitiveCategoryIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
          }
        },
        "daypartTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DayPartTargeting",
          "traits": {
            "smithy.api#documentation": "Daypart targeting information."
          }
        },
        "userListTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader."
          }
        },
        "geoTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Geo criteria IDs to be included/excluded."
          }
        },
        "inventoryTypeTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Inventory type targeting information."
          }
        },
        "videoTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#VideoTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Video targeting information."
          }
        },
        "placementTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PlacementTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Placement targeting information, for example, URL, mobile applications."
          }
        },
        "inventorySizeTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#InventorySizeTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Inventory sizes to be included/excluded."
          }
        },
        "verticalTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals"
          }
        },
        "technologyTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#TechnologyTargeting",
          "traits": {
            "smithy.api#documentation": "Output only. Technology targeting information, for example, operating system, device category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#RtbMetrics": {
      "type": "structure",
      "members": {
        "bids7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bids in last 7 days."
          }
        },
        "filteredBidRate7Days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids)."
          }
        },
        "mustBidRateCurrentMonth": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Must bid rate for current month."
          }
        },
        "bidRate7Days": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bid rate in last 7 days, calculated by (bids / bid requests)."
          }
        },
        "bidRequests7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Bid requests in last 7 days."
          }
        },
        "adImpressions7Days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ad impressions in last 7 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplication": {
      "type": "structure",
      "members": {
        "externalAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the app."
          }
        },
        "appStore": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplicationAppStoreEnum",
          "traits": {
            "smithy.api#documentation": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A mobile application that contains a external app ID, name, and app store."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplicationAppStoreEnum": {
      "type": "enum",
      "members": {
        "APP_STORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_STORE_TYPE_UNSPECIFIED"
          }
        },
        "APPLE_ITUNES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLE_ITUNES"
          }
        },
        "GOOGLE_PLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_PLAY"
          }
        },
        "ROKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROKU"
          }
        },
        "AMAZON_FIRE_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_FIRE_TV"
          }
        },
        "PLAYSTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYSTATION"
          }
        },
        "XBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XBOX"
          }
        },
        "SAMSUNG_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG_TV"
          }
        },
        "AMAZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON"
          }
        },
        "OPPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPPO"
          }
        },
        "SAMSUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMSUNG"
          }
        },
        "VIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIVO"
          }
        },
        "XIAOMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XIAOMI"
          }
        },
        "LG_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LG_TV"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AuctionPackage": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A description of the auction package."
          }
        },
        "dealOwnerSeatId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
          }
        },
        "floorPriceCpm": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Money",
          "traits": {
            "smithy.api#documentation": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display_name assigned to the auction package."
          }
        },
        "subscribedMediaPlanners": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#MediaPlannerList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder."
          }
        },
        "eligibleSeatIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
          }
        },
        "subscribedBuyers": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the auction package was created."
          }
        },
        "subscribedClients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#MediaPlannerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#MediaPlanner"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DayPart": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
          }
        },
        "dayOfWeek": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DayPartDayOfWeekEnum",
          "traits": {
            "smithy.api#documentation": "Day of week for the period."
          }
        },
        "startTime": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines targeting for a period of time on a specific week day."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DayPartDayOfWeekEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#TimeZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ActivateClientRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for activating a client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#SubscribeClientsRequest": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SubscribeAuctionPackageClients."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Price": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PriceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The pricing type for the deal."
          }
        },
        "amount": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Money",
          "traits": {
            "smithy.api#documentation": "The actual price with currency specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a price and a pricing type for a deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PriceTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPM"
          }
        },
        "CPD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPD"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#FrequencyCap": {
      "type": "structure",
      "members": {
        "maxImpressions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of impressions that can be served to a user within the specified time period."
          }
        },
        "timeUnitType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#FrequencyCapTimeUnitTypeEnum",
          "traits": {
            "smithy.api#documentation": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
          }
        },
        "timeUnitsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message contains details about publisher-set frequency caps of the delivery."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#FrequencyCapTimeUnitTypeEnum": {
      "type": "enum",
      "members": {
        "TIME_UNIT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_UNIT_TYPE_UNSPECIFIED"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINUTE"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUR"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "LIFETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFETIME"
          }
        },
        "POD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POD"
          }
        },
        "STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAM"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#BatchUpdateDealsResponse": {
      "type": "structure",
      "members": {
        "deals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealList",
          "traits": {
            "smithy.api#documentation": "Deals updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for batch updating deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DealList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#Deal"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ListPublisherProfilesResponse": {
      "type": "structure",
      "members": {
        "publisherProfiles": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileList",
          "traits": {
            "smithy.api#documentation": "The list of matching publisher profiles."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for profiles visible to the buyer."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfile"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#UnsubscribeClientsRequest": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for UnsubscribeAuctionPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#InventorySizeTargeting": {
      "type": "structure",
      "members": {
        "excludedInventorySizes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#AdSizeList",
          "traits": {
            "smithy.api#documentation": "A list of inventory sizes to be excluded."
          }
        },
        "targetedInventorySizes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#AdSizeList",
          "traits": {
            "smithy.api#documentation": "A list of inventory sizes to be included."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the size of an ad unit that can be targeted on a bid request."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AdSizeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#AdSize"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#UpdateDealRequest": {
      "type": "structure",
      "members": {
        "deal": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Deal",
          "traits": {
            "smithy.api#documentation": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for updating the deal at the given revision number."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Deal": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
          }
        },
        "buyerPermissionType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealBuyerPermissionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The buyer permission type of the deal."
          }
        },
        "buyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`"
          }
        },
        "privateAuctionTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PrivateAuctionTerms",
          "traits": {
            "smithy.api#documentation": "The terms for private auction deals."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the deal was last updated."
          }
        },
        "targeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#MarketplaceTargeting",
          "traits": {
            "smithy.api#documentation": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized."
          }
        },
        "preferredDealTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PreferredDealTerms",
          "traits": {
            "smithy.api#documentation": "The terms for preferred deals."
          }
        },
        "programmaticGuaranteedTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProgrammaticGuaranteedTerms",
          "traits": {
            "smithy.api#documentation": "The terms for programmatic guaranteed deals."
          }
        },
        "eligibleSeatIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace."
          }
        },
        "deliveryControl": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DeliveryControl",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the pacing set by the publisher."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Free text description for the deal terms."
          }
        },
        "proposalRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
          }
        },
        "dealType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealDealTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of deal."
          }
        },
        "billedBuyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time of the deal creation."
          }
        },
        "creativeRequirements": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CreativeRequirements",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the creatives of this deal."
          }
        },
        "publisherProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`"
          }
        },
        "flightEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals."
          }
        },
        "mediaPlanner": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#MediaPlanner",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
          }
        },
        "flightStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
          }
        },
        "sellerTimeZone": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#TimeZone",
          "traits": {
            "smithy.api#documentation": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal."
          }
        },
        "estimatedGrossSpend": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Money",
          "traits": {
            "smithy.api#documentation": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DealBuyerPermissionTypeEnum": {
      "type": "enum",
      "members": {
        "BUYER_PERMISSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_PERMISSION_TYPE_UNSPECIFIED"
          }
        },
        "NEGOTIATOR_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEGOTIATOR_ONLY"
          }
        },
        "BIDDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDDER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DealDealTypeEnum": {
      "type": "enum",
      "members": {
        "DEAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_TYPE_UNSPECIFIED"
          }
        },
        "PREFERRED_DEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED_DEAL"
          }
        },
        "PRIVATE_AUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_AUCTION"
          }
        },
        "PROGRAMMATIC_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAMMATIC_GUARANTEED"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PrivateAuctionTerms": {
      "type": "structure",
      "members": {
        "floorPrice": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Price",
          "traits": {
            "smithy.api#documentation": "The minimum price buyer has to bid to compete in the private auction."
          }
        },
        "openAuctionAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing terms for Private Auctions."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#UnsubscribeAuctionPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UnsubscribeAuctionPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AddNoteRequest": {
      "type": "structure",
      "members": {
        "note": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Note",
          "traits": {
            "smithy.api#documentation": "The note to add."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to add a note."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#MediaPlanner": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "ancestorNames": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Account ID of the media planner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a media planner account."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#MobileApplicationTargeting": {
      "type": "structure",
      "members": {
        "firstPartyTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#FirstPartyMobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mobile application targeting settings."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#FinalizedDeal": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
          }
        },
        "deal": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Deal",
          "traits": {
            "smithy.api#documentation": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated."
          }
        },
        "dealPausingInfo": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealPausingInfo",
          "traits": {
            "smithy.api#documentation": "Information related to deal pausing for the deal."
          }
        },
        "readyToServe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Programmatic Guaranteed deal is ready for serving."
          }
        },
        "dealServingStatus": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#FinalizedDealDealServingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Serving status of the deal."
          }
        },
        "rtbMetrics": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#RtbMetrics",
          "traits": {
            "smithy.api#documentation": "Real-time bidding metrics for this deal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#FinalizedDealDealServingStatusEnum": {
      "type": "enum",
      "members": {
        "DEAL_SERVING_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_SERVING_STATUS_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDED"
          }
        },
        "PAUSED_BY_BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED_BY_BUYER"
          }
        },
        "PAUSED_BY_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED_BY_SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Contact": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address for the contact."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display_name of the contact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information on how a buyer or seller can be reached."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AdSize": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        },
        "height": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        },
        "type": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#AdSizeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the ad slot size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents size of a single ad slot, or a creative."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AdSizeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PIXEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIXEL"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "FLUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLUID"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DealPausingInfo": {
      "type": "structure",
      "members": {
        "pausingConsented": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pausing is consented between buyer and seller for the deal."
          }
        },
        "pauseReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for the pausing of the deal; empty for active deals."
          }
        },
        "pauseRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealPausingInfoPauseRoleEnum",
          "traits": {
            "smithy.api#documentation": "The party that first paused the deal; unspecified for active deals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to deal pausing."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DealPausingInfoPauseRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DeactivateClientRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for disabling a client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#TechnologyTargeting": {
      "type": "structure",
      "members": {
        "operatingSystemTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#OperatingSystemTargeting",
          "traits": {
            "smithy.api#documentation": "Operating system related targeting information."
          }
        },
        "deviceCategoryTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of device categories to be included/excluded."
          }
        },
        "deviceCapabilityTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of device capabilities to be included/excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about various types of technology."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Proposal": {
      "type": "structure",
      "members": {
        "proposalRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
          }
        },
        "dealType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProposalDealTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of deal the proposal contains."
          }
        },
        "isRenegotiating": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the proposal was previously finalized and is now being renegotiated."
          }
        },
        "sellerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ContactList",
          "traits": {
            "smithy.api#documentation": "Output only. Contact information for the seller."
          }
        },
        "pausingConsented": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
          }
        },
        "buyerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ContactList",
          "traits": {
            "smithy.api#documentation": "Contact information for the buyer."
          }
        },
        "lastUpdaterOrCommentorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProposalLastUpdaterOrCommentorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The role of the last user that either updated the proposal or left a comment."
          }
        },
        "buyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the proposal was last revised."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
          }
        },
        "buyerPrivateData": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PrivateData",
          "traits": {
            "smithy.api#documentation": "Buyer private data (hidden from seller)."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
          }
        },
        "notes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#NoteList",
          "traits": {
            "smithy.api#documentation": "A list of notes from the buyer and the seller attached to this proposal."
          }
        },
        "publisherProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
          }
        },
        "termsAndConditions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProposalStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates the state of the proposal."
          }
        },
        "originatorRole": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProposalOriginatorRoleEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the buyer/seller created the proposal."
          }
        },
        "billedBuyer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProposalDealTypeEnum": {
      "type": "enum",
      "members": {
        "DEAL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_TYPE_UNSPECIFIED"
          }
        },
        "PREFERRED_DEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED_DEAL"
          }
        },
        "PRIVATE_AUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_AUCTION"
          }
        },
        "PROGRAMMATIC_GUARANTEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAMMATIC_GUARANTEED"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ContactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#Contact"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProposalLastUpdaterOrCommentorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#NoteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#Note"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProposalStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "BUYER_REVIEW_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_REVIEW_REQUESTED"
          }
        },
        "SELLER_REVIEW_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER_REVIEW_REQUESTED"
          }
        },
        "BUYER_ACCEPTANCE_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_ACCEPTANCE_REQUESTED"
          }
        },
        "FINALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINALIZED"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProposalOriginatorRoleEnum": {
      "type": "enum",
      "members": {
        "BUYER_SELLER_ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER_SELLER_ROLE_UNSPECIFIED"
          }
        },
        "BUYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUYER"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ListClientUsersResponse": {
      "type": "structure",
      "members": {
        "clientUsers": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ClientUserList",
          "traits": {
            "smithy.api#documentation": "The returned list of client users."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the list method."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ClientUserList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#ClientUser"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ResumeFinalizedDealRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for resuming a finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#OperatingSystemTargeting": {
      "type": "structure",
      "members": {
        "operatingSystemCriteria": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating systems to be included/excluded."
          }
        },
        "operatingSystemVersionCriteria": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "IDs of operating system versions to be included/excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting information for operating systems."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PlacementTargeting": {
      "type": "structure",
      "members": {
        "uriTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#UriTargeting",
          "traits": {
            "smithy.api#documentation": "URLs to be included/excluded."
          }
        },
        "mobileApplicationTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#MobileApplicationTargeting",
          "traits": {
            "smithy.api#documentation": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProgrammaticGuaranteedTerms": {
      "type": "structure",
      "members": {
        "percentShareOfVoice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
          }
        },
        "guaranteedLooks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
          }
        },
        "minimumDailyLooks": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
          }
        },
        "impressionCap": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
          }
        },
        "fixedPrice": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Price",
          "traits": {
            "smithy.api#documentation": "Fixed price for the deal."
          }
        },
        "reservationType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProgrammaticGuaranteedTermsReservationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing terms for Programmatic Guaranteed Deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProgrammaticGuaranteedTermsReservationTypeEnum": {
      "type": "enum",
      "members": {
        "RESERVATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPONSORSHIP"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#TimeOfDay": {
      "type": "structure",
      "members": {
        "hours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
          }
        },
        "seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#SendRfpRequest": {
      "type": "structure",
      "members": {
        "inventorySizeTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#InventorySizeTargeting",
          "traits": {
            "smithy.api#documentation": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported."
          }
        },
        "flightStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
          }
        },
        "preferredDealTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PreferredDealTerms",
          "traits": {
            "smithy.api#documentation": "The terms for preferred deals."
          }
        },
        "programmaticGuaranteedTerms": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProgrammaticGuaranteedTerms",
          "traits": {
            "smithy.api#documentation": "The terms for programmatic guaranteed deals."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the proposal being created by this RFP."
          }
        },
        "client": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`."
          }
        },
        "estimatedGrossSpend": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Money",
          "traits": {
            "smithy.api#documentation": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message that is sent to the publisher. Maximum length is 1024 characters."
          }
        },
        "publisherProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`."
          }
        },
        "geoTargeting": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Geo criteria IDs to be targeted. Refer to Geo tables."
          }
        },
        "flightEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
          }
        },
        "buyerContacts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ContactList",
          "traits": {
            "smithy.api#documentation": "Contact information for the buyer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ClientUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The client user's email address that has to be unique across all users for the same client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`"
          }
        },
        "state": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ClientUserStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the client user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ClientUserStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#SetReadyToServeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for setting ready to serve for a finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#UriTargeting": {
      "type": "structure",
      "members": {
        "targetedUris": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be included."
          }
        },
        "excludedUris": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of URLs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargeting": {
      "type": "structure",
      "members": {
        "inventoryTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargetingInventoryTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of targeted inventory types for the bid request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting of the inventory types a bid request can originate from."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargetingInventoryTypesItemEnum": {
      "type": "enum",
      "members": {
        "INVENTORY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVENTORY_TYPE_UNSPECIFIED"
          }
        },
        "BROWSER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROWSER"
          }
        },
        "MOBILE_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP"
          }
        },
        "VIDEO_PLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_PLAYER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargetingInventoryTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#InventoryTypeTargetingInventoryTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PreferredDealTerms": {
      "type": "structure",
      "members": {
        "fixedPrice": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#Price",
          "traits": {
            "smithy.api#documentation": "Fixed price for the deal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pricing terms for Preferred Deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CancelNegotiationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to cancel an ongoing negotiation."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfile": {
      "type": "structure",
      "members": {
        "programmaticDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
          }
        },
        "domains": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "mobileApps": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplicationList",
          "traits": {
            "smithy.api#documentation": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
          }
        },
        "publisherCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "directDealsContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
          }
        },
        "samplePageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to a sample content page."
          }
        },
        "mediaKitUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to additional marketing and sales materials."
          }
        },
        "audienceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description on the publisher's audience."
          }
        },
        "overview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Overview of the publisher."
          }
        },
        "topHeadlines": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\"."
          }
        },
        "pitchStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
          }
        },
        "isParent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#PublisherProfileMobileApplication"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ActivateClientUserRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for activating a client user."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#AcceptProposalRequest": {
      "type": "structure",
      "members": {
        "proposalRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last known client revision number of the proposal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DayPartTargeting": {
      "type": "structure",
      "members": {
        "timeZoneType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DayPartTargetingTimeZoneTypeEnum",
          "traits": {
            "smithy.api#documentation": "The time zone type of the day parts"
          }
        },
        "dayParts": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DayPartList",
          "traits": {
            "smithy.api#documentation": "The targeted weekdays and times"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Daypart targeting."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DayPartTargetingTimeZoneTypeEnum": {
      "type": "enum",
      "members": {
        "TIME_ZONE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_ZONE_TYPE_UNSPECIFIED"
          }
        },
        "SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELLER"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DayPartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#DayPart"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ListProposalsResponse": {
      "type": "structure",
      "members": {
        "proposals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ProposalList",
          "traits": {
            "smithy.api#documentation": "The list of proposals."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing proposals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ProposalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#Proposal"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#CriteriaTargeting": {
      "type": "structure",
      "members": {
        "targetedCriteriaIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be included."
          }
        },
        "excludedCriteriaIds": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#SubscribeAuctionPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for SubscribeAuctionPackage."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#VideoTargeting": {
      "type": "structure",
      "members": {
        "targetedPositionTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingTargetedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty."
          }
        },
        "excludedPositionTypes": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingExcludedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting information about video."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingTargetedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREROLL"
          }
        },
        "MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDROLL"
          }
        },
        "POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTROLL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingTargetedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingTargetedPositionTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingExcludedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREROLL"
          }
        },
        "MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIDROLL"
          }
        },
        "POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTROLL"
          }
        }
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingExcludedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#VideoTargetingExcludedPositionTypesItemEnum"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DeactivateClientUserRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for deactivating a client user."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#BatchUpdateDealsRequest": {
      "type": "structure",
      "members": {
        "requests": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#UpdateDealRequestList",
          "traits": {
            "smithy.api#documentation": "Required. List of request messages to update deals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for batch updating deals."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#UpdateDealRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#UpdateDealRequest"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PauseFinalizedDealRequest": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for pausing a finalized deal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ListClientsResponse": {
      "type": "structure",
      "members": {
        "clients": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#ClientList",
          "traits": {
            "smithy.api#documentation": "The returned list of clients."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the list method."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.authorizedbuyersmarketplace_v1#Client"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#PrivateData": {
      "type": "structure",
      "members": {
        "referenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Buyers are allowed to store certain types of private data in a proposal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#ListDealsResponse": {
      "type": "structure",
      "members": {
        "deals": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DealList",
          "traits": {
            "smithy.api#documentation": "The list of deals."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing deals in a proposal."
      }
    },
    "com.gcp.authorizedbuyersmarketplace_v1#DeliveryControl": {
      "type": "structure",
      "members": {
        "frequencyCap": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#FrequencyCapList",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest."
          }
        },
        "creativeRotationType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DeliveryControlCreativeRotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available."
          }
        },
        "companionDeliveryType": {
          "target": "com.gcp.authorizedbuyersmarketplace_v1#DeliveryControlCompanionDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies roadblocking in a main companion lineitem."
          }
[...]
