{
  "smithy": "2.0",
  "metadata": {
    "service": "backupdr",
    "version": "v1",
    "title": "Backup and DR Service API",
    "baseUrl": "https://backupdr.googleapis.com/"
  },
  "shapes": {
    "com.gcp.backupdr_v1#FetchBackupsForResourceTypeResponse": {
      "type": "structure",
      "members": {
        "backups": {
          "target": "com.gcp.backupdr_v1#BackupList",
          "traits": {
            "smithy.api#documentation": "The Backups from the specified parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the FetchBackupsForResourceType method."
      }
    },
    "com.gcp.backupdr_v1#BackupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#Backup"
      }
    },
    "com.gcp.backupdr_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.backupdr_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.backupdr_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.backupdr_v1#BackupLocation": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the cloud location. Example: \"us-central1\""
          }
        },
        "type": {
          "target": "com.gcp.backupdr_v1#BackupLocationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupLocation represents a cloud location where a backup can be stored."
      }
    },
    "com.gcp.backupdr_v1#BackupLocationTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        },
        "MULTI_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_REGIONAL"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#AdvancedMachineFeatures": {
      "type": "structure",
      "members": {
        "enableUefiNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable UEFI networking for instance creation."
          }
        },
        "visibleCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of physical cores to expose to an instance. Multiply by the number of threads per core to compute the total number of virtual CPUs to expose to the instance. If unset, the number of cores is inferred from the instance's nominal CPU count and the underlying platform's SMT width."
          }
        },
        "enableNestedVirtualization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable nested virtualization or not (default is false)."
          }
        },
        "threadsPerCore": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies options for controlling advanced machine features."
      }
    },
    "com.gcp.backupdr_v1#BackupRule": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The unique id of this `BackupRule`. The `rule_id` is unique per `BackupPlan`.The `rule_id` must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens. Pattern, /a-z{,62}/."
          }
        },
        "backupRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Configures the duration for which backup data will be kept. It is defined in “days”. The value should be greater than or equal to minimum enforced retention of the backup vault. Minimum value is 1 and maximum value is 36159 for custom retention on-demand backup. Minimum and maximum values are workload specific for all other rules. Note: Longer retention can lead to higher storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
          }
        },
        "standardSchedule": {
          "target": "com.gcp.backupdr_v1#StandardSchedule",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a schedule that runs within the confines of a defined window of time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`BackupRule` binds the backup schedule to a retention policy."
      }
    },
    "com.gcp.backupdr_v1#BackupPlanAssociation": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.backupdr_v1#BackupPlanAssociationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The BackupPlanAssociation resource state."
          }
        },
        "cloudSqlInstanceBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1#CloudSqlInstanceBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud SQL instance's backup plan association properties."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource name of workload on which the backup plan is applied. The format can either be the resource name (e.g., \"projects/my-project/zones/us-central1-a/instances/my-instance\") or the full resource URI (e.g., \"https://www.googleapis.com/compute/v1/projects/my-project/zones/us-central1-a/instances/my-instance\")."
          }
        },
        "backupPlan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of backup plan which needs to be applied on workload. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of data source which will be used as storage location for backups taken. Format : projects/{project}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}"
          }
        },
        "rulesConfigInfo": {
          "target": "com.gcp.backupdr_v1#RuleConfigInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. The config info related to backup rules."
          }
        },
        "filestoreInstanceBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1#FilestoreInstanceBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. Filestore instance's backup plan association properties."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Resource type of workload on which backupplan is applied"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name of BackupPlanAssociation in below format Format : projects/{project}/locations/{location}/backupPlanAssociations/{backupPlanAssociationId}"
          }
        },
        "backupPlanRevisionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "alloydbClusterBackupPlanAssociationProperties": {
          "target": "com.gcp.backupdr_v1#AlloyDBClusterBackupPlanAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Output only. AlloyDB cluster's backup plan association properties."
          }
        },
        "backupPlanRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BackupPlanAssociation represents a single BackupPlanAssociation which contains details like workload, backup plan etc"
      }
    },
    "com.gcp.backupdr_v1#BackupPlanAssociationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#RuleConfigInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#RuleConfigInfo"
      }
    },
    "com.gcp.backupdr_v1#AlloyDBClusterBackupPlanAssociationProperties": {
      "type": "structure",
      "members": {
        "clusterUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The cluster UID of the AlloyDB cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for an AlloyDB cluster backup plan association."
      }
    },
    "com.gcp.backupdr_v1#ListResourceBackupConfigsResponse": {
      "type": "structure",
      "members": {
        "resourceBackupConfigs": {
          "target": "com.gcp.backupdr_v1#ResourceBackupConfigList",
          "traits": {
            "smithy.api#documentation": "The list of ResourceBackupConfigs for the specified scope."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ListResourceBackupConfigs."
      }
    },
    "com.gcp.backupdr_v1#ResourceBackupConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#ResourceBackupConfig"
      }
    },
    "com.gcp.backupdr_v1#WorkforceIdentityBasedManagementURI": {
      "type": "structure",
      "members": {
        "thirdPartyManagementUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Third party Management URI for External Identity Providers."
          }
        },
        "firstPartyManagementUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. First party Management URI for Google Identities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagementURI depending on the Workforce Identity i.e. either 1p or 3p."
      }
    },
    "com.gcp.backupdr_v1#BackupGcpResource": {
      "type": "structure",
      "members": {
        "gcpResourcename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Google Cloud resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource: //\"global\"/\"unspecified\"."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource. Use the Unified Resource Type, eg. compute.googleapis.com/Instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimum details to identify a Google Cloud resource for a backup."
      }
    },
    "com.gcp.backupdr_v1#AlloyDbClusterBackupProperties": {
      "type": "structure",
      "members": {
        "storedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Storage usage of this particular backup"
          }
        },
        "chainId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The chain id of this backup. Backups belonging to the same chain are sharing the same chain id. This property is calculated and maintained by BackupDR."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional text description for the backup."
          }
        },
        "databaseVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The PostgreSQL major version of the AlloyDB cluster when the backup was taken."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AlloyDbClusterBackupProperties represents AlloyDB cluster backup properties. ."
      }
    },
    "com.gcp.backupdr_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.backupdr_v1#FetchMsComplianceMetadataResponse": {
      "type": "structure",
      "members": {
        "isAssuredWorkload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GetMsComplianceMetadata"
      }
    },
    "com.gcp.backupdr_v1#ListDataSourcesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "dataSources": {
          "target": "com.gcp.backupdr_v1#DataSourceList",
          "traits": {
            "smithy.api#documentation": "The list of DataSource instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations."
          }
        },
        "unreachable": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing DataSources."
      }
    },
    "com.gcp.backupdr_v1#DataSourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#DataSource"
      }
    },
    "com.gcp.backupdr_v1#AbandonBackupRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "request message for AbandonBackup."
      }
    },
    "com.gcp.backupdr_v1#EncryptionConfig": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Cloud KMS key name to encrypt backups in this backup vault. Must be in the same region as the vault. Some workload backups like compute disk backups may use their inherited source key instead. Format: projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing the EncryptionConfig of backup vault. This determines how data within the vault is encrypted at rest."
      }
    },
    "com.gcp.backupdr_v1#StandardSchedule": {
      "type": "structure",
      "members": {
        "recurrenceType": {
          "target": "com.gcp.backupdr_v1#StandardScheduleRecurrenceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the `RecurrenceType` for the schedule."
          }
        },
        "daysOfMonth": {
          "target": "com.gcp.backupdr_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "hourlyFrequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies frequency for hourly backups. A hourly frequency of 1 means jobs will run every 1 hour from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. The supported values for each resource type are as follows: * `compute.googleapis.com/Instance`: 4-23 * `compute.googleapis.com/Disk`: 1-23 * `sqladmin.googleapis.com/Instance`: 6-23 * `alloydb.googleapis.com/Cluster`: 1-23 * `file.googleapis.com/Instance`: 1-23 Refer to link https://cloud.google.com/backup-disaster-recovery/docs/concepts/cloud_best_practices for more details."
          }
        },
        "daysOfWeek": {
          "target": "com.gcp.backupdr_v1#StandardScheduleDaysOfWeekItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For example, Europe/Paris."
          }
        },
        "weekDayOfMonth": {
          "target": "com.gcp.backupdr_v1#WeekDayOfMonth",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "months": {
          "target": "com.gcp.backupdr_v1#StandardScheduleMonthsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied."
          }
        },
        "backupWindow": {
          "target": "com.gcp.backupdr_v1#BackupWindow",
          "traits": {
            "smithy.api#documentation": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY."
      }
    },
    "com.gcp.backupdr_v1#StandardScheduleRecurrenceTypeEnum": {
      "type": "enum",
      "members": {
        "RECURRENCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECURRENCE_TYPE_UNSPECIFIED"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.backupdr_v1#StandardScheduleDaysOfWeekItemEnum": {
      "type": "enum",
      "members": {
        "DAY_OF_WEEK_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAY_OF_WEEK_UNSPECIFIED"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONDAY"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TUESDAY"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEDNESDAY"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THURSDAY"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRIDAY"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SATURDAY"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNDAY"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#StandardScheduleDaysOfWeekItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#StandardScheduleDaysOfWeekItemEnum"
      }
    },
    "com.gcp.backupdr_v1#StandardScheduleMonthsItemEnum": {
      "type": "enum",
      "members": {
        "MONTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH_UNSPECIFIED"
          }
        },
        "JANUARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JANUARY"
          }
        },
        "FEBRUARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEBRUARY"
          }
        },
        "MARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MARCH"
          }
        },
        "APRIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APRIL"
          }
        },
        "MAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAY"
          }
        },
        "JUNE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JUNE"
          }
        },
        "JULY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JULY"
          }
        },
        "AUGUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUGUST"
          }
        },
        "SEPTEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEPTEMBER"
          }
        },
        "OCTOBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCTOBER"
          }
        },
        "NOVEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOVEMBER"
          }
        },
        "DECEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECEMBER"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#StandardScheduleMonthsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#StandardScheduleMonthsItemEnum"
      }
    },
    "com.gcp.backupdr_v1#BackupApplianceBackupProperties": {
      "type": "structure",
      "members": {
        "recoveryRangeEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The latest timestamp of data available in this Backup."
          }
        },
        "generationId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The numeric generation ID of the backup (monotonically increasing)."
          }
        },
        "finalizeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this backup object was finalized (if none, backup is not finalized)."
          }
        },
        "recoveryRangeStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The earliest timestamp of data available in this Backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties."
      }
    },
    "com.gcp.backupdr_v1#RestoreBackupRequest": {
      "type": "structure",
      "members": {
        "clearOverridesFieldMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`"
          }
        },
        "computeInstanceTargetEnvironment": {
          "target": "com.gcp.backupdr_v1#ComputeInstanceTargetEnvironment",
          "traits": {
            "smithy.api#documentation": "Compute Engine target environment to be used during restore."
          }
        },
        "regionDiskTargetEnvironment": {
          "target": "com.gcp.backupdr_v1#RegionDiskTargetEnvironment",
          "traits": {
            "smithy.api#documentation": "Region disk target environment to be used during restore."
          }
        },
        "computeInstanceRestoreProperties": {
          "target": "com.gcp.backupdr_v1#ComputeInstanceRestoreProperties",
          "traits": {
            "smithy.api#documentation": "Compute Engine instance properties to be overridden during restore."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "diskTargetEnvironment": {
          "target": "com.gcp.backupdr_v1#DiskTargetEnvironment",
          "traits": {
            "smithy.api#documentation": "Disk target environment to be used during restore."
          }
        },
        "diskRestoreProperties": {
          "target": "com.gcp.backupdr_v1#DiskRestoreProperties",
          "traits": {
            "smithy.api#documentation": "Disk properties to be overridden during restore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for restoring from a Backup."
      }
    },
    "com.gcp.backupdr_v1#AlloyDBClusterDataSourceReferenceProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference."
      }
    },
    "com.gcp.backupdr_v1#ComputeInstanceTargetEnvironment": {
      "type": "structure",
      "members": {
        "useProjectServiceAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use the project service account for the Compute Engine instance restore."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target project for the Compute Engine instance."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The zone of the Compute Engine instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ComputeInstanceTargetEnvironment represents Compute Engine target environment to be used during restore."
      }
    },
    "com.gcp.backupdr_v1#BackupVault": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.backupdr_v1#BackupVaultStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The BackupVault resource instance state."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.backupdr_v1#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption config of the backup vault."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
          }
        },
        "backupCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of backups in this backup vault."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the BackupVault instance (2048 characters or less)."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there."
          }
        },
        "deletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Set to true when there are no backups nested under this resource."
          }
        },
        "accessRestriction": {
          "target": "com.gcp.backupdr_v1#BackupVaultAccessRestrictionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Note: This field is added for future use case and will not be supported in the current release. Access restriction for the backup vault. Default value is WITHIN_ORGANIZATION if not provided during creation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "backupRetentionInheritance": {
          "target": "com.gcp.backupdr_v1#BackupVaultBackupRetentionInheritanceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Setting for how a backup's enforced retention end time is inherited."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time after which the BackupVault resource is locked."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        },
        "annotations": {
          "target": "com.gcp.backupdr_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
          }
        },
        "backupMinimumEnforcedRetentionDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
          }
        },
        "totalStoredBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of the storage used by all backup resources."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable after resource creation until resource deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a BackupVault object."
      }
    },
    "com.gcp.backupdr_v1#BackupVaultStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.backupdr_v1#BackupVaultAccessRestrictionEnum": {
      "type": "enum",
      "members": {
        "ACCESS_RESTRICTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_RESTRICTION_UNSPECIFIED"
          }
        },
        "WITHIN_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_PROJECT"
          }
        },
        "WITHIN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_ORGANIZATION"
          }
        },
        "UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESTRICTED"
          }
        },
        "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#BackupVaultBackupRetentionInheritanceEnum": {
      "type": "enum",
      "members": {
        "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED"
          }
        },
        "INHERIT_VAULT_RETENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERIT_VAULT_RETENTION"
          }
        },
        "MATCH_BACKUP_EXPIRE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_BACKUP_EXPIRE_TIME"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#RuleConfigInfo": {
      "type": "structure",
      "members": {
        "lastBackupError": {
          "target": "com.gcp.backupdr_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. google.rpc.Status object to store the last backup error."
          }
        },
        "lastSuccessfulBackupConsistencyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The point in time when the last successful backup was captured from the source."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Backup Rule id fetched from backup plan."
          }
        },
        "lastBackupState": {
          "target": "com.gcp.backupdr_v1#RuleConfigInfoLastBackupStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The last backup state for rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for rules config info."
      }
    },
    "com.gcp.backupdr_v1#RuleConfigInfoLastBackupStateEnum": {
      "type": "enum",
      "members": {
        "LAST_BACKUP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_BACKUP_STATE_UNSPECIFIED"
          }
        },
        "FIRST_BACKUP_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_BACKUP_PENDING"
          }
        },
        "PERMISSION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_DENIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#PitrSettings": {
      "type": "structure",
      "members": {
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of days to retain the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Point in time recovery settings of the backup configuration resource."
      }
    },
    "com.gcp.backupdr_v1#ManagementServer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.backupdr_v1#ManagementServerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the ManagementServer resource."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1#ManagementServerStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The ManagementServer state."
          }
        },
        "oauth2ClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The OAuth 2.0 client id is required to make API calls to the Backup and DR instance API of this ManagementServer. This is the value that should be provided in the 'aud' field of the OIDC ID Token (see openid specification https://openid.net/specs/openid-connect-core-1_0.html#IDToken)."
          }
        },
        "workforceIdentityBasedManagementUri": {
          "target": "com.gcp.backupdr_v1#WorkforceIdentityBasedManagementURI",
          "traits": {
            "smithy.api#documentation": "Output only. The hostnames of the exposed AGM endpoints for both types of user i.e. 1p and 3p, used to connect AGM/RM UI."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata. Labels currently defined: 1. migrate_from_go= If set to true, the MS is created in migration ready mode."
          }
        },
        "baProxyUri": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The hostname or ip address of the exposed AGM endpoints, used by BAs to connect to BA proxy."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "workforceIdentityBasedOauth2ClientId": {
          "target": "com.gcp.backupdr_v1#WorkforceIdentityBasedOAuth2ClientID",
          "traits": {
            "smithy.api#documentation": "Output only. The OAuth client IDs for both types of user i.e. 1p and 3p."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the ManagementServer instance (2048 characters or less)."
          }
        },
        "managementUri": {
          "target": "com.gcp.backupdr_v1#ManagementURI",
          "traits": {
            "smithy.api#documentation": "Output only. The hostname or ip address of the exposed AGM endpoints, used by clients to connect to AGM/RD graphical user interface and APIs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. The resource name."
          }
        },
        "networks": {
          "target": "com.gcp.backupdr_v1#NetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. VPC networks to which the ManagementServer instance is connected. For this version, only a single network is supported. This field is optional if MS is created without PSA"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was updated."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the instance was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagementServer describes a single BackupDR ManagementServer instance."
      }
    },
    "com.gcp.backupdr_v1#ManagementServerTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "BACKUP_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_RESTORE"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#ManagementServerStateEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "REPAIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPAIRING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#NetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#NetworkConfig"
      }
    },
    "com.gcp.backupdr_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.backupdr_v1#DataSourceReference": {
      "type": "structure",
      "members": {
        "dataSourceBackupConfigState": {
          "target": "com.gcp.backupdr_v1#DataSourceReferenceDataSourceBackupConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The backup configuration state of the DataSource."
          }
        },
        "dataSourceGcpResourceInfo": {
          "target": "com.gcp.backupdr_v1#DataSourceGcpResourceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The Google Cloud resource that the DataSource is associated with."
          }
        },
        "totalStoredBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total size of the storage used by all backup resources for the referenced datasource."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the DataSource. Format: projects/{project}/locations/{location}/backupVaults/{backupVault}/dataSources/{dataSource}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the DataSourceReference was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the DataSourceReference. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}"
          }
        },
        "dataSourceBackupCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of backups in the DataSource."
          }
        },
        "dataSourceBackupConfigInfo": {
          "target": "com.gcp.backupdr_v1#DataSourceBackupConfigInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of backup configuration on the DataSource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataSourceReference is a reference to a DataSource resource."
      }
    },
    "com.gcp.backupdr_v1#DataSourceReferenceDataSourceBackupConfigStateEnum": {
      "type": "enum",
      "members": {
        "BACKUP_CONFIG_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_CONFIG_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PASSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSIVE"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#DataSourceGcpResourceInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance"
          }
        },
        "filestoreInstanceProperties": {
          "target": "com.gcp.backupdr_v1#FilestoreInstanceDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the Filestore instance."
          }
        },
        "gcpResourcename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\""
          }
        },
        "cloudSqlInstanceProperties": {
          "target": "com.gcp.backupdr_v1#CloudSqlInstanceDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the Cloud SQL instance."
          }
        },
        "alloyDbClusterProperties": {
          "target": "com.gcp.backupdr_v1#AlloyDBClusterDataSourceReferenceProperties",
          "traits": {
            "smithy.api#documentation": "Output only. The properties of the AlloyDB cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Google Cloud resource that the DataSource is associated with."
      }
    },
    "com.gcp.backupdr_v1#Entry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Key for the metadata entry."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value for the metadata entry. These are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on values is that their size must be less than or equal to 262144 bytes (256 KiB)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key/value pair to be used for storing metadata."
      }
    },
    "com.gcp.backupdr_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.backupdr_v1#ManagementURI": {
      "type": "structure",
      "members": {
        "webUi": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ManagementServer AGM/RD WebUI URL."
          }
        },
        "api": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ManagementServer AGM/RD API URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ManagementURI for the Management Server resource."
      }
    },
    "com.gcp.backupdr_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "bindings": {
          "target": "com.gcp.backupdr_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.backupdr_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.backupdr_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#Binding"
      }
    },
    "com.gcp.backupdr_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#AuditConfig"
      }
    },
    "com.gcp.backupdr_v1#ServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email address of the service account."
          }
        },
        "scopes": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of scopes to be made available for this service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A service account."
      }
    },
    "com.gcp.backupdr_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.backupdr_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.backupdr_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#Location"
      }
    },
    "com.gcp.backupdr_v1#InitializeParams": {
      "type": "structure",
      "members": {
        "replicaZones": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. URL of the zone where the disk should be created. Required for each regional disk associated with the instance."
          }
        },
        "diskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the parameters to initialize this disk."
      }
    },
    "com.gcp.backupdr_v1#Trial": {
      "type": "structure",
      "members": {
        "endReason": {
          "target": "com.gcp.backupdr_v1#TrialEndReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The reason for ending the trial."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the trial was subscribed."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial"
          }
        },
        "state": {
          "target": "com.gcp.backupdr_v1#TrialStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the trial."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the trial will expire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Trial for a project."
      }
    },
    "com.gcp.backupdr_v1#TrialEndReasonEnum": {
      "type": "enum",
      "members": {
        "END_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_REASON_UNSPECIFIED"
          }
        },
        "MOVE_TO_PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOVE_TO_PAID"
          }
        },
        "DISCONTINUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONTINUED"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#TrialStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBED"
          }
        },
        "UNSUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUBSCRIBED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ELIGIBLE"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#FilestoreInstanceDataSourceProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance backed up by the datasource."
          }
        },
        "instanceCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instance creation timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FilestoreInstanceDataSourceProperties represents the properties of a Filestore resource that are stored in the DataSource. ."
      }
    },
    "com.gcp.backupdr_v1#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.backupdr_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.backupdr_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.backupdr_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.backupdr_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.backupdr_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#DiskBackupProperties": {
      "type": "structure",
      "members": {
        "licenses": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of publicly available licenses that are applicable to this backup. This is applicable if the original image had licenses attached, e.g. Windows image."
          }
        },
        "provisionedIops": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of IOPS provisioned for the source disk."
          }
        },
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Size(in GB) of the source disk."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region and zone are mutually exclusive fields. The URL of the region of the source disk."
          }
        },
        "accessMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access mode of the source disk."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the Zone where the source disk."
          }
        },
        "sourceDisk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source disk used to create this backup."
          }
        },
        "enableConfidentialCompute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the source disk is using confidential compute mode."
          }
        },
        "physicalBlockSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The physical block size of the source disk."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the type of the disk."
          }
        },
        "replicaZones": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The URL of the Zones where the source disk should be replicated."
          }
        },
        "guestFlush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Defines if the guest flush is enabled for the source disk. Default value is false."
          }
        },
        "guestOsFeature": {
          "target": "com.gcp.backupdr_v1#GuestOsFeatureList",
          "traits": {
            "smithy.api#documentation": "A list of guest OS features that are applicable to this backup."
          }
        },
        "provisionedThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of throughput provisioned for the source disk."
          }
        },
        "architecture": {
          "target": "com.gcp.backupdr_v1#DiskBackupPropertiesArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "The architecture of the source disk. Valid values are ARM64 or X86_64."
          }
        },
        "storagePool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage pool of the source disk."
          }
        },
        "labels": {
          "target": "com.gcp.backupdr_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels of the source disk."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the source disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DiskBackupProperties represents the properties of a Disk backup."
      }
    },
    "com.gcp.backupdr_v1#GuestOsFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#GuestOsFeature"
      }
    },
    "com.gcp.backupdr_v1#DiskBackupPropertiesArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86_64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM64"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#CustomerEncryptionKey": {
      "type": "structure",
      "members": {
        "rawKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a 256-bit customer-supplied encryption key."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the encryption key that is stored in Google Cloud KMS."
          }
        },
        "kmsKeyServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used."
          }
        },
        "rsaEncryptedKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A customer-supplied encryption key."
      }
    },
    "com.gcp.backupdr_v1#DiskTargetEnvironment": {
      "type": "structure",
      "members": {
        "useProjectServiceAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use the project service account for the disk restore."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target project for the disk."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target zone for the disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DiskTargetEnvironment represents the target environment for the disk."
      }
    },
    "com.gcp.backupdr_v1#InitiateBackupRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource ID of the Backup resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "request message for InitiateBackup."
      }
    },
    "com.gcp.backupdr_v1#Metadata": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.backupdr_v1#EntryList",
          "traits": {
            "smithy.api#documentation": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metadata key/value entry."
      }
    },
    "com.gcp.backupdr_v1#EntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#Entry"
      }
    },
    "com.gcp.backupdr_v1#GCPBackupPlanInfo": {
      "type": "structure",
      "members": {
        "backupPlanRevisionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}/revisions/{revisionId}"
          }
        },
        "backupPlan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of backup plan by which workload is protected at the time of the backup. Format: projects/{project}/locations/{location}/backupPlans/{backupPlanId}"
          }
        },
        "backupPlanRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rule id of the backup plan which triggered this backup in case of scheduled backup or used for"
          }
        },
        "backupPlanRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user friendly id of the backup plan revision which triggered this backup in case of scheduled backup or used for on demand backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GCPBackupPlanInfo captures the plan configuration details of Google Cloud resources at the time of backup."
      }
    },
    "com.gcp.backupdr_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.backupdr_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.backupdr_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.backupdr_v1#DocumentMap"
      }
    },
    "com.gcp.backupdr_v1#BackupDrPlanRule": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique Id of the backup rule."
          }
        },
        "lastSuccessfulBackupTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest successful backup created via this backup rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "BackupDrPlanRule has rule specific information of the backup plan resource."
      }
    },
    "com.gcp.backupdr_v1#FilestoreInstanceDataSourceReferenceProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the Filestore instance backed up by the datasource. Format: projects/{project}/instances/{instance}"
          }
        },
        "instanceCreateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instance creation timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FilestoreInstanceDataSourceReferenceProperties represents the properties of a Filestore resource that are stored in the DataSourceReference. ."
      }
    },
    "com.gcp.backupdr_v1#AccessConfig": {
      "type": "structure",
      "members": {
        "networkTier": {
          "target": "com.gcp.backupdr_v1#AccessConfigNetworkTierEnum",
          "traits": {
            "smithy.api#documentation": "Optional. This signifies the networking tier used for configuring this access"
          }
        },
        "type": {
          "target": "com.gcp.backupdr_v1#AccessConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of this access configuration."
          }
        },
        "externalIpv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The external IPv6 address of this access configuration."
          }
        },
        "publicPtrDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The DNS domain name for the public PTR record."
          }
        },
        "externalIpv6PrefixLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The prefix length of the external IPv6 range."
          }
        },
        "setPublicPtr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name."
          }
        },
        "natIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The external IP address of this access configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An access configuration attached to an instance's network interface. Only one access config per instance is supported."
      }
    },
    "com.gcp.backupdr_v1#AccessConfigNetworkTierEnum": {
      "type": "enum",
      "members": {
        "NETWORK_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_TIER_UNSPECIFIED"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREMIUM"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#AccessConfigTypeEnum": {
      "type": "enum",
      "members": {
        "ACCESS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TYPE_UNSPECIFIED"
          }
        },
        "ONE_TO_ONE_NAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_TO_ONE_NAT"
          }
        },
        "DIRECT_IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_IPV6"
          }
        }
      }
    },
    "com.gcp.backupdr_v1#ComputeInstanceRestoreProperties": {
      "type": "structure",
      "members": {
        "minCpuPlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Minimum CPU platform to use for this instance."
          }
        },
        "tags": {
          "target": "com.gcp.backupdr_v1#Tags",
          "traits": {
            "smithy.api#documentation": "Optional. Tags to apply to this instance. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during instance creation."
          }
        },
        "canIpForward": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Allows this instance to send and receive packets with non-matching destination or source IPs."
          }
        },
        "resourcePolicies": {
          "target": "com.gcp.backupdr_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Resource policies applied to this instance. By default, no resource policies will be applied."
          }
        },
        "keyRevocationActionType": {
          "target": "com.gcp.backupdr_v1#ComputeInstanceRestorePropertiesKeyRevocationActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. KeyRevocationActionType of the instance."
          }
        },
        "guestAccelerators": {
          "target": "com.gcp.backupdr_v1#AcceleratorConfigList",
          "traits": {
[...]
