{
  "smithy": "2.0",
  "metadata": {
    "service": "baremetalsolution",
    "version": "v2",
    "title": "Bare Metal Solution API",
    "baseUrl": "https://baremetalsolution.googleapis.com/"
  },
  "shapes": {
    "com.gcp.baremetalsolution_v2#NetworkMountPoint": {
      "type": "structure",
      "members": {
        "logicalInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical interface to detach from."
          }
        },
        "defaultGateway": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Network should be a default gateway."
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance to attach network to."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ip address of the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount point for a network."
      }
    },
    "com.gcp.baremetalsolution_v2#ListNetworkUsageResponse": {
      "type": "structure",
      "members": {
        "networks": {
          "target": "com.gcp.baremetalsolution_v2#NetworkUsageList",
          "traits": {
            "smithy.api#documentation": "Networks with IPs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response with Networks with IPs"
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkUsageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NetworkUsage"
      }
    },
    "com.gcp.baremetalsolution_v2#OSImage": {
      "type": "structure",
      "members": {
        "applicableInstanceTypes": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Instance types this image is applicable to. [Available types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS Image description."
          }
        },
        "supportedNetworkTemplates": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Network templates that can be used with this OS Image."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS Image code."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS Image's unique name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation System image."
      }
    },
    "com.gcp.baremetalsolution_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.baremetalsolution_v2#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results from the server."
          }
        },
        "instances": {
          "target": "com.gcp.baremetalsolution_v2#InstanceList",
          "traits": {
            "smithy.api#documentation": "The list of servers."
          }
        },
        "unreachable": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the list of servers."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#Instance"
      }
    },
    "com.gcp.baremetalsolution_v2#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.baremetalsolution_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.baremetalsolution_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.baremetalsolution_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.baremetalsolution_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.baremetalsolution_v2#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.baremetalsolution_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.baremetalsolution_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#DocumentMap"
      }
    },
    "com.gcp.baremetalsolution_v2#ListNetworksResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "networks": {
          "target": "com.gcp.baremetalsolution_v2#NetworkList",
          "traits": {
            "smithy.api#documentation": "The list of networks."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results from the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing the list of networks."
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#Network"
      }
    },
    "com.gcp.baremetalsolution_v2#ListVolumeSnapshotsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results from the server."
          }
        },
        "volumeSnapshots": {
          "target": "com.gcp.baremetalsolution_v2#VolumeSnapshotList",
          "traits": {
            "smithy.api#documentation": "The list of snapshots."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing the list of volume snapshots."
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeSnapshotList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#VolumeSnapshot"
      }
    },
    "com.gcp.baremetalsolution_v2#SubmitProvisioningConfigResponse": {
      "type": "structure",
      "members": {
        "provisioningConfig": {
          "target": "com.gcp.baremetalsolution_v2#ProvisioningConfig",
          "traits": {
            "smithy.api#documentation": "The submitted provisioning config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for SubmitProvisioningConfig."
      }
    },
    "com.gcp.baremetalsolution_v2#DisableInteractiveSerialConsoleRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for disabling the interactive serial console on an instance."
      }
    },
    "com.gcp.baremetalsolution_v2#SnapshotReservationDetail": {
      "type": "structure",
      "members": {
        "reservedSpaceRemainingGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount, in GiB, of available space in this storage volume's reserved snapshot space."
          }
        },
        "reservedSpaceUsedPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percent of snapshot space on this storage volume actually being used by the snapshot copies. This value might be higher than 100% if the snapshot copies have overflowed into the data portion of the storage volume."
          }
        },
        "reservedSpaceGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The space on this storage volume reserved for snapshots, shown in GiB."
          }
        },
        "reservedSpacePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percent of the total Volume size reserved for snapshot copies. Enabling snapshots requires reserving 20% or more of the storage volume space for snapshots. Maximum reserved space for snapshots is 40%. Setting this field will effectively set snapshot_enabled to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about snapshot space reservation and usage on the storage volume."
      }
    },
    "com.gcp.baremetalsolution_v2#EnableHyperthreadingRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message requesting to perform enable hyperthreading operation on a server."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceConfig": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance type. [Available types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)"
          }
        },
        "privateNetwork": {
          "target": "com.gcp.baremetalsolution_v2#NetworkAddress",
          "traits": {
            "smithy.api#documentation": "Private network address, if any. Filled if InstanceConfig.multivlan_config is false."
          }
        },
        "userNote": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User note field, it can be used by customers to add additional information for the BMS Ops team ."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the instance config."
          }
        },
        "hyperthreading": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the instance should be provisioned with Hyperthreading enabled."
          }
        },
        "networkTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server network template name. Filled if InstanceConfig.multivlan_config is true."
          }
        },
        "sshKeyNames": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of names of ssh keys used to provision the instance."
          }
        },
        "clientNetwork": {
          "target": "com.gcp.baremetalsolution_v2#NetworkAddress",
          "traits": {
            "smithy.api#documentation": "Client network address. Filled if InstanceConfig.multivlan_config is false."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A transient unique identifier to identify an instance within an ProvisioningConfig request."
          }
        },
        "networkConfig": {
          "target": "com.gcp.baremetalsolution_v2#InstanceConfigNetworkConfigEnum",
          "traits": {
            "smithy.api#documentation": "The type of network configuration on the instance."
          }
        },
        "logicalInterfaces": {
          "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2LogicalInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of logical interfaces for the instance. The number of logical interfaces will be the same as number of hardware bond/nic on the chosen network template. Filled if InstanceConfig.multivlan_config is true."
          }
        },
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose."
          }
        },
        "osImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OS image to initialize the instance. [Available images](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)"
          }
        },
        "accountNetworksEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true networks can be from different projects of the same vendor account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters for a new instance."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceConfigNetworkConfigEnum": {
      "type": "enum",
      "members": {
        "NETWORKCONFIG_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKCONFIG_UNSPECIFIED"
          }
        },
        "SINGLE_VLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_VLAN"
          }
        },
        "MULTI_VLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_VLAN"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2LogicalInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2LogicalInterface"
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeConfig": {
      "type": "structure",
      "members": {
        "lunRanges": {
          "target": "com.gcp.baremetalsolution_v2#LunRangeList",
          "traits": {
            "smithy.api#documentation": "LUN ranges to be configured. Set only when protocol is PROTOCOL_FC."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A transient unique identifier to identify a volume within an ProvisioningConfig request."
          }
        },
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested size of this volume, in GB."
          }
        },
        "userNote": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User note field, it can be used by customers to add additional information for the BMS Ops team ."
          }
        },
        "gcpService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GCP service of the storage volume. Available gcp_service are in https://cloud.google.com/bare-metal/docs/bms-planning."
          }
        },
        "type": {
          "target": "com.gcp.baremetalsolution_v2#VolumeConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this Volume."
          }
        },
        "snapshotsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether snapshots should be enabled."
          }
        },
        "nfsExports": {
          "target": "com.gcp.baremetalsolution_v2#NfsExportList",
          "traits": {
            "smithy.api#documentation": "NFS exports. Set only when protocol is PROTOCOL_NFS."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the volume config."
          }
        },
        "protocol": {
          "target": "com.gcp.baremetalsolution_v2#VolumeConfigProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Volume protocol."
          }
        },
        "machineIds": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Machine ids connected to this volume. Set only when protocol is PROTOCOL_FC."
          }
        },
        "performanceTier": {
          "target": "com.gcp.baremetalsolution_v2#VolumeConfigPerformanceTierEnum",
          "traits": {
            "smithy.api#documentation": "Performance tier of the Volume. Default is SHARED."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters for a new volume."
      }
    },
    "com.gcp.baremetalsolution_v2#LunRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#LunRange"
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLASH"
          }
        },
        "DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISK"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NfsExportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NfsExport"
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeConfigProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "PROTOCOL_FC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_FC"
          }
        },
        "PROTOCOL_NFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_NFS"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeConfigPerformanceTierEnum": {
      "type": "enum",
      "members": {
        "VOLUME_PERFORMANCE_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_UNSPECIFIED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_SHARED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_ASSIGNED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_HT"
          }
        },
        "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#Instance": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update a time stamp."
          }
        },
        "labels": {
          "target": "com.gcp.baremetalsolution_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "interactiveSerialConsoleEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the interactive serial console feature is enabled for the instance, false otherwise. The default value is false."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of this `Instance`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/instances/{instance}`"
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the server."
          }
        },
        "networkTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance network template name. For eg, bondaa-bondaa, bondab-nic, etc. Generally, the template name follows the syntax of \"bond\" or \"nic\"."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The server type. [Available server types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)"
          }
        },
        "luns": {
          "target": "com.gcp.baremetalsolution_v2#LunList",
          "traits": {
            "smithy.api#documentation": "Immutable. List of LUNs associated with this server."
          }
        },
        "loginInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Text field about info for logging in."
          }
        },
        "hyperthreadingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if you enable hyperthreading for the server, otherwise false. The default value is false."
          }
        },
        "networks": {
          "target": "com.gcp.baremetalsolution_v2#NetworkList",
          "traits": {
            "smithy.api#documentation": "Output only. List of networks associated with this server."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create a time stamp."
          }
        },
        "pod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Pod name. Pod is an independent part of infrastructure. Instance can only be connected to the assets (networks, volumes) allocated in the same pod."
          }
        },
        "logicalInterfaces": {
          "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2LogicalInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of logical interfaces for the instance. The number of logical interfaces will be the same as number of hardware bond/nic on the chosen network template. For the non-multivlan configurations (for eg, existing servers) that use existing default network template (bondaa-bondaa), both the Instance.networks field and the Instance.logical_interfaces fields will be filled to ensure backward compatibility. For the others, only Instance.logical_interfaces will be filled."
          }
        },
        "firmwareVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The firmware version for the instance."
          }
        },
        "workloadProfile": {
          "target": "com.gcp.baremetalsolution_v2#InstanceWorkloadProfileEnum",
          "traits": {
            "smithy.api#documentation": "The workload profile for the instance."
          }
        },
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose. Format is `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`."
          }
        },
        "sshKeys": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SSH Keys used during instance provisioning."
          }
        },
        "osImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OS image currently installed on the server."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An identifier for the `Instance`, generated by the backend."
          }
        },
        "volumes": {
          "target": "com.gcp.baremetalsolution_v2#VolumeList",
          "traits": {
            "smithy.api#documentation": "Input only. List of Volumes to attach to this Instance on creation. This field won't be populated in Get/List responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A server."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHUTDOWN"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#LunList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#Lun"
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceWorkloadProfileEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_PROFILE_UNSPECIFIED"
          }
        },
        "WORKLOAD_PROFILE_GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_PROFILE_GENERIC"
          }
        },
        "WORKLOAD_PROFILE_HANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_PROFILE_HANA"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#Volume"
      }
    },
    "com.gcp.baremetalsolution_v2#SubmitProvisioningConfigRequest": {
      "type": "structure",
      "members": {
        "provisioningConfig": {
          "target": "com.gcp.baremetalsolution_v2#ProvisioningConfig",
          "traits": {
            "smithy.api#documentation": "Required. The ProvisioningConfig to create."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Email provided to send a confirmation with provisioning config to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for SubmitProvisioningConfig."
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkUsage": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.gcp.baremetalsolution_v2#Network",
          "traits": {
            "smithy.api#documentation": "Network."
          }
        },
        "usedIps": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "All used IP addresses in this network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network with all used IP addresses."
      }
    },
    "com.gcp.baremetalsolution_v2#AllowedClient": {
      "type": "structure",
      "members": {
        "allowedClientsCidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subnet of IP addresses permitted to access the share."
          }
        },
        "allowDev": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow dev flag. Which controls whether to allow creation of devices."
          }
        },
        "noRootSquash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable root squashing, which is a feature of NFS. Root squash is a special mapping of the remote superuser (root) identity when using identity authentication."
          }
        },
        "shareIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address of the share on this network. Assigned automatically during provisioning based on the network's services_cidr."
          }
        },
        "allowSuid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow the setuid flag."
          }
        },
        "mountPermissions": {
          "target": "com.gcp.baremetalsolution_v2#AllowedClientMountPermissionsEnum",
          "traits": {
            "smithy.api#documentation": "Mount permissions."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network the access point sits on."
          }
        },
        "nfsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The path to access NFS, in format shareIP:/InstanceID InstanceID is the generated ID instead of customer provided name. example like \"10.0.0.0:/g123456789-nfs001\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an 'access point' for the share."
      }
    },
    "com.gcp.baremetalsolution_v2#AllowedClientMountPermissionsEnum": {
      "type": "enum",
      "members": {
        "MOUNT_PERMISSIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUNT_PERMISSIONS_UNSPECIFIED"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "error": {
          "target": "com.gcp.baremetalsolution_v2#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.baremetalsolution_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "metadata": {
          "target": "com.gcp.baremetalsolution_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.baremetalsolution_v2#EnableInteractiveSerialConsoleRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for enabling the interactive serial console on an instance."
      }
    },
    "com.gcp.baremetalsolution_v2#Volume": {
      "type": "structure",
      "members": {
        "pod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Pod name. Pod is an independent part of infrastructure. Volume can only be connected to the instances allocated in the same pod."
          }
        },
        "protocol": {
          "target": "com.gcp.baremetalsolution_v2#VolumeProtocolEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Storage protocol for the Volume."
          }
        },
        "workloadProfile": {
          "target": "com.gcp.baremetalsolution_v2#VolumeWorkloadProfileEnum",
          "traits": {
            "smithy.api#documentation": "The workload profile for the volume."
          }
        },
        "performanceTier": {
          "target": "com.gcp.baremetalsolution_v2#VolumePerformanceTierEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. Performance tier of the Volume. Default is SHARED."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. User-specified notes for new Volume. Used to provision Volumes that require manual intervention."
          }
        },
        "remainingSpaceGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The space remaining in the storage volume for new LUNs, in GiB, excluding space reserved for snapshots."
          }
        },
        "attached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is the Volume attached at at least one instance. This field is a lightweight counterpart of `instances` field. It is filled in List responses as well."
          }
        },
        "snapshotAutoDeleteBehavior": {
          "target": "com.gcp.baremetalsolution_v2#VolumeSnapshotAutoDeleteBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "The behavior to use when snapshot reserved space is full."
          }
        },
        "requestedSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested size of this storage volume, in GiB."
          }
        },
        "instances": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Instances this Volume is attached to. This field is set only in Get requests."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the `Volume`, generated by the backend."
          }
        },
        "maxSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum size volume can be expanded to in case of evergency, in GiB."
          }
        },
        "emergencySizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional emergency size that was requested for this Volume, in GiB. current_size_gib includes this value."
          }
        },
        "labels": {
          "target": "com.gcp.baremetalsolution_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of this `Volume`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/volumes/{volume}`"
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#VolumeStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of this storage volume."
          }
        },
        "originallyRequestedSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Originally requested size, in GiB."
          }
        },
        "snapshotReservationDetail": {
          "target": "com.gcp.baremetalsolution_v2#SnapshotReservationDetail",
          "traits": {
            "smithy.api#documentation": "Details about snapshot space reservation and usage on the storage volume."
          }
        },
        "bootVolume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether this volume is a boot volume. A boot volume is one which contains a boot LUN."
          }
        },
        "snapshotEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether snapshots are enabled."
          }
        },
        "currentSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current size of this storage volume, in GiB, including space reserved for snapshots. This size might be different than the requested size if the storage volume has been configured with auto grow or auto shrink."
          }
        },
        "storageType": {
          "target": "com.gcp.baremetalsolution_v2#VolumeStorageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The storage type for this volume."
          }
        },
        "autoGrownSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size, in GiB, that this storage volume has expanded as a result of an auto grow policy. In the absence of auto-grow, the value is 0."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which volume will be fully deleted. It is filled only for volumes in COOLOFF state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A storage volume."
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeProtocolEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_UNSPECIFIED"
          }
        },
        "FIBRE_CHANNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIBRE_CHANNEL"
          }
        },
        "NFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeWorkloadProfileEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_PROFILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_PROFILE_UNSPECIFIED"
          }
        },
        "GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC"
          }
        },
        "HANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HANA"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumePerformanceTierEnum": {
      "type": "enum",
      "members": {
        "VOLUME_PERFORMANCE_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_UNSPECIFIED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_SHARED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_ASSIGNED"
          }
        },
        "VOLUME_PERFORMANCE_TIER_HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_HT"
          }
        },
        "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeSnapshotAutoDeleteBehaviorEnum": {
      "type": "enum",
      "members": {
        "SNAPSHOT_AUTO_DELETE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT_AUTO_DELETE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "OLDEST_FIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OLDEST_FIRST"
          }
        },
        "NEWEST_FIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEWEST_FIRST"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "COOL_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOL_OFF"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeStorageTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_TYPE_UNSPECIFIED"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        },
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#RenameNfsShareRequest": {
      "type": "structure",
      "members": {
        "newNfsshareId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new `id` of the nfsshare."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message requesting rename of a server."
      }
    },
    "com.gcp.baremetalsolution_v2#NfsExport": {
      "type": "structure",
      "members": {
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network to use to publish the export."
          }
        },
        "machineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Either a single machine, identified by an ID, or a comma-separated list of machine IDs."
          }
        },
        "permissions": {
          "target": "com.gcp.baremetalsolution_v2#NfsExportPermissionsEnum",
          "traits": {
            "smithy.api#documentation": "Export permissions."
          }
        },
        "allowDev": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow dev flag in NfsShare AllowedClientsRequest."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A CIDR range."
          }
        },
        "noRootSquash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable root squashing, which is a feature of NFS. Root squash is a special mapping of the remote superuser (root) identity when using identity authentication."
          }
        },
        "allowSuid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow the setuid flag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A NFS export entry."
      }
    },
    "com.gcp.baremetalsolution_v2#NfsExportPermissionsEnum": {
      "type": "enum",
      "members": {
        "PERMISSIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSIONS_UNSPECIFIED"
          }
        },
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_WRITE"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#ProvisioningQuota": {
      "type": "structure",
      "members": {
        "storageGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage size (GB)."
          }
        },
        "instanceQuota": {
          "target": "com.gcp.baremetalsolution_v2#InstanceQuota",
          "traits": {
            "smithy.api#documentation": "Instance quota."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the provisioning quota."
          }
        },
        "availableCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The available count of the provisioning quota."
          }
        },
        "assetType": {
          "target": "com.gcp.baremetalsolution_v2#ProvisioningQuotaAssetTypeEnum",
          "traits": {
            "smithy.api#documentation": "The asset type of this provisioning quota."
          }
        },
        "serverCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server count."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specific location of the provisioining quota."
          }
        },
        "gcpService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gcp service of the provisioning quota."
          }
        },
        "networkBandwidth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network bandwidth, Gbps"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A provisioning quota for a given project."
      }
    },
    "com.gcp.baremetalsolution_v2#ProvisioningQuotaAssetTypeEnum": {
      "type": "enum",
      "members": {
        "ASSET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_UNSPECIFIED"
          }
        },
        "ASSET_TYPE_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_SERVER"
          }
        },
        "ASSET_TYPE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_STORAGE"
          }
        },
        "ASSET_TYPE_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_TYPE_NETWORK"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkConfig": {
      "type": "structure",
      "members": {
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CIDR range of the network."
          }
        },
        "jumboFramesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The JumboFramesEnabled option for customer to set."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the network config."
          }
        },
        "vlanSameProject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the VLAN attachment pair is located in the same project."
          }
        },
        "bandwidth": {
          "target": "com.gcp.baremetalsolution_v2#NetworkConfigBandwidthEnum",
          "traits": {
            "smithy.api#documentation": "Interconnect bandwidth. Set only when type is CLIENT."
          }
        },
        "type": {
          "target": "com.gcp.baremetalsolution_v2#NetworkConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this network, either Client or Private."
          }
        },
        "serviceCidr": {
          "target": "com.gcp.baremetalsolution_v2#NetworkConfigServiceCidrEnum",
          "traits": {
            "smithy.api#documentation": "Service CIDR, if any."
          }
        },
        "userNote": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User note field, it can be used by customers to add additional information for the BMS Ops team ."
          }
        },
        "gcpService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GCP service of the network. Available gcp_service are in https://cloud.google.com/bare-metal/docs/bms-planning."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A transient unique identifier to identify a volume within an ProvisioningConfig request."
          }
        },
        "vlanAttachments": {
          "target": "com.gcp.baremetalsolution_v2#IntakeVlanAttachmentList",
          "traits": {
            "smithy.api#documentation": "List of VLAN attachments. As of now there are always 2 attachments, but it is going to change in the future (multi vlan). Use only one of vlan_attachments or vrf"
          }
        },
        "vrf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a pre-existing Vrf that the network should be attached to. Format is `vrfs/{vrf}`. If vrf is specified, vlan_attachments must be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters for a new network."
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkConfigBandwidthEnum": {
      "type": "enum",
      "members": {
        "BANDWIDTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANDWIDTH_UNSPECIFIED"
          }
        },
        "BW_1_GBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW_1_GBPS"
          }
        },
        "BW_2_GBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW_2_GBPS"
          }
        },
        "BW_5_GBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW_5_GBPS"
          }
        },
        "BW_10_GBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW_10_GBPS"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkConfigTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkConfigServiceCidrEnum": {
      "type": "enum",
      "members": {
        "SERVICE_CIDR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_CIDR_UNSPECIFIED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "HIGH_26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_26"
          }
        },
        "HIGH_27": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_27"
          }
        },
        "HIGH_28": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH_28"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#IntakeVlanAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#IntakeVlanAttachment"
      }
    },
    "com.gcp.baremetalsolution_v2#StopInstanceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message from stopping a server."
      }
    },
    "com.gcp.baremetalsolution_v2#EvictLunRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for skip lun cooloff and delete it."
      }
    },
    "com.gcp.baremetalsolution_v2#QosPolicy": {
      "type": "structure",
      "members": {
        "bandwidthGbps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The bandwidth permitted by the QOS policy, in gbps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "QOS policy parameters."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceQuota": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location where the quota applies."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the instance quota."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance type. Deprecated: use gcp_service."
          }
        },
        "gcpService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gcp service of the provisioning quota."
          }
        },
        "availableMachineCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of machines than can be created for the given location and instance_type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource budget."
      }
    },
    "com.gcp.baremetalsolution_v2#StartInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message requesting to start a server."
      }
    },
    "com.gcp.baremetalsolution_v2#LoadInstanceAuthInfoResponse": {
      "type": "structure",
      "members": {
        "userAccounts": {
          "target": "com.gcp.baremetalsolution_v2#UserAccountMap",
          "traits": {
            "smithy.api#documentation": "Map of username to the user account info."
          }
        },
        "sshKeys": {
          "target": "com.gcp.baremetalsolution_v2#SSHKeyList",
          "traits": {
            "smithy.api#documentation": "List of ssh keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for LoadInstanceAuthInfo."
      }
    },
    "com.gcp.baremetalsolution_v2#UserAccountMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.baremetalsolution_v2#UserAccount"
      }
    },
    "com.gcp.baremetalsolution_v2#SSHKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#SSHKey"
      }
    },
    "com.gcp.baremetalsolution_v2#RenameInstanceRequest": {
      "type": "structure",
      "members": {
        "newInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new `id` of the instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message requesting rename of a server."
      }
    },
    "com.gcp.baremetalsolution_v2#StopInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message requesting to stop a server."
      }
    },
    "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2LogicalInterface": {
      "type": "structure",
      "members": {
        "logicalNetworkInterfaces": {
          "target": "com.gcp.baremetalsolution_v2#LogicalNetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "List of logical network interfaces within a logical interface."
          }
        },
        "interfaceIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index of the logical interface mapping to the index of the hardware bond or nic on the chosen network template. This field is deprecated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interface name. This is of syntax or and forms part of the network template name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Each logical interface represents a logical abstraction of the underlying physical interface (for eg. bond, nic) of the instance. Each logical interface can effectively map to multiple network-IP pairs and still be mapped to one underlying physical interface."
      }
    },
    "com.gcp.baremetalsolution_v2#LogicalNetworkInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#LogicalNetworkInterface"
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeSnapshot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the snapshot."
          }
        },
        "storageVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the volume which this snapshot belongs to."
          }
        },
        "type": {
          "target": "com.gcp.baremetalsolution_v2#VolumeSnapshotTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the snapshot which indicates whether it was scheduled or manual/ad-hoc."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the snapshot."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the snapshot."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An identifier for the snapshot, generated by the backend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A snapshot of a volume. Only boot volumes can have snapshots."
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeSnapshotTypeEnum": {
      "type": "enum",
      "members": {
        "SNAPSHOT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT_TYPE_UNSPECIFIED"
          }
        },
        "AD_HOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_HOC"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#ResetInstanceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message from resetting a server."
      }
    },
    "com.gcp.baremetalsolution_v2#DisableHyperthreadingRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message requesting to perform disable hyperthreading operation on a server."
      }
    },
    "com.gcp.baremetalsolution_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.baremetalsolution_v2#RenameVolumeRequest": {
      "type": "structure",
      "members": {
        "newVolumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new `id` of the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message requesting rename of a server."
      }
    },
    "com.gcp.baremetalsolution_v2#DisableInteractiveSerialConsoleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for response of DisableInteractiveSerialConsole."
      }
    },
    "com.gcp.baremetalsolution_v2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.baremetalsolution_v2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.baremetalsolution_v2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#Location"
      }
    },
    "com.gcp.baremetalsolution_v2#ServerNetworkTemplate": {
      "type": "structure",
      "members": {
        "applicableInstanceTypes": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Instance types this template is applicable to."
          }
        },
        "logicalInterfaces": {
          "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterfaceList",
          "traits": {
            "smithy.api#documentation": "Logical interfaces."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Template's unique name. The full resource name follows the pattern: `projects/{project}/locations/{location}/serverNetworkTemplate/{server_network_template}` Generally, the {server_network_template} follows the syntax of \"bond\" or \"nic\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network template."
      }
    },
    "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface"
      }
    },
    "com.gcp.baremetalsolution_v2#ProvisioningConfig": {
      "type": "structure",
      "members": {
        "pod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Pod name. Pod is an independent part of infrastructure. Instance can be connected to the assets (networks, volumes, nfsshares) allocated in the same pod only."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional status messages associated with the FAILED state."
          }
        },
        "cloudConsoleUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. URI to Cloud Console UI view of this provisioning config."
          }
        },
        "instances": {
          "target": "com.gcp.baremetalsolution_v2#InstanceConfigList",
          "traits": {
            "smithy.api#documentation": "Instances to be created."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email provided to send a confirmation with provisioning config to. Deprecated in favour of email field in request messages."
          }
        },
        "volumes": {
          "target": "com.gcp.baremetalsolution_v2#VolumeConfigList",
          "traits": {
            "smithy.api#documentation": "Volumes to be created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated name of the provisioning config. This follows the UUID format."
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#ProvisioningConfigStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of ProvisioningConfig."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update timestamp."
          }
        },
        "ticketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A generated ticket id to track provisioning request."
          }
        },
        "customId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The user-defined identifier of the provisioning config."
          }
        },
        "handoverServiceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A service account to enable customers to access instance credentials upon handover."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location name of this ProvisioningConfig. It is optional only for Intake UI transition period."
          }
        },
        "networks": {
          "target": "com.gcp.baremetalsolution_v2#NetworkConfigList",
          "traits": {
            "smithy.api#documentation": "Networks to be created."
          }
        },
        "vpcScEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, VPC SC is enabled for the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A provisioning configuration."
      }
    },
    "com.gcp.baremetalsolution_v2#InstanceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#InstanceConfig"
      }
    },
    "com.gcp.baremetalsolution_v2#VolumeConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#VolumeConfig"
      }
    },
    "com.gcp.baremetalsolution_v2#ProvisioningConfigStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "SUBMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMITTED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "VALIDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NetworkConfig"
      }
    },
    "com.gcp.baremetalsolution_v2#LunRange": {
      "type": "structure",
      "members": {
        "sizeGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested size of each LUN, in GB."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of LUNs to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A LUN(Logical Unit Number) range."
      }
    },
    "com.gcp.baremetalsolution_v2#ReimageInstanceRequest": {
      "type": "structure",
      "members": {
        "sshKeys": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SSH Keys used during reimaging an instance."
          }
        },
        "osImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OS image code of the image which will be used in the reimage operation."
          }
        },
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose. Format is `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message requesting to perform reimage operation on a server."
      }
    },
    "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterfaceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Interface type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interface name. This is not a globally unique identifier. Name is unique only inside the ServerNetworkTemplate. This is of syntax or and forms part of the network template name."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, interface must have network connected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logical interface."
      }
    },
    "com.gcp.baremetalsolution_v2#GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterfaceTypeEnum": {
      "type": "enum",
      "members": {
        "INTERFACE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERFACE_TYPE_UNSPECIFIED"
          }
        },
        "BOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOND"
          }
        },
        "NIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIC"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#ListSSHKeysResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "sshKeys": {
          "target": "com.gcp.baremetalsolution_v2#SSHKeyList",
          "traits": {
            "smithy.api#documentation": "The SSH keys registered in the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response of ListSSHKeys."
      }
    },
    "com.gcp.baremetalsolution_v2#Lun": {
      "type": "structure",
      "members": {
        "storageVolume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display the storage volume for this LUN."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the LUN."
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#LunStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of this storage volume."
          }
        },
        "bootLun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Display if this LUN is a boot LUN."
          }
        },
        "multiprotocolType": {
          "target": "com.gcp.baremetalsolution_v2#LunMultiprotocolTypeEnum",
          "traits": {
            "smithy.api#documentation": "The LUN multiprotocol type ensures the characteristics of the LUN are optimized for each operating system."
          }
        },
        "instances": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Instances this Lun is attached to."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the LUN, generated by the backend."
          }
        },
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of this LUN, in GiB."
          }
        },
        "storageType": {
          "target": "com.gcp.baremetalsolution_v2#LunStorageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The storage type for this LUN."
          }
        },
        "wwid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WWID for this LUN."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time after which LUN will be fully deleted. It is filled only for LUNs in COOL_OFF state."
          }
        },
        "shareable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Display if this LUN can be shared between multiple physical servers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A storage volume logical unit number (LUN)."
      }
    },
    "com.gcp.baremetalsolution_v2#LunStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "COOL_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOL_OFF"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#LunMultiprotocolTypeEnum": {
      "type": "enum",
      "members": {
        "MULTIPROTOCOL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPROTOCOL_TYPE_UNSPECIFIED"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINUX"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#LunStorageTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_TYPE_UNSPECIFIED"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        },
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#UserAccount": {
      "type": "structure",
      "members": {
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "KMS CryptoKey Version used to encrypt the password."
          }
        },
        "encryptedPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Encrypted initial password value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User account provisioned for the customer."
      }
    },
    "com.gcp.baremetalsolution_v2#NfsShare": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.baremetalsolution_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "pod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Pod name. Pod is an independent part of infrastructure. NFSShare can only be connected to the assets (networks, instances) allocated in the same pod."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The name of the NFS share."
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#NfsShareStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the NFS share."
          }
        },
        "nfsShareId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An identifier for the NFS share, generated by the backend. This field will be deprecated in the future, use `id` instead."
          }
        },
        "requestedSizeGib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested size, in GiB."
          }
        },
        "allowedClients": {
          "target": "com.gcp.baremetalsolution_v2#AllowedClientList",
          "traits": {
            "smithy.api#documentation": "List of allowed access points."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An identifier for the NFS share, generated by the backend. This is the same value as nfs_share_id and will replace it in the future."
          }
        },
        "volume": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The underlying volume of the share. Created automatically during provisioning."
          }
        },
        "storageType": {
          "target": "com.gcp.baremetalsolution_v2#NfsShareStorageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The storage type of the underlying volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An NFS share."
      }
    },
    "com.gcp.baremetalsolution_v2#NfsShareStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#AllowedClientList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#AllowedClient"
      }
    },
    "com.gcp.baremetalsolution_v2#NfsShareStorageTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_TYPE_UNSPECIFIED"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        },
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#ResetInstanceRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message requesting to reset a server."
      }
    },
    "com.gcp.baremetalsolution_v2#RestoreVolumeSnapshotRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for restoring a volume snapshot."
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkAddress": {
      "type": "structure",
      "members": {
        "existingNetworkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the existing network to use."
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the network to use, within the same ProvisioningConfig request."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv4 address to be assigned to the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A network."
      }
    },
    "com.gcp.baremetalsolution_v2#EvictVolumeRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request for skip volume cooloff and delete it."
      }
    },
    "com.gcp.baremetalsolution_v2#ListNfsSharesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results from the server."
          }
        },
        "nfsShares": {
          "target": "com.gcp.baremetalsolution_v2#NfsShareList",
          "traits": {
            "smithy.api#documentation": "The list of NFS shares."
          }
        },
        "unreachable": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message containing the list of NFS shares."
      }
    },
    "com.gcp.baremetalsolution_v2#NfsShareList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NfsShare"
      }
    },
    "com.gcp.baremetalsolution_v2#ListProvisioningQuotasResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "provisioningQuotas": {
          "target": "com.gcp.baremetalsolution_v2#ProvisioningQuotaList",
          "traits": {
            "smithy.api#documentation": "The provisioning quotas registered in this project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the list of provisioning quotas."
      }
    },
    "com.gcp.baremetalsolution_v2#ProvisioningQuotaList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#ProvisioningQuota"
      }
    },
    "com.gcp.baremetalsolution_v2#RenameNetworkRequest": {
      "type": "structure",
      "members": {
        "newNetworkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new `id` of the network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message requesting rename of a server."
      }
    },
    "com.gcp.baremetalsolution_v2#EnableInteractiveSerialConsoleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message for response of EnableInteractiveSerialConsole."
      }
    },
    "com.gcp.baremetalsolution_v2#Network": {
      "type": "structure",
      "members": {
        "mountPoints": {
          "target": "com.gcp.baremetalsolution_v2#NetworkMountPointList",
          "traits": {
            "smithy.api#documentation": "Input only. List of mount points to attach the network to."
          }
        },
        "gatewayIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Gateway ip address."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cidr of the Network."
          }
        },
        "labels": {
          "target": "com.gcp.baremetalsolution_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "reservations": {
          "target": "com.gcp.baremetalsolution_v2#NetworkAddressReservationList",
          "traits": {
            "smithy.api#documentation": "List of IP address reservations in this network. When updating this field, an error will be generated if a reservation conflicts with an IP address already allocated to a physical server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of this `Network`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/networks/{network}`"
          }
        },
        "state": {
          "target": "com.gcp.baremetalsolution_v2#NetworkStateEnum",
          "traits": {
            "smithy.api#documentation": "The Network state."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the `Network`, generated by the backend."
          }
        },
        "servicesCidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP range for reserved for services (e.g. NFS)."
          }
        },
        "vlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The vlan id of the Network."
          }
        },
        "vrf": {
          "target": "com.gcp.baremetalsolution_v2#VRF",
          "traits": {
            "smithy.api#documentation": "The Vrf for the Network. Use this only if a new Vrf needs to be created."
          }
        },
        "vrfAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of a pre-existing Vrf that the network should be attached to. Format is `vrfs/{vrf}`."
          }
        },
        "type": {
          "target": "com.gcp.baremetalsolution_v2#NetworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of this network."
          }
        },
        "macAddress": {
          "target": "com.gcp.baremetalsolution_v2#StringList",
          "traits": {
            "smithy.api#documentation": "List of physical interfaces."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address configured."
          }
        },
        "pod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Pod name. Pod is an independent part of infrastructure. Network can only be connected to the assets (instances, nfsshares) allocated in the same pod."
          }
        },
        "jumboFramesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether network uses standard frames or jumbo ones."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Network."
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkMountPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NetworkMountPoint"
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkAddressReservationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.baremetalsolution_v2#NetworkAddressReservation"
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPROVISIONING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.gcp.baremetalsolution_v2#NetworkTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
[...]
