{
  "smithy": "2.0",
  "metadata": {
    "service": "batch",
    "version": "v1",
    "title": "Batch API",
    "baseUrl": "https://batch.googleapis.com/"
  },
  "shapes": {
    "com.gcp.batch_v1#AgentContainer": {
      "type": "structure",
      "members": {
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to pull the container image from."
          }
        },
        "commands": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Overrides the `CMD` specified in the container. If there is an ENTRYPOINT (either in the container image or with the entrypoint field below) then commands are appended as arguments to the ENTRYPOINT."
          }
        },
        "volumes": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match docker run's --volume option, e.g. /foo:/bar, or /foo:/bar:ro"
          }
        },
        "options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arbitrary additional options to include in the \"docker run\" command when running this container, e.g. \"--network host\"."
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Overrides the `ENTRYPOINT` specified in the container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container runnable representation on the agent side."
      }
    },
    "com.gcp.batch_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.batch_v1#Task": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.batch_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "Task Status."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task name. The name is generated from the parent TaskGroup name and 'id' field. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01/tasks/task01\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Cloud Batch task."
      }
    },
    "com.gcp.batch_v1#AgentTaskRunnable": {
      "type": "structure",
      "members": {
        "script": {
          "target": "com.gcp.batch_v1#AgentScript",
          "traits": {
            "smithy.api#documentation": "Script runnable."
          }
        },
        "alwaysRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables."
          }
        },
        "ignoreExitStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Normally, a non-zero exit status causes the Task to fail. This flag allows execution of other Runnables to continue instead."
          }
        },
        "container": {
          "target": "com.gcp.batch_v1#AgentContainer",
          "traits": {
            "smithy.api#documentation": "Container runnable."
          }
        },
        "background": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This flag allows a Runnable to continue running in the background while the Task executes subsequent Runnables. This is useful to provide services to other Runnables (or to provide debugging support tools like SSH servers)."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timeout for this Runnable."
          }
        },
        "environment": {
          "target": "com.gcp.batch_v1#AgentEnvironment",
          "traits": {
            "smithy.api#documentation": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentTaskRunnable is the Runnable representation between Agent and CLH communication."
      }
    },
    "com.gcp.batch_v1#NFS": {
      "type": "structure",
      "members": {
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the NFS."
          }
        },
        "remotePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote source path exported from the NFS, e.g., \"/share\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an NFS volume."
      }
    },
    "com.gcp.batch_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.batch_v1#Message": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.batch_v1#MessageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The message type."
          }
        },
        "newJobState": {
          "target": "com.gcp.batch_v1#MessageNewJobStateEnum",
          "traits": {
            "smithy.api#documentation": "The new job state."
          }
        },
        "newTaskState": {
          "target": "com.gcp.batch_v1#MessageNewTaskStateEnum",
          "traits": {
            "smithy.api#documentation": "The new task state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message details. Describe the conditions under which messages will be sent. If no attribute is defined, no message will be sent by default. One message should specify either the job or the task level attributes, but not both. For example, job level: JOB_STATE_CHANGED and/or a specified new_job_state; task level: TASK_STATE_CHANGED and/or a specified new_task_state."
      }
    },
    "com.gcp.batch_v1#MessageTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "JOB_STATE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_STATE_CHANGED"
          }
        },
        "TASK_STATE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_STATE_CHANGED"
          }
        }
      }
    },
    "com.gcp.batch_v1#MessageNewJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_IN_PROGRESS"
          }
        },
        "CANCELLATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLATION_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.batch_v1#MessageNewTaskStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "UNEXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNEXECUTED"
          }
        }
      }
    },
    "com.gcp.batch_v1#LogsPolicy": {
      "type": "structure",
      "members": {
        "logsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When `destination` is set to `PATH`, you must set this field to the path where you want logs to be saved. This path can point to a local directory on the VM or (if congifured) a directory under the mount path of any Cloud Storage bucket, network file system (NFS), or writable persistent disk that is mounted to the job. For example, if the job has a bucket with `mountPath` set to `/mnt/disks/my-bucket`, you can write logs to the root directory of the `remotePath` of that bucket by setting this field to `/mnt/disks/my-bucket/`."
          }
        },
        "destination": {
          "target": "com.gcp.batch_v1#LogsPolicyDestinationEnum",
          "traits": {
            "smithy.api#documentation": "If and where logs should be saved."
          }
        },
        "cloudLoggingOption": {
          "target": "com.gcp.batch_v1#CloudLoggingOption",
          "traits": {
            "smithy.api#documentation": "Optional. When `destination` is set to `CLOUD_LOGGING`, you can optionally set this field to configure additional settings for Cloud Logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LogsPolicy describes if and how a job's logs are preserved. Logs include information that is automatically written by the Batch service agent and any information that you configured the job's runnables to write to the `stdout` or `stderr` streams."
      }
    },
    "com.gcp.batch_v1#LogsPolicyDestinationEnum": {
      "type": "enum",
      "members": {
        "DESTINATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_UNSPECIFIED"
          }
        },
        "CLOUD_LOGGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_LOGGING"
          }
        },
        "PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATH"
          }
        }
      }
    },
    "com.gcp.batch_v1#Job": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority of the Job. The valid value range is [0, 100). Default value is 0. Higher value indicates higher priority. A job with higher priority value is more likely to run earlier if all other requirements are satisfied."
          }
        },
        "allocationPolicy": {
          "target": "com.gcp.batch_v1#AllocationPolicy",
          "traits": {
            "smithy.api#documentation": "Compute resource allocation for all TaskGroups in the Job."
          }
        },
        "status": {
          "target": "com.gcp.batch_v1#JobStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Job status. It is read only for users."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A system generated unique ID for the Job."
          }
        },
        "notifications": {
          "target": "com.gcp.batch_v1#JobNotificationList",
          "traits": {
            "smithy.api#documentation": "Notification configurations."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last time the Job was updated."
          }
        },
        "taskGroups": {
          "target": "com.gcp.batch_v1#TaskGroupList",
          "traits": {
            "smithy.api#documentation": "Required. TaskGroups in the Job. Only one TaskGroup is supported now."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. When the Job was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Job name. For example: \"projects/123456/locations/us-central1/jobs/job01\"."
          }
        },
        "logsPolicy": {
          "target": "com.gcp.batch_v1#LogsPolicy",
          "traits": {
            "smithy.api#documentation": "Log preservation policy for the Job."
          }
        },
        "labels": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Custom labels to apply to the job and any Cloud Logging [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) that it generates. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Cloud Batch Job description."
      }
    },
    "com.gcp.batch_v1#JobNotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#JobNotification"
      }
    },
    "com.gcp.batch_v1#TaskGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#TaskGroup"
      }
    },
    "com.gcp.batch_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.batch_v1#AgentTaskLoggingOption": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels to be added to the log entry. Now only cloud logging is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentTaskLoggingOption contains the options for the logging of the task."
      }
    },
    "com.gcp.batch_v1#Container": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if the container image is from a private Docker registry. The username to login to the Docker registry that contains the image. You can either specify the username directly by using plain text or specify an encrypted username by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. However, using a secret is recommended for enhanced security. Caution: If you specify the username using plain text, you risk the username being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the username instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager)."
          }
        },
        "enableImageStreaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, this container runnable uses Image streaming. Use Image streaming to allow the runnable to initialize without waiting for the entire container image to download, which can significantly reduce startup time for large container images. When `enableImageStreaming` is set to true, the container runtime is [containerd](https://containerd.io/) instead of Docker. Additionally, this container runnable only supports the following `container` subfields: `imageUri`, `commands[]`, `entrypoint`, and `volumes[]`; any other `container` subfields are ignored. For more information about the requirements and limitations for using Image streaming with Batch, see the [`image-streaming` sample on GitHub](https://github.com/GoogleCloudPlatform/batch-samples/tree/main/api-samples/image-streaming)."
          }
        },
        "options": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for some container images. Arbitrary additional options to include in the `docker run` command when running this container—for example, `--network host`. For the `--volume` option, use the `volumes` field for the container."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if the container image is from a private Docker registry. The password to login to the Docker registry that contains the image. For security, it is strongly recommended to specify an encrypted password by using a Secret Manager secret: `projects/*/secrets/*/versions/*`. Warning: If you specify the password using plain text, you risk the password being exposed to any users who can view the job or its logs. To avoid this risk, specify a secret that contains the password instead. Learn more about [Secret Manager](https://cloud.google.com/secret-manager/docs/) and [using Secret Manager with Batch](https://cloud.google.com/batch/docs/create-run-job-secret-manager)."
          }
        },
        "imageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URI to pull the container image from."
          }
        },
        "entrypoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required for some container images. Overrides the `ENTRYPOINT` specified in the container."
          }
        },
        "blockExternalNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, external network access to and from container will be blocked, containers that are with block_external_network as true can still communicate with each other, network cannot be specified in the `container.options` field."
          }
        },
        "commands": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required for some container images. Overrides the `CMD` specified in the container. If there is an `ENTRYPOINT` (either in the container image or with the `entrypoint` field below) then these commands are appended as arguments to the `ENTRYPOINT`."
          }
        },
        "volumes": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Volumes to mount (bind mount) from the host machine files or directories into the container, formatted to match `--volume` option for the `docker run` command—for example, `/foo:/bar` or `/foo:/bar:ro`. If the `TaskSpec.Volumes` field is specified but this field is not, Batch will mount each volume from the host machine to the container with the same mount path by default. In this case, the default mount option for containers will be read-only (`ro`) for existing persistent disks and read-write (`rw`) for other volume types, regardless of the original mount options specified in `TaskSpec.Volumes`. If you need different mount settings, you can explicitly configure them in this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container runnable."
      }
    },
    "com.gcp.batch_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.batch_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.batch_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Location"
      }
    },
    "com.gcp.batch_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.batch_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.batch_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.batch_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#DocumentMap"
      }
    },
    "com.gcp.batch_v1#JobStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.batch_v1#JobStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Job state"
          }
        },
        "statusEvents": {
          "target": "com.gcp.batch_v1#StatusEventList",
          "traits": {
            "smithy.api#documentation": "Job status events"
          }
        },
        "runDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration of time that the Job spent in status RUNNING."
          }
        },
        "taskGroups": {
          "target": "com.gcp.batch_v1#TaskGroupStatusMap",
          "traits": {
            "smithy.api#documentation": "Aggregated task status for each TaskGroup in the Job. The map key is TaskGroup ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job status."
      }
    },
    "com.gcp.batch_v1#JobStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_IN_PROGRESS"
          }
        },
        "CANCELLATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLATION_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.batch_v1#StatusEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#StatusEvent"
      }
    },
    "com.gcp.batch_v1#TaskGroupStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.batch_v1#TaskGroupStatus"
      }
    },
    "com.gcp.batch_v1#AgentEnvironment": {
      "type": "structure",
      "members": {
        "encryptedVariables": {
          "target": "com.gcp.batch_v1#AgentKMSEnvMap",
          "traits": {
            "smithy.api#documentation": "An encrypted JSON dictionary where the key/value pairs correspond to environment variable names and their values."
          }
        },
        "secretVariables": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of environment variable names to Secret Manager secret names. The VM will access the named secrets to set the value of each environment variable."
          }
        },
        "variables": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map of environment variable names to values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentEnvironment is the Environment representation between Agent and CLH communication. The environment is used in both task level and agent level."
      }
    },
    "com.gcp.batch_v1#InstanceStatus": {
      "type": "structure",
      "members": {
        "provisioningModel": {
          "target": "com.gcp.batch_v1#InstanceStatusProvisioningModelEnum",
          "traits": {
            "smithy.api#documentation": "The VM instance provisioning model."
          }
        },
        "taskPack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The max number of tasks can be assigned to this instance type."
          }
        },
        "bootDisk": {
          "target": "com.gcp.batch_v1#Disk",
          "traits": {
            "smithy.api#documentation": "The VM boot disk."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine machine type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM instance status."
      }
    },
    "com.gcp.batch_v1#InstanceStatusProvisioningModelEnum": {
      "type": "enum",
      "members": {
        "PROVISIONING_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING_MODEL_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "PREEMPTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREEMPTIBLE"
          }
        },
        "RESERVATION_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_BOUND"
          }
        },
        "FLEX_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX_START"
          }
        }
      }
    },
    "com.gcp.batch_v1#ReportAgentStateResponse": {
      "type": "structure",
      "members": {
        "minReportInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum report interval override"
          }
        },
        "defaultReportInterval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default report interval override"
          }
        },
        "tasks": {
          "target": "com.gcp.batch_v1#AgentTaskList",
          "traits": {
            "smithy.api#documentation": "Tasks assigned to the agent"
          }
        },
        "useBatchMonitoredResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the cloud logging for batch agent will use batch.googleapis.com/Job as monitored resource for Batch job related logging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to ReportAgentStateRequest."
      }
    },
    "com.gcp.batch_v1#AgentTaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#AgentTask"
      }
    },
    "com.gcp.batch_v1#Script": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text for a script. Unless the script text supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) at the beginning of the text. For example, to execute the script using bash, include `#!/bin/bash\\n` at the beginning of the text. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3\\n` at the beginning of the text."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to a script file that is accessible from the host VM(s). Unless the script file supports the default `#!/bin/sh` shell interpreter, you must specify an interpreter by including a [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix) as the first line of the file. For example, to execute the script using bash, include `#!/bin/bash` as the first line of the file. Alternatively, to execute the script using Python3, include `#!/usr/bin/env python3` as the first line of the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Script runnable."
      }
    },
    "com.gcp.batch_v1#AgentTaskUserAccount": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "uid is an unique identifier of the POSIX account corresponding to the user account."
          }
        },
        "gid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "gid id an unique identifier of the POSIX account group corresponding to the user account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentTaskUserAccount contains the information of a POSIX account on the guest os which is used to execute the runnables."
      }
    },
    "com.gcp.batch_v1#Accelerator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The accelerator type. For example, \"nvidia-tesla-t4\". See `gcloud compute accelerator-types list`."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of accelerators of this type."
          }
        },
        "driverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The NVIDIA GPU driver version that should be installed for this type. You can define the specific driver version such as \"470.103.01\", following the driver version requirements in https://cloud.google.com/compute/docs/gpus/install-drivers-gpu#minimum-driver. Batch will install the specific accelerator driver if qualified."
          }
        },
        "installGpuDrivers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: please use instances[0].install_gpu_drivers instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accelerator describes Compute Engine accelerators to be attached to the VM."
      }
    },
    "com.gcp.batch_v1#GCS": {
      "type": "structure",
      "members": {
        "remotePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote path, either a bucket name or a subdirectory of a bucket, e.g.: bucket_name, bucket_name/subdirectory/"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Google Cloud Storage volume."
      }
    },
    "com.gcp.batch_v1#ComputeResource": {
      "type": "structure",
      "members": {
        "bootDiskMib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extra boot disk size in MiB for each task."
          }
        },
        "cpuMilli": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The milliCPU count. `cpuMilli` defines the amount of CPU resources per task in milliCPU units. For example, `1000` corresponds to 1 vCPU per task. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the CPU resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 2 vCPUs each, you are recommended to set `cpuMilli` no more than `2000`, or you are recommended to run two tasks on the same VM if you set `cpuMilli` to `1000` or less."
          }
        },
        "memoryMib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory in MiB. `memoryMib` defines the amount of memory per task in MiB units. If undefined, the default value is `2000`. If you also define the VM's machine type using the `machineType` in [InstancePolicy](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicy) field or inside the `instanceTemplate` in the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure the memory resources for both fields are compatible with each other and with how many tasks you want to allow to run on the same VM at the same time. For example, if you specify the `n2-standard-2` machine type, which has 8 GiB each, you are recommended to set `memoryMib` to no more than `8192`, or you are recommended to run two tasks on the same VM if you set `memoryMib` to `4096` or less."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute resource requirements. ComputeResource defines the amount of resources required for each task. Make sure your tasks have enough resources to successfully run. If you also define the types of resources for a job to use with the [InstancePolicyOrTemplate](https://cloud.google.com/batch/docs/reference/rest/v1/projects.locations.jobs#instancepolicyortemplate) field, make sure both fields are compatible with each other."
      }
    },
    "com.gcp.batch_v1#CloudLoggingOption": {
      "type": "structure",
      "members": {
        "useGenericTaskMonitoredResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this field to `true` to change the [monitored resource type](https://cloud.google.com/monitoring/api/resources) for Cloud Logging logs generated by this Batch job from the [`batch.googleapis.com/Job`](https://cloud.google.com/monitoring/api/resources#tag_batch.googleapis.com/Job) type to the formerly used [`generic_task`](https://cloud.google.com/monitoring/api/resources#tag_generic_task) type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`CloudLoggingOption` contains additional settings for Cloud Logging logs generated by Batch job."
      }
    },
    "com.gcp.batch_v1#TaskGroup": {
      "type": "structure",
      "members": {
        "taskCountPerNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max number of tasks that can be run on a VM at the same time. If not specified, the system will decide a value based on available compute resources on a VM and task requirements."
          }
        },
        "runAsNonRoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If not set or set to false, Batch uses the root user to execute runnables. If set to true, Batch runs the runnables using a non-root user. Currently, the non-root user Batch used is generated by OS Login. For more information, see [About OS Login](https://cloud.google.com/compute/docs/oslogin)."
          }
        },
        "taskSpec": {
          "target": "com.gcp.batch_v1#TaskSpec",
          "traits": {
            "smithy.api#documentation": "Required. Tasks in the group share the same task spec."
          }
        },
        "permissiveSsh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, Batch will configure SSH to allow passwordless login between VMs running the Batch tasks in the same TaskGroup."
          }
        },
        "taskCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of Tasks in the TaskGroup. Default is 1."
          }
        },
        "parallelism": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max number of tasks that can run in parallel. Default to min(task_count, parallel tasks per job limit). See: [Job Limits](https://cloud.google.com/batch/quotas#job_limits). Field parallelism must be 1 if the scheduling_policy is IN_ORDER."
          }
        },
        "requireHostsFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, Batch will populate a file with a list of all VMs assigned to the TaskGroup and set the BATCH_HOSTS_FILE environment variable to the path of that file. Defaults to false. The host file supports up to 1000 VMs."
          }
        },
        "taskEnvironments": {
          "target": "com.gcp.batch_v1#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "An array of environment variable mappings, which are passed to Tasks with matching indices. If task_environments is used then task_count should not be specified in the request (and will be ignored). Task count will be the length of task_environments. Tasks get a BATCH_TASK_INDEX and BATCH_TASK_COUNT environment variable, in addition to any environment variables set in task_environments, specifying the number of Tasks in the Task's parent TaskGroup, and the specific Task's index in the TaskGroup (0 through BATCH_TASK_COUNT - 1)."
          }
        },
        "schedulingPolicy": {
          "target": "com.gcp.batch_v1#TaskGroupSchedulingPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Scheduling policy for Tasks in the TaskGroup. The default value is AS_SOON_AS_POSSIBLE."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. TaskGroup name. The system generates this field based on parent Job name. For example: \"projects/123456/locations/us-west1/jobs/job01/taskGroups/group01\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A TaskGroup defines one or more Tasks that all share the same TaskSpec."
      }
    },
    "com.gcp.batch_v1#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Environment"
      }
    },
    "com.gcp.batch_v1#TaskGroupSchedulingPolicyEnum": {
      "type": "enum",
      "members": {
        "SCHEDULING_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING_POLICY_UNSPECIFIED"
          }
        },
        "AS_SOON_AS_POSSIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS_SOON_AS_POSSIBLE"
          }
        },
        "IN_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_ORDER"
          }
        }
      }
    },
    "com.gcp.batch_v1#Disk": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk type as shown in `gcloud compute disk-types list`. For example, local SSD uses type \"local-ssd\". Persistent disks and boot disks use \"pd-balanced\", \"pd-extreme\", \"pd-ssd\" or \"pd-standard\". If not specified, \"pd-standard\" will be used as the default type for non-boot disks, \"pd-balanced\" will be used as the default type for boot disks."
          }
        },
        "snapshot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a snapshot used as the data source. Snapshot is not supported as boot disk now."
          }
        },
        "diskInterface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Local SSDs are available through both \"SCSI\" and \"NVMe\" interfaces. If not indicated, \"NVMe\" will be the default one for local ssds. This field is ignored for persistent disks as the interface is chosen automatically. See https://cloud.google.com/compute/docs/disks/persistent-disks#choose_an_interface."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for a VM image to use as the data source for this disk. For example, the following are all valid URLs: * Specify the image by its family name: projects/{project}/global/images/family/{image_family} * Specify the image version: projects/{project}/global/images/{image_version} You can also use Batch customized image in short names. The following image values are supported for a boot disk: * `batch-debian`: use Batch Debian images. * `batch-cos`: use Batch Container-Optimized images. * `batch-hpc-rocky`: use Batch HPC Rocky Linux images."
          }
        },
        "sizeGb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk size in GB. **Non-Boot Disk**: If the `type` specifies a persistent disk, this field is ignored if `data_source` is set as `image` or `snapshot`. If the `type` specifies a local SSD, this field should be a multiple of 375 GB, otherwise, the final size will be the next greater multiple of 375 GB. **Boot Disk**: Batch will calculate the boot disk size based on source image and task requirements if you do not speicify the size. If both this field and the `boot_disk_mib` field in task spec's `compute_resource` are defined, Batch will only honor this field. Also, this field should be no smaller than the source disk's size when the `data_source` is set as `snapshot` or `image`. For example, if you set an image as the `data_source` field and the image's default disk size 30 GB, you can only use this field to make the disk larger or equal to 30 GB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new persistent disk or a local ssd. A VM can only have one local SSD setting but multiple local SSD partitions. See https://cloud.google.com/compute/docs/disks#pdspecs and https://cloud.google.com/compute/docs/disks#localssds."
      }
    },
    "com.gcp.batch_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.batch_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.batch_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.batch_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.batch_v1#ListTasksResponse": {
      "type": "structure",
      "members": {
        "tasks": {
          "target": "com.gcp.batch_v1#TaskList",
          "traits": {
            "smithy.api#documentation": "Tasks."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListTasks Response."
      }
    },
    "com.gcp.batch_v1#TaskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Task"
      }
    },
    "com.gcp.batch_v1#AgentScript": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shell script text. To specify an interpreter, please add a `#!\\n` at the beginning of the text.(For example, to execute the script using bash, `#!/bin/bash\\n` should be added. To execute the script using`Python3`, `#!/usr/bin/env python3\\n` should be added.) Otherwise, the script will by default be executed by `/bin/sh`."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script file path on the host VM. To specify an interpreter, please add a `#!`(also known as [shebang line](https://en.wikipedia.org/wiki/Shebang_(Unix))) as the first line of the file.(For example, to execute the script using bash, `#!/bin/bash` should be the first line of the file. To execute the script using`Python3`, `#!/usr/bin/env python3` should be the first line of the file.) Otherwise, the file will by default be executed by `/bin/sh`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Script runnable representation on the agent side."
      }
    },
    "com.gcp.batch_v1#TaskSpec": {
      "type": "structure",
      "members": {
        "computeResource": {
          "target": "com.gcp.batch_v1#ComputeResource",
          "traits": {
            "smithy.api#documentation": "ComputeResource requirements."
          }
        },
        "maxRetryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of retries on failures. The default, 0, which means never retry. The valid value range is [0, 10]."
          }
        },
        "volumes": {
          "target": "com.gcp.batch_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "Volumes to mount before running Tasks using this TaskSpec."
          }
        },
        "environment": {
          "target": "com.gcp.batch_v1#Environment",
          "traits": {
            "smithy.api#documentation": "Environment variables to set before running the Task."
          }
        },
        "maxRunDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration."
          }
        },
        "lifecyclePolicies": {
          "target": "com.gcp.batch_v1#LifecyclePolicyList",
          "traits": {
            "smithy.api#documentation": "Lifecycle management schema when any task in a task group is failed. Currently we only support one lifecycle policy. When the lifecycle policy condition is met, the action in the policy will execute. If task execution result does not meet with the defined lifecycle policy, we consider it as the default policy. Default policy means if the exit code is 0, exit task. If task ends with non-zero exit code, retry the task with max_retry_count."
          }
        },
        "runnables": {
          "target": "com.gcp.batch_v1#RunnableList",
          "traits": {
            "smithy.api#documentation": "Required. The sequence of one or more runnables (executable scripts, executable containers, and/or barriers) for each task in this task group to run. Each task runs this list of runnables in order. For a task to succeed, all of its script and container runnables each must meet at least one of the following conditions: + The runnable exited with a zero status. + The runnable didn't finish, but you enabled its `background` subfield. + The runnable exited with a non-zero status, but you enabled its `ignore_exit_status` subfield."
          }
        },
        "environments": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Deprecated: please use environment(non-plural) instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Spec of a task"
      }
    },
    "com.gcp.batch_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Volume"
      }
    },
    "com.gcp.batch_v1#LifecyclePolicyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#LifecyclePolicy"
      }
    },
    "com.gcp.batch_v1#RunnableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Runnable"
      }
    },
    "com.gcp.batch_v1#JobNotification": {
      "type": "structure",
      "members": {
        "pubsubTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub topic where notifications for the job, like state changes, will be published. If undefined, no Pub/Sub notifications are sent for this job. Specify the topic using the following format: `projects/{project}/topics/{topic}`. Notably, if you want to specify a Pub/Sub topic that is in a different project than the job, your administrator must grant your project's Batch service agent permission to publish to that topic. For more information about configuring Pub/Sub notifications for a job, see https://cloud.google.com/batch/docs/enable-notifications."
          }
        },
        "message": {
          "target": "com.gcp.batch_v1#Message",
          "traits": {
            "smithy.api#documentation": "The attribute requirements of messages to be sent to this Pub/Sub topic. Without this field, no message will be sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notification configurations."
      }
    },
    "com.gcp.batch_v1#ListJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        },
        "jobs": {
          "target": "com.gcp.batch_v1#JobList",
          "traits": {
            "smithy.api#documentation": "Jobs."
          }
        },
        "unreachable": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ListJob Response."
      }
    },
    "com.gcp.batch_v1#JobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Job"
      }
    },
    "com.gcp.batch_v1#KMSEnvMap": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the KMS key that will be used to decrypt the cipher text."
          }
        },
        "cipherText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the cipherText response from the `encrypt` method."
          }
        }
      }
    },
    "com.gcp.batch_v1#AttachedDisk": {
      "type": "structure",
      "members": {
        "existingDisk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an existing PD."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device name that the guest operating system will see. It is used by Runnable.volumes field to mount disks. So please specify the device_name if you want Batch to help mount the disk, and it should match the device_name field in volumes."
          }
        },
        "newDisk": {
          "target": "com.gcp.batch_v1#Disk"
        }
      },
      "traits": {
        "smithy.api#documentation": "A new or an existing persistent disk (PD) or a local ssd attached to a VM instance."
      }
    },
    "com.gcp.batch_v1#AgentTask": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.batch_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "Task status."
          }
        },
        "task": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task name."
          }
        },
        "reachedBarrier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest barrier reached by all tasks in the task's TaskGroup."
          }
        },
        "spec": {
          "target": "com.gcp.batch_v1#TaskSpec",
          "traits": {
            "smithy.api#documentation": "Task Spec. This field will be replaced by agent_task_spec below in future."
          }
        },
        "intendedState": {
          "target": "com.gcp.batch_v1#AgentTaskIntendedStateEnum",
          "traits": {
            "smithy.api#documentation": "The intended state of the task."
          }
        },
        "taskSource": {
          "target": "com.gcp.batch_v1#AgentTaskTaskSourceEnum",
          "traits": {
            "smithy.api#documentation": "TaskSource represents the source of the task."
          }
        },
        "agentTaskSpec": {
          "target": "com.gcp.batch_v1#AgentTaskSpec",
          "traits": {
            "smithy.api#documentation": "AgentTaskSpec is the taskSpec representation between Agent and CLH communication. This field will replace the TaskSpec field above in future to have a better separation between user-facaing API and internal API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TODO(b/182501497) The message needs to be redefined when the Agent API server updates data in storage per the backend design."
      }
    },
    "com.gcp.batch_v1#AgentTaskIntendedStateEnum": {
      "type": "enum",
      "members": {
        "INTENDED_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENDED_STATE_UNSPECIFIED"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.batch_v1#AgentTaskTaskSourceEnum": {
      "type": "enum",
      "members": {
        "TASK_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_SOURCE_UNSPECIFIED"
          }
        },
        "BATCH_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATCH_INTERNAL"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.batch_v1#PlacementPolicy": {
      "type": "structure",
      "members": {
        "collocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UNSPECIFIED vs. COLLOCATED (default UNSPECIFIED). Use COLLOCATED when you want VMs to be located close to each other for low network latency between the VMs. No placement policy will be generated when collocation is UNSPECIFIED."
          }
        },
        "maxDistance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When specified, causes the job to fail if more than max_distance logical switches are required between VMs. Batch uses the most compact possible placement of VMs even when max_distance is not specified. An explicit max_distance makes that level of compactness a strict requirement. Not yet implemented"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PlacementPolicy describes a group placement policy for the VMs controlled by this AllocationPolicy."
      }
    },
    "com.gcp.batch_v1#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.batch_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.batch_v1#AllocationPolicy": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.batch_v1#InstancePolicyOrTemplateList",
          "traits": {
            "smithy.api#documentation": "Describe instances that can be created by this AllocationPolicy. Only instances[0] is supported now."
          }
        },
        "labels": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Custom labels to apply to the job and all the Compute Engine resources that both are created by this allocation policy and support labels. Use labels to group and describe the resources they are applied to. Batch automatically applies predefined labels and supports multiple `labels` fields for each job, which each let you apply custom labels to various resources. Label names that start with \"goog-\" or \"google-\" are reserved for predefined labels. For more information about labels with Batch, see [Organize resources using labels](https://cloud.google.com/batch/docs/organize-resources-using-labels)."
          }
        },
        "network": {
          "target": "com.gcp.batch_v1#NetworkPolicy",
          "traits": {
            "smithy.api#documentation": "The network policy. If you define an instance template in the `InstancePolicyOrTemplate` field, Batch will use the network settings in the instance template instead of this field."
          }
        },
        "tags": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Tags applied to the VM instances. The tags identify valid sources or targets for network firewalls. Each tag must be 1-63 characters long, and comply with [RFC1035](https://www.ietf.org/rfc/rfc1035.txt)."
          }
        },
        "location": {
          "target": "com.gcp.batch_v1#LocationPolicy",
          "traits": {
            "smithy.api#documentation": "Location where compute resources should be allocated for the Job."
          }
        },
        "serviceAccount": {
          "target": "com.gcp.batch_v1#ServiceAccount",
          "traits": {
            "smithy.api#documentation": "Defines the service account for Batch-created VMs. If omitted, the [default Compute Engine service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. Must match the service account specified in any used instance template configured in the Batch job. Includes the following fields: * email: The service account's email address. If not set, the default Compute Engine service account is used. * scopes: Additional OAuth scopes to grant the service account, beyond the default cloud-platform scope. (list of strings)"
          }
        },
        "placement": {
          "target": "com.gcp.batch_v1#PlacementPolicy",
          "traits": {
            "smithy.api#documentation": "The placement policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Job's resource allocation policy describes when, where, and how compute resources should be allocated for the Job."
      }
    },
    "com.gcp.batch_v1#InstancePolicyOrTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#InstancePolicyOrTemplate"
      }
    },
    "com.gcp.batch_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.batch_v1#StatusEvent": {
      "type": "structure",
      "members": {
        "taskState": {
          "target": "com.gcp.batch_v1#StatusEventTaskStateEnum",
          "traits": {
            "smithy.api#documentation": "Task State. This field is only defined for task-level status events."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the event."
          }
        },
        "taskExecution": {
          "target": "com.gcp.batch_v1#TaskExecution",
          "traits": {
            "smithy.api#documentation": "Task Execution. This field is only defined for task-level status events where the task fails."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the event."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this event occurred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status event."
      }
    },
    "com.gcp.batch_v1#StatusEventTaskStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "UNEXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNEXECUTED"
          }
        }
      }
    },
    "com.gcp.batch_v1#AgentMetadata": {
      "type": "structure",
      "members": {
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. machine type of the VM"
          }
        },
        "instancePreemptionNoticeReceived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the GCP instance has received preemption notice."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP instance ID (go/instance-id)."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent zone."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the VM agent started. Use agent_startup_time instead."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the entity that created this vm. For MIG, this path is: projects/{project}/regions/{region}/InstanceGroupManagers/{igm} The value is retrieved from the vm metadata key of \"created-by\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "agent binary version running on VM"
          }
        },
        "instance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GCP instance name (go/instance-name)."
          }
        },
        "osRelease": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "parsed contents of /etc/os-release"
          }
        },
        "imageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "image version for the VM that this agent is installed on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM Agent Metadata."
      }
    },
    "com.gcp.batch_v1#TaskExecution": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of a finished task. If the task succeeded, the exit code will be 0. If the task failed but not due to the following reasons, the exit code will be 50000. Otherwise, it can be from different sources: * Batch known failures: https://cloud.google.com/batch/docs/troubleshooting#reserved-exit-codes. * Batch runnable execution failures; you can rely on Batch logs to further diagnose: https://cloud.google.com/batch/docs/analyze-job-using-logs. If there are multiple runnables failures, Batch only exposes the first error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This Task Execution field includes detail information for task execution procedures, based on StatusEvent types."
      }
    },
    "com.gcp.batch_v1#InstancePolicyOrTemplate": {
      "type": "structure",
      "members": {
        "blockProjectSshKeys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this field to `true` if you want Batch to block project-level SSH keys from accessing this job's VMs. Alternatively, you can configure the job to specify a VM instance template that blocks project-level SSH keys. In either case, Batch blocks project-level SSH keys while creating the VMs for this job. Batch allows project-level SSH keys for a job's VMs only if all the following are true: + This field is undefined or set to `false`. + The job's VM instance template (if any) doesn't block project-level SSH keys. Notably, you can override this behavior by manually updating a VM to block or allow project-level SSH keys. For more information about blocking project-level SSH keys, see the Compute Engine documentation: https://cloud.google.com/compute/docs/connect/restrict-ssh-keys#block-keys"
          }
        },
        "policy": {
          "target": "com.gcp.batch_v1#InstancePolicy",
          "traits": {
            "smithy.api#documentation": "InstancePolicy."
          }
        },
        "installGpuDrivers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this field true if you want Batch to help fetch drivers from a third party location and install them for GPUs specified in `policy.accelerators` or `instance_template` on your behalf. Default is false. For Container-Optimized Image cases, Batch will install the accelerator driver following milestones of https://cloud.google.com/container-optimized-os/docs/release-notes. For non Container-Optimized Image cases, following https://github.com/GoogleCloudPlatform/compute-gpu-installation/blob/main/linux/install_gpu_driver.py."
          }
        },
        "instanceTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an instance template used to create VMs. Named the field as 'instance_template' instead of 'template' to avoid C++ keyword conflict. Batch only supports global instance templates from the same project as the job. You can specify the global instance template as a full or partial URL."
          }
        },
        "installOpsAgent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this field true if you want Batch to install Ops Agent on your behalf. Default is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstancePolicyOrTemplate lets you define the type of resources to use for this job either with an InstancePolicy or an instance template. If undefined, Batch picks the type of VM to use and doesn't include optional VM resources such as GPUs and extra disks."
      }
    },
    "com.gcp.batch_v1#AgentTaskSpec": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.batch_v1#AgentEnvironment",
          "traits": {
            "smithy.api#documentation": "Environment variables to set before running the Task."
          }
        },
        "maxRunDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum duration the task should run before being automatically retried (if enabled) or automatically failed. Format the value of this field as a time limit in seconds followed by `s`—for example, `3600s` for 1 hour. The field accepts any value between 0 and the maximum listed for the `Duration` field type at https://protobuf.dev/reference/protobuf/google.protobuf/#duration; however, the actual maximum run time for a job will be limited to the maximum run time for a job listed at https://cloud.google.com/batch/quotas#max-job-duration."
          }
        },
        "userAccount": {
          "target": "com.gcp.batch_v1#AgentTaskUserAccount",
          "traits": {
            "smithy.api#documentation": "User account on the VM to run the runnables in the agentTaskSpec. If not set, the runnable will be run under root user."
          }
        },
        "loggingOption": {
          "target": "com.gcp.batch_v1#AgentTaskLoggingOption",
          "traits": {
            "smithy.api#documentation": "Logging option for the task."
          }
        },
        "runnables": {
          "target": "com.gcp.batch_v1#AgentTaskRunnableList",
          "traits": {
            "smithy.api#documentation": "AgentTaskRunnable is runanbles that will be executed on the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentTaskSpec is the user's TaskSpec representation between Agent and CLH communication."
      }
    },
    "com.gcp.batch_v1#AgentTaskRunnableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#AgentTaskRunnable"
      }
    },
    "com.gcp.batch_v1#AgentTaskInfo": {
      "type": "structure",
      "members": {
        "taskStatus": {
          "target": "com.gcp.batch_v1#TaskStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Task. If we need agent specific fields we should fork the public TaskStatus into an agent specific one. Or add them below."
          }
        },
        "runnable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highest index of a runnable started by the agent for this task. The runnables are indexed from 1. Value 0 is undefined."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the Task"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Task Info"
      }
    },
    "com.gcp.batch_v1#CancelJobRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CancelJob Request."
      }
    },
    "com.gcp.batch_v1#AgentKMSEnvMap": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the KMS key that will be used to decrypt the cipher text."
          }
        },
        "cipherText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the cipherText response from the `encrypt` method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AgentKMSEnvMap contains the encrypted key/value pair to be used in the environment on the Agent side."
      }
    },
    "com.gcp.batch_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.batch_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.batch_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Operation"
      }
    },
    "com.gcp.batch_v1#NetworkInterface": {
      "type": "structure",
      "members": {
        "noExternalIpAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default is false (with an external IP address). Required if no external public IP address is attached to the VM. If no external public IP address, additional configuration is required to allow the VM to access Google Services. See https://cloud.google.com/vpc/docs/configure-private-google-access and https://cloud.google.com/nat/docs/gce-example#create-nat for more information."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of an existing network resource. You can specify the network as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} * projects/{project}/global/networks/{network} * global/networks/{network}"
          }
        },
        "subnetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of an existing subnetwork resource in the network. You can specify the subnetwork as a full or partial URL. For example, the following are all valid URLs: * https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/subnetworks/{subnetwork} * projects/{project}/regions/{region}/subnetworks/{subnetwork} * regions/{region}/subnetworks/{subnetwork}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A network interface."
      }
    },
    "com.gcp.batch_v1#ReportAgentStateRequest": {
      "type": "structure",
      "members": {
        "agentInfo": {
          "target": "com.gcp.batch_v1#AgentInfo",
          "traits": {
            "smithy.api#documentation": "Agent info."
          }
        },
        "metadata": {
          "target": "com.gcp.batch_v1#AgentMetadata",
          "traits": {
            "smithy.api#documentation": "Agent metadata."
          }
        },
        "agentTimingInfo": {
          "target": "com.gcp.batch_v1#AgentTimingInfo",
          "traits": {
            "smithy.api#documentation": "Agent timing info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to report agent's state. The Request itself implies the agent is healthy."
      }
    },
    "com.gcp.batch_v1#ServiceAccount": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the service account."
          }
        },
        "scopes": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of scopes to be enabled for this service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Carries information about a Google Cloud service account."
      }
    },
    "com.gcp.batch_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.batch_v1#Runnable": {
      "type": "structure",
      "members": {
        "script": {
          "target": "com.gcp.batch_v1#Script",
          "traits": {
            "smithy.api#documentation": "Script runnable."
          }
        },
        "alwaysRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "By default, after a Runnable fails, no further Runnable are executed. This flag indicates that this Runnable must be run even if the Task has already failed. This is useful for Runnables that copy output files off of the VM or for debugging. The always_run flag does not override the Task's overall max_run_duration. If the max_run_duration has expired then no further Runnables will execute, not even always_run Runnables."
          }
        },
        "barrier": {
          "target": "com.gcp.batch_v1#Barrier",
          "traits": {
            "smithy.api#documentation": "Barrier runnable."
          }
        },
        "environment": {
          "target": "com.gcp.batch_v1#Environment",
          "traits": {
            "smithy.api#documentation": "Environment variables for this Runnable (overrides variables set for the whole Task or TaskGroup)."
          }
        },
        "ignoreExitStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Normally, a runnable that returns a non-zero exit status fails and causes the task to fail. However, you can set this field to `true` to allow the task to continue executing its other runnables even if this runnable fails."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DisplayName is an optional field that can be provided by the caller. If provided, it will be used in logs and other outputs to identify the script, making it easier for users to understand the logs. If not provided the index of the runnable will be used for outputs."
          }
        },
        "labels": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels for this Runnable."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timeout for this Runnable."
          }
        },
        "container": {
          "target": "com.gcp.batch_v1#Container",
          "traits": {
            "smithy.api#documentation": "Container runnable."
          }
        },
        "background": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Normally, a runnable that doesn't exit causes its task to fail. However, you can set this field to `true` to configure a background runnable. Background runnables are allowed continue running in the background while the task executes subsequent runnables. For example, background runnables are useful for providing services to other runnables or providing debugging-support tools like SSH servers. Specifically, background runnables are killed automatically (if they have not already exited) a short time after all foreground runnables have completed. Even though this is likely to result in a non-zero exit status for the background runnable, these automatic kills are not treated as task failures."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Runnable describes instructions for executing a specific script or container as part of a Task."
      }
    },
    "com.gcp.batch_v1#Volume": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device name of an attached disk volume, which should align with a device_name specified by job.allocation_policy.instances[0].policy.disks[i].device_name or defined by the given instance template in job.allocation_policy.instances[0].instance_template."
          }
        },
        "mountOptions": {
          "target": "com.gcp.batch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Mount options vary based on the type of storage volume: * For a Cloud Storage bucket, all the mount options provided by the [`gcsfuse` tool](https://cloud.google.com/storage/docs/gcsfuse-cli) are supported. * For an existing persistent disk, all mount options provided by the [`mount` command](https://man7.org/linux/man-pages/man8/mount.8.html) except writing are supported. This is due to restrictions of [multi-writer mode](https://cloud.google.com/compute/docs/disks/sharing-disks-between-vms). * For any other disk or a Network File System (NFS), all the mount options provided by the `mount` command are supported."
          }
        },
        "gcs": {
          "target": "com.gcp.batch_v1#GCS",
          "traits": {
            "smithy.api#documentation": "A Google Cloud Storage (GCS) volume."
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mount path for the volume, e.g. /mnt/disks/share."
          }
        },
        "nfs": {
          "target": "com.gcp.batch_v1#NFS",
          "traits": {
            "smithy.api#documentation": "A Network File System (NFS) volume. For example, a Filestore file share."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume describes a volume and parameters for it to be mounted to a VM."
      }
    },
    "com.gcp.batch_v1#TaskStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.batch_v1#TaskStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Task state."
          }
        },
        "statusEvents": {
          "target": "com.gcp.batch_v1#StatusEventList",
          "traits": {
            "smithy.api#documentation": "Detailed info about why the state is reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a task."
      }
    },
    "com.gcp.batch_v1#TaskStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "UNEXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNEXECUTED"
          }
        }
      }
    },
    "com.gcp.batch_v1#InstancePolicy": {
      "type": "structure",
      "members": {
        "provisioningModel": {
          "target": "com.gcp.batch_v1#InstancePolicyProvisioningModelEnum",
          "traits": {
            "smithy.api#documentation": "The provisioning model."
          }
        },
        "disks": {
          "target": "com.gcp.batch_v1#AttachedDiskList",
          "traits": {
            "smithy.api#documentation": "Non-boot disks to be attached for each VM created by this InstancePolicy. New disks will be deleted when the VM is deleted. A non-boot disk is a disk that can be of a device with a file system or a raw storage drive that is not ready for data storage and accessing."
          }
        },
        "reservation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If not specified (default), VMs will consume any applicable reservation. If \"NO_RESERVATION\" is specified, VMs will not consume any reservation. Otherwise, if specified, VMs will consume only the specified reservation."
          }
        },
        "machineType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine machine type."
          }
        },
        "accelerators": {
          "target": "com.gcp.batch_v1#AcceleratorList",
          "traits": {
            "smithy.api#documentation": "The accelerators attached to each VM instance."
          }
        },
        "minCpuPlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum CPU platform. See https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform."
          }
        },
        "bootDisk": {
          "target": "com.gcp.batch_v1#Disk",
          "traits": {
            "smithy.api#documentation": "Boot disk to be created and attached to each VM by this InstancePolicy. Boot disk will be deleted when the VM is deleted. Batch API now only supports booting from image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstancePolicy describes an instance type and resources attached to each VM created by this InstancePolicy."
      }
    },
    "com.gcp.batch_v1#InstancePolicyProvisioningModelEnum": {
      "type": "enum",
      "members": {
        "PROVISIONING_MODEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING_MODEL_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "PREEMPTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREEMPTIBLE"
          }
        },
        "RESERVATION_BOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_BOUND"
          }
        },
        "FLEX_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX_START"
          }
        }
      }
    },
    "com.gcp.batch_v1#AttachedDiskList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#AttachedDisk"
      }
    },
    "com.gcp.batch_v1#AcceleratorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.batch_v1#Accelerator"
      }
    },
    "com.gcp.batch_v1#TaskGroupStatus": {
      "type": "structure",
      "members": {
        "counts": {
          "target": "com.gcp.batch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Count of task in each state in the TaskGroup. The map key is task state name."
          }
        },
        "instances": {
          "target": "com.gcp.batch_v1#InstanceStatusList",
          "traits": {
            "smithy.api#documentation": "Status of instances allocated for the TaskGroup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated task status for a TaskGroup."
      }
[...]
