{
  "smithy": "2.0",
  "metadata": {
    "service": "beyondcorp",
    "version": "v1",
    "title": "BeyondCorp API",
    "baseUrl": "https://beyondcorp.googleapis.com/"
  },
  "shapes": {
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1LoggingConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for Cloud Logging."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1alphaSecurityGatewayOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ListSecurityGatewaysResponse": {
      "type": "structure",
      "members": {
        "securityGateways": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp SecurityGateway in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing SecurityGateways."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGateway"
      }
    },
    "com.gcp.beyondcorp_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.beyondcorp_v1#ListAppGatewaysResponse": {
      "type": "structure",
      "members": {
        "appGateways": {
          "target": "com.gcp.beyondcorp_v1#AppGatewayList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp AppGateways in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ListAppGateways."
      }
    },
    "com.gcp.beyondcorp_v1#AppGatewayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#AppGateway"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1alphaAppConnectionOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpPartnerservicesV1alphaPartnerServiceOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcher": {
      "type": "structure",
      "members": {
        "ports": {
          "target": "com.gcp.beyondcorp_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Required. The ports of the application."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname of the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EndpointMatcher contains the information of the endpoint that will match the application."
      }
    },
    "com.gcp.beyondcorp_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ListAppConnectorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "appConnectors": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp AppConnectors in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ListAppConnectors."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnector"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1Application": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of the resource."
          }
        },
        "endpointMatchers": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcherList",
          "traits": {
            "smithy.api#documentation": "Optional. An array of conditions to match the application's network endpoint. Each element in the array is an EndpointMatcher object, which defines a specific combination of a hostname pattern and one or more ports. The application is considered matched if at least one of the EndpointMatcher conditions in this array is met (the conditions are combined using OR logic). Each EndpointMatcher must contain a hostname pattern, such as \"example.com\", and one or more port numbers specified as a string, such as \"443\". Hostname and port number examples: \"*.example.com\", \"443\" \"example.com\" and \"22\" \"example.com\" and \"22,33\""
          }
        },
        "schema": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationSchemaEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of the external application."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the application resource. Cannot exceed 64 characters."
          }
        },
        "upstreams": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamList",
          "traits": {
            "smithy.api#documentation": "Optional. Which upstream resources to forward traffic to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information about an application resource."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1EndpointMatcher"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationSchemaEnum": {
      "type": "enum",
      "members": {
        "SCHEMA_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEMA_UNSPECIFIED"
          }
        },
        "PROXY_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXY_GATEWAY"
          }
        },
        "API_GATEWAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_GATEWAY"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstream"
      }
    },
    "com.gcp.beyondcorp_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponse": {
      "type": "structure",
      "members": {
        "appConnectionDetails": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetailsList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp AppConnections with details in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ResolveAppConnections."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetails"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ResolveAppConnectionsResponseAppConnectionDetails": {
      "type": "structure",
      "members": {
        "appConnection": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnection",
          "traits": {
            "smithy.api#documentation": "A BeyondCorp AppConnection in the project."
          }
        },
        "recentMigVms": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "If type=GCP_REGIONAL_MIG, contains most recent VM instances, like `https://www.googleapis.com/compute/v1/projects/{project_id}/zones/{zone_id}/instances/{instance_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the AppConnection."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1Policy": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.beyondcorp_v1#GoogleIamV1AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.beyondcorp_v1#GoogleIamV1BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleIamV1AuditConfig"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleIamV1Binding"
      }
    },
    "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoGateway": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "self_link is the gateway URL in the form https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "interface": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "interface specifies the network interface of the gateway to connect to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the name of an instance running a gateway. It is the unique ID for a gateway. All gateways under the same connection have the same prefix. It is derived from the gateway URL. For example, name=${instance} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "port specifies the port of the gateway for tunnel connections from the connectors."
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "project is the tenant project the gateway belongs to. Different from the project in the connection, it is a BeyondCorpAPI internally created project to manage all the gateways. It is sharing the same network with the consumer project user owned. It is derived from the gateway URL. For example, project=${project} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "zone represents the zone the instance belongs. It is derived from the gateway URL. For example, zone=${zone} assuming a gateway URL. https://www.googleapis.com/compute/${version}/projects/${project}/zones/${zone}/instances/${instance}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway represents a GCE VM Instance endpoint for use by IAP TCP."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique Id for the resource."
          }
        },
        "status": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfoStatusEnum",
          "traits": {
            "smithy.api#documentation": "Overall health status. Overall status is derived based on the status of each sub level resources."
          }
        },
        "resource": {
          "target": "com.gcp.beyondcorp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Specific details for the resource. This is for internal use only."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to collect the info. It is suggested to be set by the topmost level resource only."
          }
        },
        "sub": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfoList",
          "traits": {
            "smithy.api#documentation": "List of Info for the sub level resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ResourceInfo represents the information or status of an app connector resource component that's used to report on various parts of the system. For example, ResourceInfo can be used to convey the status of a remote_agent, including the status of an appgateway for an runtime environment in a container instance."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfoStatusEnum": {
      "type": "enum",
      "members": {
        "HEALTH_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTH_STATUS_UNSPECIFIED"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "UNRESPONSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESPONSIVE"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudLocationLocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.beyondcorp_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.beyondcorp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.beyondcorp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.beyondcorp_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpConnectorsV1alphaConnectorOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionApplicationEndpoint": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname or IP address of the remote application endpoint."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port of the remote application endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApplicationEndpoint represents a remote application endpoint."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1NotificationConfigCloudPubSubNotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubSubscription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Pub/Sub subscription the AppConnector uses to receive notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for Pub/Sub messaging for the AppConnector."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionOperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfo": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfoServiceAccount",
          "traits": {
            "smithy.api#documentation": "A GCP service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrincipalInfo represents an Identity oneof."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfo": {
      "type": "structure",
      "members": {
        "outputType": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfoOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The output type details for the delegated device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegated device information configuration."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedDeviceInfoOutputTypeEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TYPE_UNSPECIFIED"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpPartnerservicesV1mainPartnerServiceOperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.beyondcorp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.beyondcorp_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResolveInstanceConfigResponse": {
      "type": "structure",
      "members": {
        "instanceConfig": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorInstanceConfig",
          "traits": {
            "smithy.api#documentation": "AppConnectorInstanceConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ResolveInstanceConfig."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1alphaContainerHealthDetails": {
      "type": "structure",
      "members": {
        "currentConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the current config."
          }
        },
        "extendedStatus": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
          }
        },
        "expectedConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the expected config."
          }
        },
        "errorMsg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerHealthDetails reflects the health details of a container."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGateway": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGatewayTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of hosting used by the gateway."
          }
        },
        "ingressPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Ingress port reserved on the gateways for this AppConnection, if not specified or zero, the default port is 19443."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined URI for this resource."
          }
        },
        "l7psc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. L7 private service connection for this resource."
          }
        },
        "appGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. AppGateway name in following format: `projects/{project_id}/locations/{location_id}/appgateways/{gateway_id}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway represents a user facing component that serves as an entrance to enable connectivity."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGatewayTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GCP_REGIONAL_MIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP_REGIONAL_MIG"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfo": {
      "type": "structure",
      "members": {
        "outputType": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfoOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The delegated user's information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration information for the delegated user."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedUserInfoOutputTypeEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TYPE_UNSPECIFIED"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1EgressPolicy": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. List of the regions where the application sends traffic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Routing policy information."
      }
    },
    "com.gcp.beyondcorp_v1#Tunnelv1ProtoTunnelerError": {
      "type": "structure",
      "members": {
        "retryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "retryable isn't used for now, but we may want to reuse it in the future."
          }
        },
        "err": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Original raw error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TunnelerError is an error proto for errors returned by the connection manager."
      }
    },
    "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoConnectionConfig": {
      "type": "structure",
      "members": {
        "gateway": {
          "target": "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoGatewayList",
          "traits": {
            "smithy.api#documentation": "gateway lists all instances running a gateway in GCP. They all connect to a connector on the host."
          }
        },
        "userPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "user_port specifies the reserved port on gateways for user connections."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "name is the unique ID for each connection. TODO(b/190732451) returns connection name from user-specified name in config. Now, name = ${application_name}:${application_endpoint}"
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "project represents the consumer project the connection belongs to."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "application_name represents the given name of the application the connection is connecting with."
          }
        },
        "applicationEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "application_endpoint is the endpoint of the application the form of host:port. For example, \"localhost:80\"."
          }
        },
        "tunnelsPerGateway": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "tunnels_per_gateway reflects the number of tunnels between a connector and a gateway."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectionConfig represents a Connection Configuration object."
      }
    },
    "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoGatewayList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoGateway"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfig": {
      "type": "structure",
      "members": {
        "allowedClientHeaders": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of the allowed client header names."
          }
        },
        "metadataHeaders": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Custom resource specific headers along with the values. The names should conform to RFC 9110: >Field names can contain alphanumeric characters, hyphens, and periods, can contain only ASCII-printable characters and tabs, and must start with a letter."
          }
        },
        "gatewayIdentity": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfigGatewayIdentityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The security gateway identity configuration."
          }
        },
        "contextualHeaders": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeaders",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for the contextual headers."
          }
        },
        "clientIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Client IP configuration. The client IP address is included if true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for the proxy."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ProxyProtocolConfigGatewayIdentityEnum": {
      "type": "enum",
      "members": {
        "GATEWAY_IDENTITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATEWAY_IDENTITY_UNSPECIFIED"
          }
        },
        "RESOURCE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NAME"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#AllocatedConnection": {
      "type": "structure",
      "members": {
        "pscUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The PSC uri of an allocated connection"
          }
        },
        "ingressPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The ingress port of an allocated connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allocated connection of the AppGateway."
      }
    },
    "com.gcp.beyondcorp_v1#Tunnelv1ProtoTunnelerInfo": {
      "type": "structure",
      "members": {
        "latestRetryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "latest_retry_time stores the time when the tunneler was last restarted."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "id is the unique id of a tunneler."
          }
        },
        "totalRetryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "total_retry_count stores the total number of times the tunneler has been retried by tunManager."
          }
        },
        "backoffRetryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "backoff_retry_count stores the number of times the tunneler has been retried by tunManager for current backoff sequence. Gets reset to 0 if time difference between 2 consecutive retries exceeds backoffRetryResetTime."
          }
        },
        "latestErr": {
          "target": "com.gcp.beyondcorp_v1#Tunnelv1ProtoTunnelerError",
          "traits": {
            "smithy.api#documentation": "latest_err stores the Error for the latest tunneler failure. Gets reset everytime the tunneler is retried by tunManager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TunnelerInfo contains metadata about tunneler launched by connection manager."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ContainerHealthDetails": {
      "type": "structure",
      "members": {
        "currentConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the current config."
          }
        },
        "extendedStatus": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The extended status. Such as ExitCode, StartedAt, FinishedAt, etc."
          }
        },
        "expectedConfigVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the expected config."
          }
        },
        "errorMsg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ContainerHealthDetails reflects the health details of a container."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#CloudSecurityZerotrustApplinkAppConnectorProtoConnectorDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "ConnectorDetails reflects the details of a connector."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppgatewaysV1alphaAppGatewayOperationMetadata": {
      "type": "structure",
      "members": {
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfo": {
      "type": "structure",
      "members": {
        "outputType": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfoOutputTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The output type of the delegated group information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The delegated group configuration details."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ContextualHeadersDelegatedGroupInfoOutputTypeEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TYPE_UNSPECIFIED"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOBUF"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1ListAppConnectionsResponse": {
      "type": "structure",
      "members": {
        "appConnections": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp AppConnections in the project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BeyondCorp.ListAppConnections."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnection"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ReportStatusRequest": {
      "type": "structure",
      "members": {
        "resourceInfo": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo",
          "traits": {
            "smithy.api#documentation": "Required. Resource info of the connector."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, validates request by executing a dry-run which would not alter the resource in any way."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request report the connector status."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationUpstreamNetwork": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network name is of the format: `projects/{project}/global/networks/{network}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network to forward traffic to."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1alphaAppConnectorOperationMetadata": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.beyondcorp_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.beyondcorp_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#DocumentMap"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorInstanceConfig": {
      "type": "structure",
      "members": {
        "notificationConfig": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1NotificationConfig",
          "traits": {
            "smithy.api#documentation": "NotificationConfig defines the notification mechanism that the remote instance should subscribe to in order to receive notification."
          }
        },
        "imageConfig": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ImageConfig",
          "traits": {
            "smithy.api#documentation": "ImageConfig defines the GCR images to run for the remote agent's control plane."
          }
        },
        "sequenceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A monotonically increasing number generated and maintained by the API provider. Every time a config changes in the backend, the sequenceNumber should be bumped up to reflect the change."
          }
        },
        "instanceConfig": {
          "target": "com.gcp.beyondcorp_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The SLM instance agent configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AppConnectorInstanceConfig defines the instance config of a AppConnector."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleIamV1AuditLogConfig"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnection": {
      "type": "structure",
      "members": {
        "gateway": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionGateway",
          "traits": {
            "smithy.api#documentation": "Optional. Gateway used by the AppConnection."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique resource name of the AppConnection. The name is ignored when creating a AppConnection."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "labels": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "state": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the AppConnection."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the instance generated by the system."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the AppConnection. Cannot exceed 64 characters."
          }
        },
        "type": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of network connectivity used by the AppConnection."
          }
        },
        "connectors": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of [google.cloud.beyondcorp.v1main.Connector.name] that are authorized to be associated with this AppConnection."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "applicationEndpoint": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionApplicationEndpoint",
          "traits": {
            "smithy.api#documentation": "Required. Address of the remote application endpoint for the BeyondCorp AppConnection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BeyondCorp AppConnection resource represents a BeyondCorp protected AppConnection to a remote application. It creates all the necessary GCP components needed for creating a BeyondCorp protected AppConnection. Multiple connectors can be authorized for a single AppConnection."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectionsV1AppConnectionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "TCP_PROXY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP_PROXY"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1NotificationConfig": {
      "type": "structure",
      "members": {
        "pubsubNotification": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1NotificationConfigCloudPubSubNotificationConfig",
          "traits": {
            "smithy.api#documentation": "Cloud Pub/Sub Configuration to receive notifications."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NotificationConfig defines the mechanisms to notify instance agent."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ImageConfig": {
      "type": "structure",
      "members": {
        "stableImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable image that the remote agent will fallback to if the target image fails. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
          }
        },
        "targetImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial image the remote agent will attempt to run for the control plane. Format would be a gcr image path, e.g.: gcr.io/PROJECT-ID/my-image:tag1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ImageConfig defines the control plane images to run."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ListApplicationsResponse": {
      "type": "structure",
      "members": {
        "applications": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationList",
          "traits": {
            "smithy.api#documentation": "A list of BeyondCorp Application in the project."
          }
        },
        "unreachable": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Applications."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1Application"
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1Endpoint": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Hostname of the endpoint."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Port of the endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internet Gateway endpoint to forward traffic to."
      }
    },
    "com.gcp.beyondcorp_v1#AppGatewayOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.beyondcorp_v1#GoogleTypeExpr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleIamV1TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.beyondcorp_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleTypeExpr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnector": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Unique resource name of the AppConnector. The name is ignored when creating a AppConnector."
          }
        },
        "principalInfo": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorPrincipalInfo",
          "traits": {
            "smithy.api#documentation": "Required. Principal information about the Identity of the AppConnector."
          }
        },
        "resourceInfo": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1ResourceInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Resource info of the connector."
          }
        },
        "labels": {
          "target": "com.gcp.beyondcorp_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Resource labels to represent user provided metadata."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the instance generated by the system."
          }
        },
        "state": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the AppConnector."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the resource was last modified."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the AppConnector. Cannot exceed 64 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A BeyondCorp connector resource that represents an application facing component deployed proximal to and with direct access to the application instances. It is used to establish connectivity between the remote enterprise environment and GCP. It initiates connections to the applications and can proxy the data from users over the connection."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1AppConnectorStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN"
          }
        }
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpAppconnectorsV1RemoteAgentDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "RemoteAgentDetails reflects the details of a remote agent."
      }
    },
    "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGateway": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary user-provided name for the SecurityGateway. Cannot exceed 64 characters."
          }
        },
        "serviceDiscovery": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1ServiceDiscovery",
          "traits": {
            "smithy.api#documentation": "Optional. Settings related to the Service Discovery."
          }
        },
        "state": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1SecurityGatewayStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The operational state of the SecurityGateway."
          }
        },
        "hubs": {
          "target": "com.gcp.beyondcorp_v1#GoogleCloudBeyondcorpSecuritygatewaysV1HubMap",
          "traits": {
            "smithy.api#documentation": "Optional. Map of Hubs that represents regional data path deployment with GCP region as a key."
          }
[...]
