{
  "smithy": "2.0",
  "metadata": {
    "service": "biglake",
    "version": "v1",
    "title": "Lakehouse API",
    "baseUrl": "https://biglake.googleapis.com/"
  },
  "shapes": {
    "com.gcp.biglake_v1#SerDeInfo": {
      "type": "structure",
      "members": {
        "serializationLib": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified Java class name of the serialization library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serializer and deserializer information."
      }
    },
    "com.gcp.biglake_v1#Catalog": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this catalog is considered expired. Only set after the catalog is deleted."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the catalog."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last modification time of the catalog."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deletion time of the catalog. Only set after the catalog is deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog is the container of databases."
      }
    },
    "com.gcp.biglake_v1#ListCatalogsResponse": {
      "type": "structure",
      "members": {
        "catalogs": {
          "target": "com.gcp.biglake_v1#CatalogList",
          "traits": {
            "smithy.api#documentation": "The catalogs from the specified project."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListCatalogs method."
      }
    },
    "com.gcp.biglake_v1#CatalogList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#Catalog"
      }
    },
    "com.gcp.biglake_v1#Database": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deletion time of the database. Only set after the database is deleted."
          }
        },
        "hiveOptions": {
          "target": "com.gcp.biglake_v1#HiveDatabaseOptions",
          "traits": {
            "smithy.api#documentation": "Options of a Hive database."
          }
        },
        "type": {
          "target": "com.gcp.biglake_v1#DatabaseTypeEnum",
          "traits": {
            "smithy.api#documentation": "The database type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the database."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last modification time of the database."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this database is considered expired. Only set after the database is deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Database is the container of tables."
      }
    },
    "com.gcp.biglake_v1#DatabaseTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIVE"
          }
        }
      }
    },
    "com.gcp.biglake_v1#HiveTableOptions": {
      "type": "structure",
      "members": {
        "tableType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hive table type. For example, MANAGED_TABLE, EXTERNAL_TABLE."
          }
        },
        "parameters": {
          "target": "com.gcp.biglake_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Stores user supplied Hive table parameters."
          }
        },
        "storageDescriptor": {
          "target": "com.gcp.biglake_v1#StorageDescriptor",
          "traits": {
            "smithy.api#documentation": "Stores physical storage information of the data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options of a Hive table."
      }
    },
    "com.gcp.biglake_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.biglake_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.biglake_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.biglake_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#AuditLogConfig"
      }
    },
    "com.gcp.biglake_v1#ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "databases": {
          "target": "com.gcp.biglake_v1#DatabaseList",
          "traits": {
            "smithy.api#documentation": "The databases from the specified catalog."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListDatabases method."
      }
    },
    "com.gcp.biglake_v1#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#Database"
      }
    },
    "com.gcp.biglake_v1#HiveDatabaseOptions": {
      "type": "structure",
      "members": {
        "locationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage folder URI where the database data is stored, starting with \"gs://\"."
          }
        },
        "parameters": {
          "target": "com.gcp.biglake_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Stores user supplied Hive database parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options of a Hive database."
      }
    },
    "com.gcp.biglake_v1#Policy": {
      "type": "structure",
      "members": {
        "auditConfigs": {
          "target": "com.gcp.biglake_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.biglake_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.biglake_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#AuditConfig"
      }
    },
    "com.gcp.biglake_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#Binding"
      }
    },
    "com.gcp.biglake_v1#Binding": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.gcp.biglake_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "members": {
          "target": "com.gcp.biglake_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.biglake_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.biglake_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.biglake_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.biglake_v1#ListTablesResponse": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.gcp.biglake_v1#TableList",
          "traits": {
            "smithy.api#documentation": "The tables from the specified database."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ListTables method."
      }
    },
    "com.gcp.biglake_v1#TableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.biglake_v1#Table"
      }
    },
    "com.gcp.biglake_v1#RenameTableRequest": {
      "type": "structure",
      "members": {
        "newName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The new `name` for the specified table, must be in the same database. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the RenameTable method in MetastoreService"
      }
    },
    "com.gcp.biglake_v1#Table": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this table is considered expired. Only set after the table is deleted."
          }
        },
        "hiveOptions": {
          "target": "com.gcp.biglake_v1#HiveTableOptions",
          "traits": {
            "smithy.api#documentation": "Options of a Hive table."
          }
        },
        "type": {
          "target": "com.gcp.biglake_v1#TableTypeEnum",
          "traits": {
            "smithy.api#documentation": "The table type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation time of the table."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last modification time of the table."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The checksum of a table object computed by the server based on the value of other fields. It may be sent on update requests to ensure the client has an up-to-date value before proceeding. It is only checked for update table operations."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}"
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The deletion time of the table. Only set after the table is deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a table."
      }
    },
    "com.gcp.biglake_v1#TableTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "HIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIVE"
          }
        }
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.biglake_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.biglake_v1#StorageDescriptor": {
      "type": "structure",
      "members": {
        "outputFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified Java class name of the output format."
          }
        },
        "serdeInfo": {
          "target": "com.gcp.biglake_v1#SerDeInfo",
          "traits": {
            "smithy.api#documentation": "Serializer and deserializer information."
          }
        },
        "inputFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified Java class name of the input format."
          }
        },
        "locationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage folder URI where the table data is stored, starting with \"gs://\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stores physical storage information of the data."
      }
    },
    "com.gcp.biglake_v1#Expr": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.biglake_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "exemptedMembers": {
          "target": "com.gcp.biglake_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        },
        "logType": {
          "target": "com.gcp.biglake_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.biglake_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where this catalog will be created. Format: projects/{project_id_or_number}/locations/{location_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "catalogId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the catalog, which will become the final component of the catalog's resource name.",
            "smithy.api#httpQuery": "catalogId"
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#Catalog",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.biglake_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.biglake_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.biglake_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Catalog"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/catalogs"
        },
        "smithy.api#documentation": "Creates a new catalog."
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the catalog to retrieve. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Catalog"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the catalog specified by the resource name."
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of catalogs. Format: projects/{project_id_or_number}/locations/{location_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListCatalogs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCatalogs` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of catalogs to return. The service may return fewer than this value. If unspecified, at most 50 catalogs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#ListProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#ListCatalogsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/catalogs"
        },
        "smithy.api#documentation": "List all catalogs in a specified project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the catalog to delete. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Catalog"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing catalog specified by the catalog ID."
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabasesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where this database will be created. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "databaseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the database, which will become the final component of the database's resource name.",
            "smithy.api#httpQuery": "databaseId"
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#Database",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabasesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Database"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/databases"
        },
        "smithy.api#documentation": "Creates a new database."
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the database to retrieve. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabasesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Database"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the database specified by the resource name."
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the database to delete. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabasesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Database"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing database specified by the database ID."
      }
    },
    "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabasesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of fields to update. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If not set, defaults to all of the fields that are allowed to update.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#Database",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabasesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Database"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing database specified by the database ID."
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of databases to return. The service may return fewer than this value. If unspecified, at most 50 databases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListDatabases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDatabases` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of databases. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabases": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#ListDatabasesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/databases"
        },
        "smithy.api#documentation": "List all databases in a specified catalog.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the table to retrieve. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Table"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the table specified by the resource name."
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the table, which will become the final component of the table's resource name.",
            "smithy.api#httpQuery": "tableId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where this table will be created. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#Table",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#CreateProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Table"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/tables"
        },
        "smithy.api#documentation": "Creates a new table."
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesTablesViewEnum": {
      "type": "enum",
      "members": {
        "TABLE_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        }
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of tables to return. The service may return fewer than this value. If unspecified, at most 50 tables will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token, received from a previous `ListTables` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTables` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent, which owns this collection of tables. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesTablesViewEnum",
          "traits": {
            "smithy.api#documentation": "The view for the returned tables.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#ListProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#ListTablesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/tables"
        },
        "smithy.api#documentation": "List all tables in a specified database.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of fields to update. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If not set, defaults to all of the fields that are allowed to update.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#Table",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#PatchProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Table"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing table specified by the table ID."
      }
    },
    "com.gcp.biglake_v1#RenameProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The table's `name` field is used to identify the table to rename. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#RenameTableRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#RenameProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#RenameProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Table"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:rename"
        },
        "smithy.api#documentation": "Renames an existing table specified by the table ID."
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabasesTablesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the table to delete. Format: projects/{project_id_or_number}/locations/{location_id}/catalogs/{catalog_id}/databases/{database_id}/tables/{table_id}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabasesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#DeleteProjectsLocationsCatalogsDatabasesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Table"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes an existing table specified by the table ID."
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy for the specified catalog."
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy for the specified Catalog."
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests the IAM permissions for the specified catalog."
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy for the specified catalog."
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests the IAM permissions for the specified namespace."
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespacesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespacesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy for the specified Catalog."
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespacesTablesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespacesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsProjectsCatalogsNamespacesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests the IAM permissions for the specified table."
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespacesTablesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespacesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#GetIamPolicyProjectsCatalogsNamespacesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the IAM policy for the specified Catalog."
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespacesTablesRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.biglake_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespacesTables": {
      "type": "operation",
      "input": {
        "target": "com.gcp.biglake_v1#SetIamPolicyProjectsCatalogsNamespacesTablesRequest"
      },
      "output": {
        "target": "com.gcp.biglake_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.biglake_v1#NotFound"
        },
        {
          "target": "com.gcp.biglake_v1#Forbidden"
        },
        {
          "target": "com.gcp.biglake_v1#BadRequest"
        },
        {
          "target": "com.gcp.biglake_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the IAM policy for the specified catalog."
      }
    }
  }
}
