{
  "smithy": "2.0",
  "metadata": {
    "service": "bigqueryreservation",
    "version": "v1",
    "title": "BigQuery Reservation API",
    "baseUrl": "https://bigqueryreservation.googleapis.com/"
  },
  "shapes": {
    "com.gcp.bigqueryreservation_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.bigqueryreservation_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.bigqueryreservation_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.bigqueryreservation_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.bigqueryreservation_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.bigqueryreservation_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#Binding"
      }
    },
    "com.gcp.bigqueryreservation_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#AuditConfig"
      }
    },
    "com.gcp.bigqueryreservation_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigqueryreservation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigqueryreservation_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAllAssignmentsResponse": {
      "type": "structure",
      "members": {
        "assignments": {
          "target": "com.gcp.bigqueryreservation_v1#AssignmentList",
          "traits": {
            "smithy.api#documentation": "List of assignments visible to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.SearchAllAssignments."
      }
    },
    "com.gcp.bigqueryreservation_v1#AssignmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#Assignment"
      }
    },
    "com.gcp.bigqueryreservation_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.bigqueryreservation_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.bigqueryreservation_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#AuditLogConfig"
      }
    },
    "com.gcp.bigqueryreservation_v1#MergeCapacityCommitmentsRequest": {
      "type": "structure",
      "members": {
        "capacityCommitmentIds": {
          "target": "com.gcp.bigqueryreservation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Ids of capacity commitments to merge. These capacity commitments must exist under admin project and location specified in the parent. ID is the last portion of capacity commitment name e.g., 'abc' for projects/myproject/locations/US/capacityCommitments/abc"
          }
        },
        "capacityCommitmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The optional resulting capacity commitment ID. Capacity commitment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. The first and last character cannot be a dash. Max length is 64 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for ReservationService.MergeCapacityCommitments."
      }
    },
    "com.gcp.bigqueryreservation_v1#ReplicationStatus": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.bigqueryreservation_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The last error encountered while trying to replicate changes from the primary to the secondary. This field is only available if the replication has not succeeded since."
          }
        },
        "lastErrorTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the last error was encountered while trying to replicate changes from the primary to the secondary. This field is only available if the replication has not succeeded since."
          }
        },
        "softFailoverStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which a soft failover for the reservation and its associated datasets was initiated. After this field is set, all subsequent changes to the reservation will be rejected unless a hard failover overrides this operation. This field will be cleared once the failover is complete."
          }
        },
        "lastReplicationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A timestamp corresponding to the last change on the primary that was successfully replicated to the secondary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disaster Recovery(DR) replication status of the reservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#ListCapacityCommitmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "capacityCommitments": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitmentList",
          "traits": {
            "smithy.api#documentation": "List of capacity commitments visible to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.ListCapacityCommitments."
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#CapacityCommitment"
      }
    },
    "com.gcp.bigqueryreservation_v1#ReservationGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the reservation group, e.g., `projects/*/locations/*/reservationGroups/team1-prod`. The reservation_group_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reservation group is a container for reservations."
      }
    },
    "com.gcp.bigqueryreservation_v1#BiReservation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Size of a reservation, in bytes."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a reservation."
          }
        },
        "preferredTables": {
          "target": "com.gcp.bigqueryreservation_v1#TableReferenceList",
          "traits": {
            "smithy.api#documentation": "Optional. Preferred tables to use BI capacity for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a BI Reservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#TableReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#TableReference"
      }
    },
    "com.gcp.bigqueryreservation_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.bigqueryreservation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.bigqueryreservation_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.bigqueryreservation_v1#SplitCapacityCommitmentResponse": {
      "type": "structure",
      "members": {
        "first": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitment",
          "traits": {
            "smithy.api#documentation": "First capacity commitment, result of a split."
          }
        },
        "second": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitment",
          "traits": {
            "smithy.api#documentation": "Second capacity commitment, result of a split."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.SplitCapacityCommitment."
      }
    },
    "com.gcp.bigqueryreservation_v1#ListAssignmentsResponse": {
      "type": "structure",
      "members": {
        "assignments": {
          "target": "com.gcp.bigqueryreservation_v1#AssignmentList",
          "traits": {
            "smithy.api#documentation": "List of assignments visible to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.ListAssignments."
      }
    },
    "com.gcp.bigqueryreservation_v1#Reservation": {
      "type": "structure",
      "members": {
        "replicationStatus": {
          "target": "com.gcp.bigqueryreservation_v1#ReplicationStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The Disaster Recovery(DR) replication status of the reservation. This is only available for the primary replicas of DR/failover reservations and provides information about the both the staleness of the secondary and the last error encountered while trying to replicate changes from the primary to the secondary. If this field is blank, it means that the reservation is either not a DR reservation or the reservation is a DR secondary or that any replication operations on the reservation have succeeded."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of the reservation."
          }
        },
        "edition": {
          "target": "com.gcp.bigqueryreservation_v1#ReservationEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Edition of the reservation."
          }
        },
        "schedulingPolicy": {
          "target": "com.gcp.bigqueryreservation_v1#SchedulingPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The scheduling policy to use for jobs and queries running under this reservation. The scheduling policy controls how the reservation's resources are distributed. This feature is not yet generally available."
          }
        },
        "maxSlots": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The overall max slots for the reservation, covering slot_capacity (baseline), idle slots (if ignore_idle_slots is false) and scaled slots. If present, the reservation won't use more than the specified number of slots, even if there is demand and supply (from idle slots). NOTE: capping a reservation's idle slot usage is best effort and its usage may exceed the max_slots value. However, in terms of autoscale.current_slots (which accounts for the additional added slots), it will never exceed the max_slots - baseline. This field must be set together with the scaling_mode enum value, otherwise the request will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`. If the max_slots and scaling_mode are set, the autoscale or autoscale.max_slots field must be unset. Otherwise the request will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`. However, the autoscale field may still be in the output. The autopscale.max_slots will always show as 0 and the autoscaler.current_slots will represent the current slots from autoscaler excluding idle slots. For example, if the max_slots is 1000 and scaling_mode is AUTOSCALE_ONLY, then in the output, the autoscaler.max_slots will be 0 and the autoscaler.current_slots may be any value between 0 and 1000. If the max_slots is 1000, scaling_mode is ALL_SLOTS, the baseline is 100 and idle slots usage is 200, then in the output, the autoscaler.max_slots will be 0 and the autoscaler.current_slots will not be higher than 700. If the max_slots is 1000, scaling_mode is IDLE_SLOTS_ONLY, then in the output, the autoscaler field will be null. If the max_slots and scaling_mode are set, then the ignore_idle_slots field must be aligned with the scaling_mode enum value.(See details in ScalingMode comments). Otherwise the request will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`. Please note, the max_slots is for user to manage the part of slots greater than the baseline. Therefore, we don't allow users to set max_slots smaller or equal to the baseline as it will not be meaningful. If the field is present and slot_capacity>=max_slots, requests will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`. Please note that if max_slots is set to 0, we will treat it as unset. Customers can set max_slots to 0 and set scaling_mode to SCALING_MODE_UNSPECIFIED to disable the max_slots feature."
          }
        },
        "slotCapacity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Baseline slots available to this reservation. A slot is a unit of computational power in BigQuery, and serves as the unit of parallelism. Queries using this reservation might use more slots during runtime if ignore_idle_slots is set to false, or autoscaling is enabled. The total slot_capacity of the reservation and its siblings may exceed the total slot_count of capacity commitments. In that case, the exceeding slots will be charged with the autoscale SKU. You can increase the number of baseline slots in a reservation every few minutes. If you want to decrease your baseline slots, you are limited to once an hour if you have recently changed your baseline slot capacity and your baseline slots exceed your committed slots. Otherwise, you can decrease your baseline slots every few minutes."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of the reservation."
          }
        },
        "ignoreIdleSlots": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If false, any query or pipeline job using this reservation will use idle slots from other reservations within the same admin project. If true, a query or pipeline job using this reservation will execute with the slot capacity specified in the slot_capacity field at most."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. The reservation_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters."
          }
        },
        "reservationGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The reservation group that this reservation belongs to. You can set this property when you create or update a reservation. Reservations do not need to belong to a reservation group. Format: projects/{project}/locations/{location}/reservationGroups/{reservation_group} or just {reservation_group}"
          }
        },
        "autoscale": {
          "target": "com.gcp.bigqueryreservation_v1#Autoscale",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration parameters for the auto scaling feature."
          }
        },
        "originalPrimaryLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location where the reservation was originally created. This is set only during the failover reservation's creation. All billing charges for the failover reservation will be applied to this location."
          }
        },
        "concurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Job concurrency target which sets a soft upper bound on the number of jobs that can run concurrently in this reservation. This is a soft target due to asynchronous nature of the system and various optimizations for small queries. Default value is 0 which means that concurrency target will be automatically computed by the system. NOTE: this field is exposed as target job concurrency in the Information Schema, DDL and BigQuery CLI."
          }
        },
        "scalingMode": {
          "target": "com.gcp.bigqueryreservation_v1#ReservationScalingModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The scaling mode for the reservation. If the field is present but max_slots is not present, requests will be rejected with error code `google.rpc.Code.INVALID_ARGUMENT`."
          }
        },
        "multiRegionAuxiliary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Applicable only for reservations located within one of the BigQuery multi-regions (US or EU). If set to true, this reservation is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this reservation is placed in the organization's default region. NOTE: this is a preview feature. Project must be allow-listed in order to set this field."
          }
        },
        "primaryLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The current location of the reservation's primary replica. This field is only set for reservations using the managed disaster recovery feature."
          }
        },
        "secondaryLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current location of the reservation's secondary replica. This field is only set for reservations using the managed disaster recovery feature. Users can set this in create reservation calls to create a failover reservation or in update reservation calls to convert a non-failover reservation to a failover reservation(or vice versa)."
          }
        },
        "labels": {
          "target": "com.gcp.bigqueryreservation_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The labels associated with this reservation. You can use these to organize and group your reservations. You can set this property when you create or update a reservation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A reservation is a mechanism used to guarantee slots to users."
      }
    },
    "com.gcp.bigqueryreservation_v1#ReservationEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#ReservationScalingModeEnum": {
      "type": "enum",
      "members": {
        "SCALING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING_MODE_UNSPECIFIED"
          }
        },
        "AUTOSCALE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOSCALE_ONLY"
          }
        },
        "IDLE_SLOTS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDLE_SLOTS_ONLY"
          }
        },
        "ALL_SLOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_SLOTS"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAssignmentsResponse": {
      "type": "structure",
      "members": {
        "assignments": {
          "target": "com.gcp.bigqueryreservation_v1#AssignmentList",
          "traits": {
            "smithy.api#documentation": "List of assignments visible to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.SearchAssignments."
      }
    },
    "com.gcp.bigqueryreservation_v1#Autoscale": {
      "type": "structure",
      "members": {
        "maxSlots": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of slots to be scaled when needed."
          }
        },
        "currentSlots": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The slot capacity added to this reservation when autoscale happens. Will be between [0, max_slots]. Note: after users reduce max_slots, it may take a while before it can be propagated, so current_slots may stay in the original value and could be larger than max_slots for that brief period (less than one minute)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto scaling settings."
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitment": {
      "type": "structure",
      "members": {
        "failureStatus": {
          "target": "com.gcp.bigqueryreservation_v1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. For FAILED commitment plan, provides the reason of failure."
          }
        },
        "slotCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Number of slots in this commitment."
          }
        },
        "multiRegionAuxiliary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Applicable only for commitments located within one of the BigQuery multi-regions (US or EU). If set to true, this commitment is placed in the organization's secondary region which is designated for disaster recovery purposes. If false, this commitment is placed in the organization's default region. NOTE: this is a preview feature. Project must be allow-listed in order to set this field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the capacity commitment, e.g., `projects/myproject/locations/US/capacityCommitments/123` The commitment_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters."
          }
        },
        "state": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the commitment."
          }
        },
        "renewalPlan": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitmentRenewalPlanEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The plan this capacity commitment is converted to after commitment_end_time passes. Once the plan is changed, committed period is extended according to commitment plan. Only applicable for ANNUAL and TRIAL commitments."
          }
        },
        "commitmentStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start of the current commitment period. It is applicable only for ACTIVE capacity commitments. Note after the commitment is renewed, commitment_start_time won't be changed. It refers to the start time of the original commitment."
          }
        },
        "edition": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitmentEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Edition of the capacity commitment."
          }
        },
        "commitmentEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end of the current commitment period. It is applicable only for ACTIVE capacity commitments. Note after renewal, commitment_end_time is the time the renewed commitment expires. So itwould be at a time after commitment_start_time + committed period, because we don't change commitment_start_time ,"
          }
        },
        "isFlatRate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the commitment is a flat-rate commitment, otherwise, it's an edition commitment."
          }
        },
        "plan": {
          "target": "com.gcp.bigqueryreservation_v1#CapacityCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Capacity commitment commitment plan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capacity commitment is a way to purchase compute capacity for BigQuery jobs (in the form of slots) with some committed period of usage. Annual commitments renew by default. Commitments can be removed after their commitment end time passes. In order to remove annual commitment, its plan needs to be changed to monthly or flex first. A capacity commitment resource exists as a child resource of the admin project."
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitmentRenewalPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX"
          }
        },
        "FLEX_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX_FLAT_RATE"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "MONTHLY_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY_FLAT_RATE"
          }
        },
        "ANNUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUAL"
          }
        },
        "ANNUAL_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUAL_FLAT_RATE"
          }
        },
        "THREE_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREE_YEAR"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitmentEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#CapacityCommitmentPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX"
          }
        },
        "FLEX_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEX_FLAT_RATE"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "MONTHLY_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY_FLAT_RATE"
          }
        },
        "ANNUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUAL"
          }
        },
        "ANNUAL_FLAT_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUAL_FLAT_RATE"
          }
        },
        "THREE_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREE_YEAR"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#MoveAssignmentRequest": {
      "type": "structure",
      "members": {
        "destinationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new reservation ID, e.g.: `projects/myotherproject/locations/US/reservations/team2-prod`"
          }
        },
        "assignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional assignment ID. A new assignment name is generated if this field is empty. This field can contain only lowercase alphanumeric characters or dashes. Max length is 64 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for ReservationService.MoveAssignment. **Note**: \"bigquery.reservationAssignments.create\" permission is required on the destination_id. **Note**: \"bigquery.reservationAssignments.create\" and \"bigquery.reservationAssignments.delete\" permission are required on the related assignee."
      }
    },
    "com.gcp.bigqueryreservation_v1#SchedulingPolicy": {
      "type": "structure",
      "members": {
        "maxSlots": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present and > 0, the reservation will attempt to limit the slot consumption of queries running for any particular project within it to the given value. This feature is not yet generally available."
          }
        },
        "concurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present and > 0, the reservation will attempt to limit the concurrency of jobs running for any particular project within it to the given value. This feature is not yet generally available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scheduling policy controls how a reservation's resources are distributed."
      }
    },
    "com.gcp.bigqueryreservation_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.bigqueryreservation_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.bigqueryreservation_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.bigqueryreservation_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#DocumentMap"
      }
    },
    "com.gcp.bigqueryreservation_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.bigqueryreservation_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.bigqueryreservation_v1#Assignment": {
      "type": "structure",
      "members": {
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource which will use the reservation. E.g. `projects/myproject`, `folders/123`, or `organizations/456`."
          }
        },
        "jobType": {
          "target": "com.gcp.bigqueryreservation_v1#AssignmentJobTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Which type of jobs will use the reservation."
          }
        },
        "enableGeminiInBigquery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: \"Gemini in BigQuery\" is now available by default for all BigQuery editions and should not be explicitly set. Controls if \"Gemini in BigQuery\" (https://cloud.google.com/gemini/docs/bigquery/overview) features should be enabled for this reservation assignment."
          }
        },
        "schedulingPolicy": {
          "target": "com.gcp.bigqueryreservation_v1#SchedulingPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The scheduling policy to use for jobs and queries of this assignee when running under the associated reservation. The scheduling policy controls how the reservation's resources are distributed. This overrides the default scheduling policy specified on the reservation. This feature is not yet generally available."
          }
        },
        "state": {
          "target": "com.gcp.bigqueryreservation_v1#AssignmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the assignment."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Represents the principal for this assignment. If not empty, jobs run by this principal will utilize the associated reservation. Otherwise, jobs will fall back to using the reservation assigned to the project, folder, or organization (in that order). If no reservation is assigned at any of these levels, on-demand capacity will be used. The supported formats are: * `principal://goog/subject/USER_EMAIL_ADDRESS` for users, * `principal://iam.googleapis.com/projects/-/serviceAccounts/SA_EMAIL_ADDRESS` for service accounts, * `principal://iam.googleapis.com/projects/PROJECT_NUMBER/locations/global/workloadIdentityPools/POOL_ID/subject/SUBJECT_ID` for workload identity pool identities. * The special value `unknown_or_deleted_user` represents principals which cannot be read from the user info service, for example deleted users."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the resource. E.g.: `projects/myproject/locations/US/reservations/team1-prod/assignments/123`. The assignment_id must only contain lower case alphanumeric characters or dashes and the max length is 64 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An assignment allows a project to submit jobs of a certain type using slots from the specified reservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#AssignmentJobTypeEnum": {
      "type": "enum",
      "members": {
        "JOB_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOB_TYPE_UNSPECIFIED"
          }
        },
        "PIPELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIPELINE"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY"
          }
        },
        "ML_EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML_EXTERNAL"
          }
        },
        "BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKGROUND"
          }
        },
        "CONTINUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUOUS"
          }
        },
        "BACKGROUND_CHANGE_DATA_CAPTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKGROUND_CHANGE_DATA_CAPTURE"
          }
        },
        "BACKGROUND_COLUMN_METADATA_INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKGROUND_COLUMN_METADATA_INDEX"
          }
        },
        "BACKGROUND_SEARCH_INDEX_REFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKGROUND_SEARCH_INDEX_REFRESH"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#AssignmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#TableReference": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the dataset in the above project."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The assigned project ID of the project."
          }
        },
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the table in the above dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fully qualified reference to BigQuery table. Internally stored as google.cloud.bi.v1.BqTableReference."
      }
    },
    "com.gcp.bigqueryreservation_v1#SplitCapacityCommitmentRequest": {
      "type": "structure",
      "members": {
        "slotCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of slots in the capacity commitment after the split."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for ReservationService.SplitCapacityCommitment."
      }
    },
    "com.gcp.bigqueryreservation_v1#ListReservationGroupsResponse": {
      "type": "structure",
      "members": {
        "reservationGroups": {
          "target": "com.gcp.bigqueryreservation_v1#ReservationGroupList",
          "traits": {
            "smithy.api#documentation": "List of reservations visible to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.ListReservationGroups."
      }
    },
    "com.gcp.bigqueryreservation_v1#ReservationGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#ReservationGroup"
      }
    },
    "com.gcp.bigqueryreservation_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigqueryreservation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigqueryreservation_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.bigqueryreservation_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.bigqueryreservation_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.bigqueryreservation_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#FailoverReservationRequest": {
      "type": "structure",
      "members": {
        "failoverMode": {
          "target": "com.gcp.bigqueryreservation_v1#FailoverReservationRequestFailoverModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. A parameter that determines how writes that are pending replication are handled after a failover is initiated. If not specified, HARD failover mode is used by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for ReservationService.FailoverReservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#FailoverReservationRequestFailoverModeEnum": {
      "type": "enum",
      "members": {
        "FAILOVER_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILOVER_MODE_UNSPECIFIED"
          }
        },
        "SOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFT"
          }
        },
        "HARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARD"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#ListReservationsResponse": {
      "type": "structure",
      "members": {
        "reservations": {
          "target": "com.gcp.bigqueryreservation_v1#ReservationList",
          "traits": {
            "smithy.api#documentation": "List of reservations visible to the user."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ReservationService.ListReservations."
      }
    },
    "com.gcp.bigqueryreservation_v1#ReservationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryreservation_v1#Reservation"
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAssignmentsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the admin project(containing project and location), e.g.: `projects/myproject/locations/US`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return per page.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
            "smithy.api#httpQuery": "query"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.bigqueryreservation_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAssignmentsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#SearchAssignmentsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#SearchAssignmentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}:searchAssignments"
        },
        "smithy.api#documentation": "Deprecated: Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project->folder->organization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`. **Note** \"-\" cannot be used for projects nor locations.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#UpdateBiReservationProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the singleton BI reservation. Reservation names have the form `projects/{project_id}/locations/{location_id}/biReservation`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of fields to be updated in this request.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#BiReservation",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.bigqueryreservation_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.bigqueryreservation_v1#UpdateBiReservationProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#UpdateBiReservationProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#BiReservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a BI reservation. Only fields specified in the `field_mask` are updated. A singleton BI reservation always exists with default size 0. In order to reserve BI capacity it needs to be updated to an amount greater than 0. In order to release BI capacity reservation size must be set to 0."
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAllAssignmentsProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return per page.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Please specify resource name as assignee in the query. Examples: * `assignee=projects/myproject` * `assignee=folders/123` * `assignee=organizations/456`",
            "smithy.api#httpQuery": "query"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name with location (project name could be the wildcard '-'), e.g.: `projects/-/locations/US`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#SearchAllAssignmentsProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#SearchAllAssignmentsProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#SearchAllAssignmentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}:searchAllAssignments"
        },
        "smithy.api#documentation": "Looks up assignments for a specified resource for a particular region. If the request is about a project: 1. Assignments created on the project will be returned if they exist. 2. Otherwise assignments created on the closest ancestor will be returned. 3. Assignments for different JobTypes will all be returned. The same logic applies if the request is about a folder. If the request is about an organization, then assignments created on the organization will be returned (organization doesn't have ancestors). Comparing to ListAssignments, there are some behavior differences: 1. permission on the assignee will be verified in this API. 2. Hierarchy lookup (project->folder->organization) happens in this API. 3. Parent here is `projects/*/locations/*`, instead of `projects/*/locations/*reservations/*`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#GetBiReservationProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the requested reservation, for example: `projects/{project_id}/locations/{location_id}/biReservation`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#GetBiReservationProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#GetBiReservationProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#BiReservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Retrieves a BI reservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#FailoverReservationProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the reservation to failover. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#FailoverReservationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#FailoverReservationProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#FailoverReservationProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Reservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:failoverReservation"
        },
        "smithy.api#documentation": "Fail over a reservation to the secondary location. The operation should be done in the current secondary location, which will be promoted to the new primary location for the reservation. Attempting to failover a reservation in the current primary location will fail with the error code `google.rpc.Code.FAILED_PRECONDITION`."
      }
    },
    "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets an access control policy for a resource. Replaces any existing policy. Supported resources are: - Reservations To call this method, you must have the following Google IAM permissions: - `bigqueryreservation.reservations.setIamPolicy` to set policies on reservations."
      }
    },
    "com.gcp.bigqueryreservation_v1#GetProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#GetProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#GetProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Reservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns information about the reservation."
      }
    },
    "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the reservation to retrieve. E.g., `projects/myproject/locations/US/reservations/team1-prod`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a reservation. Returns `google.rpc.Code.FAILED_PRECONDITION` when reservation has assignments."
      }
    },
    "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the reservation, e.g., `projects/*/locations/*/reservations/team1-prod`. The reservation_id must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard field mask for the set of fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#Reservation",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Reservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing reservation resource."
      }
    },
    "com.gcp.bigqueryreservation_v1#ListProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name containing project and location, e.g.: `projects/myproject/locations/US`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of items to return per page.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next_page_token value returned from a previous List request, if any.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#ListProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#ListProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#ListReservationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/reservations"
        },
        "smithy.api#documentation": "Lists all the reservations for the project in the specified location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#TestIamPermissionsProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#TestIamPermissionsProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#TestIamPermissionsProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Gets your permissions on a resource. Returns an empty set of permissions if the resource doesn't exist. Supported resources are: - Reservations No Google IAM permissions are required to call this method."
      }
    },
    "com.gcp.bigqueryreservation_v1#CreateProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Project, location. E.g., `projects/myproject/locations/US`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation ID. It must only contain lower case alphanumeric characters or dashes. It must start with a letter and must not end with a dash. Its maximum length is 64 characters.",
            "smithy.api#httpQuery": "reservationId"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#Reservation",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#CreateProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#CreateProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Reservation"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/reservations"
        },
        "smithy.api#documentation": "Creates a new reservation resource."
      }
    },
    "com.gcp.bigqueryreservation_v1#GetIamPolicyProjectsLocationsReservationsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#GetIamPolicyProjectsLocationsReservations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#GetIamPolicyProjectsLocationsReservationsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. May return: * A`NOT_FOUND` error if the resource doesn't exist or you don't have the permission to view it. * An empty policy if the resource exists but doesn't have a set policy. Supported resources are: - Reservations - ReservationAssignments To call this method, you must have the following Google IAM permissions: - `bigqueryreservation.reservations.getIamPolicy` to get policies on reservations."
      }
    },
    "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservationsAssignmentsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservationsAssignments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#SetIamPolicyProjectsLocationsReservationsAssignmentsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets an access control policy for a resource. Replaces any existing policy. Supported resources are: - Reservations To call this method, you must have the following Google IAM permissions: - `bigqueryreservation.reservations.setIamPolicy` to set policies on reservations."
      }
    },
    "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservationsAssignmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the resource. E.g.: `projects/myproject/locations/US/reservations/team1-prod/assignments/123`. The assignment_id must only contain lower case alphanumeric characters or dashes and the max length is 64 characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard field mask for the set of fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#Assignment",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservationsAssignments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#PatchProjectsLocationsReservationsAssignmentsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Assignment"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates an existing assignment. Only the `priority` field can be updated."
      }
    },
    "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservationsAssignmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource, e.g. `projects/myproject/locations/US/reservations/team1-prod/assignments/123`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservationsAssignments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryreservation_v1#DeleteProjectsLocationsReservationsAssignmentsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryreservation_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryreservation_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryreservation_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a assignment. No expansion will happen. Example: * Organization `organizationA` contains two projects, `project1` and `project2`. * Reservation `res1` exists and was created previously. * CreateAssignment was used previously to define the following associations between entities and reservations: `` and `` In this example, deletion of the `` assignment won't affect the other assignment ``. After said deletion, queries from `project1` will still use `res1` while queries from `project2` will switch to use on-demand mode."
      }
    },
    "com.gcp.bigqueryreservation_v1#CreateProjectsLocationsReservationsAssignmentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name of the assignment E.g. `projects/myproject/locations/US/reservations/team1-prod`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional assignment ID. Assignment name will be generated automatically if this field is empty. This field must only contain lower case alphanumeric characters or dashes. Max length is 64 characters.",
            "smithy.api#httpQuery": "assignmentId"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryreservation_v1#Assignment",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryreservation_v1#CreateProjectsLocationsReservationsAssignments": {
      "type": "operation",
      "input": {
[...]
