{
  "smithy": "2.0",
  "metadata": {
    "service": "bigqueryconnection",
    "version": "v1",
    "title": "BigQuery Connection API",
    "baseUrl": "https://bigqueryconnection.googleapis.com/"
  },
  "shapes": {
    "com.gcp.bigqueryconnection_v1#Connection": {
      "type": "structure",
      "members": {
        "spark": {
          "target": "com.gcp.bigqueryconnection_v1#SparkProperties",
          "traits": {
            "smithy.api#documentation": "Spark properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the connection in the form of: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`"
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided display name for the connection."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of the connection."
          }
        },
        "cloudSql": {
          "target": "com.gcp.bigqueryconnection_v1#CloudSqlProperties",
          "traits": {
            "smithy.api#documentation": "Cloud SQL properties."
          }
        },
        "cloudResource": {
          "target": "com.gcp.bigqueryconnection_v1#CloudResourceProperties",
          "traits": {
            "smithy.api#documentation": "Cloud Resource properties."
          }
        },
        "hasCredential": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True, if credential is configured for this connection."
          }
        },
        "aws": {
          "target": "com.gcp.bigqueryconnection_v1#AwsProperties",
          "traits": {
            "smithy.api#documentation": "Amazon Web Services (AWS) properties."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of the connection."
          }
        },
        "cloudSpanner": {
          "target": "com.gcp.bigqueryconnection_v1#CloudSpannerProperties",
          "traits": {
            "smithy.api#documentation": "Cloud Spanner properties."
          }
        },
        "salesforceDataCloud": {
          "target": "com.gcp.bigqueryconnection_v1#SalesforceDataCloudProperties",
          "traits": {
            "smithy.api#documentation": "Optional. Salesforce DataCloud properties. This field is intended for use only by Salesforce partner projects. This field contains properties for your Salesforce DataCloud connection."
          }
        },
        "configuration": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfiguration",
          "traits": {
            "smithy.api#documentation": "Optional. Connector configuration."
          }
        },
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Cloud KMS key that is used for credentials encryption. If omitted, internal Google owned encryption keys are used. Example: `projects/[kms_project_id]/locations/[region]/keyRings/[key_region]/cryptoKeys/[key]`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User provided description."
          }
        },
        "azure": {
          "target": "com.gcp.bigqueryconnection_v1#AzureProperties",
          "traits": {
            "smithy.api#documentation": "Azure properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters to establish connection with an external data source, except the credential attributes."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationAuthentication": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google-managed service account associated with this connection, e.g., `service-{project_number}@gcp-sa-bigqueryconnection.iam.gserviceaccount.com`. BigQuery jobs using this connection will act as `service_account` identity while connecting to the datasource."
          }
        },
        "usernamePassword": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationUsernamePassword",
          "traits": {
            "smithy.api#documentation": "Username/password authentication."
          }
        },
        "parameters": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationParameterValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of name-value pairs for authentication-specific parameters. Extra configuration parameters, that are not standardized in authentication. To update a single parameter value call ConnectionService.UpdateConnection with `update_mask` set to `configuration.authentication.parameters.parameter_id`. If parameter id does not fit `[a-zA-Z0-9_]+` pattern, it should be escaped with backticks - for example ``configuration.authentication.parameters.`parameter id` ``."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client authentication."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationParameterValue"
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationNetwork": {
      "type": "structure",
      "members": {
        "privateServiceConnect": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationPrivateServiceConnect",
          "traits": {
            "smithy.api#documentation": "Private Service Connect networking configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network related configuration."
      }
    },
    "com.gcp.bigqueryconnection_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigqueryconnection_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigqueryconnection_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigqueryconnection_v1#SparkProperties": {
      "type": "structure",
      "members": {
        "sparkHistoryServerConfig": {
          "target": "com.gcp.bigqueryconnection_v1#SparkHistoryServerConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Spark History Server configuration for the connection."
          }
        },
        "metastoreServiceConfig": {
          "target": "com.gcp.bigqueryconnection_v1#MetastoreServiceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Dataproc Metastore Service configuration for the connection."
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The account ID of the service created for the purpose of this connection. The service account does not have any permissions associated with it when it is created. After creation, customers delegate permissions to the service account. When the connection is used in the context of a stored procedure for Apache Spark in BigQuery, the service account is used to connect to the desired resources in Google Cloud. The account ID is in the form of: bqcx--@gcp-sa-bigquery-consp.iam.gserviceaccount.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for connection properties to execute stored procedures for Apache Spark."
      }
    },
    "com.gcp.bigqueryconnection_v1#ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectionList",
          "traits": {
            "smithy.api#documentation": "List of connections."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for ConnectionService.ListConnections."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryconnection_v1#Connection"
      }
    },
    "com.gcp.bigqueryconnection_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.bigqueryconnection_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.bigqueryconnection_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.bigqueryconnection_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#CloudResourceProperties": {
      "type": "structure",
      "members": {
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The account ID of the service created for the purpose of this connection. The service account does not have any permissions associated with it when it is created. After creation, customers delegate permissions to the service account. When the connection is used in the context of an operation in BigQuery, the service account will be used to connect to the desired resources in GCP. The account ID is in the form of: @gcp-sa-bigquery-cloudresource.iam.gserviceaccount.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for connection properties for delegation of access to GCP resources."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationUsernamePassword": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Username."
          }
        },
        "password": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationSecret",
          "traits": {
            "smithy.api#documentation": "Required. Password."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and Password authentication."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationSecret": {
      "type": "structure",
      "members": {
        "plaintext": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Secret as plaintext."
          }
        },
        "secretType": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationSecretSecretTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates type of secret. Can be used to check type of stored secret value even if it's `INPUT_ONLY`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret value parameter."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationSecretSecretTypeEnum": {
      "type": "enum",
      "members": {
        "SECRET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRET_TYPE_UNSPECIFIED"
          }
        },
        "PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAINTEXT"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.bigqueryconnection_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.bigqueryconnection_v1#AwsAccessRole": {
      "type": "structure",
      "members": {
        "iamRoleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user’s AWS IAM Role that trusts the Google-owned AWS IAM user Connection."
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique Google-owned and Google-generated identity for the Connection. This identity will be used to access the user's AWS IAM Role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication method for Amazon Web Services (AWS) that uses Google owned Google service account to assume into customer's AWS IAM Role."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfiguration": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationAuthentication",
          "traits": {
            "smithy.api#documentation": "Client authentication."
          }
        },
        "network": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationNetwork",
          "traits": {
            "smithy.api#documentation": "Networking configuration."
          }
        },
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The ID of the Connector these parameters are configured for."
          }
        },
        "parameters": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationParameterValueMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of name-value pairs for connector-specific parameters. Extra configuration parameters, that are not standardized in configuration sections. To update a single parameter value call ConnectionService.UpdateConnection with `update_mask` set to `configuration.parameters.parameter_id`. If parameter id does not fit `[a-zA-Z0-9_]+` pattern, it should be escaped with backticks - for example ``configuration.parameters.`parameter id` ``."
          }
        },
        "asset": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationAsset",
          "traits": {
            "smithy.api#documentation": "Data asset."
          }
        },
        "endpoint": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationEndpoint",
          "traits": {
            "smithy.api#documentation": "Specifies how to reach the remote system this connection is pointing to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents concrete parameter values for Connector Configuration."
      }
    },
    "com.gcp.bigqueryconnection_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.bigqueryconnection_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.bigqueryconnection_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryconnection_v1#AuditLogConfig"
      }
    },
    "com.gcp.bigqueryconnection_v1#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.bigqueryconnection_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "bindings": {
          "target": "com.gcp.bigqueryconnection_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.bigqueryconnection_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryconnection_v1#AuditConfig"
      }
    },
    "com.gcp.bigqueryconnection_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigqueryconnection_v1#Binding"
      }
    },
    "com.gcp.bigqueryconnection_v1#CloudSqlCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username for the credential."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password for the credential."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credential info for the Cloud SQL."
      }
    },
    "com.gcp.bigqueryconnection_v1#AwsProperties": {
      "type": "structure",
      "members": {
        "accessRole": {
          "target": "com.gcp.bigqueryconnection_v1#AwsAccessRole",
          "traits": {
            "smithy.api#documentation": "Authentication using Google owned service account to assume into customer's AWS IAM Role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection properties specific to Amazon Web Services (AWS)."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationParameterValue": {
      "type": "structure",
      "members": {
        "int32Value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An int32 parameter value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string parameter value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean parameter value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A double parameter value."
          }
        },
        "secretValue": {
          "target": "com.gcp.bigqueryconnection_v1#ConnectorConfigurationSecret",
          "traits": {
            "smithy.api#documentation": "A secret parameter value. Allowed only for Authentication parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a value for a connector parameter."
      }
    },
    "com.gcp.bigqueryconnection_v1#CloudSpannerProperties": {
      "type": "structure",
      "members": {
        "useParallelism": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If parallelism should be used when reading from Cloud Spanner"
          }
        },
        "databaseRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Spanner database role for fine-grained access control. The Cloud Spanner admin should have provisioned the database role with appropriate permissions, such as `SELECT` and `INSERT`. Other users should only use roles provided by their Cloud Spanner admins. For more details, see [About fine-grained access control] (https://cloud.google.com/spanner/docs/fgac-about). REQUIRES: The database role name must start with a letter, and can only contain letters, numbers, and underscores."
          }
        },
        "useServerlessAnalytics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: prefer use_data_boost instead. If the serverless analytics service should be used to read data from Cloud Spanner. Note: `use_parallelism` must be set when using serverless analytics."
          }
        },
        "maxParallelism": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Allows setting max parallelism per query when executing on Spanner independent compute resources. If unspecified, default values of parallelism are chosen that are dependent on the Cloud Spanner instance configuration. REQUIRES: `use_parallelism` must be set. REQUIRES: `use_data_boost` must be set."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Spanner database in the form `project/instance/database'"
          }
        },
        "useDataBoost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set, the request will be executed via Spanner independent compute resources. REQUIRES: `use_parallelism` must be set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection properties specific to Cloud Spanner."
      }
    },
    "com.gcp.bigqueryconnection_v1#SparkHistoryServerConfig": {
      "type": "structure",
      "members": {
        "dataprocCluster": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the connection. Example: * `projects/[project_id]/regions/[region]/clusters/[cluster_name]`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the Spark History Server."
      }
    },
    "com.gcp.bigqueryconnection_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigqueryconnection_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationPrivateServiceConnect": {
      "type": "structure",
      "members": {
        "networkAttachment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Network Attachment name in the format of `projects/{project}/regions/{region}/networkAttachments/{networkattachment}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Service Connect configuration."
      }
    },
    "com.gcp.bigqueryconnection_v1#MetastoreServiceConfig": {
      "type": "structure",
      "members": {
        "metastoreService": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of an existing Dataproc Metastore service. Example: * `projects/[project_id]/locations/[region]/services/[service_id]`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of the Dataproc Metastore Service."
      }
    },
    "com.gcp.bigqueryconnection_v1#AzureProperties": {
      "type": "structure",
      "members": {
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Azure Active Directory Application."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The client id of the Azure Active Directory Application."
          }
        },
        "customerTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of customer's directory that host the data."
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique Google-owned and Google-generated identity for the Connection. This identity will be used to access the user's Azure Active Directory Application."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The object id of the Azure Active Directory Application."
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL user will be redirected to after granting consent during connection setup."
          }
        },
        "federatedApplicationClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the user's Azure Active Directory Application used for a federated connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for connection properties specific to Azure."
      }
    },
    "com.gcp.bigqueryconnection_v1#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.bigqueryconnection_v1#SalesforceDataCloudProperties": {
      "type": "structure",
      "members": {
        "instanceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the user's Salesforce DataCloud instance."
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique Google-owned and Google-generated service account identity for the connection."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user's Salesforce tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection properties specific to Salesforce DataCloud. This is intended for use only by Salesforce partner projects."
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationAsset": {
      "type": "structure",
      "members": {
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the database."
          }
        },
        "googleCloudResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full Google Cloud resource name - https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: `//library.googleapis.com/shelves/shelf1/books/book2`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Asset - a resource within instance of the system, reachable under specified endpoint. For example a database name in a SQL DB."
      }
    },
    "com.gcp.bigqueryconnection_v1#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.bigqueryconnection_v1#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.bigqueryconnection_v1#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.bigqueryconnection_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.bigqueryconnection_v1#ConnectorConfigurationEndpoint": {
      "type": "structure",
      "members": {
        "hostPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host and port in a format of `hostname:port` as defined in https://www.ietf.org/rfc/rfc3986.html#section-3.2.2 and https://www.ietf.org/rfc/rfc3986.html#section-3.2.3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remote endpoint specification."
      }
    },
    "com.gcp.bigqueryconnection_v1#Binding": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "members": {
          "target": "com.gcp.bigqueryconnection_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.bigqueryconnection_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.bigqueryconnection_v1#CloudSqlProperties": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud SQL instance ID in the form `project:location:instance`."
          }
        },
        "type": {
          "target": "com.gcp.bigqueryconnection_v1#CloudSqlPropertiesTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the Cloud SQL database."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name."
          }
        },
        "serviceAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The account ID of the service used for the purpose of this connection. When the connection is used in the context of an operation in BigQuery, this service account will serve as the identity being used for connecting to the CloudSQL instance specified in this connection."
          }
        },
        "credential": {
          "target": "com.gcp.bigqueryconnection_v1#CloudSqlCredential",
          "traits": {
            "smithy.api#documentation": "Input only. Cloud SQL credential."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection properties specific to the Cloud SQL."
      }
    },
    "com.gcp.bigqueryconnection_v1#CloudSqlPropertiesTypeEnum": {
      "type": "enum",
      "members": {
        "DATABASE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_TYPE_UNSPECIFIED"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#TestIamPermissionsProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryconnection_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.bigqueryconnection_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.bigqueryconnection_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.bigqueryconnection_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.bigqueryconnection_v1#TestIamPermissionsProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#TestIamPermissionsProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.bigqueryconnection_v1#GetProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the requested connection, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#GetProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#GetProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Connection"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Returns specified connection."
      }
    },
    "com.gcp.bigqueryconnection_v1#DeleteProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the deleted connection, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#DeleteProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#DeleteProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes connection and associated credential."
      }
    },
    "com.gcp.bigqueryconnection_v1#CreateProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Connection id that should be assigned to the created connection.",
            "smithy.api#httpQuery": "connectionId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent resource name. Must be in the format `projects/{project_id}/locations/{location_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryconnection_v1#Connection",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#CreateProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#CreateProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Connection"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/connections"
        },
        "smithy.api#documentation": "Creates a new connection."
      }
    },
    "com.gcp.bigqueryconnection_v1#ListProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent resource name. Must be in the form: `projects/{project_id}/locations/{location_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#ListProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#ListProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#ListConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/connections"
        },
        "smithy.api#documentation": "Returns a list of connections in the given project.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#PatchProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the connection to update, for example: `projects/{project_id}/locations/{location_id}/connections/{connection_id}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Update mask for the connection fields to be updated.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.bigqueryconnection_v1#Connection",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#PatchProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#PatchProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Connection"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates the specified connection. For security reasons, also resets credential if connection properties are in the update field mask."
      }
    },
    "com.gcp.bigqueryconnection_v1#GetIamPolicyProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryconnection_v1#GetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#GetIamPolicyProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#GetIamPolicyProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.bigqueryconnection_v1#SetIamPolicyProjectsLocationsConnectionsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.bigqueryconnection_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.bigqueryconnection_v1#SetIamPolicyProjectsLocationsConnections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.bigqueryconnection_v1#SetIamPolicyProjectsLocationsConnectionsRequest"
      },
      "output": {
        "target": "com.gcp.bigqueryconnection_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.bigqueryconnection_v1#NotFound"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Forbidden"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#BadRequest"
        },
        {
          "target": "com.gcp.bigqueryconnection_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    }
  }
}
