{
  "smithy": "2.0",
  "metadata": {
    "service": "bigquery",
    "version": "v2",
    "title": "BigQuery API",
    "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/"
  },
  "shapes": {
    "com.gcp.bigquery_v2#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.bigquery_v2#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.bigquery_v2#ModelReference": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this model."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the dataset containing this model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Id path of a model."
      }
    },
    "com.gcp.bigquery_v2#HparamTuningTrial": {
      "type": "structure",
      "members": {
        "evaluationMetrics": {
          "target": "com.gcp.bigquery_v2#EvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "Evaluation metrics of this trial calculated on the test data. Empty in Job API."
          }
        },
        "trialId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "1-based index of the trial."
          }
        },
        "hparamTuningEvaluationMetrics": {
          "target": "com.gcp.bigquery_v2#EvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "Hyperparameter tuning evaluation metrics of this trial calculated on the eval data. Unlike evaluation_metrics, only the fields corresponding to the hparam_tuning_objectives are set."
          }
        },
        "startTimeMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Starting time of the trial."
          }
        },
        "endTimeMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ending time of the trial."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message for FAILED and INFEASIBLE trial."
          }
        },
        "evalLoss": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Loss computed on the eval data at the end of trial."
          }
        },
        "hparams": {
          "target": "com.gcp.bigquery_v2#TrainingOptions",
          "traits": {
            "smithy.api#documentation": "The hyperprameters selected for this trial."
          }
        },
        "status": {
          "target": "com.gcp.bigquery_v2#HparamTuningTrialStatusEnum",
          "traits": {
            "smithy.api#documentation": "The status of the trial."
          }
        },
        "trainingLoss": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Loss computed on the training data at the end of trial."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Training info of a trial in [hyperparameter tuning](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-hp-tuning-overview) models."
      }
    },
    "com.gcp.bigquery_v2#HparamTuningTrialStatusEnum": {
      "type": "enum",
      "members": {
        "TRIAL_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL_STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "INFEASIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFEASIBLE"
          }
        },
        "STOPPED_EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED_EARLY"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#Entry": {
      "type": "structure",
      "members": {
        "itemCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of items being predicted as this label."
          }
        },
        "predictedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The predicted label. For confidence_threshold > 0, we will also add an entry indicating the number of items under the confidence threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single entry in the confusion matrix."
      }
    },
    "com.gcp.bigquery_v2#GoogleSheetsOptions": {
      "type": "structure",
      "members": {
        "range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20"
          }
        },
        "skipLeadingRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options specific to Google Sheets data sources."
      }
    },
    "com.gcp.bigquery_v2#CloneDefinition": {
      "type": "structure",
      "members": {
        "baseTableReference": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Required. Reference describing the ID of the table that was cloned."
          }
        },
        "cloneTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time at which the base table was cloned. This value is reported in the JSON response using RFC3339 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about base table and clone time of a table clone."
      }
    },
    "com.gcp.bigquery_v2#IntArray": {
      "type": "structure",
      "members": {
        "elements": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Elements in the int array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An array of int."
      }
    },
    "com.gcp.bigquery_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigquery_v2#DifferentialPrivacyPolicy": {
      "type": "structure",
      "members": {
        "epsilonBudget": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The total epsilon budget for all queries against the privacy-protected view. Each subscriber query against this view charges the amount of epsilon they request in their query. If there is sufficient budget, then the subscriber query attempts to complete. It might still fail due to other reasons, in which case the charge is refunded. If there is insufficient budget the query is rejected. There might be multiple charge attempts if a single query references multiple views. In this case there must be sufficient budget for all charges or the query is rejected and charges are refunded in best effort. The budget does not have a refresh policy and can only be updated via ALTER VIEW or circumvented by creating a new view that can be queried with a fresh budget."
          }
        },
        "deltaPerQuery": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The delta value that is used per query. Delta represents the probability that any row will fail to be epsilon differentially private. Indicates the risk associated with exposing aggregate rows in the result of a query."
          }
        },
        "epsilonBudgetRemaining": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The epsilon budget remaining. If budget is exhausted, no more queries are allowed. Note that the budget for queries that are in progress is deducted before the query executes. If the query fails or is cancelled then the budget is refunded. In this case the amount of budget remaining can increase."
          }
        },
        "maxGroupsContributed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum groups contributed value that is used per query. Represents the maximum number of groups to which each protected entity can contribute. Changing this value does not improve or worsen privacy. The best value for accuracy and utility depends on the query and data."
          }
        },
        "privacyUnitColumn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The privacy unit column associated with this policy. Differential privacy policies can only have one privacy unit column per data source object (table, view)."
          }
        },
        "maxEpsilonPerQuery": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum epsilon value that a query can consume. If the subscriber specifies epsilon as a parameter in a SELECT query, it must be less than or equal to this value. The epsilon parameter controls the amount of noise that is added to the groups — a higher epsilon means less noise."
          }
        },
        "deltaBudget": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The total delta budget for all queries against the privacy-protected view. Each subscriber query against this view charges the amount of delta that is pre-defined by the contributor through the privacy policy delta_per_query field. If there is sufficient budget, then the subscriber query attempts to complete. It might still fail due to other reasons, in which case the charge is refunded. If there is insufficient budget the query is rejected. There might be multiple charge attempts if a single query references multiple views. In this case there must be sufficient budget for all charges or the query is rejected and charges are refunded in best effort. The budget does not have a refresh policy and can only be updated via ALTER VIEW or circumvented by creating a new view that can be queried with a fresh budget."
          }
        },
        "deltaBudgetRemaining": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The delta budget remaining. If budget is exhausted, no more queries are allowed. Note that the budget for queries that are in progress is deducted before the query executes. If the query fails or is cancelled then the budget is refunded. In this case the amount of budget remaining can increase."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents privacy policy associated with \"differential privacy\" method."
      }
    },
    "com.gcp.bigquery_v2#ExternalDatasetReference": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The connection id that is used to access the external_source. Format: projects/{project_id}/locations/{location_id}/connections/{connection_id}"
          }
        },
        "externalSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. External source that backs this dataset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures the access a dataset defined in an external metadata storage."
      }
    },
    "com.gcp.bigquery_v2#IntRange": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max value of the int parameter."
          }
        },
        "min": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Min value of the int parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Range of an int hyperparameter."
      }
    },
    "com.gcp.bigquery_v2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigquery_v2#HivePartitioningOptions": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. For permanent external tables, this field is populated with the hive partition keys in the order they were inferred. The types of the partition keys can be deduced by checking the table schema (which will include the partition keys). Not every API will populate this field in the output. For example, Tables.Get will populate it, but Tables.List will not contain this field."
          }
        },
        "requirePartitionFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, queries over this table require a partition filter that can be used for partition elimination to be specified. Note that this field should only be true when creating a permanent external table or querying a temporary external table. Hive-partitioned loads with require_partition_filter explicitly set to true will fail."
          }
        },
        "sourceUriPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When hive partition detection is requested, a common prefix for all source uris must be required. The prefix must end immediately before the partition key encoding begins. For example, consider files following this data layout: gs://bucket/path_to_table/dt=2019-06-01/country=USA/id=7/file.avro gs://bucket/path_to_table/dt=2019-05-31/country=CA/id=3/file.avro When hive partitioning is requested with either AUTO or STRINGS detection, the common prefix can be either of gs://bucket/path_to_table or gs://bucket/path_to_table/. CUSTOM detection requires encoding the partitioning schema immediately after the common prefix. For CUSTOM, any of * gs://bucket/path_to_table/{dt:DATE}/{country:STRING}/{id:INTEGER} * gs://bucket/path_to_table/{dt:STRING}/{country:STRING}/{id:INTEGER} * gs://bucket/path_to_table/{dt:DATE}/{country:STRING}/{id:STRING} would all be valid source URI prefixes."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. When set, what mode of hive partitioning to use when reading data. The following modes are supported: * AUTO: automatically infer partition key name(s) and type(s). * STRINGS: automatically infer partition key name(s). All types are strings. * CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported formats are: JSON, CSV, ORC, Avro and Parquet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for configuring hive partitioning detect."
      }
    },
    "com.gcp.bigquery_v2#JsonOptions": {
      "type": "structure",
      "members": {
        "encoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The character encoding of the data. The supported values are UTF-8, UTF-16BE, UTF-16LE, UTF-32BE, and UTF-32LE. The default value is UTF-8."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Json Options for load and make external tables."
      }
    },
    "com.gcp.bigquery_v2#TransformColumn": {
      "type": "structure",
      "members": {
        "transformSql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SQL expression used in the column transform."
          }
        },
        "type": {
          "target": "com.gcp.bigquery_v2#StandardSqlDataType",
          "traits": {
            "smithy.api#documentation": "Output only. Data type of the column after the transform."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a single transform column."
      }
    },
    "com.gcp.bigquery_v2#IncrementalResultStats": {
      "type": "structure",
      "members": {
        "disabledReason": {
          "target": "com.gcp.bigquery_v2#IncrementalResultStatsDisabledReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reason why incremental query results are/were not written by the query."
          }
        },
        "resultSetLastReplaceTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the result table's contents were completely replaced. May be absent if no results have been written or the query has completed."
          }
        },
        "firstIncrementalRowTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the first incremental result was written. If the query needed to restart internally, this only describes the final attempt."
          }
        },
        "resultSetLastModifyTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the result table's contents were modified. May be absent if no results have been written or the query has completed."
          }
        },
        "disabledReasonDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Additional human-readable clarification, if available, for DisabledReason."
          }
        },
        "incrementalRowCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of rows that were in the latest result set before query completion."
          }
        },
        "lastIncrementalRowTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the last incremental result was written. Does not include the final result written after query completion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics related to Incremental Query Results. Populated as part of JobStatistics2. This feature is not yet available."
      }
    },
    "com.gcp.bigquery_v2#IncrementalResultStatsDisabledReasonEnum": {
      "type": "enum",
      "members": {
        "DISABLED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED_REASON_UNSPECIFIED"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        },
        "UNSUPPORTED_OPERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_OPERATOR"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#ArimaResult": {
      "type": "structure",
      "members": {
        "seasonalPeriods": {
          "target": "com.gcp.bigquery_v2#ArimaResultSeasonalPeriodsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Seasonal periods. Repeated because multiple periods are supported for one time series."
          }
        },
        "arimaModelInfo": {
          "target": "com.gcp.bigquery_v2#ArimaModelInfoList",
          "traits": {
            "smithy.api#documentation": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results."
      }
    },
    "com.gcp.bigquery_v2#ArimaResultSeasonalPeriodsItemEnum": {
      "type": "enum",
      "members": {
        "SEASONAL_PERIOD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEASONAL_PERIOD_TYPE_UNSPECIFIED"
          }
        },
        "NO_SEASONALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SEASONALITY"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        },
        "QUARTERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUARTERLY"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARLY"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#ArimaResultSeasonalPeriodsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#ArimaResultSeasonalPeriodsItemEnum"
      }
    },
    "com.gcp.bigquery_v2#ArimaModelInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#ArimaModelInfo"
      }
    },
    "com.gcp.bigquery_v2#MaterializedViewStatistics": {
      "type": "structure",
      "members": {
        "materializedView": {
          "target": "com.gcp.bigquery_v2#MaterializedViewList",
          "traits": {
            "smithy.api#documentation": "Materialized views considered for the query job. Only certain materialized views are used. For a detailed list, see the child message. If many materialized views are considered, then the list might be incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics of materialized views considered in a query job."
      }
    },
    "com.gcp.bigquery_v2#MaterializedViewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#MaterializedView"
      }
    },
    "com.gcp.bigquery_v2#DoubleCandidates": {
      "type": "structure",
      "members": {
        "candidates": {
          "target": "com.gcp.bigquery_v2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Candidates for the double parameter in increasing order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Discrete candidates of a double hyperparameter."
      }
    },
    "com.gcp.bigquery_v2#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.bigquery_v2#StoredColumnsUsage": {
      "type": "structure",
      "members": {
        "baseTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Specifies the base table."
          }
        },
        "storedColumnsUnusedReasons": {
          "target": "com.gcp.bigquery_v2#StoredColumnsUnusedReasonList",
          "traits": {
            "smithy.api#documentation": "If stored columns were not used, explain why."
          }
        },
        "isQueryAccelerated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the query was accelerated with stored columns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the stored columns usage in the query."
      }
    },
    "com.gcp.bigquery_v2#StoredColumnsUnusedReasonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#StoredColumnsUnusedReason"
      }
    },
    "com.gcp.bigquery_v2#ArimaCoefficients": {
      "type": "structure",
      "members": {
        "movingAverageCoefficients": {
          "target": "com.gcp.bigquery_v2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Moving-average coefficients, an array of double."
          }
        },
        "autoRegressiveCoefficients": {
          "target": "com.gcp.bigquery_v2#DoubleList",
          "traits": {
            "smithy.api#documentation": "Auto-regressive coefficients, an array of double."
          }
        },
        "interceptCoefficient": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Intercept coefficient, just a double not an array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Arima coefficients."
      }
    },
    "com.gcp.bigquery_v2#GetQueryResultsResponse": {
      "type": "structure",
      "members": {
        "cacheHit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the query result was fetched from the query cache."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A hash of this response."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token used for paging results. When this token is non-empty, it indicates additional results are available."
          }
        },
        "rows": {
          "target": "com.gcp.bigquery_v2#TableRowList",
          "traits": {
            "smithy.api#documentation": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully. The REST-based representation of this data leverages a series of JSON f,v objects for indicating fields and values."
          }
        },
        "numDmlAffectedRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
          }
        },
        "jobReference": {
          "target": "com.gcp.bigquery_v2#JobReference",
          "traits": {
            "smithy.api#documentation": "Reference to the BigQuery Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
          }
        },
        "jobComplete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
          }
        },
        "schema": {
          "target": "com.gcp.bigquery_v2#TableSchema",
          "traits": {
            "smithy.api#documentation": "The schema of the results. Present only when the query completes successfully."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of the response."
          }
        },
        "errors": {
          "target": "com.gcp.bigquery_v2#ErrorProtoList",
          "traits": {
            "smithy.api#documentation": "Output only. The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful. For more information about error messages, see [Error messages](https://cloud.google.com/bigquery/docs/error-messages)."
          }
        },
        "totalBytesProcessed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of bytes processed for this query."
          }
        },
        "totalRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response object of GetQueryResults."
      }
    },
    "com.gcp.bigquery_v2#TableRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#TableRow"
      }
    },
    "com.gcp.bigquery_v2#ErrorProtoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#ErrorProto"
      }
    },
    "com.gcp.bigquery_v2#CsvOptions": {
      "type": "structure",
      "members": {
        "allowQuotedNewlines": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false."
          }
        },
        "quote": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (\"). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true. To include the specific quote character within a quoted value, precede it with an additional matching quote character. For example, if you want to escape the default character ' \" ', use ' \"\" '."
          }
        },
        "nullMarker": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies a string that represents a null value in a CSV file. For example, if you specify \"\\N\", BigQuery interprets \"\\N\" as a null value when querying a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value."
          }
        },
        "fieldDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The separator character for fields in a CSV file. The separator is interpreted as a single byte. For files encoded in ISO-8859-1, any single character can be used as a separator. For files encoded in UTF-8, characters represented in decimal range 1-127 (U+0001-U+007F) can be used without any modification. UTF-8 characters encoded with multiple bytes (i.e. U+0080 and above) will have only the first byte used for separating fields. The remaining bytes will be treated as a part of the field. BigQuery also supports the escape sequence \"\\t\" (U+0009) to specify a tab separator. The default value is comma (\",\", U+002C)."
          }
        },
        "nullMarkers": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of strings represented as SQL NULL value in a CSV file. null_marker and null_markers can't be set at the same time. If null_marker is set, null_markers has to be not set. If null_markers is set, null_marker has to be not set. If both null_marker and null_markers are set at the same time, a user error would be thrown. Any strings listed in null_markers, including empty string would be interpreted as SQL NULL. This applies to all column types."
          }
        },
        "preserveAsciiControlCharacters": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the embedded ASCII control characters (the first 32 characters in the ASCII-table, from '\\x00' to '\\x1F') are preserved."
          }
        },
        "skipLeadingRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema."
          }
        },
        "sourceColumnMatch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the strategy used to match loaded columns to the schema. If not set, a sensible default is chosen based on how the schema is provided. If autodetect is used, then columns are matched by name. Otherwise, columns are matched by position. This is done to keep the behavior backward-compatible. Acceptable values are: POSITION - matches by position. This assumes that the columns are ordered the same way as the schema. NAME - matches by name. This reads the header row as column names and reorders columns to match the field names in the schema."
          }
        },
        "allowJaggedRows": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false."
          }
        },
        "encoding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The character encoding of the data. The supported values are UTF-8, ISO-8859-1, UTF-16BE, UTF-16LE, UTF-32BE, and UTF-32LE. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to a CSV data source."
      }
    },
    "com.gcp.bigquery_v2#TableReference": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the table. The ID can contain Unicode characters in category L (letter), M (mark), N (number), Pc (connector, including underscore), Pd (dash), and Zs (space). For more information, see [General Category](https://wikipedia.org/wiki/Unicode_character_property#General_Category). The maximum length is 1,024 characters. Certain operations allow suffixing of the table ID with a partition decorator, such as `sample_table$20190123`."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the dataset containing this table."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this table."
          }
        }
      }
    },
    "com.gcp.bigquery_v2#JobStatistics": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs."
          }
        },
        "totalBytesProcessed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total bytes processed for the job."
          }
        },
        "transactionInfo": {
          "target": "com.gcp.bigquery_v2#TransactionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. [Alpha] Information of the multi-statement transaction if this job is part of one. This property is only expected on a child job or a job that is in a session. A script parent job is not part of the transaction started in the script."
          }
        },
        "parentJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If this is a child job, specifies the job ID of the parent."
          }
        },
        "scriptStatistics": {
          "target": "com.gcp.bigquery_v2#ScriptStatistics",
          "traits": {
            "smithy.api#documentation": "Output only. If this a child job of a script, specifies information about the context of this job within the script."
          }
        },
        "totalSlotMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Slot-milliseconds for the job."
          }
        },
        "rowLevelSecurityStatistics": {
          "target": "com.gcp.bigquery_v2#RowLevelSecurityStatistics",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for row-level security. Present only for query and extract jobs."
          }
        },
        "copy": {
          "target": "com.gcp.bigquery_v2#JobStatistics5",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for a copy job."
          }
        },
        "reservation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job."
          }
        },
        "load": {
          "target": "com.gcp.bigquery_v2#JobStatistics3",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for a load job."
          }
        },
        "dataMaskingStatistics": {
          "target": "com.gcp.bigquery_v2#DataMaskingStatistics",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for data-masking. Present only for query and extract jobs."
          }
        },
        "quotaDeferments": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Quotas which delayed this job's start time."
          }
        },
        "reservationGroupPath": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The reservation group path of the reservation assigned to this job. This field has a limit of 10 nested reservation groups. This is to maintain consistency between reservatins info schema and jobs info schema. The first reservation group is the root reservation group and the last is the leaf or lowest level reservation group."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state."
          }
        },
        "query": {
          "target": "com.gcp.bigquery_v2#JobStatistics2",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for a query job."
          }
        },
        "completionRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. [TrustedTester] Job progress (0.0 -> 1.0) for LOAD and EXTRACT jobs."
          }
        },
        "extract": {
          "target": "com.gcp.bigquery_v2#JobStatistics4",
          "traits": {
            "smithy.api#documentation": "Output only. Statistics for an extract job."
          }
        },
        "reservationUsage": {
          "target": "com.gcp.bigquery_v2#JobStatisticsReservationUsageItemList",
          "traits": {
            "smithy.api#documentation": "Output only. Job resource usage breakdown by reservation. This field reported misleading information and will no longer be populated."
          }
        },
        "edition": {
          "target": "com.gcp.bigquery_v2#JobStatisticsEditionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Name of edition corresponding to the reservation for this job at the time of this update."
          }
        },
        "finalExecutionDurationMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration in milliseconds of the execution of the final attempt of this job, as BigQuery may internally re-attempt to execute the job."
          }
        },
        "sessionInfo": {
          "target": "com.gcp.bigquery_v2#SessionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of the session if this job is part of one."
          }
        },
        "numChildJobs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of child jobs executed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for a single job execution."
      }
    },
    "com.gcp.bigquery_v2#JobStatisticsReservationUsageItem": {
      "type": "structure",
      "members": {
        "slotMs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total slot milliseconds used by the reservation for a particular job."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reservation name or \"unreserved\" for on-demand resource usage and multi-statement queries."
          }
        }
      }
    },
    "com.gcp.bigquery_v2#JobStatisticsReservationUsageItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#JobStatisticsReservationUsageItem"
      }
    },
    "com.gcp.bigquery_v2#JobStatisticsEditionEnum": {
      "type": "enum",
      "members": {
        "RESERVATION_EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_EDITION_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#BigtableOptions": {
      "type": "structure",
      "members": {
        "outputColumnFamiliesAsJson": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If field is true, then each column family will be read as a single JSON column. Otherwise they are read as a repeated cell structure containing timestamp/value tuples. The default value is false."
          }
        },
        "readRowkeyAsString": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false."
          }
        },
        "columnFamilies": {
          "target": "com.gcp.bigquery_v2#BigtableColumnFamilyList",
          "traits": {
            "smithy.api#documentation": "Optional. List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable."
          }
        },
        "ignoreUnspecifiedColumnFamilies": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options specific to Google Cloud Bigtable data sources."
      }
    },
    "com.gcp.bigquery_v2#BigtableColumnFamilyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#BigtableColumnFamily"
      }
    },
    "com.gcp.bigquery_v2#PartitioningDefinition": {
      "type": "structure",
      "members": {
        "partitionedColumn": {
          "target": "com.gcp.bigquery_v2#PartitionedColumnList",
          "traits": {
            "smithy.api#documentation": "Optional. Details about each partitioning column. This field is output only for all partitioning types other than metastore partitioned tables. BigQuery native tables only support 1 partitioning column. Other table types may support 0, 1 or more partitioning columns. For metastore partitioned tables, the order must match the definition order in the Hive Metastore, where it must match the physical layout of the table. For example, CREATE TABLE a_table(id BIGINT, name STRING) PARTITIONED BY (city STRING, state STRING). In this case the values must be ['city', 'state'] in that order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The partitioning information, which includes managed table, external table and metastore partitioned table partition information."
      }
    },
    "com.gcp.bigquery_v2#PartitionedColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#PartitionedColumn"
      }
    },
    "com.gcp.bigquery_v2#SnapshotDefinition": {
      "type": "structure",
      "members": {
        "baseTableReference": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Required. Reference describing the ID of the table that was snapshot."
          }
        },
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The time at which the base table was snapshot. This value is reported in the JSON response using RFC3339 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about base table and snapshot time of the snapshot."
      }
    },
    "com.gcp.bigquery_v2#QueryInfo": {
      "type": "structure",
      "members": {
        "optimizationDetails": {
          "target": "com.gcp.bigquery_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. Information about query optimizations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query optimization information for a QUERY job."
      }
    },
    "com.gcp.bigquery_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.bigquery_v2#DataSplitResult": {
      "type": "structure",
      "members": {
        "trainingTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Table reference of the training data after split."
          }
        },
        "testTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Table reference of the test data after split."
          }
        },
        "evaluationTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Table reference of the evaluation data after split."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data split result. This contains references to the training and evaluation data tables that were used to train the model."
      }
    },
    "com.gcp.bigquery_v2#HparamSearchSpaces": {
      "type": "structure",
      "members": {
        "l2Reg": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "L2 regularization coefficient."
          }
        },
        "activationFn": {
          "target": "com.gcp.bigquery_v2#StringHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Activation functions of neural network models."
          }
        },
        "boosterType": {
          "target": "com.gcp.bigquery_v2#StringHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Booster type for boosted tree models."
          }
        },
        "colsampleBynode": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Subsample ratio of columns for each node(split) for boosted tree models."
          }
        },
        "colsampleBylevel": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Subsample ratio of columns for each level for boosted tree models."
          }
        },
        "colsampleBytree": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Subsample ratio of columns when constructing each tree for boosted tree models."
          }
        },
        "dartNormalizeType": {
          "target": "com.gcp.bigquery_v2#StringHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Dart normalization type for boosted tree models."
          }
        },
        "l1Reg": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "L1 regularization coefficient."
          }
        },
        "minSplitLoss": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Minimum split loss for boosted tree models."
          }
        },
        "dropout": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Dropout probability for dnn model training and boosted tree models using dart booster."
          }
        },
        "maxTreeDepth": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Maximum depth of a tree for boosted tree models."
          }
        },
        "hiddenUnits": {
          "target": "com.gcp.bigquery_v2#IntArrayHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Hidden units for neural network models."
          }
        },
        "numClusters": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Number of clusters for k-means."
          }
        },
        "walsAlpha": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Hyperparameter for matrix factoration when implicit feedback type is specified."
          }
        },
        "learnRate": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Learning rate of training jobs."
          }
        },
        "minTreeChildWeight": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Minimum sum of instance weight needed in a child for boosted tree models."
          }
        },
        "optimizer": {
          "target": "com.gcp.bigquery_v2#StringHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Optimizer of TF models."
          }
        },
        "batchSize": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Mini batch sample size."
          }
        },
        "numParallelTree": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Number of parallel trees for boosted tree models."
          }
        },
        "subsample": {
          "target": "com.gcp.bigquery_v2#DoubleHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Subsample the training data to grow tree to prevent overfitting for boosted tree models."
          }
        },
        "numFactors": {
          "target": "com.gcp.bigquery_v2#IntHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Number of latent factors to train on."
          }
        },
        "treeMethod": {
          "target": "com.gcp.bigquery_v2#StringHparamSearchSpace",
          "traits": {
            "smithy.api#documentation": "Tree construction algorithm for boosted tree models."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hyperparameter search spaces. These should be a subset of training_options."
      }
    },
    "com.gcp.bigquery_v2#PrivacyPolicy": {
      "type": "structure",
      "members": {
        "joinRestrictionPolicy": {
          "target": "com.gcp.bigquery_v2#JoinRestrictionPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Join restriction policy is outside of the one of policies, since this policy can be set along with other policies. This policy gives data providers the ability to enforce joins on the 'join_allowed_columns' when data is queried from a privacy protected view."
          }
        },
        "differentialPrivacyPolicy": {
          "target": "com.gcp.bigquery_v2#DifferentialPrivacyPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Policy used for differential privacy."
          }
        },
        "aggregationThresholdPolicy": {
          "target": "com.gcp.bigquery_v2#AggregationThresholdPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Policy used for aggregation thresholds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents privacy policy that contains the privacy requirements specified by the data owner. Currently, this is only supported on views."
      }
    },
    "com.gcp.bigquery_v2#ExportDataStatistics": {
      "type": "structure",
      "members": {
        "fileCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of destination files generated in case of EXPORT DATA statement only."
          }
        },
        "rowCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Alpha] Number of destination rows generated in case of EXPORT DATA statement only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for the EXPORT DATA statement as part of Query Job. EXTRACT JOB statistics are populated in JobStatistics4."
      }
    },
    "com.gcp.bigquery_v2#MaterializedView": {
      "type": "structure",
      "members": {
        "rejectedReason": {
          "target": "com.gcp.bigquery_v2#MaterializedViewRejectedReasonEnum",
          "traits": {
            "smithy.api#documentation": "If present, specifies the reason why the materialized view was not chosen for the query."
          }
        },
        "estimatedBytesSaved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, specifies a best-effort estimation of the bytes saved by using the materialized view rather than its base tables."
          }
        },
        "tableReference": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "The candidate materialized view."
          }
        },
        "chosen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the materialized view is chosen for the query. A materialized view can be chosen to rewrite multiple parts of the same query. If a materialized view is chosen to rewrite any part of the query, then this field is true, even if the materialized view was not chosen to rewrite others parts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A materialized view considered for a query job."
      }
    },
    "com.gcp.bigquery_v2#MaterializedViewRejectedReasonEnum": {
      "type": "enum",
      "members": {
        "REJECTED_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED_REASON_UNSPECIFIED"
          }
        },
        "NO_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_DATA"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST"
          }
        },
        "BASE_TABLE_TRUNCATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_TRUNCATED"
          }
        },
        "BASE_TABLE_DATA_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_DATA_CHANGE"
          }
        },
        "BASE_TABLE_PARTITION_EXPIRATION_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_PARTITION_EXPIRATION_CHANGE"
          }
        },
        "BASE_TABLE_EXPIRED_PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_EXPIRED_PARTITION"
          }
        },
        "BASE_TABLE_INCOMPATIBLE_METADATA_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_INCOMPATIBLE_METADATA_CHANGE"
          }
        },
        "TIME_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_ZONE"
          }
        },
        "OUT_OF_TIME_TRAVEL_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_TIME_TRAVEL_WINDOW"
          }
        },
        "BASE_TABLE_FINE_GRAINED_SECURITY_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_FINE_GRAINED_SECURITY_POLICY"
          }
        },
        "BASE_TABLE_TOO_STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASE_TABLE_TOO_STALE"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#ArimaOrder": {
      "type": "structure",
      "members": {
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order of the moving-average part."
          }
        },
        "p": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order of the autoregressive part."
          }
        },
        "d": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order of the differencing part."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Arima order, can be used for both non-seasonal and seasonal parts."
      }
    },
    "com.gcp.bigquery_v2#AggregationThresholdPolicy": {
      "type": "structure",
      "members": {
        "threshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The threshold for the \"aggregation threshold\" policy."
          }
        },
        "privacyUnitColumns": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The privacy unit column(s) associated with this policy. For now, only one column per data source object (table, view) is allowed as a privacy unit column. Representing as a repeated field in metadata for extensibility to multiple columns in future. Duplicates and Repeated struct fields are not allowed. For nested fields, use dot notation (\"outer.inner\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents privacy policy associated with \"aggregation threshold\" method."
      }
    },
    "com.gcp.bigquery_v2#JobReference": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the project containing this job."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The geographic location of the job. The default value is US. For more information about BigQuery locations, see: https://cloud.google.com/bigquery/docs/locations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A job reference is a fully qualified identifier for referring to a job."
      }
    },
    "com.gcp.bigquery_v2#ArimaFittingMetrics": {
      "type": "structure",
      "members": {
        "variance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Variance."
          }
        },
        "aic": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "AIC."
          }
        },
        "logLikelihood": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Log-likelihood."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ARIMA model fitting metrics."
      }
    },
    "com.gcp.bigquery_v2#DataPolicyList": {
      "type": "structure",
      "members": {
        "dataPolicies": {
          "target": "com.gcp.bigquery_v2#DataPolicyOptionList",
          "traits": {
            "smithy.api#documentation": "Contains a list of data policy options. At most 9 data policies are allowed per field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of data policy options. For more information, see [Mask data by applying data policies to a column](https://docs.cloud.google.com/bigquery/docs/column-data-masking#data-policies-on-column)."
      }
    },
    "com.gcp.bigquery_v2#DataPolicyOptionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#DataPolicyOption"
      }
    },
    "com.gcp.bigquery_v2#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.bigquery_v2#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.bigquery_v2#TransactionInfo": {
      "type": "structure",
      "members": {
        "transactionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Alpha] Id of the transaction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "[Alpha] Information of a multi-statement transaction."
      }
    },
    "com.gcp.bigquery_v2#PartitionedColumn": {
      "type": "structure",
      "members": {
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the partition column."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The partitioning column information."
      }
    },
    "com.gcp.bigquery_v2#TableChangeInsight": {
      "type": "structure",
      "members": {
        "metadataCacheNotUsedButUsedPreviously": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the table's column metadata index was not used in the current job, but was used in a previous job with the same query hash."
          }
        },
        "tableReference": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "Output only. The table that was queried."
          }
        },
        "metadataCacheStalenessInsight": {
          "target": "com.gcp.bigquery_v2#MetadataCacheStalenessInsight",
          "traits": {
            "smithy.api#documentation": "Output only. If present, indicates that the table's metadata column index staleness has increased significantly compared to previous jobs with the same query hash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table-level performance insights compared to previous runs. These insights don't apply to specific query stages, rather they apply to the whole table."
      }
    },
    "com.gcp.bigquery_v2#RestrictionConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.bigquery_v2#RestrictionConfigTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Specifies the type of dataset/table restriction."
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RestrictionConfigTypeEnum": {
      "type": "enum",
      "members": {
        "RESTRICTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTION_TYPE_UNSPECIFIED"
          }
        },
        "RESTRICTED_DATA_EGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_DATA_EGRESS"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#BiEngineReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.gcp.bigquery_v2#BiEngineReasonCodeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. High-level BI Engine reason for partial or disabled acceleration"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Free form human-readable reason for partial or disabled acceleration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reason why BI Engine didn't accelerate the query (or sub-query)."
      }
    },
    "com.gcp.bigquery_v2#BiEngineReasonCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "NO_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESERVATION"
          }
        },
        "INSUFFICIENT_RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_RESERVATION"
          }
        },
        "UNSUPPORTED_SQL_TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_SQL_TEXT"
          }
        },
        "INPUT_TOO_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TOO_LARGE"
          }
        },
        "OTHER_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_REASON"
          }
        },
        "TABLE_EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_EXCLUDED"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#Routine": {
      "type": "structure",
      "members": {
        "arguments": {
          "target": "com.gcp.bigquery_v2#ArgumentList",
          "traits": {
            "smithy.api#documentation": "Optional."
          }
        },
        "importedLibraries": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If language = \"JAVASCRIPT\", this field stores the path of the imported JAVASCRIPT libraries."
          }
        },
        "language": {
          "target": "com.gcp.bigquery_v2#RoutineLanguageEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Defaults to \"SQL\" if remote_function_options field is absent, not set otherwise."
          }
        },
        "remoteFunctionOptions": {
          "target": "com.gcp.bigquery_v2#RemoteFunctionOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Remote function specific options."
          }
        },
        "buildStatus": {
          "target": "com.gcp.bigquery_v2#RoutineBuildStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The build status of the routine. This field is only applicable to Python UDFs. [Preview](https://cloud.google.com/products/#product-launch-stages)"
          }
        },
        "externalRuntimeOptions": {
          "target": "com.gcp.bigquery_v2#ExternalRuntimeOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for the runtime of the external system executing the routine. This field is only applicable for Python UDFs. [Preview](https://cloud.google.com/products/#product-launch-stages)"
          }
        },
        "returnType": {
          "target": "com.gcp.bigquery_v2#StandardSqlDataType",
          "traits": {
            "smithy.api#documentation": "Optional if language = \"SQL\"; required otherwise. Cannot be set if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return type is inferred from definition_body at query time in each query that references this routine. If present, then the evaluated result will be cast to the specified returned type at query time. For example, for the functions created with the following statements: * `CREATE FUNCTION Add(x FLOAT64, y FLOAT64) RETURNS FLOAT64 AS (x + y);` * `CREATE FUNCTION Increment(x FLOAT64) AS (Add(x, 1));` * `CREATE FUNCTION Decrement(x FLOAT64) RETURNS FLOAT64 AS (Add(x, -1));` The return_type is `{type_kind: \"FLOAT64\"}` for `Add` and `Decrement`, and is absent for `Increment` (inferred as FLOAT64 at query time). Suppose the function `Add` is replaced by `CREATE OR REPLACE FUNCTION Add(x INT64, y INT64) AS (x + y);` Then the inferred return type of `Increment` is automatically changed to INT64 at query time, while the return type of `Decrement` remains FLOAT64."
          }
        },
        "strictMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Use this option to catch many common errors. Error checking is not exhaustive, and successfully creating a procedure doesn't guarantee that the procedure will successfully execute at runtime. If `strictMode` is set to `TRUE`, the procedure body is further checked for errors such as non-existent tables or columns. The `CREATE PROCEDURE` statement fails if the body fails any of these checks. If `strictMode` is set to `FALSE`, the procedure body is checked only for syntax. For procedures that invoke themselves recursively, specify `strictMode=FALSE` to avoid non-existent procedure errors during validation. Default value is `TRUE`."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this routine was created, in milliseconds since the epoch."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the routine, if defined."
          }
        },
        "routineReference": {
          "target": "com.gcp.bigquery_v2#RoutineReference",
          "traits": {
            "smithy.api#documentation": "Required. Reference describing the ID of this routine."
          }
        },
        "definitionBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The body of the routine. For functions, this is the expression in the AS clause. If `language = \"SQL\"`, it is the substring inside (but excluding) the parentheses. For example, for the function created with the following statement: `CREATE FUNCTION JoinLines(x string, y string) as (concat(x, \"\\n\", y))` The definition_body is `concat(x, \"\\n\", y)` (\\n is not replaced with linebreak). If `language=\"JAVASCRIPT\"`, it is the evaluated string in the AS clause. For example, for the function created with the following statement: `CREATE FUNCTION f() RETURNS STRING LANGUAGE js AS 'return \"\\n\";\\n'` The definition_body is `return \"\\n\";\\n` Note that both \\n are replaced with linebreaks. If `definition_body` references another routine, then that routine must be fully qualified with its project ID."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this routine was last modified, in milliseconds since the epoch."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A hash of this resource."
          }
        },
        "sparkOptions": {
          "target": "com.gcp.bigquery_v2#SparkOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Spark specific options."
          }
        },
        "dataGovernanceType": {
          "target": "com.gcp.bigquery_v2#RoutineDataGovernanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. If set to `DATA_MASKING`, the function is validated and made available as a masking function. For more information, see [Create custom masking routines](https://cloud.google.com/bigquery/docs/user-defined-functions#custom-mask)."
          }
        },
        "routineType": {
          "target": "com.gcp.bigquery_v2#RoutineRoutineTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of routine."
          }
        },
        "returnTableType": {
          "target": "com.gcp.bigquery_v2#StandardSqlTableType",
          "traits": {
            "smithy.api#documentation": "Optional. Can be set only if routine_type = \"TABLE_VALUED_FUNCTION\". If absent, the return table type is inferred from definition_body at query time in each query that references this routine. If present, then the columns in the evaluated table result will be cast to match the column types specified in return table type, at query time."
          }
        },
        "determinismLevel": {
          "target": "com.gcp.bigquery_v2#RoutineDeterminismLevelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The determinism level of the JavaScript UDF, if defined."
          }
        },
        "securityMode": {
          "target": "com.gcp.bigquery_v2#RoutineSecurityModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The security mode of the routine, if defined. If not defined, the security mode is automatically determined from the routine's configuration."
          }
        },
        "pythonOptions": {
          "target": "com.gcp.bigquery_v2#PythonOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options for the Python UDF. [Preview](https://cloud.google.com/products/#product-launch-stages)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user-defined function or a stored procedure."
      }
    },
    "com.gcp.bigquery_v2#ArgumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#Argument"
      }
    },
    "com.gcp.bigquery_v2#RoutineLanguageEnum": {
      "type": "enum",
      "members": {
        "LANGUAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE_UNSPECIFIED"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVASCRIPT"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "JAVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAVA"
          }
        },
        "SCALA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALA"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RoutineDataGovernanceTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_GOVERNANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_GOVERNANCE_TYPE_UNSPECIFIED"
          }
        },
        "DATA_MASKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_MASKING"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RoutineRoutineTypeEnum": {
      "type": "enum",
      "members": {
        "ROUTINE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINE_TYPE_UNSPECIFIED"
          }
        },
        "SCALAR_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALAR_FUNCTION"
          }
        },
        "PROCEDURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCEDURE"
          }
        },
        "TABLE_VALUED_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE_VALUED_FUNCTION"
          }
        },
        "AGGREGATE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE_FUNCTION"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RoutineDeterminismLevelEnum": {
      "type": "enum",
      "members": {
        "DETERMINISM_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETERMINISM_LEVEL_UNSPECIFIED"
          }
        },
        "DETERMINISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETERMINISTIC"
          }
        },
        "NOT_DETERMINISTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_DETERMINISTIC"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RoutineSecurityModeEnum": {
      "type": "enum",
      "members": {
        "SECURITY_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_MODE_UNSPECIFIED"
          }
        },
        "DEFINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFINER"
          }
        },
        "INVOKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOKER"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RemoteModelInfo": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Fully qualified name of the user-provided connection object of the remote model. Format: ```\"projects/{project_id}/locations/{location_id}/connections/{connection_id}\"```"
          }
        },
        "speechRecognizer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the speech recognizer to use for speech recognition. The expected format is `projects/{project}/locations/{location}/recognizers/{recognizer}`. Customers can specify this field at model creation. If not specified, a default recognizer `projects/{model project}/locations/global/recognizers/_` will be used. See more details at [recognizers](https://cloud.google.com/speech-to-text/v2/docs/reference/rest/v2/projects.locations.recognizers)"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The endpoint for remote model."
          }
        },
        "remoteModelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The model version for LLM."
          }
        },
        "maxBatchingRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Max number of rows in each batch sent to the remote service. If unset, the number of rows in each batch is set dynamically."
          }
        },
        "remoteServiceType": {
          "target": "com.gcp.bigquery_v2#RemoteModelInfoRemoteServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The remote service type for remote model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remote Model Info"
      }
    },
    "com.gcp.bigquery_v2#RemoteModelInfoRemoteServiceTypeEnum": {
      "type": "enum",
      "members": {
        "REMOTE_SERVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_SERVICE_TYPE_UNSPECIFIED"
          }
        },
        "CLOUD_AI_TRANSLATE_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_AI_TRANSLATE_V3"
          }
        },
        "CLOUD_AI_VISION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_AI_VISION_V1"
          }
        },
        "CLOUD_AI_NATURAL_LANGUAGE_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_AI_NATURAL_LANGUAGE_V1"
          }
        },
        "CLOUD_AI_SPEECH_TO_TEXT_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_AI_SPEECH_TO_TEXT_V2"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#RemoteFunctionOptions": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified name of the user-provided connection object which holds the authentication information to send requests to the remote service. Format: ```\"projects/{projectId}/locations/{locationId}/connections/{connectionId}\"```"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Endpoint of the user-provided remote service, e.g. ```https://us-east1-my_gcf_project.cloudfunctions.net/remote_add```"
          }
        },
        "maxBatchingRows": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Max number of rows in each batch sent to the remote service. If absent or if 0, BigQuery dynamically decides the number of rows in a batch."
          }
        },
        "userDefinedContext": {
          "target": "com.gcp.bigquery_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "User-defined context as a set of key/value pairs, which will be sent as function invocation context together with batched arguments in the requests to the remote service. The total number of bytes of keys and values must be less than 8KB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for a remote user-defined function."
      }
    },
    "com.gcp.bigquery_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigquery_v2#StagePerformanceChangeInsight": {
      "type": "structure",
      "members": {
        "inputDataChange": {
          "target": "com.gcp.bigquery_v2#InputDataChange",
          "traits": {
            "smithy.api#documentation": "Output only. Input data change insight of the query stage."
          }
        },
        "stageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The stage id that the insight mapped to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Performance insights compared to the previous executions for a specific stage."
      }
    },
    "com.gcp.bigquery_v2#JobConfigurationTableCopy": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.bigquery_v2#JobConfigurationTableCopyOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Supported operation types in table copy job."
          }
        },
        "destinationExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time when the destination table expires. Expired tables will be deleted and their storage reclaimed."
          }
        },
        "writeDisposition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the action that occurs if the destination table already exists. The following values are supported: * WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema and table constraints from the source table. * WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. * WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion."
          }
        },
        "createDisposition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether the job is allowed to create new tables. The following values are supported: * CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. * CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion."
          }
        },
        "destinationEncryptionConfiguration": {
          "target": "com.gcp.bigquery_v2#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "Custom encryption configuration (e.g., Cloud KMS keys)."
          }
        },
        "destinationTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "[Required] The destination table."
          }
        },
        "sourceTables": {
          "target": "com.gcp.bigquery_v2#TableReferenceList",
          "traits": {
            "smithy.api#documentation": "[Pick one] Source tables to copy."
          }
        },
        "sourceTable": {
          "target": "com.gcp.bigquery_v2#TableReference",
          "traits": {
            "smithy.api#documentation": "[Pick one] Source table to copy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JobConfigurationTableCopy configures a job that copies data from one table to another. For more information on copying tables, see [Copy a table](https://cloud.google.com/bigquery/docs/managing-tables#copy-table)."
      }
    },
    "com.gcp.bigquery_v2#JobConfigurationTableCopyOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY"
          }
        },
        "SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLONE"
          }
        }
      }
    },
    "com.gcp.bigquery_v2#TableReferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigquery_v2#TableReference"
      }
    },
    "com.gcp.bigquery_v2#StringHparamSearchSpace": {
      "type": "structure",
      "members": {
        "candidates": {
          "target": "com.gcp.bigquery_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Canididates for the string or enum parameter in lower case."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search space for string and enum."
      }
    },
    "com.gcp.bigquery_v2#InputDataChange": {
      "type": "structure",
      "members": {
        "recordsReadDiffPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. Records read difference percentage compared to a previous run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the input data change insight."
      }
    },
    "com.gcp.bigquery_v2#DoubleRange": {
      "type": "structure",
      "members": {
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Max value of the double parameter."
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Min value of the double parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Range of a double hyperparameter."
      }
    },
    "com.gcp.bigquery_v2#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Cloud KMS encryption settings."
      }
    },
    "com.gcp.bigquery_v2#ScriptStatistics": {
      "type": "structure",
      "members": {
        "evaluationKind": {
          "target": "com.gcp.bigquery_v2#ScriptStatisticsEvaluationKindEnum",
          "traits": {
            "smithy.api#documentation": "Whether this child job was a statement or expression."
          }
        },
        "stackFrames": {
          "target": "com.gcp.bigquery_v2#ScriptStackFrameList",
          "traits": {
[...]
