{
  "smithy": "2.0",
  "metadata": {
    "service": "bigtableadmin",
    "version": "v2",
    "title": "Cloud Bigtable Admin API",
    "baseUrl": "https://bigtableadmin.googleapis.com/"
  },
  "shapes": {
    "com.gcp.bigtableadmin_v2#CreateLogicalViewRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent instance where this logical view will be created. Format: `projects/{project}/instances/{instance}`."
          }
        },
        "logicalView": {
          "target": "com.gcp.bigtableadmin_v2#LogicalView",
          "traits": {
            "smithy.api#documentation": "Required. The logical view to create."
          }
        },
        "logicalViewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the logical view, which will become the final component of the logical view's resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.CreateLogicalView."
      }
    },
    "com.gcp.bigtableadmin_v2#PartialUpdateInstanceRequest": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.gcp.bigtableadmin_v2#Instance",
          "traits": {
            "smithy.api#documentation": "Required. The Instance which will (partially) replace the current value."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subset of Instance fields which should be replaced. Must be explicitly set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.PartialUpdateInstance."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Computes an approximate unique count over the input values. When using raw data as input, be careful to use a consistent encoding. Otherwise the same value encoded differently could count more than once, or two distinct values could count as identical. Input: Any, or omit for Raw State: TBD Special state conversions: `Int64` (the unique count estimate)"
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64": {
      "type": "structure",
      "members": {
        "encoding": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64Encoding",
          "traits": {
            "smithy.api#documentation": "The encoding to use when converting to or from lower level types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Int64 Values of type `Int64` are stored in `Value.int_value`."
      }
    },
    "com.gcp.bigtableadmin_v2#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.gcp.bigtableadmin_v2#InstanceList",
          "traits": {
            "smithy.api#documentation": "The list of requested instances."
          }
        },
        "failedLocations": {
          "target": "com.gcp.bigtableadmin_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects//locations/`"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: This field is unused and ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BigtableInstanceAdmin.ListInstances."
      }
    },
    "com.gcp.bigtableadmin_v2#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#Instance"
      }
    },
    "com.gcp.bigtableadmin_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigtableadmin_v2#PartialUpdateClusterRequest": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.gcp.bigtableadmin_v2#Cluster",
          "traits": {
            "smithy.api#documentation": "Required. The Cluster which contains the partial updates to be applied, subject to the update_mask."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The subset of Cluster fields which should be replaced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.PartialUpdateCluster."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Encodes the value in a variable length binary format of up to 10 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported."
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterConfig": {
      "type": "structure",
      "members": {
        "clusterAutoscalingConfig": {
          "target": "com.gcp.bigtableadmin_v2#ClusterAutoscalingConfig",
          "traits": {
            "smithy.api#documentation": "Autoscaling configuration for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for a cluster."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateMaterializedViewRequest": {
      "type": "structure",
      "members": {
        "materializedViewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the materialized view, which will become the final component of the materialized view's resource name."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent instance where this materialized view will be created. Format: `projects/{project}/instances/{instance}`."
          }
        },
        "materializedView": {
          "target": "com.gcp.bigtableadmin_v2#MaterializedView",
          "traits": {
            "smithy.api#documentation": "Required. The materialized view to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.CreateMaterializedView."
      }
    },
    "com.gcp.bigtableadmin_v2#UpdateLogicalViewRequest": {
      "type": "structure",
      "members": {
        "logicalView": {
          "target": "com.gcp.bigtableadmin_v2#LogicalView",
          "traits": {
            "smithy.api#documentation": "Required. The logical view to update. The logical view's `name` field is used to identify the view to update. Format: `projects/{project}/instances/{instance}/logicalViews/{logical_view}`."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields to update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.UpdateLogicalView."
      }
    },
    "com.gcp.bigtableadmin_v2#RowAffinity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "If enabled, Bigtable will route the request based on the row key of the request, rather than randomly. Instead, each row key will be assigned to a cluster, and will stick to that cluster. If clusters are added or removed, then this may affect which row keys stick to which clusters. To avoid this, users can use a cluster group to specify which clusters are to be used. In this case, new clusters that are not a part of the cluster group will not be routed to, and routing will be unaffected by the new cluster. Moreover, clusters specified in the cluster group cannot be deleted unless removed from the cluster group."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt32EncodingBigEndianBytes": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Encodes the value as a 4-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putInt()` with `ByteOrder.BIG_ENDIAN`"
      }
    },
    "com.gcp.bigtableadmin_v2#DropRowRangeRequest": {
      "type": "structure",
      "members": {
        "rowKeyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delete all rows that start with this row key prefix. Prefix cannot be zero length."
          }
        },
        "deleteAllDataFromTable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Delete all rows in the table. Setting this to false is a no-op."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange"
      }
    },
    "com.gcp.bigtableadmin_v2#EncryptionConfig": {
      "type": "structure",
      "members": {
        "kmsKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes the Cloud KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster must be granted the `cloudkms.cryptoKeyEncrypterDecrypter` role on the CMEK key. 2) Only regional keys can be used and the region of the CMEK key must match the region of the cluster. Values are of the form `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud Key Management Service (Cloud KMS) settings for a CMEK-protected cluster."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2MemoryLayerMemoryConfig": {
      "type": "structure",
      "members": {
        "storageSizeGib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Reporting the current size of the memory layer in GiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration of a memory layer."
      }
    },
    "com.gcp.bigtableadmin_v2#OperationProgress": {
      "type": "structure",
      "members": {
        "progressPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percent completion of the operation. Values are between 0 and 100 inclusive."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the request was received."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the time at which this operation failed or was completed successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates progress related information for a Cloud Bigtable long running operation."
      }
    },
    "com.gcp.bigtableadmin_v2#AutoscalingTargets": {
      "type": "structure",
      "members": {
        "storageUtilizationGibPerNode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The storage utilization that the Autoscaler should be trying to achieve. This number is limited between 2560 (2.5TiB) and 5120 (5TiB) for a SSD cluster and between 8192 (8TiB) and 16384 (16TiB) for an HDD cluster, otherwise it will return INVALID_ARGUMENT error. If this value is set to 0, it will be treated as if it were set to the default value: 2560 for SSD, 8192 for HDD."
          }
        },
        "cpuUtilizationPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cpu utilization that the Autoscaler should be trying to achieve. This number is on a scale from 0 (no utilization) to 100 (total utilization), and is limited between 10 and 80, otherwise it will return INVALID_ARGUMENT error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Autoscaling targets for a Cluster. These determine the recommended nodes."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeEnum": {
      "type": "structure",
      "members": {
        "schemaBundleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the schema bundle that this enum is defined in."
          }
        },
        "enumName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified name of the protobuf enum message, including package. In the format of \"foo.bar.EnumMessage\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A protobuf enum type. Values of type `Enum` are stored in `Value.int_value`."
      }
    },
    "com.gcp.bigtableadmin_v2#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigtableadmin_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt32EncodingOrderedCodeBytes": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Encodes the value in a variable length binary format of up to 5 bytes. Values that are closer to zero use fewer bytes. Sorted mode: all values are supported. Distinct mode: all values are supported."
      }
    },
    "com.gcp.bigtableadmin_v2#Location": {
      "type": "structure",
      "members": {
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "metadata": {
          "target": "com.gcp.bigtableadmin_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "labels": {
          "target": "com.gcp.bigtableadmin_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.bigtableadmin_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.bigtableadmin_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateMax": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Computes the max of the input values. Allowed input: `Int64` State: same as input"
      }
    },
    "com.gcp.bigtableadmin_v2#ProtoSchema": {
      "type": "structure",
      "members": {
        "protoDescriptors": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto), which could include multiple proto files. To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with `--include_imports` and `--descriptor_set_out`. For example, to generate for moon/shot/app.proto, run ``` $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.pb \\ moon/shot/app.proto ``` For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a collection of protobuf schemas."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes": {
      "type": "structure",
      "members": {
        "bytesType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeBytes",
          "traits": {
            "smithy.api#documentation": "Deprecated: ignored if set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encodes the value as an 8-byte big-endian two's complement value. Sorted mode: non-negative values are supported. Distinct mode: all values are supported. Compatible with: - BigQuery `BINARY` encoding - HBase `Bytes.toBytes` - Java `ByteBuffer.putLong()` with `ByteOrder.BIG_ENDIAN`"
      }
    },
    "com.gcp.bigtableadmin_v2#OptimizeRestoredTableMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the restored table being optimized."
          }
        },
        "progress": {
          "target": "com.gcp.bigtableadmin_v2#OperationProgress",
          "traits": {
            "smithy.api#documentation": "The progress of the post-restore optimizations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64Encoding": {
      "type": "structure",
      "members": {
        "bigEndianBytes": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64EncodingBigEndianBytes",
          "traits": {
            "smithy.api#documentation": "Use `BigEndianBytes` encoding."
          }
        },
        "orderedCodeBytes": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64EncodingOrderedCodeBytes",
          "traits": {
            "smithy.api#documentation": "Use `OrderedCodeBytes` encoding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rules used to convert to or from lower level types."
      }
    },
    "com.gcp.bigtableadmin_v2#PartialUpdateClusterMetadata": {
      "type": "structure",
      "members": {
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#PartialUpdateClusterRequest",
          "traits": {
            "smithy.api#documentation": "The original request for PartialUpdateCluster."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by PartialUpdateCluster."
      }
    },
    "com.gcp.bigtableadmin_v2#UpdateTableMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this operation started. DEPRECATED: Use request_time instead."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the table being updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata type for the operation returned by UpdateTable."
      }
    },
    "com.gcp.bigtableadmin_v2#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.bigtableadmin_v2#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.bigtableadmin_v2#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#Location"
      }
    },
    "com.gcp.bigtableadmin_v2#Instance": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion."
          }
        },
        "edition": {
          "target": "com.gcp.bigtableadmin_v2#InstanceEditionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The edition of the instance. See Edition for details."
          }
        },
        "labels": {
          "target": "com.gcp.bigtableadmin_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A commit timestamp representing when this Instance was created. For instances created before this field was added (August 2021), this value is `seconds: 0, nanos: 1`."
          }
        },
        "type": {
          "target": "com.gcp.bigtableadmin_v2#InstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the instance. Defaults to `PRODUCTION`."
          }
        },
        "tags": {
          "target": "com.gcp.bigtableadmin_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: - \"123/environment\": \"production\", - \"123/costCenter\": \"marketing\" Tags and Labels (above) are both used to bind metadata to resources, with different use-cases. See https://cloud.google.com/resource-manager/docs/tags/tags-overview for an in-depth overview on the difference between tags and labels."
          }
        },
        "state": {
          "target": "com.gcp.bigtableadmin_v2#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the instance."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the instance. Values are of the form `projects/{project}/instances/a-z+[a-z0-9]`."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "knowledgeCatalogRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The region where Knowledge Catalog data is synced to and stored, including user-created aspects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance."
      }
    },
    "com.gcp.bigtableadmin_v2#InstanceEditionEnum": {
      "type": "enum",
      "members": {
        "EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITION_UNSPECIFIED"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE"
          }
        },
        "ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#InstanceTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPMENT"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_NOT_KNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_NOT_KNOWN"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeFloat64": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Float64 Values of type `Float64` are stored in `Value.float_value`."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeDate": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Date Values of type `Date` are stored in `Value.date_value`."
      }
    },
    "com.gcp.bigtableadmin_v2#AppProfile": {
      "type": "structure",
      "members": {
        "singleClusterRouting": {
          "target": "com.gcp.bigtableadmin_v2#SingleClusterRouting",
          "traits": {
            "smithy.api#documentation": "Use a single-cluster routing policy."
          }
        },
        "dataBoostIsolationReadOnly": {
          "target": "com.gcp.bigtableadmin_v2#DataBoostIsolationReadOnly",
          "traits": {
            "smithy.api#documentation": "Specifies that this app profile is intended for read-only usage via the Data Boost feature."
          }
        },
        "priority": {
          "target": "com.gcp.bigtableadmin_v2#AppProfilePriorityEnum",
          "traits": {
            "smithy.api#documentation": "This field has been deprecated in favor of `standard_isolation.priority`. If you set this field, `standard_isolation.priority` will be set instead. The priority of requests sent using this app profile."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the app profile, up to 50 characters long. Values are of the form `projects/{project}/instances/{instance}/appProfiles/_a-zA-Z0-9*`."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the meantime. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https://en.wikipedia.org/wiki/HTTP_ETag) and [RFC 7232](https://tools.ietf.org/html/rfc7232#section-2.3) for more details."
          }
        },
        "standardIsolation": {
          "target": "com.gcp.bigtableadmin_v2#StandardIsolation",
          "traits": {
            "smithy.api#documentation": "The standard options used for isolating this app profile's traffic from other use cases."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Long form description of the use case for this AppProfile."
          }
        },
        "multiClusterRoutingUseAny": {
          "target": "com.gcp.bigtableadmin_v2#MultiClusterRoutingUseAny",
          "traits": {
            "smithy.api#documentation": "Use a multi-cluster routing policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application."
      }
    },
    "com.gcp.bigtableadmin_v2#AppProfilePriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "PRIORITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_LOW"
          }
        },
        "PRIORITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_MEDIUM"
          }
        },
        "PRIORITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_HIGH"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#CreateBackupMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup being created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the time at which this operation finished or was cancelled. DEPRECATED: Use finish_time instead."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "sourceTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the table the backup is created from."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this operation started. DEPRECATED: Use request_time instead."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata type for the operation returned by CreateBackup."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateMaterializedViewMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If set, the time at which this operation finished or was canceled. DEPRECATED: Use finish_time instead."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this operation started. DEPRECATED: Use request_time instead."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#CreateMaterializedViewRequest",
          "traits": {
            "smithy.api#documentation": "The request that prompted the initiation of this CreateMaterializedView operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by CreateMaterializedView."
      }
    },
    "com.gcp.bigtableadmin_v2#GetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.gcp.bigtableadmin_v2#GetPolicyOptions",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `GetIamPolicy` method."
      }
    },
    "com.gcp.bigtableadmin_v2#UndeleteTableRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.UndeleteTable"
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterAutoscalingConfig": {
      "type": "structure",
      "members": {
        "autoscalingLimits": {
          "target": "com.gcp.bigtableadmin_v2#AutoscalingLimits",
          "traits": {
            "smithy.api#documentation": "Required. Autoscaling limits for this cluster."
          }
        },
        "autoscalingTargets": {
          "target": "com.gcp.bigtableadmin_v2#AutoscalingTargets",
          "traits": {
            "smithy.api#documentation": "Required. Autoscaling targets for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Autoscaling config for a cluster."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStruct": {
      "type": "structure",
      "members": {
        "fields": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStructFieldList",
          "traits": {
            "smithy.api#documentation": "The names and types of the fields in this struct."
          }
        },
        "encoding": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStructEncoding",
          "traits": {
            "smithy.api#documentation": "The encoding to use when converting to or from lower level types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structured data value, consisting of fields which map to dynamically typed values. Values of type `Struct` are stored in `Value.array_value` where entries are in the same order and number as `field_types`."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStructFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStructField"
      }
    },
    "com.gcp.bigtableadmin_v2#CheckConsistencyResponse": {
      "type": "structure",
      "members": {
        "consistent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency"
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStringEncodingUtf8Bytes": {
      "type": "structure",
      "members": {
        "nullEscapeChar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Single-character escape sequence used to support NULL values. If set, allows NULL values to be encoded as the empty string \"\". The actual empty string, or any value where every character equals `null_escape_char`, has one more `null_escape_char` appended. If `null_escape_char` is set and does not equal the ASCII null character `0x00`, then the encoding will not support sorted mode. ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "UTF-8 encoding. Sorted mode: - All values are supported. - Code point order is preserved. Distinct mode: all values are supported. Compatible with: - BigQuery `TEXT` encoding - HBase `Bytes.toBytes` - Java `String#getBytes(StandardCharsets.UTF_8)`"
      }
    },
    "com.gcp.bigtableadmin_v2#HotTablet": {
      "type": "structure",
      "members": {
        "endKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tablet End Key (inclusive)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the hot tablet. Values are of the form `projects/{project}/instances/{instance}/clusters/{cluster}/hotTablets/[a-zA-Z0-9_-]*`."
          }
        },
        "startKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tablet Start Key (inclusive)."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table that contains the tablet. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the hot tablet."
          }
        },
        "nodeCpuUsagePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The average CPU usage spent by a node on this tablet over the start_time to end_time time range. The percentage is the amount of CPU used by the node to serve the tablet, from 0% (tablet was not interacted with) to 100% (the node spent all cycles serving the hot tablet)."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the hot tablet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tablet is a defined by a start and end key and is explained in https://cloud.google.com/bigtable/docs/overview#architecture and https://cloud.google.com/bigtable/docs/performance#optimization. A Hot tablet is a tablet that exhibits high average cpu usage during the time interval from start time to end time."
      }
    },
    "com.gcp.bigtableadmin_v2#ListTablesResponse": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.gcp.bigtableadmin_v2#TableList",
          "traits": {
            "smithy.api#documentation": "The tables present in the requested instance."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables"
      }
    },
    "com.gcp.bigtableadmin_v2#TableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#Table"
      }
    },
    "com.gcp.bigtableadmin_v2#ColumnFamily": {
      "type": "structure",
      "members": {
        "gcRule": {
          "target": "com.gcp.bigtableadmin_v2#GcRule",
          "traits": {
            "smithy.api#documentation": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family."
          }
        },
        "valueType": {
          "target": "com.gcp.bigtableadmin_v2#Type",
          "traits": {
            "smithy.api#documentation": "The type of data stored in each of this family's cell values, including its full encoding. If omitted, the family only serves raw untyped bytes. For now, only the `Aggregate` type is supported. `Aggregate` can only be set at family creation and is immutable afterwards. This field is mutually exclusive with `sql_type`. If `value_type` is `Aggregate`, written data must be compatible with: * `value_type.input_type` for `AddInput` mutations"
          }
        },
        "stats": {
          "target": "com.gcp.bigtableadmin_v2#ColumnFamilyStats",
          "traits": {
            "smithy.api#documentation": "Output only. Only available with STATS_VIEW, this includes summary statistics about column family contents. For statistics over an entire table, see TableStats above."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of columns within a table which share a common configuration."
      }
    },
    "com.gcp.bigtableadmin_v2#GetPolicyOptions": {
      "type": "structure",
      "members": {
        "requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates settings provided to GetIamPolicy."
      }
    },
    "com.gcp.bigtableadmin_v2#UpdateAuthorizedViewRequest": {
      "type": "structure",
      "members": {
        "authorizedView": {
          "target": "com.gcp.bigtableadmin_v2#AuthorizedView",
          "traits": {
            "smithy.api#documentation": "Required. The AuthorizedView to update. The `name` in `authorized_view` is used to identify the AuthorizedView. AuthorizedView name must in this format: `projects/{project}/instances/{instance}/tables/{table}/authorizedViews/{authorized_view}`."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The list of fields to update. A mask specifying which fields in the AuthorizedView resource should be updated. This mask is relative to the AuthorizedView resource, not to the request message. A field will be overwritten if it is in the mask. If empty, all fields set in the request will be overwritten. A special value `*` means to overwrite all fields (including fields not set in the request)."
          }
        },
        "ignoreWarnings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, ignore the safety checks when updating the AuthorizedView."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for UpdateAuthorizedView."
      }
    },
    "com.gcp.bigtableadmin_v2#EncryptionInfo": {
      "type": "structure",
      "members": {
        "kmsKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the Cloud KMS key specified in the parent cluster that is in use for the data underlying this table."
          }
        },
        "encryptionStatus": {
          "target": "com.gcp.bigtableadmin_v2#Status",
          "traits": {
            "smithy.api#documentation": "Output only. The status of encrypt/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest."
          }
        },
        "encryptionType": {
          "target": "com.gcp.bigtableadmin_v2#EncryptionInfoEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of encryption used to protect this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Cloud Key Management Service (Cloud KMS) key version is specified along with its status."
      }
    },
    "com.gcp.bigtableadmin_v2#EncryptionInfoEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_MANAGED_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeBytesEncoding": {
      "type": "structure",
      "members": {
        "raw": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeBytesEncodingRaw",
          "traits": {
            "smithy.api#documentation": "Use `Raw` encoding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rules used to convert to or from lower level types."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "instance": {
          "target": "com.gcp.bigtableadmin_v2#Instance",
          "traits": {
            "smithy.api#documentation": "Required. The instance to create. Fields marked `OutputOnly` must be left blank."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects/{project}`."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects/myproject/instances/myinstance`."
          }
        },
        "clusters": {
          "target": "com.gcp.bigtableadmin_v2#ClusterMap",
          "traits": {
            "smithy.api#documentation": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects/myproject/instances/myinstance/clusters/mycluster`. Fields marked `OutputOnly` must be left blank."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for BigtableInstanceAdmin.CreateInstance."
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.bigtableadmin_v2#Cluster"
      }
    },
    "com.gcp.bigtableadmin_v2#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.bigtableadmin_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStringEncodingUtf8Raw": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Deprecated: prefer the equivalent `Utf8Bytes`."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregate": {
      "type": "structure",
      "members": {
        "inputType": {
          "target": "com.gcp.bigtableadmin_v2#Type",
          "traits": {
            "smithy.api#documentation": "Type of the inputs that are accumulated by this `Aggregate`. Use `AddInput` mutations to accumulate new inputs."
          }
        },
        "sum": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateSum",
          "traits": {
            "smithy.api#documentation": "Sum aggregator."
          }
        },
        "max": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateMax",
          "traits": {
            "smithy.api#documentation": "Max aggregator."
          }
        },
        "hllppUniqueCount": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateHyperLogLogPlusPlusUniqueCount",
          "traits": {
            "smithy.api#documentation": "HyperLogLogPlusPlusUniqueCount aggregator."
          }
        },
        "stateType": {
          "target": "com.gcp.bigtableadmin_v2#Type",
          "traits": {
            "smithy.api#documentation": "Output only. Type that holds the internal accumulator state for the `Aggregate`. This is a function of the `input_type` and `aggregator` chosen."
          }
        },
        "min": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregateMin",
          "traits": {
            "smithy.api#documentation": "Min aggregator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A value that combines incremental updates into a summarized value. Data is never directly written or read using type `Aggregate`. Writes provide either the `input_type` or `state_type`, and reads always return the `state_type` ."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateSchemaBundleMetadata": {
      "type": "structure",
      "members": {
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name identifying this schema bundle. Values are of the form `projects/{project}/instances/{instance}/tables/{table}/schemaBundles/{schema_bundle}`"
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by CreateSchemaBundle."
      }
    },
    "com.gcp.bigtableadmin_v2#ListClustersResponse": {
      "type": "structure",
      "members": {
        "failedLocations": {
          "target": "com.gcp.bigtableadmin_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects//locations/`"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: This field is unused and ignored."
          }
        },
        "clusters": {
          "target": "com.gcp.bigtableadmin_v2#ClusterList",
          "traits": {
            "smithy.api#documentation": "The list of requested clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BigtableInstanceAdmin.ListClusters."
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#Cluster"
      }
    },
    "com.gcp.bigtableadmin_v2#GenerateConsistencyTokenRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
      }
    },
    "com.gcp.bigtableadmin_v2#CopyBackupMetadata": {
      "type": "structure",
      "members": {
        "progress": {
          "target": "com.gcp.bigtableadmin_v2#OperationProgress",
          "traits": {
            "smithy.api#documentation": "The progress of the CopyBackup operation."
          }
        },
        "sourceBackupInfo": {
          "target": "com.gcp.bigtableadmin_v2#BackupInfo",
          "traits": {
            "smithy.api#documentation": "Information about the source backup that is being copied from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//clusters//backups/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata type for the google.longrunning.Operation returned by CopyBackup."
      }
    },
    "com.gcp.bigtableadmin_v2#DataBoostIsolationReadOnly": {
      "type": "structure",
      "members": {
        "computeBillingOwner": {
          "target": "com.gcp.bigtableadmin_v2#DataBoostIsolationReadOnlyComputeBillingOwnerEnum",
          "traits": {
            "smithy.api#documentation": "The Compute Billing Owner for this Data Boost App Profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Boost is a serverless compute capability that lets you run high-throughput read jobs and queries on your Bigtable data, without impacting the performance of the clusters that handle your application traffic. Data Boost supports read-only use cases with single-cluster routing."
      }
    },
    "com.gcp.bigtableadmin_v2#DataBoostIsolationReadOnlyComputeBillingOwnerEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_BILLING_OWNER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_BILLING_OWNER_UNSPECIFIED"
          }
        },
        "HOST_PAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOST_PAYS"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#Modification": {
      "type": "structure",
      "members": {
        "create": {
          "target": "com.gcp.bigtableadmin_v2#ColumnFamily",
          "traits": {
            "smithy.api#documentation": "Create a new column family with the specified schema, or fail if one already exists with the given ID."
          }
        },
        "update": {
          "target": "com.gcp.bigtableadmin_v2#ColumnFamily",
          "traits": {
            "smithy.api#documentation": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A mask specifying which fields (e.g. `gc_rule`) in the `update` mod should be updated, ignored for other modification types. If unset or empty, we treat it as updating `gc_rule` to be backward compatible."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the column family to be modified."
          }
        },
        "drop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Drop (delete) the column family with the given ID, or fail if no such family exists."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A create, update, or delete of a particular column family."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateInstanceMetadata": {
      "type": "structure",
      "members": {
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#CreateInstanceRequest",
          "traits": {
            "smithy.api#documentation": "The request that prompted the initiation of this CreateInstance operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by CreateInstance."
      }
    },
    "com.gcp.bigtableadmin_v2#Table": {
      "type": "structure",
      "members": {
        "tieredStorageConfig": {
          "target": "com.gcp.bigtableadmin_v2#TieredStorageConfig",
          "traits": {
            "smithy.api#documentation": "Rules to specify what data is stored in each storage tier. Different tiers store data differently, providing different trade-offs between cost and performance. Different parts of a table can be stored separately on different tiers. If a config is specified, tiered storage is enabled for this table. Otherwise, tiered storage is disabled. Only SSD instances can configure tiered storage."
          }
        },
        "rowKeySchema": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStruct",
          "traits": {
            "smithy.api#documentation": "The row key schema for this table. The schema is used to decode the raw row key bytes into a structured format. The order of field declarations in this schema is important, as it reflects how the raw row key bytes are structured. Currently, this only affects how the key is read via a GoogleSQL query from the ExecuteQuery API. For a SQL query, the _key column is still read as raw bytes. But queries can reference the key fields by name, which will be decoded from _key using provided type and encoding. Queries that reference key fields will fail if they encounter an invalid row key. For example, if _key = \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" with the following schema: { fields { field_name: \"id\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"date\" type { string { encoding: utf8_bytes {} } } } fields { field_name: \"product_code\" type { int64 { encoding: big_endian_bytes {} } } } encoding { delimited_bytes { delimiter: \"#\" } } } The decoded key parts would be: id = \"some_id\", date = \"2024-04-30\", product_code = 1245427 The query \"SELECT _key, product_code FROM table\" will return two columns: /------------------------------------------------------\\ | _key | product_code | | --------------------------------------|--------------| | \"some_id#2024-04-30#\\x00\\x13\\x00\\xf3\" | 1245427 | \\------------------------------------------------------/ The schema has the following invariants: (1) The decoded field values are order-preserved. For read, the field values will be decoded in sorted mode from the raw bytes. (2) Every field in the schema must specify a non-empty name. (3) Every field must specify a type with an associated encoding. The type is limited to scalar types only: Array, Map, Aggregate, and Struct are not allowed. (4) The field names must not collide with existing column family names and reserved keywords \"_key\" and \"_timestamp\". The following update operations are allowed for row_key_schema: - Update from an empty schema to a new schema. - Remove the existing schema. This operation requires setting the `ignore_warnings` flag to `true`, since it might be a backward incompatible change. Without the flag, the update request will fail with an INVALID_ARGUMENT error. Any other row key schema update operation (e.g. update existing schema columns names or types) is currently unsupported."
          }
        },
        "clusterStates": {
          "target": "com.gcp.bigtableadmin_v2#ClusterStateMap",
          "traits": {
            "smithy.api#documentation": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `ENCRYPTION_VIEW`, `FULL`"
          }
        },
        "stats": {
          "target": "com.gcp.bigtableadmin_v2#TableStats",
          "traits": {
            "smithy.api#documentation": "Output only. Only available with STATS_VIEW, this includes summary statistics about the entire table contents. For statistics about a specific column family, see ColumnFamilyStats in the mapped ColumnFamily collection above."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the table. Values are of the form `projects/{project}/instances/{instance}/tables/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `STATS_VIEW`, `FULL`"
          }
        },
        "changeStreamConfig": {
          "target": "com.gcp.bigtableadmin_v2#ChangeStreamConfig",
          "traits": {
            "smithy.api#documentation": "If specified, enable the change stream on this table. Otherwise, the change stream is disabled and the change stream is not retained."
          }
        },
        "deletionProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to make the table protected against data loss. i.e. deleting the following resources through Admin APIs are prohibited: * The table. * The column families in the table. * The instance containing the table. Note one can still delete the data stored in the table through Data APIs."
          }
        },
        "automatedBackupPolicy": {
          "target": "com.gcp.bigtableadmin_v2#AutomatedBackupPolicy",
          "traits": {
            "smithy.api#documentation": "If specified, automated backups are enabled for this table. Otherwise, automated backups are disabled."
          }
        },
        "restoreInfo": {
          "target": "com.gcp.bigtableadmin_v2#RestoreInfo",
          "traits": {
            "smithy.api#documentation": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore."
          }
        },
        "columnFamilies": {
          "target": "com.gcp.bigtableadmin_v2#ColumnFamilyMap",
          "traits": {
            "smithy.api#documentation": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `STATS_VIEW`, `FULL`"
          }
        },
        "granularity": {
          "target": "com.gcp.bigtableadmin_v2#TableGranularityEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The granularity at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster."
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterStateMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.bigtableadmin_v2#ClusterState"
      }
    },
    "com.gcp.bigtableadmin_v2#ColumnFamilyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.bigtableadmin_v2#ColumnFamily"
      }
    },
    "com.gcp.bigtableadmin_v2#TableGranularityEnum": {
      "type": "enum",
      "members": {
        "TIMESTAMP_GRANULARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP_GRANULARITY_UNSPECIFIED"
          }
        },
        "MILLIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MILLIS"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#Type": {
      "type": "structure",
      "members": {
        "aggregateType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeAggregate",
          "traits": {
            "smithy.api#documentation": "Aggregate"
          }
        },
        "geographyType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeGeography",
          "traits": {
            "smithy.api#documentation": "Geography"
          }
        },
        "int64Type": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt64",
          "traits": {
            "smithy.api#documentation": "Int64"
          }
        },
        "timestampType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeTimestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp"
          }
        },
        "float32Type": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeFloat32",
          "traits": {
            "smithy.api#documentation": "Float32"
          }
        },
        "dateType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeDate",
          "traits": {
            "smithy.api#documentation": "Date"
          }
        },
        "stringType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeString",
          "traits": {
            "smithy.api#documentation": "String"
          }
        },
        "mapType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeMap",
          "traits": {
            "smithy.api#documentation": "Map"
          }
        },
        "protoType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeProto",
          "traits": {
            "smithy.api#documentation": "Proto"
          }
        },
        "structType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStruct",
          "traits": {
            "smithy.api#documentation": "Struct"
          }
        },
        "int32Type": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeInt32",
          "traits": {
            "smithy.api#documentation": "Int32"
          }
        },
        "arrayType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeArray",
          "traits": {
            "smithy.api#documentation": "Array"
          }
        },
        "float64Type": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeFloat64",
          "traits": {
            "smithy.api#documentation": "Float64"
          }
        },
        "enumType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeEnum",
          "traits": {
            "smithy.api#documentation": "Enum"
          }
        },
        "boolType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeBool",
          "traits": {
            "smithy.api#documentation": "Bool"
          }
        },
        "bytesType": {
          "target": "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeBytes",
          "traits": {
            "smithy.api#documentation": "Bytes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Type` represents the type of data that is written to, read from, or stored in Bigtable. It is heavily based on the GoogleSQL standard to help maintain familiarity and consistency across products and features. For compatibility with Bigtable's existing untyped APIs, each `Type` includes an `Encoding` which describes how to convert to or from the underlying data. Each encoding can operate in one of two modes: - Sorted: In this mode, Bigtable guarantees that `Encode(X) <= Encode(Y)` if and only if `X <= Y`. This is useful anywhere sort order is important, for example when encoding keys. - Distinct: In this mode, Bigtable guarantees that if `X != Y` then `Encode(X) != Encode(Y)`. However, the converse is not guaranteed. For example, both `{'foo': '1', 'bar': '2'}` and `{'bar': '2', 'foo': '1'}` are valid encodings of the same JSON value. The API clearly documents which mode is used wherever an encoding can be configured. Each encoding also documents which values are supported in which modes. For example, when encoding INT64 as a numeric STRING, negative numbers cannot be encoded in sorted mode. This is because `INT64(1) > INT64(-1)`, but `STRING(\"-00001\") > STRING(\"00001\")`."
      }
    },
    "com.gcp.bigtableadmin_v2#TableProgress": {
      "type": "structure",
      "members": {
        "estimatedSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimate of the size of the table to be copied."
          }
        },
        "estimatedCopiedBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED."
          }
        },
        "state": {
          "target": "com.gcp.bigtableadmin_v2#TableProgressStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Progress info for copying a table's data to the new cluster."
      }
    },
    "com.gcp.bigtableadmin_v2#TableProgressStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COPYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPYING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.bigtableadmin_v2#Expr": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.bigtableadmin_v2#SingleClusterRouting": {
      "type": "structure",
      "members": {
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cluster to which read/write requests should be routed."
          }
        },
        "allowTransactionalWrites": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table/row/column in multiple clusters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unconditionally routes all read/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability."
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeArray": {
      "type": "structure",
      "members": {
        "elementType": {
          "target": "com.gcp.bigtableadmin_v2#Type",
          "traits": {
            "smithy.api#documentation": "The type of the elements in the array. This must not be `Array`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An ordered list of elements of a given type. Values of type `Array` are stored in `Value.array_value`."
      }
    },
    "com.gcp.bigtableadmin_v2#GenerateConsistencyTokenResponse": {
      "type": "structure",
      "members": {
        "consistencyToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated consistency token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken"
      }
    },
    "com.gcp.bigtableadmin_v2#StandardIsolation": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "com.gcp.bigtableadmin_v2#StandardIsolationPriorityEnum",
          "traits": {
            "smithy.api#documentation": "The priority of requests sent using this app profile."
          }
        },
        "memoryConfig": {
          "target": "com.gcp.bigtableadmin_v2#MemoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The memory config to use for requests sent using this app profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard options for isolating this app profile's traffic from other use cases."
      }
    },
    "com.gcp.bigtableadmin_v2#StandardIsolationPriorityEnum": {
      "type": "enum",
      "members": {
        "PRIORITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_UNSPECIFIED"
          }
        },
        "PRIORITY_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_LOW"
          }
        },
        "PRIORITY_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_MEDIUM"
          }
        },
        "PRIORITY_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIORITY_HIGH"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#UpdateClusterMetadata": {
      "type": "structure",
      "members": {
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#Cluster",
          "traits": {
            "smithy.api#documentation": "The request that prompted the initiation of this UpdateCluster operation."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by UpdateCluster."
      }
    },
    "com.gcp.bigtableadmin_v2#CreateClusterMetadata": {
      "type": "structure",
      "members": {
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "tables": {
          "target": "com.gcp.bigtableadmin_v2#TableProgressMap",
          "traits": {
            "smithy.api#documentation": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects//instances//tables/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#CreateClusterRequest",
          "traits": {
            "smithy.api#documentation": "The request that prompted the initiation of this CreateCluster operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by CreateCluster."
      }
    },
    "com.gcp.bigtableadmin_v2#TableProgressMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.bigtableadmin_v2#TableProgress"
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeGeography": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A geography type, representing a point or region on Earth. The value is stored in `Value.bytes_value` as Well-Known Binary (WKB) bytes."
      }
    },
    "com.gcp.bigtableadmin_v2#ListMaterializedViewsResponse": {
      "type": "structure",
      "members": {
        "materializedViews": {
          "target": "com.gcp.bigtableadmin_v2#MaterializedViewList",
          "traits": {
            "smithy.api#documentation": "The list of requested materialized views."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for BigtableInstanceAdmin.ListMaterializedViews."
      }
    },
    "com.gcp.bigtableadmin_v2#MaterializedViewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#MaterializedView"
      }
    },
    "com.gcp.bigtableadmin_v2#RestoreTableRequest": {
      "type": "structure",
      "members": {
        "tableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects//instances//tables/`."
          }
        },
        "backup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the backup from which to restore. Values are of the form `projects//instances//clusters//backups/`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for RestoreTable."
      }
    },
    "com.gcp.bigtableadmin_v2#GcRule": {
      "type": "structure",
      "members": {
        "maxNumVersions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delete all cells in a column except the most recent N."
          }
        },
        "union": {
          "target": "com.gcp.bigtableadmin_v2#Union",
          "traits": {
            "smithy.api#documentation": "Delete cells that would be deleted by any nested rule."
          }
        },
        "maxAge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity."
          }
        },
        "intersection": {
          "target": "com.gcp.bigtableadmin_v2#Intersection",
          "traits": {
            "smithy.api#documentation": "Delete cells that would be deleted by every nested rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule for determining which cells to delete during garbage collection."
      }
    },
    "com.gcp.bigtableadmin_v2#ListAuthorizedViewsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results."
          }
        },
        "authorizedViews": {
          "target": "com.gcp.bigtableadmin_v2#AuthorizedViewList",
          "traits": {
            "smithy.api#documentation": "The AuthorizedViews present in the requested table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListAuthorizedViews"
      }
    },
    "com.gcp.bigtableadmin_v2#AuthorizedViewList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#AuthorizedView"
      }
    },
    "com.gcp.bigtableadmin_v2#ModifyColumnFamiliesRequest": {
      "type": "structure",
      "members": {
        "modifications": {
          "target": "com.gcp.bigtableadmin_v2#ModificationList",
          "traits": {
            "smithy.api#documentation": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example)."
          }
        },
        "ignoreWarnings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, ignore safety checks when modifying the column families."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies"
      }
    },
    "com.gcp.bigtableadmin_v2#ModificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.bigtableadmin_v2#Modification"
      }
    },
    "com.gcp.bigtableadmin_v2#GoogleBigtableAdminV2TypeStructField": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The field name (optional). Fields without a `field_name` are considered anonymous and cannot be referenced by name."
          }
        },
        "type": {
          "target": "com.gcp.bigtableadmin_v2#Type",
          "traits": {
            "smithy.api#documentation": "The type of values in this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A struct field and its type."
      }
    },
    "com.gcp.bigtableadmin_v2#ColumnFamilyStats": {
      "type": "structure",
      "members": {
        "averageCellsPerColumn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many cells are present per column qualifier in this column family, averaged over all rows containing any column in the column family. e.g. For column family \"family\" in a table with 3 rows: * A row with 3 cells in \"family:col\" and 1 cell in \"other:col\" (3 cells / 1 column in \"family\") * A row with 1 cell in \"family:col\", 7 cells in \"family:other_col\", and 7 cells in \"other:data\" (8 cells / 2 columns in \"family\") * A row with 3 cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (3 + 8 + 0)/(1 + 2 + 0) = 3.66 in this field."
          }
        },
        "averageColumnsPerRow": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many column qualifiers are present in this column family, averaged over all rows in the table. e.g. For column family \"family\" in a table with 3 rows: * A row with cells in \"family:col\" and \"other:col\" (1 column in \"family\") * A row with cells in \"family:col\", \"family:other_col\", and \"other:data\" (2 columns in \"family\") * A row with cells in \"other:col\" (0 columns in \"family\", \"family\" not present) would report (1 + 2 + 0)/3 = 1.5 in this field."
          }
        },
        "logicalDataBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How much space the data in the column family occupies. This is roughly how many bytes would be needed to read the contents of the entire column family (e.g. by streaming all contents out)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Approximate statistics related to a single column family within a table. This information may change rapidly, interpreting these values at a point in time may already preset out-of-date information. Everything below is approximate, unless otherwise specified."
      }
    },
    "com.gcp.bigtableadmin_v2#UpdateLogicalViewMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Use request_time instead."
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the operation failed or was completed successfully."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Use finish_time instead."
          }
        },
        "requestTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the original request was received."
          }
        },
        "originalRequest": {
          "target": "com.gcp.bigtableadmin_v2#UpdateLogicalViewRequest",
          "traits": {
            "smithy.api#documentation": "The request that prompted the initiation of this UpdateLogicalView operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for the Operation returned by UpdateLogicalView."
      }
    },
    "com.gcp.bigtableadmin_v2#Cluster": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects/{project}/locations/{zone}`."
          }
        },
        "defaultStorageType": {
          "target": "com.gcp.bigtableadmin_v2#ClusterDefaultStorageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.bigtableadmin_v2#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Immutable. The encryption configuration for CMEK-protected clusters."
          }
        },
        "nodeScalingFactor": {
          "target": "com.gcp.bigtableadmin_v2#ClusterNodeScalingFactorEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The node scaling factor of this cluster."
          }
        },
        "serveNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes in the cluster. If no value is set, Cloud Bigtable automatically allocates nodes based on your data footprint and optimized for 50% storage utilization."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the cluster. Values are of the form `projects/{project}/instances/{instance}/clusters/a-z*`."
          }
        },
        "state": {
          "target": "com.gcp.bigtableadmin_v2#ClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the cluster."
          }
        },
        "clusterConfig": {
          "target": "com.gcp.bigtableadmin_v2#ClusterConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for this cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance."
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterDefaultStorageTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_TYPE_UNSPECIFIED"
          }
        },
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        },
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterNodeScalingFactorEnum": {
      "type": "enum",
      "members": {
        "NODE_SCALING_FACTOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_SCALING_FACTOR_UNSPECIFIED"
          }
        },
        "NODE_SCALING_FACTOR_1X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_SCALING_FACTOR_1X"
          }
        },
        "NODE_SCALING_FACTOR_2X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NODE_SCALING_FACTOR_2X"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#ClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_NOT_KNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_NOT_KNOWN"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "RESIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESIZING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.bigtableadmin_v2#RestoreTableMetadata": {
      "type": "structure",
      "members": {
        "progress": {
          "target": "com.gcp.bigtableadmin_v2#OperationProgress",
          "traits": {
            "smithy.api#documentation": "The progress of the RestoreTable operation."
          }
        },
        "optimizeTableOperationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoredTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table being created and restored to."
[...]
