{
  "smithy": "2.0",
  "metadata": {
    "service": "books",
    "version": "v1",
    "title": "Books API",
    "baseUrl": "https://books.googleapis.com/"
  },
  "shapes": {
    "com.gcp.books_v1#RequestAccessData": {
      "type": "structure",
      "members": {
        "downloadAccess": {
          "target": "com.gcp.books_v1#DownloadAccessRestriction",
          "traits": {
            "smithy.api#documentation": "A download access response."
          }
        },
        "concurrentAccess": {
          "target": "com.gcp.books_v1#ConcurrentAccessRestriction",
          "traits": {
            "smithy.api#documentation": "A concurrent access response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#BooksCloudloadingResource": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "author": {
          "target": "smithy.api#String"
        },
        "processingState": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#Metadata": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "items": {
          "target": "com.gcp.books_v1#MetadataItemsItemList",
          "traits": {
            "smithy.api#documentation": "A list of offline dictionary metadata."
          }
        }
      }
    },
    "com.gcp.books_v1#MetadataItemsItem": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String"
        },
        "encrypted_key": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#String"
        },
        "download_url": {
          "target": "smithy.api#String"
        },
        "size": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#MetadataItemsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#MetadataItemsItem"
      }
    },
    "com.gcp.books_v1#Usersettings": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "notesExport": {
          "target": "com.gcp.books_v1#UsersettingsNotesExport",
          "traits": {
            "smithy.api#documentation": "User settings in sub-objects, each for different purposes."
          }
        },
        "notification": {
          "target": "com.gcp.books_v1#UsersettingsNotification"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotesExport": {
      "type": "structure",
      "members": {
        "folderName": {
          "target": "smithy.api#String"
        },
        "isEnabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotification": {
      "type": "structure",
      "members": {
        "moreFromSeries": {
          "target": "com.gcp.books_v1#UsersettingsNotificationMoreFromSeries"
        },
        "moreFromAuthors": {
          "target": "com.gcp.books_v1#UsersettingsNotificationMoreFromAuthors"
        },
        "matchMyInterests": {
          "target": "com.gcp.books_v1#UsersettingsNotificationMatchMyInterests"
        },
        "priceDrop": {
          "target": "com.gcp.books_v1#UsersettingsNotificationPriceDrop"
        },
        "rewardExpirations": {
          "target": "com.gcp.books_v1#UsersettingsNotificationRewardExpirations"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotificationMoreFromSeries": {
      "type": "structure",
      "members": {
        "opted_state": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotificationMoreFromAuthors": {
      "type": "structure",
      "members": {
        "opted_state": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotificationMatchMyInterests": {
      "type": "structure",
      "members": {
        "opted_state": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotificationPriceDrop": {
      "type": "structure",
      "members": {
        "opted_state": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#UsersettingsNotificationRewardExpirations": {
      "type": "structure",
      "members": {
        "opted_state": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#Volumeannotation": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Volume this annotation is for."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last time this anntoation was updated. (RFC 3339 UTC date-time format)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data for this annotation."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this annotation is deleted."
          }
        },
        "annotationDataLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to get data for this annotation."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this resource."
          }
        },
        "pageIds": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Pages the annotation spans."
          }
        },
        "annotationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of annotation this is."
          }
        },
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Layer this annotation is for."
          }
        },
        "selectedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Excerpt from the volume."
          }
        },
        "contentRanges": {
          "target": "com.gcp.books_v1#VolumeannotationContentRanges",
          "traits": {
            "smithy.api#documentation": "The content ranges to identify the selected text."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of this volume annotation."
          }
        },
        "annotationDataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The annotation data id for this volume annotation."
          }
        }
      }
    },
    "com.gcp.books_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.books_v1#VolumeannotationContentRanges": {
      "type": "structure",
      "members": {
        "cfiRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in CFI format for this annotation for version above."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content version applicable to ranges below."
          }
        },
        "gbTextRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB text format for this annotation for version above."
          }
        },
        "gbImageRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB image format for this annotation for version above."
          }
        }
      }
    },
    "com.gcp.books_v1#Volumes": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "items": {
          "target": "com.gcp.books_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "A list of volumes."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of volumes found. This might be greater than the number of volumes returned in this response if results have been paginated."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#Volume"
      }
    },
    "com.gcp.books_v1#AnnotationsSummary": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "layers": {
          "target": "com.gcp.books_v1#AnnotationsSummaryLayersItemList"
        }
      }
    },
    "com.gcp.books_v1#AnnotationsSummaryLayersItem": {
      "type": "structure",
      "members": {
        "layerId": {
          "target": "smithy.api#String"
        },
        "remainingCharacterCount": {
          "target": "smithy.api#Integer"
        },
        "updated": {
          "target": "smithy.api#String"
        },
        "limitType": {
          "target": "smithy.api#String"
        },
        "allowedCharacterCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.books_v1#AnnotationsSummaryLayersItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#AnnotationsSummaryLayersItem"
      }
    },
    "com.gcp.books_v1#Discoveryclusters": {
      "type": "structure",
      "members": {
        "totalClusters": {
          "target": "smithy.api#Integer"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resorce type."
          }
        },
        "clusters": {
          "target": "com.gcp.books_v1#DiscoveryclustersClustersItemList"
        }
      }
    },
    "com.gcp.books_v1#DiscoveryclustersClustersItem": {
      "type": "structure",
      "members": {
        "subTitle": {
          "target": "smithy.api#String"
        },
        "volumes": {
          "target": "com.gcp.books_v1#VolumeList"
        },
        "uid": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "banner_with_content_container": {
          "target": "com.gcp.books_v1#DiscoveryclustersClustersItemBanner_with_content_container"
        },
        "totalVolumes": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.books_v1#DiscoveryclustersClustersItemBanner_with_content_container": {
      "type": "structure",
      "members": {
        "moreButtonUrl": {
          "target": "smithy.api#String"
        },
        "maskColorArgb": {
          "target": "smithy.api#String"
        },
        "imageUrl": {
          "target": "smithy.api#String"
        },
        "moreButtonText": {
          "target": "smithy.api#String"
        },
        "fillColorArgb": {
          "target": "smithy.api#String"
        },
        "textColorArgb": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DiscoveryclustersClustersItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DiscoveryclustersClustersItem"
      }
    },
    "com.gcp.books_v1#Dictlayerdata": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "dict": {
          "target": "com.gcp.books_v1#DictlayerdataDict"
        },
        "common": {
          "target": "com.gcp.books_v1#DictlayerdataCommon"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDict": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictSource",
          "traits": {
            "smithy.api#documentation": "The source, url and attribution for this dictionary data."
          }
        },
        "words": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemList"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSource",
          "traits": {
            "smithy.api#documentation": "The words with different meanings but not related words, e.g. \"go\" (game) and \"go\" (verb)."
          }
        },
        "derivatives": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItemList"
        },
        "senses": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemList"
        },
        "examples": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItemList"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItemSource"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemDerivativesItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItem": {
      "type": "structure",
      "members": {
        "definitions": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemList"
        },
        "syllabification": {
          "target": "smithy.api#String"
        },
        "conjugations": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemConjugationsItemList"
        },
        "partOfSpeech": {
          "target": "smithy.api#String"
        },
        "pronunciation": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSource"
        },
        "synonyms": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItemList"
        },
        "pronunciationUrl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItem": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "smithy.api#String"
        },
        "examples": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItemList"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItemSource"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemExamplesItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemDefinitionsItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemConjugationsItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemConjugationsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemConjugationsItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItem": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItemSource"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemSynonymsItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemSensesItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItem": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItemSource"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItemSource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "attribution": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItemExamplesItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataDictWordsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DictlayerdataDictWordsItem"
      }
    },
    "com.gcp.books_v1#DictlayerdataCommon": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display title and localized canonical name to use when searching for this entity on Google search."
          }
        }
      }
    },
    "com.gcp.books_v1#Volumeseriesinfo": {
      "type": "structure",
      "members": {
        "volumeSeries": {
          "target": "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemList"
        },
        "bookDisplayNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display number string. This should be used only for display purposes and the actual sequence should be inferred from the below orderNumber."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "shortSeriesBookTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short book title in the context of the series."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItem": {
      "type": "structure",
      "members": {
        "seriesBookType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The book type in the context of series. Examples - Single Issue, Collection Edition, etc."
          }
        },
        "issue": {
          "target": "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemIssueItemList",
          "traits": {
            "smithy.api#documentation": "List of issues. Applicable only for Collection Edition and Omnibus."
          }
        },
        "orderNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The book order number in the series."
          }
        },
        "seriesId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The series id."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemIssueItem": {
      "type": "structure",
      "members": {
        "issueOrderNumber": {
          "target": "smithy.api#Integer"
        },
        "issueDisplayNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemIssueItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemIssueItem"
      }
    },
    "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#VolumeseriesinfoVolumeSeriesItem"
      }
    },
    "com.gcp.books_v1#Volume2": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.books_v1#VolumeList",
          "traits": {
            "smithy.api#documentation": "A list of volumes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#Notification": {
      "type": "structure",
      "members": {
        "iconUrl": {
          "target": "smithy.api#String"
        },
        "crmExperimentIds": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of crm experiment ids."
          }
        },
        "title": {
          "target": "smithy.api#String"
        },
        "timeToExpireMs": {
          "target": "smithy.api#String"
        },
        "doc_id": {
          "target": "smithy.api#String"
        },
        "is_document_mature": {
          "target": "smithy.api#Boolean"
        },
        "doc_type": {
          "target": "smithy.api#String"
        },
        "dont_show_notification": {
          "target": "smithy.api#Boolean"
        },
        "reason": {
          "target": "smithy.api#String"
        },
        "notification_type": {
          "target": "smithy.api#String"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "show_notification_settings_action": {
          "target": "smithy.api#Boolean"
        },
        "notificationGroup": {
          "target": "smithy.api#String"
        },
        "body": {
          "target": "smithy.api#String"
        },
        "targetUrl": {
          "target": "smithy.api#String"
        },
        "pcampaign_id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#Layersummary": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this resource."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content version this resource is for."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last time an item in this layer was updated. (RFC 3339 UTC date-time format)."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The volume id this resource is for."
          }
        },
        "volumeAnnotationsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
          }
        },
        "annotationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of annotations for this layer."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of this layer summary."
          }
        },
        "annotationTypes": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of annotation types contained for this layer."
          }
        },
        "dataCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of data items for this layer."
          }
        },
        "annotationsDataLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to get data for this annotation."
          }
        },
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer id for this summary."
          }
        },
        "annotationsLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to get the annotations for this layer."
          }
        }
      }
    },
    "com.gcp.books_v1#Offers": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "items": {
          "target": "com.gcp.books_v1#OffersItemsItemList",
          "traits": {
            "smithy.api#documentation": "A list of offers."
          }
        }
      }
    },
    "com.gcp.books_v1#OffersItemsItem": {
      "type": "structure",
      "members": {
        "artUrl": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.books_v1#OffersItemsItemItemsItemList"
        },
        "gservicesKey": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#OffersItemsItemItemsItem": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "author": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "volumeId": {
          "target": "smithy.api#String"
        },
        "canonicalVolumeLink": {
          "target": "smithy.api#String"
        },
        "coverUrl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#OffersItemsItemItemsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#OffersItemsItemItemsItem"
      }
    },
    "com.gcp.books_v1#OffersItemsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#OffersItemsItem"
      }
    },
    "com.gcp.books_v1#Seriesmembership": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "member": {
          "target": "com.gcp.books_v1#VolumeList"
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resorce type."
          }
        }
      }
    },
    "com.gcp.books_v1#BooksAnnotationsRange": {
      "type": "structure",
      "members": {
        "startOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset from the starting position."
          }
        },
        "endPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ending position for the range."
          }
        },
        "startPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The starting position for the range."
          }
        },
        "endOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset from the ending position."
          }
        }
      }
    },
    "com.gcp.books_v1#ConcurrentAccessRestriction": {
      "type": "structure",
      "members": {
        "restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this volume has any concurrent access restrictions."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client app identifier for verification. Download access and client-validation only."
          }
        },
        "timeWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time in seconds for license auto-expiration."
          }
        },
        "deviceAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether access is granted for this (user, device, volume)."
          }
        },
        "reasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error/warning reason code."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the volume for which this entry applies."
          }
        },
        "maxConcurrentDevices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of concurrent access licenses for this volume."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response signature."
          }
        },
        "nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client nonce for verification. Download access and client-validation only."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error/warning message."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#DownloadAccessRestriction": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client app identifier for verification. Download access and client-validation only."
          }
        },
        "justAcquired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If deviceAllowed, whether access was just acquired with this request."
          }
        },
        "restricted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this volume has any download access restrictions."
          }
        },
        "deviceAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If restricted, whether access is granted for this (user, device, volume)."
          }
        },
        "reasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS"
          }
        },
        "downloadsAcquired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If restricted, the number of content download licenses already acquired (including the requesting client, if licensed)."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the volume for which this entry applies."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error/warning message."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client nonce for verification. Download access and client-validation only."
          }
        },
        "maxDownloadDevices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If restricted, the maximum number of content download licenses for this volume."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response signature."
          }
        }
      }
    },
    "com.gcp.books_v1#DownloadAccesses": {
      "type": "structure",
      "members": {
        "downloadAccessList": {
          "target": "com.gcp.books_v1#DownloadAccessRestrictionList",
          "traits": {
            "smithy.api#documentation": "A list of download access responses."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#DownloadAccessRestrictionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#DownloadAccessRestriction"
      }
    },
    "com.gcp.books_v1#BooksVolumesRecommendedRateResponse": {
      "type": "structure",
      "members": {
        "consistency_token": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#GeoAnnotationdata": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type"
          }
        },
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Layer id for this data. *"
          }
        },
        "encodedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded data for this annotation data."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The volume id for this data. *"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
          }
        },
        "annotationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of annotation this data is for."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for this resource. *"
          }
        },
        "data": {
          "target": "com.gcp.books_v1#Geolayerdata",
          "traits": {
            "smithy.api#documentation": "JSON encoded data for this geo annotation data. Emitted with name 'data' in JSON output. Either this or dict_data will be populated."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id for this annotation data."
          }
        }
      }
    },
    "com.gcp.books_v1#FamilyInfo": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "membership": {
          "target": "com.gcp.books_v1#FamilyInfoMembership",
          "traits": {
            "smithy.api#documentation": "Family membership info of the user that made the request."
          }
        }
      }
    },
    "com.gcp.books_v1#FamilyInfoMembership": {
      "type": "structure",
      "members": {
        "ageGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The age group of the user."
          }
        },
        "isInFamily": {
          "target": "smithy.api#Boolean"
        },
        "allowedMaturityRating": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum allowed maturity rating for the user."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the user in the family."
          }
        },
        "acquirePermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restrictions on user buying and acquiring content."
          }
        }
      }
    },
    "com.gcp.books_v1#Layersummaries": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.books_v1#LayersummaryList",
          "traits": {
            "smithy.api#documentation": "A list of layer summary items."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of layer summaries found."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#LayersummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#Layersummary"
      }
    },
    "com.gcp.books_v1#Review": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of this review."
          }
        },
        "rating": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Star rating for this review. Possible values are ONE, TWO, THREE, FOUR, FIVE or NOT_RATED."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for a review."
          }
        },
        "fullTextUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the full review text, for reviews gathered from the web."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume that this review is for."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source type for this review. Possible values are EDITORIAL, WEB_USER or GOOGLE_USER."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title for this review."
          }
        },
        "author": {
          "target": "com.gcp.books_v1#ReviewAuthor",
          "traits": {
            "smithy.api#documentation": "Author of this review."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Review text."
          }
        },
        "source": {
          "target": "com.gcp.books_v1#ReviewSource",
          "traits": {
            "smithy.api#documentation": "Information regarding the source of this review, when the review is not from a Google Books user."
          }
        }
      }
    },
    "com.gcp.books_v1#ReviewAuthor": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this person."
          }
        }
      }
    },
    "com.gcp.books_v1#ReviewSource": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the source."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the source of the review."
          }
        },
        "extraDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extra text about the source of the review."
          }
        }
      }
    },
    "com.gcp.books_v1#Annotationsdata": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.books_v1#GeoAnnotationdataList",
          "traits": {
            "smithy.api#documentation": "A list of Annotation Data."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of volume annotations found."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        }
      }
    },
    "com.gcp.books_v1#GeoAnnotationdataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#GeoAnnotationdata"
      }
    },
    "com.gcp.books_v1#DictionaryAnnotationdata": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for this resource. *"
          }
        },
        "data": {
          "target": "com.gcp.books_v1#Dictlayerdata",
          "traits": {
            "smithy.api#documentation": "JSON encoded data for this dictionary annotation data. Emitted with name 'data' in JSON output. Either this or geo_data will be populated."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id for this annotation data."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type"
          }
        },
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Layer id for this data. *"
          }
        },
        "encodedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64 encoded data for this annotation data."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The volume id for this data. *"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format)."
          }
        },
        "annotationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of annotation this data is for."
          }
        }
      }
    },
    "com.gcp.books_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.books_v1#Bookshelf": {
      "type": "structure",
      "members": {
        "access": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether this bookshelf is PUBLIC or PRIVATE."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution)."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for bookshelf metadata."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of this bookshelf, only unique by user."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of this bookshelf."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this bookshelf."
          }
        },
        "volumesLastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution)."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Created time for this bookshelf (formatted UTC timestamp with millisecond resolution)."
          }
        },
        "volumeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of volumes in this bookshelf."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this resource."
          }
        }
      }
    },
    "com.gcp.books_v1#Category": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "items": {
          "target": "com.gcp.books_v1#CategoryItemsItemList",
          "traits": {
            "smithy.api#documentation": "A list of onboarding categories."
          }
        }
      }
    },
    "com.gcp.books_v1#CategoryItemsItem": {
      "type": "structure",
      "members": {
        "categoryId": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "badgeUrl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#CategoryItemsItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#CategoryItemsItem"
      }
    },
    "com.gcp.books_v1#Annotation": {
      "type": "structure",
      "members": {
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this resource."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the created time of this annotation."
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-created data for this annotation."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that this annotation is deleted."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "beforeSelectedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
          }
        },
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The volume that this annotation belongs to."
          }
        },
        "highlightStyle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The highlight style for this annotation."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the last time this annotation was modified."
          }
        },
        "layerSummary": {
          "target": "com.gcp.books_v1#AnnotationLayerSummary"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of this annotation, in the form of a GUID."
          }
        },
        "afterSelectedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
          }
        },
        "selectedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Excerpt from the volume."
          }
        },
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer this annotation is for."
          }
        },
        "currentVersionRanges": {
          "target": "com.gcp.books_v1#AnnotationCurrentVersionRanges",
          "traits": {
            "smithy.api#documentation": "Selection ranges for the most recent content version."
          }
        },
        "pageIds": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Pages that this annotation spans."
          }
        },
        "clientVersionRanges": {
          "target": "com.gcp.books_v1#AnnotationClientVersionRanges",
          "traits": {
            "smithy.api#documentation": "Selection ranges sent from the client."
          }
        }
      }
    },
    "com.gcp.books_v1#AnnotationLayerSummary": {
      "type": "structure",
      "members": {
        "remainingCharacterCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining allowed characters on this layer, especially for the \"copy\" layer."
          }
        },
        "limitType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
          }
        },
        "allowedCharacterCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed characters on this layer, especially for the \"copy\" layer."
          }
        }
      }
    },
    "com.gcp.books_v1#AnnotationCurrentVersionRanges": {
      "type": "structure",
      "members": {
        "cfiRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in CFI format for this annotation for version above."
          }
        },
        "imageCfiRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in image CFI format for this annotation for version above."
          }
        },
        "gbImageRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB image format for this annotation for version above."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content version applicable to ranges below."
          }
        },
        "gbTextRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB text format for this annotation for version above."
          }
        }
      }
    },
    "com.gcp.books_v1#AnnotationClientVersionRanges": {
      "type": "structure",
      "members": {
        "cfiRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in CFI format for this annotation sent by client."
          }
        },
        "imageCfiRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in image CFI format for this annotation sent by client."
          }
        },
        "gbImageRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB image format for this annotation sent by client."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content version the client sent in."
          }
        },
        "gbTextRange": {
          "target": "com.gcp.books_v1#BooksAnnotationsRange",
          "traits": {
            "smithy.api#documentation": "Range in GB text format for this annotation sent by client."
          }
        }
      }
    },
    "com.gcp.books_v1#Annotations": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.books_v1#AnnotationList",
          "traits": {
            "smithy.api#documentation": "A list of annotations."
          }
        },
        "totalItems": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      }
    },
    "com.gcp.books_v1#AnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#Annotation"
      }
    },
    "com.gcp.books_v1#Bookshelves": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "items": {
          "target": "com.gcp.books_v1#BookshelfList",
          "traits": {
            "smithy.api#documentation": "A list of bookshelves."
          }
        }
      }
    },
    "com.gcp.books_v1#BookshelfList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#Bookshelf"
      }
    },
    "com.gcp.books_v1#ReadingPosition": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume id associated with this reading position."
          }
        },
        "gbImagePosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position in a volume for image-based content."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this reading position was last updated (formatted UTC timestamp with millisecond resolution)."
          }
        },
        "gbTextPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position in a volume for text-based content."
          }
        },
        "pdfPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position in a PDF file."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for a reading position."
          }
        },
        "epubCfiPosition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Position in an EPUB as a CFI."
          }
        }
      }
    },
    "com.gcp.books_v1#Series": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "series": {
          "target": "com.gcp.books_v1#SeriesSeriesItemList"
        }
      }
    },
    "com.gcp.books_v1#SeriesSeriesItem": {
      "type": "structure",
      "members": {
        "seriesType": {
          "target": "smithy.api#String"
        },
        "seriesFormatType": {
          "target": "smithy.api#String"
        },
        "bannerImageUrl": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "seriesId": {
          "target": "smithy.api#String"
        },
        "eligibleForSubscription": {
          "target": "smithy.api#Boolean"
        },
        "subscriptionId": {
          "target": "smithy.api#String"
        },
        "isComplete": {
          "target": "smithy.api#Boolean"
        },
        "seriesSubscriptionReleaseInfo": {
          "target": "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfo"
        },
        "imageUrl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfo": {
      "type": "structure",
      "members": {
        "nextReleaseInfo": {
          "target": "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfoNextReleaseInfo"
        },
        "seriesSubscriptionType": {
          "target": "smithy.api#String"
        },
        "currentReleaseInfo": {
          "target": "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfoCurrentReleaseInfo"
        },
        "cancelTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfoNextReleaseInfo": {
      "type": "structure",
      "members": {
        "releaseNumber": {
          "target": "smithy.api#String"
        },
        "currencyCode": {
          "target": "smithy.api#String"
        },
        "amountInMicros": {
          "target": "smithy.api#Double"
        },
        "releaseTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#SeriesSeriesItemSeriesSubscriptionReleaseInfoCurrentReleaseInfo": {
      "type": "structure",
      "members": {
        "amountInMicros": {
          "target": "smithy.api#Double"
        },
        "releaseTime": {
          "target": "smithy.api#String"
        },
        "releaseNumber": {
          "target": "smithy.api#String"
        },
        "currencyCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#SeriesSeriesItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#SeriesSeriesItem"
      }
    },
    "com.gcp.books_v1#Volume": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier for a specific version of a volume resource. (In LITE projection)"
          }
        },
        "recommendedInfo": {
          "target": "com.gcp.books_v1#VolumeRecommendedInfo",
          "traits": {
            "smithy.api#documentation": "Recommendation related information for this volume."
          }
        },
        "searchInfo": {
          "target": "com.gcp.books_v1#VolumeSearchInfo",
          "traits": {
            "smithy.api#documentation": "Search result information related to this volume."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type for a volume. (In LITE projection.)"
          }
        },
        "accessInfo": {
          "target": "com.gcp.books_v1#VolumeAccessInfo",
          "traits": {
            "smithy.api#documentation": "Any information about a volume related to reading or obtaining that volume text. This information can depend on country (books may be public domain in one country but not in another, e.g.)."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for a volume. (In LITE projection.)"
          }
        },
        "layerInfo": {
          "target": "com.gcp.books_v1#VolumeLayerInfo",
          "traits": {
            "smithy.api#documentation": "What layers exist in this volume and high level information about them."
          }
        },
        "userInfo": {
          "target": "com.gcp.books_v1#VolumeUserInfo",
          "traits": {
            "smithy.api#documentation": "User specific information related to this volume. (e.g. page this user last read or whether they purchased this book)"
          }
        },
        "saleInfo": {
          "target": "com.gcp.books_v1#VolumeSaleInfo",
          "traits": {
            "smithy.api#documentation": "Any information about a volume related to the eBookstore and/or purchaseability. This information can depend on the country where the request originates from (i.e. books may not be for sale in certain countries)."
          }
        },
        "volumeInfo": {
          "target": "com.gcp.books_v1#VolumeVolumeInfo",
          "traits": {
            "smithy.api#documentation": "General volume information."
          }
        },
        "selfLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to this resource. (In LITE projection.)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeRecommendedInfo": {
      "type": "structure",
      "members": {
        "explanation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text explaining why this volume is recommended."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeSearchInfo": {
      "type": "structure",
      "members": {
        "textSnippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A text snippet containing the search query."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeAccessInfo": {
      "type": "structure",
      "members": {
        "viewability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read access of a volume. Possible values are PARTIAL, ALL_PAGES, NO_PAGES or UNKNOWN. This value depends on the country listed above. A value of PARTIAL means that the publisher has allowed some portion of the volume to be viewed publicly, without purchase. This can apply to eBooks as well as non-eBooks. Public domain books will always have a value of ALL_PAGES."
          }
        },
        "quoteSharingAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether quote sharing is allowed for this volume."
          }
        },
        "accessViewStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Combines the access and viewability of this volume into a single status field for this user. Values can be FULL_PURCHASED, FULL_PUBLIC_DOMAIN, SAMPLE or NONE. (In LITE projection.)"
          }
        },
        "explicitOfflineLicenseManagement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this volume requires that the client explicitly request offline download license rather than have it done automatically when loading the content, if the client supports it."
          }
        },
        "pdf": {
          "target": "com.gcp.books_v1#VolumeAccessInfoPdf",
          "traits": {
            "smithy.api#documentation": "Information about pdf content. (In LITE projection.)"
          }
        },
        "embeddable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this volume can be embedded in a viewport using the Embedded Viewer API."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO_3166-1 country code for which this access information is valid. (In LITE projection.)"
          }
        },
        "driveImportedContentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the Google Drive viewer if this volume is uploaded by the user by selecting the file from Google Drive."
          }
        },
        "downloadAccess": {
          "target": "com.gcp.books_v1#DownloadAccessRestriction",
          "traits": {
            "smithy.api#documentation": "Information about a volume's download license access restrictions."
          }
        },
        "textToSpeechPermission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether text-to-speech is permitted for this volume. Values can be ALLOWED, ALLOWED_FOR_ACCESSIBILITY, or NOT_ALLOWED."
          }
        },
        "viewOrderUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For ordered but not yet processed orders, we give a URL that can be used to go to the appropriate Google Wallet page."
          }
        },
        "epub": {
          "target": "com.gcp.books_v1#VolumeAccessInfoEpub",
          "traits": {
            "smithy.api#documentation": "Information about epub content. (In LITE projection.)"
          }
        },
        "webReaderLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to read this volume on the Google Books site. Link will not allow users to read non-viewable volumes."
          }
        },
        "publicDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this book is public domain in the country listed above."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeAccessInfoPdf": {
      "type": "structure",
      "members": {
        "acsTokenLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to retrieve ACS token for pdf download. (In LITE projection.)"
          }
        },
        "isAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is a scanned image pdf available either as public domain or for purchase. (In LITE projection.)"
          }
        },
        "downloadLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to download pdf. (In LITE projection.)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeAccessInfoEpub": {
      "type": "structure",
      "members": {
        "downloadLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to download epub. (In LITE projection.)"
          }
        },
        "acsTokenLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to retrieve ACS token for epub download. (In LITE projection.)"
          }
        },
        "isAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is a flowing text epub available either as public domain or for purchase. (In LITE projection.)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeLayerInfo": {
      "type": "structure",
      "members": {
        "layers": {
          "target": "com.gcp.books_v1#VolumeLayerInfoLayersItemList",
          "traits": {
            "smithy.api#documentation": "A layer should appear here if and only if the layer exists for this book."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeLayerInfoLayersItem": {
      "type": "structure",
      "members": {
        "layerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The layer id of this layer (e.g. \"geo\")."
          }
        },
        "volumeAnnotationsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of this layer's volume annotations. Note that this version applies only to the data in the books.layers.volumeAnnotations.* responses. The actual annotation data is versioned separately."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeLayerInfoLayersItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#VolumeLayerInfoLayersItem"
      }
    },
    "com.gcp.books_v1#VolumeUserInfo": {
      "type": "structure",
      "members": {
        "rentalState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether this book is an active or an expired rental."
          }
        },
        "acquisitionType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How this volume was acquired."
          }
        },
        "isFamilySharedFromUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the user shared this volume with the family."
          }
        },
        "isPreordered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume was pre-ordered by the authenticated user making the request. (In LITE projection.)"
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this volume was last modified by a user action, such as a reading position update, volume purchase or writing a review. (RFC 3339 UTC date-time format)."
          }
        },
        "rentalPeriod": {
          "target": "com.gcp.books_v1#VolumeUserInfoRentalPeriod",
          "traits": {
            "smithy.api#documentation": "Period during this book is/was a valid rental."
          }
        },
        "copy": {
          "target": "com.gcp.books_v1#VolumeUserInfoCopy",
          "traits": {
            "smithy.api#documentation": "Copy/Paste accounting information."
          }
        },
        "readingPosition": {
          "target": "com.gcp.books_v1#ReadingPosition",
          "traits": {
            "smithy.api#documentation": "The user's current reading position in the volume, if one is available. (In LITE projection.)"
          }
        },
        "review": {
          "target": "com.gcp.books_v1#Review",
          "traits": {
            "smithy.api#documentation": "This user's review of this volume, if one exists."
          }
        },
        "acquiredTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this volume was acquired by the user. (RFC 3339 UTC date-time format) Acquiring includes purchase, user upload, receiving family sharing, etc."
          }
        },
        "isFamilySharingAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Replaced by familySharing."
          }
        },
        "entitlementType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Whether this volume is purchased, sample, pd download etc."
          }
        },
        "isInMyBooks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume is currently in \"my books.\""
          }
        },
        "familySharing": {
          "target": "com.gcp.books_v1#VolumeUserInfoFamilySharing",
          "traits": {
            "smithy.api#documentation": "Information on the ability to share with the family."
          }
        },
        "isFamilySharedToUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the user received this volume through family sharing."
          }
        },
        "isPurchased": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume was purchased by the authenticated user making the request. (In LITE projection.)"
          }
        },
        "isFamilySharingDisabledByFop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated: Replaced by familySharing."
          }
        },
        "isUploaded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume was user uploaded."
          }
        },
        "userUploadedVolumeInfo": {
          "target": "com.gcp.books_v1#VolumeUserInfoUserUploadedVolumeInfo"
        }
      }
    },
    "com.gcp.books_v1#VolumeUserInfoRentalPeriod": {
      "type": "structure",
      "members": {
        "endUtcSec": {
          "target": "smithy.api#String"
        },
        "startUtcSec": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#VolumeUserInfoCopy": {
      "type": "structure",
      "members": {
        "remainingCharacterCount": {
          "target": "smithy.api#Integer"
        },
        "limitType": {
          "target": "smithy.api#String"
        },
        "allowedCharacterCount": {
          "target": "smithy.api#Integer"
        },
        "updated": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#VolumeUserInfoFamilySharing": {
      "type": "structure",
      "members": {
        "familyRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role of the user in the family."
          }
        },
        "isSharingAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume can be shared with the family by the user. This includes sharing eligibility of both the volume and the user. If the value is true, the user can initiate a family sharing action."
          }
        },
        "isSharingDisabledByFop": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not sharing this volume is temporarily disabled due to issues with the Family Wallet."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeUserInfoUserUploadedVolumeInfo": {
      "type": "structure",
      "members": {
        "processingState": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfo": {
      "type": "structure",
      "members": {
        "retailPrice": {
          "target": "com.gcp.books_v1#VolumeSaleInfoRetailPrice",
          "traits": {
            "smithy.api#documentation": "The actual selling price of the book. This is the same as the suggested retail or list price unless there are offers or discounts on this volume. (In LITE projection.)"
          }
        },
        "buyLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to purchase this volume on the Google Books site. (In LITE projection)"
          }
        },
        "offers": {
          "target": "com.gcp.books_v1#VolumeSaleInfoOffersItemList",
          "traits": {
            "smithy.api#documentation": "Offers available for this volume (sales and rentals)."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The two-letter ISO_3166-1 country code for which this sale information is valid. (In LITE projection.)"
          }
        },
        "onSaleDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date on which this book is available for sale."
          }
        },
        "listPrice": {
          "target": "com.gcp.books_v1#VolumeSaleInfoListPrice",
          "traits": {
            "smithy.api#documentation": "Suggested retail price. (In LITE projection.)"
          }
        },
        "saleability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether or not this book is available for sale or offered for free in the Google eBookstore for the country listed above. Possible values are FOR_SALE, FOR_RENTAL_ONLY, FOR_SALE_AND_RENTAL, FREE, NOT_FOR_SALE, or FOR_PREORDER."
          }
        },
        "isEbook": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this volume is an eBook (can be added to the My eBooks shelf)."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoRetailPrice": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount in the currency listed below. (In LITE projection.)"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 4217, three-letter currency code. (In LITE projection.)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoOffersItem": {
      "type": "structure",
      "members": {
        "giftable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the offer is giftable."
          }
        },
        "rentalDuration": {
          "target": "com.gcp.books_v1#VolumeSaleInfoOffersItemRentalDuration",
          "traits": {
            "smithy.api#documentation": "The rental duration (for rental offers only)."
          }
        },
        "retailPrice": {
          "target": "com.gcp.books_v1#VolumeSaleInfoOffersItemRetailPrice",
          "traits": {
            "smithy.api#documentation": "Offer retail (=discounted) price in Micros"
          }
        },
        "finskyOfferType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The finsky offer type (e.g., PURCHASE=0 RENTAL=3)"
          }
        },
        "listPrice": {
          "target": "com.gcp.books_v1#VolumeSaleInfoOffersItemListPrice",
          "traits": {
            "smithy.api#documentation": "Offer list (=undiscounted) price in Micros."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoOffersItemRentalDuration": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "smithy.api#String"
        },
        "count": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoOffersItemRetailPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String"
        },
        "amountInMicros": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoOffersItemListPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String"
        },
        "amountInMicros": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoOffersItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#VolumeSaleInfoOffersItem"
      }
    },
    "com.gcp.books_v1#VolumeSaleInfoListPrice": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 4217, three-letter currency code. (In LITE projection.)"
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount in the currency listed below. (In LITE projection.)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfo": {
      "type": "structure",
      "members": {
        "allowAnonLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anonymous logging should be allowed."
          }
        },
        "subtitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume subtitle. (In LITE projection.)"
          }
        },
        "maturityRating": {
          "target": "smithy.api#String"
        },
        "authors": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The names of the authors and/or editors for this volume. (In LITE projection)"
          }
        },
        "printedPageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of printed pages in generated pdf representation."
          }
        },
        "pageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of pages as per publisher metadata."
          }
        },
        "dimensions": {
          "target": "com.gcp.books_v1#VolumeVolumeInfoDimensions",
          "traits": {
            "smithy.api#documentation": "Physical dimensions of this volume."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher of this volume. (In LITE projection.)"
          }
        },
        "mainCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main category to which this volume belongs. It will be the category from the categories list returned below that has the highest weight."
          }
        },
        "publishedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of publication. (In LITE projection.)"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Best language for this volume (based on content). It is the two-letter ISO 639-1 code such as 'fr', 'en', etc."
          }
        },
        "seriesInfo": {
          "target": "com.gcp.books_v1#Volumeseriesinfo"
        },
        "infoLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to view information about this volume on the Google Books site. (In LITE projection)"
          }
        },
        "samplePageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of sample pages as per publisher metadata."
          }
        },
        "averageRating": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The mean review rating for this volume. (min = 1.0, max = 5.0)"
          }
        },
        "readingModes": {
          "target": "com.gcp.books_v1#VolumeVolumeInfoReadingModes",
          "traits": {
            "smithy.api#documentation": "The reading modes available for this volume."
          }
        },
        "categories": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of subject categories, such as \"Fiction\", \"Suspense\", etc."
          }
        },
        "printType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of publication of this volume. Possible values are BOOK or MAGAZINE."
          }
        },
        "previewLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to preview this volume on the Google Books site."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume title. (In LITE projection.)"
          }
        },
        "imageLinks": {
          "target": "com.gcp.books_v1#VolumeVolumeInfoImageLinks",
          "traits": {
            "smithy.api#documentation": "A list of image links for all the sizes that are available. (In LITE projection.)"
          }
        },
        "comicsContent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the volume has comics content."
          }
        },
        "industryIdentifiers": {
          "target": "com.gcp.books_v1#VolumeVolumeInfoIndustryIdentifiersItemList",
          "traits": {
            "smithy.api#documentation": "Industry standard identifiers for this volume."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the version of the volume content (text & images). (In LITE projection)"
          }
        },
        "canonicalVolumeLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical URL for a volume. (In LITE projection.)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A synopsis of the volume. The text of the description is formatted in HTML and includes simple formatting elements, such as b, i, and br tags. (In LITE projection.)"
          }
        },
        "ratingsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of review ratings for this volume."
          }
        },
        "panelizationSummary": {
          "target": "com.gcp.books_v1#VolumeVolumeInfoPanelizationSummary",
          "traits": {
            "smithy.api#documentation": "A top-level summary of the panelization info in this volume."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoDimensions": {
      "type": "structure",
      "members": {
        "thickness": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Thickness of this volume (in cm)."
          }
        },
        "height": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Height or length of this volume (in cm)."
          }
        },
        "width": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Width of this volume (in cm)."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoReadingModes": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#Boolean"
        },
        "image": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoImageLinks": {
      "type": "structure",
      "members": {
        "large": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for large size (width of ~800 pixels). (In LITE projection)"
          }
        },
        "medium": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for medium size (width of ~575 pixels). (In LITE projection)"
          }
        },
        "small": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for small size (width of ~300 pixels). (In LITE projection)"
          }
        },
        "smallThumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for small thumbnail size (width of ~80 pixels). (In LITE projection)"
          }
        },
        "thumbnail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for thumbnail size (width of ~128 pixels). (In LITE projection)"
          }
        },
        "extraLarge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image link for extra large size (width of ~1280 pixels). (In LITE projection)"
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoIndustryIdentifiersItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier type. Possible values are ISBN_10, ISBN_13, ISSN and OTHER."
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Industry specific volume identifier."
          }
        }
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoIndustryIdentifiersItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.books_v1#VolumeVolumeInfoIndustryIdentifiersItem"
      }
    },
    "com.gcp.books_v1#VolumeVolumeInfoPanelizationSummary": {
      "type": "structure",
      "members": {
        "containsEpubBubbles": {
          "target": "smithy.api#Boolean"
        },
        "containsImageBubbles": {
          "target": "smithy.api#Boolean"
        },
        "epubBubbleVersion": {
          "target": "smithy.api#String"
        },
        "imageBubbleVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.books_v1#Geolayerdata": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String"
        },
        "geo": {
          "target": "com.gcp.books_v1#GeolayerdataGeo"
        },
        "common": {
          "target": "com.gcp.books_v1#GeolayerdataCommon"
        }
      }
    },
    "com.gcp.books_v1#GeolayerdataGeo": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The longitude of the location."
          }
        },
        "boundary": {
          "target": "com.gcp.books_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country code of the location."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The latitude of the location."
          }
        },
        "zoom": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https: //developers.google.com/maps/documentation/staticmaps/#Zoomlevels"
          }
        },
        "viewport": {
          "target": "com.gcp.books_v1#GeolayerdataGeoViewport",
          "traits": {
            "smithy.api#documentation": "The viewport for showing this location. This is a latitude, longitude rectangle."
          }
        },
        "mapType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN"
          }
        },
        "cachePolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER"
          }
        }
      }
    },
    "com.gcp.books_v1#GeolayerdataGeoViewport": {
      "type": "structure",
      "members": {
        "lo": {
          "target": "com.gcp.books_v1#GeolayerdataGeoViewportLo"
        },
        "hi": {
          "target": "com.gcp.books_v1#GeolayerdataGeoViewportHi"
        }
      }
    },
    "com.gcp.books_v1#GeolayerdataGeoViewportLo": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double"
        },
        "latitude": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.books_v1#GeolayerdataGeoViewportHi": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double"
        },
        "latitude": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.books_v1#GeolayerdataCommon": {
      "type": "structure",
      "members": {
        "previewImageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the preview image information."
          }
        },
        "snippetUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for information for this location. Ex: wikipedia link."
          }
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for this location."
          }
        },
        "lang": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the information url and description."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display title and localized canonical name to use when searching for this entity on Google search."
          }
[...]
