{
  "smithy": "2.0",
  "metadata": {
    "service": "calendar",
    "version": "v3",
    "title": "Calendar API",
    "baseUrl": "https://www.googleapis.com/calendar/v3/"
  },
  "shapes": {
    "com.gcp.calendar_v3#FreeBusyCalendar": {
      "type": "structure",
      "members": {
        "busy": {
          "target": "com.gcp.calendar_v3#TimePeriodList",
          "traits": {
            "smithy.api#documentation": "List of time ranges during which this calendar should be regarded as busy."
          }
        },
        "errors": {
          "target": "com.gcp.calendar_v3#Calendar_ErrorList",
          "traits": {
            "smithy.api#documentation": "Optional error(s) (if computation for the calendar failed)."
          }
        }
      }
    },
    "com.gcp.calendar_v3#TimePeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#TimePeriod"
      }
    },
    "com.gcp.calendar_v3#Calendar_ErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#Calendar_Error"
      }
    },
    "com.gcp.calendar_v3#EventWorkingLocationProperties": {
      "type": "structure",
      "members": {
        "officeLocation": {
          "target": "com.gcp.calendar_v3#EventWorkingLocationPropertiesOfficeLocation",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working from an office."
          }
        },
        "homeOffice": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working at home."
          }
        },
        "customLocation": {
          "target": "com.gcp.calendar_v3#EventWorkingLocationPropertiesCustomLocation",
          "traits": {
            "smithy.api#documentation": "If present, specifies that the user is working from a custom location."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the working location. Possible values are:  \n- \"homeOffice\" - The user is working at home. \n- \"officeLocation\" - The user is working from an office. \n- \"customLocation\" - The user is working from a custom location.  Any details are specified in a sub-field of the specified name, but this field may be missing if empty. Any other fields are ignored.\nRequired when adding working location properties."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventWorkingLocationPropertiesOfficeLocation": {
      "type": "structure",
      "members": {
        "buildingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional building identifier. This should reference a building ID in the organization's Resources database."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The office name that's displayed in Calendar Web and Mobile clients. We recommend you reference a building name in the organization's Resources database."
          }
        },
        "deskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional desk identifier."
          }
        },
        "floorSectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional floor section identifier."
          }
        },
        "floorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional floor identifier."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventWorkingLocationPropertiesCustomLocation": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional extra label for additional information."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventOutOfOfficeProperties": {
      "type": "structure",
      "members": {
        "autoDeclineMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether to decline meeting invitations which overlap Out of office events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Out of office event is present are to be declined."
          }
        },
        "declineMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ColorDefinition": {
      "type": "structure",
      "members": {
        "background": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color associated with this color definition."
          }
        },
        "foreground": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The foreground color that can be used to write on top of a background with 'background' color."
          }
        }
      }
    },
    "com.gcp.calendar_v3#FreeBusyResponse": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.gcp.calendar_v3#FreeBusyGroupMap",
          "traits": {
            "smithy.api#documentation": "Expansion of groups."
          }
        },
        "timeMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the interval."
          }
        },
        "timeMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the interval."
          }
        },
        "calendars": {
          "target": "com.gcp.calendar_v3#FreeBusyCalendarMap",
          "traits": {
            "smithy.api#documentation": "List of free/busy information for calendars."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#freeBusy\")."
          }
        }
      }
    },
    "com.gcp.calendar_v3#FreeBusyGroupMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.calendar_v3#FreeBusyGroup"
      }
    },
    "com.gcp.calendar_v3#FreeBusyCalendarMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.calendar_v3#FreeBusyCalendar"
      }
    },
    "com.gcp.calendar_v3#EventAttendee": {
      "type": "structure",
      "members": {
        "asyncOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, indicates the status of an asynchronous operation ongoing for this attendee (e.g. listing of members of large attendee groups). Read-only. The default is to not be present.\nPossible values are:  \n- \"inProgress\" - The asynchronous operation is in progress. \n- (not present) - Otherwise."
          }
        },
        "organizer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the attendee is the organizer of the event. Read-only. The default is False."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's email address, if available. This field must be present when adding an attendee. It must be a valid email address as per RFC5322.\nRequired when adding an attendee."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's response comment. Optional."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's Profile ID, if available."
          }
        },
        "additionalGuests": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of additional guests. Optional. The default is 0."
          }
        },
        "optional": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is an optional attendee. Optional. The default is False."
          }
        },
        "responseStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee has not responded to the invitation (recommended for new events). \n- \"declined\" - The attendee has declined the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation. \n- \"accepted\" - The attendee has accepted the invitation.  Warning: If you add an event using the values declined, tentative, or accepted, attendees with the \"Add invitations to my calendar\" setting set to \"When I respond to invitation in email\" or \"Only if the sender is known\" might have their response reset to needsAction and won't see an event in their calendar unless they change their response in the event invitation email. Furthermore, if more than 200 guests are invited to the event, response status is not propagated to the guests."
          }
        },
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this entry represents the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attendee's name, if available. Optional."
          }
        },
        "resource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the attendee is a resource. Can only be set when the attendee is added to the event for the first time. Subsequent modifications are ignored. Optional. The default is False."
          }
        }
      }
    },
    "com.gcp.calendar_v3#Events": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#events\")."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Read-only."
          }
        },
        "items": {
          "target": "com.gcp.calendar_v3#EventList",
          "traits": {
            "smithy.api#documentation": "List of events on the calendar."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the calendar (as a RFC3339 timestamp). Read-only."
          }
        },
        "defaultReminders": {
          "target": "com.gcp.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "The default reminders on the calendar for the authenticated user. These reminders apply to all events on this calendar that do not explicitly override them (i.e. do not have reminders.useDefault set to True)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. Read-only."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar. Read-only."
          }
        },
        "accessRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's access role for this calendar. Read-only. Possible values are:  \n- \"none\" - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy information. \n- \"reader\" - The user has read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - The user has read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - The user has manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#Event"
      }
    },
    "com.gcp.calendar_v3#EventReminderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#EventReminder"
      }
    },
    "com.gcp.calendar_v3#Calendar": {
      "type": "structure",
      "members": {
        "autoAcceptInvitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar automatically accepts invitations. Only valid for resource calendars."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the calendar as free-form text. Optional."
          }
        },
        "conferenceProperties": {
          "target": "com.gcp.calendar_v3#ConferenceProperties",
          "traits": {
            "smithy.api#documentation": "Conferencing properties for this calendar, for example what types of conferences are allowed."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#calendar\")."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Optional."
          }
        },
        "dataOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the calendar. To retrieve IDs call the calendarList.list() method."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventLabel": {
      "type": "document"
    },
    "com.gcp.calendar_v3#ConferenceSolution": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.gcp.calendar_v3#ConferenceSolutionKey",
          "traits": {
            "smithy.api#documentation": "The key which can uniquely identify the conference solution for this event."
          }
        },
        "iconUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible icon for this solution."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-visible name of this solution. Not localized."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ConferenceProperties": {
      "type": "structure",
      "members": {
        "allowedConferenceSolutionTypes": {
          "target": "com.gcp.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "The types of conference solutions that are supported for this calendar.\nThe possible values are:  \n- \"eventHangout\" \n- \"eventNamedHangout\" \n- \"hangoutsMeet\"  Optional."
          }
        }
      }
    },
    "com.gcp.calendar_v3#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.calendar_v3#Settings": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        },
        "items": {
          "target": "com.gcp.calendar_v3#SettingList",
          "traits": {
            "smithy.api#documentation": "List of user settings."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#settings\")."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the collection."
          }
        }
      }
    },
    "com.gcp.calendar_v3#SettingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#Setting"
      }
    },
    "com.gcp.calendar_v3#CalendarNotification": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method used to deliver the notification. The possible value is:  \n- \"email\" - Notifications are sent via email.  \nRequired when adding a notification."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an attendee responds to the event invitation. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).  \nRequired when adding a notification."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ConferenceSolutionKey": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The conference solution type.\nIf a client encounters an unfamiliar or empty type, it should still be able to display the entry points. However, it should disallow modifications.\nThe possible values are:  \n- \"eventHangout\" for Hangouts for consumers (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"eventNamedHangout\" for classic Hangouts for Google Workspace users (deprecated; existing events may show this conference solution type but new conferences cannot be created)\n- \"hangoutsMeet\" for Google Meet (http://meet.google.com)\n- \"addOn\" for 3P conference providers"
          }
        }
      }
    },
    "com.gcp.calendar_v3#Acl": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#acl\")."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        },
        "items": {
          "target": "com.gcp.calendar_v3#AclRuleList",
          "traits": {
            "smithy.api#documentation": "List of rules on the access control list."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        }
      }
    },
    "com.gcp.calendar_v3#AclRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#AclRule"
      }
    },
    "com.gcp.calendar_v3#LabelProperties": {
      "type": "document"
    },
    "com.gcp.calendar_v3#FreeBusyRequestItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of a calendar or a group."
          }
        }
      }
    },
    "com.gcp.calendar_v3#CreateConferenceRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client-generated unique ID for this request.\nClients should regenerate this ID for every new request. If an ID provided is the same as for the previous request, the request is ignored."
          }
        },
        "conferenceSolutionKey": {
          "target": "com.gcp.calendar_v3#ConferenceSolutionKey",
          "traits": {
            "smithy.api#documentation": "The conference solution, such as Hangouts or Google Meet."
          }
        },
        "status": {
          "target": "com.gcp.calendar_v3#ConferenceRequestStatus",
          "traits": {
            "smithy.api#documentation": "The status of the conference create request."
          }
        }
      }
    },
    "com.gcp.calendar_v3#FreeBusyRequest": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.calendar_v3#FreeBusyRequestItemList",
          "traits": {
            "smithy.api#documentation": "List of calendars and/or groups to query."
          }
        },
        "groupExpansionMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximal number of calendar identifiers to be provided for a single group. Optional. An error is returned for a group with more members than this value. Maximum value is 100."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time zone used in the response. Optional. The default is UTC."
          }
        },
        "calendarExpansionMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximal number of calendars for which FreeBusy information is to be provided. Optional. Maximum value is 50."
          }
        },
        "timeMin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the interval for the query formatted as per RFC3339."
          }
        },
        "timeMax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the interval for the query formatted as per RFC3339."
          }
        }
      }
    },
    "com.gcp.calendar_v3#FreeBusyRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#FreeBusyRequestItem"
      }
    },
    "com.gcp.calendar_v3#ConferenceParametersAddOnParameters": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.calendar_v3#StringMap"
        }
      }
    },
    "com.gcp.calendar_v3#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.calendar_v3#FreeBusyGroup": {
      "type": "structure",
      "members": {
        "calendars": {
          "target": "com.gcp.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "List of calendars' identifiers within a group."
          }
        },
        "errors": {
          "target": "com.gcp.calendar_v3#Calendar_ErrorList",
          "traits": {
            "smithy.api#documentation": "Optional error(s) (if computation for the group failed)."
          }
        }
      }
    },
    "com.gcp.calendar_v3#TimePeriod": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (exclusive) end of the time period."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The (inclusive) start of the time period."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ConferenceParameters": {
      "type": "structure",
      "members": {
        "addOnParameters": {
          "target": "com.gcp.calendar_v3#ConferenceParametersAddOnParameters",
          "traits": {
            "smithy.api#documentation": "Additional add-on specific data."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventDateTime": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date, in the format \"yyyy-mm-dd\", if this is an all-day event."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone in which the time is specified. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies the time zone in which the recurrence is expanded. For single events this field is optional and indicates a custom time zone for the event start/end."
          }
        },
        "dateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time, as a combined date-time value (formatted according to RFC3339). A time zone offset is required unless a time zone is explicitly specified in timeZone."
          }
        }
      }
    },
    "com.gcp.calendar_v3#Setting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the user setting."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#setting\")."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the user setting. The format of the value depends on the ID of the setting. It must always be a UTF-8 string of length up to 1024 characters."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ConferenceRequestStatus": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current status of the conference create request. Read-only.\nThe possible values are:  \n- \"pending\": the conference create request is still being processed.\n- \"success\": the conference create request succeeded, the entry points are populated.\n- \"failure\": the conference create request failed, there are no entry points."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventBirthdayProperties": {
      "type": "structure",
      "members": {
        "contact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the contact this birthday event is linked to. This can be used to fetch contact details from People API. Format: \"people/c12345\". Read-only."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of birthday or special event. Possible values are:  \n- \"anniversary\" - An anniversary other than birthday. Always has a contact. \n- \"birthday\" - A birthday event. This is the default value. \n- \"custom\" - A special date whose label is further specified in the customTypeName field. Always has a contact. \n- \"other\" - A special date which does not fall into the other categories, and does not have a custom label. Always has a contact. \n- \"self\" - Calendar owner's own birthday. Cannot have a contact.  The Calendar API only supports creating events with the type \"birthday\". The type cannot be changed after the event is created."
          }
        },
        "customTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom type label specified for this event. This is populated if birthdayProperties.type is set to \"custom\". Read-only."
          }
        }
      }
    },
    "com.gcp.calendar_v3#Channel": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address where notifications are delivered for this channel."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" (or \"webhook\"). Both values refer to a channel where Http requests are used to deliver messages."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A UUID or similar unique string that identifies this channel."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A version-specific identifier for the watched resource."
          }
        },
        "params": {
          "target": "com.gcp.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Additional parameters controlling delivery channel behavior. Optional."
          }
        },
        "payload": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value to indicate whether payload is wanted. Optional."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventAttachment": {
      "type": "structure",
      "members": {
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL link to the attachment's icon. This field can only be modified for custom third-party attachments."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attachment title."
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the attached file. Read-only.\nFor Google Drive files, this is the ID of the corresponding Files resource entry in the Drive API."
          }
        },
        "fileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL link to the attachment.\nFor adding Google Drive file attachments use the same format as in alternateLink property of the Files resource in the Drive API.\nRequired when adding an attachment."
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internet media type (MIME type) of the attachment."
          }
        }
      }
    },
    "com.gcp.calendar_v3#Colors": {
      "type": "structure",
      "members": {
        "calendar": {
          "target": "com.gcp.calendar_v3#ColorDefinitionMap",
          "traits": {
            "smithy.api#documentation": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its colorId field. Read-only."
          }
        },
        "event": {
          "target": "com.gcp.calendar_v3#ColorDefinitionMap",
          "traits": {
            "smithy.api#documentation": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its colorId field. Read-only."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#colors\")."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ColorDefinitionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.calendar_v3#ColorDefinition"
      }
    },
    "com.gcp.calendar_v3#CalendarListEntry": {
      "type": "structure",
      "members": {
        "accessRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to see and modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the calendar. Read-only."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone of the calendar. Optional. Read-only."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "foregroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
          }
        },
        "dataOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the owner of the calendar. Set only for secondary calendars. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the calendar."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False."
          }
        },
        "notificationSettings": {
          "target": "com.gcp.calendar_v3#CalendarListEntryNotificationSettings",
          "traits": {
            "smithy.api#documentation": "The notifications that the authenticated user is receiving for this calendar."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False."
          }
        },
        "conferenceProperties": {
          "target": "com.gcp.calendar_v3#ConferenceProperties",
          "traits": {
            "smithy.api#documentation": "Conferencing properties for this calendar, for example what types of conferences are allowed."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#calendarListEntry\")."
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar has been hidden from the list. Optional. The attribute is only returned when the calendar is hidden, in which case the value is true."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the calendar as free-form text. Optional. Read-only."
          }
        },
        "summaryOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary that the authenticated user has set for this calendar. Optional."
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. To set or change this property, you need to specify colorRgbFormat=true in the parameters of the insert, update and patch methods. Optional."
          }
        },
        "autoAcceptInvitations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this calendar automatically accepts invitations. Only valid for resource calendars. Read-only."
          }
        },
        "colorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). This property is superseded by the backgroundColor and foregroundColor properties and can be ignored when using these properties. Optional."
          }
        },
        "defaultReminders": {
          "target": "com.gcp.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "The default reminders that the authenticated user has for this calendar."
          }
        },
        "selected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the calendar content shows up in the calendar UI. Optional. The default is False."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the calendar. Optional. Read-only."
          }
        }
      }
    },
    "com.gcp.calendar_v3#CalendarListEntryNotificationSettings": {
      "type": "structure",
      "members": {
        "notifications": {
          "target": "com.gcp.calendar_v3#CalendarNotificationList",
          "traits": {
            "smithy.api#documentation": "The list of notifications set for this calendar."
          }
        }
      }
    },
    "com.gcp.calendar_v3#CalendarNotificationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#CalendarNotification"
      }
    },
    "com.gcp.calendar_v3#AclRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the Access Control List (ACL) rule. See Sharing calendars."
          }
        },
        "scope": {
          "target": "com.gcp.calendar_v3#AclRuleScope",
          "traits": {
            "smithy.api#documentation": "The extent to which calendar access is granted by this ACL rule."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. Provides read access to the calendar's ACLs. \n- \"owner\" - Provides manager access to the calendar. This role has all of the permissions of the writer role with the additional ability to modify access levels of other users.\nImportant: the owner role is different from the calendar's data owner. A calendar has a single data owner, but can have multiple users with owner role."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#aclRule\")."
          }
        }
      }
    },
    "com.gcp.calendar_v3#AclRuleScope": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
          }
        }
      }
    },
    "com.gcp.calendar_v3#Calendar_Error": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain, or broad category, of the error."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
          }
        }
      }
    },
    "com.gcp.calendar_v3#ConferenceData": {
      "type": "structure",
      "members": {
        "conferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the conference.\nCan be used by developers to keep track of conferences, should not be displayed to users.\nThe ID value is formed differently for each conference solution type:  \n- eventHangout: ID is not set. (This conference type is deprecated.)\n- eventNamedHangout: ID is the name of the Hangout. (This conference type is deprecated.)\n- hangoutsMeet: ID is the 10-letter meeting code, for example aaa-bbbb-ccc.\n- addOn: ID is defined by the third-party provider.  Optional."
          }
        },
        "conferenceSolution": {
          "target": "com.gcp.calendar_v3#ConferenceSolution",
          "traits": {
            "smithy.api#documentation": "The conference solution, such as Google Meet.\nUnset for a conference with a failed create request.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        },
        "parameters": {
          "target": "com.gcp.calendar_v3#ConferenceParameters",
          "traits": {
            "smithy.api#documentation": "Additional properties related to a conference. An example would be a solution-specific setting for enabling video streaming."
          }
        },
        "createRequest": {
          "target": "com.gcp.calendar_v3#CreateConferenceRequest",
          "traits": {
            "smithy.api#documentation": "A request to generate a new conference and attach it to the event. The data is generated asynchronously. To see whether the data is present check the status field.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional notes (such as instructions from the domain administrator, legal notices) to display to the user. Can contain HTML. The maximum length is 2048 characters. Optional."
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signature of the conference data.\nGenerated on server side.\nUnset for a conference with a failed create request.\nOptional for a conference with a pending create request."
          }
        },
        "entryPoints": {
          "target": "com.gcp.calendar_v3#EntryPointList",
          "traits": {
            "smithy.api#documentation": "Information about individual conference entry points, such as URLs or phone numbers.\nAll of them must belong to the same conference.\nEither conferenceSolution and at least one entryPoint, or createRequest is required."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EntryPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#EntryPoint"
      }
    },
    "com.gcp.calendar_v3#EntryPoint": {
      "type": "structure",
      "members": {
        "passcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The passcode to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label for the URI. Visible to end users. Not localized. The maximum length is 512 characters.\nExamples:  \n- for video: meet.google.com/aaa-bbbb-ccc\n- for phone: +1 123 268 2601\n- for sip: 12345678@altostrat.com\n- for more: should not be filled  \nOptional."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "accessCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR/ISO 3166 region code for the country associated with this phone access. Example: \"SE\" for Sweden.\nCalendar backend will populate this field only for EntryPointType.PHONE."
          }
        },
        "entryPointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the conference entry point.\nPossible values are:  \n- \"video\" - joining a conference over HTTP. A conference can have zero or one video entry point.\n- \"phone\" - joining a conference by dialing a phone number. A conference can have zero or more phone entry points.\n- \"sip\" - joining a conference over SIP. A conference can have zero or one sip entry point.\n- \"more\" - further conference joining instructions, for example additional phone numbers. A conference can have zero or one more entry point. A conference with only a more entry point is not a valid conference."
          }
        },
        "meetingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The meeting code to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "pin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PIN to access the conference. The maximum length is 128 characters.\nWhen creating new conference data, populate only the subset of {meetingCode, accessCode, passcode, password, pin} fields that match the terminology that the conference provider uses. Only the populated fields should be displayed.\nOptional."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the entry point. The maximum length is 1300 characters.\nFormat:  \n- for video, http: or https: schema is required.\n- for phone, tel: schema is required. The URI should include the entire dial sequence (e.g., tel:+12345678900,,,123456789;1234).\n- for sip, sip: schema is required, e.g., sip:12345678@myprovider.com.\n- for more, http: or https: schema is required."
          }
        },
        "entryPointFeatures": {
          "target": "com.gcp.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "Features of the entry point, such as being toll or toll-free. One entry point can have multiple features. However, toll and toll-free cannot be both set on the same entry point."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventFocusTimeProperties": {
      "type": "structure",
      "members": {
        "autoDeclineMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether to decline meeting invitations which overlap Focus Time events. Valid values are declineNone, meaning that no meeting invitations are declined; declineAllConflictingInvitations, meaning that all conflicting meeting invitations that conflict with the event are declined; and declineOnlyNewConflictingInvitations, meaning that only new conflicting meeting invitations which arrive while the Focus Time event is present are to be declined."
          }
        },
        "declineMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response message to set if an existing event or new invitation is automatically declined by Calendar."
          }
        },
        "chatStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status to mark the user in Chat and related products. This can be available or doNotDisturb."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventReminder": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The method used by this reminder. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"popup\" - Reminders are sent via a UI popup.  \nRequired when adding a reminder."
          }
        },
        "minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes before the start of the event when the reminder should trigger. Valid values are between 0 and 40320 (4 weeks in minutes).\nRequired when adding a reminder."
          }
        }
      }
    },
    "com.gcp.calendar_v3#CalendarList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.calendar_v3#CalendarListEntryList",
          "traits": {
            "smithy.api#documentation": "Calendars that are present on the user's calendar list."
          }
        },
        "nextSyncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the collection (\"calendar#calendarList\")."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the collection."
          }
        }
      }
    },
    "com.gcp.calendar_v3#CalendarListEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#CalendarListEntry"
      }
    },
    "com.gcp.calendar_v3#Event": {
      "type": "structure",
      "members": {
        "birthdayProperties": {
          "target": "com.gcp.calendar_v3#EventBirthdayProperties",
          "traits": {
            "smithy.api#documentation": "Birthday or special event data. Used if eventType is \"birthday\". Immutable."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the resource."
          }
        },
        "attachments": {
          "target": "com.gcp.calendar_v3#EventAttachmentList",
          "traits": {
            "smithy.api#documentation": "File attachments for the event.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,"
          }
        },
        "originalStartTime": {
          "target": "com.gcp.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
          }
        },
        "transparency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI."
          }
        },
        "endTimeUnspecified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False."
          }
        },
        "gadget": {
          "target": "com.gcp.calendar_v3#EventGadget",
          "traits": {
            "smithy.api#documentation": "A gadget that extends this event. Gadgets are deprecated; this structure is instead only used for returning birthday calendar metadata."
          }
        },
        "start": {
          "target": "com.gcp.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance."
          }
        },
        "guestsCanInviteOthers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True."
          }
        },
        "hangoutLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute link to the Google Hangout associated with this event. Read-only."
          }
        },
        "creator": {
          "target": "com.gcp.calendar_v3#EventCreator",
          "traits": {
            "smithy.api#documentation": "The creator of the event. Read-only."
          }
        },
        "privateCopy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False."
          }
        },
        "reminders": {
          "target": "com.gcp.calendar_v3#EventReminders",
          "traits": {
            "smithy.api#documentation": "Information about the event's reminders for the authenticated user. Note that changing reminders does not also change the updated property of the enclosing event."
          }
        },
        "guestsCanModify": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can modify the event. Optional. The default is False."
          }
        },
        "attendees": {
          "target": "com.gcp.calendar_v3#EventAttendeeList",
          "traits": {
            "smithy.api#documentation": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geographic location of the event as free-form text. Optional."
          }
        },
        "recurringEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource (\"calendar#event\")."
          }
        },
        "sequence": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sequence number as per iCalendar."
          }
        },
        "end": {
          "target": "com.gcp.calendar_v3#EventDateTime",
          "traits": {
            "smithy.api#documentation": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
          }
        },
        "guestsCanSeeOtherGuests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True."
          }
        },
        "conferenceData": {
          "target": "com.gcp.calendar_v3#ConferenceData",
          "traits": {
            "smithy.api#documentation": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests. Warning: Reusing Google Meet conference data across different events can cause access issues and expose meeting details to unintended users. To help ensure meeting privacy, always generate a unique conference for each event by using the createRequest field."
          }
        },
        "extendedProperties": {
          "target": "com.gcp.calendar_v3#EventExtendedProperties",
          "traits": {
            "smithy.api#documentation": "Extended properties of the event."
          }
        },
        "recurrence": {
          "target": "com.gcp.calendar_v3#StringList",
          "traits": {
            "smithy.api#documentation": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
          }
        },
        "attendeesOmitted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False."
          }
        },
        "iCalUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the iCalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same iCalUIDs. To retrieve an event using its iCalUID, call the events.list method using the iCalUID parameter. To retrieve an event using its id, call the events.get method."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the event (as a RFC3339 timestamp). Read-only."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the event."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only."
          }
        },
        "workingLocationProperties": {
          "target": "com.gcp.calendar_v3#EventWorkingLocationProperties",
          "traits": {
            "smithy.api#documentation": "Working location event data."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the event. Can contain HTML. Optional."
          }
        },
        "focusTimeProperties": {
          "target": "com.gcp.calendar_v3#EventFocusTimeProperties",
          "traits": {
            "smithy.api#documentation": "Focus Time event data. Used if eventType is focusTime."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modification time of the main event data (as a RFC3339 timestamp). Updating event reminders will not cause this to change. Read-only."
          }
        },
        "colorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
          }
        },
        "htmlLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An absolute link to this event in the Google Calendar Web UI. Read-only."
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons."
          }
        },
        "anyoneCanAddSelf": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether anyone can invite themselves to the event (deprecated). Optional. The default is False."
          }
        },
        "source": {
          "target": "com.gcp.calendar_v3#EventSource",
          "traits": {
            "smithy.api#documentation": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific type of the event. This cannot be modified after the event is created. Possible values are:  \n- \"birthday\" - A special all-day event with an annual recurrence. \n- \"default\" - A regular event or not further specified. \n- \"focusTime\" - A focus-time event. \n- \"fromGmail\" - An event from Gmail. This type of event cannot be created. \n- \"outOfOffice\" - An out-of-office event. \n- \"workingLocation\" - A working location event."
          }
        },
        "organizer": {
          "target": "com.gcp.calendar_v3#EventOrganizer",
          "traits": {
            "smithy.api#documentation": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event."
          }
        },
        "outOfOfficeProperties": {
          "target": "com.gcp.calendar_v3#EventOutOfOfficeProperties",
          "traits": {
            "smithy.api#documentation": "Out of office event data. Used if eventType is outOfOffice."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#EventAttachment"
      }
    },
    "com.gcp.calendar_v3#EventGadget": {
      "type": "structure",
      "members": {
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's URL. The URL scheme must be HTTPS. Deprecated."
          }
        },
        "display": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The gadget's height in pixels. The height must be an integer greater than 0. Optional. Deprecated."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's type. Deprecated."
          }
        },
        "preferences": {
          "target": "com.gcp.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Preferences."
          }
        },
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated."
          }
        },
        "iconLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's icon URL. The URL scheme must be HTTPS. Deprecated."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gadget's title. Deprecated."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventCreator": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's email address, if available."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's name, if available."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creator's Profile ID, if available."
          }
        },
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventReminders": {
      "type": "structure",
      "members": {
        "overrides": {
          "target": "com.gcp.calendar_v3#EventReminderList",
          "traits": {
            "smithy.api#documentation": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5."
          }
        },
        "useDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the default reminders of the calendar apply to the event."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventAttendeeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.calendar_v3#EventAttendee"
      }
    },
    "com.gcp.calendar_v3#EventExtendedProperties": {
      "type": "structure",
      "members": {
        "private": {
          "target": "com.gcp.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Properties that are private to the copy of the event that appears on this calendar."
          }
        },
        "shared": {
          "target": "com.gcp.calendar_v3#StringMap",
          "traits": {
            "smithy.api#documentation": "Properties that are shared between copies of the event on other attendees' calendars."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventSource": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the source; for example a title of a web page or an email subject."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS."
          }
        }
      }
    },
    "com.gcp.calendar_v3#EventOrganizer": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's email address, if available. It must be a valid email address as per RFC5322."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's name, if available."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The organizer's Profile ID, if available."
          }
        }
      }
    },
    "com.gcp.calendar_v3#WatchAclRequest": {
      "type": "structure",
      "members": {
        "syncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "smithy.api#httpQuery": "syncToken"
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token specifying which result page to return. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "body": {
          "target": "com.gcp.calendar_v3#Channel",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.calendar_v3#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.calendar_v3#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.calendar_v3#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.calendar_v3#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.calendar_v3#WatchAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#WatchAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#Channel"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "calendars/{calendarId}/acl/watch"
        },
        "smithy.api#documentation": "Watch for changes to ACL resources."
      }
    },
    "com.gcp.calendar_v3#InsertAclRequest": {
      "type": "structure",
      "members": {
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sendNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
            "smithy.api#httpQuery": "sendNotifications"
          }
        },
        "body": {
          "target": "com.gcp.calendar_v3#AclRule",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.calendar_v3#InsertAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#InsertAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#AclRule"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "calendars/{calendarId}/acl"
        },
        "smithy.api#documentation": "Creates an access control rule."
      }
    },
    "com.gcp.calendar_v3#PatchAclRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ACL rule identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sendNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
            "smithy.api#httpQuery": "sendNotifications"
          }
        },
        "body": {
          "target": "com.gcp.calendar_v3#AclRule",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.calendar_v3#PatchAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#PatchAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#AclRule"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "calendars/{calendarId}/acl/{ruleId}"
        },
        "smithy.api#documentation": "Updates an access control rule. This method supports patch semantics."
      }
    },
    "com.gcp.calendar_v3#DeleteAclRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ACL rule identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.calendar_v3#DeleteAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#DeleteAclRequest"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "calendars/{calendarId}/acl/{ruleId}"
        },
        "smithy.api#documentation": "Deletes an access control rule."
      }
    },
    "com.gcp.calendar_v3#ListAclRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token specifying which result page to return. Optional.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "syncToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "smithy.api#httpQuery": "syncToken"
          }
        }
      }
    },
    "com.gcp.calendar_v3#ListAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#ListAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#Acl"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "calendars/{calendarId}/acl"
        },
        "smithy.api#documentation": "Returns the rules in the access control list for the calendar.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken",
          "items": "items"
        }
      }
    },
    "com.gcp.calendar_v3#UpdateAclRequest": {
      "type": "structure",
      "members": {
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sendNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
            "smithy.api#httpQuery": "sendNotifications"
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ACL rule identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.calendar_v3#AclRule",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.calendar_v3#UpdateAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#UpdateAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#AclRule"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "calendars/{calendarId}/acl/{ruleId}"
        },
        "smithy.api#documentation": "Updates an access control rule."
      }
    },
    "com.gcp.calendar_v3#GetAclRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ACL rule identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.calendar_v3#GetAcl": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#GetAclRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#AclRule"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "calendars/{calendarId}/acl/{ruleId}"
        },
        "smithy.api#documentation": "Returns an access control rule."
      }
    },
    "com.gcp.calendar_v3#StopChannelsRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.gcp.calendar_v3#Channel",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.calendar_v3#StopChannels": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#StopChannelsRequest"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        },
        {
          "target": "com.gcp.calendar_v3#BadRequest"
        },
        {
          "target": "com.gcp.calendar_v3#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "channels/stop"
        },
        "smithy.api#documentation": "Stop watching resources through this channel"
      }
    },
    "com.gcp.calendar_v3#GetColorsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.calendar_v3#GetColors": {
      "type": "operation",
      "input": {
        "target": "com.gcp.calendar_v3#GetColorsRequest"
      },
      "output": {
        "target": "com.gcp.calendar_v3#Colors"
      },
      "errors": [
        {
          "target": "com.gcp.calendar_v3#NotFound"
        },
        {
          "target": "com.gcp.calendar_v3#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
