{
  "smithy": "2.0",
  "metadata": {
    "service": "certificatemanager",
    "version": "v1",
    "title": "Certificate Manager API",
    "baseUrl": "https://certificatemanager.googleapis.com/"
  },
  "shapes": {
    "com.gcp.certificatemanager_v1#CNAME": {
      "type": "structure",
      "members": {
        "expectedData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The expected value of the CNAME record for the domain, equals to `dns_resource_record.data` in the corresponding `DnsAuthorization`."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the CNAME record for the domain, equals to `dns_resource_record.name` in the corresponding `DnsAuthorization`."
          }
        },
        "resolvedData": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The resolved CNAME chain. Empty list if the CNAME record for `CNAME.name` is not found. Otherwise the first item is the value of the CNAME record for `CNAME.name`. If the CNAME chain is longer, the second item is the value of the CNAME record for the first item, and so on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CNAME troubleshooting information."
      }
    },
    "com.gcp.certificatemanager_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.certificatemanager_v1#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.certificatemanager_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.certificatemanager_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.certificatemanager_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#DocumentMap"
      }
    },
    "com.gcp.certificatemanager_v1#Certificate": {
      "type": "structure",
      "members": {
        "sanDnsnames": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of Subject Alternative Names of dnsName type defined in the certificate (see RFC 5280 4.2.1.6). Managed certificates that haven't been provisioned yet have this field populated with a value of the managed.domains field."
          }
        },
        "usedBy": {
          "target": "com.gcp.certificatemanager_v1#UsedByList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of resources that use this Certificate."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The expiry timestamp of a Certificate."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a certificate."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a Certificate."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a Certificate."
          }
        },
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The PEM-encoded certificate chain."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a Certificate."
          }
        },
        "managed": {
          "target": "com.gcp.certificatemanager_v1#ManagedCertificate",
          "traits": {
            "smithy.api#documentation": "If set, contains configuration and state of a managed certificate."
          }
        },
        "selfManaged": {
          "target": "com.gcp.certificatemanager_v1#SelfManagedCertificate",
          "traits": {
            "smithy.api#documentation": "If set, defines data of a self-managed certificate."
          }
        },
        "managedIdentity": {
          "target": "com.gcp.certificatemanager_v1#ManagedIdentityCertificate",
          "traits": {
            "smithy.api#documentation": "If set, contains configuration and state of a managed identity certificate."
          }
        },
        "scope": {
          "target": "com.gcp.certificatemanager_v1#CertificateScopeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The scope of the certificate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines TLS certificate."
      }
    },
    "com.gcp.certificatemanager_v1#UsedByList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#UsedBy"
      }
    },
    "com.gcp.certificatemanager_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.certificatemanager_v1#CertificateScopeEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "EDGE_CACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDGE_CACHE"
          }
        },
        "ALL_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_REGIONS"
          }
        },
        "CLIENT_AUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_AUTH"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.certificatemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.certificatemanager_v1#TrustStore": {
      "type": "structure",
      "members": {
        "trustAnchors": {
          "target": "com.gcp.certificatemanager_v1#TrustAnchorList",
          "traits": {
            "smithy.api#documentation": "Optional. List of Trust Anchors to be used while performing validation against a given TrustStore."
          }
        },
        "intermediateCas": {
          "target": "com.gcp.certificatemanager_v1#IntermediateCAList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of intermediate CA certificates used for the path building phase of chain validation. The field is currently not supported if TrustConfig is used for the workload certificate feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a trust store."
      }
    },
    "com.gcp.certificatemanager_v1#TrustAnchorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#TrustAnchor"
      }
    },
    "com.gcp.certificatemanager_v1#IntermediateCAList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#IntermediateCA"
      }
    },
    "com.gcp.certificatemanager_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.certificatemanager_v1#IPs": {
      "type": "structure",
      "members": {
        "servingOnAltPorts": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of IP addresses, where the certificate is attached, but port 443 is not open."
          }
        },
        "resolved": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of IP addresses resolved from the domain's A/AAAA records. Can contain both ipv4 and ipv6 addresses."
          }
        },
        "serving": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of IP addresses, where the certificate is attached and port 443 is open."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IPs troubleshooting information."
      }
    },
    "com.gcp.certificatemanager_v1#ProvisioningIssue": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "com.gcp.certificatemanager_v1#ProvisioningIssueReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reason for provisioning failures."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human readable explanation about the issue. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use Reason enum."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about issues with provisioning a Managed Certificate."
      }
    },
    "com.gcp.certificatemanager_v1#ProvisioningIssueReasonEnum": {
      "type": "enum",
      "members": {
        "REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_UNSPECIFIED"
          }
        },
        "AUTHORIZATION_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZATION_ISSUE"
          }
        },
        "RATE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMITED"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMap": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the Certificate Map. Certificate Map names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*`."
          }
        },
        "gclbTargets": {
          "target": "com.gcp.certificatemanager_v1#GclbTargetList",
          "traits": {
            "smithy.api#documentation": "Output only. A list of GCLB targets that use this Certificate Map. A Target Proxy is only present on this list if it's attached to a Forwarding Rule."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update timestamp of a Certificate Map."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a certificate map."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a Certificate Map."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a Certificate Map."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a collection of certificate configurations."
      }
    },
    "com.gcp.certificatemanager_v1#GclbTargetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#GclbTarget"
      }
    },
    "com.gcp.certificatemanager_v1#UsedBy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, e.g. `//certificatemanager.googleapis.com/projects/*/locations/*/certificateMaps/*/certificateMapEntries/*` or `//compute.googleapis.com/projects/*/locations/*/targetHttpsProxies/*`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a resource that uses the certificate."
      }
    },
    "com.gcp.certificatemanager_v1#TrustConfig": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
          }
        },
        "spiffeTrustStores": {
          "target": "com.gcp.certificatemanager_v1#TrustStoreMap",
          "traits": {
            "smithy.api#documentation": "Optional. Defines a mapping from a trust domain to a TrustStore. This is used for SPIFFE certificate validation."
          }
        },
        "trustStores": {
          "target": "com.gcp.certificatemanager_v1#TrustStoreList",
          "traits": {
            "smithy.api#documentation": "Optional. Set of trust stores to perform validation against. This field is supported when TrustConfig is configured with Load Balancers, currently not supported for SPIFFE certificate validation. Only one TrustStore specified is currently allowed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a TrustConfig."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`."
          }
        },
        "allowlistedCertificates": {
          "target": "com.gcp.certificatemanager_v1#AllowlistedCertificateList",
          "traits": {
            "smithy.api#documentation": "Optional. A certificate matching an allowlisted certificate is always considered valid as long as the certificate is parseable, proof of private key possession is established, and constraints on the certificate's SAN field are met."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a TrustConfig."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a TrustConfig."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a TrustConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a trust config."
      }
    },
    "com.gcp.certificatemanager_v1#TrustStoreMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.certificatemanager_v1#TrustStore"
      }
    },
    "com.gcp.certificatemanager_v1#TrustStoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#TrustStore"
      }
    },
    "com.gcp.certificatemanager_v1#AllowlistedCertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#AllowlistedCertificate"
      }
    },
    "com.gcp.certificatemanager_v1#CertificateAuthorityConfig": {
      "type": "structure",
      "members": {
        "certificateAuthorityServiceConfig": {
          "target": "com.gcp.certificatemanager_v1#CertificateAuthorityServiceConfig",
          "traits": {
            "smithy.api#documentation": "Defines a CertificateAuthorityServiceConfig."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CA that issues the workload certificate. It includes CA address, type, authentication to CA service, etc."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMapEntry": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a certificate map entry."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a Certificate Map Entry."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a Certificate Map Entry."
          }
        },
        "certificates": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. A set of Certificates defines for the given `hostname`. There can be defined up to four certificates in each Certificate Map Entry. Each certificate must match pattern `projects/*/locations/*/certificates/*`."
          }
        },
        "matcher": {
          "target": "com.gcp.certificatemanager_v1#CertificateMapEntryMatcherEnum",
          "traits": {
            "smithy.api#documentation": "A predefined matcher for particular cases, other than SNI selection."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the Certificate Map Entry. Certificate Map Entry names must be unique globally and match pattern `projects/*/locations/*/certificateMaps/*/certificateMapEntries/*`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The update timestamp of a Certificate Map Entry."
          }
        },
        "state": {
          "target": "com.gcp.certificatemanager_v1#CertificateMapEntryStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. A serving state of this Certificate Map Entry."
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Hostname (FQDN, e.g. `example.com`) or a wildcard hostname expression (`*.example.com`) for a set of hostnames with common suffix. Used as Server Name Indication (SNI) for selecting a proper certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a certificate map entry."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMapEntryMatcherEnum": {
      "type": "enum",
      "members": {
        "MATCHER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHER_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMapEntryStateEnum": {
      "type": "enum",
      "members": {
        "SERVING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVING_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListCertificateIssuanceConfigsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "certificateIssuanceConfigs": {
          "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfigList",
          "traits": {
            "smithy.api#documentation": "A list of certificate configs for the parent resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCertificateIssuanceConfigs` method."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateIssuanceConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfig"
      }
    },
    "com.gcp.certificatemanager_v1#AuthorizationAttemptInfo": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the domain for managed certificate issuance."
          }
        },
        "details": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human readable explanation for reaching the state. Provided to help address the configuration issues. Not guaranteed to be stable. For programmatic access use FailureReason enum."
          }
        },
        "failureReason": {
          "target": "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoFailureReasonEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reason for failure of the authorization attempt for the domain."
          }
        },
        "troubleshooting": {
          "target": "com.gcp.certificatemanager_v1#Troubleshooting",
          "traits": {
            "smithy.api#documentation": "Output only. Troubleshooting information for the authorization attempt. This field is only populated if the authorization attempt failed."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Domain name of the authorization attempt."
          }
        },
        "attemptTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp, when the authorization attempt was made."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the latest attempt to authorize a domain for certificate issuance."
      }
    },
    "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "AUTHORIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZING"
          }
        },
        "AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoFailureReasonEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "RATE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RATE_LIMITED"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#Troubleshooting": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.gcp.certificatemanager_v1#TroubleshootingIssuesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of issues discovered during the authorization attempt."
          }
        },
        "cname": {
          "target": "com.gcp.certificatemanager_v1#CNAME",
          "traits": {
            "smithy.api#documentation": "Output only. CNAME troubleshooting information."
          }
        },
        "ips": {
          "target": "com.gcp.certificatemanager_v1#IPs",
          "traits": {
            "smithy.api#documentation": "Output only. IPs troubleshooting information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Troubleshooting information for the authorization attempt."
      }
    },
    "com.gcp.certificatemanager_v1#TroubleshootingIssuesItemEnum": {
      "type": "enum",
      "members": {
        "ISSUE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE_UNSPECIFIED"
          }
        },
        "CNAME_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME_MISMATCH"
          }
        },
        "RESOLVED_TO_NOT_SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED_TO_NOT_SERVING"
          }
        },
        "RESOLVED_TO_SERVING_ON_ALT_PORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED_TO_SERVING_ON_ALT_PORTS"
          }
        },
        "NO_RESOLVED_IPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_RESOLVED_IPS"
          }
        },
        "CERTIFICATE_NOT_ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_NOT_ATTACHED"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#TroubleshootingIssuesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#TroubleshootingIssuesItemEnum"
      }
    },
    "com.gcp.certificatemanager_v1#AllowlistedCertificate": {
      "type": "structure",
      "members": {
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. PEM certificate that is allowlisted. The certificate can be up to 5k bytes, and must be a parseable X.509 certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an allowlisted certificate."
      }
    },
    "com.gcp.certificatemanager_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateAuthorityServiceConfig": {
      "type": "structure",
      "members": {
        "caPool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A CA pool resource used to issue a certificate. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information required to contact CA service."
      }
    },
    "com.gcp.certificatemanager_v1#ManagedCertificate": {
      "type": "structure",
      "members": {
        "dnsAuthorizations": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Authorizations that will be used for performing domain authorization."
          }
        },
        "issuanceConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The resource name for a CertificateIssuanceConfig used to configure private PKI certificates in the format `projects/*/locations/*/certificateIssuanceConfigs/*`. If this field is not set, the certificates will instead be publicly signed as documented at https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#caa."
          }
        },
        "domains": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The domains for which a managed SSL certificate will be generated. Wildcard domains are only supported with DNS challenge resolution."
          }
        },
        "state": {
          "target": "com.gcp.certificatemanager_v1#ManagedCertificateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the managed certificate resource."
          }
        },
        "authorizationAttemptInfo": {
          "target": "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed state of the latest authorization attempt for each domain specified for managed certificate resource."
          }
        },
        "provisioningIssue": {
          "target": "com.gcp.certificatemanager_v1#ProvisioningIssue",
          "traits": {
            "smithy.api#documentation": "Output only. Information about issues with provisioning a Managed Certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration and state of a Managed Certificate. Certificate Manager provisions and renews Managed Certificates automatically, for as long as it's authorized to do so."
      }
    },
    "com.gcp.certificatemanager_v1#ManagedCertificateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#AuthorizationAttemptInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#AuthorizationAttemptInfo"
      }
    },
    "com.gcp.certificatemanager_v1#ListDnsAuthorizationsResponse": {
      "type": "structure",
      "members": {
        "dnsAuthorizations": {
          "target": "com.gcp.certificatemanager_v1#DnsAuthorizationList",
          "traits": {
            "smithy.api#documentation": "A list of dns authorizations for the parent resource."
          }
        },
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListDnsAuthorizations` method."
      }
    },
    "com.gcp.certificatemanager_v1#DnsAuthorizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#DnsAuthorization"
      }
    },
    "com.gcp.certificatemanager_v1#Operation": {
      "type": "structure",
      "members": {
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.certificatemanager_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.certificatemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.certificatemanager_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.certificatemanager_v1#ListCertificateMapsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "certificateMaps": {
          "target": "com.gcp.certificatemanager_v1#CertificateMapList",
          "traits": {
            "smithy.api#documentation": "A list of certificate maps for the parent resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCertificateMaps` method."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#CertificateMap"
      }
    },
    "com.gcp.certificatemanager_v1#OperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the verb executed by the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API version used to start the operation."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-defined resource path for the target of the operation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable status of the operation, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation. Output only."
      }
    },
    "com.gcp.certificatemanager_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.certificatemanager_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.certificatemanager_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      }
    },
    "com.gcp.certificatemanager_v1#ListCertificateMapEntriesResponse": {
      "type": "structure",
      "members": {
        "certificateMapEntries": {
          "target": "com.gcp.certificatemanager_v1#CertificateMapEntryList",
          "traits": {
            "smithy.api#documentation": "A list of certificate map entries for the parent resource."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCertificateMapEntries` method."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateMapEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#CertificateMapEntry"
      }
    },
    "com.gcp.certificatemanager_v1#IntermediateCA": {
      "type": "structure",
      "members": {
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM intermediate certificate used for building up paths for validation. Each certificate provided in PEM format may occupy up to 5kB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an intermediate CA."
      }
    },
    "com.gcp.certificatemanager_v1#DnsResourceRecord": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Fully qualified name of the DNS Resource Record. e.g. `_acme-challenge.example.com`"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Data of the DNS Resource Record."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Type of the DNS Resource Record. Currently always set to \"CNAME\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The structure describing the DNS Resource Record that needs to be added to DNS configuration for the authorization to be usable by certificate."
      }
    },
    "com.gcp.certificatemanager_v1#ListCertificatesResponse": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.gcp.certificatemanager_v1#CertificateList",
          "traits": {
            "smithy.api#documentation": "A list of certificates for the parent resource."
          }
        },
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListCertificates` method."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#Certificate"
      }
    },
    "com.gcp.certificatemanager_v1#CertificateIssuanceConfig": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a CertificateIssuanceConfig."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a CertificateIssuanceConfig."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a CertificateIssuanceConfig."
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Workload certificate lifetime requested."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a CertificateIssuanceConfig."
          }
        },
        "keyAlgorithm": {
          "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfigKeyAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Required. The key algorithm to use when generating the private key."
          }
        },
        "rotationWindowPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Specifies the percentage of elapsed time of the certificate lifetime to wait before renewing the certificate. Must be a number between 1-99, inclusive."
          }
        },
        "certificateAuthorityConfig": {
          "target": "com.gcp.certificatemanager_v1#CertificateAuthorityConfig",
          "traits": {
            "smithy.api#documentation": "Required. The CA that issues the workload certificate. It includes the CA address, type, authentication to CA service, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CertificateIssuanceConfig specifies how to issue and manage a certificate."
      }
    },
    "com.gcp.certificatemanager_v1#CertificateIssuanceConfigKeyAlgorithmEnum": {
      "type": "enum",
      "members": {
        "KEY_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_ALGORITHM_UNSPECIFIED"
          }
        },
        "RSA_2048": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA_2048"
          }
        },
        "ECDSA_P256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECDSA_P256"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListTrustConfigsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        },
        "unreachable": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "trustConfigs": {
          "target": "com.gcp.certificatemanager_v1#TrustConfigList",
          "traits": {
            "smithy.api#documentation": "A list of TrustConfigs for the parent resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the `ListTrustConfigs` method."
      }
    },
    "com.gcp.certificatemanager_v1#TrustConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#TrustConfig"
      }
    },
    "com.gcp.certificatemanager_v1#GclbTarget": {
      "type": "structure",
      "members": {
        "targetHttpsProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetHttpsProxies/*`."
          }
        },
        "targetSslProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field returns the resource name in the following format: `//compute.googleapis.com/projects/*/global/targetSslProxies/*`."
          }
        },
        "ipConfigs": {
          "target": "com.gcp.certificatemanager_v1#IpConfigList",
          "traits": {
            "smithy.api#documentation": "Output only. IP configurations for this Target Proxy where the Certificate Map is serving."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Target Proxy that uses this Certificate Map."
      }
    },
    "com.gcp.certificatemanager_v1#IpConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#IpConfig"
      }
    },
    "com.gcp.certificatemanager_v1#DnsAuthorization": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The creation timestamp of a DnsAuthorization."
          }
        },
        "labels": {
          "target": "com.gcp.certificatemanager_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Set of labels associated with a DnsAuthorization."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. One or more paragraphs of text description of a DnsAuthorization."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. A domain that is being authorized. A DnsAuthorization resource covers a single domain and its wildcard, e.g. authorization for `example.com` can be used to issue certificates for `example.com` and `*.example.com`."
          }
        },
        "type": {
          "target": "com.gcp.certificatemanager_v1#DnsAuthorizationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Type of DnsAuthorization. If unset during resource creation the following default will be used: - in location `global`: FIXED_RECORD, - in other locations: PER_PROJECT_RECORD."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the dns authorization. DnsAuthorization names must be unique globally and match pattern `projects/*/locations/*/dnsAuthorizations/*`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last update timestamp of a DnsAuthorization."
          }
        },
        "dnsResourceRecord": {
          "target": "com.gcp.certificatemanager_v1#DnsResourceRecord",
          "traits": {
            "smithy.api#documentation": "Output only. DNS Resource Record that needs to be added to DNS configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DnsAuthorization resource describes a way to perform domain authorization for certificate issuance."
      }
    },
    "com.gcp.certificatemanager_v1#DnsAuthorizationTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "FIXED_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_RECORD"
          }
        },
        "PER_PROJECT_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_PROJECT_RECORD"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#SelfManagedCertificate": {
      "type": "structure",
      "members": {
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The PEM-encoded certificate chain. Leaf certificate comes first, followed by intermediate ones if any."
          }
        },
        "pemPrivateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The PEM-encoded private key of the leaf certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Certificate data for a SelfManaged Certificate. SelfManaged Certificates are uploaded by the user. Updating such certificates before they expire remains the user's responsibility."
      }
    },
    "com.gcp.certificatemanager_v1#TrustAnchor": {
      "type": "structure",
      "members": {
        "pemCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM root certificate of the PKI used for validation. Each certificate provided in PEM format may occupy up to 5kB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a trust anchor."
      }
    },
    "com.gcp.certificatemanager_v1#ManagedIdentityCertificate": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. SPIFFE ID of the Managed Identity used for this certificate."
          }
        },
        "provisioningIssue": {
          "target": "com.gcp.certificatemanager_v1#ProvisioningIssue",
          "traits": {
            "smithy.api#documentation": "Output only. Information about issues with provisioning a managed certificate."
          }
        },
        "state": {
          "target": "com.gcp.certificatemanager_v1#ManagedIdentityCertificateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the managed certificate resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration and state of a Managed Identity Certificate. Certificate Manager provisions and renews Managed Identity Certificates automatically, for as long as it's authorized to do so."
      }
    },
    "com.gcp.certificatemanager_v1#ManagedIdentityCertificateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.certificatemanager_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.certificatemanager_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.certificatemanager_v1#Location"
      }
    },
    "com.gcp.certificatemanager_v1#IpConfig": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An external IP address."
          }
        },
        "ports": {
          "target": "com.gcp.certificatemanager_v1#IntegerList",
          "traits": {
            "smithy.api#documentation": "Output only. Ports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines IP configuration where this Certificate Map is serving."
      }
    },
    "com.gcp.certificatemanager_v1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.certificatemanager_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Location"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.certificatemanager_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificateIssuanceConfigsRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the certificate issuance config. CertificateIssuanceConfig names must be unique globally and match pattern `projects/*/locations/*/certificateIssuanceConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.certificatemanager_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificateIssuanceConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificateIssuanceConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a CertificateIssuanceConfig."
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificateIssuanceConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of certificate configs to return per call.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value returned by the last `ListCertificateIssuanceConfigsResponse`. Indicates that this is a continuation of a prior `ListCertificateIssuanceConfigs` call, and that the system should return the next page of data.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to restrict the Certificates Configs returned.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Certificate Config field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificateIssuanceConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificateIssuanceConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#ListCertificateIssuanceConfigsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/certificateIssuanceConfigs"
        },
        "smithy.api#documentation": "Lists CertificateIssuanceConfigs in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificateIssuanceConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource of the certificate issuance config. Must be in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificateIssuanceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A user-provided name of the certificate config.",
            "smithy.api#httpQuery": "certificateIssuanceConfigId"
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificateIssuanceConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificateIssuanceConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/certificateIssuanceConfigs"
        },
        "smithy.api#documentation": "Creates a new CertificateIssuanceConfig in a given project and location."
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificateIssuanceConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the certificate issuance config to describe. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificateIssuanceConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificateIssuanceConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#CertificateIssuanceConfig"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single CertificateIssuanceConfig."
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificateIssuanceConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the certificate issuance config to delete. Must be in the format `projects/*/locations/*/certificateIssuanceConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificateIssuanceConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificateIssuanceConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single CertificateIssuanceConfig."
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsTrustConfigsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource of the TrustConfig. Must be in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trustConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A user-provided name of the TrustConfig. Must match the regexp `[a-z0-9-]{1,63}`.",
            "smithy.api#httpQuery": "trustConfigId"
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#TrustConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsTrustConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#CreateProjectsLocationsTrustConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/trustConfigs"
        },
        "smithy.api#documentation": "Creates a new TrustConfig in a given project and location."
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsTrustConfigsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to restrict the TrustConfigs returned.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A list of TrustConfig field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location from which the TrustConfigs should be listed, specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of TrustConfigs to return per call.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value returned by the last `ListTrustConfigsResponse`. Indicates that this is a continuation of a prior `ListTrustConfigs` call, and that the system should return the next page of data.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsTrustConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#ListProjectsLocationsTrustConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#ListTrustConfigsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/trustConfigs"
        },
        "smithy.api#documentation": "Lists TrustConfigs in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsTrustConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the trust config. TrustConfig names must be unique globally and match pattern `projects/*/locations/*/trustConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#TrustConfig",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsTrustConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#PatchProjectsLocationsTrustConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a TrustConfig."
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsTrustConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the TrustConfig to delete. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The current etag of the TrustConfig. If an etag is provided and does not match the current etag of the resource, deletion will be blocked and an ABORTED error will be returned.",
            "smithy.api#httpQuery": "etag"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsTrustConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#DeleteProjectsLocationsTrustConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single TrustConfig."
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsTrustConfigsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the TrustConfig to describe. Must be in the format `projects/*/locations/*/trustConfigs/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsTrustConfigs": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#GetProjectsLocationsTrustConfigsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#TrustConfig"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single TrustConfig."
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificatesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. A user-defined name of the certificate. Certificate names must be unique globally and match pattern `projects/*/locations/*/certificates/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#Certificate",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#PatchProjectsLocationsCertificatesRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a Certificate."
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificatesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource of the certificate. Must be in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "certificateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A user-provided name of the certificate.",
            "smithy.api#httpQuery": "certificateId"
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#Certificate",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#CreateProjectsLocationsCertificatesRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/certificates"
        },
        "smithy.api#documentation": "Creates a new Certificate in a given project and location."
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificatesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location from which the certificate should be listed, specified in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of certificates to return per call.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The value returned by the last `ListCertificatesResponse`. Indicates that this is a continuation of a prior `ListCertificates` call, and that the system should return the next page of data.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to restrict the Certificates returned.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A list of Certificate field names used to specify the order of the returned results. The default sorting order is ascending. To specify descending order for a field, add a suffix `\" desc\"`.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#ListProjectsLocationsCertificatesRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#ListCertificatesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/certificates"
        },
        "smithy.api#documentation": "Lists Certificates in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificatesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the certificate to describe. Must be in the format `projects/*/locations/*/certificates/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#GetProjectsLocationsCertificatesRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Certificate"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Certificate."
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificatesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the certificate to delete. Must be in the format `projects/*/locations/*/certificates/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificates": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#DeleteProjectsLocationsCertificatesRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Certificate."
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsDnsAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the dns authorization to delete. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#DeleteProjectsLocationsDnsAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#DeleteProjectsLocationsDnsAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a single DnsAuthorization."
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsDnsAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A name of the dns authorization to describe. Must be in the format `projects/*/locations/*/dnsAuthorizations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#GetProjectsLocationsDnsAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#GetProjectsLocationsDnsAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#DnsAuthorization"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single DnsAuthorization."
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsDnsAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource of the dns authorization. Must be in the format `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dnsAuthorizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A user-provided name of the dns authorization.",
            "smithy.api#httpQuery": "dnsAuthorizationId"
          }
        },
        "body": {
          "target": "com.gcp.certificatemanager_v1#DnsAuthorization",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.certificatemanager_v1#CreateProjectsLocationsDnsAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.certificatemanager_v1#CreateProjectsLocationsDnsAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.certificatemanager_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.certificatemanager_v1#NotFound"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Forbidden"
        },
        {
          "target": "com.gcp.certificatemanager_v1#BadRequest"
        },
        {
          "target": "com.gcp.certificatemanager_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/dnsAuthorizations"
        },
        "smithy.api#documentation": "Creates a new DnsAuthorization in a given project and location."
      }
    },
    "com.gcp.certificatemanager_v1#ListProjectsLocationsDnsAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Maximum number of dns authorizations to return per call.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
[...]
