{
  "smithy": "2.0",
  "metadata": {
    "service": "ces",
    "version": "v1",
    "title": "Gemini Enterprise for Customer Experience API",
    "baseUrl": "https://ces.googleapis.com/"
  },
  "shapes": {
    "com.gcp.ces_v1#WidgetToolDataMapping": {
      "type": "structure",
      "members": {
        "sourceToolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the tool that provides the data for the widget (e.g., a search tool or a custom function). Format: `projects/{project}/locations/{location}/agents/{agent}/tools/{tool}`"
          }
        },
        "fieldMappings": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. A map of widget input parameter fields to the corresponding output fields of the source tool."
          }
        },
        "pythonFunction": {
          "target": "com.gcp.ces_v1#PythonFunction",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for a Python function used to transform the source tool's output into the widget's input format."
          }
        },
        "pythonScript": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use `python_function` instead."
          }
        },
        "mode": {
          "target": "com.gcp.ces_v1#WidgetToolDataMappingModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The mode of the data mapping."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for mapping data from a source tool to the widget's input parameters."
      }
    },
    "com.gcp.ces_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#WidgetToolDataMappingModeEnum": {
      "type": "enum",
      "members": {
        "MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODE_UNSPECIFIED"
          }
        },
        "FIELD_MAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_MAPPING"
          }
        },
        "PYTHON_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON_SCRIPT"
          }
        }
      }
    },
    "com.gcp.ces_v1#ServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of [Service Directory](https://cloud.google.com/service-directory) service. Format: `projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}`. Location of the service directory must be the same as the location of the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for tools using Service Directory."
      }
    },
    "com.gcp.ces_v1#MockConfig": {
      "type": "structure",
      "members": {
        "mockedToolCalls": {
          "target": "com.gcp.ces_v1#MockedToolCallList",
          "traits": {
            "smithy.api#documentation": "Optional. All tool calls to mock for the duration of the session."
          }
        },
        "unmatchedToolCallBehavior": {
          "target": "com.gcp.ces_v1#MockConfigUnmatchedToolCallBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Required. Beavhior for tool calls that don't match any args patterns in mocked_tool_calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mock tool calls configuration for the session."
      }
    },
    "com.gcp.ces_v1#MockedToolCallList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#MockedToolCall"
      }
    },
    "com.gcp.ces_v1#MockConfigUnmatchedToolCallBehaviorEnum": {
      "type": "enum",
      "members": {
        "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMATCHED_TOOL_CALL_BEHAVIOR_UNSPECIFIED"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "PASS_THROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASS_THROUGH"
          }
        }
      }
    },
    "com.gcp.ces_v1#RetrieveToolsResponse": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.ces_v1#ToolList",
          "traits": {
            "smithy.api#documentation": "The list of tools that are included in the specified toolset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ToolService.RetrieveTools."
      }
    },
    "com.gcp.ces_v1#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Tool"
      }
    },
    "com.gcp.ces_v1#GoogleSearchToolPromptConfig": {
      "type": "structure",
      "members": {
        "voicePrompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the prompt used for the system instructions when interacting with the agent in voice conversations. If not set, default prompt will be used."
          }
        },
        "textPrompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Defines the prompt used for the system instructions when interacting with the agent in chat conversations. If not set, default prompt will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Prompt settings used by the model when processing or summarizing the google search results."
      }
    },
    "com.gcp.ces_v1#LfA2aV1Part": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. metadata associated with this part."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A `url` pointing to the file's content."
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null)."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional `filename` for the file (e.g., \"document.pdf\")."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string content of the `text` part."
          }
        },
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
      }
    },
    "com.gcp.ces_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ces_v1#LfA2aV1AuthenticationInfo": {
      "type": "structure",
      "members": {
        "scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. HTTP Authentication Scheme from the [IANA registry](https://www.iana.org/assignments/http-authschemes/). Examples: `Bearer`, `Basic`, `Digest`. Scheme names are case-insensitive per [RFC 9110 Section 11.1](https://www.rfc-editor.org/rfc/rfc9110#section-11.1)."
          }
        },
        "credentials": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Push Notification credentials. Format depends on the scheme (e.g., token for Bearer)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines authentication details, used for push notifications."
      }
    },
    "com.gcp.ces_v1#DataStoreToolSummarizationConfig": {
      "type": "structure",
      "members": {
        "modelSettings": {
          "target": "com.gcp.ces_v1#ModelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configurations for the LLM model."
          }
        },
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The prompt definition. If not set, default prompt will be used."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether summarization is disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summarization configuration."
      }
    },
    "com.gcp.ces_v1#TriggerActionTransferAgent": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the agent to transfer the conversation to. The agent must be in the same app as the current agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent will transfer the conversation to a different agent."
      }
    },
    "com.gcp.ces_v1#AgentInterface": {
      "type": "structure",
      "members": {
        "protocolBinding": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding supported at this URL. This is an open form string, to be easily extended for other protocol bindings. The core ones officially supported are `JSONRPC`, `GRPC` and `HTTP+JSON`."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant ID to be used in the request when calling the agent."
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The version of the A2A protocol this interface exposes. Use the latest supported minor version per major version. Examples: \"0.3\", \"1.0\""
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL where this interface is available. Must be a valid absolute HTTPS URL in production. Example: \"https://api.example.com/a2a/v1\", \"https://grpc.example.com/a2a\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Declares a combination of a target URL, transport and protocol version for interacting with the agent. This allows agents to expose the same functionality over multiple protocol binding mechanisms."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfig": {
      "type": "structure",
      "members": {
        "prebuiltAmbientNoise": {
          "target": "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
          }
        },
        "volumeGainDb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
          }
        },
        "prebuiltAmbientSound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum": {
      "type": "enum",
      "members": {
        "PREBUILT_AMBIENT_NOISE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREBUILT_AMBIENT_NOISE_UNSPECIFIED"
          }
        },
        "RETAIL_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETAIL_STORE"
          }
        },
        "CONVENTION_HALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVENTION_HALL"
          }
        },
        "OUTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR"
          }
        }
      }
    },
    "com.gcp.ces_v1#TimeZoneSettings": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time zone of the app from the [time zone database](https://www.iana.org/time-zones), e.g., America/Los_Angeles, Europe/Paris."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TimeZone settings of the app."
      }
    },
    "com.gcp.ces_v1#Deployment": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this deployment was last updated."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this deployment was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the deployment. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
          }
        },
        "channelProfile": {
          "target": "com.gcp.ces_v1#ChannelProfile",
          "traits": {
            "smithy.api#documentation": "Required. The channel profile used in the deployment."
          }
        },
        "experimentConfig": {
          "target": "com.gcp.ces_v1#ExperimentConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Experiment configuration for the deployment."
          }
        },
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the app version to deploy. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}` Use `projects/{project}/locations/{location}/apps/{app}/versions/-` to use the draft app."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A deployment represents an immutable, queryable version of the app. It is used to deploy an app version with a specific channel profile."
      }
    },
    "com.gcp.ces_v1#GuardrailContentFilter": {
      "type": "structure",
      "members": {
        "bannedContentsInUserInput": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies only to user inputs."
          }
        },
        "matchType": {
          "target": "com.gcp.ces_v1#GuardrailContentFilterMatchTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Match type for the content filter."
          }
        },
        "bannedContentsInAgentResponse": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies only to agent responses."
          }
        },
        "disregardDiacritics": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, diacritics are ignored during matching."
          }
        },
        "bannedContents": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of banned phrases. Applies to both user inputs and agent responses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guardrail that bans certain content from being used in the conversation."
      }
    },
    "com.gcp.ces_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#GuardrailContentFilterMatchTypeEnum": {
      "type": "enum",
      "members": {
        "MATCH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_TYPE_UNSPECIFIED"
          }
        },
        "SIMPLE_STRING_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE_STRING_MATCH"
          }
        },
        "WORD_BOUNDARY_STRING_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORD_BOUNDARY_STRING_MATCH"
          }
        },
        "REGEXP_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGEXP_MATCH"
          }
        }
      }
    },
    "com.gcp.ces_v1#ToolResponses": {
      "type": "structure",
      "members": {
        "toolResponses": {
          "target": "com.gcp.ces_v1#ToolResponseList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of tool execution results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution results for the requested tool calls from the client."
      }
    },
    "com.gcp.ces_v1#ToolResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#ToolResponse"
      }
    },
    "com.gcp.ces_v1#RunSessionRequest": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.ces_v1#SessionConfig",
          "traits": {
            "smithy.api#documentation": "Required. The configuration for the session."
          }
        },
        "inputs": {
          "target": "com.gcp.ces_v1#SessionInputList",
          "traits": {
            "smithy.api#documentation": "Required. Inputs for the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SessionService.RunSession."
      }
    },
    "com.gcp.ces_v1#SessionInputList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#SessionInput"
      }
    },
    "com.gcp.ces_v1#ConversationLoggingSettings": {
      "type": "structure",
      "members": {
        "disableConversationLogging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to disable conversation logging for the sessions."
          }
        },
        "retentionWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Controls the retention window for the conversation. If not set, the conversation will be retained for 365 days."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the conversation logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "structure",
      "members": {
        "interpolationType": {
          "target": "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecInterpolationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The interpolation type to be applied to connect the control points listed below."
          }
        },
        "controlPoints": {
          "target": "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPointList",
          "traits": {
            "smithy.api#documentation": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the field whose value will be used to determine the boost amount."
          }
        },
        "attributeType": {
          "target": "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecAttributeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecInterpolationTypeEnum": {
      "type": "enum",
      "members": {
        "INTERPOLATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATION_TYPE_UNSPECIFIED"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR"
          }
        }
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpecAttributeTypeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_TYPE_UNSPECIFIED"
          }
        },
        "NUMERICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERICAL"
          }
        },
        "FRESHNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRESHNESS"
          }
        }
      }
    },
    "com.gcp.ces_v1#BatchDeleteConversationsRequest": {
      "type": "structure",
      "members": {
        "conversations": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The resource names of the conversations to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AgentService.BatchDeleteConversations."
      }
    },
    "com.gcp.ces_v1#Span": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the span."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the span."
          }
        },
        "childSpans": {
          "target": "com.gcp.ces_v1#SpanList",
          "traits": {
            "smithy.api#documentation": "Output only. The child spans that are nested under this span."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the span."
          }
        },
        "attributes": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. Key-value attributes associated with the span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span is a unit of work or a single operation during the request processing."
      }
    },
    "com.gcp.ces_v1#SpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Span"
      }
    },
    "com.gcp.ces_v1#InputAudioConfig": {
      "type": "structure",
      "members": {
        "audioEncoding": {
          "target": "com.gcp.ces_v1#InputAudioConfigAudioEncodingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The encoding of the input audio data."
          }
        },
        "noiseSuppressionLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable noise suppression on the input audio. Available values are \"low\", \"moderate\", \"high\", \"very_high\"."
          }
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The sample rate (in Hertz) of the input audio data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InputAudioConfig configures how the CES agent should interpret the incoming audio data."
      }
    },
    "com.gcp.ces_v1#InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "LINEAR16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINEAR16"
          }
        },
        "MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULAW"
          }
        },
        "ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALAW"
          }
        }
      }
    },
    "com.gcp.ces_v1#ListAppsResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.gcp.ces_v1#AppList",
          "traits": {
            "smithy.api#documentation": "The list of apps."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListApps."
      }
    },
    "com.gcp.ces_v1#AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#App"
      }
    },
    "com.gcp.ces_v1#EndUserAuthConfig": {
      "type": "structure",
      "members": {
        "oauth2JwtBearerConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfigOauth2JwtBearerConfig",
          "traits": {
            "smithy.api#documentation": "JWT Profile Oauth 2.0 Authorization Grant authentication."
          }
        },
        "oauth2AuthCodeConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfigOauth2AuthCodeConfig",
          "traits": {
            "smithy.api#documentation": "Oauth 2.0 Authorization Code authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`."
      }
    },
    "com.gcp.ces_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.ces_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.ces_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DocumentMap"
      }
    },
    "com.gcp.ces_v1#TransferRuleDeterministicTransfer": {
      "type": "structure",
      "members": {
        "pythonCodeCondition": {
          "target": "com.gcp.ces_v1#PythonCodeCondition",
          "traits": {
            "smithy.api#documentation": "Optional. A rule that uses Python code block to evaluate the conditions. If the condition evaluates to true, the transfer occurs."
          }
        },
        "expressionCondition": {
          "target": "com.gcp.ces_v1#ExpressionCondition",
          "traits": {
            "smithy.api#documentation": "Optional. A rule that evaluates a session state condition. If the condition evaluates to true, the transfer occurs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deterministic transfer rule. When the condition evaluates to true, the transfer occurs."
      }
    },
    "com.gcp.ces_v1#AppSnapshot": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.ces_v1#ToolList",
          "traits": {
            "smithy.api#documentation": "Optional. List of tools in the app."
          }
        },
        "app": {
          "target": "com.gcp.ces_v1#App",
          "traits": {
            "smithy.api#documentation": "Optional. The basic settings for the app."
          }
        },
        "examples": {
          "target": "com.gcp.ces_v1#ExampleList",
          "traits": {
            "smithy.api#documentation": "Optional. List of examples in the app."
          }
        },
        "guardrails": {
          "target": "com.gcp.ces_v1#GuardrailList",
          "traits": {
            "smithy.api#documentation": "Optional. List of guardrails in the app."
          }
        },
        "toolsets": {
          "target": "com.gcp.ces_v1#ToolsetList",
          "traits": {
            "smithy.api#documentation": "Optional. List of toolsets in the app."
          }
        },
        "agents": {
          "target": "com.gcp.ces_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "Optional. List of agents in the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A snapshot of the app."
      }
    },
    "com.gcp.ces_v1#ExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Example"
      }
    },
    "com.gcp.ces_v1#GuardrailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Guardrail"
      }
    },
    "com.gcp.ces_v1#ToolsetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Toolset"
      }
    },
    "com.gcp.ces_v1#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Agent"
      }
    },
    "com.gcp.ces_v1#ExportAppResponse": {
      "type": "structure",
      "members": {
        "appUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which the app was exported."
          }
        },
        "appContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App folder compressed as a zip file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ExportApp."
      }
    },
    "com.gcp.ces_v1#AppVersion": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the app version was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the app version. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the app version."
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email of the user who created the app version."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the app version."
          }
        },
        "snapshot": {
          "target": "com.gcp.ces_v1#AppSnapshot",
          "traits": {
            "smithy.api#documentation": "Output only. The snapshot of the app when the version is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In Customer Engagement Suite (CES), an app version is a snapshot of the app at a specific point in time. It is immutable and cannot be modified once created."
      }
    },
    "com.gcp.ces_v1#AgentTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the agent tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the tool's purpose."
          }
        },
        "agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        },
        "rootAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `agent` instead. The resource name of the root agent that is the entry point of the tool. Format: `projects/{project}/locations/{location}/agents/{agent}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool that allows the agent to call another agent."
      }
    },
    "com.gcp.ces_v1#DataStoreConnectorConfig": {
      "type": "structure",
      "members": {
        "collectionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the collection the data store belongs to."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the data source. Example: `salesforce`, `jira`, `confluence`, `bigquery`."
          }
        },
        "collection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the collection the data store belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector config for the data store connection."
      }
    },
    "com.gcp.ces_v1#TransferRule": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.gcp.ces_v1#TransferRuleDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The direction of the transfer."
          }
        },
        "deterministicTransfer": {
          "target": "com.gcp.ces_v1#TransferRuleDeterministicTransfer",
          "traits": {
            "smithy.api#documentation": "Optional. A rule that immediately transfers to the target agent when the condition is met."
          }
        },
        "childAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "disablePlannerTransfer": {
          "target": "com.gcp.ces_v1#TransferRuleDisablePlannerTransfer",
          "traits": {
            "smithy.api#documentation": "Optional. Rule that prevents the planner from transferring to the target agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule for transferring to a specific agent."
      }
    },
    "com.gcp.ces_v1#TransferRuleDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "PARENT_TO_CHILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_TO_CHILD"
          }
        },
        "CHILD_TO_PARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHILD_TO_PARENT"
          }
        }
      }
    },
    "com.gcp.ces_v1#EndSession": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Provides additional information about the end session signal, such as the reason for ending the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the session has terminated, due to either successful completion (e.g. user says \"Good bye!\" ) or an agent escalation. The agent will not process any further inputs after session is terminated and the client should half-close and disconnect after receiving all remaining responses from the agent."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettings": {
      "type": "structure",
      "members": {
        "extraToolCallBehavior": {
          "target": "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Behavior for extra tool calls. Defaults to FAIL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for matching tool calls."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsToolMatchingSettingsExtraToolCallBehaviorEnum": {
      "type": "enum",
      "members": {
        "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRA_TOOL_CALL_BEHAVIOR_UNSPECIFIED"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIL"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        }
      }
    },
    "com.gcp.ces_v1#ImportAppRequestImportOptions": {
      "type": "structure",
      "members": {
        "conflictResolutionStrategy": {
          "target": "com.gcp.ces_v1#ImportAppRequestImportOptionsConflictResolutionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy to use when resolving conflicts during import."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
      }
    },
    "com.gcp.ces_v1#ImportAppRequestImportOptionsConflictResolutionStrategyEnum": {
      "type": "enum",
      "members": {
        "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        },
        "OVERWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERWRITE"
          }
        }
      }
    },
    "com.gcp.ces_v1#SessionConfig": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The time zone of the user. If provided, the agent will use the time zone for date and time related variables. Otherwise, the agent will use the time zone specified in the App.time_zone_settings. The format is the IANA Time Zone Database time zone, e.g. \"America/Los_Angeles\"."
          }
        },
        "outputAudioConfig": {
          "target": "com.gcp.ces_v1#OutputAudioConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for generating the output audio."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The deployment of the app to use for the session. Format: `projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}`"
          }
        },
        "useToolFakes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use tool fakes for the session. If this field is set, the agent will attempt use tool fakes instead of calling the real tools."
          }
        },
        "enableTextStreaming": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to enable streaming text outputs from the model. By default, text outputs from the model are collected before sending to the client. NOTE: This is only supported for text (non-voice) sessions via StreamRunSession or BidiRunSession."
          }
        },
        "entryAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The entry agent to handle the session. If not specified, the session will be handled by the root agent of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "historicalContexts": {
          "target": "com.gcp.ces_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "Optional. The historical context of the session, including user inputs, agent responses, and other messages. Typically, CES agent would manage session automatically so client doesn't need to explicitly populate this field. However, client can optionally override the historical contexts to force the session start from certain state."
          }
        },
        "inputAudioConfig": {
          "target": "com.gcp.ces_v1#InputAudioConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for processing the input audio."
          }
        },
        "remoteDialogflowQueryParameters": {
          "target": "com.gcp.ces_v1#SessionConfigRemoteDialogflowQueryParameters",
          "traits": {
            "smithy.api#documentation": "Optional. [QueryParameters](https://cloud.google.com/dialogflow/cx/docs/reference/rpc/google.cloud.dialogflow.cx.v3#queryparameters) to send to the remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent when the session control is transferred to the remote agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration for the session."
      }
    },
    "com.gcp.ces_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Message"
      }
    },
    "com.gcp.ces_v1#LoggingSettings": {
      "type": "structure",
      "members": {
        "redactionConfig": {
          "target": "com.gcp.ces_v1#RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how sensitive data should be redacted."
          }
        },
        "evaluationAudioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions."
          }
        },
        "metricAnalysisSettings": {
          "target": "com.gcp.ces_v1#MetricAnalysisSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
          }
        },
        "audioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
          }
        },
        "bigqueryExportSettings": {
          "target": "com.gcp.ces_v1#BigQueryExportSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig."
          }
        },
        "cloudLoggingSettings": {
          "target": "com.gcp.ces_v1#CloudLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the Cloud Logging behaviors for the app."
          }
        },
        "unredactedAudioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes."
          }
        },
        "conversationLoggingSettings": {
          "target": "com.gcp.ces_v1#ConversationLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation logging behaviors for the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1#OpenApiToolset": {
      "type": "structure",
      "members": {
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration."
          }
        },
        "ignoreUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.ces_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
          }
        },
        "openApiSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OpenAPI schema of the toolset."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required by the API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset that contains a list of tools that are defined by an OpenAPI schema."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholds": {
      "type": "structure",
      "members": {
        "overallToolInvocationCorrectnessThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The success threshold for overall tool invocation correctness. Must be a float between 0 and 1. Default is 1.0."
          }
        },
        "semanticSimilarityChannel": {
          "target": "com.gcp.ces_v1#EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholdsSemanticSimilarityChannelEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The semantic similarity channel to use for evaluation."
          }
        },
        "semanticSimilaritySuccessThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The success threshold for semantic similarity. Must be an integer between 0 and 4. Default is >= 3."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Turn level metrics thresholds."
      }
    },
    "com.gcp.ces_v1#EvaluationMetricsThresholdsGoldenEvaluationMetricsThresholdsTurnLevelMetricsThresholdsSemanticSimilarityChannelEnum": {
      "type": "enum",
      "members": {
        "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEMANTIC_SIMILARITY_CHANNEL_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.ces_v1#WidgetTool": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "Optional. The input parameters of the widget tool."
          }
        },
        "textResponseConfig": {
          "target": "com.gcp.ces_v1#WidgetToolTextResponseConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for always-included text responses."
          }
        },
        "dataMapping": {
          "target": "com.gcp.ces_v1#WidgetToolDataMapping",
          "traits": {
            "smithy.api#documentation": "Optional. The mapping that defines how data from a source tool is mapped to the widget's input parameters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name of the widget tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the widget tool."
          }
        },
        "widgetType": {
          "target": "com.gcp.ces_v1#WidgetToolWidgetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the widget tool. If not specified, the default type will be CUSTOMIZED."
          }
        },
        "uiConfig": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for rendering the widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a widget tool that the agent can invoke. When the tool is chosen by the agent, agent will return the widget to the client. The client is responsible for processing the widget and generating the next user query to continue the interaction with the agent."
      }
    },
    "com.gcp.ces_v1#WidgetToolWidgetTypeEnum": {
      "type": "enum",
      "members": {
        "WIDGET_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDGET_TYPE_UNSPECIFIED"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "PRODUCT_CAROUSEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_CAROUSEL"
          }
        },
        "PRODUCT_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_DETAILS"
          }
        },
        "QUICK_ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICK_ACTIONS"
          }
        },
        "PRODUCT_COMPARISON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_COMPARISON"
          }
        },
        "ADVANCED_PRODUCT_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVANCED_PRODUCT_DETAILS"
          }
        },
        "SHORT_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_FORM"
          }
        },
        "OVERALL_SATISFACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERALL_SATISFACTION"
          }
        },
        "ORDER_SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORDER_SUMMARY"
          }
        },
        "APPOINTMENT_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPOINTMENT_DETAILS"
          }
        },
        "APPOINTMENT_SCHEDULER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPOINTMENT_SCHEDULER"
          }
        },
        "CONTACT_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTACT_FORM"
          }
        }
      }
    },
    "com.gcp.ces_v1#OpenApiTool": {
      "type": "structure",
      "members": {
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration."
          }
        },
        "ignoreUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the agent will ignore unknown fields in the API response."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.ces_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates that the client will trust."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The server URL of the Open API schema. This field is only set in tools in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool. If not provided, the name of the tool will be derived from the OpenAPI schema, from `operation.operationId`."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the tool. If not provided, the description of the tool will be derived from the OpenAPI schema, from `operation.description` or `operation.summary`."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required by the API."
          }
        },
        "openApiSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OpenAPI schema in JSON or YAML format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A remote API tool defined by an OpenAPI schema."
      }
    },
    "com.gcp.ces_v1#ToolsetTool": {
      "type": "structure",
      "members": {
        "toolset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Toolset from which this tool is derived. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
          }
        },
        "toolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tool ID to filter the tools to retrieve the schema for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool that is created from a toolset."
      }
    },
    "com.gcp.ces_v1#ClientCertificateSettings": {
      "type": "structure",
      "members": {
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the SecretManager secret version resource storing the passphrase to decrypt the private key. Should be left unset if the private key is not encrypted. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
          }
        },
        "tlsCertificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The TLS certificate encoded in PEM format. This string must include the begin header and end footer lines."
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the private key encoded in PEM format. Format: `projects/{project}/secrets/{secret}/versions/{version}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for custom client certificates."
      }
    },
    "com.gcp.ces_v1#SessionInput": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Audio data from the end user."
          }
        },
        "variables": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Contextual variables for the session, keyed by name. Only variables declared in the app will be used by the CES agent. Unrecognized variables will still be sent to the Dialogflow agent as additional session parameters."
          }
        },
        "dtmf": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. DTMF digits from the end user."
          }
        },
        "image": {
          "target": "com.gcp.ces_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional. Image data from the end user."
          }
        },
        "event": {
          "target": "com.gcp.ces_v1#Event",
          "traits": {
            "smithy.api#documentation": "Optional. Event input."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Text data from the end user."
          }
        },
        "toolResponses": {
          "target": "com.gcp.ces_v1#ToolResponses",
          "traits": {
            "smithy.api#documentation": "Optional. Execution results for the tool calls from the client."
          }
        },
        "willContinue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. A flag to indicate if the current message is a fragment of a larger input in the bidi streaming session. When set to `true`, the agent defers processing until it receives a subsequent message where `will_continue` is `false`, or until the system detects an endpoint in the audio input. NOTE: This field does not apply to audio and DTMF inputs, as they are always processed automatically based on the endpointing signal."
          }
        },
        "blob": {
          "target": "com.gcp.ces_v1#Blob",
          "traits": {
            "smithy.api#documentation": "Optional. Blob data from the end user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for the session."
      }
    },
    "com.gcp.ces_v1#ExperimentConfigVersionRelease": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.ces_v1#ExperimentConfigVersionReleaseStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. State of the version release."
          }
        },
        "trafficAllocations": {
          "target": "com.gcp.ces_v1#ExperimentConfigVersionReleaseTrafficAllocationList",
          "traits": {
            "smithy.api#documentation": "Optional. Traffic allocations for the version release."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version release for the experiment."
      }
    },
    "com.gcp.ces_v1#ExperimentConfigVersionReleaseStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.ces_v1#ExperimentConfigVersionReleaseTrafficAllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#ExperimentConfigVersionReleaseTrafficAllocation"
      }
    },
    "com.gcp.ces_v1#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "agents": {
          "target": "com.gcp.ces_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "The list of agents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListAgents."
      }
    },
    "com.gcp.ces_v1#GoogleSearchTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the tool."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the tool's purpose."
          }
        },
        "preferredDomains": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies domains to restrict search results to. Example: \"example.com\", \"another.site\". A maximum of 20 domains can be specified."
          }
        },
        "contextUrls": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Content will be fetched directly from these URLs for context and grounding. Example: \"https://example.com/path.html\". A maximum of 20 URLs are allowed."
          }
        },
        "excludeDomains": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of domains to be excluded from the search results. Example: \"example.com\". A maximum of 2000 domains can be excluded."
          }
        },
        "promptConfig": {
          "target": "com.gcp.ces_v1#GoogleSearchToolPromptConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Prompt instructions passed to planner on how the search results should be processed for text and voice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a tool to perform Google web searches for grounding. See https://cloud.google.com/customer-engagement-ai/conversational-agents/ps/tool#google-search."
      }
    },
    "com.gcp.ces_v1#VpcScSettings": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The allowed HTTP(s) origins that OpenAPI tools in the App are able to directly call when VPC Service Controls are enabled. These strings must match the origin exactly, including the port if specified. For example, \"https://example.com\" or \"https://example.com:443\". This list does not yet apply to Python tools that may make direct HTTP calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VPC-SC settings for the app."
      }
    },
    "com.gcp.ces_v1#LfA2aV1TaskPushNotificationConfig": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "com.gcp.ces_v1#LfA2aV1AuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Authentication information required to send the notification."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The push notification configuration details. A unique identifier (e.g. UUID) for this push notification configuration."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task this configuration is associated with."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The URL where the notification should be sent."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token unique for this task or session."
          }
        },
        "tenant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Tenant ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A container associating a push notification configuration with a specific task."
      }
    },
    "com.gcp.ces_v1#EndUserAuthConfigOauth2AuthCodeConfig": {
      "type": "structure",
      "members": {
        "oauthToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Oauth token parameter name to pass through. Must be in the format `$context.variables.`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Oauth 2.0 Authorization Code authentication configuration."
      }
    },
    "com.gcp.ces_v1#ConnectorToolset": {
      "type": "structure",
      "members": {
        "connectorActions": {
          "target": "com.gcp.ces_v1#ActionList",
          "traits": {
            "smithy.api#documentation": "Required. The list of connector actions/entity operations to generate tools for."
          }
        },
        "connection": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full resource name of the referenced Integration Connectors Connection. Format: `projects/{project}/locations/{location}/connections/{connection}`"
          }
        },
        "authConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures how authentication is handled in Integration Connectors. By default, an admin authentication is passed in the Integration Connectors API requests. You can override it with a different end-user authentication config. **Note**: The Connection must have authentication override enabled in order to specify an EUC configuration here - otherwise, the Toolset creation will fail. See: https://cloud.google.com/application-integration/docs/configure-connectors-task#configure-authentication-override"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset that generates tools from an Integration Connectors Connection."
      }
    },
    "com.gcp.ces_v1#ActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Action"
      }
    },
    "com.gcp.ces_v1#LfA2aV1SendMessageResponse": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.gcp.ces_v1#LfA2aV1Task",
          "traits": {
            "smithy.api#documentation": "The task created or updated by the message."
          }
        },
        "message": {
          "target": "com.gcp.ces_v1#LfA2aV1Message",
          "traits": {
            "smithy.api#documentation": "A message from the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the response for the `SendMessage` method."
      }
    },
    "com.gcp.ces_v1#Location": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.ces_v1#ImportAppRequest": {
      "type": "structure",
      "members": {
        "ignoreAppLock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
          }
        },
        "importOptions": {
          "target": "com.gcp.ces_v1#ImportAppRequestImportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options governing the import process for the app."
          }
        },
        "appContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw bytes representing the compressed zip file with the app folder structure."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AgentService.ImportApp."
      }
    },
    "com.gcp.ces_v1#Toolset": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the toolset. Must be unique within the same app."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the toolset was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the toolset was last updated."
          }
        },
        "openApiToolset": {
          "target": "com.gcp.ces_v1#OpenApiToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
          }
        },
        "mcpToolset": {
          "target": "com.gcp.ces_v1#McpToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that contains a list of tools that are offered by the MCP server."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the toolset."
          }
        },
        "executionType": {
          "target": "com.gcp.ces_v1#ToolsetExecutionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The execution type of the tools in the toolset."
          }
        },
        "toolFakeConfig": {
          "target": "com.gcp.ces_v1#ToolFakeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for tools behavior in fake mode."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "connectorToolset": {
          "target": "com.gcp.ces_v1#ConnectorToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that generates tools from an Integration Connectors Connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset represents a group of dynamically managed tools that can be used by the agent."
      }
    },
    "com.gcp.ces_v1#ToolsetExecutionTypeEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_TYPE_UNSPECIFIED"
          }
        },
        "SYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCHRONOUS"
          }
        },
        "ASYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYNCHRONOUS"
          }
        }
      }
    },
    "com.gcp.ces_v1#AgentSkill": {
      "type": "structure",
      "members": {
        "inputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported input media types for this skill, overriding the agent's defaults."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the agent's skill."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human-readable name for the skill."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A detailed description of the skill."
          }
        },
        "tags": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A set of keywords describing the skill's capabilities."
          }
        },
        "examples": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Example prompts or scenarios that this skill can handle."
          }
        },
        "outputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported output media types for this skill, overriding the agent's defaults."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a distinct capability or function that an agent can perform."
      }
    },
    "com.gcp.ces_v1#ServiceAgentIdTokenAuthConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfig": {
      "type": "structure",
      "members": {
        "securitySettings": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Optional. The security settings of the web widget."
          }
        },
        "modality": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The modality of the web widget."
          }
        },
        "theme": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The theme of the web widget."
          }
        },
        "webWidgetTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The title of the web widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for configuration for the web widget."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "CHAT_AND_VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_AND_VOICE"
          }
        },
        "VOICE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_ONLY"
          }
        },
        "CHAT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_ONLY"
          }
        },
        "CHAT_VOICE_AND_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_VOICE_AND_VIDEO"
          }
        }
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum": {
      "type": "enum",
      "members": {
        "THEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THEME_UNSPECIFIED"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "DARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DARK"
          }
        }
      }
    },
    "com.gcp.ces_v1#ExecuteToolResponse": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "The toolset tool that got executed."
          }
        },
        "variables": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The variable values at the end of the tool execution."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool that got executed. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ToolService.ExecuteTool."
      }
    },
    "com.gcp.ces_v1#RetrieveToolsRequest": {
      "type": "structure",
      "members": {
        "toolIds": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The identifiers of the tools to retrieve from the toolset. If empty, all tools in the toolset will be returned."
          }
        },
        "bypassPersistenceConfig": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the returned tools will contain raw descriptions and schemas directly from the server, bypassing any stored persistence configurations (overrides/snapshots)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for ToolService.RetrieveTools."
      }
    },
    "com.gcp.ces_v1#Tool": {
      "type": "structure",
      "members": {
        "fileSearchTool": {
          "target": "com.gcp.ces_v1#FileSearchTool",
          "traits": {
            "smithy.api#documentation": "Optional. The file search tool."
          }
        },
        "toolFakeConfig": {
          "target": "com.gcp.ces_v1#ToolFakeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for tool behavior in fake mode."
          }
        },
        "pythonFunction": {
          "target": "com.gcp.ces_v1#PythonFunction",
          "traits": {
            "smithy.api#documentation": "Optional. The python function tool."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "googleSearchTool": {
          "target": "com.gcp.ces_v1#GoogleSearchTool",
          "traits": {
            "smithy.api#documentation": "Optional. The google search tool."
          }
        },
        "mcpTool": {
          "target": "com.gcp.ces_v1#McpTool",
          "traits": {
            "smithy.api#documentation": "Optional. The MCP tool. An MCP tool cannot be created or updated directly and is managed by the MCP toolset."
          }
        },
        "remoteAgentTool": {
          "target": "com.gcp.ces_v1#RemoteAgentTool",
          "traits": {
            "smithy.api#documentation": "Optional. The remote agent tool."
          }
        },
        "generatedSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the tool is generated by the LLM assistant, this field contains a descriptive summary of the generation."
          }
        },
        "widgetTool": {
          "target": "com.gcp.ces_v1#WidgetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The widget tool."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the tool, derived based on the tool's type. For example, display name of a ClientFunction is derived from its `name` property."
          }
        },
        "systemTool": {
          "target": "com.gcp.ces_v1#SystemTool",
          "traits": {
            "smithy.api#documentation": "Optional. The system tool."
          }
        },
        "executionType": {
          "target": "com.gcp.ces_v1#ToolExecutionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The execution type of the tool."
          }
        },
        "openApiTool": {
          "target": "com.gcp.ces_v1#OpenApiTool",
          "traits": {
            "smithy.api#documentation": "Optional. The open API tool."
          }
        },
        "connectorTool": {
          "target": "com.gcp.ces_v1#ConnectorTool",
          "traits": {
            "smithy.api#documentation": "Optional. The Integration Connector tool."
          }
        },
        "dataStoreTool": {
          "target": "com.gcp.ces_v1#DataStoreTool",
          "traits": {
            "smithy.api#documentation": "Optional. The data store tool."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout for the tool execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` tools and 60 seconds for `ASYNCHRONOUS` tools."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the tool was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the tool was last updated."
          }
        },
        "agentTool": {
          "target": "com.gcp.ces_v1#AgentTool",
          "traits": {
            "smithy.api#documentation": "Optional. The agent tool."
          }
        },
        "clientFunction": {
          "target": "com.gcp.ces_v1#ClientFunction",
          "traits": {
            "smithy.api#documentation": "Optional. The client function."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the tool. Format: * `projects/{project}/locations/{location}/apps/{app}/tools/{tool}` for standalone tools. * `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}/tools/{tool}` for tools retrieved from a toolset. These tools are dynamic and output-only; they cannot be referenced directly where a tool is expected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tool represents an action that the CES agent can take to achieve certain goals."
      }
    },
    "com.gcp.ces_v1#ToolExecutionTypeEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_TYPE_UNSPECIFIED"
          }
        },
        "SYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCHRONOUS"
          }
        },
        "ASYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYNCHRONOUS"
          }
        }
      }
    },
    "com.gcp.ces_v1#ListAppVersionsResponse": {
      "type": "structure",
      "members": {
        "appVersions": {
          "target": "com.gcp.ces_v1#AppVersionList",
          "traits": {
            "smithy.api#documentation": "The list of app versions."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAppVersionsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListAppVersions."
      }
    },
    "com.gcp.ces_v1#AppVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#AppVersion"
      }
    },
    "com.gcp.ces_v1#LfA2aV1SendMessageRequest": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "A flexible key-value map for passing additional context or parameters."
          }
        },
        "configuration": {
          "target": "com.gcp.ces_v1#LfA2aV1SendMessageConfiguration",
          "traits": {
            "smithy.api#documentation": "Configuration for the send request."
          }
        },
        "message": {
          "target": "com.gcp.ces_v1#LfA2aV1Message",
          "traits": {
            "smithy.api#documentation": "Required. The message to send to the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a request for the `SendMessage` method."
      }
    },
    "com.gcp.ces_v1#GuardrailLlmPromptSecurity": {
      "type": "structure",
      "members": {
        "defaultSettings": {
          "target": "com.gcp.ces_v1#GuardrailLlmPromptSecurityDefaultSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Optional. Use the system's predefined default security settings. To select this mode, include an empty 'default_settings' message in the request. The 'default_prompt_template' field within will be populated by the server in the response."
          }
        },
        "failOpen": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Determines the behavior when the guardrail encounters an LLM error. - If true: the guardrail is bypassed. - If false (default): the guardrail triggers/blocks. Note: If a custom policy is provided, this field is ignored in favor of the policy's 'fail_open' configuration."
          }
        },
        "customPolicy": {
          "target": "com.gcp.ces_v1#GuardrailLlmPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Use a user-defined LlmPolicy to configure the security guardrail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guardrail that blocks the conversation if the input is considered unsafe based on the LLM classification."
      }
    },
    "com.gcp.ces_v1#DataStoreSettings": {
      "type": "structure",
      "members": {
        "engines": {
          "target": "com.gcp.ces_v1#DataStoreSettingsEngineList",
          "traits": {
            "smithy.api#documentation": "Output only. The engines for the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data store related settings for the app."
      }
    },
    "com.gcp.ces_v1#DataStoreSettingsEngineList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DataStoreSettingsEngine"
      }
    },
[...]
