{
  "smithy": "2.0",
  "metadata": {
    "service": "chromemanagement",
    "version": "v1",
    "title": "Chrome Management API",
    "baseUrl": "https://chromemanagement.googleapis.com/"
  },
  "shapes": {
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryInfo": {
      "type": "structure",
      "members": {
        "availableRamBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Amount of available RAM in bytes."
          }
        },
        "totalRamBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Total RAM in bytes."
          }
        },
        "totalMemoryEncryption": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Total memory encryption info for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Memory information of a device. * This field has both telemetry and device information: - `totalRamBytes` - Device information - `availableRamBytes` - Telemetry information - `totalMemoryEncryption` - Device information * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: - `totalRamBytes` - Only at upload - `availableRamBytes` - Every 10 minutes - `totalMemoryEncryption` - at device startup * Default Data Reporting Frequency: - `totalRamBytes` - 3 hours - `availableRamBytes` - 3 hours - `totalMemoryEncryption` - at device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: only for `totalMemoryEncryption` * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_INFO"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeOsDevice": {
      "type": "structure",
      "members": {
        "deviceDirectoryApiId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the ChromeOS device that a `CertificateProvisioningProcess` belongs to."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1DeviceRequestingExtensionDetails": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a device that has requested the extension."
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request justification as entered by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a device requesting an extension, including the name of the device and the justification of the request."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1SplunkConfig": {
      "type": "structure",
      "members": {
        "hecToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. The data input's HTTP Event Collector token to use as an Authorization header."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional source name to override the default one set in the Splunk admin console."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Host to identify the customer specific server to receive the events."
          }
        },
        "portNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The port number to use. If not set, the default Splunk port is used."
          }
        },
        "unsecureScheme": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use an unsecure HTTP scheme. Defaults to false (HTTPS)."
          }
        },
        "reportingSettings": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingSettings",
          "traits": {
            "smithy.api#documentation": "Required. The reporting settings for the Splunk config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Splunk connector config."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryDevice": {
      "type": "structure",
      "members": {
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Device serial number. This value is the same as the Admin Console's Serial Number in the ChromeOS Devices tab."
          }
        },
        "graphicsStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Graphics reports collected periodically."
          }
        },
        "batteryStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Battery reports collected periodically."
          }
        },
        "cpuInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. Information regarding CPU specs for the device."
          }
        },
        "memoryStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Memory status reports collected periodically sorted decreasing by report_time."
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Google Workspace Customer whose enterprise enrolled the device."
          }
        },
        "storageStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Storage reports collected periodically."
          }
        },
        "peripheralsReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PeripheralsReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Peripherals reports collected periodically sorted in a decreasing order of report_time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the device."
          }
        },
        "thunderboltInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ThunderboltInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. Information on Thunderbolt bus."
          }
        },
        "audioStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AudioStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Audio reports collected periodically sorted in a decreasing order of report_time."
          }
        },
        "graphicsInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Contains information regarding Graphic peripherals for the device."
          }
        },
        "osUpdateStatus": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Contains relevant information regarding ChromeOS update status."
          }
        },
        "bootPerformanceReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BootPerformanceReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Boot performance reports of the device."
          }
        },
        "cpuStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. CPU status reports collected periodically sorted in a decreasing order of report_time."
          }
        },
        "networkInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Network devices information."
          }
        },
        "networkBandwidthReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkBandwidthReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Network bandwidth reports collected periodically sorted in a decreasing order of report_time."
          }
        },
        "batteryInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryInfoList",
          "traits": {
            "smithy.api#documentation": "Output only. Information on battery specs for the device."
          }
        },
        "heartbeatStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1HeartbeatStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Heartbeat status report containing timestamps periodically sorted in decreasing order of report_time"
          }
        },
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Organization unit ID of the device."
          }
        },
        "runtimeCountersReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RuntimeCountersReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Runtime counters reports collected device lifetime runtime, as well as the counts of S0->S3, S0->S4, and S0->S5 transitions, meaning entering into sleep, hibernation, and power-off states"
          }
        },
        "networkDiagnosticsReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkDiagnosticsReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Network diagnostics collected periodically."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique Directory API ID of the device. This value is the same as the Admin Console's Directory API ID in the ChromeOS Devices tab"
          }
        },
        "appReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppReportList",
          "traits": {
            "smithy.api#documentation": "Output only. App reports collected periodically sorted in a decreasing order of report_time."
          }
        },
        "storageInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information of storage specs for the device."
          }
        },
        "networkStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Network specs collected periodically."
          }
        },
        "kioskAppStatusReport": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1KioskAppStatusReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Kiosk app status report for the kiosk device"
          }
        },
        "memoryInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information regarding memory specs for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Telemetry data collected from a managed device. * Granular permission needed: TELEMETRY_API_DEVICE"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfo"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PeripheralsReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PeripheralsReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ThunderboltInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ThunderboltInfo"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AudioStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AudioStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatus"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BootPerformanceReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BootPerformanceReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkBandwidthReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkBandwidthReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryInfo"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1HeartbeatStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1HeartbeatStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RuntimeCountersReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RuntimeCountersReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkDiagnosticsReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkDiagnosticsReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1NetworkStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1KioskAppStatusReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1KioskAppStatusReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountDevicesPerReleaseChannelResponse": {
      "type": "structure",
      "members": {
        "stableChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with stable release channel."
          }
        },
        "devChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with dev release channel."
          }
        },
        "ltcChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with ltc release channel."
          }
        },
        "canaryChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with canary release channel."
          }
        },
        "betaChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with beta release channel."
          }
        },
        "unreportedChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with an unreported release channel."
          }
        },
        "unsupportedChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with unsupported release channel."
          }
        },
        "ltsChannelCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with lts release channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the number of devices with the given channel."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1CrowdStrikeXdrConfig": {
      "type": "structure",
      "members": {
        "xdrSettings": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1XdrSettings",
          "traits": {
            "smithy.api#documentation": "Required. The XDR settings for the CrowdStrike XDR config."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Host to identify the customer specific server to receive the events."
          }
        },
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. API key to use on the ingestion API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CrowdStrike XDR connector config."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1MipLabelConfig": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.gcp.chromemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Domain can be used optionally for the corner case where one Dasher customer ID maps to multiple Microsoft tenant ID. Each domain can be verified with at most one Microsoft tenant."
          }
        },
        "microsoftTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Microsoft tenant ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MIP label connector config."
      }
    },
    "com.gcp.chromemanagement_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1DisableInsightsRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to disable insights for the customer."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1EnableInsightsResponse": {
      "type": "structure",
      "members": {
        "insightsState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1EnableInsightsResponseInsightsStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of the insights feature."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response from enabling insights for the customer."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1EnableInsightsResponseInsightsStateEnum": {
      "type": "enum",
      "members": {
        "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSIGHTS_ENABLEMENT_STATE_UNSPECIFIED"
          }
        },
        "INSIGHTS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSIGHTS_ENABLED"
          }
        },
        "INSIGHTS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSIGHTS_DISABLED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfo": {
      "type": "structure",
      "members": {
        "keylockerConfigured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether keylocker is configured.`TRUE` = Enabled; `FALSE` = disabled. Only reported if keylockerSupported = `TRUE`."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The CPU model name. Example: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz"
          }
        },
        "maxClockSpeed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The max CPU clock speed in kHz."
          }
        },
        "keylockerSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether keylocker is supported."
          }
        },
        "architecture": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfoArchitectureEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Architecture type for the CPU. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU specifications for the device * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceCpuInfo](https://chromeenterprise.google/policies/#ReportDeviceCpuInfo) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_CPU_INFO"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CpuInfoArchitectureEnum": {
      "type": "enum",
      "members": {
        "ARCHITECTURE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHITECTURE_UNSPECIFIED"
          }
        },
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X64"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReport": {
      "type": "structure",
      "members": {
        "cycleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Cycle count."
          }
        },
        "batteryHealth": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReportBatteryHealthEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Battery health."
          }
        },
        "fullChargeCapacity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Full charge capacity (mAmpere-hours)."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Battery serial number."
          }
        },
        "reportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of when the sample was collected on device"
          }
        },
        "sample": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatterySampleReportList",
          "traits": {
            "smithy.api#documentation": "Output only. Sampling data for the battery sorted in a decreasing order of report_time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status data for battery. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDevicePowerStatus](https://chromeenterprise.google/policies/#ReportDevicePowerStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_BATTERY_REPORT"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatteryStatusReportBatteryHealthEnum": {
      "type": "enum",
      "members": {
        "BATTERY_HEALTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATTERY_HEALTH_UNSPECIFIED"
          }
        },
        "BATTERY_HEALTH_NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATTERY_HEALTH_NORMAL"
          }
        },
        "BATTERY_REPLACE_SOON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATTERY_REPLACE_SOON"
          }
        },
        "BATTERY_REPLACE_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BATTERY_REPLACE_NOW"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatterySampleReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BatterySampleReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatus": {
      "type": "structure",
      "members": {
        "newPlatformVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. New platform version of the os image being downloaded and applied. It is only set when update status is OS_IMAGE_DOWNLOAD_IN_PROGRESS or OS_UPDATE_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for OS_UPDATE_NEED_REBOOT status for some edge cases, e.g. update engine is restarted without a reboot."
          }
        },
        "updateState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatusUpdateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the os update."
          }
        },
        "lastUpdateCheckTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the last update check."
          }
        },
        "newRequestedPlatformVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. New requested platform version from the pending updated kiosk app."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the last successful update."
          }
        },
        "lastRebootTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the last reboot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information regarding the current OS update status. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceOsUpdateStatus](https://chromeenterprise.google/policies/#ReportDeviceOsUpdateStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_OS_REPORT"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1OsUpdateStatusUpdateStateEnum": {
      "type": "enum",
      "members": {
        "UPDATE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_STATE_UNSPECIFIED"
          }
        },
        "OS_IMAGE_DOWNLOAD_NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_IMAGE_DOWNLOAD_NOT_STARTED"
          }
        },
        "OS_IMAGE_DOWNLOAD_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_IMAGE_DOWNLOAD_IN_PROGRESS"
          }
        },
        "OS_UPDATE_NEED_REBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_UPDATE_NEED_REBOOT"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1MemoryStatusReport": {
      "type": "structure",
      "members": {
        "systemRamFreeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Amount of free RAM in bytes (unreliable due to Garbage Collection)."
          }
        },
        "pageFaults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of page faults during this collection"
          }
        },
        "reportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp in milliseconds representing time at which this report was sampled."
          }
        },
        "sampleFrequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Frequency the report is sampled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains samples of memory status reports. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: Only at upload, SystemRamFreeByes is collected every 10 minutes * Default Data Reporting Frequency: Every 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_MEMORY_REPORT"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the print job."
          }
        },
        "colorMode": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobColorModeEnum",
          "traits": {
            "smithy.api#documentation": "Color mode."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique Directory API ID of the user who submitted the print job."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Print job completion timestamp."
          }
        },
        "copyCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of copies."
          }
        },
        "printerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API ID of the printer used for printing."
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary e-mail address of the user who submitted the print job."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the document."
          }
        },
        "state": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobStateEnum",
          "traits": {
            "smithy.api#documentation": "The final state of the job."
          }
        },
        "documentPageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of pages in the document."
          }
        },
        "duplexMode": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobDuplexModeEnum",
          "traits": {
            "smithy.api#documentation": "Duplex mode."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Print job creation timestamp."
          }
        },
        "printer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the printer used for printing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a request to print a document that has been submitted to a printer."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobColorModeEnum": {
      "type": "enum",
      "members": {
        "COLOR_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLOR_MODE_UNSPECIFIED"
          }
        },
        "BLACK_AND_WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK_AND_WHITE"
          }
        },
        "COLOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLOR"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PRINTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRINTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1PrintJobDuplexModeEnum": {
      "type": "enum",
      "members": {
        "DUPLEX_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLEX_MODE_UNSPECIFIED"
          }
        },
        "ONE_SIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_SIDED"
          }
        },
        "TWO_SIDED_LONG_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_SIDED_LONG_EDGE"
          }
        },
        "TWO_SIDED_SHORT_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWO_SIDED_SHORT_EDGE"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionAlgorithm": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfoEncryptionAlgorithmEnum",
          "traits": {
            "smithy.api#documentation": "Memory encryption algorithm."
          }
        },
        "maxKeys": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum number of keys that can be used for encryption."
          }
        },
        "keyLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The length of the encryption keys."
          }
        },
        "encryptionState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfoEncryptionStateEnum",
          "traits": {
            "smithy.api#documentation": "The state of memory encryption on the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Memory encryption information of a device. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceMemoryInfo](https://chromeenterprise.google/policies/#ReportDeviceMemoryInfo) * Data Collection Frequency: At device startup * Default Data Reporting Frequency: At device startup - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: Yes * Reported for affiliated users only: N/A"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfoEncryptionAlgorithmEnum": {
      "type": "enum",
      "members": {
        "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_ALGORITHM_UNSPECIFIED"
          }
        },
        "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_ALGORITHM_UNKNOWN"
          }
        },
        "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_128"
          }
        },
        "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_ALGORITHM_AES_XTS_256"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TotalMemoryEncryptionInfoEncryptionStateEnum": {
      "type": "enum",
      "members": {
        "MEMORY_ENCRYPTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_STATE_UNSPECIFIED"
          }
        },
        "MEMORY_ENCRYPTION_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_STATE_UNKNOWN"
          }
        },
        "MEMORY_ENCRYPTION_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_STATE_DISABLED"
          }
        },
        "MEMORY_ENCRYPTION_STATE_TME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_STATE_TME"
          }
        },
        "MEMORY_ENCRYPTION_STATE_MKTME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMORY_ENCRYPTION_STATE_MKTME"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageInfo": {
      "type": "structure",
      "members": {
        "volume": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageInfoDiskVolumeList",
          "traits": {
            "smithy.api#documentation": "Information for disk volumes"
          }
        },
        "availableDiskBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The available space for user data storage in the device in bytes."
          }
        },
        "totalDiskBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total space for user data storage in the device in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status data for storage. * This field is telemetry information and this will change over time as the device is utilized. * Data for this field is controlled via policy: [ReportDeviceStorageStatus](https://chromeenterprise.google/policies/#ReportDeviceStorageStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_STORAGE_INFO"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageInfoDiskVolumeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1StorageInfoDiskVolume"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ContentTransfersBreakdown": {
      "type": "structure",
      "members": {
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user that transferred the content."
          }
        },
        "contentCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content category of the content transfers."
          }
        },
        "summary": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ContentTransfersSummary",
          "traits": {
            "smithy.api#documentation": "The summary of content transfers for the breakdown dimension."
          }
        },
        "eventDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event domain of the content transfers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A content transfers summary for a given breakdown dimension."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryOsCrashEvent": {
      "type": "structure",
      "members": {
        "sessionType": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryOsCrashEventSessionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Session type."
          }
        },
        "crashId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crash id."
          }
        },
        "crashType": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryOsCrashEventCrashTypeEnum",
          "traits": {
            "smithy.api#documentation": "Crash type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OS crash data."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryOsCrashEventSessionTypeEnum": {
      "type": "enum",
      "members": {
        "SESSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_TYPE_UNSPECIFIED"
          }
        },
        "SESSION_TYPE_SIGNED_IN_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_TYPE_SIGNED_IN_USER"
          }
        },
        "SESSION_TYPE_KIOSK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_TYPE_KIOSK"
          }
        },
        "SESSION_TYPE_MANAGED_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_TYPE_MANAGED_GUEST"
          }
        },
        "SESSION_TYPE_ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION_TYPE_ACTIVE_DIRECTORY"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryOsCrashEventCrashTypeEnum": {
      "type": "enum",
      "members": {
        "CRASH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASH_TYPE_UNSPECIFIED"
          }
        },
        "CRASH_TYPE_KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASH_TYPE_KERNEL"
          }
        },
        "CRASH_TYPE_EMBEDDED_CONTROLLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRASH_TYPE_EMBEDDED_CONTROLLER"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ListTelemetryEventsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify next page in the list."
          }
        },
        "telemetryEvents": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventList",
          "traits": {
            "smithy.api#documentation": "Telemetry events returned in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing telemetry events for a customer."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEvent"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEvent": {
      "type": "structure",
      "members": {
        "guid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the network."
          }
        },
        "connectionState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEventConnectionStateEnum",
          "traits": {
            "smithy.api#documentation": "Current connection state of the network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`TelemetryNetworkConnectionStateChangeEvent` is triggered on network connection state changes. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryNetworkConnectionStateChangeEventConnectionStateEnum": {
      "type": "enum",
      "members": {
        "NETWORK_CONNECTION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_CONNECTION_STATE_UNSPECIFIED"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "PORTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PORTAL"
          }
        },
        "CONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTING"
          }
        },
        "NOT_CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONNECTED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventNotificationFilter": {
      "type": "structure",
      "members": {
        "eventTypes": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventNotificationFilterEventTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Only sends the notifications for events of these types. Must not be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures how the telemetry events should be filtered."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventNotificationFilterEventTypesItemEnum": {
      "type": "enum",
      "members": {
        "EVENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_TYPE_UNSPECIFIED"
          }
        },
        "AUDIO_SEVERE_UNDERRUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_SEVERE_UNDERRUN"
          }
        },
        "NETWORK_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_STATE_CHANGE"
          }
        },
        "USB_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USB_ADDED"
          }
        },
        "USB_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USB_REMOVED"
          }
        },
        "NETWORK_HTTPS_LATENCY_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_HTTPS_LATENCY_CHANGE"
          }
        },
        "WIFI_SIGNAL_STRENGTH_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_SIGNAL_STRENGTH_LOW"
          }
        },
        "WIFI_SIGNAL_STRENGTH_RECOVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_SIGNAL_STRENGTH_RECOVERED"
          }
        },
        "VPN_CONNECTION_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPN_CONNECTION_STATE_CHANGE"
          }
        },
        "APP_INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_INSTALLED"
          }
        },
        "APP_UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_UNINSTALLED"
          }
        },
        "APP_LAUNCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APP_LAUNCHED"
          }
        },
        "OS_CRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_CRASH"
          }
        },
        "EXTERNAL_DISPLAY_CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_DISPLAY_CONNECTED"
          }
        },
        "EXTERNAL_DISPLAY_DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_DISPLAY_DISCONNECTED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventNotificationFilterEventTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryEventNotificationFilterEventTypesItemEnum"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleLongrunningCancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1DisplayInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display device name."
          }
        },
        "resolutionHeight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Resolution height in pixels."
          }
        },
        "serialNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Serial number."
          }
        },
        "resolutionWidth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Resolution width in pixels."
          }
        },
        "refreshRate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Refresh rate in Hz."
          }
        },
        "deviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the graphics card device id."
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates if display is internal or not."
          }
        },
        "edidVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. EDID version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for a display."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryHttpsLatencyChangeEvent": {
      "type": "structure",
      "members": {
        "httpsLatencyRoutineData": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1HttpsLatencyRoutineData",
          "traits": {
            "smithy.api#documentation": "HTTPS latency routine data that triggered the event."
          }
        },
        "httpsLatencyState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryHttpsLatencyChangeEventHttpsLatencyStateEnum",
          "traits": {
            "smithy.api#documentation": "Current HTTPS latency state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Https latency routine is run periodically and `TelemetryHttpsLatencyChangeEvent` is triggered if a latency problem was detected or if the device has recovered from a latency problem. * Granular permission needed: TELEMETRY_API_NETWORK_REPORT"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TelemetryHttpsLatencyChangeEventHttpsLatencyStateEnum": {
      "type": "enum",
      "members": {
        "HTTPS_LATENCY_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS_LATENCY_STATE_UNSPECIFIED"
          }
        },
        "RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVERY"
          }
        },
        "PROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROBLEM"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1GenericProfile": {
      "type": "structure",
      "members": {
        "profileAdapterConfigReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A string that references the administrator-provided configuration for the certificate provisioning profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a generic certificate provisioning profile."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfile": {
      "type": "structure",
      "members": {
        "lastPolicyFetchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest policy fetch by the profile."
          }
        },
        "firstEnrollmentTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the first enrollment of the profile."
          }
        },
        "lastActivityTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest activity by the profile."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Format: customers/{customer_id}/profiles/{profile_permanent_id}"
          }
        },
        "userEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Email address of the user to which the profile belongs."
          }
        },
        "lastStatusReportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest status report by the profile."
          }
        },
        "browserVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the browser on which the profile exists."
          }
        },
        "supportsFcmNotifications": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the profile supports FCM notifications."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag of this ChromeBrowserProfile resource. This etag can be used with UPDATE operation to ensure consistency."
          }
        },
        "osPlatformType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS platform of the device on which the profile exists."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. OS version of the device on which the profile exists."
          }
        },
        "profileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Chrome client side profile ID."
          }
        },
        "osPlatformVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Major OS platform version of the device on which the profile exists, from profile reporting."
          }
        },
        "lastPolicySyncTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the latest policy sync by the profile."
          }
        },
        "annotatedUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User of the profile annotated by the admin."
          }
        },
        "identityProvider": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileIdentityProviderEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Identify provider of the profile."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique Directory API ID of the user that can be used in Admin SDK Users API."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Profile display name set by client."
          }
        },
        "browserChannel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Channel of the browser on which the profile exists."
          }
        },
        "attestationCredential": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1AttestationCredential",
          "traits": {
            "smithy.api#documentation": "Output only. Attestation credential information of the profile."
          }
        },
        "affiliationState": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileAffiliationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The specific affiliation state of the profile."
          }
        },
        "annotatedLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Location of the profile annotated by the admin."
          }
        },
        "deviceInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1DeviceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Basic information of the device on which the profile exists. This information is only available for the affiliated profiles."
          }
        },
        "reportingData": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingData",
          "traits": {
            "smithy.api#documentation": "Output only. Detailed reporting data of the profile. This information is only available when the profile reporting policy is enabled."
          }
        },
        "policyCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of policies applied on the profile."
          }
        },
        "extensionCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of extensions installed on the profile."
          }
        },
        "profilePermanentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Profile permanent ID is the unique identifier of a profile within one customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of a Chrome browser profile."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileIdentityProviderEnum": {
      "type": "enum",
      "members": {
        "IDENTITY_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDENTITY_PROVIDER_UNSPECIFIED"
          }
        },
        "GOOGLE_IDENTITY_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_IDENTITY_PROVIDER"
          }
        },
        "EXTERNAL_IDENTITY_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_IDENTITY_PROVIDER"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileAffiliationStateEnum": {
      "type": "enum",
      "members": {
        "AFFILIATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATION_STATE_UNSPECIFIED"
          }
        },
        "UNAFFILIATED_GENERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAFFILIATED_GENERIC"
          }
        },
        "PROFILE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFILE_ONLY"
          }
        },
        "UNAFFILIATED_LOCAL_MACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAFFILIATED_LOCAL_MACHINE"
          }
        },
        "UNAFFILIATED_CLOUD_MACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAFFILIATED_CLOUD_MACHINE"
          }
        },
        "AFFILIATED_CLOUD_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFFILIATED_CLOUD_MANAGED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeVersionsResponse": {
      "type": "structure",
      "members": {
        "browserVersions": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BrowserVersionList",
          "traits": {
            "smithy.api#documentation": "List of all browser versions and their install counts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify the next page of the request."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number browser versions matching request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing requested browser versions details and counts."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BrowserVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1BrowserVersion"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AndroidAppInfo": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AndroidAppPermissionList",
          "traits": {
            "smithy.api#documentation": "Output only. Permissions requested by an Android app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Android app information."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AndroidAppPermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AndroidAppPermission"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentData": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryList",
          "traits": {
            "smithy.api#documentation": "Individual risk assessments."
          }
        },
        "overallRiskLevel": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentDataOverallRiskLevelEnum",
          "traits": {
            "smithy.api#documentation": "Overall assessed risk level across all entries. This will be the highest risk level from all entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Risk assessment data about an extension/app."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntry"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentDataOverallRiskLevelEnum": {
      "type": "enum",
      "members": {
        "RISK_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_UNSPECIFIED"
          }
        },
        "RISK_LEVEL_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_LOW"
          }
        },
        "RISK_LEVEL_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_MEDIUM"
          }
        },
        "RISK_LEVEL_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_HIGH"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsInfo": {
      "type": "structure",
      "members": {
        "adapterInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1GraphicsAdapterInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the graphics adapter (GPU)."
          }
        },
        "touchScreenInfo": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1TouchScreenInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the internal touch screen(s) of the device."
          }
        },
        "eprivacySupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Is ePrivacy screen supported or not."
          }
        },
        "displayDevices": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1DisplayDeviceList",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the display(s) of the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of the graphics subsystem. * This field provides device information, which is static and will not change over time. * Data for this field is controlled via policy: [ReportDeviceGraphicsStatus](https://chromeenterprise.google/policies/#ReportDeviceGraphicsStatus) * Data Collection Frequency: Only at Upload * Default Data Reporting Frequency: 3 hours - Policy Controlled: Yes * Cache: If the device is offline, the collected data is stored locally, and will be reported when the device is next online: No * Reported for affiliated users only: N/A * Granular permission needed: TELEMETRY_API_GRAPHICS_INFO"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1DisplayDeviceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1DisplayDevice"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyData": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyDataSourceEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Source of the policy."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Error message of the policy, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the policy."
          }
        },
        "conflicts": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyDataList",
          "traits": {
            "smithy.api#documentation": "Output only. Conflicting policy information."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Value of the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of a policy applied on a Chrome browser profile."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyDataSourceEnum": {
      "type": "enum",
      "members": {
        "POLICY_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_SOURCE_UNSPECIFIED"
          }
        },
        "MACHINE_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MACHINE_PLATFORM"
          }
        },
        "USER_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_PLATFORM"
          }
        },
        "MACHINE_LEVEL_USER_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MACHINE_LEVEL_USER_CLOUD"
          }
        },
        "USER_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CLOUD"
          }
        },
        "MACHINE_MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MACHINE_MERGED"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataConflictingPolicyData"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeAppRequestsResponse": {
      "type": "structure",
      "members": {
        "requestedApps": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ChromeAppRequestList",
          "traits": {
            "smithy.api#documentation": "Count of requested apps matching request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to specify the next page in the list."
          }
        },
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of matching app requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing summary of requested app installations."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ChromeAppRequestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1ChromeAppRequest"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ThirdPartyProfileUser": {
      "type": "structure",
      "members": {
        "orgUnitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the organizational unit assigned to the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Format: customers/{customer_id}/thirdPartyProfileUsers/{third_party_profile_user_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A representation of non-Google (third party) user that is associated with a managed Chrome profile."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataExtensionPolicyData": {
      "type": "structure",
      "members": {
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the extension."
          }
        },
        "policyData": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyDataList",
          "traits": {
            "smithy.api#documentation": "Output only. Information of the policies applied on the extension."
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of the policies applied on an extension."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataPolicyData"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountDevicesPerBootTypeResponse": {
      "type": "structure",
      "members": {
        "unreportedBootTypeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with unreported boot type."
          }
        },
        "devBootTypeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with dev boot type."
          }
        },
        "verifiedBootTypeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices with verified boot type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the number of devices with the given boot type."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResult": {
      "type": "structure",
      "members": {
        "resultCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Result code that indicates the type of error or success of the command."
          }
        },
        "resultType": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResultResultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Result type of the remote command."
          }
        },
        "clientExecutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp of the client execution of the remote command."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the execution of a command."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ChromeBrowserProfileCommandCommandResultResultTypeEnum": {
      "type": "enum",
      "members": {
        "COMMAND_RESULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMAND_RESULT_TYPE_UNSPECIFIED"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORED"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1PubSubXdrConfig": {
      "type": "structure",
      "members": {
        "topicFullPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The full path to the topic to send the event to."
          }
        },
        "xdrSettings": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1XdrSettings",
          "traits": {
            "smithy.api#documentation": "Required. The XDR settings for the Pub/Sub XDR config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pub/Sub XDR connector config."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeDevicesThatNeedAttentionResponse": {
      "type": "structure",
      "members": {
        "noRecentUserActivityCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of ChromeOS devices that have not seen any user activity in the past 28 days."
          }
        },
        "noRecentPolicySyncCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of ChromeOS devices have not synced policies in the past 28 days."
          }
        },
        "pendingUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices that are pending an OS update."
          }
        },
        "osVersionNotCompliantCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices whose OS version is not compliant."
          }
        },
        "unsupportedPolicyCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of devices that are unable to apply a policy due to an OS version mismatch."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing counts for devices that need attention."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountPrintJobsByUserResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token for requesting the next page."
          }
        },
        "totalSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of users matching request."
          }
        },
        "userPrintReports": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1UserPrintReportList",
          "traits": {
            "smithy.api#documentation": "List of UserPrintReports matching request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a summary printing report for each user that has initiated a print job with a printer from the specified organizational unit during the requested time interval."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1UserPrintReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1UserPrintReport"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ConnectorConfigStatus": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Field recording time of most recent modification of the status. For `ENABLED`, this is the time the status was changed to `ENABLED`. For `DISABLED_BY_FAILURES`, this is the time of the most recent failed attempt to send an event to this config."
          }
        },
        "state": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ConnectorConfigStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the connector config. The connector state is disabled if the connector has not successfully sent an event in the last 24 hours."
          }
        },
        "failureStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Field recording time of the earliest failure since the last success event. This field is only set when the state is `DISABLED_BY_FAILURES`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the connector config."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ConnectorConfigStatusStateEnum": {
      "type": "enum",
      "members": {
        "CONFIG_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_STATE_UNKNOWN"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED_BY_FAILURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED_BY_FAILURES"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntry": {
      "type": "structure",
      "members": {
        "riskLevel": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryRiskLevelEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The bucketed risk level for the risk assessment."
          }
        },
        "provider": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryProviderEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The risk assessment provider from which this entry comes from."
          }
        },
        "riskAssessment": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessment",
          "traits": {
            "smithy.api#documentation": "Output only. The details of the provider's risk assessment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One risk assessment entry."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryRiskLevelEnum": {
      "type": "enum",
      "members": {
        "RISK_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_UNSPECIFIED"
          }
        },
        "RISK_LEVEL_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_LOW"
          }
        },
        "RISK_LEVEL_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_MEDIUM"
          }
        },
        "RISK_LEVEL_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_LEVEL_HIGH"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1RiskAssessmentEntryProviderEnum": {
      "type": "enum",
      "members": {
        "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ASSESSMENT_PROVIDER_UNSPECIFIED"
          }
        },
        "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ASSESSMENT_PROVIDER_CRXCAVATOR"
          }
        },
        "RISK_ASSESSMENT_PROVIDER_SPIN_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ASSESSMENT_PROVIDER_SPIN_AI"
          }
        },
        "RISK_ASSESSMENT_PROVIDER_LAYERX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ASSESSMENT_PROVIDER_LAYERX"
          }
        },
        "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RISK_ASSESSMENT_PROVIDER_SPIN_AI_V2"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ScepProfile": {
      "type": "structure",
      "members": {
        "organizationalUnits": {
          "target": "com.gcp.chromemanagement_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The organizational units of the subject."
          }
        },
        "keyUsages": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ScepProfileKeyUsagesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Output only. The allowed key usages for certificate's key."
          }
        },
        "subjectCommonName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The common name of the subject."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the organization the subject belongs to."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The country of the subject."
          }
        },
        "certificateTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The certificate template name as defined by the admin on their on-prem infrastructure. The Certificate Authority uses this name to identify the certificate template."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the subject."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The locality of the subject."
          }
        },
        "subjectAltNames": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1SubjectAltNameList",
          "traits": {
            "smithy.api#documentation": "Output only. The subject alternative names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a SCEP certificate provisioning profile."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ScepProfileKeyUsagesItemEnum": {
      "type": "enum",
      "members": {
        "KEY_USAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_USAGE_UNSPECIFIED"
          }
        },
        "KEY_USAGE_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_USAGE_SIGNING"
          }
        },
        "KEY_USAGE_KEY_ENCIPHERMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_USAGE_KEY_ENCIPHERMENT"
          }
        }
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ScepProfileKeyUsagesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ScepProfileKeyUsagesItemEnum"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1SubjectAltNameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1SubjectAltName"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1UploadCertificateResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for publishing an issued certificate for a certificate provisioning process."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeCrashEventsResponse": {
      "type": "structure",
      "members": {
        "crashEventCounts": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCountList",
          "traits": {
            "smithy.api#documentation": "Crash event counts grouped by date and browser version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response contains a list of CrashEventCountByVersionPerDay which count the chrome crash at the certain date."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppReport": {
      "type": "structure",
      "members": {
        "reportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the report was collected."
          }
        },
        "usageData": {
          "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppUsageDataList",
          "traits": {
            "smithy.api#documentation": "App usage data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App report."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppUsageDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromemanagement_v1#GoogleChromeManagementV1AppUsageData"
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementV1CountChromeCrashEventsResponseCrashEventCount": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total count of crash events."
          }
        },
        "browserVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Browser version this is counting."
          }
        },
        "date": {
          "target": "com.gcp.chromemanagement_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "Date of the crash event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `count` of the Chrome crash events at the `date`."
      }
    },
    "com.gcp.chromemanagement_v1#GoogleChromeManagementVersionsV1ReportingDataExtensionData": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of the extension."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Version of the extension."
          }
        },
        "manifestVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Manifest version of the extension."
          }
        },
        "isDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Represents whether the user disabled the extension."
          }
        },
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. ID of the extension."
          }
        },
        "homepageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL of the homepage of the extension."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the extension."
          }
        },
        "isWebstoreExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Represents whether the extension is from the webstore."
          }
        },
        "permissions": {
[...]
