{
  "smithy": "2.0",
  "metadata": {
    "service": "chromewebstore",
    "version": "v2",
    "title": "Chrome Web Store API",
    "baseUrl": "https://chromewebstore.googleapis.com/"
  },
  "shapes": {
    "com.gcp.chromewebstore_v2#ItemRevisionStatus": {
      "type": "structure",
      "members": {
        "distributionChannels": {
          "target": "com.gcp.chromewebstore_v2#DistributionChannelList",
          "traits": {
            "smithy.api#documentation": "Details on the package of the item"
          }
        },
        "state": {
          "target": "com.gcp.chromewebstore_v2#ItemRevisionStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the item"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details on the status of an item revision."
      }
    },
    "com.gcp.chromewebstore_v2#DistributionChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromewebstore_v2#DistributionChannel"
      }
    },
    "com.gcp.chromewebstore_v2#ItemRevisionStatusStateEnum": {
      "type": "enum",
      "members": {
        "ITEM_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_STATE_UNSPECIFIED"
          }
        },
        "PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REVIEW"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "PUBLISHED_TO_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED_TO_TESTERS"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#CancelSubmissionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for CancelSubmission."
      }
    },
    "com.gcp.chromewebstore_v2#DeployInfo": {
      "type": "structure",
      "members": {
        "deployPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment information for a specific release channel. Used in requests to update deployment parameters."
      }
    },
    "com.gcp.chromewebstore_v2#FetchItemStatusResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the requested item."
          }
        },
        "warned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the item has been warned for a policy violation and will be taken down if not resolved. Check the developer dashboard for details."
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the item."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key of the item, which may be generated by the store."
          }
        },
        "publishedItemRevisionStatus": {
          "target": "com.gcp.chromewebstore_v2#ItemRevisionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. Status of the current published revision of the item. Will be unset if the item is not published."
          }
        },
        "submittedItemRevisionStatus": {
          "target": "com.gcp.chromewebstore_v2#ItemRevisionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the item revision submitted to be published. Will be unset if the item has not been submitted for publishing since the last successful publish."
          }
        },
        "lastAsyncUploadState": {
          "target": "com.gcp.chromewebstore_v2#FetchItemStatusResponseLastAsyncUploadStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the last async upload for an item. Only set when there has been an async upload for the item in the past 24 hours."
          }
        },
        "takenDown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the item has been taken down for a policy violation. Check the developer dashboard for details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `FetchItemStatus`."
      }
    },
    "com.gcp.chromewebstore_v2#FetchItemStatusResponseLastAsyncUploadStateEnum": {
      "type": "enum",
      "members": {
        "UPLOAD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#Warning": {
      "type": "structure",
      "members": {
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for the warning. This is a constant value that identifies the proximate cause of the warning."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the warning. Developers should use this message to understand the warning and take appropriate action to resolve the issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single warning encountered during the request."
      }
    },
    "com.gcp.chromewebstore_v2#PublishItemResponse": {
      "type": "structure",
      "members": {
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the item."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the item that was submitted"
          }
        },
        "state": {
          "target": "com.gcp.chromewebstore_v2#PublishItemResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current state of the submission."
          }
        },
        "warningInfo": {
          "target": "com.gcp.chromewebstore_v2#WarningsInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Non-blocking warnings encountered during the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `PublishItem`."
      }
    },
    "com.gcp.chromewebstore_v2#PublishItemResponseStateEnum": {
      "type": "enum",
      "members": {
        "ITEM_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_STATE_UNSPECIFIED"
          }
        },
        "PENDING_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_REVIEW"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "PUBLISHED_TO_TESTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED_TO_TESTERS"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#SetPublishedDeployPercentageRequest": {
      "type": "structure",
      "members": {
        "deployPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. Unscaled percentage value for the publised revision (nonnegative number between 0 and 100). It must be larger than the existing target percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for SetPublishedDeployPercentage."
      }
    },
    "com.gcp.chromewebstore_v2#WarningsInfo": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.chromewebstore_v2#WarningList",
          "traits": {
            "smithy.api#documentation": "All warnings encountered during the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message containing details on warnings encountered during PublishItem."
      }
    },
    "com.gcp.chromewebstore_v2#WarningList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromewebstore_v2#Warning"
      }
    },
    "com.gcp.chromewebstore_v2#CancelSubmissionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for `CancelSubmission`."
      }
    },
    "com.gcp.chromewebstore_v2#PublishItemRequest": {
      "type": "structure",
      "members": {
        "skipReview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to attempt to skip item review. The API will validate if the item qualifies and return a validation error if the item requires review. Defaults to `false` if unset."
          }
        },
        "publishType": {
          "target": "com.gcp.chromewebstore_v2#PublishItemRequestPublishTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Use this to control if the item is published immediately on approval or staged for publishing in the future. Defaults to `DEFAULT_PUBLISH` if unset."
          }
        },
        "deployInfos": {
          "target": "com.gcp.chromewebstore_v2#DeployInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Additional deploy information including the desired initial percentage rollout. Defaults to the current value saved in the developer dashboard if unset."
          }
        },
        "blockOnWarnings": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When set to true the request will fail if there are any warnings during validation and the details will be included in the `error.details`. Otherwise warnings are treated as non-blocking and will be ignored for validation but will be included in the response for inspection. Defaults to `false` if unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for PublishItem."
      }
    },
    "com.gcp.chromewebstore_v2#PublishItemRequestPublishTypeEnum": {
      "type": "enum",
      "members": {
        "PUBLISH_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH_TYPE_UNSPECIFIED"
          }
        },
        "DEFAULT_PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_PUBLISH"
          }
        },
        "STAGED_PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED_PUBLISH"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#DeployInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.chromewebstore_v2#DeployInfo"
      }
    },
    "com.gcp.chromewebstore_v2#UploadItemPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for UploadItemPackage."
      }
    },
    "com.gcp.chromewebstore_v2#UploadItemPackageResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the item the package was uploaded to."
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the item the package was uploaded to."
          }
        },
        "crxVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extension version provided in the manifest of the uploaded package. This will not be set if the upload is still in progress (`upload_state` is `UPLOAD_IN_PROGRESS`)."
          }
        },
        "uploadState": {
          "target": "com.gcp.chromewebstore_v2#UploadItemPackageResponseUploadStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the upload. If `upload_state` is `UPLOAD_IN_PROGRESS`, you can poll for updates using the fetchStatus method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `UploadItemPackage`."
      }
    },
    "com.gcp.chromewebstore_v2#UploadItemPackageResponseUploadStateEnum": {
      "type": "enum",
      "members": {
        "UPLOAD_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPLOAD_STATE_UNSPECIFIED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#SetPublishedDeployPercentageResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for `SetPublishedDeployPercentage`."
      }
    },
    "com.gcp.chromewebstore_v2#DistributionChannel": {
      "type": "structure",
      "members": {
        "deployPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current deploy percentage for the release channel (nonnegative number between 0 and 100)."
          }
        },
        "crxVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extension version provided in the manifest of the uploaded package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment information for a specific release channel"
      }
    },
    "com.gcp.chromewebstore_v2#UploadMediaRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the item to upload the new package to in the form `publishers/{publisherId}/items/{itemId}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.chromewebstore_v2#UploadItemPackageRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.chromewebstore_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.chromewebstore_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.chromewebstore_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.chromewebstore_v2#UploadMedia": {
      "type": "operation",
      "input": {
        "target": "com.gcp.chromewebstore_v2#UploadMediaRequest"
      },
      "output": {
        "target": "com.gcp.chromewebstore_v2#UploadItemPackageResponse"
      },
      "errors": [
        {
          "target": "com.gcp.chromewebstore_v2#NotFound"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Forbidden"
        },
        {
          "target": "com.gcp.chromewebstore_v2#BadRequest"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:upload"
        },
        "smithy.api#documentation": "Upload a new package to an existing item."
      }
    },
    "com.gcp.chromewebstore_v2#PublishPublishersItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the item in the form `publishers/{publisherId}/items/{itemId}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.chromewebstore_v2#PublishItemRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#PublishPublishersItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.chromewebstore_v2#PublishPublishersItemsRequest"
      },
      "output": {
        "target": "com.gcp.chromewebstore_v2#PublishItemResponse"
      },
      "errors": [
        {
          "target": "com.gcp.chromewebstore_v2#NotFound"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Forbidden"
        },
        {
          "target": "com.gcp.chromewebstore_v2#BadRequest"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:publish"
        },
        "smithy.api#documentation": "Submit the item to be published in the store. The item will be submitted for review unless `skip_review` is set to true, or the item is staged from a previous submission with `publish_type` set to `STAGED_PUBLISH`."
      }
    },
    "com.gcp.chromewebstore_v2#FetchStatusPublishersItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the item to retrieve the status of in the form `publishers/{publisherId}/items/{itemId}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#FetchStatusPublishersItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.chromewebstore_v2#FetchStatusPublishersItemsRequest"
      },
      "output": {
        "target": "com.gcp.chromewebstore_v2#FetchItemStatusResponse"
      },
      "errors": [
        {
          "target": "com.gcp.chromewebstore_v2#NotFound"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v2/{+name}:fetchStatus"
        },
        "smithy.api#documentation": "Fetch the status of an item."
      }
    },
    "com.gcp.chromewebstore_v2#SetPublishedDeployPercentagePublishersItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the item to update the published revision of in the form `publishers/{publisherId}/items/{itemId}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.chromewebstore_v2#SetPublishedDeployPercentageRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#SetPublishedDeployPercentagePublishersItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.chromewebstore_v2#SetPublishedDeployPercentagePublishersItemsRequest"
      },
      "output": {
        "target": "com.gcp.chromewebstore_v2#SetPublishedDeployPercentageResponse"
      },
      "errors": [
        {
          "target": "com.gcp.chromewebstore_v2#NotFound"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Forbidden"
        },
        {
          "target": "com.gcp.chromewebstore_v2#BadRequest"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:setPublishedDeployPercentage"
        },
        "smithy.api#documentation": "Set a higher target deploy percentage for the item's published revision. This will be updated without the item being submitted for review. This is only available to items with over 10,000 seven-day active users."
      }
    },
    "com.gcp.chromewebstore_v2#CancelSubmissionPublishersItemsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the item to cancel the submission of in the form `publishers/{publisherId}/items/{itemId}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.chromewebstore_v2#CancelSubmissionRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.chromewebstore_v2#CancelSubmissionPublishersItems": {
      "type": "operation",
      "input": {
        "target": "com.gcp.chromewebstore_v2#CancelSubmissionPublishersItemsRequest"
      },
      "output": {
        "target": "com.gcp.chromewebstore_v2#CancelSubmissionResponse"
      },
      "errors": [
        {
          "target": "com.gcp.chromewebstore_v2#NotFound"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Forbidden"
        },
        {
          "target": "com.gcp.chromewebstore_v2#BadRequest"
        },
        {
          "target": "com.gcp.chromewebstore_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}:cancelSubmission"
        },
        "smithy.api#documentation": "Cancel the current active submission of an item if present. This can be used to cancel the review of a pending submission."
      }
    }
  }
}
