{
  "smithy": "2.0",
  "metadata": {
    "service": "civicinfo",
    "version": "v2",
    "title": "Google Civic Information API",
    "baseUrl": "https://civicinfo.googleapis.com/"
  },
  "shapes": {
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2VoterInfoResponse": {
      "type": "structure",
      "members": {
        "precinctId": {
          "target": "smithy.api#String"
        },
        "otherElections": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionList",
          "traits": {
            "smithy.api#documentation": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user."
          }
        },
        "precincts": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2PrecinctList",
          "traits": {
            "smithy.api#documentation": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\"."
          }
        },
        "dropOffLocations": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocationList",
          "traits": {
            "smithy.api#documentation": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field."
          }
        },
        "contests": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestList",
          "traits": {
            "smithy.api#documentation": "Contests that will appear on the voter's ballot."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\"."
          }
        },
        "earlyVoteSites": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocationList",
          "traits": {
            "smithy.api#documentation": "Locations where the voter is eligible to vote early, prior to election day."
          }
        },
        "normalizedInput": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType",
          "traits": {
            "smithy.api#documentation": "The normalized version of the requested address"
          }
        },
        "pollingLocations": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocationList",
          "traits": {
            "smithy.api#documentation": "Locations where the voter is eligible to vote on election day."
          }
        },
        "mailOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well)."
          }
        },
        "election": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Election",
          "traits": {
            "smithy.api#documentation": "The election that was queried."
          }
        },
        "state": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrationRegionList",
          "traits": {
            "smithy.api#documentation": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a voter info lookup query."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Election"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2PrecinctList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Precinct"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocation"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Contest"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrationRegionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrationRegion"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType": {
      "type": "structure",
      "members": {
        "line1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street name and number of this address."
          }
        },
        "line2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The second line the address, if needed."
          }
        },
        "line3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The third line of the address, if needed."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The US two letter state abbreviation of the address."
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The US Postal Zip Code of the address."
          }
        },
        "addressLine": {
          "target": "com.gcp.civicinfo_v2#StringList"
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The city or town for the address."
          }
        },
        "locationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A simple representation of an address."
      }
    },
    "com.gcp.civicinfo_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Election": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of this election."
          }
        },
        "ocdDivisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
          }
        },
        "electionDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Day of the election in YYYY-MM-DD format."
          }
        },
        "shapeLookupBehavior": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionShapeLookupBehaviorEnum"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A displayable name for the election."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the election that was queried."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionShapeLookupBehaviorEnum": {
      "type": "enum",
      "members": {
        "SHAPELOOKUPDEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shapeLookupDefault"
          }
        },
        "SHAPELOOKUPDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shapeLookupDisabled"
          }
        },
        "SHAPELOOKUPENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shapeLookupEnabled"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectoralDistrict": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the district."
          }
        },
        "scope": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectoralDistrictScopeEnum",
          "traits": {
            "smithy.api#documentation": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the geographic scope of a contest."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectoralDistrictScopeEnum": {
      "type": "enum",
      "members": {
        "STATEWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "statewide"
          }
        },
        "CONGRESSIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "congressional"
          }
        },
        "STATEUPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stateUpper"
          }
        },
        "STATELOWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stateLower"
          }
        },
        "COUNTYWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "countywide"
          }
        },
        "JUDICIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "judicial"
          }
        },
        "SCHOOLBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schoolBoard"
          }
        },
        "CITYWIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "citywide"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        },
        "COUNTYCOUNCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "countyCouncil"
          }
        },
        "TOWNSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "township"
          }
        },
        "WARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ward"
          }
        },
        "CITYCOUNCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cityCouncil"
          }
        },
        "NATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "national"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2PollingLocation": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the early vote site or drop off location. This field is not populated for polling locations."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations."
          }
        },
        "voterServices": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The services provided by this early vote site or drop off location. This field is not populated for polling locations."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notes about this location (e.g. accessibility ramp or entrance to use)."
          }
        },
        "pollingHours": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of when this location is open."
          }
        },
        "address": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType",
          "traits": {
            "smithy.api#documentation": "The address of the location."
          }
        },
        "sources": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SourceList",
          "traits": {
            "smithy.api#documentation": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources."
          }
        },
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2SourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Source"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Candidate": {
      "type": "structure",
      "members": {
        "party": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the party the candidate is a member of."
          }
        },
        "channels": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ChannelList",
          "traits": {
            "smithy.api#documentation": "A list of known (social) media channels for this candidate."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\""
          }
        },
        "candidateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the candidate's campaign web site."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The voice phone number for the candidate's campaign office."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address for the candidate's campaign."
          }
        },
        "orderOnBallot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order the candidate appears on the ballot for this contest."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL for a photo of the candidate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a candidate running for elected office."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ChannelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Channel"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2GeographicDivision": {
      "type": "structure",
      "members": {
        "officeIndices": {
          "target": "com.gcp.civicinfo_v2#IntegerList",
          "traits": {
            "smithy.api#documentation": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the division."
          }
        },
        "alsoKnownAs": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a political geography."
      }
    },
    "com.gcp.civicinfo_v2#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Source": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the data source."
          }
        },
        "official": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this data comes from an official government source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about the data source for the element containing it."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionOfficial": {
      "type": "structure",
      "members": {
        "officePhoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The office phone number of the election official."
          }
        },
        "faxNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fax number of the election official."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the election official."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the election official."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the election official."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about individual election officials."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrationRegion": {
      "type": "structure",
      "members": {
        "local_jurisdiction": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrationRegion",
          "traits": {
            "smithy.api#documentation": "The city or county that provides election information for this voter. This object can have the same elements as state."
          }
        },
        "sources": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SourceList",
          "traits": {
            "smithy.api#documentation": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources."
          }
        },
        "electionAdministrationBody": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrativeBody",
          "traits": {
            "smithy.api#documentation": "The election administration body for this area."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the jurisdiction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes information about a regional election administrative area."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Channel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique public identifier for the candidate's channel."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A social media or web channel for a candidate."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the division."
          }
        },
        "aliases": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district."
          }
        },
        "ocdId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique Open Civic Data identifier for this division"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a political geographic division that matches the requested query."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Precinct": {
      "type": "structure",
      "members": {
        "administrationRegionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
          }
        },
        "mailOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the precinct runs mail-only elections."
          }
        },
        "contestId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "ID(s) of the Contest message(s) for this precinct."
          }
        },
        "datasetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Dataset ID. What datasets our Precincts come from."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the precinct."
          }
        },
        "spatialBoundaryId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct."
          }
        },
        "electoralDistrictId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "ID(s) of the ElectoralDistrict message(s) for this precinct."
          }
        },
        "pollingLocationId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "ID(s) of the PollingLocation message(s) for this precinct."
          }
        },
        "splitName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for this precinct."
          }
        },
        "number": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of the precinct."
          }
        },
        "ocdId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Encouraged. The OCD ID of the precinct"
          }
        },
        "ward": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the ward the precinct is contained within."
          }
        },
        "earlyVoteSiteId": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "ID(s) of the PollingLocation message(s) for this precinct."
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
          }
        },
        "results": {
          "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResultList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a division search query."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResult"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "structure",
      "members": {
        "normalizedInput": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType",
          "traits": {
            "smithy.api#documentation": "The normalized version of the requested address."
          }
        },
        "divisions": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2GeographicDivisionMap"
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2GeographicDivisionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2GeographicDivision"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoApiprotosV2ElectionsQueryResponse": {
      "type": "structure",
      "members": {
        "elections": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionList",
          "traits": {
            "smithy.api#documentation": "A list of available elections"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of elections available for this version of the API."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2AdministrativeBody": {
      "type": "structure",
      "members": {
        "electionOfficials": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionOfficialList",
          "traits": {
            "smithy.api#documentation": "The election officials for this election administrative body."
          }
        },
        "votingLocationFinderUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for looking up where to vote."
          }
        },
        "voter_services": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A description of the services this administrative body may provide."
          }
        },
        "electionNoticeUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for additional information related to the last minute or emergency notification."
          }
        },
        "ballotInfoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body to give contest information to the voter."
          }
        },
        "electionRegistrationConfirmationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for confirming that the voter is registered to vote."
          }
        },
        "electionNoticeText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A last minute or emergency notification text provided by this administrative body."
          }
        },
        "electionRulesUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body describing election rules to the voter."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this election administrative body."
          }
        },
        "electionRegistrationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for looking up how to register to vote."
          }
        },
        "correspondenceAddress": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType",
          "traits": {
            "smithy.api#documentation": "The mailing address of this administrative body."
          }
        },
        "absenteeVotingInfoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for information on absentee voting."
          }
        },
        "hoursOfOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the hours of operation for this administrative body."
          }
        },
        "physicalAddress": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SimpleAddressType",
          "traits": {
            "smithy.api#documentation": "The physical address of this administrative body."
          }
        },
        "electionInfoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL provided by this administrative body for looking up general election information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an election administrative body (e.g. County Board of Elections)."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionOfficialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectionOfficial"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2Contest": {
      "type": "structure",
      "members": {
        "special": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle."
          }
        },
        "referendumTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
          }
        },
        "district": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ElectoralDistrict",
          "traits": {
            "smithy.api#documentation": "Information about the electoral district that this contest is in."
          }
        },
        "referendumBrief": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
          }
        },
        "referendumSubtitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'."
          }
        },
        "referendumBallotResponses": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'."
          }
        },
        "roles": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestRolesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The roles which this office fulfills."
          }
        },
        "primaryParties": {
          "target": "com.gcp.civicinfo_v2#StringList",
          "traits": {
            "smithy.api#documentation": "If this is a partisan election, the name of the party/parties it is for."
          }
        },
        "numberElected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of candidates that will be elected to office in this contest."
          }
        },
        "referendumEffectOfAbstain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'."
          }
        },
        "referendumUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link to the referendum. This field is only populated for contests of type 'Referendum'."
          }
        },
        "ballotTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The official title on the ballot for this contest, only where available."
          }
        },
        "referendumProStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
          }
        },
        "sources": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2SourceList",
          "traits": {
            "smithy.api#documentation": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'."
          }
        },
        "level": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestLevelItemEnumList",
          "traits": {
            "smithy.api#documentation": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\"."
          }
        },
        "ballotPlacement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A number specifying the position of this contest on the voter's ballot."
          }
        },
        "numberVotingFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of candidates that a voter may vote for in this contest."
          }
        },
        "referendumPassageThreshold": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'."
          }
        },
        "office": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the office for this contest."
          }
        },
        "candidates": {
          "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2CandidateList",
          "traits": {
            "smithy.api#documentation": "The candidate choices for this contest."
          }
        },
        "electorateSpecifications": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of any additional eligibility requirements for voting in this contest."
          }
        },
        "referendumText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
          }
        },
        "referendumConStatement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a contest that appears on a voter's ballot."
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestRolesItemEnum": {
      "type": "enum",
      "members": {
        "HEADOFSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "headOfState"
          }
        },
        "HEADOFGOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "headOfGovernment"
          }
        },
        "DEPUTYHEADOFGOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deputyHeadOfGovernment"
          }
        },
        "GOVERNMENTOFFICER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "governmentOfficer"
          }
        },
        "EXECUTIVECOUNCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executiveCouncil"
          }
        },
        "LEGISLATORUPPERBODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legislatorUpperBody"
          }
        },
        "LEGISLATORLOWERBODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legislatorLowerBody"
          }
        },
        "HIGHESTCOURTJUDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "highestCourtJudge"
          }
        },
        "JUDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "judge"
          }
        },
        "SCHOOLBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schoolBoard"
          }
        },
        "SPECIALPURPOSEOFFICER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specialPurposeOfficer"
          }
        },
        "OTHERROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "otherRole"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestRolesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestRolesItemEnum"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestLevelItemEnum": {
      "type": "enum",
      "members": {
        "INTERNATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "international"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "country"
          }
        },
        "ADMINISTRATIVEAREA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "administrativeArea1"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regional"
          }
        },
        "ADMINISTRATIVEAREA2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "administrativeArea2"
          }
        },
        "LOCALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locality"
          }
        },
        "SUBLOCALITY1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subLocality1"
          }
        },
        "SUBLOCALITY2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subLocality2"
          }
        },
        "SPECIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "special"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestLevelItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2ContestLevelItemEnum"
      }
    },
    "com.gcp.civicinfo_v2#CivicinfoSchemaV2CandidateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.civicinfo_v2#CivicinfoSchemaV2Candidate"
      }
    },
    "com.gcp.civicinfo_v2#ElectionQueryElectionsRequest": {
      "type": "structure",
      "members": {
        "productionDataOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include data that has not been allowlisted yet",
            "smithy.api#httpQuery": "productionDataOnly"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.civicinfo_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.civicinfo_v2#ElectionQueryElections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.civicinfo_v2#ElectionQueryElectionsRequest"
      },
      "output": {
        "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2ElectionsQueryResponse"
      },
      "errors": [
        {
          "target": "com.gcp.civicinfo_v2#NotFound"
        },
        {
          "target": "com.gcp.civicinfo_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "civicinfo/v2/elections"
        },
        "smithy.api#documentation": "List of available elections to query."
      }
    },
    "com.gcp.civicinfo_v2#VoterInfoQueryElectionsRequest": {
      "type": "structure",
      "members": {
        "productionDataOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config.",
            "smithy.api#httpQuery": "productionDataOnly"
          }
        },
        "electionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
            "smithy.api#httpQuery": "electionId"
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registered address of the voter to look up.",
            "smithy.api#httpQuery": "address"
          }
        },
        "returnAllAvailableData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
            "smithy.api#httpQuery": "returnAllAvailableData"
          }
        },
        "officialOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, only data from official state sources will be returned.",
            "smithy.api#httpQuery": "officialOnly"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#VoterInfoQueryElections": {
      "type": "operation",
      "input": {
        "target": "com.gcp.civicinfo_v2#VoterInfoQueryElectionsRequest"
      },
      "output": {
        "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2VoterInfoResponse"
      },
      "errors": [
        {
          "target": "com.gcp.civicinfo_v2#NotFound"
        },
        {
          "target": "com.gcp.civicinfo_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "civicinfo/v2/voterinfo"
        },
        "smithy.api#documentation": "Looks up information relevant to a voter based on the voter's registered address."
      }
    },
    "com.gcp.civicinfo_v2#SearchDivisionsRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
            "smithy.api#httpQuery": "query"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#SearchDivisions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.civicinfo_v2#SearchDivisionsRequest"
      },
      "output": {
        "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionSearchResponse"
      },
      "errors": [
        {
          "target": "com.gcp.civicinfo_v2#NotFound"
        },
        {
          "target": "com.gcp.civicinfo_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "civicinfo/v2/divisions"
        },
        "smithy.api#documentation": "Searches for political divisions by their natural name or OCD ID."
      }
    },
    "com.gcp.civicinfo_v2#QueryDivisionByAddressDivisionsRequest": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "address"
          }
        }
      }
    },
    "com.gcp.civicinfo_v2#QueryDivisionByAddressDivisions": {
      "type": "operation",
      "input": {
        "target": "com.gcp.civicinfo_v2#QueryDivisionByAddressDivisionsRequest"
      },
      "output": {
        "target": "com.gcp.civicinfo_v2#CivicinfoApiprotosV2DivisionByAddressResponse"
      },
      "errors": [
        {
          "target": "com.gcp.civicinfo_v2#NotFound"
        },
        {
          "target": "com.gcp.civicinfo_v2#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "civicinfo/v2/divisionsByAddress"
        },
        "smithy.api#documentation": "Lookup OCDIDs and names for divisions related to an address."
      }
    }
  }
}
