{
  "smithy": "2.0",
  "metadata": {
    "service": "classroom",
    "version": "v1",
    "title": "Google Classroom API",
    "baseUrl": "https://classroom.googleapis.com/"
  },
  "shapes": {
    "com.gcp.classroom_v1#RubricGrade": {
      "type": "structure",
      "members": {
        "levelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Optional level ID of the selected level. If empty, no level was selected."
          }
        },
        "criterionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Criterion ID."
          }
        },
        "points": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Optional points assigned for this criterion, typically based on the level. Levels might or might not have points. If unset, no points were set for this criterion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rubric grade set for the student submission. There is at most one entry per rubric criterion."
      }
    },
    "com.gcp.classroom_v1#CopyHistory": {
      "type": "structure",
      "members": {
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier of the course."
          }
        },
        "attachmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier of the attachment."
          }
        },
        "postId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Deprecated, use `item_id` instead."
          }
        },
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier of a previous copy of a given attachment."
      }
    },
    "com.gcp.classroom_v1#DriveFile": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Drive item. Read-only."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that can be used to access the Drive item. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Drive API resource ID."
          }
        },
        "thumbnailUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a thumbnail image of the Drive item. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a Google Drive file."
      }
    },
    "com.gcp.classroom_v1#Teacher": {
      "type": "structure",
      "members": {
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "profile": {
          "target": "com.gcp.classroom_v1#UserProfile",
          "traits": {
            "smithy.api#documentation": "Global user information for the teacher. Read-only."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Teacher of a course."
      }
    },
    "com.gcp.classroom_v1#ListCourseWorkMaterialResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        },
        "courseWorkMaterial": {
          "target": "com.gcp.classroom_v1#CourseWorkMaterialList",
          "traits": {
            "smithy.api#documentation": "Course work material items that match the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing course work material."
      }
    },
    "com.gcp.classroom_v1#CourseWorkMaterialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#CourseWorkMaterial"
      }
    },
    "com.gcp.classroom_v1#StateHistory": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.classroom_v1#StateHistoryStateEnum",
          "traits": {
            "smithy.api#documentation": "The workflow pipeline stage."
          }
        },
        "stateTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the submission entered this state."
          }
        },
        "actorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The teacher or student who made the change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history of each state this submission has been in."
      }
    },
    "com.gcp.classroom_v1#StateHistoryStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "TURNED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TURNED_IN"
          }
        },
        "RETURNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNED"
          }
        },
        "RECLAIMED_BY_STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLAIMED_BY_STUDENT"
          }
        },
        "STUDENT_EDITED_AFTER_TURN_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STUDENT_EDITED_AFTER_TURN_IN"
          }
        }
      }
    },
    "com.gcp.classroom_v1#TurnInStudentSubmissionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to turn in a student submission."
      }
    },
    "com.gcp.classroom_v1#MultipleChoiceQuestion": {
      "type": "structure",
      "members": {
        "choices": {
          "target": "com.gcp.classroom_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Possible choices."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional details for multiple-choice questions."
      }
    },
    "com.gcp.classroom_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.classroom_v1#Course": {
      "type": "structure",
      "members": {
        "teacherGroupEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only."
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The subject of the course."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error."
          }
        },
        "section": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only."
          }
        },
        "gradebookSettings": {
          "target": "com.gcp.classroom_v1#GradebookSettings",
          "traits": {
            "smithy.api#documentation": "The gradebook settings that specify how a student's overall grade for the course will be calculated and who it will be displayed to. Read-only."
          }
        },
        "enrollmentCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute link to this course in the Classroom web UI. Read-only."
          }
        },
        "teacherFolder": {
          "target": "com.gcp.classroom_v1#DriveFolder",
          "traits": {
            "smithy.api#documentation": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only."
          }
        },
        "courseMaterialSets": {
          "target": "com.gcp.classroom_v1#CourseMaterialSetList",
          "traits": {
            "smithy.api#documentation": "Sets of materials that appear on the \"about\" page of this course. Read-only."
          }
        },
        "descriptionHeading": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only."
          }
        },
        "levels": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Levels for the course. Examples: \"9th grade\", \"Middle school\", \"4th - 5th\", \"K-2\", \"3000\". If set, this field must be a valid UTF-8 string and fewer than 1000 characters. This field can only be cleared using the `PatchCourse` method."
          }
        },
        "room": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters."
          }
        },
        "courseGroupEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only."
          }
        },
        "calendarId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. The Calendar for a course is created asynchronously when the course is set to `CourseState.ACTIVE` for the first time (at creation time or when it is updated to `ACTIVE` through the UI or the API). The Calendar ID will not be populated until the creation process is completed. Read-only."
          }
        },
        "guardiansEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not guardian notifications are enabled for this course. Read-only."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only."
          }
        },
        "courseState": {
          "target": "com.gcp.classroom_v1#CourseCourseStateEnum",
          "traits": {
            "smithy.api#documentation": "State of the course. If unspecified, the default state is `PROVISIONED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Course in Classroom."
      }
    },
    "com.gcp.classroom_v1#CourseMaterialSetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#CourseMaterialSet"
      }
    },
    "com.gcp.classroom_v1#CourseCourseStateEnum": {
      "type": "enum",
      "members": {
        "COURSE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECLINED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.classroom_v1#StudentSubmission": {
      "type": "structure",
      "members": {
        "shortAnswerSubmission": {
          "target": "com.gcp.classroom_v1#ShortAnswerSubmission",
          "traits": {
            "smithy.api#documentation": "Submission content when course_work_type is SHORT_ANSWER_QUESTION."
          }
        },
        "courseWorkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the course work this corresponds to. Read-only."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the student that owns this submission. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only."
          }
        },
        "multipleChoiceSubmission": {
          "target": "com.gcp.classroom_v1#MultipleChoiceSubmission",
          "traits": {
            "smithy.api#documentation": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION."
          }
        },
        "state": {
          "target": "com.gcp.classroom_v1#StudentSubmissionStateEnum",
          "traits": {
            "smithy.api#documentation": "State of this submission. Read-only."
          }
        },
        "courseWorkType": {
          "target": "com.gcp.classroom_v1#StudentSubmissionCourseWorkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of course work this submission is for. Read-only."
          }
        },
        "draftGrade": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers."
          }
        },
        "assignedGrade": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute link to the submission in the Classroom web UI. Read-only."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "assignedRubricGrades": {
          "target": "com.gcp.classroom_v1#RubricGradeMap",
          "traits": {
            "smithy.api#documentation": "Assigned rubric grades based on the rubric's Criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any Criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only."
          }
        },
        "associatedWithDeveloper": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
          }
        },
        "late": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this submission is late. Read-only."
          }
        },
        "submissionHistory": {
          "target": "com.gcp.classroom_v1#SubmissionHistoryList",
          "traits": {
            "smithy.api#documentation": "The history of the submission (includes state and grade histories). Read-only."
          }
        },
        "draftRubricGrades": {
          "target": "com.gcp.classroom_v1#RubricGradeMap",
          "traits": {
            "smithy.api#documentation": "Pending rubric grades based on the rubric's criteria. This map is empty if there is no rubric attached to this course work or if a rubric is attached, but no grades have been set on any criteria. Entries are only populated for grades that have been set. Key: The rubric's criterion ID. Read-only."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only."
          }
        },
        "assignmentSubmission": {
          "target": "com.gcp.classroom_v1#AssignmentSubmission",
          "traits": {
            "smithy.api#documentation": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Student submission for course work. `StudentSubmission` items are generated when a `CourseWork` item is created. Student submissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time."
      }
    },
    "com.gcp.classroom_v1#StudentSubmissionStateEnum": {
      "type": "enum",
      "members": {
        "SUBMISSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION_STATE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "TURNED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TURNED_IN"
          }
        },
        "RETURNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNED"
          }
        },
        "RECLAIMED_BY_STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLAIMED_BY_STUDENT"
          }
        }
      }
    },
    "com.gcp.classroom_v1#StudentSubmissionCourseWorkTypeEnum": {
      "type": "enum",
      "members": {
        "COURSE_WORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_WORK_TYPE_UNSPECIFIED"
          }
        },
        "ASSIGNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNMENT"
          }
        },
        "SHORT_ANSWER_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_ANSWER_QUESTION"
          }
        },
        "MULTIPLE_CHOICE_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CHOICE_QUESTION"
          }
        }
      }
    },
    "com.gcp.classroom_v1#RubricGradeMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.classroom_v1#RubricGrade"
      }
    },
    "com.gcp.classroom_v1#SubmissionHistoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#SubmissionHistory"
      }
    },
    "com.gcp.classroom_v1#ListGuardiansResponse": {
      "type": "structure",
      "members": {
        "guardians": {
          "target": "com.gcp.classroom_v1#GuardianList",
          "traits": {
            "smithy.api#documentation": "Guardians on this page of results that met the criteria specified in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing guardians."
      }
    },
    "com.gcp.classroom_v1#GuardianList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Guardian"
      }
    },
    "com.gcp.classroom_v1#ListAddOnAttachmentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "addOnAttachments": {
          "target": "com.gcp.classroom_v1#AddOnAttachmentList",
          "traits": {
            "smithy.api#documentation": "Attachments under the given post."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing add-on attachments."
      }
    },
    "com.gcp.classroom_v1#AddOnAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#AddOnAttachment"
      }
    },
    "com.gcp.classroom_v1#ListStudentSubmissionsResponse": {
      "type": "structure",
      "members": {
        "studentSubmissions": {
          "target": "com.gcp.classroom_v1#StudentSubmissionList",
          "traits": {
            "smithy.api#documentation": "Student work that matches the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing student submissions."
      }
    },
    "com.gcp.classroom_v1#StudentSubmissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#StudentSubmission"
      }
    },
    "com.gcp.classroom_v1#GradingPeriod": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "com.gcp.classroom_v1#Classroom_Date",
          "traits": {
            "smithy.api#documentation": "Required. End date, in UTC, of the grading period. Inclusive."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. System generated grading period ID. Read-only."
          }
        },
        "startDate": {
          "target": "com.gcp.classroom_v1#Classroom_Date",
          "traits": {
            "smithy.api#documentation": "Required. Start date, in UTC, of the grading period. Inclusive."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Title of the grading period. For example, “Semester 1”."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual grading period. Grading periods must not have overlapping date ranges and must be listed in chronological order. For example, if the end_date of a grading period is 2024-01-25, then the start_date of the next grading period must be 2024-01-26 or later. Each grading period must have a unique title within a course."
      }
    },
    "com.gcp.classroom_v1#Level": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The level ID. On creation, an ID is assigned."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the level."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the level. If the level has no points set, title must be set."
          }
        },
        "points": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional points associated with this level. If set, all levels within the rubric must specify points and the value must be distinct across all levels within a single criterion. 0 is distinct from no points."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A level of the criterion."
      }
    },
    "com.gcp.classroom_v1#AssignmentSubmission": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.gcp.classroom_v1#AttachmentList",
          "traits": {
            "smithy.api#documentation": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Student work for an assignment."
      }
    },
    "com.gcp.classroom_v1#AttachmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Attachment"
      }
    },
    "com.gcp.classroom_v1#ModifyAnnouncementAssigneesRequest": {
      "type": "structure",
      "members": {
        "modifyIndividualStudentsOptions": {
          "target": "com.gcp.classroom_v1#ModifyIndividualStudentsOptions",
          "traits": {
            "smithy.api#documentation": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
          }
        },
        "assigneeMode": {
          "target": "com.gcp.classroom_v1#ModifyAnnouncementAssigneesRequestAssigneeModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of the announcement describing whether it is accessible by all students or specified individual students."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to modify assignee mode and options of an announcement."
      }
    },
    "com.gcp.classroom_v1#ModifyAnnouncementAssigneesRequestAssigneeModeEnum": {
      "type": "enum",
      "members": {
        "ASSIGNEE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNEE_MODE_UNSPECIFIED"
          }
        },
        "ALL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STUDENTS"
          }
        },
        "INDIVIDUAL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_STUDENTS"
          }
        }
      }
    },
    "com.gcp.classroom_v1#Student": {
      "type": "structure",
      "members": {
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "profile": {
          "target": "com.gcp.classroom_v1#UserProfile",
          "traits": {
            "smithy.api#documentation": "Global user information for the student. Read-only."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
          }
        },
        "studentWorkFolder": {
          "target": "com.gcp.classroom_v1#DriveFolder",
          "traits": {
            "smithy.api#documentation": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Student in a course."
      }
    },
    "com.gcp.classroom_v1#Classroom_Date": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.classroom_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.classroom_v1#ListCourseAliasesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        },
        "aliases": {
          "target": "com.gcp.classroom_v1#CourseAliasList",
          "traits": {
            "smithy.api#documentation": "The course aliases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing course aliases."
      }
    },
    "com.gcp.classroom_v1#CourseAliasList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#CourseAlias"
      }
    },
    "com.gcp.classroom_v1#AddOnAttachmentStudentSubmission": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the student that owns this submission. Requires the user to be a teacher in the course and have permission to read student submissions. See [`courseWork.studentSubmissions.get`](/workspace/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/get#authorization-scopes) for the list of acceptable OAuth scopes for this field. Read-only."
          }
        },
        "postSubmissionState": {
          "target": "com.gcp.classroom_v1#AddOnAttachmentStudentSubmissionPostSubmissionStateEnum",
          "traits": {
            "smithy.api#documentation": "Submission state of add-on attachment's parent post (i.e. assignment)."
          }
        },
        "pointsEarned": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Student grade on this attachment. If unset, no grade was set."
          }
        },
        "courseWorkSubmissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier of the course work submission under which this attachment submission was made."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Classroom-assigned identifier for this student submission. This is unique among submissions for the relevant course work and add-on attachment combination."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payload for grade update requests."
      }
    },
    "com.gcp.classroom_v1#AddOnAttachmentStudentSubmissionPostSubmissionStateEnum": {
      "type": "enum",
      "members": {
        "SUBMISSION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION_STATE_UNSPECIFIED"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "TURNED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TURNED_IN"
          }
        },
        "RETURNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURNED"
          }
        },
        "RECLAIMED_BY_STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECLAIMED_BY_STUDENT"
          }
        }
      }
    },
    "com.gcp.classroom_v1#ModifyAttachmentsRequest": {
      "type": "structure",
      "members": {
        "addAttachments": {
          "target": "com.gcp.classroom_v1#AttachmentList",
          "traits": {
            "smithy.api#documentation": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to modify the attachments of a student submission."
      }
    },
    "com.gcp.classroom_v1#Link": {
      "type": "structure",
      "members": {
        "thumbnailUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a thumbnail image of the target URL. Read-only."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the target of the URL. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URL item."
      }
    },
    "com.gcp.classroom_v1#ListStudentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        },
        "students": {
          "target": "com.gcp.classroom_v1#StudentList",
          "traits": {
            "smithy.api#documentation": "Students who match the list request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing students."
      }
    },
    "com.gcp.classroom_v1#StudentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Student"
      }
    },
    "com.gcp.classroom_v1#StudentContext": {
      "type": "structure",
      "members": {
        "submissionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requesting user's submission id to be used for grade passback and to identify the student when showing student work to the teacher. This is set exactly when `supportsStudentWork` is `true`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role-specific context if the requesting user is a student."
      }
    },
    "com.gcp.classroom_v1#CourseMaterial": {
      "type": "structure",
      "members": {
        "driveFile": {
          "target": "com.gcp.classroom_v1#DriveFile",
          "traits": {
            "smithy.api#documentation": "Google Drive file attachment."
          }
        },
        "form": {
          "target": "com.gcp.classroom_v1#Form",
          "traits": {
            "smithy.api#documentation": "Google Forms attachment."
          }
        },
        "link": {
          "target": "com.gcp.classroom_v1#Link",
          "traits": {
            "smithy.api#documentation": "Link atatchment."
          }
        },
        "youTubeVideo": {
          "target": "com.gcp.classroom_v1#YouTubeVideo",
          "traits": {
            "smithy.api#documentation": "Youtube video attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A material attached to a course as part of a material set."
      }
    },
    "com.gcp.classroom_v1#ListCoursesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        },
        "courses": {
          "target": "com.gcp.classroom_v1#CourseList",
          "traits": {
            "smithy.api#documentation": "Courses that match the list request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing courses."
      }
    },
    "com.gcp.classroom_v1#CourseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Course"
      }
    },
    "com.gcp.classroom_v1#StudentGroup": {
      "type": "structure",
      "members": {
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the course."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the student group."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the student group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A student group in a course."
      }
    },
    "com.gcp.classroom_v1#MultipleChoiceSubmission": {
      "type": "structure",
      "members": {
        "answer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Student's select choice."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Student work for a multiple-choice question."
      }
    },
    "com.gcp.classroom_v1#GuardianInvitation": {
      "type": "structure",
      "members": {
        "invitedEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address that the invitation was sent to. This field is only visible to domain administrators."
          }
        },
        "invitationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this invitation. Read-only."
          }
        },
        "studentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the student (in standard format)"
          }
        },
        "state": {
          "target": "com.gcp.classroom_v1#GuardianInvitationStateEnum",
          "traits": {
            "smithy.api#documentation": "The state that this invitation is in."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that this invitation was created. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An invitation to become the guardian of a specified user, sent to a specified email address."
      }
    },
    "com.gcp.classroom_v1#GuardianInvitationStateEnum": {
      "type": "enum",
      "members": {
        "GUARDIAN_INVITATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUARDIAN_INVITATION_STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.gcp.classroom_v1#Announcement": {
      "type": "structure",
      "members": {
        "materials": {
          "target": "com.gcp.classroom_v1#MaterialList",
          "traits": {
            "smithy.api#documentation": "Additional materials. Announcements must have no more than 20 material items."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "state": {
          "target": "com.gcp.classroom_v1#AnnouncementStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of this announcement. If unspecified, the default state is `DRAFT`."
          }
        },
        "individualStudentsOptions": {
          "target": "com.gcp.classroom_v1#IndividualStudentsOptions",
          "traits": {
            "smithy.api#documentation": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Classroom-assigned identifier of this announcement, unique per course. Read-only."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent change to this announcement. Read-only."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters."
          }
        },
        "assigneeMode": {
          "target": "com.gcp.classroom_v1#AnnouncementAssigneeModeEnum",
          "traits": {
            "smithy.api#documentation": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`."
          }
        },
        "creatorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the user that created the announcement. Read-only."
          }
        },
        "scheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional timestamp when this announcement is scheduled to be published."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this announcement was created. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Announcement created by a teacher for students of the course"
      }
    },
    "com.gcp.classroom_v1#MaterialList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Material"
      }
    },
    "com.gcp.classroom_v1#AnnouncementStateEnum": {
      "type": "enum",
      "members": {
        "ANNOUNCEMENT_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNOUNCEMENT_STATE_UNSPECIFIED"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.classroom_v1#AnnouncementAssigneeModeEnum": {
      "type": "enum",
      "members": {
        "ASSIGNEE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNEE_MODE_UNSPECIFIED"
          }
        },
        "ALL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STUDENTS"
          }
        },
        "INDIVIDUAL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_STUDENTS"
          }
        }
      }
    },
    "com.gcp.classroom_v1#SharedDriveFile": {
      "type": "structure",
      "members": {
        "driveFile": {
          "target": "com.gcp.classroom_v1#DriveFile",
          "traits": {
            "smithy.api#documentation": "Drive file details."
          }
        },
        "shareMode": {
          "target": "com.gcp.classroom_v1#SharedDriveFileShareModeEnum",
          "traits": {
            "smithy.api#documentation": "Mechanism by which students access the Drive item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Drive file that is used as material for course work."
      }
    },
    "com.gcp.classroom_v1#SharedDriveFileShareModeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_SHARE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_SHARE_MODE"
          }
        },
        "VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW"
          }
        },
        "EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDIT"
          }
        },
        "STUDENT_COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STUDENT_COPY"
          }
        }
      }
    },
    "com.gcp.classroom_v1#Feed": {
      "type": "structure",
      "members": {
        "courseWorkChangesInfo": {
          "target": "com.gcp.classroom_v1#CourseWorkChangesInfo",
          "traits": {
            "smithy.api#documentation": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`."
          }
        },
        "courseRosterChangesInfo": {
          "target": "com.gcp.classroom_v1#CourseRosterChangesInfo",
          "traits": {
            "smithy.api#documentation": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`."
          }
        },
        "feedType": {
          "target": "com.gcp.classroom_v1#FeedFeedTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of feed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\"."
      }
    },
    "com.gcp.classroom_v1#FeedFeedTypeEnum": {
      "type": "enum",
      "members": {
        "FEED_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEED_TYPE_UNSPECIFIED"
          }
        },
        "DOMAIN_ROSTER_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_ROSTER_CHANGES"
          }
        },
        "COURSE_ROSTER_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_ROSTER_CHANGES"
          }
        },
        "COURSE_WORK_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_WORK_CHANGES"
          }
        }
      }
    },
    "com.gcp.classroom_v1#ListCourseWorkResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        },
        "courseWork": {
          "target": "com.gcp.classroom_v1#CourseWorkList",
          "traits": {
            "smithy.api#documentation": "Course work items that match the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing course work."
      }
    },
    "com.gcp.classroom_v1#CourseWorkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#CourseWork"
      }
    },
    "com.gcp.classroom_v1#GradeHistory": {
      "type": "structure",
      "members": {
        "gradeTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the grade of the submission was changed."
          }
        },
        "gradeChangeType": {
          "target": "com.gcp.classroom_v1#GradeHistoryGradeChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of grade change at this time in the submission grade history."
          }
        },
        "pointsEarned": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The numerator of the grade at this time in the submission grade history."
          }
        },
        "maxPoints": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The denominator of the grade at this time in the submission grade history."
          }
        },
        "actorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The teacher who made the grade change."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history of each grade on this submission."
      }
    },
    "com.gcp.classroom_v1#GradeHistoryGradeChangeTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_GRADE_CHANGE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_GRADE_CHANGE_TYPE"
          }
        },
        "DRAFT_GRADE_POINTS_EARNED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT_GRADE_POINTS_EARNED_CHANGE"
          }
        },
        "ASSIGNED_GRADE_POINTS_EARNED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED_GRADE_POINTS_EARNED_CHANGE"
          }
        },
        "MAX_POINTS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_POINTS_CHANGE"
          }
        }
      }
    },
    "com.gcp.classroom_v1#TeacherContext": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Role-specific context if the requesting user is a teacher."
      }
    },
    "com.gcp.classroom_v1#Form": {
      "type": "structure",
      "members": {
        "thumbnailUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a thumbnail image of the Form. Read-only."
          }
        },
        "formUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the form."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Form. Read-only."
          }
        },
        "responseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the form responses document. Only set if responses have been recorded and only when the requesting user is an editor of the form. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Google Forms item."
      }
    },
    "com.gcp.classroom_v1#ReclaimStudentSubmissionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to reclaim a student submission."
      }
    },
    "com.gcp.classroom_v1#SubmissionHistory": {
      "type": "structure",
      "members": {
        "stateHistory": {
          "target": "com.gcp.classroom_v1#StateHistory",
          "traits": {
            "smithy.api#documentation": "The state history information of the submission, if present."
          }
        },
        "gradeHistory": {
          "target": "com.gcp.classroom_v1#GradeHistory",
          "traits": {
            "smithy.api#documentation": "The grade history information of the submission, if present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history of the submission. This currently includes state and grade histories."
      }
    },
    "com.gcp.classroom_v1#Guardian": {
      "type": "structure",
      "members": {
        "guardianProfile": {
          "target": "com.gcp.classroom_v1#UserProfile",
          "traits": {
            "smithy.api#documentation": "User profile for the guardian."
          }
        },
        "invitedEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators."
          }
        },
        "studentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the student to whom the guardian relationship applies."
          }
        },
        "guardianId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the guardian."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work."
      }
    },
    "com.gcp.classroom_v1#CourseWork": {
      "type": "structure",
      "members": {
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
          }
        },
        "assignment": {
          "target": "com.gcp.classroom_v1#Assignment",
          "traits": {
            "smithy.api#documentation": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only."
          }
        },
        "assigneeMode": {
          "target": "com.gcp.classroom_v1#CourseWorkAssigneeModeEnum",
          "traits": {
            "smithy.api#documentation": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`."
          }
        },
        "scheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional timestamp when this course work is scheduled to be published."
          }
        },
        "state": {
          "target": "com.gcp.classroom_v1#CourseWorkStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of this course work. If unspecified, the default state is `DRAFT`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Classroom-assigned identifier of this course work, unique per course. Read-only."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent change to this course work. Read-only."
          }
        },
        "gradingPeriodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the grading period associated with the coursework. * At creation, if unspecified, the grading period ID will be set based on the `dueDate` (or `scheduledTime` if no `dueDate` is set). * To indicate no association to any grading period, set this field to an empty string (\"\"). * If specified, it must match an existing grading period ID in the course."
          }
        },
        "materials": {
          "target": "com.gcp.classroom_v1#MaterialList",
          "traits": {
            "smithy.api#documentation": "Additional materials. CourseWork must have no more than 20 material items."
          }
        },
        "dueTime": {
          "target": "com.gcp.classroom_v1#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this course work was created. Read-only."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
          }
        },
        "submissionModificationMode": {
          "target": "com.gcp.classroom_v1#CourseWorkSubmissionModificationModeEnum",
          "traits": {
            "smithy.api#documentation": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`."
          }
        },
        "gradeCategory": {
          "target": "com.gcp.classroom_v1#GradeCategory",
          "traits": {
            "smithy.api#documentation": "The category that this coursework's grade contributes to. Present only when a category has been chosen for the coursework. May be used in calculating the overall grade. Read-only."
          }
        },
        "dueDate": {
          "target": "com.gcp.classroom_v1#Classroom_Date",
          "traits": {
            "smithy.api#documentation": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified."
          }
        },
        "creatorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the user that created the coursework. Read-only."
          }
        },
        "individualStudentsOptions": {
          "target": "com.gcp.classroom_v1#IndividualStudentsOptions",
          "traits": {
            "smithy.api#documentation": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters."
          }
        },
        "topicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course."
          }
        },
        "maxPoints": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value."
          }
        },
        "associatedWithDeveloper": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
          }
        },
        "workType": {
          "target": "com.gcp.classroom_v1#CourseWorkWorkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of this course work. The type is set when the course work is created and cannot be changed."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "multipleChoiceQuestion": {
          "target": "com.gcp.classroom_v1#MultipleChoiceQuestion",
          "traits": {
            "smithy.api#documentation": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Course work created by a teacher for students of the course."
      }
    },
    "com.gcp.classroom_v1#CourseWorkAssigneeModeEnum": {
      "type": "enum",
      "members": {
        "ASSIGNEE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNEE_MODE_UNSPECIFIED"
          }
        },
        "ALL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STUDENTS"
          }
        },
        "INDIVIDUAL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_STUDENTS"
          }
        }
      }
    },
    "com.gcp.classroom_v1#CourseWorkStateEnum": {
      "type": "enum",
      "members": {
        "COURSE_WORK_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_WORK_STATE_UNSPECIFIED"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.classroom_v1#CourseWorkSubmissionModificationModeEnum": {
      "type": "enum",
      "members": {
        "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED"
          }
        },
        "MODIFIABLE_UNTIL_TURNED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIABLE_UNTIL_TURNED_IN"
          }
        },
        "MODIFIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIABLE"
          }
        }
      }
    },
    "com.gcp.classroom_v1#CourseWorkWorkTypeEnum": {
      "type": "enum",
      "members": {
        "COURSE_WORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSE_WORK_TYPE_UNSPECIFIED"
          }
        },
        "ASSIGNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNMENT"
          }
        },
        "SHORT_ANSWER_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_ANSWER_QUESTION"
          }
        },
        "MULTIPLE_CHOICE_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CHOICE_QUESTION"
          }
        }
      }
    },
    "com.gcp.classroom_v1#GradebookSettings": {
      "type": "structure",
      "members": {
        "displaySetting": {
          "target": "com.gcp.classroom_v1#GradebookSettingsDisplaySettingEnum",
          "traits": {
            "smithy.api#documentation": "Indicates who can see the overall grade.."
          }
        },
        "calculationType": {
          "target": "com.gcp.classroom_v1#GradebookSettingsCalculationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates how the overall grade is calculated."
          }
        },
        "gradeCategories": {
          "target": "com.gcp.classroom_v1#GradeCategoryList",
          "traits": {
            "smithy.api#documentation": "Grade categories that are available for coursework in the course."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The gradebook settings for a course. See the [help center article](https://support.google.com/edu/classroom/answer/9184995) for details."
      }
    },
    "com.gcp.classroom_v1#GradebookSettingsDisplaySettingEnum": {
      "type": "enum",
      "members": {
        "DISPLAY_SETTING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_SETTING_UNSPECIFIED"
          }
        },
        "SHOW_OVERALL_GRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_OVERALL_GRADE"
          }
        },
        "HIDE_OVERALL_GRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDE_OVERALL_GRADE"
          }
        },
        "SHOW_TEACHERS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOW_TEACHERS_ONLY"
          }
        }
      }
    },
    "com.gcp.classroom_v1#GradebookSettingsCalculationTypeEnum": {
      "type": "enum",
      "members": {
        "CALCULATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALCULATION_TYPE_UNSPECIFIED"
          }
        },
        "TOTAL_POINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOTAL_POINTS"
          }
        },
        "WEIGHTED_CATEGORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHTED_CATEGORIES"
          }
        }
      }
    },
    "com.gcp.classroom_v1#GradeCategoryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#GradeCategory"
      }
    },
    "com.gcp.classroom_v1#ShortAnswerSubmission": {
      "type": "structure",
      "members": {
        "answer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Student response to a short-answer question."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Student work for a short answer question."
      }
    },
    "com.gcp.classroom_v1#AddOnContext": {
      "type": "structure",
      "members": {
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier of the `Announcement`, `CourseWork`, or `CourseWorkMaterial` under which the attachment is attached."
          }
        },
        "postId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Deprecated, use `item_id` instead."
          }
        },
        "supportsStudentWork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the post allows the teacher to see student work and passback grades."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier of the course."
          }
        },
        "teacherContext": {
          "target": "com.gcp.classroom_v1#TeacherContext",
          "traits": {
            "smithy.api#documentation": "Add-on context corresponding to the requesting user's role as a teacher. Its presence implies that the requesting user is a teacher in the course."
          }
        },
        "studentContext": {
          "target": "com.gcp.classroom_v1#StudentContext",
          "traits": {
            "smithy.api#documentation": "Add-on context corresponding to the requesting user's role as a student. Its presence implies that the requesting user is a student in the course."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attachment-relevant metadata for Classroom add-ons in the context of a specific post."
      }
    },
    "com.gcp.classroom_v1#ListRubricsResponse": {
      "type": "structure",
      "members": {
        "rubrics": {
          "target": "com.gcp.classroom_v1#RubricList",
          "traits": {
            "smithy.api#documentation": "Rubrics that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing rubrics."
      }
    },
    "com.gcp.classroom_v1#RubricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Rubric"
      }
    },
    "com.gcp.classroom_v1#CourseWorkMaterial": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters."
          }
        },
        "topicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course."
          }
        },
        "individualStudentsOptions": {
          "target": "com.gcp.classroom_v1#IndividualStudentsOptions",
          "traits": {
            "smithy.api#documentation": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when this course work material was created. Read-only."
          }
        },
        "creatorUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the user that created the course work material. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Classroom-assigned identifier of this course work material, unique per course. Read-only."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent change to this course work material. Read-only."
          }
        },
        "state": {
          "target": "com.gcp.classroom_v1#CourseWorkMaterialStateEnum",
          "traits": {
            "smithy.api#documentation": "Status of this course work material. If unspecified, the default state is `DRAFT`."
          }
        },
        "materials": {
          "target": "com.gcp.classroom_v1#MaterialList",
          "traits": {
            "smithy.api#documentation": "Additional materials. A course work material must have no more than 20 material items."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
          }
        },
        "assigneeMode": {
          "target": "com.gcp.classroom_v1#CourseWorkMaterialAssigneeModeEnum",
          "traits": {
            "smithy.api#documentation": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`."
          }
        },
        "scheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional timestamp when this course work material is scheduled to be published."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Course work material created by a teacher for students of the course"
      }
    },
    "com.gcp.classroom_v1#CourseWorkMaterialStateEnum": {
      "type": "enum",
      "members": {
        "COURSEWORK_MATERIAL_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COURSEWORK_MATERIAL_STATE_UNSPECIFIED"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.gcp.classroom_v1#CourseWorkMaterialAssigneeModeEnum": {
      "type": "enum",
      "members": {
        "ASSIGNEE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNEE_MODE_UNSPECIFIED"
          }
        },
        "ALL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STUDENTS"
          }
        },
        "INDIVIDUAL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_STUDENTS"
          }
        }
      }
    },
    "com.gcp.classroom_v1#ReturnStudentSubmissionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request to return a student submission."
      }
    },
    "com.gcp.classroom_v1#ListTopicResponse": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "com.gcp.classroom_v1#TopicList",
          "traits": {
            "smithy.api#documentation": "Topic items that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing topics."
      }
    },
    "com.gcp.classroom_v1#TopicList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Topic"
      }
    },
    "com.gcp.classroom_v1#Attachment": {
      "type": "structure",
      "members": {
        "youTubeVideo": {
          "target": "com.gcp.classroom_v1#YouTubeVideo",
          "traits": {
            "smithy.api#documentation": "Youtube video attachment."
          }
        },
        "driveFile": {
          "target": "com.gcp.classroom_v1#DriveFile",
          "traits": {
            "smithy.api#documentation": "Google Drive file attachment."
          }
        },
        "form": {
          "target": "com.gcp.classroom_v1#Form",
          "traits": {
            "smithy.api#documentation": "Google Forms attachment."
          }
        },
        "link": {
          "target": "com.gcp.classroom_v1#Link",
          "traits": {
            "smithy.api#documentation": "Link attachment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported."
      }
    },
    "com.gcp.classroom_v1#UserProfile": {
      "type": "structure",
      "members": {
        "verifiedTeacher": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents whether a Google Workspace for Education user's domain administrator has explicitly verified them as being a teacher. This field is always false if the user is not a member of a Google Workspace for Education domain. Read-only"
          }
        },
        "name": {
          "target": "com.gcp.classroom_v1#Name",
          "traits": {
            "smithy.api#documentation": "Name of the user. Read-only."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user. Read-only."
          }
        },
        "permissions": {
          "target": "com.gcp.classroom_v1#GlobalPermissionList",
          "traits": {
            "smithy.api#documentation": "Global permissions of the user. Read-only."
          }
        },
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the user. Must request `https://www.googleapis.com/auth/classroom.profile.emails` scope for this field to be populated in a response body. Read-only."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of user's profile photo. Must request `https://www.googleapis.com/auth/classroom.profile.photos` scope for this field to be populated in a response body. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Global information for a user."
      }
    },
    "com.gcp.classroom_v1#GlobalPermissionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#GlobalPermission"
      }
    },
    "com.gcp.classroom_v1#Material": {
      "type": "structure",
      "members": {
        "driveFile": {
          "target": "com.gcp.classroom_v1#SharedDriveFile",
          "traits": {
            "smithy.api#documentation": "Google Drive file material."
          }
        },
        "youtubeVideo": {
          "target": "com.gcp.classroom_v1#YouTubeVideo",
          "traits": {
            "smithy.api#documentation": "YouTube video material."
          }
        },
        "form": {
          "target": "com.gcp.classroom_v1#Form",
          "traits": {
            "smithy.api#documentation": "Google Forms material. Read-only."
          }
        },
        "link": {
          "target": "com.gcp.classroom_v1#Link",
          "traits": {
            "smithy.api#documentation": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response."
          }
        },
        "gem": {
          "target": "com.gcp.classroom_v1#GeminiGem",
          "traits": {
            "smithy.api#documentation": "Gemini Gem material. Read-only."
          }
        },
        "notebook": {
          "target": "com.gcp.classroom_v1#NotebookLmNotebook",
          "traits": {
            "smithy.api#documentation": "NotebookLM Notebook material. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Material attached to course work. When creating attachments, setting the `form`, `gem`, or `notebook` field is not supported."
      }
    },
    "com.gcp.classroom_v1#ModifyCourseWorkAssigneesRequest": {
      "type": "structure",
      "members": {
        "modifyIndividualStudentsOptions": {
          "target": "com.gcp.classroom_v1#ModifyIndividualStudentsOptions",
          "traits": {
            "smithy.api#documentation": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
          }
        },
        "assigneeMode": {
          "target": "com.gcp.classroom_v1#ModifyCourseWorkAssigneesRequestAssigneeModeEnum",
          "traits": {
            "smithy.api#documentation": "Mode of the coursework describing whether it will be assigned to all students or specified individual students."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to modify assignee mode and options of a coursework."
      }
    },
    "com.gcp.classroom_v1#ModifyCourseWorkAssigneesRequestAssigneeModeEnum": {
      "type": "enum",
      "members": {
        "ASSIGNEE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNEE_MODE_UNSPECIFIED"
          }
        },
        "ALL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_STUDENTS"
          }
        },
        "INDIVIDUAL_STUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDIVIDUAL_STUDENTS"
          }
        }
      }
    },
    "com.gcp.classroom_v1#EmbedUri": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. URI to be iframed after being populated with query parameters. This must be a valid UTF-8 string containing between 1 and 1800 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "URI to be iframed after being populated with query parameters."
      }
    },
    "com.gcp.classroom_v1#Registration": {
      "type": "structure",
      "members": {
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time until which the `Registration` is effective. This is a read-only field assigned by the server."
          }
        },
        "feed": {
          "target": "com.gcp.classroom_v1#Feed",
          "traits": {
            "smithy.api#documentation": "Specification for the class of notifications that Classroom should deliver to the destination."
          }
        },
        "cloudPubsubTopic": {
          "target": "com.gcp.classroom_v1#CloudPubsubTopic",
          "traits": {
            "smithy.api#documentation": "The Cloud Pub/Sub topic that notifications are to be sent to."
          }
        },
        "registrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A server-generated unique identifier for this `Registration`. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An instruction to Classroom to send notifications from the `feed` to the provided destination."
      }
    },
    "com.gcp.classroom_v1#GradingPeriodSettings": {
      "type": "structure",
      "members": {
        "gradingPeriods": {
          "target": "com.gcp.classroom_v1#GradingPeriodList",
          "traits": {
            "smithy.api#documentation": "The list of grading periods in a specific course. Grading periods must not have overlapping date ranges and must be listed in chronological order. Each grading period must have a unique title within a course."
          }
        },
        "applyToExistingCoursework": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Supports toggling the application of grading periods on existing stream items. Once set, this value is persisted meaning that it does not need to be set in every request to update `GradingPeriodSettings`. If not previously set, the default is False."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grading period settings that include all the individual grading periods in a course."
      }
    },
    "com.gcp.classroom_v1#GradingPeriodList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#GradingPeriod"
      }
    },
    "com.gcp.classroom_v1#ModifyIndividualStudentsOptions": {
      "type": "structure",
      "members": {
        "removeStudentIds": {
          "target": "com.gcp.classroom_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs of students to be removed from having access to this coursework/announcement."
          }
        },
        "addStudentIds": {
          "target": "com.gcp.classroom_v1#StringList",
          "traits": {
            "smithy.api#documentation": "IDs of students to be added as having access to this coursework/announcement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`."
      }
    },
    "com.gcp.classroom_v1#ListInvitationsResponse": {
      "type": "structure",
      "members": {
        "invitations": {
          "target": "com.gcp.classroom_v1#InvitationList",
          "traits": {
            "smithy.api#documentation": "Invitations that match the list request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing invitations."
      }
    },
    "com.gcp.classroom_v1#InvitationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Invitation"
      }
    },
    "com.gcp.classroom_v1#IndividualStudentsOptions": {
      "type": "structure",
      "members": {
        "studentIds": {
          "target": "com.gcp.classroom_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Identifiers for the students that have access to the coursework/announcement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`."
      }
    },
    "com.gcp.classroom_v1#GeminiGem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gems resource id."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Gem."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that can be used to access the Gem."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gemini Gem link."
      }
    },
    "com.gcp.classroom_v1#Topic": {
      "type": "structure",
      "members": {
        "topicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the topic. Read-only."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the topic was last updated by the system. Read-only."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters."
          }
        },
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the course. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Topic created by a teacher for the course"
      }
    },
    "com.gcp.classroom_v1#ListTeachersResponse": {
      "type": "structure",
      "members": {
        "teachers": {
          "target": "com.gcp.classroom_v1#TeacherList",
          "traits": {
            "smithy.api#documentation": "Teachers who match the list request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifying the next page of results to return. If empty, no further results are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response when listing teachers."
      }
    },
    "com.gcp.classroom_v1#TeacherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.classroom_v1#Teacher"
      }
    },
    "com.gcp.classroom_v1#CourseRosterChangesInfo": {
      "type": "structure",
      "members": {
        "courseId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `course_id` of the course to subscribe to roster changes for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`."
      }
    },
    "com.gcp.classroom_v1#DriveFolder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Drive API resource ID."
          }
        },
        "alternateLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that can be used to access the Drive folder. Read-only."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Drive folder. Read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Representation of a Google Drive folder."
      }
    },
    "com.gcp.classroom_v1#NotebookLmNotebook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notebook resource id."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Notebook."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL that can be used to access the Notebook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NotebookLM Notebook link."
      }
    },
    "com.gcp.classroom_v1#Criterion": {
      "type": "structure",
      "members": {
        "levels": {
          "target": "com.gcp.classroom_v1#LevelList",
          "traits": {
            "smithy.api#documentation": "The list of levels within this criterion."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the criterion."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The criterion ID. On creation, an ID is assigned."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
[...]
