{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudbilling",
    "version": "v1",
    "title": "Cloud Billing API",
    "baseUrl": "https://cloudbilling.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudbilling_v1#ListProjectBillingInfoResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        },
        "projectBillingInfo": {
          "target": "com.gcp.cloudbilling_v1#ProjectBillingInfoList",
          "traits": {
            "smithy.api#documentation": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `ListProjectBillingInfoResponse`."
      }
    },
    "com.gcp.cloudbilling_v1#ProjectBillingInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#ProjectBillingInfo"
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsResponse": {
      "type": "structure",
      "members": {
        "billingAccounts": {
          "target": "com.gcp.cloudbilling_v1#BillingAccountList",
          "traits": {
            "smithy.api#documentation": "A list of billing accounts."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListBillingAccounts`."
      }
    },
    "com.gcp.cloudbilling_v1#BillingAccountList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      }
    },
    "com.gcp.cloudbilling_v1#PricingInfo": {
      "type": "structure",
      "members": {
        "currencyConversionRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Conversion rate used for currency conversion, from USD to the currency specified in the request. This includes any surcharge collected for billing in non USD currency. If a currency is not specified in the request this defaults to 1.0. Example: USD * currency_conversion_rate = JPY"
          }
        },
        "pricingExpression": {
          "target": "com.gcp.cloudbilling_v1#PricingExpression",
          "traits": {
            "smithy.api#documentation": "Expresses the pricing formula. See `PricingExpression` for an example."
          }
        },
        "aggregationInfo": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfo",
          "traits": {
            "smithy.api#documentation": "Aggregation Info. This can be left unspecified if the pricing expression doesn't require aggregation."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional human readable summary of the pricing information, has a maximum length of 256 characters."
          }
        },
        "effectiveTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp from which this pricing was effective within the requested time range. This is guaranteed to be greater than or equal to the start_time field in the request and less than the end_time field in the request. If a time range was not specified in the request this field will be equivalent to a time within the last 12 hours, indicating the latest pricing info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the pricing information for a SKU at a single point of time."
      }
    },
    "com.gcp.cloudbilling_v1#MoveBillingAccountRequest": {
      "type": "structure",
      "members": {
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `MoveBillingAccount` RPC."
      }
    },
    "com.gcp.cloudbilling_v1#ListSkusResponse": {
      "type": "structure",
      "members": {
        "skus": {
          "target": "com.gcp.cloudbilling_v1#SkuList",
          "traits": {
            "smithy.api#documentation": "The list of public SKUs of the given service."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListSkus` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListSkus`."
      }
    },
    "com.gcp.cloudbilling_v1#SkuList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Sku"
      }
    },
    "com.gcp.cloudbilling_v1#GeoTaxonomy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudbilling_v1#GeoTaxonomyTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of Geo Taxonomy: GLOBAL, REGIONAL, or MULTI_REGIONAL."
          }
        },
        "regions": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of regions associated with a sku. Empty for Global skus, which are associated with all Google Cloud regions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates the geographic taxonomy data for a sku."
      }
    },
    "com.gcp.cloudbilling_v1#GeoTaxonomyTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        },
        "MULTI_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_REGIONAL"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudbilling_v1#ProjectBillingInfo": {
      "type": "structure",
      "members": {
        "billingAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the billing account associated with the project, if any. For example, `billingAccounts/012345-567890-ABCDEF`."
          }
        },
        "billingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the project is associated with an open billing account, to which usage on the project is charged. False if the project is associated with a closed billing account, or no billing account at all, and therefore cannot use paid services."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name for the `ProjectBillingInfo`; has the form `projects/{project_id}/billingInfo`. For example, the resource name for the billing information for project `tokyo-rain-123` would be `projects/tokyo-rain-123/billingInfo`."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The ID of the project that this `ProjectBillingInfo` represents, such as `tokyo-rain-123`. This is a convenience field so that you don't need to parse the `name` field to obtain a project ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulation of billing information for a Google Cloud Console project. A project has at most one associated billing account at a time (but a billing account can be assigned to multiple projects)."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.cloudbilling_v1#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        },
        "condition": {
          "target": "com.gcp.cloudbilling_v1#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.cloudbilling_v1#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbilling_v1#PricingExpression": {
      "type": "structure",
      "members": {
        "tieredRates": {
          "target": "com.gcp.cloudbilling_v1#TierRateList",
          "traits": {
            "smithy.api#documentation": "The list of tiered rates for this pricing. The total cost is computed by applying each of the tiered rates on usage. This repeated list is sorted by ascending order of start_usage_amount."
          }
        },
        "usageUnitDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of usage in human readable form. Example: \"gibi byte\"."
          }
        },
        "usageUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short hand for unit of usage this pricing is specified in. Example: usage_unit of \"GiBy\" means that usage is specified in \"Gibi Byte\"."
          }
        },
        "baseUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base unit for the SKU which is the unit used in usage exports. Example: \"By\""
          }
        },
        "baseUnitDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base unit in human readable form. Example: \"byte\"."
          }
        },
        "baseUnitConversionFactor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Conversion factor for converting from price per usage_unit to price per base_unit, and start_usage_amount to start_usage_amount in base_unit. unit_price / base_unit_conversion_factor = price per base_unit. start_usage_amount * base_unit_conversion_factor = start_usage_amount in base_unit."
          }
        },
        "displayQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The recommended quantity of units for displaying pricing info. When displaying pricing info it is recommended to display: (unit_price * display_quantity) per display_quantity usage_unit. This field does not affect the pricing formula and is for display purposes only. Example: If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and the display_quantity is \"1000\" then the recommended way of displaying the pricing info is \"0.10 USD per 1000 GB\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Expresses a mathematical pricing formula. For Example:- `usage_unit: GBy` `tiered_rates:` `[start_usage_amount: 20, unit_price: $10]` `[start_usage_amount: 100, unit_price: $5]` The above expresses a pricing formula where the first 20GB is free, the next 80GB is priced at $10 per GB followed by $5 per GB for additional usage."
      }
    },
    "com.gcp.cloudbilling_v1#TierRateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#TierRate"
      }
    },
    "com.gcp.cloudbilling_v1#Policy": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.cloudbilling_v1#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.cloudbilling_v1#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.cloudbilling_v1#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Binding"
      }
    },
    "com.gcp.cloudbilling_v1#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AuditConfig"
      }
    },
    "com.gcp.cloudbilling_v1#Expr": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.cloudbilling_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.cloudbilling_v1#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.cloudbilling_v1#Category": {
      "type": "structure",
      "members": {
        "serviceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the service this SKU belongs to."
          }
        },
        "resourceFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of product the SKU refers to. Example: \"Compute\", \"Storage\", \"Network\", \"ApplicationServices\" etc."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A group classification for related SKUs. Example: \"RAM\", \"GPU\", \"Prediction\", \"Ops\", \"GoogleEgress\" etc."
          }
        },
        "usageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents how the SKU is consumed. Example: \"OnDemand\", \"Preemptible\", \"Commit1Mo\", \"Commit1Yr\" etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the category hierarchy of a SKU."
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfo": {
      "type": "structure",
      "members": {
        "aggregationInterval": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfoAggregationIntervalEnum"
        },
        "aggregationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of intervals to aggregate over. Example: If aggregation_level is \"DAILY\" and aggregation_count is 14, aggregation will be over 14 days."
          }
        },
        "aggregationLevel": {
          "target": "com.gcp.cloudbilling_v1#AggregationInfoAggregationLevelEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the aggregation level and interval for pricing of a single SKU."
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfoAggregationIntervalEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_INTERVAL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_INTERVAL_UNSPECIFIED"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#AggregationInfoAggregationLevelEnum": {
      "type": "enum",
      "members": {
        "AGGREGATION_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION_LEVEL_UNSPECIFIED"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#AuditConfig": {
      "type": "structure",
      "members": {
        "auditLogConfigs": {
          "target": "com.gcp.cloudbilling_v1#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.cloudbilling_v1#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#AuditLogConfig"
      }
    },
    "com.gcp.cloudbilling_v1#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        },
        "policy": {
          "target": "com.gcp.cloudbilling_v1#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.cloudbilling_v1#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the SKU. Example: \"services/6F81-5844-456A/skus/D041-B8A1-6E0B\""
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the SKU. Example: \"D041-B8A1-6E0B\""
          }
        },
        "serviceProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the service provider. This is 'Google' for first party services in Google Cloud Platform."
          }
        },
        "category": {
          "target": "com.gcp.cloudbilling_v1#Category",
          "traits": {
            "smithy.api#documentation": "The category hierarchy of this SKU, purely for organizational purpose."
          }
        },
        "serviceRegions": {
          "target": "com.gcp.cloudbilling_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of service regions this SKU is offered at. Example: \"asia-east1\" Service regions can be found at https://cloud.google.com/about/locations/"
          }
        },
        "pricingInfo": {
          "target": "com.gcp.cloudbilling_v1#PricingInfoList",
          "traits": {
            "smithy.api#documentation": "A timeline of pricing info for this SKU in chronological order."
          }
        },
        "geoTaxonomy": {
          "target": "com.gcp.cloudbilling_v1#GeoTaxonomy",
          "traits": {
            "smithy.api#documentation": "The geographic taxonomy for this sku."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable description of the SKU, has a maximum length of 256 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates a single SKU in Google Cloud"
      }
    },
    "com.gcp.cloudbilling_v1#PricingInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#PricingInfo"
      }
    },
    "com.gcp.cloudbilling_v1#TierRate": {
      "type": "structure",
      "members": {
        "startUsageAmount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Usage is priced at this rate only after this amount. Example: start_usage_amount of 10 indicates that the usage will be priced at the unit_price after the first 10 usage_units."
          }
        },
        "unitPrice": {
          "target": "com.gcp.cloudbilling_v1#Money",
          "traits": {
            "smithy.api#documentation": "The price per unit of usage. Example: unit_price of amount $10 indicates that each unit will cost $10."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The price rate indicating starting usage and its corresponding price."
      }
    },
    "com.gcp.cloudbilling_v1#ListServicesResponse": {
      "type": "structure",
      "members": {
        "services": {
          "target": "com.gcp.cloudbilling_v1#ServiceList",
          "traits": {
            "smithy.api#documentation": "A list of services."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. To retrieve the next page, call `ListServices` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `ListServices`."
      }
    },
    "com.gcp.cloudbilling_v1#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudbilling_v1#Service"
      }
    },
    "com.gcp.cloudbilling_v1#Service": {
      "type": "structure",
      "members": {
        "businessEntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The business under which the service is offered. Ex. \"businessEntities/GCP\", \"businessEntities/Maps\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name for the service. Example: \"services/6F81-5844-456A\""
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the service. Example: \"6F81-5844-456A\""
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable display name for this service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encapsulates a single service in Google Cloud Platform."
      }
    },
    "com.gcp.cloudbilling_v1#BillingAccount": {
      "type": "structure",
      "members": {
        "open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it are unable to use paid services."
          }
        },
        "masterBillingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this account is a [subaccount](https://cloud.google.com/billing/docs/concepts), then this will be the resource name of the parent billing account that it is being resold through. Otherwise this will be empty."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The billing account's parent resource identifier. Use the `MoveBillingAccount` method to update the account's parent resource if it is a organization. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The currency in which the billing account is billed and charged, represented as an ISO 4217 code such as `USD`. Billing account currency is determined at the time of billing account creation and cannot be updated subsequently, so this field should not be set on update requests. In addition, a subaccount always matches the currency of its parent billing account, so this field should not be set on subaccount creation requests. Clients can read this field to determine the currency of an existing billing account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Cloud Console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A billing account in the [Google Cloud Console](https://console.cloud.google.com/). You can assign a billing account to one or more projects."
      }
    },
    "com.gcp.cloudbilling_v1#ListServicesRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. Defaults to 5000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListServices` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#ListServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListServicesRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListServicesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/services"
        },
        "smithy.api#documentation": "Lists all public cloud services.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListServicesSkusRequest": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional inclusive start time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most).",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. Defaults to 5000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListSkus` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO 4217 currency code for the pricing info in the response proto. Will use the conversion rate as of start_time. Optional. If not specified USD will be used.",
            "smithy.api#httpQuery": "currencyCode"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the service. Example: \"services/6F81-5844-456A\"",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional exclusive end time of the time range for which the pricing versions will be returned. Timestamps in the future are not allowed. The time range has to be within a single calendar month in America/Los_Angeles timezone. Time range as a whole is optional. If not specified, the latest pricing will be returned (up to 12 hours old at most).",
            "smithy.api#httpQuery": "endTime"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListServicesSkus": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListServicesSkusRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListSkusResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/skus"
        },
        "smithy.api#documentation": "Lists all publicly available SKUs for a given cloud service.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListOrganizationsBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. The maximum page size is 100; this is also the default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListOrganizationsBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListOrganizationsBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/billingAccounts"
        },
        "smithy.api#documentation": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateOrganizationsBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#BillingAccount",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudbilling_v1#CreateOrganizationsBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#CreateOrganizationsBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/billingAccounts"
        },
        "smithy.api#documentation": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts."
      }
    },
    "com.gcp.cloudbilling_v1#MoveOrganizationsBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destinationParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Organization to move the billing account under. Must be of the form `organizations/{organization_id}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#MoveOrganizationsBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#MoveOrganizationsBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+destinationParent}/{+name}:move"
        },
        "smithy.api#documentation": "Changes which parent organization a billing account belongs to."
      }
    },
    "com.gcp.cloudbilling_v1#PatchBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the billing account resource to be updated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update mask applied to the resource. Only \"display_name\" is currently supported.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#BillingAccount",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#PatchBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#PatchBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Updates a billing account's fields. Currently the only field that can be edited is `display_name`. The current authenticated user must have the `billing.accounts.update` IAM permission, which is typically given to the [administrator](https://cloud.google.com/billing/docs/how-to/billing-access) of the billing account."
      }
    },
    "com.gcp.cloudbilling_v1#GetIamPolicyBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GetIamPolicyBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#GetIamPolicyBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a billing account. The caller must have the `billing.accounts.getIamPolicy` permission on the account, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access)."
      }
    },
    "com.gcp.cloudbilling_v1#TestIamPermissionsBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#TestIamPermissionsBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#TestIamPermissionsBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Tests the access control policy for a billing account. This method takes the resource and a set of permissions as input and returns the subset of the input permissions that the caller is allowed for that resource."
      }
    },
    "com.gcp.cloudbilling_v1#GetBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the billing account to retrieve. For example, `billingAccounts/012345-567890-ABCDEF`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GetBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#GetBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets information about a billing account. The current authenticated user must be a [viewer of the billing account](https://cloud.google.com/billing/docs/how-to/billing-access)."
      }
    },
    "com.gcp.cloudbilling_v1#MoveBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the billing account to move. Must be of the form `billingAccounts/{billing_account_id}`. The specified billing account cannot be a subaccount, since a subaccount always belongs to the same organization as its parent account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#MoveBillingAccountRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#MoveBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#MoveBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:move"
        },
        "smithy.api#documentation": "Changes which parent organization a billing account belongs to."
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpQuery": "parent"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. The maximum page size is 100; this is also the default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/billingAccounts"
        },
        "smithy.api#documentation": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpQuery": "parent"
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#BillingAccount",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#CreateBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/billingAccounts"
        },
        "smithy.api#documentation": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts."
      }
    },
    "com.gcp.cloudbilling_v1#SetIamPolicyBillingAccountsRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#SetIamPolicyBillingAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#SetIamPolicyBillingAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy for a billing account. Replaces any existing policy. The caller must have the `billing.accounts.setIamPolicy` permission on the account, which is often given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access)."
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsSubAccountsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. The maximum page size is 100; this is also the default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Options for how to filter the returned billing accounts. This only supports filtering for [subaccounts](https://cloud.google.com/billing/docs/concepts) under a single provided parent billing account. (for example, `master_billing_account=billingAccounts/012345-678901-ABCDEF`). Boolean algebra and other fields are not currently supported.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent resource to list billing accounts from. Format: - `organizations/{organization_id}`, for example, `organizations/12345678` - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsSubAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsSubAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+parent}/subAccounts"
        },
        "smithy.api#documentation": "Lists the billing accounts that the current authenticated user has permission to [view](https://cloud.google.com/billing/docs/how-to/billing-access).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateBillingAccountsSubAccountsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent to create a billing account from. Format: - `billingAccounts/{billing_account_id}`, for example, `billingAccounts/012345-567890-ABCDEF`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#BillingAccount",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#CreateBillingAccountsSubAccounts": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#CreateBillingAccountsSubAccountsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#BillingAccount"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+parent}/subAccounts"
        },
        "smithy.api#documentation": "This method creates [billing subaccounts](https://cloud.google.com/billing/docs/concepts#subaccounts). Google Cloud resellers should use the Channel Services APIs, [accounts.customers.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers/create) and [accounts.customers.entitlements.create](https://cloud.google.com/channel/docs/reference/rest/v1/accounts.customers.entitlements/create). When creating a subaccount, the current authenticated user must have the `billing.accounts.update` IAM permission on the parent account, which is typically given to billing account [administrators](https://cloud.google.com/billing/docs/how-to/billing-access). This method will return an error if the parent account has not been provisioned for subaccounts."
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsProjectsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the billing account associated with the projects that you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Requested page size. The maximum page size is 100; this is also the default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#ListBillingAccountsProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#ListBillingAccountsProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ListProjectBillingInfoResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/projects"
        },
        "smithy.api#documentation": "Lists the projects associated with a billing account. The current authenticated user must have the `billing.resourceAssociations.list` IAM permission, which is often given to billing account [viewers](https://cloud.google.com/billing/docs/how-to/billing-access).",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudbilling_v1#UpdateBillingInfoProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project associated with the billing information that you want to update. For example, `projects/tokyo-rain-123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudbilling_v1#ProjectBillingInfo",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#UpdateBillingInfoProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#UpdateBillingInfoProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ProjectBillingInfo"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudbilling_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "v1/{+name}/billingInfo"
        },
        "smithy.api#documentation": "Sets or updates the billing account associated with a project. You specify the new billing account by setting the `billing_account_name` in the `ProjectBillingInfo` resource to the resource name of a billing account. Associating a project with an open billing account enables billing on the project and allows charges for resource usage. If the project already had a billing account, this method changes the billing account used for resource usage charges. *Note:* Incurred charges that have not yet been reported in the transaction history of the Google Cloud Console might be billed to the new billing account, even if the charge occurred before the new billing account was assigned to the project. The current authenticated user must have ownership privileges for both the [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ) and the [billing account](https://cloud.google.com/billing/docs/how-to/billing-access). You can disable billing on the project by setting the `billing_account_name` field to empty. This action disassociates the current billing account from the project. Any billable activity of your in-use services will stop, and your application could stop functioning as expected. Any unbilled charges to date will be billed to the previously associated account. The current authenticated user must be either an owner of the project or an owner of the billing account for the project. Note that associating a project with a *closed* billing account will have much the same effect as disabling billing on the project: any paid resources used by the project will be shut down. Thus, unless you wish to disable billing, you should always call this method with the name of an *open* billing account."
      }
    },
    "com.gcp.cloudbilling_v1#GetBillingInfoProjectsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the project for which billing information is retrieved. For example, `projects/tokyo-rain-123`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudbilling_v1#GetBillingInfoProjects": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudbilling_v1#GetBillingInfoProjectsRequest"
      },
      "output": {
        "target": "com.gcp.cloudbilling_v1#ProjectBillingInfo"
      },
      "errors": [
        {
          "target": "com.gcp.cloudbilling_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudbilling_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}/billingInfo"
        },
        "smithy.api#documentation": "Gets the billing information for a project. The current authenticated user must have the `resourcemanager.projects.get` permission for the project, which can be granted by assigning the [Project Viewer](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) role."
      }
    }
  }
}
