{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudsearch",
    "version": "v1",
    "title": "Cloud Search API",
    "baseUrl": "https://cloudsearch.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudsearch_v1#Value": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "smithy.api#Boolean"
        },
        "stringValue": {
          "target": "smithy.api#String"
        },
        "integerValue": {
          "target": "smithy.api#String"
        },
        "doubleValue": {
          "target": "smithy.api#Double"
        },
        "dateValue": {
          "target": "com.gcp.cloudsearch_v1#Cloudsearch_Date"
        },
        "timestampValue": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a single value with generic type."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaItem": {
      "type": "structure",
      "members": {
        "conflictedGroup": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickConflictingEventsCardProto"
        },
        "meeting": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry"
        },
        "gapBefore": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickGap"
        }
      }
    },
    "com.gcp.cloudsearch_v1#UserActivity": {
      "type": "structure",
      "members": {
        "queryActivity": {
          "target": "com.gcp.cloudsearch_v1#QueryActivity",
          "traits": {
            "smithy.api#documentation": "Contains data which needs to be logged/removed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User's single or bulk query activity. This can be a logging query or deletion query."
      }
    },
    "com.gcp.cloudsearch_v1#GetCustomerQueryStatsResponse": {
      "type": "structure",
      "members": {
        "totalQueryCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total successful query count (status code 200) for the given date range."
          }
        },
        "stats": {
          "target": "com.gcp.cloudsearch_v1#CustomerQueryStatsList"
        }
      }
    },
    "com.gcp.cloudsearch_v1#CustomerQueryStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#CustomerQueryStats"
      }
    },
    "com.gcp.cloudsearch_v1#IndexItemOptions": {
      "type": "structure",
      "members": {
        "allowUnknownGsuitePrincipals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the index request should allow Google Workspace principals that do not exist or are deleted."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#GetCustomerSessionStatsResponse": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "com.gcp.cloudsearch_v1#CustomerSessionStatsList"
        }
      }
    },
    "com.gcp.cloudsearch_v1#CustomerSessionStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#CustomerSessionStats"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonProfileCardRelatedPeople": {
      "type": "structure",
      "members": {
        "relatedPerson": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPersonList",
          "traits": {
            "smithy.api#documentation": "Related people."
          }
        },
        "relation": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonProfileCardRelatedPeopleRelationEnum",
          "traits": {
            "smithy.api#documentation": "Relation type."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPersonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPerson"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonProfileCardRelatedPeopleRelationEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGER"
          }
        },
        "DIRECT_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_REPORT"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#DataSourceIndexStats": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.gcp.cloudsearch_v1#Cloudsearch_Date",
          "traits": {
            "smithy.api#documentation": "The date for which index stats were calculated. If the date of request is not the current date then stats calculated on the next day are returned. Stats are calculated close to mid night in this case. If date of request is current date, then real time stats are returned."
          }
        },
        "itemCountByStatus": {
          "target": "com.gcp.cloudsearch_v1#ItemCountByStatusList",
          "traits": {
            "smithy.api#documentation": "Number of items aggregrated by status code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregation of items by status code as of the specified date."
      }
    },
    "com.gcp.cloudsearch_v1#ItemCountByStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#ItemCountByStatus"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleDisambiguationCard": {
      "type": "structure",
      "members": {
        "person": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPersonList",
          "traits": {
            "smithy.api#documentation": "Candidate persons for the query."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query that can be used to produce an answer card with the same attribute, but for this person."
          }
        },
        "person": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPerson",
          "traits": {
            "smithy.api#documentation": "The profile of this person."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person that also matches the query, but was not selected due to a lower affinity with the requesting user."
      }
    },
    "com.gcp.cloudsearch_v1#SourceCrowdingConfig": {
      "type": "structure",
      "members": {
        "numResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results allowed from a datasource in a result page as long as results from other sources are not exhausted. Value specified must not be negative. A default value is used if this value is equal to 0. To disable crowding, set the value greater than 100."
          }
        },
        "numSuggestions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of suggestions allowed from a source. No limits will be set on results if this value is less than or equal to 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set search results crowding limits. Crowding is a situation in which multiple results from the same source or host \"crowd out\" other results, diminishing the quality of search for users. To foster better search quality and source diversity in search results, you can set a condition to reduce repetitive results by source."
      }
    },
    "com.gcp.cloudsearch_v1#DoubleValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.cloudsearch_v1#DoubleList"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of double values."
      }
    },
    "com.gcp.cloudsearch_v1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPersonBirthday": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unstructured birthday."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#RetrievalImportance": {
      "type": "structure",
      "members": {
        "importance": {
          "target": "com.gcp.cloudsearch_v1#RetrievalImportanceImportanceEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the ranking importance given to property when it is matched during retrieval. Once set, the token importance of a property cannot be changed."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#RetrievalImportanceImportanceEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "HIGHEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGHEST"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ListQuerySourcesResponse": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.cloudsearch_v1#QuerySourceList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "List sources response."
      }
    },
    "com.gcp.cloudsearch_v1#QuerySourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#QuerySource"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryList": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntryList"
        },
        "responseMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response message in case no documents are present in the card."
          }
        },
        "listType": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListListTypeEnum"
        },
        "helpMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized message explaining how the documents were derived (e.g. from the last 30 days activity). This field is optional."
          }
        },
        "listTypeDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the types of documents present in the list."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListListTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_LIST_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_LIST_TYPE"
          }
        },
        "MENTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENTIONS"
          }
        },
        "SHARES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARES"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEEDS_ATTENTION"
          }
        },
        "VIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWS"
          }
        },
        "EDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITS"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ValueFilter": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.gcp.cloudsearch_v1#Value",
          "traits": {
            "smithy.api#documentation": "The value to be compared with."
          }
        },
        "operatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `operator_name` applied to the query, such as *price_greater_than*. The filter can work against both types of filters defined in the schema for your data source: 1. `operator_name`, where the query filters results by the property that matches the value. 2. `greater_than_operator_name` or `less_than_operator_name` in your schema. The query filters the results for the property values that are greater than or less than the supplied value in the query."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickShareMeetingDocsCardProto": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry",
          "traits": {
            "smithy.api#documentation": "Event."
          }
        },
        "document": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonDocumentList",
          "traits": {
            "smithy.api#documentation": "Documents to share for the given meeting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share meeting docs card proto."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonDocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonDocument"
      }
    },
    "com.gcp.cloudsearch_v1#SafeUrlProto": {
      "type": "structure",
      "members": {
        "privateDoNotAccessOrElseSafeUrlWrappedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message containing a string that is safe to use in URL contexts in DOM APIs and HTML documents, where the URL context does not refer to a resource that loads code."
      }
    },
    "com.gcp.cloudsearch_v1#Name": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The read-only display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person's name."
      }
    },
    "com.gcp.cloudsearch_v1#ItemAcl": {
      "type": "structure",
      "members": {
        "readers": {
          "target": "com.gcp.cloudsearch_v1#PrincipalList",
          "traits": {
            "smithy.api#documentation": "List of principals who are allowed to see the item in search results. Optional if inheriting permissions from another item or if the item is not intended to be visible, such as virtual containers. The maximum number of elements is 1000."
          }
        },
        "aclInheritanceType": {
          "target": "com.gcp.cloudsearch_v1#ItemAclAclInheritanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Sets the type of access rules to apply when an item inherits its ACL from a parent. This should always be set in tandem with the inheritAclFrom field. Also, when the inheritAclFrom field is set, this field should be set to a valid AclInheritanceType."
          }
        },
        "owners": {
          "target": "com.gcp.cloudsearch_v1#PrincipalList",
          "traits": {
            "smithy.api#documentation": "Optional. List of owners for the item. This field has no bearing on document access permissions. It does, however, offer a slight ranking boosts items where the querying user is an owner. The maximum number of elements is 5."
          }
        },
        "inheritAclFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the item to inherit the Access Permission List (ACL) from. Note: ACL inheritance *only* provides access permissions to child items and does not define structural relationships, nor does it provide convenient ways to delete large groups of items. Deleting an ACL parent from the index only alters the access permissions of child items that reference the parent in the inheritAclFrom field. The item is still in the index, but may not visible in search results. By contrast, deletion of a container item also deletes all items that reference the container via the containerName field. The maximum length for this field is 1536 characters."
          }
        },
        "deniedReaders": {
          "target": "com.gcp.cloudsearch_v1#PrincipalList",
          "traits": {
            "smithy.api#documentation": "List of principals who are explicitly denied access to the item in search results. While principals are denied access by default, use denied readers to handle exceptions and override the list allowed readers. The maximum number of elements is 100."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access control list information for the item. For more information see [Map ACLs](https://developers.google.com/workspace/cloud-search/docs/guides/acls)."
      }
    },
    "com.gcp.cloudsearch_v1#PrincipalList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Principal"
      }
    },
    "com.gcp.cloudsearch_v1#ItemAclAclInheritanceTypeEnum": {
      "type": "enum",
      "members": {
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "CHILD_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHILD_OVERRIDE"
          }
        },
        "PARENT_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_OVERRIDE"
          }
        },
        "BOTH_PERMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTH_PERMIT"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardError": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the reason why create-meeting-notes failed."
          }
        },
        "event": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry",
          "traits": {
            "smithy.api#documentation": "The event to request meeting notes creation"
          }
        },
        "reason": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardErrorReasonEnum",
          "traits": {
            "smithy.api#documentation": "The reason why create-meeting-notes failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Errors in the creation of meeting notes."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardErrorReasonEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "NOT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_OWNER"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#IntegerPropertyOptions": {
      "type": "structure",
      "members": {
        "orderedRanking": {
          "target": "com.gcp.cloudsearch_v1#IntegerPropertyOptionsOrderedRankingEnum",
          "traits": {
            "smithy.api#documentation": "Used to specify the ordered ranking for the integer. Can only be used if isRepeatable is false."
          }
        },
        "operatorOptions": {
          "target": "com.gcp.cloudsearch_v1#IntegerOperatorOptions",
          "traits": {
            "smithy.api#documentation": "If set, describes how the integer should be used as a search operator."
          }
        },
        "integerFacetingOptions": {
          "target": "com.gcp.cloudsearch_v1#IntegerFacetingOptions",
          "traits": {
            "smithy.api#documentation": "If set, describes integer faceting options for the given integer property. The corresponding integer property should be marked isFacetable."
          }
        },
        "maximumValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values greater than the maximum are accepted and ranked with the same weight as items indexed with the maximum value."
          }
        },
        "minimumValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum value of the property. The minimum and maximum values for the property are used to rank results according to the ordered ranking. Indexing requests with values less than the minimum are accepted and ranked with the same weight as items indexed with the minimum value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options for integer properties."
      }
    },
    "com.gcp.cloudsearch_v1#IntegerPropertyOptionsOrderedRankingEnum": {
      "type": "enum",
      "members": {
        "NO_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ORDER"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#IntegerOperatorOptions": {
      "type": "structure",
      "members": {
        "lessThanOperatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name required in the query in order to isolate the integer property using the less-than operator. For example, if lessThanOperatorName is *prioritybelow* and the property's name is *priorityVal*, then queries like *prioritybelow:<value>* show results only where the value of the property named *priorityVal* is less than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
          }
        },
        "greaterThanOperatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name required in the query in order to isolate the integer property using the greater-than operator. For example, if greaterThanOperatorName is *priorityabove* and the property's name is *priorityVal*, then queries like *priorityabove:<value>* show results only where the value of the property named *priorityVal* is greater than *<value>*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
          }
        },
        "operatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name required in the query in order to isolate the integer property. For example, if operatorName is *priority* and the property's name is *priorityVal*, then queries like *priority:<value>* show results only where the value of the property named *priorityVal* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to provide a search operator for integer properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardProto": {
      "type": "structure",
      "members": {
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Google Drive ID (a.k.a. resource ID) of the file."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title we want to show for meeting notes in the answer card"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New URL."
          }
        },
        "event": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry",
          "traits": {
            "smithy.api#documentation": "The event to request meeting notes creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the meeting notes created."
      }
    },
    "com.gcp.cloudsearch_v1#RemoveActivityResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Remove Logged Activity Response. will return an empty response for now. Will be revisited in later phases."
      }
    },
    "com.gcp.cloudsearch_v1#DriveLocationRestrict": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudsearch_v1#DriveLocationRestrictTypeEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Drive location search restricts (e.g. \"is:starred\")."
      }
    },
    "com.gcp.cloudsearch_v1#DriveLocationRestrictTypeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "TRASHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRASHED"
          }
        },
        "STARRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARRED"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#FacetBucket": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percent of results that match the bucket value. The returned value is between (0-100], and is rounded down to an integer if fractional. If the value is not explicitly returned, it represents a percentage value that rounds to 0. Percentages are returned for all searches, but are an estimate. Because percentages are always returned, you should render percentages instead of counts."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of results that match the bucket value. Counts are only returned for searches when count accuracy is ensured. Cloud Search does not guarantee facet counts for any query and facet counts might be present only intermittently, even for identical queries. Do not build dependencies on facet count existence; instead use facet ount percentages which are always returned."
          }
        },
        "filter": {
          "target": "com.gcp.cloudsearch_v1#Filter",
          "traits": {
            "smithy.api#documentation": "Filter to be passed in the search request if the corresponding bucket is selected."
          }
        },
        "value": {
          "target": "com.gcp.cloudsearch_v1#Value"
        }
      },
      "traits": {
        "smithy.api#documentation": "A bucket in a facet is the basic unit of operation. A bucket can comprise either a single value OR a contiguous range of values, depending on the type of the field bucketed. FacetBucket is currently used only for returning the response object."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntry": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntryCategoryEnum"
        },
        "document": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonDocument"
        },
        "rationale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason this document was selected."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickDocumentPerCategoryListDocumentPerCategoryListEntryCategoryEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_DOCUMENT"
          }
        },
        "ACTIONABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONABLE"
          }
        },
        "VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWED"
          }
        },
        "REPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLIED"
          }
        },
        "MENTION_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENTION_VIEWED"
          }
        },
        "MENTION_REPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENTION_REPLIED"
          }
        },
        "MENTION_NOT_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MENTION_NOT_VIEWED"
          }
        },
        "SHARED_AND_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_AND_VIEWED"
          }
        },
        "SHARED_NOT_VIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_NOT_VIEWED"
          }
        },
        "EDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDITED"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#MapTile": {
      "type": "structure",
      "members": {
        "imageUrl": {
          "target": "com.gcp.cloudsearch_v1#SafeUrlProto",
          "traits": {
            "smithy.api#documentation": "URL to an image file containing an office layout of the user's location for their organization, if one is available. For google.com, this image is from Corp Campus Maps."
          }
        },
        "tileX": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Map tile x coordinate"
          }
        },
        "tileY": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Map tile y coordinate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information used to render a map tile image in the proper location on a map."
      }
    },
    "com.gcp.cloudsearch_v1#PersonCore": {
      "type": "structure",
      "members": {
        "waldoComeBackTime": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed desk location within the company. For google.com this is the desk location code (e.g. \"DE-MUC-ARP-6T2-6T2C0C\") if the person has a desk."
          }
        },
        "totalDlrCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of the profile owner's dotted-line reports."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External ID of type \"login_id\" for the profile. For google.com this is the username/LDAP."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable Unicode display name."
          }
        },
        "adminTo": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "People the profile owner is an admin to. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "keywords": {
          "target": "com.gcp.cloudsearch_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Custom keywords the domain admin has added."
          }
        },
        "emails": {
          "target": "com.gcp.cloudsearch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "E-mail addresses of the person. The primary or preferred email should be first."
          }
        },
        "ftePermille": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full-time equivalent (in ‰) (e.g. 800 for a person who's working 80%)."
          }
        },
        "department": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's Organization department, e.g. \"People Operations\". For google.com this is usually called \"area\"."
          }
        },
        "keywordTypes": {
          "target": "com.gcp.cloudsearch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of keys to use from the map 'keywords'."
          }
        },
        "employeeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person's employee number (external ID of type \"organization\") For google.com this is the badge number (e.g. 2 for Larry Page)."
          }
        },
        "chatUrl": {
          "target": "com.gcp.cloudsearch_v1#SafeUrlProto",
          "traits": {
            "smithy.api#documentation": "The URL to start a chat conversation with the profile owner. For google.com this is a Hangouts URL."
          }
        },
        "admins": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "The profile owner's admins in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "calendarUrl": {
          "target": "com.gcp.cloudsearch_v1#SafeUrlProto",
          "traits": {
            "smithy.api#documentation": "The URL to open the profile owner's primary calendar."
          }
        },
        "dottedLineManagers": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "The profile owner's direct dotted line managers in no particular order. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "officeLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Office/building identifier within the company. For google.com this is the office code (e.g. \"DE-MUC-ARP\")."
          }
        },
        "photoUrl": {
          "target": "com.gcp.cloudsearch_v1#SafeUrlProto",
          "traits": {
            "smithy.api#documentation": "Person photo."
          }
        },
        "geoLocation": {
          "target": "com.gcp.cloudsearch_v1#MapInfo"
        },
        "jobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Profile owner's job title (e.g. \"Software Engineer\"). For google.com this is the Workday preferred job title."
          }
        },
        "phoneNumbers": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsPersonCorePhoneNumberList"
        },
        "postalAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal address of office/building."
          }
        },
        "addressMeAs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instructions for how to address this person (e.g. custom pronouns). For google.com this is a set of pronouns from a defined list of options."
          }
        },
        "links": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsLinkList",
          "traits": {
            "smithy.api#documentation": "Custom links the profile owner has added."
          }
        },
        "personId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's obfuscated Gaia ID."
          }
        },
        "mission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom mission statement the profile owner has added."
          }
        },
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person's cost center as a string, e.g. \"926: Googler Apps\"."
          }
        },
        "birthday": {
          "target": "com.gcp.cloudsearch_v1#Cloudsearch_Date",
          "traits": {
            "smithy.api#documentation": "Person birthday."
          }
        },
        "managers": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "The profile owner's management chain from top to bottom, where managers[0] is the CEO, manager[N-2] is the person's manager's manager and managers[N-1] is the person's direct manager. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "totalFteCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sum of all profile owner's reports and their own full-time-equivalents in ‰ (e.g. 1800 if one report is working 80% and profile owner 100%)."
          }
        },
        "directReports": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "A subset of the profile owner's direct reports. The number of entities here may be less than total_direct_reports_count, because typically ProfileResponse does not include all the person's reports, if there are too many to retrieve efficiently. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "availabilityStatus": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreAvailabilityStatusEnum"
        },
        "gmailUrl": {
          "target": "smithy.api#String"
        },
        "totalDirectReportsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of the profile owner's direct reports."
          }
        },
        "dottedLineReports": {
          "target": "com.gcp.cloudsearch_v1#PersonCoreList",
          "traits": {
            "smithy.api#documentation": "A subset of the profile owner's dotted-line reports. The number of entities here may be less than total_dlr_count. Note that not all fields of these PersonCores will be set, in particular, relationships will be empty."
          }
        },
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A fingerprint used by PAPI to reliably determine if a resource has changed Externally it is used as part of the etag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for rendering a person. NEXT ID: 37"
      }
    },
    "com.gcp.cloudsearch_v1#PersonCoreList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#PersonCore"
      }
    },
    "com.gcp.cloudsearch_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudsearch_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsPersonCorePhoneNumberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsPersonCorePhoneNumber"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazFrontendTeamsLink"
      }
    },
    "com.gcp.cloudsearch_v1#PersonCoreAvailabilityStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "OUT_OF_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_OFFICE"
          }
        },
        "OUTSIDE_WORKING_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTSIDE_WORKING_HOURS"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnumPropertyOptions": {
      "type": "structure",
      "members": {
        "possibleValues": {
          "target": "com.gcp.cloudsearch_v1#EnumValuePairList",
          "traits": {
            "smithy.api#documentation": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100."
          }
        },
        "orderedRanking": {
          "target": "com.gcp.cloudsearch_v1#EnumPropertyOptionsOrderedRankingEnum",
          "traits": {
            "smithy.api#documentation": "Used to specify the ordered ranking for the enumeration that determines how the integer values provided in the possible EnumValuePairs are used to rank results. If specified, integer values must be provided for all possible EnumValuePair values given for this property. Can only be used if isRepeatable is false."
          }
        },
        "operatorOptions": {
          "target": "com.gcp.cloudsearch_v1#EnumOperatorOptions",
          "traits": {
            "smithy.api#documentation": "If set, describes how the enum should be used as a search operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*."
      }
    },
    "com.gcp.cloudsearch_v1#EnumValuePairList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnumValuePair"
      }
    },
    "com.gcp.cloudsearch_v1#EnumPropertyOptionsOrderedRankingEnum": {
      "type": "enum",
      "members": {
        "NO_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ORDER"
          }
        },
        "ASCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASCENDING"
          }
        },
        "DESCENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESCENDING"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickGetAndKeepAheadCardProtoDeclinedEvents": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntryList"
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of events where all guests declined."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry"
      }
    },
    "com.gcp.cloudsearch_v1#SafeHtmlProto": {
      "type": "structure",
      "members": {
        "privateDoNotAccessOrElseSafeHtmlWrappedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IMPORTANT: Never set or read this field, even from tests, it is private. See documentation at the top of .proto file for programming language packages with which to create or read this message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IMPORTANT: It is unsafe to accept this message from an untrusted source, since it's trivial for an attacker to forge serialized messages that don't fulfill the type's safety contract -- for example, it could contain attacker controlled script. A system which receives a SafeHtmlProto implicitly trusts the producer of the SafeHtmlProto. So, it's generally safe to return this message in RPC responses, but generally unsafe to accept it in RPC requests."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaGroupCardProtoContext": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly free text that describes the context of the card (e.g. \"Next meeting with Bob\"). This is largely only applicable when the card is generated from a query."
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized free text that describes the dates represented by the card. Currently, the card will only represent a single day."
          }
        },
        "eventsRestrict": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaGroupCardProtoContextEventsRestrictEnum",
          "traits": {
            "smithy.api#documentation": "Represents restrictions applied to the events requested in the user's query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The context that resulted in the generation of the card."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaGroupCardProtoContextEventsRestrictEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "NEXT_MEETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEXT_MEETING"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickNlpMetadata": {
      "type": "structure",
      "members": {
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Confidence of the interpretation that generated this card."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the NLP interpretation of the query."
      }
    },
    "com.gcp.cloudsearch_v1#PeopleSuggestion": {
      "type": "structure",
      "members": {
        "person": {
          "target": "com.gcp.cloudsearch_v1#Person",
          "traits": {
            "smithy.api#documentation": "Suggested person. All fields of the person object might not be populated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field contains information about the person being suggested."
      }
    },
    "com.gcp.cloudsearch_v1#ItemStructuredData": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.gcp.cloudsearch_v1#StructuredDataObject",
          "traits": {
            "smithy.api#documentation": "The structured data object that should conform to a registered object definition in the schema for the data source."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashing value provided by the API caller. This can be used with the items.push method to calculate modified state. The maximum length is 2048 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available structured data fields for the item."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickGap": {
      "type": "structure",
      "members": {
        "remainingTime": {
          "target": "smithy.api#String"
        },
        "startTimeMs": {
          "target": "smithy.api#String"
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized time string in the format:(Locale CZ) 8:30 odp."
          }
        },
        "endTimeMs": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized time string in the format:(Locale CZ) 8:30 odp."
          }
        },
        "displayRemainingTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized time string in the format: 1 hour 15 minutes"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ItemStatus": {
      "type": "structure",
      "members": {
        "repositoryErrors": {
          "target": "com.gcp.cloudsearch_v1#RepositoryErrorList",
          "traits": {
            "smithy.api#documentation": "Repository error reported by connector."
          }
        },
        "code": {
          "target": "com.gcp.cloudsearch_v1#ItemStatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Status code."
          }
        },
        "processingErrors": {
          "target": "com.gcp.cloudsearch_v1#ProcessingErrorList",
          "traits": {
            "smithy.api#documentation": "Error details in case the item is in ERROR state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This contains item's status and any errors."
      }
    },
    "com.gcp.cloudsearch_v1#RepositoryErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#RepositoryError"
      }
    },
    "com.gcp.cloudsearch_v1#ItemStatusCodeEnum": {
      "type": "enum",
      "members": {
        "CODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_UNSPECIFIED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFIED"
          }
        },
        "NEW_ITEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_ITEM"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ProcessingErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#ProcessingError"
      }
    },
    "com.gcp.cloudsearch_v1#IntegerValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.cloudsearch_v1#StringList"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of integer values."
      }
    },
    "com.gcp.cloudsearch_v1#BooleanOperatorOptions": {
      "type": "structure",
      "members": {
        "operatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name required in the query in order to isolate the boolean property. For example, if operatorName is *closed* and the property's name is *isClosed*, then queries like *closed:<value>* show results only where the value of the property named *isClosed* matches *<value>*. By contrast, a search that uses the same *<value>* without an operator returns all items where *<value>* matches the value of any String properties or text within the content field for the item. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used to provide a search operator for boolean properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
      }
    },
    "com.gcp.cloudsearch_v1#GetCustomerIndexStatsResponse": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "com.gcp.cloudsearch_v1#CustomerIndexStatsList",
          "traits": {
            "smithy.api#documentation": "Summary of indexed item counts, one for each day in the requested range."
          }
        },
        "averageIndexedItemCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Average item count for the given date range for which billing is done."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#CustomerIndexStatsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#CustomerIndexStats"
      }
    },
    "com.gcp.cloudsearch_v1#Person": {
      "type": "structure",
      "members": {
        "personNames": {
          "target": "com.gcp.cloudsearch_v1#NameList",
          "traits": {
            "smithy.api#documentation": "The person's name"
          }
        },
        "emailAddresses": {
          "target": "com.gcp.cloudsearch_v1#EmailAddressList",
          "traits": {
            "smithy.api#documentation": "The person's email addresses"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the person to provide information about. See [`People.get`](https://developers.google.com/people/api/rest/v1/people/get) from the Google People API."
          }
        },
        "obfuscatedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obfuscated ID of a person."
          }
        },
        "phoneNumbers": {
          "target": "com.gcp.cloudsearch_v1#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "The person's phone numbers"
          }
        },
        "photos": {
          "target": "com.gcp.cloudsearch_v1#PhotoList",
          "traits": {
            "smithy.api#documentation": "A person's read-only photo. A picture shown next to the person's name to help others recognize the person in search results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object to represent a person."
      }
    },
    "com.gcp.cloudsearch_v1#NameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Name"
      }
    },
    "com.gcp.cloudsearch_v1#EmailAddressList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EmailAddress"
      }
    },
    "com.gcp.cloudsearch_v1#PhoneNumberList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#PhoneNumber"
      }
    },
    "com.gcp.cloudsearch_v1#PhotoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Photo"
      }
    },
    "com.gcp.cloudsearch_v1#DebugOptions": {
      "type": "structure",
      "members": {
        "enableDebugging": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shared request debug options for all cloudsearch RPC methods."
      }
    },
    "com.gcp.cloudsearch_v1#ListItemNamesForUnmappedIdentityResponse": {
      "type": "structure",
      "members": {
        "itemNames": {
          "target": "com.gcp.cloudsearch_v1#StringList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnumValues": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.cloudsearch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The maximum allowable length for string values is 32 characters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of enum values."
      }
    },
    "com.gcp.cloudsearch_v1#FreshnessOptions": {
      "type": "structure",
      "members": {
        "freshnessProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property indicates the freshness level of the object in the index. If set, this property must be a top-level property within the property definitions and it must be a timestamp type or date type. Otherwise, the Indexing API uses updateTime as the freshness indicator. The maximum length is 256 characters. When a property is used to calculate freshness, the value defaults to 2 years from the current time."
          }
        },
        "freshnessDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration after which an object should be considered stale. The default value is 180 days (in seconds)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates which freshness property to use when adjusting search ranking for an item. Fresher, more recent dates indicate higher quality. Use the freshness option property that best works with your data. For fileshare documents, last modified time is most relevant. For calendar event data, the time when the event occurs is a more relevant freshness indicator. In this way, calendar events that occur closer to the time of the search query are considered higher quality and ranked accordingly."
      }
    },
    "com.gcp.cloudsearch_v1#MatchRange": {
      "type": "structure",
      "members": {
        "end": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End of the match in the snippet."
          }
        },
        "start": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Starting position of the match in the snippet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Matched range of a snippet [start, end)."
      }
    },
    "com.gcp.cloudsearch_v1#QueryInterpretationConfig": {
      "type": "structure",
      "members": {
        "forceVerbatimMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable this flag to turn off all internal optimizations like natural language (NL) interpretation of queries, supplemental results retrieval, and usage of synonyms including custom ones. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for verbatim mode."
          }
        },
        "forceDisableSupplementalResults": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this flag to disable supplemental results retrieval, setting a flag here will not retrieve supplemental results for queries associated with a given search application. If this flag is set to True, it will take precedence over the option set at Query level. For the default value of False, query level flag will set the correct interpretation for supplemental results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default options to interpret user query."
      }
    },
    "com.gcp.cloudsearch_v1#DatePropertyOptions": {
      "type": "structure",
      "members": {
        "operatorOptions": {
          "target": "com.gcp.cloudsearch_v1#DateOperatorOptions",
          "traits": {
            "smithy.api#documentation": "If set, describes how the date should be used as a search operator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The options for date properties."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPerson": {
      "type": "structure",
      "members": {
        "birthday": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPersonBirthday",
          "traits": {
            "smithy.api#documentation": "The birthday."
          }
        },
        "fullAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully formatted address (e.g. 1255 Pear Avenue, Mountain View 94043, United States)."
          }
        },
        "manager": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCommonPerson",
          "traits": {
            "smithy.api#documentation": "The manager."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name."
          }
        },
        "deskPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Work desk phone number."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email."
          }
        },
        "department": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The department the person works in (e.g. Engineering)."
          }
        },
        "streetAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The street address (e.g. 1255 Pear Avenue)."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the Focus profile picture."
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name."
          }
        },
        "gaiaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This field is deprecated. The obfuscated_id should be used instead."
          }
        },
        "deskLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desk location (e.g. US-MTV-PR55-5-5B1I)."
          }
        },
        "cellPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cell phone number."
          }
        },
        "jobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The person's job title (e.g. Software Engineer)."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name."
          }
        },
        "obfuscatedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The obfuscated GAIA ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common representation of a person."
      }
    },
    "com.gcp.cloudsearch_v1#Cloudsearch_Date": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of date. Must be from 1 to 12."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of date. Must be from 1 to 9999."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of month. Must be from 1 to 31 and valid for the year and month."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999."
      }
    },
    "com.gcp.cloudsearch_v1#ScoringConfig": {
      "type": "structure",
      "members": {
        "disableFreshness": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use freshness as a ranking signal. By default, freshness is used as a ranking signal. Note that this setting is not available in the Admin UI."
          }
        },
        "disablePersonalization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to personalize the results. By default, personal signals will be used to boost results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scoring configurations for a source while processing a Search or Suggest request."
      }
    },
    "com.gcp.cloudsearch_v1#Filter": {
      "type": "structure",
      "members": {
        "valueFilter": {
          "target": "com.gcp.cloudsearch_v1#ValueFilter"
        },
        "compositeFilter": {
          "target": "com.gcp.cloudsearch_v1#CompositeFilter"
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic way of expressing filters in a query, which supports two approaches: **1. Setting a ValueFilter.** The name must match an operator_name defined in the schema for your data source. **2. Setting a CompositeFilter.** The filters are evaluated using the logical operator. The top-level operators can only be either an AND or a NOT. AND can appear only at the top-most level. OR can appear only under a top-level AND."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerPeopleAnswerCardHeader": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suggested title to display. This defaults to the user's query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recommended header to display for the card."
      }
    },
    "com.gcp.cloudsearch_v1#FilterOptions": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If object_type is set, only objects of that type are returned. This should correspond to the name of the object that was registered within the definition of schema. The maximum length is 256 characters."
          }
        },
        "filter": {
          "target": "com.gcp.cloudsearch_v1#Filter",
          "traits": {
            "smithy.api#documentation": "Generic filter to restrict the search, such as `lang:en`, `site:xyz`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter options to be applied on query."
      }
    },
    "com.gcp.cloudsearch_v1#ResultDisplayField": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display label for the property."
          }
        },
        "operatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operator name of the property."
          }
        },
        "property": {
          "target": "com.gcp.cloudsearch_v1#NamedProperty",
          "traits": {
            "smithy.api#documentation": "The name value pair for the property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Display Fields for Search Results"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardRequest": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardError",
          "traits": {
            "smithy.api#documentation": "The error and reason if known error occured."
          }
        },
        "event": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAgendaEntry",
          "traits": {
            "smithy.api#documentation": "The event to request meeting notes creation"
          }
        },
        "canCreateFor": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardRequestCanCreateForItemEnumList",
          "traits": {
            "smithy.api#documentation": "Who are the meeting notes created for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Meeting notes card request."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardRequestCanCreateForItemEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "MYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSELF"
          }
        },
        "ALL_ATTENDEES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_ATTENDEES"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardRequestCanCreateForItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickMeetingNotesCardRequestCanCreateForItemEnum"
      }
    },
    "com.gcp.cloudsearch_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.cloudsearch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.cloudsearch_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudsearch_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Operation"
      }
    },
    "com.gcp.cloudsearch_v1#CompositeFilter": {
      "type": "structure",
      "members": {
        "logicOperator": {
          "target": "com.gcp.cloudsearch_v1#CompositeFilterLogicOperatorEnum",
          "traits": {
            "smithy.api#documentation": "The logic operator of the sub filter."
          }
        },
        "subFilters": {
          "target": "com.gcp.cloudsearch_v1#FilterList",
          "traits": {
            "smithy.api#documentation": "Sub filters."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#CompositeFilterLogicOperatorEnum": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        },
        "NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#FilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Filter"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickAnswerAnswerListLabeledAnswer": {
      "type": "structure",
      "members": {
        "answer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free text answer."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A localized label for the answer (e.g. \"Cell phone\" vs \"Desk phone\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An answer with a corresponding label."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPerson": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name."
          }
        },
        "photoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute URL to the profile photo of the person."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email."
          }
        },
        "attendingStatus": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonAttendingStatusEnum",
          "traits": {
            "smithy.api#documentation": "Attendance status of the person when included in a meeting event."
          }
        },
        "gaiaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gaia id."
          }
        },
        "isGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the invitee is a group."
          }
        },
        "affinityLevel": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonAffinityLevelEnum",
          "traits": {
            "smithy.api#documentation": "The level of affinity this person has with the requesting user."
          }
        },
        "obfuscatedGaiaId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obfuscated Gaia id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Person."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonAttendingStatusEnum": {
      "type": "enum",
      "members": {
        "AWAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING"
          }
        },
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YES"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "MAYBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAYBE"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPersonAffinityLevelEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ListUnmappedIdentitiesResponse": {
      "type": "structure",
      "members": {
        "unmappedIdentities": {
          "target": "com.gcp.cloudsearch_v1#UnmappedIdentityList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#UnmappedIdentityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#UnmappedIdentity"
      }
    },
    "com.gcp.cloudsearch_v1#SearchApplicationSessionStats": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.gcp.cloudsearch_v1#Cloudsearch_Date",
          "traits": {
            "smithy.api#documentation": "The date for which session stats were calculated. Stats are calculated on the following day, close to midnight PST, and then returned."
          }
        },
        "searchSessionsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The count of search sessions on the day"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadata": {
      "type": "structure",
      "members": {
        "chronology": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataChronologyEnum",
          "traits": {
            "smithy.api#documentation": "Chronology."
          }
        },
        "rankingParams": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickRankingParams",
          "traits": {
            "smithy.api#documentation": "Ranking params."
          }
        },
        "debugInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Debug info (only reported if request's debug_level > 0)."
          }
        },
        "cardCategory": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataCardCategoryEnum",
          "traits": {
            "smithy.api#documentation": "Declares a preference for how this card should be packed in MSCR. All cards in a response must correspond to a single category. As a result, cards may be dropped from the response if this field is set. Any card that does not match the category of the card with the highest priority in the response will be dropped."
          }
        },
        "nlpMetadata": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickNlpMetadata",
          "traits": {
            "smithy.api#documentation": "Information about the NLP done to get the card."
          }
        },
        "renderMode": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataRenderModeEnum",
          "traits": {
            "smithy.api#documentation": "Render mode."
          }
        },
        "cardId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ID to identify the card and match actions to it. Be thoughtful of new card IDs since actions will be associated to that ID. E.g., if two card IDs collide, the system will think that the actions have been applied to the same card. Similarly, if EAS can return multiple cards of the same type (e.g., Meetings), ensure that the card_id identifies a given instance of the card so that, e.g., dismissals only affect the dismissed card as opposed to affecting all meeting cards."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Card metadata."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataChronologyEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAST"
          }
        },
        "RECENTLY_PAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECENTLY_PAST"
          }
        },
        "PRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRESENT"
          }
        },
        "NEAR_FUTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEAR_FUTURE"
          }
        },
        "FUTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FUTURE"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataCardCategoryEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "ANSWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWER"
          }
        },
        "KNOWLEDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE"
          }
        },
        "HOMEPAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOMEPAGE"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickCardMetadataRenderModeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_RENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_RENDER"
          }
        },
        "COLLAPSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLLAPSED"
          }
        },
        "EXPANDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDED"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ListItemsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.cloudsearch_v1#ItemList"
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#ItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#Item"
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerDisambiguationInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name that was extracted from the query. This may be in the form of the given name, last name, full name, LDAP, or email address. This name can be considered suitable for displaying to the user and can largely be considered to be normalized (e.g. \"Bob's\" -> \"Bob\")."
          }
        },
        "disambiguation": {
          "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPersonList",
          "traits": {
            "smithy.api#documentation": "A list of people that also matched the query. This list is not complete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for disambiguation."
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPersonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickPeopleAnswerDisambiguationInfoDisambiguationPerson"
      }
    },
    "com.gcp.cloudsearch_v1#SearchApplicationQueryStats": {
      "type": "structure",
      "members": {
        "queryCountByStatus": {
          "target": "com.gcp.cloudsearch_v1#QueryCountByStatusList"
        },
        "date": {
          "target": "com.gcp.cloudsearch_v1#Cloudsearch_Date",
          "traits": {
            "smithy.api#documentation": "The date for which query stats were calculated. Stats calculated on the next day close to midnight are returned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search application level query stats per date"
      }
    },
    "com.gcp.cloudsearch_v1#QueryCountByStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#QueryCountByStatus"
      }
    },
    "com.gcp.cloudsearch_v1#QuerySource": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.gcp.cloudsearch_v1#Source",
          "traits": {
            "smithy.api#documentation": "The name of the source"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the data source."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short name or alias for the source. This value can be used with the 'source' operator."
          }
        },
        "operators": {
          "target": "com.gcp.cloudsearch_v1#QueryOperatorList",
          "traits": {
            "smithy.api#documentation": "List of all operators applicable for this source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of sources that the user can search using the query API."
      }
    },
    "com.gcp.cloudsearch_v1#QueryOperatorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudsearch_v1#QueryOperator"
      }
    },
    "com.gcp.cloudsearch_v1#IndexItemRequest": {
      "type": "structure",
      "members": {
        "item": {
          "target": "com.gcp.cloudsearch_v1#Item",
          "traits": {
            "smithy.api#documentation": "The name of the item. Format: datasources/{source_id}/items/{item_id}"
          }
        },
        "connectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
          }
        },
        "indexItemOptions": {
          "target": "com.gcp.cloudsearch_v1#IndexItemOptions"
        },
        "debugOptions": {
          "target": "com.gcp.cloudsearch_v1#DebugOptions",
          "traits": {
            "smithy.api#documentation": "Common debug options."
          }
        },
        "mode": {
          "target": "com.gcp.cloudsearch_v1#IndexItemRequestModeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The RequestMode for this request."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#IndexItemRequestModeEnum": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "SYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCHRONOUS"
          }
        },
        "ASYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYNCHRONOUS"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#QueryCountByStatus": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#String"
        },
        "statusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This represents the http status code."
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#QueryOperator": {
      "type": "structure",
      "members": {
        "lessThanOperatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name that can be used to isolate the property using the less-than operator."
          }
        },
        "isSuggestable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can get suggestions for this field."
          }
        },
        "enumValues": {
          "target": "com.gcp.cloudsearch_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Potential list of values for the opeatror field. This field is only filled when we can safely enumerate all the possible values of this operator."
          }
        },
        "type": {
          "target": "com.gcp.cloudsearch_v1#QueryOperatorTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the operator."
          }
        },
        "isReturnable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Will the property associated with this facet be returned as part of search results."
          }
        },
        "isRepeatable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if multiple values can be set for this property."
          }
        },
        "isFacetable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can this operator be used to get facets."
          }
        },
        "greaterThanOperatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the operator name that can be used to isolate the property using the greater-than operator."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the operator"
          }
        },
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the object corresponding to the operator. This field is only filled for schema-specific operators, and is unset for common operators."
          }
        },
        "operatorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operator."
          }
        },
        "isSortable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Can this operator be used to sort results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a operator that can be used in a Search/Suggest request."
      }
    },
    "com.gcp.cloudsearch_v1#QueryOperatorTypeEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "DOUBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        },
        "ENUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENUM"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTML"
          }
        }
      }
    },
    "com.gcp.cloudsearch_v1#EnterpriseTopazSidekickTimeSlot": {
      "type": "structure",
      "members": {
        "startTimeHourAndMinute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hour and minute of the start time at the user's timezone."
          }
        },
        "startTimeInMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time in milliseconds."
          }
        },
        "startTimeDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Day start time at user's timezone."
          }
        },
        "endTimeInMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time in milliseconds."
          }
        },
        "endTimeDay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Day end time at the user's timezone."
          }
        },
        "endTimeHourAndMinute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hour and minute of the end time at the user's timezone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Slot of time."
      }
    },
    "com.gcp.cloudsearch_v1#ItemContent": {
      "type": "structure",
      "members": {
        "inlineContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content that is supplied inlined within the update method. The maximum length is 102400 bytes (100 KiB)."
          }
        },
        "contentFormat": {
          "target": "com.gcp.cloudsearch_v1#ItemContentContentFormatEnum"
        },
        "contentDataRef": {
          "target": "com.gcp.cloudsearch_v1#UploadItemRef",
          "traits": {
            "smithy.api#documentation": "Upload reference ID of a previously uploaded content via write method."
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
[...]
