{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudtrace",
    "version": "v2",
    "title": "Cloud Trace API",
    "baseUrl": "https://cloudtrace.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudtrace_v2#TruncatableString": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit."
          }
        },
        "truncatedByteCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of bytes removed from the original string. If this value is 0, then the string was not shortened."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a string that might be shortened to a specified length."
      }
    },
    "com.gcp.cloudtrace_v2#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudtrace_v2#Link": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `[TRACE_ID]` for a trace within a project."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `[SPAN_ID]` for a span within a trace."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudtrace_v2#Attributes",
          "traits": {
            "smithy.api#documentation": "A set of attributes on the link. Up to 32 attributes can be specified per link."
          }
        },
        "type": {
          "target": "com.gcp.cloudtrace_v2#LinkTypeEnum",
          "traits": {
            "smithy.api#documentation": "The relationship of the current span relative to the linked span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pointer from the current span to another span in the same trace or in a different trace. For example, this can be used in batching operations, where a single batch handler processes multiple requests from different traces or when the handler receives a request from a different project."
      }
    },
    "com.gcp.cloudtrace_v2#LinkTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CHILD_LINKED_SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHILD_LINKED_SPAN"
          }
        },
        "PARENT_LINKED_SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_LINKED_SPAN"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v2#Links": {
      "type": "structure",
      "members": {
        "link": {
          "target": "com.gcp.cloudtrace_v2#LinkList",
          "traits": {
            "smithy.api#documentation": "A collection of links."
          }
        },
        "droppedLinksCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of dropped links after the maximum size was enforced. If this value is 0, then no links were dropped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of links, which are references from this span to a span in the same or different trace."
      }
    },
    "com.gcp.cloudtrace_v2#LinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v2#Link"
      }
    },
    "com.gcp.cloudtrace_v2#StackTrace": {
      "type": "structure",
      "members": {
        "stackTraceHashId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hash ID is used to conserve network bandwidth for duplicate stack traces within a single trace. Often multiple spans will have identical stack traces. The first occurrence of a stack trace should contain both the `stackFrame` content and a value in `stackTraceHashId`. Subsequent spans within the same request can refer to that stack trace by only setting `stackTraceHashId`."
          }
        },
        "stackFrames": {
          "target": "com.gcp.cloudtrace_v2#StackFrames",
          "traits": {
            "smithy.api#documentation": "Stack frames in this stack trace. A maximum of 128 frames are allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A call stack appearing in a trace."
      }
    },
    "com.gcp.cloudtrace_v2#StackFrames": {
      "type": "structure",
      "members": {
        "frame": {
          "target": "com.gcp.cloudtrace_v2#StackFrameList",
          "traits": {
            "smithy.api#documentation": "Stack frames in this call stack."
          }
        },
        "droppedFramesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of stack frames that were dropped because there were too many stack frames. If this value is 0, then no stack frames were dropped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of stack frames, which can be truncated."
      }
    },
    "com.gcp.cloudtrace_v2#StackFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v2#StackFrame"
      }
    },
    "com.gcp.cloudtrace_v2#TimeEvent": {
      "type": "structure",
      "members": {
        "messageEvent": {
          "target": "com.gcp.cloudtrace_v2#MessageEvent",
          "traits": {
            "smithy.api#documentation": "An event describing a message sent/received between Spans."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp indicating the time the event occurred."
          }
        },
        "annotation": {
          "target": "com.gcp.cloudtrace_v2#Annotation",
          "traits": {
            "smithy.api#documentation": "Text annotation with a set of attributes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A time-stamped annotation or message event in the Span."
      }
    },
    "com.gcp.cloudtrace_v2#MessageEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudtrace_v2#MessageEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of MessageEvent. Indicates whether the message was sent or received."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the MessageEvent's message that can be used to match `SENT` and `RECEIVED` MessageEvents."
          }
        },
        "compressedSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of compressed bytes sent or received. If missing, the compressed size is assumed to be the same size as the uncompressed size."
          }
        },
        "uncompressedSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of uncompressed bytes sent or received."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event describing a message sent/received between Spans."
      }
    },
    "com.gcp.cloudtrace_v2#MessageEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENT"
          }
        },
        "RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVED"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v2#Annotation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "A user-supplied message describing the event. The maximum length for the description is 256 bytes."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudtrace_v2#Attributes",
          "traits": {
            "smithy.api#documentation": "A set of attributes on the annotation. You can have up to 4 attributes per Annotation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Text annotation with a set of attributes."
      }
    },
    "com.gcp.cloudtrace_v2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.cloudtrace_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudtrace_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudtrace_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v2#DocumentMap"
      }
    },
    "com.gcp.cloudtrace_v2#AttributeValue": {
      "type": "structure",
      "members": {
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A Boolean value represented by `true` or `false`."
          }
        },
        "stringValue": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "A string up to 256 bytes long."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A 64-bit signed integer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The allowed types for `[VALUE]` in a `[KEY]:[VALUE]` attribute."
      }
    },
    "com.gcp.cloudtrace_v2#BatchWriteSpansRequest": {
      "type": "structure",
      "members": {
        "spans": {
          "target": "com.gcp.cloudtrace_v2#SpanList",
          "traits": {
            "smithy.api#documentation": "Required. A list of new spans. The span names must not match existing spans, otherwise the results are undefined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request message for the `BatchWriteSpans` method."
      }
    },
    "com.gcp.cloudtrace_v2#SpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v2#Span"
      }
    },
    "com.gcp.cloudtrace_v2#TimeEvents": {
      "type": "structure",
      "members": {
        "droppedAnnotationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of dropped annotations in all the included time events. If the value is 0, then no annotations were dropped."
          }
        },
        "droppedMessageEventsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of dropped message events in all the included time events. If the value is 0, then no message events were dropped."
          }
        },
        "timeEvent": {
          "target": "com.gcp.cloudtrace_v2#TimeEventList",
          "traits": {
            "smithy.api#documentation": "A collection of `TimeEvent`s."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation on the span, consisting of either user-supplied key:value pairs, or details of a message sent/received between Spans."
      }
    },
    "com.gcp.cloudtrace_v2#TimeEventList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudtrace_v2#TimeEvent"
      }
    },
    "com.gcp.cloudtrace_v2#Attributes": {
      "type": "structure",
      "members": {
        "attributeMap": {
          "target": "com.gcp.cloudtrace_v2#AttributeValueMap",
          "traits": {
            "smithy.api#documentation": "A set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the boolean values `true` or `false`. For example: \"/instance_id\": { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\": { \"int_value\": 300 } \"example.com/myattribute\": { \"bool_value\": false }"
          }
        },
        "droppedAttributesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of attributes as key-value pairs."
      }
    },
    "com.gcp.cloudtrace_v2#AttributeValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.cloudtrace_v2#AttributeValue"
      }
    },
    "com.gcp.cloudtrace_v2#Span": {
      "type": "structure",
      "members": {
        "links": {
          "target": "com.gcp.cloudtrace_v2#Links",
          "traits": {
            "smithy.api#documentation": "Links associated with the span. You can have up to 128 links per Span."
          }
        },
        "sameProcessAsParentSpan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Trace is unable to take advantage of this helpful information."
          }
        },
        "stackTrace": {
          "target": "com.gcp.cloudtrace_v2#StackTrace",
          "traits": {
            "smithy.api#documentation": "Stack trace captured at the start of the span."
          }
        },
        "displayName": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "Required. A description of the span's operation (up to 128 bytes). Cloud Trace displays the description in the Cloud console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
          }
        },
        "spanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The `[SPAN_ID]` portion of the span's resource name."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudtrace_v2#Attributes",
          "traits": {
            "smithy.api#documentation": "A set of attributes on the span. You can have up to 32 attributes per span."
          }
        },
        "timeEvents": {
          "target": "com.gcp.cloudtrace_v2#TimeEvents",
          "traits": {
            "smithy.api#documentation": "A set of time events. You can have up to 32 annotations and 128 message events per span."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. ."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running."
          }
        },
        "childSpanCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans."
          }
        },
        "parentSpanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `[SPAN_ID]` of this span's parent span. If this is a root span, then this field must be empty."
          }
        },
        "status": {
          "target": "com.gcp.cloudtrace_v2#Status",
          "traits": {
            "smithy.api#documentation": "Optional. The final status for this span."
          }
        },
        "spanKind": {
          "target": "com.gcp.cloudtrace_v2#SpanSpanKindEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous. There might be gaps or overlaps between spans in a trace."
      }
    },
    "com.gcp.cloudtrace_v2#SpanSpanKindEnum": {
      "type": "enum",
      "members": {
        "SPAN_KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPAN_KIND_UNSPECIFIED"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT"
          }
        },
        "PRODUCER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER"
          }
        },
        "CONSUMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v2#Module": {
      "type": "structure",
      "members": {
        "module": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "For example: main binary, kernel modules, and dynamic libraries such as libc.so, sharedlib.so (up to 256 bytes)."
          }
        },
        "buildId": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the module, usually a hash of its contents (up to 128 bytes)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binary module."
      }
    },
    "com.gcp.cloudtrace_v2#StackFrame": {
      "type": "structure",
      "members": {
        "originalFunctionName": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "An un-mangled function name, if `function_name` is mangled. To get information about name mangling, run [this search](https://www.google.com/search?q=cxx+name+mangling). The name can be fully-qualified (up to 1024 bytes)."
          }
        },
        "fileName": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "The name of the source file where the function call appears (up to 256 bytes)."
          }
        },
        "loadModule": {
          "target": "com.gcp.cloudtrace_v2#Module",
          "traits": {
            "smithy.api#documentation": "The binary module from where the code was loaded."
          }
        },
        "functionName": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "The fully-qualified name that uniquely identifies the function or method that is active in this frame (up to 1024 bytes)."
          }
        },
        "columnNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column number where the function call appears, if available. This is important in JavaScript because of its anonymous functions."
          }
        },
        "lineNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The line number in `file_name` where the function call appears."
          }
        },
        "sourceVersion": {
          "target": "com.gcp.cloudtrace_v2#TruncatableString",
          "traits": {
            "smithy.api#documentation": "The version of the deployed source code (up to 128 bytes)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single stack frame in a stack trace."
      }
    },
    "com.gcp.cloudtrace_v2#BatchWriteProjectsTracesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the project where the spans belong. The format is `projects/[PROJECT_ID]`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudtrace_v2#BatchWriteSpansRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudtrace_v2#BatchWriteProjectsTraces": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtrace_v2#BatchWriteProjectsTracesRequest"
      },
      "output": {
        "target": "com.gcp.cloudtrace_v2#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtrace_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudtrace_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudtrace_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudtrace_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}/traces:batchWrite"
        },
        "smithy.api#documentation": "Batch writes new spans to new or existing traces. You cannot update existing spans. If a span ID already exists, an additional copy of the span will be stored."
      }
    },
    "com.gcp.cloudtrace_v2#CreateSpanProjectsTracesSpansRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the span in the following format: * `projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/[SPAN_ID]` `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. It should not be zero. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero. .",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudtrace_v2#Span",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudtrace_v2#CreateSpanProjectsTracesSpans": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudtrace_v2#CreateSpanProjectsTracesSpansRequest"
      },
      "output": {
        "target": "com.gcp.cloudtrace_v2#Span"
      },
      "errors": [
        {
          "target": "com.gcp.cloudtrace_v2#NotFound"
        },
        {
          "target": "com.gcp.cloudtrace_v2#Forbidden"
        },
        {
          "target": "com.gcp.cloudtrace_v2#BadRequest"
        },
        {
          "target": "com.gcp.cloudtrace_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/{+name}"
        },
        "smithy.api#documentation": "Creates a new span. If a span ID already exists, an additional copy of the span will be stored."
      }
    }
  }
}
