{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudshell",
    "version": "v1",
    "title": "Cloud Shell API",
    "baseUrl": "https://cloudshell.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudshell_v1#StartEnvironmentMetadata": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.cloudshell_v1#StartEnvironmentMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the environment being started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from StartEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#StartEnvironmentMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "UNARCHIVING_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNARCHIVING_DISK"
          }
        },
        "AWAITING_COMPUTE_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWAITING_COMPUTE_RESOURCES"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISHED"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#RemovePublicKeyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for RemovePublicKey."
      }
    },
    "com.gcp.cloudshell_v1#AuthorizeEnvironmentResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for AuthorizeEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#AuthorizeEnvironmentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from AuthorizeEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#RemovePublicKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key that should be removed from the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RemovePublicKey."
      }
    },
    "com.gcp.cloudshell_v1#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.cloudshell_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudshell_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudshell_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudshell_v1#DocumentMap"
      }
    },
    "com.gcp.cloudshell_v1#StartEnvironmentResponse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.cloudshell_v1#Environment",
          "traits": {
            "smithy.api#documentation": "Environment that was started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message included in the response field of operations returned from StartEnvironment once the operation is complete."
      }
    },
    "com.gcp.cloudshell_v1#Environment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Full name of this resource, in the format `users/{owner_email}/environments/{environment_id}`. `{owner_email}` is the email address of the user to whom this environment belongs, and `{environment_id}` is the identifier of this environment. For example, `users/someone@example.com/environments/default`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The environment's identifier, unique among the user's environments."
          }
        },
        "sshHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Host to which clients can connect to initiate SSH sessions with the environment."
          }
        },
        "state": {
          "target": "com.gcp.cloudshell_v1#EnvironmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current execution state of this environment."
          }
        },
        "webHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Host to which clients can connect to initiate HTTPS or WSS connections with the environment."
          }
        },
        "dockerImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. Full path to the Docker image used to run this environment, e.g. \"gcr.io/dev-con/cloud-devshell:latest\"."
          }
        },
        "sshUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Username that clients should use when initiating SSH sessions with the environment."
          }
        },
        "publicKeys": {
          "target": "com.gcp.cloudshell_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Public keys associated with the environment. Clients can connect to this environment via SSH only if they possess a private key corresponding to at least one of these public keys. Keys can be added to or removed from the environment using the AddPublicKey and RemovePublicKey methods."
          }
        },
        "sshPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Port to which clients can connect to initiate SSH sessions with the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Cloud Shell environment, which is defined as the combination of a Docker image specifying what is installed on the environment and a home directory containing the user's data that will remain across sessions. Each user has at least an environment with the ID \"default\"."
      }
    },
    "com.gcp.cloudshell_v1#EnvironmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudshell_v1#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.cloudshell_v1#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudshell_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudshell_v1#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudshell_v1#Operation"
      }
    },
    "com.gcp.cloudshell_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudshell_v1#StartEnvironmentRequest": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initial access token passed to the environment. If this is present and valid, the environment will be pre-authenticated with gcloud so that the user can run gcloud commands in Cloud Shell without having to log in. This code can be updated later by calling AuthorizeEnvironment."
          }
        },
        "publicKeys": {
          "target": "com.gcp.cloudshell_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Public keys that should be added to the environment before it is started."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for StartEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.cloudshell_v1#DeleteEnvironmentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from DeleteEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#AddPublicKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from AddPublicKey."
      }
    },
    "com.gcp.cloudshell_v1#CreateEnvironmentMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from CreateEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudshell_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.cloudshell_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "error": {
          "target": "com.gcp.cloudshell_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudshell_v1#AddPublicKeyRequest": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key that should be added to the environment. Supported formats are `ssh-dss` (see RFC4253), `ssh-rsa` (see RFC4253), `ecdsa-sha2-nistp256` (see RFC5656), `ecdsa-sha2-nistp384` (see RFC5656) and `ecdsa-sha2-nistp521` (see RFC5656). It should be structured as <format> <content>, where <content> part is encoded with Base64."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AddPublicKey."
      }
    },
    "com.gcp.cloudshell_v1#RemovePublicKeyMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message included in the metadata field of operations returned from RemovePublicKey."
      }
    },
    "com.gcp.cloudshell_v1#AddPublicKeyResponse": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key that was added to the environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AddPublicKey."
      }
    },
    "com.gcp.cloudshell_v1#AuthorizeEnvironmentRequest": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth access token that should be sent to the environment."
          }
        },
        "idToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth ID token that should be sent to the environment."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the credentials expire. If not set, defaults to one hour from when the server received the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AuthorizeEnvironment."
      }
    },
    "com.gcp.cloudshell_v1#GenerateAccessTokenResponse": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The access token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for GenerateAccessToken."
      }
    },
    "com.gcp.cloudshell_v1#GetOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudshell_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudshell_v1#GetOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#GetOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.cloudshell_v1#DeleteOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudshell_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudshell_v1#DeleteOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#DeleteOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.cloudshell_v1#ListOperationsRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#ListOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#ListOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudshell_v1#CancelOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudshell_v1#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#CancelOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#CancelOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.cloudshell_v1#RemovePublicKeyUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment this key should be removed from, e.g. `users/me/environments/default`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudshell_v1#RemovePublicKeyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#RemovePublicKeyUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#RemovePublicKeyUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+environment}:removePublicKey"
        },
        "smithy.api#documentation": "Removes a public SSH key from an environment. Clients will no longer be able to connect to the environment using the corresponding private key. If a key with the same content is not present, this will error with NOT_FOUND."
      }
    },
    "com.gcp.cloudshell_v1#GenerateAccessTokenUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
            "smithy.api#httpQuery": "expireTime"
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The environment to generate the access token for.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
            "smithy.api#httpQuery": "ttl"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#GenerateAccessTokenUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#GenerateAccessTokenUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#GenerateAccessTokenResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+environment}:generateAccessToken"
        },
        "smithy.api#documentation": "Generates an access token for the user's environment."
      }
    },
    "com.gcp.cloudshell_v1#AddPublicKeyUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment this key should be added to, e.g. `users/me/environments/default`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudshell_v1#AddPublicKeyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#AddPublicKeyUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#AddPublicKeyUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+environment}:addPublicKey"
        },
        "smithy.api#documentation": "Adds a public SSH key to an environment, allowing clients with the corresponding private key to connect to that environment via SSH. If a key with the same content already exists, this will error with ALREADY_EXISTS."
      }
    },
    "com.gcp.cloudshell_v1#GetUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the requested resource, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#GetUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#GetUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Environment"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1/{+name}"
        },
        "smithy.api#documentation": "Gets an environment. Returns NOT_FOUND if the environment does not exist."
      }
    },
    "com.gcp.cloudshell_v1#StartUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that should be started, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudshell_v1#StartEnvironmentRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#StartUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#StartUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:start"
        },
        "smithy.api#documentation": "Starts an existing environment, allowing clients to connect to it. The returned operation will contain an instance of StartEnvironmentMetadata in its metadata field. Users can wait for the environment to start by polling this operation via GetOperation. Once the environment has finished starting and is ready to accept connections, the operation will contain a StartEnvironmentResponse in its response field."
      }
    },
    "com.gcp.cloudshell_v1#AuthorizeUsersEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource that should receive the credentials, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudshell_v1#AuthorizeEnvironmentRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudshell_v1#AuthorizeUsersEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudshell_v1#AuthorizeUsersEnvironmentsRequest"
      },
      "output": {
        "target": "com.gcp.cloudshell_v1#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudshell_v1#NotFound"
        },
        {
          "target": "com.gcp.cloudshell_v1#Forbidden"
        },
        {
          "target": "com.gcp.cloudshell_v1#BadRequest"
        },
        {
          "target": "com.gcp.cloudshell_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+name}:authorize"
        },
        "smithy.api#documentation": "Sends OAuth credentials to a running environment on behalf of a user. When this completes, the environment will be authorized to run various Google Cloud command line tools without requiring the user to manually authenticate."
      }
    }
  }
}
