{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudchannel",
    "version": "v1",
    "title": "Cloud Channel API",
    "baseUrl": "https://cloudchannel.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1StartPaidServiceRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.StartPaidService."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SuspendEntitlementRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.SuspendEntitlement."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ProvisionedService": {
      "type": "structure",
      "members": {
        "provisioningId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service provisioned for an entitlement."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ContactInfo": {
      "type": "structure",
      "members": {
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer account contact's last name. Optional for Team customers."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The customer account contact's job title."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer account's contact email. Required for entitlements that create admin.google.com accounts, and serves as the customer's username for those accounts. Use this email to invite Team customers."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer account's contact phone number."
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer account contact's first name. Optional for Team customers."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The customer account contact's display name, formatted as a combination of the customer's first and last name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact information for a customer account."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1BillingAccountPurchaseInfo": {
      "type": "structure",
      "members": {
        "billingAccount": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1BillingAccount",
          "traits": {
            "smithy.api#documentation": "The billing account resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a billing account that can be used to make a purchase."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Plan": {
      "type": "structure",
      "members": {
        "paymentCycle": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Period",
          "traits": {
            "smithy.api#documentation": "Describes how frequently the reseller will be billed, such as once per month."
          }
        },
        "paymentType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PlanPaymentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Specifies when the payment needs to happen."
          }
        },
        "paymentPlan": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PlanPaymentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Describes how a reseller will be billed."
          }
        },
        "trialPeriod": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Period",
          "traits": {
            "smithy.api#documentation": "Present for Offers with a trial period. For trial-only Offers, a paid service needs to start before the trial period ends for continued service. For Regular Offers with a trial period, the regular pricing goes into effect when trial period ends, or if paid service is started before the end of the trial period."
          }
        },
        "billingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reseller Billing account to charge after an offer transaction. Only present for Google Cloud offers."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The payment plan for the Offer. Describes how to make a payment."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PlanPaymentTypeEnum": {
      "type": "enum",
      "members": {
        "PAYMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_TYPE_UNSPECIFIED"
          }
        },
        "PREPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPAY"
          }
        },
        "POSTPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTPAY"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PlanPaymentPlanEnum": {
      "type": "enum",
      "members": {
        "PAYMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_PLAN_UNSPECIFIED"
          }
        },
        "COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Customer": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the customer was created."
          }
        },
        "orgDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the organization that the customer entity represents."
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. External CRM ID for the customer. Populated only if a CRM ID exists for this customer."
          }
        },
        "orgPostalAddress": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypePostalAddress",
          "traits": {
            "smithy.api#documentation": "Required. The organization address for the customer. To enforce US laws and embargoes, we require a region, postal code, and address lines. You must provide valid addresses for every customer. To set the customer's language, use the Customer-level language code."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The customer's primary domain. Must match the primary contact email's domain."
          }
        },
        "primaryContactInfo": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ContactInfo",
          "traits": {
            "smithy.api#documentation": "Primary contact info."
          }
        },
        "cloudIdentityInfo": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CloudIdentityInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud Identity information for the customer. Populated only if a Cloud Identity account exists for this customer."
          }
        },
        "cloudIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The customer's Cloud Identity ID if the customer has a Cloud Identity resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
          }
        },
        "customerAttestationState": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CustomerCustomerAttestationStateEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Indicate if a customer is attesting about the correctness of provided information. Only required if creating a GCP Entitlement. NOTE: This field will be mandatory for all new GCP customers starting Aug 31st, 2026 and this field will also be required for all existing customers purchasing new GCP Entitlements."
          }
        },
        "alternateEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary contact email. You need to provide an alternate email to create different domains if a primary contact email already exists. Users will receive a notification with credentials when you create an admin.google.com account. Secondary emails are also recovery email addresses. Alternate emails are optional when you create Team customers."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the customer was updated."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
          }
        },
        "channelPartnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Identity ID of the customer's channel partner. Populated only if a channel partner exists for this customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity representing a customer of a reseller or distributor."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CustomerCustomerAttestationStateEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_ATTESTATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_ATTESTATION_STATE_UNSPECIFIED"
          }
        },
        "EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXEMPT"
          }
        },
        "NON_EXEMPT_AND_INFO_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_EXEMPT_AND_INFO_VERIFIED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PurchasableSku": {
      "type": "structure",
      "members": {
        "sku": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Sku",
          "traits": {
            "smithy.api#documentation": "SKU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU that you can purchase. This is used in ListPurchasableSku API response."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ReportJob": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of a report job. Name uses the format: `accounts/{account_id}/reportJobs/{report_job_id}`"
          }
        },
        "reportStatus": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ReportStatus",
          "traits": {
            "smithy.api#documentation": "The current status of report generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a RunReportJob operation. Contains the name to use in FetchReportResultsRequest.report_job and the status of the operation."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1SubscriberEvent": {
      "type": "structure",
      "members": {
        "customerEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1CustomerEvent",
          "traits": {
            "smithy.api#documentation": "Customer event sent as part of Pub/Sub event to partners."
          }
        },
        "opportunityEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1OpportunityEvent",
          "traits": {
            "smithy.api#documentation": "Opportunity event sent as part of Pub/Sub event to partners/integrators."
          }
        },
        "entitlementEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1EntitlementEvent",
          "traits": {
            "smithy.api#documentation": "Entitlement event sent as part of Pub/Sub event to partners."
          }
        },
        "channelPartnerEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ChannelPartnerEvent",
          "traits": {
            "smithy.api#documentation": "Channel Partner event sent as part of Pub/Sub event to partners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information which resellers will get as part of notification from Pub/Sub."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferEligibility": {
      "type": "structure",
      "members": {
        "isEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether reseller is eligible to transfer the SKU."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized description if reseller is not eligible to transfer the SKU."
          }
        },
        "ineligibilityReason": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferEligibilityIneligibilityReasonEnum",
          "traits": {
            "smithy.api#documentation": "Specified the reason for ineligibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies transfer eligibility of a SKU."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferEligibilityIneligibilityReasonEnum": {
      "type": "enum",
      "members": {
        "REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_UNSPECIFIED"
          }
        },
        "PENDING_TOS_ACCEPTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_TOS_ACCEPTANCE"
          }
        },
        "SKU_NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKU_NOT_ELIGIBLE"
          }
        },
        "SKU_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKU_SUSPENDED"
          }
        },
        "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANNEL_PARTNER_NOT_AUTHORIZED_FOR_SKU"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Price": {
      "type": "structure",
      "members": {
        "discountComponents": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1DiscountComponentList",
          "traits": {
            "smithy.api#documentation": "Breakdown of the discount into its components. This will be empty if there is no discount present."
          }
        },
        "pricePeriod": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Period",
          "traits": {
            "smithy.api#documentation": "The time period with respect to which base and effective prices are defined. Example: 1 month, 6 months, 1 year, etc."
          }
        },
        "basePrice": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Base price."
          }
        },
        "externalPriceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to external price list, such as link to Google Voice rate card."
          }
        },
        "discount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Discount percentage, represented as decimal. For example, a 20% discount will be represent as 0.2."
          }
        },
        "effectivePrice": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "Effective Price after applying the discounts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the price of the Offer."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1DiscountComponentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1DiscountComponent"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleTypeMoney": {
      "type": "structure",
      "members": {
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListSkuGroupBillableSkusResponse": {
      "type": "structure",
      "members": {
        "billableSkus": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1BillableSkuList",
          "traits": {
            "smithy.api#documentation": "The list of billable SKUs in the requested SKU group."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass to ListSkuGroupBillableSkusRequest.page_token to obtain that page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSkuGroupBillableSkus."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1BillableSkuList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1BillableSku"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListSkusResponse": {
      "type": "structure",
      "members": {
        "skus": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuList",
          "traits": {
            "smithy.api#documentation": "The list of SKUs requested."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSkus."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Sku"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1RepricingConfigChannelPartnerGranularity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Applies the repricing configuration at the channel partner level. The channel partner value is derived from the resource name. Takes an empty json object. Deprecated: This is no longer supported. Use RepricingConfig.EntitlementGranularity instead."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1UnregisterSubscriberResponse": {
      "type": "structure",
      "members": {
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the topic the service account subscriber access was removed from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response Message for UnregisterSubscriber."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListReportsResponse": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportList",
          "traits": {
            "smithy.api#documentation": "The reports available to the partner."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pass this token to FetchReportResultsRequest.page_token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CloudChannelReportsService.ListReports."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Report"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListTransferableSkusResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page."
          }
        },
        "transferableSkus": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferableSkuList",
          "traits": {
            "smithy.api#documentation": "Information about existing SKUs for a customer that needs a transfer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CloudChannelService.ListTransferableSkus."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferableSkuList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TransferableSku"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1CustomerEvent": {
      "type": "structure",
      "members": {
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
          }
        },
        "eventType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1CustomerEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of event which happened for the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Pub/Sub message content describing customer update."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1CustomerEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY_DOMAIN_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_DOMAIN_CHANGED"
          }
        },
        "PRIMARY_DOMAIN_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_DOMAIN_VERIFIED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.cloudchannel_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudchannel_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudchannel_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#DocumentMap"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Domain to fetch for Cloud Identity account customers, including domain and team customers. For team customers, please use the domain for their emails."
          }
        },
        "primaryAdminEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Primary admin email to fetch for Cloud Identity account team customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.CheckCloudIdentityAccountsExist."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PercentageAdjustment": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "The percentage of the bill to adjust. For example: Mark down by 1% => \"-1.00\" Mark up by 1% => \"1.00\" Pass-Through => \"0.00\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An adjustment that applies a flat markup or markdown to an entire bill."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page."
          }
        },
        "channelPartnerLinks": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ChannelPartnerLinkList",
          "traits": {
            "smithy.api#documentation": "The Channel partner links for a reseller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CloudChannelService.ListChannelPartnerLinks."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ChannelPartnerLinkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ChannelPartnerLink"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of SKU group. Format: accounts/{account}/skuGroups/{sku_group}. Example: \"accounts/C01234/skuGroups/3d50fd57-3157-4577-a5a9-a219b8490041\"."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique human readable identifier for the SKU group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the SKU group information."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1RepricingAdjustment": {
      "type": "structure",
      "members": {
        "percentageAdjustment": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PercentageAdjustment",
          "traits": {
            "smithy.api#documentation": "Flat markup or markdown on an entire bill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A type that represents the various adjustments you can apply to a bill."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Report": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for this report."
          }
        },
        "columns": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ColumnList",
          "traits": {
            "smithy.api#documentation": "The list of columns included in the report. This defines the schema of the report results."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of other aspects of the report, such as the products it supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Column"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ProvisionedService": {
      "type": "structure",
      "members": {
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer."
          }
        },
        "provisioningId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Provisioning ID of the entitlement. For Google Workspace, this is the underlying Subscription ID. For Google Cloud, this is the Billing Account ID of the billing subaccount."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The product pertaining to the provisioning resource as specified in the Offer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service provisioned for an entitlement."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1FetchReportResultsRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size of the report. The server may return fewer results than requested. If you don't specify a page size, the server uses a sensible default (may change over time). The maximum value is 30,000; the server will change larger values to 30,000."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token that specifies a page of results beyond the first page. Obtained through FetchReportResultsResponse.next_page_token of the previous CloudChannelReportsService.FetchReportResults call."
          }
        },
        "partitionKeys": {
          "target": "com.gcp.cloudchannel_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of keys specifying which report partitions to return. If empty, returns all partitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelReportsService.FetchReportResults."
      }
    },
    "com.gcp.cloudchannel_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1AdminUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary email of the admin user."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Given name of the admin user."
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Family name of the admin user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information needed to create an Admin User for Google Workspace."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ActivateEntitlementRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.ActivateEntitlement."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1Report": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The report's resource name. Specifies the account and report used to generate report data. The report_id identifier is a UID (for example, `613bf59q`). Name uses the format: accounts/{account_id}/reports/{report_id}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable name for this report."
          }
        },
        "columns": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ColumnList",
          "traits": {
            "smithy.api#documentation": "The list of columns included in the report. This defines the schema of the report results."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of other aspects of the report, such as the products it supports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ID and description of a report that was used to generate report data. For example, \"Google Cloud Daily Spend\", \"Google Workspace License Activity\", etc."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ColumnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1Column"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportStatus": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report generation's start time."
          }
        },
        "state": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "The current state of the report generation process."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report generation's completion time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a report generation process."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportStatusStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "WRITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRITING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SubscriberEvent": {
      "type": "structure",
      "members": {
        "customerEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CustomerEvent",
          "traits": {
            "smithy.api#documentation": "Customer event sent as part of Pub/Sub event to partners."
          }
        },
        "entitlementEvent": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementEvent",
          "traits": {
            "smithy.api#documentation": "Entitlement event sent as part of Pub/Sub event to partners."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents information which resellers will get as part of notification from Pub/Sub."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ImportCustomerRequest": {
      "type": "structure",
      "members": {
        "primaryAdminEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Customer's primary admin email."
          }
        },
        "overwriteIfExists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. Choose to overwrite an existing customer if found. This must be set to true if there is an existing customer with a conflicting region code or domain."
          }
        },
        "channelPartnerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is required for 2-tier transfer scenarios and can be provided via the request Parent binding as well."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Customer domain."
          }
        },
        "authToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
          }
        },
        "cloudIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Customer's Cloud Identity ID"
          }
        },
        "customer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the customer that will receive imported Cloud Identity information. Format: accounts/{account_id}/customers/{customer_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.ImportCustomer"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ReportValue": {
      "type": "structure",
      "members": {
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value of type `int`."
          }
        },
        "dateTimeValue": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeDateTime",
          "traits": {
            "smithy.api#documentation": "A value of type `google.type.DateTime` (year, month, day, hour, minute, second, and UTC offset or timezone.)"
          }
        },
        "decimalValue": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeDecimal",
          "traits": {
            "smithy.api#documentation": "A value of type `google.type.Decimal`, representing non-integer numeric values."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value of type `string`."
          }
        },
        "dateValue": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeDate",
          "traits": {
            "smithy.api#documentation": "A value of type `google.type.Date` (year, month, day)."
          }
        },
        "moneyValue": {
          "target": "com.gcp.cloudchannel_v1#GoogleTypeMoney",
          "traits": {
            "smithy.api#documentation": "A value of type `google.type.Money` (currency code, whole units, decimal units)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single report value."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ChangeOfferRequest": {
      "type": "structure",
      "members": {
        "purchaseOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Purchase order id provided by the reseller."
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. New Offer. Format: accounts/{account_id}/offers/{offer_id}."
          }
        },
        "billingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The billing account resource name that is used to pay for this entitlement when setting up billing on a trial subscription. This field is only relevant for multi-currency accounts. It should be left empty for single currency accounts."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`)."
          }
        },
        "parameters": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterList",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters needed to purchase the Offer. To view the available Parameters refer to the Offer.parameter_definitions from the desired offer."
          }
        },
        "priceReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Price reference ID for the offer. Only for offers that require additional price information. Used to guarantee that the pricing is consistent between quoting the offer and placing the order."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for CloudChannelService.ChangeOffer."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Parameter"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1UnregisterSubscriberRequest": {
      "type": "structure",
      "members": {
        "integrator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of the integrator. Required if account is not provided. Otherwise, leave this field empty/unset."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service account to unregister from subscriber access to the topic."
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of the account. Required if integrator is not provided. Otherwise, leave this field empty/unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request Message for UnregisterSubscriber."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1TrialSettings": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example [Epoch converter](https://www.epochconverter.com)."
          }
        },
        "trial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the entitlement is in a trial or not: * `true` - The entitlement is in trial. * `false` - The entitlement is not in trial."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for trial offers."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Offer": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Plan",
          "traits": {
            "smithy.api#documentation": "Describes the payment plan for the Offer."
          }
        },
        "priceByResources": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PriceByResourceList",
          "traits": {
            "smithy.api#documentation": "Price for each monetizable resource type."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. End of the Offer validity time."
          }
        },
        "parameterDefinitions": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterDefinitionList",
          "traits": {
            "smithy.api#documentation": "Parameters required to use current Offer to purchase."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the Offer validity time."
          }
        },
        "marketingInfo": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1MarketingInfo",
          "traits": {
            "smithy.api#documentation": "Marketing information for the Offer."
          }
        },
        "constraints": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Constraints",
          "traits": {
            "smithy.api#documentation": "Constraints on transacting the Offer."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Name of the Offer. Format: accounts/{account_id}/offers/{offer_id}"
          }
        },
        "dealCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deal code of the offer to get a special promotion or discount."
          }
        },
        "sku": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Sku",
          "traits": {
            "smithy.api#documentation": "SKU the offer is associated with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an offer made to resellers for purchase. An offer is associated with a Sku, has a plan for payment, a price, and defines the constraints for buying."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PriceByResourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1PriceByResource"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterDefinition"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Media": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1MediaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the media."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the media."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the media."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents media information."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1MediaTypeEnum": {
      "type": "enum",
      "members": {
        "MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "MEDIA_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIA_TYPE_IMAGE"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CloudIdentityCustomerAccount": {
      "type": "structure",
      "members": {
        "existing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if a Cloud Identity account exists for a specific domain."
          }
        },
        "owned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if the Cloud Identity account is associated with a customer of the Channel Services partner (with active subscriptions or purchase consents)."
          }
        },
        "channelPartnerCloudIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If existing = true, and is 2-tier customer, the channel partner of the customer."
          }
        },
        "customerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If owned = true, the name of the customer that owns the Cloud Identity account. Customer_name uses the format: accounts/{account_id}/customers/{customer_id}"
          }
        },
        "customerType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CloudIdentityCustomerAccountCustomerTypeEnum",
          "traits": {
            "smithy.api#documentation": "If existing = true, the type of the customer."
          }
        },
        "customerCloudIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If existing = true, the Cloud Identity ID of the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity representing a Cloud Identity account that may be associated with a Channel Services API partner."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1CloudIdentityCustomerAccountCustomerTypeEnum": {
      "type": "enum",
      "members": {
        "CUSTOMER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_TYPE_UNSPECIFIED"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN"
          }
        },
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEAM"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListSubscribersResponse": {
      "type": "structure",
      "members": {
        "serviceAccounts": {
          "target": "com.gcp.cloudchannel_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of service accounts which have subscriber access to the topic."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "topic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the topic registered with the reseller."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response Message for ListSubscribers."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleTypePostalAddress": {
      "type": "structure",
      "members": {
        "administrativeArea": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
          }
        },
        "sublocality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
          }
        },
        "sortingCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
          }
        },
        "locality": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
          }
        },
        "organization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the organization at the address."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
          }
        },
        "addressLines": {
          "target": "com.gcp.cloudchannel_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
          }
        },
        "recipients": {
          "target": "com.gcp.cloudchannel_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1Value": {
      "type": "structure",
      "members": {
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a double value."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents an int64 value."
          }
        },
        "protoValue": {
          "target": "com.gcp.cloudchannel_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Represents an 'Any' proto value."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data type and value of a parameter."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChange": {
      "type": "structure",
      "members": {
        "otherChangeReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "e.g. purchase_number change reason, entered by CRS."
          }
        },
        "cancellationReason": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeCancellationReasonEnum",
          "traits": {
            "smithy.api#documentation": "Cancellation reason for the Entitlement."
          }
        },
        "operatorType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeOperatorTypeEnum",
          "traits": {
            "smithy.api#documentation": "Operator type responsible for the change."
          }
        },
        "activationReason": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeActivationReasonEnum",
          "traits": {
            "smithy.api#documentation": "The Entitlement's activation reason"
          }
        },
        "changeType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeChangeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The change action type."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The submitted time of the change."
          }
        },
        "parameters": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ParameterList",
          "traits": {
            "smithy.api#documentation": "Extended parameters, such as: purchase_order_number, gcp_details; internal_correlation_id, long_running_operation_id, order_id; etc."
          }
        },
        "provisionedService": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ProvisionedService",
          "traits": {
            "smithy.api#documentation": "Service provisioned for an Entitlement."
          }
        },
        "entitlement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Resource name of the Offer at the time of change. Takes the form: accounts/{account_id}/offers/{offer_id}."
          }
        },
        "suspensionReason": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeSuspensionReasonEnum",
          "traits": {
            "smithy.api#documentation": "Suspension reason for the Entitlement."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable identifier that shows what operator made a change. When the operator_type is RESELLER, this is the user's email address. For all other operator types, this is empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Change event entry for Entitlement order history"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeCancellationReasonEnum": {
      "type": "enum",
      "members": {
        "CANCELLATION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLATION_REASON_UNSPECIFIED"
          }
        },
        "SERVICE_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_TERMINATED"
          }
        },
        "RELATIONSHIP_ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATIONSHIP_ENDED"
          }
        },
        "PARTIAL_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_TRANSFER"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeOperatorTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATOR_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATOR_TYPE_UNSPECIFIED"
          }
        },
        "CUSTOMER_SERVICE_REPRESENTATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SERVICE_REPRESENTATIVE"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER"
          }
        },
        "RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESELLER"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeActivationReasonEnum": {
      "type": "enum",
      "members": {
        "ACTIVATION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATION_REASON_UNSPECIFIED"
          }
        },
        "RESELLER_REVOKED_SUSPENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESELLER_REVOKED_SUSPENSION"
          }
        },
        "CUSTOMER_ACCEPTED_PENDING_TOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_ACCEPTED_PENDING_TOS"
          }
        },
        "RENEWAL_SETTINGS_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_SETTINGS_CHANGED"
          }
        },
        "OTHER_ACTIVATION_REASON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER_ACTIVATION_REASON"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeChangeTypeEnum": {
      "type": "enum",
      "members": {
        "CHANGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_TYPE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "PRICE_PLAN_SWITCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_PLAN_SWITCHED"
          }
        },
        "COMMITMENT_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_CHANGED"
          }
        },
        "RENEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKU_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKU_CHANGED"
          }
        },
        "RENEWAL_SETTING_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_SETTING_CHANGED"
          }
        },
        "PAID_SUBSCRIPTION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAID_SUBSCRIPTION_STARTED"
          }
        },
        "LICENSE_CAP_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_CAP_CHANGED"
          }
        },
        "SUSPENSION_DETAILS_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENSION_DETAILS_CHANGED"
          }
        },
        "TRIAL_END_DATE_EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL_END_DATE_EXTENDED"
          }
        },
        "TRIAL_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL_STARTED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeSuspensionReasonEnum": {
      "type": "enum",
      "members": {
        "SUSPENSION_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENSION_REASON_UNSPECIFIED"
          }
        },
        "RESELLER_INITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESELLER_INITIATED"
          }
        },
        "TRIAL_ENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL_ENDED"
          }
        },
        "RENEWAL_WITH_TYPE_CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_WITH_TYPE_CANCEL"
          }
        },
        "PENDING_TOS_ACCEPTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_TOS_ACCEPTANCE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1RenewalSettings": {
      "type": "structure",
      "members": {
        "resizeUnitCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
          }
        },
        "paymentCycle": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Period",
          "traits": {
            "smithy.api#documentation": "Describes how frequently the reseller will be billed, such as once per month."
          }
        },
        "enableRenewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false, the plan will be completed at the end date."
          }
        },
        "paymentPlan": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1RenewalSettingsPaymentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Describes how a reseller will be billed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Renewal settings for renewable Offers."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1RenewalSettingsPaymentPlanEnum": {
      "type": "enum",
      "members": {
        "PAYMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_PLAN_UNSPECIFIED"
          }
        },
        "COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1QueryEligibleBillingAccountsResponse": {
      "type": "structure",
      "members": {
        "skuPurchaseGroups": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuPurchaseGroupList",
          "traits": {
            "smithy.api#documentation": "List of SKU purchase groups where each group represents a set of SKUs that must be purchased using the same billing account. Each SKU from [QueryEligibleBillingAccountsRequest.skus] will appear in exactly one SKU group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryEligibleBillingAccounts."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuPurchaseGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuPurchaseGroup"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1Column": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ColumnDataTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the values for this column."
          }
        },
        "columnId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the column (for example, customer_domain, channel_partner, customer_cost). You can use column IDs in RunReportJobRequest.filter. To see all reports and their columns, call CloudChannelReportsService.ListReports."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The column's display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a report column. Specifies the data properties in the corresponding position of the report rows."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ColumnDataTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INT"
          }
        },
        "DECIMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DECIMAL"
          }
        },
        "MONEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONEY"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DATE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE_TIME"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1EntitlementEvent": {
      "type": "structure",
      "members": {
        "entitlement": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name of an entitlement of the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
          }
        },
        "eventType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1EntitlementEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of event which happened for the entitlement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Pub/Sub message content describing entitlement update."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1EntitlementEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "PRICE_PLAN_SWITCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRICE_PLAN_SWITCHED"
          }
        },
        "COMMITMENT_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_CHANGED"
          }
        },
        "RENEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWED"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SKU_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKU_CHANGED"
          }
        },
        "RENEWAL_SETTING_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RENEWAL_SETTING_CHANGED"
          }
        },
        "PAID_SERVICE_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAID_SERVICE_STARTED"
          }
        },
        "LICENSE_ASSIGNMENT_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_ASSIGNMENT_CHANGED"
          }
        },
        "LICENSE_CAP_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_CAP_CHANGED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1OperationMetadata": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1OperationMetadataOperationTypeEnum",
          "traits": {
            "smithy.api#documentation": "The RPC that initiated this Long Running Operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides contextual information about a google.longrunning.Operation."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1OperationMetadataOperationTypeEnum": {
      "type": "enum",
      "members": {
        "OPERATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATION_TYPE_UNSPECIFIED"
          }
        },
        "CREATE_ENTITLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ENTITLEMENT"
          }
        },
        "CHANGE_QUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_QUANTITY"
          }
        },
        "CHANGE_RENEWAL_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_RENEWAL_SETTINGS"
          }
        },
        "CHANGE_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_PLAN"
          }
        },
        "START_PAID_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_PAID_SERVICE"
          }
        },
        "CHANGE_SKU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_SKU"
          }
        },
        "ACTIVATE_ENTITLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATE_ENTITLEMENT"
          }
        },
        "SUSPEND_ENTITLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPEND_ENTITLEMENT"
          }
        },
        "CANCEL_ENTITLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_ENTITLEMENT"
          }
        },
        "TRANSFER_ENTITLEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_ENTITLEMENTS"
          }
        },
        "TRANSFER_ENTITLEMENTS_TO_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSFER_ENTITLEMENTS_TO_GOOGLE"
          }
        },
        "CHANGE_OFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_OFFER"
          }
        },
        "CHANGE_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHANGE_PARAMETERS"
          }
        },
        "PROVISION_CLOUD_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISION_CLOUD_IDENTITY"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListSkuGroupsResponse": {
      "type": "structure",
      "members": {
        "skuGroups": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuGroupList",
          "traits": {
            "smithy.api#documentation": "The list of SKU groups requested."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass to ListSkuGroupsRequest.page_token to obtain that page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListSkuGroups."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1SkuGroup"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettings": {
      "type": "structure",
      "members": {
        "enableRenewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If false, the plan will be completed at the end date."
          }
        },
        "resizeUnitCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
          }
        },
        "paymentPlan": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettingsPaymentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Describes how a reseller will be billed."
          }
        },
        "paymentCycle": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1Period",
          "traits": {
            "smithy.api#documentation": "Describes how frequently the reseller will be billed, such as once per month."
          }
        },
        "disableCommitment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, disables commitment-based offer on renewal and switches to flexible or pay as you go. Deprecated: Use `payment_plan` instead."
          }
        },
        "paymentOption": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettingsPaymentOptionEnum",
          "traits": {
            "smithy.api#documentation": "Set if enable_renewal=true. Deprecated: Use `payment_cycle` instead."
          }
        },
        "scheduledRenewalOffer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The offer resource name that the entitlement will renew on at the end date. Takes the form: accounts/{account_id}/offers/{offer_id}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Renewal settings for renewable Offers."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettingsPaymentPlanEnum": {
      "type": "enum",
      "members": {
        "PAYMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_PLAN_UNSPECIFIED"
          }
        },
        "COMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettingsPaymentOptionEnum": {
      "type": "enum",
      "members": {
        "PAYMENT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_OPTION_UNSPECIFIED"
          }
        },
        "ANNUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANNUAL"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1ListEntitlementChangesResponse": {
      "type": "structure",
      "members": {
        "entitlementChanges": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeList",
          "traits": {
            "smithy.api#documentation": "The list of entitlement changes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to list the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for CloudChannelService.ListEntitlementChanges"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1EntitlementChange"
      }
    },
    "com.gcp.cloudchannel_v1#GoogleTypeTimeZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA Time Zone Database time zone. For example \"America/New_York\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ChannelPartnerEvent": {
      "type": "structure",
      "members": {
        "eventType": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ChannelPartnerEventEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of event which happened for the channel partner."
          }
        },
        "channelPartner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the Channel Partner Link. Channel_partner uses the format: accounts/{account_id}/channelPartnerLinks/{channel_partner_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Pub/Sub messages about updates to a Channel Partner. You can retrieve updated values through the ChannelPartnerLinks API."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1ChannelPartnerEventEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "LINK_STATE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK_STATE_CHANGED"
          }
        },
        "PARTNER_ADVANTAGE_INFO_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTNER_ADVANTAGE_INFO_CHANGED"
          }
        }
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1Value": {
      "type": "structure",
      "members": {
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Represents a boolean value."
          }
        },
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a string value."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Represents a double value."
          }
        },
        "int64Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents an int64 value."
          }
        },
        "protoValue": {
          "target": "com.gcp.cloudchannel_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Represents an 'Any' proto value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data type and value of a parameter."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1CommitmentSettings": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Commitment end timestamp."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Commitment start timestamp."
          }
        },
        "renewalSettings": {
          "target": "com.gcp.cloudchannel_v1#GoogleCloudChannelV1alpha1RenewalSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Renewal settings applicable for a commitment-based Offer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Commitment settings for commitment-based offers."
      }
    },
    "com.gcp.cloudchannel_v1#GoogleTypeDecimal": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
[...]
