{
  "smithy": "2.0",
  "metadata": {
    "service": "cloudnumberregistry",
    "version": "v1alpha",
    "title": "Cloud Number Registry API",
    "baseUrl": "https://cloudnumberregistry.googleapis.com/"
  },
  "shapes": {
    "com.gcp.cloudnumberregistry_v1alpha#DiscoveryMetadata": {
      "type": "structure",
      "members": {
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the event happened."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was created."
          }
        },
        "state": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveryMetadataStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the resource."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the resource was last modified."
          }
        },
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource uri of the discovered resource."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the discovered resource, should be API-agnostic. Example: \"projects/{project_number}/networks/{network_id}\"."
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The canonical google.aip.dev/122 name of the source resource."
          }
        },
        "sourceSubId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A single source resource can be the source of multiple CNR resources. This sub_id is used to distinguish between the different CNR resources derived from the same upstream resource. For example, a single subnetwork can be the source of multiple Ranges, one for each protocol. In this case, the sub_id could be \"private-ipv4\" or \"private-ipv6\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about a discovered resource, tracking event times, state, and source information."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DiscoveryMetadataStateEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_STATE_UNSPECIFIED"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTS"
          }
        },
        "DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_EXIST"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResult": {
      "type": "structure",
      "members": {
        "realm": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Realm",
          "traits": {
            "smithy.api#documentation": "A Realm matching the search query."
          }
        },
        "range": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Range",
          "traits": {
            "smithy.api#documentation": "A Range matching the search query."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A result matching the search query, which can be either a Range or a Realm."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListCustomRangesResponse": {
      "type": "structure",
      "members": {
        "customRanges": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#CustomRangeList",
          "traits": {
            "smithy.api#documentation": "The list of CustomRanges."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ListCustomRanges method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CustomRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CustomRange"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListRealmsResponse": {
      "type": "structure",
      "members": {
        "realms": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RealmList",
          "traits": {
            "smithy.api#documentation": "The list of Realms."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ListRealms method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RealmList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Realm"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "error": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScope": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the IpamAdminScope was last updated."
          }
        },
        "state": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of resource discovery pipeline."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the IpamAdminScope was created."
          }
        },
        "scopes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. Administrative scopes enabled for IP address discovery and management. For example, \"organizations/1234567890\". Minimum of 1 scope is required. In preview, only one organization scope is allowed."
          }
        },
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "enabledAddonPlatforms": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeEnabledAddonPlatformsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. Add-on platforms that are enabled for this IpamAdminScope. Cloud Number Registry only discovers the IP addresses from the enabled platforms."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the IpamAdminScope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An IpamAdminScope defines the administrative boundary for IP address discovery and management. It configures which platforms and organizational scopes are enabled for IP tracking."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeStateEnum": {
      "type": "enum",
      "members": {
        "DISCOVERY_PIPELINE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_PIPELINE_STATE_UNSPECIFIED"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SETUP_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_IN_PROGRESS"
          }
        },
        "READY_FOR_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_USE"
          }
        },
        "DELETING_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_IN_PROGRESS"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "RECOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVERING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DELETION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETION_COMPLETED"
          }
        },
        "CLEANUP_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEANUP_IN_PROGRESS"
          }
        },
        "READY_FOR_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_FOR_DELETION"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeEnabledAddonPlatformsItemEnum": {
      "type": "enum",
      "members": {
        "ADD_ON_PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_ON_PLATFORM_UNSPECIFIED"
          }
        },
        "COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_ENGINE"
          }
        },
        "GCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeEnabledAddonPlatformsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeEnabledAddonPlatformsItemEnum"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResponse": {
      "type": "structure",
      "members": {
        "ranges": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RangeList",
          "traits": {
            "smithy.api#documentation": "Deprecated: Use results field instead. The list of Ranges matching the search query."
          }
        },
        "results": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResultList",
          "traits": {
            "smithy.api#documentation": "The list of results matching the search query."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.SearchIpResources method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Range"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResult"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ShowDiscoveredRangeUtilizationResponse": {
      "type": "structure",
      "members": {
        "discoveredRange": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRange",
          "traits": {
            "smithy.api#documentation": "The DiscoveredRange resource."
          }
        },
        "rangeUtilization": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RangeUtilization",
          "traits": {
            "smithy.api#documentation": "The utilization details of the DiscoveredRange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ShowDiscoveredRangeUtilization method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RangeUtilization": {
      "type": "structure",
      "members": {
        "usage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The usage of the Range as a percentage. This is marked as optional so that we have presence tracking and API responses show 0.0 instead of NULL."
          }
        },
        "totalProduced": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of IP addresses produced in the Range."
          }
        },
        "totalConsumed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The total number of IP addresses consumed in the Range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Utilization metrics for an IP Range, including consumed and produced address counts."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Range": {
      "type": "structure",
      "members": {
        "utilization": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RangeUtilization",
          "traits": {
            "smithy.api#documentation": "The utilization of the Range."
          }
        },
        "customRange": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#CustomRange",
          "traits": {
            "smithy.api#documentation": "A CustomRange."
          }
        },
        "discoveredRange": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRange",
          "traits": {
            "smithy.api#documentation": "A DiscoveredRange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents either a CustomRange or a DiscoveredRange."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#FindDiscoveredRangeFreeIpRangesResponse": {
      "type": "structure",
      "members": {
        "freeIpCidrRanges": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The free IP CIDR ranges found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.FindDiscoveredRangeFreeIpRanges method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RegistryBook": {
      "type": "structure",
      "members": {
        "aggregatedData": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#AggregatedData",
          "traits": {
            "smithy.api#documentation": "Output only. Aggregated data for the RegistryBook. Populated only when the view is AGGREGATE."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the RegistryBook."
          }
        },
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the RegistryBook was created."
          }
        },
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Whether the RegistryBook is the default one."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the RegistryBook was last updated."
          }
        },
        "claimedScopes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of scopes claimed by the RegistryBook. In Preview, Only project scope is supported. Each scope is in the format of projects/{project}. Each scope can only be claimed once."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A RegistryBook organizes and manages IP address space. It claims specific scopes (such as projects) and groups related Realms and Ranges."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Attribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The key of the attribute."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The value of the attribute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A key-value pair representing a custom attribute associated with a resource."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListRegistryBooksResponse": {
      "type": "structure",
      "members": {
        "registryBooks": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RegistryBookList",
          "traits": {
            "smithy.api#documentation": "The list of RegistryBook"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ListRegistryBooks method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RegistryBookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#RegistryBook"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRange": {
      "type": "structure",
      "members": {
        "registryBook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The RegistryBook of the DiscoveredRange."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the DiscoveredRange was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the DiscoveredRange was last updated."
          }
        },
        "ipv4CidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IPv4 CIDR range of the DiscoveredRange."
          }
        },
        "ipv6CidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IPv6 CIDR range of the DiscoveredRange."
          }
        },
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "childCidrOverlapAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, allows child DiscoveredRanges of this DiscoveredRange to overlap with each other."
          }
        },
        "realm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Realm of the DiscoveredRange."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the DiscoveredRange."
          }
        },
        "discoveryMetadata": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveryMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Owner metadata for this DiscoveredRange. A unique set of metadata is associated with each DiscoveredRange. If an IP range is shared by multiple resources (e.g., an Address resource and an Instance resource, or multiple ForwardingRules),separate DiscoveredRanges are created, each with a distinct owner. This ensures each DiscoveredRange has its own unique set of attributes, labels, create time and update time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
          }
        },
        "parentRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the parent DiscoveredRange, in the format `projects/{project}/locations/{location}/discoveredRanges/{discovered_range}`."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#AttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The attributes of the DiscoveredRange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DiscoveredRange represents an IP address range automatically detected by the discovery pipeline."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Attribute"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Location": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "metadata": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search query. This string filters resources in an AIP-160-like format. It has some limitations. You can only specify top level conjunctions or attribute level negations. Each restriction can only be used once except the attribute restriction. The available restrictions for Ranges are: - `realm`: The Realm name to search in. - `ip_address`: The IP address to search for within Ranges. - `ip_version`: The IP version to filter by (e.g., \"IPV4\", \"IPV6\"). - `parent_range`: The parent Range of the Range to search for. - `attribute_text`: The attribute text to search for within Ranges. - `attribute`: The attribute key and value to filter by. The available restrictions for Realms are: - `ip_version`: The IP version to search for. - `management_type`: The management type of the Realm (e.g., \"CNR\", \"USER\"). Only one of attribute_text or multiple attribute filters can be specified. Examples: - `realm=test-realm` - `realm=test-realm AND ip_address=10.0.0.0` - `realm=test-realm AND ip_version=IPV6` - `realm=test-realm AND attribute_text=test` - `ip_address=10.0.0.0 AND attribute:(key1=value1) AND attribute:(key2=value2)` - `attribute_text=test AND parent_range=projects/123/locations/global/discoveredRanges/test-parent-range` - `management_type=CNR`"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results. Supported sort fields are: - `name`: Sort alphabetically by the resource name. - `create_time`: Sort by the creation timestamp of the resource. - `update_time`: Sort by the last update timestamp of the resource. Supported directions are `asc` (ascending) and `desc` (descending). If unspecified, direction defaults to `asc`. Only sorting by a single field is supported."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return."
          }
        },
        "searchResourceTypes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequestSearchResourceTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The type of resources to search for. If not specified, the server will return Ranges."
          }
        },
        "showUtilization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to show the utilization of the Ranges in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the CloudNumberRegistry.SearchIpResources method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequestSearchResourceTypesItemEnum": {
      "type": "enum",
      "members": {
        "SEARCH_RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEARCH_RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "RANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANGES"
          }
        },
        "REALMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALMS"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequestSearchResourceTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequestSearchResourceTypesItemEnum"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#AggregatedData": {
      "type": "structure",
      "members": {
        "discoveredRangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of DiscoveredRanges in the RegistryBook."
          }
        },
        "uniqueScopesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of scopes unique to the RegistryBook."
          }
        },
        "customRealmsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of custom Realms in the RegistryBook."
          }
        },
        "customRangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of CustomRanges in the RegistryBook."
          }
        },
        "discoveredRealmsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of discovered Realms in the RegistryBook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated data for the RegistryBook."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Realm": {
      "type": "structure",
      "members": {
        "trafficType": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RealmTrafficTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Traffic type of the Realm."
          }
        },
        "discoveryMetadata": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveryMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Discovery metadata of the Realm."
          }
        },
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the Realm."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Realm was last updated."
          }
        },
        "registryBook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the RegistryBook that claims the Realm."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the Realm was created."
          }
        },
        "aggregatedData": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RealmAggregatedData",
          "traits": {
            "smithy.api#documentation": "Output only. Aggregated data for the Realm. Populated only when the view is AGGREGATE."
          }
        },
        "managementType": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RealmManagementTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Management type of the Realm."
          }
        },
        "ipVersion": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RealmIpVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. IP version of the Realm."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Realm represents a distinct network domain or security zone. It groups Ranges that share the same traffic and management characteristics. All the ranges in a Realm are routable to each other, meaning that they cannot overlap."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RealmTrafficTypeEnum": {
      "type": "enum",
      "members": {
        "TRAFFIC_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFIC_TYPE_UNSPECIFIED"
          }
        },
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSET"
          }
        },
        "INTERNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNET"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        },
        "LINKLOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKLOCAL"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RealmManagementTypeEnum": {
      "type": "enum",
      "members": {
        "MANAGEMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_TYPE_UNSPECIFIED"
          }
        },
        "CNR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNR"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RealmIpVersionEnum": {
      "type": "enum",
      "members": {
        "IP_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_VERSION_UNSPECIFIED"
          }
        },
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CustomRange": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined labels."
          }
        },
        "parentRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the parent CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`. If specified, the parent CustomRange must be in the same RegistryBook. This field is mutually exclusive with the `realm` field, as the Realm is inherited from the parent CustomRange."
          }
        },
        "attributes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#AttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The attributes of the CustomRange."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the CustomRange, in the format `projects/{project}/locations/{location}/customRanges/{custom_range}`."
          }
        },
        "ipv6CidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IPv6 CIDR range of the CustomRange."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the CustomRange."
          }
        },
        "ipv4CidrRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The IPv4 CIDR range of the CustomRange."
          }
        },
        "realm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the Realm associated with the CustomRange, in the format `projects/{project}/locations/{location}/realms/{realm}`. The Realm must be in the same project as the CustomRange. This field must not be set if the `parent_range` field is set, as the Realm will be inherited from the parent CustomRange."
          }
        },
        "registryBook": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The RegistryBook of the CustomRange. This field is inherited from the Realm or parent CustomRange depending on which one is specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CustomRange represents a user-defined IP address range."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListDiscoveredRangesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "discoveredRanges": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRangeList",
          "traits": {
            "smithy.api#documentation": "The list of DiscoveredRanges."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ListDiscoveredRanges method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#DiscoveredRange"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#FindCustomRangeFreeIpRangesResponse": {
      "type": "structure",
      "members": {
        "freeIpCidrRanges": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The free IP CIDR ranges found."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.FindCustomRangeFreeIpRanges method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#RealmAggregatedData": {
      "type": "structure",
      "members": {
        "customRangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of CustomRanges in the Realm."
          }
        },
        "discoveredRangesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of DiscoveredRanges in the Realm."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated data for the Realm."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailability": {
      "type": "structure",
      "members": {
        "adminProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The admin project of the IpamAdminScope if it exists."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope of the IpamAdminScope."
          }
        },
        "availability": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailabilityAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "The availability of the scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Availability details for a specific IpamAdminScope."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailabilityAvailabilityEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_UNSPECIFIED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Status": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#DocumentMap"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CheckAvailabilityIpamAdminScopesResponse": {
      "type": "structure",
      "members": {
        "scopeAvailabilities": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailabilityList",
          "traits": {
            "smithy.api#documentation": "The details of the requested scopes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.CheckAvailabilityIpamAdminScopes method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailabilityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeAvailability"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ShowCustomRangeUtilizationResponse": {
      "type": "structure",
      "members": {
        "customRange": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#CustomRange",
          "traits": {
            "smithy.api#documentation": "The CustomRange resource."
          }
        },
        "rangeUtilization": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RangeUtilization",
          "traits": {
            "smithy.api#documentation": "The utilization details of the CustomRange."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ShowCustomRangeUtilization method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Location"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListIpamAdminScopesResponse": {
      "type": "structure",
      "members": {
        "ipamAdminScopes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeList",
          "traits": {
            "smithy.api#documentation": "The list of IpamAdminScopes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results, or empty if there are no more results in the list."
          }
        },
        "unreachable": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the CloudNumberRegistry.ListIpamAdminScopes method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScopeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#IpamAdminScope"
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CleanupIpamAdminScopeRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the CloudNumberRegistry.CleanupIpamAdminScope method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DisableIpamAdminScopeRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the CloudNumberRegistry.DisableIpamAdminScope method."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Location"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the RegistryBook to search in.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#SearchIpResourcesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:searchIpResources"
        },
        "smithy.api#documentation": "Searches IP resources in a given RegistryBook."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRegistryBooksViewEnum": {
      "type": "enum",
      "members": {
        "REGISTRY_BOOK_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_BOOK_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "AGGREGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, for example `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to filter the results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "view": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRegistryBooksViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The view of the RegistryBook to retrieve.",
            "smithy.api#httpQuery": "view"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results.",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListRegistryBooksResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/registryBooks"
        },
        "smithy.api#documentation": "Lists RegistryBooks in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the RegistryBook.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the RegistryBook resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RegistryBook",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single RegistryBook."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRegistryBooksViewEnum": {
      "type": "enum",
      "members": {
        "REGISTRY_BOOK_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTRY_BOOK_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "AGGREGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the RegistryBook to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "view": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRegistryBooksViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The view of the RegistryBook to retrieve.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#RegistryBook"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single RegistryBook."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, all associated resources will be deleted.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the RegistryBook to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Deletes a single RegistryBook."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRegistryBooksRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name where the RegistryBook will be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "registryBookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the RegistryBook, which will become the final segment of the resource name.",
            "smithy.api#httpQuery": "registryBookId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#RegistryBook",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRegistryBooks": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRegistryBooksRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/registryBooks"
        },
        "smithy.api#documentation": "Creates a new RegistryBook in a given project and location."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRealmsRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, all associated resources will be deleted.",
            "smithy.api#httpQuery": "force"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Realm to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRealms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsRealmsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Realm."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRealmsRequest": {
      "type": "structure",
      "members": {
        "realmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the Realm, which will become the final segment of the resource name.",
            "smithy.api#httpQuery": "realmId"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name where the Realm will be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Realm",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRealms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CreateProjectsLocationsRealmsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/realms"
        },
        "smithy.api#documentation": "Creates a new Realm in a given project and location."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRealmsViewEnum": {
      "type": "enum",
      "members": {
        "REALM_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALM_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "AGGREGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRealmsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, for example `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter expression to filter the results.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "view": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRealmsViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The view of the Realm to retrieve.",
            "smithy.api#httpQuery": "view"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRealms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsRealmsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListRealmsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/realms"
        },
        "smithy.api#documentation": "Lists Realms in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRealmsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the Realm.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request.",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Realm resource by the update.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Realm",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRealms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#PatchProjectsLocationsRealmsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single Realm."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRealmsViewEnum": {
      "type": "enum",
      "members": {
        "REALM_VIEW_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REALM_VIEW_UNSPECIFIED"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "AGGREGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRealmsRequest": {
      "type": "structure",
      "members": {
        "view": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRealmsViewEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The view of the Realm to retrieve.",
            "smithy.api#httpQuery": "view"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the Realm to retrieve.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRealms": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsRealmsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Realm"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Realm."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation's parent resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list filter.",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard list page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The standard list page size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "returnPartialSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
            "smithy.api#httpQuery": "returnPartialSuccess"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#ListOperationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/operations"
        },
        "smithy.api#documentation": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be deleted.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#DeleteProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#GetProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CancelProjectsLocationsOperationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation resource to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#CancelOperationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CancelProjectsLocationsOperations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CancelProjectsLocationsOperationsRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+name}:cancel"
        },
        "smithy.api#documentation": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CheckAvailabilityProjectsLocationsIpamAdminScopesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name, for example `projects/*/locations/*`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.gcp.cloudnumberregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The administrative scopes to check for availability.",
            "smithy.api#httpQuery": "scopes"
          }
        }
      }
    },
    "com.gcp.cloudnumberregistry_v1alpha#CheckAvailabilityProjectsLocationsIpamAdminScopes": {
      "type": "operation",
      "input": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CheckAvailabilityProjectsLocationsIpamAdminScopesRequest"
      },
      "output": {
        "target": "com.gcp.cloudnumberregistry_v1alpha#CheckAvailabilityIpamAdminScopesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.cloudnumberregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
[...]
